[2016-04-29 01:42] zhaohng opened #6066 "Is the default value of "server.log.dumpClientExceptionLevel" correctly?"
On the Server Management website,the default value of "server.log.dumpClientExceptionLevel" is "rO0ABXNyABdqYXZhLnV0aWwubG9nZ2luZy5MZXZlbI6IcRNRczaSAgADSQAFdmFsdWVMAARuYW1ldAASTGphdmEvbGFuZy9TdHJpbmc7TAAScmVzb3VyY2VCdW5kbGVOYW1lcQB+AAF4cAAAAfR0AARGSU5FdAAic3VuLnV0aWwubG9nZ2luZy5yZXNvdXJjZXMubG9nZ2luZw==".
I truely don't know what does this mean.
The descripiton says "Logs client exceptions. Use an

[2016-04-29 05:32] PhantomYdn opened #6067 "Proposal to add getHookPosition() to ORecordHook"
There is mix of approaches in ORecordHook:
From one side ORecordHook provides "distribution execution mode" by itself, but from other side hook position should be specified out side.

Proposal: add getHookPosition() method to ORecordHook to allow to specify default hook position for instances of this class.

If you agree with proposal: I can do PR.

[2016-04-29 09:59] Asimovtech opened #6068 "Using indices effectively Through Tinkerpop/Gremlin"
Our small database(approx 92 MB) is starting to run slower.

I'm currently using the Graph API to run queries on OrientDB. I have a few questions about indexing.
1. Do I have to setup the gremlin index just once? Or do I have to do it each time I run a query.
2. Here's how I run a query, will this method use the gremlin indices effectively?

   public <T> T query(String query, HashMap<String, Obje

[2016-04-29 10:03] #5920 closed

[2016-04-29 10:03] laa commented on #5965
Closed because of no reply

[2016-04-29 10:03] #5965 closed

[2016-04-29 10:09] lvca commented on #6068
Can you post here your slow query?

[2016-04-29 10:28] Asimovtech commented on #6068
I haven't implemented indexing yet, since I'm not sure what is the right approach, and I"m a little scared that if I do it wrong, I'll lose data. But here is one of the queries we run.

Here's the one that runs slow: `g.V(1).out('UserActivity').order({it.b.getProperty('date') <=> it.a.getProperty('date')}).filter({it.date < start})"`

I assume this is because of the number of edges since its the m

[2016-04-29 13:02] maggiolo00 opened #6069 "Upgrade Lucene to 5.5.0"
On 2.2.x series we can at least upgrade to 5.5.x because Lucene 6.x requires Java8

[2016-04-29 13:27] francoisprunier commented on #3944
Hi @luigidellaquila,

Could you let us know where you are on this ? Any tests running ? Bugs found ?

Thanks
Francois

[2016-04-29 13:30] lvca commented on #6068
Look at: http://orientdb.com/docs/last/Performance-Tuning-Graph.html#use-indexes-to-lookup-vertices-by-an-id. However, if you use OrientDB SQL you can have far better performance.

[2016-04-29 13:40] lvca commented on #3944
Unfortunately there is no Clojure skill in OrientDB. It would be great if somebody can help us on doing it. Any volunteer?

[2016-04-29 14:09] maggiolo00 commented on #6004
when you are done with the connection
do you close the db and the server?

[2016-04-29 18:32] SatishAMP opened #6071 "JSON Request to Insert record - Data type issue"
HI , I have Vertex with 2 fields , 1 as date type and 1 as double.
I am unable to update or rather create a new record to this vertex  using json request.
http://localhost:2480/command/demo/sql/INSERT INTO FundTransfer CONTENT {"FundTrnsfrAmt": "2000.90", "TrnsfrDate": "20-04-2016"}

but it created the FundTrnsfrAmt and TrnsfrDate as string values. I am not able to create them as double and dateti

[2016-04-30 04:42] schernolyas commented on #5911
HI @luigidellaquila  and @robfrank !

When the fix will at  branch "2.2"? The bug is reproduced :-(

[2016-04-30 11:22] nathanmbrown commented on #3823
Fixed by PR https://github.com/orientechnologies/orientdb/pull/6072

[2016-04-30 11:55] janjilek commented on #6004
I close only db. Server is singleton instance.

[2016-04-30 18:04] gerdhub commented on #3462
+1 for fix of this, this is also related to #5945.

[2016-04-30 22:58] seeden commented on #5895
@luigidellaquila I have tried latest 2.1.16 and this issue is still there.

[2016-05-01 07:20] schernolyas opened #6073 "JSON escaping not supported"
The issue linked with [https://github.com/orientechnologies/orientdb/issues/5911](url). The bug occurs in version 2.2.0-beta2.

IInsert query not parsed.
insert into Book
mark content {"data":"eLuLeqkmovJI1a7WR2OTvVAbLowD\/N4WEHJ6\/2UMmTQNeNSeSE87fZvMvfFStfLYpA0PFGmZ\/m+QmyJ4PPdVm63qoSAW+\/cY1DvmrJ2H4fYhkjasKzUmcOuxhiPUpzYfZXXfAGk0AgqX3fOZ8XkBeoe
KyhFpJDojxcMtG9BO8WjGgpDizD0WgqkSY7hoQZ+PV2Vig7fDn3

[2016-05-01 20:23] seriouslyEnter opened #6074 "Request for SQL command to delete all edges of class no matter the connection"
Beceause I want to drop an edge class I am looking for a way to delete all edges of a class, no matter the connection.

Since this step has to be taken by everyone who wants to drop an edge class to keep data consistency, I expect there is/should be a way to do this within one query.

[2016-05-02 07:09] luigidellaquila commented on #6062
Hi @apurvagupta

In current stable, intersect() function returns an iterator, that does not have a size() method.

To make it work you can just change the query using
[code]

Thanks

Luigi

[2016-05-02 07:09] #6062 closed

[2016-05-02 07:25] luigidellaquila commented on #6071
Hi @SatishAMP

A couple of points here:
- remember to send the request in POST, otherwise it won't succeed
- double values are correctly stored if you just remove the quotes: `{"FundTrnsfrAmt": 2000.90, `
- for the date field, you have to define the property in the schema and then pass the value as a string, in the correct date format (the default is yyyy-MM-dd, but you can change it in the db con

[2016-05-02 07:31] luigidellaquila commented on #5911
Hi @schernolyas

I tried it in develop branch and I can confirm that it's fixed. Next 2.2 RC1 will be released in a few days (a few hours if everything is OK).

Thanks

Luigi

[2016-05-02 07:42] luigidellaquila commented on #5895
Hi @seeden

I just tried latest 2.1.16 and it seems to work fine... could you please provide a full test case or script to reproduce it?

Thanks

Luigi

[2016-05-02 07:52] schernolyas commented on #5911
Hi @luigidellaquila !
Thank You very much!
Let me know then You publish the version to maven repository :-)

[2016-05-02 07:56] luigidellaquila commented on #6073
Hi @schernolyas

This issue is already fixed in develop branch, the fix will be released with next 2.2 RC1 (in a very few days hopefully)

Thanks

Luigi

[2016-05-02 07:56] #6073 closed

[2016-05-02 08:02] luigidellaquila commented on #6074
Hi @seriouslyEnter

I don't know if I got it right, but did you try this?

[code]

Thanks

Luigi

[2016-05-02 10:11] AlessandroRota opened #6075 "Error on creating a class"
From Studio with version 2.2-beta2 from IDE when I create a new class it can't extend no class.

![schema](https://cloud.githubusercontent.com/assets/12543436/14952212/e7eadee8-105e-11e6-8fe2-4a45083a2d9a.png)

[2016-05-02 12:01] apurvagupta commented on #6062
Thanks @luigidellaquila :)

[2016-05-02 12:50] #6074 closed

[2016-05-02 12:52] #6060 closed

[2016-05-02 13:40] #6053 closed

[2016-05-02 13:41] luigidellaquila commented on #6053
Hi @valenpo

There is a `ODatabaseDocumentTx.freeze()` and a `ODatabaseDocumentTx.release()` ;-)

Thanks

Luigi

[2016-05-02 16:16] mamoit opened #6076 "Distributed database breaks down after removing node"
Running `2.2-beta`
After I remove a node (kill it) from a distributed setup that is using Hazelcast in AWS, the distributed setup (trying not to use the word cluster here) still tries to communicate with the removed node which still appears in the `clusters>*>servers` of that database.
Is there a way to impose a timeout to purge a node after it has been unresponsive for a predetermined amount of t

[2016-05-03 05:57] #5923 closed

[2016-05-03 07:10] luigidellaquila commented on #6076
Hi @mamoit

I think it's a bug in the first beta, could you please try the beta2 or even better latest snapshot from here?

https://oss.sonatype.org/content/repositories/snapshots/com/orientechnologies/orientdb-community/2.2.0-SNAPSHOT/

Thanks

Luigi

[2016-05-03 09:06] RajathiNatarajan commented on #5841
com.orientechnologies.orient.core.exception.OStorageException: Error on executing command: sql.SELECT EXPAND($c) LET $a = (SELECT FROM E), $b = (SELECT FROM V), $c = UNIONALL( $a, $b )
2016-03-07T16:37:20.781+0530 STDIO [ERROR] at com.orientechnologies.orient.client.remote.OStorageRemote.handleException(OStorageRemote.java:1507)
2016-03-07T16:37:20.781+0530 STDIO [ERROR] at com.orientechnologies.o

[2016-05-03 09:09] mamoit commented on #6076
Giving `20160502` a spin.

[2016-05-03 11:36] waltron commented on #5841
I've hit this on 2.1.7 also, for what it's worth, and then things went south.  We restarted.

We use the same user, connecting from 3 running instances to the one db, using remote: binary connection.  pool size max = 50, min = 5.

The environment is relatively concurrent and db has upwards of 500,000 nodes.

[code]

[2016-05-03 13:43] tglman opened #6079 "Insert with UUID funcition use java serialization"
in case you of an insert like `insert into V set id = UUID()` the  result of UUID is a object that is serialized using java serialization instead of a string.

[2016-05-03 14:29] luigidellaquila commented on #5785
Hi @Daniel-Valliere

Thank you very much, I could reproduce the issue with current snapshot.

We are working to a fix, I'll give you a feedback asap

Thanks

Luigi

[2016-05-03 16:55] #5785 closed

[2016-05-03 16:55] tglman commented on #5785
hi @Daniel-Valliere,

Just fixed in develop, thank you for reporting, with so precise test case.

[2016-05-03 17:00] maggiolo00 commented on #6051
hi @imainetti

Hi @imainetti

It is not a bug. ${command} is available if you do command auditing.
Not class auditing

[2016-05-03 19:45] kerner1000 opened #6080 "Changing some documents requires application restart"
I have difficulties keeping my table and the database in sync. After modifying some documents, my GUI does not display the latest changes.

Also a
database.reload();
database.close();
database.open();

does not help.

Only after restarting the whole application, I can see the changes.
Is there anything going on behind the scenes when shutting down the JVM? How can I ensure I query for the latest v

[2016-05-03 20:03] mrboxie commented on #5976
Close for now as we cannot get a date to try on customer site

[2016-05-03 20:03] #5976 closed

[2016-05-03 20:29] lvca commented on #6058
@dgilling I see you called your global cfg NETWORK_BINARY_DNS_FALLBACK_SERVERS_ENABLED, but that piece of code is used with distributed cfg when the list of server is taken, so in case of crash, the client has the list of servers in the cluster. Why disabling it?

[2016-05-03 20:30] lvca commented on #5923
@dgilling did you close this because is not reproducible anymore?

[2016-05-03 20:33] mamoit commented on #6076
After dropping one of the nodes, the cluster recovers correctly in `20160502`'s snapshot.
Thank you.

[2016-05-03 20:34] #6076 closed

[2016-05-03 20:48] dgilling commented on #5923
Yes Not Reproducible.

Derric

[2016-05-03 20:56] lvca commented on #5923
Thanks.

[2016-05-03 21:02] dgilling commented on #6058
My servers are on a network that is isolated/not directly reachable by the network that client lib is running on without going through a load balancer and some ACL checks.
Since I have my own external L4 Load Balancer, I don’t want to depend on any client side or DNS load balancing outside of what I set up.

Let’s say this Load balancer has an IP of 10.0.0.3

When OrientDb loads this “list of serv

[2016-05-03 21:23] mrboxie opened #6081 "Failed to open database - The record with id '#0:4' not found"
Hi,
  We have encountered issue reopening database after a server(with orientdb in embedded mode) crash. Using console.sh had the same exception. The DB looks corrupted. We just recently upgraded from 2.0.9 to 2.1.16. With 2.0.9, we did not encounter similar issue or at least not in house. So is this new to 2.1.x? Is the DB recoverable? Thank you for any advice you have. We have the database if yo

[2016-05-03 21:53] laa commented on #6081
Hi
@mrboxie how did you upgrade to 2.1.16 version.
Did you replace libraries or you make export to JSON in ver 2.0.9 and then import from JSON in version 2.1.16 ?

[2016-05-04 01:00] mrboxie commented on #6081
For server running embedded 2.1.16, the databases are all created new. There is no data from 2.0.9.

Thanks,
-Bo

[2016-05-04 06:38] luigidellaquila commented on #6080
Hi @kerner1000

Could you please share some additional info about your application? How are you using OrientDB? Embedded or remote?

A little hint (but it's definitely a guess), try a `db.getLocalCache().clear()`

Thanks

Luigi

[2016-05-04 06:39] luigidellaquila commented on #6076
Excellent, thanks for the feedback!

Luigi

[2016-05-04 07:06] laa commented on #6081
@mrboxie I see. Could you send me database ?

[2016-05-04 07:25] besil commented on #5476
Still no updates?
I'm experiencing the same bug following documentation code (OrientDB version 2.1.16):

    OrientGraphNoTx graph = new OrientGraphFactory("memory:prova", "root", "root").getNoTx();

    OrientVertexType cardSharing = graph.createVertexType("Place");
    cardSharing.createProperty("latitude", OType.DOUBLE);
    cardSharing.createProperty("longitude", OType.DOUBLE);
    cardSharing

[2016-05-04 07:34] maggiolo00 commented on #5476
I see you are working in memory.

Did you include orientdb-lucene in your dependencies?

[2016-05-04 07:53] besil commented on #5476
No, I didn't.
Adding the dependency solved the issue.

Thank you

[2016-05-04 08:05] #5476 closed

[2016-05-04 08:05] luigidellaquila commented on #5476
Great, thanks!

I'm closing the issue then

Luigi

[2016-05-04 08:44] mamoit opened #6082 "HTTP GET distributed/database/<db> 405"
On snapshot `20160502` if I try to curl the endpoint described [here](http://orientdb.com/docs/2.2/Distributed-Runtime.html#database-configuration), it returns a `405`.
[code]

[2016-05-04 08:50] luigidellaquila commented on #6082
Hi @mamoit

That's available only in EE, I think the problem is there

Thanks

Luigi

[2016-05-04 08:54] mamoit commented on #6082
I should have read the `NOTE: available only in Enteprise Edition` at the begin of the page.
Thanks and sorry for spamming with this RTFM question.

[2016-05-04 08:54] #6082 closed

[2016-05-04 09:04] luigidellaquila commented on #6082
No problem ;-)
Feel free to ask if you need more help

Luigi

[2016-05-04 09:14] mamoit commented on #6082
Will do :smile:

[2016-05-04 09:45] kerner1000 commented on #6080
Hi Luigi
`db.getLocalCache().clear()` worked! Thanks so much! I already wasted days on this topic.
But I am wondering what is 'best practices' do deal with this caching? I doubt I am the only one running into unexpected behavior here.

About our setup:

We establish a db connection basically at application startup:

`ODatabaseDocumentTx db = OPartitionedDatabasePool.acquire()`

and shut it down on

[2016-05-04 10:13] luigidellaquila commented on #6080
Hi Alex

OrientDB multi-threading can be tricky, because ODatabaseDocumentTx is not thread safe. What we recommend is that every thread opens and uses its own db connection, this should be safe in general.

About the save operations, if you are working in remote I suggest you to do small transactions instead, this way you will have network communication only at commit() and not at every save(), wi

[2016-05-04 10:34] tglman commented on #6080
Hi,

Can i add something on top of this, do an 'OPartitionedDatabasePool.acquire()' at the start of the application is not really the way orientdb was thought, the correct way to use it creating the pool at startup, and acquiring/releasing the ODatabaseDocument on group of operations/methods, with the standard pattern:
[code]
or more concise java7 syntax.

[code]

this follow the same pattern of m

[2016-05-04 11:03] luigidellaquila commented on #5993
Hi guys,

I just pushed a fix to 2.1.x branch, the fix will be in next 2.1.17

This fix resolves the problems with LIMIT, EXIT, QUIT.

LIMIT 0 was never supported, maybe it will be in the future, but I cannot guarantee it.

Property names are case sensitive in OrientDB, @Severogor this should explain your case

Thanks

Luigi

[2016-05-04 11:14] #5993 closed

[2016-05-04 12:36] nsitanurag opened #6084 "ORecordDuplicateException for non-duplicate record"
I am using latest version of orientdb i.e. 2.1.16
and I have a index at phoneNumber
While inserting (massive inserts) in embedded mode at document level the below exception comes.

Phone number to be insert is `*141*10` and it is found duplicate with phone number `*141*10#` present at
RID#24:117 and following exception comes

com.orientechnologies.orient.core.storage.ORecordDuplicatedException: Ca

[2016-05-04 12:53] laa commented on #6084
Hi @nsitanurag ,
Why do you think that you do not have duplicated records ?

[2016-05-04 14:29] dfelski opened #6085 "Strange behavior after OrientGraphNoTx.dropVertexType()"
We are facing a strange behavior in a migration scenario. We have some existing data where vertices have to be migrate from one type to another.

Basically there are vertex types A and B which are connected with an edge. During the migration a new vertex type is created (C) and for every vertex of type B a new vertex of type C is created with the same relations. At the end the old vertex type B is

[2016-05-04 15:42] mrboxie commented on #6081
Sent to your gmail as db_open_issue_case_6081.tar.gz. Thank you so much.

-Bo

[2016-05-04 15:45] laa commented on #6081
Cool, get it. Will start to work on it from Tuesday.

[2016-05-04 15:46] AlessandroRota opened #6086 "Problems with the method getFunction."
I'm using the following instructions on version 2.1.0 (client and server) or previous versions

[code]

I get the code of the function sum, while if I use the same instructions on version 2.1.1 ( client and server) or higher , I get a NullPointerException and if I use

`db.getMetadata().getFunctionLibrary().getFunctionNames();`

I get an empty list.

[2016-05-04 16:57] tglman commented on #6066
Hi @zhaohng,

Yes the value is correct, is displayed like that because is storead in the configuration as a java object, but yes we can change it as a string value so will be more clear what it means.

[2016-05-04 17:31] nsitanurag commented on #6084
Because one number is `*141*10` which is found to be duplicate with `*141*10#` which should not be the case since second number contains `#` at the end.

[2016-05-04 17:42] #6066 closed

[2016-05-04 17:42] tglman commented on #6066
made the change to the configuration:https://github.com/orientechnologies/orientdb/commit/490e0da1a36d99cafa83dff1a4c889690b22e2ed  closing

[2016-05-04 18:35] obi1kenobi commented on #5969
Thanks for the help -- I ended up switching to a non-FULLTEXT index.

I think that the EXPLAIN SELECT bug is worth fixing though, because it claims an index was used when that's not the case.

[2016-05-04 18:48] obi1kenobi opened #6087 "Index errors when using the IN operator with embedded collection types"
Setup, using OrientDB 2.1.16:
[code]

[Per the docs](http://orientdb.com/docs/last/SQL-Where.html#conditional-operators), the following two queries should be identical and should hit the index:
[code]

The first query hits the index (as evidenced by `EXPLAIN`) and works as expected. However, the second query does not hit the index (`EXPLAIN` says 3 records were read, and `involvedIndexes` is null)

[2016-05-04 20:24] imainetti commented on #6051
thank you for the clarification. I'm closing this.

[2016-05-04 20:24] #6051 closed

[2016-05-04 20:37] Severogor commented on #5993
Hello,

Thank you for your fix very much!

<https://github.com/Severogor> this should explain your case

If so, why does the ALTER block alter properties case-insensitive?

For example,
orientdb {db=data}> alter property FOLLOWS.REVISION NOTNULL True
Property updated successfully

orientdb {db=data}> alter property FOLLOWS.Revision NOTNULL False
Property updated successfully

orientdb {db=data}> A

[2016-05-05 06:19] laa commented on #6084
@nsitanurag I got the case, is it possible to send us database for this issue ?

[2016-05-05 06:19] laa commented on #6003
Close issue as already fixed.

[2016-05-05 06:19] #6003 closed

[2016-05-05 06:36] nsitanurag commented on #6084
Sorry, I had flushed all data and it's not possible. You can make an index on a String property and try inserting *141*10# first and then *141*10 as second record in it.

[2016-05-05 07:21] nsitanurag commented on #6084
Same problem was observed with String containing `;` (semi-colon) at the end. e.g. `*141*10;`

[2016-05-05 07:37] luigidellaquila commented on #6087
Hi @obi1kenobi

It seems to be a critical one, I'll take a look at that asap

Thanks

Luigi

[2016-05-05 07:39] luigidellaquila commented on #5993
That's definitely a bug for me, I'll check it

Thanks

Luigi

[2016-05-05 10:23] mamoit commented on #3126
:+1: the server guest with the listing permissions on the studio really creeps me out.

[2016-05-05 13:11] gufi12 commented on #4996
I use 2.1.11 but

select from MyClass where  [someProp1, someProp2] LUCENE "searchtext\\!"
select $a let $a =(select from MyClass where  [someProp1, someProp2] LUCENE "searchtext\\!")

the first one run well, but the second one throw an exception.

[2016-05-05 13:23] luigidellaquila commented on #4996
Hi @gufi12

Please try this:

[code]

in plain SQL queries you have to quote the back-slash, otherwise it tries to just quote the next character (the `!` in this case)

Thanks

Luigi

[2016-05-05 13:34] gufi12 commented on #4996
Hi @luigidellaquila sorry I use exactly what you write just misset the second  \ in the previous comment.
[code]
so they are my query-s. The first run without problem but the second one throw an exception, but
[code]
run without problem as well. So it behaves different if i use inside a let.

[2016-05-05 14:01] luigidellaquila commented on #4996
uhm... ok, I'll take a look at that

Thanks

Luigi

[2016-05-05 14:38] seriouslyEnter commented on #6074
I could not reproduce my Error Message.
The Command does Work.
DELETE EDGE MyEdgeClass

But
I did try it in console and browser before, with no success and Error Message.
By now I have changed from version 2.1.13 to 2.1.16 with export/import.
And everything works. Maybe it was a symptom of another problem?!
But all good now.

[2016-05-05 14:49] #5871 closed

[2016-05-05 14:49] #5873 closed

[2016-05-05 14:53] ddenenberg71 opened #6088 "OrientDB ALTER PROPERTY affects super class and all other descendant classes"
Originally posted as a question here: http://stackoverflow.com/questions/37050351/orientdb-alter-property-affects-super-class-and-all-other-descendant-classes

I was experimenting with inheritance with 2.1.16 and noticed when ALTER PROPERTY is used on a child class to alter an inherited property, the schema is altered for the superclass and all descendants of that superclass.  In the following exa

[2016-05-05 15:40] maggiolo00 commented on #6086
hi @AlessandroRota

what happen if you do

[code]

?

[2016-05-05 16:04] jamieb22 opened #6089 "Invalid value of TX counter Orient DB 2.1.15"
2016-05-05 08:49:54 C.c.s.a.du [DEBUG] failed to touch blob:Invalid value of TX counter
Caused by: com.orientechnologies.orient.core.exception.OStorageException: Invalid value of TX counter
	at com.orientechnologies.orient.core.tx.OTransactionOptimistic.rollback(OTransactionOptimistic.java:175) ~[orientdb-core-2.1.15.jar:2.1.15]
	at com.orientechnologies.orient.core.db.document.ODatabaseDocumentTx

[2016-05-05 16:05] jamieb22 opened #6090 "Frozen threads found (potential deadlock) Orient 2.1.15"
Orient DB 2.1.15 running on Java 8 _66 Not sure if this is a Yourkit false positive, however, it is reporting a frozen thread.

Frozen threads found (potential deadlock)

It seems that the following threads have not changed their stack for more than 10 seconds.
These threads are possibly (but not necessarily!) in a deadlock or hung.

message threading-2 <--- Frozen for at least 2d 0h 51m 24 sec
su

[2016-05-05 16:06] maggiolo00 commented on #6089
hi @jamieb22

do you have a test case to reproduce this?

[2016-05-05 16:15] jamieb22 commented on #6089
This issue is occurring in production. I have seen the same error in a
number of environments, and also noticed that someone else submitted a
bug with the same issue, which was prematurely closed. This issue
definitely exists in Orient DB. I'll be happy to send you a production
log file, which illustrates the seriousness of the issue. Send me your
email address and I'll send it directly to you.

O

[2016-05-05 16:17] maggiolo00 commented on #6089
hi @jamieb22

you can send it to e.risa@orientdb.com

[2016-05-05 16:17] maggiolo00 commented on #6089
Are you working in plocal or remote?

[2016-05-05 16:20] jamieb22 commented on #6089
plocal. Very straight forward setup. I've seen this error in a number of
environments. Something is seriously not right.

On 2016/05/05 6:17 PM, Enrico Risa wrote:

[2016-05-05 16:24] jamieb22 commented on #6089
I'd have to add that we are seeing corruption in almost all environments
where orient db is in use.

On 2016/05/05 6:17 PM, Enrico Risa wrote:

[2016-05-05 17:38] laa commented on #6089
@jamieb22 that is already fixed by critical hotfix in 2.1.16 version. https://github.com/orientechnologies/orientdb/issues/5920

[2016-05-05 17:38] #6089 closed

[2016-05-05 17:42] laa commented on #6090
Hi @jamieb22 ,
Do you have full thread dump ? What is your memory consumption ? Seems like you read data from memory swapped to disk.

[2016-05-05 17:42] laa commented on #6089
I have sent this update to Valentin, seems like you missed it.

[2016-05-05 17:45] laa commented on #6089
@jamieb22 sorry wrong issue , this one https://github.com/orientechnologies/orientdb/issues/5907 . In high load environment, NPE may be thrown. That may lead to such situation.

[2016-05-05 17:54] jamieb22 commented on #6089
Andrey

Thank you. Why didn't your unit tests pick this issue up? All these
critical issues affect the usefulness of Orient DB. If you look at H2
database, they are in beta for more than 2 years!

On 2016/05/05 7:45 PM, Andrey Lomakin wrote:

[2016-05-06 05:33] PhantomYdn opened #6092 "OClassTrigger doesn't take into account multiple superclasses"
OrientDB supports multi super-classes.
But code of OClassTrigger was not changed to support that. Snippet:

[code]

Btw, it will be helpfull to have some utility class for caching results of culculations till next schema update.
For example OClassTrigger is trying to find proper field on every call instead of caching previously obtained results obtained from schema in a cache.

[2016-05-06 05:37] ray3888 opened #6093 "insert fail on distributed mode"
After running stably for 3 months, suddenly there were a lot of following exceptions, seems node1 cannot accept insert operation, but update/query is ok. and insert is ok on node2.
Now we disabled distributed mode.
Thanks for any idea.

version: 2.1.7
"executionMode": "synchronous"
data size:  vert 2500k, edge 2500k

	at com.orientechnologies.orient.server.hazelcast.OHazelcastDistributedDatabase.s

[2016-05-06 06:01] laa commented on #5521
Did you have a chance to try it on 2.2 rc1 ?

[2016-05-06 06:03] laa commented on #5352
@PhantomYdn Did you have a chance to try it on 2.2 rc1 ?

[2016-05-06 06:03] laa commented on #4807
@sepetukas Did you have a chance to try it on 2.2 rc1 ?

[2016-05-06 07:47] ray3888 commented on #6093
first we tried to restart the db, but the exception still appear several minutes after restart. then restarted it as standalone server, and it disappeared.

[2016-05-06 08:54] laa commented on #6089
@jamieb22 to make this happens we need to run unit test for several weeks :-) and still will not be sure about result.

[2016-05-06 08:55] mamoit commented on #4789
Sorry for reviving this, but I'm trying to migrate a db from a single node to a cluster (`2.1.16`), after the 1st node comes online with a copy of the database, it distributes it to the other nodes, but then they gets stuck `STARTING` and neither the studio nor the http api ever respond on the non-original nodes.
Any clues on what it may be? I can't seem to find any documentation on how to move fr

[2016-05-06 09:35] ray3888 commented on #6093
logs before exception:

2016-05-01 20:09:03:219 INFO  [10.139.38.191]:2434 [orientdb] [3.5.3] processors=2, physical.memory.total=3.7G, physical.memory.free=106.2M, swap.space.total=7.8G, swap.space.free=7.8G, heap.memory.used=1.5G, heap.memory.free=426.2M, heap.memory.total=1.9G, heap.memory.max=1.9G, heap.memory.used/total=78.54%, heap.memory.used/max=78.54%, minor.gc.count=72210, minor.gc.time=

[2016-05-06 10:15] nsitanurag opened #6094 "Rebuild index in embedded mode stuck in loop"
[code]

This was the command which was given, however index keep rebuilding again and again and this is the third time it is in progress despite command was given two times only.

2016-05-06 06:27:19:474 INFO  {db=hola} - Rebuilding index hola.linkIndex (estimated 67,251,242 items)... [OIndexRebuildOutputListener]May 06, 2016 6:27:19 AM com.orientechnologies.common.log.OLogManager log
INFO: {db=ho

[2016-05-06 10:18] apurvagupta opened #6095 "ODB client takes time to connect after loosing the connection once."
Hi,

I am using orientdb version 2.1.16 with cluster setup of 3 nodes. I was trying some failover scenarios.
And observed that if once the whole cluster(All 3 nodes) goes down after that if your start server again, Client take lot of time to connect again without restarting client. If I restart client it connect instantly.

Is it a expected behavior?

[2016-05-06 10:23] laa commented on #6094
@nsitanurag Could you make following steps:

1. Close database and copy whole directory in a separate folder.
2. Open it and try to reproduce the issue.
3. If that is reproducible send me a copy of the database.
4. Even if the issue is gone put a word in this ticket about a result.

[2016-05-06 10:25] nsitanurag commented on #6094
Closing the database while index rebuild is in loop may corrupt it or not?

[2016-05-06 10:40] laa commented on #6094
@nsitanurag so it is still running, right ? Do you have YourKit to profile it ?

[2016-05-06 10:41] nsitanurag commented on #6094
yeah, it is still running. Can you point me to a tutorial link for profiling?

[2016-05-06 11:04] laa commented on #6094
You need it in local mode (you need agent to run in remote mode). Is it possible to set it on the server ?

[2016-05-06 11:24] nsitanurag commented on #6094
Not possible right now as we are doing one time migration of data in embedded mode.

[2016-05-06 11:27] laa commented on #6094
@nsitanurag then we do not have a choice but stop it and do not touch it. Please send me DB  as is without opening at. It is very important do not open it. We will look at this issue next week. So workaround for you:

1. Stop database.
2. Open the copy of it (please send me an unmodified copy of the database) and wait till restore process will be done.
3. Drop problematic index and recreate one.

[2016-05-06 11:40] kerner1000 commented on #6080
Hi all,

thanks for your explanations. Can I find somewhere documentation about database caching? (´db.getLocalCache()`)
When should I generally clear the cache and when not? ;)
Many thanks!

[2016-05-06 11:41] mamoit commented on #4782
In `2.1.16` I'm getting an import speed of always less than ~300 records/sec, in a dual core machine with 15GB of RAM.
This is definitely an issue.

[2016-05-06 11:57] nsitanurag commented on #6094
Sorry, I can not share the copy of database since it contains sensitive data. Thanks for your help.  However, steps to reproduce are:-
1. you can create an index on link(edge) having some records.
create index linkIndex on contact_link (out, in) unique;
2. try rebuilding index in embedded mode by giving incorrect command as mentioned above:-
rebuild index contact_link.linkIndex;
3. Then fire the c

[2016-05-06 12:06] laa commented on #6094
@nsitanurag well, thank you I think that is enough information.

[2016-05-06 12:33] eswaras opened #6096 "SQLQuery Issue"
HI Team,
when I am trying to execute a wrong Query .It given exception but didn't rollback. please check once .
String query = "INSERT INTO SuperMarket (Item,Code,Quantity) VALUES('banana',12.33,50)";
graph.command(new OCommandSQL(query).execute());
but actual  query is graph.command(new OCommandSQL(query)).execute();
for more clarity please look into Google groups  POST  is "Insertion Exception "

[2016-05-06 12:39] AlessandroRota commented on #6086
Yes, it works.
Thanks.

[2016-05-06 12:39] #6086 closed

[2016-05-06 13:09] lvca commented on #4782
Are you using remote? I suggest you to use plocal if you can.

[2016-05-06 13:40] ray3888 commented on #6093
I noticed that for insert, normal responses of send2Nodes should have same rid for all nodes, right?

but in our case have different  rid which causes the exception. (all insertion failed after that point)

what causes the inconsistence, thanks for any idea.

[2016-05-06 13:53] robfrank commented on #5972
Hi, JTA isn't implemented right now. I took a look around to other noSQL db with a JDBC driver and I didn't find a driver with JTA implemented, but I can be wrong.
Is it mandatory for your project?
I'm asking because it seems a big task to me, and I really don't know when I'll have time to implement it. A initial PR will be wonderful.

[2016-05-06 14:14] lvca commented on #6093
This exception:
[code]

Is the cause. We had an issue on indexes, so I guess you have 2 records for the same key. Could you please resolve the duplication and upgrade to last 2.1.x? @tglman is this fix in v2.1.x?

[2016-05-06 14:21] tglman commented on #6093
Hi,

Yes all the fix based on cleanup on exception are in 2.1.x.

Regards

[2016-05-06 14:24] ray3888 commented on #6093
thanks for quick reply, currently we use unique index to avoid duplication, what do you mean by resolve the duplication? do we need to check duplication before insert, and delete existing duplication manually?

thanks.

[2016-05-06 14:33] tglman commented on #6093
Hi @ray3888,

Well this is actually what does oriendb in case of notTx usage, the point is that some of this beavior was fixed in a hotfix more recent of 2.1.7 so we are suggesting to update to the last hotfix(currently 2.1.16).

Regards

[2016-05-06 14:42] ray3888 commented on #6093
thanks for the advice.  we will upgrade soon.

Regards

[2016-05-06 15:32] schernolyas commented on #5972
HI @robfrank

It is not mandatory.  I implemented local transaction manager for Hibernate OGM  for OrientDB. Other developers did same for other NoSQL systems that Hibernate OGM supports.

You can see sources of JDBC drivers for PostgreSQL or MySQL as some example. In other words, JDBC driver must implement javax.transaction.xa.XAResource.

About PR ....I can to try but ... my previus PR is hangin

[2016-05-06 17:42] rladha opened #6098 "OrientDB – Graph Visualization related questions?"
OrientDB Version: 2.2.0-beta2

Hello Everyone,

Use case we are working on, is giving user access to Graph Visualization and hide the complexity of the query via Javascript function. Ex:

SQL: SELECT FROM COUNTRY WHERE NAME=’CANADA’
Function: SELECT findCountry(‘CANADA’)
Now, users are asking questions if there is a way to adjust the look n feel of the graph visualization.

I am looking for your s

[2016-05-07 04:48] laa opened #6099 "OReadersWriterSpinLock - Not able to make any database operation"

[2016-05-07 06:43] sepetukas commented on #4807
Sorry but we moved away from OrientDb
On 6 May 2016 09:04, "Andrey Lomakin" <notifications@github.com> wrote:

[2016-05-07 07:34] #4807 closed

[2016-05-07 07:48] luigidellaquila commented on #6098
Hi @rladha

Unfortunately the answer is no for all the questions, Studio Graph visualization is a very basic tool and provides only simple interactions. Anyway, the project is FOSS (source here https://github.com/orientechnologies/orientdb-studio) and the graph view is a plain D3 view, so if you need to expand it with custom functionalities you can start from there. Of course any pull request will

[2016-05-07 19:43] lvca commented on #4577
This could be implemented in the new query engine for v3.0.

[2016-05-07 19:54] lvca commented on #455
This is not needed anymore if you use graph api.

[2016-05-07 19:54] #455 closed

[2016-05-08 00:30] PhantomYdn commented on #455
If somebody needed there is the following implementation of a hook for consistency support without graph api: https://github.com/OrienteerDW/Orienteer/blob/master/orienteer-core/src/main/java/org/orienteer/core/hook/ReferencesConsistencyHook.java

[2016-05-08 07:53] smolinari commented on #455
Thanks Ilia @PhantomYdn.

How would that work out on performance?

Scott

[2016-05-08 14:04] PhantomYdn commented on #455
Optimized, but still might be not ideal.

[2016-05-08 18:03] lvca commented on #5853
Fixed in 2.2.0-rc1.

[2016-05-08 18:03] #5853 closed

[2016-05-08 18:21] lvca commented on #5810
This should be fixed in 2.2.0-rc1 and 2.2.0-SNAPSHOT.

[2016-05-08 18:21] #5810 closed

[2016-05-08 18:22] lvca commented on #5776
This has been fixed in v2.2.0-rc1 and v2.2.0-SNAPSHOT.

[2016-05-08 18:22] #5776 closed

[2016-05-08 18:28] lvca commented on #5844
Assigned to @taburet

[2016-05-08 18:33] lvca commented on #1236
Old issue, tested with 2.2.0-rc1 and works.

[2016-05-08 18:33] #1236 closed

[2016-05-08 18:38] lvca opened #6100 "Console: convert all output to use the OTableFormatter"
Today in the console tool, most of the commands use custom output that doesn't support dynamic size with the content like OTableFormatter.

[2016-05-08 18:39] lvca commented on #5892
This has been fixed in 2.2.0-rc1.

[2016-05-08 18:39] #5892 closed

[2016-05-08 19:51] karel-un opened #6101 "very slow SELECT when vertex include quite populated embedded set"
System: OrientDB v 2.1.16, Python 3.4, pyorient, Gentoo kernel 4.5.1, i5-6400, 16GB RAM, 2TB HDD

Consider class with one embeddedset property:

CREATE VERTEX TestClass
CREATE PROPERTY TestClass.Name string
CREATE INDEX TestClass.Name unique
CREATE PROPERTY numbers embeddedset integer

When creating new vertex of TestClass, numbers are populated by 65000 items (say 1..65000). Then after I do simpl

[2016-05-09 08:11] laa commented on #5844
@lvca cold you do no assign issues directly. We work as a team and during bug fixing phase very one takes issues in a pool. To assign an issue to us better to set "storage team" label.

[2016-05-09 08:15] lvca opened #6102 "Distributed: support configurable higher level of isolation"
Today while a transaction runs distributed, there could be dirty reads during the propagation of a transaction commit or rollback. It would be nice having a configurable setting to avoid this making all the reads perfectly consistent.

[2016-05-09 08:17] luigidellaquila commented on #6101
Hi @karel-un

It seems to be a problem of record encoding/decoding. Could you please try to execute the same query on OrientDB Studio with an EXPLAIN? It will give you information about OrientDB internal performance for that query

Thanks

Luigi

[2016-05-09 08:36] lvca commented on #5552
Are you still working on it? Do you have anything to share?

[2016-05-09 08:52] lvca commented on #5358
Done. Now it accepts a string to be completely decoupled.

[2016-05-09 08:52] #5358 closed

[2016-05-09 09:01] nsitanurag opened #6103 "Performance bottleneck when migrating large (in million) number of records into fresh installation of orientdb"
I am getting serious performance issues when migrating large number of nodes along with edges from another database (cassandra in my case) to orientdb.

Till 80 Mn of nodes and 100 MN of edges, speed was quite good at 1million per hour but now it has reduced drastically to 1 million in 16 hour. What can be the issue?

I am using standalone instance of orientdb with tomcat in embedded mode and doin

[2016-05-09 09:06] lvca commented on #5060
It makes no sense calling `sysdate()` with a format if you want the current date. The format or timezone don't change the "now" that is now no matters the format or timezone. About the returning type I could agree with you that could be confusing, but I prefer to document it better than remove this feature. Closing this issue.

[2016-05-09 09:06] #5060 closed

[2016-05-09 09:11] lvca commented on #6103
How do you manage edges with document APIs? Do you have lightweight edges only? Do you have any index? If yes, how many properties are indexed and what kind of index? Please give us more information about your use case.

[2016-05-09 09:11] laa commented on #6103
HI that will be fixed in 3.0 by providing new data structures for big data support.

[2016-05-09 09:14] nsitanurag commented on #6103
Hi Ivca,

I don't have lightweight edges. My edge has both in and out link. Yes I have one index each for node and edge. Node index is on primarykey unque_hash_index and edge index is on out,in unique. Please let me know if any more info is required?

[2016-05-09 09:16] maggiolo00 commented on #6004
hi @janjilek

seems strange if you have one server instance you should have fixed connections to the database.

[2016-05-09 09:27] voondo opened #6104 "Distributed : Wrong user/password to [connect] to the remote OrientDB Server instance."
I have two nodes with default settings regarding security (2.2.0-rc1). The same setup worked fine maybe two months ago (+/- one month).

First node :

[code]

Second node :

[code]

security.json (on both nodes) :

[code]

orientdb-server-config.xml (both nodes) :

[code]

I also tried with a root and guest user with sha256 passwords but same result.

Did I miss something ?

[2016-05-09 09:31] maggiolo00 commented on #6104
hi @voondo

does it work if you disable the new security config in security.json

[code]

[2016-05-09 09:38] voondo commented on #6104
@maggiolo00 same result...

[2016-05-09 09:38] lvca commented on #4032
Hey @wouterv is this already in your merged PR?

[2016-05-09 09:40] wouterv commented on #4032
Yes it is.

[2016-05-09 09:40] #4032 closed

[2016-05-09 09:41] lvca commented on #4156
We already have `repair database --fix-graph` that does this.

[2016-05-09 09:41] #4156 closed

[2016-05-09 09:43] voondo commented on #6104
Also I tried with the same ORIENTDB_ROOT_PASSWORD env var given to the nodes. But no success either...

[2016-05-09 09:44] lvca commented on #5047
In concurrency this is not possible, because all the operations are atomic. So if you check a condition to understand if a change is needed, in the time the change is executed the condition could change. So this is a normal problem of any concurrent systems.

[2016-05-09 09:44] #5047 closed

[2016-05-09 09:44] lvca commented on #5058
Fixed long time ago.

[2016-05-09 09:44] #5058 closed

[2016-05-09 09:49] lvca commented on #6104
Are you using the exact same version of OrientDB in both servers?

[2016-05-09 09:51] voondo commented on #6104
@lvca yes I am (commit d47a957543158fef872bb3c2171347c5ebb5f4e2)

[2016-05-09 09:51] nsitanurag commented on #6103
@lvca , waiting for your reply.

[2016-05-09 10:04] lvca opened #6105 "Auditing: using OSystem server database"
In v2.2 the Auditing has to log into the System Database instead of current database, by using 1 cluster per database with the following name: `<db>_auditing`

[2016-05-09 10:12] lvca commented on #3653
@G4br13l3 can you please test this?

[2016-05-09 10:12] #3653 closed

[2016-05-09 10:13] lvca commented on #4519
Already in v2.2.0-rc1.

[2016-05-09 10:13] #4519 closed

[2016-05-09 10:14] lvca commented on #5001
Did you already have the chance to test with v2.2.0-rc1?

[2016-05-09 10:48] janjilek commented on #6004
Really no idea. But I change for a connection pool and it's working fine.

[2016-05-09 11:07] tglman commented on #4764
hi @Ostico,

this should be fixed in 2.2

[2016-05-09 11:15] tglman commented on #4015
This use case went in rellay low priority, and we are thinking to not support this at all.

[2016-05-09 11:17] #3997 closed

[2016-05-09 11:17] tglman commented on #3997
We are going to enforce the store of ORecordBytes on only some specified clusters, where is not possible to store documents, closing this.

[2016-05-09 11:29] tglman commented on #2945
hi,

Unluckely this feature is not in the rc1, so we have to move it to 3.0 or forward

[2016-05-09 11:38] #3477 closed

[2016-05-09 11:38] tglman commented on #3477
done a lot of refactoring on this part, closing

[2016-05-09 11:40] schernolyas commented on #2945
HI!

The issue linked with https://github.com/orientechnologies/orientdb/issues/6061.

[2016-05-09 11:43] #1688 closed

[2016-05-09 11:43] tglman commented on #1688
Really old issue, closing problably was solved long time ago,

[2016-05-09 11:52] tglman commented on #1584
I think this does not make sense anymore, closing

[2016-05-09 11:52] #1584 closed

[2016-05-09 11:54] #1174 closed

[2016-05-09 11:54] tglman commented on #1174
really old bug, i think this cannot happen anymore, closing.

[2016-05-09 11:59] tglman commented on #5788
Hi @asthanasid,

I think this was fixed in a recent version of 2.1.x so i'll suggest you to update on the last hotfix of 2.1 (currently 2.1.16)

[2016-05-09 11:59] #5788 closed

[2016-05-09 12:04] tglman commented on #5858
since 2.1.16 we fixed some minor temporary leak on session management, closing thins.

[2016-05-09 12:04] #5858 closed

[2016-05-09 12:19] tglman commented on #5490
Hi @fommil,

Is this still an issue on your environment, can we close this ?

[2016-05-09 12:22] tglman commented on #5310
Hi,

You can use an ODocument out of the database context only if you detach it, calling "doc.detach()" before close the database.

[2016-05-09 12:22] #5310 closed

[2016-05-09 12:27] TexasDude071 commented on #6104
I've just downloaded 2.2.0-RC1 around 7am EDT.  In a 2 node configuration that was working with 2.1, I am also seeing this same issue.  I used the same install tar for both servers.

I've tried to add the 'replicator' user into security.json in the authenticators document named 'Password'.  I updated the 'users' array adding another document under the 'guest' user as shown:
{
       "username": "r

[2016-05-09 12:32] Eric24 commented on #6102
Just a quick note: I'm not sure exactly what you have in mind, but it would be ideal if this setting could be selected on a per-connection or per-request basis. If that's not easily done for this time around, at least a per-database or per-class basis would be better than a global setting.

PS - In my particular case, the client is orientjs.

[2016-05-09 13:09] fommil commented on #5490
let's leave open for a little bit. I was working on other things but will be looking at this over the coming months as we got a Google Summer of Code to work on this.

[2016-05-09 13:09] fommil commented on #5490
have you applied any commits that might address this?

[2016-05-09 13:42] karel-un commented on #6101
Hi @luigidellaquila

From console everything looks fine, but exactly the same ```SELECT FROM TestClass WHERE name = 'somename'``` via pyorient is slow. ```EXPLAIN``` doesnt get through pyorient, so I cant provide pyorient ```EXPLAIN``` result here. On [pyorient page](https://github.com/mogui/pyorient) there is mentioned that pyorient uses OrientDB binary protocol. Could this be a problem or should

[2016-05-09 13:51] tglman commented on #5789
hi @grexe,

You have the log level at FINE, if you increase it at INFO it should not log anymore that exception.

[2016-05-09 13:52] G4br13l3 commented on #3653
With this alternative syntax the server.bat script works even with paths already containing double quotes.
@asherchayyim thanks for your contribution.

[2016-05-09 13:53] tglman commented on #5789
closing this, because can be removed setting the right log level

[2016-05-09 13:53] #5789 closed

[2016-05-09 14:12] tglman commented on #2284
hi @SteveNewson,

Yes as @laa  mentioned today `OrientGraph.getIndeces()` return only the index defined manually and not associated to a property, due to the fact that this would be a public api change it should be done in the next version 3.0

for now you can work around using:
``` g.getRawGraph().getMetadata().getIndexManager().getIndexes()```

bye

[2016-05-09 15:09] tglman commented on #5496
hi @mriehl,

Did you try a more recent version? do you still have this warnings ?

[2016-05-09 15:53] maggiolo00 commented on #4879
hi @ninesunqian

did you try this on 2.2-rc1?

[2016-05-09 15:54] maggiolo00 commented on #5075
hi @serenic
Seems resolved i'm closing this. If it is not. Please reopen it

Thanks

[2016-05-09 15:54] #5075 closed

[2016-05-09 15:55] maggiolo00 commented on #6075
hi @AlessandroRota

Should be solved in 2.2-rc1, can you confirm this ?

[2016-05-09 15:56] maggiolo00 commented on #5332
hi @arisAlexis

can you confirm that is fixed?

[2016-05-09 15:58] maggiolo00 commented on #4882
hi @robfrank

should be implemented this in 2.2.x right?

[2016-05-09 16:11] #6100 closed

[2016-05-09 16:11] #3968 closed

[2016-05-09 16:38] tglman commented on #3554
add some tests, seems that this is already fixed. closing.

[2016-05-09 16:38] #3554 closed

[2016-05-09 16:59] mihai-stancu commented on #5552
Hi,

No, unfortunately I've been swamped and the unfamiliarity of the toolset
made pinpoint focused work hard to come by.

On 11:36, Mon, May 9, 2016 Luca Garulli <notifications@github.com> wrote:

--
Mihai Stancu
http://mihai-stancu.ro
http://about.me/mihai.stancu

[2016-05-09 17:06] #5552 closed

[2016-05-09 17:07] #5001 closed

[2016-05-09 17:54] lvca commented on #4772
Ok, implemented. New commands are:
[code]

[2016-05-09 18:10] lvca commented on #4772
Updated also docs.

[2016-05-09 18:10] #4772 closed

[2016-05-09 18:12] federicovindigni opened #6108 "Cannot connect to document db through java api (EDIT: solved, but there must be something missing in the tutorial)"
Hi everybody,

I hope someone can help me. I am new to OrientDB and I am trying to get familiar with java api. As first application I tried a simple connection to a test database. It doesn't matter what I do, I get always the same error. I have no problem access the db from the console or the studio, but through java noway.
I tried to change db, to add a new user, nothing.

I'm usign eclipse (yes

[2016-05-09 18:22] mriehl commented on #5496
Hi,

Thanks for checking back @tglman .
I still see the warnings in the latest stable version. I am pretty sure it's due to the loadbalancer health monitor which runs even when the node is disabled.

I commented out the warning message before packaging so it's not really an issue for me. Do you want me to close it?

[2016-05-09 20:19] cvm1ll3 commented on #5946
HI @tglman,

any updates on the error? I just tested it again in the recent sources and rc1 and it still produces the same error. Thanks.

[2016-05-09 21:19] natemurthy opened #6109 "Read performance of SELECT query is very slow when retrieving vertices from remote database (OrientDB 2.1.4)"
I have a very small instance of OrientDB running on an EC2 t2.medium in the us-west-2b region/zone. The database has only 1853 vertices and 529 edges. Of those vertices, I have 1712 of a particular class which make up a good majority of the records in the database. Here's what the schema of this vertex class looks like:

[code]

The indexes are created using the SBTREE engine. Now when I try to fe

[2016-05-10 00:23] Ostico commented on #4764
Tnx @tglman ,
I will add this to the tests as soon as possible

[2016-05-10 03:30] schernolyas commented on #3554
Hi @wouterv !

I develop hibernate ogm for OrientDB. Do You want to try it for your project?

[2016-05-10 05:46] laa commented on #5844
Well, I do not know  current SQL parser and @luigidellaquila will add this keyword much faster than me. Anyway, it is SQL, not storage feature. Assigned to @luigidellaquila

[2016-05-10 05:48] laa commented on #5756
@lvca This approach will not work because both the same changes may be applied to several branches and all branches will break binary compatibility.

[2016-05-10 05:48] #5756 closed

[2016-05-10 06:31] luigidellaquila commented on #5844
@laa are you sure it is an sql issue...? I can add the sql syntax of course, but what's the low level api to invoke? And does it work correctly?

[2016-05-10 06:31] wouterv commented on #3554
Hi @schernolyas

We developed our own custom solution, so unfortunately it came about a year too late ;-)

[2016-05-10 06:33] laa commented on #5844
Hi @luigidellaquila , provide me means to detect the flag in SQL executor and I will do the rest in 1 hour.

[2016-05-10 06:35] schernolyas commented on #3554
Hi @wouterv !
Can You get link to your implementation?

[2016-05-10 06:46] wouterv commented on #3554
Hi @schernolyas
I'm sorry, but the code is proprietary. And it is very much interwoven with our application that it is hardly usable for someone else...

[2016-05-10 06:53] Manjiri0410 opened #6110 "OrientDB UI Issue - public jira for orientDB to report OrientDB issue"
When query is submitted to retrieve link results, some vertices are displayed with solid color and border. But few vertices are displayed with washed color and dashed border. The washed color gets changed to solid color after a click on that bubble.

Is there any way to get all bubbles with solid color and border? Below is the image attached for reference. The version of OrientDB used is 2.1.

![v

[2016-05-10 07:06] Manjiri0410 opened #6111 "OrientDB - Corrupt display after continuous use of OrientDB Studio."
After using OrientDB Studio for more than 15 mins, the UI starts behaving weird. Few of the vertices get disappeared from the graph. This behavior is not predictable always. But it is observed that it normally happens after continuous use of the OrientDB Studio. The version of studio used is 2.1. The images are attached below to explain the issue.

![orientdb ui issue](https://cloud.githubusercont

[2016-05-10 07:11] Manjiri0410 opened #6112 "OrientDB - UI Issue - Properties layer on the left hand side is not scrollable"
It is observed that the properties layer on the left hand side does not scroll if there are more number of properties. Hence user cannot see more than a certain number of properties even if they exist as they are out of the page view. Also the text displayed in the property-value pairs is not wrapped, thus making it difficult to read.

[2016-05-10 07:29] schernolyas commented on #3554
Hi @wouterv
Okey. Thank You!

[2016-05-10 08:01] AlessandroRota commented on #6075
Yes, it is solved.
Thanks.

[2016-05-10 08:01] #6075 closed

[2016-05-10 08:44] nsitanurag commented on #6103
After using SBTREE index as well, performance is still as bad as it was earlier.

Performance Statistics   2016-05-10 08:42:00 - 2016-05-10 08:43:00
Tag                                                  Avg(ms)         Min         Max     Std Dev       Count
insert.contact                                         607.0           0       12164      1286.1        7430
load.contact

[2016-05-10 09:54] voondo commented on #6104
Ok I finally managed to start my setup : I had to specify the listening ip address in `orientdb-server-config.xml`
i.e :
`<protocol [...] ip-adress="1.2.3.4">` instead of `<protocol [...] ip-adress="0.0.0.0">`

Otherwise it seems that each node was trying to connect to others via 127.0.0.1
I don't know if I should close this issue because the default setup is not working currently (at least for me

[2016-05-10 10:39] lvca commented on #6104
@tglman Any idea about how to solve this problem with no intervention from the user?

[2016-05-10 10:43] TexasDude071 commented on #6104
This worked for me too.  Thanks @voondo!

Personally, I would leave the issue open for these reasons:
1) This is a loss of functionality compared to the previous release
2) The fix here is more than just an update to a config file.

The people at OrientDB are awesome and I'm sure they'll figure out the underlying issue cause this problem.

[2016-05-10 10:52] tglman commented on #6104
Hi,

well probably is some issue on node ip lookup, should be easy to solve, going to have a look to it in a bit.

bye

[2016-05-10 13:37] maggiolo00 commented on #6111
How can i reproduce this?

[2016-05-10 13:43] tglman commented on #5496
Hi @mriehl,

Looking to the code it seems the issue is on the http request, that  is not actually what orient expect, is there any chance that you can send us some information of which kind of request is going wrong, i think is some http "OPTIONS" or similar kind of request not supported by orientdb today.

[2016-05-10 13:46] tglman commented on #5946
Hi @cvm1ll3,

I haven't been able to write a precise test case to reproduce the problem, that's the main reason why is not fixed, if you can provide a simple test case, will be really easier to fix.

Regards

[2016-05-10 13:46] tglman commented on #5946
Hi @cvm1ll3,

I haven't been able to write a precise test case to reproduce the problem, that's the main reason why is not fixed, if you can provide a simple test case, will be really easier to fix.

Regards

[2016-05-10 15:28] mamoit opened #6113 "How to change distributed node roles online"
Running version `2.2.0-rc1`.
How can I change a node's role online? i.e. from master to replica.
I can change the distributed-config.json in one node but it does not replicate to the others.
Ideally I would like to have something like:
[code]
but the servers entry does not accept regexes.

[2016-05-10 16:25] voondo opened #6114 "Distributed : log warnings about updated node configuration every 5s"
I continuously receive such of warnings in my logs every 5s (in every node) :

[code]

I don't know if it's a real problem (everything seems to work fine elsewhere).
If not, maybe logging that at INFO level would be more appropriate ? Else what could be the problem ?

(great work guys, keep going !)

[2016-05-10 18:04] pabloa opened #6115 "Database Alias to point to database (and make possible to point to other when it is updated)."
I have a batch import that uses the existing database. BUT if the schema changed, I want to rename the new database, create a new one and proceed with the data import.

I believe it would be helpful to use a database alias (like a soft link) pointing to a database. By using some SQL command like ALTER DATABASE ALIAS my_alias_db TO my_new_db user should be able to point the alias to other database.

[2016-05-10 19:11] mamoit commented on #6113
After opening this issue I noticed that in the enterprise edition of OrientDB there is the option to change the role of a node online (through the WebUI).
But there is no enterprise edition of `2.2.0-rc1` available for testing, and the `enterprise/build.xml` is not present in the respective tag.
Will there be one?

[2016-05-10 19:37] natemurthy commented on #6109
Quick followup:

My ops team and I saw OrientDB take up significant CPU load on our machine:

[code]

We restart the OrientDB JVM process and are now seeing retrieval times about half of what I reported above. This is an improvement, but still unacceptable for our perf requirements.

[2016-05-10 21:50] lvca commented on #6109
Could you please try with 2.2.0-rc1 if you have the same time?

[2016-05-10 22:06] #6113 closed

[2016-05-10 22:06] lvca commented on #6113
This is supported in Enterprise Edition that will be out for 2.2.0 GA. In Community Edition you cannot change the role at runtime, but you have to restart the entire cluster.

[2016-05-10 22:06] mrboxie commented on #6081
Hi,

We ran into another DB corruption issue with 2.1.16 embedded mode. The error message is "com.orientechnologies.common.io.OIOException: You cannot access outside the file size (0 bytes). You have requested portion 0-4 bytes. File: File: database.ocf os-size=1024, stored=0", the database cannot be reopened once the error occurred.

Let me know if you want me to open this as a separate issue.  W

[2016-05-10 22:07] #6114 closed

[2016-05-10 22:08] lvca commented on #6114
You're right. Checked in v2.2 and it's a debug level.

[2016-05-10 22:37] mamoit commented on #6113
Thanks for the information.
Looking forward to try out 2.2.0 GA.
Will keep in touch about the E.E. :smile:

[2016-05-11 02:56] fortu-nato commented on #5543
Is there any progress on this?
I got this same problem when trying to update between 2.1.x versions in a non-distributed installation.

[2016-05-11 03:03] chaitanyachuri opened #6116 "OrientDB database import failing with java.lang.OutOfMemoryError"
Hi,

I've been trying to import a database created on a linux machine using version 2.1.11. This original database export was created using the "EXPORT DATABASE" command on an identical machine using the same version and the same memory allocations for the JVM.

I am now trying to import this to a new machine with the same version of OrientDB with more memory allocations to the process than on the

[2016-05-11 04:29] laa commented on #6109
@natemurthy could you try the same query for embedded database , what are results ?

[2016-05-11 07:16] lucevers opened #6117 "Etl programs are not working for document databases."
The Error message is only generated if a document database is used!

Error MSG:
"Cannot check the existence of a remote server database. Please use the console or the OServerAdmin class."

To allow multiple access to the same database , then use Remote Mode!
But if Remote Mode is used then the Error MSG above is the problem!

Info and tests:
-------------------
https://groups.google.com/forum/#!to

[2016-05-11 08:14] wouterv commented on #5831
Lol, I was about to go fix this, because we had the same problem, so I checked out 2.1.x branch and I found the fix already there, thanks :+1:
When can we expect the 2.1.17 hotfix?

[2016-05-11 09:02] voondo commented on #6114
Oops, I had a problem in my log configuration... sorry for the noise.

[2016-05-11 11:07] robfrank commented on #6117
The ETL tool is unable to check the existence of a db in remote mode.
What you can do? Create the db on the remote server, for example using studio (the web console) on http://localhost:2480. To create a new DB you need to provide "root" credentials (server administration credentials). After that, put to false the property:  "dbAutoCreate": true.
Should be enough.

[2016-05-11 13:12] #5770 closed

[2016-05-11 13:52] lucevers opened #6118 "."

[2016-05-11 14:14] lucevers commented on #6117
No the same Error:
    Cannot check the **existance **of a database in a remote server!

I'm using 2 server (distributed config)

{
  "config":{ "log": "debug" },
  "source": { "file": { "path": "./test.csv" } },
  "extractor": { "csv": {} },
  "loader": {
    "orientdb": {
       "dbURL": "remote:195.13.20.204/pops admin admin",
       "dbType": "document",
       "class": "test",
       "dbAutoC

[2016-05-11 14:34] voondo opened #6119 "NPE when server shutdowns"
Occurs when OServer.shutdown is called (not always, maybe ~50%)
Does not seem to cause other problems but just to be sure.

[code]

[2016-05-11 14:34] robfrank commented on #6117
there's still an error on the url, since user and password should be configured as json props:

[code]

[2016-05-11 14:38] robfrank commented on #6038
Sorry Andrey, why this issue is postponed to 3.0.x?
These tests aren't running on CI AND, launched under an IDE, they fail.
If they are useless we can disable or drop.
I'm in the process of migrating core to Junit, and this is blocking, because to be sure to do all right I need working tests.
Let me know if I can convert them, rename and disable and let you do the work, thanks.

[2016-05-11 14:41] schernolyas opened #6120 "OrientDB generates temporaty @rid during transaction"
OrientDB generates temporaty @rid during transaction.  In this way, Hibernate OGM  links entities by the @rid. And .... the link is incorrect after transaction commited.

Test examle is [OrientDbLinkTest.java](https://github.com/schernolyas/hibernate-ogm/blob/use_links/orientdb/src/test/java/org/hibernate/datastore/ogm/orientdb/OrientDbLinkTest.java). At the example, Entity 'Card' has incorrect li

[2016-05-11 14:43] laa commented on #6038
@robfrank you can "can convert them, rename and disable"  once we will not have critical issues we will take this one.

[2016-05-11 14:44] robfrank commented on #6038
thanks

[2016-05-11 14:44] laa commented on #6119
@voondo which version ?

[2016-05-11 14:47] schernolyas commented on #6120
Version of orientdb: 2.2.0-rc1

[2016-05-11 14:51] laa commented on #6116
@chaitanyachuri This issue should be fixed in 2.2 rc1, could you try ?

[2016-05-11 15:01] voondo commented on #6119
@laa develop branch (commit 525f0ff4f1f328e4237ee637ff13763052e4cd06)

[2016-05-11 15:06] laa commented on #6119
Thank you ! Will fix it tomorrow in both versions

[2016-05-11 15:19] tglman commented on #6120
Thanks @schernolyas we will check ASAP

[2016-05-11 16:49] Kirill1543 opened #6121 ""Null Pointer Exception" & "Current database instance is not active on current thread" Errors"
Hi, I'm trying to upload graph from CSV with JSON ETL.

System parameters: OrientDB 2.1.16, Linux version 2.6.32-431.el6.x86_64, JAVA 1.8

I have 2 json files - one with Vertices ID's upload and another one with edges between them. When I'm processing it in non-parallel mode - all works fine. With parallel strange errors appears at the beggining:

Log from Vertices ETL:

`OrientDB etl v.2.1.16 (bu

[2016-05-11 17:02] natemurthy commented on #6109
@lvca Per the recommendation of our Ops team, we upgraded our remote OrientDB server to 2.1.16 -- the latest stable release for production (instead of 2.2.0-rc1). Here's what we see now (with a few more records that were added over night):
[code]
And the profiler shows:
[code]
@laa It would be bit a of a stretch for us to try this out in an embedded database. Let me try to refactor some things and

[2016-05-11 17:17] Kirill1543 commented on #6121
More information:
For Vertices this error does no effect - no differences after end of etl (but seems like 1 thread crashes and it works in 2)
For Edges - still no differences except speed - loading continues in 1 thread (it works with the same speed in non-parallel mode)

[2016-05-11 18:01] lvca commented on #6116
@laa do you know the cause of this?

[2016-05-12 03:08] ben-manes commented on #6035
Many of your remaining items cover concurrency in regards to caching. For example using thread local to avoid CAS overhead on reads or synchronizing a weak hashmap. You can achieve near lock-free performance using a [write-ahead log approach](http://highscalability.com/blog/2016/1/25/design-of-a-modern-cache.html) instead. That allows [Caffeine](https://github.com/ben-manes/caffeine) to implement

[2016-05-12 06:05] schernolyas opened #6123 "Links that was created by 'create link' not updateable"
1) OrientDB release: 2.2.0.-rc1
2) Steps:
Domain has two entities "Customer" and "Address". Entity "Customer" has property "addresses" that contains links to customer's addresses. I create the  property by command:
CREATE LINK addresses TYPE LINKSET FROM Address.customer_bk TO Customer.bk INVERSE.
The command create property "addresses" with correct link.
After it, I create new Address with same v

[2016-05-12 06:10] laa commented on #6116
@lvca I will not dare to tell till I will not get feedback for @chaitanyachuri . But we have already fixed similar issue.

[2016-05-12 06:45] lvca commented on #5565
We already have this in v2.2:

      ENVIRONMENT_ALLOW_JVM_SHUTDOWN("environment.allowJVMShutdown", "Allows the shutdown of the JVM, if needed/requested",
      Boolean.class, true, true),

You can set this property to false to avoid shutting down the JVM in this case.

[2016-05-12 06:45] #5565 closed

[2016-05-12 06:48] lvca commented on #5951
This looks like a bug. The check for `checkNodeIsMaster()` is executed only when the operation is executed locally. Do you have the full stack trace to understand where that operation is coming from?

[2016-05-12 06:49] lvca commented on #5850
@uiterlix is this happening when you create the database when the cluster is running? Or the db was previously created?

[2016-05-12 06:50] lvca commented on #5562
Any news on this? Does that setting resolved the problem?

[2016-05-12 06:51] lvca commented on #5401
@lukeasrodgers it's been a while. Does the upgrade solved the problem?

[2016-05-12 07:14] lvca commented on #5249
Look at: https://github.com/orientechnologies/orientdb-docs/blob/master/Concurrency.md#how-does-it-work why in those cases it's up to the application to manage this situation.

[2016-05-12 07:18] lvca commented on #5240
Closing because not reproducible

[2016-05-12 07:18] #5240 closed

[2016-05-12 07:20] lvca commented on #5213
The approach seems correct. Could you post the JS function so I can try it?

[2016-05-12 07:21] lvca commented on #5156
It looks like you didn't include all the jars in your classpath, because SQL commands are not registered.

[2016-05-12 07:21] #5156 closed

[2016-05-12 07:24] lvca commented on #5112
@smolinari the directory is relative to where OrientDB starts. I suggest to always use an absolute path to avoid such problems.

[2016-05-12 07:24] #5112 closed

[2016-05-12 07:25] lvca commented on #5091
Hey guys, what's the status of this issue?

[2016-05-12 07:28] smolinari commented on #6123
Can you follow the issue reporting rules please?

http://orientdb.com/docs/last/Report-an-issue.html

Scott

[2016-05-12 07:30] smolinari commented on #5112
So, /bin/backup?

Scott

[2016-05-12 07:31] lvca commented on #5068
Cannot replicate.

[2016-05-12 07:31] #5068 closed

[2016-05-12 07:35] maggiolo00 commented on #5091
Hi @lvca

I think it is done and should be released with OrientDB 2.1.17.
@tglman  am i right?
It is done also in OrientJS as well but not yet released on npm

[2016-05-12 07:43] lvca commented on #5089
@zifnab87 You were right, added check.

[2016-05-12 07:43] #5089 closed

[2016-05-12 07:50] laa commented on #6035
HI @ben-manes , I pleased of your interest in our product.

I think we should try the approach with striped buffers and WAL updates, but I prefer to keep all performance critical parts under our control.

P.S. We are still interested in TinyLFU as policy for our global disk cache but will send you trace later.

[2016-05-12 07:52] ben-manes commented on #6035
Sure, that's not a problem. Mostly I was trying to point out that you might be over complicating the concurrency side, which the buffering approach makes much simpler for complex cases.

[2016-05-12 07:53] nethertek commented on #5249
We removed OrientDB from our project because of such issues.

[2016-05-12 08:23] vitalytravin opened #6124 "Error in LiveQuery for clusters"
I use LiveQery for select cluster (live select from cluster:Cluster1), but an error in Exception in thread "LiveQueryQueueThread" java.lang.IllegalStateException: Current database instance (com.orientechnologies.orient.core.db.document.ODatabaseDocumentTx@1afaccf7) is not active on current thread
I watched OCommandExecutorSQLLiveSelect:
public void onLiveResult(final ORecordOperation iOp) {

    f

[2016-05-12 08:29] lvca commented on #5016
Tried with last v2.2 and works:

    database.command(new OCommandSQL("alter class V custom onBeforeCreate=onBeforeCreateItem")).execute();

export database
import database

The custom setting is there.

[2016-05-12 08:29] #5016 closed

[2016-05-12 08:32] lvca opened #6125 "Fix to the Scheduler to get it working with the new CronExpression module"
We have a scheduler that has been donated by the community but it's not working and the code is not compliant with last OrientDB changes. This makes it unusable.

We have to work on it to make it working and tested.

[2016-05-12 08:32] lvca commented on #4992
The OrientDB Scheduler framework has been deprecated because the lack of usage and features, it's already on our roadmap to improve it: https://github.com/orientechnologies/orientdb/issues/6125.

[2016-05-12 08:32] #4992 closed

[2016-05-12 08:32] lvca commented on #2769
It's on our roadmap a rewriting of the Scheduler: https://github.com/orientechnologies/orientdb/issues/6125

[2016-05-12 08:33] lvca commented on #2769
Duplicated of It's on our roadmap a rewriting of the Scheduler: https://github.com/orientechnologies/orientdb/issues/6125.

[2016-05-12 08:33] #2769 closed

[2016-05-12 08:35] lvca commented on #4971
@jaschenk have you migrated to 2.1, right? Can i close this issue if it has been resolved with a recent OrientDB version?

[2016-05-12 08:35] lvca commented on #1653
It's on our roadmap a rewriting of the Scheduler: https://github.com/orientechnologies/orientdb/issues/6125

[2016-05-12 08:35] #1653 closed

[2016-05-12 08:44] lvca commented on #6103
Could you please post the responsible of the slow operation that caused the "read.contact.by.index" stats to be 232.9 as average?

[2016-05-12 08:45] lvca commented on #5222
@StarpTech i see issue #4277 is closed. Is this still open?

[2016-05-12 08:46] laa commented on #6116
@lvca this issue is already assigned to "storage team" some of us will take it from queue during weekly bug fixing phase.

[2016-05-12 08:46] robfrank commented on #6117
hi, I added the capability to manage remote databases on develop branch, it will be part of 2.2.0.  documentation for the loader will be updated in a couple of hour: http://orientdb.com/docs/last/Loader.html#orientdb-loader

The same for snapshots distribution packages: https://oss.sonatype.org/content/repositories/snapshots/com/orientechnologies/orientdb-community/2.2.0-SNAPSHOT/

[2016-05-12 08:46] #6117 closed

[2016-05-12 09:10] lvca commented on #4786
This is the expected behaviour, look at: http://orientdb.com/docs/last/Transactions.html#breaking-of-acid-properties-when-using-remote-protocol-and-commands-sql-gremlin-js-etc. In v3.0 we will fix this by supporting transaction flushing to the server.

[2016-05-12 09:10] #4786 closed

[2016-05-12 09:11] StarpTech commented on #5222
@lvca I didnt get this error but I think is not fixed by the core I cleaned up my database. @EricLin2004 perhaps you can check whether you can find any none number values. Export your db as json and start a pattern search or via sql in studio.

[2016-05-12 10:25] schernolyas commented on #6123
updated

[2016-05-12 11:47] taburet commented on #6094
Hi @nsitanurag! I'm unable to reproduce the issue using following commands:

[code]

Could you please try to execute the commands on your side? BTW, which orientdb version do you use and under what OS you run the orientdb console? I have a feeling that the problem may be in the console IO interaction between JVM and OS rather in the rebuild index command.

Regarding your question about the excepti

[2016-05-12 12:25] anrudo commented on #5752
Hey, just wanted to mention that this is still unsolved in 2.1.16, cheers!

[2016-05-12 12:25] smolinari commented on #6123
This might interest you.

https://groups.google.com/forum/#!msg/orient-database/GTzHlEVrrcM/xuPCf2d7BwAJ

In other words, it is up to you to make sure any links are set properly. Links are also only unidirectional.

It seems you want an n:n relationship between Addresses and Customers. In this situation, you are probably better off just creating embedded relationships. It isn't often that customer

[2016-05-12 13:07] schernolyas commented on #6123
Hi @smolinari

I think  that using edges for create link between vertexes is more preferable in common case.

Thank You for advice!

[2016-05-12 13:07] #6123 closed

[2016-05-12 13:21] taburet commented on #6084
@nsitanurag, I have tried following commands on 2.1.16 and develop branches, everything works fine. Could you please make it fail on your side ;)

[code]

[2016-05-12 13:28] jamieb22 opened #6126 "All Orient DB 2.1.15 threads are locked up for long periods of time"
java.util.concurrent.locks.ReentrantReadWriteLock$ReadLock.tryLock(long, TimeUnit) ReentrantReadWriteLock.java:871
com.orientechnologies.common.concur.resource.OSharedResourceAdaptive.acquireSharedLock() OSharedResourceAdaptive.java:142
com.orientechnologies.common.concur.resource.OSharedResourceAdaptiveExternal.acquireSharedLock() OSharedResourceAdaptiveExternal.java:44
com.orientechnologies.orie

[2016-05-12 13:34] laa commented on #6126
@jamieb22 you have already created the similar issue, what is a difference with this one ?

[2016-05-12 13:38] laa commented on #6126
@jamieb22 well I see what is difference ))

[2016-05-12 13:38] jamieb22 commented on #6126
Sorry It must be a duplicate issue. You can close it. Sorry for bother.

On 2016/05/12 3:35 PM, Andrey Lomakin wrote:

[2016-05-12 13:38] laa commented on #6126
@jamieb22 no, that may be different

[2016-05-12 13:39] laa commented on #6126
@jamieb22 what is version do you use ?

[2016-05-12 13:41] laa commented on #6126
@jamieb22 sorry for misunderstanding we will reach you soon for details.

[2016-05-12 13:41] jamieb22 commented on #6126
The version in question is 2.1.15. I have just upgraded to 2.1.16 in the
hope that it will resolve.

There were eight long running threads, spending most their time locked
up for days in the method in question.

On 2016/05/12 3:39 PM, Andrey Lomakin wrote:

[2016-05-12 13:48] laa commented on #6126
@jamieb22 could you send full thread dump as gist ?

[2016-05-12 13:49] jaschenk commented on #4971
Luca, yes please close we are on 2.1.16.
Thanks,
Jeff
On May 12, 2016 1:35 AM, "Luca Garulli" <notifications@github.com> wrote:

[2016-05-12 13:50] jamieb22 commented on #6126
Sorry, it was on a production server. I've already upgraded the server,
deleted the logs and restarted the server.

On 2016/05/12 3:49 PM, Andrey Lomakin wrote:

[2016-05-12 13:51] laa commented on #6126
let's wait for new one if happens, could you send full thread dump ?

[2016-05-12 13:54] jamieb22 commented on #6126
Sure...I thought this dump should be enough. It has line numbers and
everything. What about is are you missing?

On 2016/05/12 3:51 PM, Andrey Lomakin wrote:

[2016-05-12 13:56] laa commented on #6126
@jamieb22 that is only one thread I need full thread picture.
Or even better small yourkit snapshot for last 2-3 minutes.

[2016-05-12 14:08] jamieb22 commented on #6126
I'll see what I can do. I noticed you marked as performance issue. This
seemed like a bug to me, as the threads were completely jammed.

On 2016/05/12 3:56 PM, Andrey Lomakin wrote:

[2016-05-12 14:14] lukeasrodgers commented on #5401
We have not upgraded yet, and are back to running in standalone mode, which seems more stable. We are evaluating the feasibility of replacing orientdb with neo4j, and so I think we aren't putting any more efforts into upgrading orientdb unless it looks like switching to neo4j won't be possible for us.

[2016-05-12 14:27] laa commented on #6126
@jamieb22 If it will be confirmed as deadlock I will change the label. We need to find the root cause to decide what type of problem it is.

[2016-05-12 15:35] luigidellaquila commented on #6101
Hi @karel-un

Yes, both pyorient and the console use the binary protocol, so the problem is not there. The only difference here is on the driver, so I suspect the problem is there

Thanks

Luigi

[2016-05-12 15:41] lvca commented on #5222
Anybody has any database I can export/import so we can reproduce the problem?

[2016-05-12 16:07] StarpTech commented on #3944
@lvca As already mentioned the author of http://jepsen.io/ is able to do such tests.

[2016-05-12 18:39] laa opened #6127 "Database became corrupted if there is no space to keep database journal on disk"
Related exception is - ERROR [ODiskWriteAheadLog$LogSegment$FlushTask] Error during WAL background flush java.io.IOException: No space left on device at java.io.RandomAccessFile.writeBytes(Native Method) ~[na:1.8.0_45] at java.io.RandomAccessFile.write(RandomAccessFile.java:512) ~[na:1.8.0_45] at com.orientechnologies.orient.core.storage.impl.local.paginated.wal.ODiskWriteAheadLog$LogSegment$Flush

[2016-05-12 19:06] laa commented on #6021
@lvca

What problem do you see in finding  the key with hash X ? Long.MAX_VALUE is 18 446 744 073 709 551 615 . It is much bigger than 1B. About hash codes itself, they stored in a form of a compressed trie.
A trie is not a typo.

[2016-05-12 21:07] tglman commented on #5991
hi,
I added a few test cases, for check the case, and all pass without problem, i think the issue is not strictly related to the default value.

@laa the default value is set at the moment when you set a class on the ODocument, so far before the hook invoke.

bye

[2016-05-12 22:54] lvca commented on #6125
It's still missing the documentation.

[2016-05-13 03:02] gyfrozen opened #6128 "Error in executing a query about 'Traverse' statement by JDBC"
Version of orientdb-jdbc : 2.0.4 & 2.1.16

when I execute the code below:
`ResultSet rs = statement.executeQuery("traverse OUT('someR') from (select from tableA where xxid = 'xxxxx') WHILE $depth <= 1");`
Two documents are expected to be returned to me. However, the returned result set contains 2 rows, one of which is an object of ODocument, and the other is an object of ORecordId which just conta

[2016-05-13 04:47] laa commented on #5991
@tglman  I have couple of questions:

1. Did you reproduce case as user wrote in the console ?
2. If you reproduced user tests case, did you debug it ?

[2016-05-13 05:10] laa commented on #6021
@lvca about your second question

I wrote not about pages but on operations on pages.
To insert 999 items we:

1. Read page
2. Modify content
3. Store the same page to the storage

To insert the last item we :+1:

1. Read page
2. Split content of single page on two pages
3. Write 2 pages on the disk

So to insert 999 items we need (2 * 999) page r/w operations.  To insert the last item we need 3

[2016-05-13 05:45] laa opened #6129 "Replace generation of server password based on simple random function"
Replace generation of server password based on simple random function to generation which is based on random secure function.https://srcclr.com/security/insecure-random-password-auto-generation/java/sid-2342

[2016-05-13 05:47] laa opened #6130 "Use MessageDigest to compare to password strings"
https://srcclr.com/security/timing-attack-via-comparison-function/java/sid-2345

[2016-05-13 05:49] #6129 closed

[2016-05-13 05:50] #6130 closed

[2016-05-13 07:14] laa opened #6131 "You have reached maximum pool size for given partition"
java.lang.IllegalStateException: You have reached maximum pool size for given partition at com.orientechnologies.orient.core.db.OPartitionedDatabasePool.acquire(OPartitionedDatabasePool.java:324) at com.tinkerpop.blueprints.impls.orient.OrientBaseGraph.(OrientBaseGraph.java:162) at com.tinkerpop.blueprints.impls.orient.OrientGraphNoTx.(OrientGraphNoTx.java:61) at com.tinkerpop.blueprints.impls.ori

[2016-05-13 07:31] voondo opened #6132 "Datetime/date problems when a subclass redefine a field"
(commit c5a54b0fd80f9c2ef8ae79a51b3c470182e68a67 branch develop)

Not a big issue but I spent two hours to struggle with it : if you have two classes defining each a field with the same name (e.g.  'created_at'), the first of type `Datetime` and the second of type `Date` whose the class inherits the first you will have a weird behavior and only when using a tx graph (expected behavior with a non t

[2016-05-13 08:20] mindnuts commented on #6104
Hi, i am facing the same issue using orientdb-community-2.2.0-rc1 version. I am using coreos and setting up two nodes. The discovery works but then there is the issue of  security exception:

[code]

I have tried to disable security but to no effect. Is the distributed features of Orientdb even usable?

[2016-05-13 08:22] Manjiri0410 commented on #6111
We encountered if when we used it continuously for half an hour. This cannot be consistently reproduced. Please try using studio continuously and it might get reproduced.

[2016-05-13 08:27] Manjiri0410 commented on #6112
When is 2.2.1 planned for release?

[2016-05-13 09:31] lvca commented on #6104
Can you post the entire log as gist?

[2016-05-13 09:55] maggiolo00 commented on #6118
hi @lucevers

can you explain this issue?

[2016-05-13 09:57] maggiolo00 commented on #6111
hi @Manjiri0410

i will try to replicate it

[2016-05-13 09:57] smolinari commented on #6118
I would have just closed it. Or asked for him to follow the contribution rules. You guys are way too nice. LOL! :smile:

Scott

[2016-05-13 09:58] maggiolo00 commented on #6112
hi @Manjiri0410

actually we can solve this soon in 2.1.x and 2.2.x

[2016-05-13 10:01] maggiolo00 commented on #6095
hi @apurvagupta

are you using Java client?

[2016-05-13 10:15] maggiolo00 commented on #5350
hi @barabaszsolt

is still happening with 2.1.16?

[2016-05-13 10:19] #6118 closed

[2016-05-13 10:19] luigidellaquila commented on #6118
@smolinari we always try to be  ;-)

Luigi

[2016-05-13 10:20] smolinari commented on #6118
@luigidellaquila - Yes. I know. And actually appreciate it myself too! :smile:

Scott

[2016-05-13 10:47] Manjiri0410 commented on #6110
Hi, Any updates on this?

[2016-05-13 10:48] Manjiri0410 commented on #6111
Thanks.

[2016-05-13 10:50] Manjiri0410 commented on #6112
Thanks for this. I can get to know the ETA?

[2016-05-13 11:06] luigidellaquila commented on #6124
Hi @vitalytravin

Which OrientDB version are you using?

Thanks

Luigi

[2016-05-13 11:21] mindnuts commented on #6104
@lvca Here you go :

https://gist.github.com/mindnuts/a5761c072513bf55dabc936c237cb511

Here is what i am doing to test the setup. I have created the db on core-01 machine and launch orientdb like this:
[code]

It starts orientdb fine, then i launch orientdb from core-02 where no DB is present:

[code]

On core-02 you can see the "Wrong user/password to [connect] to the remote OrientDB Server inst

[2016-05-13 12:24] kerner1000 opened #6133 "Error deserializing record"
`WARNING: {db=XXX} Error deserializing record with id #15:5132 send this data for debugging: ABxSZWZlcmVuY2VfUGVhaxx1bmRlclRocmVzaG9sZAAAARQAHE5vcm1hbGl6ZWRBcmVhAAABFQU2/v//a0FyZWEAAAEdBSBSZXRlbnRpb25UaW1lTWluAAABJQEiUmV0ZW50aW9uVGltZVNlYzEAAAEpASJSZXRlbnRpb25UaW1lU2VjMgAAAS0BHFJldGVudGlvbkluZGV4AAABLwEmUGVha0ludGVuc2l0eVZhbHVlcwAAATEKHENsYXNzaWZpY2F0aW9uAAABdAcGSGl0AAABggcYTWFzc1NwZWN0cnVtAAABng0

[2016-05-13 12:25] maggiolo00 commented on #6132
hi @voondo

how do you create vertexes? Which api do you use?

[2016-05-13 12:30] maggiolo00 commented on #6133
hi @kerner1000

can you write more info about this issue?

Which api do you use?

[2016-05-13 12:32] kerner1000 commented on #6133
Hi,
i use Java Document API, version 2.1.16.

[2016-05-13 12:36] laa commented on #6133
Hi @kerner1000 ,
Was database created under this API, you it is an old database ?

[2016-05-13 12:39] vlasni commented on #4099
Using community edition v2.1.12 and experiencing similar caching issues.
While adding NOCACHE to SQL statements fixes some cases, we are using graph api and don't see how can I set something like NOCACHE when doing something like vertex.getEdges(....).
Any tip?

[2016-05-13 12:55] #6046 closed

[2016-05-13 13:26] tglman commented on #5831
so this should be fixed closing.

[2016-05-13 13:26] #5831 closed

[2016-05-13 13:28] kerner1000 commented on #6133
Hi,
database was created using the same API and version.

[2016-05-13 13:40] tglman commented on #5490
hi @fommil,

I think we have no issue to address, when you use orientdb each instance of ODatabaseDocument or OrientGraph it has to be used by only one thread and as well you cannot use many instance active on the same thread together.

If you have to do some operation cross database, or in general you have more database used by the same thread, you can do like this:
[code]

in this way you should

[2016-05-13 13:47] luigidellaquila commented on #4971
Thanks @jaschenk

closing

Luigi

[2016-05-13 13:47] #4971 closed

[2016-05-13 13:51] luigidellaquila commented on #5752
Hi @anrudo

I just pushed a fix for this on both 2.1.x and develop. The fix will be available in 2.1.17 and 2.2 GA

I'm closing this issue, please reopen if you see any other problems

Thanks

Luigi

[2016-05-13 13:51] #5752 closed

[2016-05-13 13:58] tglman commented on #3762
Added in 2.2 the support for "blob clusters", not yet supported in distributed, moving this to 3.0

[2016-05-13 13:59] laa commented on #6133
Well, that is strange. How did you discover that ?
Which operations were done with this database ?
Could you send us this database for analysis ?

[2016-05-13 14:00] tglman commented on #3882
closing is done

[2016-05-13 14:00] #3882 closed

[2016-05-13 14:02] maggiolo00 commented on #5774
@sinfex

did you try it with 2.2-rc1?

[2016-05-13 14:04] tglman commented on #4876
hi @mecp,

The OServerLifecycleListener it give you feedback only on when the server is up or down, but the databases at that point main not have been already open.
you can use https://github.com/orientechnologies/orientdb/blob/2.1.x/core/src/main/java/com/orientechnologies/orient/core/db/ODatabaseLifecycleListener.java for catch event on database operations, but it's a internal api so use it only

[2016-05-13 14:04] #4876 closed

[2016-05-13 14:11] lucevers commented on #6117
After changing the usernam/password, I still have the same problem:

{
  "config":{ "log": "debug" },
  "source": { "file": { "path": "./nps2.csv" } },
  "extractor": { "row": {} },
  "loader": {
    "orientdb": {
       "dbURL": "remote:195.13.20.204/pops",
       "dbUser": "admin",
      "dbPassword": "admin",
       "dbType": "document",
       "class": "nps",
       "dbAutoCreate": false,

[2016-05-13 14:14] lucevers opened #6134 "Etl programs are not working for document databases."
Cannot check the *existance *of a database in a remote server!

I'm using 2 server (distributed config)

{
"config":{ "log": "debug" },
"source": { "file": { "path": "./test.csv" } },
"extractor": { "csv": {} },
"loader": {
"orientdb": {
"dbURL": "remote:195.13.20.204/pops admin admin",
"dbType": "document",
"class": "test",
"dbAutoCreate": false,
"classes": [{"name": "test"}],
"indexes": [{"class

[2016-05-13 14:21] luigidellaquila commented on #4762
Pushed a fix on develop branch. The fix will be available in 2.2 GA

Closing

Thanks!

Luigi

[2016-05-13 14:21] #4762 closed

[2016-05-13 14:24] tglman commented on #6133
hi @kerner1000,

you should have an additional log that show the stack trace of the problem, with the original exception,
can you look for that and add it here .

Regards

[2016-05-13 14:37] laa commented on #6119
Fixed. Could you confirm ?

[2016-05-13 14:49] luigidellaquila commented on #6132
IMHO this should not be allowed, a property can have only one type in the class hierarchy, if a property is of type X in the superclass, it has to be of type X also in the subclasses and if you try to change it on a subclass, the system should throw an exception

[2016-05-13 15:01] vitalytravin commented on #6124
Hi luigidellaquila

2.1.15

[2016-05-13 15:13] vlasni opened #6135 "Query returns old copy of data (v2.1.12)"
Using community edition v2.1.12 and experiencing caching issues.
While adding NOCACHE to SQL statements fixes some cases, since we are using graph api I don't see how can I set something like NOCACHE when doing i.e. vertex.getEdges(....).
Any help?

Update:
The workaround I've found so far is to do:
`graphDb.getRawGraph().getLocalCache().invalidate();` whenever I need to get a connection to DB.

I

[2016-05-13 15:23] tglman commented on #4149
Hi @PhantomYdn,

Can we close this issue and open another with the specific topic about not db dependent java serialization ?

The title of this issue confuse me all the time, because since 2.2 this is not true i think we can close this.

Bye

[2016-05-13 15:48] luigidellaquila commented on #4996
Hi @Ziink

I fixed the problem on both 2.1.x and develop. The final fix will be available in 2.1.17 and 2.2 GA

Thanks

Luigi

[2016-05-13 15:48] #4996 closed

[2016-05-13 16:31] anrudo commented on #5752
@luigidellaquila thanks, very much appreciated!

[2016-05-13 16:47] maggiolo00 commented on #6135
Hi @vlasni
Do you use plocal or remote connection?

[2016-05-13 16:50] vlasni commented on #6135
Hi Enrico,
I use remote connection as follows:
`
		graphFactory = new OrientGraphFactory(dbUrl, dbUser, dbPassword).setupPool(dbMinPool, dbMaxPool);
		graphDb = graphFactory.getTx();
`
dbUrl has the value set as: remote:server/dbName

Thanks

[2016-05-13 17:01] lvca commented on #6135
Working in remote you could have old data on the client. You could force the reloading of the vertex (and therefore its edges) with:

    vertex.reload();

[2016-05-13 17:05] vlasni commented on #6135
Hi Luca,
So, if I understand correctly, the advice is to always perform `vertex.reload()` when working in remote?
Will give it a try and post the updates.

Thanks

[2016-05-13 17:12] lvca commented on #6096
Are you connected with remote or plocal?

[2016-05-13 17:13] lvca commented on #6135
If you need to have last updated data, yes. Instead with updates, you could execute the update, and in case your version is old, you get a OConcurrentModificationException to manage avoiding to call .reload() everytime.

[2016-05-13 17:14] vlasni commented on #6135
I may be wrong, but it looks like I shouldn't have old data in my scenario:

[code]

I understand that since I've just queried DB with NOCACHE, then vertices should all contain fresh data. Or am I missing something?

[2016-05-13 17:17] lvca commented on #6135
You're right with plocal connection, but with remote the SQL is interpreted in the server, so that statement will not use the server cache, but you could have something cached at the client side (we have 2 caches). So instead of reload() the vertices (that is +1 operation per vertex), invalidating the client's cache is still the best option.

[2016-05-13 17:17] #6135 closed

[2016-05-13 17:20] vlasni commented on #6135
Thanks Luca, so I will keep invalidating client's cache.

Best,
Adrian

[2016-05-13 18:05] lvca opened #6136 "Test Issue Template1"
## OrientDB Version, operating system, or hardware.
- v2.0 SNAPSHOT[ ] - .18[ ] .17[ ] .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.1 SNAPSHOT[ ] - .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.2 SNAPSHOT[ ] - .rc1[ ] .beta2[ ] .beta1[ ]

## Operating System
- [

[2016-05-13 18:06] #6136 closed

[2016-05-13 18:07] natemurthy commented on #6109
@lvca @laa Do you observe this slowness in the enterprise edition? Is this a limitation of the community edition server?

[2016-05-13 18:08] lvca opened #6137 "[IGNORE THIS] Test Issue Template2"
## Expected behavior and actual behavior
This is a test

## Steps to reproduce the problem
bla bla bla

## OrientDB Version, operating system, or hardware.
- [ ] v2.0.?
- [ ] v2.1.?
- [x] v2.2.?

## Operating System
- [ ] Linux
- [ ] MacOSX
- [x] Windows
- [ ] Other Unix
- [ ] Other, name?

[2016-05-13 18:08] #6137 closed

[2016-05-13 18:14] lvca opened #6138 "[IGNORE THIS] Test Issue Template3"
## Expected behavior and actual behavior
blalala

## Steps to reproduce the problem
sdsadsa
-------------
## Important Questions
### Mode
- [ ] Embedded, using PLOCAL access mode
- [ ] Embedded, using MEMORY access mode
- [x] Remote

### Misc
- [ ] I have a distributed setup with multiple servers. How many?
- [x] I'm using the Enterprise Edition

### OrientDB Version
- [ ] v2.0.x - Please specify

[2016-05-13 18:14] #6138 closed

[2016-05-13 18:15] lvca opened #6139 "[IGNORE THIS] Test Issue Template4"
## Expected behavior and actual behavior

blablabla

## Steps to reproduce the problem

blablabla

## Important Questions

### Runningn Mode
- [x] Embedded, using PLOCAL access mode
- [ ] Embedded, using MEMORY access mode
- [ ] Remote

### Misc
- [x] I have a distributed setup with multiple servers. How many?
- [ ] I'm using the Enterprise Edition

### OrientDB Version
- [ ] v2.0.x - Please speci

[2016-05-13 18:16] #6139 closed

[2016-05-13 18:33] PhantomYdn commented on #6125
@lvca I have few questions regarding you implementation:

1) Am I right that it will support cluster?
2) Why are you decided to use your own implementation? There are several implementation of schedulers. But btw I do recommend to take a look on Cron4J
3) Am I right that it will be possible to schedule task by creation corresponding ODocument and not going through API?
4) Will implementation have

[2016-05-13 18:36] PhantomYdn opened #6140 "ODocument should use DB independent way for serialization"
As discussed in #4149 , there is a problem that ODocument uses DB mechanisms for serialization. That should be fixed.

[2016-05-13 18:37] PhantomYdn commented on #4149
@tglman , sure! New issue has been created for that: #6140

[2016-05-13 18:37] #4149 closed

[2016-05-13 18:44] mrboxie commented on #6081
Hi,

  Just wonder if you have figured out the cause of these two issues?

Thanks,
-Bo

[2016-05-13 23:23] lvca commented on #6125
1) yes, it already in HA
2) I didn't write it, I used the Lucene one (Apache2, no deps). Cron4J is not Apache2 and hence removed from the code base long time ago
3) yes, thanks to the OSchedulerTrigger
4) no progress for now, but it will support logging in the new OSystem database (the server's database introduced in v2.2)

[2016-05-14 03:27] schernolyas commented on #6120
Hi @tglman !
Have You any progress? Which milestone will contains fix?

[2016-05-14 09:57] nsitanurag commented on #6094
I am using the latest orientdb version i.e. 2.1.16. and OS is Debian GNU/Linux 6.0.10 (squeeze)

Your assumption is correct sometimes even if I give correct command, rebuild index gets stuck in loop. So the problem is in console IO interaction between JVM and OS. What can be solution for this?

[2016-05-14 11:44] kerner1000 commented on #6133
Hi @laa
I will try to reproduce the problem and provide you with the database if possible.
@tglman , where can I find this additional log?
Best

[2016-05-14 11:56] kerner1000 commented on #6133
Hi all,
I am able to reproduce the problem:
`WARNING: {db=XXX$test} Error deserializing record with id #15:5132 send this data for debugging: ABxSZWZlcmVuY2VfUGVhaxx1bmRlclRocmVzaG9sZAAAARQAHE5vcm1hbGl6ZWRBcmVhAAABFQU2/v//a0FyZWEAAAEdBSBSZXRlbnRpb25UaW1lTWluAAABJQEiUmV0ZW50aW9uVGltZVNlYzEAAAEpASJSZXRlbnRpb25UaW1lU2VjMgAAAS0BHFJldGVudGlvbkluZGV4AAABLwEmUGVha0ludGVuc2l0eVZhbHVlcwAAATEKHENsYXNzaWZpY2

[2016-05-14 12:11] warriorkitty opened #6141 "Is there a way to tell schema that the property is of length N"
[code]

Is there a way to do this in one command? I can't find it in the docs.

[2016-05-14 15:25] mingio opened #6142 "after continuously pushing data to the database, orientdb eat all the memory. Same as #4807"
Same as #4807, we use in production. But I notice the #4807 didn't be solved.
Maybe I am the second man meet the same issue.
We have two clients continuously pushing data to the database.
The memory increase continuously.
Finally, the jvm crashed.
There is 16GB memory in machine, 64bit Ubuntu 14.04.

## Important Questions

### Runninng Mode
-  Remote

### OrientDB Version
-  v2.1.15 - Please spec

[2016-05-14 15:32] lvca commented on #6141
No sorry, you have to execute 2 commands, or a SQL BATCH with both of them inside.

[2016-05-14 15:32] #6141 closed

[2016-05-14 16:50] Ostico opened #6143 "[ Orient version 2.2.0-rc1 ] Binary Protocol compatibility failure"
The db_open command to the server seems to not works anymore:

[code]

I tried with root credentials also but i got the same result ( this time i added the binary dump for the request ):

[code]

When i try from the console instead:

[code]

I think that the new protocol 36 is no more compatible with the previous. I studied the binary requests made from the console and from the python driver, they

[2016-05-14 17:06] lvca opened #6144 "Remove full path in exception when sent to the client"
It will be good to remove the path from exception to client:

[code]

[2016-05-14 17:40] lvca commented on #4287
There is no way to understand if a database is more updated than another one, also because the dates could be not synchronized.

Let's do a couple of examples:
(1) you have 5 nodes and you decide to stop the cluster to upgrade it (or for any other reason), just stop the application that work with the database first, and then stop all the nodes. They will have the same content and this problem neve

[2016-05-14 17:42] lvca commented on #4287
However, in the case a newer database joins the cluster, it's never deleted, but copied under `/backup` directory.

[2016-05-14 17:42] lvca commented on #3762
@tglman what's missing to support it in HA?

[2016-05-14 19:15] warriorkitty commented on #6141
I've tried to implement the EXACTLY which just calls setMax and setMin in OPropertyImpl (and defined it in OProperty interface), for fun.

Do you want me to write tests and create a pull request so you can check it out?

[2016-05-15 00:35] mingio commented on #6142
Sorry, I have to correct the information.
When orientdb eat all the memory, I have 8G ram in machine.
The command line of orientdb is:
/mnt/data/jre1.8.0_91/bin/java -server -Xmx2400m -Xms2400m -XX:+PerfDisableSharedMem -Djna.nosys=true -XX:+HeapDumpOnOutOfMemoryError -Djava.awt.headless=true -Dfile.encoding=UTF8 -Drhino.opt.level=9 -Dprofiler.enabled=true -Dstorage.diskCache.bufferSize=3600 -Djav

[2016-05-15 03:57] smolinari commented on #6136
This is a good idea!

Scott

[2016-05-15 07:48] laa commented on #6142
Hi , we have already  have solution for given issue . Please use following  JVM settings `-XX:+UseLargePages -XX:LargePageSizeInBytes=2m` . Looking forward  for your feedback.

[2016-05-15 08:11] laa commented on #6133
Hi ,
Would  be better if you provide us steps how to reproduce issue then. Looking forward  to see them ))

[2016-05-15 08:25] laa commented on #6109
Hi ,

I am on vacation  now so @taburet is responsible for this issue .
I would propose to collect following  information :
1. Statistic of memory usage for orientdb server , swap and RAM.
2. Profiling of orientdb server using any profiler which you have jmc (java mission control) for example. It is free and supports console mode .
3. Statistic of disc usage .
4. Statistic of disk cache usage.

@t

[2016-05-15 10:07] mingio commented on #6142
Ok, I'll try it today.

[2016-05-15 10:13] saeedtabrizi commented on #5671
Hi @luigidellaquila, @lvca

In my case i have a Class that contains EmpID as string value type .
---------------Employee ---------------------------------
|_EmpID_|______Name__________|
|_'001'___|______'saeed'_________|
|_'002'___|______'ali'____________|
|_'003'___|______'majid'_________|
|_'004'___|______'ahmad'________|

I  want to query the largest string value. for example  `select max(EmpID

[2016-05-15 12:49] kerner1000 commented on #6133
@laa , just read the document to reproduce.
But of course I cannot tell you how it happened to write it in the first place, sorry.

[2016-05-15 13:18] vitalytravin commented on #6124
Error in OCommandExecutorSQLLiveSelect

if (this.parsedTarget.getTargetClusters() != null) {
      final String clusterName = execDb.getClusterNameById(value.getIdentity().getClusterId());**<- always returns lowerCase**
      if (clusterName != null) {
        for (String cluster : parsedTarget.getTargetClusters().keySet()) {;**<- always returns UpperCase**
          if (clusterName.equals(cluster

[2016-05-15 16:54] sinfex commented on #5774
@maggiolo00 no, haven't tried it with 2.2-rc1.
We're not using OrientDB anymore at this point, sorry I cannot test it.

[2016-05-16 04:15] smolinari commented on #5671
It sounds like you are trying to create an auto-increment for the ids . Is this correct? If it is, is there a reason why you just don't use a regular sequence?

http://orientdb.com/docs/2.2/Sequences-and-auto-increment.html

Scott

[2016-05-16 04:55] eswaras commented on #6096
Hi lvca,
I have tried both remote and local .same issue is getting

[2016-05-16 05:44] lvca commented on #6141
Why not ;-)

[2016-05-16 05:46] lvca commented on #6096
That os graph? Please can you provide the relevant code that does this insertion in transaction?

[2016-05-16 05:52] lvca commented on #4326
This is already in the code base. Users can start using it waiting for the support on distributed (v3.0 so far) to physically assign shards as cluster+index to nodes.

About the usage is:
[code]

[2016-05-16 05:55] lvca commented on #4326
Using autosharding index on a 8 core machine (with 8 clusters per class) gives barely +50% more throughput on insertion and the same performance on lookup.

[2016-05-16 06:07] eswaras commented on #6096
Please find the below code

OrientGraphFactory factory = new OrientGraphFactory("remote:172.31.66.190/2480/ORDBS", "", "");
		OrientGraph graph = factory.getTx();

		try {

		String query1 = "INSERT INTO delears (Name,ID,Address) VALUES ('eswarareddy',21,'kadapa')";
		graph.command(new OCommandSQL(query1).execute());
		graph.commit();
		graph.shutdown();

	}
		catch(Exception e){
			System.out.pri

[2016-05-16 06:51] laa commented on #6133
Hi,
Could you explain how did you use it ?
Did you discover it after you have used database for some time or you
discovered it just after initial data load ? Did you use database in single
thread or multi threading mode ? Could you provide full log of your
database . You may find it in log directory .

вс, 15 мая 2016, 15:49 Kerner <notifications@github.com>:

--
Best regards,
Andrey Lomakin, R&D

[2016-05-16 08:07] voondo commented on #6132
@maggiolo00 I use the Java API
@luigidellaquila I agree, it was a mistake from my side but It was hard to debug with the current behavior.

[2016-05-16 08:11] voondo commented on #6119
@laa seems ok, thanks a lot !

[2016-05-16 08:11] #6119 closed

[2016-05-16 08:29] robfrank commented on #5958
Incremental restore from the inceremental backup?

[2016-05-16 08:37] luigidellaquila commented on #6124
Hi @vitalytravin

Thank you for the accurate pointer, I'm fixing it now

Thanks

Luigi

[2016-05-16 10:04] Manjiri0410 opened #6146 "OrientDB Studio UI issue - Property does not get displayed"
## Expected behavior and actual behavior

When we make any configuration changes to see the property value on the bubble, the configuration gets saved. But when we log out and log in again, though the configuration is saved, the property is not displayed on the bubble unless and until we click on the bubble and open configuration panel. Ideally, the property should get displayed on the bubble inst

[2016-05-16 10:18] maggiolo00 commented on #6146
hi @Manjiri0410

did you use the user `root` to log in?

Can you try again with the db user  `admin`

[2016-05-16 11:34] lvca commented on #6120
Do you have logs? My theory is that the first time it creates a new class in background and to do this operation, the TX is committed and restarted.

@schernolyas Could you please check it? Could you create the OrientDB class before the TX?

[2016-05-16 11:48] lvca commented on #6096
Ok, with plocal you're in the TX scope, while with remote the SQL commands are executed in the server, so out of TX scope (http://orientdb.com/docs/last/Transactions.html#breaking-of-acid-properties-when-using-remote-protocol-and-commands-sql-gremlin-js-etc)

[2016-05-16 11:49] Manjiri0410 commented on #6146
Hi,

Yes...We use admin user to login to OrientDB Studio.

[2016-05-16 12:02] saeedtabrizi commented on #5671
Hi @smolinari
Thanks for your solution .
the sequence is ideal for other case  except my problem  exactly .
in the fact i have some user that needs to have separate sequence for generate new ID  .
i tried to using sequences  but more complexity happened in my app that i leave this solution .
After all , i have a problem with sql function now really .

Thanks
Saeed Tabrizi

[2016-05-16 12:13] schernolyas commented on #6120
HI @lvca !
I attached full hibernate ogm log already. You can see file OrientDbLinkTest-output.txt. The file contains a tons of text. But You can fond usefull information by search word "insert".

JPA EntityManager can not work without transaction and throw Exception.

[2016-05-16 12:37] StarpTech commented on #5235
@luigidellaquila

[2016-05-16 12:41] lvca commented on #6120
I cannot find `must be executed outside active transaction`. When do you create the respective OrientDB classes?

[2016-05-16 12:44] schernolyas commented on #6120
@lvca Can You return to hangout?

[2016-05-16 12:59] schernolyas commented on #6120
@lvca

Copy from hangout (chat):
_______________
Luca  please find row by " 14:01:42,248 DEBUG"
it is start of orientdb transaction N 1 in connection
during transaction N1 I execute "insert" query insert into Card content {"pan":"4444"} return @rid  (at 14:01:42,244)
and at  14:01:42,233  I get result: Key: @rid (#45:-2)
and transaction N1 was commited at 14:01:42,261
and 3 rows was persisted
____

[2016-05-16 13:03] luigidellaquila commented on #6124
Fixed on both 2.1.x (next 2.1.8) and 2.2 (next 2.2 GA)

Thanks

Luigi

[2016-05-16 13:03] #6124 closed

[2016-05-16 13:08] luigidellaquila commented on #5235
Hi @StarpTech

I see it in a different way, the second statement actually succeeds. The fact that no records are updated is not a failure, it's just the expected behavior of an UPDATE when no records match the WHERE condition. See it in a different way: when you execute a simple, single statement UPDATE that does not match any records, do you expect an exception?

So the ACID compliance is guarant

[2016-05-16 13:22] schernolyas commented on #6120
@lvca
Copy from hangout
___________________________
Yes  YOu are right absolutly
And ...  How we can fix the situation?
I guess  that OrientDB  have to create persistent RecordId at once
I offer next algorithm
1) create persistent RecordId for new record during transaction and the recordid as "used"
2) if transaction commited .... then all right
3) if transaction rollbacked ... then mark the recor

[2016-05-16 13:27] StarpTech commented on #5235
ACID compliance is not a personally thing. When I talk about Atomicity then I see the whole thing and that is the transaction not a single command.

[2016-05-16 13:37] robfrank commented on #4155
On 2.2.x you can select analyzer for each field:
http://orientdb.com/docs/last/Full-Text-Index.html#analyzer

but if you are working in a multi-language environment, as @smolinari suggested, the best way is to have  different fields one for each language. There's no other way, as far a I know.

[2016-05-16 13:37] #4155 closed

[2016-05-16 13:39] luigidellaquila commented on #5235
Atomicity means that if I update three records, at the end of the transaction all the three are updated or none of them is. In this case, all the statements are correctly executed

[code]
if the third statement fails to update one of the ten records, then you have a failure and a rollback, but if the second one just does not match any records, then the statement is correctly executed, with no exce

[2016-05-16 13:41] smolinari commented on #5671
How many users? Are you running some sort of a multi-tenant system?

Scott

[2016-05-16 13:56] StarpTech commented on #5235
You view a single update command as a transaction but what is with constraints between multiple commands? E.g

[code]
When $1 or $2 failed then the transaction can not be viewed as valid. He must be rollbacked.

[2016-05-16 14:06] maggiolo00 commented on #4206
@martingg88

this should  been fixed
can you confirm that?

[2016-05-16 14:35] luigidellaquila commented on #5235
In that case nothing strange can happen, you are just creating three records, so if one of the three is not created, then there was an error.

A similar case to the original one would be

[code]

That should be the same as

[code]

In this case, if no vertices are present, then no edges should be created. Actually I think there is a specific check on CREATE EDGE, that ensures that there are valid

[2016-05-16 14:59] luigidellaquila commented on #4572
Fixed in both 2.1.x and 2.2

[2016-05-16 14:59] #4572 closed

[2016-05-16 15:07] obi1kenobi commented on #6087
Hey Luigi,

I see that version 2.1.17 came out -- congrats! Is the fix for bug included, or is it slated for a future release?

Predrag

[2016-05-16 15:12] luigidellaquila commented on #6087
Hi @obi1kenobi

No, unfortunately we could not manage to fix it, it will be in next hotfix

Thanks

Luigi

[2016-05-16 15:47] schernolyas commented on #6120
@lvca
____________________________
And it was without transaction.  I know  that OrientDB not allow change schema during transaction
About terms
Class is same a table
Entity  (is JPA term) is same data in table/class
Schema (tables/classes, indexes, sequences ans stored procedues) created during EntityManager instantiation
It occurs at this https://github.com/schernolyas/hibernate-ogm/blob/use_lin

[2016-05-16 16:25] robfrank commented on #5910
I need more details on how your doing the backup. The command, the kind of backup (plocal or remote), every detail that enable me to reproduce the problem. I guess you were using 2.1.11 from the stacktrace. Did you try with newer versions?

[2016-05-16 17:27] karel-un commented on #6101
Issue moved to pyorient:

[https://github.com/mogui/pyorient/issues/191](https://github.com/mogui/pyorient/issues/191)

Thanks for help

Karel

[2016-05-16 17:27] #6101 closed

[2016-05-17 01:14] mingio commented on #6142
Hi, after used new JVM settings -XX:+UseLargePages -XX:LargePageSizeInBytes=2m,
the memory of orientdb can always be limited below 10GB.
I run the orientdb 2 days.
I use the command 'top' to monitor the status.
The VIRT is about 10GB and the RES is about 7.8GB.
And the VIRT didn't eat more memory again.

[2016-05-17 02:26] rladha commented on #6098
Thanks Luigi!

Will you be able to give a quick jump start with as to which file shall I make changes too or create a wrapper around it or to some examples? I am not expert in Javascript but can navigate myself without any issue.

Thanks!

[2016-05-17 03:45] laa commented on #6142
HI @mingio ,
So we can close the issue ?

On Tue, May 17, 2016 at 4:14 AM mingio <notifications@github.com> wrote:

--
Best regards,
Andrey Lomakin, R&D lead.
OrientDB Ltd

twitter: @Andrey_Lomakin
linkedin: https://ua.linkedin.com/in/andreylomakin
blogger: http://andreylomakin.blogspot.com/

[2016-05-17 04:21] laa commented on #6142
That is duplicate of https://github.com/orientechnologies/orientdb/issues/5720

[2016-05-17 04:59] PhantomYdn opened #6147 "Weird issue with LINKLIST consistency"
## Expected behavior and actual behavior

Got the following error:

[code]

The problem is that this field is being modified. Probably link was broken before, but due to this error there is no way to fix the issue.
## Steps to reproduce the problem

Hard to say, but probably the following will work:

1) Create entities A and B
2) Entity A through property of type LINKLIST should reffer to B
3) Del

[2016-05-17 05:56] nsitanurag commented on #6103
Followed up on mail. There was some issue with how I was initializing the embedded server. Hence, closing this bug.

[2016-05-17 05:56] #6103 closed

[2016-05-17 06:00] nsitanurag commented on #6084
Ok. I will try and let you know.

[2016-05-17 06:13] nsitanurag commented on #6084
I am using unique_hash_index and inserting records using document api in embedded mode and not using sql commands in console. Can you try that and check?

[2016-05-17 07:01] taburet commented on #6084
@nsitanurag yes, I will check it in the embedded mode.

[2016-05-17 07:28] ivanovych666 opened #6148 "Property attributes missing in export"
## Expected behavior and actual behavior

Expected behavior is to have all property attributes in exported schema.

Actual behavior: in exported schema property attributes DEFAULT and REGEXP are missing (DEFAULT is present in 2.2.0)

## Steps to reproduce the problem

create or connect to database

[code]

then create export file

`EXPORT DATABASE /path/to/file`

or

`EXPORT SCHEMA /path/to/file`

[2016-05-17 08:08] laszlothewiz opened #6149 "Lucene doesn't create index on string fields with MAX constraint"
## Expected behavior and actual behavior
**Expected:** Lucene should create an index on all fields regardless of what constraints are on them, OR throw an error if it can't create it for some reason

**Actual:** Lucene works properly when no constraints are given for a field. When, for example MAX, constraint is added to a string field then it fails to create indexes and throws no errors

## Steps

[2016-05-17 08:20] tglman commented on #3762
Hi,

The main missing thing is the cluster selection strategy, and as well make sure that the "blob clusters" are in the distributed configuration, but that should work, to check as well the distributed flow, as today is quite targeted on ODocument, it may miss all the part specialized for blobs (with eventual class cast exception)

[2016-05-17 08:20] tglman commented on #3762
Hi,

The main missing thing is the cluster selection strategy, and as well make sure that the "blob clusters" are in the distributed configuration, but that should work, to check as well the distributed flow, as today is quite targeted on ODocument, it may miss all the part specialized for blobs (with eventual class cast exception)

[2016-05-17 08:35] tglman commented on #6132
Hi @voondo,

there are check that not allow to create two times a property with the same name and different type in the hiearchy, which version do you use and from which api did you create the property ?

Regards

[2016-05-17 08:35] tglman commented on #6132
Hi @voondo,

there are check that not allow to create two times a property with the same name and different type in the hiearchy, which version do you use and from which api did you create the property ?

Regards

[2016-05-17 08:39] luigidellaquila commented on #6147
Hi @PhantomYdn

I tried to reproduce the problem with this code, but it seems to work fine:

[code]

Can you please suggest a way to reproduce it?
(I also tried via SQL, still no errors...)

Thanks

Luigi

[2016-05-17 08:47] maggiolo00 commented on #6149
hi @laszlothewiz

just tested on orientdb 2.1.16 using your script with studio and it worked.

You are using it in embedded mode right?

If you try it in server mode does it work?

[2016-05-17 08:54] voondo commented on #6132
Hi @tglman, I use the current develop branch with the Graph Java API (i.e `OrientVertexType.createProperty`)

[2016-05-17 09:04] laszlothewiz commented on #6149
I'm not sure what the embedded or server mode means. I selected the option that made sense to me out of the 3 choices.

I downloaded the Windows installation and running it without any configuration change. Using the Studio in my browser.

[2016-05-17 09:07] mindnuts commented on #6104
@lvca Any updates, sorry if this sounds rude..i need to setup distributed orientdb for one of my side projects.

[2016-05-17 09:26] tglman commented on #6133
hi @kerner1000,

can you run on your database `select from #0:1` and post the result json here, or in a gist, is really important for us for debug properly, be aware that that json result is your schema informations.

Regards

[2016-05-17 09:40] jfernandezrico commented on #5910
Hello robfrank. I just upgraded to 2.1.17 and I get the same error. I think it's because of the Lucene Indexes.
My backups are configurated within the orientdb-server-config.xml:

[code]

2016-05-17 11:35:05:302 INFO  {db=sftech} error: java.io.IOException: El proceso
 no tiene acceso al archivo porque otro proceso tiene bloqueada una parte del archivo [OAutomaticBackup$1$2]{db=sftech} Cannot comp

[2016-05-17 09:51] kerner1000 commented on #6133
`{
    "result": [
        {
            "@type": "d",
            "@rid": "#0:1",
            "@version": 91,
            "schemaVersion": 4,
            "globalProperties": [
                {
                    "@type": "d",
                    "@version": 0,
                    "name": "name",
                    "type": "STRING",
                    "id": 0
                },

[2016-05-17 09:52] schernolyas commented on #6120
Hi @lvca !

Have You any questions about the problem?

[2016-05-17 10:40] luigidellaquila commented on #6087
Hi @obi1kenobi

I just pushed a fix on 2.1.x and develop, the fix will be available in next 2.1.18 and 2.2 GA

Thanks

Luigi

[2016-05-17 10:40] #6087 closed

[2016-05-17 10:52] tglman commented on #6143
hi @Ostico,

I update the documentation for the version 34, 35, 36. for the version 33 be aware that the main difference is that the DB_TYPE String has been removed, as reported here: http://orientdb.com/docs/last/Network-Binary-Protocol.html#version-33

in case try to use the version 32.

hope it help, in any case feel free to contact me direcly so we can speed up any troubleshooting.

[2016-05-17 11:16] robfrank commented on #6134
Which version are you using? On 2.2.x I've implemented the check and create even for remote db.

[2016-05-17 11:24] saeedtabrizi commented on #5671
@smolinari
Yes , we working to develop cloud services for our customers .

Saeed

[2016-05-17 11:30] smolinari commented on #5671
Ok. I've also been looking at the possibilities with ODB and multi-tenancy and we will be going with dedicated databases for bigger customers. On the other hand, smaller customers and the sandboxes and demo environments will be using a hybrid system, where we'll included multiple tenants per database. However, we will still be dedicating the classes to each customer, so sequences can be used. In o

[2016-05-17 11:55] tglman commented on #6133
hi @kerner1000,

I just read now that you can send us the db, that will be realy helpful, and actually from the debugging i've done til now it seems that we need it.

Regards

[2016-05-17 12:22] kerner1000 commented on #6133
Hi @tglman , you can download the db [here](http://silico-sciences.com:8000/d/d5b68a172e/
).

[2016-05-17 12:42] fortu-nato opened #6150 "Corrupt state of distributed cluster when frozen db gets a write and then is released."
## Expected behavior and actual behavior

In a distributed cluster with 2 nodes (node A and node B) when node A is frozen and receives a write the client gets an error and B does not get a write; so far so good. When A is released the write goes through!!! but B gets no write, thus the cluster is in a corrupted state.
Expected behavior is: after A issues an error to the client, the write should ne

[2016-05-17 12:58] robfrank commented on #5910
Hi, I can't replicate the problem, it seems related to windows. I don't have a windows box to test. I'll retry on windows in a few days.

[2016-05-17 13:02] tglman commented on #6108
hi @federicovindigni,

how do you manage the dependencies ? it seems you miss the concurrentlinkedhashmap-lru jar, that is in the maven dependencises of orientdb-core.

Regards

[2016-05-17 14:12] fortu-nato opened #6151 "Different @version for same entity in different nodes of distributed cluster when one of them is temporarily frozen."
## Expected behavior and actual behavior

In a distributed cluster with 2 nodes (node A and node B) when node A is frozen and B receives a create command which goes ahead in B; so far so good. However, when A is released the write goes through BUT the version of the created entity A is higher than that of the one in B. The longer the freeze is the higher the version of the entity in A. This entity

[2016-05-17 14:22] barabaszsolt commented on #5350
@maggiolo00 you can close this. We don't use LUCENE index anymore for question search.

[2016-05-17 14:22] #5350 closed

[2016-05-17 14:28] #5791 closed

[2016-05-17 14:28] robfrank commented on #5791
If you use docker, a better way is to derive your image from the official one: https://hub.docker.com/_/orientdb/

[2016-05-17 15:44] tglman commented on #6104
i fixed the ip resolution making is going to be released in  2.2 final

Closing

[2016-05-17 15:46] jCalamari commented on #3501
I was able to trace down this issue. In my case, `OScriptManager:85` was looking up javascript enginee (which seems to be default) and it could not find it. In `OScriptManager:87` logs a warning which at some point calls 'ODatabaseRecordThreadLocal:31', which return null and now things start to get messy.. I simply disabled warning level: `OLogManager.instance().setWarnEnabled(false)` and applicat

[2016-05-17 16:27] natemurthy commented on #6109
@taburet Working with my ops guy to get those data. We're using Ubuntu 14.04.2 LTS (GNU/Linux 3.13.0-48-generic x86_64). OrientDB on this machine is configured with:
`OrientDB auto-config DISKCACHE=1,024MB (heap=880MB os=3,952MB disk=12,677MB)`

[2016-05-17 16:57] SDIPro opened #6152 "SQL Query That Returns The Names of the Clusters for a Class"
We need a SQL query that can return the names of the clusters that are associated with a class.

[2016-05-17 17:28] lvca commented on #6125
Documentation updated.

[2016-05-17 17:28] #6125 closed

[2016-05-17 17:38] lvca commented on #3501
@jCalamari why OrientDB instance is null in your case? How your app is started?

[2016-05-17 17:43] lvca commented on #5697
Which error? Please report it.

[2016-05-17 17:46] schernolyas commented on #6120
Hi @lvca !

Have You any questions about the problem?

[2016-05-17 17:54] #5401 closed

[2016-05-17 17:54] lvca commented on #5401
Closing this issue because there is no way to reproduce it. All other users on AWS don't report such problem. In case anybody is experiencing the same problem, please reopen/comment it.

[2016-05-17 18:48] federicovindigni commented on #6108
Thanks for the reply.
Sincerely I don't know about concurrentlinkedhashmap-lru. My development enviroment is very straightforward: I downloaded eclipse as is, same for orientdb and jdk (I don't use maven). Then I set the latter as default jdk in eclipse config. Finally I created a new java project, including the external jars orient-core, orient-client and orient-enterprise from orientdb lib, and

[2016-05-17 21:10] jCalamari commented on #3501
@lvca I was very surprised it was null. I am running gremlin-orient 3.1.1-incubating.1 (orient 2.12.2) as service in docker container.

[2016-05-18 02:00] lvca commented on #6108
Updated docs: http://orientdb.com/docs/last/Document-Database.html#

[2016-05-18 02:00] #6108 closed

[2016-05-18 02:17] siamJA opened #6153 "Unable to import DB with record containing a property of type ANY"
I attempted to import (via Java: ODatabaseImport) a previously exported db. Within the db is a class that contains a property of type ANY. The exported db contains a record of this class that has saved a boolean for that property i.e. false.

I imported by:

[code]

The exception occurs within ODatabaseImport.importRecord()
`Type ANY does not support converting value: false`

Debugging further sho

[2016-05-18 05:37] vovagp opened #6154 "REST auth: 2.2 vs. 2.1"
2.2:
* wait 15 seconds
* headers
[code]
[code]

2.1
[code]
[code]

[2016-05-18 06:38] #6149 closed

[2016-05-18 06:38] robfrank commented on #6149
Even for me it works fine on studio.

[2016-05-18 07:04] luigidellaquila commented on #6154
Hi @vovagp

Thank you for reporting, we know about this last-minute issue and we are working to a fix

Thanks

Luigi

[2016-05-18 07:49] amyth commented on #1552
I am facing the same issue even when I try connecting to a `plocal` database. Following is the command I use
`orientdb> connect plocal:/tmp/db/konn admin admin
`
and following is the response in console.

[code]

[2016-05-18 08:08] saeedtabrizi commented on #5671
@smolinari Thanks for your guides .
so recommended solution for bigger customer in cloud environment is separating the databases in OrientDB.
A painful issue in this solution is maintenance

Thanks
Saeed Tabrizi

[2016-05-18 09:24] maggiolo00 commented on #6154
Fixed

https://github.com/orientechnologies/orientdb/commit/2ad391a42cfcf22c4cbb4739f65e88524a67c891

[2016-05-18 09:24] #6154 closed

[2016-05-18 09:55] luigidellaquila commented on #3683
Hi @orangemug

This issue was fixed long time ago, I'm closing this.
Please reopen if you see any other problems

Thanks

Luigi

[2016-05-18 09:55] #3683 closed

[2016-05-18 10:16] healiseu opened #6155 "Problem with out() function when you combine it with the name of edge using underscore characters and dot syntax"
### Steps to reproduce the problem

#### Create a graph database with lightweight edges
[code]

#### Create Classes and Properties

[code]

#### Create Nodes
[code]

At this step 17:0, 18:0, 19:0, 20:0 have been created and they are linked to
14:0, 14:1, 15:0, 16:0 respectively

#### Create Edges
[code]

#### Query
[code]

#### Problem
[code]

#### Is that a Bug ?
....when you combine out() functi

[2016-05-18 10:57] #82 closed

[2016-05-18 10:57] robfrank commented on #82
OLD STUFF. Lucene integrated,

[2016-05-18 11:13] smolinari commented on #5671
I am not sure what you mean. The maintenance is at server level, not at database level. Or do you mean schema updating as maintenance?

Scott

[2016-05-18 11:18] idans-ybrantdigital-com commented on #5980
Hi

Any plans to push this fix in the near future ?

10x

[2016-05-18 11:21] tglman commented on #6133
hi @kerner1000,

We got the database and we identified the broken record, now we are trying to understand the root cause of this problem, a couple or thing that may help as on the investigation, did you use Tx or noTx for do operation on the database? did you disable the wal or used any tooning like massive insert intent ?

we will try to come back as soon as we have info.

Regards

[2016-05-18 11:22] saeedtabrizi commented on #5671
actually database level maintenance like the schema updating , migration or etc operations .

[2016-05-18 11:39] smolinari commented on #5671
Yes. This is where I believe going "no sql" or rather schemaless wins out. If you you leave the schema at application level, you shouldn't need to worry about schema at the database level. I know there are also pros and cons to this, but it is how we are planning to make the database per tenant infrastructure work. Also, our "core" system will have very little in the form of its own schema. The re

[2016-05-18 11:42] lvca commented on #6148
This fix is in conflict with other parts. I'm sorry I have to postpone it.

[2016-05-18 11:43] lvca commented on #1552
@amyth what release are you using?

[2016-05-18 11:50] kerner1000 commented on #6133
HI,
I use instances of `ODatabaseDocumentTx` but no explicit transactions. Also no intents used.
Best

[2016-05-18 11:57] amyth commented on #1552
I am at v2.1.17. Guess it was just a corrupt db (most probably happened while import data from graphml file). I dropped that database and created a new one and all work absolutely fine now.

[2016-05-18 12:51] tglman commented on #3823
merged the relative pull request, closing

[2016-05-18 12:51] #3823 closed

[2016-05-18 13:04] tglman commented on #4830
Hi,

From my point of view we should not allow the user to be renamed, like on any other database engine if you want change the username you create a new user with the new username assigning the same roles, and you drop the old one.

does this point of view make sense to you ?

In case we have just to block the rename of the user makeing the property name readonly.

bye

[2016-05-18 13:22] lucevers commented on #6134
Version:
orientdb-community-2.1.16

[2016-05-18 13:34] lvca commented on #1552
Ok, thanks for the report.

[2016-05-18 13:59] #4633 closed

[2016-05-18 13:59] tglman commented on #4633
add a check for interruption while buffering respone, now this case should not be possible.

[2016-05-18 14:54] PhantomYdn commented on #4830
@tglman , I can't agree with you:
1) RDBMS do allow to rename users: [MySQL](http://dev.mysql.com/doc/refman/5.7/en/rename-user.html), [PostgreSQL](http://www.postgresql.org/docs/8.0/static/sql-alteruser.html), [Oracle](http://www.dba-oracle.com/t_rename_user_schema_owner.htm) has some troubles with that, but it also possible.
2) I might agree if OrientDB is simple DB. But fortunately, OrientDB  p

[2016-05-18 15:01] mingio commented on #6142
Hi, 5 days， the memory keep increasing. The os has only 200M left.
Result of top command:
top - 22:55:47 up 5 days,  7:06,  2 users,  load average: 0.26, 0.15, 0.14
Tasks: 136 total,   1 running, 135 sleeping,   0 stopped,   0 zombie
%Cpu(s):  3.7 us,  2.2 sy,  0.0 ni, 81.8 id, 11.5 wa,  0.7 hi,  0.0 si,  0.2 st
KiB Mem:  16433080 total, 16183996 used,   249084 free,   167436 buffers
KiB Swap:

[2016-05-18 15:04] #5781 closed

[2016-05-18 15:07] tglman commented on #5682
closing was  fixed

[2016-05-18 15:07] #5682 closed

[2016-05-18 15:11] tglman commented on #5614
can we close this ?

[2016-05-18 15:22] StarpTech commented on #5091
@maggiolo00 i'm afraid not!

Sorry @tglman @luigidellaquila @lvca  but I can't believe it. I kept trying in vain since two months and now I can determine a big issue or in other word mistake in the implementation of return literals in the binary driver.

OrientJs 2.1.11

[code]

Result:
[code]

Related:
http://www.prjhub.com/#/issues/5723

https://github.com/orientechnologies/orientdb/issues/5091

[2016-05-18 15:24] tglman commented on #5084
done, now are lightweight and instance the collection listeners list only on add.

[2016-05-18 15:24] #5084 closed

[2016-05-18 15:26] tglman commented on #4964
fixed long time ago, is a duplicate, closing

[2016-05-18 15:26] #4964 closed

[2016-05-18 15:28] tglman commented on #4708
Old issue, closing

[2016-05-18 15:28] #4708 closed

[2016-05-18 15:44] tglman commented on #5094
is it this still valid ? i think has been fixed long time ago

[2016-05-18 15:49] maggiolo00 commented on #5091
@StarpTech

what do you get if you execute this on studio?

[code]

[2016-05-18 15:50] tglman commented on #5259
hi @Vannav,

The issue here i think is that using streaming you are jumping to another thread that does not have the associated the database, if you do a normal for with a toJSON everything will work, we are going to solve some of this thread problem in orientdb 3.0

[2016-05-18 15:50] #5259 closed

[2016-05-18 15:55] maggiolo00 commented on #5934
@saeedtabrizi

i've merged the PR in master and released npm orientjs 2.1.17-beta

can you confirm that is solved?

[2016-05-18 15:56] maggiolo00 commented on #5652
@autosoftteam

did you manage to solve this?

Do you still need help?

[2016-05-18 15:57] maggiolo00 commented on #1486
@dvv
No there is no way to disable basic header.

[2016-05-18 15:57] #1486 closed

[2016-05-18 16:02] tglman commented on #4073
this was long time ago, probably and issue with low level record persistence and pages management, probably already fixed, forwarding to @laa  for double checking

[2016-05-18 16:07] StarpTech commented on #5091
@maggiolo00 In Studio I get the correct result set.

[2016-05-18 16:13] maggiolo00 commented on #3834
Seems to be resolved in the latest version. I'm closing this
BTW in OrientDB 2.2 Workbench will be dismissed and most of the feature ported in OrientDB Studio

[2016-05-18 16:13] #3834 closed

[2016-05-18 16:16] maggiolo00 commented on #4206
@martingg88

i'm closing this. If you still have problem with this issue, you can reopen it

[2016-05-18 16:17] #4206 closed

[2016-05-18 16:20] maggiolo00 commented on #4608
You can use a custom analyzer. Just add into the classpath (libs) directory and then configure it like described here
http://orientdb.com/docs/last/Full-Text-Index.html

[2016-05-18 16:20] #4608 closed

[2016-05-18 16:21] maggiolo00 commented on #5029
+1

[2016-05-18 16:23] maggiolo00 commented on #5227
@StarpTech

do you still need help on this issue?

[2016-05-18 16:25] maggiolo00 commented on #5091
Can you post it here?

[2016-05-18 16:34] luigidellaquila commented on #5641
Problem fixed in v 2.2,  `;` is not accepted as a valid property name.

Closing

Luigi

[2016-05-18 16:34] #5641 closed

[2016-05-18 16:40] StarpTech commented on #5091
[code]

[2016-05-18 16:40] tglman commented on #3447
this is a really old issue, it should not happen anymore, closing, reopen if you are able to reproduce.

[2016-05-18 16:40] #3447 closed

[2016-05-18 16:42] maggiolo00 commented on #5091
@StarpTech

those are empy array. If you try orientjs 2.1.17-beta you should see those well deserialized as i wrote you in prjhub

[2016-05-18 16:42] maggiolo00 commented on #5091
if you confirm this i can promote the fix and release 2.1.17

[2016-05-18 16:46] tglman commented on #5433
closing as not valid, we are going to change the client architecture in 3.0 anyway

[2016-05-18 16:56] tglman commented on #6048
hi @Cowby,

I suppose you can create a new property of type embedded set, and write a procedure in java(or any other language that you use), that read the field, do the conversion, fill the new field, remove the old one.
this can be done  in java:
[code]

[2016-05-18 17:27] StarpTech commented on #5091
@maggiolo00 good news it works like expected.

[2016-05-18 17:29] StarpTech commented on #5091
I couldn't know that a new version was released. You did it 2 hours ago ^^

[2016-05-18 17:31] jillray7 commented on #4287
@shlapkov @rickcole3 Do you guys have thoughts on the comments above related to this enhancement request?

[2016-05-18 19:08] publicocean0 commented on #5614
Hi sorry if I can t answer in this period . I m working in another project very hard. No time. I will write asap. You can close if you want eventually I will reopen

[2016-05-18 20:51] jCalamari commented on #3501
Pretty much the same is described here:
https://github.com/orientechnologies/orientdb/issues/5855

[2016-05-19 03:09] lvca commented on #5614
Closing it, in case reopen it. Thanks.

[2016-05-19 03:09] #5614 closed

[2016-05-19 04:35] vovagp opened #6156 "[2.2.0] REST: Bad description of the error for nonexistent class"
[code]

[2016-05-19 04:57] chaitanyachuri commented on #6116
Hi @laa and @lvca . Thank you for your replies.
We tried using the 2.2 rc1 but after we installed that, we couldn't even open up OrientDB Studio to log into our databases. The GUI wouldn't open up. When we downgraded back to 2.1.11, the Studio UI came back. So I couldn't even test my imports. Is this a known issue?
I'm a little apprehensive about relying on an RC version to develop my work if I ca

[2016-05-19 05:16] PhantomYdn opened #6157 "Multiple issues with OrientDB 2.2.0 in embedded mode"
Let me use this issue for resolving some issues related running OrientDB in embedded mode which is required for [Orienteer](https://github.com/OrienteerDW/Orienteer).

1) Server is not properly shutting down. Probably something missing please advise. But in log of [wicket-orientdb](https://github.com/OrienteerDW/wicket-orientdb) testing it's pretty common to see: https://gist.github.com/PhantomYdn

[2016-05-19 05:48] PhantomYdn commented on #6157
4) There is the following code:
[code]
In 2.1.17 `obj` was of a type ODocument, but in 2.2.0 it's ORecordId. If it's lazy loading: is there some useful methods to "discharge laziness"?

[2016-05-19 06:03] PhantomYdn commented on #6157
5) Hooks are working not as expected.
There is the following hook:
[code]

And the following testcase is failing:

[code]

Hook registered properly.
P.S. It's old wicket-orientdb compatibility test: https://github.com/OrienteerDW/wicket-orientdb/blob/master/wicket-orientdb/src/test/java/ru/ydn/wicket/wicketorientdb/TestHook.java which were fine before jumping to 2.2.0

[2016-05-19 07:33] lvca commented on #6116
Please try 2.2.0 GA

[2016-05-19 07:55] laszlothewiz commented on #6149
Sorry. Somehow my installation must have gotten corrupt. It was doing it each time for me.

[2016-05-19 09:35] lvca opened #6158 "MATCH: add return $elements"
It's missing this keyword to display the MATCH result in studio as graph.

[2016-05-19 10:02] robfrank commented on #4879
hi, on 2.2.0 it works fine, while in 2.1.x it doesn't works due to the fact that you are implicitly querying the index inside a transaction. You can fix it with a call to commit before execute the query:
[code]

[2016-05-19 10:02] #4879 closed

[2016-05-19 10:31] maggiolo00 opened #6159 "Enterprise Backup with Incremental"

[2016-05-19 10:32] wolf4ood opened #6160 "Enterprise Backup with Differential Backup"

[2016-05-19 10:33] maggiolo00 opened #6161 "Enterprise Point in Time Restore"

[2016-05-19 11:11] taburet opened #6162 "SQL queries executor should consider @class WHERE clauses while resolving indexes"
For queries like `select from V where @class='Person' and name='foobar'` no Person indexes are considered while searching for applicable indexes. We should try narrow down the possible document class and examine its indexes while executing the query.

[2016-05-19 11:20] robfrank commented on #4151
impemented in 2.2.1-SNAPSHOT with a dedicated metadata flag:
[code]

HANDLE WITH CARE!

[2016-05-19 11:20] #4151 closed

[2016-05-19 11:22] amyth opened #6163 "source record is not a vertex"
## Expected behavior and actual behavior
I am using the `script sql` command in the console to run a batch query that `selects` a `Person` vertex then `selects` an `Email` vertex and then creates an edge `HAS` from person to email. When I run the command I get the following error.

[code]

## Steps to reproduce the problem
[code]
## Important Questions
As far as I know both `Person` and `Email` ar

[2016-05-19 11:24] robfrank commented on #4882
lucene analyzee are fully configurable in 2.2.0: http://orientdb.com/docs/last/Full-Text-Index.html#analyzer

[2016-05-19 11:24] #4882 closed

[2016-05-19 11:30] smolinari commented on #4151
@robfrank - why handle with care?

Scott

[2016-05-19 11:41] smolinari commented on #6162
Hey Sergey. In general and for my knowledge, (and after reading this page: http://orientdb.com/docs/2.1/Indexes.html) if I run a query on an indexed property (but not using the index in the query), will ODB still use that index automatically? Or do I have to actually always query the index to get a faster result? I know that may sound like a stupid question, but I truly am uncertain.

Scott

[2016-05-19 11:47] taburet commented on #6162
ODB will try to use the best index possible if you use queries like `select from SpecificClassHere where...`. This issue is applicable only if you use queries with no specific class specified and later filters by the class in `where` clause using `@class`. So, the answer is yes, ODB will use the index on indexed properties, there is no need to specify the concrete index.

[2016-05-19 11:55] smolinari commented on #6162
Yeah, sorry for sidetracking the issue. It just reminded me of my uncertainty on index usage. Thanks for answering.

And if I may ask one more question, if ODB does use the (best) index, what purpose is there in querying the index directly? I mean, if I have a query, and it only projects for the fields in the index, then I should get a direct response from the index, without ODB digging for data i

[2016-05-19 11:56] austx opened #6164 "OrientDB 2.2.0 ETL"
## Expected behavior and actual behavior
ETL with dbUser/dbPassword  returned:
"ERROR please provide server administrator credentials",
 oetl.sh ended after listing several java errors.

added serverUser/Password (keeping dbUser/Pwd) to json file - then OK

## Steps to reproduce the problem
run oetl.sh w/someconfig.json

## Important Questions
Has this changed from 2.1.17?

### Runninng Mode
- [ ]

[2016-05-19 12:09] taburet commented on #6162
Yes, you are right. If you want to squeeze all the performance possible from ODB, you may query the index directly, that will not load the actual records, just return the RIDs of them. You may even try to populate indexes manually, if you see benefits from doing so :)

[2016-05-19 12:10] tglman commented on #6157
@PhantomYdn,

Thank you for remporting this, very usefull, we will look at it ASAP

[2016-05-19 12:36] smolinari commented on #6162
Right. Though, I don't understand the choice. If ODB can use an index and it could possibly reply to the query directly from the index (i.e. the projected fields requested are the same fields in the index), then the user shouldn't really need any separate queries on the index. Right? ODB could simply return the index(ed) query result (without any record lookups).

But, as I understand it, the user

[2016-05-19 12:38] robfrank commented on #4151
Enabling this will slow down the search.  That's all. Use only if you know what you are doing.

[2016-05-19 12:46] taburet commented on #6109
Actually the `elapsed` and `fetchingFromTargetElapsed` are measured in milliseconds, not seconds. Query time of 14ms is quite acceptable, on my machine it also takes about 15ms to fetch 2000 records from local database. So the rest is networking/serializing/deserializing time.

Please try to run the same queries directly on the server machine, using the `remote:` connection from the OrientDB conso

[2016-05-19 12:52] taburet commented on #6162
Scott, let me check the source code, maybe projected properties are already handled the way you described. I'm just a man, I don't know everything ;)

[2016-05-19 13:24] taburet commented on #6162
Have traced the `select name from Foo where name='bar'` query with index on `Foo.name`. The record is fully loaded even if we have all the data on hands just from the index call. Scott, feel free to open an issue describing all your thoughts, wishes and pains on the subject :D

[2016-05-19 14:24] tglman commented on #5980
the target is 3.0

[2016-05-19 15:12] kumarkshiva opened #6165 "server.bat in orientDb 2.2.0"
## Expected behavior and actual behavior
server.bat when run on windows fails with below error
Invalid maximum direct memory size: -XX:MaxDirectMemorySize=512g
The specified size exceeds the maximum representable size.
Error: Could not create the Java Virtual Machine.
Error: A fatal exception has occurred. Program will exit.

## Steps to reproduce the problem
run server.bat

## Important Questions

[2016-05-19 15:23] luigidellaquila commented on #6148
Fixed in develop branch (2.1.1)

Thanks

Luigi

[2016-05-19 15:23] #6148 closed

[2016-05-19 16:24] maggiolo00 commented on #6163
Can you check in the schema if Person has V as superclass ?

[2016-05-19 16:32] amyth commented on #6163
![Vertex](http://www.techstricks.com/wp-content/uploads/2016/05/Screen-Shot-2016-05-19-at-9.57.18-pm.png)

Just checked. Both `Email` and `Person` has `V` as their superclass.

[2016-05-19 16:48] maggiolo00 commented on #6163
@amyth

i think the problem is the $user  variable. It is used in ODB in the context of the batch script to track the current user.

Try to use `$person` and tell me if it works

[2016-05-19 16:54] taburet commented on #6084
Tested on 2.1.16 and develop branches, no exceptions:

[code]

Please make it fail.

[2016-05-19 16:57] amyth commented on #6163
I see. If I change the variable name to person, I get the following error:
[code]
![Error](http://www.techstricks.com/wp-content/uploads/2016/05/Screen-Shot-2016-05-19-at-10.26.15-pm.png)

[2016-05-19 17:03] maggiolo00 commented on #6163
@amyth

that is because $email is from update.

try with select on email or use

[code]

[2016-05-19 17:17] amyth commented on #6163
@maggiolo00 Yes absolutely. Though I used the following (with upsert) as i needed  `create or update`.
[code]

Thanks so much for your quick responses and help.

[2016-05-19 17:17] #6163 closed

[2016-05-19 17:28] lvca commented on #6165
@kumarkshiva 500mb is too low. You need few GB at least.

[2016-05-19 18:14] lucevers commented on #6134
Installed new Orientdb version 2.2.0

Now I have another problem: Unable to manage remote db without server admin credentials.
See also #6164

[2016-05-19 19:49] smolinari opened #6167 "[suggestion] Have the query optimizer use indexes fully i.e. covered queries."
Hi,

Continuing from this (albeit hijacked) [discussion](https://github.com/orientechnologies/orientdb/issues/6162#issuecomment-220315074). (Thanks @taburet für your patience) I'd like to suggest the following.

It would be a simplification for the user and an optimization of the querying system in ODB, if a query that can be returned by an index (covered query), only use the index. In other words

[2016-05-19 19:51] smolinari commented on #6162
Thank Sergey. I've created an issue with the suggestion. Sorry again for hijacking this issue.

Scott

[2016-05-19 21:29] robfrank commented on #6134
To create a new db on a remote orient it is supposed to use the server admin credentials. There's not other way. If the database is present, you don't need them and ETL works fine.

[2016-05-19 21:34] robfrank commented on #6164
As stated in the documentation (http://orientdb.com/docs/last/Loader.html#orientdb-loader) if you want ETL to create a db on a remote server you must provide server admin credential AND database credentials. If the db was created (by studio or console) before, you need to provide only db credential.
The ability to create a database on remote db is present only from 2.2.0.

[2016-05-19 21:34] #6164 closed

[2016-05-19 21:44] natemurthy commented on #6109
@taburet Ok gotcha. I'll try running these queries locally on the server machine and see what performance I get.

[2016-05-20 00:30] natemurthy commented on #6109
@taburet Here's what I see when I directly query the records on the machine running our OrientDB server:
[code]
Observed slowness must certainly be a result of serializing this large result set over our networks.

[2016-05-20 03:34] Manjiri0410 commented on #6110
What is the meaning of Question label? Do you need any more information / details?

[2016-05-20 04:42] andreyvk commented on #4151
@robfrank thanks! This is great news.

[2016-05-20 05:06] ninesunqian commented on #4879
Sorry, my project is stopped. So I did not use OrientDB for long time.
Now I just pick up this work. But I need some time to test the bug.

[2016-05-20 05:45] Uditmittal commented on #3392
Hello Team,
i still get this error With  v2.0
Connecting to database [remote:localhost/tikali] with user 'root'...
2016-05-20 05:38:07:563 WARNING {db=tikali} segment file 'database.ocf' was not closed correctly last time [OSingleFileSegment]
2016-05-20 05:38:07:816 WARNING {db=tikali} Storage tikali was not closed properly. Will try to restore from write ahead log. [OLocalPaginatedStorage]
2016-0

[2016-05-20 06:01] PhantomYdn commented on #4575
Any thoughts about this one? Probably it's expected to be fixed in 2.2.0? Unfortunatly can't test by myself due to some bugs in 2.2.0

[2016-05-20 06:24] NLPScott opened #6168 "the orientdb server performance"
## Expected behavior and actual behavior
   I use orientdb 2.1.16，and when I start the orientdb server, the cpu will be very high , and I set the -XMX=5120M -XMS=5120M，the count of node is about 13K，but query search is frequent

## Steps to reproduce the problem

## Important Questions

### Runninng Mode

- [ ] Remote

### Misc
- [ ] I'm using the Community Edition

### OrientDB Version
- [ ] v2.1

[2016-05-20 06:33] kumarkshiva commented on #6165
in the server.bat, which is the installer script provided by orientDB, it is a mentioed as MaxDirectMemorySize=512g .
This option better to be be changed as MaxDirectMemorySize=512m or more .
It can be user defined variable also instead of 512gb.

If put as 512 gb, installation fails.

[2016-05-20 06:56] ghatwala opened #6169 "Getting test cases failure : SEVERE: Unable to determine the amount of installed RAM"
## Expected behavior and actual behavior
Test cases are failing with error in module "OrientDB Core "
[code]

## Steps to reproduce the problem
[code]

## Important Questions
[code]
[code]

### Runninng Mode
- [ ] Embedded, using PLOCAL access mode
- [ **SELECTED**] Embedded, using MEMORY access mode
- [ ] Remote

### Misc
- [ ] I have a distributed setup with multiple servers. How many?
- [ ] I'm

[2016-05-20 07:02] ghatwala commented on #6169
Adding more information ...
[code]
Any pointers to resolve this issue will be helpful.

[2016-05-20 07:06] robfrank commented on #4879
At this point, my suggestion is to switch to 2.2.0.

[2016-05-20 07:07] fortu-nato commented on #6150
Hi Luca,
do you have more info about this?
With this bug and [this one](https://github.com/orientechnologies/orientdb/issues/6151) it feels very risky to distribute our db.

[2016-05-20 07:13] taburet commented on #6168
Do you run queries when CPU usage is high? Or it's just high on idling?

[2016-05-20 07:28] ghatwala commented on #6169
Additionally attaching debug log file which was missed earlier.
[debug.txt](https://github.com/orientechnologies/orientdb/files/274098/debug.txt)

[2016-05-20 07:59] #6109 closed

[2016-05-20 08:00] NLPScott commented on #6168
@taburet  no queries the cpu is low , when run the queries the cpu is very high

[2016-05-20 08:07] taburet commented on #6168
That is a normal situation, I think. Usually, if database consumes a lot of CPU on queries this means it is not disk IO bounded. Could you please measure a number of queries executed per second to confirm that there is no problem.

[2016-05-20 08:16] NLPScott commented on #6168
@taburet  my pc configuration : processor is 24,the total mem is 32G,the number of node is 12K,when I run the queries (I will seach each node in random),the cpu is  1000%

[2016-05-20 08:17] NLPScott commented on #6168
@taburet  should I set the  ORIENTDB_OPTS_MEMORY="-Xms5120m -Xmx5120m"   MAXDISKCACHE="-Dstorage.diskCache.bufferSize=8192"

[2016-05-20 08:18] taburet commented on #6168
Under nodes you mean nodes of the distributed server or vertexes in the database?

[2016-05-20 08:19] NLPScott commented on #6168
@taburet  no distributed server, only a single server

[2016-05-20 08:20] NLPScott commented on #6168
@taburet  the node is vertex

[2016-05-20 08:30] taburet commented on #6168
I suggest you to measure the number of queries executed per second and inspect your indexes if there are any. Your memory settings are really high, so all the data sits in the caches. You must be able squeeze all the possible performance from database under this configuration and performance needs CPU power to run the queries as fast as possible. But CPU power may be wasted if you have no indexes.

[2016-05-20 08:35] NLPScott commented on #6168
@taburet  oh ,I will set the Index,and record the qps, I run the queries in parallel,and the mem is 18%

[2016-05-20 08:42] taburet commented on #6168
Feel free to provide the query examples and I will suggest the indexes it may benefit from.

[2016-05-20 08:44] ray3888 commented on #6093
upgraded to 2.1.16 two days ago, enabled distributed mode, and changed from noTx to Tx just in case,  works well up to now.

[2016-05-20 09:05] lucevers commented on #6134
Does this means that I don't need to send:

"dbUser": "admin",
"dbPassword": "admin"

?

[2016-05-20 09:08] ray3888 opened #6170 "error "Found unknown session xx""
Found a lot of following errors in server log at peak hours:

com.orientechnologies.common.io.OIOException: Found unknown session 814
        at com.orientechnologies.orient.server.network.protocol.binary.ONetworkProtocolBinary.onBeforeRequest(ONetworkProtocolBinary.java:240)
        at com.orientechnologies.orient.server.network.protocol.binary.OBinaryNetworkProtocolAbstract.execute(OBinaryNetwor

[2016-05-20 09:10] Jotschi opened #6171 "Clearing OrientDB 2.2.0-rc1 for tests leads to NPE's"
## Expected behavior and actual behavior

We are currently clearing our OrientDB 2.1.7 embedded in-memory db for unit tests using OrientGraphNoTx#drop().

In 2.2.0-rc1 this is now effectively closing the internal OrientDB storage and thus setting all storage references to null. Further calls (using 2.2.0-rc1) would now cause NPE's since "storage" is null.

[code]

## Steps to reproduce the problem

[2016-05-20 09:26] lucevers commented on #6134
So In my case the database + the class is already present.The ETL tool only needs to load the data.

[2016-05-20 09:27] NLPScott commented on #6168
@laa  what do you think of this performance?

[2016-05-20 09:46] taburet commented on #6094
Sorry @nsitanurag, ran out of ideas how to narrow down this problem. Do you get the same executed twice behaviour with other commands? Do you run the console on your local machine or you SSHing to remote one and run the console on it?

[2016-05-20 10:14] mamoit opened #6172 "console: export schema but no import schema"
## Expected behavior and actual behavior
There is a console command `export schema`, but there is no `import schema` available.

## Steps to reproduce the problem
1. `export schema` in one database
2. try to import it in another fresh one, but how?

## Important Questions
What's the answer to life, the universe, and everything?

### Runninng Mode
- [x] Embedded, using PLOCAL access mode
- [ ] Embe

[2016-05-20 10:17] tglman commented on #6093
hi @ray3888,

Great, can we close this now ?

[2016-05-20 10:33] amyth opened #6173 "Edge's in and out properties not set properly."
## Expected behavior and actual behavior
I am trying to create an edge `KNOWS` between `Person` and `CustomUser` vertexes. CustomUser vertex has `Person` as its superclass. I am trying to do this using a batch script as follows.
[code]
It seems like the `knows` edge is created but the `in` and `out` properties are not being set to `$person`'s and `$su`'s rids properly. Following is the result I se

[2016-05-20 10:55] ray3888 commented on #6093
sure

[2016-05-20 10:55] #6093 closed

[2016-05-20 11:21] smolinari commented on #6173
Is there a particular reason why you aren't using the `CREATE EDGE` command to build the edge?

Scott

[2016-05-20 11:23] amyth commented on #6173
Hey Scott. Yeah, I am using update as I do not want to create duplicate edges and instead update if the edge between the given vertexes already exists.

[2016-05-20 11:46] smolinari commented on #6173
If you create a unique index on your edge, you can also avoid duplicates that way.

http://orientdb.com/docs/2.1/Tutorial-Using-schema-with-graphs.html#using-unique-with-edges

Scott

[2016-05-20 11:54] amyth commented on #6173
Yes absolutely. Though do note the `return after` in the statement. I am basically using this as a `get_or_create` statement. In case i have a unique constraint defined, wouldn't it throw an exception if an edge already exists and I guess in that case the transaction will be rolled back.

[2016-05-20 13:27] zella opened #6174 "Where clause not working in deleting records selected with subquery"
## Expected behavior and actual behavior
I try to delete record selected with subquery, but 'WHERE' clause not working, it's ignores, all records removes instead:
` delete from (select expand(accounts) from #30:0) where type = 'test2' ` - removes all accounts from #30:0,

However same with select: where working
` select from (select expand(accounts) from #30:0) where type = 'test2' `

## Steps to

[2016-05-20 13:52] zella commented on #6174
missprint, sorry: 2.1.17

[2016-05-20 14:28] tglman commented on #5944
fixed the case 1 as well, for the case 3 the query is not exactly correct and actually from my tests it return 0, the correct query is `elete from (select expand(Blob) from FileItem limit 7)`

Can you double check that all the case are now covered ?

Regards

[2016-05-20 15:37] #6153 closed

[2016-05-20 15:38] lvca commented on #6150
Please upgrade to v2.2.0 (GA) where we already fixed similar bugs.

[2016-05-20 15:39] lvca commented on #6151
Please use v2.2.0 (GA) where we fixed similar problems.

[2016-05-20 15:40] lvca commented on #5383
Do you mean compression in RAM only, right?

[2016-05-20 16:09] tglman commented on #6042
hi @ODBUser,

For use the ODocument/OrientVertex out of the scope of the session you have to use detach, the fetch plan on the query has a different purpose, that is preloading in memory objects.

[2016-05-20 16:09] #6042 closed

[2016-05-20 16:47] vlasni commented on #5294
I have two sets of records as follows:

`select @rid from Consumer where deleted=false`
result: 165102 records

[code]
result: 1070 records

So I need to obtain those records from Consumer (1st query) that are not in the 2nd query result:

[code]
result: **165102** records (wrong result, the expected value is 165102 - 1070 = 164032

Maybe my understanding of how difference() works is wrong, can yo

[2016-05-20 16:55] smolinari commented on #6173
You don't need a transaction for `CREATE EDGE` AFAIK. So, you would try to insert the edge and catch the failure, if it is a duplicate.

Someone with more experience, who happens to be reading along, do correct me if I am wrong.

Scott

[2016-05-20 20:17] jillray7 commented on #5250
@aag-tonesoft I see that you sent an email a while back to support. Were you assisted? Does this problem still exist? Please attach any additional information to this ticket if more support is needed.

[2016-05-20 20:32] nadewor opened #6175 "JDBC prepared statement returns NullPointerException"
## Expected behavior and actual behavior
Calling a prepared statement via jdbc interface returns NullPointerException

Exception in thread "main" java.lang.NullPointerException
	at com.orientechnologies.orient.jdbc.OrientJdbcResultSetMetaData.getColumnType(OrientJdbcResultSetMetaData.java:192)
	at TestOrientdb.main(TestOrientdb.java:42)

A prepared statement should work without problems via jdbc i

[2016-05-20 20:47] lgaquino opened #6176 "orientdb-server-2.2.0.jar appears to lack server.config package"
Hello all,
I have a project that used to store a graph on v2.1.6. It was all fine and working. But when I updated to v2.20, I got an error on the OServer.startup() method, with the following message:

I access the DB with PLOCAL, and passing a config file. Here's the code I use to configure and connect to the DB:

`            this.dataPath = dataPath;
            final String path = "plocal:" + d

[2016-05-20 22:34] aag-tonesoft commented on #5250
I got a response by nothing that truly solved my problem. Performance is not what I would expect, it degrades severely after enough data is inserted to the db. Our app is write heavy and after a few million edges it takes multiple seconds to write a string of graph nodes.

Amit

On Fri, May 20, 2016 at 1:17 PM -0700, "jillray7" <notifications@github.com<mailto:notifications@github.com>> wrote:

@a

[2016-05-21 00:45] ajob61 opened #6177 "Long running application using OPartitionedDatabasePool causing a OTokenSecurityException: missing session and token"
We have been testing our application with 2.2.0 GA to validate if being investigate migration from using it the 2.1.x versions. For context our application connects to the OrientDB server remotely as a client on the same environment and we use the OPartitionedDatabasePool for handling the accessing ODatabaseDocumentTx instances from multiple threads.

All was going well in our testing, the applica

[2016-05-21 04:55] lucevers opened #6178 "Post request don't work after changing to version 2.2.0"
## Expected behavior and actual behavior

## Steps to reproduce the problem

## Important Questions

### Runninng Mode
- [ ] Embedded, using PLOCAL access mode
- [ ] Embedded, using MEMORY access mode
- [x] Remote

### Misc
- [x] I have a distributed setup with multiple servers. How many?
- [ ] I'm using the Enterprise Edition

### OrientDB Version
- [ ] v2.0.x - Please specify last number:
- [ ]

[2016-05-21 05:05] lucevers commented on #6178
1) Orient: 2.1.3
         test:  golang program sends a post request:
              http://195.13.20.2:2480/command/pops/sql/create class nps
       (with the right syntax %20 ..+ sending the credentials)
        Result:  oke

2) Orient: 2.2.0
       same request but then I got:
       Bad HTTP response %v 204

There are fundamental changes in rest for orient 2.2.0.
We need to return to 2.1.3!
The

[2016-05-21 06:07] rspeer opened #6179 "ETL crashes, claiming duplicate key 'null'"
## Expected behavior and actual behavior

I'm trying to import ConceptNet 5 into OrientDB despite my historical lack of luck with graph databases. I've distilled it down to what I think is its simplest form: a tab-separated CSV file of (predicate, start node, end node) triples. There's more I'd consider including, but making this work would be the first step.

The file (`simple.csv`) looks like th

[2016-05-21 07:09] lucevers commented on #6178
More info

   It seems that the problem is cause by using the old datase (version 2.13)
   There are no problems if I start a clean install of orient 2.2.0 and start the golang program.

   So, how can I move de databases from version 2.1.3 to 2.2.0 ?

[2016-05-21 10:09] lvca commented on #6178
@tglman do you have any idea why such incompatibility?

[2016-05-21 10:15] #6179 closed

[2016-05-21 10:15] lvca commented on #6179
The message is clear: "found duplicated key 'null' in index 'Term.uri' previously assigned to the record #17:0". You aren't setting the uri field, so it's null and you cannot have multiple null because it's a UNIQUE index.

Am I missing anything? If you don't want to consider null keys as unique, you should create the index with the `{ignoreNulls:true}`. Docs: http://orientdb.com/docs/last/Indexes

[2016-05-21 10:17] lvca commented on #6177
@tglman Is this already fixed in 2.2.1-SNAPSHOT?

[2016-05-21 10:20] lvca commented on #5250
@aag-tonesoft Can I try to help on this? What's the piece of code that you use to write the edge? You could also close this and open a private issue if it's the case.

[2016-05-21 12:32] anywhichway opened #6180 "orient.load not returning JSON"
## Expected behavior and actual behavior

It appears `orient.load' is not returning JSON when called from a trigger written in Javascript:
`
var children = doc.field("children");
children.forEach(function(childid) {
  var child = orient.getDatabase().load(childid);
   print(child);
});
 `
prints: Person#12:4{children:null,name:Tyler,parents:[1]} v2
expected: {@class:"Person", @id:"12:4", @version:

[2016-05-21 15:17] saeedtabrizi commented on #5671
@smolinari
Thanks for your guides and notes .

Saeed Tabrizi

[2016-05-21 15:19] saeedtabrizi commented on #5934
Hi @maggiolo00 , yes it solved now .

Thanks
Saeed Tabrizi

[2016-05-21 17:41] schernolyas commented on #6120
Hi @lvca !

Have You any progress?  Which milestone will conteins fix for the issue?

A lot of thanks!

[2016-05-21 19:57] almibe opened #6181 "confusing exception when exiting an OSGi application with OrientDB embedded"
## Expected behavior and actual behavior
When I shutdown an OSGi application that has orientdb embedded in it I am getting the following error.

[code]

## Steps to reproduce the problem
As a simple test case I am getting this error even if I run the following code anywhere in my application
[code]
I wouldn't think I should be getting any exceptions related to OrientDB after closing the database.

[2016-05-21 22:27] almibe commented on #6181
It looks like I can manually shut down OrientDB before the application exits by calling
[code]
This works fine for me so I'll close this issue.

[2016-05-21 22:27] #6181 closed

[2016-05-22 00:02] fortu-nato commented on #6150
This is not resolved in 2.2.0.

[2016-05-22 00:09] fortu-nato commented on #6151
This is not resolved in 2.2.0.

[2016-05-22 00:27] lvca commented on #6180
That method returns the record. If you want the JSON you can call:

    var child = orient.getDatabase().load(childid);
    print( child.toJSON() );

In which page did you find that wrong description?

[2016-05-22 00:27] #6180 closed

[2016-05-22 00:28] lvca commented on #6176
That class has been moved under the `tools` package. So please include also `orientdb-tools-*.jar`

[2016-05-22 00:28] #6176 closed

[2016-05-22 00:33] lvca commented on #6173
To display the content of `[1]` execute via console:

    display record 0

About the creation of the edge, @smolinari is right: it's safer to use the create edge with a unique index as constraint. In the case it exists, an exception should be caught, and in case you can retrieve the existent edge.

[2016-05-22 00:33] #6173 closed

[2016-05-22 00:35] lvca commented on #6172
It's always the `import database` command that check what there is available in the exported file. If you exported only the schema, then only the schema will be imported.

[2016-05-22 00:35] #6172 closed

[2016-05-22 00:36] lvca commented on #6171
@Jotschi could you please try with 2.2.0?

[2016-05-22 00:39] lvca commented on #6169
It looks like the IBM VM has not such method:

java.lang.NoSuchMethodException: com.ibm.lang.management.ExtendedOperatingSystem.getTotalPhysicalMemorySize()

Could you please use a Oracle JVM?

[2016-05-22 05:50] schernolyas commented on #6169
Hi @lvca and @ghatwala !
Ibm jvm is server-side jvm. Performance of IBM jvm greater then persistence of Oracle JVM. The deference is 10-50%. Support IBM JVM in future milestone is good idea!

[2016-05-22 07:02] Jotschi commented on #6171
@lvca Same exception when using 2.2.0 -  Slightly different line numbers:

[code]

[2016-05-22 09:53] robfrank commented on #6175
Try this:
[code]

[2016-05-22 10:29] lvca commented on #6151
@andreaiacono we already have the test case `OneNodeFrozenTest` that is similar to this. Could you please verify the versions on it and trying also the create vertex command?

[2016-05-22 10:30] lvca commented on #6150
@andreaiacono like the other issue. The user @fortu-nato tried with 2.2 and this problem persists. Could you write a test case for it please?

[2016-05-22 10:44] #4326 closed

[2016-05-22 10:58] #4192 closed

[2016-05-22 10:58] lvca commented on #4192
Already fixed in v2.2.

[2016-05-22 11:12] lvca commented on #6169
We're working to certify the IBM jvm for Power, so we'll get the chance to make OrientDB full compatible with it.

[2016-05-22 11:15] lvca commented on #6171
Found, fixed in develop branch.

[2016-05-22 11:15] #6171 closed

[2016-05-22 11:19] lvca commented on #5683
@thejjmiller how many master servers in DC1 and DC2? Are you running on the cloud? If yes, which one?

[2016-05-22 11:36] lvca commented on #3777
Hey guys, did you try v2.2? It's 3x-10x faster with 3 nodes and even more with more nodes.

[2016-05-22 11:38] lvca commented on #1752
`writeQuorum` has been already implemented.

[2016-05-22 12:32] schernolyas commented on #6169
Cool!

[2016-05-22 14:03] anywhichway commented on #6180
Ivca here is the page: http://orientdb.com/docs/last/Javascript-Driver.htmlhttp://orientdb.com/docs/last/Javascript-Driver.html

Is the documentation correct or incorrect?

If it is incorrect, is it supposed to be a string? If so, I will simply write a parser ... pretty trivial given the apparent the string format.

[2016-05-22 15:08] DeveloperWonk commented on #6165
Encounter this issue on Windows 10 laptop with 4GB ram running JDK 1.8.0.51.  I could not start server for the first time.  I resolved the issue by remove MaxDirectMemorySize from the java_opts_script environment variable.

[2016-05-22 15:23] lvca commented on #6180
That why the confusion: that page (by the way it would need to be cleared) is for the JS driver in the browser. We don't have a page with the API to call from function. I'm going to create a new issue for that. In the meanwhile please look at this class to see the API:

https://github.com/orientechnologies/orientdb/blob/2fecb73699ce7d3d81cf378cf5dcfbb5cf6261b0/core/src/main/java/com/orientechnolog

[2016-05-22 15:25] lvca opened #6182 "Create a page in documentation for the API callable from Function"
From https://github.com/orientechnologies/orientdb/issues/6180.

[2016-05-22 15:25] lvca commented on #6180
Done: https://github.com/orientechnologies/orientdb/issues/6182

[2016-05-22 16:50] Jotschi opened #6183 "OrientDB 2.2.0 - ORecordDuplicatedException during vertex creation"
## Expected behavior and actual behavior

Creating vertices causes ORecordDuplicatedException when creating vertices and using a simple UNIQUE_HASH_INDEX index on a single vertex property which is not set within trx. The same code works fine in 2.1.7.  It seems that null values were not causing a duplicate error in 2.1.7. Is there may a way to configure this case in 2.2.x?

[code]

## Steps to rep

[2016-05-22 19:54] iamlogiq opened #6184 "Type ANY does not support converting value:"
## Expected behavior and actual behaviour

I cannot create a model who has a property type of ANY.

## Steps to reproduce the problem

I have a model (A) with a property of type ANY. I have another model (B) with a property that is an embeddedList of model (A). When I create model B's property i get an error everytime the type of the value is a string, bool, integer ect. I only works if the proper

[2016-05-22 21:59] lvca commented on #6184
I think this is related to https://github.com/orientechnologies/orientdb/issues/6153 that it's already resolved in develop branch. Could you try it please?

[2016-05-22 23:16] iamlogiq commented on #6184
@lvca I can't seem to install the develop branch. It keeps failing when when run mvn clean install

[INFO] OrientDB ........................................... SUCCESS [  0.972 s]
[INFO] OrientDB Test Commons .............................. SUCCESS [  0.998 s]
[INFO] OrientDB Core ...................................... FAILURE [01:27 min]
[INFO] OrientDB Client ....................................

[2016-05-23 02:13] NLPScott commented on #6170
me too, who can give some advise?? thanks

[2016-05-23 03:56] ghatwala commented on #6169
Hi @schernolyas and @lvca  ,
Thanks for replying to my query and letting me know that work is in progress "to certify the IBM jvm for Power, so we'll get the chance to make OrientDB full compatible with it." .

Let me know if you guys need any help in terms of verification on a power machine .

[2016-05-23 04:16] rajeshvaya opened #6185 "Setting collate when creating the property"
## Expected behavior and actual behavior

Should allow setting the collate to 'ci' when creating the property, Currently we have to first create and then alter the property to set the collate to 'ci'
## Steps to reproduce the problem

Creating a property with collate doesn't set the collate to 'ci', it is always set to default
## Important Questions

Is the documentation updated?
### Runninng Mode

[2016-05-23 07:43] ghatwala commented on #6169
Also , just an aditional info , i have tried to build orientDB on Ubuntu as well , but its failing with below errors.

[code]

Any pointers to resolve this error would be appreciated .

Regards,
Amit

[2016-05-23 07:52] skonka opened #6186 "replication issue while running multiple instances/environments"
## Expected behavior and actual behavior
Hi - I am using orient db 2.1.2 CE on Linux and JDK 1.7. I tried to set-up two parallel environments in our QA region. Calling them QA-SIT and QA-UAT. Each of the environments has 3 nodes and run in distributed remote mode. I have same database name[ods], using one for SIT and another for UAT. Unfortunately they are distributed on same 3 physical servers an

[2016-05-23 08:03] laa commented on #5383
@lvca Exactly.

[2016-05-23 08:05] laa commented on #3392
@Uditmittal We do not provide support for 2.0 version of community edition. Is this behaviour reproducible in 2.2 version ?

[2016-05-23 08:12] laa commented on #4073
Yes, it was fixed long time ago. @luigidellaquila you was able to reproduce it ?

[2016-05-23 08:13] laa commented on #4073
oh that is year , ago. Yes we already fixed given issue.

[2016-05-23 08:13] #4073 closed

[2016-05-23 08:14] laa commented on #6142
Hi @mingio , in 2.2 we have created our own allocator to avoid this issue. Could you try it ?

[2016-05-23 08:15] nsitanurag commented on #6094
Yes this twice behaviour is with other commands as well such as create index. I run orient db console by SSHing to remote server.

[2016-05-23 08:17] mriehl opened #6187 "Cannot install plugin on 2.2.0 (worked with 2.1.x)"
## Expected behavior and actual behavior
I have a plugin (`.jar` format) in the `plugins` directory.
It's been working fine for all of `2.1.x`.

On `2.2.0` I get this when starting the orientdb server:

[code]

The jar file in `plugins` is readable by the orientdb user.
I also unzipped the jar to see if all is as it should be and the class files for `com.company.orientdb.MyPlugin` are there. The p

[2016-05-23 08:23] amyth commented on #6173
@smolinari hey, actually my use case is such that I am using the statement in a transaction and not using a transaction specifically to create an edge.

@lvca
But If I create a `knows` edge like the following:
[code]

I am not able to fetch it with:
[code]

If I create the edge using `CREATE EDGE`, the in and out properties are set properly to the given `rid`'s and I am also able to fetch it. Howc

[2016-05-23 08:27] mriehl commented on #6187
As an update, I now have a `security.json` config so the warning is gone. The plugin still doesn't load though.

[2016-05-23 08:35] robfrank commented on #5197
Implemented managemente of lowercaseExpandedTerms in index configuration. Will be present on 2.2.1

[2016-05-23 08:35] #5197 closed

[2016-05-23 08:58] amyth commented on #6173
Also, what if I want to create more than one edge in a transaction, how would I know which one of them threw an exception ?

[2016-05-23 09:00] mriehl commented on #6187
I also installed the plugin `.jar` in the `lib` directory in orientdb home. This seems to resolve the issue.

[2016-05-23 09:03] mriehl opened #6188 "Storage-related NPEs"
## Expected behavior and actual behavior
I'm upgrading a database from 2.1.17 to 2.2.0.

Logging in to studio doesn't seem to work. There are many exceptions in the log:

[code]

## Important Questions

### Runninng Mode
- [x] Embedded, using PLOCAL access mode
- [ ] Embedded, using MEMORY access mode
- [ ] Remote

### Misc
- [x] I have a distributed setup with multiple servers. How many?
- [ ] I'

[2016-05-23 09:33] robfrank commented on #6165
I guess you have a 32bit system and/or JVM. On a 32bit system the maximun value is 2g.
Can you confirm that your system or your JVM are 32bit?

[2016-05-23 09:39] tglman commented on #6157
hi @PhantomYdn,

the first issue has been fixed in develop, still have to check the hook.

bye

[2016-05-23 09:48] antonzherdev opened #6189 "2.2.0 Migration of manual Lucene indexes"
## Expected behavior and actual behavior

I had manual Lucene indexes in 2.1.17. I updated to 2.2.0. When I open db it gives me the error for every index:
[code]

If I try to access the index. For example to delete it, it gives me the error:
[code]

So the main problem is that I cannot do anything about this. I can create new indexes but I cannot drop old.

I expect that it should be able to conve

[2016-05-23 09:54] luigidellaquila commented on #6183
Hi @Jotschi

This must be related to this change:

http://orientdb.com/docs/last/Release-2.2.0.html
(see "NULL values in indexes")

In v.2.2 null values are indexed by default and they are considered in the uniqueness constraints. You can restore the old behavior explicitly declaring that indexes ignore null values:

[code]

Thanks

Luigi

[2016-05-23 09:54] #6183 closed

[2016-05-23 10:03] antonzherdev opened #6190 "Update/Remove fields which cannot be deserialised"
## Expected behavior and actual behavior

When I try to update/remove a field which is not possible to deserialise, I'm getting an exception:
[code]

I expect that it should be able to update/remove such a field otherwise there is no way how to do it. This data was there by mistake but there should be a way how to wipe out the data.

## Steps to reproduce the problem

1. Create a class a store thi

[2016-05-23 10:14] tglman commented on #6170
Hi all,

this log is not an error it just show that some sessions were invalidate and the client need to reconnect, it start to show now just because we increased the log level of some exception, so no action is needed, i'll try to filter in a better way the log of exception to avoid to log not needed errors.

[2016-05-23 10:35] amyth commented on #4436
+1

[2016-05-23 10:39] robfrank commented on #3354
Just tested on 2.2.0 from console in plocal:
[code]

[2016-05-23 10:39] #3354 closed

[2016-05-23 10:43] #5288 closed

[2016-05-23 10:50] tglman commented on #6157
I run the hook test on the current develop and is green, so i'm closing this.

Bye

[2016-05-23 10:54] laa commented on #6188
@mriehl you do not set ` -XX:MaxDirectMemorySize` parameter. Do not you ?

[2016-05-23 10:54] smolinari commented on #6173
I can't believe this requirement could be done in a single query in any database. You have two different concerns here. One about relationships to email addresses (and I am wondering why one would have an extra vertex for email addresses) and one about friendship relationships.

From a reusability and responsibility perspective, I'd want them separate anyway. :smile:

Scott

[2016-05-23 10:57] mriehl commented on #6188
@laa Actually I have set the parameter, because `v2.2.0` refuses to start if it's not set.

[2016-05-23 10:59] tglman commented on #6190
HI @antonzherdev,

You should be able to remove the whole record as it is, so the suggestion is delete that record and create a new one.

By the way, what is the data that is there by mistake, is there any chance that we add some check to avoid this mistake ?

[2016-05-23 11:00] laa commented on #6188
@mriehl what value did you set  ? What maximum amount of disk cache size ? Could you send us the log ?

[2016-05-23 11:02] mriehl commented on #6188
I'm running with these settings:

[code]

(it's a test machine, so the values are rather small - I'm testing the 2.2.x migration with a subset of the data from production).

Which log should I send you? The orient-server.log?

[2016-05-23 11:04] tglman commented on #6190
Another solution can be get out the field that you want to keep and clear the document.
ex:
[code]

[2016-05-23 11:05] laa commented on #6188
Could you:

1. Remove all server logs
2. Set `-XX:MaxMetaspaceSize=512m -Dstorage.diskCache.bufferSize=512 -XX:MaxDirectMemorySize=512g`
3. If issue still appear send all server logs to us ?

[2016-05-23 11:06] mriehl commented on #6188
Should direct memory size really be `512g` (not `512m`)?

[2016-05-23 11:07] laa commented on #6188
yes exactly 512**g**

[2016-05-23 11:10] laa commented on #5521
Close issue because of no reply. If you reproduce given issue and have information which is requested in issue feel free to reopen it.

[2016-05-23 11:10] #5521 closed

[2016-05-23 11:10] laa commented on #5352
Close issue because of no reply. If you reproduce given issue and have information which is requested in issue feel free to reopen it.

[2016-05-23 11:10] #5352 closed

[2016-05-23 11:13] laa commented on #6081
Hi sorry, I was busy with other issues. Now I am working on your issue.

[2016-05-23 11:16] smolinari commented on #6188
Is there reasoning to these values being what they are? Because they seem like a good place to make a simple mistake, which will cause (unnecessary) problems, like someone actually writing "mb" instead of "m" or adding "mb" or "gb", when they shouldn't.

Scott

[2016-05-23 11:16] mriehl commented on #6188
@laa This seems to have solved my problem (I can log in to studio and read/write from the DB).

But doesn't `512g` mean that `ByteBuffer.allocateDirect` can allocate up to 512 gigabytes of native memory? That was my understanding so I set it to `512m`.

There are still lots of exceptions in the log (here it is with log level `ALL`):

[code]

[2016-05-23 11:19] laa commented on #6188
@mriehl no, well it is a bit long to write and sorry for advertising but you may calculate maximum amount of direct memory using this approach http://andreylomakin.blogspot.com/2016/05/how-to-calculate-maximum-amount-of.html

[2016-05-23 11:20] laa commented on #6188
@mriehl I think we can improve validation of settings before start to avoid given issues in future.

[2016-05-23 11:21] mriehl commented on #6188
@laa thanks a lot, I'll read that. No need to apologize, glad there is a writeup somewhere!

Do you have any idea what the other `SEVERE` messages about `isAuthorized` mean? It seems to work anyway.

[2016-05-23 11:22] laa commented on #6188
@SDIPro could you answer last question ?

[2016-05-23 11:26] amyth commented on #6173
My bad, I meant in a single transaction. For example you can do this in NEO4J as follows:

[code]

Guess to support multiple email addresses ? Pardon me if it sounds stupid but I don't know what the fundamental differences are between neo4j and orientdb. Currently the schema we use is based on what we had decided for neo4j and have simply imported the data to orientdb. How can we support multiple

[2016-05-23 11:31] luigidellaquila commented on #6174
Just pushed a fix on 2.1.x, the fix will be available in 2.1.18.

Now I'm porting it to 2.2

Thanks

Luigi

[2016-05-23 11:59] lalitlogical opened #6191 "Group By, Order by with limit"
## Expected behavior and actual behavior

Expected behavior: We should get sorted data according to order by then group by for a specific limit.
actual behavior: We are getting group by data in sorting order but which is not correct for us.
## Steps to reproduce the problem

Actually, We have users and posts tables which contain data according to user column (link type). We need posts which group

[2016-05-23 12:03] smolinari commented on #6173
Oh no! Please don't get me wrong. I might be the stupid one.  :smile:

However, I know in ODB, you can add a subdocument containing multiple email addresses, if you want.

Since you meant transaction, that does change the context. However, yes. I'd still keep the work being done separate, since we are talking about mutations and not just querying. So, this might be two different functions. If you

[2016-05-23 12:56] luigidellaquila commented on #6174
Pushed on 2.2 as well, the fix will be released with 2.2.1 hotfix

Closing, thanks

Luigi

[2016-05-23 12:56] #6174 closed

[2016-05-23 13:03] mriehl commented on #6187
Closing because I was able to resolve the issue (deploy plugin to both `lib` and `plugins` in orientdb home).

[2016-05-23 13:03] #6187 closed

[2016-05-23 13:11] #6022 closed

[2016-05-23 13:51] laa commented on #6081
@mrboxie I tried to open distribution which you sent to me and got following exception:

[code]

Is it exact copy of database ?
If so why WAL (write ahead log is empty ) ?

[2016-05-23 13:55] tglman commented on #5138
fixed in 2.1 and develop, closing

[2016-05-23 13:55] #5138 closed

[2016-05-23 13:58] tglman commented on #5048
just fixed this, excludeAll disabled the database info that where not enabled when used includeSchema, the missing of database info was making the importer using a wrong backward compatible parser.

closing

[2016-05-23 13:58] #5048 closed

[2016-05-23 14:07] lvca commented on #6169
Assigned to @robfrank.

[2016-05-23 14:22] luigidellaquila commented on #6155
Hi @healiseu

I fixed this in both 2.1.x and develop branches, the fix will be available in 2.1.18 and 2.2.1

Thanks

Luigi

[2016-05-23 14:22] #6155 closed

[2016-05-23 14:27] laa commented on #6081
@mrboxie seems like you did not store any of the created clusters.
Did you use special settings for a database ?

[2016-05-23 14:33] nadewor commented on #6175
I tried statement String stmtStr = "SELECT FROM V WHERE song_type like ?"; doesn't work too.
stmt.setString(0, "'original'");

For this statement it returns java.sql.SQLException: No current record

I also tried with an int an it doesn't work too:
	      String stmtStr = "SELECT FROM V WHERE performances = ?";
	      PreparedStatement stmt = conn.prepareStatement(stmtStr);
	      stmt.setInt(0, 1)

[2016-05-23 14:33] laa commented on #6081
@mrboxie do you have a backup of the database which contains all clusters which you have at the moment ? Does not matter how much it is old, I need only list of clusters.

[2016-05-23 14:38] dfelski opened #6192 "Reimport fails with OType.CUSTOM for enum values"
## Expected behavior and actual behavior
When you define a vertex property of OType.CUSTOM for storing enum values everything works fine. You're able to store and read the data properly, the values are returned as strings. But when you export the data and try to re-import it the import fails with a EOFException.

## Steps to reproduce the problem
The following unit test describes the use case.

[c

[2016-05-23 14:48] lvca commented on #6184
Just executed:

[code]

Could you retry? Maybe you've got a push in the middle?

[2016-05-23 14:56] rspeer commented on #6179
I *intend* to be setting the URI field. Of course I don't want it to be null. How should I set it?

If I've missed some documentation -- it seems strange that I would have to rely on StackOverflow answers for the case of loading a graph from a list of edges -- please point me to it.

[2016-05-23 15:08] tglman commented on #5580
hi @sinfex,

I tried the last develop and hotfix, and seems already fixed, closing

[2016-05-23 15:08] #5580 closed

[2016-05-23 15:11] tglman commented on #5580
hi @sinfex

I tried this in last develop and hotfix, it seems working, closing.

[2016-05-23 15:22] luigidellaquila commented on #6191
Hi @lalitlogical

I'm struggling a little bit to understand your example, any chance to have an SQL script to reproduce the problem?

(btw, I guess the WHERE in the query is a typo...)

Thanks

Luigi

[2016-05-23 15:32] #2978 closed

[2016-05-23 15:32] luigidellaquila commented on #2978
Back-slashes have to be quoted in strings, eg.
[code]

Closing

Thanks

Luigi

[2016-05-23 15:34] laa commented on #6133
@kerner1000 do you have any database log files before the date when exception was thrown ?

[2016-05-23 15:35] #2988 closed

[2016-05-23 15:35] luigidellaquila commented on #2988
It's not a bug, that syntax is accepted and valid in a schemaless database.

The query

[code]
will evaluate `PostHasComment` attribute of each record, cast it to string and use it as an edge class name.

It can seem strange, but it's valid in schemaless SQL

Closing

Thanks

Luigi

[2016-05-23 15:40] PhantomYdn commented on #5352
Was not able to mobe due to #6157 . Will be able to say something after full transion

[2016-05-23 15:41] luigidellaquila commented on #3368
Hi @tobiemh

This problem is already fixed in current latest stable (2.2, but also 2.1).

I'm closing this issue, please reopen if you still see any related problems

Thanks

Luigi

[2016-05-23 15:41] #3368 closed

[2016-05-23 15:46] luigidellaquila commented on #3449
Hi guys,

This issue is fixed in 2.2.
I'm closing this ticket, please reopen if you see any other related problems

Thanks

Luigi

[2016-05-23 15:46] #3449 closed

[2016-05-23 15:48] luigidellaquila commented on #4001
Hi @publicocean0

Is this issue still valid? Any clue on how to reproduce it?

I ask because I was not able to reproduce it in current 2.2 GA

Thanks

Luigi

[2016-05-23 15:59] SDIPro opened #6193 "Add 'execute' permission for Roles to Studio"
Please add the 'execute' permission (value 16) to role permissions in Studio.

[2016-05-23 16:09] #4065 closed

[2016-05-23 16:09] luigidellaquila commented on #4065
This issue is already fixed in last 2.2 GA. I'm closing this ticket.

Please reopen if you see any related problems

Thanks

Luigi

[2016-05-23 16:12] #4114 closed

[2016-05-23 16:12] luigidellaquila commented on #4114
Hi @nagarajasr

This issue is fixed in v 2.2 GA

I'm closing this ticket, please reopen if you see any related problems

Thanks

Luigi

[2016-05-23 17:04] mrboxie commented on #6081
Hi Andrey,
  Thank you for getting back on this. Here is what I saw from openning "statsdb_grantley":  $ /c/dev/orientdb-community-2.1.1/bin/console.sh
OrientDB console v.2.1.1 (build UNKNOWN@r; 2015-08-31 18:08:38+0000) www.orientdb.comType 'help' to display all the supported commands.Installing extensions for GREMLIN language v.2.6.0
orientdb> connect plocal:/var/statsdb_grantley admin admin
Con

[2016-05-23 17:25] #5794 closed

[2016-05-23 17:25] SDIPro commented on #5794
Fixed in 2.2.1.

[2016-05-23 18:03] kerner1000 commented on #6133
@laa , if you tell me some logs are created by default and if you tell me in what directory, I can have a look.

[2016-05-23 18:05] kerner1000 commented on #6133
If I remember correctly, the exception was first thrown when cancelled a db import and clearing the cache right after. So maybe its related to the caching mechanism.

[2016-05-23 18:39] iamlogiq commented on #6184
@lvca
Hi, it's still not working. what did you mean by push in the middle?
`
Failed tests:
  ODocumentSchemalessBinarySerializationTest.testSimpleSerialization:143 expected [Mon May 23 00:00:00 EDT 2016] but found [Mon May 23 12:00:00 EDT 2016]
  ODocumentSerializerNetworkTest>ODocumentSchemalessBinarySerializationTest.testSimpleSerialization:143 expected [Mon May 23 00:00:00 EDT 2016] but found [

[2016-05-23 19:43] lgaquino commented on #6165
I'm also facing this problem.
(v2.2 running embedded on my machine => Win7 64bit on a quadCore CPU, with 8gb of RAM.)

I can use the DB via Studio. But my applications cannot properly open a connection. To be more specific:

	at sun.misc.Unsafe.allocateMemory(Native Method) [rt.jar:1.7.0_51]
	at java.nio.DirectByteBuffer.<init>(DirectByteBuffer.java:127) [rt.jar:1.7.0_51]
	at java.nio.ByteBuffer.a

[2016-05-23 20:15] robfrank commented on #6175
Did use quotes?
[code]

[2016-05-23 20:32] robfrank commented on #6165
[code]
 Please, try with a MaxDirectMemorySize higher than 500m, as Luca stated. And please, tell me if your OS or jour JVM are 32bit.

[2016-05-23 20:48] vlasni opened #6194 "Rebuild indices too slow"
I've migrated a DB from v2.1.16 to v2.2.0 using export/import. Tried it 3 times (spent 3 days) and it always failed when importing indices, so I removed indices from original 2.1.16, exported again and import succeeded.
Now I have to create indices in 2.2.0. As the process was taking too long, server was shut down during an index creation. Although in Studio the index didn't show up after server r

[2016-05-23 22:55] antonzherdev commented on #6190
@tglman Thanks for the solution however it's not working for me. I'm getting the same exception:
[code]

I tried both clear and remove and I'm getting the same exception. The problem is that almost all methods are calling checkForFields and it triggers deserialisation for all fields. For example, setDirty method which is called by the clear method. And the delete method is calling setDirty as well

[2016-05-23 23:04] DeveloperWonk commented on #6165
Rob, Yes I am using 32bit 1.8 JDK on 64bit Windows 10.  I also tried on Win7 64bit/32bit 1.7JDK with same result.  To clarify, I received the error posted by original submtter when I tried to run server.bat the first time.  Setting MaxDirectMemorySize=2g resolves the original issue but the server throws an exception during startup and fails to start.  If I run Server.bat again the server starts up

[2016-05-23 23:26] anywhichway opened #6195 "toJSON object @<key> not accessable"
## Expected behavior and actual behavior

Inside an onBeforeChange Hook:

`var  className = doc.field('@class'),
      json = doc.toJSON();
      className===json["@class"]
      // expect true; however fails and print shows json["@class"] as undefined
`
## Steps to reproduce the problem

create a Hook with the above code
attach the Hook to a class definition
change a document of type class

## Im

[2016-05-23 23:32] anywhichway opened #6196 "orient.getDatabase().query() does not return Array with forEach method"
## Expected behavior and actual behavior

[code]
## Steps to reproduce the problem

put code similar to the above in an onBeforeUpdate hook

## Important Questions

### Runninng Mode
- [ ] Embedded, using PLOCAL access mode
- [ ] Embedded, using MEMORY access mode
- [ ] Remote

### Misc
- [ ] I have a distributed setup with multiple servers. How many?
- [ ] I'm using the Enterprise Edition

### Or

[2016-05-23 23:40] anywhichway commented on #6165
Just installed v2.2.0, getting the same issue. Will report further when I try the above steps.

java -version
java version "1.8.0_65"
Java(TM) SE Runtime Environment (build 1.8.0_65-b17)
Java HotSpot(TM) Client VM (build 25.65-b01, mixed mode, sharing)

8GB RAM
64bit Windows v10 Pro
i7-4510U CPU

[2016-05-23 23:55] voondo commented on #5946
Same issue here. I will try to provide a test case.

[2016-05-24 00:11] voondo commented on #5946
maybe not related but I get this kind of exceptions when I delete a vertex :
[code]

The strange thing is that the vertex is deleted despite the error (which is ok because the user is in _allow).

[2016-05-24 00:19] anywhichway commented on #6165
I completely uninstalled Java and then re-installed u92 64 bit. This resolved the memory issue. However, I now have a number of other issues; not the least of which is errors creating a database. Will log new issues for those.

[2016-05-24 00:24] anywhichway opened #6197 "Error creating database from Studio v2.2.0"
## Expected behavior and actual behavior

Expected: Try to create a new database from Studio succeeds.
Actual:

[code]

Also getting this in console:

[code]

## Steps to reproduce the problem

Try to create a database from the Studio

## Important Questions

### Runninng Mode
- [x] Embedded, using PLOCAL access mode
- [ ] Embedded, using MEMORY access mode
- [ ] Remote

### Misc
- [ ] I have a di

[2016-05-24 00:33] anywhichway commented on #6197
I uninstalled and re-installed OrientDb. The issue went away. It may have been cause by the old studio being open when I originally installed v2. The attempt to access the now non-existent database from the old version may have got things confused.

[2016-05-24 00:33] #6197 closed

[2016-05-24 01:00] ray3888 commented on #6170
thanks @tglman , but seems it related to these error appear at times: (just guess)

error=Error on executing command: sql.select from v where pk='150001984621'
Caused by: java.io.EOFException: null

[2016-05-24 01:40] anywhichway opened #6198 "Unresolvable plocal/remote issue v2.2.0"
## Expected behavior and actual behavior

Expect: Access database through Studio and through custom browser app.
Actual:

[code]

## Steps to reproduce the problem

Access database from Studio (success), attempt to use an app built with the browser orientdb.js library. Error in console.
Shutdown and restart database server
Access database from custom app (success), attempt to access database from

[2016-05-24 02:58] mingio commented on #6142
Ok, I will try 2.2. Wait for my feedback.

[2016-05-24 03:07] NLPScott commented on #1636
@lvca  hi ,I have a problem,could you give me some advise?  I set the db.pool.min and db.pool.max in the orientdb-server-config.xml , <entry value="50" name="db.pool.min"/>
        <entry value="200" name="db.pool.max"/> ,but I can't get db.pool.min =50 and db.pool.max =200 from OGlobalConfiguration.dumpConfiguration(System.out)

[2016-05-24 03:16] NLPScott opened #6199 "orientdb configuration"
## Expected behavior and actual behavior

 I set the db.pool.min and db.pool.max in the orientdb-server-config.xml ,

    <properties>
        <entry value="10" name="db.pool.min"/>
        <entry value="30" name="db.pool.max"/>
        <entry name="client.channel.minPool" value="50"/>
        <entry name="client.channel.maxPool" value="300"/>
        <entry value="true" name="profiler.enabled"/>

[2016-05-24 04:34] ghatwala commented on #6169
Hi @robfrank ,

Just to share some additional info ...
[code]
Regards,
Amit