[2018-06-11 21:05] creisle opened #8321 "Question about MATCH queries"
### OrientDB Version: 2.2.34
### Java Version: 1.8.0_151
### OS: centos07

I am trying to create a query to match a node and then follow edges from that node while they have some attribute.

## Steps to reproduce  (simplified)

[code]
This ends up looking something like this

![image](https://user-images.githubusercontent.com/4342641/41257228-eaadcb6e-6d80-11e8-9cec-a3f12e507fc8.png)

I am probabl

[2018-06-12 07:20] hossein-md commented on #7842
Hi @luigidellaquila

Great!

Thanks

[2018-06-12 08:07] luigidellaquila commented on #8320
Hi @ZhenYongFan

How are you executing it?
If it's from Studio, did you select BATCH mode?
If it's from Java API, did you use `db.execute()`?

Thanks

Luigi

[2018-06-12 08:21] luigidellaquila commented on #8321
Hi @creisle

There must be a little problem with $currentMatch in WHILE conditions, I'll check it asap.
In the meantime, you can just omit it and the query will work fine:

[code]

I just would like to make sure that you got the exact meaning of WHILE condition (it can be a bit misleading is some cases): it applies to the origin node, ie. to the left node in the pattern, so to `a` at the first ite

[2018-06-12 08:27] ZhenYongFan commented on #8320
Thanks Luigi
I ran sql in Graph Editor. However, I didn't notice the batch mode among the tools options in the "Browse" page before,After set "Batch" mode,I can run multiple rows of sql in the Browse page , but I can't find  "batch" mode in the "Graph" page, so it is still not possible in the Graph Editor.
Thanks again.

[2018-06-12 08:34] luigidellaquila commented on #8320
Hi @ZhenYongFan

You are right, the graph editor for now only supports single SQL statements (it's just intended for data display, not for complex scripting), so for now you have to use the BROWSE panel to execute scripts

Thanks

Luigi

[2018-06-12 08:34] #8320 closed

[2018-06-12 08:49] ZhenYongFan commented on #8320
Hi @luigidellaquila
  But in version 3.0.1,I can execute multiple SQL in graph editor.I suggest to keep this feature same with  the previous version。
  Thanks
ZhenyongFan

[2018-06-12 08:57] luigidellaquila commented on #8320
Hi @ZhenYongFan

Actually that was a bug... all the statements were executed as scripts.
This can lead to wrong behaviors and to security flaws, so we fixed it.
In case we can consider providing an explicit option in the Graph editor for script execution, but frankly speaking I don't see the added value for this. The graph editor is intended for graph display, not for script execution

Thanks

Lui

[2018-06-12 09:21] ZhenYongFan commented on #8320
Hi @luigidellaquila
You are right. The graph editor is mainly used to display graph. If you have time, please make the error message more friendly. I'm ashamed that I compared the 3.0.1's code and didn't find the code to change it.

Thanks
ZhenyongFan

[2018-06-12 09:23] luigidellaquila commented on #8320
Hi @ZhenYongFan

I'll definitely try to do it.
Thank you very much for your feedback!

Luigi

[2018-06-12 11:50] CyprienGottstein commented on #8319
Hi @ZhenYongFan

What do you mean by GA ? (I'm not quite used to the full github/release/version vocabulary, sorry for that :o)

[2018-06-12 11:51] markodjurovic commented on #8290
Hi @diaconescur
did you try with String getClusterNameById(int iClusterId); from ODatabase?

      vertexClass.addCluster("TestClusterName" + System.currentTimeMillis());
      int[] clusterIds = vertexClass.getClusterIds();
      for (int clusterId : clusterIds){
        String clusterName = db.getClusterNameById(clusterId);
        System.out.println("ClusterName: " + clusterName);
      }

shou

[2018-06-12 12:10] lvca commented on #8319
Look at: https://en.wikipedia.org/wiki/Software_release_life_cycle#General_availability_(GA)

[2018-06-12 12:15] CyprienGottstein commented on #8319
Thanks @lvca

I guessed it would be something like that. But to make things clear, if i don't use the version 3.0.3 snapshot (which is still in development) half of my tests will just crash because of the issue #8311 .

Again, i'll keep you updated whenever we find the root of the problem, hoping it won't take too long.

[2018-06-12 12:56] LukasWysocki opened #8322 "SQL Insert embedded using prepared statement - not supported"
### OrientDB Version: 3.0.2
### Java Version: "1.8.0_171"
### OS: Linux 4.13.0-43-generic #48~16.04.1-Ubuntu SMP Thu May 17 12:56:46 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

## Expected behavior
Ability to insert an embedded json no schema document into a field using a prepared statement.

## Actual behavior
Diffrent OValidationException(s) depending on parameter type.
e.g. for ODocument it's:
`co

[2018-06-12 15:16] CyprienGottstein commented on #8319
@tglman , @ZhenYongFan , @lvca

Great news (at least for me :)) ! I've found the problem.

Here is a snippet which helps reproduce the problem

[code]

Minimalist pom.xml

[code]

If I execute the code with OrientDB v3.0.3, in the output i have something which looks like this :

Whereas with OrientDB v2.2.30 it takes no time at all, except for the very first connection :+1:

Now, i may do things w

[2018-06-12 15:21] markodjurovic commented on #8322
Hi @LukasWysocki

with version 3.0.2 try to use new API, instead old one. So for example insertPreparedEmbeddedVarargJsonMap could look like:

      String insert = "insert into order (id, json) values (?, ?)";
      Map<String, Object> stringObjectMap = new  ODocument().fromJSON(embeddedRecordJson).toMap();
      stringObjectMap.put("@type", "d");
      db.command(insert, String.valueOf(UUID.rand

[2018-06-12 15:33] rdelangh opened #8323 "docs of v3 on multi-field index searches are incomplete or unclear"
### OrientDB Version: 3.1.0
### Java Version: 8
### OS: Ubuntu

After upgrading from version 2.x, our queries on multi-field Lucene indexes need to be rewritten with functions SEARCH_CLASS, SEARCH_INDEX, etc.
Our original query is like this:
[code]
The indexes on this class "cdr_icx_20180610" are defined as:
[code]
Referring to OrientDB docs at "https://orientdb.com/docs/last/indexing/Full-Text-In

[2018-06-12 18:44] tglman commented on #8319
Hi,

I found the reason of the slowdown, the problem lay in the backward compatible layer, I'm trying to fix this without break anything else.

Regards

[2018-06-12 18:50] asadganiev commented on #8282
@tglman
@luigidellaquila

I have created repository [ODB-8282](https://github.com/asadganiev/ODB-8282) in github.
You check why this issue occurring in my code.

If you any question please write me.

Best regards,
Asad

[2018-06-13 01:08] rikaze commented on #8301
okay, wait for it.

[2018-06-13 04:08] mikayeln commented on #8316
Thanks for reply.

May be the difference is in memory DB? We are using remote connection. But orient and application are on the same vm.

What's interesting is the difference in versions v7 vs v10.
It looks like OVertex vertex gets (keeps on client) version 7 and 3  following operations increase version (on server side)

[code]

May be the problem is in some caches or configuration of those caches

[2018-06-13 04:09] mikayeln commented on #8313
Any updates on this issue?

Thanks.

[2018-06-13 07:58] mikayeln opened #8324 "Very slow database acquiring"
### OrientDB Version: 3.0.2
### Java Version: 1.8.172
### OS: Ubuntu 16.04

We have a large DB with large schema and on Orient 3.0.2 we are getting unusual and strange behaviour during database acquiring.

Below you may find stacktraces from thread dumps taken with couple seconds interval.

getDb() method doing following : return new OObjectDatabaseTx(pool.acquire()); where pool is OPartitionedDat

[2018-06-13 08:30] LukasWysocki commented on #8322
Thank you.

[2018-06-13 08:30] #8322 closed

[2018-06-13 08:31] luigidellaquila commented on #8323
Hi @rdelangh

The second error (the NullPointerException) is definitely a bug and needs a fix.

About the first one, can you please share the basic schema to reproduce it?

Thanks

Luigi

[2018-06-13 08:52] tglman commented on #8324
Hi @mikayeln,

this is a duplicate of this: https://github.com/orientechnologies/orientdb/issues/8319, already working on it.

Regards

[2018-06-13 08:53] #8324 closed

[2018-06-13 09:03] mikayeln commented on #8324
Thanks a lot.
Waiting for a solution.

ср, 13 июн. 2018 г. в 15:52, tglman <notifications@github.com>:

--
Best Regards,
Mikayel

[2018-06-13 09:56] rdelangh commented on #8323
hi @luigidellaquila
basic schema:
- the definition of that index "idx_cdr_icx_20180610_2" (class "cdr_icx_20180610") is already list above
- all fields of the class are STRING, except field "PRT_DATE" which is of type DATETIME
Please tell me if you need more info.

[2018-06-13 10:08] luigidellaquila commented on #8323
Thank you very much, I'll check it and let you know

Thanks

Luigi

[2018-06-13 10:27] tglman commented on #8319
hi @CyprienGottstein,

I just pushed the first fix that remove most of the slowdown, still there are some bits to be fixed, currently using the old API( the one you are using) cause the acquire() to renegotiate the session with the server, this do not happen with the new [API](https://orientdb.com/docs/3.0.x/java/Document-API-Database.html) or with 2.2.x, so the acquire will be probably of 1/2 ms

[2018-06-13 11:36] CyprienGottstein commented on #8319
Hi @tglman ,

Thank you for your work :)

I will take a proper look on the fix and the new API, see if we can afford the refactoring in a reasonable time cost. Also, I think i spotted an other issue but i will wait a bit to confirm the problem.

Best regards

Cyprien

[2018-06-13 17:06] hrstoyanov opened #8325 "console still interprets file path strings for special characters"
### OrientDB Version: 3.0.2
### Java Version: 1.8_172
### OS: Windows 7

## Expected behavior
console executes the scripts

## Actual behavior
console fails attempts to interpret file names and fails to execute scripts

Here is a gradle task I use to automate the creation of my sample database - I put all file paths in single quotes (I also tried double-quotes with the same result):

[code]

Here

[2018-06-13 17:07] hrstoyanov commented on #8325
This was supposed to have been resolved with #8284, but it is not.

[2018-06-13 19:44] htongss opened #8326 "How to create an embeddedlist with Class type?"
### OrientDB Version: 3.0.1
### Java Version: 1.8
### OS: ubuntu linux 16.0.4

## Expected behavior
sql insert to embeddedlist using Class type

## Actual behavior
Error: The field 'MyClass.property2' has been declared as EMBEDDEDLIST but an incompatible type is used

## Steps to reproduce
**This works OK:**

CREATE PROPERTY MyClass.property1 EMBEDDEDLIST
insert into MyClass content { "property1":

[2018-06-13 20:37] ccassar commented on #7988
The documentation for 3.0 does not seem to reflect this:
https://orientdb.com/docs/3.0.x/distributed/Distributed-Sharding.html#limitation
Is this just an issue with documentation, or is there more?

[2018-06-13 22:07] marcelalburg opened #8327 "Cannot convert v[#12:0] - class org.apache.tinkerpop.gremlin.orientdb.OrientVertex to JSON"
### OrientDB Version: 3.0.2 tinkerpop
### Java Version: 8
### OS: Linux debian

Hello,

when i use the rest api with gremlin orientdb cannot convert a Vertex to Json.

Thanks
Marcel

## Expected behavior
I would expect a correct path

## Actual behavior
And errormessage:

`java.lang.UnsupportedOperationException: Cannot convert v[#12:0] - class org.apache.tinkerpop.gremlin.orientdb.OrientVertex to

[2018-06-13 23:47] mmacfadden opened #8328 "Inconsistent count function behavior in SELECT"
### OrientDB Version: 3.0.2
### Java Version: Java 8
### OS: MacOS / Linux

## Expected behavior
<add here>
`SELECT count(*) FROM Test WHERE foo = 'bar1'` should return one row in a result set with the `count` field containing `0` as the value if no document meet the WHERE clause.

## Actual behavior
The result set contains no rows.  This makes it complicated to get the counts for things that may

[2018-06-14 06:02] luigidellaquila commented on #8326
Hi @htongss

We already fixed it in v 3.0.2, an upgrade will solve your problem.
I just doble-checked it with the following code:

[code]

Thanks

Luigi

[2018-06-14 06:05] luigidellaquila commented on #8328
Hi @mmacfadden

I recently fixed this issue (https://github.com/orientechnologies/orientdb/issues/8280) the fix will be released soon

Thanks

Luigi

[2018-06-14 06:05] #8328 closed

[2018-06-14 07:15] diaconescur commented on #8290
Thank you for the answer. This way it works.

[2018-06-14 07:15] #8290 closed

[2018-06-14 07:20] luigidellaquila commented on #8325
Hi @hrstoyanov

I just pushed a fix that should resolve the problem, the snapshot will be available in a few minutes

Thanks

Luigi

[2018-06-14 08:15] valenpo commented on #8189
any news about bug fix?

[2018-06-14 08:43] CyprienGottstein commented on #8319
Hi @tglman !

I took your latest snapshot of orientdb-graphdb and rerun BenchmarkConnectionTest, there is still a slight delay but that should be enough for us for the time being, good job :)

Best regards

Cyprien.

[2018-06-14 09:04] CyprienGottstein opened #8329 "OrientDB v3.0.x - Retrieving vertex from indexed property in local transaction is slow"
### OrientDB Version: 3.0.2, 3.0.3-SNAPSHOT
### Java Version: 1.8.0_161
### OS: Ubuntu 16.04

Hello OrientDB Team !

I spotted a new issue concerning heavy bulk insertion and using index on local transaction.

In our tests suite we want to bulk insert a heavy payload of 10k vertices, we could do things in an other way but since it worked in v2.2.30, I'm raising this issue. To avoid data duplicatio

[2018-06-14 09:35] tglman commented on #8282
Hi @asadganiev,

we use a lot of sql in the main engine, but not only, I direct load of a record, the save, the commit of transaction, have direct call in the protocol with specific messages.

Regards

[2018-06-14 10:20] ghost opened #8330 "TypeError: Cannot create a consistent method resolution order (MRO) for bases Node, vertex"
### OrientDB Version: 3.0.2
### OS: Linux

## This is the error message that I get:
classes_from_schema = graph.build_mapping(SchemaNode, SchemaRelationship, auto_plural=True)
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-267-d41593bea247> in <module>()
----> 1 classes_from_sche

[2018-06-14 10:32] tglman commented on #8313
Hi @mikayeln,

There is a big difference between the 2.2.x query and 3.x query, the new one are streaming based so they keep some state server side inside a session, the error you have seems that the session expired while you are handling the result set, this was not a problem in 2.2.x because in that version we download everything to the client ahead of time.

So this could happen if one session

[2018-06-14 10:39] tglman commented on #8189
Hi @valenpo.

The reason of your problem is that :`index.getDefinition().setNullValuesIgnored(true);`  is not propagate in remote.

please use instead:

[code]

Regards

[2018-06-14 10:45] asadganiev commented on #8282
Hi @tglman,

Let me explain why I have asked this question and how I came to OrientDB or even
to Graph databases.

First I have used Neo4J. It was very slow in insertion. Then found out about OrientDB, it was
fast enough in insertion. But..

As a java developer firstly I chose Graph API. But it was not so easy in using. I was using
Tinkerpop Blueprints, but in github it is shown as deprecated. The

[2018-06-14 10:53] laa commented on #8295
Hi @morad-morad could you check this build?https://drive.google.com/file/d/1qV4HodVLKwitX_FIksEYv4MiDGhWMqWq/view?usp=sharing

[2018-06-14 12:35] laa commented on #8301
Hi @rikaze could you try this build ?https://drive.google.com/file/d/10wRN4TySKw3G5QPsDqgq86tWrSOnEvZO/view?usp=sharing

[2018-06-14 13:23] maggiolo00 commented on #8327
Hi @marcelalburg

i've just pushed a fix. It will be available in 3.0.3.

Thanks

[2018-06-14 13:29] #8327 closed

[2018-06-14 13:37] morad-morad commented on #8295
Thanks @laa
I'll try it and update you

[2018-06-14 14:14] rikaze commented on #8301
Caused by: java.lang.ArrayIndexOutOfBoundsException: 0
        at com.orientechnologies.orient.core.storage.cache.local.twoq.O2QCache.updateCache(O2QCache.java:1098)
        at com.orientechnologies.orient.core.storage.cache.local.twoq.O2QCache.doLoad(O2QCache.java:346)
        at com.orientechnologies.orient.core.storage.cache.local.twoq.O2QCache.load(O2QCache.java:291)
        at com.orientechno

[2018-06-14 14:55] harinath-callidus commented on #7801
I know this is bit old thread, but is it possible that I can live with any specific analyzer that can support me  "hyphen" character (-)  as part of the text and treat it as normal instead of special meaning?

[2018-06-14 14:57] laa commented on #8301
@rikaze is it the same query on the same content ?

[2018-06-14 16:06] rikaze commented on #8301
yes, all the same.

[2018-06-15 00:13] hrstoyanov opened #8331 "Bad diagnostics in console - console tool does not fully ignore comment lines?"
### OrientDB Version: 3.0.3-SNAPSHOT
### Java Version: 1.8_172
### OS: Windows 7/64-bit

## Expected behavior
Some good diagnostics of where the issue is.

## Actual behavior
 When you run the the attached script, you only get:
[code]
there is no line number or anything that could help find the issue!

I have found such issues to be due to the fact that comment lines (such as ```-- Comment ```) ar

[2018-06-15 00:18] hrstoyanov commented on #8331
By "trial-and-error", I discovered that the above schema file bombs  on line 104 where the comment reads:
[code]
The problem is ``` ` ``` in the comment, which should have been ignored, but it is not!

[2018-06-15 02:14] mmacfadden opened #8332 "SELECTING a set of RIDs in batch query no longer working in 3.x"
### OrientDB Version: 3.0.2
### Java Version: Java 8
### OS: MacOS

## Expected behavior
The following used to work in 2.x:

[code]

## Actual behavior
This is not working in 3.x. The returned error is "Class not found: $x". The following style syntax still works:

[code]
So selecting from a set of RID works. It seems that in 2.x in some form the first select in the batch returned something that c

[2018-06-15 02:44] mmacfadden commented on #8332
I did notice that this seems to work:

[code]
So in part the issue seems to be when the result of the first select is put into a variable, not the general approach of selecting from a previously selected result set.

[2018-06-15 05:56] luigidellaquila commented on #8325
Hi @hrstoyanov

using quotes is safer if you have blank spaces in the URI, but it should not be necessary in general

Thanks

Luigi

[2018-06-15 07:07] mikayeln commented on #8313
Hi @tglman

Yes, I know about the difference in 2.2.x and 3.x query. That was my first
suggestion, that session expires.And I checked the configurations. Default
timeout is 1 hour (as you mentioned). But the problem is, that i'm
continuesly calling resultset.next() and time between that calls is more
less than 1 hour (less than a second).

I have only one stack trace left. Here it is

[code]

чт,

[2018-06-15 07:16] luigidellaquila commented on #7801
Hi @harinath-callidus

The WhitespaceAnalyzer does it, but it also considers other characters (Eg. parentheses) as part of the text.
If you need an analyzer that acts exactly as the standard analyzer apart from the hyphen, I'm afraid the only solution is to write a custom one

Thanks

Luigi

[2018-06-15 07:27] luigidellaquila commented on #8323
Hi @rdelangh

I tried to reproduce the NPE but with no success, perhaps there is something specific in the index definitions?

About the first problem, the problem here is that Lucene in general uses an OR strategy on filtering, so `SEARCH_FIELDS(["CALLING_NUMBER", "PRT_DATE"], "...")` will try to use indexes defined on CALLING_NUMBER or on PRT_DATE. In this case it finds four indexes and does not

[2018-06-15 10:18] rdelangh commented on #8323
hi @luigidellaquila
1) SEARCH_FIELDS should have then a syntax where you can add a logical operator (AND in my case)
2) SEARCH_INDEX : I don't think we do anything exotic in the index definitions, foreach of the Lucene indexes, the following parameters are specified to the 'CREATE INDEX' command:
[code]

[2018-06-15 12:16] mmacfadden commented on #8332
Thanks for the TIP.  Here is the actual example we are using:

[code]

In this case the interesting part is

[code]

There is probably a simpler way to do much of this. But the main point is that we are trying to select a projection from a set (or single) RID. I don't see a way to use the syntax you provided to achieve this. I think I made my original example to simple. I was trying to show the si

[2018-06-15 12:20] maggiolo00 commented on #8323
Hi @rdelangh

In your case i think `SEARCH_INDEX` is the best approach.
let me try to reproduce the NPE exception.

Can you reproduce it in a deterministic way?

Thanks

[2018-06-15 13:15] luigidellaquila commented on #8332
Hi @mmacfadden

I don't know if I got it right, but probably this will do the trick:

[code]

Thanks

Luigi

[2018-06-15 13:28] luigidellaquila commented on #8332
Try this ;-)

[code]

Thanks

Luigi

[2018-06-15 13:28] luigidellaquila commented on #8332
Sorry
[code]

[2018-06-15 15:16] #8331 closed

[2018-06-15 15:16] luigidellaquila commented on #8331
Hi @hrstoyanov

I just pushed a fix that solves this problem. It will be released with v 3.0.3

Thanks

Luigi

[2018-06-15 15:42] rdelangh commented on #8323
@maggiolo00
What you mean with "in a deterministic way" ?

[2018-06-15 15:45] maggiolo00 commented on #8323
hi @rdelangh

i mean if you repeat 10 times that query do you get the same exception every time?

[2018-06-15 16:34] hrstoyanov commented on #8325
Thanks @luigidellaquila ,
 Just to clarify, the proper way (at least works on my windows machine)  to quote CREATE DATABASE and LOAD SCRIPT paths is;

[code]
Maybe a few clarification  words about this in the docs would help others.

[2018-06-15 16:37] hrstoyanov commented on #8331
Thanks @luigidellaquila ,
Will try to confirm later today (maven snapshot not ready yet, it seems as of now)

Any idea when 3.0.3 will be pushed out?

[2018-06-15 17:15] asadganiev opened #8333 "OSecurityException: Cannot create a key with 'PBKDF2WithHmacSHA256' algorithm in Java Version: 1.8.0_172"
### OrientDB Version: 3.0.2
### Java Version: 1.8.0_172
### OS: macOS High Sierra Version 10.13.4

[code]
Error:

[code]
I have added this method in order to check if PBKDF2WithHmacSHA256 supported
[code]

[code]
Prints `true`.

[2018-06-15 17:32] asadganiev commented on #8333
This problem occurred in my test class when I was using PowerMockito. It was fixed by ignoring [javax.crypto.*](https://stackoverflow.com/a/22249508/8898704) in my test:

[code]

[2018-06-15 17:32] #8333 closed

[2018-06-15 19:38] creisle commented on #8321
Great thanks! That worked

[2018-06-15 19:38] #8321 closed

[2018-06-15 22:55] saeedtabrizi commented on #7132
Hi @lvca , I start this issue implementation to compatible for ODBv3  .
Just i try to make a compatible version very soon  (maybe in the next week) .

[2018-06-16 02:57] mmacfadden commented on #8332
@luigidellaquila This worked! I did a little clean up and this syntax also worked:

[code]

Thanks for the excellent community support!

[2018-06-16 04:00] mmacfadden opened #8334 "Cannot UPDATE REMOVE from Map in 3.x"
### OrientDB Version: 3.0.2
### Java Version: Java 8
### OS: MacOS

## Expected behavior
Apologies if I missed something in the documentation regarding migrating to 3.x, however it seems like removing elements from a MAP (either embedded or linked) using the previous syntax is problematic. The following SQL worked in 2.2.35:

[code]

The result was  `[{"m": {"k2":"v2"}}]`

## Actual behavior

This

[2018-06-16 04:15] mmacfadden commented on #8334
It seems as though this syntax works:

`UPDATE Test REMOVE m.`k1`;`

But this one does not:

`UPDATE Test REMOVE m["k1"];`

Is this intended?

[2018-06-16 05:57] akizze01 opened #8335 "Studio CSV Doesn't Populate File"
### OrientDB Version: 3.0.2
### Java Version: 8
### OS: Windows 10

## Expected behavior
To run a query in Studio with the CSV option. When query runs and you open the file, it should be populated with the results

## Actual behavior
The query runs, file is generated, but the workbook is blank. A green indicator pops up in Studio stating that "the command has been executed"

## Steps to reproduce

[2018-06-16 17:54] castrv opened #8336 "OrientDB Studio Graph Editor allows empty mandatory class properties"
### OrientDB Version: 3.0.2
### Java Version: openjdk version "1.8.0_171"
### OS: Debian 9.4

## Expected behavior
In OrientDB Studio Graph Editor, when I create a vertex from a class with mandatory properties\fields, I expect to get an error if I forget to leave one of those fields empty (That was the behavior in OrientDB 2.2.x).

## Actual behavior
I don't get any error and the vertex is created

[2018-06-16 19:52] rdelangh opened #8337 "which memory params should be set to allow (re)creation of very large Lucene index?"
### OrientDB Version: all, so far
### Java Version: 1.8
### OS: Ubuntu

## Expected behavior
Be able to create Lucene indexes on very large classes (eg containing > 130M documents)

Eg indexes "idx_cdr_icx_20171029_2" and "idx_cdr_icx_20171029_3", both on the same class "cdr_icx_20171029" which contains some 56M docs:
[code]
This works also perfectly on smaller classes, multiple Lucene indexes on

[2018-06-17 04:13] PhantomYdn opened #8338 "OUser.hasRole() does not work correctly in case of child ORole class"
### OrientDB Version: 2.2.30, 3.0.3

There is such line in code: https://github.com/orientechnologies/orientdb/blob/develop/core/src/main/java/com/orientechnologies/orient/core/metadata/security/OSecurityShared.java#L319

[code]

As you can see, there is explicit check for className - it should be equal ORole. But if you extend ORole and use for your project child class: it will lead to bug when h

[2018-06-17 18:01] castrv opened #8339 "OrientDB 3.0.2 - Is it possible to display text inside vertices in Graph Editor?"

[2018-06-18 06:06] luigidellaquila commented on #8325
Hi @hrstoyanov

Good point, I'll add this info to the docs

Thanks

Luigi

[2018-06-18 06:07] luigidellaquila commented on #8331
Hi @hrstoyanov

v 3.0.3 will be officially released in one or two weeks

Thanks

Luigi

[2018-06-18 06:11] luigidellaquila commented on #8334
Hi @mmacfadden

The square bracket syntax is supposed to work, so I'd say it's a bug. I'll check it asap

Thanks

Luigi

[2018-06-18 07:56] turchinc commented on #4612
Hi @luigidellaquila
Any update on this issue or an idea of when we could plan on working with multiple LINK properties? Or maybe a good alternative way to achieve this as @ablbi was asking? Thanks!
Cheers
-chris

[2018-06-18 08:04] edmondboulet opened #8340 "Attempt to etablish a remote connection on local host fail due to AbstractMethodError"
### OrientDB Version: <3.0.0>
### Java Version: <1.8>
### OS: <Linux>

## Expected behavior
graph = factory.getTx(); is supposed to get the Tx out of an OrientGraphFactory that already exist.

## Actual behavior
throw an Error whith the trace :

java.lang.AbstractMethodError: Method com/orientechnologies/orient/core/db/document/ODatabaseDocumentRemote.beforeReadOperations(Lcom/orientechnologies/or

[2018-06-18 08:12] CyprienGottstein commented on #8329
Hello, any news on that ?

[2018-06-18 08:28] #8334 closed

[2018-06-18 08:28] luigidellaquila commented on #8334
Hi @mmacfadden

I just pushed a fix, now all the different syntaxes work fine

Thanks

Luigi

[2018-06-18 08:42] edmondboulet commented on #8340
Tried to change my import to :

import com.tinkerpop.blueprints.impls.orient.OrientGraph;
import com.tinkerpop.blueprints.impls.orient.OrientGraphFactory;

Same result.

[2018-06-18 09:17] maggiolo00 commented on #8339
Hi @castrv

which kind of text?  You can display vertices properties

[2018-06-18 09:48] shubhambondarde opened #8342 "Getting error on createSchema."
### OrientDB Version: 2.2.34
### Java Version: 1.7
### OS: windows

Getting following error for createSchema function:
**java.lang.NoSuchMethodError: java.util.concurrent.ConcurrentHashMap.keySet()Ljava/util/concurrent/ConcurrentHashMap$KeySetView**;
        at com.orientechnologies.common.concur.lock.OReadersWriterSpinLock.releaseWriteLock(OReadersWriterSpinLock.java:178)
        at com.orientech

[2018-06-18 10:12] tglman commented on #8340
Hi @edmondboulet,

Usually this kind of error happen because you are using jars of core and client of different version also minor, or if you have duplicate jars in your classpath.

Regards

[2018-06-18 10:15] edmondboulet commented on #8340
Hello @tglman

Thanks for the answer I will look into it and kup.

[2018-06-18 10:34] luigidellaquila commented on #4612
Hi @turchinc

I'm working on further improvements, I new batch of fixes should arrive in next few days

Thanks

Luigi

[2018-06-18 11:54] tglman commented on #8340
Hi @edmondboulet,

No Problem, closing this.

[2018-06-18 12:13] luigidellaquila commented on #8338
Hi @PhantomYdn

Thank you for reporting, I'm fixing it now

Thanks

Luigi

[2018-06-18 12:39] #8338 closed

[2018-06-18 12:40] luigidellaquila commented on #8338
Hi @PhantomYdn

I just pushed a fix, now it should be OK.
The fix will be released with v 2.2.37 and v 3.0.3

Thanks

Luigi

[2018-06-18 12:49] luigidellaquila commented on #8316
Hi @mikayeln

This is strange, OEdge.setProperty() does not change the version number in any way.

I also tried my test case with a remote connection, but it still succeeds... Any other idea on how to reproduce it?

Thanks

Luigi

[2018-06-18 13:05] luigidellaquila commented on #7160
Hi @obi1kenobi

Yes, the eval() function still has this problem, but please consider that `eval()` is no longer needed in v 3.0, as you can write complex math expressions in plain SQL

Thanks

Luigi

[2018-06-18 14:58] turchinc commented on #4612
Hi @luigidellaquila, thanks for the quick update. Looking forward to your commits.

[2018-06-18 17:14] hrstoyanov commented on #8331
Thanks @luigidellaquila
It seems that the fix works

[2018-06-18 18:13] tntclaus opened #8343 "JPA createQuery (JPQL) Unsupported"
Hi, I am considering to use Orient DB in my project, but it seems like JPA supported is very limited. Queries are not supported at all. Not only JPQL, but Native as well.

You can check it here:
https://github.com/orientechnologies/orientdb/blob/develop/object/src/main/java/com/orientechnologies/orient/object/jpa/OJPAEntityManager.java

### OrientDB Version: 3.0.2
### Java Version: 9
### OS: Any

[2018-06-19 05:56] Akshay-15mca1098 commented on #8246
I am also dealing with the same problem, did you solved it

[2018-06-19 06:17] amachwe commented on #8246
No, we were forced to move to Neo4j

On Tue, 19 Jun 2018 at 6:57 am, Akshay-15mca1098 <notifications@github.com>
wrote:

[2018-06-19 07:32] maggiolo00 commented on #8246
Hi @amachwe

sorry to hear that. From OrientDB 3.0 we started to ship the official support of Apache Tinkerpop

We ship also a version with GremlinServer embedded that you can download here

https://orientdb.com/download-2/

[2018-06-19 08:02] amachwe commented on #8246
Hello Enrico,
Yes we did try it recently with the embedded gremlin but it seems that
there are still issues.

Let me explain my use case.
We have a gremlin Python app that writes to gremlin server - we want to
persist the graph and also query it via other apps directly - and we found
the orient db browser very useful.

We had remote orient db connected to gremlin server (standalone) which our
app

[2018-06-19 08:09] morad-morad commented on #8295
Hi @laa
unfortunately this didn't work
Attached thread dumps
[jstacks.tar.gz](https://github.com/orientechnologies/orientdb/files/2114384/jstacks.tar.gz)

[2018-06-19 14:38] laa commented on #8295
Hi @morad-morad , got it. Will provide you other solution in a couple of days.

[2018-06-19 15:16] HassounDev opened #8345 "Distributed query doesn't work in distributed configuration"
### OrientDB Version: <3.0.1>
### Java Version: <1.8>
### OS: <Linux, Debian>

I have a distributed configuration with 3 servers :

[code]
I already used this conf in orientdb 2.2.x and i wanted to test it in Orientdb 3,
I added a new vertex named : customer in the cluster customer_dsc

`create vertex customer cluster customer_dsc set identifier ='id_1', name='name_1'`

so when i use this query `s

[2018-06-19 15:46] CyprienGottstein opened #8346 "Nested ODatabaseSession can not be natively nested ?"
### OrientDB Version: 3.0.2, 3.0.3-SNAPSHOT
### Java Version: 1.8.0_161
### OS: Ubuntu 16.04

Hello OrientDB Team !

## Expected behavior
ODatabaseSession being nested just like it worked with the old OrientGraph.

## Actual behavior
It works but we have to add **ODatabaseSession.activateOnCurrentThread()** every time a new session has been opened inside an already existing one.

## Steps to repro

[2018-06-19 15:54] rikaze commented on #8301
any update on this?

[2018-06-19 16:14] pmmichels opened #8347 "Property 'width' not/wrong taken when toJSON('prettyPrint') is used"
### OrientDB Version: 2.2.35
### Java Version: 1.8.0_171
### OS: windows 7

## Expected behavior
The width of the fields on each line should be the width as set in the width of the console when using the  `toJSON('prettyPrint')`

## Actual behavior
    +----+---------------------------------------------+
    |#   |this                                         |
    +----+---------------------------

[2018-06-19 18:28] adler4566 opened #8348 "Custom Batch Insert"
### OrientDB Version: 2.2.35
### Java Version: 1.8
### OS: Linux

In the documentation for the custom batch insert it is missing that the transactions must be disabled. If the transactions are not disabled some edges will point to the wrong vertices. This happens because of the post-manipulation of the vertexid from OrientDB.
For example, first I initialize the `ORecordID` objects:

    ORecordId

[2018-06-20 08:31] luigidellaquila commented on #8348
Hi @adler4566

Good point, I'll add a note to the docs

Thanks

Luigi

[2018-06-20 08:33] #8348 closed

[2018-06-20 09:50] edmondboulet opened #8349 "Simple Query in JAVA API slower than OrientDB Studio"
### OrientDB Version: <3.0>
### Java Version: <1.8>
### OS: <Linux>

## Expected behavior
Remove edge or Node whit the ID should have an execution time of 0.02 sec like the performance in OrientdDB Studio.

## Actual behavior
But with the Java API tinkerpop.blueprints it takes one second ( or more ).

## Steps to reproduce
Tried to execute this code, with a graph DB already loaded in my server wit

[2018-06-20 10:02] maggiolo00 commented on #8349
Hi @edmondboulet

first of all if you are using OrientDB 3.0 we advice you to use the new MultiModel API.

https://orientdb.com/docs/3.0.x/java/Java-MultiModel-API.html

Coming to your question it's slower because with Studio you are executing a delete statement
that is entirely executed on the server.

With your code you are

- Fetching one by one from the network each vertices in the Graph.
- An

[2018-06-20 10:03] mikayeln commented on #8313
Hi @tglman
Here are some new information I noticed today.
I've just opened http://127.0.0.1:2480/studio/index.html#/, logged in. Everything was nice untill session got expired. In server log i see this
[code]

[2018-06-20 10:13] mikayeln commented on #8316
Hi @luigidellaquila .
Yes that's definitely very strange version change.Is it possible that somehow database size, records count, indecies are affecting?

[2018-06-20 10:33] luigidellaquila commented on #8316
Hi @mikayeln

Good question, at first I'd say no, `setProperty()` does not do any specific logic depending on db size and record count. The same should be for indexes, but I'll check

Thanks

Luigi

[2018-06-20 10:49] loshurik opened #8350 "Cannot run OrientDB 3.0.2 as a windows service"
### OrientDB Version: Community Edition 3.0.2
### Java Version: 1.8.171 SE
### OS: Windows Datacenter 2016

## Expected behavior
OrientDB is running as a windows service

## Actual behavior
OrientDB GraphEd X.X.X service is created but cannot start.
The event viewer entry says: The OrientDB GraphEd X.X.X service terminated with the following service-specific error: Incorrect function.
Server can b

[2018-06-20 11:18] edmondboulet commented on #8349
Hi @maggiolo00

Thanks for the answer I will look into the multi model API.
I should have precised that with the java application I have a 1+ second time execution **by node** which mean I have 90 seconds execution time for the whole program ( 80 Records ).
Which means that for the same command ( fist code sample ) the command DELETE VERTEX + ID have very different execution time in Java ( 1 sec )

[2018-06-20 12:07] maggiolo00 commented on #8349
Hi @edmondboulet

here it's a quick test that i did.

[code]

It completes on my box in 2/3 ~ secs

[2018-06-20 13:10] edmondboulet commented on #8349
Yes Thank you @maggiolo00  !
I just tested it myself and it is indeed much more competitive.
And thank you for your code sample, it will be very useful for my benchmark.

[2018-06-20 16:26] tglman commented on #8329
Hi @CyprienGottstein,

Yes you are right, the performance depends on the size of the tx, this is because in 3.0.x we made sure that index operations are aware of the changes in transaction, so we send the tx everytime to the server side, we actually do not send it again if the tx didn't change but in your case the tx is actually changing so we need to send it each loop.

We are evaluating how to r

[2018-06-21 06:29] jonsalvas commented on #8291
Fortunately I found this thread. I just started with OrientDB and function programming and was really confused when receiving "orient.getGraph() is not a function" although the doc states that the function exists. An update is definitely needed.

[2018-06-21 07:30] hazzasym opened #8351 "OrientDB make an inconsistency graph."
### OrientDB Version: orientdb-server-2.2.33
### Java Version: openjdk version "1.8.0_144" OpenJDK Runtime Environment (build 1.8.0_144-b01) OpenJDK 64-Bit Server VM (build 25.144-b01, mixed mode)
### OS: FreeBSD 11.0-RELEASE-p1 FreeBSD 11.0-RELEASE-p1

## Expected behavior
Graph should maintain consistency between vertex , edge.

## Actual behavior
OrientDB has a conflict link or missing metadata

[2018-06-21 07:56] CyprienGottstein commented on #8329
Hi @tglman ,

I'm not quite catching your explanation " ** we made sure that index operations are aware of the changes in transaction ** ", wouldn't that be way easier to have a local small index into the current transaction and do a local check followed by a global check asking directly the OrientDB server ? I feel like its strange to send the whole payload to perform checks, i haven't committed

[2018-06-21 08:03] luigidellaquila commented on #8351
Hi @hazzasym

This could be due to an old bug (fixed long time ago).
My suggestion here is to manually fix the graph as follows:

[code]

Please make sure that the `in_*` field name is correct, before running the update try to run a

[code]

and see if the edges are there

Thanks

Luigi

[2018-06-21 08:06] CyprienGottstein commented on #8346
Answer is written in the doc https://orientdb.com/docs/3.0.x/java/Java-Multi-Threading.html. I am an idiot, I apologize for that.

Best regards.

[2018-06-21 08:06] #8346 closed

[2018-06-21 08:46] hazzasym commented on #8351
Thank you @luigidellaquila for your response,

So do we need an upgrade for our OrientDB server to prevent this bug? Which OrientDB version do this issue has fixed in?

Just to make sure because this problem happened to me yesterday on OrientDB version 0.2.33.

Thanks,

[2018-06-21 09:30] rdelangh commented on #7659
I found following, very old, similar issues: #6668 , #5676 , ...
The last reply from @tglman was that the issue would be fixed in 2.2.15, but obviously that is not the case.

[2018-06-21 09:31] rdelangh commented on #8337
@all ,
I found following, very old, similar issues: #6668 , #5676 , ...
The last reply from @tglman was that the issue would be fixed in 2.2.15, but obviously that is not the case.

[2018-06-21 09:35] luigidellaquila commented on #8351
Hi @hazzasym

Not sure about the exact version, but my advice is to upgrade to 2.2.36 (latest stable), and if you have a chance, have a look at v 3.0.2 that contains a lot of improvements

Thanks

Luigi

[2018-06-21 11:47] maggiolo00 commented on #8349
Hi @edmondboulet

i'm gonna close this. If you have issues related to this, please reopen it or open another one

Thanks

[2018-06-21 11:47] #8349 closed

[2018-06-21 13:25] shubhambondarde opened #8352 "Orientdb is not honoring indexes in graph.getEdges(String,Object) API"
### OrientDB Version:  2.2.34
### Java Version: 1.7
### OS: windows

We have created index on 'UID' column of 'TestRelation' edge class.
We are getting edges by applying filter on UID column using graph.getEdges API as follows:
    **graph.getEdges("TestRelation.UID","unique_IdForedge")**
We observed that this API is taking too much time to return the edges.
So we debug getEdges API present in Ori

[2018-06-21 13:28] shubhambondarde commented on #8342
Any update on this issue? when and in which version we will get fix for this?

[2018-06-21 14:31] laa commented on #8342
@luigidellaquila the problem is that distributions which we do are compiled on Java 8. And Java 8 supports overloading of return types. This method, keySet returns in Java 8 different real value than in Java 6. That is why we see this exception. Could we provide an official update of latest ODB using Java 6 compiler?

[2018-06-21 15:08] gianluca-valentini opened #8353 "toLowercase method compromises indexed searches"
### OrientDB Version: 2.2.33
### Java Version: openjdk 1.8
### OS: alpine 3.4

## Expected behavior
select * from CarbonUser where name.toLowercase() == 'mary'
![image](https://user-images.githubusercontent.com/3224592/41727706-48737b3a-7575-11e8-86ba-b19b594d7120.png)

## Actual behavior
select * from CarbonUser where name.toLowercase() == 'mary'
![image](https://user-images.githubusercontent.com

[2018-06-21 15:17] luigidellaquila commented on #8353
Hi @gianluca-valentini

That's correct, OrientDB cannot use indexes in this case.
But you have at least two alternatives:

- you can define case-insensitive indexes and then do the query without the `toLowercase()`, eg.

[code]

- you can use LUCENE indexes, that are case insensitive by default

Thanks

Luigi

[2018-06-21 16:01] laa commented on #8301
@rikaze could you try this one https://drive.google.com/file/d/10wRN4TySKw3G5QPsDqgq86tWrSOnEvZO/view?usp=sharing

[2018-06-21 17:42] marcelalburg opened #8354 "Vertex created via java api not visualized in OrientDb Studio"
### OrientDB Version: 3.0.2
### Java Version: 1.8
### OS: linux / docker

## Expected behavior
I use in Java the gremlin API like this:

[code]

after this, i open the studio in the graph mode and enter

`select from V`

but i didn't see my Vertex. If i create a vertex inside the studio it works. When i click back to "Browse" and compare the both vertex i didn't see any difference.

But i would li

[2018-06-21 18:56] benoror commented on #8012
@laa We imported a backup of our production db (17hrs+ for ~5GB 😱) to test the tool but resulted in a similar result that of @acuciureanu:

![screen shot 2018-06-21 at 13 11 18](https://user-images.githubusercontent.com/119117/41739464-bef89224-755a-11e8-9a84-e5bbf7cb5d13.png)

(repair tool took ~15min)

Any alternative we should consider? 🙏 Cheers!

[2018-06-21 21:53] hrstoyanov commented on #8325
@luigidellaquila you may need to update the demodb and add quotes for the scripts - I tried to build ODB from github and got this:

[code]

[2018-06-21 23:36] hrstoyanov commented on #8325
I tried to fix the POM file, but no success:
[code]

[2018-06-22 00:04] hrstoyanov opened #8355 "3.0.3-SNAPSHOT serious regression"
### OrientDB Version: 3.0.3-SNAPSHOT
### Java Version: 1.8_172
### OS: Win 7

The attached schema script used to work with 3.0.2, but __does nothing__ in 3.0.3-SNAPSHOT:
[code]
I suspect this has something to do with the fix for #8325

[schema.zip](https://github.com/orientechnologies/orientdb/files/2125720/schema.zip)

[2018-06-22 00:58] hrstoyanov opened #8356 "Improve console feedback for running scripts"
### OrientDB Version: 3.0.2

Currently, the feedback from running scripts in console is very unhelpful! For large schema scripts, errors are very hard to trace back to the source and wastes a lot of developer's time. Consider how unhelpful the below output is:

[code]

A  few suggestions:

1. ```set verbose X;``` does not help with increasing the verbosity at all. I tried X=3, 10 ...? Please docum

[2018-06-22 06:29] luigidellaquila commented on #8354
Hi @marcelalburg

Please try to add a `graph.commit()` at the end, this should solve the problem.

If you are using v 3.0, I strongly suggest you to have a look at the Multi-Model API https://orientdb.com/docs/3.0.x/java/Java-MultiModel-API.html

Thanks

Luigi

[2018-06-22 07:00] luigidellaquila commented on #8355
Hi @hrstoyanov

Thank you for reporting, I'm fixing it now

Thanks

Luigi

[2018-06-22 07:48] #8355 closed

[2018-06-22 07:48] luigidellaquila commented on #8355
Hi @hrstoyanov

I just pushed a fix, it should solve the problems

Thanks

Luigi

[2018-06-22 08:55] gianluca-valentini commented on #8353
Hi @luigidellaquila
I execute
 CREATE INDEX CarbonUser.name ON CarbonUser (name COLLATE ci) NOTUNIQUE

And now it works as expected.
![image](https://user-images.githubusercontent.com/3224592/41767727-b0888158-760a-11e8-91ff-3ba33317c9e6.png)

But there is still one scenario where the behavior is case sensitive.
If you use the `any()` construct  the database still perform a case-sensitive research

[2018-06-22 08:58] VadimLopatkin opened #8357 "Incorrect results when query.parallelAuto=true in config"
### OrientDB Version: 2.2.36
### Java Version: openjdk version "1.8.0_144"
### OS: CentOS Linux 7 (Core)

## Expected behavior
`select count (*) from Product where purchased=true` (or any other count(*), or any select at all) should always give the same number

## Actual behavior
`select count (*) from Product where purchased=true` gives always different number, fluctuating

## Steps to reproduce

[2018-06-22 10:39] gianluca-valentini commented on #8353
Hi @luigidellaquila
thanks a lot. What about the performace using LUCENE insteadof NOTUNIQUE?

In my opinon the LUCENE index is useful when you try to search a word in a big text. So I thought to exclude it as I need to search on some Class fields, as name, surname userid

[2018-06-22 12:16] marcelalburg commented on #8354
Hello,

thanks for you fast answer. I make already a commit.

I created an repo where you can see what i did/do and can reproduce it.

https://github.com/marcelalburg/orientdb3-embedded

After you check out this repo, you need to extract orientdb studio first with the command

`mvn generate-sources`

in your IDE, you should make a breakpoint here:

https://github.com/marcelalburg/orientdb3-embedde

[2018-06-22 13:04] luigidellaquila commented on #8240
Hi @rdelangh

I could never manage to reproduce this issue, is it still relevant?

Thanks

Luigi

[2018-06-22 13:10] #1108 closed

[2018-06-22 13:10] luigidellaquila commented on #1108
As described above, this is already possible via SQL

Closing, thanks

Luigi

[2018-06-22 13:12] maggiolo00 commented on #8354
Hi @marcelalburg

i've just run your test, and i was able to see vertices in Studio - Browse and Graph Editor

[2018-06-22 13:14] marcelalburg commented on #8354
This is strange. I didn't. I test this on two different desktop machines and in chrome and safari.

[2018-06-22 13:17] #2352 closed

[2018-06-22 13:17] luigidellaquila commented on #2352
It was fixed in v 3.0 with the new SQL executor

Closing, thanks

Luigi

[2018-06-22 13:18] maggiolo00 commented on #8354
Here it's what i see

<img width="959" alt="screen shot 2018-06-22 at 15 17 18" src="https://user-images.githubusercontent.com/98812/41778598-719e4f7a-762f-11e8-9da7-bcdb7c2195d7.png">

[2018-06-22 13:18] maggiolo00 commented on #8354
Can you add on your test this

[code]

I got count 2

[2018-06-22 13:20] maggiolo00 commented on #8354
Maybe you have some kind of Error on Studio?

[2018-06-22 13:23] #3059 closed

[2018-06-22 13:23] luigidellaquila commented on #3059
With new SQL executor (v 3.0) there is a much smarter usage of indexes, so this kind of problems is much less frequent

Closing as it's not relevant anymore

Thanks

Luigi

[2018-06-22 13:24] #3150 closed, assigned to luigidellaquila

[2018-06-22 13:28] #3261 closed, assigned to luigidellaquila

[2018-06-22 13:28] luigidellaquila commented on #3261
This is a pretty old question (no idea why it was not answered so far) but I think it deserves an answer.

In SQL, the best way to do this is

[code]

Anyway, it's not optimized and cannot be optimized with lightweight edges.

With regular edges, of course, the best way to achieve this is to define an index on `EdgeClass[out, in]` and query on it

Thanks

Luigi

[2018-06-22 13:30] #3328 closed

[2018-06-22 13:30] luigidellaquila commented on #3328
It's already fixed in v 3.0

Closing, thanks

Luigi

[2018-06-22 13:31] marcelalburg commented on #8354
Hello,

i add your line and see:

`15:26:29.176 [graph-microservice] [main] INFO  example.RemoteStoringTest - Vertex count: 2`

Even i tested this with IntelliJ IDEA now and it's not working :(

![bildschirmfoto 2018-06-22 um 15 28 23](https://user-images.githubusercontent.com/4396769/41779178-47322d04-7631-11e8-9c97-a49cd3593237.png)
![bildschirmfoto 2018-06-22 um 15 28 10](https://user-images.gi

[2018-06-22 13:39] rdelangh commented on #8240
ok, we will upgrade to latest release, if this seem to have fixed the issue meanwhile.
thx Luigi !

[2018-06-22 13:46] #3630 closed

[2018-06-22 13:46] luigidellaquila commented on #3630
OrientDB v 3.0 solves problems related to FETCHPLAN and include() with nested projections
( https://orientdb.com/docs/3.0.x/sql/SQL-Projections.html#nested-projections ), so this issue is no longer relevant.

Closing, thanks

Luigi

[2018-06-22 13:47] maggiolo00 commented on #8354
Hi @marcelalburg

i've found the problem.

remove `orientdb-graphdb` and use

[code]

in your pom.xml. `orientdb-graphdb` is deprecated and it's old TP2 implementation

[2018-06-22 13:51] #4082 closed

[2018-06-22 13:51] luigidellaquila commented on #4082
These issues were fixed with the new SQL executor (v 3.0)

Closing, thanks

Luigi

[2018-06-22 14:10] #4251 closed

[2018-06-22 14:10] luigidellaquila commented on #4251
This is fixed in v 3.0 with the new SQL executor

Closing, thanks

Luigi

[2018-06-22 14:12] #4692 closed

[2018-06-22 14:12] luigidellaquila commented on #4692
This is fixed in v 3.0 with the new SQL executor

Closing, thanks

Luigi

[2018-06-22 14:35] marcelalburg commented on #8354
Wow, thanks man for this awesome help. As a suggestion, feel free to put my integration test class to your examples. i guess a lot of people needs to ramp up an working remote embedded orientdb for their test.

Thanks

[2018-06-22 14:35] #8354 closed

[2018-06-22 14:47] #5139 closed

[2018-06-22 14:47] luigidellaquila commented on #5139
I just added support for comments in the console, this will be released with v 3.0.3

Thanks

Luigi

[2018-06-22 15:06] #5559 closed

[2018-06-22 15:06] luigidellaquila commented on #5559
Hi guys,

This is a pretty old issue and already resolved.
I'm closing it, please feel free to re-open if you need further info

Thanks

Luigi

[2018-06-22 15:09] #5576 closed

[2018-06-22 15:09] luigidellaquila commented on #5576
Hi @sinfex

This issue was fixed long time ago in V 3.0

Closing, thanks

Luigi

[2018-06-22 15:10] #5587 closed

[2018-06-22 15:10] luigidellaquila commented on #5587
Hi all,

This issue is fixed in v 3.0 with the new SQL executor. I'm closing it

Thanks

Luigi

[2018-06-22 15:17] #5666 closed

[2018-06-22 15:17] luigidellaquila commented on #5666
Hi @8forty

In v 3.0 we fixed all this with the new `x..y` (last excluded) and `x...y` (last included) range syntax, eg.

select expand(minute[29...30]) from hour where hour=7

Thanks

Luigi

[2018-06-22 15:19] #5745 closed

[2018-06-22 15:19] luigidellaquila commented on #5745
This is fixed in v 3.0, now it returns `:par` as column name

Thanks

Luigi

[2018-06-22 15:20] #5838 closed

[2018-06-22 15:20] luigidellaquila commented on #5838
This is fixed in v 3.0

Closing, thanks!

Luigi

[2018-06-22 15:22] #5804 closed

[2018-06-22 15:22] luigidellaquila commented on #5804
Hi @jgrabowski

This was released long time ago.
I'm closing this issue, please feel free to re-open if you need further info

Thanks

Luigi

[2018-06-22 15:32] #6152 closed

[2018-06-22 15:32] luigidellaquila commented on #6152
For cluster IDs in a class you can use

[code]

For clusters in the server you can use

[code]

Then you can mix them to get info about clusters in a single class:

[code]
(tested in v 3.0)

Thanks

Luigi

[2018-06-22 17:35] obi1kenobi commented on #5960
Thanks for fixing!

[2018-06-22 21:58] rdelangh commented on #6152
hi @luigidellaquila
before we can start to use v3, could you please help to fix our issue with Lucene indexes on multiple-fields, in v3 : #8323 ?

[2018-06-22 22:01] rdelangh commented on #6152
in v2.x, there is no such thing as "metadata:storage", to query the cluster-ids from, or is there another place to look for cluster details?

[2018-06-22 22:38] hrstoyanov opened #8358 "Alternative property name?"
### OrientDB Version: 3

It'd be nice, if one can give additional alternative names for ```in/out``` edge properties:
[code]

This way, we can still use in/out for standard graph stuff, but also, the much more informative: account and user.

[2018-06-23 00:16] hrstoyanov commented on #8325
@luigidellaquila
I just realized this issue is not yet completely fixed in the lastest 3.0.3-SNAPSHOT.  ```CONNECT 'plocal:/winpath'; admin admin``` fails with Windows paths (with or without quotes around the url),  while ```CREATE DATABASE 'plocal:/winpath'; admin admin``` works!

Not sure why there is a difference ???

[2018-06-23 04:56] hossein-md commented on #8312
Hi @jhegman
You can set "newNodeStrategy": "dynamic"
When you want to remove one of your servers, `"readQuorum": 1`, `"writeQuorum": "majority"` and  `"newNodeStrategy": "static"` are important.

[2018-06-23 07:34] rikaze commented on #8301
Root entry is null, root pointer is OBonsaiBucketPointer{pageIndex=10, pageOffset=61440} file is filled up to 8 ridbag owner is #133:0 [OSBTreeBonsaiLocal]$ANSI{green {db=XXXX}} Exception `1C608B9B` in storage `XXXX`

[2018-06-23 18:50] castrv commented on #8339
Hi,

I mean text label, as exemplified in the picture attached. It seemed possible in previous versions.
![screenshot from 2018-06-23 19-47-40](https://user-images.githubusercontent.com/38989249/41812637-a5d45754-771e-11e8-98cb-a40074840389.png)

[2018-06-23 19:32] gtadudeps commented on #5433
Hi @lvca @tglman we are using 2.2.28v of orient client/DB and still experiencing this issue the load is around 31.1 K inserts/read per minute and have 4 concurrent threads but we have identified some thread are getting locked up quite frequently under load and killing the performance of whole application attaching a drill down graph

[2018-06-24 14:05] StrangeTcy opened #8359 "Unable to make public long com.sun.management.internal.OperatingSystemImpl.getTotalPhysicalMemorySize() accessible: module jdk.management does not "opens com.sun.management.internal" to unnamed module"
### OrientDB Version:
Community 3.0.2

### Java Version:
openjdk version "10.0.1" 2018-04-17
OpenJDK Runtime Environment (build 10.0.1+10)
OpenJDK 64-Bit Server VM (build 10.0.1+10, mixed mode)

### OS:
Ubuntu 16.04 x64

## Expected behavior
The server would be started and a prompt for a password would appear

## Actual behavior
[code]

## Steps to reproduce
Download the community edition .gz
Extr

[2018-06-25 06:04] luigidellaquila commented on #8358
Hi @hrstoyanov

Do you mean aliases for properties? We can consider it in next releases, I'll flag it as an enhancement

Thanks

Luigi

[2018-06-25 06:51] luigidellaquila commented on #8359
Hi @StrangeTcy

From the logs I see it's OrientDB v 2.2.22, please upgrade to 2.2.36, it should be already fixed

Thanks

Luigi

[2018-06-25 07:02] luigidellaquila commented on #6152
Hi @rdelangh

In v 2.x there is no way to retrieve the clusters from SQL. You have to do it via API.

eg. in Java:

[code]

Thanks

Luigi

[2018-06-25 08:44] StrangeTcy commented on #8359
Sorry, I'm confused.

- I download, extract and copy an archive named orientdb 3.0.2 (that's the actual [link](https://s3.us-east-2.amazonaws.com/orientdb3/releases/3.0.2/orientdb-3.0.2.tar.gz) I use)
- I try to `sudo bin/server.sh` there
- I get errors that, among other things, indicate that the actual version of OrientDB is 2.2.22 and not 3.0.2 as I would (reasonably, I think) expect.

Anyway, t

[2018-06-25 08:48] StrangeTcy commented on #8359
Update: a version that was provided in an archive that's pointed to by the "for any OS" link contains the 3.0.2 version, and it does work.
Still, I think that's confusing.

[2018-06-25 09:01] luigidellaquila commented on #8359
Hi @StrangeTcy

Oh, got it, thank you very much for pointing it out, I'll fix the website

Thanks

Luigi

[2018-06-25 09:28] luigidellaquila commented on #8359
Hi @StrangeTcy

I checked the website and everything seems to be OK.

So just to recollect the information, if you have a chance to use v 3.0.x I'd strongly suggest you to do so. For v 2.2.x we will do a check, probably there is an incompatibility with Java 10

Thanks

Luigi

[2018-06-25 09:31] luigidellaquila commented on #8359
Hi @StrangeTcy

I just checked the source code and saw that OMemory.getPhysicalMemorySize() no longer exists in v 2.2.36, so it's unlikely that the error is the same.

Could you please post the error you obtain with latest version?

Thanks

Luigi

[2018-06-25 09:43] luigidellaquila commented on #8325
Hi @hrstoyanov

We just tried it and it seems to work fine. Could you please post a path that makes it fail?

Thanks

Luigi

[2018-06-25 10:01] rdelangh commented on #8337
Using 2.2.37, I seem to re-create most of my (big) indexes finally.

I also included the extra directive
[code]
in the index-creation statement, as per these documentation:
https://orientdb.com/docs/2.2.x/Full-Text-Index.html#lucene-writer-fine-tuning-expert

However this generates an error regarding that part
[code]
From the logs:
[code]

[2018-06-25 10:06] andreyvk commented on #8175
Hi @luigidellaquila

We are still trying to move to new orient. At the moment we are having a problem with querying a class. The query is simple:

`select from TestClass where in('owns')['@rid'] = #34:56`

The `TestClass` is actually some other existing class, but this same query does not produce any results at all (orient 2.2 is behaves fine of course). The database was just copied from 2.2 to 3.

[2018-06-25 10:13] robfrank commented on #8337
It seems that the json provided doesn't eclose **nio** into double quotes:

[code]
instead of

[code]

can you check?

BTW there's a typo in the doc, the default is to use MMAP, not NIO.

[2018-06-25 10:24] luigidellaquila commented on #8175
Hi @andreyvk

V 3.0 is much more accurate in evaluating SQL statements, and that query in particular has a lot of problems:

- the in() method returns a list, so you have to use `CONTAINS` instead of `=`  (btw, why are you using `['@rid']`? You just don't need it)

This will do the trick

[code]

- filtering on traversal is extremely inefficient, if you re-write the query the other way around it w

[2018-06-25 10:51] rdelangh commented on #8337
hi @robfrank ,
- indeed the JSON to create the indexes lost its double-qoutes, that's corrected now
- I used NIO because you suggested yourself long time ago (#7228, see my comments above) to avoid MMAP because of potentially too much memory usage

[2018-06-25 12:49] andreyvk commented on #8175
That worked nicely, thanks! However, i cant figure out now why "Explain" in the studio doesnt print out used indexes. How can i check now?

[2018-06-25 12:51] luigidellaquila commented on #8175
Hi @andreyvk

The new EXPLAIN is a bit different from the old one, it gives you full information about all the query execution steps. If an index is uses, you'll see a FETCH FROM INDEX step. If you are using both 2.2.x and 3.0 together, please make sure you refresh the browser so that Studio reloads completely, otherwise you could have some weird behavior

Thanks

Luigi

[2018-06-25 16:31] hrstoyanov commented on #8358
Thanks @luigidellaquila , yes "aliases", if it sounds better. I am not sure what the best syntax would be, for example:
[code]

[2018-06-25 17:10] hrstoyanov commented on #8325
@luigidellaquila
Here is the Gradle snippet of code that I use - you see how I warp CONNECT url into '' in my ```seedDatabase``` task:

[code]

I have also attached
[issue8325-connect.zip](https://github.com/orientechnologies/orientdb/files/2134014/issue8325-connect.zip) the output log. You can see in the log how the CONNECT command is being run and how the presence of  ```\r``` in the url path br

[2018-06-26 07:04] luigidellaquila commented on #8325
Thank you @hrstoyanov , I'll check it asap

Luigi

[2018-06-26 07:15] hossein-md commented on #8345
Hi @HassounDev

Which version of 2.2.x works for you? I've tested 2.2.26, 2.2.30, 2.2.33 and 2.2.35 but only 2.2.26 and 2.2.30 work for me. 2.2.33 and 2.2.35 return an error as I mentioned in #8297.
Even in these versions, traverse doesn't work fine as I expected.

Thanks

[2018-06-26 15:06] ms123s commented on #2945
Is this now implemented in 3.0.2

[2018-06-26 15:19] schernolyas commented on #2945
Hi @ms123s !

Thanks!  I will check it for my application

[2018-06-26 15:39] ms123s commented on #2945
Sorry, but this was a Question from me.
I have only forgotten the questionmark

[2018-06-26 16:01] LianaN opened #8360 "How to create Link property and save the data in OrientDB from Spark?"
### OrientDB Version: 2.2
### Scala Version: 2.11.8
I use spark-orientdb connector to store DataFrame to OrientDB.

[code]

Everything works fine, except one case. One of the fields of the OrientDB table `User` should be of the type `Link`. This field called `ContentLink` should point to the field `ContentId` of the table `Content`.

[code]

Then I save the data in Spark as follows:

[code]

When

[2018-06-26 16:14] a-unite commented on #2945
Guys, that was the roughest adrenaline-depression curve I've experienced in last years.
Almost cried (hoorays) receiving message from @schernolyas, almost laughed (weeping) on the last comment from @ms123s...

[2018-06-26 19:45] schernolyas commented on #2945
HI @a-unite !

Hm ... What do you mean?

[2018-06-27 04:29] PhantomYdn commented on #8358
Not sure what actually meant under aliases here... If there is need to have limitation for specific type of edge you can use something like `create property MyVertext.in_account LINK Account`

[2018-06-27 05:52] hrstoyanov commented on #8358
My understanding is that in/out have special meaning, therfor we need
aliases?

/Hristo Stoyanov

On Tue, Jun 26, 2018, 9:29 PM Ilia Naryzhny <notifications@github.com>
wrote:

[2018-06-27 08:30] mikayeln commented on #8319
Hi @tglman,

When we can expect 3.0.3 version to be released?

Thanks

[2018-06-27 13:12] rikaze commented on #8301
Hello, @laa any clue with the error message?

[2018-06-27 14:57] Kevin-Darty opened #8361 "CSV extractor always skipping the first line"
The CSV extractor is not importing the first line when the option `columnsOnFirstLine` is set to `false`.

json:
[code]
csv:
[code]
### OrientDB Version: OrientDB etl v.2.2.30 (build 43d850df23c0fd1edca7279761c2238fdc6cc576, branch 2.2.x)
### Java Version: OpenJDK Runtime Environment (build 1.8.0_151-b12)
OpenJDK 64-Bit Server VM (build 25.151-b12, mixed mode)

### OS: Linux 3.10.0-693.5.2.el7.x86

[2018-06-27 15:01] Kevin-Darty commented on #8361
For information: with the same csv, with `columnsOnFirstLine` set to `true` or `false`, the result is always the same:
[code]

[2018-06-27 16:06] luigidellaquila commented on #8325
Hi @hrstoyanov

I just pushed a new fix, now also the "connect" is correctly managed

Thanks

Luigi

[2018-06-27 19:11] hrstoyanov commented on #8325
@luigidellaquila , .. sigh ... now I am seeing different issue, see the new attached file
[issue8325-connect.zip](https://github.com/orientechnologies/orientdb/files/2142598/issue8325-connect.zip)

[2018-06-27 19:30] laa commented on #8295
Hi @morad-morad could you try this one https://drive.google.com/file/d/1qV4HodVLKwitX_FIksEYv4MiDGhWMqWq/view?usp=sharing

[2018-06-27 22:40] hrstoyanov commented on #8355
Thius seems fixed, please close.

[2018-06-28 02:01] ScoobyMax commented on #8276
Got repro on 2.3.35  http://prntscr.com/k07itj received only the first execution and disabling of the schedule further

orientDB do not execute the request "select getConnections()[0]" either http://prntscr.com/k07j6t

[2018-06-28 04:45] luigidellaquila commented on #8325
Hi @hrstoyanov

It could be the two blank spaces after `connect`, I'll check it and let you know asap

Thanks

Luigi

[2018-06-28 04:45] luigidellaquila commented on #8325
Hi @hrstoyanov

It could be the two blank spaces after `connect`, I'll check it and let you know asap

Thanks

Luigi

[2018-06-28 07:10] #8325 closed

[2018-06-28 07:10] luigidellaquila commented on #8325
Hi @hrstoyanov

Yes, that was the problem, I just pushed a fix

Thanks

Luigi

[2018-06-28 16:05] hrstoyanov commented on #8325
@luigidellaquila well, now there is another problem, see attachment
[issue8325-connect.zip](https://github.com/orientechnologies/orientdb/files/2146041/issue8325-connect.zip)

[2018-06-28 16:09] luigidellaquila commented on #8325
Uhm... ok, the problem here seem to be the quotes, checking now

[2018-06-28 16:42] luigidellaquila commented on #8325
Hi @hrstoyanov

Thank you very much for your patience, I just pushed another fix

Luigi

[2018-06-28 16:45] CyprienGottstein opened #8362 "Delete vertex from Match queries does not remove every records"
### OrientDB Version: 3.0.3 - SNAPSHOT, 3.0.2
### Java Version: 1.8.0_161-b12
### OS: Ubuntu 16.04

Hello OrientDB team ! I have more work for you, i fear.

## Expected behavior
Delete from OSQL statement removing the same items as the one listed from the single Match statement

## Actual behavior
Only part of the items listed by the match statement are removed

## Steps to reproduce
I've joined a

[2018-06-28 21:29] hrstoyanov commented on #8325
@luigidellaquila  works now!

[2018-06-29 01:49] hrstoyanov opened #8363 "Question/issue about REGEXP property constraint?"
### OrientDB Version: 3.0.3-SNAPSHOT
### Java Version: 1.8

I have defined the following property:
[code]
When I try to insert value C:
[code]

I get this exception:
[code]

 Why is the validator saying that my regular expression is 'REGEX' when it is clearly not  (it is [C|U|D|V])?

[2018-06-29 16:14] adler4566 opened #8364 "Hash-Index over ORecordId field"
### OrientDB Version: 2.2.35
### Java Version: 1.8

Hello,
I created with the custom batch insert my graph. No I wanted to create a Hash-Index over the `out` and `in` field of an edge. Those fields are typically from the type `ORecordID`.

If I use the following statement for creation:
    `CREATE PROPERTY EdgeConnectClass.out ORecordId`

I get the following Exception:
    `Error: com.orientechnol

[2018-06-29 16:53] adler4566 commented on #8364
Oh ok, thank you very much! I didn't see this in the documentation, sorry.

[2018-06-29 16:56] adler4566 commented on #8364
And what type I should use when I want to create a index over the `rid`?

[2018-06-29 16:59] maggiolo00 commented on #8364
@adler4566

Hash index is fine. Then you have to choose if you want it to be UNIQUE or NOT_UNIQUE
I hope it helps

[2018-06-29 17:05] adler4566 commented on #8364
@maggiolo00 Sorry, I didn't formulate the question correct. If I want to create a Hash index over the `rid` of a record, how the property generation would work? For example I want to create an index over the `rid's` of the Vertex.class, how would be the correct syntax to create the property for the `rid's`?

[2018-06-29 17:22] maggiolo00 commented on #8364
@adler4566

`@rid` of records cannot be indexed . Only link/linklist/linkset properties to other records.

`@rid` of record are automatically generated  by the database and you can consider them as physical address. So loading records by rid is super fast and it does not need an index

For example consider this queries

[code]

The execution will not browse all record matching that `@rid` but will

[2018-06-29 18:56] ErikShiken opened #8365 "Long.MIN_VALUE is parsed incorrectly in a query"
### OrientDB Version: 2.2.29
### Java Version: 1.8.0_72
### OS: Windows 10

## Expected behavior
Parse Long.MIN_VALUE correctly for a query

## Actual behavior
Parser throws an exception

## Steps to reproduce
Use a query that check the value of a property using Long.MIN_VALUE
For example:
SELECT FROM V WHERE hs_3apoint >= -9223372036854775808

It appears the '-' is parsed first and then the numbe

[2018-07-01 21:44] marcelalburg opened #8366 "Gremlin Property don't set the property"
### OrientDB Version: 3.0.2
### Java Version: 1.8
### OS: mac os

## Expected behavior
When i call g.V().has("key", "x").property("test", "value"), i would expect, that this item has the property

## Actual behavior
The property is empty

## Steps to reproduce
i created a test:
you can clone: https://github.com/marcelalburg/orientdb3-embedded

and the failed test is here:

https://github.com/marce

[2018-07-02 03:15] hrstoyanov opened #8367 "Strange field validation error?"
### OrientDB Version: 3.0.3-SNAPSHOT
### Java Version: 1.8_172
### OS: MacOS

I have the following class schema definition:
[code]
I am definitely seting the ```Action.type``` filed as seen from this debugger snapshot:

-- See line 62 in the upper panel (the code)
-- See the variable dump in the lower panel - the value is clearly set as "C"
-- Also all other properties on the OElement action appea

[2018-07-02 06:17] luigidellaquila commented on #8365
Hi @ErikShiken

Thank you very much for reporting, I'm checking it now

Thanks

Luigi

[2018-07-02 07:52] adler4566 commented on #8364
Oh ok, I understand. Thank you!

[2018-07-02 08:29] #8364 closed

[2018-07-02 08:57] WeaxMe opened #8368 "Scheduler don't schedule events"
### OrientDB Version: 2.2.30
### Java Version: OpenJDK 1.8
### OS: Ubuntu 18.04

## Expected behavior
Scheduler must schedule events when database start running

## Actual behavior
Scheduler schedule events only when events created.
This happens, because in this [line](https://github.com/orientechnologies/orientdb/blob/2.2.x/core/src/main/java/com/orientechnologies/orient/core/schedule/OSchedulerI

[2018-07-02 09:15] WeaxMe commented on #8368
All works if call `OScheduler.updateEvent(event)` on start application.

[2018-07-02 12:38] maggiolo00 commented on #8366
Hi @marcelalburg

in your traversal
[code]
There is no terminal step. That means that the traversal is not executed.

Something like this

[code]

See here for more info.
http://tinkerpop.apache.org/docs/current/reference/#terminal-steps

I hope it helps

Thanks

[2018-07-02 14:46] 2082041S opened #8369 "3.0.3 Connection Pool throws OTokenSecurityException after an hour of inactivity"
### OrientDB Version: 3.0.2
### Java Version: 1.8
### OS: Windows 10

## Expected behavior
The token should be refreshed when the user triggers an action such as "commit" against the OrientGraph object after an hour of inactivity passes by.

## Actual behavior
After one hour of inactivity, triggering an action throws the following exception: "com.orientechnologies.orient.enterprise.channel.binary.

[2018-07-02 15:13] CyprienGottstein opened #8370 "OrientDB Distributed - Cluster unavailable blocking writes"
### OrientDB Version: v3.0.3
### Java Version: 1.8.0_171
### OS: Ubuntu 16.04

Hello OrientDB team!

I can't show you much as the db data and metamodel are confidential and it is kind of a mess, but I'll try and do my best to describe the problem.

So.

I have 3 OrientDB nodes running together, this is our hazelcast.xml :

[code]

And this is our distributed-config.json (i've kept only the essenti

[2018-07-02 15:31] hrstoyanov commented on #8367
@luigidellaquila I found the reason - not sure if it is a bug or not - __If this is a ODB bug, please fix it.__

Here is portion of my schema to help you understand:

[code]

You can barely see this in the screenshot, but at the code bottom I had this order of saving objects:
[code]
Where the auditing Action (an Element) is linked through the Tracker with the Staffer (a user vertex)

This was caus

[2018-07-02 15:57] #8365 closed

[2018-07-02 15:57] luigidellaquila commented on #8365
hi @ErikShiken

I just pushed a fix to develop branch (3.0.x), it will be released with v 3.0.4

Now I'm backporting it to v 2.2.x

Thanks

Luigi

[2018-07-02 16:37] tglman commented on #8319
Hi @mikayeln,

3.0.3 has been already released.

Regards

[2018-07-03 01:41] hrstoyanov commented on #8363
@luigidellaquila have you had a chance to look at that? I checked the demo-db schema and you guys never used REGEX constraints there?

[2018-07-03 06:45] luigidellaquila commented on #8363
Hi @hrstoyanov

Sorry, not yet, I'll try to do it asap

Thanks

Luigi

[2018-07-03 09:17] HassounDev opened #8372 "Create Edge between two vertexes located on different nodes using Sharding"
### OrientDB Version: <2.2.2>
### Java Version: <1.8>
### OS: <Debian>

I have this configuration with 3 nodes (usa, europe and china) and I have 6 clusters with 2 clusters in each node.

Because in every node I will have a vertex customer and an edge phc, so in every node I created my customer vertexes with phc edges.

[code]
But when I want to create an edge from a vertex in usa node to a vertex

[2018-07-03 10:21] #8363 closed

[2018-07-03 10:21] luigidellaquila commented on #8363
Hi @hrstoyanov

It was a bug, I just pushed a fix to develop branch, it will be released with v 3.0.4

Thanks

Luigi

[2018-07-03 11:15] berevesero opened #8373 "SQL Batch query"
### OrientDB Version: 2.2.35
### Java Version: 1.8

Hello,
my current situation is the following: I searching over the `graph.command()` command with sql a specific vertex and from this vertex i traverse over all outgoing edges, using the `GremlinPipeline`. Now I tried to use a SQL Batch query, but from here I don't know how I can get the returned objects to but them into the `Gremlinpipeline`. So

[2018-07-03 11:20] luigidellaquila commented on #8362
Hi @CyprienGottstein

This is not a bug, this behavior is a consequence of how OrientDB v 3.0 executes queries. The result set is streamed, that means that the query result is calculated record by record and passed to the outer queries.

In this case, the DELETE statement gets records one by one from the MATCH statement and it deletes them as soon as it receives them. When the first records are de

[2018-07-03 11:35] luigidellaquila commented on #8353
Hi @gianluca-valentini

Lucene performance is very good, even with small text, so you can definitely consider it

Thanks

Luigi

[2018-07-03 11:36] luigidellaquila commented on #8351
Hi @hazzasym

Did it help? Can we consider this ticket closed?

Thanks

Luigi

[2018-07-03 11:43] hazzasym commented on #8351
Ok, you can consider close this ticket now, then we would try to upgrade our OrientDB to newest version therefor if this problem occur again we can issue ticket further.

Thanks,

[2018-07-03 13:02] luigidellaquila commented on #8351
Great, closing then

Thanks

Luigi

[2018-07-03 13:02] #8351 closed

[2018-07-03 13:05] CyprienGottstein commented on #8362
Hi @luigidellaquila ,

Well, i think i understand your choices about streaming the record from the queries and i understand the work-around, i've tried it and made it work, fine.

For some reason we have to store the whole objects in the select of **LET $a**.

Why can't we just store the **#rid** and use that to make the delete vertex statement ? It's even shown in the documentation https://orient

[2018-07-03 13:20] CyprienGottstein commented on #8362
About the problem of delete vertex from ( ** subquery returning rid **), this is the OSQL script i tried :

And this is the output of the result :

When i perform this very simple query :

It returns a record of class **my_class** which inherits from V and is shown into the **Vertex Classes** section of the Studio - Schema Tab.

[2018-07-03 13:29] luigidellaquila commented on #8362
Hi @CyprienGottstein

This happens because the projection in the SELECT query is not a vertex. You can make it work though, please try the following:

[code]

I also moved the condition ` where static = false` in the inner query, so that OrientDB will be able to use indexes, if present.

About big result sets and disk-backed data structures, currently we do not support it, but we know the problem

[2018-07-03 13:59] CyprienGottstein commented on #8362
Hi @luigidellaquila ,

Alright, it works. About the `where static = false` i'm showing you the tip of the iceberg, we have request much more complex than that, this clause is just a protection, but i'll keep it in mind, good to know.

Too bad for the disk-backed data structures, we will do our own custom solution for the time being.

Thanks for your time,

Cyprien.

[2018-07-04 09:11] diegomtassis commented on #8240
We are experiencing the same problem (using 2.2.36).

It does not happen always, it depends on the number of clauses in the query and even on the result of evaluating each sub condition.

I'm trying to reproduce in an IT some failing scenarios. I'll provide it here the moment I have it.

[2018-07-04 09:33] luigidellaquila commented on #8240
Hi @diegomtassis

Thank you very much, having a reproduce will be a huge help.

As a general note, this kind of problem no longer exist in v 3.0, so my advice is to upgrade as soon as you have a chance

Thanks

Luigi

[2018-07-04 10:30] CyprienGottstein commented on #8370
Hello OrientDB Team !

I purged the whole database (its for a proof of concept at the moment, hopefully i can afford that.) to retry from scratch. The configuration is the same and i've reproduced the problem once more on my side.

The "good" part of that is that i managed to capture the log right at the moment everything went wrong, maybe it will be easier to understand what's going on. The logs

[2018-07-04 10:41] mikayeln commented on #8319
Thanks @tglman.
I've tried 3.0.3 version. Still acquiring speed is very slow.
[code]

Here is the code

[code]
Is there any chance that speed will become like 0-5 ms ?

[2018-07-04 10:47] luigidellaquila commented on #160
Hi all,

I have fresh news on this topic: we just started implementing materialized views in OrientDB.
They will be released with v 3.1

Thanks

Luigi

[2018-07-04 10:49] gianluca-valentini commented on #8353
Thanks a lot @luigidellaquila

[2018-07-04 10:54] gianluca-valentini commented on #8353
Do you think that Lucene index is good also for Long fields?

In my case I need also to execute a query where lastExecutionTime (is a Long) > 100000
but, looking the Explain result, no index is involved during its execution.
Thanks
Gianluca

[2018-07-04 10:58] maggiolo00 commented on #8353
Hi @gianluca-valentini

if you need range queries you can use Lucene

[code]

[2018-07-04 11:22] adler4566 commented on #8373
Hey @luigidellaquila ,

thank you for your approach, but it doesn't help. The `GremlinPipeLine` object returns nothing. If I turn on the debugger to illustrate the structure of the `orientDynaElementIterableBatch` object it shows me the following:

![gscreenshot_2018-07-04-132037](https://user-images.githubusercontent.com/25270367/42274469-164a9734-7f8d-11e8-9a6e-d5114151c677.png)

To you have an

[2018-07-04 12:06] tglman commented on #8370
Hi @CyprienGottstein,

I got the problem you are having, for some reason we do not managed the cluster "my_class" correctly in distributed, what are the step for reproduce this problem ? from what i read so far:

- setup a distributed environment with 3 nodes.
- create a class "my_class"
- do some insert in "my_class"
- restart some of the nodes
- redo some insert in "my_class" and they get stuck

[2018-07-04 12:42] CyprienGottstein commented on #8370
I don't even need to restart some of the OrientDB nodes to make this happen, i'm just doing some insertion. We do bulk inserts with 500 instance of **my_class** per transaction. It runs perfectly fine for a minute and then we encounter the error.

I will refer to our service as **OrangeService**, this is our process :

- Install OrientDB on 3 nodes
- On each node, configure OrientDB using the conf

[2018-07-04 12:43] luigidellaquila commented on #8240
Hi @diegomtassis

Thank you very much, I'll check it asap

Luigi

[2018-07-04 12:47] rdelangh commented on #8240
as for us, regarding the upgrade to v3.0 : we are blocked by issues about using multi-field Lucene indexes, cfr #8323

[2018-07-04 14:50] edmondboulet opened #8374 "Deploy orientDB with Ansible on a computer with no Internet"
### OrientDB Version: 3.0.2
### Java Version: 1.8
### OS: linux

Hello, I have a little question.

I'm trying to deploy multiple cluster on a hand full of computer but those computer don't have access to the internet. So when they try to Download OrientDB, the task fail.

I'm using Ansible with migibert tool ( [from the doc](https://orientdb.com/docs/3.0.x/gettingstarted/Tutorial-Installation.html

[2018-07-04 19:34] hrstoyanov commented on #8367
@luigidellaquila interested to know what you think. What if I wrap the operations in a transaction, would the order still matter?

[2018-07-04 20:06] hrstoyanov opened #8375 "Getting NullPointerException exception periodically"
### OrientDB Version: 3.0.4-SNAPSHOT
### Java Version: 1.8_172
### OS: MacOS,Windows

After leaving the console connected to my server for a while (like overnight), I get:
[code]

[2018-07-05 06:22] luigidellaquila commented on #8367
Hi @hrstoyanov

Good question, it's definitely worth trying.
In a transaction, the order of operations does not matter as in notx, so probably it will work fine

Thanks

Luigi

[2018-07-05 07:11] luigidellaquila commented on #8240
Hi @diegomtassis

I managed to reproduce the issue, I'll try to fix it asap

Thanks

Luigi

[2018-07-05 07:21] edmondboulet commented on #8374
I'm going to answer to my own question as I found a quick fix working well.
In /etc/ansible/roles/migibert.orientdb/tasks/install.yml  replace the first task

[code]

by

[code]

and make sure you have an orientDB package at the specified source.
Now ansible will grab the package from your local machine and will install it on your server.
This may result in some name changes so make sure the folde

[2018-07-05 07:21] #8374 closed

[2018-07-05 07:48] myukselen commented on #8254
Hello @maggiolo00

Thanks for your feedback. I wanted to point a problem in usability perspective for Gremlin users.

I respect as the design choices are yours to manage. I implemented my suggestion on the source and evaluated further on how can I utilize OrientDB from Python. I ended up in other problems.

Thanks for the opportunity OrientDB Team provides by allowing us to study/change the code w

[2018-07-05 07:49] #8254 closed

[2018-07-05 07:57] diegomtassis commented on #8240
Thanks.

[2018-07-05 08:46] edmondboulet opened #8376 "Can't start server : Error during server launch"
### OrientDB Version: 3.0.2
### Java Version: 1.8.0_171
### OS: linux

Hello, I'm having the same issue when starting OrientDB server on each one of my cluster.

I deployed them with Ansible ( see this issue  #8374) and despite the fact that ansible is telling at the end that OrientDB service has been launched, it can't seem to connect to their OrientStudio interface.
Then I directly went on one o

[2018-07-05 08:54] luigidellaquila commented on #8376
Hi @edmondboulet

Are you using an old orientdb-server-config.xml file? Or is it a fresh installation?

Thanks

Luigi

[2018-07-05 09:01] RamAnvesh opened #8377 "Is orientdb 3.0.x production ready? The documentation says otherwise"
### OrientDB Version: 3.0.3

## Expected behaviour
[Documentation](https://orientdb.com/docs/last/release/3.0/Upgrading-to-OrientDB-3.0.html) should say it is production ready as mentioned [here](https://orientdb.com/docs/last) (Says 3.0.x is GA)

## Actual behavior
Documentation says not product ready

## Steps to reproduce
See https://orientdb.com/docs/last/release/3.0/Upgrading-to-OrientDB-3.0.

[2018-07-05 09:02] luigidellaquila commented on #8377
Hi @RamAnvesh

Thank you very much for pointing it out.

OrientDB v 3.0 is definitely production ready, the docs are outdated, I'm fixing them now

Thanks!

Luigi

[2018-07-05 09:03] edmondboulet commented on #8376
Hi @luigidellaquila ,

Thank you for helping me.

The deployment follow the instructions of migibert playbook.
So the procedure of installation should follow these steps :

- Download the tar from my machine

- Extract it on the cluster

- Configure the installation following this playbook :
[code]

- and start a server Instance.

This is what I get during the deployment :

[code]

[2018-07-05 09:04] RamAnvesh commented on #8377
Thanks a lot for the lightning fast response!

[2018-07-05 09:05] luigidellaquila commented on #8377
Done, the new docs will be available in a few hours

Thanks!

Luigi

[2018-07-05 09:05] #8377 closed

[2018-07-05 09:39] edmondboulet commented on #8376
Here is my orientdb-server-config.xml

[code]
Because it is related to migibert  template which was based on oreintDB 2.0.1 it might be a bit out of date...

[2018-07-05 10:01] luigidellaquila commented on #8376
Yes, that's a config from v 2.x, it doesn't work with v 3.0.
It has to be updated with the contents of a config file from 3.0 to work.

Thanks

Luigi

[2018-07-05 10:03] edmondboulet commented on #8376
The config file that I just posted previously seems to be the issue...
It seems that the Ansible Installation guide from the doc isn't up-to-date and compatible with the version 3.0.2 of OrientDB.

[2018-07-05 10:08] 2082041S commented on #8050
@tglman @ShakAttacked I can still reproduce this issue in 3.0.2.

[2018-07-05 10:28] 2082041S commented on #8050
Thank you very much for your reply @tglman ! I shall get the latest version and will let you know if Iencounter any more issues :)

[2018-07-05 10:32] edmondboulet commented on #8376
Yep, I replaced it with a basic out of the box config file and the server launched.

Thank you for pointing me in the right direction @luigidellaquila . Do you think the config file out of the box is enough to start a multi-cluster configuration ? Or do I need to tweak one thing or two ?

[2018-07-05 10:33] luigidellaquila commented on #8376
hi @edmondboulet

For a clustered configuration you also have to set the node name in the `<handler class="com.orientechnologies.orient.server.hazelcast.OHazelcastPlugin">`

For the rest you should be OK

Thanks

Luigi

[2018-07-05 10:34] edmondboulet commented on #8376
Ok thanks, I will give it a shot.

Closing this.

[2018-07-05 10:34] #8376 closed

[2018-07-05 10:53] tglman commented on #8282
Hi @asadganiev,

Yes we are aware of some limitations on the gremlin side and we are working as well with upstream to evolve it to be faster. SQL is a fine choice, i would suggest as well to check the Multi Model API : https://www.orientdb.com/docs/last/java/Java-MultiModel-API.html.

Can we close this issue ?

Regards

[2018-07-05 10:59] asadganiev commented on #8282
Hi @tglman

Thanks for information, but I think you have some error in your SSL. When tried to open the https://www.orientdb.com/docs/last/java/Java-MultiModel-API.html Safari is showing this:

<img width="759" alt="screen shot 2018-07-05 at 3 56 12 pm" src="https://user-images.githubusercontent.com/7356751/42319632-03404154-806c-11e8-98a0-dffe1d4150b6.png">

[2018-07-05 11:56] balalakshmifk opened #8378 "Replacement for fetchPlan *:-1"
### OrientDB Version: 3.0.2

## Problem
fetchPlan is deprecated in Orientdb v3.0.x and nested projections are the recommended replacement for it.
However, in fetchPlan it was possible to provide unlimited depth
eg. SELECT OUT("out_Friend") as friends from Profile fetchplan friends:-1

What is the replacement for this in 3.0.x?

[2018-07-05 13:06] keith-hinde opened #8379 "Multiple statement functions - new problems in 3.03, worked in 3.0.0?"
### OrientDB Version: 3.03
### Java Version: OpenJDK Runtime Environment (build 1.8.0_171-8u171-b11-1~deb9u1-b11)
### OS: Debian GNU/Linux 9

## Expected behavior
In version 3.0.0, I was able to create and use functions which comprised several statements - similar to stored procedures, e.g.

[code]

But since a move to 3.0.3, these refuse to work, issuing a parse error.

## Actual behavior
[code]

[2018-07-05 13:08] luigidellaquila commented on #8379
Hi @keith-hinde

Thank you for reporting, I think I know where the problem is.
I'll fix it asap

Thanks

Luigi

[2018-07-05 13:16] tglman commented on #8282
hi @asadganiev,

Thank you we are checking that.

Regards

[2018-07-05 14:40] georgiana-b commented on #8238
Hello @luigidellaquila!

I'm afraid I still experience this problem with my snapshot of OrientDB `3.0.1`.

I'm  trying to set up 2 nodes (`ro` and `boss`) each containing 2 clusters for the same class (`Bid`). We will have a big database and I'm trying to split the data so that we never have to run a query on the entire database at once. This is why I'm trying to have each node containing exclusiv

[2018-07-05 15:19] gianluca-valentini commented on #8353
Thanks a lot

[2018-07-05 16:35] tglman commented on #8319
Hi @mikayeln,

For your case you should use the pool:

[code]

Regards

[2018-07-05 16:49] CyprienGottstein commented on #8370
Hello OrientDB Team,

I had the thought yesterday that reproducing our current problem would be close to impossible because we run our 3 nodes into a cloud environment and maybe the problem is related to them. I made a script to kind of reproduce the activity we are doing with OrientDB, i didn't managed to make the quorum problem appear but i got to completely broke one of the instance.

Don't ask

[2018-07-05 17:04] marcelalburg opened #8380 "Gremlin via RestAPI Command returns empty result"
### OrientDB Version: 3.0.3
### Java Version: 1.8
### OS: macos

## Expected behavior
I assume, that via the Gremlin Java API:

`g.V().has("key", LINK2_KEY.toString()).repeat(__.out().simplePath()).until(__.has("key", ROOT_KEY.toString())).path().unfold().toList();`

is the same like the gremlin groovy:

`g.V().has('key', '<key>').repeat(out().simplePath()).until(has('key', '<key>')).path().unfold

[2018-07-06 01:53] jymcheong opened #8381 "Default value not assigned with INSERT ... CONTENT {...}"
### OrientDB Version: 3.0.2
### Java Version: "1.8.0_101"
### OS: macOS 10.13.5

## Expected behavior
Perform 3 inserts differently, expect all with id assigned

## Actual behavior
Only insert via CONTENT {<json>} has id empty, but sequence actually incremented.

## Steps to reproduce
Created a test vertex class with a single property "id".

Followed by, alter property test.id default sequence('id

[2018-07-06 03:55] asadganiev commented on #8282
Hi @tglman

Unfortunately the issue still exists, I have tested it with version 3.0.2 and 3.0.3 as well in
[ODB-8282](https://github.com/asadganiev/ODB-8282).

Best regards,
Asad

[2018-07-06 08:52] #8353 closed

[2018-07-06 09:32] maggiolo00 commented on #8380
Hi @marcelalburg

let me check

[2018-07-06 10:12] WeaxMe commented on #8368
Fixed in #8371

[2018-07-06 10:12] #8368 closed

[2018-07-06 11:04] luigidellaquila commented on #8379
Hi @keith-hinde

I just pushed a fix, now batch scripts work fine in SQL functions

Thanks

Luigi

[2018-07-06 11:15] #8379 closed

[2018-07-06 14:16] CyprienGottstein commented on #8370
Hello Again,

I finally could produce a quorum error, not quite the one i wanted but it's something i guess. I pushed everything into a gist, you may access it here :

https://gist.github.com/CyprienGottstein/af5928f1b99adc77f79c27db2a5bee08

About the dockerfile, i took the one you propose here https://github.com/orientechnologies/orientdb-docker/blob/3d7d8070e903149126c7d691afa3be5f2de58742/3.0/

[2018-07-06 16:01] 2082041S commented on #8050
Hi @tglman,

I am afraid I am still reproducing the "Token is expired" issue even when using Orient 3.0.3, just as it did before upgrading Orient's version.

Am I right in saying this is a known Orient issue?

Regards,
Petre.

[2018-07-06 16:12] CyprienGottstein commented on #8370
Redone the process but this time here is the complete log file of all 3 OrientDB nodes

[orientdb_node1_0.log](https://github.com/orientechnologies/orientdb/files/2171171/orientdb_node1_0.log)
[orientdb_node1_1.log](https://github.com/orientechnologies/orientdb/files/2171172/orientdb_node1_1.log)

[orientdb_node2.log](https://github.com/orientechnologies/orientdb/files/2171166/orientdb_node2.log)

[2018-07-06 20:29] marcelalburg commented on #8380
@maggiolo00 : did you found anything ?

[2018-07-07 09:51] marcelalburg opened #8382 "Gremlin HTTP Api: HashMap should not cast to Element"
### OrientDB Version: 3.0.3
### Java Version: 8
### OS: mac os

## Expected behavior
When i use the HTTP Api with the gremlin command:

`g.V().has("key", "<key>").repeat(__.in("is_part_of").simplePath()).emit().path().by(label()).groupCount().values()
`
it should return a Json HashMap.

## Actual behavior
Exception:

`ava.lang.ClassCastException: java.util.HashMap cannot be cast to org.apache.tink

[2018-07-07 11:15] maggiolo00 commented on #8382
Hi @marcelalburg

do you have the entire stacktrace of the exception?

Thanks

[2018-07-07 11:19] marcelalburg commented on #8382
Sorry, no. Because i use the HTTP Api and even in the Server Logs. there is no stracktrace

[code]

if i add the "next()" inside this HTTP command, i got an empty result.

The Java Api is working as expected:

[code]

[2018-07-07 11:30] maggiolo00 commented on #8382
@marcelalburg

do you have a simple dataset where i can reproduce this and debug it?

Thanks

[2018-07-07 11:45] marcelalburg commented on #8382
I wrote a test:

https://github.com/marcelalburg/orientdb3-embedded/blob/master/src/test/java/example/GremlinVsHttpTest.java#L308

The original query is inside and the query what should work (the java api is working).

Sorry, that i wrote so much tickets. Currently i work on a Prototype to move a big application from Neo4J to OrientDb and i was expecting that i could copy the gremlin commands easi

[2018-07-07 11:57] maggiolo00 commented on #8382
@marcelalburg

was the application with Tinkerpop2 and Java APis?

[2018-07-07 12:02] marcelalburg commented on #8382
I think so, i just have the code and raw data of the HTTP calls and not the entiere application.

[2018-07-07 13:52] marcelalburg commented on #8382
The same with this curl:

[code]

[2018-07-08 18:38] userg opened #8383 "Subqueries using let: $current and $parent not found"
### OrientDB Version: 3.0.2
### Java Version: 8
### OS: Mac OS

## Expected behavior
When executing the command:

select $foo from Bar
let
$foo = (select expand(out('foo-bar')) from $parent.current)

Returns Foo vertices.

## Actual behavior
Exception:
com.orientechnologies.orient.core.exception.OCommandExecutionException: Class $parent not found DB name=

**Sidenote:**
In Orientdb 2.2.x the below

[2018-07-09 08:38] luigidellaquila commented on #8383
Hi @userg

Please try the following:

[code]

In v 3.0 `$xxx` indentifiers are just standard identifiers, so they can also be class names. OrientDB just assumes this is the case, this is why it doesn't work.

Thanks

Luigi

[2018-07-09 08:57] userg commented on #8383
Hi @luigidellaquila

Thank you very much for your response.
But the above query returns empty results,
but when I do
`select expand(out('foo-bar')) from Bar `
I get results.

[2018-07-09 09:13] luigidellaquila commented on #8383
Hi @userg

It seems to be a bug, I'm checking it now

Thanks

Luigi

[2018-07-09 09:15] userg commented on #8383
Thank you !

[2018-07-09 09:43] luigidellaquila commented on #8383
Hi @userg

I think I have a fix for this, I'm pushing it now

Thanks

Luigi

[2018-07-09 09:49] luigidellaquila commented on #8383
Hi @userg

I just pushed a fix, it will be released with v 3.0.4

Thanks

Luigi

[2018-07-09 09:49] #8383 closed

[2018-07-09 09:53] maggiolo00 commented on #8382
Hi @marcelalburg

i've reproduced this. Seems it's not an OrientDB problem

I've tried this in a GremlinConsole

[code]

And still got the Exception. I'm not sure `values()` works well with `groupCount()`

[2018-07-09 10:33] userg commented on #8383
Hi @luigidellaquila

Thanks for the quick response. When can we expect 3.0.4 release?

[2018-07-09 12:06] marcelalburg commented on #8382
The exception happen only with the HTTP client. Not if you use the Thinkerpop implementation.

You can see this in the response of this test: https://github.com/marcelalburg/orientdb3-embedded/blob/master/src/test/java/example/GremlinVsHttpTest.java#L308

[2018-07-09 12:10] luigidellaquila commented on #8383
Hi @userg

I'd say in a very short term, 24-48h hopefully

Thanks

Luigi

[2018-07-09 12:10] maggiolo00 commented on #8382
@marcelalburg

what do you mean Tinkerpop implementation.
 Which is the example that does not fail?

[2018-07-09 13:04] edmondboulet opened #8384 "2 Servers directly connected don't sync in distributed mode"
### OrientDB Version: 3.0.2
### Java Version: 1.8
### OS: linux

## Expected behavior
When launching 2 instances of `./dserver.sh` on the same network, they should detect each other and sync.

## Actual behavior
They don't detect each other and act as standalone.

## Steps to reproduce
Launch one instance of `./dserver.sh` on 2 computers.
The two computers can ping each other. IPtable is set on AC

[2018-07-09 13:08] luigidellaquila commented on #8384
Hi @edmondboulet

Some networks do not support multicast, in such cases the auto-discovery does not work and you have to set IPs manually in the Hazelcast configuration. See https://orientdb.com/docs/2.2.x/Distributed-Configuration.html for a reference

Thanks

Luigi

[2018-07-09 14:46] marcelalburg commented on #8382
Hello,

i wrote a test "testGroupCountNativeGremlin" which uses Thinkerpop API (i called it native api)
https://github.com/marcelalburg/orientdb3-embedded/blob/master/src/test/java/example/GremlinVsHttpTest.java#L314

in this test, i need to call "next()" to get all data to my localVariable. This test works fine for me and the expected data comes back.

---

in the test "testGroupCount" i use exac

[2018-07-09 14:55] maggiolo00 commented on #8382
@marcelalburg

so in native you did not use `values()`.

if you use it in native

[code]

You will get the same exception

[2018-07-09 15:00] marcelalburg commented on #8382
Yes, you're right. And how can i get the correct/same Response from the HTTP call ?

[2018-07-09 15:01] maggiolo00 commented on #8382
let me check

[2018-07-09 15:10] jonsalvas opened #8385 "Class Level Hook is not triggered"
### OrientDB Version: OrientDB Server v3.0.1 (Docker Image)
### Java Version:  Docker Image
### OS: Docker Image

## Expected behavior
According to https://orientdb.com/docs/2.2.x/Dynamic-Hooks.html#class-level-hooks it should be possible to create dynamic hooks on class level. When I execute the queries exactly as described in the doc and insert a new entry I expect the message "Invoice created:

[2018-07-09 15:31] maggiolo00 commented on #8382
Hi @marcelalburg

i've found the problem with `.next()`. I'm pushing a fix.
Just a question. Do you need to use ODB Http API + Gremlin?

[2018-07-09 15:49] marcelalburg commented on #8382
Hello, thanks for finding the issue.

Yes, i need to use the HTTP Api with gremlin Commands. This has multiple reasons.

- my customer want's to have this :)
- the customer likes to be flexible as possible and independent from database behind (this is why i need to use thinkerpop 3 / gremlin)
  - the service should be as small as possible and should have less 3rd party dependencies (one reason why

[2018-07-09 16:02] maggiolo00 commented on #8382
Hi @marcelalburg

that what i was thinking. The problem is that by using  using OrientDB gremlin endpoint, you will not be database independent. The HTTP JSON result is derived from OrientDB result set. That is different from  the Apache Tinkerpop Standard. http://tinkerpop.apache.org/docs/3.3.3/dev/io/

if you want to be standard over the protocol have you checked the Gremlin Server?

Otherwise i

[2018-07-09 16:17] laa commented on #8295
Hi @morad-morad could you check the latest build provided with the patch?

[2018-07-09 17:52] laa commented on #8301
Hi @rikaze . Sorry for the delay, I have been busy with the implementation of a big feature. Could you try this distribution https://drive.google.com/file/d/10wRN4TySKw3G5QPsDqgq86tWrSOnEvZO/view?usp=sharing ? Hope next step will be sooner.

[2018-07-09 19:54] marcelalburg commented on #8382
Wow, thanks for that info. i'll check this project. But i wrote already a OrientDb Parser which fits my need for the prototype. For other Databases i just need to implement a new parser. But you info is very helpful.

Thx

[2018-07-09 22:52] soujiro32167 opened #8386 "Stress test does not support GINSERT"
### OrientDB Version: 3.0.3
### Java Version: 8
### OS: Alpine (Docker)

## Expected behavior
`/orientdb/bin/stressterster.sh -m plocal -k true -c 8 -w GINSERT:V1000F10` Should run the stress test locally

## Actual behavior
Workload 'GINSERT' is not configured. Use one of the following: [CRUD]

## Steps to reproduce
1. `$ docker run -d --name orientdb -p 2424:2424 -p 2480:2480 -e ORIENTDB_ROOT_PA

[2018-07-10 00:42] cwaldron commented on #6416
Is this enhancement on any milestone roadmap?  If so, which one.  Thanks.

[2018-07-10 06:39] anukul-mohil opened #8387 "`path` command doesn't show anything on grapheditor(studio)"
### OrientDB Version: <3.0.3>
### Java Version: "1.8.0_131"
### OS: CentOS 7.3

## Expected behavior
`path` command on graph editor should show the path(s) returned by the query.

## Actual behavior
`path` command doesn't show anything on grapheditor(studio) but shows correct output on browse section of the studio.

## Steps to reproduce
I tested it on queries from [here](http://tinkerpop.apache.o

[2018-07-10 06:57] andreyvk opened #8388 "[QUESTION] Replication status and stabilty"
Hi guys,

Just a quick question. We are on branch 2.2.x and using an automatic backup option. However, since our DB has grown large already local backup is taking too much time, while the DB is becoming unresponsive to the users. Is replication currently stable enough on 2.2.x so that we can move on to using it for backups?

Thanks in advance!

[2018-07-10 06:58] jonsalvas commented on #8385
OK I just tested with 2.2.35 and it works perfectly. Is it possible that the documentation in https://orientdb.com/docs/3.0.x/internals/Dynamic-Hooks.html is deprecated and needs to be updated?

[2018-07-10 07:59] Tushavi commented on #1312
I am having a similar error. I am using gremlin_python to connect to orientdb and run queries.
I open a thread from the python application (only 1 thread), it runs all gremlin queries sequentially.

Right now I am testing with 3 vertices and 2 edges creation. I successfully create the 3 vertices and am able to create the first edge. The second edge creation throws the error :
`500: Cannot UPDATE t

[2018-07-10 08:31] #8179 closed

[2018-07-10 08:31] #8097 closed

[2018-07-10 08:36] luigidellaquila commented on #8384
Hi @edmondboulet

How do you do the insert operation? From Studio or from an application API?

Thanks

Luigi

[2018-07-10 08:39] maggiolo00 commented on #8387
Hi @anukul-mohil

The graph editor of OrientDB is built primary against ODB SQL.
It's not optimized against Gremlin, since it's an external plugin.

OrientDB has a TP3 edition that embed a GremlinServer.

Did you check some visualization tool built around gremlin?

Something like this

https://github.com/bricaud/graphexp

[2018-07-10 08:40] edmondboulet commented on #8384
From the console.

I use `Connect remote:localhost/demodb root root` on each Node.
Also I have only 2 Nodes

[2018-07-10 09:01] edmondboulet commented on #8384
Ok, I was working with the tp3-3.0.2.
I will try with 3.0.3 and 3.0.4 if it doesn't work. Will kup.

[2018-07-10 09:45] edmondboulet commented on #8384
Update : just moved to 3.0.3 and the issue is still here.

here is more info on my cluster configuration :
[code]

server status :

[code]

The two Nodes are definitely connected but whether in add vertex in node and query it in the other or the other way around, it doesn't find it (see screenshot)
![image](https://user-images.githubusercontent.com/14113861/42502531-9dec191c-8436-11e8-9835-6f9bc7b

[2018-07-10 12:17] #1303 closed

[2018-07-10 12:35] andrea-tomassi opened #8389 "SKIP command not working with EXPAND - IN sql construct"
OrientDB Version: 2.2.33
Java Version: openjdk 1.8
OS: alpine 3.4

## Expected behavior
select expand(inE('MyEdge')) from MyVertex where @rid="#x:y" order by @rid SKIP 1 LIMIT 1
should return the first element

select expand(inE('MyEdge')) from MyVertex where @rid="#x:y" order by @rid SKIP 10 LIMIT 1
should return the 11° element

## Actual behavior
select expand(inE('MyEdge')) from MyVertex where

[2018-07-10 13:59] edmondboulet commented on #8384
I just tested with orient Studio, the database actually sync accordingly.
Why does the console say otherwise ?

[2018-07-10 16:32] gianluca-valentini opened #8390 "AVG() function on Double field does not work"
### OrientDB Version: 2.2.33
### Java Version: openjdk 1.8
### OS: alpine 3.4

## Expected behavior
Let globalRiskScore a double field on CarbonUSer Vertex

SELECT avg(globalRiskScore) from CarbonUser

give me the correct avg value

## Actual behavior
the query does not work and don't give me the correct value

![image](https://user-images.githubusercontent.com/3224592/42523763-008f2dd8-846f-11e8-

[2018-07-11 07:49] anukul-mohil commented on #8387
@maggiolo00 Thanks for the info, will look in to graphexp.
Also, Is there an orientdb google group or any other chat group where we can ask questions first or the recommended way is to create an issue here.

[2018-07-11 07:49] #8387 closed

[2018-07-11 07:57] edmondboulet opened #8391 "Node name whith special character with Dserver should be checked"
### OrientDB Version: 3.0.3
### Java Version: 1.8
### OS: linux

I believe there is an issue with the way dserver handle node name.

When you start dserver it will ask you to give a name for the current node.
The issue being that if you give a name with special character like ' ' it will accept it.

![image](https://user-images.githubusercontent.com/14113861/42557893-f9ce6dd4-84ef-11e8-9707-6e74a8

[2018-07-11 08:31] luigidellaquila commented on #8390
Hi @gianluca-valentini

I just tried the following on latest 2.2 and it seems to work fine

[code]

Any clue on how to reproduce the problem?

Thanks

Luigi

[2018-07-11 08:32] luigidellaquila commented on #8384
Hi @edmondboulet

It could be a matter of caching, I'll check it and let you know

Thanks

Luigi

[2018-07-11 09:37] gianluca-valentini commented on #8390
Hi @luigidellaquila
thanks for your answer.

It works well on my OrientDB if I use a double without dot (just integer number).
But when I have decimal number (a real double i.e. 10,5) I have the reported error.

Have you any idea about it?
Thanks
Gianluca

[2018-07-11 09:46] maggiolo00 commented on #1312
Hi @Tushavi

see this. https://github.com/orientechnologies/orientdb-gremlin/issues/148

It should be solved in the next OrientDB 3.04  release

[2018-07-11 09:50] luigidellaquila commented on #8390
Hi @gianluca-valentini

I just tried with 1.4 and it still works fine.
Do you have a script that reproduces the problem on a fresh db?

Thanks

Luigi

[2018-07-11 10:40] gianluca-valentini commented on #8390
Hi @luigidellaquila
I created a brand new environment just for this issue.

While setting up it, I had this error trying to create the Lucene index on both text and number fields

![image](https://user-images.githubusercontent.com/3224592/42566310-7763d2c8-8506-11e8-8f54-11f5ce5a6227.png)

In our production environment we created Lucene indexes using java code

![image](https://user-images.githubu

[2018-07-11 12:40] zufanka commented on #8238
@luigidellaquila +1 ^

[2018-07-11 12:45] gianluca-valentini commented on #8390
Hi @luigidellaquila
I understand the problem. I found some `NaN` values in the globalRiskScore field data.

Now i will fix my code to change this value, but I think that the UI should be able to manage it as NaN is a Double.

Thanks
Gianluca

[2018-07-11 12:50] luigidellaquila commented on #8238
Hi all,

Sorry for the late answer, I'll try to check it ASAP and let you know

Thanks

Luigi

[2018-07-11 12:52] luigidellaquila commented on #8238
In the meantime, could you please post an EXPLAIN of the query on v 3.0.x?

Thanks

Luigi

[2018-07-11 13:08] luigidellaquila commented on #8390
Hi @gianluca-valentini

Probably it's not the UI but the avg() function that cannot manage NaN correctly, I'll check it asap

Thanks

Luigi

[2018-07-11 13:43] gianluca-valentini commented on #8390
Hi @luigidellaquila
thanks a lot.

Now I updated the `NaN ` values and now avg works fine :)
My next step is avg on percentile of that field!
I hope to be able to execute it :)

Thanks
Gianluca

[2018-07-11 14:37] niraj-cs opened #8392 "Invalid WAL record type was passed class com.orientechnologies.orient.core.storage.impl.local.paginated.wal.OFileTruncatedWALRecord. Given record will be skipped. [OLocalPaginatedStorage]"
### OrientDB Version: <2.2.22>
### Java Version: <Java 8>
### OS: <Windows>

## Expected behavior
After truncating classes through script it shouldn't give issues at next restart of server.

## Actual behavior
After truncating classes through script and restart of server, multiple logs of:
 _**SEVER {db=cs} Invalid WAL record type was passed class com.orientechnologies.orient.core.storage.impl.loc

[2018-07-11 15:20] avitaleOPEN commented on #8375
I'm having the same behaviour. After a couple of hours working with the database (an actors system which writes and reads the database) I get the exception.

[2018-07-11 16:31] laa commented on #8392
Hi @niraj-cs , you do not restart server you kill the server, and the server tries to restore damaged data. You can not restore truncation of class that is inherently unsafe that is why you have the warning on restore phase of start of the server. I suggest you do not truncate class but remove data record by record. Also better do not kill server but perform a soft shutdown.

[2018-07-12 02:21] hptvl opened #8393 "NOTUNIQUE indexes raise exception when inserting duplicate values."
### OrientDB Version: 2.2.33
### Java Version: Java 8
### OS: Centos
In my orientdb database,  I add a NOTUNIQUE index that is a combination of three (sourceIP, destinationIP, occurTime). Regarding to [OrientDB docs](https://orientdb.com/docs/2.2.x/Indexes.html):
`NOTUNIQUE These indexes allow duplicate keys.` As my understanding, it does allow inserting duplicate value of above combination but it

[2018-07-12 07:06] shubhambondarde opened #8394 "Can we create OrientDB database with localeLanguage other than English?"
I want to create OrientDB database with different locallanguages.
What is the Java API for this?

[2018-07-12 07:11] shubhambondarde commented on #8342
Hi @laa and @luigidellaquila,
Can you please let us know when and in which version can we get this fix?

[2018-07-12 09:18] CyprienGottstein opened #8395 "Impossible to stack TRAVERSE $depth constraints after $depth has been selected once"
### OrientDB Version: v3.0.3
### Java Version: 1.8.0_161
### OS: Ubuntu 16.04

Hi OrientDB Team,

## Expected behavior
Possibility to "reset" $depth constraint by changing its name with a projection

## Actual behavior
Requests returns no result.

## Steps to reproduce
Import minimalist database :
[delete_from_match.gz](https://github.com/orientechnologies/orientdb/files/2187842/delete_from_match.

[2018-07-12 09:28] sanketpayghan opened #8396 "HA STATUS throwing NullPointerException"
### OrientDB Version: v.3.0.2 - Veloce
### Java Version:1.8.0_05
### OS: debian 7.11

## Actual behavior
Connected to db via orientdb console and executed following queries

connect remote:localhost/schema-definitions admin admin
orientdb {db=schema-definitions}> HA STATUS -servers -output=text
Error: com.orientechnologies.orient.core.exception.OCommandExecutionException: Error on execution of com

[2018-07-12 10:02] CyprienGottstein opened #8397 "Sometimes index manager returns null index"
### OrientDB Version: 3.0.3
### Java Version: 1.8.0_161
### OS: Ubuntu 16.04

## Expected behavior
Index manager should always return the index.

## Actual behavior
Index manager sometimes return a null object instead of the actual OIndex object.

## Steps to reproduce
I don't know if i can reproduce it easily but basically its the following :

I can make it work by reloading the metadata of the g

[2018-07-12 13:18] shubhambondarde opened #8399 "Getting exception for Oclass.setName() API in case of remote orientdb"
### OrientDB Version: <2.2.34>
### Java Version: <1.8>
### OS: <windows>

We have used Oclass.setName API to alter the name of the edge class.
But we are getting following exception in case of remote orientdb:

com.orientechnologies.orient.core.exception.OCommandExecutionException: Cannot alter class 'items_tag' because is an Edge class and could break vertices. Use UNSAFE if you want to force it

[2018-07-12 16:34] creisle opened #8400 "MATCH query bug on values containing whitespace"
### OrientDB Version: 2.2.35
### Java Version: 1.8.0_151
### OS: centos07

## Expected behavior
I can select the record by querying name = 'the name' but then when I try to query using a match query the query fails. I am selecting a record that has both in and out going edges.

The query that works looks something like
[code]
the match query that fails looks something like
[code]
I expected the ma

[2018-07-12 16:53] creisle commented on #8400
ok so I think I figured out how to easily recreate this.

[code]

Currently the match query will work (will return the single 'has some spaces' record)
[code]

but then if we continue to add records (repeat the SQL statements based on the bracketed xN numbers)
[code]

and then try the match query again.... it will now fail

[2018-07-13 07:03] luigidellaquila commented on #8400
Hi @creisle

Thank you very much, this helps a lot.
I managed to reproduce the issue, I'll try to fix it asap

Thanks

Luigi

[2018-07-13 08:06] ScoobyMax commented on #8276
did you succeed in reproducing the problem?

[2018-07-13 08:11] luigidellaquila commented on #8395
Hi @CyprienGottstein

Thank you for reporting, it was a bug indeed.
I just fixed it and pushed the fix to 3.0.x branch, it will be in the snapshot in a few hours

Thanks

Luigi

[2018-07-13 08:21] RamAnvesh commented on #8383
Hi @luigidellaquila ,

In the above scenario, how do we order the results of the sub query?
For example,

`select $foo from Bar
let
$foo = (select $parent.$current.out('foo-bar') as d order by d.age)`

throws an error saying
`Error parsing query: select select $foo from Bar
let $foo = (select $parent.$current.out('foo-bar') as d order by d.age)
^ Encountered " <ORDER> "order "" at line 1, column 2

[2018-07-13 08:32] #8395 closed

[2018-07-13 09:17] CyprienGottstein commented on #8370
Hi @tglman ,

Any news on that ? This is quite problematic for us as it makes OrientDB basically impossible to use in distributed mode.

[2018-07-13 09:56] tglman commented on #8375
Hi @hrstoyanov,

I just fixed this in 3.0.5-SNAPSHOT.

Regards

[2018-07-13 09:56] #8375 closed

[2018-07-13 10:13] luigidellaquila commented on #8383
Hi @userg

A `SELECT <expression>` statement returns only one element, you just cannot sort it.

You could sort the collection contained in your `d`, but you have to do it with a custom function (eg. a js function)

Thanks

Luigi

[2018-07-13 10:28] avitaleOPEN opened #8401 "Parser Error in Studio executing MATCH query with negative pattern (NOT)"
### OrientDB Version: 3.0.3
### Java Version: 1.8
### OS: Docker version

When I try to execute a MATCH query with negative pattern in Studio I get a parser error. I dont know if it's ok it does not work because NOT is an experimental feature...

## Expected behavior
Executing the query

## Actual behavior
Not executing the query due to parser error.

## Steps to reproduce

I create a simple examp

[2018-07-13 10:39] RamAnvesh commented on #8383
Thanks for the response. One issue is that we are having to use `select <expression>` in the sub-query because this query:
`SELECT FROM Document LET $temp = ( SELECT @rid, $depth FROM (TRAVERSE
          V.OUT, E.IN FROM $parent.current )`
is not working. The $parent is somehow not available in the FROM expression (We get an error saying `com.orientechnologies.orient.core.exception.OCommandExecuti

[2018-07-13 10:56] avitaleOPEN commented on #8401
Problem fixed. It was a misunderstanding with the ops team and running docker image. It works. I'm sorry.

[2018-07-13 10:56] #8401 closed

[2018-07-13 11:16] Tushavi commented on #1312
Hi @maggiolo00 ,
I upgraded the version to 3.04, it works way better now. There are very infrequent instances, when i get the same error, but the gremlin requests are not freezing now.

[2018-07-13 14:51] Leeingnyo opened #8402 "Can I upgrade the lucene version with OrientDB v2.2.x?"
* OrientDB Version: 2.2.36
* Java Version: 1.8
* OS: Ubuntu 16.04

Hi, I'm using OrientDB on my physical server now,
and I couldn't upgrade OrientDB to v.3.0.x because using version 3.0.x made my server CPU hotter, the heat of the server turned off the server.

I want to use full text index with lucene Korean analyzer, but [`analyzers-nori`](https://issues.apache.org/jira/browse/LUCENE-8231) is in

[2018-07-13 19:47] jamieb22 opened #8403 "NullPointerException OPaginatedCluster.close"
### OrientDB Version: 2.2.36
### Java Version:
java version "1.8.0_172"
Java(TM) SE Runtime Environment (build 1.8.0_172-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.172-b11, mixed mode)
### OS: <os here>
Linux  4.4.0-116-generic #140-Ubuntu SMP Mon Feb 12 21:23:04 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
## Expected behavior

Not expecting a null ptr on open db.

## Actual behavior
om.orientec

[2018-07-14 04:37] Leeingnyo opened #8405 "Lucene query with embedded property"
### OrientDB Version: 2.2.36
### Java Version: 1.8
### OS: Ubuntu 16.04

I made the class 'Name' with properties 'ko', 'ja', 'en', and created an index Name.all on (ko, ja, en) engine lucene.
And made another class 'Pokemon' with properties 'no' and 'name', an embedded type linked with Name.
Then, I send a query.

[code]

## Expected behavior

the query is successful, get results.

## Actual behav

[2018-07-16 03:51] mehdizarepour commented on #8393
Hi @hptvl
It works fine! are you sure you didn't use a `UNIQUE` index?!

[2018-07-16 04:06] mehdizarepour commented on #8394
Hi @shubhambondarde
You can do it by [clusters](https://orientdb.com/docs/2.0/orientdb.wiki/Tutorial-Clusters.html).

[2018-07-16 05:32] hptvl commented on #8393
@mehdizarepour, I don't think I use wrong index. Please check the attached screenshot with second index.
![nounique](https://user-images.githubusercontent.com/3870833/42744147-2078efae-8905-11e8-8a31-9f5cf2fc08d5.png)

[2018-07-16 06:38] luigidellaquila commented on #8402
Hi @Leeingnyo

I'm afraid you cannot upgrade Lucene out of the box, it wouldn't work property.

About the problems with 3.0, can you please share some more info? Maybe we can just fix it

Thanks

Luigi

[2018-07-16 06:48] luigidellaquila commented on #8393
Hi @hptvl

This is pretty strange, we used NOTUNIQUE indexes everywhere for years, it never happened to me to see such problem.

Do you have a way to reproduce the problem?

Thanks

Luigi

[2018-07-16 06:50] luigidellaquila commented on #8383
Hi @RamAnvesh

Regarding this query

[code]

Does the Parent refer to the Document in the main SELECT? In this case, it is two levels above, so you have to use `$parent.$parent.$current`

Thanks

Luigi

[2018-07-16 09:55] userg commented on #8383
Hi @luigidellaquila,

The query was whether $parent / $current is supported in the `from` clause in 3.0.

When we try the following query we are getting the exception:
"com.orientechnologies.orient.core.exception.OCommandExecutionException: Class $parent not found DB name="

`select $foo from Bar
let
$foo = (select expand(out('foo-bar')) from $parent.current)
`

Though the workaround
`select $foo

[2018-07-16 11:50] laa commented on #8301
Hi @rikaze . Could you try distribution.

[2018-07-16 11:57] laa commented on #8295
Hi @morad-morad could you check the latest build provided with the patch?

[2018-07-16 12:13] gtadudeps commented on #4436
Hi I am trying to implement this new upsert edge feature available with v3.0.1 but getting exception `com.orientechnologies.orient.core.exception.OCommandExecutionException: Error updating edge: 'out' is not a vertex`. I have created a class Person with 'Name' field as unique index and Friend with field 'id' as unique index. Command issued : `update edge Friend set in = (select  from Person where

[2018-07-16 13:02] rikaze commented on #8301
Root entry is null, root pointer is OBonsaiBucketPointer{pageIndex=10, pageOffset=61440} file is filled up to 8 ridbag owner is #133:0, field name
 out_IsProductOfEquipment [OSBTreeBonsaiLocal]$ANSI{green {db=XXXX}} Exception `0B38CB51` in storage `XXXX`

[2018-07-16 14:12] Leeingnyo commented on #8402
Hi, @luigidellaquila
Thanks to your answer.

I think my server machine is too old (7-years-old laptop) to stand OrientDB. With 2.2, the temperature of CPU was under 90°C when query sent. But with 3.0, the temperature was over 100°C and the server went off...
Never mind of this problem. I'm going to use cloud instance.

Again, thank you for answering. I'll close this issue.
Thanks.

Inyong Lee

[2018-07-16 14:12] #8402 closed

[2018-07-17 00:55] gtadudeps opened #8406 "Update edge | unable to change the edge endpoint"
### OrientDB Version: v3.0.3
### Java Version: 8
### OS: macOS High Sierra

## Expected behavior
On issuing update edge command the endpoint should update.  This worked in v2.2.35 but its not working in v3.0.3.

## Actual behavior
It's throwing a error saying out is not a vertex and is failing on validateOutInForEdge.

`com.orientechnologies.orient.core.exception.OCommandExecutionException: Error

[2018-07-17 01:18] hptvl commented on #8393
@luigidellaquila:
In OrientDB design, I try to create a parent class, lets say "Event". Under Event class, there are three sub classes extend from Event including: Alert, IPS, WAF. In the Event, there is only 1 UNIQUE index for id and Alert has another index NOTUNIQUE which is mentioned above(a combination of 3 properties).

In the java code, Alert, IPS, WAF events are inserted using transaction a

[2018-07-17 06:56] luigidellaquila commented on #8393
Hi @hptvl

Again, it's definitely not easy to reproduce, so if you could share a script or a DB that reproduces the problem, it would help a lot

Thanks

Luigi

[2018-07-17 07:06] hptvl commented on #8393
Hi @luigidellaquila
Please check the attached file. Thank you for your kind support.
[pure-graphdb-20180420.gz](https://github.com/orientechnologies/orientdb/files/2200539/pure-graphdb-20180420.gz)

[2018-07-17 07:33] luigidellaquila commented on #8393
Hi @hptvl

I checked the db you provided:

[code]

`Alert.destinationIP_sourceIP_occurTime` is UNIQUE...

Luigi

[2018-07-17 07:58] #8406 closed

[2018-07-17 07:58] luigidellaquila commented on #8406
Hi @gtadudeps

I just pushed a fix, it will be released with v 3.0.5

Thanks

Luigi

[2018-07-17 08:03] luigidellaquila commented on #8383
Hi @userg

Sorry, you are right, I lost a bit the train of thought...
The problem here is that in v 3.0 the SQL executor is more strict and expects a legal target in the FROM clause (eg. a class name, a cluster:number, or an index:name).
There is a chance that in the near future we will make it a bit more flexible, but for now you have to stick to the expand() work-around

Thanks

Luigi

[2018-07-17 09:20] gtadudeps commented on #8406
Hi @luigidellaquila thanks for such a quick response!
Do we have a release date for v3.0.5?

Thanks

[2018-07-17 09:45] gtadudeps commented on #8406
One follow-up question I had is, with this fix in place would we be able to perform upsert on edges:

for example: With `Vertex` class `Person` and edge class `Friend` having unique index on `id` property .
`UPDATE EDGE Friend SET in = (SELECT FROM Person WHERE Name = 'name1' ) , out = (SELECT FROM Person where Name = 'name2') , id = 'f1' UPSERT WHERE id = 'f1'`

[2018-07-17 10:04] luigidellaquila commented on #8406
Hi @gtadudeps

We do not have a date for 3.0.5 yet, but I'd say it will be in one or two weeks.

About the upsert, I have to check it, the parser accepts it but I'm not sure that the case is completely covered in the execution planner.

Anyway, the snapshot is already available here https://oss.sonatype.org/content/repositories/snapshots/com/orientechnologies/orientdb-community/3.0.5-SNAPSHOT/ so

[2018-07-17 17:18] diegomtassis opened #8407 "OrientDB SQL DISTINCT function"
### OrientDB Version: <version here>
2.2.36

The [documentation says here](https://orientdb.com/docs/2.2.x/SQL.html#distinct):

But in SQL, let's take a look at the [grammar of ANSI-SQL-99](https://github.com/ronsavage/SQL/blob/master/sql-99.bnf) as example, the set quantifier applies to all the fields.
[code]

So in ANSI-SQL-99, `SELECT DISTINCT foo, bar FROM table` is a valid query.

What is the

[2018-07-17 21:12] sweetmangosweet opened #8408 "Batch gremlin queries - OrientDB 3 with TP 3"
### OrientDB Version: 3.0.4 with TP 3
### Java Version: 1.8

## Expected behavior
I'm using OrientDB 3, and I'd like to execute a series of gremlin queries outside of Gremlin Conosle. Specifically, I'd like to run Gremlin Recipe for [Centrality](http://tinkerpop.apache.org/docs/current/recipes/#centrality)

To achieve my goal, I'm trying to use Batch command from OrientDB 3 RESTful API. However, I

[2018-07-17 21:48] hyec0401 opened #8409 "Run PageRank in OrientDB Studio?"
### OrientDB Version: 3.0.4
### Java Version: 1.8

## Expected behavior
Can I run PageRank in OrientDB Studio?

When I run this queries:
g = graph.traversal().withComputer();
gremlin> g.V().pageRank().by('pageRank').values('pageRank');

I get this error:
org.apache.tinkerpop.gremlin.process.traversal.strategy.verification.VerificationException: VertexComputing steps must be executed with a GraphCo

[2018-07-18 02:37] hosseinGanjyar opened #8410 "problem search dash on fulltext lucene index"
### OrientDB Version: 2.2.x
### Java Version: 8
### OS: w10

I have a index with type **FULLTEXT LUCENE**.
Now, how can I search string with character **`dash-`** ?
Below select return no result, while available this data in database .

[code]

[2018-07-18 06:14] luigidellaquila commented on #8407
Hi @diegomtassis

In v 2.2 there is no equivalent to standard DISTINCT.
In v 3.0 the standard DISTINCT syntax is already supported

Thanks

Luigi

[2018-07-18 06:14] #8407 closed

[2018-07-18 06:55] hptvl commented on #8393
@luigidellaquila

Thanks so much.  It makes sense now.

[2018-07-18 06:55] #8393 closed

[2018-07-18 07:04] diegomtassis commented on #8407
Thanks @luigidellaquila

[2018-07-18 11:42] freeart opened #8411 "INSERT ... RETURN @rid and @this and $current doesn't work"
### OrientDB Version: v3.0.4
### Java Version: official docker
### OS: official docker

## Expected behavior
an inserted rid

## Actual behavior
null
and this code doesn't create record
```RETURN $current.name``` returns 'Spain', but without creating record in db.
Without RETURN works properly

## Steps to reproduce
[code]

[2018-07-18 12:02] gtadudeps commented on #8406
Hi @luigidellaquila
Thanks for the providing the build, the fix is working.

I looked into the upsert query with this build, though its creating the edge and sets the `@rid` properly within the edge its not updating the `IN` and `OUT` fields of vertex and thus breaks the graph, Is this case currently handled?

Case:
`NodeObj` vertex has unique index on `qName`.
`ImpactEdge` vertex has unique index

[2018-07-18 13:18] laa commented on #8403
Hi @jamieb22 that was an internal error, caused by the fact that you can not open DB, but the root cause of the issue that DB was not opened is different. You should see other stack traces too. Could send all of them?

[2018-07-18 14:12] luigidellaquila commented on #8411
Hi @freeart

I just pushed a fix for this problem, it will be released with v 3.0.5

Thanks

Luigi

[2018-07-18 14:12] #8411 closed

[2018-07-18 14:21] laa commented on #8403
Actually environment was not initialized from this database, that was the cause of the issue. But we need to know why it was not initialized.

[2018-07-18 16:17] laa commented on #8301
Hi https://drive.google.com/file/d/1O-USJ_u5fiHrB8i2haKmLQkeLIPIJoMV/view?usp=sharing could you try this distribution and check the output? There should not be an exception but a log message.

[2018-07-18 19:27] userg opened #8412 "$parent.$current behaviour changes with indexed queries"
### OrientDB Version: 3.0.4
### Java Version: 1.8
### OS: Mac OS

## Expected behavior
[code]
This works as long as `id` in `ABC` is not indexed.

## Actual behavior
After adding a unique/non-unique index on `id`, $parent.$current result changes to `{key: , rid: }` format.  And the above query returns null for $max and $maxRecord.

[2018-07-18 19:36] zerovian commented on #187
This creates all sorts of problems because it stuffs ${ANSI into log file output and I haven't figured out a way to turn it off.

I've tried setting OGlobalConfiguration.LOG_SUPPORTS_ANSI to false...that doesn't work.  I've tried setting system property "orientdb.installCustomFormatter" to false...that doesn't work.

[2018-07-18 19:38] zerovian commented on #5102
Please please please switch to slf4j and abandon the custom log formatter and use of JUL.

And I second the vote...ditch OLogManager class completely, it is trying to do things better handled by a proper logging implementation.

[2018-07-18 19:49] zerovian opened #8413 "OLogManager does not create LogRecord objects properly...can't be used with slf4j"
### OrientDB Version: 2.2.34
### Java Version: 1.8.101
### OS: windows, linux, aix, solaris

## Expected behavior
The OLogManager::log method does not properly create LogRecord objects.  It fails to call setLoggerName().  The problem arises when you try to use jul-to-slf4j bridge. This java package replaces JUL and redirects it to slf4j.  Normally it works fine but log messages come out looking li

[2018-07-18 20:17] zerovian commented on #8413
Closing this.  Seems it was fixed just a month or so ago...

[2018-07-18 20:17] #8413 closed

[2018-07-18 20:17] zerovian commented on #8413
already fixed....will grab new version

[2018-07-18 21:56] ygyg70 commented on #5102
Another problem with OLogManager is that shutdownFlag is set to false only on class load, making it impossible to shut down embedded server and start again.

[2018-07-18 23:37] hrstoyanov opened #8414 "Issues with MATCH"
### OrientDB Version: 3.0.5-SNAPSHOT
### Java Version: 8
### OS: Windows

## Expected behavior
I cannot get the MATCH queries to work at all for 2 vertexes (Account, Staffer) connected with an edge (WorksFor):

[code]

 See the below example:

## Steps to reproduce
[code]

[2018-07-19 00:03] hrstoyanov commented on #8414
In addition, I am getting timeouts:
[code]

[2018-07-19 00:29] hrstoyanov commented on #8414
Could this be a because I have not compiled in any of the Gremlin stuff into the server?

[2018-07-19 05:27] hrstoyanov opened #8415 "Socket timeout exception"
### OrientDB Version: 3.0.5-SNAPSHOT
### Java Version: 8
### OS: Windows

I am getting socket timeouts (after waiting for a while) for a very simple query in console:

[code]

[2018-07-19 06:08] luigidellaquila commented on #8414
Hi @hrstoyanov

I think the problem is in the console, please try the queries from Studio, I'm pretty sure they work well.
I'll try to fix the problem asap

Thanks

Luigi

[2018-07-19 06:39] shubhambondarde commented on #8394
Hi @mehdizarepour

Thanks for the reply,
can you please tell, how should we define different languages per cluster?
What is the command or API we should use to use different languages?

[2018-07-19 06:57] #8414 closed

[2018-07-19 06:58] luigidellaquila commented on #8414
Hi @hrstoyanov

I just pushed a fix, it will be released with v 3.0.5

Thanks

Luigi

[2018-07-19 10:05] mehdizarepour commented on #8394
@shubhambondarde Please read orientdb documents.
[CREATE CLUSTER](https://orientdb.com/docs/2.2.x/Console-Command-Create-Cluster.html)
[INSERT](https://orientdb.com/docs/2.2.x/Console-Command-Insert.html)

[2018-07-19 14:22] rikaze commented on #8301
Yes, no exception now.
See log:
SEVER {db=XXXX} Root pointer is OBonsaiBucketPointer{pageIndex=10, pageOffset=61440} file is filled up to 22 ridbag owner is #133:0, field name out_IsProductOfEquipment [OSBTreeBonsaiLocal]

[2018-07-19 15:13] dvssmgk opened #8416 "Case-Insensitive comparison failed on outgoing Vertex's property having `COLLATE CI` with SQL query"
### OrientDB Version: 3.0.2
### Java Version: 1.8.0_171
### OS: Ubuntu 17.10

## Expected behavior

[code]
With the `name` property on `State` Vertex class, having `COLLATE CI` for case-insensitive comparison, above SQL Query should return below results

![image](https://user-images.githubusercontent.com/8291693/42948706-b5fb4330-8b8d-11e8-8925-4c091acff9ba.png)

similar to the Graph Query (which

[2018-07-19 15:36] laa commented on #8301
Hah, I see sorry but we need a couple of more iterations to find a root cause. I will provide the distribution tomorrow.

[2018-07-19 15:57] zerovian opened #8417 "embedded orientdb in webapp shutdown generates threadlocal errors"
### OrientDB Version: 2.3.36
### Java Version: 1.8.101
### OS: windows,linux,aix

## Expected behavior
When Orient.instance().shutdown() is called all thread locals should be released and have their values set to 'null'.

## Actual behavior

I am using orientdb embedded in a web application.  On shutdown of the webapplication, the Tomcat memory leak detector for ThreadLocal objects is complaining

[2018-07-19 17:43] hrstoyanov opened #8418 "Incorrect documentation"
Is OrientDB 3.0.x still milestones or is it "production ready??

![image](https://user-images.githubusercontent.com/5327044/42960400-8916e5ec-8b40-11e8-8705-c75cd155a177.png)

[2018-07-19 18:34] hrstoyanov commented on #8415
This could be another console bug!
When I try this in Studio, against the same database, I get (very quickly):

![image](https://user-images.githubusercontent.com/5327044/42962755-262aa296-8b47-11e8-8358-f8ec7edcd7c7.png)

and in raw format:
[code]

[2018-07-19 20:39] hrstoyanov opened #8419 "BATCH SQL scripts do not work?"
### OrientDB Version: 3.0.5-SNAPSHOT
### Java Version: 8
### OS: any

I am trying to do some basic scripting following the docs - i can not get it to work at all;

[code]

gives me :

[code]

[2018-07-19 20:51] hrstoyanov commented on #8419
It is even more weird! If I try this:
[code]

I get:

[code]

then when I try to correct the code based on the message above:

[code]

I get:

[code]

[2018-07-19 20:58] hrstoyanov commented on #8414
Thanks @luigidellaquila ,
Issues like this waste a lot of time (for a new ODB user) and I start to have serous doubts about the code quality and readiness of ODB and would hesitate to recommend ODB for large projects! This should have been caught by your test cases even before releasing 3.0.0!

I am completely unable to make any progress with my ODB-based project due to issues like this, as well a

[2018-07-20 00:12] hrstoyanov opened #8420 "Why is this MATCH query not impossible?"
### OrientDB Version: 3.0.5-SNAPSHOT
### Java Version: 8
### OS: any

Given 2 vertices (Account, Staffer) and 1 edge in between (WorksFor), why can't I do this, if I want to return all 3 elements:

[code]

This pattern of V-E-V seems very natural!

[2018-07-20 03:16] anukul-mohil opened #8421 "Database records in permanent deadlock state after running concurrent queries."
### OrientDB Version: 3.0.3
### Java Version: "1.8.0_131"
### OS: CentOS 7.3

## Expected behavior
Shouldn't be receiving ODistributedRecordLockedException for concurrent updates.

## Actual behavior
While making async/concurrent write calls to orientdb cluster we're receiving following errors:
`b'{\r\n  "errors": [\r\n    {\r\n      "reason": 500,\r\n      "code": 500,\r\n      "content": "com.or

[2018-07-20 04:23] hrstoyanov opened #8422 "CREATE DATABASE in console error on MacOs"
### OrientDB Version: 3.0.5-SNAPSHOT
### Java Version: 1.8_172
### OS: MacOs latest

The latest 3.0.5-SNAPSHOT produces the below strange error, which I only see on Mac, but not on Windows. Checking the JavaDocs for Java 8, I do see there is this method:

 [public final Buffer position(int newPosition)](https://docs.oracle.com/javase/8/docs/api/java/nio/Buffer.html#position-int-)

but it returns B

[2018-07-20 07:27] luigidellaquila commented on #8415
HI @hrstoyanov

I'm checking it, it seems be a problem in the protocol
I'll let you know asap

Thanks

Luigi

[2018-07-20 08:00] #8415 closed

[2018-07-20 08:10] luigidellaquila commented on #8415
Hi @hrstoyanov

It was a problem on the query executor, I just pushed a fix

Thanks

Luigi

[2018-07-20 08:32] luigidellaquila commented on #8412
Hi @userg

Could you please provide a dataset (or a script) to reproduce the problem?

Thanks

Luigi

[2018-07-20 09:57] marcelalburg commented on #8382
Hello,

i run my test and i see a result with "next" now. Can you confirm, that this issue is fixed with 3.0.4 ?

M

[2018-07-20 10:00] maggiolo00 commented on #8382
Hi @marcelalburg

it should be available in 3.0.4

[2018-07-20 10:01] marcelalburg commented on #8382
Ok, my test works as expected. Thanks a lot.

[2018-07-20 10:31] userg commented on #8412
Please use this script to reproduce
`
create class ABC extends V;
create property ABC.tid Integer;
create class XYZ extends V;
create property XYZ.value long;
create class A extends E;

let $abc = create vertex ABC set tid = 1;
let $xyz1 = create vertex XYZ set value = 100;
let $xyz2 = create vertex XYZ set value = 200;
create edge A from $abc to $xyz1;
create edge A from $abc to $xyz2;

-- this w

[2018-07-20 10:36] luigidellaquila commented on #8406
Hi @gtadudeps

You are right, it doesn't work and it requires a fix. Could you please open another issue for that?

What we have now is an UPSERT on edges that works on out/in only. I don't know if you need it, but in case you can use it as follows:

define the schema for the edge as follows:
[code]

and then

[code]

Thanks

Luigi

[2018-07-20 16:32] jcwright77 commented on #6007
similar issue. In 2.2 add binary field and upload image in studio. Creates record with image:null, and the image file is not actually uploaded.

[2018-07-20 17:38] hrstoyanov commented on #8422
@luigidellaquila this is a showstopper

[2018-07-20 22:24] rornellas opened #8423 "Cannot access database after setting wrong LOCALE for existing database"
### OrientDB Version: 3.0.4
### Java Version: 1.8.0_171-b11
### OS: Ubuntu 18.04

## Expected behavior
The wrong LOCALE be ignored and a default one be set

## Actual behavior
Error when trying to access database after wrong set of LOCALE information

## Steps to reproduce
Create a database, fill with some data and then set LOCALE database option to "BR"

I am get the following stacktrace:

2018-0

[2018-07-21 17:31] hrstoyanov commented on #8422
@luigidellaquila , After clean build of 3.0.5-SNAPSHOT on my Mac with Java 8, here is what I see:
[code]

A couple of notes:

1. This only started happening recently with some change in the 3.0.5-SNAPSHOT branch. I had no problem like this a week ago.

2. I don't see this on Windows

[2018-07-22 19:03] gtadudeps commented on #8421
We are also facing the same issue  of `com.orientechnologies.orient.server.distributed.task.ODistributedRecordLockedException: Timeout (0ms) on acquiring lock on record #-1:-1 on server 'DeadLock'.`  Even when we retry it 50 times the exception persists not sure if this is broken or a need to tweak a setting.

[2018-07-22 19:20] gtadudeps opened #8424 "Update edge with Upsert"
### OrientDB Version:  v3.0.3
### Java Version: 8
### OS: macOS

## Expected behavior
Update edge with upsert should cover case like:
`NodeObj` vertex has unique index on `qName`.
`ImpactEdge` vertex has unique index on `edgeId`.

Running commands
[code]
should create a edge between two vertices if doesn't exists and update `IN` and `OUT` fields on the vertices as well.

## Actual behavior
It crea

[2018-07-22 19:38] gtadudeps commented on #8406
Hi @luigidellaquila

Thanks for your suggestion, but in our case since there could be multiple edges between two vertices we really couldn't have a unique constraint on out and in properties. I have opened the issue for this case https://github.com/orientechnologies/orientdb/issues/8424.

Unrelated to this but perhaps you could suggest/look into to another issue that we are facing and which has be

[2018-07-23 03:32] hakanai opened #8425 "OrientDB static initialisation is not thread-safe"
### OrientDB Version: 2.2.12
### Java Version: Oracle JDK 8u172
### OS: macOS 10.13

## Expected behavior

It should be possible to create two independent databases in the same JVM, even if this occurs at the same time on two different threads.

## Actual behavior

We attempt to create two databases, and occasionally get errors such as:

    java.lang.NullPointerException
    	at com.orientechnolo

[2018-07-23 06:09] tomazk8 opened #8426 ".NET Client -general question"
I am using .NET Core and cannot find a suitable client for OrientDB. I was using the binary client from Innov8tive before with OrientDB 2.2.x but was for some reason removed from NuGet. BTW, anyone knows why? Luckily I downloaded the source before that, so I can continue using it. All current clients for .NET Core are in experimental/alpha stage. It's too bad and I think .NET community needs a wor

[2018-07-23 10:33] tomazk8 commented on #8426
Thanks Luca. I am very much looking forward to get the new release ;).

[2018-07-23 10:33] #8426 closed

[2018-07-23 18:55] #8420 closed

[2018-07-24 04:22] gtadudeps opened #8427 "Distributed mode not working with concurrent calls."
### OrientDB Version: v3.0.4
### Java Version:  8
### OS:  macOS

## Expected behavior

`Blueprints implementation` of orient graph should be able to connect to cluster and create vertices and edges on the graph `concurrently` (In our case there are `16 threads` each with its `own graph instance` modifying the graph) . Client app is handling ONeedRetryException and all the server/client side confi

[2018-07-24 11:04] laa commented on #8295
Moved to 3.1 version because of no response.

[2018-07-24 17:27] hrstoyanov opened #8428 "EBEDDED[LIST/SET] types and IN/CONTAINS not working?"
### OrientDB Version: 3.0.5-SNAPSHOT
### Java Version: 8
### OS: any

I have this edge definition with ROLES property as an embedded set of strings:
[code]

and some data:
[code]
According to [this example](https://stackoverflow.com/questions/36244601/query-embeddedlist-combined-with-other-property-in-orientdb), I expect that both of these queries would work:
[code]
__Yet in both cases I get no re

[2018-07-24 18:07] hrstoyanov commented on #8428
I tested [this example](https://stackoverflow.com/questions/36244601/query-embeddedlist-combined-with-other-property-in-orientdb) in 3.0.5-SNAPSHOT and it works. I also tried to change the ROLES property to:
[code]

Still no luck...

[2018-07-24 19:23] hrstoyanov commented on #8428
Ok ... i got to the bottom of this issue: I think console has some lower/upper case defect. Bizarrely, this works:

[code]
If ODB is case sensitive, at least it should respect the exact property name from when the schema was created.

When can this be fixed?

[2018-07-24 21:37] hrstoyanov opened #8429 "SQL SCRIPT issue"
### OrientDB Version: 3.0.5-SNAPSHOT
### Java Version: 1.8_172
### OS: any

[code]

[2018-07-25 01:22] hrstoyanov opened #8430 "SELECT FROM (<MATCH query...>) not working?"
### OrientDB Version: 3.0.5-SNAPSHOT
### Java Version:  1.8
### OS: any

I have a MATCH query that works as expected:
[code]

However any attempt to wrap it with SELECT :
[code]
fails with syntax error???
[code]

[2018-07-25 08:15] crocy opened #8431 "Can not allocate space (error 95) for file ... using native Linux API, more slower methods will be used [OFileClassic]"
### OrientDB Version: 3.0.2+
### Java Version: 1.8.0_181-b13
### OS: Ubuntu 18.10 (x64), Raspbian Strech (9.4) (on Raspberry Pi 3)

## Expected behavior
No warnings when using the DB.

## Actual behavior
[code]
(some parts of the path above have been omitted with `...`)

I keep getting a lot of these warnings on two different Linux OS-es (though both Debian based) since 3.0.2 (in all versions up t

[2018-07-25 09:08] CyprienGottstein commented on #8176
This issue is still active on OrientDB 3.0.3.

[2018-07-25 09:10] maggiolo00 commented on #8176
Hi @CyprienGottstein

did you try the lucene functions? The operator will be deprecated soon

https://orientdb.com/docs/3.0.x/indexing/Full-Text-Index.html

[2018-07-25 09:19] gianluca-valentini commented on #8390
Hi @luigidellaquila
can you help me with another problem that I can not understand?

I'm executing a query with a `distinct` and `in` functions.

where Account2Analysis is an Edge.
Query execution is very fast, thanks to your advice on LUCENE indexes.

![image](https://user-images.githubusercontent.com/3224592/43191009-977eb3a8-8ffa-11e8-9161-955096f0a068.png)

The problem comes out when I want to

[2018-07-25 11:47] CyprienGottstein commented on #8176
Hi @maggiolo00

I just tried the new lucene functions, thanks for highlighting that, I didn't saw properly the updates into the release notes, my bad.

Now, it seems to do the job, i'm just wondering about the result of some queries. With the exact same dataset available in the database above, if I run the following query :

`select * from Beta where SEARCH_INDEX("Beta.domain", "issues") = true`

[2018-07-25 11:57] maggiolo00 commented on #8176
Hi @CyprienGottstein

the first parameter is the the name of the index, and the second is the lucene query that should be passed on to the Lucene engine.

Do you get differente result with operator and function?

[2018-07-25 12:07] CyprienGottstein commented on #8176
Hi again @maggiolo00

No I get the same result, its fine.

I understood why the query is working even though it shouldn't, the query I used to make the test induced me in error.

By default the standardAnalyzer (which I used for this index) doesn't tokenize url and the value "https://github.com/orientechnologies/orientdb/issues/new" is broken in several pieces using its punctuation.

Thus it retur

[2018-07-25 12:09] maggiolo00 commented on #8176
Ok @CyprienGottstein

let me know if you need something on this

Thanks

[2018-07-25 14:02] zufanka commented on #8238
Hi @luigidellaquila ! Don't mean to be a pain, but our project is under quite some time pressure and would very much appreciate if you could find some time to assist @georgiana-b with the problems she is having.

[2018-07-25 14:39] niks368 commented on #8383
Hi @luigidellaquila
I am experiencing a similar problem when I use following query:

`SELECT $columns FROM CI LET $columns = (SELECT * FROM (TRAVERSE out() FROM $parent.$parent.$current) WHERE othercolumn = 5)`

I receive this error:
`com.orientechnologies.orient.core.exception.OCommandExecutionException: Class $parent not found DB name="databases"`

I am using OrientDB Version: 3.0.4

[2018-07-25 16:44] LianaNapalkova commented on #6420
I have the same issue in IntellijIDEA 2018.1.6 with SBT project. The error message `Caused by: com.orientechnologies.orient.core.exception.OConfigurationException: Error on opening database: the engine 'remote' was not found. URL was: remote:XXX.XX.XX.XX/database/TEST_1. Registered engines are: []`. The class `OStorageRemote` is included in the path.

[2018-07-25 16:53] maggiolo00 commented on #6420
hi @LianaNapalkova

did you include `orientdb-client` as dependency?

[2018-07-25 22:04] rornellas commented on #8423
Anyone? I am stuck at that point... If someone could just tell me where should I fix the locale to be able to access my database I would appreciate alot!

[2018-07-26 03:42] jia57196 opened #8433 "performance is bad when aggreate 6M document records, orientdb 2.2.27"
### OrientDB Version: <2.2.27>
### Java Version: <1.6>
### OS: <windows 2012>

## Expected behavior
while I did this same testing on MSSQL 2017 by CCI, it's just 4 seconds.
But, orientdb use 305 seconds.

## Actual behavior
<I injected 6million records into orientdb document db, and search by aggregation search SQL, it cost 305 second to retrieve the result>

sample JSON format is
`{
  "@type": "d

[2018-07-26 07:11] RamAnvesh commented on #8383
@niks368 looks like you cannot use parent and current variables in the FROM clause in OrientDB 3.0

[2018-07-26 08:51] LianaNapalkova commented on #6420
Yes, orientdb-client:2.2.2, orientdb-core:2.2.2, orientdb-graphdb:2.2.2, orientdb-server:2.2.2 and orientdb-tools:2.2.2 are included.

[2018-07-26 13:12] shubhambondarde opened #8434 "Encrypted database getting open without encryption key"
### OrientDB Version: 2.2.34
### Java Version: 1.8
### OS: windows-10

There is an AES encrypted orientdb database. There are two threads in same JVM, one knows the encryption key and other thread doesn't have it. When the thread with encryption key connects with database first, the second thread is also able to connect to the database.

We checked the source code, we found that the if the databas

[2018-07-26 17:41] laa commented on #8423
Hi @rornellas could you try this build?

[2018-07-26 20:12] crocy commented on #8431
Aha, ok then, thanks :)

[2018-07-26 20:48] hrstoyanov commented on #8356
I figured one can use:
[code]

in the script for feedback

[2018-07-26 20:48] #8356 closed

[2018-07-26 21:36] hrstoyanov commented on #8430
This appear to be issue with the console only. Studio works as expected!

[2018-07-26 21:38] hrstoyanov commented on #8428
These issues are both in console and studio.

[2018-07-27 01:04] rornellas commented on #8423
Ok... I tried building orientdb core only and replaced my orientdb core jar by the new one. It worked!
Thank you!
I have executed a query and my database is working!

[2018-07-27 03:10] #8423 closed

[2018-07-27 04:57] laa commented on #8423
https://drive.google.com/file/d/1hUESY2UFEuAFyV4wBCGGJDA5yGXkD81a/view?usp=sharing sorry forgot the link

[2018-07-27 04:57] laa commented on #8423
Cool :-)

[2018-07-27 08:57] shubhambondarde opened #8435 "Orientdb Edge class having property name starting with a number fails while fetching the edge"
### OrientDB Version: 2.2.34
### Java Version: 1.8
### OS: Windows -10

## Expected behavior
There should not be any error while fetching  the record containing attribute whose name is starting with a number, as orientdb is letting us create the attribute with name starting with number and also letting us insert the edge into the edge class.

## Actual behavior
For **Remote** oriendb database, we

[2018-07-27 09:51] Vatavuk opened #8436 "OInvalidStorageEncryptionKeyException: Cannot decrypt content"
### OrientDB Version: 2.2.22
### Java Version: 8
### OS: Ubuntu 16.04.3 LTS

## Expected behavior
Records should be decrypted using encrypted DB.

## Actual behavior
com.orientechnologies.orient.core.exception.OInvalidStorageEncryptionKeyException: Cannot decrypt content
	DB name="someDB"
	DB name="someDB"
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method) ~[na:1.8.0_151]
	a

[2018-07-27 10:34] gtadudeps commented on #8424
Please look into this issue as well it has become a major bottleneck for us. https://github.com/orientechnologies/orientdb/issues/8427 thanks!

[2018-07-27 11:05] veralimita opened #8437 "Batch HTTP API doesn't work"
### OrientDB Version: 3.0.4
### Java Version: oficial docker
### OS: oficial docker

## Expected behavior
UPDATE ROWS

## Actual behavior
ERROR:
[code]

## Steps to reproduce
Send to http://orientdb:2480/batch/nvd
[code]

with this request everything is OK:
[code]

[2018-07-27 11:18] LianaNapalkova commented on #8255
Hi @maggiolo00,

This link leads to a non-existing page. Could you please update it?

Thanks.

[2018-07-27 11:41] rornellas commented on #8423
:)
Just to let you know... I have downloaded the file from googledrive, but when I try to run with the same command I used before, I get the following error:

-bash: ./server.sh: /bin/sh^M: bad interpreter: No such file or directory

If I try using bash:

: not found30: server.sh:
: not found33: server.sh:
server.sh: 91: server.sh: Syntax error: word unexpected (expecting "do")

[2018-07-28 17:38] balalakshmin opened #8438 "Edge rid is not associated to the vertex in optimistic transaction. Leads to broken graph."
### OrientDB Version: 3.0.4
### Java Version: 1.8
### OS: MacOS

## Expected behavior
[code]
The above query should create a vertex of type B and an edge between A and B.

## Actual behavior
The above query creates the vertex and edge records.
It forms proper association with the newly created vertex (@rid of the edge is added to $b in the above query)
But **@rid of the edge is not added as OUT pr

[2018-07-28 17:48] hrstoyanov commented on #8422
I figured out what was going on: On my Mac, I was using [jEnv](https://github.com/gcuisinier/jenv) to switch between JDKs, and although Java 8 is my default environment, I was ending up compiling OrientDB with Java 10!

In case someone else faces this issue, the fix is to use this command when building OrientDB (assuming Java 8 is your current or default configuration):
[code]

Note,  the recommen

[2018-07-28 17:48] #8422 closed

[2018-07-29 14:45] rdelangh commented on #8323
update:
- installed version 3.1.0 (build 3f270977d0f87d8fe9a5171aa439dc3295696b37)
- I have now only 2 Lucene indexes, of which only one being a multi-fields index ("idx_cdr_icx_20180610_2"):
[code]

New attempts:

Trying with SEARCH_CLASS:
[code]
-> this corresponds with the documentation, saying that SEARCH_CLASS should only be used when there is only one single Lucene index

Trying with SEARCH_

[2018-07-30 06:31] luigidellaquila commented on #8435
Hi @shubhambondarde

Property names starting with numbers are allowed, but you have to back-tick quote them:

[code]

Thanks

Luigi

[2018-07-30 08:59] matthiasbe opened #8439 "Fail to restore database after forced shutdown"
### OrientDB Version: 3.0.2
### Java Version: jdk1.8.0_144
### OS: Windows 10

## Expected behavior
Be able to restart database system and retrieve database as it was.

## Actual behavior
Database fails to restart with error
[code]
This error displays multiple time for different classes.

## Steps to reproduce
After orientdb server manually forced shutdown (closed terminal window or pc shutdown wi

[2018-07-30 09:40] CyprienGottstein commented on #8176
Hello @maggiolo00

We did some tests on our side and we have a problem, we need to perform prefix search on URL like "give me every URL that starts with http://a/b/" and we didn't found the appropriate index for that purpose.

When i try query with Lucene DICTIONARY_HASH_INDEX index, even though i have cases where the answer is almost instantaneous, if i use EXPLAIN on my queries it shows well tha

[2018-07-30 09:50] laa commented on #8439
Hi @matthiasbe .

Hm... strange we have run crash tests periodically without problems.
Any way.

Could you check the same behavior on 3.0.4 version and if the issue persists, could you do the following.
Could you crash database, make a backup of the database, start server only after that and then send me logs of server start and content of the database backup.
Plese notice that you have to make th

[2018-07-30 09:51] shubhambondarde commented on #8435
Hi @luigidellaquila

We are getting edges by using OrientBaseGraph.getEdges(String iKey, Object iValue) API.
We are not using direct SQL query to get the edges.
Also, we are using same API in case of plocal mode and remote mode.
In plocal mode it works, but in remote mode it gives parsing error.

-Shubham Bondarde

[2018-07-30 09:54] luigidellaquila commented on #8435
Hi @shubhambondarde

Thank you very much for the info, so the problem must be in the core.
I'll check it asap

Thanks

Luigi

[2018-07-30 09:59] StrangeTcy opened #8440 "Invalid format for configuration file"
### OrientDB Version: 3.0.4
### Java Version: 10.0.2
### OS: Ubuntu 16.04

## Expected behavior
working with VehicleHistoryGraph databases

## Actual behavior

And then from the console I try to `connect plocal:/opt/orientdb/databases/VehicleHistoryGraph admin admin` and get an error:

    Error: com.orientechnologies.orient.core.exception.ODatabaseException: Cannot open database 'VehicleHistoryGr

[2018-07-30 10:03] laa commented on #8440
Hi @StrangeTcy , if I get you correctly you downloaded VehicleHistoryGraph database and when you tried to open it, you have got this error on 3.0.4 version did not you?

[2018-07-30 10:16] shubhambondarde commented on #8434
Any updates on this issue?

[2018-07-30 10:22] HZooly commented on #8439
Hey @laa ! 👋

I tried with OrientDB 3.0.4 version and got the same issue than with previous versions.
I've recorded a backup of my database, checking with my boss if I can transfer it to you.

[2018-07-30 10:40] StrangeTcy commented on #8440
Not exactly. First I downloaded the VehicleHistoryGraph database and tried to open it on orientdb 3.0.2., but I got this error. Then I downloaded a fresh orientdb 3.0.4, installed it, downloaded the  VehicleHistoryGraph database from Studio and tried to access it, but still got the same error.

[2018-07-30 12:22] userg commented on #8438
On further debugging found that the flags are being reset in the following place
`ODatabaseDocumentRemote.java `
[code]
The last line is resetting the flags which makes any updates within the optimistic transaction void.
Please let know if we are doing something wrong.

[2018-07-30 13:32] berevesero opened #8441 "Save vertex on specific cluster"
### OrientDB Version: 2.2.35
### Java Version: 1.8

Hey,

i run OrientDB in distributed mode with 4 nodes and 2 OrientDb classes: `ridclass` and `tokenclass`. So i set it up like each OrientDB class have 4 OrientDB cluster assigned. Each OrientDB cluster is assigned to exactly one physical node. If I run `clusters` in the console i get the following output:

|60  |ridclass    |  76|ridclass  | 220

[2018-07-30 15:00] #8435 closed

[2018-07-30 15:00] luigidellaquila commented on #8435
Hi @shubhambondarde

I just pushed a fix for this problem, it should be released with v 2.2.37

Thanks

Luigi

[2018-07-31 08:01] #8430 closed

[2018-07-31 08:01] luigidellaquila commented on #8430
Hi @hrstoyanov

I just pushed a fix for this

Thanks

Luigi

[2018-07-31 08:04] srini6teen opened #8442 "Getting java.nio.BufferUnderflowException when querying"
### OrientDB Version: 3.0.4
### Java Version: 1.8
### OS: Alpine Linux v3.8

## Expected behavior
Query should perform without throwing ByteUnderflowException

## Actual behavior
Exception thrown while executing the below query.

SELECT
FROM
(
	match { class: a, AS: a }
  	.out('aTob') { AS: b, WHERE: (field1 is defined and field1 = true) }
        .out('bToC') { WHERE: (field2 = 'XYZ'), AS: c }

[2018-07-31 08:46] laa commented on #8442
Hi @srini6teen could you send me the server logs and DB content. Do you have one?

[2018-07-31 09:34] laa commented on #8439
Hi @HZooly any updates?

[2018-07-31 09:38] HZooly commented on #8439
@laa Is it ok if I send you a corrupted *Account.cpm*?

[2018-07-31 09:40] laa commented on #8439
@HZooly nope, I need to check other things in the database too. OK if you can not to send me the whole DB could you send me just a server log? I probably will ask you to look on some pieces of the database after that. So you will provide me needed information without sending of the whole database.

[2018-07-31 09:55] HZooly commented on #8439
Ok sending you an email with Spring console logs and OrientDB console log.

[2018-07-31 10:14] matthiasbe opened #8443 "Performance issue retrieving OrientGraph through Connection Pool from other Thread"
### OrientDB Version: 3.0.2
### Java Version: jdk1.8.0_144
### OS: Windows 10

## Expected behavior
`OrientGraphFactory.getTx()` and `OrientGraphFactory.getNoTx()` should take less than 1 ms as it was the case on our last used version 2.1.19.

## Actual behavior
Executing `OrientGraphFactory.getTx()` or `OrientGraphFactory.getNoTx()` takes about 250ms on my local windows environment. It's the same

[2018-07-31 11:00] luigidellaquila commented on #8400
Hi @creisle

I just pushed a fix for this, it will be released with v 2.2.37

Thanks

Luigi

[2018-07-31 11:00] #8400 closed

[2018-07-31 11:52] gtadudeps commented on #8233
Hi we are also facing these two issues any update on this?

[2018-07-31 12:03] cloudloveseven commented on #8386
you need a high version orient-graph.jar

[2018-07-31 12:12] rdelangh commented on #8031
I got exactly the same situation, but in version 2.2.37 (so well passed the suggested fix of version 2.2.31) :

- the client program got the following reply from the server, while trying to insert new data:
[code]
- in the server logs:
[code]

Not sure what caused that dbase file to become "switched to read-only", maybe any interactive session did invoke a wrong SQL statement (referring to your co

[2018-07-31 21:16] creisle opened #8444 "Strange transaction (Tx) behaviour for edges created within a Tx"
### OrientDB Version: 2.2.36 (also 3.0.4)
### Java Version: 1.8.0_151
### OS: centos07

## Expected behavior
Expected the transaction to succeed.

## Actual behavior
Works when not using the let statements inside a transaction. Does not work within a transaction. It appears to take issue with using the result assigned to a LET after edge creation in a subsequent statement

## Steps to reproduce
cr

[2018-08-01 06:37] cloudloveseven commented on #8386
put orient-graph-3.0.3.jar in /orientdb/lib

[2018-08-01 16:18] denislemercier commented on #8162
Hello,

I had the same issue with Orientdb 3.0.4, few documents are missing after a node restart.

I found this :
When a node is down, if I remove the entire database instance folder and restart the node, it works fine (= transfers the entire database).

Maybe the function OSyncDatabaseDeltaTask causes a problem.

[2018-08-02 00:14] ygyg70 opened #8445 "8 node cluster cannot recover from short network disconnect"
### OrientDB Version: 2.2.36
### Java Version: 1.8.0_144
### OS: Windows server 2012 R2

## Expected behavior
Cluster should be resilient to network disruptions

## Actual behavior
After disconnecting a node for 10-15 sec and reconnect, most of the times the cluster never recovers and serves become unavailable .
If I wait for the cluster to broadcast a new topology, the cluster recovers once the d

[2018-08-02 07:58] diaconescur opened #8446 "GraphAPI vertex deletion: Found record in transaction with the same RID but different instance. Probably the record has been loaded from another transaction and reused on the current one: reload it from current transaction before to update or delete it"
### OrientDB Version: 2.2.34 (3 node cluster)
### Java Version: 1.8.0_172-b11
### OS: Windows 10 Enterprise

## Expected behavior
No warning in the OrientDb console.

## Actual behavior
Two out of three cluster nodes print:
2018-08-02 10:51:38:462 WARNI Found record in transaction with the same RID #19:4 but different instance. Probably the record has been loaded from another transaction and reuse

[2018-08-02 08:03] ismaelpernas opened #8447 "oetl.sh hangs after running .json file"
### OrientDB Version: 3.0.4
### Java Version: 1.8.0_121
### OS: CentOS 6.8

## Expected behavior
After running oetl.sh command it should end process and return control.

## Actual behavior
when I run an oetl.sh that extracts data from PostgreSQL to OrientDB the command doesn't exit and hangs permanently on the last line.

[vagrant@ms-development bin]$ ./oetl.sh /<PATH_TO_FILE>/Jurisdiction.json
Or

[2018-08-02 08:37] luigidellaquila commented on #8428
Hi @hrstoyanov

I just pushed a fix, it will be released with v 3.0.5

Thanks

Luigi

[2018-08-02 20:50] hrstoyanov commented on #8428
@luigidellaquila
The issue  is still here - I  see it in 3.0.6-SNAPSHOT. Are you sure you merged the fix upstream?

These queries works:
[code]
but the below ones do not work:
[code]

I have not tested in 3.0.5 final

[2018-08-02 20:56] hrstoyanov commented on #8430
@luigidellaquila seems fixed, thanks

[2018-08-02 20:59] hrstoyanov commented on #8428
@luigidellaquila
do you need sample database/data for this?

[2018-08-03 04:41] laa commented on #8442
Hi @srini6teen could you send me the server logs and DB content. Do you have one?

[2018-08-03 04:43] laa commented on #8439
Hi @HZooly , if you do not perform truncate of classes but merely delete records from classes, do you still see this issue?

[2018-08-03 06:29] luigidellaquila commented on #8428
Hi @hrstoyanov

Yes, I merged it. If you have a sample DB it will help a lot, there is a chance that I didn't get exactly your use case

Thanks

Luigi

[2018-08-03 08:54] matthiasbe commented on #8439
Hi @laa
We indeed see some `TRUNCATE` operation at our application startup. After some investigation it appears to come from the following sql command : `alter class `myClass` abstract true` (see [this piece of code](https://github.com/orientechnologies/orientdb/blob/ac8908c8a52f63ae0b131b2239ff45e415db7e6a/client/src/main/java/com/orientechnologies/orient/core/metadata/schema/OClassRemote.java#L4

[2018-08-03 12:15] matthiasbe commented on #8439
Removing {{type.sebAbstract(true)}} didn't solve the issue

[2018-08-03 13:07] berevesero opened #8448 "OrientDB distributed-mode getVerticies() causes exception"
### OrientDB Version: 2.2.35
### Java Version: 1.8
### OS: <os here>

Hello,

i running OrientDB in distributed mode with 4 nodes (dbis51, dbis52, dbis53, dbis54). I have two classes: `ridclass` and `tokenclass`. The `ridclass` has the property record as LONG and this property is also indexed as `unique`. I want to reach the following behavior:
If I create a record of the `ridclass` on a node with

[2018-08-03 13:10] matthiasbe commented on #8439
Is it possible that it came from the following code :

[code]

Using debugger, if I stop just before this execution, doing a dirty stop of orientDB, everything is restarted without the error.
I reset the database. And then if I run the same program again and stop just after, and I stop ungracefully, I get the {{Magic number verification failed}} at next run of the program.

[2018-08-03 13:41] laa commented on #8439
Hi @matthiasbe probably I got the problem, I will provide a new fix on Tuesday I suppose. No promises though depends on my load.

[2018-08-03 15:39] laa commented on #8439
Hi @matthiasbe could you try this build?

[2018-08-03 15:39] laa commented on #8439
https://drive.google.com/file/d/1xLBIckaTma387B9vrgTRjS_xknLHabX4/view?usp=sharing

[2018-08-03 16:28] adler4566 commented on #8448
If I insert the vertices like this:

        OrientVertex tempRidVertex = graph.addVertex("class:ridclass");

The vertices are shown in the web frontend and in the console, and additionally I can search over the index but it has an other big problem! All vertices are stored on cluster '58' and this is namely my dbis51... It makes no difference if I index the vertices on server dbis52, dbis53, or d

[2018-08-04 14:02] temilmg commented on #8172
Not able to reproduce this one, closing!

[2018-08-04 14:02] #8172 closed

[2018-08-06 02:29] hrstoyanov commented on #8428
@luigidellaquila find attached a sample database. Run: schema, seed_data, test_data. Then the above queries should show you the problem.
[issues8428.zip](https://github.com/orientechnologies/orientdb/files/2261006/issues8428.zip)

[2018-08-06 06:32] matthiasbe commented on #8439
Hi @laa
I ran your build with the java API version `3.0.5`.
Unfortunately, error `Magic number verification failed for page '0' of 'account.cpm'` still occurs after restarting ungracefully stopped orientdb server, when trying to access this `Account` class during startup of the application.

Is there some additionnal debugging information I could provide ?

[2018-08-06 06:49] luigidellaquila commented on #8428
Hi @hrstoyanov

Thank you very much, now everything is clear.
In OrientDB v 3.0 property names ARE case sensitive indeed (see https://orientdb.com/docs/3.0.x/release/3.0/Upgrading-to-OrientDB-3.0.html), so `ROLES` is different from `roles`.
That means that the following is legitimate and correct:

[code]

and `NAME` and `name` are stored as two different properties. This is why your query is retur

[2018-08-06 07:38] matthiasbe commented on #8439
Do I have to use the _Java API_ jars located in the `lib/` folder of the archive you provided in my java project ? This is not really the way I've setup my java project, as I'm using Gradle.

[2018-08-06 08:38] matthiasbe commented on #8443
This seems to be fixed with release 3.0.5

[2018-08-06 09:04] luigidellaquila commented on #8443
Excellent, closing then

Thanks!

Luigi

[2018-08-06 09:04] #8443 closed

[2018-08-06 09:05] laa commented on #8439
Hi @matthiasbe . A version in which I made changes is 3.3.6-SNAPSHOT. You could make a build using 3.0.x branch and check result. Just run `mvn clean install -DskipTests=true`

[2018-08-06 12:15] HassounDev commented on #8345
i used 2.2.20 it works for i tried 3.x and 3.3.x its don't work, i don't know why

[2018-08-06 13:41] HassounDev commented on #8234
@saeedtabrizi  I tried the scenario that u implemented, because i had the same problem as @hossein-md,

It works when i use `select from cluster:myclass_a1`  but when i use `select * from myclass` it throws

[code]

[2018-08-06 14:16] matthiasbe commented on #8439
I finally achieved to use your build in our project.

But the bug is still present 😳

At least now I know how to use a custom build

[2018-08-06 15:29] hrstoyanov commented on #8428
Got it! Closing this issue..

[2018-08-06 15:29] #8428 closed

[2018-08-06 15:58] laa commented on #8439
@matthiasbe could you publish me build number just to double check?

[2018-08-06 16:02] laa commented on #8439
Build number should be printed at the servers start.

[2018-08-06 22:06] hrstoyanov opened #8450 "ODB server annoying startup exception"
### OrientDB Version: 3.0.6-SNAPSHOT
### Java Version: 1.8
### OS: any

Starting ODB server, directly after building it from sources gives me this (potentially harmless, but annoying) trace:
[code]

[2018-08-06 23:46] #8409 closed

[2018-08-07 07:00] matthiasbe commented on #8439
Hi @laa

Build number : ec3353960ff332b2d2ac85fcc7bbd445f167f066

Here is a screen shot of the error (you can see the release version here)

![image](https://user-images.githubusercontent.com/9254232/43759651-31f9dadc-9a20-11e8-810f-078f336f2fa1.png)

[2018-08-07 07:08] andreyvk opened #8451 "Unable to query by last element in embeddedmap"
### OrientDB Version: 2.2.36

Hi,

I was wondering if i am doing smth wrong. We have a record with an attribute `history`, which is like an associative array. Below is the `history` attribute example:

[code]

I wanted to get all those records in which the **last** history's `paidTime` is in between certain date range. For instance,

[code]

or this

[code]

Both the queries did not produce any re

[2018-08-07 07:53] laa commented on #8439
Hi @matthiasbe ,
This is incorrect build number, it should be 947645b013b0de08d6c61ff0635ec690aac35426 . I will create build for you today to try. To install it just run: `mvn install:install-file -Dfile=orientdb-core-3.0.6-SNAPSHOT -DgroupId=com.orientechnologies  -DartifactId=orientdb-parent -Dversion=3.0.6-SNAPSHOT -Dpackaging=jar`

[2018-08-07 08:02] laa commented on #8439
Hi @matthiasbe could you use this build? https://drive.google.com/file/d/1MlzGIEfnuqUsffc93uE_zUuZOmjAeC9W/view?usp=sharing .

[2018-08-07 08:35] matthiasbe commented on #8439
Hi @laa
Issue is still present using the `orientdb-core-3.0.6-SNAPSHOT.jar` file you provided.

I have used this file both for server side and Java API of my application

![image](https://user-images.githubusercontent.com/9254232/43764379-9a5ffe3c-9a2d-11e8-8c79-da7b3f004f26.png)

[2018-08-07 08:45] laa commented on #8439
@matthiasbe just to make it clear, you not only opened but also created and then crashed server using the same distribution. Did not you?

[2018-08-07 08:55] matthiasbe commented on #8439
With this setup :
* Start the server using the provided jar
* Create new db
* Run our application to the point of the `addVertex()` call on the `Account` class. I think it's the first update call after schema initialisation
* Stop orientdb ungracefully
* Stop application
* Restart orientdb
* Run application
-> `RuntimeException` when reaching `addVertex()` call again and database set to read-only

[2018-08-07 09:43] laa commented on #8439
@matthiasbe I suppose you do not see a message like `WARN: File ... already exists and will be truncated`, do not you?

[2018-08-07 14:01] srini6teen commented on #8383
SELECT $b FROM a
LET $b = (SELECT expand($parent.$current.out('foo-bar')))
WHERE id = 'some value'
always returns an empty value even though

SELECT FROM a where id = 'some value' has an OUT "foo-bar" edge

Using OrientDB 3.0.4

[2018-08-07 15:40] userg commented on #8383
@srini6teen is your 'id' indexed? If so you have to use $parent.$current.rid.out. I've raised an issue for the same here https://github.com/orientechnologies/orientdb/issues/8412

[2018-08-07 16:45] lightjiao opened #8452 "Upgrade from 2.2.29 to 3.0.5 needs export and re-import?"
I use OrientDB  2.2.29 in production for a 6 month，and we want to upgrade OrientDB to newest version 3.0
Do we need to stop the database、export and re-import data？

export and re-import means stop running for a long time，it is a bad affection on production.

My English is not very well, thanks reading.

[2018-08-07 16:55] laa commented on #8439
Hi @matthiasbe could you check this jar https://drive.google.com/file/d/1MlzGIEfnuqUsffc93uE_zUuZOmjAeC9W/view?usp=sharing

[2018-08-07 17:02] rikaze commented on #8301
Hello, @laa will you include the fix in the next release?

[2018-08-07 17:13] lightjiao opened #8453 "Update 3.0 Rest API document"
I use OrientDB 2.2.29 with Rest API in production, it works fine and has very good performance.

We have plan to upgrade our OrientDB to v3.0.x, we need to know if there is any change of Rest API .

[this official document](https://www.orientdb.com/docs/last/misc/OrientDB-REST.html) doesn't tells me any thing.
- If there is nothing to change, please write on the document,
- if there is something d

[2018-08-08 07:34] luigidellaquila commented on #8453
Hi @lightjiao

There is no difference in the REST API, but there are some changes in the underlying components.
Probably it's worth checking the following:

https://orientdb.com/docs/3.0.x/release/3.0/SQL-Changes.html
https://orientdb.com/docs/3.0.x/release/3.0/API-Changes.html
https://orientdb.com/docs/3.0.x/release/3.0/Upgrading-to-OrientDB-3.0.html

Thanks

Luigi

[2018-08-08 07:37] #8451 closed

[2018-08-08 07:42] vasonyang opened #8454 "ETL extract data from mysql Configurator.parse error"
### OrientDB Version: 3.0.4
### Java Version: 1.8
### OS: Centos7

## Expected behavior
migrate data from mysql(5.6.37)  ,I used the ETL tool，it always Error on creating ETL processor,the log as blow:
[code]
I think the param parse may have some problems from studio ETL

[2018-08-08 08:10] rtm81 opened #8455 "Free up lucene resources after a search"
### OrientDB Version: 2.2.35
### Java Version: Oracle JDK 1.8.0_171
### OS: Windows 10
### Fix version: 2.2.x

## Expected behavior
In my project i use orientdb 2.2.x and at the moment i can not change to 3.x.
There are several lucene fulltext indexes included to support the search use cases.
In some scenarios my customer triggers a database restore during the runtime of the application.

The data

[2018-08-08 08:17] wolf4ood commented on #8455
Hi @rtm81

does  your patch resolve this issue?

[2018-08-08 08:51] sjurco opened #8456 "orientdb let values in subquery"
Using: **OrientDB 3.0.4** via **OrientDB Studio** shipped with official **OrientDB docker image**

How can i use `let` variables in subQuery `where`?

Given one test class with 2 values:

    insert into test content {a: 1};
    insert into test content {a: 2};

test:

    select a from test;
returns:

    a
    1
    2

another test using `let` variable works as expected:

    select a, $b from t

[2018-08-08 09:37] luigidellaquila commented on #8452
Hi @lightjiao

Yes, for upgrades between major versions we always suggest to do an import/export.

Thanks

Luigi

[2018-08-08 09:43] luigidellaquila commented on #8451
hi @andreyvk

is `paidTime` a string or a DATETIME?

Thanks

Luigi

[2018-08-08 11:16] luigidellaquila commented on #8451
Great, thanks!

Luigi

[2018-08-08 11:25] cloudloveseven commented on #8448
hi,adler4566, I want to know how you deal the Split brain of distribute cluster?   "From time to time server nodes go down. This does not necessarily relate to problems in OrientDB, (for instance, it could originate from limitations in system resources)"

[2018-08-08 11:33] cloudloveseven commented on #8445
hi，juravler,I have the similar problem like you, I can not deal split brain network problem,server nodes go down 。

[2018-08-08 14:44] adler4566 commented on #8448
Hey @cloudloveseven, I'm sorry, but I'm not sure if i Understand your question.... I have a 4 node cluster, and each node has 23 GB ram and 24 cores, so I can't imagine that the system is not powerful enough.

The splitting works like that I have the records on one node, and I want to save all these records local on this node. Because of this I Use the following statement on node "dbis53":

[2018-08-08 15:32] matthiasbe commented on #8439
To precise how I've build this :

* pull 3.0.x branch from github
* at the root dir : `mvn clean install -DskipTests=true`
* placed the jar you provided in the root dir and then : `mvn install:install-file -Dfile=orientdb-core-3.0.6-SNAPSHOT.jar -DgroupId=com.orientechnologies -DartifactId=orientdb-parent -Dversion=3.0.6-SNAPSHOT -Dpackaging=jar`
* replace the orientdb-core-3.0.6-SNAPSHOT.jar with

[2018-08-08 21:24] adler4566 commented on #8372
But if you store a record on a specific server-node, is the record really stored locally? So for example, if you store a record from class X on node china and `phc_china` owns this class X are you sure that this record is really stored on node china? Or is it stored on an other server node where the local cluster owns the class X?

[2018-08-08 21:52] adler4566 commented on #8234
But how did you reach that the records are stored on the local cluster? That does not work for me... It stores all records to a specific node, even if the local node owns the matching cluster...

[2018-08-09 00:52] ygyg70 commented on #8445
Definitely not a split brain thing for me. One left out of 8 with majority quorum.
With 3 nodes, 9 out of 10 times it worked for me when the disconnect is very short. One time the cluster got confused and never got back to functioning state.
I can see how inserting data into the disconnected node can make things even more unstable.
I am wondering whether this is not supported/discussed/tested or t

[2018-08-09 03:42] #8452 closed

[2018-08-09 03:43] lightjiao commented on #8452
thanks

[2018-08-09 03:58] lightjiao opened #8457 "Back quote behavior is different between 2.2.x and 3.0.x"
### OrientDB Version: 3.0.4
### Java Version: 1.8
### OS: centos 6.8

## Expected behavior
back quote character don't return in the result schema

## Actual behavior
result schema have back quote character

## Steps to reproduce
I have 3 sql need to execute
[code]

[code]

[code]

My question is:
- I use back quote in 2.2.x everywhere, should I trim the back quote?
- how can I get `cluster` schema

[2018-08-09 04:38] georgiana-b commented on #8234
Hi guys!

@adler4566 I think I also encountered this problem. I was trying to keep only one cluster in each node that will also be the owner of that cluster. The idea was that none of the nodes should have locally the entire database, only the cluster they own.

I didn't manage to achieve this. If I use `autoDeploy: true` in [distributed-config.json](https://orientdb.com/docs/2.2.x/Distributed-Con

[2018-08-09 06:45] adler4566 commented on #8234
Hey @georgiana-b, this is very interesting, because I have exactly the same target like you! But why does this happen? This can‘t be the desired behavour of a distributed database... I work with big data, but with this behavour I can‘t use this database. Maybe someone encountered the same problem and reached to fix it?

[2018-08-09 07:37] cloudloveseven commented on #8447
@ismaelpernas yes,I get the same question ,when i execute  oetl.sh-xxx.json then the process hanging up . Do you have any idea about this issue now?

[2018-08-09 07:57] HassounDev commented on #8372
When you store on a specific server-node the record is stored locally, i will give you an example. store a record on the node `china`  then shut down the node `china `; u won't get anymore the record that you stored.

[2018-08-09 09:01] lightjiao commented on #8457
I use this sql to solve my problem
[code]

[2018-08-09 09:37] freeart opened #8458 "Subquery as a field in select"
Hi, I have a question about orient 3.0.5 (official docker image).
I'm trying to select a document with subquery as field:
[code]
What I'm doing wrong?
Query returns ```"abc", []```,
but when I put the value "abc" instead of Table1.id
it returns ```"abc", [{id: "a", code: "123"}]```.
How to use row values (ex. ```table1_id = Table1.id```) in a subquery as a condition?
Is it issue?
___P.S. I know ab

[2018-08-09 10:08] ismaelpernas commented on #8447
I raised it with @luigidellaquila but I haven't got any update on it unfortunately.

@luigidellaquila, do we have a timeline for it?

[2018-08-09 10:13] sjurco commented on #8456
Interesting is that connecting with `orientdb-jdbc:2.2.36` to `OrientDB v3.0.1` and running query:

    select a, $b, $c.a from test let $b = a, $c = (select a from test where a = $b);

gives correct result:

    a  $b  $c
    1  1   [1]
    2  2   [2]

but using `orientdb-jdbc:3.0.1` or `orientdb-jdbc:3.0.5` return wrong results:

    a  $b  $c.a
    1  1   []
    2  2   []

Connecting with `orie

[2018-08-09 12:16] luigidellaquila commented on #8457
Hi @lightjiao

I'd say it's a bug, I'll check it asap

About the cluster schema, the following should help:

`select expand(classes) from metadata:schema`

Thanks

Luigi

[2018-08-09 12:17] luigidellaquila commented on #8447
Hi guys,

sorry for the long silence, I just fixed this problem and pushed the fix on both 3.0.x and develop branches. The snapshots are already available, v 3.0.6 will be released next week with the fix

Thanks

Luigi

[2018-08-09 12:17] #8447 closed

[2018-08-09 12:31] winersoul opened #8459 "Console: Command js encountered "js" is not defined"
### OrientDB Version: 3.0.3
### Java Version: 8
### OS: windows 10

## Expected behavior
orientdb {db=demodb}> js
[Started multi-line command. Type just 'end' to finish and execute]

## Actual behavior
orientdb {db=demodb}> js
[Started multi-line command. Type just 'end' to finish and execute]

Error: com.orientechnologies.orient.core.command.script.OCommandScriptException: Error on parsing script

[2018-08-09 12:51] wolf4ood commented on #8455
Hi @rtm81

i've just pushed your fix in 2.2.x. All tests are passing

It will be available in the next release

Thanks

[2018-08-09 13:27] sjurco commented on #8456
Hi @luigidellaquila,

as I wrote in the first post at first I thought that the LET variables are not propagated, but as you can see from query

    select $b let $a = 1, $b = (select a, $parent.$a from test where a = $parent.$a);

and results

    [{"a":1,"$parent.$a":1},{"a":1,"$parent.$a":1}]

it's obvious that the LET variables are propagated but only in some cases. It would be good to know in

[2018-08-09 14:19] #8369 closed

[2018-08-09 14:20] 2082041S commented on #8369
Issue was fixed by upgrading to 3.0.3

[2018-08-09 14:21] 2082041S commented on #8050
Upgrading to 3.0.3 fixed the issue. My previous comment was due to only upgrading the client to 3.0.3 and forgetting to upgrade the server as well.

[2018-08-09 22:06] creisle opened #8460 "Filter on list contains null"
### OrientDB Version: 2.2.35
### Java Version: 1.8.0_151-b12
### OS: centos07

## Expected behavior
expected the query to return all vertices

## Actual behavior
the query returns nothing

## Steps to reproduce
[code]
When you do the selection without the where clause, edgeNames is a list of nulls. Is there a way to filter on that? I would like to check that the list contains a null

[2018-08-10 06:47] cloudloveseven commented on #8427
hi, @gtadudeps ,I have no idea for your question,but another question for you ,I do the same thing ,I create a distribute cluster of three server nodes with default hazelcast and default-distributed-db-config，but several nodes shut down and never recover ,do you know why ?

[2018-08-10 09:48] edmondboulet opened #8461 "OConcurrentcreateException when creating a record at commit because of wrong RID"
### OrientDB Version: 3.0.5
### Java Version: 1.8
### OS: Debian

Hello,

I'm getting a systematic error linked to RID when executing this simple code :

[code]

I'm executing the a code on one of the machine on a cluster of 3 but there is no other code or user interacting with the cluster.
I also read about optimistic transaction but ,here , the Exception is thrown 100% of the time.
I believe the

[2018-08-10 14:00] sanketpayghan opened #8462 "distributed mode servers are not getting online with Permission denied exception"
### OrientDB Version: 3.0.4
### Java Version: 1.8.0_92
### OS: debian 9

## Expected behavior
[fk-orientdb-server-config.xml](https://gist.github.com/sanketpayghan/2073ff0a07aea5e94317fdf2785e930c)

fk-default-distributed-db-config.json
    {
	"autoDeploy": true,
	"replication": true,
	"hotAlignment": true,
	"executionMode": "undefined",
	"readQuorum": 1,
	"writeQuorum": 1,
	"readYourWrites": "tru

[2018-08-10 18:32] OrientDBColin commented on #8450
Hi @hrstoyanov, I've noticed this myself and also find it a bit annoying.  It can make a user think there's a serious problem on start-up when there's not.  I'll see what we can do about it.

[2018-08-11 06:54] hrstoyanov opened #8463 "Unexpected java.lang.ClassCastException"
### OrientDB Version: 3.0.6-SNAPSHOT
### Java Version: 1.8
### OS: MacOs

What does the below exception mean and why am i getting it?

I have this piece of code, where I try to store in the "affected" field a vertex and an edges.
[code]

[code]

[2018-08-11 07:28] hrstoyanov opened #8464 "Optimistic locking gone wild"
### OrientDB Version: 3.0.6-SNAPSHOT
### Java Version: 1.8
### OS: MacOs

I create and vertex in one transaction (begin ..commit). Then I try to delete the same vertex and get this:

[code]

[2018-08-11 07:51] hrstoyanov commented on #8464
My mistake, not an issue

[2018-08-11 07:51] #8464 closed

[2018-08-13 08:12] #8462 closed

[2018-08-13 08:23] HZooly opened #8465 "Error when uploading file superior than 16MB"
### OrientDB Version: 3.0.5
### Java Version: jdk1.8.0_144
### OS: Windows 10

## Expected behavior
File upload should be successful.

## Actual behavior
Got an error about max chunk during file upload.
Error in Spring console : `Caused by: com.orientechnologies.common.io.OIOException: Impossible to write a chunk of length:35858399 max allowed chunk length:16777216 see NETWORK_BINARY_MAX_CONTENT_L

[2018-08-13 10:49] cegprakash opened #8466 "DROP DATABASE - REMOTE should be changed to small letter in documentation"
I wanted to delete a database using orientdb 2.2.x

I tried the following after reading [the documentation](https://orientdb.com/docs/2.2.x/Console-Command-Drop-Database.html)
[code]

After trial and error, this worked

[code]

[2018-08-13 15:11] petervavro opened #8467 "How to get more vars values in result of transactions ?"
### OrientDB Version:  OrientDB Server v3.0.4
### Java Version: 1.8.0_181
### OS: Windows 10

## Expected behavior
Consider following example :
[code]
But this is not working. I need to get all RID of all records from $aa and also from $bb. How do I do that please ? Thank you.

## Actual behavior
<add here>

## Steps to reproduce

[2018-08-13 15:27] petervavro opened #8468 "How to set LINKSET in transactions ?"
### OrientDB Version:  OrientDB Server v3.0.4
### Java Version: 1.8.0_181
### OS: Windows 10

## Expected behavior
Let's imagine situation here :

1. I need to create various Vertexes.
2. Then I need to create record in another table and I would like to set some links from previous operations into the field of LINKSET type.
e.g. :

[code]
The example is not working. It seems like it is not returni

[2018-08-13 15:28] petervavro commented on #8468
Also I tried something like this :
[code]

This : SELECT FROM [$aa,$bb] does not work. How to get RIDs from variables ?

Thank you.

[2018-08-13 15:32] luigidellaquila commented on #8466
Hi @cegprakash

Thank you very much for pointing it out, I'll fix it asap

Thanks

Luigi

[2018-08-13 15:36] luigidellaquila commented on #8467
Hi @petervavro

it seems to be a bug, I'll check it ASAP. In the meantime, you can try the following work-around

[code]

Thanks

Luigi

[2018-08-13 15:39] luigidellaquila commented on #8468
Hi @petervavro

Please, try the following:

[code]

Thanks

Luigi

[2018-08-13 15:52] petervavro commented on #8468
Hi Luigi,

Thank you so so much for your help, and **Yes** it works perfectly. I am feeling ashamed that solution is that simple :) ... Could you please point me at a link in documentation where I can learn more about this ? Thank you

[2018-08-13 15:55] luigidellaquila commented on #8468
Hi @petervavro

You can find some info here
https://orientdb.com/docs/3.0.x/sql/SQL-Syntax.html
and here
https://orientdb.com/docs/3.0.x/sql/SQL-Projections.html

anyway, also your original query is supposed to work, so you can consider it a little bug

Thanks

Luigi

[2018-08-13 17:28] cegprakash commented on #8466
Also in the first case, it would be better if the error message suggests to try the second case.

[2018-08-13 17:55] hrstoyanov commented on #8463
Hi @luigidellaquila
I does look like a bug, indeed.

The Action element is for keeping an audit trail of various "actions" in the system and looks like this:
[code]

The exact Java code is:
[code]

but it boils down to:
[code]

Note, if I do not use the ```affected``` field, the action would be persisted successfully.

[2018-08-14 04:48] kishykumar commented on #3392
Luca suggested the following workaround in Orientdb 1.7:
OGlobalConfiguration.STORAGE_KEEP_OPEN.setValue(false);

http://orient-database.narkive.com/ybCtrD6X/embedded-database-shutdown

[2018-08-14 06:17] luigidellaquila commented on #8463
Hi @hrstoyanov

Probably it depends on the fact that OrientDB does not manage Object[] properties.
You can try the following:

[code]

Thanks

Luigi

[2018-08-14 07:03] luigidellaquila commented on #8466
Fixed, thanks!

Luigi

[2018-08-14 07:03] #8466 closed

[2018-08-14 12:47] tglman opened #8469 "Create property ignore unsafe in case there si no linked type"
### OrientDB Version: 3.0.6
### Java Version: Java 8
### OS: Linux Debian

## Expected behavior
` create property class.property LINK unsafe ` is executed following the unsafe rules, as today the unsafe is ignored and used as linked type.

work around:
` create property class.property LINK V unsafe` specifying the linked type and unsafe it works properly.

[2018-08-14 12:55] #8468 closed

[2018-08-14 15:13] cegprakash commented on #7622
Facing the same issue in  2.2.36

[2018-08-14 15:25] hrstoyanov commented on #8463
@luigidellaquila
Confirmed, the work-around with collections works! I still feel that if you let arrays fail with obscure runtime exceptions like in my example, you have a gap in the API, but I will let you decide if you want to work on this issue or close it.

Thanks

[2018-08-14 16:19] petervavro commented on #8468
Hi guys, why did you close this ? It looks like a bug , it does not work according to documentation , right ?

[2018-08-14 17:17] hrstoyanov commented on #8450
@luigidellaquila can you help?

[2018-08-14 17:25] OrientDBColin commented on #8450
Hi @hrstoyanov.  I looked into this and discovered that it's related to orientdb-server-log.properties and this property:

java.util.logging.FileHandler.pattern=../log/orient-server.log

If you start OrientDB from its top-level directory (bin\server.bat), the startup exception is thrown.

You have two options: 1) Start from the bin directory and just run server.bat, 2) Change the FileHandler.patte

[2018-08-15 04:12] hrstoyanov commented on #8450
Thank you!
I was starting from the root: '''bin\server.bat'''

[2018-08-15 15:45] misu200 commented on #8412
I think I ve the same issue. In Orient 3.0.5 my  following query  not returning the expected stuff compared to 2.2.30 on the same database ( and yes ..all the involved indexes are working good):

    SELECT $temp FROM Persoana let $temp = (select * from (select expand($parent.$current.out())) where denumire LIKE '%SERET%') WHERE [numeCanonic,dataNastere,adresa] LUCENE '(numeCanonic:(+("bulica") +(

[2018-08-16 07:47] luigidellaquila commented on #8463
Hi @hrstoyanov

I guess we can add an explicit check there and throw an explicit exception

Thanks

Luigi

[2018-08-16 07:49] luigidellaquila commented on #8418
Hi @hrstoyanov

Sorry, I missed it, thank you for pointing it out.
It's production ready of course, I'll fix it ASAP

Thanks

Luigi

[2018-08-16 09:29] edmondboulet commented on #8461
Turns out performing an action TRUNCATE like :
TRUNCATE CLASS V UNSAFE
Will mess up the RID from the database in a permanent way.

Clothing the issue.

[2018-08-16 09:29] #8461 closed

[2018-08-16 10:06] luigidellaquila commented on #8418
Hi @hrstoyanov

I just pushed a fix, the new docs will be published in next few hours

Thanks

Luigi

[2018-08-16 10:06] #8418 closed

[2018-08-16 10:48] luigidellaquila commented on #8469
Fixed, closing

[2018-08-16 10:48] #8469 closed

[2018-08-16 11:50] Froskekongen opened #8470 "Python client for OrientDB 3.x"
pyorient does not work with OrientDB 3.x

Are there plans to either update pyorient to support version 3.x or release another python client that supports version 3.x?

[2018-08-16 12:52] luigidellaquila commented on #8412
Hi @userg

I just pushed a fix for this issue, it will be released with v 3.0.7

Thanks

Luigi

[2018-08-16 12:53] #8412 closed

[2018-08-16 13:10] luigidellaquila commented on #8468
Hi @petervavro

Actually the problem here is that CREATE VERTEX returns a result set, not a single record, so `[$aa,$bb]` is a list of collections, that is probably not what you want.

You have to use one of the following to make it work (that are definitely better than my previous suggestion):

[code]

or

[code]

Could you please point me the docs that report wrong info? Probably they are outdat

[2018-08-16 13:59] niks368 commented on #8383
@RamAnvesh
Since the parent and current variables don't work in OrientDB 3.0 and the select expand(...) work around only expands one level deep, how can this be done?

[2018-08-16 15:39] luigidellaquila commented on #8383
Hi @niks368

Actually you can concatenate multiple `$parent` in the same path, as `$parent.$parent.$current`, could it fit your use case?

Thanks

Luigi

[2018-08-16 15:43] EricSchreiner opened #8471 "orientDB.drop(); Does not work when lucene spatial index is involved"
### OrientDB Version: 3.0.6
### Java Version: 1.8
### OS: Win10.1

## Expected behavior
Lucene Director not dropped

## Actual behavior
In the following code at the end orientDB.drop("db.test.lucene");
does not delete the database directory
Error shown is:  **_Cannot delete storage directory with path D:\java\source\Applications\PicApport\.\playground\db\db.test.lucene because directory is not emp

[2018-08-17 08:34] niks368 commented on #8383
Hi @luigidellaquila

Thank you for your answer!
In my case I don't know the depth of the traversal, which is why i cannot use select.

When I change the `traverse `to the `select expand(...) ` I get the following query:
`SELECT $columns FROM CI LET $columns = (SELECT expand($parent.$current.out()))`
Unfortunately this query only expand one level deep.

Is there a way to do this with traversal?

[2018-08-17 08:41] luigidellaquila commented on #8383
Hi @niks368

Did you try the following:

[code]

Thanks

Luigi

[2018-08-17 09:58] niks368 commented on #8383
Hi @luigidellaquila

Unfortunetely this doesn't work. I get an empty array returned.

When I try this query i get the columns, so it should be found by the traverse.
`SELECT $columns FROM CI LET $columns = (
       SELECT expand($parent.$current.out())
)`

Thanks
Niko

[2018-08-17 12:07] usixremix opened #8472 "OConcurrentModificationException on writeQuorum=majority"
### OrientDB Version: 2.2.26 and 2.2.36
### Java Version: 8
### OS: CentOS

1) We had permanent problems with synchronization nodes of cluster when java client makes insert/update data via object interface. Only one node is updated new data, other nodes are out of date, but there are no any error messages in log.
Cluster configuration: all three nodes MASTERs or MASTER-MASTER-REPLICA (reproduced o

[2018-08-17 17:42] #8450 closed

[2018-08-17 19:38] BZoladek opened #8473 "orientdb 3.0.0: Exception "Index with type UNIQUE and algorithm SBTREE does not exist." when creating unique index"
### OrientDB Version: 3.0.0
### Java Version:  1.8.0_144
### OS: openSUSE 42.3 (x86_64)

## Expected behavior
We 're upgrading to OrientDB 3.0.0.
The following works in 2.2.16 and all previous version:
// OClass object = createClass();
object.createIndex("NameAndTypeIndex", OClass.INDEX_TYPE.UNIQUE,
                               "JOB_NAME", "JOB_TYPE");

## Actual behavior
com.orientechnologies.o

[2018-08-20 11:55] sigurdurm opened #8474 "traversedVertex triggers ClassCastException ArrayDeque -> List"
### OrientDB Version: 3.0.6
### Java Version: 1.8
### OS: Ubuntu 16.04 LTS

## Expected behavior
SQL command, that contains traversedVertex(), executes without problems.

## Actual behavior
[code]

## Steps to reproduce
We had a SQL command that workes fine on OrientDB v2.2.32, but gives an Exception in OrientDB v3:
[code]

The command above works fine in the **Studio**, but fails when executing t