[2016-02-29 12:34] andreipop-reea commented on #5106
Here is the ```orientdb-server-config.xml``` file where I replace the token and user password with placeholders.

[code]

[2016-02-29 12:52] Uditmittal commented on #5786
@tglman  Here is my Stack Trace
Error deserializing record with id #14:289 send this data for debugging: ABBzaXRlZGF0YWUAAABfbQAAAGErAAAAe28AAACCcQAAAKxzAAAGhD0AAAaIdQAABot3AACE43kAAITzEG1ldGFkYXRhAACG0wkccHJvY2Vzc2VkX2RhdGUAAIfABwAaCgAcYmF... and so on...=[ORecordSerializerBinary]

@luigidellaquila  command is -- select max(localdate) from sitedata ;
 sorry we can't share our data...

Thanks
Udit

[2016-02-29 13:38] jbfm21 commented on #5491
Hello, i detect one problem in this method:

     final long freeSpaceInMB = new File(".").getFreeSpace() / 1024 / 1024;

If the user (or a service user), that is running orientdb, doesn´t have read access to the driver (parent disk folder, ex: D:\) where the lib orientdb.jar is installed, then the method always return 0 Mbytes of free disk space, not a SecurityException.

[2016-02-29 13:51] luigidellaquila commented on #5786
Hi @Uditmittal

it seems to be a problem in the binary serialization, please wait @tglman comments

Thanks

Luigi

[2016-02-29 13:57] laa commented on #5491
@jbfm21 Why do you think we use `new File(".")` ? We use new File("<path to the storage>").

[2016-02-29 14:00] laa commented on #5566
@kowalot done

[2016-02-29 14:03] laa commented on #5770
Hi Lica,
Couple of days ago we added new  beta version, so after that ant based
versions were stopped to be source of demo database.
It means that binary compatibility test once again does not know how to
handle new build structure.
We should fix it till final 2.2.

On Wed, Feb 24, 2016 at 6:55 PM Luca Garulli <notifications@github.com>
wrote:

--
Best regards,
Andrey Lomakin, R&D lead.
OrientDB L

[2016-02-29 14:08] laa commented on #4843
Any updates on this issue ?

[2016-02-29 14:26] normwai commented on #5776
There is nothing logged.  I've tried upping log verbose from INFO to DEBUG, but nothing is logged.

[2016-02-29 14:29] jbfm21 commented on #5491
The method autoConfig (com.orientechnologies.orient.core.config.OGlobalConfiguration.java) use new File(".")

[2016-02-29 14:31] lvca commented on #5776
How can I replicate this problem? Do you experiment the same problem with an empty db or just with yours?

[2016-02-29 14:40] asthanasid opened #5788 "OServerAdmin credentials are over-written after a connection to a database is acquired through a connection pool factory"
[code]
First 2 calls to list databases go through fine. The last line throws exception:

[code]

[2016-02-29 15:32] laa commented on #5491
@jbfm21 I see thank you very much. This algorithm is definitely incorrect I will remove it , though it does not related directly to calculation of free space inside of cache.

[2016-02-29 16:23] grexe opened #5789 "IllegalMonitorStateException in OAdaptiveLock (debug logging output)"
With OrientDB 2.1.9 using the official docker image and the Blueprints 2.6 API, we regularly see this output in the logs - it's only logged at level FINE, but still worries me, what's the cause of this error?
[code]

[2016-02-29 16:43] luigidellaquila commented on #5784
Hi @dookie2k3 @dechanaud

it should be already fixed on branch 2.1.x, I'm double-checking right now

Thanks

Luigi

[2016-02-29 16:48] luigidellaquila commented on #5784
Ok, I can confirm, it's already fixed.

I'm closing this issue, please reopen if you see any other problems

Thanks

Luigi

[2016-02-29 16:48] #5784 closed

[2016-02-29 17:45] normwai commented on #5776
Any database on cluster.  After I stop and restart all orientdbs in cluster.  I update any field for a record in database, for example GratefulDeadConcerts with the web interface.  The changed field doesn't show on a select on the other servers.

[2016-02-29 18:28] laa commented on #5789
Hi @grexe , I need full  stack trace exception.

[2016-02-29 19:43] metametametameta commented on #5779
I don't think this issue is a result of remote push not being available.

I created the function in the console and even restarted the orient server and *all* clients after creating the function. So at this point, after restarting the Orient server, and restarting all clients, I would think that odbTx.getMetadata().getFunctionLibrary() should be populated when the remote connection is created from

[2016-03-01 02:55] tglman commented on #5786
hi @Uditmittal,

unfortunatly i need the full data for investigate the problem, it seems a serialization issue, is there any way that you can share that data ? you can send it only to us to support@orientdb.com.

the actual data i need is just the record that give the error and the database schema.

Thanks

Emanuele

[2016-03-01 03:54] tglman commented on #5106
Hi,

The thread dump you posted is not showing any blocked threads, i tryed  to use the server config you posted(setting the password and the key), but i had no success, i could tour off the servier with the ./shutdown.sh and with the CTRL+C correctly.

I need the thread dump of the server after was called the shutdown, it may be there some issue with the shutdown script so in case it give error p

[2016-03-01 04:18] tglman commented on #5738
hi @smallik,

for check that a database exist in case of plocal/memory you don't actually need authentication, that why il not fail, it will return false in case the database not exist, for remote case you need authentication and you need a different api.

i don't think with the current api this is a wrong behaviour.

[2016-03-01 05:53] tglman commented on #5566
@kowalot

one thing i noticed that was taking a lot of time was the compression/decompression, did you use it also in 2.0 ? did you tried to run the test without compression ?

[2016-03-01 07:55] #5758 closed

[2016-03-01 07:57] kowalot commented on #5566
I did my tests on default configuration. I will let you know how it looks with/without compression.

[2016-03-01 10:41] andreipop-reea commented on #5106
We are starting/stopping the server using the orientdb.sh service script. The script was copied and registered in ```/etc/init.d```
Then we are using the service commands:
* ```service orientdb start```
* ```service orientdb stop```

OS is Ubuntu 14.04.4 LTS

Content of the script it's:

[code]

Using ```./shutdown.sh``` or ```CTRL+C``` works correctly if you start it from ./server.sh but from the

[2016-03-01 13:05] Zeemee7 opened #5790 "OGraphCommandExecutorSQLFactory does not consider 'autoStartTx' setting"
When executing an `OCommand` with at least one of "DELETE VERTEX", "MOVE VERTEX", "CREATE EDGE" or "DELETE EDGE" statements, a transaction will automatically be started, regardless of the autoStartTx-Property.
For example, `OCommandExecutorSQLDeleteVertex.execute` calls `OGraphCommandExecutorSQLFactory.runInConfiguredTxMode` which in turn calls `OGraphCommandExecutorSQLFactory.getGraph` with the `

[2016-03-01 13:44] smallik commented on #5738
@tglman , thanks for checking on this issue.

I tested this code again and yes it returns false if the database is wrong, regardless if user name password is wrong or not. So you are correct.

If this gets documented it will help others.

Also if this is considered as a feature request it would be great. In my case I need it, as I am dependent on orientdb authentication and I am running in embedde

[2016-03-01 14:52] laa commented on #5448
Fixed

[2016-03-01 14:52] #5448 closed

[2016-03-01 15:07] temilmg opened #5791 "Lucene Error during exception deserialization:"
Lucene integration fails after a heavy use with an exception (see below).
It looks like a simple Class not found issue but I have used the following maven dependency

<dependency>
<groupId>com.orientechnologies</groupId>
<artifactId>orientdb-graphdb</artifactId>
<version>2.1.11</version>
</dependency>

and the documentation says lucene is part of orientdb now so I guess I shouldn't have to add a l

[2016-03-01 16:46] cvm1ll3 opened #5792 "OrientDB 2.2 Beta - Error on Alter Class Add Custom Properties"
This works in 2.2Alpha:
<code> ALTER CLASS Person CUSTOM onCreate.identityType=role</code>

It produces the error:
<code>com.orientechnologies.orient.core.sql.OCommandSQLParsingException: Error on parsing command at position #0: Error parsing query: ALTER CLASS Person CUSTOM onCreate.identityType=role Encountered " "ALTER "" at line 1, column 1. Was expecting one of:   ... ... ... ... ... ... ...

[2016-03-01 16:51] luigidellaquila commented on #5792
Hi @cvm1ll3

I guess you are referring to 2.2 beta (not alpha), right?
It must be the new strict parser...
Could you please try this and let me know if it fixes the problem?

[code]

[2016-03-01 16:57] cvm1ll3 commented on #5792
Hi @luigidellaquila,

Yes I'm on beta, just finished testing alpha. I tried single and double quotes and it still produces the same error.

[2016-03-01 17:05] luigidellaquila commented on #5792
ok, testing it now...

[2016-03-01 17:22] luigidellaquila commented on #5792
Hi @cvm1ll3

Ok, I found the problem and I have a fix for it.
The new parser is more strict than the old one and only accepts a valid identifier as a custom property name. The `.` character is not allowed in identifiers, so it has to be back tick quoted (back tick is ``` ` ```, not single quote `'` or double quote `"`), so you will have to write the query this way

[code]

I had to do a little fix

[2016-03-01 17:25] cvm1ll3 commented on #5792
Hi @luigidellaquila

Oh got it. Yes back tick works perfectly. Thank you so much!

[2016-03-01 17:43] luigidellaquila commented on #5792
Hi @cvm1ll3

I just pushed the fix to develop branch, you should build from sources or wait for next RC1 to have it.
Just pay attention to the fact that in 2.2 beta, before the fix, the parsing works fine with back ticks, but the result is not the expected one, if you query the schema with

select from (
select expand(classes) from metadata:schema
) where name = 'Person'
you'll see that also the b

[2016-03-01 17:43] #5792 closed

[2016-03-01 17:45] cvm1ll3 commented on #5792
Hi @luigidellaquila

Ok, will do thanks a lot!

[2016-03-01 19:44] cvm1ll3 commented on #5792
Hi @luigidellaquila,

I just noticed now, the command <code>ALTER CLASS Person CUSTOM `onCreate.identityType`=role</code> says its successful but when I create a vertex, the OUser RID is in the _allow field rather than the ORole RID.

[2016-03-02 07:24] Zeemee7 commented on #5790
Sorry... from at least 2.1.6 up to 2.1.11.

[2016-03-02 09:06] Zeemee7 opened #5793 "Can't build master at label 2.1.11 or 2.1.12 because lucene tests are failing"
On a fresh clone I can't perform a `mvn clean install` on the master branch (currently with label 2.1.12, but it happens also at 2.1.11):

[code]

`mvn --version` prints:
[code]

[2016-03-02 09:09] maggiolo00 commented on #5791
hi @temilmg

yes lucene is part of orientdb. In fact the query works. The problem is when on server side a lucene parsing exception occurs.
The stack trace is serialized and send to the client. We are changing this. For now you should add also orientdb-lucene in your pom
just to handle exception.

[2016-03-02 10:25] temilmg commented on #5791
Thanks for dealing with this. I am temporarily using a regex instead when I get the time I will move back to using lucene.
Its my first time reporting anything here so I dont know what the procedure is, do I just close the issue!?

[2016-03-02 10:31] maggiolo00 commented on #5791
hi @temilmg

i think i will close it an reopen it as an orientdb improvement in managing exception.
BTW if you add orientdb-lucene in your pom the ClassNotFoundException will go away.

[2016-03-02 11:36] robfrank commented on #5793
I've just checked out the tag 2.1.12 on master and a mvn clean install was fine:
[code]

[code]
Our CI (jenkins) runs on Linux, and all is ok on that.

[2016-03-02 11:54] Zeemee7 commented on #5793
You have an OpenJDK derivate (not Oracle like me), I will try that...

[2016-03-02 12:04] arunramkrish commented on #5688
Hi @luigidellaquila
Why is this constraint applied even when we execute SQL command from console as part of CREATE EDGE command.
create edge myedge from <startrid> to <destrid> set id = 123 => this throws an error

Whereas, I am able to set id attribute as part of update, as in
update myedge set id = 123

[2016-03-02 12:05] robfrank commented on #5793
I wonder if it could be the charset, but the tests doesn't use any strange char and it doesn't access to the file system to get text or resources.

[2016-03-02 12:08] robfrank commented on #5778
Hi, i'm investigating this issue. Which version of OrientDB are you using? Did it works in the past? May you add some code? (better form for sample code would be a failing test :) )

[2016-03-02 12:11] luigidellaquila commented on #5688
Hi @arunramkrish

CREATE EDGE command uses TinkerPop APIs under the hood, so it checks the constraint

Thanks

Luigi

[2016-03-02 12:52] robfrank commented on #5778
I found the problem, thank you for your report. I'm working on it, I'll notify here when a solution will be available

[2016-03-02 12:55] cguerin commented on #5778
Super!

I'm creating a system for aggregating flight logs and storing some units in terms of micro percentages, so the Decimal data type is very useful to me.

I must say I've been blown away by OrientDB, it truly rocks.

Sent from my iPad

[2016-03-02 14:28] #5371 closed

[2016-03-02 14:28] luigidellaquila commented on #5371
Hi @daniellawry

I'm closing this issue, please reopen if you experience any other problems

Thanks

Luigi

[2016-03-02 16:31] #5778 closed

[2016-03-02 16:31] robfrank commented on #5778
I fixed on 2.1.x and develop branches:

https://github.com/orientechnologies/orientdb/commit/d977675d16350ef35b1858a272e52ac69c24b027

https://github.com/orientechnologies/orientdb/commit/f4ccd6b0c2e1e33dd9420915e3b4916f9fbebc30

I don't know which version are you using, but you can build from source and use the jar until we release next 2.1.13 or 2.2.0-rc1.

[2016-03-02 17:14] arunramkrish commented on #5688
Hi @luigidellaquila
Thanks a ton for your immediate response. In that case how do I set setStandardElementConstraints(false) for the console session?

thanks
K. Arun

[2016-03-02 17:28] luigidellaquila commented on #5688
Hi @arunramkrish

you can just use this statement to change the DB settings:

[code]

Thanks

Luigi

[2016-03-02 18:38] arunramkrish commented on #5688
Thanks. Super.
I owe you back a documentation on northwind database in orientdb document
model and graph model - similar to one stated in www.sql2gremlin.com

thanks
K. Arun

On Wed, Mar 2, 2016 at 10:58 PM, luigidellaquila <notifications@github.com>
wrote:

[2016-03-02 18:45] sinfex commented on #4978
Huge :+1: this might just be the one thing to massively increase OrientDB's adoption rate

[2016-03-02 18:48] metametametameta opened #5794 "SET SERVER USER console command giving exception on 2.2.0 beta"
On starting the Orient server, the "root" server user was successfully created and the password was hashed using PBKDF2WithHmacSHA256 as is expected for 2.2

However, now I'm trying to add more server users via the console and I'm getting the following message:

Part of the problem appears to be in OSecurityManager.java, where there seems to be some problem with the curly braces matching in create

[2016-03-03 03:07] mecp commented on #5448
Thanks. :+1:

[2016-03-03 09:52] YannVia commented on #5735
Hello,

Sorry, we just have discovered your post right now and we will report back ASAP.

Regards

[2016-03-03 10:45] laa commented on #5793
Hi guys ,
I may confirm it runs OK on Linux but always have problem on windows.

ср, 2 Мар 2016, 14:05 Roberto Franchini <notifications@github.com>:

--
Best regards,
Andrey Lomakin, R&D lead.
OrientDB Ltd

twitter:@Andrey_Lomakin linkedin:https://ua.linkedin.com/in/andreylomakin

[2016-03-03 10:55] YannVia commented on #5735
Hello,
Note that we use the standard Microsoft .NET parser in our application: System.Web.Script.Serialization.JavaScriptSerializer
We tried your Json with the "Advanced REST client" Chrome extension
### TEST with your JSON
POST URL: http://admin:admin@localhost:2480/batch/GratefulDeadConcerts
[code]
Result
[code]

We made another tests below.

### TEST 1 with one back slash - OK
[code]
Result:
[c

[2016-03-03 11:49] publicocean0 commented on #5665
i found the problem.

There is a Class A with a trigger on delete.
a is a instance of A.
i call       delete  a       inside a transaction.
When orientdb enter in trigger
 it calls a second js function as this
<pre>
db.begin()
try{
....
}catch(e){
db.rollback(); throw e;
}
</pre>
writing a lot of trancing log... i saw that after is called db.begin()... the Thread get blocked.

[2016-03-03 11:52] publicocean0 commented on #5665
For now for evoiding the block of thread ... i m using in js

var txcount=db.transaction.amountOfNestedTxs() for understanding if i m in a transaction or not.

[2016-03-03 11:54] publicocean0 commented on #5614
i found the problem.

There is a Class A with a trigger on delete.
a is a instance of A.
i call      ' delete  a   '    inside a transaction.
When orientdb enter in trigger
 it calls a second js function with a body as this
<pre>
db.begin()
try{
....
}catch(e){
db.rollback(); throw e;
}
</pre>
writing a lot of trancing log... i saw that after is called db.begin()... the Thread get blocked on remot

[2016-03-03 11:57] publicocean0 commented on #5719
Other bug found : select expand(rid) from index:A.lucene where key LUCENE "producer:'#33:295'"

[2016-03-03 11:57] laa commented on #5614
Hi @publicocean0
Please do not make double rollbacks (inside of catch) it is done automatically if exception is thrown from ODB code itself and issue will be fixed without of hacks.

Does this solution works for you ?

[2016-03-03 12:57] laa opened #5795 "Support ability to rebuild indexes in production"
We should support ability to trigger index rebuild without introducing long pauses or data inconsistency in SQL queries

[2016-03-03 15:45] healiseu commented on #5436
@maggiolo00 I have been using Graph Editor on OrientDB 2.2b but the two arrow icons on each node representing (Out) and (In) LINK sets are **STILL** pointing outwards. You may write Out and In instead or change the direction of one of the arrows. Otherwise it is really confusing when you click on them as you are not sure whether you are at the Head or at the Tail.

[2016-03-03 17:00] alexmm11 commented on #5097
I tried the 2.1.12 version and this error still the same :(

[2016-03-03 17:58] thirawato opened #5796 "Enhancement on REST API to support chunked transfer-encoding"
Just to propose an idea for REST API improvement for my case. I'm developing a middle-tier application sit between OrientDB and client in order to exchange data between them. However OrientDB's REST API currently requires 2 HTTP headers which one of them is 'Content-Length'. This causes my application has to read and store a whole bunch of client's request data for just to know a total length.

I

[2016-03-03 22:27] cguerin opened #5797 "JDBC Implementation"
Doesn't seem to be a full JDBC implementation -- tools that OrientDB recommends like DbVisualizer won't even load the driver.  SQLWorkbench will connect to it, but gives a threading error "Database instance is not set in current thread", when any attempt (MAC OSX) is made to access the tables.  Pentaho will connect to it, but chokes on attempting to set the SCHEMA setting to the database name.

Wh

[2016-03-03 23:16] publicocean0 opened #5798 "mistake in expression computation"
<pre>
select max( 79 - value,0) from  33:310 ==>0

----+------+----------------
#   |@CLASS|max
----+------+----------------
0   |null  |0
----+------+----------------

select max(( 79 - value),0) from  33:310 ==>20

----+------+----------------
#   |@CLASS|max
----+------+----------------
0   |null  |20
----+------+----------------
</pre>

[2016-03-04 09:42] robfrank commented on #5797
Hi, on DbVisualizer the driver should be declared manually using the menu Tools->Driver.

http://www.dbvis.com/doc/8.0/doc/ug/installDriver/installDriver.html

I put the driver jar in a folder under the jdbc folder of dbviz, and then I defined the driver manually.

I'll try SQLWorkbench.

The JDBC spec isn't implemented completely, and schema navigation is quite difficult to implements because som

[2016-03-04 09:43] robfrank commented on #5793
ok, so it seems a problem with windows. I'll investigate.

[2016-03-04 10:00] robfrank commented on #5097
The error says that the index SPATIAL with algorithm SBTREE doesn't exists, and it is right, should be LUCENE algorithm. have you got some scripts to reproduce the problem? and some sample data?

[2016-03-04 10:12] skwidge commented on #5787
@laa Sorry for the slow reply.. You're right. It used to, and then I refactored my resource factory and it doesn't any more :( Kind of obvious when you're looking for it. Thanks.

[2016-03-04 10:12] #5787 closed

[2016-03-04 12:36] andreipop-reea commented on #5106
@tglman
In OrientDB v2.1.12 the issue seems to be resolved.

[2016-03-04 13:04] cguerin commented on #5797
Dbvisualizer didn't work at all with the jdbc driver. Did it work for you on Mac OS X?

I'll check Pentaho logs

Sent from my iPhone

[2016-03-04 13:07] laa commented on #5787
Cool, thank you for prompt update.

[2016-03-04 13:25] healiseu commented on #5797
OrientDB JDBC has also problems with Mathematica `SQLExecute`. I have made a question [here](http://mathematica.stackexchange.com/questions/89840/orientdb-jdbc-opensqlconnection-execution-of-sql-failed).

Answer from @luigidellaquila suggests that OrientDB JDBC does not support `prepareStatement` at this stage.

[2016-03-04 13:32] smallik opened #5799 "env variable not supported for a specific property"
Orientdb verison: orientdb-community-2.1.9

The orientdb-server-config file property "orientdb.www.path" is not working with system variable.
It needs the full path given like below.

`<entry` name="orientdb.www.path" value="C:/somepath/somefolder/orientdb-community-2.1.9/www/"/>

If we give env variable like below it wont work.
`<entry` name="orientdb.www.path" value="${MY_ENV_VARIABLE}/orientdb-

[2016-03-04 14:05] robfrank commented on #5797
@healiseu we support prepared stmt, even on old 2.0.x :

https://github.com/orientechnologies/orientdb/blob/develop/jdbc/src/test/java/com/orientechnologies/orient/jdbc/OrientJdbcPreparedStatementTest.java

https://github.com/orientechnologies/orientdb/blob/2.0.x/jdbc/src/test/java/com/orientechnologies/orient/jdbc/OrientJdbcPreparedStatementTest.java

[2016-03-04 14:09] robfrank commented on #5797
@cguerin` yes, it works for me on Mac OSX. I put the Orient JDBC jar under
`.dbvis/jdbc`
When you star dbViz it show an error, because the driver isn't in his catalog.
Got to Tools->diver manager and map the driver. Then you can create connections to a running server, or even to a plocal db.

[2016-03-04 14:57] healiseu commented on #5797
@robfrank I have just tested OrientDB 2.1.12 with `orientdb-jdbc-2.1.12-all.jar`

[code]

Tested with Mathematica 10.3 on Windows 10 Virtual Machine

[2016-03-04 15:27] robfrank commented on #5797
You're right. I'll try to fix it on Monday. Every detailed issue report is welcome.

[2016-03-04 17:46] healiseu commented on #5797
@robfrank  :+1:

[2016-03-04 22:54] 8forty opened #5800 "console batch mode doesn't work as documented"
The documentation here [http://orientdb.com/docs/2.1/Console-Commands.html](http://orientdb.com/docs/2.1/Console-Commands.html) says:
[code]
...but when I try it, it treats the file name as a command:
[code]

[2016-03-04 23:00] alexmm11 commented on #5097
Ok, this script creates a test database.

[SpatialIndexDBTest.osql.txt](https://github.com/orientechnologies/orientdb/files/159512/SpatialIndexDBTest.osql.txt)

The problem occurs when i try to import the database,  after of a new orientdb installation for example.

Note: I export the database from the browser.

[2016-03-05 01:29] sivan123 opened #5801 "No option to specify the superclass while creating a class from studio"
Orient db version - 2.2. beta
![image](https://cloud.githubusercontent.com/assets/5057060/13544721/9c2f4d9a-e2b4-11e5-98ae-1370e1d98b43.png)

[2016-03-05 06:25] likemusic commented on #3073
Have the same message when start OrientDB Community v2.1.12 on Win7 Ultimate with jre1.8.0_73:

After I'm install jdk1.8.0_74 and still have this message on start server by bin/server.bat.

What means this message? Do I need fix this error? How I can do it?

[2016-03-05 09:14] sivan123 opened #5802 "Unable to acquire db connections"
Orient db version 2.2 Beta

Both the below approaches do not seem to work while they work fine in 2.1.12

new OPartitionedDatabasePool("remote:localhost/Testing","admin","admin",10);

 database = new ODatabaseDocumentTx("remote:localhost/Testing");
        database.setProperty("minPool", 2);
        database.setProperty("maxPool", 5);
        database.open("admin", "admin")

Caused by: com.oriente

[2016-03-05 09:50] publicocean0 commented on #5614
in this way ?

db.begin()

....

if (error) throw "error";

[2016-03-05 13:14] laa commented on #5614
Hi ,
Yes exactly .

сб, 5 Мар 2016, 11:50 publicocean0 <notifications@github.com>:

--
Best regards,
Andrey Lomakin, R&D lead.
OrientDB Ltd

twitter:@Andrey_Lomakin linkedin:https://ua.linkedin.com/in/andreylomakin

[2016-03-05 19:32] laa commented on #5802
Hi @sivan123 ,
I need your database to fix given issue . Is it possible to send it ?

[2016-03-06 02:33] sivan123 commented on #5802
Hi @laa . Its just a blank db with just one test class added. as I was in the initial stage of testing it out. Attaching it.
[Testing.zip](https://github.com/orientechnologies/orientdb/files/160129/Testing.zip)

Here is my client library dependency. Could it be that the client libraries in maven are not up to date?

libraryDependencies ++= Seq(
  "com.orientechnologies" % "orientdb-client" % "2.2.

[2016-03-06 06:43] likemusic commented on #3073
On [2-nd Udemy Getting Started course](https://www.udemy.com/orientdb-getting-started/learn/#/lecture/1726182) in video on 04:17 position, when demonstrated install and run OriendDb server on Windows 7 this message is also present.

Therefore, I think, most likely this error is not critical and does not require fix.

[2016-03-07 02:20] zifnab87 commented on #5089
@lvca this is definitely a bug I don't understand why cannot replicate was added.. I have moved away from OrientDB to TitanDB since December unfortunately.

[2016-03-07 02:30] tglman commented on #5106
hi @andreipop-reea,

Can we closi this ?

[2016-03-07 03:01] tglman commented on #5788
hi @asthanasid,

which version of orientdb are you using ? i tried this on the last 2.1 and on 2.2-beta and it works correctly.

bye

[2016-03-07 03:17] #5738 closed

[2016-03-07 03:17] tglman commented on #5738
hi @smallik,

i added a comment on the javadoc, anyway we may review a bit the database manipulation api in future that include also this api, we will consider also this case.

closing for now.

[2016-03-07 03:30] tglman commented on #5606
before 2.2 the serializer used for send data on the network in most cases was the same of the one used for write on the disc, since 2.2 this two concept start to be detached, so we can support on binary protocol the fetchplan in record and partial data send/update, probably the first implementation of this will land on 3.0 or 3.1

[2016-03-07 03:51] andreyvk commented on #5606
@tglman I see, thanks for the update!

[2016-03-07 03:59] alexmm11 opened #5803 "Question about vertex creation."
Is it possible create more a one vertex at a time?  A json array for example.

[2016-03-07 03:59] tglman commented on #5754
Hi @8forty,

The pool size is not the number of connection you do, that is configured by: http://orientdb.com/docs/last/Configuration.html#client-channel-maxpool.

[2016-03-07 05:48] sivan123 opened #5804 "Traverse all Vertices without removing duplicates"
I wasn't sure if a issue was raised to implement this feature, so raising one. This will be a very highly desirable feature to have. The current work arounds are ugly an inefficient( iterating and querying again within a loop from the java/javascript layer). Would be great to have the traverse query having the ability to return results without taking the dupes out.
## Posting a thread from the goo

[2016-03-07 07:59] enRGi commented on #5790
Is there some news on this issue?

[2016-03-07 09:28] maggiolo00 commented on #5801
hi @sivan123

the issue has been reported in Studio here.
https://github.com/orientechnologies/orientdb-studio/issues/357

Thanks

[2016-03-07 09:28] #5801 closed

[2016-03-07 09:48] luigidellaquila commented on #5803
Hi @alexmm11

If you create multiple vertices in a transaction, using standard TinkerPop API, the actual creation will be executed as a single operation at commit time.
There is no specific API

[2016-03-07 09:48] #5803 closed

[2016-03-07 09:56] luigidellaquila commented on #5804
Hi @sivan123

Thank you very much, I think there was no other issue open about this.

Luigi

[2016-03-07 10:18] andreipop-reea commented on #5106
@tglman
Yes you can close it.

[2016-03-07 10:28] #5106 closed

[2016-03-07 11:37] luigidellaquila commented on #5800
Hi @8forty

it works correctly if you give it an absolute path, eg.

[code]

but it does not seem to work correctly for relative paths. I'm checking it now

Thanks

Luigi

[2016-03-07 11:45] grexe commented on #5789
sorry for the late reply, here's the stack trace:
(I'm not sure why it's calling shutdown here, seems to be the result of an application Exception)
[code]

[2016-03-07 11:47] laa commented on #5789
I see assigned to @tglman , it is remote connection manager MT issue.

[2016-03-07 12:12] luigidellaquila commented on #5800
Hi @8forty

I just pushed a fix on branch 2.1.x, it will be released with 2.1.13

Thanks

Luigi

[2016-03-07 12:12] #5800 closed

[2016-03-07 13:35] luigidellaquila commented on #5799
Hi @smallik

It's not currently supported, but I'm checking how easy it is to support it

Thanks

Luigi

[2016-03-07 14:56] alexist opened #5805 "Server : Test failure"
When buiding master 2.1.12 or origin/2.1.x, some tests fails on module "Server".

[TestSuite.txt](https://github.com/orientechnologies/orientdb/files/161505/TestSuite.txt)

But when running the three failed test separately, there is no failure :
mvn test -Dtest=HttpBatchTest,HttpConnectionTest

When all test are run, I think there is a conflict with a previous test.

Here is my environment :
Apach

[2016-03-08 02:00] tglman commented on #5789
hi @grexe,

we are aware of that exception, is not an error, is due to the fact that we try to ensure that all lock are released on a network channel close, because a close can be triggered by different events outside the normal application flow, we try to check on close if the lock is actually acquired, but there is no safe way to do it, so the only way is try to unlock it an catch the error, her

[2016-03-08 04:22] Ashendra opened #5806 "Performance Distributed Benchmark"
Hi,

Orientdb version - 2.1.5
I have been facing performance issues during the distributed setup. With a standalone setup the write qps achieved was 3500 transactions/sec. But with a 3 node setup, the qps reached combined was 120 transactions/sec.
The write quorum is 3, read quorum is 1.

Is it the expected behaviour or is there something that I' missing.

[2016-03-08 04:26] Ashendra opened #5807 "Performance impact during simultaneous read and writes"
Hi,

Orientdb version - 2.1.5

With only read operations, qps achieved was 40k. But when the writes were performed parallel, the performance dropped to 15k. Write qps was 1k, and are new vertices/edges.

Is this expected behaviour?. I am evaluating orientdb for production, if this is the expected behaviour, I might have to look for other options.

[2016-03-08 06:35] tglman commented on #5805
Hi @alexist,

We are aware about that http tests that in some environment don't work properly, we are planning to rewrite them.

Thank you for reporting it anyway.

[2016-03-08 06:46] smolinari commented on #5807
Hi Ashendra,

If you are trying out ODB, you really should try out the newest version. 2.1.5 is quite old. 2.1.12 is the current version. The ODB team are constantly making improvements, so it is definitely worth going the the most up-to-date version, when testing.

You might also think about testing 2.2.0, which is in BETA currently, but should be released as GA fairly soon. There have been some

[2016-03-08 06:48] smolinari commented on #5807
Oh, and when you ask such questions, it would be helpful for the team, when you explain your testing scenario a bit more in detail. :smile:

Scott

[2016-03-08 07:02] tglman commented on #5781
hi @eyurtsev,

this are known issues, here the references: https://github.com/orientechnologies/orientdb/issues/3496 and https://github.com/orientechnologies/orientdb/issues/4546

I think we can mark this a duplicate.

[2016-03-08 07:08] tglman commented on #5779
hi @metametametameta,

This is quite strange, the client is stateless and when restarted load all the information from scratch from the server, and in the server the information are kept updated all the times, just double check if you are connection to the correct server.

Regards.

[2016-03-08 07:09] tglman commented on #5497
hi @chandra-n,

Can we close this ?

bye

[2016-03-08 10:29] #5204 closed

[2016-03-08 11:37] smolinari commented on #5204
Could there be a way to include different files (CSV?) for stop word lists?

Scott

[2016-03-08 12:59] jack18jack commented on #5012
@stefomak @lvca  i got this error too.i try to use spark-orientdb-connector to access distributed orientdb with two nodes.i raise a question in their github page.do u guys have any findings?
https://github.com/metreta/spark-orientdb-connector/issues/4

[2016-03-08 14:40] JWGmeligMeyling commented on #3652
:+1: Here as well!

[2016-03-08 15:01] robfrank commented on #5204
No, at the moment you can define them only in the JSON.
Loading from CSV seems reasonable, but what happens if the db is started on a node without that resource (in a distributed scenario). Maybe a better way is let the stopwords to live  in the db itself and allow to define them as a query:
[code]
.

I'll update the doc in a few days, stay tuned, because finally implementation differs a bit from

[2016-03-08 16:39] luigidellaquila commented on #5807
Hi @Ashendra

Could you please share some details on:
- how are you connecting (remote/plocal)
- which driver (java?)
- your domain model
- indexes
- type of queries you do
- transactions enabled?

Thanks

Luigi

[2016-03-08 17:05] Ashendra commented on #5807
Connecting through remote
Using java driver
Graph domain model
3 Vertices Class, 2 Edge Class, 1 index per Class
Query Type -
Read - getEdges one level
Write - Add/delete edges
Transaction enabled

Orientdb Server Machine - 64 Gb Ram, 20 core, Intel(R) Xeon(R) CPU E5-2690 v2 @ 3.00GHz
Server config
-Dstorage.diskCache.bufferSize=40960
-Xms8g
-Dindex.embeddedToSbtreeBonsaiThreshold=-1
-DridBag.embe

[2016-03-08 17:14] smolinari commented on #5204
Yeah, a class with the stop words (in different languages i.e. different documents) could work too.

Actually I like that idea better. :smile:

Scott

[2016-03-08 17:17] luigidellaquila commented on #1795
It's already fixed in v.2.1.

I'm closing it

Thanks

Luigi

[2016-03-08 17:17] #1795 closed

[2016-03-08 19:20] metametametameta commented on #5779
As far as I know, I'm connecting properly. Are you not able to reproduce the issue?

It seems that others have had the same issue as well. See the forum post https://groups.google.com/forum/#!searchin/orient-database/function$20metadata/orient-database/SOfycX4xaD8/U7pdH-tSCwAJ

[2016-03-08 21:55] cguerin opened #5808 "Beg for feature"
If there's anyway to add the ability to save queries in the Graph Editor, would be much appreciated featue.

I know you can launch the Graph Editor from the Browser Editor, but... a tool to be able to save queries would save infinite amounts of time copying and pasting from text files every time I update something, like a drop-down menu or something like that.

When developing an ontology using it

[2016-03-09 02:37] pokluda commented on #3501
`fork = true`
in ant might help ([https://ant.apache.org/manual/Tasks/java.html](https://ant.apache.org/manual/Tasks/java.html)).

[2016-03-09 05:59] smolinari commented on #3501
@pokluda ODB has moved to Maven.

Scott

[2016-03-09 06:06] smolinari commented on #5436
:+1:  I agree. This threw me off on understanding the graph connectivity a lot looking at the graphs in the editor, when I began with ODB and I still find it quite irritating.

Scott

[2016-03-09 06:10] smolinari commented on #5658
Is there any status on this bug? Just ran into it again.

It only happens, on the return result of the insert.

Scott

[2016-03-09 06:11] smolinari commented on #5808
Here are a couple of related issues (for the ODB devs)
https://github.com/orientechnologies/orientdb/issues/4974
https://github.com/orientechnologies/orientdb/issues/5624

Scott

[2016-03-09 06:58] anber500 opened #5809 "Can't order edges by size()"
I have a collection of Hash tags and I want to see which hash tags are being used the most.
I'm using the community edition of orientDB on Ubuntu 14.04.

I used the following sql command:

[code]

I get back a list of results but the size() is ignored.
I also have one of the results return a -1 on a known size of 45.

[code]

I tried various other methods but I still can't order by size.
Also, why

[2016-03-09 07:12] srthecodexpress opened #5810 "OrientDB 2.1.10 distributed mode: Autodeploy and Replication not happening!!"
Hi all,
I am testing OrientDB v2.1.10 in distributed mode in a 2 node configuration over 2 different machines.
Connection is happening flawlessly and the two nodes are up and running. However, Autodeploy and Replication is not happening. Given below are the configuration files:
The hazelcast plugin section of the orient-server-config.xml file:
`<handler class="com.orientechnologies.orient.server.h

[2016-03-09 08:36] luigidellaquila commented on #5809
Hi @anber500

ORDER BY is currently supported only on projection fields, not on LET variables.
I flagged it as an enhancement, it will be implemented in next releases.

A possible work-around is to rewrite the query as follows:

[code]

Thanks

Luigi

[2016-03-09 08:40] thirawato opened #5811 "Precision is not retained even data type is Decimal"
The version I am using is 2.1.9.

I inserted data through REST API as below.
[code]

The response I receive was below. You will see the field bigDecimal has precision lost.
[code]

[2016-03-09 11:28] #1856 closed

[2016-03-09 11:28] luigidellaquila commented on #1856
Fixed long time ago

[2016-03-09 11:31] luigidellaquila commented on #1953
Fixed long time ago, closing

[2016-03-09 11:31] #1953 closed

[2016-03-09 11:39] luigidellaquila commented on #1986
Fixed long time ago, closing

Thanks

Luigi

[2016-03-09 11:39] #1986 closed

[2016-03-09 12:00] #2123 closed

[2016-03-09 12:00] luigidellaquila commented on #2123
This issue is not valid anymore.

Closing

[2016-03-09 12:01] luigidellaquila commented on #2109
It's already fixed in stable release.

Closing

[2016-03-09 12:01] #2109 closed

[2016-03-09 12:02] #2108 closed

[2016-03-09 12:02] luigidellaquila commented on #2108
When logging into the "Server" panel you have to use root credentials.

If a problem existed on this, it was fixed a long time ago

Closing

Thanks

Luigi

[2016-03-09 12:05] luigidellaquila commented on #2078
This bug is already fixed in v 2.1

Closing. Please reopen if you experience similar problems

Thanks

Luigi

[2016-03-09 12:05] #2078 closed

[2016-03-09 12:06] luigidellaquila commented on #2063
Fixed long time ago

Closing

Thanks

Luigi

[2016-03-09 12:06] #2063 closed

[2016-03-09 12:10] #2128 closed

[2016-03-09 12:10] luigidellaquila commented on #2128
Old issue, This page is not referenced by any other doc page.

Current docs can be found here

http://orientdb.com/docs/last/

Closing, thanks

Luigi

[2016-03-09 12:11] luigidellaquila commented on #2205
Invalid: a class can have multiple clusters, so that syntax does not make sense

Closing

Thanks

Luigi

[2016-03-09 12:11] #2205 closed

[2016-03-09 12:16] #2214 closed

[2016-03-09 12:16] luigidellaquila commented on #2214
Problem fixed a long time ago

Closing

Thanks

Luigi

[2016-03-09 12:23] anber500 commented on #5809
Enhancement? Great news. Looking forward to the "enhanced" release.
Thanks for the pro tip. Loving your work.

[2016-03-09 12:29] anber500 commented on #5809
@luigidellaquila
Question: I'm sure it would make sense to veterans of orientDB but how on earth could I have figured that out by looking at the docs? Surely my misguided attempt at sorting should have been obvious by looking at the documentation. What did I miss?

I'm asking this because other people have had similar issues. If not a bug in orientDB, is it an omission in the docs or did I just mi

[2016-03-09 13:09] anber500 commented on #5809
I used the following sql command because it gives me the flexibility to be specific on the in edge that I'm interested in.

    select *, in_hash.size() as size from Hashes order by size desc

the problem is that it's very hard to debug. If I add the wrong name for the incoming edge, I don't get any errors telling me I made a mistake.

[2016-03-09 13:49] luigidellaquila commented on #5809
Hi @anber500

I understand your concern, we are working hard to make our docs more structured and complete, but there is still a lot of room for improvements.

About your query, the problem is mainly in the schemaless model, where you can have different attributes on different records and there is no way to validate attribute names at parsing time. It's a common problem for document and graph data

[2016-03-09 15:02] luigidellaquila commented on #2426
Closing, with GitBook docs it's already implemented

[2016-03-09 15:02] #2426 closed

[2016-03-09 15:15] luigidellaquila commented on #2448
Old issue, is it still valid?
Is there a way to reproduce it?

Thanks

Luigi

[2016-03-09 15:21] #2594 closed

[2016-03-09 15:21] luigidellaquila commented on #2594
Fixed (long time ago) in v 2.1.0 with the new parser

Closing

Thanks

Luigi

[2016-03-09 15:23] #2604 closed

[2016-03-09 15:23] luigidellaquila commented on #2604
comments with -- are currently not supported, please use /* comment */ syntax instead

Closing

Thanks

Luigi

[2016-03-09 15:28] #2719 closed

[2016-03-09 15:28] luigidellaquila commented on #2719
Fixed in v 2.1.0

Closing

Thanks

Luigi

[2016-03-09 15:48] #2791 closed

[2016-03-09 15:48] luigidellaquila commented on #2791
It's already fixed in 2.1.
Closing, please reopen if you see any related issues

Thanks

Luigi

[2016-03-09 15:51] #2894 closed

[2016-03-09 15:51] luigidellaquila commented on #2894
Fixed long time ago

Closing

Thanks!

Luigi

[2016-03-09 15:54] #2905 closed

[2016-03-09 15:54] luigidellaquila commented on #2905
Current Studio version displays all the results.

Additionally, in v. 2.1 you can use the UNWIND function

[2016-03-09 16:01] #3097 closed

[2016-03-09 16:01] luigidellaquila commented on #3097
Old issue (no longer valid)

Closing

Thanks

Luigi

[2016-03-09 16:03] luigidellaquila commented on #3235
Fixed long time ago with the new SQL parser

Closing

Thanks

Luigi

[2016-03-09 16:03] #3235 closed

[2016-03-09 16:04] #3285 closed

[2016-03-09 16:20] #3581 closed

[2016-03-09 16:20] luigidellaquila commented on #3581
Hi @hatibt

I'm closing this issue. Please reopen if you have any additional info to reproduce it

Thanks

Luigi

[2016-03-09 16:24] luigidellaquila commented on #3613
Hi guys,

this issue is already fixed in 2.1

I'm closing this issue, please reopen if you still experience related problems

Thanks

Luigi

[2016-03-09 16:24] #3613 closed

[2016-03-09 16:32] luigidellaquila commented on #3648
Related to https://github.com/orientechnologies/orientdb/issues/5155 and already implemented in v 2.2 beta

Closing

Thanks

Luigi

[2016-03-09 16:32] #3648 closed

[2016-03-09 16:33] #3669 closed

[2016-03-09 16:34] laa opened #5812 "Create sbtree bonsai cache for sbtreebonsai components not on logical instances"
We have proper multithreading synchronization  on com.orientechnologies.orient.core.index.sbtreebonsai.local.OSBTreeBonsaiLocal component. But inside of com.orientechnologies.orient.core.db.record.ridbag.sbtree.OSBTreeCollectionManagerAbstract we cache not OSBTreeBonsaiLocal components but logical instance of trees, which means that in reality we cache the same component instances many times merel

[2016-03-09 16:40] #3787 closed

[2016-03-09 16:40] luigidellaquila commented on #3787
Hi @agiuliano

This issue was fixed long time ago. I'm closing it, please reopen if you experience related problems

Thanks

Luigi

[2016-03-10 00:17] obi1kenobi opened #5813 "Missing quotes in in() / out() silently cause wrong output"
[code]

The missing quotes should probably cause a parse error, but they are instead silently ignored.

[2016-03-10 00:19] obi1kenobi opened #5814 "OCommandSQLParsingException when edge type is named Edge"
[code]

Then, the following query causes the exception below:
[code]

[code]

[2016-03-10 07:50] msusicky opened #5815 "OETL randomly stucks"
OrientDB 2.1.12, Windows 7 64b, JAVA 1.8
I have simple table accounts with 7 columns. I want to import this table to orientdb. I've created a script for oetl and if I run this script without parallel access, all will work.
But if I try to turn the paralelization on, it will often stuck randomly:

OrientDB etl v.2.1.12 (build 2.1.x@rb2f496fd6baa3b845b8f442c0ade5505249336cb; 2016-03-01 08:10:48+00
0

[2016-03-10 07:53] lvca opened #5816 "Stop OrientDB if -XX:MaxDirectMemorySize is not set"
Starting from v2.2, OrientDB uses direct buffers. This means it's fundamental the JVM can allocate a big amount of them. The new scripts set `-XX:MaxDirectMemorySize` to a high value, but in case was not set, OrientDB must exit with a clear error message to avoid run-time oddities.

[2016-03-10 08:35] luigidellaquila commented on #5813
Hi @obi1kenobi

I understand that sometimes it can be tricky, but that statement is a valid one: 'Nonexistent' could be a field name in current record, and its value could be a class name, so in a very corner case it could make sense.
To make an example, suppose you have a record like
[code]
In this case, the query
[code]
would be equivalent (for that particular record) to
[code]

This is why we c

[2016-03-10 08:35] #5813 closed

[2016-03-10 08:37] luigidellaquila commented on #5814
Hi @obi1kenobi

This is because of the new strict parser, now "edge" is a reserved keyword, you have to back-tick quote it:

[code]

(or just disable strictSql)

In v.2.2 also DDL statements are strictly parsed, so also the CREATE CLASS statement has to be quoted:
[code]
Thanks

Luigi

[2016-03-10 08:37] #5814 closed

[2016-03-10 09:33] n0lf opened #5817 "Problem with UPDATE, LOCK RECORD and LIMIT Together in query"
According to this site you should be allowed to use both UPDATE, LOCK RECORD and LIMIT in one command
[code]

But I get the following error:

This works however:
[code]

[2016-03-10 09:56] smolinari commented on #5813
@luigidellaquila - You lost me there Luigi. LOL! :smile: I don't understand how both queries can be equivalent. I don't understand how the first one can even work, as "Nonexistent" is neither a collection nor a link.

Scott

Scott

[2016-03-10 10:02] n0lf commented on #2219
Is this feature still implemented?
For example:
[code]
Or are we supposed to run the "DELETE EDGE" command in a batch script with retry?

[2016-03-10 10:08] martingg88 commented on #5476
any update?

[2016-03-10 10:54] luigidellaquila commented on #5813
Hi @smolinari

`Nonexistent` is evaluated to null, so `out(Nonexistent)` is evaluated as `out(null)`, that is the same as `out()`.
I hope it makes more sense this way...

Thanks

Luigi

[2016-03-10 11:15] luigidellaquila commented on #5817
Hi @n0lf

I reproduced the problem, I'm working to fix it

Thanks

Luigi

[2016-03-10 11:20] #4141 closed

[2016-03-10 11:20] luigidellaquila commented on #4141
Hi guys,

This issue is already fixed in v. 2.1.

I'm closing it, please reopen if you experience any similar problems

Thanks

Luigi

[2016-03-10 11:21] #3640 closed

[2016-03-10 11:21] luigidellaquila commented on #3640
Hi guys,

This issue is already fixed in v. 2.1

I'm closing it, please reopen if you experience any similar problems

Thanks

Luigi

[2016-03-10 11:23] asthanasid commented on #5788
Hi

its oreintdb community edition 2.1.9

[2016-03-10 12:10] smolinari commented on #5813
Sorry, not really. Because continuing the logic from your first post, `out()` doesn't seem like the same as `out('foo')` to me.

Let me play with this some later at home after work and see if I can understand what is going on.

Scott

[2016-03-10 12:31] luigidellaquila commented on #5813
Hi @smolinari

you are right, it's not the same in general, but in this case (if you only have "foo" edges) the result is the same ;-)

Luigi

[2016-03-10 12:44] chandra-n commented on #5497
Yes, please do.

thanks
Chandra

On Tue, Mar 8, 2016 at 12:39 PM, tglman <notifications@github.com> wrote:

[2016-03-10 12:45] smolinari commented on #5813
I was going to ask if we also had an `out_Bar` property, then it isn't the same. Now I think I got you. :smile:

Scott

[2016-03-10 13:52] Silur commented on #2336
still getting this error, it's 2016 already please do something

[2016-03-10 14:18] luigidellaquila commented on #5497
Thank you very much, closing

Luigi

[2016-03-10 14:18] #5497 closed

[2016-03-10 14:51] flintiii commented on #5425
Greetings luigidellaquila,

Is there any way that I can help get the "Search in history" dialog box in the orientdb-community-2.1.12 web interface to work? When I type a word into it, for instance "select" it returns "Warning You are clearing history. Are you sure?" just as if you clicked on the trash can.

I can see that there has already been a report, which may not have been expressed very well

[2016-03-10 14:56] maggiolo00 commented on #5425
hi @flintiii

The search happen while typing. There is no need for Enter.
I didn't notice this earlier but if you type Enter the popup shows. I will prevent this.

[2016-03-10 16:56] luigidellaquila commented on #5817
HI @n0lf

I pushed a fix on branches 2.1.x and develop. The fix will be released next week in 2.1.13

Thanks

Luigi

[2016-03-10 16:56] #5817 closed

[2016-03-10 17:33] bytebrahma opened #5818 "Question on Traversal sql. What are inE(), outV()"
Hi ,

Suppose my data model is as below.
* {Menus} *contain* {pages} *contains* {records} *contains* {fields}
* Menus, pages, records and fields are vertices
* each contains between each of above is a separate edge class with different attributes. (eg. menu_pages, Page_records etc..)

If I input a field(eg. EMPLID), I need all possible paths running all the way(only one direction) through the reco

[2016-03-10 20:57] obi1kenobi commented on #5814
Good to know this is fully fixed in 2.2, it's confusing that it currently fails in one setting (create edge) and succeeds in another (create class).

[2016-03-10 20:58] obi1kenobi commented on #5813
Can `null` be an invalid argument to `out()` such that `out(null)` fails?

[2016-03-10 21:35] flintiii commented on #5425
Greetings Enrico,

Please let me know when you have a patch in, as I would be happy to test it.

Sincerely,

Paul Flint

[2016-03-11 05:58] anber500 commented on #5809
I'm learning the ins and outs of graph databases. Knowledge is power and I'm more powerful today than yesterday. Thanks for the feedback.

[2016-03-11 06:11] andreyvk opened #5819 "include() stopped working with inline filtering"
Hi,

It seems that SQL's `include()` method stopped working  after inline filtering (e.g. `[name='John'].include(...)`)  in version `2.1.12` or possibly any version newer than `2.1.8`, which I am using at the moment

**Test Schema**

[code]

**Queries**
[code]

While **no.1** works well, the other 2 stopped working (they do work in `2.1.8` though).

**Workaround**
[code]

[2016-03-11 08:24] thirawato commented on #5811
I have tested on 2.1.12. it has the same problem as well.

[2016-03-11 09:21] luigidellaquila commented on #5818
Hi @bytebrahma

if your graph is a tree, then this approach will work fine, but if a single field belongs to multiple pages/menus, then it won't.
The problem is that the TRAVERSE avoids to re-traverse already traversed nodes, so if you have

[code]

Then page1 will be listed only once (not twice - once per path).

If you want all the full paths, given that you know the depth of the graph, I sugges

[2016-03-11 09:29] luigidellaquila commented on #5813
well, it could, maybe we can add an option for that, but for backward compatibility we cannot change the default behavior

Thanks

Luigi

[2016-03-11 09:33] thirawato commented on #5811
Sorry. The problem is in the test tool, Postman. Please close this issue.

[2016-03-11 09:36] luigidellaquila commented on #5819
Hi @andreyvk

Thank you for reporting, I'm checking it right now

Luigi

[2016-03-11 09:38] luigidellaquila commented on #5811
Hi @thirawato

Ok, thank you very much, closing

Luigi

[2016-03-11 09:38] #5811 closed

[2016-03-11 09:40] robfrank commented on #5793
@laa  can you check develop on windows?

[2016-03-11 10:58] laa commented on #5793
Done, still have error

Mar 11, 2016 12:56:35 PM com.orientechnologies.common.log.OLogManager log
INFO: {db=luceneSpatial} Imported: [0] records
Tests run: 30, Failures: 2, Errors: 0, Skipped: 0, Time elapsed: 49.574 sec
<<< FAILURE! - in TestSuite
testInsertUpdateTransactionWithIndex(com.orientechnologies.lucene.test.LuceneInsertUpdateSingleDocumentTransactionTest)
 Time elapsed: 0.061 sec  <<< F

[2016-03-11 11:18] luigidellaquila commented on #5819
Hi @andreyvk

I just pushed a fix on branch 2.1.x, the fix will be released next week with 2.1.13

Now I'm porting it to develop

Thanks

Luigi

[2016-03-11 11:40] andreyvk commented on #5819
Great! That was quick! ))

[2016-03-11 11:54] luigidellaquila commented on #5819
Pushed on develop branch as well

I'm closing it, please reopen if you see any other problems

Thanks

Luigi

[2016-03-11 11:54] #5819 closed

[2016-03-11 13:00] robfrank commented on #5793
I need a windows box to understand the problem

[2016-03-11 13:41] schernolyas opened #5820 "Bug with sequnce"
If sequnce 'hibernate_sequence' is not exist in database
then query  "select sequence('hibernate_sequence').next()" returns 0.  But it must be a exception because the sequene not exists in database.

[2016-03-11 15:00] luigidellaquila commented on #5820
Hi @schernolyas

Thank you for reporting, I'm on it

Thanks

Luigi

[2016-03-11 15:34] laa commented on #5795
Finally fixed ))

[2016-03-11 15:34] #5795 closed

[2016-03-11 15:36] grexe commented on #5789
thanks that's good to hear, looking forward to 2.2 and v3.0 in summer..!

[2016-03-11 15:38] laa commented on #5336
Closed because of no reply. Please free to reopen issue if you have information which I asked.

[2016-03-11 15:38] laa commented on #5633
Closed because of no reply. Please free to reopen issue if you have information which I asked.

[2016-03-11 15:38] #5633 closed

[2016-03-11 15:39] laa commented on #5292
Closed because of no reply. Please free to reopen issue if you have information which I asked.

[2016-03-11 15:39] #5292 closed

[2016-03-11 15:39] laa commented on #4600
Closed because of no reply. Please free to reopen issue if you have information which I asked.

[2016-03-11 15:39] #4600 closed

[2016-03-11 16:10] luigidellaquila commented on #5820
Fixed in develop branch (2.2), the fix will be released with 2.2-beta2

Closing, thanks

Luigi

[2016-03-11 16:10] #5820 closed

[2016-03-11 16:27] #1130 closed

[2016-03-11 16:27] luigidellaquila commented on #1130
Old issue, this kind of problems was fixed long time ago

Closing

Thanks

Luigi

[2016-03-11 16:28] #1316 closed

[2016-03-11 16:43] luigidellaquila commented on #1401
This is an old issue, it is not valid anymore in current release.

Anyway:
- the UPDATE does not create a property in the schema, it just inserts data.
- that statement does not create a property called "following.rid", it creates a "rid" property in the "following"
- in v 2.2 you can use back-tick quoting to support dots in property names,  eg.
[code]

Closing

Thanks

Luigi

[2016-03-11 16:43] #1401 closed

[2016-03-11 16:44] #1555 closed

[2016-03-11 16:44] luigidellaquila commented on #1555
Old issue, it was fixed long time ago

Closing

Thanks

Luigi

[2016-03-11 16:47] #1559 closed

[2016-03-11 16:47] luigidellaquila commented on #1559
Hi,

This is an old issue, it was fixed a long time ago

Closing

Thanks

Luigi

[2016-03-11 16:48] luigidellaquila commented on #1796
"local" storage is no longer supported.

Closing

Thanks

Luigi

[2016-03-11 16:48] #1796 closed

[2016-03-11 16:49] #1871 closed

[2016-03-11 16:49] luigidellaquila commented on #1871
Fixed long time ago (the source issue was fixed in 2013)

Closing

Thanks

Luigi

[2016-03-11 16:55] luigidellaquila commented on #2948
fixed in 2.2, now this syntax is no longer accepted

[code]

you have to do this instead:
[code]

that is not ambiguous

Thanks

Luigi

[2016-03-11 16:55] #2948 closed

[2016-03-11 22:30] gerdhub opened #5821 "Server deadlock with multiple concurrent binary clients"
Using version 2.1.12, I have multiple concurrent threads, each using its own graph instance, reading, creating and updating records in the DB. After about 20.000 cycles, all clients hang. I debugged the server and noticed that_ all _binary clients threads (at the server) where stuck at:

[code]
I tried to reduce the transaction sizes to an absolute minimum without luck. In this situation I even ca

[2016-03-12 19:51] natemurthy opened #5822 "OrientGraph is strangely slower than OrientGraphNoTx when calling `getVertices` inside an Akka actor"
I'm looking into a performance characteristic I've observed when using transactional vs non-transactional instances of graphs inside an Akka actor. Here's what my actor looks when I'm using the transactional `OrientGraph`:

[code]

Here's how long it takes to process this:

[code]

It took over **21 seconds** just to retrieve this single event record vertex from my graph database! And my database

[2016-03-13 00:22] lvca commented on #5822
I think you're not using the index here. Look at: http://orientdb.com/docs/last/Graph-Schema.html#indexes-as-constrains. You should do:

    val result = graph.getVertices("Event.event_id",id) // id is unique so guaranteed to be 1 result

If the class is called 'Event'.

[2016-03-13 13:35] serebro commented on #2118
+1

[2016-03-13 15:28] saeedtabrizi commented on #5748
Is there any idea ?
I'd test it by 2.1.11 , the `delete from cluster:BlobStorage` not working on binary records .
how can i delete binary records that stored in a cluster ?

[2016-03-13 19:45] davidheryanto opened #5823 "OrientDB Workbench not picking up settings from hazelcast.xml"
Hi, I'm testing the Workbench 2.1.6 from the OrientDB Enterprise 2.1.12. And I have a difficulty adding a cluster to be monitored. I'm using _multicast_ for discovering the nodes in the cluster.

The problem is I have multiple _multicast capable_ network interfaces and the workbench always picks up the wrong interface (and hence the wrong IP for my nodes).

For OrientDB server, I can configure whi

[2016-03-13 23:42] Ostico opened #5824 "[ OrientDB version 2.1.12 ] Compile failed"
OrientDB version 2.1.12 do not builds.

I tried with ubuntu and MacOsx El Capitan and got the following error:

[code]

[2016-03-14 01:15] tglman commented on #5824
hi,
Since 2.1 the ant build is deprecated, plase use `mvn clean install` instead. the ant build sistem will probably be completed remove in 3.0.

bye

[2016-03-14 05:24] natemurthy commented on #5822
I actually have an index on this field. This is what my schema looks like:

[code]

[2016-03-14 05:47] martingg88 opened #5825 "I need to find better performance for a geolocation query"
the following query take about 20 seconds for more than 30k records.
are you sure your database is really promised in market?

[code]

[2016-03-14 05:49] martingg88 commented on #5680
no update?

[2016-03-14 07:10] maggiolo00 commented on #5680
which is the execution time?

[2016-03-14 07:13] martingg88 commented on #5680
more than 20 seconds for 30k records. feel very upset about this database already as we don't think ti is capable for production.

[2016-03-14 07:17] maggiolo00 commented on #5680
@martingg88

can you post the explain of this
[code]

and the result of this?

[code]

Thanks

[2016-03-14 08:09] martingg88 commented on #5680
can you try it at your side with database has 30k records.

I'm sure you will have really suck performance for order by alias property.

[2016-03-14 08:46] laa commented on #5821
Hi that is single stack trace, it does not show reason of deadlock.
Could you provide full stack trace ?

[2016-03-14 09:09] Robin479 commented on #5755
It might help to always use a forward slash regardless of the operating system, since the path is only ever interpreted by Java code.

[2016-03-14 09:12] maggiolo00 commented on #5680
hi @martingg88

we could speed up things if you can send me a test db where i can try your queries and help you optimize it.

My email is e.risa@orientdb.com

[2016-03-14 09:27] tglman commented on #5613
hi,

Added a test case and fixed, in develop.

closing.

[2016-03-14 09:27] #5613 closed

[2016-03-14 09:56] luigidellaquila commented on #2118
Hi guys,

some news on this issue. In v.2.2 this is already supported in MATCH statement.

The following query is valid (GratefulDeadConcerts)

[code]

Thanks

Luigi

[2016-03-14 11:03] Ostico commented on #5824
Ok, thanks for the info, but definitely remove ant build or support it until the end of it's life.

[2016-03-14 11:18] luigidellaquila commented on #5748
Hi @saeedtabrizi

I'm checking it. There must be a bug somewhere in the DELETE command.

In the meantime, did you try to simply do

[code]

Thanks

Luigi

[2016-03-14 12:01] luigidellaquila commented on #5818
Hi @bytebrahma

Did it solve your problem?
Can I close this issue?

Thanks

Luigi

[2016-03-14 12:25] martingg88 commented on #5680
guys the issue is your side didn't optimize performance for query that have order clause with alias property. Please check with you team. I'm sorry that i can't send you the db as it is confidential data for my client.

[2016-03-14 12:30] lvca opened #5826 "Improve locks"
I found something that eats my CPU to 100%:
[code]
in OReadersWriterSpinLock.acquireWriteLock(), I didn't study the algorithm, but a Thread.sleep(1) would be necessary.

The reason for locks is that while a thread is waiting for another one, it frees the resources for something other

in this way the CPU is taken just to check if the condition is true

Or we could even better use a wait/notify mec

[2016-03-14 12:53] robfrank commented on #5815
we have done some code improvement to avoid this kind od deadlock. Will be in 2.1.13

[2016-03-14 12:54] #5797 closed

[2016-03-14 12:54] robfrank commented on #5797
I've implemented mode methods, hope it is enough. Available from 2.1.13

[2016-03-14 15:20] chandra-n opened #5827 "com.orientechnologies.common.concur.lock.OLockException. File 'internal.cpm' is locked by another process, maybe the database is in use by another process. Use the remote mode with a OrientDB server to allow multiple access to the same database"
Guys
         Post an ungraceful shutdown of the server (owing to server unresponsiveness), once the server has been restarted, no connections are being entertained by the server. I see the error:

when I try to connect to the server from the console.

lsof command to check for any locks on the file yields the below output:

Process 2182 is nothing but the Orientdb server:

Can you please help me?

[2016-03-14 15:26] maggiolo00 commented on #5827
hi @chandra-n

seems that the process is still running and holding the locks to the database

try to run jps you should see two OServerMain.

[2016-03-14 15:31] chandra-n commented on #5827
Nope. Just one. Here you go:

[2016-03-14 15:50] martingg88 opened #5828 "serious error for version 2.1.12 (urgent)"
{db=voyage} Error on creating record in cluster: plocal cluster: locate
com.orientechnologies.orient.core.exception.OStorageException
	at com.orientechnologies.orient.core.storage.impl.local.paginated.OPaginatedCluster.createRecord(OPaginatedCluster.java:434)
	at com.orientechnologies.orient.core.storage.impl.local.OAbstractPaginatedStorage.doCreateRecord(OAbstractPaginatedStorage.java:1946)
	at c

[2016-03-14 16:36] laa commented on #5828
HI,
@martingg88 did you make export/import from to JSON for this database as we discussed at othere issue ?

[2016-03-14 16:41] laa commented on #5827
Hi, that is OS issue. OS puts the process level lock and after process crash fails to clear it. We have encountered that in several users could you restart OS and try again ?

[2016-03-14 16:48] martingg88 commented on #5828
yes.. i did export/import, but it's working quite some time. Thereafter, it's no longer work

[2016-03-14 16:51] laa commented on #5828
I see thank you , you are the single one from tons of users who has given issue )). Any way we are on it.

[2016-03-14 16:53] laa commented on #5828
Well I have question

[2016-03-14 16:54] laa commented on #5828
Caused by: com.orientechnologies.orient.core.storage.impl.local.paginated.atomicoperations.ONestedRollbackException: Atomic operation was rolled back by internal component, exception which caused this rollback is :
com.orientechnologies.orient.core.exception.OStorageException: File with name 'v.sbc' does not exist in storage 'voyage'.

do you have 'v.sbc'  in database I think ?

[2016-03-14 16:57] martingg88 commented on #5828
i'm starting to feel upset to use this database for our projects because it's not really for production and it creates a lots of strange issues for us especially for performance wise. haiz.....

FYI. I don't have and never seen v.sbc in my database.

[2016-03-14 17:03] chandra-n commented on #5827
@laa,
           I am afraid that did not work either. Here you go:

[2016-03-14 17:07] laa commented on #5828
@martingg88 sad to read this. Is it possible for you to make import again from exported json , (or merely open database which you originally created from JSON) not new one and send me list of files which you get there ?

[2016-03-14 17:13] martingg88 commented on #5828
are you mean i have to export and import from existing database again?

[2016-03-14 17:23] saeedtabrizi commented on #5748
Hi @luigidellaquila
thanks  for reply . i tried `delete from #15:7` but not working in 2.1.11 yet .
only truncate record  command works true in deleting BinaryRecords .
I have an opinion for select from Binary Record in Select Command .
**it's better select from blobstorage returns record id and record bytes size for binary records . now select from blobstorage (binary records) returns nothing **

[2016-03-14 17:43] chandra-n commented on #5827
Gents
          I would really appreciate if you can help me with a temporary workaround to get the server up and running while you work towards a solution.

[2016-03-14 17:49] martingg88 commented on #5828
1. I do have backup my database at time interval and here is the config for orientdb.
2. I have deleted the "voyage" database at /var/backup/orientdb and then manually copy all the files to  "voyage" from backup file (etc. xxxx.zip).
3. Finally, I can't log on to "voyage" database with root account. really feel strange for this issue. very faint now

       <handler class="com.orientechnologies.or

[2016-03-14 17:58] martingg88 commented on #5828
is it possible the orientdb server anyhow crashed due to server resource hungry and therefore cause this issue?

[2016-03-14 18:00] laa commented on #5827
@chandra-n well that is simple start server with property file.lock set to false

[2016-03-14 20:00] chandra-n commented on #5827
@laa I am sorry, did you mean a property within orientdb's config? As otherwise, the OS has got no locks on the internal.cpm file when the server is not running. When the server is started, it seems to lock the file out somehow and not allow access.

[2016-03-15 06:57] taburet commented on #5828
@martingg88 most likely something went wrong during the JSON import process, as a result one of the required internal files was not created (v.sbc), we have to find the reason behind this failure. Could you please repeat the import from original JSON file(s) and send us OrientDB and operation system logs/errors produced during it along with the file listing of the resulting database directory.

[2016-03-15 07:12] martingg88 commented on #5828
I don't think the issue is from import process because it's working for a long time after imported and thereafter it had this issue suddenly. Anyway, i tried to restored my database from previous backup and it's working now.

[2016-03-15 07:17] laa commented on #5828
Hi,
We need to understand reason of issue  and need to have as much information
as possible.
If you help us we will be really grateful that you help us to fix given
issue.
Could you send us :
1. List of files after export.
2. Server log at the day when issue happens
3.  OS logs at this date too,  I suppose that you use nix OS.
4. Version of OS and HW configuration.

вт, 15 Мар 2016, 9:12 martingg8

[2016-03-15 09:01] luigidellaquila commented on #5748
Hi @saeedtabrizi

We fixed this, the fix will be released with 2.1.14 and 2.2

Thanks

Luigi

[2016-03-15 09:19] luigidellaquila commented on #5818
Hi @bytebrahma

I'm closing this issue, if you sill need help on this please reopen or continue the discussion on StackOverflow (use "orientdb" tag)

Thanks

Luigi

[2016-03-15 09:19] #5818 closed

[2016-03-15 09:55] luigidellaquila commented on #5825
Hi @martingg88

this query has to
- browse all the `place` class
- traverse the in() relationship to filter based on @class (user, hotel)
- for each record
  - calculate a distance() function
  - traverse all the in() edges and for each corresponding vertex
     - traverse all the out("act")
     - filter by @class
- sort the results
- only after that, apply the limit

Depending on how many incomi

[2016-03-15 10:05] martingg88 commented on #5825
Thanks for your effort. But it still take about more than 18 seconds to get only the 10 records. I think the order by alias property cause the huge performance issue. Here is the explain for your given SQL statement.

{
    "result": [
        {
            "@type": "d",
            "@version": 0,
            "fullySortedByIndex": false,
            "documentReads": 46145,
            "incoming":

[2016-03-15 10:06] martingg88 commented on #5825
FYI. The following SQL statement without order clause will be more faster.

select $incoming AS rid,
distance(lat, lng, 3.0797, 101.5186) AS distance,
$incoming.out("act")[@class="activity"].total[0] AS activity
from place
let $incoming = in()
where $incoming[0].@class in ['user', 'hotel']
limit 10

[2016-03-15 10:16] luigidellaquila commented on #5825
Hi @martingg88

can you give me some more details about your domain? Maybe we can optimize the query a lot based on the graph topology:
- how many users/hotels do you have?
- how many places do you have?
- how many places are connected to hotels/users?
- can you think to limit the lat-lng to a bounding box? eg. `x1 < lat < x2` , this way you can define an index on [lat] and do indexed queries.

In

[2016-03-15 10:17] IamKazuya opened #5829 "Invalid JSON result on HTTP API request"
Hello,

When i send a REST request on an index containing multiple results, the json returned contains the list of expected vertices, but, the json is not valid. So, using a REST tool requester return me a parse error.

Example of request : http://orientb.mydomain.com/index/mydb/server.name/toto*
JSON response format :
[
     {"key" : "value", ...}
     {"key" : "value", ...}
     {"key" : "value"

[2016-03-15 10:23] luigidellaquila commented on #5829
Hi @IamKazuya

Thank you for reporting, I'm on it

Thanks

Luigi

[2016-03-15 10:33] martingg88 commented on #5825
how many users/hotels do you have?
more than 40K
how many places do you have?
more than 40k
how many places are connected to hotels/users?
more than 40k
can you think to limit the lat-lng to a bounding box? eg. x1 < lat < x2 , this way you can define an index on [lat] and do indexed queries.
Yes I didn't bounding query clause and it will help, but it will be very slow again if i add order clause b

[2016-03-15 10:42] #5829 closed

[2016-03-15 10:42] luigidellaquila commented on #5829
Hi @IamKazuya

I just pushed a fix for this problem,  you can find it in 2.1.x and develop branches.

The fix will be released with 2.1.14 and 2.2 beta2

Thanks

Luigi

[2016-03-15 11:01] maggiolo00 commented on #5825
hi @martingg88

if you want to sort by distance you can use the spatial index and do the near filtering

http://orientdb.com/docs/2.1/Spatial-Index.html

[2016-03-15 11:10] maggiolo00 commented on #5823
hi @davidheryanto

Workbench does not read the hazelcast.xml. It is configured at runtime. We could add the interface configuration in the WB ui.

[2016-03-15 11:47] martingg88 commented on #5825
I'm expect to have records that are sorting from near to far. what is your suggestion?

[2016-03-15 11:51] maggiolo00 commented on #5825
hi @martingg88

with near filter the records should be ordered by distance. You don't have to call distance function.

[2016-03-15 11:55] martingg88 commented on #5825
The near filter is just for query the records in bounding area. we need the records to be displayed from near to much more far by using paging. do you understand my question?

[2016-03-15 12:34] laa commented on #5827
@chandra-n that is because file metadata is broken. I think the most simplest fix is to copy all files to another location, delete current one and rename it  if you wish.

[2016-03-15 13:25] thierry-github opened #5830 "Composite index issue"
using OrientDB 2.1.9

I have a record (E_Rel) with 3 fields :

- SrcID (long)
- RelID (long)
- VTgtDef (EmbeddedList of Long)

and an index on record
CREATE INDEX RelTgtIDX ON E_Rel (SrcID , RelID , VTgtDef ) NOTUNIQUE

This query works as expected  :
select  from index:RelTgtIDX where  Key  = [6,572]

The result is (from studio view)

OCompositeKey{keys=[6, 572, 472]}
CompositeKey{keys=[6, 572, 4

[2016-03-15 14:11] IamKazuya commented on #5829
Oh, thank you so much for your reactivity !

[2016-03-15 14:55] zerovian opened #5831 "exponential performance drop with OEntityManager.registerEntityClass after update to 2.1.12"
orientdb 2.1.12 + 2.1.13

Performance of OEntityManager.registerEntityClass() has dropped dramatically after updating from 2.1.11 to 2.1.12.

I have a newly created database and am registering about 30 classes using db.getEntityManager().registerEntityClass(<class>);

Prior to It used to take about 2 seconds to register all of them. After the update to 2.1.12, this now takes about 1 second for the

[2016-03-15 15:28] fpertl opened #5832 "Manual index entries not persisted through a server restart"
Create a manually created index:
`CREATE INDEX md5 UNIQUE_HASH_INDEX;`
then manually population the index via inserts with keys and rids.
Then querying the index
e.g.  `SELECT FROM INDEX:md5 WHERE key = '06700B2BD5AA941B9755B49C129BD66E'`
returns the stored rid as expected, but if the server is restarted, nothing is returned.
However
`SELECT COUNT(*) FROM INDEX:md5 `
will return the correct count

[2016-03-15 15:42] zerovian commented on #5831
[entityperformance.zip](https://github.com/orientechnologies/orientdb/files/174225/entityperformance.zip)

[2016-03-15 15:44] zerovian commented on #5831
Attached a zip file with a sample that shows the problem.  Run TestEntityLoad.main() This loads about 7 classes and creates a property and an index on that one property.  Each successive class takes longer than the previous.  The first takes about 130ms.  But the time it reaches the 7th class it takes almost 1 full second to register the class.  In my full codebase, by the time it hits the 30 it n

[2016-03-15 15:44] laa commented on #5832
Hi, what version do you use ?

[2016-03-15 15:47] fpertl commented on #5832
I'm using 2.1.10 community.

[2016-03-15 17:16] chandra-n commented on #5827
@laa that did not work either. Here is what I did:
Made a copy of the database folder, got rid of the original installation.
Rebooted the host.
Did a fresh installation of the server software (at the same location as earlier)
Ran the server once and shut it down.
Created the database folder copied previously in the databases folder.
Ran the server and tried connecting from the console.

What do yo

[2016-03-15 22:11] SpareShade opened #5833 "rebuild index gets stuck after upgrade to 2.1.13"
Hi,
perhaps this is related to #5795
since moving to 2.1.13 I have problem with rebuilding indexes (lucene in particular). The rebuild simply gets stuck (in this case on a lucene index of ~70000 records). While the app/db queries seem to continue to work; the db is inaccessible via studio.
In addition, orientdb service cannot be stopped gracefully and the cpu a bit wild while trying to stop it.
Th

[2016-03-15 22:33] maggiolo00 commented on #5833
hi @SpareShade

yes it could be related i'm checking it

[2016-03-16 04:08] warriorkitty opened #5834 "Strange behaviour in JS functions"
Hi all! First of all, this is the first version of the algorithm, so I know things could get done little better. I'm implementing Pearson's correlation coefficient.

1. get all movies I rated
2. get all movies from other users
3. find intersections
4. calculate the similarity coefficient

Look at the line before `return movies`. If I execute queries directly, I get the list of movies for `userId =

[2016-03-16 04:58] eugene-kamenev commented on #5068
@zifnab87 i think you can call .save() method and then yes, you can retrieve the vertex inside not commited transaction, where you can have negative uuid.

[2016-03-16 06:50] tglman commented on #5830
hi @thierry-github,

A Similar issue was fixed not so long ago, did you have chance to try the last hotfix 2.1.12 ?

[2016-03-16 07:13] thierry-github commented on #5830
hi @tglman

just downloaded and try 2.1.13 version with the same issue

first query :

select from index:data.SrcID_RelID_Tgt

OCompositeKey{keys=[1, 1, 0]}
OCompositeKey{keys=[1, 1, 0]}
OCompositeKey{keys=[1, 1, 0]}
OCompositeKey{keys=[1, 1, 1]}
OCompositeKey{keys=[1, 1, 1]}
OCompositeKey{keys=[1, 1, 1]}
OCompositeKey{keys=[1, 1, 2]}
OCompositeKey{keys=[1, 1, 2]}
OCompositeKey{keys=[1, 1, 3]}

se

[2016-03-16 07:17] thierry-github commented on #5830
@tglman

there is no result for the third query.

[2016-03-16 07:21] laa commented on #5068
That is serialization issue , assigned to @tglman

[2016-03-16 07:29] tglman commented on #5068
hi @zifnab87,

do you have the code that reproduce the transaction that fail ? this is a remote+transaction management problem, it may be due also to a graph operation failed and retried without restart the transaction.

by the way which version are you using ?

[2016-03-16 08:20] thierry-github opened #5835 "Creating index on Embedded field failed"
Using 2.1.13

When i try to create an index including an Embedded field, i have the following issue :

com.orientechnologies.orient.core.index.OIndexException: Cannot create the index 'TestIDX'
com.orientechnologies.orient.core.index.sbtree.local.OSBTreeException: Error creation of sbtree with nameTestIDX
java.lang.NullPointerException

Embedded class contains one string field named **text**

[2016-03-16 08:56] luigidellaquila commented on #5834
Hi @warriorkitty

I think the user is an ODocument (a Java object), not a JS one, could you please try with
[code]
and let me know if it works?

Thanks

Luigi

[2016-03-16 09:14] warriorkitty commented on #5834
I've tried returning the value:

[code]

Getting an error:

[code]

[2016-03-16 09:29] luigidellaquila commented on #5834
Ops, sorry, you are using the Graph API (not Document), so the query is returning a vertex.

This is the right syntax:
[code]

Thanks

Luigi

[2016-03-16 09:31] taburet commented on #5832
@fpertl I have investigated the issue and found that automatic key type detection behaviour is unreliable, we have decided to deprecate untyped indexes. As a workaround pease specify an index key type while creating the index, like this:

`CREATE INDEX md5 UNIQUE_HASH_INDEX STRING;`

[2016-03-16 09:31] healiseu commented on #5797
@robfrank I tested JDBC with OrientDB 2.1.13 in Mathematica 10.3
to continue the example above

[code]
This response is no good....
 If you try the OrientDB HTTP API with my DBAPI package in Mathematica this is what you get

[code]
Therefore, the "out" and "in" nodes should not be expanded, and it is better if the output is in Mathematica List of Rules format. You return strings inside a list.

Yo

[2016-03-16 09:34] #5832 closed

[2016-03-16 09:49] luigidellaquila commented on #5830
Hi @thierry-github

quick update on this, if you try the following query, it will work fine:

[code]

I'm working to rationalize the `SELECT FROM index:` syntax, IMHO the expected behavior is not clear and it requires a little formal definition.

I'll keep you posted

Thanks

Luigi

[2016-03-16 10:05] thierry-github commented on #5830
@luigidellaquila

great ! that's what i was looking for. I've tried it and it works as expected.

Thanks

[2016-03-16 10:11] luigidellaquila commented on #5830
Perfect, Thanks!

Closing

Luigi

[2016-03-16 10:26] laa commented on #4843
Issue is closed because of no-reply, feel free to reopen issue if issue happen again and you will have information requested in this issue.

[2016-03-16 10:26] #4843 closed

[2016-03-16 10:30] laa commented on #5827
@chandra-n are you using correct user to start server, because it looks like sever used do not have permissions to access db files.
what is result of `ls -l` on database directory ?

[2016-03-16 11:11] luigidellaquila commented on #5830
reopening, I have to check a couple of things

[2016-03-16 11:26] warriorkitty commented on #5834
That works. You are awesome, as usual. Thank you.

[2016-03-16 11:26] #5834 closed

[2016-03-16 13:42] fpertl commented on #5832
Thanks for resolving this :)

[2016-03-16 13:53] whatyouhide opened #5837 "Support for JSON body in POST requests to the /import/<database> endpoint"
Right now, the `/import/<database>` endpoint accepts only `multipart/form-data` data. Since we're uploading a JSON document, it would make sense to accept an `application/json` body so that users can directly upload the exported JSON database.

Also, it seems like the `multipart/form-data` import is somehow broken. Much more information can be found in https://github.com/MyMedsAndMe/marco_polo/iss

[2016-03-16 16:16] pboos opened #5838 "Vertex property with a key containing a dot fails silently"
orientdb version: 2.2.0-beta

`setProperty("some.key", "value")` just fails silently. It does not set the value on the vertex. When doing `getProperty("some.key")` it returns null.

Example test:

[code]

Workaround: replace . with -.

In `OSchemaShared.checkFieldNameIfValid()` it says checks for the following invalid characters:

[code]

Maybe `.` is used internally? I didn't check further. But p

[2016-03-16 19:55] cvm1ll3 opened #5839 "Commit for OrientDB 2.2 snapshot March10 not working for linklist"
I have a javascript function that creates a vertex and adds rids as a linklist for urls, phones, address, emailaddress. At the end of the function I execute gdb.commit() and call another function to query the newly created vertex and it returns the following result where the vertex rid that holds the linklist has the final rid but the linklist rids are either null or a temporary rid:

<code>
[

[2016-03-17 04:15] #5456 closed

[2016-03-17 04:15] tglman commented on #5456
fixed here is the commit:
https://github.com/orientechnologies/orientdb/commit/b43f7cdb81466fb781bce6b48378aa429671881d

closing

[2016-03-17 06:17] kondareddy opened #5840 "Unable to start orientdb service on windows 8"
I have followed the instructions mentioned on below page and installed orientdb as a service but unable to start that.
http://orientdb.com/docs/2.1/Windows-Service.html

I am getting below exception
Windows could not start the OrientDB GraphEd X.X.X on Local Computer. For more information, review the System Event Log. If this is a non-Microsoft service, contact the service vendor, and refer to ser

[2016-03-17 06:57] #5604 closed

[2016-03-17 06:57] tglman commented on #5604
hi,

i added a test with this commit: https://github.com/orientechnologies/orientdb/commit/7675b089a17ce9c7f6249f0ba32361e1e44de965

it seams to work correctly, be aware that in case of remote for refresh the console you have to disconnect and reconnect, we have already issue about that and will be resolved in the next major version.

[2016-03-17 06:58] #5837 closed

[2016-03-17 06:58] tglman commented on #5837
added the sopport

[2016-03-17 07:22] RajathiNatarajan opened #5841 "Read graph action throws com.orientechnologies.orient.core.exception.OStorageException: Error on executing command."
This issues arrives when deploying orient in amazon instance and connecting it concurrently via api..
below is the stack trace contains variable information which is hard to derive what could be the actual root cause..but, on analyzing could guess it because of multiple retry happens for connection to database...

2016-03-07T16:37:20.772+0530 STDIO [ERROR] Mar 07, 2016 4:37:20 PM com.orientechnolo

[2016-03-17 07:25] tglman commented on #5501
added closing

[2016-03-17 07:25] #5501 closed

[2016-03-17 08:20] randikaf commented on #5728
@tglman , @luigidellaquila This issue has been raised a month ago, appreciate if you or someone can comment on it?

[2016-03-17 08:29] laa commented on #5067
Duplication of https://github.com/orientechnologies/orientdb/issues/5693

[2016-03-17 08:34] laa commented on #5273
Hi @sethrife , sorry for long response could you set log level FINE for com.orientechnologies.orient.core.db.document.ODatabaseDocumentTx logger and send me results of  logging ?

[2016-03-17 08:36] laa commented on #3671
Hi @martingg88 ,
We are not experts in Node.js could you provide us detailed steps which we need to do in your code to reproduce this issue ?

[2016-03-17 08:38] laa commented on #3544
Hi @martingg88 ,
We are not experts in Node.js could you provide us detailed steps which we need to do in your code or could you provide us separate test case to reproduce this issue ?

[2016-03-17 08:40] laa commented on #5355
Hi @jlowenz sorry for late reply we will look at your issue during next 3 weeks.

[2016-03-17 08:51] whatyouhide commented on #5837
@tglman I don't see any new commits here on GH; will this be part of an upcoming release of `2.2-beta`? If so, when can we expect the new release? Thanks so much :heart_decoration:!

[2016-03-17 09:29] laa commented on #5693
Fixed

[2016-03-17 09:29] #5693 closed

[2016-03-17 09:29] laa commented on #5067
Fixed

[2016-03-17 09:29] #5067 closed

[2016-03-17 09:57] vlnj opened #5843 "Current database instance is not active on current thread"
This issue occurred when executing multiple threads to get orient database connection from database pool and process them simultaneously. when processing two threads, in some point we faced following issue. (Orient db version 2.1.12)

java.lang.IllegalStateException: Current database instance (com.orientechnologies.orient.core.db.OPartitionedDatabasePool$DatabaseDocumentTxPolled@5791a654) is not a

[2016-03-17 10:00] laa commented on #5843
Hi, could you show us the code which you use for this task ?

[2016-03-17 10:00] laa commented on #5843
Aslo is it possible to get stack trace with line numbers ?

[2016-03-17 10:09] maggiolo00 commented on #5835
hi @thierry-github

can you paste here the sql command that you use for index creation?

[2016-03-17 10:35] vlnj commented on #5843
Hi we are not authorized to share the code base. so we will create a sample code base and share it with you

Thank you

[2016-03-17 11:09] laa commented on #5843
Sure,does not matter, I need test to reproduce it.

[2016-03-17 11:14] ernestas-poskus commented on #5543
@luigidellaquila sorry was on vacation.

I never drop clusters, OrientDB lives in Docker container and it happens every time I start container for example after PR shutdown.

I use clustering to split/assign clusters for corresponding servers.

[2016-03-17 11:26] maggiolo00 commented on #5833
hi @SpareShade
it is fixed and It will be available in the next 2.1.14 hotfix due the next week
Thanks

[2016-03-17 11:26] #5833 closed

[2016-03-17 11:29] compensator commented on #89
I agree that the choice of ECB mode was incorrect.  As stated document at the OWASP URL in my post above which includes references to NIST, ECB should not be used.  If for some reason you are not able to implement AES-GCM, CTR mode with should be the minimum.

As for encrypted indexes, this is a different, more difficult problem and, in my opinion, a user of OrientDB can opt to not index if they h

[2016-03-17 11:30] laa opened #5844 "Record locking is broken in 2.2 version"
After implementation of scan of pages inside of storage record locking functionality is broken.
In internal discussion we decided to introduce new keyword to lock records only if it is requested.

As @tglman correctly mentioned we already have lock record, so would be good to keep the same syntax add new keyword READ_LOCK RECORD.

I think to keep all project functionality working it should be done

[2016-03-17 11:30] laa commented on #5844
Assign it to @lvca according to internal conversation with him.

[2016-03-17 11:54] #5812 closed

[2016-03-17 11:58] lvca commented on #89
Hi guys, I'd like to return on this to ask if you have a clear solution for the management of the key. Right now the key has to be entered in the server's console at startup. I see MongoDB, MariaDB and other DBMS asks for the key to an external server. Is there any standard we can rely on for this?

[2016-03-17 12:03] martingg88 commented on #3544
seems like this issue is already fixed.

[2016-03-17 12:05] martingg88 commented on #3671
seems like this issue is already fixed.

[2016-03-17 12:09] thierry-github commented on #5835
hi @maggiolo00

the SQL command :
create index TestIDX on myClass (field) NOTUNIQUE
field is the embedded property

I've tried it with studio with the same result

[2016-03-17 12:14] laa commented on #3671
Cool ! I am closing it.

[2016-03-17 12:14] #3671 closed

[2016-03-17 12:14] laa commented on #3544
Cool ! Thank you for feedback.

[2016-03-17 12:14] #3544 closed

[2016-03-17 12:24] taburet commented on #5348
@doppelrittberger sorry for being so delayed on issue. I have tested nulls in composite keys on different versions and found that [`ignoreNullValues = false`](http://orientdb.com/docs/last/Indexes.html#indexes-and-null-values) index option fixes the problem. Please verify this resolves your problem, if it still actual.

[2016-03-17 12:30] laa commented on #4602
Hi @StarpTech
It is very old question but we have implemented in 2.2 version non blocking incremental backup feature. But unfortunately it is accessible only in enterprise version.

[2016-03-17 12:30] #4602 closed

[2016-03-17 12:31] martingg88 commented on #5825
any update for this issue?

[2016-03-17 12:35] healiseu opened #5845 "Projection query with non-existing field does not return an empty set of records ?"
Hi,
perhaps this is a known issue, or maybe I am missing something here but could you please explain why  I am getting back records instead of an empty list when I issue an SQL command query of the form

`select  "XGDFGKWOERKTHJDERGGDH" from V`

If there is not any record with a "XGDFGKWOERKTHJDERGGDH" field then it should return 0 record(s) or an error, or perhaps a warning

I am testing the late

[2016-03-17 12:36] StarpTech commented on #4602
@laa thanks for the tip.

[2016-03-17 12:37] laa commented on #3221
Fixed in latests 2.1.x version

[2016-03-17 12:37] #3221 closed

[2016-03-17 12:37] compensator commented on #89
This is why I mentioned Hashicorp Vault as a test case.  It's on Github [https://github.com/hashicorp/vault].

[2016-03-17 12:37] #3196 closed

[2016-03-17 12:38] #3032 closed

[2016-03-17 12:39] compensator commented on #89
For users of the Lucene index, they might want to look at the Credeon SDK.  I haven't dug into it deeply.

[2016-03-17 12:41] laa commented on #2627
That is not true, even if we update  million of records we always use only few threads. So this issue is irrelevant. Feel free to reopen it if you do not agree.

[2016-03-17 12:41] #2627 closed

[2016-03-17 12:46] #1608 closed

[2016-03-17 12:47] #1016 closed

[2016-03-17 12:49] #955 closed

[2016-03-17 12:51] #459 closed

[2016-03-17 13:01] laa commented on #5482
Fixed in latest 2.1.x version

[2016-03-17 13:01] #5482 closed

[2016-03-17 13:03] #5224 closed

[2016-03-17 13:06] scrabb opened #5846 "Select not using the most efficient index in 2.2 (may occur in preivous versions)"
In the following scenario

class of Car
subclass of Ford

build a lucene index on both for a property called Model

I would then expect
`select from Car where Model lucene "escort"`
to use the Car.Model lucene index and

`select from Ford where Model lucene "escort"`
to use the Ford.Model lucene index.

However when using the "explain" command it says that both only use the Car.Model index.

[2016-03-17 13:09] laa commented on #5487
Hi @martingg88 ,
Could I ask you to create test, to resolve given issue ?

[2016-03-17 13:19] martingg88 commented on #5487
please close this issue. I dun have this issue again.

[2016-03-17 13:26] luigidellaquila commented on #5845
Hi @healiseu

that query is the same as
[code]
so it just scans all the V class and for each row returns a record with a single value

{ XGDFGKWOERKTHJDERGGDH: "XGDFGKWOERKTHJDERGGDH"}

The second query returns empty records, one per existing vertex. They are empty because your vertices do not have an attribute called XGDFGKWOERKTHJDERGGDH.

This is the expected behavior, I know it can sound stran

[2016-03-17 13:28] abhishekmishra17 opened #5847 "Java Graph api to serach vertex w.r.t property value"
HI ,
In graph api Documentation I didn't get to search Vertex with respective to property value , but I can achieve that in console.

Select from myvertex  where propertyKey='test'

How can i achieve this with Java Graph Api

[2016-03-17 13:31] luigidellaquila commented on #2506
Hi guys,

Personally I think that our SQL syntax is already too cluttered of reserved words, we should work to simplify it, not to add new variants.

I'd like to drop an close this issue, WDYT?

Thanks

Luigi

[2016-03-17 13:36] luigidellaquila commented on #1528
This issue was fixed long time ago

Closing, please reopen if you still experience similar problems

Thanks

Luigi

[2016-03-17 13:36] #1528 closed

[2016-03-17 13:37] luigidellaquila commented on #999
Usage of multiple indexes with OR conditions was implemented in 2.1.

Closing

Thanks

Luigi

[2016-03-17 13:37] #999 closed

[2016-03-17 13:41] luigidellaquila commented on #5536
IMHO the settings `METADATA { ignoreNullValues : false }` should be the default, or even better, indexes with `ignoreNullValues = false` should never be used to optimize queries (eg. they should be used only for direct access with `SELECT FORM index:...`).

This change will break the performance all the existing databases, almost all the existing indexes will be useless.

Probably this can be put

[2016-03-17 14:22] lvca opened #5848 "Define query boundaries per user/role"
It would be useful to setup the query timeout and limit per user/role to avoid end-users can overload the server.

[2016-03-17 14:47] healiseu opened #5849 "Projection queries : @rid and rid fields"
When you have a projection query like this

[code]

If you parse the HTTP response you get back both **@rid** and **rid** fields.
I am not sure what is the purpose of these strange "@rid":"#-2:0" pairs but it is most confusing when you want to extract rid values. This is because you are querying for **@rid** field values and you are parsing **rid** values from the response.

I believe these @rid s

[2016-03-17 14:59] luigidellaquila commented on #5849
Hi @healiseu

The temporary RID comes from how the query projections are elaborated: the executor creates a temporary ODocument for every row in the result set, setting the "rid" field with the actual value of the projection.

When the ODocument is serialized to JSON, its temporary RID is serialized as well.

It's easier to understand if you do another kind of query, like

[code]

In this case it'

[2016-03-17 15:00] healiseu commented on #5845
@Luigi, I am asking from the developer's (user) point of view. I can understand perhaps this and other oddities that arise from schemaless approach but wouldn't be better if you mark this as an exception and simply return back 0 records ? Isn't that making it harder for me as a developer to parse the result of your query.

It is not only that sounds strange, it contradicts programming logic. If th

[2016-03-17 15:09] obi1kenobi commented on #89
Asking an external server is a good idea, similarly to MariaDB / MongoDB and others. It's better than entering the key manually into the console, as then it would be difficult to build e.g. an auto-restarting docker container with OrientDB in it.

[2016-03-17 15:11] healiseu commented on #5849
@luigidellaquila,
thanks for your prompt reply, bear in mind also, that when you parse queries that includes @rid in projection the http response is different than those queries with projection that does not include @rid, like the one you wrote

`select name from Person`

In the first case you get back these temporary RID, in the second you don't !

[2016-03-17 15:21] #5487 closed

[2016-03-17 15:29] luigidellaquila commented on #5830
Ok, I also fixed the base case, now your original query will work fine.

The fix will be released with 2.1.14

Thanks

Luigi

[2016-03-17 15:29] #5830 closed

[2016-03-17 15:35] thierry-github commented on #5632
Closed by @luigidellaquila  in issue #5830

[2016-03-17 15:35] #5632 closed

[2016-03-17 15:36] luigidellaquila commented on #5847
Hi @abhishekmishra17

you can use
[code]
or
[code]

I hope it helps

Thanks

Luigi

[2016-03-17 15:41] luigidellaquila commented on #5824
Hi @Ostico

you are right, we already removed it from 2.2, I think we should do the same in 2.1

Thanks

Luigi

[2016-03-17 15:52] uiterlix opened #5850 "Nullpointer exception when looping through vertices"
Hi,

Occasionally we get the following NullPointer exception when looping through the result of a vertex.getVertices(direction, edge label). It's pretty hard to reproduce and I can currently only fix it by restarting my application. I'm not really sure if it's related but until now I've only encountered this issue whilst working with a clustered orient setup (3 nodes).

[code]

Looking at the code

[2016-03-17 16:04] abhishekmishra17 commented on #5847
Thanks luigidellaquila,

Let me check that ,but it seems that it  only do  equal check ,what about if I want to performed >=,<= etc. operation

[2016-03-17 16:04] laa opened #5851 "In case of full load http connector 90% of time watis/process request data"
According to JProfiler snapshot https://drive.google.com/file/d/0B2oZq2xVp841bFZEOUNzazZYeEU/view?usp=sharing  in case of full load of server by HTTP using JMeter 90% of time is spent on system needs but not on real command execution.

[2016-03-17 16:07] Ostico commented on #5824
Since i must rewrite the continuous integration scripts, from which version maven it's safe to use?
I need some kind of backward compatibility over ant from a certain point?

[2016-03-17 16:19] jfernandezrico opened #5852 "Run Lucene Spanish Analyzer"
I'd like to run a spanish fulltext search on my "question" property within my "LimitedQuestion" class.
I added an index as follows, but I don't know if I need anything else:

`create index LimitedQuestion.question on LimitedQuestion(question) FULLTEXT ENGINE LUCENE METADATA
{"analyzer":"org.apache.lucene.analysis.es.SpanishAnalyzer"}
`

I also tried next index creation but I'm not able to run it
`

[2016-03-17 16:33] robfrank commented on #5852
which version are you using? the second is available only on 2.2.0-beta

[2016-03-17 17:07] luigidellaquila commented on #5847
Hi @abhishekmishra17

the API does not support range operations, to do that you have to execute a query:
[code]

Thanks

Luigi

[2016-03-17 17:25] abhishekmishra17 commented on #5847
Hi Luigi,
This seems to be fit for my requirement.Thank's a  lot for your support.

[2016-03-17 17:25] #5847 closed

[2016-03-17 18:25] chandra-n commented on #5827
@laa Sorry about the delay in my response. Unfortunately, my situation was such that I could not wait for a resolution, I ended up importing a previous snapshot of the database file. Having said that, I am pretty certain that the user account used to start the server is the same as I have always been doing and I have never faced this issue.

I just ran an ls -l on the affected database directory,

[2016-03-17 19:02] uiterlix opened #5853 "Database create does not successfully create a database on all nodes in a three node cluster."
When creating a new database in a cluster that consists of three nodes, the database is successfully replicated to one of the 2 other nodes but not to the second. See attached what the web console displays for the node to which replication did not succeed. This is OrientDB version 2.1.12.
![schermafbeelding 2016-03-17 om 19 43 49](https://cloud.githubusercontent.com/assets/439695/13857632/028969b6

[2016-03-17 19:19] sebastiandev opened #5854 "skip not working when filtering edges by field"
We have found a pretty serious issue when querying edges filtered by properties:

```select expand(bothE('Knows)[name='john']) from V skip 2 limit 10```

This absolutely ignores the skip and always returns the same 10.

There is a solution which requires rewriting:

```select from (select expand(bothE('Knows')) from V) where name = 'john' skip 1 limit 10```

This seems to work fine, although is qu

[2016-03-17 20:39] a-unite commented on #5845
Luigi,

I believe your explanation is have meaning and absolutely right.

But what I think @healiseu was asking for, was about another query:
`select XGDFGKWOERKTHJDERGGDH from V`
Notice that quotes are missed here, so we are talking about the XGDFGKWOERKTHJDERGGDH field, not string value.

@healiseu, suppose you have `Title` property in some of deep-nested sub-classes, while there are a lot of cl

[2016-03-17 20:49] a-unite commented on #5845
By the way, I really hope that strict mode (schema-full) classes (and whole database, maybe) will become more usable some day. But it is the theme for another discussions.

[2016-03-18 06:49] healiseu commented on #5845
@a-unite thank you for your explanation, now it seems clear that I have trouble understanding your IS NOT NULL logic. Hopefully I will overcome this obstacle.

[2016-03-18 08:22] jfernandezrico commented on #5852
Thank you for your quick response. I'm using 2.1.11.
So in 2.2.0, will be there more functionality for lucene?
What I want to get the words with the same root word or word stem. For example, If I look for the word "living" I want to match texts with word "life".
Is it possible? How can I do it?

[2016-03-18 08:40] RajathiNatarajan commented on #5841
Hi tglman,
    Any quick updates would be more helpful to resolve this issue.

[2016-03-18 09:47] seriouslyEnter commented on #5755
Will do.
Thanks

[2016-03-18 10:18] robfrank commented on #5852
I think the Spanish Analyzer is a stemming one, but it is better to check the Lucene's documentation about it:
https://lucene.apache.org/core/4_0_0/analyzers-common/org/apache/lucene/analysis/es/SpanishAnalyzer.html

It uses a StemFilter, so I guess it is capable of doing stemming on spanish words:

https://lucene.apache.org/core/4_0_0/analyzers-common/index.html?org/apache/lucene/analysis/es/Span

[2016-03-18 10:24] jfernandezrico commented on #5852
Ok. I'll try it. Thank you very much for your attention.

[2016-03-18 10:24] #5852 closed

[2016-03-18 13:58] zifnab87 commented on #5068
@tglman I was using 2.1.3 - Unfortunately I don't have code to replicate this and other issues although I had offered to give my db for check in the past. I have migrated to TitanDB - due to all those problems.  Thanks

[2016-03-18 15:05] cguerin commented on #5797
Yeah, I just tested opening an OrientDB database with the  2.1.13 JDBC driver using DBVisualizer and its unfortunately unreliable at getting field names.

When you open the JDBC connection DBVisualizer can see the tables, but DBVisualizer doesn’t know what they’re named.

If you write…. Select * <any table> you have a 50/50 chance of getting any field names or columns back.

I had one table succes

[2016-03-18 15:07] zerovian opened #5855 "orientdb fails to load on AIX because javascript script engine is missing"
When orientdb loads it tries to load the javascript script engine in OScriptManager static block.  If the 'javascript' script is not present, Orientdb generates a warning by calling OLogManager.warn(...). This is normally fine, except this happens during the static block initialization call in Orient class.

The OLogManager tries to access ODatabaseRecordThreadLocal which hasn't initialized yet so

[2016-03-18 15:16] robfrank commented on #5797
Thank you very much. I will work to improve the JDBC in the next weeks, hoping to reach a better point of compatibility with the standard.

[2016-03-18 15:38] zerovian commented on #5855
Found a workaround:

If I disable warnings in OLogManager before artificially loading Orient class, then it avoids the circular static initialization.

		OLogManager.instance().setWarnEnabled(false);
		Orient.instance();
		OLogManager.instance().setWarnEnabled(true);

[2016-03-18 16:11] uiterlix commented on #5850
Some more background on when this happens. It actually happens after the first interactions with a entirely new database (distributed) and is solved after restarting our application. I've never seen it when using a non-distributed orientdb instance. After this restart it never seems to happen anymore. Maybe some local driver caching in combination with a new database ?

[2016-03-18 20:01] msusicky commented on #5815
Thanks for quick reply, but I tried it 5 times and it crashed two times :(
And one new NPE is here. I'm ready to fully cooperate with you, if you are interested, just send me a message.

d:\Prace\orientDB\orientdb-community-2.1.13\bin>oetl.bat account.json
OrientDB etl v.2.1.13 (build 2.1.x@r9bc1a54a4a62c4de555fc5360357f446f8d2bc84; 2016-03-14 17:00:05+00
00) www.orientdb.com
BEGIN ETL PROCESSOR
[

[2016-03-19 00:26] arsalan-khan opened #5858 "Possible socket leak"
We saw the following issue on our standalone orientdb server which had been up and running for close to 1 day.
OrientDB Server v2.1.13 (build 2.1.x@r9bc1a54a4a62c4de555fc5360357f446f8d2bc84; 2016-03-14 17:00:05+0000)

Reached maximum number of concurrent connections (max=1000, current=1001), reject incoming connection from /127.0.0.1:34796 [OServerNetworkListener]

Looking at the output of netstat

[2016-03-19 08:56] robfrank commented on #5815
The best would be to have the configuration json and a data sample.

[2016-03-19 15:16] smolinari commented on #5825
Can someone please change the title to something like, "I need to find better performance for a geolocation query"? Thanks!

Scott

[2016-03-19 15:34] uiterlix commented on #5853
What is the suggested way of creating databases in a distributed setup ? It seems to be pretty fragile.

[2016-03-20 13:46] martingg88 opened #5859 "worse query performance"
I do have 10 records for user class, but the following query take about 6 seconds. any ideas?
FYI "explain select from #16:5" is more faster than normal query as follows:

select from #16:5

{
    "result": [
        {
            "@type": "d",
            "@version": 0,
            "fetchingFromTargetElapsed": 1,
            "documentReads": 1,
            "current": "#16:5",
            "evaluat

[2016-03-20 17:20] rainkin1993 opened #5860 "how to insert utf-8 code into oridentdb string type"
I am using python 2.7.8 with Orientdb 1.7.9

this command works fine, it will create a vertex in which s = "放"

but due to some problems in Python, I can't convert a unicode string into the form like '\u653e'
What I get is just utf-8 code, like '\xe6\x94\xbe'

It creates a vertex in which s = "xe6x94xbe"
the result is not what I want.

So I want to know how to do this!

Thx

[2016-03-20 17:49] davidheryanto commented on #5823
Hi Risa. Yes, I think it would be great to be able to configure it from the UI (or at least add the option to use default hazelacast.xml or specify our own xml). Thanks

[2016-03-20 19:25] lvca commented on #5859
This means record #16:5 has many links/edges, so the loading takes a lot of time. Could you check this?

[2016-03-20 23:15] cwaldron commented on #1930
What is the status of this issue.  This issue is scheduled in 2.2.0-rc1 release but is still open at this time.  To have a major feature change open for an RC at this stage seem incorrect to me.  If this issue is still open it would have be moved out of RC to another milestone.  Is this the case or is this issue closed?

[2016-03-21 00:28] PhantomYdn opened #5861 "Insufficient validation in OSchemaShared.checkClassNameIfValid()"
Validations made in methods OSchemaShared.checkClassNameIfValid() and OSchemaShared.checkFieldNameIfValid() are insufficient. Please make corresponding corrections.
For example: it's allowed to create class 'Test-Dashes', but then it's impossible to work with such class due to lot of runtime error in different places.
And my opinion, that validations for those methods should be inclusive, but not

[2016-03-21 00:37] martingg88 commented on #5859
yes. what should I do to loading record itself only, not loading links/edges

[2016-03-21 05:29] martingg88 commented on #5859
@lvca I found out another issue as follows:

The following query will scan all records for non-existent record.
Thus it will have slow performance.
However it will only scan related records for existent record.

select from indexvaluesdesc:list.in where out = #16:500000 limit 13

[2016-03-21 08:08] lvca commented on #5859
@martingg88 the query `select from #16:5` loads the entire record content. If you don't need some properties that could be expensive in terms of loading, use `exclude/include` function.

[2016-03-21 08:09] lvca commented on #1930
This was moved in v3.0 in our roadmap, this issue hasn't been updated.

[2016-03-21 08:10] martingg88 commented on #5859
can i use the fetchplan to exclude all of the out/in edge/link?

[2016-03-21 08:31] martingg88 commented on #5859
I do have another poor query like stupid. hope you can help.

1. the following take less a seconds.

 select rid, rid.active as active  FROM index:hotel.category WHERE key LUCENE '\"hotel\"~2' SKIP 0 LIMIT 11

2. the following is most worst that have more than 35 seconds..

SELECT FROM (
 select rid, rid.active as active  FROM index:hotel.category WHERE key LUCENE '\"hotel\"~2' SKIP 0 LIMIT 11
) W

[2016-03-21 08:42] laa commented on #5707
Hi, could you provide full stack trace, not only exception itself.

[2016-03-21 09:10] martingg88 commented on #4806
Your opinion
Version: 2.1.12
Years of experience: 1
Goods: support both document and graph, and also sql parser.
Bads: The documentation is not completed
Problems: Really poor performance

Your configuration
Driver: nodejs
Protocol: binary
Distribution enabled : no

[2016-03-21 09:19] laa opened #5864 "Create builder to simplify index creation"

[2016-03-21 09:46] laa opened #5865 "Allow to start manual transaction only if auto transactions are disabled in graph database"
If we run OrientGraph#begin method in many cases auto transaction is already started. As result during call of OrientGraph#commit method transaction is not committed and changes are not stored.

[2016-03-21 09:57] luigidellaquila commented on #5854
Hi @sebastiandev

Thanks for reporting, I'll check it ASAP. Which version? 2.1.13?

Thanks

Luigi

[2016-03-21 10:09] laa commented on #5465
@vtliem is it correct that you remove field from document and that causes exception ? your issue is following, when you remove field you effectively put null there from index point of view and by default we do not support null values, as result system becomes "lost" and does not know what to do with your document. To support null values could you create index with metadata with ignoreNullValues fl

[2016-03-21 10:14] laa commented on #5827
@chandra-n sorry but I am sure that is OS exception. We only call single method which delegates to OS to acquire process locks on files. During process crash OS should release lock but it did  not do this which causes problems. To avoid this in future I would recommend you to use following property `file.lock=false` .

[2016-03-21 10:14] #5827 closed

[2016-03-21 10:16] laa commented on #5679
Hi @maggiolo00 do we have tree support for ridbags in Node.js driver ?

[2016-03-21 10:18] laa commented on #5679
@martingg88 what is your HW environment ? Could you provide numbers ?

[2016-03-21 10:27] maggiolo00 commented on #5679
@laa
nope we do not have the tree support.

[2016-03-21 10:29] martingg88 commented on #5679
I do have this issue at my localhost environment which supposed to have high-end performance.
But I set 512MB memory for server.bat.

Intel core i7-3517u CPU @ 1.9GHz
12.GB RAM
64 bit

[2016-03-21 10:48] luigidellaquila commented on #5850
Hi @uiterlix

Good point, the schema creation and reload could be an important factor here.

Thanks

Luigi

[2016-03-21 11:00] luigidellaquila commented on #5861
Hi @PhantomYdn

we are doing some important improvements on this.
The final goal is to use back-tick quoting to allow all any character in class and field names, eg.

[code]

This already works for queries in v.2.1, but the complete support of back-ticks in DDL statements will be released only in 2.2

Thanks

Luigi

[2016-03-21 11:01] laa commented on #5679
I think this issue may be split on two issues , one is support of tree ridbag in Node.js and second is support of delayed deletion of vertexes with many edges.

[2016-03-21 11:03] laa commented on #5679
Well I think I should put it in 3.0 version.

[2016-03-21 11:03] luigidellaquila commented on #5859
Hi @martingg88

the difference of performance could be due to record unmarshalling.

What does that record contain? How big is that?

Thanks

Luigi

[2016-03-21 11:10] maggiolo00 commented on #5679
Tree ridbag support is here

https://github.com/orientechnologies/orientjs/issues/29

[2016-03-21 11:11] laa opened #5866 "Delayed delete of vertexes with many edges"
Now to delete vertex we need to:
1. Load all links/edges to other vertexes.
2. Remove link to the current vertex in all vertexes.
3. Remove current vertex.

What is proposed to do:
1.  Add support to mark vertex to be soft deleted and ignore such vertex in query/command processing and iteration among vertexes.
2.  Update all related vertexes in background thread.
3. During completion of task backg

[2016-03-21 11:12] laa commented on #5866
This issue related to https://github.com/orientechnologies/orientdb/issues/5679

[2016-03-21 11:13] laa commented on #5679
Also issue about delayed removal of vertexes, which explains reason of current issue https://github.com/orientechnologies/orientdb/issues/5866

[2016-03-21 11:13] laa commented on #5679
I think once we fix both of them this one will be fixed automatically.

[2016-03-21 11:15] #2506 closed

[2016-03-21 11:17] luigidellaquila commented on #5077
Hi @rakeshghodasara

the DISTINCT operation is memory bound, so OrientDB will try keep the resultset in memory.

You can avoid this by providing more RAM or by adding some constraints to the inner query, like a LIMIT.

We are working to move all the transaction management on a disk-backed structure, to completely solve this problem. This feature is in the roadmap for v 3.0, so in the short term I

[2016-03-21 11:18] laa commented on #5467
Hi @vantonov1 , what version do you use ?

[2016-03-21 11:22] laa commented on #5665
Hi @publicocean0 is it possible to get example of database and/or full stack trace of exception to reproduce given issue ?

[2016-03-21 11:25] martingg88 commented on #5859
It might have more than 50k records.
each record will have one link and many photo records.

how to solve this issue?

[2016-03-21 11:28] martingg88 commented on #5679
where do you think 3.0 will be released?

[2016-03-21 11:32] vantonov1 commented on #5467
Hi!

Hmm... Most probably it was 2.2.0-beta

I gave up with Orient in December - too unstable for me (most probably because I need embedded mode with complicated transactions)

[2016-03-21 12:03] laa commented on #5467
Sad to hear that in 3.0 we are going to introduce new transaction model, hope you will be back to us.

[2016-03-21 12:16] vantonov1 commented on #5467
Ok, lets check, see you with 3.0-beta :)

Ah, one more stopper was https://groups.google.com/forum/#!topic/orient-database/MMVQAj3FlvE

[2016-03-21 12:53] laa commented on #5467
Well @vantonov1 I have tried to reproduce your issue according to description but no luck.  Sad that we reacted so later. But we have new working schedule which allows to react on all issues much earlier. Also as I have wrote in 3.0 version we will have new transaction system.

[2016-03-21 12:53] #5467 closed

[2016-03-21 13:08] sebastiandev commented on #5854
2.2.0-SNAPSHOT

On Mon, Mar 21, 2016 at 6:57 AM, luigidellaquila <notifications@github.com>
wrote:

[2016-03-21 13:23] msusicky commented on #5815
Just for the record - config and sample was sent directly to Rob due to privacy reasons :)

[2016-03-21 13:25] laa commented on #2284
Well it is strange but #getInideces() returns  only manual indexes, assigned to @tglman to provide proper design.

[2016-03-21 14:20] laa commented on #5563
@nadestin agree with you , thank you for the patch.

[2016-03-21 14:56] #5563 closed

[2016-03-21 16:01] sivan123 opened #5867 "Convenience method to get the rid"
Can we have a one consistent way getting the rid without the # in front?
Something like  doc.getRID(), vertex.getRID() ?

[2016-03-21 16:05] luigidellaquila commented on #5867
Hi @sivan123

do you have a Java ODocument? You can do

[code]

The same applies to OrientVertex and OrientEdge

Thanks

Luigi

[2016-03-21 16:18] luigidellaquila commented on #5854
Hi @sebastiandev

I just pushed a fix on branches 2.1.x and develop (2.2), the fix will be available in next 2.1.14 and 2.2 beta2

Thanks

Luigi

[2016-03-21 16:18] #5854 closed

[2016-03-21 16:50] sebastiandev commented on #5854
that was fast! thanks!

[2016-03-21 17:11] chandra-n commented on #5827
@laa, thanks a lot for your follow up. I will keep the property in mind. Are there any issues I should be wary of when I set file locking to false?

[2016-03-21 22:17] Vani-gurnani commented on #4978
I am also waiting for it and would switch right now if it starts supporting GraphQL :+1:

[2016-03-22 00:02] vtliem commented on #5465
When I don't remove the field, I can save document, but after that, cannot add user to task.
(https://github.com/orientechnologies/orientdb/issues/5465#issuecomment-189100554)

[2016-03-22 01:28] tglman commented on #5837
hi @whatyouhide,

I put the wrong id  in the commit sorry, here we go: https://github.com/orientechnologies/orientdb/commit/253e3cf7f3ac001fbb589a6e952bb038364d0faf

bye

[2016-03-22 01:47] tglman commented on #5841
Hi @RajathiNatarajan,

Yes i saw this exception already and i never been abl4e to reproduce it, it's probably a problem of concurrency between operations and starting-up/shutdown of the client while some operation are running.

What version of orientdb are you using ?

Do you connect using everytime the same user or you use multiple users ? do you use one or multiple database from the same client

[2016-03-22 01:55] tglman commented on #5839
hi @cvm1ll3

when yuo start the server it print some version informations that include a commit id, can you post it here so we can get at the right point.

Will be cool if we can have a sample function for reproduce the problem, se we may add it to our test suite.

[2016-03-22 05:27] sukesh-soman commented on #5355
Hello,

Not sure if this is related or not, but I am also seeing a strange difference in behavior when we create a link against a plocal & remote DB.

I ran the below commands on a database created as plocal and got the error mentioned below. If I create another db of type remote, it works just fine.

Am I missing something?

[2016-03-22 08:09] laa commented on #5465
@vtliem you do not need to keep field, you should create index in the way which I described above. Could you do that ?

[2016-03-22 08:12] laa commented on #5065
It is already fixed in 2.1 version, will be in next hotfix.

[2016-03-22 08:12] #5065 closed

[2016-03-22 08:16] laa commented on #5441
Hi, that is issue in string presentation of  ridbag I will fix it , to avoid missunedrstating

[2016-03-22 08:18] gauravarora commented on #4950
We're facing a similar problem. When can we expect this to be closed?

[2016-03-22 08:19] nagarajasr commented on #5441
Thanks for taking a look!

[2016-03-22 08:40] wouterv commented on #4950
The freeze speed is unchanged, but the quorum issues were resolved in 2.1.7

[2016-03-22 08:41] wouterv commented on #4950
Also we added this to the server config to work around the timeouts:

<entry value="30000" name="distributed.crudTaskTimeout"/>

[2016-03-22 08:42] tglman commented on #4846
Hi @67726e,

I think the issue exist only if you use strictMode= false on the sql, and that cannot be really fixed, we are working to rewrite the engine to  completely fix that in 3.0, now with strictMode should work because we do a preparsing phase that rebuild a statement that the old parser can handle.

i think @luigidellaquila  can give more update on this.

[2016-03-22 09:15] vantonov1 opened #5868 "Cant combine two lucene indexes in one query"
2.2.0-beta

Search with 2 lucene indexes like

 select from C1 where [p1,p2] LUCENE "p1:1 AND p2:2"

where are 2 separate indexes for p1 and p2
produces orientechnologies.orient.core.exception.OCommandExecutionException: Cannot evaluate lucene condition without index configuration.

Create index for every combination of fields is not a solution
`

[code]

`

[2016-03-22 09:22] laa commented on #5827
You can not connect using plocal: from several JVMs also you can not connect to running server using plocal: the rest is OK :-)

[2016-03-22 09:28] vantonov1 commented on #5467
I checked again, situation with lucene indexing is simple - all fields encountered in query have to be indexed in the same lucene index. So, if I query for fields from both class and superclass, I cant use index from superclass, all fields from superclass have to be reindexed again

 I created issue https://github.com/orientechnologies/orientdb/issues/5868

[2016-03-22 09:40] laa commented on #5441
Fixed.

[2016-03-22 09:40] #5441 closed

[2016-03-22 09:42] luigidellaquila commented on #5868
Hi @vantonov1

this syntax is not supported for separate indexes.

You have two alternatives here:

- use the indexes separately:
[code]

- define a composite index
[code]

Thanks

Luigi

[2016-03-22 09:47] luigidellaquila commented on #4846
Hi @67726e

Please take a look at this

http://orientdb.com/docs/last/Release-2.1.0.html#strict-sql-parser

Could you please check if strictSql is enabled in your db? Probably the problem is there

Thanks

Luigi

[2016-03-22 09:52] laa commented on #5355
@sukesh-soman it is SQL issue could you create separate ticket for  your case ?

[2016-03-22 09:58] sukesh-soman opened #5869 "Unable to create a link in plocal document database. Same works in a remote document db"
Hello,

I see a strange difference in behavior when we try to create a link against a plocal & remote DB.

I ran the below commands on a database created as plocal and got the error mentioned below. If I create another db of type remote, it works just fine.

Am I missing something?

[2016-03-22 09:58] sukesh-soman commented on #5355
Sure laa. Created #5869

[2016-03-22 10:02] vantonov1 commented on #5868
Imagine p1 is from a superclass. Second solution means I need to include p1 into all indexes for all subclasses, that is not good

First solution is possible, but I need to control, where it is possible to do one query to lucene, and where I should combine it with orient syntax

IMHO, it is better to just put all fields marked as "lucene indexed" into one lucene index, not related to orient classe

[2016-03-22 10:10] luigidellaquila commented on #5868
Assigning to @robfrank, he is doing some tests on a "global" lucene index, maybe he can give you some details.

Thanks

Luigi

[2016-03-22 10:13] laa commented on #2121
Fized.

[2016-03-22 10:13] #2121 closed

[2016-03-22 11:16] oliverfleetwood opened #5870 "Issues with pivoting query on singleton Collections"
Hi, check the below example:

[code]

We expect size to be 1 in all queries, but as seen in the $failed1 there is a problem when there is just one object in the collection.

Though it seems to be a limited use case this becomes an issue when you don't know if there are multiple objects in the collection after pivoting or just one. The workaround is to always put the pivoted elements in a list, whi

[2016-03-22 11:22] RajathiNatarajan commented on #5841
Hi tglman,

Yeah, its really hard for me to reproduce the same, but the thing is it not looks good to move it for production with unreliable system.

version am using is 2.0.8

Trying to connect with same user and also a single database.

hope this information would help you....

Thanks

[2016-03-22 12:50] oliverfleetwood commented on #5870
Update: my workaround is no good. If you have multiple records in the result set the list will be taken over all returned records (for example, replace ```from $v1``` with ```from V``` in the query above)

[2016-03-22 14:24] sivan123 commented on #5867
Hi @luigidellaquila , as always, thank you for the quick reply.
That one does not return the one that I am looking for

Let's say
String query = "select @rid,name,uid from User";
List<ODocument> result = db.query(new OSQLSynchQuery< ODocument>(query));

doc.getIdentity().getClusterId()+":"+doc.getIdentity().getClusterPosition() will give me -2:0

While what I am after is the @rid which is 12:0 fro

[2016-03-22 14:31] laa commented on #5355
Hi @jlowenz , sorry but I do not understand a thing in clojure code.
Also I have tried to debug code but without success. I do not think there is a issue in ODB because this simple test case was tested inside of project and by many users. Could you provide alternative Java version of pseudo algorithm so I will understand your test ?

[2016-03-22 14:40] luigidellaquila commented on #5867
Hi @sivan123

If you retrieve a full record with

[code]

you will have a regular persistent ODocument, so my solution will work fine.

If you do a projection (@rid, name, uid in your case), you will get a document with a temporary RID (#-2:0 in your case)

You can do the following:
[code]

Thanks

Luigi

[2016-03-22 15:07] robfrank commented on #5815
Hi, solution to this problem is more complex than expected. My suggestion is to run with parallel set at false. It takes a little bit longer, but on my tests it never locks.

[2016-03-22 15:44] sivan123 commented on #5867
Thanks @luigidellaquila Oidentifiable does not seem to have the method getClusterId and getClusterPosition

http://orientdb.com/javadoc/latest/com/orientechnologies/orient/core/db/record/OIdentifiable.html

[2016-03-22 15:47] laa commented on #5802
@sivan123 it seems like you use different versions of orientdb on server and client.  Is it possible ?

[2016-03-22 15:59] laa commented on #5757
Closed because of no answer for 20 days.

[2016-03-22 15:59] #5757 closed

[2016-03-22 16:00] luigidellaquila commented on #5867
Ops, sorry, try this:

[code]

[2016-03-22 16:06] PhantomYdn commented on #5352
Still no ability to test on prod for 2.2-SNAPSHOT.

But there is significant degradation of this issue in 2.1.13 (probably introduced somewhere here: 2.1.10-2.1.13). If before it took ~20 sec for schema update - now it can take up to 2 minutes(!!!) for simple update like adding new class.

[2016-03-22 16:11] robfrank commented on #5868
@vantonov1 I'm working on a single big index per database, but logical partitioned by class.
So you can define and index on multiple fields:
[code]
and the query it with a function:

[code]

note that in the lucene query you should specify className and fieldName.

I would like to hear from you some suggestion in form of hypothetical index definition, queries and results. Voice of users is very im

[2016-03-22 16:20] laa commented on #5352
@PhantomYdn could you profile such update and send us yourkit snapshot if possible ? I do not think that issues are related , so would be good to send to me for example by email.

[2016-03-22 17:23] PhantomYdn commented on #5352
During class creation it hanging here:

[code]

And then a catched:

[code]

During property creation:

[code]

Looks realy strange... It's unclear: is it just one call for random file access or there multiple invocations. But so drastical degradation was not here before.

[2016-03-22 17:24] jlowenz commented on #5355
@laa, I will convert the test case to Java to ensure that the error still exists and make it easier to understand... it might take a day or so...

[2016-03-22 17:31] cvm1ll3 commented on #5839
hi @tglman,

here's the pseudo code sample function:

<code>
function: newContact
</code>

gdb = orient.getGraph();

/* creates a vertex with an address property [linklist] */
json = {};
json.class   = "Contacts";
json.cluster = "CLUSTER Contacts_" + division;
json.content = contacts;
newContact = MISC_createVertex(json);

/* creates address vertex */
json = {};
json.class   = "Address";
json.clus

[2016-03-22 18:04] whatyouhide opened #5871 "Documentation for REQUEST_PUSH_DISTRIB_CONFIG"
Documentation for the `REQUEST_PUSH_DISTRIB_CONFIG` is missing. I expected to find it alongside the [documentation for `REQUEST_PUSH_LIVE_QUERY`](http://orientdb.com/docs/last/Network-Binary-Protocol.html#request-push-live-query). Right now, the documentation only states that the operation byte for this operation is `80`, but nothing else.

[2016-03-22 18:52] crbaptiste opened #5872 "Remote OCommand update not reloading vertex (v2.1.x)"
When an SQL Update command is run using the Graph API connected to a remote database, the update saves to the database but when the vertex is retrieved using getVertex(rid), a stale version is retrieved. **NOTE: This issue is not seen when running against a local database.**

This has been observed in v2.1.x.

Here is a example code to reproduce there error:

[code]

If run as is output looks like

[2016-03-22 21:30] whatyouhide opened #5873 "Unexpected format in the payload for REQUEST_PUSH_LIVE_QUERY"
The [documentation for the format of `REQUEST_PUSH_LIVE_QUERY`](http://orientdb.com/docs/last/Network-Binary-Protocol.html#request-push-live-query) says that the format of a pushed payload (the `contents:bytes`, not the whole payload) looks like this:

[code]

However, the actual payload I'm receiving has a byte (byte `114`, ASCII for `r`) before `operation`. This is not documented in the format f

[2016-03-23 00:31] vtliem commented on #5465
The same exception raised.
When users field (linkset type) was removed, userid also was removed from OCompositeKey.

Normal:
`[state(BYTE),userid(LINK-One of users)],time(LONG),registered(LONG),no(INT)]`
When users field was removed, the index key became:
`[state(BYTE),time(LONG),registered(LONG),no(INT)]`

Because of that, removing this key from index, time (LONG) will be cast to LINKED->exceptio

[2016-03-23 02:15] tglman commented on #5824
from 2.0.x is produced a full dist using maven

[2016-03-23 08:26] laa commented on #5352
Well it is clear for me, and already fixed in issue which we discuss now
:-)).

On Tue, Mar 22, 2016 at 7:23 PM Ilia Naryzhny <notifications@github.com>
wrote:

--
Best regards,
Andrey Lomakin, R&D lead.
OrientDB Ltd

twitter:@Andrey_Lomakin linkedin:https://ua.linkedin.com/in/andreylomakin

[2016-03-23 08:27] laa commented on #5465
@vtliem yes I understand that, the point is that given flag prevents this behaviour.
OK I will look on it next week.

[2016-03-23 08:49] luigidellaquila commented on #5872
Hi @crbaptiste

In current release it is a known limitation and the expected behavior.

Please check the docs here

http://orientdb.com/docs/last/Transactions.html

Thanks

Luigi

[2016-03-23 09:02] PhantomYdn commented on #5352
That's great:) Thanks! But when we will have some fix? In 2.2 or 2.1.14? And as I said, things became worsen in latest 2.1.X fixes... Any workaround for 2.1?

[2016-03-23 09:20] laa commented on #5355
@jlowenz Thank you very much for  your time.

[2016-03-23 09:43] vantonov1 commented on #5868
For me it sounds great. One question is inheritance - definitely it is needed to find row by inherited fields

[2016-03-23 10:12] oliverfleetwood opened #5874 "Delete Edge from empty subquery with bad performance"
According to the documentation, edges from a subquery should be done as:

[code]

Now, if record 11:0 has been deleted or if the subquery returns empty results, orientdb will scan the entire edge class and you'll get a warning that the query returned a lot of records, which of course is bad for performance. Obviously, if the subquery is empty the command should just terminate. I'm using orientdb 2

[2016-03-23 10:31] luigidellaquila commented on #5874
Hi @oliverfleetwood

I think it's worth implementing the following syntax:

[code]

I marked it as an enhancement, I'll work on it asap

Thanks

Luigi

[2016-03-23 11:44] Ostico commented on #5824
Tnx

[2016-03-23 13:30] TeamXceleratorDev opened #5875 "Threading deadlock with Edge unique indexes"
In 2.1.12, it is possible to create a thread deadlock when threads are inserting into an Edge class which has a property bound by a unique indexes.  Performance slows down and comes to a halt.  I will try to attach an example database later which can reproduce the issue.  Work-around for now is to simply remove the unique index.

[2016-03-23 13:33] laa commented on #5875
Hi @TeamXceleratorDev ,
We need full thread dump to fix such kind of issues, also we already have similar issue and may be it is already fixed in 2.1.14. Any way please do not try 2.1.14 but send us full thread dump instead.

[2016-03-23 13:36] crbaptiste commented on #5872
I had already read that doc, but I missed that the OCommand happens outside the transaction.

Is this something that future versions will remedy or a limitation that we just need to get used to?

[2016-03-23 13:55] gerdhub commented on #5875
After some more investigations, this seems to be related to #5821.

[2016-03-23 14:03] laa commented on #5875
Ok, any way please send us full thread dump to fix it.

[2016-03-23 14:50] luigidellaquila commented on #5872
Hi @crbaptiste

We will implement server-side transactions in the future, so this problem will be eventually fixed, but in the short term I think you will have to deal with this limitation.

Thanks

Luigi

[2016-03-23 15:23] crbaptiste commented on #5872
Thanks for the clarification!

[2016-03-23 15:23] #5872 closed

[2016-03-23 16:17] TeamXceleratorDev commented on #5875
Here is a sample stack using jconsole from my loading app.   It actually seems similar to issue #5433.  I am testing now with 2.1.13 GA. The issue still exists.  It only happens when I have a multi-threaded edge insertion with a unique index on an edge property.

Name: Thread-3
State: WAITING on java.util.concurrent.locks.ReentrantLock$NonfairSync@629f6714 owned by: OrientDB <- Asynch Client (/127

[2016-03-23 16:24] TeamXceleratorDev commented on #5875
Here is the thread dump from Orient itself:

Full thread dump Java HotSpot(TM) 64-Bit Server VM (25.73-b02 mixed mode):

"OrientDB HTTP Connection /0:0:0:0:0:0:0:1:2480<-/0:0:0:0:0:0:0:1:49691" #399 daemon prio=5 os_prio=31 tid=0x00007fcdd6552800 nid=0x621b runnable [0x0000000122d29000]
   java.lang.Thread.State: RUNNABLE
	at java.net.SocketInputStream.socketRead0(Native Method)
	at java.net.Socke

[2016-03-23 17:12] fzwaard opened #5876 "Unable to set timezone "Europe/Rome""
I'm using OrientDB community edition 2.1.11 on a Ubuntu 14.04 server

From Studio I tried
ALTER DATABASE TIMEZONE "Europe/Rome"
and
ALTER DATABASE TIMEZONE Europe/Rome
but both these commands set the timezone to GMT.

I tried also
ALTER DATABASE TIMEZONE GMT+1
and this works giving me GMT+1 (CET), but is not the same as "Europe/Rome" (CET/CEST).

[2016-03-23 17:49] IliadrilA opened #5877 "Impossible to clean "invalid verices""
Hello, I am facing an issue using Java API to get

[code]

And I am getting this trace:

[code]

However, while performing it in debug, I can see that the vertexOut is displayed as '<invalid record #11:6440593>'. I guess that Vertex is corrupted, so I would like to be able to delete it. Trying it with:

[code]

It appears it does not work.

could you please help me to know how to delete this "inva

[2016-03-23 22:19] msusicky commented on #5815
Thanks, I did it this way, but if you have 150M rows, it's a very long procedure :( So I will wait for this fix.

[2016-03-23 22:45] lvca commented on #3496
Sorry, we are so in late with v2.2 that this feature, even if little, has to be postponed.

[2016-03-23 22:55] joe568277 opened #5878 "Poor performance of commit when deleting from graph"
_Affects OrientDB release 2.1.13._

We're encountering very slow performance of commits when deleting from the graph, and have tracked this down to the callback executed to update the indexes. The following test case demonstrates this:

[code]

The time taken to commit a batch of 1000 deletions appears to be linearly proportional to the database size, or worse:
![plot](https://cloud.githubusercont

[2016-03-24 00:04] #5824 closed

[2016-03-24 00:08] Ostico opened #5879 "[ OrientDB version 2.1.13 ] Regression on build. Maven build failed."
I tried to compile version **2.1.12** with maven and _it works_.

I tried again with maven on OrientDB v2.1.13 and it **do not compile**.

[code]

[2016-03-24 04:47] smolinari commented on #5879
It is just a guess, but what version of Java do you have?

Scott

[2016-03-24 05:57] laa commented on #5878
Related too https://github.com/orientechnologies/orientdb/issues/5866

[2016-03-24 06:00] laa commented on #5879
Hi,
Well it was my issue, it is already fixed in 2.1.14.

On Thu, Mar 24, 2016 at 6:47 AM Scott <notifications@github.com> wrote:

--
Best regards,
Andrey Lomakin, R&D lead.
OrientDB Ltd

twitter:@Andrey_Lomakin linkedin:https://ua.linkedin.com/in/andreylomakin

[2016-03-24 06:07] smolinari commented on #5879
What was the fix?

Scott

[2016-03-24 06:23] laa commented on #5879
Added implementation of method Iterator#remove() which in Java 8 has
default implementation :D .

On Thu, Mar 24, 2016 at 8:07 AM Scott <notifications@github.com> wrote:

--
Best regards,
Andrey Lomakin, R&D lead.
OrientDB Ltd

twitter:@Andrey_Lomakin linkedin:https://ua.linkedin.com/in/andreylomakin

[2016-03-24 06:39] laa commented on #5875
Hi,
Thank you very much but judging from thread dump we need also:
1. Memory dump from this state.
2. Server logs.

Also small note, could you put big snippets of code or thread dumps, not directly to issue comment but as Gist.

[2016-03-24 07:16] wouterv commented on #3496
You\ re saying that this feature is little. Cant it be planned then for a 2.2.x release, instead of us having to wait yet another 6 months?

[2016-03-24 07:52] luigidellaquila commented on #5876
Hi @fzwaard

OrientDB timezone is a simple Java TimeZone (https://docs.oracle.com/javase/6/docs/api/java/util/TimeZone.html) so it's supposed to work even with timezone names.

Which JDK are you using?

Thanks

Luigi

[2016-03-24 09:16] fzwaard commented on #5876
Hi Luigi,

java -showversion
java version "1.7.0_95"
OpenJDK Runtime Environment (IcedTea 2.6.4) (7u95-2.6.4-0ubuntu0.14.04.1)
OpenJDK 64-Bit Server VM (build 24.95-b01, mixed mode)

dpkg-query -l | grep -i java
ii  ca-certificates-java                 20130815ubuntu1                      all          Common CA certificates (JKS keystore)
ii  default-jre-headless                 2:1.7-51

[2016-03-24 10:13] AlessandroRota commented on #5876
Hi, I see in the file
com.orientechnologies.orient.core.db.document.ODatabaseDocumentTx
at the line 1438 the following code
storage.getConfiguration().setTimeZone(TimeZone.getTimeZone(stringValue.toUpperCase()));

With the method toUpperCase() the timezone is changed to GMT while without toUpperCase() the timezone is converted correctly.

[2016-03-24 10:18] lvca opened #5882 "New API to get the RAM used by OrientDB"
http://andreylomakin.tumblr.com/post/137154835613/how-to-calculate-maximum-amount-of-memory-consumed

[2016-03-24 10:33] #5865 closed

[2016-03-24 10:57] Ostico commented on #5879
Thank you @laa ,
the fix will be pushed to the 2.1.13 and forced the release tag on github?
Otherwise i will skip tests on that version.

[2016-03-24 11:26] fzwaard commented on #5876
Hi Alessandro and Luigi,

thanks a lot. Since this patch is quite urgent for me (summer time is changing this saturday night), do you think that this will be implemented in OrientDB soon or should I try to download, patch and compile OrientDB as per the Source Code Installation in http://orientdb.com/docs/last/Tutorial-Installation.html?

What would be the best way to move my db from the previous

[2016-03-24 14:39] luigidellaquila commented on #5876
Hi @fzwaard

I'm doing the fix right now, I'll give you an update in short

Thanks

Luigi

[2016-03-24 14:43] obi1kenobi opened #5883 "instanceof operator has confusing behavior"
Per the [docs](http://orientdb.com/docs/last/SQL-Where.html), `instanceof` expects a quoted class name:
[code]

However, the following does not cause a parse failure and simply returns no results:
[code]

Even worse, no errors are raised even if the class `Customer` doesn't even exist in the schema. This appears to be a bug that makes it really easy to shoot oneself in the foot.

[2016-03-24 14:45] fzwaard commented on #5876
Hi @luigidellaquila

thank you for this quick fix! I'm actually enjoying very much OrientDB.

Thanks again

f

[2016-03-24 15:16] luigidellaquila commented on #5876
Hi @fzwaard

I just pushed a fix on branch 2.1.x, you can build from sources.
The fix will be released with 2.1.14.

Now I'm porting the fix on develop branch

Thanks

Luigi

[2016-03-24 15:26] sivan123 commented on #5867
ORID orid = ((ORID) doc.field("rid")).getIdentity();

java.lang.ClassCastException: com.orientechnologies.orient.core.record.impl.ODocument cannot be cast to com.orientechnologies.orient.core.id.ORID

Its fine.. I will stick to doc.field("rid").toString().split("\{")[0].split("#")[1]  for now.

[2016-03-24 15:31] sivan123 commented on #5802
Hi I was pretty sure I wasn't. Unless the jar files uploaded into maven are not updated..
http://mvnrepository.com/artifact/com.orientechnologies/orientdb-core
That date seems old.. would that be possible?
![image](https://cloud.githubusercontent.com/assets/5057060/14021914/6ce08040-f218-11e5-94c4-1dd86d217646.png)

[2016-03-24 15:31] scrabb opened #5884 "[2.2 beta] out() and in() not working with Edge class hierarchy"
If you have a hierarchy of edge types and 2 vertices joined via the edge subclass then a select statement with out(super class) does not work.  This does however work in the 2.1 stream.

ie
edge type of Sibling
edge type of Brother with superclass as Sibling
2 vertices joined using Brother edge type
select out('Brother') from Person will return results
select out('Sibling') from Person returns not

[2016-03-24 15:49] luigidellaquila commented on #5867
ok (I have to stop writing code from mobile without trying it ;-) )

The right one is

[code]

Thanks

Luigi

[2016-03-24 15:51] luigidellaquila commented on #5802
Hi @sivan123

yes, it's a problem we are facing, that repo contains an old distro released by mistake (we will release 2.2 beta2 in a few days).

Please use this in the meantime

http://central.maven.org/maven2/com/orientechnologies/orientdb-core/

[2016-03-24 15:52] luigidellaquila commented on #5884
Hi @scrabb

This seems to be quite critical, I'll check it asap

Thanks

Luigi

[2016-03-24 16:20] luigidellaquila commented on #5876
Fixed on develop as well

Closing

Thanks!

Luigi

[2016-03-24 16:20] #5876 closed

[2016-03-24 17:26] luigidellaquila commented on #5884
Hi @scrabb

I just pushed a fix and a test case on develop branch

Closing

Thanks!

Luigi

[2016-03-24 17:26] #5884 closed

[2016-03-24 17:31] luigidellaquila commented on #5883
Hi @obi1kenobi

As usual, in a schemaless database any syntactically valid expression is valid at parsing level.
The fact that it evaluates to null (Customer attribute is not present in current document) just makes the condition false.

I could force the `instanceof` to accept only strings, but it would mean removing support for complex expressions, eg.

[code]

Sorry, I have to close this and mar

[2016-03-24 17:31] #5883 closed

[2016-03-24 17:33] luigidellaquila commented on #5869
Hi @sukesh-soman

I'm checking it, I'll give you a feedback asap

Thanks

Luigi

[2016-03-24 18:06] obi1kenobi commented on #5883
I didn't realize that complex expressions were allowed with that operator -- perhaps that could be mentioned in the docs?

Also, is `@this instanceof null` ever going to evaluate to true? If not, then two things could be possible:
- don't perform a table scan, which currently seems to be happening
- consider throwing an exception, because that's a semantically questionable query -- null is not a t

[2016-03-24 18:13] lvca opened #5885 "Cumulative changes in develop"
## Auto-Sharding index:
- First implementation of Auto-Sharding index that works as a wrapper of X sub-hash indexes, one per class cluster
- Having multiple sub-indexes did the trick of improving performance by reducing the locking and showing an improvement of 25-40% in performance in multi-threads scenarios
- Having 1 index per cluster will allow (in v3.0) to distribute partitions easily by just

[2016-03-24 18:23] lvca commented on #5885
Commits:
282467faeed13ed6b42b6d32fa590615ba2a8929
43cc246f4cac7e7a411061113d2e0c0008dd63c8
fec20871367763fa3c1f3674f8f5fd87689419e1
61a37c57d668f067c495ed227e1ca24e71c02332
99a7bf4f8a41d56170d1a2e72e2c6fcb1cababb8
6be3201d5a0d32a076fde818faf552b5b62720d4
f888a0bcbab4c17c7c2e2de883d2bd33dca0845e
cd0d36c45d4c9676d31fcf944d440e15e11b9aa5
9c8f9cd0add1f15f29e81058a4dffa76c5f973b8
45320e6a83dd687fa510cf

[2016-03-24 18:24] #5885 closed

[2016-03-24 21:42] alexmm11 commented on #5097
Hi guys, something new? =)

[2016-03-25 03:24] lvca opened #5886 "Distributed: use incremental backup for 1st node synch with Enterprise Edition"

[2016-03-25 06:53] laa commented on #5875
Hi guys,
Any updates for this case ?

[2016-03-25 06:53] laa commented on #5843
HI, any updates ?

[2016-03-25 06:54] laa commented on #5821
Hi, any updates ?

[2016-03-25 07:41] kalmusr commented on #4960
Hi @mohamnag ! We had similar issues with a database using OrientDB v2.1.11. We could resolve the problem by a database export and reimport.

[2016-03-25 08:11] luigidellaquila commented on #4960
Hi guys,

two points here:

- I think param replacement for query target was fixed after 2.1.5, could you please try with latest stable?
- your query won't work anyway, because you are passing a string, not a RID. To make it work you have to do something like

[code]

Thanks

Luigi

[2016-03-25 08:13] luigidellaquila commented on #4960
Another little detail: there is no need to export/import the database, you can just set `strictSql = true` on the database

http://orientdb.com/docs/last/Release-2.1.0.html#strict-sql-parser

Thanks

Luigi

[2016-03-25 10:17] scrabb commented on #5884
Thanks for the fast response/fix.

[2016-03-25 11:05] lvca opened #5887 "SQL ALTER CLUSTER command doesn't manage backtik"
alter cluster `Client-Type` name `Client-Type_europe`

Creates a cluster with name \`Client-Type_europe\` on filesystem.

[2016-03-25 11:43] luigidellaquila commented on #5883
Hi @obi1kenobi

Good point, It's definitely a good optimization.
We are rewriting part of the query executors, I'll take all this into consideration

Thanks!

Luigi

[2016-03-25 11:58] luigidellaquila commented on #5887
Fixed on develop branch. Closing

Thanks!

Luigi

[2016-03-25 11:58] #5887 closed

[2016-03-25 13:28] thierry-github commented on #5835
hi @maggiolo00

any update on this ?

[2016-03-25 14:28] vlnj commented on #5843
Hi sorry for the delay.

We found the issue, in the middle of our process we invoke orientdb etl. after completing the etl process the problem occurs. so after completing the etl process we had to activate the db instance on current thread.

[2016-03-25 14:36] martingg88 commented on #5859
any update?

[2016-03-25 14:55] Budapest123 opened #5888 "Qlikview jdbc connection to Orientdb"
I try to test this connection but does not work properly, can anyone help?

1.Qli

kview 11 desktop edition is installed and working properly on WIN7 (32 bit)
2. Isntalled Orientdb-community-2.1.13 - (Server and studio is running well) - Java is installed jre1.8.0:73
(local machine install)
3. Set PATH, JAVA_HOME, CLASSPATH variables (CLASSPATH=C:\Program Files\Java\jre1.8.0_73\lib)
4. Installed a

[2016-03-25 15:13] maggiolo00 commented on #5835
hi @thierry-github

which embedded type is is field?

[2016-03-25 15:24] luigidellaquila commented on #5859
Hi @martingg88

it's hard to give you a good suggestion here.
If it's a matter of unmarshalling, probably reducing the size of your records and keeping heavy content on linked structures will help you.

Thanks

Luigi

[2016-03-25 15:34] thierry-github commented on #5835
hi @maggiolo00

See attached file for Embedded type structure (mString)
basicly, mString is used for save multilingual properties.

the index looks like :
create index TestIDX on V (property.en) NOTUNIQUE

to index English part of the proprerty.

![mstring](https://cloud.githubusercontent.com/assets/7265445/14047194/c6b55640-f27c-11e5-9d85-f37705f10573.PNG)

[2016-03-25 15:44] maggiolo00 commented on #5835
hi @thierry-github

index on embedded like `property.en` are not supported yet.

http://orientdb.com/docs/2.1/Roadmap.html#release-3-0

Now are supported EmbeddedList/set and Embedded Map (key/value).

[2016-03-25 15:46] thierry-github commented on #5835
Ok, Thanks !

[2016-03-25 15:46] #5835 closed

[2016-03-25 16:02] maggiolo00 commented on #5835
hi @thierry-github

if you want to store property like i18n field.

You could use Embedded map of String

like this

[code]
The query with countainsValue on map field will use the index.

[2016-03-25 16:16] laa commented on #5843
OK I will move, this issue to ETL team

[2016-03-25 16:31] TeamXceleratorDev commented on #5875
My apologies, we are tied up with a few other efforts at the moment.  I will try to provide more detail in a few days.  I also spent time recently reading through the source code involved with locking based on the stack trace.  I think I understand the basics.  This issue only occurs under multi-threaded load test with edges + unique indexes.  It is some form of a race condition.  I have never run

[2016-03-25 17:32] mmacfadden commented on #4242
Hello,

We seem to be having the same issue.  One thing though, I don't think adding commit statements is the right answer, if you want this to be transactional where the whole thing succeeds or fails, wouldn't adding commit statement break the transactional nature of the example?  I am actually posting a related but slightly different issue that will reference this one.

[2016-03-25 17:34] mmacfadden commented on #4242
Here is another example:

[code]

[2016-03-25 18:01] laa commented on #5875
@TeamXceleratorDev our idea is that one of the write locks was acquired but was not released . But to find such place we need data which we asked above. Also please note that it is very specific case, look at those lines in thread dump:

[code]
it means that database thinks that there is no enough free space for data processing and tries to compact it's files .

Anyway once we have all data I thin

[2016-03-26 03:49] horaciosolorio commented on #5097
I have same issue, any update ? please.

[2016-03-26 04:09] martingg88 commented on #5859
oh my goodness. Your suggestion may imply we have to redo or restructure our database design again from very beginning and thus it will take most of our development time and effort. I thought your graph database is more powerful as you guys claimed on the official statement. is it still truth for the fact?

Anyway, hope you guys really can put more effort and focus on performance wise.

Many Thank

[2016-03-26 07:11] smolinari commented on #5859
@martingg88 - when you say "many photo records", how many is many and what is a photo record exactly? Is it actual photos, like binary data?

Scott

[2016-03-26 07:42] martingg88 commented on #5859
it may consist 10 to 20 photos only. The data for the photo is very simple and it only includes of url, dimension and time.

[2016-03-26 09:56] gerdhub commented on #5821
In my test case, I'm creating (and selecting) edges the following way:

[code]

The edges in re have a unique index on in, out and the where params.

This function is executed multiple types by 8 concurrent threads.

After some time (about 10000 runs), the server hangs with the following thread dump: gist:7459ddda0565d2104892

As the server is running on a remote server, I cannot take a complete m

[2016-03-26 20:06] Ashendra commented on #3777
Any update on this?

[2016-03-26 23:31] lvca commented on #3777
In last develop branch we improved replication a lot. Performance with 2 nodes are 3x, 4x with 3 nodes and even more with more nodes. We'll publish develop branch as 2.2.0-beta2 or 2.2.0-rc1 in the next week.

[2016-03-27 06:09] martingg88 opened #5889 "negative RecordID for version 2.1.12 (Urgent)"
I do have following error when try to insert data in batch.

Error: com.orientechnologies.orient.core.index.OIndexException: Error during insertion of key in index

Error: com.orientechnologies.orient.core.exception.ODatabaseException: RecordId cannot support negative cluster id. You've used: -4812

---------------------------------------------------------------------------------------------------

[2016-03-27 09:34] laa commented on #5889
@tglman I think that is dirty manager/serialization order related stuff. So assign it to you.

[2016-03-27 11:33] martingg88 commented on #5889
hope we have the solution soon as our users can't add new record now. haiz.

[2016-03-27 16:55] a-unite commented on #5835
@thierry-github, indexing text values (string properties) as for your initial scheme is possible with LUCENE engine (http://orientdb.com/docs/2.1/Full-Text-Index.html).

@maggiolo00, we are eagerly looking forward to have indexes on embedded fields too.

[2016-03-27 16:58] thierry-github commented on #5835
Thank you all guys,!

[2016-03-27 18:48] smil2k opened #5890 "ORecordId cannot be passed using argument placefolder."
Hi,

I try to pass RIDs to the queries using the ? quoting, but orientdb parser cannot work with them.

This does not work:
docTemplate.command("create edge from ? to (select out() from ?)", from, to);

This works:
docTemplate.command("create edge from " + from + " to (select out() from " + to + ")");

Apparently, ORecordId gets the part with quotes, and fails to parse it.

ps.
using orientdb 2.1.

[2016-03-27 20:19] Ashendra commented on #3777
Will there be any improvement if I change executor service pool size in hazelcast.xml.

[2016-03-27 21:58] newbienewbiedo opened #5891 "Online doc issue in Chrome Browser on Win 7"
Chrome browser ver. 49.0.2623.108 m
I start at http://orientdb.com/docs/last/index.html and left-pane links for Introduction and sections 1-10 appear.

When I click, in the left pane, 2. Data Modeling, the left pane should expand to show items 2.1, 2.2 etc. (as it does in IE).

But instead of doing that, the Introduction, and section 2, 5, 6, 9 and 10 disappear, leaving only main items 1, 3, 4, 7

[2016-03-27 23:21] lvca commented on #3777
No, we use queues, not executors, so you will have not any improvement.

[2016-03-28 01:25] lvca opened #5892 "Duplicate keys cause deadlock on unique indexes in case of distributed storage"
This could cause deadlocks even if threads are locking different resources. In the meanwhile I restored the original OLockManager in OIndexAbstract:

[code]

[2016-03-28 07:12] laa commented on #5892
That is not an issue.
Look at my answer 2 minutes after you wrote me
"thanks"

[2016-03-28 07:14] laa commented on #5892
So it can not cause deadlocks and imho on 2.2.x version where you add detected deadlock usage of OLockManager will not prevent it.

[2016-03-28 07:23] laa commented on #5892
@lvca please revert your change because it can not be fix of deadlock at 2.2.x at the moment and  I am afraid deadlock issue still may exist despite of the fact that it can not be caught.
Could you also provide information which I asked in chat.

[2016-03-28 07:34] a-unite commented on #5859
@luigidellaquila I believe this issue is not about unmarshalling, but about combined search with indexed field.

Kind of "join/lookup" effect you could find in RDBS.
When you have number of statements in the query, something like this:
`(A='a') AND (B='b') and (C LUCENE 'c')`,
substatement `C LUCENE 'c'` will be executed first but then filtering `(A='a') AND (B='b')` in this, let's say, N/3 record

[2016-03-28 07:43] gaoxuesong opened #5893 "how to connect orientdb cluster in python"
How to connect orientdb cluster in python code via pyorient. My cluster has two server, I know the two servers are both master server in cluster, but I don't know the connect port.

[2016-03-28 07:45] gaoxuesong opened #5894 "how to connect orientdb cluster via mybatis"
how to connect orientdb cluster via mybatis. What is the orientdb cluster ip and port?

[2016-03-28 08:21] laa commented on #5821
Hi, yes.
That is the same as https://github.com/orientechnologies/orientdb/issues/5875 . But I will not close it to double check. Also as with issue mentioned above we need the same data.

[2016-03-28 09:06] gaoxuesong commented on #5894
Config the **mybatis** enviroments property in **config.xml**, the code like:

    <environments default="development">
        <environment id="development">
        <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
            <property name="driver" value="com.orientechnologies.orient.jdbc.OrientJdbcDriver"/>
            <property name="url" value="jdbc:orient:remote:10.1

[2016-03-28 09:44] smolinari commented on #5891
I'd say the problem is somewhere else. I have the same version of Chrome on Windows7 and everything works perfectly for me (except the links in the methods, which I reported a while ago). Try emptying out your browser's cache for ODB's site. That is currently the only thing I can think of.

Scott

[2016-03-28 09:47] smolinari commented on #5835
@maggiolo00 - I looked everywhere in the docs, and I couldn't find that tidbit of interesting info about only lists, sets and maps working for indexing. I'd add it myself, but I am also not sure where to best put it. In the limitations, in the indexing section (if there, where exactly) or both?

Scott

[2016-03-28 12:36] gerdhub commented on #5821
If the server keeps running in this state, I get the following errors after some time:

[code]

[2016-03-28 13:42] zerovian commented on #5728
Use the updated pool type like this:

OPartitionedDatabasePoolFactory poolFactory = new OPartitionedDatabasePoolFactory(getPoolSize());
...
OPartitionedDatabasePool dbPool = poolFactory.get(getEmbeddedDBURI(), getUserName(), getPassword());

Then if you need object access fetch a connection from the pool and wrap it in the object database type like this:

ODatabaseDocumentTx docDb = dbPool.acquire

[2016-03-28 13:50] zerovian commented on #5537
You can add 'Lock' and 'Index' to this list as well.

[2016-03-28 13:55] laa commented on #5821
Not on this state.
We need server logs before this state and memory dump if possible.

[2016-03-28 14:28] gerdhub commented on #5821
Here is another thread dump of the server: https://gist.github.com/gerdhub/0ca623a6a46bbdba06fd

How may I share the heap dump (jmap, binary)?

[2016-03-28 14:33] laa commented on #5821
Good, could you send us server logs, that is very important. About heap dump, if I get you correctly jmap will be good to go.

[2016-03-28 14:38] gerdhub commented on #5821
This is the server log: https://gist.github.com/gerdhub/cf77bf38b5fc214bfc11

The last line is a query that is executed during the start of the client application, there are no entries when the deadlock happens...

The heap dump is about 280 MB - how shall I send it to you?

[2016-03-28 14:49] laa commented on #5821
well if you do not mind google drive would be good one, if you do not have space  may share it with you.

[2016-03-28 14:50] laa commented on #5821
Sorry about  server log, is that content of files from server's log directory ?

[2016-03-28 14:54] gerdhub commented on #5821
Yes - but it is the same as the console output... By the way, I just added the corresponding client thread dump to the server thread dump gist.

[2016-03-28 15:01] saeedtabrizi commented on #5671
Dear @luigidellaquila, @lvca
i have a urgently question  :
is this  `select '1'.asLong() + 1 as newID from E` true ? i'm confused now . the returns value is wrong or this code have problem ?
please help me .

[2016-03-28 15:34] Ashendra commented on #5806
Any update on this. I have tweaked the number of nodes, but greater the number of nodes I add, lower is the qps achieved. How is the database then horizontally scalable?

[2016-03-28 15:38] nagarajasr commented on #5671
did you try using 'eval' function

[2016-03-28 15:59] nagarajasr commented on #5537
CREATE PROPERTY Entity.\`cluster\` String already works in 2.2.0-SNAPSHOT:

[code]

so does this:

[code]

but fails when a single field is being inserted:

[code]

[2016-03-28 17:11] laa commented on #5536
Hi Luigi,
I do not support it, because insertion with index which support null keys
for values may be much slower than in standard index.
So I suggest to leave everything as is.

On Thu, Mar 17, 2016 at 3:41 PM luigidellaquila <notifications@github.com>
wrote:

--
Best regards,
Andrey Lomakin, R&D lead.
OrientDB Ltd

twitter:@Andrey_Lomakin linkedin:https://ua.linkedin.com/in/andreylomakin

[2016-03-28 17:13] laa commented on #5352
Well sorry we do not provide radical changes in design of underlying engine
in hotfixes.
((.

On Wed, Mar 23, 2016 at 11:02 AM Ilia Naryzhny <notifications@github.com>
wrote:

--
Best regards,
Andrey Lomakin, R&D lead.
OrientDB Ltd

twitter:@Andrey_Lomakin linkedin:https://ua.linkedin.com/in/andreylomakin

[2016-03-28 17:22] smolinari commented on #5352
So the fix is in 2.2, right?

Scott

[2016-03-28 18:47] seeden opened #5895 "case insensitive ISSUE"
Hi

I have two collections named book and user. User has field name which is case insensitive.
Book has a linked class user. OrientDB version (2.1.10 and latest 2.1.13)

When I use
[code]
I will get 1 record
[code]
When I try to find all book with query
[code]

I will get 0 records.

But next query is working correctly
[code]
I will get 1 book.

I guess that orientdb has a bug because it will forg

[2016-03-28 18:50] seeden commented on #5895
Maybe it is related with https://github.com/orientechnologies/orientdb/issues/5394 somehow

[2016-03-28 18:54] seeden commented on #5895
It is not working with = too

It is working with
[code]

It is NOT working
[code]

Collate is set to CI for user.name

[2016-03-28 19:00] newbienewbiedo commented on #5891
Thanks Scott, it worked!  For others' future reference I performed two operations (not sure which specific one worked):

I entered the URL chrome://history/ and selected and cleared all orientdb.com pages

Next I entered the URL chrome://settings/clearBrowserData and selected only the following items and cleared them from the beginning of time:

Cookies and other site and plugin data
Cached images

[2016-03-28 19:23] seeden commented on #5895
I can see same issue in the latest version 2.1.13

[2016-03-28 20:42] laa commented on #5465
Fixed both for indexes with null keys support and without null keys support.

[2016-03-28 20:42] #5465 closed

[2016-03-29 02:01] #5891 closed

[2016-03-29 06:04] laa commented on #5352
Yes, exactly.

[2016-03-29 06:08] laa commented on #5503
Fixed

[2016-03-29 06:08] #5503 closed

[2016-03-29 07:03] SatishAMP opened #5896 "Connecting to inmemory databse"
We have inmemeory database instance running , is it possible to connect to that instance from remote process using remote protocol and get the queries executed ?

[2016-03-29 07:25] luigidellaquila commented on #5859
Hi @martingg88

Wait, before you refactor your application, why don't you spend one hour to obfuscate your db and send me a copy? I'm pretty sure that we are missing something, looking at the data and reproducing your problems will help a lot

Thanks

Luigi

[2016-03-29 07:59] #5896 closed

[2016-03-29 07:59] lvca commented on #5896
Sure, you can use it as any persistent database from client perspective.

[2016-03-29 08:01] lvca commented on #5806
Take a look at: http://orientdb.com/docs/last/Distributed-Configuration-Tuning.html

[2016-03-29 08:04] lvca commented on #5892
@laa Sorry, I don't understand. Can you please elaborate a bit your comment?

[2016-03-29 08:27] gaoxuesong opened #5897 "how to create database completely in memory"
how to create database completely in memory

[2016-03-29 08:41] luigidellaquila commented on #5890
Hi @smil2k

could you please post a full example? What kind of objects are 'from' and 'to'?

Thanks

Luigi

[2016-03-29 08:57] luigidellaquila commented on #5671
Hi @saeedtabrizi

It seems to be a bug, I'll check it asap

Thanks

Luigi

[2016-03-29 08:58] luigidellaquila commented on #5537
Hi @nagarajasr

thank you for reporting, I'll check this specific case

Thanks

Luigi

[2016-03-29 08:59] luigidellaquila commented on #5536
Hi @laa

so which is the solution to have correct results by default?

Thanks

Luigi

[2016-03-29 09:18] luigidellaquila commented on #5895
Hi @seeden

Thank you for reporting. I think this issue is related to the fact that the query is checking only the schema of the target class, so the CI on the linked class is not taken into consideration (it's just a guess, I have to double check)

I'll take a look at that asap

Thanks

Luigi

[2016-03-29 09:28] luigidellaquila commented on #5897
Hi @gaoxuesong

From which API? From Java you can use the following:
[code]

Thanks

Luigi

[2016-03-29 09:30] tglman commented on #5889
Hi @martingg88,

Will be very usefull if you can provide a full stack trace.

Are you using a not java client ?

[2016-03-29 09:36] seeden commented on #5895
Hi @luigidellaquila

I was thinking in the same way. Thank you for your fast reaction

Zlatko

[2016-03-29 09:39] smil2k commented on #5890
Hi,

from and to is a string. It is working fine with "select from ?". It seems create edge has a problem with it.

Cheers,

Tamas

[2016-03-29 09:53] robfrank commented on #5097
On latest 2.1.13 I'm able to export and reimport without errors.

[2016-03-29 09:59] luigidellaquila commented on #5890
Hi @smil2k

If you pass strings, the query will be translated in something like:

[code]

that is not correct.
If you are using Java, try to create a `new ORecordId(clusterId, clusterPosition);` and pass it to the query as a parameter, eg.
[code]

Thanks

Luigi

[2016-03-29 10:01] martingg88 commented on #5889
sorry. I can't see any full stack trace at server side. That's the only error message I have for the error.

[2016-03-29 10:20] laa commented on #5777
@gerdhub Did you archive broken database (please answer yes :-) )

[2016-03-29 10:30] gerdhub commented on #5777
Unfortunately no, but I think the corruption of the db was related to multithreading. Initially, I thought OrientGraphFactory would handle providing multiple threads with multiple, but constant graph instances itself, however, this might not be the case.

I implemented something like

[code]

and the issue never happened again since then.

However, the use of multithreading with orientdb could be

[2016-03-29 10:53] #5897 closed

[2016-03-29 11:05] laa commented on #5777
@gerdhub , sorry I do not get it. What do you mean by

?

[2016-03-29 11:09] laa commented on #5777
Oh @gerdhub , I see did you setup pool on OrientGraphFactory instance or used it by default ?

[2016-03-29 11:10] laa commented on #5802
Well I close issue then, please reopen it if issue still persist.

[2016-03-29 11:10] #5802 closed

[2016-03-29 11:14] laa commented on #5489
Hi, you may use our YCSB port, it has absolutely the same OrientDB client but much simpler to run and actively supported. https://github.com/laa/orientdb-ycsb-benchmark we are planning to migrate to Gradle soon. So it will be even simpler to use. Also you may merely copy paste OrientDB client to latest YCSB branch. But YCSB branch suffers from overflow problems in some cases, so I suggest  you to

[2016-03-29 11:14] #5489 closed

[2016-03-29 11:26] lvca commented on #5489
@laa did you send the PR to the original project?

[2016-03-29 11:35] wouterv commented on #5263
Tried several scenario's, cant reproduce this..

[2016-03-29 11:35] #5263 closed

[2016-03-29 11:35] wouterv commented on #5263
Tried several scenario's, cant reproduce this..

[2016-03-29 11:36] laa commented on #5489
I may do that periodically.

[2016-03-29 11:44] laa commented on #5489
2- what is different between this two orientdb's?

No, it is out of dated version.

Sorry I can not answer this question if few lines, but you may look at examples in our documentation.

[2016-03-29 11:56] wouterv opened #5898 "OObjectEntitySerializer.registerClass is slow because of unneeded schema reloads"
When you have a lot of classes that need to be registered with the object api, starting up can be quite slow. This is because registerClass always calls schema.reload() and most of the time this isnt needed.

Working on a pull request for this.

[2016-03-29 12:12] robfrank commented on #5888
I try to guess your problem , since I'm not an expert of the tools you're mentioning and images (with screenshot, I think) are not available. My first suggestion is to use admin/admin as credential.
It seems that you're using credential for the SERVER administrator (root/PSW) rather than credentials for the database (gratefuldead) owner.

[2016-03-29 12:23] robfrank commented on #5843
As far as I understand, you invoke ETL programmatically form java code, am I right? Then, after ETL invocation, you have to re-activate the db instance on current thread. Are you using ETL's parallel execution? Can you share the snippet of code where you use the ETL?

[2016-03-29 12:38] #5300 closed

[2016-03-29 12:41] robfrank commented on #5476
hi, as reported on https://github.com/orientechnologies/orientdb/issues/5097 , I tested backup/restore and import/export of db with spatial indexes on 2.1.13 and it works fine.

[2016-03-29 13:03] Budapest123 commented on #5888
Thanks for your suggestion - probably you are right - I tried but does not help....(I cant upload my image files )png or jpg.. - dont know why?)

[2016-03-29 13:35] fzwaard commented on #5876
Hi,

I used this command to get the src to compile
`git clone https://github.com/orientechnologies/orientdb`
but the file
`orientdb/core/src/main/java/com/orientechnologies/orient/core/db/document/ODatabaseDocumentTx.java`
still needed to be corrected removing `.toUpperCase()`

Should I give another command to get the last hotfix with the correction? When will this new correction end up in the bin

[2016-03-29 13:40] lvca commented on #5489
@laa Did you already send the PR to the original project?

[2016-03-29 13:43] laa commented on #5489
Not yet, I will finish YCSB https://github.com/orientechnologies/orientdb/issues/4873 and will do.

[2016-03-29 14:03] luigidellaquila commented on #5876
Hi @fzwaard

you have to do a

[code]

to get the hotfix branch

Thanks

Luigi

[2016-03-29 14:56] smil2k commented on #5890
Hi,

Then why ("select from ?", "#13:1") is correct?
I think something is not consistent here.

Cheers,

Tamas

[2016-03-29 14:57] luigidellaquila commented on #5890
That's a good question, I'll check it

thanks

Luigi

[2016-03-29 15:11] luigidellaquila commented on #5890
@smil2k

Are you sure that `("select from ?", "#13:1")` works fine? What API are you using?
AFAIK it never worked.

I'm doing a local test to double check it

Thanks

Luigi

[2016-03-29 15:29] fzwaard commented on #5879
I have the same problem with

[INFO] Building OrientDB Core 2.1.14-SNAPSHOT

got it today with
git clone https://github.com/orientechnologies/orientdb
cd orientdb
git checkout 2.1.x

Ubuntu 14.04 LTS
pache Maven 3.0.5
Maven home: /usr/share/maven
Java version: 1.7.0_95, vendor: Oracle Corporation
Java home: /usr/lib/jvm/java-7-openjdk-amd64/jre
Default locale: en_US, platform encoding: UTF-8
OS na

[2016-03-29 15:35] smolinari commented on #5879
The second server has Java 8 and the reason why it works.

http://stackoverflow.com/questions/5425130/java-iterator-implementation-compile-error-does-not-override-abstract-method-re

Scott

[2016-03-29 15:38] papageno66 opened #5900 "Teleporter page - can't see drivers item in combo"
Hello, I'm using v2.2.0-beta of OrientDB Server and OrientDB Studio.
I want to create a graph connecting to Oracle XE 11.2 using Teleporter.
Even if I copied ojdbc7.jar in myorientdbpath\lib I still can't see any item in 'driver' combo in teleporter page in 'Server management' window. as shown in following cropped image:
Am I missing some jar or some what?
Thanks
![teleporter](https://cloud.github

[2016-03-29 15:44] fzwaard commented on #5879
Thanks @smolinari !

So OrientDB can't be compiled with Java 7 anymore?

Should the section of http://orientdb.com/docs/last/Tutorial-Installation.html regarding Source Code Installation corrected adding the need for Java 8?
Moreover, there is a small mistake in the docs:
`git checkout develop` should go after `cd orientdb`.

f

[2016-03-29 15:59] smolinari commented on #5879
I believe it should work with Java 7, so what you are finding is a bug.

Scott

[2016-03-29 16:07] fzwaard opened #5901 "OrientDB 2.1.14-SNAPSHOT on Ubuntu: Failed Server KeepAlive and NoKeepAliveTests"
`Ubuntu 14.04 LTS`

[code]

[code]

`[INFO] Building OrientDB 2.1.14-SNAPSHOT`
...

[code]

Results :

[code]

`Tests run: 47, Failures: 2, Errors: 0, Skipped: 0`

[code]

It compiles ok without tests
`mvn clean install -DskipTests`

I see that this goes on since 2.1.9 on Ubuntu https://github.com/orientechnologies/orientdb/issues/5615 but it has not been solved.

Is it safe to run the compiled bi

[2016-03-29 16:08] luigidellaquila commented on #5537
Hi @nagarajasr

I just pushed a fix on develop branch

Thanks

Luigi

[2016-03-29 21:38] gerdhub opened #5902 "Studio: Display of records with double value of "infinity" fails"
It is (of course) possible to store double values of "inifinity" as a property of a document.
However, these documents cannot be displayed in studio and the relevant queries fail with

This relates to Version: 2.1.13

[2016-03-29 21:56] raphha opened #5903 "Insert a embedded inside another embedded"
I'm new on orientdb and I would like to know if is possible to insert a document with three levels of depth, using a embedded inside another embedded, like the example under. I've being searching for some examples like my data with no success.
Example:

	"p_partkey": 1,
	"p_name": "lace spring",
	"lineorder": [{
		"lo_revenue": 4282453,
		"lo_orderdate": 19920603,
		"customer": [{
			"c_nation": "

[2016-03-29 23:35] ygoraly commented on #5875
It seems that I have encountered the same issue.
In my case, there is no concurrency. I am embedding the server inside Tomcat. Issue happens whether I am in distributed mode or non distributed mode, with transactions or without transactions.
Happens when there are indexes on edge properties. Also when none of the indexes is unique.

Here is the Orient part of the locked thread stack:
"RMI TCP Conn

[2016-03-30 02:01] pabloa opened #5904 "duplicated property (in parent class) stops ODB of deleting a database"
I tried to delete a database with a property I added in V called id_c. I tried to delete it and I got this error message:

{"errors":[{"code":500,"reason":500,"content":"com.orientechnologies.common.exception.OException: Error on creation of shared resource\r\n--> com.orientechnologies.orient.core.exception.OSchemaException: Cannot add base class 'ecgc', because of parameter conflict: id_c (type=S

[2016-03-30 05:24] PhantomYdn opened #5905 "NPE in ORecordSerializerBinaryV0"
There is the following code in ORecordSerializerBinaryV0

[code]

The problem is that some Maps can contains nulls as keys. So there will be NPE here: `entry.getKey().toString()`.

[2016-03-30 07:05] tglman commented on #5905
Hi @PhantomYdn

I see your point, that's easy to fix, we have just to define how should be encoded the null value, maybe a good idea is put the size of the key = -1 to say that is null. i've to double check anyway if is coherent whit the rest of specification.

[2016-03-30 07:05] tglman commented on #5905
Hi @PhantomYdn

I see your point, that's easy to fix, we have just to define how should be encoded the null value, maybe a good idea is put the size of the key = -1 to say that is null. i've to double check anyway if is coherent whit the rest of specification.

[2016-03-30 07:23] joe568277 commented on #5878
I don't think #5866 is the same problem that I'm seeing. I'm specifically seeing the update of indexes on deletes taking the majority of time during a commit. The previous test case didn't demonstrate this properly. I've got a simpler test case below of inserting and deleting 10,000 vertices with a single indexed property. I've added extra logging to OAbstractPaginatedStorage to log the total time

[2016-03-30 07:32] laa commented on #5878
@joe568277 deletion of single vertex takes 2.3 ms according to your report. Is is too slow for your case , or may be I got you wrong ?

[2016-03-30 07:40] luigidellaquila commented on #5903
Hi @raphha

Yes, sure, just try the following in OrientDB Studio:

[code]

There are not many examples about this (IMHO just because of excess of simplification) but it's a quite common use case.

Thanks

Luigi

[2016-03-30 08:00] #5903 closed

[2016-03-30 08:01] luigidellaquila commented on #5890
Hi @smil2k

I did a test in Java with a `select from ?` passing a string and it fails as well, so the behavior seems to be consistent.

Do you have a way to reproduce the problem?

Thanks

Luigi

[2016-03-30 08:09] smil2k commented on #5890
Hi,

I'm pretty sure, that this is not consistent:
String to, from;
delete edge from " + period.getRid() + " to "
                                + "(select flatten(out()[id = ?].@rid) from ?), 10L, from);

or

int period;
String from;
List<ODocument> doc = docTemplate.query(
                    new OSQLSynchQuery<ODocument>("select expand(out()[period=?]) from ?"), period, from);

[2016-03-30 08:14] luigidellaquila commented on #5890
Ok, I'm trying it now. Which version are you using? Do you have strictSql = false?

Thanks

Luigi

[2016-03-30 09:01] smil2k commented on #5890
Hi,

I just compiled the spring-data-orientdb, changed the version to 2.1.12.
I did not change any properties.

Cheers,

Tamas

[2016-03-30 09:09] taburet commented on #4830
Seem like there is no satisfying solution, I have considered following:

1. Detect the user name change and throw an exception on acquire. But the user name may be changed in a context of some other connection, so that is not reliable, especially for remote connections. Also, already acquired connections will continue their work like there were no user name change until they returned to the pool a

[2016-03-30 09:09] luigidellaquila commented on #5890
Ah, got it, you are using Spring Data module, probably the difference is there.
I was doing my tests with plain ODatabaseDocumentTx API.

Do you have a working test to reproduce it?

Thanks

Luigi

[2016-03-30 09:13] luigidellaquila commented on #5890
Ok, never mind, I managed to reproduce it in 2.1.x

Thanks

Luigi

[2016-03-30 09:26] luigidellaquila commented on #5890
Ok, now I have the full picture. It works on 2.1.x but not in 2.2.
Anyway it's not supposed to work, a string is not a valid target.
I'm not changing this behavior in 2.1 only to avoid breaking backward compatibility between hotfix releases. In 2.2 it will not be allowed.

Thanks

Luigi

[2016-03-30 10:23] wouterv commented on #5898
PR: #5906

[2016-03-30 10:31] wouterv commented on #5365
Created a pull request for this: https://github.com/orientechnologies/orientdb/pull/5906

[2016-03-30 10:45] #5890 closed

[2016-03-30 11:22] luigidellaquila commented on #5394
Hi @red-0ne

I tried it on latest snapshot and it seems to be already fixed.
Probably it was fixed some months ago.

I'm closing it, please reopen in case you still see related problems

Thanks

Luigi

[2016-03-30 11:22] #5394 closed

[2016-03-30 11:38] taburet commented on #5821
@gerdhub, I inspected the server heap dump you have sent and was unable to find any deadlocked threads in it. Seem like it is a wrong heap dump or it was captured at a wrong time due miscommunication. Andrey said "We need server logs before this state and memory dump if possible." meaning the heap dump should captured after the deadlock happened.

[2016-03-30 12:14] smil2k commented on #5890
Additionally it would be nicer to return with something like "string passed instead of recordid", because currently it is a number parse exception "#15" deep inside the engine.

[2016-03-30 12:16] laa commented on #5875
Guys I close this issue as duplication of https://github.com/orientechnologies/orientdb/issues/5821 . Let's discuss it in single place.

[2016-03-30 12:16] #5875 closed

[2016-03-30 12:19] laa commented on #5875
@ygoraly as I mentioned about that is only single thread we need thread dump because ODB has several background threads. Also I mentioned above too :-) could you put such long stack traces as a gists to make conversation more readable. Any way I will really appreciate if you will send us thread dump, server logs and heap dump, the more data we will have the faster we fix given issue.

[2016-03-30 13:10] zerovian opened #5907 "NPE creating index entry"
orientdb 2.1.11

Unfortunately I don't have a reproducable for this.  It takes 2-3 days for it to occur and it is somewhat random, but it eventually always occurs.

I suspect there might be another exception underneath this (possibly an OOM), but since the releaseExclusiveLock() is in the finally block and it is throwing NPE, the original exception is lost.

Looking at OCacheEntry I don't see why

[2016-03-30 13:15] laa commented on #5907
@zerovian thank you very much we will on this at Monday.

[2016-03-30 13:25] laa commented on #5355
Hi, any updates ?

[2016-03-30 13:29] zerovian opened #5908 "NPE in OAtomicOperation.startAtomicOperation"
orientdb 2.1.11

NPE during OAtomicOperation.startAtomicOperation.  I don't have a reproducable for this as it happens after a few days.

Caused by: com.orientechnologies.orient.core.exception.ODatabaseException: Error on deleting record in cluster #63
        at com.orientechnologies.orient.core.db.document.ODatabaseDocumentTx.executeDeleteRecord(ODatabaseDocumentTx.java:2098)
        at com.orie

[2016-03-30 14:06] lvca commented on #5821
Quick question: do you have a composite index on edges?

[2016-03-30 14:13] laa commented on #5821
@lvca if you look at thread dump , if will find that it has nothing to do with index key locks. One of the reason is that  we do not acquire index key locks inside of transaction. It is not needed.

[2016-03-30 14:14] laa commented on #5821
@lvca could you show at thread dump issue which you refer to in https://github.com/orientechnologies/orientdb/issues/5892 issue ?

[2016-03-30 14:36] laa commented on #5892
@lvca probably we do not understand each other. Could you provide detailed information about this issue.
Lines of code and so on so I will have more detailed understanding of issue.

[2016-03-30 14:39] laa commented on #5892
Also would be cool to have thread dump of deadlock which you encountered.

[2016-03-30 15:50] gerdhub commented on #5821
Yes, there is a composite index, one on in and out vertices, not unique and one on in, out + properties, which is unique. So there are several edges between two nodes.

[2016-03-30 15:55] gerdhub commented on #5821
@taburet: Maybe we should define the term "deadlock" - there is no deadlock in the "classical" sense, but all binary clients (BinaryClient Threads) of the Server are in  java.lang.Thread.State: WAITING at com.orientechnologies.common.concur.lock.OReadersWriterSpinLock.acquireReadLock(OReadersWriterSpinLock.java:77); with Locked ownable synchronizers:
    - locked <6ebd4989> (a java.util.concurrent

[2016-03-30 15:58] gerdhub commented on #5821
Btw: I just noticed that the same happens also with only one binary client in one single thread.

[2016-03-30 16:09] laa commented on #5821
@gerdhub could you repeat the same for embedded database ? I  think I am starting to guess what is the problem.

[2016-03-30 16:16] maggiolo00 commented on #5900
hi @papageno66

can your OrientDB instance make http call or is it blocked? The drivers combo is populated by a Get request to http://orientdb.com/jdbc-drivers.json

[2016-03-30 16:30] lvca commented on #5892
This happens if I change OIndexAbstract to use the ONewLockManager:
[code]

Thread Dump:
[code]

[2016-03-30 16:30] red-0ne commented on #5394
This issue is indeed fixed.

Thank you

[2016-03-30 16:40] wv-jhatcher commented on #5858
I am seeing this issue too.  I think it could be in OClientConnectionManager.java, the iterator.remove() is not actually removing from the connections Collection causing the OClientConnectionManager to report more connections than their really are.

[2016-03-30 17:00] gerdhub commented on #5821
I will try and report later on.

[2016-03-30 17:09] taburet commented on #5821
@gerdhub Anyway, I can't find instances of the Thread class named like "BinaryClient" in the provided heap dump, so I can't inspect the state of the "locks" associated with them.

[2016-03-30 17:12] gerdhub commented on #5821
@taburet There are 2 thread dumps in gist https://gist.github.com/gerdhub/0ca623a6a46bbdba06fd, one for the client (first) and one for the server (second). In the second one, there are several

[code]

[2016-03-30 17:17] taburet commented on #5821
@gerdhub Yep, that's is the *thread* dump, but I'm talking about the *heap* dump :) All I can tell from the thread dumps is that for some reason one of the spin locks has some potentially invalid state so the busy waiting loop spins forever. It will be helpful to see the actual state of the spin lock from a heap dump, that may help to diagnose the problem.

[2016-03-30 17:18] gerdhub commented on #5821
Sorry, I got you wrong. I will try to get a new heap dump.

[2016-03-30 17:29] gerdhub commented on #5821
@laa Provided that one updates the jna reference to the newest version :) - embedded version seems to work like a charm until now... Do you have a clue? ;)

[2016-03-30 17:57] joe568277 commented on #5878
@laa Yes - that's right. I need to regularly remove 1000s of vertices from large graph database, and the deletion rate is too slow with indexes on the vertices. In the test case above I had only one index - with more indexes it gets slower.

[2016-03-30 18:49] kstock commented on #4808
VERSIONS:
I've noticed this issue reappearing in OrientDB Server v2.0.13 and orientdb-community-2.2.0-beta.

----
PROBLEM:

I'm getting the same problem as this issue, the version is being ignored when I try to update via http batch api.

ADDITIONALLY, this issue makes it look like the version must be passed for HTTP batch however in the documentation example I do not see the version being passed.

[2016-03-30 18:54] ygoraly commented on #5875
Thread is stuck on OReadersWriterSpinLock.acquireWriteLock, line 131:
while (!distributedCounter.isEmpty())
      ;
distributedCounter.get() is 1.
Server is embedded, not running in distributed mode.
Can't share full thread dump and/or heap dump publicly

[2016-03-30 19:35] laa commented on #5878
well we may introduce interesting feature, to speed up things, but it will be only in 2.2 version

[2016-03-30 19:46] laa commented on #5777
Fixed

[2016-03-30 19:46] #5777 closed

[2016-03-30 19:47] laa commented on #5777
I have changed graph factory to set up pool by default. So in final version you will not need it any more.

[2016-03-30 20:44] jlowenz commented on #5355
I have converted the Clojure to Java, but haven't generated the equivalent tests yet (my day job got in the way)... I will get to it asap.

[2016-03-30 21:16] gerdhub commented on #5777
Ok, thank you!

[2016-03-30 21:46] gerdhub commented on #5777
One further thought: In my example, I actually have used a pool. However, I assume requesting two graph instances from the pool within the same thread is possible but not "the rule". As far as I understand the documentation one should stick to one graph instance for one thread. So the code above simply ensures that if a graph instance already exists for a given thread, it is reused.

[2016-03-31 00:27] tglman commented on #5858
Hi,

With 2.1.14 we fixed some issues on connection count, so this should be fixed, @wv-jhatcher  i doubled checked the iterator.remove() and it work correclty, thank you for checking that anyway.

[2016-03-31 03:08] jlowenz commented on #5355
Ok - I have finished the JUnit test for the Java code. It is in the same repository. You can run:
[code]

and it should have two failures. Don't forget to start a server with the name "odb_remote".

[2016-03-31 03:17] gaoxuesong opened #5909 "export database command"
export database using -excludeCluster can't support multi cluster name, only support one cluster name

[2016-03-31 04:01] nagarajasr commented on #5909
could you post the complete command you are trying to execute?

[2016-03-31 07:08] gerdhub commented on #5821
Sorry, but it is the same with embedded version, although it happens later. Please see the following thread dump: https://gist.github.com/gerdhub/fb5ecf21623bc28a0669845fb33bd398

[2016-03-31 07:11] jfernandezrico opened #5910 "Problems with backups because of LuceneIndexes lock"
I'm not able to run a backup because of lucene index files
D:\orientdb-enterprise-2.1.11\databases\sftech\luceneIndexes\Ambito.ambito\write.lock

`- Compressing file luceneIndexes\Ambito.ambito\write.lock... [OAutomaticBackup$1$2]
2016-03-31 07:00:02:300 INFO  {db=sftech} error: java.io.IOException: El proceso no tiene acceso al archivo porque otro proceso tiene bloqueada una parte del archivo [OA

[2016-03-31 07:31] joe568277 commented on #5878
Thanks - please update when there's something on a 2.2 branch that I can try

[2016-03-31 08:45] papageno66 commented on #5900
Hello @maggiolo00    ,
         my OrientDB instance is not blocked by a proxy. The berkeley.edu link written in json file seems to raise a 503 http error as you can see on following cropped image. Is it possible I can't see any item in combo even if  my local OrientDB  "lib" directory is filled with jar driver?

![teleporter](https://cloud.githubusercontent.com/assets/17472107/14170354/92936838-f

[2016-03-31 10:03] laa commented on #5821
@gerdhub we found reason of issue and started to fix it. Thank you very much for bug report , your help and patience.

[2016-03-31 10:25] schernolyas opened #5911 "JSON escaping not supported"
I try to execute query:
insert into Bookmark content {"isRead":"N","id":"06e3801f-7a75-4224-b3c1-5aab2357f654","isPrivate":"F","isShared":0,"url":"http:\/\/www.hibernate.org\/"}

The parameter "url" is escaped by standartd JSON way. (http://i.stack.imgur.com/CQk5q.gif).

but OrientDB throw exception:

   <error message="Lexical error at line 1, column 130.  Encountered: &quot;/&quot; (47), after :

[2016-03-31 10:49] luigidellaquila commented on #5911
Hi @schernolyas

It's definitely a bug, I'll check it asap

thanks

Luigi

[2016-03-31 11:07] schernolyas commented on #5911
Base64 content not sopported in JSON way.
Query:
 insert into Bookmark content {"data"
:"DPl62xXzEqG3tIPv7jYYWK34IG4bwTUNk0UUnhYHOluUdPiMQOLSz3V\/GraBuzbEbjDARS6X1wUh53Dh3\/hFpSXVy74iw4K7\/WvwtyvdDJ51\/6qg8RgPyL8qByNXnqxLviMaZk+UZCNmJ+wPJ+\/Jphtb\/cNPw5HmbTIA2VxOq
1OybZIuJaTRVD5tO8sVpMqJTa4IFjMb69vlIYpWctEYByp7gtBCRQOsBeLydnoW+DUOeG1jDyrMmA4hi5M+ctwdn9Vb5wqTjWw=","isRead":"N","id":"52013784-4e32-4

[2016-03-31 12:05] enRGi opened #5912 "ClassCastException in OEmbeddedRidBag#next()"
Using orient-2.1.13 I am getting a ClassCastException when trying to delete a Vertex in Line 90 in OEmbeddedRidBag:
`java.lang.ClassCastException: com.orientechnologies.orient.core.db.record.ridbag.embedded.OEmbeddedRidBag$Tombstone cannot be cast to com.orientechnologies.orient.core.db.record.OIdentifiable
	at com.orientechnologies.orient.core.db.record.ridbag.embedded.OEmbeddedRidBag$EntriesIter

[2016-03-31 12:41] lvca commented on #5900
It looks like Berkley removed the jar. Could you find the same elsewhere and install it manually?

[2016-03-31 12:48] btiernay commented on #2812
This would be great. I'm working on a project currently that does this at the application level.

[2016-03-31 13:06] papageno66 commented on #5900
Yes, googling ojdbc7-12.1.0.1.jar and choosing the first answer

http://www.oracle.com/technetwork/database/features/jdbc/jdbc-drivers-12c-download-1958347.html

I've downloaded and copied  ojdbc7.jar, simplefan.jar, ucp.jar in local orientdb 'lib' directory.

Wondering if it's missing any dependecies...

When i open teleporter page in Studio, the console shows me the messages above:

2016-03-31 1

[2016-03-31 13:36] smolinari commented on #5204
@robfrank - Where did you finally decide to store the stop word definitions?

Scott

[2016-03-31 15:04] PhantomYdn commented on #5905
Yea - you can define as you wish: but during deserialization, I guess it should be transformed back to null. Right?
If it's not possible: I think that OrientDB should transform null into "" (empty string) key.

[2016-03-31 15:07] PhantomYdn opened #5913 "NPE in ORole.loadOldVersionOfRules()"
There is a role inherited from writer. If a user logins who has this role: the following NPE happens:

[code]

To fix that, some rule should be added just to this role. Expected behavior: absence of rules on newly created role should be OK.

OrientDB 2.1.13

[2016-03-31 15:47] misu200 opened #5914 "DEPTH_FIRST vs BREADTH_FIRST different total number of records returned"
Same TRAVERSE query (different strategy)
traverse \* from (select \* from Firma where cui="4829576")  while $depth <=4 (strategy BREADTH_FIRST)

First result(DEPTH_FIRST..the default):
"Query executed in 3.738 sec. Returned 1172 record(s). Limit: 2000"

Second result(BREADTH_FIRST):
'Query executed in 4.475 sec. Returned 1261 record(s). Limit: 2000'

It looks to me like a bug returning different n

[2016-03-31 18:49] gerdhub commented on #5821
You're welcome!

[2016-03-31 19:04] PhantomYdn commented on #4830
Hi! My vision is that there is only one thing which can't be changed during user's lifecycle. I mean RID of a user. Can we try to make pooling working on RID instead of names? WDYT?

[2016-03-31 22:23] misu200 commented on #5914
using MAXDEPTH keyword:
traverse * from (select * from Firma where cui="4829576")  maxdepth 4 strategy BREADTH_FIRST
"Query executed in 4.045 sec. Returned 1335 record(s). Limit: 2000 (change it)"

[2016-04-01 01:15] arsalan-khan opened #5915 "Take down of single orientdb instance in 3 node cluster results in read operations failing until timeout"
OrientDB Server v2.1.13 (build 2.1.x@r9bc1a54a4a62c4de555fc5360357f446f8d2bc84; 2016-03-14 17:00:05+0000)

We have a cluster of 3 orientdb servers with a read quorum of 1 and write quorum of 2. If we power off one of the machines all the read requests fail with the following exceptions, until the heartbeat timeout happens.
Is this the expected behavior?
Is the entire cluster really expected to be

[2016-04-01 03:18] #5904 closed

[2016-04-01 03:18] tglman commented on #5904
hi,

This is already fixed in 2.1.x branch and develop, here is the commit: https://github.com/orientechnologies/orientdb/commit/e3299338025c9cf33f885672fe439c294fb287e6

will be out n 2.1.15 and 2.2 closing

[2016-04-01 05:53] laa commented on #4830
@PhantomYdn @lvca good, but it pooling works on url level not on user level, so when do you mean and @lvca support such change it means that database security level should be seriously refactored. Assign it for @tglman to make such refactoring at has nothing to do with pool, because pool does not store username at  any place merely relies on db security.

[2016-04-01 05:55] laa commented on #4830
Changed name of issue to describe it's new intention.

[2016-04-01 06:03] laa commented on #5826
Hi  @lvca could you provide reference to test which caused you to create given issue ?

[2016-04-01 06:56] luigidellaquila commented on #5914
Hi @misu200

Can you share a dataset to reproduce the problem? It would make the fix procedure faster

Thanks

Luigi

[2016-04-01 08:26] lvca commented on #5826
Sorry, I forgot the case, but my CPU as at 100% waiting.

[2016-04-01 08:27] laa commented on #5826
It is really hard to test in such case :-( . Well we will come up with something.

[2016-04-01 09:19] pboos opened #5916 "v2.2.0-beta - automatic backup firstTime not using GMT as documentation says"
Using the embedded version of v2.2.0-beta and passing in the xml as a string to OServer.startup

Setting up the automatic backup with the following parameter:

[code]

Results in the following output when starting:

[code]

So it seems like it is using CEST which is the timezone my computer is in. CEST is GMT+2. So something seems wrong.

The other thing that I notice that I wonder if it is a bug

[2016-04-01 11:38] laa commented on #5821
@gerdhub @TeamXceleratorDev @ygoraly  fixed. could you try ?

[2016-04-01 11:38] laa commented on #5821
On latest 2.1.x branch

[2016-04-01 12:02] Eijsinkdavid opened #5918 "Infinite retries on ClassNotFoundException when deserializing server-side exception"
When the client makes a request to the server and the server sends a serialized exception that the client cannot deserialize, the client treats it as an io exception and will keep retrying.

**Details**
The method OChannelBinaryAsynchClient.createException attempts to reproduce an exception based on a classname. If this throws a ClassNotFoundException, the createException returns an OIOException.