[2017-08-02 08:04] rdelangh commented on #7545
Finally the dbase is alive again by dropping some 10's of Lucene indexes and recreating them with the metadata
[code]
With that, the server starts up, and not too many indexes are opened (lazy behaviour), but they are also not closed too quickly and reopened very soon after that again. I assume that this too fast close/open sequence is the cause of some internal synchronisation problem.
-> to be (

[2017-08-02 08:24] taburet commented on #7601
Item #1 is fixed in 2.2.25. Item #2 is postponed to 2.2.26.

[2017-08-02 09:42] careerscale commented on #7547
@santo-it pls make sure if anything is updated for good, pls get that to 3.0 develop branch too.

[2017-08-02 10:05] careerscale commented on #7458
@luigidellaquila , @tglman , is this something planned in the immediate future?

[2017-08-02 10:30] igasparetto commented on #4837
Would be great if you could test it also with Teleporter. I run into the problem because I was migrating the data from a MySQL DB. HTML content stored in TEXT columns were the ones causing most trouble here.
Thanks

[2017-08-02 11:12] G4br13l3 commented on #4837
Hi @igasparetto,
did you encounter this issue using Teleporter with orientdb 2.1.x or 2.2.x?

Thanks,

Gabriele

[2017-08-02 12:21] luigidellaquila commented on #7458
Hi @careerscale

About the MATCH, the problem is that you have to remove the round braces, eg.

[code]

instead of

[code]

About the retry, we still have to do some fixes, they will be in RC1

Thanks

Luigi

[2017-08-02 12:22] EricSchreiner commented on #7586
Hi @taburet,
thanks for your answer. I'll check and come back to you.
In between:  Is it possible that  **_max(machine_memory_size - Xmx - 2GB, 256MB)_** does not work if we execute OrientDB in a 32-Bit VM  on a Computer that has more than 16gig of RAM?  What would **_machine_memory_size_** be in a 32-Bit Environment with a PC with 16 Gig of Ram?
Are you using: **_machine_memory_size_** = os.getTo

[2017-08-02 14:43] maggiolo00 commented on #7551
Hi @fredfortier

which is the timeout settings?

[2017-08-02 14:45] maggiolo00 commented on #7523
hi @nishantkumar1292

did you get also a description with the conflict?

The conflict could be that concurrent modification happened.

[2017-08-02 14:48] maggiolo00 commented on #7490
hi @kunkun2858

that is strange. with `./server` distributed storage should not be involved.

Did you try with the latest version of OrientDB

[2017-08-02 16:36] igasparetto opened #7602 "asList returns undefined when no records found rather than an empty list"
Hi guys,

When we use query filters combined with asList() and the result of the query is nothing, we get "undefined" instead of an empty list. I was expecting an empty list rather than undefined. Is that expected behaviour or there is something to be improved here?

`[myAttribute=false]
[out=${contact.rid}]
   .@class.asList()`

[2017-08-02 16:39] igasparetto commented on #4837
No, I haven't encountered this issue in Teleporter Gabriele. However, the issue happened when run a migration script I wrote myself. So I am just concerned that we might experience the same issue in Teleporter. Do you need some DB dump for testing?

[2017-08-02 18:49] #5012 closed

[2017-08-02 20:42] pvalsecc opened #7603 "REQUEST_RECORD_UPDATE update-content=false ignored"
### OrientDB Version: 2.2.24
### Java Version: The one that goes with the docker image
### OS: The one that goes with the docker image

## Expected behavior
When I call the binary (document) protocol (v36), the command REQUEST_RECORD_UPDATE with update-content=false, I was expecting two things:

* The version to remain the same.
* To have to mention only the linkbag and not the rest of the fields.

[2017-08-02 21:15] PhantomYdn commented on #7595
Explicit specifying `-Dos.encoding=UTF-8 -Dsun.jnu.encoding=UTF-8` helped with the issue. Not sure, but it seems that this dependency in OrientDB on system encoding within IBM JDK should be somehow fixed. What do you think?

[2017-08-03 07:26] luigidellaquila commented on #7602
Hi @igasparetto

I'd say an asList() should always return a list...
Let me check it, I'll let you know shortly

Thanks

Luigi

[2017-08-03 08:26] taburet commented on #7586
It should work, AFAIU. Why it may break at 16GB?

Seems like it will be 16GB and that may be a problem. Will check this.

Yes, exactly.

[2017-08-03 10:19] fixundfertig123 commented on #7547
Hi @lvca, @tglman: A short question. Could you work with my repo and can you reproduce the error?

[2017-08-03 10:24] luigidellaquila commented on #802
Fixed in 3.0 with two new SQL targets:

[code]

[2017-08-03 10:24] #802 closed

[2017-08-03 10:39] #516 closed

[2017-08-03 10:39] lvca commented on #516
Not relevant anymore, closing.

[2017-08-03 10:39] #676 closed

[2017-08-03 10:39] lvca commented on #676
Not relevant anymore, closing.

[2017-08-03 10:40] #653 closed

[2017-08-03 10:40] lvca commented on #653
Not relevant anymore, closing.

[2017-08-03 10:41] Marchrius opened #7604 "java.lang.NullPointerException during INSERT INTO"
### OrientDB Version: v.2.2.25 (build 72a35a4bb42c4ca33272e7a59ad4c7a1d3ee859d)
### Java Version: openjdk version "1.8.0_131"
### OS: Ubuntu 16.04.2 LTS xenial

## Expected behavior
New record into lh_item class

## Actual behavior
[code]
## Steps to reproduce
Not sure how to reproduce the issue. At the moment the only class that has this error is lh_item, other works fine.

The same behavior on b

[2017-08-03 10:44] #737 closed

[2017-08-03 10:44] lvca commented on #737
Not relevant anymore, closing.

[2017-08-03 10:52] tglman commented on #7603
hi @pvalsecc,

The flag `udpate-content=false` is used only for mark records where the only content changed was the LinkBag Tree (for embedded ridbag you need to send all content), you have to send the whole record anyway and have the LinkBag Tree changes inside the field of the LinkBag, The protocol do not support partial records so in any case you need to send all.

Just out of curiosity, are yo

[2017-08-03 10:52] igasparetto opened #7605 "Documentation for map() function"
I didn't know if this was the best place to raise this issue, but here we go:

https://orientdb.com/docs/2.1/SQL-Functions.html#map

I believe the documentation is incomplete. I found by accident that we can map an infinite number of keys to an infinite number of values

The query
`select map("a", 1, "b", 2, "c", 3)`

Returns the following object, but the doc is not clear.
`{"a":1,"b":2,"c":3}`

[2017-08-03 11:38] taburet commented on #7601
Item 2 is fixed in 2.2.26. Closing.

[2017-08-03 11:38] #7601 closed

[2017-08-03 11:51] #634 closed

[2017-08-03 11:51] lvca commented on #634
Not relevant anymore. Closing it.

[2017-08-03 11:51] #517 closed

[2017-08-03 11:51] lvca commented on #517
Not relevant anymore. Closing it.

[2017-08-03 11:53] luigidellaquila commented on #7604
Hi @Marchrius

are you doing the insert via Studio? Do you have a db where to replicate the problem?

Thanks

Luigi

[2017-08-03 11:53] lvca commented on #33
Not relevant anymore. Closing it.

[2017-08-03 11:53] #33 closed

[2017-08-03 11:54] lvca commented on #379
Already implemented in v2.2.

[2017-08-03 11:54] #379 closed

[2017-08-03 11:54] #783 closed

[2017-08-03 11:54] lvca commented on #783
Not relevant anymore. Closing it.

[2017-08-03 11:54] #813 closed

[2017-08-03 11:54] lvca commented on #813
Not relevant anymore. Closing it.

[2017-08-03 11:56] #896 closed

[2017-08-03 11:56] lvca commented on #896
Not relevant anymore. Closing it. It's already possible to do `INSERT ... SELECT`.

[2017-08-03 11:56] #895 closed, assigned to nobody

[2017-08-03 11:57] #830 closed

[2017-08-03 11:57] lvca commented on #830
Not relevant anymore. Closing it.

[2017-08-03 11:57] lvca commented on #902
Not relevant anymore. Closing it.

[2017-08-03 11:57] #902 closed

[2017-08-03 11:58] #903 closed

[2017-08-03 11:58] lvca commented on #903
OrientDB 3.0 has a regular DISTINCT keyword. Not relevant anymore. Closing it.

[2017-08-03 11:58] #937 closed

[2017-08-03 11:58] lvca commented on #937
Not relevant anymore. Closing it.

[2017-08-03 11:59] #967 closed

[2017-08-03 11:59] lvca commented on #967
Not relevant anymore. Closing it.

[2017-08-03 12:00] lvca commented on #970
Already done in v2.1

[2017-08-03 12:00] #970 closed

[2017-08-03 12:01] #981 closed

[2017-08-03 12:01] lvca commented on #981
Not relevant anymore. Closing it.

[2017-08-03 12:01] #987 closed

[2017-08-03 12:01] lvca commented on #987
Not relevant anymore. Closing it.

[2017-08-03 12:01] #995 closed

[2017-08-03 12:01] lvca commented on #995
Not relevant anymore. Closing it.

[2017-08-03 12:01] #996 closed

[2017-08-03 12:01] lvca commented on #996
Not relevant anymore. We use Lucene for this. Closing it.

[2017-08-03 12:02] #1006 closed

[2017-08-03 12:02] lvca commented on #1006
Already implemented in v2.2.

[2017-08-03 12:02] #1036 closed

[2017-08-03 12:02] lvca commented on #1036
Not relevant anymore. Closing it.

[2017-08-03 12:03] #1054 closed

[2017-08-03 12:03] lvca commented on #1054
Already implemented by using `repair database --fix-graph` from console, starting from v2.1.

[2017-08-03 12:03] #1080 closed

[2017-08-03 12:03] lvca commented on #1080
Not relevant anymore. Closing it.

[2017-08-03 12:03] lvca commented on #1083
Not relevant anymore. Closing it.

[2017-08-03 12:03] #1083 closed

[2017-08-03 12:04] #1137 closed

[2017-08-03 12:04] lvca commented on #1137
Not relevant anymore. Closing it.

[2017-08-03 12:11] #1104 closed

[2017-08-03 12:11] luigidellaquila commented on #1104
In v 3.0 there is a `SELECT FROM metadata:storage` that also returns cluster information. It can be used to check cluster existence

Closing

[2017-08-03 12:11] lvca commented on #1156
Not relevant anymore. The new `MATCH` is able to understand if an index has been built on the edge class and can use it.

[2017-08-03 12:11] #1156 closed

[2017-08-03 12:12] #771 closed

[2017-08-03 12:12] luigidellaquila commented on #771
v 3.0 already supports complex array manipulation

[2017-08-03 12:12] #1242 closed

[2017-08-03 12:12] lvca commented on #1242
Not relevant anymore. Closing it.

[2017-08-03 12:13] #1249 closed

[2017-08-03 12:13] lvca commented on #1249
Not relevant anymore. Closing it.

[2017-08-03 12:13] #1361 closed

[2017-08-03 12:13] lvca commented on #1361
Not relevant anymore. Closing it.

[2017-08-03 12:13] #1337 closed

[2017-08-03 12:13] lvca commented on #1337
Not relevant anymore. Closing it.

[2017-08-03 12:14] #1334 closed

[2017-08-03 12:14] lvca commented on #1334
Fixed log time ago.

[2017-08-03 12:20] #1308 closed

[2017-08-03 12:20] lvca commented on #1308
Not relevant anymore, in v3.0 fetchplan are deprecated in favor of new SELECT extended projections

[2017-08-03 12:22] luigidellaquila commented on #7602
Hi @igasparetto

I had a look at the code, the `asList()` function works fine, this behavior comes from the implementation of the query executor.

There a two null-checks that short circuit operation chains; I could remove them and you would have the behavior you expect, but frankly speaking I don't think that doing this in a hotfix release is a good idea, as it could lead to NullPonterException i

[2017-08-03 12:23] #1282 closed

[2017-08-03 12:23] lvca commented on #1282
Already implemented in 2.0

[2017-08-03 12:24] #1275 closed

[2017-08-03 12:24] luigidellaquila commented on #1275
Sorry, this won't be implemented.

Thanks

Luigi

[2017-08-03 12:25] #1576 closed

[2017-08-03 12:25] lvca commented on #1576
Not relevant anymore, closing it.

[2017-08-03 12:26] lvca commented on #1540
Not relevant anymore, closing it.

[2017-08-03 12:26] #1540 closed

[2017-08-03 12:26] Marchrius commented on #7604
Hi @luigidellaquila
I'm doing the insert from PHPOrient, Studio and Console. All have same issue. Unfortunately I don't have a database to replicate the problem since the problem is associated to the `lh_item` specific Class and if I make a new database with same structure It works.

[2017-08-03 12:30] #1446 closed

[2017-08-03 12:30] lvca commented on #1446
Already available with the new `HA STATUS` commands.

[2017-08-03 12:30] lvca commented on #1472
Not relevant anymore, closing it.

[2017-08-03 12:30] #1472 closed

[2017-08-03 12:31] luigidellaquila commented on #7604
Hi @Marchrius

Any chance to just empty that db (delete all the records) and share it?

Thanks

Luigi

[2017-08-03 12:31] #1475 closed

[2017-08-03 12:31] lvca commented on #1475
Not relevant anymore, closing it.

[2017-08-03 12:31] #1477 closed

[2017-08-03 12:31] lvca commented on #1477
Already implemented using `encode()` and `decode()` functions.

[2017-08-03 12:32] luigidellaquila commented on #7604
An option could also be to drop all the other classes and share a minimal schema...

Thanks

Luigi

[2017-08-03 12:32] #1529 closed

[2017-08-03 12:32] lvca commented on #1529
Not relevant anymore, closing it.

[2017-08-03 12:32] #1692 closed

[2017-08-03 12:32] lvca commented on #1692
Not relevant anymore, closing it.

[2017-08-03 12:32] #1671 closed

[2017-08-03 12:32] lvca commented on #1671
Already implemented in 2.1

[2017-08-03 12:33] #1648 closed

[2017-08-03 12:33] lvca commented on #1648
Not relevant anymore, closing it.

[2017-08-03 12:33] #1634 closed

[2017-08-03 12:33] lvca commented on #1634
Not relevant anymore, closing it.

[2017-08-03 12:34] #1627 closed

[2017-08-03 12:34] lvca commented on #1627
Not relevant anymore, closing it.

[2017-08-03 12:34] lvca commented on #1612
Already available in the documentation.

[2017-08-03 12:34] #1612 closed

[2017-08-03 12:35] #1768 closed

[2017-08-03 12:35] lvca commented on #1768
Not relevant anymore, closing it.

[2017-08-03 12:35] lvca commented on #1768
Already in documentation.

[2017-08-03 12:39] #1726 closed

[2017-08-03 12:39] lvca commented on #1726
Not relevant anymore, closing it.

[2017-08-03 12:40] #1558 closed, assigned to tglman

[2017-08-03 12:42] #1788 closed

[2017-08-03 12:42] lvca commented on #1788
Not relevant anymore, closing it.

[2017-08-03 12:42] #1807 closed

[2017-08-03 12:42] lvca commented on #1807
Not relevant anymore, closing it.

[2017-08-03 12:42] #1821 closed

[2017-08-03 12:42] #1731 closed

[2017-08-03 12:42] lvca commented on #1821
Not relevant anymore, closing it.

[2017-08-03 12:42] tglman commented on #1731
Hi,

As today the support of server side tx is done, with the support on server side of both: client that maintain the status of the tx, and client that leave the status only on the server.

Closing

[2017-08-03 12:43] #1823 closed

[2017-08-03 12:43] lvca commented on #1823
Not relevant anymore, closing it.

[2017-08-03 12:45] laa commented on #1746
it is not relevant anymore because space consumption is small and overhead does not worth gains which we get.

[2017-08-03 12:45] #1746 closed

[2017-08-03 12:48] luigidellaquila commented on #7605
Hi @igasparetto

Thank you very much, the docs are definitely not clear.
I'm fixing them

Thanks

Luigi

[2017-08-03 13:05] igasparetto commented on #7602
Luigi,

We have coded here in a way we map undefined back to an empty.
Thanks for looking into it.

Ivan

[2017-08-03 13:29] #1866 closed

[2017-08-03 13:29] lvca commented on #1866
Not relevant anymore.

[2017-08-03 13:30] Marchrius commented on #7604
I'm sorry but I'm unable to share due to an internal policy. I know that at this point stack trace is useless without other informations but if you want I can run more test / operations on the database.

[2017-08-03 13:30] #1894 closed

[2017-08-03 13:31] tglman commented on #1894
hi,

This is implemented already in 3.0, closing

[2017-08-03 13:32] lvca commented on #1917
Duplicated

[2017-08-03 13:32] #1917 closed

[2017-08-03 13:33] #2012 closed

[2017-08-03 13:33] lvca commented on #2012
Not relevant anymore, closing it.

[2017-08-03 13:35] #1984 closed

[2017-08-03 13:35] lvca commented on #1984
Already in v2.0.

[2017-08-03 13:35] #1970 closed

[2017-08-03 13:35] lvca commented on #1970
Not relevant anymore, closing it.

[2017-08-03 13:36] #1961 closed

[2017-08-03 13:36] lvca commented on #1961
Not relevant anymore, closing it. We can already use `[0]`

[2017-08-03 13:41] #2049 closed

[2017-08-03 13:41] lvca commented on #2049
Not relevant anymore, closing it.

[2017-08-03 13:41] #2062 closed

[2017-08-03 13:41] lvca commented on #2062
Not relevant anymore, closing it.

[2017-08-03 13:45] laa commented on #1897
We consider using SEDA architecture on storage level which would include this solution as part of it for embedded storage. I am closing this issue because the implementation of only this feature will not provide expected speed up.

[2017-08-03 13:45] #1897 closed

[2017-08-03 13:45] #2209 closed

[2017-08-03 13:45] lvca commented on #2209
Not relevant anymore, closing it.

[2017-08-03 13:45] laa commented on #1905
already implemented

[2017-08-03 13:45] #1905 closed

[2017-08-03 13:46] laa commented on #1906
already implemented

[2017-08-03 13:46] #1906 closed

[2017-08-03 13:48] laa commented on #2192
does not fit in current architecture close for now, may be we will reopen it later

[2017-08-03 13:48] #2192 closed

[2017-08-03 13:48] #2294 closed

[2017-08-03 13:48] lvca commented on #2294
Not relevant anymore. Closing it.

[2017-08-03 13:49] #2259 closed

[2017-08-03 13:49] lvca commented on #2259
Not relevant anymore. Closing it. Fetchplans are deprecated in 3.0 in favor of sql extended projections.

[2017-08-03 13:52] #2371 closed

[2017-08-03 13:52] lvca commented on #2371
Not relevant anymore. Closing it.

[2017-08-03 13:53] #2363 closed

[2017-08-03 13:53] tglman commented on #2208
Hi,

This issue is still valid in 3.0, but having the java 8 support in 3.0 we can solve this simply specializing the new method introduced in java 8 with our specialization that override the base standard library implementation.

Regards

[2017-08-03 13:53] lvca commented on #2363
Already implemented in OrientDB 2.2

[2017-08-03 13:53] #2359 closed

[2017-08-03 13:53] lvca commented on #2359
Not relevant anymore. Closing it.

[2017-08-03 13:55] #2349 closed

[2017-08-03 13:55] lvca commented on #2349
Not relevant anymore, closing it.

[2017-08-03 13:55] #2339 closed

[2017-08-03 13:55] lvca commented on #2339
Not relevant anymore, closing it.

[2017-08-03 13:56] #2395 closed

[2017-08-03 13:56] lvca commented on #2395
Not relevant anymore, closing it.

[2017-08-03 13:56] lvca commented on #2397
Already done.

[2017-08-03 13:56] #2397 closed

[2017-08-03 13:57] #2425 closed

[2017-08-03 13:57] #2433 closed

[2017-08-03 13:57] lvca commented on #2433
Not relevant anymore, closing it.

[2017-08-03 13:58] #2441 closed

[2017-08-03 13:58] lvca commented on #2441
Supported as an external plugin for OrientDB v2.2.x and in bundle with OrientDB v3.0.

[2017-08-03 13:58] lvca commented on #2444
Duplicated, closing

[2017-08-03 13:58] #2444 closed

[2017-08-03 14:00] #2475 closed

[2017-08-03 14:00] lvca commented on #2475
Done, it's now a separate package in v3.0.

[2017-08-03 14:00] #2487 closed

[2017-08-03 14:00] lvca commented on #2487
Not relevant anymore, closing it.

[2017-08-03 14:01] #2518 closed

[2017-08-03 14:01] lvca commented on #2518
Already implemented with `repair database` console command.

[2017-08-03 14:01] #2526 closed

[2017-08-03 14:01] lvca commented on #2526
Not relevant anymore, closing it.

[2017-08-03 14:02] #2570 closed

[2017-08-03 14:02] lvca commented on #2570
Not relevant anymore, closing it.

[2017-08-03 14:03] #2592 closed

[2017-08-03 14:03] lvca commented on #2611
Not relevant anymore, closing it.

[2017-08-03 14:03] #2611 closed

[2017-08-03 14:05] #2653 closed

[2017-08-03 14:05] tglman commented on #2653
hi,

This is done already in 2.2.x, closing

[2017-08-03 14:08] #2774 closed, assigned to lvca

[2017-08-03 14:08] lvca commented on #2774
Not relevant anymore, closing it.

[2017-08-03 14:09] lvca commented on #2733
Not relevant anymore, closing it.

[2017-08-03 14:09] #2733 closed

[2017-08-03 14:09] #2723 closed

[2017-08-03 14:09] lvca commented on #2723
Not relevant anymore, closing it.

[2017-08-03 14:10] #2808 closed

[2017-08-03 14:10] lvca commented on #2808
Not relevant anymore, closing it.

[2017-08-03 14:10] #2823 closed

[2017-08-03 14:10] lvca commented on #2823
Not relevant anymore, closing it.

[2017-08-03 14:11] #2864 closed

[2017-08-03 14:11] #2868 closed

[2017-08-03 14:12] #2878 closed

[2017-08-03 14:13] #2886 closed

[2017-08-03 14:17] #2927 closed

[2017-08-03 14:17] luigidellaquila commented on #2927
In V 3.0 we added an extended syntax for RID representation inside json:

[code]

This should solve the problem

Thanks

Luigi

[2017-08-03 14:18] #3018 closed

[2017-08-03 14:18] lvca commented on #3018
Already in v3.0-M2.

[2017-08-03 14:22] #3241 closed

[2017-08-03 14:22] lvca commented on #3241
Already implemented in 2.2

[2017-08-03 14:24] #3155 closed

[2017-08-03 14:24] tglman commented on #3155
hi,

The documentation on how to use the token is online, that is enough for a correct use of the token, closing.

Regards

[2017-08-03 14:24] #3268 closed

[2017-08-03 14:24] lvca commented on #3268
Not relevant anymore, closing it.

[2017-08-03 14:25] #2705 closed

[2017-08-03 14:25] G4br13l3 commented on #2705
Taking snapshots in order to make copies of instance store volumes is not so relevant from the OrientDB side. It should be better working for backups to Amazon S3.
Closing this issue and moving the topic here:

https://www.prjhub.com/#/issues/9056

Thanks,
Gabriele

[2017-08-03 14:25] #3323 closed

[2017-08-03 14:25] lvca commented on #3323
Not relevant anymore, closing it.

[2017-08-03 14:26] #3326 closed

[2017-08-03 14:26] lvca commented on #3326
Not relevant anymore, closing it.

[2017-08-03 14:27] #3337 closed

[2017-08-03 14:27] lvca commented on #3337
Not relevant anymore, closing it.

[2017-08-03 14:30] #3277 closed

[2017-08-03 14:30] tglman commented on #3277
hi,
The drop of a cluster of a class remove it from the class and it give an error if is the last one suggesting to drop de class instead, so this is already implemented, closing.

[2017-08-03 14:33] #3359 closed

[2017-08-03 14:33] lvca commented on #3359
Not relevant anymore. Closing it.

[2017-08-03 14:35] #3482 closed

[2017-08-03 14:35] lvca commented on #3482
Not relevant anymore. Closing it.

[2017-08-03 14:35] lvca commented on #3496
@tglman what's the status of this issue in v3.0?

[2017-08-03 14:37] #3568 closed

[2017-08-03 14:37] lvca commented on #3568
Fixed long time ago.

[2017-08-03 14:38] #3651 closed

[2017-08-03 14:39] lvca commented on #3651
Not relevant anymore, closing it.

[2017-08-03 14:39] #3658 closed

[2017-08-03 14:39] lvca commented on #3658
Not relevant anymore, closing it.

[2017-08-03 14:40] #3719 closed

[2017-08-03 14:40] lvca commented on #3719
Not relevant anymore, closing it.

[2017-08-03 14:41] #3702 closed

[2017-08-03 14:41] lvca commented on #3702
Not relevant anymore, closing it.

[2017-08-03 15:25] tglman commented on #3496
hi,

It's a working in progress, the infrastructure of push is there, the messages for specific operations are not yet there, due to the mapping of what we actually need and what we actually don't.

[2017-08-03 15:54] luigidellaquila commented on #7605
Done, the docs will be re-generated in a few minutes

Thanks

Luigi

[2017-08-03 15:54] #7605 closed

[2017-08-03 16:14] luigidellaquila commented on #7602
OK, closing then, please reopen if you need further info

Thanks

Luigi

[2017-08-03 16:14] #7602 closed

[2017-08-03 16:17] luigidellaquila commented on #7272
Hi @santo-it

This is already fixed in 3.0.0M2

Closing, thanks!

Luigi

[2017-08-03 16:17] #7272 closed

[2017-08-03 17:37] pvalsecc commented on #7603
OK, I see, now. Thanks.

I'm working on an Erlang client library (mostly for fun). Actually, I'm working on a fork of https://github.com/tabinin/odi which has been left along for quite a long time and that is implementing a protocol too old for my needs.

You can find my fork there: https://github.com/pvalsecc/odi

[2017-08-03 17:37] #7603 closed

[2017-08-03 17:43] lvca commented on #3748
No more relevant, closing it.

[2017-08-03 17:43] #3748 closed

[2017-08-03 17:44] #3742 closed

[2017-08-03 17:44] lvca commented on #3742
No more relevant, we can totally avoid storing the class name in v3.0. closing it.

[2017-08-03 17:48] lvca commented on #3781
No more relevant, closing it.

[2017-08-03 17:48] #3781 closed

[2017-08-03 17:48] #3788 closed

[2017-08-03 17:48] lvca commented on #3788
No more relevant, closing it.

[2017-08-03 17:48] lvca commented on #3828
Spring data is up & running project, closing it.

[2017-08-03 17:48] #3828 closed

[2017-08-03 17:50] #3854 closed

[2017-08-03 17:50] lvca commented on #3854
No more relevant, closing it.

[2017-08-03 17:50] #3857 closed

[2017-08-03 17:50] lvca commented on #3857
No more relevant, closing it.

[2017-08-03 17:50] #3884 closed

[2017-08-03 17:50] lvca commented on #3884
We already do this.

[2017-08-03 17:52] #3949 closed

[2017-08-03 17:52] lvca commented on #3949
Not relevant anymore, closing it.

[2017-08-03 17:53] #3979 closed

[2017-08-03 17:53] lvca commented on #3979
Not relevant anymore, closing it.

[2017-08-03 17:54] lvca commented on #4029
Not relevant anymore, closing it.

[2017-08-03 17:54] #4029 closed

[2017-08-03 17:55] #4101 closed

[2017-08-03 17:55] lvca commented on #4101
Done long time ago

[2017-08-03 17:55] #4122 closed

[2017-08-03 17:55] lvca commented on #4122
Not relevant anymore, closing it. Fetch plans have been deprecated in 3.0

[2017-08-03 17:57] #4134 closed

[2017-08-03 17:57] lvca commented on #4134
Not relevant anymore, closing it.

[2017-08-03 17:59] #4241 closed

[2017-08-03 17:59] lvca commented on #4241
duplicated

[2017-08-03 21:02] #3902 closed

[2017-08-03 21:02] lvca commented on #3902
Already implemented in 3.0

[2017-08-03 21:22] subwindow commented on #1312
I'm getting this same error in 2.2.25. Using the `RETRY` clause of `CREATE VERTEX` doesn't do anything, apparently. I'm not sure why that clause exists if it doesn't work in this case.

Apparently, *every* time I create a vertex I have to code my application to catch these errors and retry. That's a really dumb burden to place on the developers, and reflects very poorly on the maturity and sophist

[2017-08-03 22:29] #4454 closed

[2017-08-03 22:29] lvca commented on #4454
No relevant anymore, closing it.

[2017-08-03 22:29] lvca commented on #4394
Already in 3.0 (and maybe 2.2.x)

[2017-08-03 22:29] #4394 closed

[2017-08-03 22:30] lvca commented on #4373
No relevant anymore, closing it.

[2017-08-03 22:30] #4373 closed

[2017-08-03 22:30] #4362 closed

[2017-08-03 22:30] lvca commented on #4362
No relevant anymore, closing it.

[2017-08-03 22:33] #4571 closed

[2017-08-03 22:33] lvca commented on #4571
Already implemented in 3.0-M2

[2017-08-03 22:34] #4577 closed

[2017-08-03 22:34] lvca commented on #4577
Not relevant anymore. Closing it.

[2017-08-03 22:35] #4597 closed

[2017-08-03 22:35] lvca commented on #4597
Already implemented (long time ago)

[2017-08-03 22:35] #4627 closed

[2017-08-03 22:35] lvca commented on #4627
Not relevant anymore. Closing it.

[2017-08-03 22:36] #4634 closed

[2017-08-03 22:36] lvca commented on #4634
Not relevant anymore. Closing it.

[2017-08-03 22:36] #4659 closed

[2017-08-03 22:36] lvca commented on #4659
Not relevant anymore. Closing it.

[2017-08-03 22:38] #4725 closed

[2017-08-03 22:38] lvca commented on #4725
Not relevant anymore. Closing it.

[2017-08-03 22:39] #4801 closed

[2017-08-03 22:39] lvca commented on #4801
Not relevant anymore, closing it.

[2017-08-03 22:39] #4802 closed

[2017-08-03 22:40] lvca commented on #4802
Implemented cursor in v3.0

[2017-08-03 22:40] #4813 closed

[2017-08-03 22:40] lvca commented on #4813
Not relevant anymore, closing it.

[2017-08-03 22:40] #4814 closed

[2017-08-03 22:40] lvca commented on #4814
Already defined a syntax in v3.0

[2017-08-03 22:41] #4828 closed

[2017-08-03 22:41] lvca commented on #4828
include/exclude already take wildcards

[2017-08-03 22:42] #4838 closed

[2017-08-03 22:42] lvca commented on #4838
Fixed in 3.0

[2017-08-03 22:44] lvca commented on #4909
Not relevant anymore, closing it.

[2017-08-03 22:44] #4909 closed

[2017-08-03 22:44] #4921 closed

[2017-08-03 22:44] lvca commented on #4921
Not relevant anymore, closing it.

[2017-08-03 22:47] #4969 closed

[2017-08-03 22:47] lvca commented on #4969
Not relevant anymore, closing it.

[2017-08-03 22:48] #4986 closed

[2017-08-03 22:48] lvca commented on #4986
Implemented in v2.2 as Live Queries.

[2017-08-03 22:49] #4979 closed

[2017-08-03 22:49] lvca commented on #4979
Not relevant anymore, closing it.

[2017-08-03 22:49] lvca commented on #4974
Not relevant anymore, closing it.

[2017-08-03 22:49] #4974 closed

[2017-08-03 22:50] #5034 closed

[2017-08-03 22:50] lvca commented on #5034
Not relevant anymore, closing it.

[2017-08-03 22:51] #5046 closed

[2017-08-03 22:51] lvca commented on #5046
Not relevant anymore, closing it.

[2017-08-03 22:52] #5087 closed

[2017-08-03 22:54] #5100 closed

[2017-08-03 22:54] lvca commented on #5100
Not relevant anymore, closing it.

[2017-08-03 22:54] #5119 closed

[2017-08-03 22:54] lvca commented on #5119
Not relevant anymore, closing it.

[2017-08-03 22:56] #5134 closed

[2017-08-03 22:56] lvca commented on #5134
Not relevant anymore, closing it.

[2017-08-04 04:35] mexeniz commented on #7584
@laa I have tried to export and import database. There was a problem that a rid of some entries was changed. I have also tried importing with '-preserveClusterIDs=true' but rids were still changed. Then, I investigated the entries in exported database JSON file and found that their rid was the same as one in original database.

**Example query**
`select @rid, username from users where username.toL

[2017-08-04 05:47] laa commented on #4874
Implemented using micro txs

[2017-08-04 05:47] #4874 closed

[2017-08-04 06:43] laa commented on #7584
@mexeniz rids never persevered during export import, does not matter whether DB is damaged or not. Is it a problem for you ? Do you use rids as external links? We typically suggest not doing that.

[2017-08-04 06:45] laa commented on #7584
About your second question, this flag is used to preserve ids of clusters, not rids of records. I mean for example cluster with the name has "cat1" has id = 42, after import, the same cluster will have the same id 42 but rids of records will be changed.

[2017-08-04 07:01] pinakdeshpande commented on #7576
@laa
Did you make any analysis on the heap dumps posted before? Do you need any more information?

An update, our server (2.2.24) was pretty unstable with the load that is mentioned in this thread.
We worked on multiple options trying to make it stable.
We disabled the WAL as mentioned in Performance Tuning section in Orient DB Docs, which claimed that it will improve the write speed by lot of mar

[2017-08-04 07:29] pinakdeshpande commented on #7576
Would also really like to know what was the issue with 2.2.20 version and why it was failing with "NullPointerException during graph.shutdown", which is still unknown.
What was the issue which caused this, and was it fixed in 2.2.24, if yes, can you please point us to that BUG?

[2017-08-04 08:03] mexeniz commented on #7584
@laa Thank you very much for answers. Non-preserved record id is a problem and I use it as an external link, but it is okay. I would do a little more work on migration script.

[2017-08-04 08:34] laa commented on #1312
Hi @subwindow it can not be thrown during creation of vertexes only during an update, are you sure that you do not create any edges along with vertexes for example?

[2017-08-04 08:38] laa commented on #1312
@subwindow could you provide SQL which you use to create records together with retry?

[2017-08-04 09:06] #4510 closed

[2017-08-04 09:06] luigidellaquila commented on #4510
This is already fixed in 3.0M2

Thanks

Luigi

[2017-08-04 09:20] rdelangh commented on #7599
hi @luigidellaquila , can I get any feedback on this topic, please?

[2017-08-04 10:10] luigidellaquila commented on #7599
Hi @rdelangh

If I'm not wrong it's not supported for now (you can try with square brackets, but I doubt it will work) but I still have to check

Thanks

Luigi

[2017-08-04 11:03] rdelangh commented on #7599
@luigidellaquila
the problem we have, is that OrientDB does not support a MERGE statement :
- i have records in one class, say "class1", that need to migrate (with some extra values or properties) towards another class say "class2"
- it is possible that such destination records in "class2" do already exist; in that case, we need to MERGE the records from "class1" with the already existing records

[2017-08-04 13:04] rdelangh commented on #7254
@laa
given my previous comment, can you please confirm that it can be foreseen in a next snapshot release, to support the ALTER command on indexes for changing their name?

[2017-08-04 13:21] #5194 closed

[2017-08-04 13:21] robfrank commented on #5194
implementede

[2017-08-04 13:21] robfrank commented on #5194
implemented

[2017-08-04 13:23] #5868 closed

[2017-08-04 13:23] robfrank commented on #5868
The serach_class function is implemented in 3.0.x:
http://orientdb.com/docs/3.0.x/indexing/Full-Text-Index.html#searchclass

[2017-08-04 14:01] kinssun commented on #7589
@Iaa I executed the same tests with orientdb 3.0.0m2, and got a not good performance result: QPS is only 8/s, shall I made some special performance tuning?

[2017-08-04 14:05] #5223 closed

[2017-08-04 14:05] lvca commented on #5223
This is out of scope of OrientDB where the callback can only be functions.

[2017-08-04 14:05] #5232 closed

[2017-08-04 14:05] lvca commented on #5232
Already available in 2.2

[2017-08-04 14:10] #3543 closed

[2017-08-04 14:10] lvca commented on #3543
Already available by using math_rand() function and ordering by it. Example:

[code]

[2017-08-04 14:11] lvca commented on #1414
Already available by using math_rand() function and ordering by it. Example:

[code]

[2017-08-04 14:11] #1414 closed

[2017-08-04 14:12] lvca commented on #1946
Already available by using math_rand() function and ordering by it. Example:

[code]

[2017-08-04 14:12] lvca commented on #5247
Already available by using math_rand() function and ordering by it. Example:

[code]

[2017-08-04 14:14] #5308 closed

[2017-08-04 14:14] lvca commented on #5308
Not relevant, closing it.

[2017-08-04 14:14] lvca commented on #5307
Nobody worked on this. Not relevant anymore, closing it.

[2017-08-04 14:14] #5307 closed

[2017-08-04 14:16] #5254 closed

[2017-08-04 14:16] lvca commented on #5254
Not relevant anymore, closing it.

[2017-08-04 14:32] lvca commented on #5379
duplicated

[2017-08-04 14:33] kinssun commented on #7589
sorry, I downloaded the orientdb-community-tp3-3.0.0m2.tar.gz, so I suppose I should use orientdb-community-tp2-3.0.0m2.tar.gz to have a test?

[2017-08-04 14:33] lvca commented on #4702
Documented long time ago.

[2017-08-04 14:33] #4702 closed

[2017-08-04 14:34] lvca commented on #5369
Not relevant anymore.

[2017-08-04 14:34] #5369 closed

[2017-08-04 14:35] #5351 closed

[2017-08-04 14:35] lvca commented on #5351
Updated.

[2017-08-04 14:36] #5349 closed

[2017-08-04 14:36] lvca commented on #5349
Done and available in v3.0-M2.

[2017-08-04 14:36] #5410 closed

[2017-08-04 14:36] lvca commented on #5410
The console shows the version at launch. Closing it.

[2017-08-04 14:37] #5412 closed

[2017-08-04 14:37] lvca commented on #5412
Fixed long time ago.

[2017-08-04 14:40] #5479 closed

[2017-08-04 14:40] lvca commented on #5479
Not relevant anymore.

[2017-08-04 14:40] #5500 closed

[2017-08-04 14:40] lvca commented on #5500
Implemented using DISTINCT keyword in 3.0.

[2017-08-04 14:41] lvca commented on #5513
The new profile in v3.0 does it.

[2017-08-04 14:41] #5513 closed

[2017-08-04 14:42] robfrank commented on #5379
*LOAD SCRIPT* command could solve the probblem?

http://orientdb.com/docs/2.2.x/Console-Command-Load-Script.html

[code]

[2017-08-04 14:46] laa commented on #5383
After analysis, we found out that RAM compression will not add performance benefits we consider on disk compression instead to keep all storage on SSD.

[2017-08-04 14:46] #5383 closed

[2017-08-04 14:59] laa commented on #7589
Hi @kinssun on storage tests such as YCSB tests writes are much faster than reads. But graph layer may contain some issues in tp 3. Please try with tp2 if you still will have slower performance please fill in a separate issue in 3.0 we will look on it next week and fix possible problems if there will be any.

[2017-08-04 15:25] laa commented on #7589
@kinssun here some data of our latest YCSB benchmark 3.0 M2 against 2.2.x version on 50M records (DB size on disk 80 GB and RAM cache is 40 GB)

Data load:  25086 vs 6840 QPS
Load A (50% reads and 50% writes): 9454 vs 3808 QPS
Load B (90% reads and 10% writes): 20998 vs 15601 QPS
Load C (100% reads) :  29610 vs 30556 QPS

so as you can see reads a little bit slower but in general write speed was n

[2017-08-04 15:27] laa commented on #7589
@kinssun anyway looking forward to you latest tests results.

[2017-08-04 16:35] tglman commented on #5578
hi,

This is on purpose, there are certain API not supported in remote, probably for this cases should be need to use some more high level API.

Regards

[2017-08-04 16:47] PhantomYdn commented on #5307
Hello,

We are in Orienteer (http://orienteer.org) are working on some solution for visual modeling of data models. Once our system is working on OrientDB: it can be used also for dedicated modeling as well.
Our module Orienteer-Architect can be found here: https://github.com/OrienteerBAP/Orienteer
Please find some screenshot below.
![orienteerarchitectschema](https://user-images.githubusercontent

[2017-08-04 16:54] maggiolo00 commented on #5029
Implemented in 3.0 with Session instead of Basic Authentication

https://github.com/orientechnologies/orientdb-studio/issues/424

[2017-08-04 16:54] #5029 closed

[2017-08-04 17:19] #5663 closed

[2017-08-04 17:19] lvca commented on #5663
This is not supported by design, sorry.

[2017-08-04 17:21] lvca commented on #5703
Implemented in 3.0-M2.

[2017-08-04 17:21] #5703 closed

[2017-08-04 17:23] #5732 closed

[2017-08-04 17:34] #5796 closed

[2017-08-04 17:34] lvca commented on #5796
This will be solved once we replace our HTTP layer with Jetty or something else.

[2017-08-04 17:35] #5762 closed

[2017-08-04 17:35] lvca commented on #5762
This has been already solved in 3.0-M2

[2017-08-04 19:52] publicocean0 opened #7607 "problem with new class ODatabaseDocumentRemote"
### OrientDB Version: 3.0.m2
### Java Version: 8
### OS: linux

i m converting my project to 2.2.14 to 3.0.m2 ... i have a problem
with a class
com.orientechnologies.orient.core.db.document.ODatabaseDocumentRemote

is not convertible to com.orientechnologies.orient.core.db.document.ODatabaseDocumentTx

 db = new OObjectDatabaseTx((ODatabaseDocumentTx)db);

the exception is here

pratically db is c

[2017-08-04 20:22] publicocean0 commented on #7594
sorry but i gave a loot at http://orientdb.com/docs/3.0.x/java/Binary-Data.html in relation to point 3)
**The new query engine is designed in a streaming way.)**
it seams i cant save a long blob not loading all in memory without to split it in chunks.

[2017-08-04 20:40] DEVOPSIO21 commented on #7600
Hi lvca / luigi.

does it getting a label added mean this is potentially going into dev queue ?

[2017-08-04 21:04] tglman commented on #7607
hi @publicocean0,

If you are not mixing object and document database I would suggest to use "OrientDBObject" that hide away the conversion, if you still need some way this conversion you should do instead `new OObjectDatabaseTx((ODatabaseDocumentInternal)db);` anyway this is using a kind of implementation detail, so let us know if this is a really use case that you need and we will try to provide

[2017-08-04 21:10] publicocean0 commented on #7607
oh sorry I solved it

[2017-08-04 21:11] #7607 closed

[2017-08-04 22:24] #5823 closed

[2017-08-04 22:24] lvca commented on #5823
Workbench is not part of OrientDB Enterprise distribution anymore.

[2017-08-04 22:28] lvca commented on #5958
This is already in v2.2.25 and 3.0

[2017-08-04 22:34] #6011 closed

[2017-08-04 22:35] lvca commented on #6025
Not supported by the community, closing it.

[2017-08-04 22:35] #6025 closed

[2017-08-04 22:36] lvca commented on #6034
Implemented by @maggiolo00 in 3.0-m2

[2017-08-04 22:36] #6034 closed

[2017-08-04 22:36] #6040 closed

[2017-08-04 22:36] lvca commented on #6040
Not supported by the community, closing it.

[2017-08-04 22:39] #6012 closed

[2017-08-04 22:39] lvca commented on #6012
Done, available in 3.0 rc1

[2017-08-04 22:41] lvca commented on #6063
This is already in v3.0-m2.

[2017-08-04 22:41] #6063 closed

[2017-08-04 22:44] lvca commented on #6167
Supported in v3.0-m2.

[2017-08-04 22:44] #6167 closed

[2017-08-05 04:04] lvca commented on #6247
@luigidellaquila can we query the database with `metadata` to know this?

[2017-08-05 04:05] #6253 closed

[2017-08-05 04:05] lvca commented on #6253
Not relevant, closing it.

[2017-08-05 04:12] lvca commented on #6325
+1

[2017-08-05 04:13] lvca commented on #6326
@luigidellaquila can we extend the new `metadata` to include such information?

[2017-08-05 04:15] #6342 closed

[2017-08-05 04:15] lvca commented on #6342
No need for such optimization because the first query works and it's the right way to do that.

[2017-08-05 04:17] laa commented on #5864
Not actual any more

[2017-08-05 04:21] lvca commented on #6370
@tglman WDYT about this issue?

[2017-08-05 04:22] laa commented on #5864
Index Java API is not very clear and handy for the new user about the meaning of parameters in index creation methods. Also, those parameters are very verbose so it is recommended to create builder methods for indexes. It will be a small handy addition to Java API.

[2017-08-05 04:22] lvca commented on #6373
@taburet can you change the code to just raise `OSecurityException` ?

[2017-08-05 04:31] lvca commented on #6446
The right solution would be deleting the database automatically from other nodes before the restore and after the restore, the database would be synchronized to other nodes anyway.

[2017-08-05 04:33] lvca commented on #6475
@luigidellaquila is the new SQL engine multi-threads in the meaning that it can scan by using multiple threads?

[2017-08-05 04:34] lvca commented on #6483
This is out of scope of OrientDB. You could implement this manually by using OrientDB to store ranges and create functions that use them.

[2017-08-05 04:34] #6483 closed

[2017-08-05 04:35] #6487 closed

[2017-08-05 04:35] lvca commented on #6487
Already implemented in 2.2.20

[2017-08-05 04:37] #6489 closed

[2017-08-05 04:37] lvca commented on #6489
It's already available in 3.0 by querying the `metadata:storage`

[2017-08-05 04:40] lvca commented on #6521
@luigidellaquila is this already supported in 3.0?

[2017-08-05 04:43] lvca commented on #6568
@taburet is this already implemented? Can I close this?

[2017-08-05 04:44] #6588 closed

[2017-08-05 04:44] lvca commented on #6588
Already supported in v2.2.21

[2017-08-05 04:47] #6684 closed

[2017-08-05 04:47] lvca commented on #6684
In 3.0 this is already working.

[2017-08-05 04:52] lvca commented on #6716
@tglman could you please add this information during the handshaking, so we can implement this later in 3.0.x without changing the binary protocol?

[2017-08-05 04:53] lvca commented on #6719
@tglman is this already fixed in 3.0?

[2017-08-05 04:55] lvca commented on #6750
@luigidellaquila is this already supported in 3.0?

[2017-08-05 04:57] lvca commented on #6775
@luigidellaquila is GROUP BY already implemented?

[2017-08-05 05:03] lvca commented on #6843
Duplicate of https://github.com/orientechnologies/orientdb/issues/6726.

[2017-08-05 05:03] #6843 closed

[2017-08-05 05:03] lvca commented on #6909
@santo-it any news on this?

[2017-08-05 05:04] lvca commented on #6905
We already provide a better default database in 3.0 ;-)

[2017-08-05 05:05] lvca commented on #6883
@luigidellaquila is this already supported in 3.0?

[2017-08-05 05:09] lvca commented on #6869
@taburet  Is this related to our recent tracking of huge memory consumed by using this library? Can we use 1.4.2?

[2017-08-05 05:13] #6950 closed

[2017-08-05 05:13] lvca commented on #6950
Already supported in 3.0-m2.

[2017-08-05 05:14] lvca commented on #4348
Thanks for the feedback, closing it.

[2017-08-05 05:14] #4348 closed

[2017-08-05 05:15] TropicalPenguin opened #7608 "Error parsing parenthesised Decimal expressions"
### OrientDB Version: 2.2.24
### Java Version: 1.8.0_131
### OS: Ubuntu 17.04

## Expected behavior
In arithmetic expressions where parentheses are required for precedence, it should be possible to have Decimal values adjacent to those parentheses.

## Actual behavior
[code]

## Steps to reproduce

Load any DB in the studio.
Try running the following query:
[code]

Whereas adding a space between t

[2017-08-05 05:27] #7028 closed

[2017-08-05 05:27] lvca commented on #7028
No answer, closing it.

[2017-08-05 05:33] lvca commented on #7132
@saeedtabrizi have you had the chance to work on this?

[2017-08-05 05:37] lvca commented on #7139
The global setting is `class.minimumClusters`

[2017-08-05 05:38] #7148 closed

[2017-08-05 05:38] lvca commented on #7148
The zip works in streaming, so it's very efficient. In the case of huge database you absolutely want it's zipped to transfer a fraction of the data.

[2017-08-05 05:39] #7189 closed

[2017-08-05 05:39] lvca commented on #7189
Using the query does the job, closing it.

[2017-08-05 05:43] lvca commented on #7265
What's the status of this? Can I close it?

[2017-08-05 05:43] saeedtabrizi commented on #7132
@lvca sure . i have wrote some lines of code to implement it . but i should complete it asap.  I will push it in the next week  .

[2017-08-05 05:43] lvca commented on #7268
@RAndrews137 did it work?

[2017-08-05 05:44] #7276 closed

[2017-08-05 05:44] lvca commented on #7276
Those commands were designed to work locally only.

[2017-08-05 05:47] #7306 closed

[2017-08-05 05:47] lvca commented on #7306
Such enhancement is too expensive in comparison to the benefits. Sorry, I'm closing it unless a lot of users would +1 this.

[2017-08-05 05:49] #7329 closed

[2017-08-05 05:49] lvca commented on #7329
Implemented in 3.0

[2017-08-05 05:49] lvca commented on #7340
Duplicated of https://github.com/orientechnologies/orientdb/issues/6909.

[2017-08-05 05:49] #7340 closed

[2017-08-05 05:53] smolinari commented on #7139
Ah. Cool. Thanks Luca.

Scott

[2017-08-05 05:57] lvca commented on #7508
In 3.0 we removed fetchplans in favor of the more flexible projections.

[2017-08-05 05:57] #7508 closed

[2017-08-05 06:36] lvca commented on #7132
Awesome, thanks!

[2017-08-05 06:44] lvca commented on #7598
@luigidellaquila it looks like you forgot to add COUNT in the new parser.

[2017-08-05 06:47] lvca commented on #7582
Can @tglman update the docs?

[2017-08-05 06:48] lvca commented on #7577
@pinakdeshpande any news on this?

[2017-08-05 06:50] lvca commented on #7572
@Raycoms any news on this?

[2017-08-05 06:55] lvca commented on #7469
Cannot reproduce the issue, closing for now. @sephib, in case you still have this problem, please comment here. Thanks.

[2017-08-05 06:55] #7469 closed

[2017-08-05 06:58] lvca commented on #7482
usually when a process dies without any log is the Linux kernel that take initiative on killing the process because it eats too much RAM. Can you check that? How much RAM do you have before starting OrientDB? How much heap and diskcache did you reserve for the OrientDB process? Are the 3 servers running on the same server?

[2017-08-05 07:01] lvca commented on #7535
Workaround available, closing the issue because it's already fixed in 3.0.

[2017-08-05 07:01] #7535 closed

[2017-08-05 07:05] lvca commented on #6894
No answer, closing it.

[2017-08-05 07:05] #6894 closed

[2017-08-05 07:07] lvca commented on #6825
Closing after no response.

[2017-08-05 07:07] #6825 closed

[2017-08-05 07:08] lvca commented on #6794
@tglman is this a problem of token renewal?

[2017-08-05 07:09] lvca commented on #6707
@publicocean0 have you seen this error recently?

[2017-08-05 07:13] lvca commented on #6608
The documentation is old, we have to update it. Cluster names have no the node name as the prefix. Also, they are not pre-created when a node joins, but only if necessary. In recent 2.2.x we fixed the problem of lazy creation of the cluster the first time you execute a write operation against a node without any ownership.

[2017-08-05 07:13] #6608 closed

[2017-08-05 07:18] lvca commented on #6608
Docs updated.

[2017-08-05 07:18] lvca commented on #6338
The result is always a document. In your case, it will contain a property "rid".

[2017-08-05 07:18] #6338 closed

[2017-08-05 07:50] saeedtabrizi commented on #1878
@lvca is there any update ?

[2017-08-05 08:01] Raycoms commented on #7572
I'm currently still traveling I will get to test it when I return.

2017-08-05 7:50 GMT+01:00 Luca Garulli <notifications@github.com>:

[2017-08-05 09:18] lvca commented on #5894
You just need to connect to one of the servers in the cluster (port 2424, the default one).

[2017-08-05 09:18] #5894 closed

[2017-08-05 09:19] lvca commented on #5898
PR merged, I can close this issue.

[2017-08-05 09:19] #5898 closed

[2017-08-05 09:21] lvca commented on #5901
Fixed long time ago.

[2017-08-05 09:21] #5901 closed

[2017-08-05 09:21] lvca commented on #5909
Timeout, closing.

[2017-08-05 09:21] #5909 closed

[2017-08-05 09:22] lvca commented on #5913
No test case, closing it.

[2017-08-05 09:22] #5913 closed

[2017-08-05 09:23] lvca commented on #5941
Works in 2.2.x

[2017-08-05 09:23] #5941 closed

[2017-08-05 09:46] kinssun commented on #7589
@Iaa, thanks for your quick response, This bug should be closed due to the issue title is not suitable to disscuss 3.0m2 performance problem. I will reopen a issue to track it.

[2017-08-05 09:46] #7589 closed

[2017-08-05 09:47] HuangKBAaron opened #7609 "upsert failed on edge"
### OrientDB Version: 2.2.25 and 2.2.20
### Java Version: Java(TM) SE Runtime Environment (build 1.8.0_144-b01)  Java HotSpot(TM) 64-Bit Server VM (build 25.144-b01, mixed mode)
### OS: Windows 10 64x

## Expected behavior
edge should link two vertexes.

## Actual behavior
there is a record of one edge and 2 vertexes created, but they are not linked together.
![image](https://user-images.githubuse

[2017-08-05 09:50] HuangKBAaron commented on #7609
p.s. The '@' with low-case 'rid' is misunderstood by github and reference to a github user.

[2017-08-05 10:26] hyperknob opened #7610 "3.0.0m2 performance result is poor when inserting vertexes and edges"
### OrientDB Version: 3.0.0m2
### Java Version: 1.8.091-b14
### OS: CentOS 6.5

## Expected behavior
When I analysized issue #7589, I found a performance problem about 3.0.0m2.
The same benchmark test codes executed in orientdb 3.0.0m2 should get better performance result than 2.2.x when inserting vertexes and edges.

## Actual behavior
The actual result is:
QPS in orientdb 2.2.24 is 2000
QPS in o

[2017-08-05 10:43] laa commented on #7610
@kinssun that is a crazy difference )) I am pretty sure that something is wrong. We will do initial analyze the issue and then assign it to the person responsible for a module which has problems.

[2017-08-05 10:46] laa commented on #7610
@taburet to mitigate issue on remote side or vice versa to confirm that, could you run the same benchmark on plocal storage ? @kinssun if that does not require much time for you to do the same, could you run the same code on 2.2.x and 3.x on plolcal (embedded) storage but not remote?

[2017-08-05 11:10] saeedtabrizi commented on #7132
Hi @lvca i have some question for implementing **CH** that be one of fastest routing algorithms :
As we know for decrease the cost of routing in huge request for routing problems like the bing maps or google maps or OSM services , CH algorithm makes precomputed cost shortcuts between the vertex and finally execute a Dijkstra over the shortcuts and main graph data.
So according to [Wiki of CH algor

[2017-08-05 12:07] micha-nerdlichter commented on #5247
No, I didn't want a random order! The problem *is* that metadata:schema is returned in a different order on every call, so it is difficult to do diffs on the schema.

[2017-08-05 12:33] HuangKBAaron opened #7611 "delete edge by a where cause failure"
### OrientDB Version: 2.2.25  Community
### Java Version: Java(TM) SE Runtime Environment (build 1.8.0_144-b01) Java HotSpot(TM) 64-Bit Server VM (build 25.144-b01, mixed mode)
### OS: Windows 10 64x

## Expected behavior
The script should be passed. It passed on 2.2.20.
delete edge where @class like 'e_%'

## Actual behavior
It failed with error message:
java.lang.ClassCastException: com.orientec

[2017-08-05 14:40] RPCMoritz commented on #4979
Could you explain why it isn't relevant anymore and what exactly deprecated it? I was consdering using views, and would like to know what supplanted them.

[2017-08-05 15:46] laa commented on #7604
Hi @Marchrius , the first thing which we need to know is a version of the product was used to create this database? Did you use the old version and just upgraded to the new one (if so which version was used) or you started to use 2.2.25 version at once?

[2017-08-05 16:05] laa commented on #7583
There is no any changes required from SQL side, all is already implemented also we need this for 2.2.x, not only for 3.0

[2017-08-05 18:09] publicocean0 commented on #7594
com.orientechnologies.orient.core.index.OIndexException: Composite key cannot contain more than one collection item
when i add a linkedlist in lucene search . in lucene document.addField('a',1), document.addField('a',2)  is automaticaly a list ... because in lucene property is  multivalue for definition

[2017-08-05 19:47] lvca commented on #4979
Because the last comment on this was 2 years ago, nobody did +1 on this and no PR has been made. Today you can simply write a query as SQL Function an invoke the function.

[2017-08-06 06:10] pinakdeshpande commented on #7577
@lvca
We upgraded to the latest version 2.2.24 last week and after that also we were getting OOM but it was caused by GC Overhead Limit Exceeded error, we tried to multiple options to make the server stable.
But after upgrade we are not getting OOM caused by "Java Heap Space"
You can find detailed steps we followed and latest configs...etc in other issue which I reported #7576.

[2017-08-06 07:42] laa commented on #7576
Hi @pinakdeshpande , I have looked at your heap dump report and found that all your memory is filled by character objects. Could you find gc roots of this character objects , you can use visualvm for that https://cdivilly.wordpress.com/tag/visualvm/ or you can send heap dump to us so we will analyse it ourselves.

[2017-08-06 08:07] lvca commented on #5247
That's different, sorry I should have read the body. This can be easily fixed by ordering class names and properties per class.

[2017-08-06 08:20] publicocean0 commented on #6707
no , no more .

[2017-08-06 08:49] #6707 closed

[2017-08-06 10:09] #7577 closed

[2017-08-06 10:09] lvca commented on #7577
Thanks, so I'm closing this.

[2017-08-06 10:12] lvca commented on #7132
I like the idea of using a class for caching, so it would be persistent and the user can choose the class name. Also, the signature seems good. So +1 for me.

[2017-08-06 10:12] lvca commented on #1878
We were too busy with other issues this wasn't in the roadmap, sorry. We could think of an implementation for 3.1/3.2.

[2017-08-06 13:22] titikakatoo commented on #6684
Hello,

 we are using the Document API in OrientDB version 2.2 and facing exactly the same problem as @ismaelpernas.

Switching to Orient 3 (beta) is a no go for us, since we are already using it in production.

Suppose we have a class Company and a class Employee and are interested in all Companies with at least one employee having a name from an arbitrary list. Employees are defined as LINKEDLIS

[2017-08-06 15:52] publicocean0 commented on #7594
error present in index.algorithm ... "LUCENE" labels is not more accepted in 3.0 but in documentation is still present. It seams to work using SBTREE

[2017-08-06 18:09] publicocean0 commented on #7594
when i execute indexes command on lucene index
|36  |D.lucene                                  |FULLTEXT  |      0|D                |       |                |
it is correct no fields is shown ? (3 defined)?

[2017-08-06 18:14] publicocean0 opened #7612 "error in lucene index"
### OrientDB Version: 3.0.m2
### Java Version: 8
### OS: linux

there are 2 problems (one critical , one not critical) :

critical when i create index programmatically index is created but is not working
instead if i create using console it works

	oc.createIndex(n, o.name,null, d, o.algorithm(), o.fields());
where algorithm is LUCENE
          name is FULLTEXT
        fields are a,b,c

not critic

[2017-08-06 21:39] publicocean0 commented on #7612
problem with old javascript scripts
var a=db.command(....)
a.field('code') dotn works

[2017-08-06 21:40] publicocean0 opened #7613 "javascript scripts dont works in 3.0 version"
### OrientDB Version:3
### Java Version: 8

problem with old javascript scripts
var a=db.command( select from ...)
a is not more a array?

a.field('code') dotn works

i tried many combinations and possibilities but no way for get a field

[2017-08-07 03:28] smolinari commented on #7594
You should probably start a new issue for that.

Scott

[2017-08-07 05:13] bluezio commented on #5254
Just curious: why? Have there been any changes to the WAL in 3.0?

[2017-08-07 06:56] publicocean0 commented on #7594
i did

[2017-08-07 07:07] taburet commented on #7586
@EricSchreiner did you see messages like "32 bit JVM is detected. Lowering disk cache size from X to Y" in the logs?

[2017-08-07 07:08] publicocean0 commented on #7594
all javascript scripts dont works now , added new bug

[2017-08-07 07:29] luigidellaquila commented on #3543
Little fix here, the function name is `math_random()`

[2017-08-07 07:30] #1946 closed

[2017-08-07 07:30] luigidellaquila commented on #1946
The function name is math_random()

[2017-08-07 07:44] luigidellaquila commented on #7600
Hi @DEVOPSIO21

Yes, we are taking it into consideration. From a first analysis, adding this feature in v 2.2.x is quite complex, but probably in v 3.0 it will be easier

thanks

Luigi

[2017-08-07 07:58] publicocean0 commented on #7594
the problem related to mapping array and maps in index is because in the orientdb model for mapping **index row** might be updated : **now key-value but a abstract and generic model might be instead key-values(like lucene)**

[2017-08-07 08:12] pinakdeshpande commented on #7576
I dont have a jvm core dump of the server when we took heap dump which was attached above.
Here are today's reports. I also have taken core dump (.hprof) but that file is almost 3GB. Let me know how to share that file with you. I tried to open that with jVisialVM but it didnt open in it. I have MAT tool to analyze the core dump. Attaching some screen shots from it. Let me know what else would you

[2017-08-07 08:15] taburet commented on #6869
@lvca yes, that is exactly the same issue. I will check the possibility of using 1.4.2.

[2017-08-07 08:18] publicocean0 opened #7614 "lucene error if i create a index containing a linkedlist(even if in the schema)"
### OrientDB Version: 3.0.m2
### Java Version: 8

 CREATE INDEX P.lucene ON Profile(code,list,list2,name) FULLTEXT ENGINE LUCENE
Composite key cannot contain more than one collection item

[2017-08-07 08:20] luigidellaquila commented on #6247
I think the question was not related to getting info from the db, but just to enable command cache selectively and/or bypass it.
Anyway, in v3.0 the command cache has to be re-written

Thanks

Luigi

[2017-08-07 08:21] luigidellaquila commented on #6326
Already available in v 3.0 with

SELECT FROM metadata:storage

Closing, thanks

Luigi

[2017-08-07 08:21] #6326 closed

[2017-08-07 08:22] taburet commented on #6568
@lvca it's not implemented, but seems like the root cause was in the faulty disk drive(s) on the test server, which are replaced now. I doubt JVM can provide crash dumps after such sever failures, that's why we were unable to find them on disks.

[2017-08-07 08:25] luigidellaquila commented on #6521
Yes, it's already supported since v 3.0 M1

Closing, thanks

Luigi

[2017-08-07 08:25] #6521 closed

[2017-08-07 08:27] luigidellaquila commented on #6750
Not yet, please keep it open

Thanks

Luigi

[2017-08-07 08:28] luigidellaquila commented on #6775
No, not yet, it will be in the GA

[2017-08-07 08:32] luigidellaquila commented on #6883
Yes, it is. Closing

Luigi

[2017-08-07 08:32] #6883 closed

[2017-08-07 08:39] taburet commented on #6373
@lvca rechecked the status of the issue, `remote` and `plocal` are now consistent in throwing `OValidationException` on both 2.2.x and develop branches. Is that acceptable?

[2017-08-07 08:43] EricSchreiner commented on #7586
Hi @taburet
no we don't see messages like 32 Bit JVM detected. I've attached a logfile that contains a configuration dump
[PicApport-32Bit.txt](https://github.com/orientechnologies/orientdb/files/1204306/PicApport-32Bit.txt)

[2017-08-07 08:43] luigidellaquila commented on #7380
Little update here, there is no such function yet, but in v 3.0 you can just represent numbers in hex notation:

[code]

[2017-08-07 08:44] BrunoSupiot opened #7615 "Cannot connect to remote:/localhost/demodb with java API"
### OrientDB Version: <orientdb-community-spatial-3.0.0m2>
### Java Version: <1.8.0_111>
### OS: <Windows 10>

## Expected behavior
<Trying to connection to remote:localhost/demodb with Java interface on the localhost server>

## Actual behavior
<java.io.IOException: Timeout on reading response at com.orientechnologies.orient.client.binary.OChannelBinaryAsynchClient.beginResponse(OChannelBinaryAsy

[2017-08-07 08:47] maggiolo00 commented on #7615
Hi @BrunoSupiot

which version of OrientDB do you have in your `pom.xml` ?

[2017-08-07 08:48] publicocean0 commented on #7587
maybe is a problem in memory usage .... count use just a value ... instead reading all rows load all in memory .

[2017-08-07 08:50] luigidellaquila commented on #7598
Yep, it seems so, I'll fix it asap

Thanks

Luigi

[2017-08-07 08:57] EricSchreiner commented on #7586
@taburet one more thing about why using 32-Bit on a machine with 16 Gig of Ram. Well this is our Test-environment. Also my laptop I use for testing has 32 gig of RAM and I also need to test installations  I have received from users .

[2017-08-07 09:01] taburet commented on #7586
@EricSchreiner yes, I understand your needs. The strange thing is that according to the provided log file there is no auto-configuration done on OrientDB side at all, but it must be done, sine disk cache is not configured. I will investigate more on this.

[2017-08-07 09:05] rdelangh commented on #7587
hi @publicocean0 , I can confirm that the machine is not running into physical memory shortage, nor swapping. So there is some 10's of GB spare RAM that might be used more optimally.
Regarding CPU: I have noticed many times that ODB is hardly using the muliple cores present in the machine, the overall CPU-usage is below 5%. Maybe adding more parallelism (multi-threading) in the server code might h

[2017-08-07 09:06] publicocean0 opened #7616 "strange error in console after a previous error(error not removed by queue?)"
### OrientDB Version: 3
### Java Version: 8

 select * from account

Error: com.orientechnologies.orient.core.exception.ODatabaseException: Cannot close query: 1502096601482_874

The reason is when you executed a previous query giving a exception. The error remains enqueed. For simulate bug you can execute before a wrong query. Then execute a correct query

[2017-08-07 09:08] luigidellaquila commented on #7611
Hi @HuangKBAaron

Thank you for reporting, I'll check it asap

Thanks

Luigi

[2017-08-07 09:11] BrunoSupiot commented on #7615
Hi.
Sorry,  I forgot to refresh gradle project under Eclipse, so the java libraries was already in the 3.0.0m1 version.
Thanks for your anwser

[2017-08-07 09:11] #7615 closed

[2017-08-07 09:14] luigidellaquila commented on #7613
Hi @publicocean0

In v 3.0 we changed the APIs a bit, let me double-check it and I'll let you know

Thanks

Luigi

[2017-08-07 09:24] publicocean0 commented on #7594
all batch scripts dont works , added new bug

[2017-08-07 09:26] publicocean0 opened #7617 "batch scripts dont works now"
### OrientDB Version: 3
### Java Version: 8
[code]

[2017-08-07 09:28] publicocean0 commented on #7614
The problem related to mapping array and maps in index is because the orientdb model for mapping index row might be updated : now is key-value but a abstract and generic model might be instead key-values(like lucene). It permits to handle embedded object, array. In addition this solution emprove also performance ... because there are loops and preprocessing calculations in the old code (i had over

[2017-08-07 09:35] luigidellaquila commented on #7617
Hi @publicocean0

I think most of your problems arise from a change of convention in 3.0.

Until v 2.2 batch scripts considered newline as a statement delimiter; it was a problem in general and an inconsistency compared to normal SQL queries, where newlines were just ignored.
Just add a `;` at the end of each statement, it should solve the problem.

For reference: http://orientdb.com/docs/3.0.x/re

[2017-08-07 09:47] tglman commented on #5864
Hi,

Since 3.0 there was a plan to remove the manual index, so we could allow the create of the index only from the schema, that has a slimmer and more clear API.

Regards

[2017-08-07 10:04] publicocean0 commented on #7617
let a = select from account ;  return $a ;
                                    ^
Encountered " <RETURN> "return "" at line 1, column 32.

[2017-08-07 10:12] laa commented on #5864
Hi, agree. But let's keep this issue open so we will not forget it.

[2017-08-07 10:17] luigidellaquila commented on #7617
Just tried it from Studio and it seems to work fine...

How are you testing it?

Thanks

Luigi

[2017-08-07 10:31] luigidellaquila commented on #7613
I guess we are talking about JS functions.

The result is an array, so you have to do `a[0].field('code')`.

Anyway, it's still using the old query engine, I think we should change it and use the new one, resulting in a complete change of API... Maybe we can consider leaving it as is and adding another method to invoke the new one. @tglman WDYT?

Thanks

Luigi

[2017-08-07 10:32] publicocean0 commented on #7617
i m using studio too.
2017-08-06 17:46:19:968 INFO  Loading configuration from: /data/orientdb/releases/orientdb-community-3.0.0m2/config/orientdb-server-config.xml... [OServerConfigurationLoaderXml]
2017-08-06 17:46:20:460 INFO  OrientDB Server v3.0.0m2 (build 4abea780acc12595bad8cbdcc61ff96980725c3b) is starting up... [OServer]

logs confirmed version running is 3

[2017-08-07 10:34] publicocean0 commented on #7617
i m using linux maybe a problem with newline?

[2017-08-07 10:35] luigidellaquila commented on #7617
Silly question maybe, but did you set the execution mode to BATCH?

The problem should not be with the newline, most of us use Linux or Mac, so we should have found it before...

Thanks

Luigi

[2017-08-07 10:37] publicocean0 commented on #7617
ops it was it ahahah i forgot to reset it after session expire. Ok it is sufficient add ;

[2017-08-07 10:37] #7617 closed

[2017-08-07 10:37] luigidellaquila commented on #7617
😄 Excellent, thanks for the feedback!

Luigi

[2017-08-07 10:55] luigidellaquila commented on #7598
Fixed on 2.2.x branch, the fix will be released with 2.2.26

Thanks

Luigi

[2017-08-07 10:55] #7598 closed

[2017-08-07 11:07] Marchrius commented on #7604
@laa Sure, the original OrientDB version was 2.1 (specific don't know, It was created by an external web agency) then we upgraded to OrientDB 2.2.20 and in this days we started to use 2.2.25 as a possible solution to this problem.

[2017-08-07 11:24] #6719 closed

[2017-08-07 11:24] tglman commented on #6719
hi,

This is not fixed in 3.0 but TP2 has been deprecated and TP 3.0 or core 3.0 provide a different API.

So this can be closed.

Regards

[2017-08-07 11:24] santo-it opened #7618 "HA: Improve Java client policy (3.0)"
Opening this as a continuation of https://github.com/orientechnologies/orientdb/issues/7509 - so that those fixes can be ported into 3.0

[2017-08-07 11:24] publicocean0 commented on #7613
in my software i have many scripts in javascripts.  i had complex queries to do from remote ... so i condensed many calls in one using javascript

[2017-08-07 11:28] santo-it commented on #7509
Hi @RAndrews137,

Thanks for your patience. One question: can we close this one now? The enhancement has been implemented in 2.2.25, and a public issue has been opened by us so that we can port the fixes into 3.0 (Issue #7618)

If you have any follow-up questions on this, you can open a private issue.

Many thanks,

[2017-08-07 11:45] publicocean0 commented on #7613
Anyway
var a=db.command('select from I')
a[0]

dont show anything.

instead
var a=db.command('select from identity')
a

show many rows

[2017-08-07 11:59] laa commented on #7604
@Marchrius exactly as I suspected )) It was an issue in earlier versions when during the load part of the data in pages may be not flushed because of we missed part of new Java NIO contract.  This issue is already fixed you need just to make import/export of database from to JSON, and if I suppose during two weeks in production you will not have given issue, I suppose we may close it.

[2017-08-07 12:07] taburet commented on #7576
Hi @pinakdeshpande, you may use Google Drive to upload the heap dump.

[2017-08-07 12:12] tglman commented on #7613
Hi All,

In 3.0 as result of query we have a OResultSet, that is an Iterator of OResult(https://github.com/orientechnologies/orientdb/blob/develop/core/src/main/java/com/orientechnologies/orient/core/sql/executor/OResultSet.java#L18) in 2.2.x we had a List<ODocument> as result of the query.

so the `a[0]` use to work because the result was a List with the current API you need instead `a.next()` th

[2017-08-07 12:15] luigidellaquila commented on #7613
@tglman I think the JS database wrapper is still using the old API, I don't think it's returning an OResultSet...

[2017-08-07 12:17] publicocean0 commented on #7613
The iterator is a blessed change :) Very a good emprovement.
Anyway
var a=db.command('select from identity')
a.next()

dont works now

[2017-08-07 12:22] publicocean0 commented on #7613
It is a sizedIterator or default iterator? is possible the know the result set size?

[2017-08-07 12:23] publicocean0 commented on #7613
anyway a.next() works

[2017-08-07 12:32] publicocean0 commented on #7613
There also another change ....

a.next().field('code') dont works .... a.next() it seams returns just the rid

[2017-08-07 12:33] luigidellaquila commented on #7613
Hi @publicocean0

It's a normal iterator (not a sizedIterator) as the query could be very expensive and it cannot be calculated and kept in RAM in all cases.

I'm checking the issue, but I can't get how `a.next()` can work... it's supposed to still use the old API, that just returns a list... Let me do some deeper analysis, any additional info will be very appreciated

Thanks

Luigi

[2017-08-07 12:46] luigidellaquila commented on #7613
Ok, I think we have to take a decision here.

The API is as follows:
[code]

but it still uses the old executor and the old underlying implementation, that is bad in terms of consistency with 3.0, but it helps in terms of backward compatibility.

The new database API in 3.0 is exactly the same, I cannot immagine a more natural method signature or variable naming, so I'd keep it as is and I'd bind

[2017-08-07 12:51] publicocean0 commented on #7613
a.next().getProperty('code') works :) in studio.
I created orientdb release using 3.0m2 branch

[2017-08-07 13:01] luigidellaquila commented on #7613
ok, trying to reproduce... which version did you download exactly?

Thanks

Luigi

[2017-08-07 13:02] luigidellaquila commented on #7613
ah, ok, you created it from a maven build I guess

[2017-08-07 13:04] publicocean0 commented on #7613
yes exactly :)

[2017-08-07 13:20] publicocean0 commented on #7613
in a  old script i found also something like .....
 var a=new com.orientechnologies.orient.core.record.impl.ODocument()
a.field('a',3)

just for describing all the panorama for evaluation

[2017-08-07 13:22] luigidellaquila commented on #7613
OK, I'm working to make it consistent, I'll provide APIs to cover all these cases.
I'll keep you updated

Thanks

Luigi

[2017-08-07 13:41] RAndrews137 commented on #7509
We tested this last Friday and it worked well.  We can close the issue.  Thanks  :)

[2017-08-07 13:43] #7509 closed

[2017-08-07 13:43] luigidellaquila commented on #7509
Great, closing then.

Thanks

Luigi

[2017-08-07 13:48] careerscale commented on #7600
+1, this might help me too. so with 3.0?

[2017-08-07 14:53] RAndrews137 commented on #7268
Hi @lvca,  we have not had a chance to test your suggestion and probably will not have a need to.  Overall, I still suggest having a means to import into an HA cluster with no changes.  Since this is not an active issue for us, perhaps this can be classified as an Enhancement.  Thanks  :)

[2017-08-07 15:00] diegomtassis opened #7619 "ODatabaseException when creating an index"
### OrientDB Version: 3.0.0m2
### Java Version: 8
### OS: Windows

The following script crashes when it tries to create the index.

[code]

The following exception is thrown:

[code]

Remarks:

- It works with OrientDB 2.2.25.
- The 2nd statement for creation of the index works.
- If the statements creating the edge are removed then the creation of the index works.

[2017-08-07 15:08] lightjiao opened #7620 "select expand(out().out()) get two same vertex?"
### I have a test graph below
a_1 ---[e_a_b]---> b_1
a_1 ---[e_a_b]---> b_2
b_1 ---[e_b_c]---> c_1
b_2 ---[e_b_c]---> c_1
execute sql
[code]
return two same vertex(two c_1), it's a BUG? or I used in a wrong way?
How can I get one single ```c_1``` after ```select expand(out("e_a_b").out("e_b_c")) from v_a```on my test data?
My purpose is to count friends of friends and sort by the result
How can I

[2017-08-07 15:11] tglman commented on #7619
hi @diegomtassis,

since 3.0 we deprecated the association of the index by field name, now you need to specify the property when you create the index, in the way your comment create index does.

Regards

[2017-08-07 15:15] diegomtassis commented on #7619
Ok, but the change is not reflected in the documentation.
http://orientdb.com/docs/3.0.x/indexing/Indexes.html

[2017-08-07 15:16] tglman commented on #7594
hi @publicocean0,

About the streaming feature on the query engine a record or a result of a query is an unit that cannot be split in orient today, we add some code for splitting blobs but not much more work has been done on it in 3.0, so far we have to consider a record as a "unit".

Bye

[2017-08-07 15:24] publicocean0 opened #7621 "strange timeout in index query"
### OrientDB Version: 3
### Java Version: 8
### OS: linux

 select from index:Cl.i_name where key = #23:17

Error: com.orientechnologies.common.io.OIOException: Read timed out

Error: java.net.SocketTimeoutException: Read timed out

after this error there is another bug notified
 select from index:Cl.i_name where key = #23:14
Error: com.orientechnologies.orient.core.exception.ODatabaseException: C

[2017-08-07 15:32] lightjiao commented on #7620
select name, set(out("e_a_b").out("e_b_c")).size() from v_a

I… find the answer?

The problem is always solved after the problem is raised - -b

any better way?

the stackoverflow
https://stackoverflow.com/questions/45550381/orientdb-select-out-out-return-two-same-vertex/45550641#45550641

[2017-08-07 15:32] kishorel opened #7622 "issue in setting up distributed sharded cluster"
### OrientDB Version: <2.2.25>
### Java Version: <1.8.0_60>
### OS: <CentOS release 6.9>

## Expected behavior
I'm trying to setup on 3 servers and trying to setup a class "users", with 3 clusters "users_0",
"users_1", and "users_2". My servers are called node1, node2, and
node3. I want the clusters arranged such that I have 2 copies of each
cluster, so if 1 node goes down I still have access to a

[2017-08-07 15:33] luigidellaquila commented on #7620
Hi @lightjiao

Yes, it's expected, you can also use `.asSet()`, but there is no particular advantage compared to your solution

Thanks

Luigi

[2017-08-07 15:36] lightjiao commented on #7620
@luigidellaquila Thank you ^_^

[2017-08-07 15:36] #7620 closed

[2017-08-07 15:41] luigidellaquila commented on #7600
Yes, I'd say we can work on it for 3.0

I'll follow up with some more ideas to define implementation details, if you have any specific requirements please let me know

Thanks

Luigi

[2017-08-07 15:44] publicocean0 commented on #7594
About the streaming i mean another thing: i create a pseudo code maybe is more clear what i meant:
now is
b =new OrecordBytes(buffer). where buffer is byte[] type
with new engine it could be more scalable
b=new OrecordBytes()
b.write(buffer1)
.....(in memory just the current buffer)
b.write(buffer2)
....
In this way in the client and also in the server the ram used for trasffering is always space

[2017-08-07 15:46] luigidellaquila commented on #7613
Hi @publicocean0

I pushed a fix on develop branch, now the API should be consistent with the ODatabase API.

You have the following methods:

[code]

For reference you can see:
http://orientdb.com/docs/3.0.x/java/Java-MultiModel-Data-API.html
http://orientdb.com/docs/3.0.x/java/Java-Query-API.html

I'll update the js docs in next hours

This should be enough for typical usage, but please let me k

[2017-08-07 15:57] laa commented on #7586
Hi @EricSchreiner could you try this build https://drive.google.com/file/d/0B2oZq2xVp841eklKTmVLMW1kMTQ/view?usp=sharing

[2017-08-07 16:25] lvca opened #7623 "OrientDB EE: reduce the cost of profiler"
Right now, every X seconds, every server in cluster collects all the metrics and stats and publish them to Hazelcast configuration. The main problem is that this operation consumes a lot of CPUs and RAM because it fetches the document from Hazelcast, replace the document property containing own metrics/stats, and republish it. With many servers and many databases this could be very heavy.

It woul

[2017-08-07 16:28] tglman commented on #6370
hi @taburet,

Yes the test case make assumption that the internal external collection are the same, this cannot be because it means keep some kind of connection for long running instance and even loose the control of what save and what not save, we could do it if the collection where instances of our own classes, but this would limit a lot the usability of the API.

On the tracking of external col

[2017-08-07 16:43] tglman commented on #7496
hi @kevmegforest,

I understand your point, anyway keeping the check only in commit time will make the behaviour of the save in noTx database not the same of the save in Tx databases, that is a problem as well, probably is better propose some change downstream, to make everything more coherent.

[2017-08-07 16:52] tglman commented on #6304
Hi,

As today implementations the index changes are send back and forward from the server, because we still have support for manual index, as soon we remove the support for manual index index changes can be removed from network.

Regards

[2017-08-07 17:02] tglman commented on #6716
Hi,

As today handshaking data from the client include:
[code]

The `encoding field was thought for the evolution like use varint on network serialization or compression.

So already done.

[2017-08-07 17:09] lvca commented on #6716
cool.

[2017-08-07 17:10] lvca commented on #6304
Can we at least check that if there are no manual index used we skip this?

[2017-08-07 18:35] kevmegforest commented on #7496
hi @tglman

tinkerpop2 has been discontinued. There is no way to make a change downstream. Since it's OrientDB that has made the change which has broken the support for blueprints based software during it's 2.2.x support, I support that this change be made for the next major release (2.3.x or 3.x). Here's a patch that would work and pass all current tests.

[code]

[2017-08-07 19:34] publicocean0 commented on #7613
Thanks a lot :) I will start the migration of scripts now :)

[2017-08-07 19:37] laa commented on #6383
fixed long time ago

[2017-08-07 19:37] #6383 closed

[2017-08-07 19:48] publicocean0 opened #7624 "maybe a bug when i select entire index in console?"
### OrientDB Version: 3

select from index:i.a

Error: com.orientechnologies.orient.core.index.sbtree.local.OSBTreeException: Null keys are not supported.

[2017-08-07 19:50] laa commented on #7624
@publicocean0 do you have a full stack trace ?

[2017-08-07 19:51] laa commented on #7624
it should be in the log file for client or server

[2017-08-07 19:54] publicocean0 commented on #7624
$ANSI{green {db=s}} Exception `4A0E06E5` in storage `s`
com.orientechnologies.orient.core.index.sbtree.local.OSBTreeException: Null keys are not supported.
	DB name="s"
	Component Name="c.id"
	at com.orientechnologies.orient.core.index.sbtree.local.OSBTree.checkNullSupport(OSBTree.java:963)
	at com.orientechnologies.orient.core.index.sbtree.local.OSBTree.get(OSBTree.java:191)
	at com.orientechnolo

[2017-08-07 20:07] DEVOPSIO21 commented on #7600
Hi Luigi,

Yes, I am sure it makes more sense for v3.0 +. Was not expecting it for 2.2 branch.

This type of functionality will open up a easier path of being able to do MA (Moving Averages). Is there a way for me to see what's in the development queue / road map. I want to see what new `Features` are planned, it will help me put together some specific ideas related to this for your review.

I hav

[2017-08-07 20:14] laa commented on #7624
@luigidellaquila what behavior should we get from index when it does not support null keys ? because if we do not get exception how we should be sure that index merely does not support such type of keys ?

[2017-08-08 03:21] HuangKBAaron commented on #7609
@luigidellaquila, do you mind to take a look?

[2017-08-08 06:12] laa commented on #7586
Hi @EricSchreiner please do not set MaxDirectMemory but only heap size, so we will test whether your requirements are satisfied.

[2017-08-08 07:16] luigidellaquila commented on #7624
Hi @laa

For simple queries, where the target is a class, there is no problem, as the SQL engine checks the index definition and avoids to use the index if it doesn't meet the requirements for the query execution.

For queries where the target is the index, IMHO we should just return the indexed values, not throw exceptions. I guess the problem is on the query executor, I'll check it.

About the i

[2017-08-08 07:49] taburet commented on #7576
@pinakdeshpande I have ran the provided sample code for about 1.5 hours with 32 threads and 1GB of the heap for server. No memory or CPU consumption anomalies found. Seems like the problem is in some combination of different factors in your setup.

I will provide you with instructions on how to profile your setup soon. In meanwhile, upload your existing heap dump to Google Drive, maybe it will she

[2017-08-08 08:08] HuangKBAaron opened #7626 "OClusterPositionMapException with UPDATE UPSERT edges"
### OrientDB Version: 2.2.25
### Java Version: Java(TM) SE Runtime Environment (build 1.8.0_144-b01) Java HotSpot(TM) 64-Bit Server VM (build 25.144-b01, mixed mode)
### OS: Windows 10 x64

## Actual behavior
`2017-08-08 15:58:28:387 INFO  {db=vw-volume-predict} Created database 'vw-volume-predict' of type 'plocal' [ONetworkProtocolBinary]$ANSI{green {db=vw-volume-predict}} Error on creating recor

[2017-08-08 08:29] laa commented on #7626
@HuangKBAaron I am afraid I need database instance to reproduce the issue, could you share one? Is it correct that database was created under 2.2.25 version? Do you have any server crashes or OOM exceptions before that?

[2017-08-08 08:58] luigidellaquila commented on #7609
Checking it now

[2017-08-08 09:06] luigidellaquila commented on #7609
Hi @HuangKBAaron

I just checked your script, the problem here is that you are not creating an edge!!!
The right syntax to create an edge is `CREATE EDGE`, not `UPDATE...UPSERT`, the UPDATE works at document level and does not create the connections properly:

[code]

Right now there is no UPSERT defined for edges, so if you need it you have to find a work-around (eg. do a SELECT and check if the

[2017-08-08 09:07] HuangKBAaron commented on #7609
I am trying other scripts, and found some interesting facts. with the "update/upsert", "in/out" has to be "in/out", not "IN/OUT", server would treat "IN/OUT" as common properties of the edge, that is, not treat as "FROM/TO".

Another fact:
The following script MAKE 'update' and 'CREATE EDGE' the same result same as:
`UPDATE e_has_model SET in=$vol, in=$model[0], f_recorded='2017-08-05 16:27:56' UP

[2017-08-08 09:10] HuangKBAaron commented on #7609
@luigidellaquila,
got it. So is it possible to add it in next release? it quite useful feature.

[2017-08-08 09:10] luigidellaquila commented on #7609
Hi @HuangKBAaron

Yes, we have an open issue for that, it will likely be in 3.0 GA

Thanks

Luigi

[2017-08-08 09:14] HuangKBAaron commented on #7609
thx your effort!

[2017-08-08 09:14] #7609 closed

[2017-08-08 09:16] EricSchreiner commented on #7586
Hi @laa, Hi @taburet

Still not working. I've removed the MaxDirectMemory Parameter. Please see logfile below

[PicApport-odb-2-2-26.txt](https://github.com/orientechnologies/orientdb/files/1207461/PicApport-odb-2-2-26.txt)

[2017-08-08 09:37] taburet commented on #7576
I think we should stick to this plan:

1. Analyse the existing heap dump.

2. If `1` wont help, monitor GC/memory stats and take a new heap dump when the heap is almost full.

3. If `2` wont help, enable and collect the GC logs as described [here](https://dzone.com/articles/enabling-and-analysing-the-garbage-collection-log).

4. If `3` wont help or if it's obvious that problem is not in GC, profil

[2017-08-08 09:45] laa commented on #7586
@EricSchreiner According to stack trace which you sent

at java.nio.ByteBuffer.allocateDirect(ByteBuffer.java:311)
EXCEP@     at com.orientechnologies.common.directmemory.OByteBufferPool.allocateBuffer(OByteBufferPool.java:335)

the exception happens at line 335 of byte buffer pool,
But in the file after the changes which I did this line corresponds to code https://github.com/orientechnologies/ori

[2017-08-08 09:49] pinakdeshpande commented on #7576
Sure, please share the correct server configs to tune it better.
I have uploaded the core dump on google drive and shared you a link.

[2017-08-08 09:55] luigidellaquila commented on #7624
Hi @publicocean0 @laa

I just pushed a fix on develop branch

I'm closing this issue, please reopen if you see any related problems

Thanks

Luigi

[2017-08-08 09:55] #7624 closed

[2017-08-08 10:43] luigidellaquila commented on #7611
Hi @HuangKBAaron

I tried to reproduce this issue, but with no success, can you provide a dataset where it fails?

Thanks

Luigi

[2017-08-08 11:05] taburet commented on #7576
The heap dump contains an extremely long string of 538 968 062 chars in length, this string along occupies 1GB+ of the heap. Unfortunately, the string has no strong references, so I cannot track its origin. It starts with "service_state[SPTimerV4]", seems like the rest of it is garbage.

Please inspect your code base and data sources for occurrences of this string. I suspect it either  parsed inco

[2017-08-08 11:32] pinakdeshpande commented on #7576
We had some issue with the server and we had to restart it. I have taken a core dump before the restart (pid: 23266) and uploaded the drive.
There is one more strange thing observed, every time after DB restart, within first 5 mins itself the server throws OOM Heap Space error and generates heap dump, I have also uploaded that (pid:22699) and the GC logs which were already enabled.
I will check if

[2017-08-08 12:03] taburet commented on #7576
Analysed the latest heap dump (pid:22699). Same story, but there are many such extremely long strings this time and likely there are strong references to them. All of the strings are came from the network layer. The common pattern is "some meaningful prefix \n many megabytes of garbage (\uFFFFs)". Some examples: "vfs.fs.discovery\n 1GB of garbage", "agent.hostname\n 0.5GB of garbage", "kernel.maxp

[2017-08-08 12:22] taburet commented on #7576
BTW, the strings came by the HTTP connections.

[2017-08-08 12:28] publicocean0 commented on #7624
ok thanks

[2017-08-08 12:39] micha-nerdlichter commented on #5247
Exactly, it would be nice to have it in alphabetical order by default without the unwind and expand hussle;)

[2017-08-08 13:10] taburet commented on #7576
@pinakdeshpande are you using HTTP connections to the OrientDB server?

[2017-08-08 13:12] Marchrius commented on #7604
@laa just a question. Exactly, what version are you talking about? At the moment we restored a valid backup (saved the corrupted one) and all goes well but we want to fix it once and for all.

[2017-08-08 13:22] #7619 closed

[2017-08-08 13:22] tglman commented on #7619
hi @diegomtassis,

I updated the documentation removing the case, i'm closing this.

Regards

[2017-08-08 14:03] laa commented on #7604
@Marchrius if I remember it correctly all version prior 2.2.15 had this issue.

[2017-08-08 15:46] #7592 closed

[2017-08-08 15:46] G4br13l3 commented on #7592
Fixed. Working to make all tests green also in teleporter-3.0.

Thanks,
Gabriele

[2017-08-08 16:13] santo-it commented on #7265
Hi,

I'm not personally aware of updates. Currently waiting on the Storage Team. Not ready to be closed yet.

Thanks,

[2017-08-08 16:21] EricSchreiner commented on #7586
Hi @laa I used the link you provided: https://drive.google.com/file/d/0B2oZq2xVp841eklKTmVLMW1kMTQ/view?usp=sharing
as you can see in the logfile it should be the correct one....

DEBUG@ 11:11:23.231 PicApportDBService.setDbConfig: ----- start dump db-configuration -----
**_OrientDB 2.2.26-SNAPSHOT_** (build e48ae34ce1827858f78f9f4ddfe30fd289050478) configuration dump

[2017-08-08 18:20] pinakdeshpande commented on #7576
Yes for writing we use java APIs and for reading the data I'm firing queries from the REST HTTP URL Connection.  But I dont find those characters in any of my query strings.
All those strings points me to Zabbix monitoring system which is enabled on PROD environment, I will check with our IT Team and get back to you.

[2017-08-08 18:47] saeedtabrizi commented on #7132
If there is not any more comment about it , i just starting to finalize implementation .

[2017-08-08 19:13] laa commented on #7586
HI @EricSchreiner that is my fault then, could you try this build https://drive.google.com/file/d/0B2oZq2xVp841THlxbVhhemxMMGM/view?usp=sharing . Could also set log level to the info level or lower so we will see all information printed in the log by ODB.

[2017-08-09 01:40] zlfsimon opened #7627 "Batch insert sql: Direct buffer memory"
### OrientDB Version:  2.2.5
### Java Version: 1.8.0_144
### OS:  centos 7  | mac

## Exception
[code]

## Steps to reproduce
[code]

batch insert sql like below with 2000 records in a sql:
`INSERT INTO Company(rowkey,_key,name,business_status,ctime,entity_type,capital,city,enterprise_type,industry,operation_startdate,province,utime) VALUES ('09A626712730E39B779AB5BDA1E318D0','','','','','','','',

[2017-08-09 01:48] pinakdeshpande commented on #7576
I could also see those strings in the dump. The Leak Analysis Report says following

`The thread com.orientechnologies.orient.server.network.protocol.http.ONetworkProtocolHttpDb @ 0x6cc0332b0 OrientDB HTTP Connection /<host1>:2480<-/<host2>:55121
keeps local variables with total size 1,077,941,344 (29.38%) bytes.
The memory is accumulated in one instance of "char[]" loaded by "<system class loader

[2017-08-09 03:10] zlfsimon commented on #7627
after read the source code, it seems not reuse the allocated buffer and always to allocate new buffer
[code]
Some way can I reuse the allocated buffer?

[2017-08-09 03:16] zlfsimon commented on #7627
my server.sh command result:
` /Library/Java/JavaVirtualMachines/jdk1.8.0_144.jdk/Contents/Home//bin/java -d64 -server -XX:+UseG1GC -Xms2G -Xmx4G -Djna.nosys=true -XX:+HeapDumpOnOutOfMemoryError -XX:MaxDirectMemorySize=4g -Djava.awt.headless=true -Dfile.encoding=UTF8 -Drhino.opt.level=9 -Djava.util.logging.config.file=/Users/haizhi/software/orientdb-community-importers-2.2.25/config/orientdb-serve

[2017-08-09 04:00] HuangKBAaron commented on #7626
It occurred after I did the same "update/upsert" to the "updatED-upsertED" edge class. It did not repro after I changed approach. Some one might be interested, which is "if" statement added to the batch script.

[2017-08-09 04:00] #7626 closed

[2017-08-09 04:15] lvca commented on #7132
+1

[2017-08-09 04:18] lvca commented on #7627
`XX:MaxDirectMemorySize` is just an upper limit for the JVM, you can safely set it to a very high value, like 512G, because OrientDB would just use a little amount.

[2017-08-09 04:44] laa commented on #7627
@zlfsimon why do you think we do not reuse allcoated buffer , I can not get it . Could you elaborate ?

[2017-08-09 04:45] laa commented on #7627
@lvca I reopened issue because user thinks there is reas of memory leak, let's discuse with @zlfsimon his concerns

[2017-08-09 04:52] laa commented on #7576
Sorry we are storage engine team not http protocol team, it was clear from begging that it is not related to storage but we decided to help to find a cause, assigned to @maggiolo00

[2017-08-09 04:55] laa commented on #7627
@zlfsimon btw could you also check https://drive.google.com/file/d/0B2oZq2xVp841THlxbVhhemxMMGM/view?usp=sharing whether an exception is gone with this build?

[2017-08-09 06:03] laa opened #7628 "Add ability to specify string encoding for index keys"
Add ability to specify the encoding of keys during serialization if index uses strings as keys and use UTF-8 encoding by default.
It will allow storing indexes in more compact form and as result, more data will be cached in memory and we will increase database performance.

[2017-08-09 06:05] laa opened #7629 "Use unsigned int as index of page in disk cache instead of long"
Usage of unsigned int instead of long will allow to address files up to 64TB and will allow reducing space consumed by all types of indexes and increase database performance in general

[2017-08-09 06:09] lvca commented on #7629
Do you mean 64TB per page, index or database?

[2017-08-09 06:09] laa opened #7630 "Decrease value of storage.lowestFreeListBound property from 16 to 1"
If we decrease the value of this property we will be able to add up to 25% more records in a single page, which obviously will decrease the amount of space consumed by data and will increase database speed in general.

[2017-08-09 06:09] lvca commented on #7628
+1

[2017-08-09 06:10] laa commented on #7629
Single size of file will be limited to 64TB

[2017-08-09 06:17] laa opened #7631 "Add trace tool which will trace which pages are accessed while storage is opened"
It will allow us to estimate using simulator of different caching algorithms which type of the caching algorithm fits best for our disk cache. Such trace tool will be very lightweight and will not affect system performance. We can ask our customers to switch it on for one of few days so we will be able to get a broad range of data access patterns which are possible in production.

[2017-08-09 06:33] lvca commented on #7629
So in our case would be indexes and cluster files, right? In this case seems more than reasonable to me.

[2017-08-09 06:34] lvca commented on #7630
+1

[2017-08-09 07:27] lvca commented on #7629
Also, we should be retro-compatible and work with previous binary format.

[2017-08-09 07:30] laa commented on #7629
Yes, that is why I created an issue, it will require quite of work to be backward compatible. Change itself is not so big.

[2017-08-09 08:18] zlfsimon commented on #7627
@lvca, I try to use XX:MaxDirectMemorySize=512G, but still get this exception, so I change this setting,  from error stack, seems it's happen on allocate  new buffer

[2017-08-09 08:32] laa commented on #7627
@zlfsimon what is the value of properties of JMX bean java.nio:type=BufferPool,name=direct after OOM? Could you check it? Could you also use a distribution which I provided to you?

[2017-08-09 08:58] grossvater commented on #5069
Any chance to have it implemented in community edition also?

[2017-08-09 09:07] robfrank commented on #5069
No, there are no plans to move it to the community.

[2017-08-09 09:11] kishorel commented on #7622
Does anyone faced similar issue? It works fine with two nodes but adding third one throws errors.

[2017-08-09 09:36] grossvater commented on #1108
Any news on this?

[2017-08-09 09:46] TropicalPenguin opened #7633 "Inline LINK Batch Variable"
### OrientDB Version: 2.2.25
### Java Version: openjdk version "1.8.0_131"
### OS: Ubuntu 17.04

## Expected behavior
Should be able to set batch variables to RID values. Useful, for example, when substituting a single value into a batch with tokens and conditional logic. E.g. Where `/* token */` can be replaced by a RID

[code]

## Actual behavior
[code]

## Steps to reproduce

Executing a simple

[2017-08-09 09:50] luigidellaquila commented on #1108
Hi @grossvater

did you already try the following:

[code]

Thanks

Luigi

[2017-08-09 10:08] laa commented on #7610
Found issue in SQL parser, assigned to @luigidellaquila . Luigi, once you fix this part please assign it, we suppose that is not the last part which we should fix.

[2017-08-09 10:49] luigidellaquila commented on #7610
Thank you @laa, the problem was not in the SQL parser, but in TinkerPop2 API that did not execute the query as a prepared statement (with positional parameters) so it forced the engine to parse the query again and again at each request (no cached statement could be used).

I pushed a fix for that, now the performance seems to be much better.

I'm reassigning the issue to you for a second check

Th

[2017-08-09 10:55] luigidellaquila commented on #7613
Hi @publicocean0

Can I close this issue? Do you still need info on it?

Thanks

Luigi

[2017-08-09 11:05] publicocean0 commented on #7613
i think yes. It seams to work.

[2017-08-09 11:07] luigidellaquila commented on #7613
Great, thank you, closing then.

Please reopen if you need further help

Thanks

Luigi

[2017-08-09 11:07] #7613 closed

[2017-08-09 11:51] laa commented on #7610
@luigidellaquila BTW the same issue in TP3 too, could you check it?

[2017-08-09 11:59] luigidellaquila commented on #7610
In 2.2...? I really have no idea, but I'll double check with @maggiolo00

Thanks

Luigi

[2017-08-09 11:59] luigidellaquila commented on #7610
Sorry, I mean 3.0

[2017-08-09 12:26] maggiolo00 commented on #7610
@laa  @luigidellaquila

there is not `OrientGraphQuery` yet in TP3

[2017-08-09 12:39] laa commented on #7610
OK lest skip it for now and will be back to it once @kinssun provides more data, how @kinssun performed benchmarks on TP3.

[2017-08-09 13:00] laa commented on #7610
On my PC I get:
2.2.x embedded - 2189
3.0 embedded - 1945

still slower we will continue investigation

[2017-08-09 13:13] laa opened #7634 "Exception during load test on remote storage and noticeable slowdown"
### OrientDB Version: 3.0
We tried to reproduce issue https://github.com/orientechnologies/orientdb/issues/7610 and created following load test https://gist.github.com/laa/82a0fe264ecf8120458acbf769949da8 . On @taburet machine we get

[code]

So remote storage performance was decreased at 2.4 times. (on 2.2.x remote storage is 1.7 times slower on 3.0 remote storage is 4.3 times slower) we found th

[2017-08-09 13:43] EricSchreiner commented on #7586
Hi @laa
still not working (see attached logfile) The build number is different from the previous one...
rientDB 2.2.26-SNAPSHOT (build 1083c79e63810dbafc9fee07f24654b22a5b7e65)
I've also set -Dlog.console.level=INFO but it seems not to work????
[PicApport-odb2.2.26.txt](https://github.com/orientechnologies/orientdb/files/1211575/PicApport-odb2.2.26.txt)

[2017-08-09 13:54] laa commented on #7586
@EricSchreiner could you the following parameter to the command line `-Djava.util.logging.config.file=<path to file>` this file should be similar to the following https://github.com/orientechnologies/orientdb/blob/2.2.x/server/config/orientdb-server-log.properties  and send me the log output?

[2017-08-09 14:21] zlfsimon commented on #7627
@laa  I use this distribution with same page, it works fine, I also check the jvm heap, it seems better then the version 2.2.25.
Thanks for your great help!

[2017-08-09 14:24] laa commented on #7627
@zlfsimon so we can treat this issue as resolved?

[2017-08-09 14:25] zlfsimon commented on #7627
@laa  yes, thanks

[2017-08-09 14:46] EricSchreiner commented on #7586
Find attached the logfile created:
[orient-server.log.txt](https://github.com/orientechnologies/orientdb/files/1211810/orient-server.log.txt)

[2017-08-09 16:09] G4br13l3 commented on #7592
Updated develop branch too, now all the tests are green on windows.

Thanks,

Gabriele

[2017-08-10 02:46] mexeniz commented on #7584
@Iaa I've done many load tests and also tested with OrientDB v. 2.2.18 which we used on production. An issue wasn't reproduced anymore. Thank you very much for your help!

[2017-08-10 06:42] kinssun commented on #7610
@Iaa, sorry for replying you so late. I'm a little busy now. Due to the service deployment topology limitation, My app has to use 'remote' mode connecting to Graph DB. If I has enough time this week, I will try embeded mode, but I think it is meanless to me.

BTW, The poor performance result about 3.0.0m2 occured in both Tp2 and Tp3 plugin. The same test codes executed  much faster in 2.2.24

[2017-08-10 06:44] kinssun commented on #7610
@Iaa, sorry for replying you so late. I'm a little busy now. Due to the service deployment topology limitation, My app has to use 'remote' mode connecting to Graph DB. If I has enough time this week, I will try embeded mode, but I think it is meanless to me.

BTW, The poor performance result about 3.0.0m2 occured in both Tp2 and Tp3 plugin. The same test codes executed much faster in 2.2.24

[2017-08-10 06:56] laa commented on #7584
@mexeniz cool but I strongly recommend to update to at least 2.2.20 version. It will prevent possible problems with memory consumption in your case I think there will be no difference to update to 2.2.20 or to 2.2.25 so probably better to update to 2.2.25 at once.

[2017-08-10 06:56] #7584 closed

[2017-08-10 06:57] #7627 closed

[2017-08-10 07:54] laa commented on #7586
@EricSchreiner could you try new build https://drive.google.com/file/d/0B2oZq2xVp841THlxbVhhemxMMGM/view?usp=sharing please send me a log output as you did during the previous run.

[2017-08-10 08:39] maggiolo00 opened #7635 "Batch script : Invalid FROM vertex for edge"
### OrientDB Version: 3.0.x

## Steps to reproduce

- Create a new database
- Execute this batch script from Studio

[code]

[2017-08-10 08:40] luigidellaquila commented on #7635
Checking now

[2017-08-10 08:52] maggiolo00 opened #7636 "NumberFormatException for input string"
### OrientDB Version: 3.0.x

## Steps to reproduce

- create a database and then use this SQL

[code]

[2017-08-10 08:52] rdelangh opened #7637 "explain order of execution of a batch with multiple transactions"
### OrientDB Version: 2.2.23

## Expected behavior
Via REST-API, I send a batch of some 300 individual SQL transactions to the server, as one long JSON string.
Each transaction is composed as
[code]
The JSON string is then composed as
[code]
I was expecting that the transactions in this JSON batch are executed in sequence, so that the first transaction is COMMITed before the next transaction is st

[2017-08-10 09:01] laa commented on #7610
@kinssun thank you very much for your help. We discovered the final reason of slow down on embedded it will be fixed soon I suppose. Also, @taburet discovered a reason slowdown which we discovered in the last test.

[code]

After refactoring of the life cycle, connection pool consumes 33% of resources.
In 2.2.x http://imgur.com/a/gT5gN
In 3.0 http://imgur.com/a/uu7GH

Assigned to @tglman to fix th

[2017-08-10 09:06] wolf4ood opened #7638 "Index not used with IN operator"
### OrientDB Version: 3.0.x

[code]

[2017-08-10 09:18] luigidellaquila commented on #7635
Fixed on develop branch

Closing, thanks

Luigi

[2017-08-10 09:18] #7635 closed

[2017-08-10 10:13] luigidellaquila commented on #7636
Fixed, closing

Thanks

Luigi

[2017-08-10 10:13] #7636 closed

[2017-08-10 10:30] laa opened #7639 "Create set of HA tests for distributed database using chaos monkey like tools"
Pumba https://github.com/gaia-adm/pumba  is a good tool which allows emulating chaos inside of distributed network.  Would be good to create a set of HA tests based on this tool.

Additional links to read:

https://github.com/Netflix/SimianArmy/wiki/Chaos-Monkey
http://blog.terranillius.com/post/pumba_docker_netem/
https://hackernoon.com/pumba-chaos-testing-for-docker-1b8815c6b61e

Alos we would n

[2017-08-10 10:33] maggiolo00 commented on #7610
hi @kinssun

do you have the code of the benchmark with Tp3 plugin ?

Thanks

[2017-08-10 10:39] publicocean0 commented on #7613
I checkoout branch develop .... but compiling i have a exception in
Could not find artifact com.orientechnologies:orientdb-core:jar:tests:3.0.0-SNAPSHOT

[2017-08-10 11:03] robfrank commented on #7612
The test:
https://github.com/orientechnologies/orientdb/blob/develop/lucene/src/test/java/com/orientechnologies/lucene/tests/OLuceneCreateJavaApiTest.java

uses the java api to create lucene index. Is your code similar?

about:
"problem with old javascript scripts var a=db.command(....) a.field('code') dotn works"

I don't understand what are you meaning.

[2017-08-10 11:40] publicocean0 commented on #7613
do you confirm in javascript i have to replace doc.identity in doc.getProperty('@rid') ?

[2017-08-10 11:50] publicocean0 opened #7640 "api is changed doc.identity in doc.getProperty('@rid') or bug?"
### OrientDB Version: 3
### Java Version: 8

in javascript api `doc.identity` dont show rid
do you confirm we have to use `doc.getProperty('@rid')` for migrations?

In addition there is a error compiling develop branch ....

[code]

[2017-08-10 11:55] fixundfertig123 commented on #7547
@tglman Sorry for bothering you, but this issue is blocking our testsuite and migration to a current 2.2.x. Could you please give me an indication, whether you can confirm my bug. Kind regards

[2017-08-10 11:57] tglman opened #7641 "Issue on direct memory allocation in scala+sbt environment"
### OrientDB Version: 2.2.25 2.2.26-SNAPSHOT
### Java Version: java 8
### OS: Debian

## Expected behavior
Test case: https://github.com/fixundfertig123/7547/blob/InMemoryErrorFlatSpec/src/test/scala/Test.scala goes smooth

## Actual behavior
Out Of Memory on Direct Memory  allocation

## Steps to reproduce

Checkout the project https://github.com/fixundfertig123/7547 on the branch https://github.

[2017-08-10 12:00] tglman commented on #7547
hi @fixundfertig123,

We tried to run the project and we got some problem I opened a different issue on that problem, here it is: https://github.com/orientechnologies/orientdb/issues/7641, I'm closing this one again, regards.

[2017-08-10 12:00] #7547 closed

[2017-08-10 12:04] careerscale commented on #7610
sorry for intruding into this ticket. Is this issue with a stand alone instance or cluster? I didn't see much performance issue in stand alone embedded but with cluster I have seen lot slower (with snapshots).

I use orient 3 latest snapshots (all the time) and TP 3.0

[2017-08-10 12:18] EricSchreiner commented on #7586
HI @laa see attached Logfile
[orient-server.log.txt](https://github.com/orientechnologies/orientdb/files/1214834/orient-server.log.txt)

The Excepions ther should be aleady fixed for 2.2.25 ?!? please see [https://github.com/orientechnologies/orientdb/issues/7585#issuecomment-317761344](url)

[2017-08-10 12:22] luigidellaquila commented on #7613
Hi @publicocean0

You can use `doc.getIdentity()` for this

Thanks

Luigi

[2017-08-10 12:23] luigidellaquila commented on #7640
Hi @publicocean0

If you have a document (an OElement), you have to use `doc.getIdentity()`

If you have an OResult, you have to use  `doc.getIdentity().orElse(null)`

Thanks

Luigi

[2017-08-10 12:24] luigidellaquila commented on #7640
Let me check the compile error, here in my machine everything seems to work fine, but maybe it's due to maven cache

Thanks

Luigi

[2017-08-10 12:28] publicocean0 commented on #7612
about first question
 OIndex<?> lucene = song.createIndex("Song.author_description", OClass.INDEX_TYPE.FULLTEXT.toString(), null, null, "LUCENE",
        new String[] { "author", "description" });

i see a different in the fourth parameter you pass null instread i pass document. I will try to remove d...

about second question: it is not related with this problem : javascript api is changed but th

[2017-08-10 12:37] robfrank commented on #1822
Using the LOAD SCRIPT console command (http://orientdb.com/docs/last/Console-Command-Load-Script.html) it's easy to don't include the credentials in the script:
[code]

[2017-08-10 12:38] publicocean0 commented on #7640
yes i think there is a old test lib name in the pom before com.orientechnologies:orientdb-core:jar:tests-3.0.0-SNAPSHOT now maybe orientdb-test-commons-3.0.0-SNAPSHOT

[2017-08-10 12:44] robfrank commented on #7612
"about second question: it is not related with this problem : javascript api is changed but they was not compltetely committed. There also now a missing info about doc.identity ... not working in 3.x."

Please open another issue, I will not care about it, thanks

[2017-08-10 12:48] laa commented on #7586
@EricSchreiner I used the latest version of source code when  provided this build. Which means that exception is not fixed I suppose. But issue was created about different exception and my code does not touch this part, probably once OOM issue was fixed exception started to be reproduced. Could you modify your test to run execution operations without Lucene index ? Or just drop it for a while ? It

[2017-08-10 13:03] luigidellaquila commented on #7640
Hi @publicocean0

could you please post the command you are using to build?

Thanks

Luigi

[2017-08-10 13:09] publicocean0 commented on #7640
mvn clean install -Dmaven.test.skip=true

[2017-08-10 13:12] luigidellaquila commented on #7640
Could you please try to launch it once with

`mvn clean install`

and see if all the dependencies are correctly generated?

Thanks

Luigi

[2017-08-10 13:17] markusforster opened #7642 "Vertex not accessible any more when having 2.343.000 edges of the same class"
### OrientDB Version: 2.2.25
### Java Version: 1.8.0_60
### OS: Ubuntu 16.04

## Expected behavior
SELECT FROM "edgeClass" where IN="rid" shows correct result

SELECT from "rid" should show the same connected vertices as out_"edgeClass" but returns java.lang.NullPointerException

## Steps to reproduce
create 2343001 vertices and connect one (vertex1) of them to all the others as a "super vertex".

[2017-08-10 13:18] publicocean0 commented on #7640
``INFO] OrientDB ........................................... SUCCESS [  2.445 s]
[INFO] OrientDB Test Commons .............................. SUCCESS [  1.900 s]
[INFO] OrientDB Core ...................................... FAILURE [01:32 min]
[INFO] OrientDB Client .................................... SKIPPED
[INFO] OrientDB Object .................................... SKIPPED
[INFO] OrientDB Tools .

[2017-08-10 13:18] santo-it commented on #6775
hey @luigidellaquila

thanks for implementing order by

this order by and match is not working for me, as a fyi - perhaps because this is a more complex scenario:

MATCH {class: Customers, as: c, where: (OrderedId=1)}--{class: Locations, as: loc}--{class: Customers, as: otherCustomers, where: (OrderedId<>1)}
RETURN otherCustomers.OrderedId, loc.Name, loc.Type
ORDER BY otherCustomers.OrderedId ASC

[2017-08-10 13:19] publicocean0 commented on #7640
it seams another bug maybe it is pointing to a old jar test

[2017-08-10 13:19] fixundfertig123 commented on #7641
@tglman Thanks! I was not very precise describing my error. Sorry for that. This is the error I get:

[code]

[2017-08-10 13:19] publicocean0 commented on #7640
git branch
  3.0.0m2
* develop
  master

[2017-08-10 13:32] publicocean0 commented on #7612
it seams all solved

[2017-08-10 13:32] #7612 closed

[2017-08-10 13:33] luigidellaquila commented on #7642
Hi @markusforster

Do you have a full stack trace? Does OrientDB produce any other related logs?

Thanks

Luigi

[2017-08-10 13:33] luigidellaquila commented on #6775
Hi @santo-it ,

Checking it now

Thanks

Luigi

[2017-08-10 13:37] publicocean0 opened #7643 "lucene can t search a link (even if in the schema)"
### OrientDB Version: 3
### Java Version: 8
[code]

[2017-08-10 13:38] publicocean0 commented on #7643
in studio i have

index
Domain.lucene | FULLTEXT | Domain | [code,name,account,identity]
-- | -- | -- | --

[2017-08-10 13:40] laa commented on #7639
Probably we can use Gremlin instead or with Pumba or CrashMonkey  https://github.com/ResilienceTesting/gremlinsdk-python. https://developer.ibm.com/open/2016/06/06/systematically-resilience-testing-of-microservices-with-gremlin/ . We need to investigate it. Any way @arkolesnik please learn docker because it will be used for sure. This issue is super very important for us so would be cool if we sta

[2017-08-10 13:42] laa commented on #7639
I discussed with @arkolesnik I suppose we can start to implement this test since December 2017. Buf of course before that we will adapt all server tests to the distributed too. Meanwhile, she will start to learn all related areas in background 1-2 hours per day.

[2017-08-10 13:56] EricSchreiner commented on #7586
HI @laa sorry but getting rid of Lucene is almost impossible. Anyway I'm almost 100% sure that the issue with Lucene was fixed. (I've tested it myself)

[2017-08-10 13:59] laa commented on #7586
@EricSchreiner as I wrote I made a distribution from latest source code. @luigidellaquila @robfrank could you look my commits in code and confirm that they do not affect Lucene functionality and it also means that we, unfortunately, have to reopen the issue.

[2017-08-10 14:03] laa commented on #7610
@careerscale that is both standalone embedded and remote but it depends on use case. So it is not like all things are a slower issue. Anyway team works hard to fix all issues. We have solutions for almost all of them.

[2017-08-10 14:06] #2034 closed

[2017-08-10 14:06] robfrank commented on #2034
It works. We use exec "java...." to run the console.
This command contains errors:
[code]
and returns 1

[2017-08-10 14:06] careerscale commented on #7610
stand alone embedded was good for me. I have problems with cluster getting working yet but thats different thing. I had problem with super nodes, but we removed edges that cause super ndoes. so stand alone embedded, I think I have no complaints.

[2017-08-10 14:08] laa commented on #7610
@careerscale what about super nodes do we have an issue about that?

[2017-08-10 14:09] laa commented on #7610
Anyway, I suppose you can not reproduce it, so probably it is already not so relevant.

[2017-08-10 14:10] laa commented on #7586
As of the moment, I see that issue is blocked by Lucene exception, unfortunately, we can not make progress on this issue till it will not be fixed. Once we resolve this problem we may continue.

[2017-08-10 14:11] publicocean0 opened #7644 "lucene i cant search float type (even if in the schema)"
### OrientDB Version: 3
### Java Version: 8

+----+------+------+-----+----+----+
|#   |@RID  |@CLASS|aa   |qqq |ww  |
+----+------+------+-----+----+----+
|0   |#48:16|A     |false|5   |    |
|1   |#48:17|A     |false|5   |5.7 |
|2   |#48:19|A     |false|5   |5.7 |
+----+------+------+-----+----+----+

 select from a where search_class('ww:5.7')=true
0
select from a where search_class('ww:{2.1 TO

[2017-08-10 14:15] publicocean0 opened #7645 "lucene i cant seach a double type(even if in the schema)"
### OrientDB Version: 3
### Java Version: 8
Inserted record '[A#48:21{aa:false,qq:5,ee:5.7} v1]' in 0,011000 sec(s).

select from a where search_class('ee:{2.1 TO *}')=true

0 item(s) found. Query executed in 0.009 sec(s).

[2017-08-10 14:31] orientdb-builder commented on #7586
About lucene exceprtion, can you try with latest 2.2.26-sNAPSHOT?

https://oss.sonatype.org/content/repositories/snapshots/com/orientechnologies/orientdb-community/2.2.26-SNAPSHOT/orientdb-community-2.2.26-20170809.164115-12.tar.gz

[2017-08-10 14:33] laa commented on #7586
@orientdb-builder I included fix which I provided a few minutes ago in the main branch. Could we re-run build and get the latest snapshot from source code as for now?

[2017-08-10 14:39] orientdb-builder commented on #7644
Can you post the schema and the command used to create the index, please?

BTW, range queries use square brackets:

http://orientdb.com/docs/3.0.x/indexing/Full-Text-Index.html#numeric-and-date-range-queries

[2017-08-10 14:39] publicocean0 commented on #7594
Lucene is very important in orientdb because it permits to make searchers in times comparable with traditional dbms. Without lucene over 1 million of rows times get prohibitive

[2017-08-10 14:43] publicocean0 commented on #7644
A.aa_ww_qq_qqq_ee_from | FULLTEXT | ["aa","ww","qq","qqq","ee","from"] | LUCENE
-- | -- | -- | --

[2017-08-10 14:45] publicocean0 commented on #7644
select from a where search_class('ww:[2.1 TO *]')=true

0 item(s) found. Query executed in 0.006 sec(s).

[2017-08-10 14:46] PhantomYdn opened #7646 "Under some conditions 50% transactions are not being commited"
### OrientDB Version: 2.2.25
### Java Version: 8+
### OS: ubuntu

2 days I was catching very tricky bug. In Orienteer it looked like the following: on some document in half cases data was not being saved at all. Looks like a magic, right?:)

After investigation we found the following:
During saving of document there are 2 records added through OTransactionOptimistic.addRecord(). One for old docume

[2017-08-10 14:52] publicocean0 commented on #7644
![istantanea_2017-08-10_16-50-46](https://user-images.githubusercontent.com/2518180/29176485-43f30f02-7dec-11e7-958e-446981ba8b77.png)

[2017-08-10 14:53] robfrank commented on #7643
If you create a lucene index without specifying an analyzer, the default analyzer is the StandardAnalyzer. so the _#24:5_ will be tokenized stripping out # and : . if you really need to index a RID in lucene, configure the index to use the KeywordAnalyzer for that field:

http://orientdb.com/docs/3.0.x/indexing/Full-Text-Index.html#analyzer

[2017-08-10 14:55] EricSchreiner commented on #7586
@laa Now the memory error is back again.....
[orient-server.log.txt](https://github.com/orientechnologies/orientdb/files/1215325/orient-server.log.txt)

[2017-08-10 15:11] laa commented on #7586
@EricSchreiner in the comment above I asked @orientdb-builder to run the build again to include latest changes from source code. Once new snapshot will be available me or him will provide a link for you.  Build which you tried that is build which I provided before my latest build. I suppose today or tomorrow build from latest source code will be provided.

[2017-08-10 15:20] publicocean0 commented on #7643
i passed as metadata
{
 "default": "org.apache.lucene.analysis.standard.StandardAnalyzer",
  "index": "org.apache.lucene.analysis.standard.StandardAnalyzer",

  "identity_index": "org.apache.lucene.analysis.core.KeywordAnalyzer",
  "account_index": "org.apache.lucene.analysis.core.KeywordAnalyzer"
}

no result

[2017-08-10 15:21] publicocean0 commented on #7643
i found the configuration

[2017-08-10 15:22] publicocean0 commented on #7643
{
"default": "org.apache.lucene.analysis.standard.StandardAnalyzer",
"index": "org.apache.lucene.analysis.standard.StandardAnalyzer",
"identity_query": "org.apache.lucene.analysis.core.KeywordAnalyzer",
"account_query": "org.apache.lucene.analysis.core.KeywordAnalyzer"
"identity_index": "org.apache.lucene.analysis.core.KeywordAnalyzer",
"account_index": "org.apache.lucene.analysis.core.KeywordAnal

[2017-08-10 15:25] luigidellaquila commented on #6775
Ok, got the problem. With the MATCH statement, the ORDER BY is calculated on the final result, so at that stage it doesn't have all the info to re-calculate `otherCustomers.OrderedId`.

If you write the query this way it will work:

[code]

But I guess it can be fixed, please leave this open

Thanks

Luigi

[2017-08-10 15:31] robfrank commented on #7643
Yes, index analyzer and query analyzer should be the same. Bear in mind that Lucene analyze your text, it doesn't work as a LIKE operator. It works on terms. The index analyzer produces terms to be stored in the index, the query analyzer produces terms from your query and match that terms with the ones stored inside the index.
May a I close the issue?

[2017-08-10 15:35] publicocean0 commented on #7643
yes this is ok now. Thanks. I have a problem with linked list on any type but i posted another issue for that

[2017-08-10 15:35] #7643 closed

[2017-08-10 15:37] laa commented on #7586
@EricSchreiner latest snapshot is generated https://oss.sonatype.org/content/repositories/snapshots/com/orientechnologies/orientdb-community/2.2.26-SNAPSHOT/orientdb-community-2.2.26-20170810.153209-13.tar.gz could you try it and send the log as usual :-)

[2017-08-10 16:08] publicocean0 opened #7647 "properties (for a map defined in the schema) not searchable in lucene"
### OrientDB Version: 3
### Java Version: 8

pro is a embedded map defined in the schema and added in the lucene index
 insert into a set pro ={value:1}

select from a where search_class('pro.value:[1 TO  *]')=true

0 item(s) found. Query executed in 0.002 sec(s).

[2017-08-10 16:19] publicocean0 commented on #7647
another problem with
CREATE INDEX A.set ON A(set) FULLTEXT ENGINE LUCENE

Creating index...
Error: com.orientechnologies.orient.core.index.OIndexException: Linked type was not provided. You should provide linked type for embedded collections that are going to be indexed.

set is a embedddedset type defined in the schema

[2017-08-10 16:24] orientdb-builder commented on #7647
just to speed up the triage/fix, could you please provide even the code/sql for the schema and some sample data?
Thanks

[2017-08-10 16:29] publicocean0 commented on #7647
i created a new h class
with a embeddedset field pro
CREATE INDEX h.pro ON h(pro) FULLTEXT ENGINE LUCENE

Creating index...
Error: com.orientechnologies.orient.core.index.OIndexException: Linked type was not provided. You should provide linked type for embedded collections that are going to be indexed.

select from h

+----+-----+------+------+
|#   |@RID |@CLASS|pro   |
+----+-----+------+------+

[2017-08-10 16:31] publicocean0 commented on #7647
not i m passing to create a isolated class just for embeddedmap

[2017-08-10 16:35] publicocean0 commented on #7647
create class pp

Class created successfully.

CREATE PROPERTY pp.map EMBEDDEDMAP
CREATE INDEX pp.map ON pp(map) FULLTEXT ENGINE LUCENE

[2017-08-10 16:36] publicocean0 commented on #7647
insert into pp set map={a:1,b:6}

Inserted record '[pp#64:0{map:[2]} v1]' in 0,038000 sec(s).

 insert into pp set map={a:9,c:0}

Inserted record '[pp#64:1{map:[2]} v1]' in 0,003000 sec(s).

 insert into pp set map={a:7,k:'aaa'}

Inserted record '[pp#64:2{map:[2]} v1]' in 0,004000 sec(s).

[2017-08-10 16:37] robfrank commented on #7644
I think a range query with a wildcard can't work. What's the right part of the range?

[2017-08-10 16:37] publicocean0 commented on #7647
select from pp where search_class('map.a:[1 TO  *]')=true

0 item(s) found. Query executed in 0.004 sec(s).

[2017-08-10 17:01] publicocean0 commented on #7644
* is the lucene way for telliing infinite. In the last version you can use also  >= 1. Anyway
select from a where search_class('ww:[2.1 TO 6]')=true

0 item(s) found. Query executed in 0.002 sec(s).

[2017-08-10 17:56] pinakdeshpande commented on #7576
@laa Thanks a lot for helping us here. :)

We have disabled the external monitoring now. It has released all those char[] in the heap.

I'm still seeing following in the heap dump. Is this expected?
"com.orientechnologies.orient.core.storage.cache.local.twoq.O2QCache" loaded by "sun.misc.Launcher$AppClassLoader @ 0x6c0002300" occupies 222,567,512 (11.24%) bytes. The memory is accumulated in one in

[2017-08-10 18:03] tglman commented on #7641
hi @fixundfertig123 ,

I actually got a different error first, that we are checking, after we will check also this case.

Regards

[2017-08-10 18:26] laa commented on #7576
Hi @pinakdeshpande , that is @taburet who helped you )) thank you for feedback. Yes, havingO2Cache which occupies 11.24% is totally OK. In future releases, we decrease those numbers.

[2017-08-10 18:26] laa commented on #7576
@pinakdeshpande do you have any issues at the moment?

[2017-08-10 19:21] PhantomYdn commented on #7460
@tglman, please consider applying changes. It actually affects and "legacy" behavior: if one more super class was added - it can surprisingly used as main super-class.

[2017-08-10 20:23] pinakdeshpande commented on #7576
No on the storage side, i guess.
But the query responses are not very stable and consistent and would really need some help on that. Should I post my question on here on Git?

[2017-08-11 00:50] prcamp commented on #5119
I'm very disappointed to see that this is not relevant anymore. Orientdb is very attractive, but as a rust developer, I'm hesitant to use it. capnproto would be fantastic as well. @lvca Can you please clarify why it isn't relevant, and what the best way to interface with a rust program natively would be? Cheers!

[2017-08-11 06:50] markusforster commented on #7642
Hi,
from my webapp that is accessing the orientdb I get the following stacktrace:

Error executing request
com.orientechnologies.common.io.OIOException: Impossible to write a chunk of length:24344722 max allowed chunk length:16777216 see NETWORK_BINARY_MAX_CONTENT_LENGTH settings
	at com.orientechnologies.orient.enterprise.channel.binary.OChannelBinary.writeBytes(OChannelBinary.java:271)
	at com.o

[2017-08-11 07:29] EricSchreiner commented on #7586
HI @laa

see logfile....
[orient-server.log.3.txt](https://github.com/orientechnologies/orientdb/files/1217156/orient-server.log.3.txt)

[2017-08-11 07:30] luigidellaquila commented on #7637
Hi @rdelangh

This is quite strange, the operations are supposed to be executed in the same order as they appear in the json.

I'll check it and let you know

Thanks

Luigi

[2017-08-11 07:33] laa commented on #7585
Reproduced on latest snapshot

[2017-08-11 07:34] laa commented on #7586
Hi @EricSchreiner @robfrank as I can see Lucene exception was reproduced the same as in issue #7585 which @EricSchreiner is referenced. I will mark this issue as blocked till issue #7585 will be resolved. Actually I suppose that OOM is fixed and it allows to reproduce Lucene issue but we need to be 100% sure.

[2017-08-11 07:37] luigidellaquila commented on #7642
Hi @markusforster

It seems the vertex is too big to be serialized on the network with basic configuration, you can increase NETWORK_BINARY_MAX_CONTENT_LENGTH as follows:

- from orientdb-server-config.xml: add the following property in the section at the end of the file:

[code]

- at startup, specifying the following parameter on the command line:

[code]

- if you are running embedded, you can

[2017-08-11 07:39] EricSchreiner commented on #7586
Hi @laa , @robfrank is it possible that I need another **_orientdb-spatial-2.2.23-dist.jar_**? If yes where will I get the **_orientdb-spatial-2.2.26-dist.jar_**?

[2017-08-11 07:43] laa commented on #7586
@EricSchreiner that is very likely could you try this one https://oss.sonatype.org/content/repositories/snapshots/com/orientechnologies/orientdb-spatial/2.2.26-SNAPSHOT/orientdb-spatial-2.2.26-20170810.160653-15.jar ?

[2017-08-11 07:46] robfrank commented on #7586
@EricSchreiner the problem referenced in #7585 is solved from 2.2.25. I supposed you updated to latest 2.2.25. So please take the latest snapshot of spatial as well.

[2017-08-11 07:58] markusforster commented on #7642
Hi luigidellaquila,
thanks so far,

after doing the suggested entry in the config and setting the command line option and restarting the orientdb server I still get the error message:

Error: com.orientechnologies.common.io.OIOException: Impossible to read a chunk of length:24344738 max allowed chunk length:16777216 see NETWORK_BINARY_MAX_CONTENT_LENGTH settings

Looks like the config entry doesn'

[2017-08-11 08:00] luigidellaquila commented on #7642
Hi @markusforster

Could you please try setting the value via command line? Maybe there is a problem on loading that particular property from XML

Thanks

Luigi

[2017-08-11 08:11] markusforster commented on #7642
Hi @luigidellaquila ,

I tried that too .... also no effect.

Best,

Markus

[2017-08-11 08:13] robfrank commented on #7585
@laa he uses a 2.2.23 with lucene jar from 2.2.26-SNAPSHOT. But this was fixed on 2.2.25.

[2017-08-11 08:25] luigidellaquila commented on #7642
Ok, assigning to @tglman for a check

Thanks

Luigi

[2017-08-11 10:58] EricSchreiner commented on #7586
@laa now the log with orientdb-spatial-2.2.26-20170810.160653-15.jar
[orient-server.log.2.txt](https://github.com/orientechnologies/orientdb/files/1217647/orient-server.log.2.txt)

[2017-08-11 11:26] tglman commented on #7646
hi @PhantomYdn,

To better understand, do you have two instances for the same record (that have same rid )?

The dirty manager is thought to outlive the save method, it actually get created when the data is loaded and is needed for keep track of the changes of a loaded graph of document and save them all together when one is saved, this is quite important for graph structures or for any looped gra

[2017-08-11 12:04] nagaraja-upadyaya commented on #7142
Hi @rdelangh or Luigi ,

I have a similar requirement and facing performance issues in Orient DB while executing Gremlin, SELECT or Update statements against a vertex whose property value is equal to property value of an incoming vertex. Basically, I am porting an application from Neo4j to Orient DB.  In Neo4j, we used MATCH statement with SET clause which was easy and executes in seconds.  But in

[2017-08-11 12:56] lightjiao commented on #4436
+1

[2017-08-11 13:04] PhantomYdn commented on #7646
@tglman, Our software's logic doesn't assume to have several instances for the same record. But it's happening due to undirect saving old version in dirtymanager and resurection on new request.

So sequence which leads to the problem is the following:

1) User is on a page for editing a document.
2) The document has EMBEDDED property with defined linkedClass.
3) It's web application - so user can

[2017-08-11 13:06] rdelangh opened #7649 "function takes no string-variable as query-string"
### OrientDB Version: 2.2.23

## Expected behavior
Writing a function "mergeCDR" like this:
[code]
Is saved with no problem, executed with 5 parameters and completes with no error. I would expect a well-known RID to be returned.

## Actual behavior
No errors, but also **no results**.

When I do **not** put the positional parameters to the query in a WHERE clause, then the function runs with no err

[2017-08-11 13:07] tglman commented on #7460
hi @PhantomYdn,

Used linkedhashset in 2.2.x, removed in 3.x.

Closing this.

Regards

[2017-08-11 13:07] #7460 closed

[2017-08-11 13:09] luigidellaquila commented on #7649
Hi @rdelangh

Try to pass the parameters as an array:

[code]

Thanks

Luigi

[2017-08-11 13:18] robfrank opened #7650 "Lucene: add durability of indexes"
Add durability of lucene indexes storing using the WAL
First steps:
- persists index metadata inside a document in the index itself
- persists index definition inside a document in the index itself
- persists into the WAL the keys as byteArray

[2017-08-11 13:46] rdelangh commented on #7649
hi @luigidellaquila , the documentation (http://orientdb.com/docs/2.0/orientdb.wiki/Functions.html#Server-Side_functions) is very inconsistent then:
- mostly that page mentions no square brackets around the parameters,
- in one example is writes indeed such square brackets around the parameters

-> can the documentation please be made more clear, and -above all- consistent?

[2017-08-11 13:58] luigidellaquila commented on #7649
Hi @rdelangh

I agree with you, that page requires some refactoring, we'll do it asap

Thanks

Luigi

[2017-08-11 15:07] laa commented on #7586
So Lucene issue still persist . Will wait for fix .

[2017-08-11 15:08] laa commented on #7585
@robfrank sorry issue still persist in 2.2.26

[2017-08-11 15:09] laa commented on #7585
You see this from the latest log published in #7586

[2017-08-11 16:19] publicocean0 opened #7651 "Cannot execute UPDATE PUT/ADD/INCREMENT"
### OrientDB Version: 3
### Java Version: 7

update ... add a = #4:3

give exception  Cannot execute with UPDATE PUT/ADD/INCREMENT new executor.

how can i add a item to a set/list? why i can use remove 1 element and not  insert 1 element ? It is a temporary bug?

for incrrement i can use :
update 48:24 set a = a+1  instead update 48:24 increment a = 1

[2017-08-11 16:23] robfrank commented on #7585
Ok, there was still a sync problem on autoclose of indexes. Testing

[2017-08-12 05:36] HuangKBAaron commented on #7611
It was cause by misusing update/upsert to edge, after changed to "create edge", it won't repro. So close it now.

[2017-08-12 05:36] #7611 closed

[2017-08-12 05:40] HuangKBAaron commented on #7514
@tglman @lvca , any update on this issue. I am having a similar performance issue right now. Importing around 370,000 records to OrientDB (DB v 2.2.25 with default configure, win10 x64, JDK 1.8). At the first 2000 records, it runs real quick, but after that, it became 1 record/3 sec, and then stable with 1 record/4 sec.

the script:
BEGIN;
LET vol=CREATE VERTEX v_volume SET f_year=2017,f_quantity=

[2017-08-12 08:12] HuangKBAaron opened #7652 "Inserting records with batch is slowing down after around 2000 records."
### OrientDB Version: 2.2.25
### Java Version: Java(TM) SE Runtime Environment (build 1.8.0_144-b01) Java HotSpot(TM) 64-Bit Server VM (build 25.144-b01, mixed mode)
### OS: Windows 10 x64
### HARDWARE: i5 (4 core), 8GB MEMORY, SSD

## Actual behavior
The inserting is slowing down after 2000 records inserted with batch. With the 2000 records, the inserting process costs within 0.5 second, after th

[2017-08-12 12:07] jpstrikesback commented on #2118
Big win!

[2017-08-12 12:31] jpstrikesback commented on #2118
@luigidellaquila will we be able to use the RETURN keyword in SELECT like in MATCH? It is rather nice as it allows one to template a response shape (with easy aliases etc).

In addition will RETURN in MATCH inherit the behaviour of the new SELECT nested projections (I assume this new capability handles returning nested list properties)

[2017-08-12 16:58] lvca commented on #7514
Have you created indexes on all the fields you're looking up in the WHERE conditions?

[2017-08-12 18:06] markk12 commented on #7651
i have the same problem. Passing from 2.x to 3.x ...
My scripts do not work anymore. In many cases, my db arrays contain 1000-10000 items, the idea of ​​passing the entire array each time to add only one item does not look so good.

[2017-08-13 15:52] HuangKBAaron opened #7653 "question: Does import database operation delete existed records?"
### OrientDB Version: 2.2.25

## Expected behavior
Import database doesn't delete existed records.

## Actual behavior
just found imported 30000 records were deleted!

## Steps to reproduce
Because inserting record is really time consuming, I use some other server do the inserting paralleled, and import one of them to the main server. Found the existed 30000 record deleted!
script:
`import databas

[2017-08-13 22:42] santo-it opened #7654 "3.0-m2 - maxdepth seems not working"
### OrientDB Version: 3.0-m2

On demodb, try:

SELECT COUNT(*)
FROM (
  TRAVERSE * FROM (
    SELECT FROM Profiles WHERE Name='Santo' and Surname='OrientDB'
  ) MAXDEPTH 1
)

SELECT COUNT(*)
FROM (
  TRAVERSE * FROM (
    SELECT FROM Profiles WHERE Name='Santo' and Surname='OrientDB'
  ) MAXDEPTH 2
)

SELECT COUNT(*)
FROM (
  TRAVERSE * FROM (
    SELECT FROM Profiles WHERE Name='Santo' and Surnam

[2017-08-14 08:01] luigidellaquila commented on #7652
Hi @HuangKBAaron

probably the slowdown is due to the lookups for UPSERT statemets, please make sure you have an index on the property you use in the WHERE condition of the UPSERT statements

Thanks

Luigi

[2017-08-14 08:03] luigidellaquila commented on #2118
Hi @jpstrikesback

there is no need for a RETURN keyword in the SELECT, RETURN is just the equivalent of the projections in the SELECT, eg.

MATCH {class:V, as: v, where: (name like '%en%') }
return {
   "name":v.name,
   "metadata":{
      "type":v.type
   }
}
is the same as

[code]

Thanks

Luigi

[2017-08-14 08:52] luigidellaquila commented on #7654
Hi @santo-it

Reproduced, working to a fix

Thanks!

Luigi

[2017-08-14 09:16] publicocean0 commented on #7651
cool :)

[2017-08-14 09:24] luigidellaquila commented on #7654
Fixed on develop branch, closing

Thank you @santo-it !

Luigi

[2017-08-14 09:24] #7654 closed

[2017-08-14 09:28] publicocean0 commented on #7651
ops similar problem with put ....
i tried with || dont works
i tried to search in that page sql syntax ... i dont found

[2017-08-14 09:33] luigidellaquila commented on #7651
Hi @publicocean0

```UPDATE ... PUT foo = bar, baz```

is just syntax sugar for

```UPDATE ... SET foo.bar = baz```

So you can just use this form

Thanks

Luigi

[2017-08-14 09:35] publicocean0 commented on #7651
ok thanks .... cool i like new syntax ahaha

[2017-08-14 09:39] #7651 closed

[2017-08-14 10:32] kinssun commented on #7610
@Enrico Risa, you could get benchmark test code from this link: https://gist.github.com/kinssun/40011544bb88b994a866ede19a05099d

[2017-08-14 12:07] santo-it commented on #6905
Open Tasks:

- [ ] Complete Doc
- [ ] Integration Tests

[2017-08-14 14:20] tglman commented on #7653
hi @HuangKBAaron,

Yes by default an "database import" delete all the existing data and reimport the new one, if you want to move just some data you should do and "export database -excludeAll -includeClass=ClassName file.tar.gz"  and after "import database -merge file.tar.gz" for more details have a look to : http://orientdb.com/docs/last/Console-Command-Export.html and http://orientdb.com/docs/la

[2017-08-14 15:11] enrico commented on #7610
@kinssun: you've reached the wrong Enrico :)

[2017-08-14 15:25] luigidellaquila commented on #7610
😄 😄 @maggiolo00 this was for you ;-)

Thanks @enrico for pointing this out

Luigi

[2017-08-14 15:46] laa commented on #7627
@santo-it for release notes: "OrientDB able to automatically correct direct memory consumption even if flag XX:MaxDirectMemorySize is not set. But because OrientDB allocates direct memory by the big amount of chunks in previous versions amount of memory to be allocated in the last chunk can exceed direct memory limits. This issue was fixed."  It is fixed under https://github.com/orientechnologies/

[2017-08-14 15:49] laa commented on #7426
Hi @Raycoms, hope you are doing well. A small friendly reminder that we are looking forward to receiving detailed information how to reproduce an issue.

[2017-08-15 06:00] zlfsimon opened #7655 "console: wrong dir name in open a plocal db"
### OrientDB Version: 2.2.26-snapshot
### Java Version: jdk8
### OS: centos7

[code]
I try to open a database by console, but the exception show the wrong "database" dir, it should be "database**s**"

BTW, I use 2.2.6-snapshot in centos 7 with jdk 8

[2017-08-15 06:11] HuangKBAaron commented on #7653
@tglman many thx! I will try and report status later.

[2017-08-15 06:19] zlfsimon commented on #7655
workaround solution: change database dir to database, but maybe it's a bug, pls check it, thx

[2017-08-15 08:36] jamieb22 opened #7656 "new OrientGraph java.lang.OutOfMemoryError: Direct buffer memory"
### OrientDB Version: 2.2.25
### Java Version: 8
### OS: Darwin xxx.local 16.5.0 Darwin Kernel Version 16.5.0: Fri Mar  3 16:52:33 PST 2017; root:xnu-3789.51.2~3/RELEASE_X86_64 x86_64

## Expected behavior
Java params -Xmx1024m -Xms256m
storage.diskCache.bufferSize=128
graph = new OrientGraph(settings.getUrl(), settings.getLogin(), settings.getPassword());
No error...

## Actual behavior
2017-08-1

[2017-08-15 08:38] laa commented on #7656
Already fixed in 2.2.26 in issue https://github.com/orientechnologies/orientdb/issues/7627 explanation is also provided there.

[2017-08-15 08:41] laa commented on #7656
I suppose that it shows compatibility error because the connection to the database was not fully initialized so it relies on wrong data.

[2017-08-15 08:47] jamieb22 commented on #7656
Yes, but, the database should never get into this state in the first place. We are creating a new database from scratch, if it runs out of direct memory, it should roll back the changes, such that the db can be created again. Also, why does Orient run out of memory in the first place? I dont understand?! Surely, Orient can detect the amount of direct memory available, and then resize the cache acc

[2017-08-15 08:51] laa commented on #7656
@jamieb22 As I wrote above explanation of issue is provided in https://github.com/orientechnologies/orientdb/issues/7627#issuecomment-322227242 .  Could you point me what is unclear there?

[2017-08-15 08:59] jamieb22 commented on #7627
Even if you are now detecting direct memory size and adjusting cache size, the fact that orient db gets into an indeterminate state due to OME is a surely bug.  It surely roll back changes?

[2017-08-15 09:00] jamieb22 commented on #7656
Even if in .26 you are now detecting direct memory size and  adjusting cache size, the fact that orient db gets into an indeterminate state due to faild memory allocation is a surely bug.  It surely roll back changes?
--

[2017-08-15 09:21] jamieb22 commented on #7656
Andrey.. I just upgraded to latest .26 snapshot, and the direct memory error is still present? Any ideas on how I can resolve this? Do I need to downgrade?

[2017-08-15 09:52] tglman commented on #5119
hi @prcamp,

I'm very interested in rust as well and I'm the responsible of the binary protocol, I've been playing with rust in my free time and with @maggiolo00 we did some experiment related with OrientDB as well, feel free to get in touch with us for more informations.

Regards

[2017-08-15 09:55] jamieb22 commented on #7656
Interestingly .. when I call...

instead of..

It works.

[2017-08-15 10:02] laa commented on #7656
@jamieb22 did you provide system properties by calling `System.setProperty("storage.diskCache.bufferSize",Long.toString(128L));` inside of Java code or that is parameter of application when you start it ?

[2017-08-15 10:11] lvca commented on #5119
@prcamp It's not in our plans to support gRPC, unless some contribution arrives from the community. You can use OrientDB through the C driver.

[2017-08-15 10:25] jamieb22 commented on #7656
Yes, its in a static initializer. It used to work, but no longer works.

[2017-08-15 13:50] rareddy commented on #3501
This is still a bug on OpenJDK on Linux
`
$java -version
openjdk version "1.8.0_131"
OpenJDK Runtime Environment (build 1.8.0_131-b12)
OpenJDK 64-Bit Server VM (build 25.131-b12, mixed mode)
`
I downloaded the OrientDB Community edition 2.2.25. Below is stack trace

`
Caused by: java.lang.NoClassDefFoundError: Could not initialize class com.orientechnologies.orient.core.db.ODatabaseRecordThreadLoc

[2017-08-15 14:14] FelisChaus opened #7657 "OConcurrentModificationException in distributed environment."
### OrientDB Version: 2.2.25
### Java Version: 1.8.072
### OS: CentOS release 6.3

## Expected behavior
Massive update, trying to reset field to NULL.

## Actual behavior
OConcurrentModificationException when I am running the snippet below with parameter 'limit' of 1'000'000.

## Steps to reproduce
[code]

It is not only the case, the others I am trying to reproduce, they are too stochastic. Never

[2017-08-15 14:49] publicocean0 opened #7658 "bug in search_class lucene - nullpointer"
### OrientDB Version:3
### Java Version: 7

com.orientechnologies.orient.core.exception.OCommandExecutionException: Error on execution of command: sql.select  from S  where search_class('account:"PZVLQAB8DMKPU5LZ40GQLM21F"') = true
	DB name="abc"
	at com.orientechnologies.orient.core.storage.impl.local.OAbstractPaginatedStorage.executeCommand(OAbstractPaginatedStorage.java:3246)
	at com.orientechn

[2017-08-15 14:51] publicocean0 commented on #7658
same query works in console

[2017-08-15 14:52] publicocean0 commented on #7658
null pointer in this line

 OMetadata dbMetadata = ctx.getDatabase().activateOnCurrentThread().getMetadata();

[2017-08-15 15:01] tglman commented on #7658
hi @publicocean0,

I see you are using the legacy API `command(new OCommandSql("..."))` or `query(new OSQLSyncQuery("..")` could you try to use the new API `command("...")` or `query("...")`, the new API will use the new executor, that probably don't have this problem.

Regards

[2017-08-15 15:09] publicocean0 commented on #7658
yes but i m using object db , not document db

[2017-08-15 15:14] publicocean0 commented on #7658
i m in debug in orientdb server :

ctx.getDatabase() is null

[2017-08-15 15:18] publicocean0 commented on #7658
default OResultSet command(String query, Object... args) throws OCommandSQLParsingException, OCommandExecutionException {
    throw new UnsupportedOperationException();
  }

[2017-08-15 15:20] tglman commented on #7658
hi @publicocean0,

Yes In object you can just use the old one, so we will investigate  what is it and try to fix it.

Regards

[2017-08-15 15:33] publicocean0 commented on #7658
ok thanks . Else in my side if you implement unsupported api
i could converts all my methods with  stream().collect(Collectors.toList()); i think

[2017-08-15 15:34] rareddy commented on #6404
IMO, this issue is never fixed. The root cause of the issue I think is about class loader "ScriptEngineManager" uses in [1], which is boot/root class loader, i.e. if there are any script engines that are added using a dynamic class loader they will never be loaded. The correct way to do is on line 73 from [1] is

`
scriptEngineManager = new ScriptEngineManager(this.getClass().getClassloader());
`

[2017-08-15 17:05] lvca commented on #7657
@FelisChaus, the exception `OConcurrentModificationException` is normal in OrientDB and concurrency must be handled. In your test where the OConcurrentModificationException is thrown?

[2017-08-15 17:36] FelisChaus commented on #7657
@lvca, this is the exception raise from the following code:

_String cmd = "begin\n";
cmd += "update Test set value = null\n";
cmd += "commit";
db.command(new OCommandScript("sql", cmd)).execute();_

com.orientechnologies.orient.core.exception.OConcurrentModificationException: Cannot UPDATE the record #13:244329 because the version is not the latest. Probably you are updating an old record or it h

[2017-08-15 17:37] FelisChaus commented on #7657
And no one except me was connected to the database.

[2017-08-15 18:31] FelisChaus commented on #7657
Hope the following could help. I faced this bug on version 2.1.16 and 2.1.25 and the _limit_ when exception raised with database corruption was only 19771 records. On 2.1.16 and 2.1.25 crash could be steadily reproduced on OrientDB single instance on mac. That is because I repeated run on 2.2.25.

[2017-08-15 23:16] lvca commented on #7657
Could you please try to execute this?

[code]

[2017-08-16 00:24] rdelangh opened #7659 "cannot (re)create indexes anymore"
### OrientDB Version: 2.2.23-2.2.26

## Expected behavior
Be able to create indexes.

## Actual behavior
Creating a new index, or re-creating an existing index, fails with the following server messages:
[code]

[2017-08-16 06:04] laa commented on #7659
@tglman very likely reason of all exceptions are following. The system tries to read records and discovers that database is already closed, and throws this exception, as result after exception handling we execute following line https://github.com/orientechnologies/orientdb/blob/2.2.x/core/src/main/java/com/orientechnologies/orient/core/iterator/ORecordIteratorCluster.java#L150 . So all subsequent

[2017-08-16 08:43] arkolesnik opened #7660 "Cannot open Studio in IE11"
### OrientDB Version: 2.2.25
### Java Version: 8
### OS: Windows 10

## Expected behavior
Once the server up and running, Studio should open in all supported browsers, including Internet Explorer.

## Actual behavior
Studio doesn't open in IE11, while everything is ok in other browsers, including Edge.
JS error:
SCRIPT5007: Unable to get property 'apply' of undefined or null reference

## Steps to

[2017-08-16 09:36] santo-it commented on #7660
Hi,

Thanks - This is a duplicate of https://github.com/orientechnologies/orientdb/issues/7209

[2017-08-16 09:36] #7660 closed

[2017-08-16 10:32] rdelangh commented on #7659
update:
- a create or re-create of an index on a class with less documents (say: 500k) is running fine and completes within a few minutes
- a create or re-create of an index on a class with many documents (say: 70M) runs fine but aborts after some 42mins:
[code]

[2017-08-16 10:55] FelisChaus commented on #7657
The same result:

com.orientechnologies.orient.core.exception.ODatabaseException: Database 'plocal:/var/lib/orientdb/WalletTest' is closed
DB name="WalletTest"
DB name="WalletTest"
at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
at sun.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62)
at sun.reflect.DelegatingConstructorAccessorImpl.n

[2017-08-16 10:58] FelisChaus commented on #7657
On the first node we got the following server side exception:

Exception `4467D280` in storage `WalletTest`
com.orientechnologies.orient.core.exception.ODatabaseException: Database 'plocal:/var/lib/orientdb/WalletTest' is closed
DB name="WalletTest"
at com.orientechnologies.orient.core.db.document.ODatabaseDocumentTx.checkOpeness(ODatabaseDocumentTx.java:3145)
at com.orientechnologies.orient.core.

[2017-08-16 10:59] FelisChaus commented on #7657
On the second and third nodes:

2017-08-16 10:40:31:639 WARNI [n2]->[n3] Server 'n3' did not respond to the gossip message (db=WalletTest, timeout=10000ms), but cannot be set OFFLINE by configuration [OClusterHealthChecker]

[2017-08-16 11:26] taburet commented on #7078
Implemented, closing. More details: http://orientdb.com/docs/3.0.x/troubleshooting/Direct-Memory-Tracing.html

[2017-08-16 11:26] #7078 closed

[2017-08-16 11:36] EricSchreiner commented on #7586
Hi @laa, hi @robfrank
any news on this?

[2017-08-16 11:44] santo-it opened #7661 "3.0.0-m2 - NPE on a query"
Hi,

Non blocking for me, but I think we should fix the NPE or return better error - FYI

on demodb:

**1.**
java.lang.NullPointerException:
SELECT count(*) FROM Orders GROUP BY OrderDate.format('yyyy')

**2.**
works as expected:
SELECT count(*), OrderDate.format('yyyy') as year FROM Orders GROUP BY year

**3.**
return strange recordsets:
SELECT count(*), OrderDate.format('yyyy') FROM Orders GROUP

[2017-08-16 12:11] acrive82 opened #7662 "Escaping char '@' : Cannot execute query"
### OrientDB Version: 3.0.0m1
### Java Version: 1.8
### OS: Linux

I cannot execute the following statement:

[code]

## Expected behavior
The query will be executed

## Actual behavior
Parsing exception
017-08-16 12:30:39:522 SEVER Internal server error:
Error parsing query:
[code]

## Steps to reproduce
Execute a query from Java API with a param that contain '@' char

[2017-08-16 12:13] luigidellaquila commented on #7661
Thanks @santo-it

I'll check it asap

Luigi

[2017-08-16 12:20] luigidellaquila commented on #7662
Hi @acrive82

Which API/driver are you using?

The resulting query should be

[code]

with quotes around the parameters, so we should check why they are not quoted in your case...

Do you have a test case to reproduce the problem?

Thanks

Luigi

[2017-08-16 12:40] santo-it opened #7663 "3.0.0-m2 - integer instead of floating point is returned"
Hi,

demodb, query:

SELECT
  count(*) as OrdersNumber,
  sum(Amount) AS TotalRevenuesFromOrders,
  min(Amount) as MinAmount,
  (sum(Amount)/count(*)) as AverageAmount,
  max(Amount) as MaxAmount
FROM Orders

AverageAmount should be floating point (an integer result is returned instead)

Thanks

[2017-08-16 12:54] acrive82 commented on #7662
I'm using the 3.0.0m1.

With your suggestion it works!

I ran into error by following the documentation of the method query():

[code]
Thanks Luigi!

[2017-08-16 12:54] #7662 closed

[2017-08-16 13:47] luigidellaquila commented on #7661
Fixed on develop

Closing, thanks!

Luigi

[2017-08-16 13:47] #7661 closed

[2017-08-16 14:23] luigidellaquila commented on #7663
Hi @santo-it

Fixed on develop branch

Closing, thanks!

Luigi

[2017-08-16 14:23] #7663 closed

[2017-08-16 18:46] Jotschi opened #7664 "OrientDB shuts down after multiple ODistributedRedirectException"
### OrientDB Version: 2.2.25
### Java Version: 1.8
### OS: Linux

I'm currently faced again with the ODistributedRedirectException. I have a situation which is similar to the one which we discussed in the private issue 8978.

### Actual problem I would like to show but can't
My actual development problem is that I can't store graph element as soon as I shut down my second node (two node setup). I

[2017-08-17 04:53] zlfsimon opened #7665 "OutOfMemoryError: Direct buffer memory. Build unique hash index on big table"
### OrientDB Version: 2.2.26-snapshot
### Java Version: 1.8.131
### OS:  centos 7

## Actual behavior
`/bin/java -d64 -server -XX:+UseG1GC -Xms4G -Xmx16G -Djna.nosys=true -Dmemory.directMemory.trackMode=true -XX:+HeapDumpOnOutOfMemoryError -XX:MaxDirectMemorySize=10g -Djava.awt.headless=true -Dfile.encoding=UTF8 -Drhino.opt.level=9 -Djava.util.logging.config.file=/gp/data/arangodb/orientdb-communi

[2017-08-17 06:19] laa commented on #7665
HI @zlfsimon could you send full log as a separate gist, please do not insert it directly inside issue since the server start?

[2017-08-17 06:40] rdelangh commented on #7659
hi gurus,
do you have any idea what the cause could be of this error? The database is considered suddenly to be 'closed'... No other activities on the database were going on, just a very single index re-creation.

Is there any information that I can provide to help you analyse this? Will stack-dumps help?

[2017-08-17 06:50] laa commented on #7656
@jamieb22 We expect that system properties will be provided during application startup if some of them worked it just coincidence. Could you send me to log data which are printed when the application is started first 10 minutes will be enough? For latest 2.2.26 snapshot. Answering your question we always roll back intermediate txs because they literally not written on disk yet.

[2017-08-17 07:19] zlfsimon commented on #7665
Pls see the below attachment:
[orient-server.log.1.zip](https://github.com/orientechnologies/orientdb/files/1230404/orient-server.log.1.zip)

[2017-08-17 07:58] zlfsimon commented on #7665
BTW, I find all operation will been blocked during index built section, event open a studio page "http://192.168.1.53:2480/studio/index.html#/database/test/schema" or connect a new console.
does it means create index will lock whole db?

[2017-08-17 08:20] laa commented on #7369
Will try to reproduce it anyway

[2017-08-17 08:20] laa commented on #7369
Will try to reproduce it anyway

[2017-08-17 10:55] rdelangh commented on #7659
@tglman
hello, have you been able to analyse this situation? Can I provide you with any dumps/traces/logs to help you investigating?

[2017-08-17 10:56] rdelangh commented on #7659
by the way: this database is currently down, it is not possible to start accessing it without its indexes.

[2017-08-17 12:20] FelisChaus commented on #7657
@lvca, we will repeat tests using 2.2.26. Seems and hope new Hazelcast should resolve the issue.

[2017-08-17 12:22] lvca commented on #7657
@FelisChaus thanks, with 2.2.26 we fixed many issues like that.

[2017-08-17 14:17] tglman commented on #7659
hi @rdelangh,

The fact that the database is closed while the operation is running is a quite strange case, just to double check: what is the length of your session, can to try to increase the length of the session ?

Regards

[2017-08-17 15:04] rdelangh commented on #7659
retried with 2.2.26 -> still same error
installed 2.2.27 -> running ok, a first unique index could be made correctly on the otherwise (with v2.2.26) failing, big class of 40M records
...

[2017-08-17 16:05] EricSchreiner commented on #7586
Hi @laa, hi @robfrank,
I've tested 2.2.26 GA. looks much better :-) I'll continue testing tomorrow
Logfile:
[orient-server.log.txt](https://github.com/orientechnologies/orientdb/files/1231885/orient-server.log.txt)
Config:
[PicApport-2.2.26.txt](https://github.com/orientechnologies/orientdb/files/1231886/PicApport-2.2.26.txt)

[2017-08-17 17:13] laa commented on #7586
@EricSchreiner ok so probably it was just an issue with a mix of libraries of different versions, I am waiting for your final conclusion.

[2017-08-17 17:30] rdelangh opened #7668 "server does not take new connections while (re)creating an index"
### OrientDB Version: 2.2.27

## Expected behavior
- start creation of an index
- while this is ongoing, in an other session on the same machine, start the "console.sh" client program, and try to open a new connection to the same database as where the index is being created
- expected that this new connection is opened in seconds

## Actual behavior
- the "CONNECT" attempt in that "console.sh" ses

[2017-08-17 19:53] rdelangh commented on #7659
@tglman
1) thanks for your reply
2) I have no clue where I can adjust the timeout of a client-session, or what value it would currently have
3) with version 2.2.27, the (re)creation of multiple indexes runs fine again...

[2017-08-17 21:47] rdelangh commented on #7659
@tglman
The problem occured again:
- some indexes were succesfully recreated,
- another index failed after 108 minutes and at 100% of its work:
[code]

[2017-08-18 08:41] laa commented on #7369
@wellpeng could you kindly provide the source code of project which you created for ODB testing it will help us a lot to reproduce given issue?

[2017-08-18 08:45] laa commented on #7665
@zlfsimon yes, during the index rebuild/creation you can not use DB because it cause retrieval of incorrect results during query processing. About your main issue, I will provide you with patched build today, to understand the reason of your problem.

[2017-08-18 09:14] tglman commented on #7458
hi @careerscale,

The retry for write operation as been fixed in develop.

Regards

[2017-08-18 09:21] rdelangh commented on #7659
I noticed that the server thinks that these indexes still exist, altough they disappeared from the description of the classes after (once more...) an OOM case :
[code]
However, these error messages in the server logs, as if the index does already exist, are confusing me, so I tried this:
[code]
-> ?! the index still exists somewhere, altough not accessible (a SELECT from that index fails with erro

[2017-08-18 10:26] rdelangh commented on #7659
ok, this index has now been created again succesfully... I hoped when seeing the following server log message:
[code]
but then it was followed by:
[code]

I leave it up to the ODB developers to explain the logic behind this... ("index does already exist" ??!)

[2017-08-18 10:27] rdelangh commented on #7659
a "describe" of that class shows no change, the new index has not been created:
[code]

[2017-08-18 14:25] FelisChaus commented on #7657
@Ivca, please do not close the issue. We are in progress with upgraded JVM and playing with OrientDB parameters. Next week I am preparing a full report.

Have a nice weekend.

[2017-08-18 14:29] HuangKBAaron commented on #7652
@luigidellaquila
I added index like the following:
[code]
Total affected record is 96. The problem remains. Is it something to do with the transaction?

[2017-08-18 14:41] rdelangh commented on #7659
gurus,
the list of the database objects is clearly corrupted: the server thinks that certain indexes still do exist, however they do not show up with a "describe" of the classes.
An error is printed when I try to launch a "create index", if I do not invoke first a "drop index". Still, the "describe $class" does not show the index.
[code]

=> is there any way to make the server scan correctly which

[2017-08-18 15:45] lvca commented on #7657
Cool, waiting for your feedback. Have a nice weekend too.

[2017-08-19 01:17] HuangKBAaron commented on #7653
@tglman，about the script you suggested:
`export database -excludeAll -includeClass=ClassName file.tar.gz`
There are lots of class name out there, is it better to use includeSchema than listing all the classname?

[2017-08-19 04:17] zlfsimon commented on #7665
@laa  is there some recommend threshold for orientdb, such as the max records of vertex or edge for a single machine, or some benchmark for  huge class (table)

[2017-08-19 05:32] HuangKBAaron commented on #7653
@tglman @luigidellaquila
The script given did work PARTIALLY. In my demo db, there are 720 records of v_volume.
Here is the steps:
1. Export by:
`export database C:\projects\personal\Volkswagen-volume-predict\data\vw-schema-record-index.gz -excludeAll "v_city_cluster v_fuel_type v_pr_vol_output e_has_type v_ev_type v_segment v_pr_vol_input v_body_type e_content_item v_product_type" -includeRecords

[2017-08-19 09:03] lightjiao commented on #7529
+10086

[2017-08-19 10:16] BaarathiNMS opened #7669 "OPaginatedCluster.deleteRecord null(OrientDB-2.1.11)"
ERROR [2017-08-18T14:06:59,133] : [InventoryDataPersisterMaster_MajorEventInventoryDataBuilder] : MajorEventInventoryWriter: ():
com.orientechnologies.orient.core.exception.OStorageException: null
        at com.orientechnologies.orient.core.storage.impl.local.paginated.OPaginatedCluster.deleteRecord(OPaginatedCluster.java:705) ~[orientdb-core-2.1.11.jar:2.1.11]
        at com.orientechnologies.or

[2017-08-19 13:50] undecided2013 commented on #4436
+1, this would be great

[2017-08-19 14:49] PhantomYdn opened #7670 "OutOfMemory during transaction commit"
### OrientDB Version: 2.2.25
### Java Version: OpenJDK 8
### OS: ubuntu

Quite interesting exception during simple transaction commit. Working memory: 2Gb - more than enough.
Please check gist for details: https://gist.github.com/PhantomYdn/7f5f7568294e11f2632938468a91425f

[2017-08-19 15:13] lvca commented on #7623
Implemented. Created the new distributed task `OEnterpriseStatsTask` that collect the data from the servers. So it's not that every node publishes the stats every 2 seconds to an Hazelcast map, but only upon request from Studio, the task is executed.

Also, in the case you're in the tab with only one server, the task is executed only on the requested server. Studio seems to work, I maintained the

[2017-08-19 15:14] lvca commented on #7623
I tried with the new version and without Studio, no resources are wasted and even with Studio on listening the load on CPU and GC is lower than before.

[2017-08-19 17:11] laa commented on #7669
Hi @BaarathiNMS , all versions of ODB till 2.2.15 had a problem with usage of Java NIO, in the case of high load some data may be not flushed to disk, as result data structure may be broken.

[2017-08-19 17:12] laa commented on #7669
Please update to latest 2.2.x and make export/import from/to JSON. It will fix all this problem now and in the future.

[2017-08-19 17:16] laa commented on #7604
Hi, @Marchrius any updates about this issue?

[2017-08-19 17:40] jacques- opened #7671 ""Error deserializing record to get field-names" with non-bundled gremlin client"
### OrientDB Version: orientdb-community-tp3-3.0.0m2
### Java Version: openjdk version "1.8.0_141"
### OS:  Fedora 26 x86_64

Not sure if this is a bug somewhere, or expected and I'm missing something.

I start the orientdb server with "server.sh" and load default config. I access "demodb" through the studio web application and everything seems to work 100%.

## Expected behavior

Then start greml

[2017-08-19 22:39] rdelangh commented on #7659
more interesting behaviour:
- an index does not exist
- so I try to create it again, which proceeds till 99.98% , then the same server errors appear again as already listed above, that the index would already exist:
[code]
- so I check again:
[code]
but no indexes
- since previously I noticed that this was also a symptom of corruption (no indexes listed, but somehow they still do exist), I explici

[2017-08-21 06:40] BaarathiNMS commented on #7669
hi @laa Thanks. Oru version is 2.1.11. If we update latest orient jars to our database, will it work..???
If not then how can we recover all the data from our database..??

[2017-08-21 06:57] zlfsimon opened #7672 "Convenience method to build a huge edge class"
do we have some Convenience method to build a huge edge class?
In my case I create two huge vertexes, such as person [50000000] and company [10000000], now want to create edge officer  between two vertexes, it seems I must find two vertex RID firstly, then
call

[code]
it's slow and inconvenience to create a graph. Is there some better method of it.

[2017-08-21 08:22] rdelangh commented on #7659
next update in this saga:
- I still try to get some indexes rebuilt, but that fails each time with the above error messages;
- so I again explicitly ran a "drop index ..." on the failing indexes, that command had no problems; one of them was "drop index idx_cdr_eno_20170723_0"
- to make sure that everything is correctly flushed to disk, I shutdown the server
- then I restart the server, and notice

[2017-08-21 08:45] tglman commented on #7672
hi @zlfsimon,

You can use query in from and to  like for example:
` CREATE EDGE E FROM (SELECT FROM V WHERE name="abc")  TO (SELECT FROM V WHERE name="cde") CONTENT { "name": "Jay",   "surname": "Miner" };`

does this help?

Reagards

[2017-08-21 08:55] maggiolo00 commented on #7610
@kinssun

that seems to be TP2 code not Apache TinkerPop 3

[2017-08-21 09:37] kinssun commented on #7610
Hi, every one, what status about this issue? got sovled in next 3.0 release for Tp2 or Tp3?

[2017-08-21 09:38] maggiolo00 commented on #7610
hi @kinssun

you did not provide a benchmark with TP3. Do you have one with the poor result?

[2017-08-21 09:43] tglman commented on #7670
hi @PhantomYdn,

Can you reproduce this in a deterministic way ? In case yes could you get a memory dump so we can track what is in the memory that is creating GC Overhead ?

Regards

[2017-08-21 09:53] tglman commented on #7610
Hi,

I've run some case with TP3 and was fine, I had to fix some cases for better handling the statement caching in remote with TP3 but in my tests I can do ~900 operations, here is the gist: https://gist.github.com/tglman/5cc8670f9afbcbe11d72512bbe59fd1b for TP3

Regards

[2017-08-21 10:01] HuangKBAaron commented on #7653
@tglman, @luigidellaquila, tried with the real records. it works and produce some ghost records. For example, there a class, v_body_type, has two same records after imported, with different rid, #21:0, #21:2. Tried the following script:
`select count(*) from v_volume LET $body_t=in('e_has_type')[@class='v_body_type'] where $body_t.@rid=21:0`
returned 0 (ZERO)
`select count(*) from v_volume LET $bo

[2017-08-21 10:38] zlfsimon commented on #7672
oh, I consider this solution, but  it will have two sub query. For performance, maybe it's better to get all rid together, then call "create".
I think the key issue: I can't point to RID when I insert into a vertex. It will be very easy if I can organize 'sql' by myself, so I can't ignore this boring ‘JOIN’ operation.  It's very useful for very huge data operation.
does orientdb has a such future?

[2017-08-21 11:47] zlfsimon commented on #7672
[code]
the below calling very solw, **so hard to use.**
`OIdentifiable docRid = document.field("RID");`

[2017-08-21 12:10] santo-it commented on #7458
Hi all,

If both issues described above have been fixed, can we now close this ticket - or is there anything else we can do to help?

Many thanks,

[2017-08-21 14:18] tglman commented on #6994
Hi,

Just double checking your case I see that the output say `LOCAL SERVER CONFIGURATION` this means that is extracting the configuration of the console application, and not of the server running if you want to see the configuration of the server you need to connect to it with `connect remote:host root xxx ` and the config command should print on the header `REMOTE SERVER CONFIGURATION`, so for m

[2017-08-21 14:21] leosimoesp commented on #6994
Hi,

Thanks, but I don't use orientdb anymore.

Best Regards,

On Mon, Aug 21, 2017 at 11:18 AM, tglman <notifications@github.com> wrote:

[2017-08-21 14:30] #7314 closed

[2017-08-21 14:30] lvca commented on #7314
Closing this issue, because of no response after a while. In case this issue is still valid, please comment this. Thanks.

[2017-08-21 14:31] #7046 closed

[2017-08-21 14:31] lvca commented on #7046
Closing this issue, because of no response after a while. In case this issue is still valid, please comment this. Thanks.

[2017-08-21 14:31] #6917 closed

[2017-08-21 14:32] #6772 closed

[2017-08-21 14:32] lvca commented on #6772
Closing this issue, because of no response after a while. In case this issue is still valid, please comment this. Thanks.

[2017-08-21 14:32] #1822 closed

[2017-08-21 14:32] lvca commented on #1822
Ok, so we don't need this. Closing.

[2017-08-21 14:33] lvca commented on #7623
Closing this.

[2017-08-21 14:33] #7623 closed

[2017-08-21 14:37] #7482 closed

[2017-08-21 14:52] tglman commented on #7642
hi @markusforster,

You need to set the same setting in both the server and the client to make it work properly.

Regards

[2017-08-21 15:05] tglman commented on #7616
Hi,

This should be already solved in the last snapshot with proper query close management in console, could let us know if you can still reproduce it.

Regards

[2017-08-21 15:10] laa commented on #7669
Hi @BaarathiNMS , if you just update jars it will not work, because disk data structure is damaged but if you make export of your data to JSON and then import back all will be OK.

[2017-08-21 15:11] laa commented on #7610
Hi @tglman but what is the performance of 2.2.x version?

[2017-08-21 15:19] tglman commented on #7610
Hi,

I Still have to completely run the test case in remote 2.2.x, I tried and it was tacking too much time, I run 2.2.x in embedded and it did ~1700, so I feel as today is pretty close in embedded and better in remote, but I prefer do the full run in both environment to be sure.

Regards

[2017-08-21 15:38] laa commented on #7665
@zlfsimon it highly depends on the character of the load which you will perform on this database and law of data distribution. In generally DB size on disk should be not more than 4 times bigger than the size of disk cache. But again, you know saying "There are lies, there are dirty lies and there are benchmarks" so I do suggest you make own benchmarks which will reflect you load and data distribu

[2017-08-21 15:53] igasparetto opened #7673 "Boolean filter not returning zero when .size() is used"
When we filter over a boolean attribute and use .size() plus an alias, the alias is not returned if the filter doesn't find any matches:

`[completed=true].size() AS totalCompleted`

I was really expecting totalCompleted to be returned and to have an integer as value, starting from zero, of course. Instead it is not returned at all if there are no completed=true around.

Thanks

[2017-08-21 16:07] lvca commented on #7519
Any chance to see your code?

[2017-08-21 16:11] maggiolo00 commented on #7671
hi @jacques-

which version is the server when connecting with the non bundle version of Gremlin Console?

[2017-08-21 16:14] laa commented on #7604
Hi @Marchrius, any update on this issue?

[2017-08-21 16:22] lvca commented on #7673
The methods are evaluated in chain, but as soon as the current value is null, the chain is interrupted. Try with this:
`
coalescence( [completed=true].size(), 0 ) AS totalCompleted
`

[2017-08-21 19:21] publicocean0 commented on #7616
ok now i passed in another activity ... i will test surelly after it ... so in the while maybe also other issues notified will be solved ,so i will do just final test.

[2017-08-21 20:11] SDIPro commented on #7664
Hi @Jotschi.  I saw this myself once when I was testing your other issues.  Let me see if I can reproduce it as I'm looking at the cause of 9009 too.

[2017-08-21 22:22] jacques- commented on #7671
Its exactly the same orientdb server - same instance in fact.

I've rebuilt the entire VM from scratch and exactly the same issue.

[2017-08-21 23:37] SDIPro commented on #7664
Using the latest version of your test for 8978 and against 2.2.26, I cannot reproduce the issue.

Would you mind trying against 2.2.26?  There were some significant distributed fixes in the 2.2.26 hotfix, including using the latest version of Hazelcast.

Thanks,

-Colin

[2017-08-22 06:44] BaarathiNMS commented on #7669
Thanks @laa .

[2017-08-22 07:55] Jotschi commented on #7664
@SDIPro Somehow the reproducer link was not included in this prjhub issue 9186. Did you try branch issue-7664?
https://github.com/Jotschi/orientdb-cluster-test/tree/issue-7664 (Branch issue-7664). That branch already used OrientDB 2.2.26

[2017-08-22 09:36] rdelangh commented on #7659
@tglman , @lvca
total silence from ODB-gurus ... ?

[2017-08-22 09:50] maggiolo00 commented on #7671
Hi @jacques-

i've done a quick check. Seems that there is a problem with libraries.
The problem seems to be the distribution `orientdb-community-tp3-3.0.0m2`
If you download the version with TP3 + Spatial should solve the issue

http://orientdb.com/orientdb-labs/

[2017-08-22 10:10] EricSchreiner commented on #7586
Hi @laa seems to be OK so far. I've attached two logfiles from the same database started with 32Bit and 64Bit. The only thing I see is, that sometimes it takes a very long time to shutdown the database. This seem to be new.
[orient-server-64bit.log.0.txt](https://github.com/orientechnologies/orientdb/files/1241645/orient-server-64bit.log.0.txt)
[orient-server-32bit.log.0.txt](https://github.com/or

[2017-08-22 10:48] laa commented on #7586
@EricSchreiner cool. What do you mean by takes too long time to shut down? Does it take on both instances or on 32 bit only?

[2017-08-22 12:19] laa commented on #7586
@EricSchreiner I will close this issue because seems like it is fixed. But please open a new issue if you think something is wrong with the shutdown, may be it is a bug may be not let see. If you will be able to create profiler snapshot it will be cool if not we will provide instructions for very good and free one, but of course without hand GUI.

[2017-08-22 12:19] #7586 closed

[2017-08-22 12:21] laa commented on #7586
@santo-it for release notes: "On 32 bit systems because the high level of memory fragmentation ODB can not allocate memory by big chunks, so it always allocates memory with page-size granularity. It will decrease performance but will avoid throwing of OOM in case of allocation of direct memory".

[2017-08-22 12:29] EricSchreiner commented on #7586
@laa thank you for your support......

[2017-08-22 15:21] giggs131400 commented on #7391
I'm using orientdb 2.22 in distribute environment, when i use concurrent thread to write the data and it occurs the exception
Error: com.orientechnologies.orient.server.distributed.task.ODistributedRecordLockedException: Timeout (5000ms) on acquiring lock on record #46:0 on server 'node75'. It is locked by request 0.324309
	DB name="graphics"
	DB name="graphics"

below is my code:

i will create t

[2017-08-22 15:22] giggs131400 commented on #2010
can the lock or unlock statement use in orientdb?

[2017-08-22 16:35] igasparetto commented on #7673
Thanks Luca,
I still think there is room for improvement. The DB should respond predictably, instead it puzzles me, like in this case.
Ivan

[2017-08-22 18:15] vguhesan opened #7674 "OrientDB does not recover after abrupt power failure - EOFException - OStorageException: Cannot open local storage '/.../ddnmondb' with mode=rw"
### OrientDB Version: OrientDB Server v2.2.25 (build 72a35a4bb42c4ca33272e7a59ad4c7a1d3ee859d)
### Java Version:
java version "1.8.0_121"
Java(TM) SE Runtime Environment (build 1.8.0_121-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.121-b13, mixed mode)
### OS: CentOS Linux release 7.2.1511 (Core)

## Expected behavior
the database recovers after an abrupt power failure

## Actual behavior
Data

[2017-08-22 22:11] lvca commented on #7673
I don't know if in v3.0 this is changed. @luigidellaquila any thoughts about this?

[2017-08-23 07:37] laa commented on #7674
Probably that is already fixed let me check it

[2017-08-23 09:28] Jotschi commented on #7664
@SDIPro @lvca I may have found the "issue".

I have just updated my reproducer and added more assertions. I noticed that in fact the ODistributedRedirectException/ONeedRetryException occurs multiple times but the retry works and the change gets persisted.

I guess I was irritated by the log output and I already tried the retry handling once and it failed. It may have failed because I was randomly

[2017-08-23 09:32] BrunoSupiot opened #7675 "ODatabaseDocument.execute() does not allow comments"
### OrientDB Version: <3.0.0-m2>
### Java Version: <1.8>
### OS: <Windows 10>

## Expected behavior
SQL scripts must allow comments (with '--' or '//' at the beginning of the line

## Actual behavior
	Suppressed: com.orientechnologies.orient.core.sql.OCommandSQLParsingException: Error parsing query:

 ^
Encountered " "/" "/ "" at line 1, column 2.
Was expecting one of:
    <EOF>
    <SELECT> ...

[2017-08-23 09:55] lvca commented on #7664
You're right, it shouldn't be INFO, but just FINE level. Changing the level. It's totally fine that message.

[2017-08-23 09:56] lvca commented on #7664
Pushed in 2.2.x.

[2017-08-23 10:02] laa commented on #7641
@tglman could you try again on the latest source?

[2017-08-23 10:23] laa commented on #7665
@zlfsimon could you try this build https://drive.google.com/file/d/0B2oZq2xVp841VWlFSkFMRHhpeFU/view?usp=sharing

[2017-08-23 10:23] laa commented on #7656
@jamieb22 could you try this build https://drive.google.com/file/d/0B2oZq2xVp841VWlFSkFMRHhpeFU/view?usp=sharing ?

[2017-08-23 12:39] laa commented on #7604
Hi @Marchrius, any update on this issue?

[2017-08-23 13:22] bbourgois commented on #3462
+1

[2017-08-23 13:44] bbourgois commented on #4056
+1

[2017-08-23 16:23] maggiolo00 opened #7677 "GeoJSON Support with Functions"
Implement GeoJSON functions

- ST_AsGeoJSON
- ST_GeomFromGeoJSON

[2017-08-24 05:27] zlfsimon commented on #7672
@tglman  any suggestion?

[2017-08-24 05:58] luigidellaquila commented on #7673
Hi @igasparetto @lvca

In v 3.0 it's already changed: if the original collection is not null, the filtering always returns a collection (perhaps empty), so the size() works fine.

In 2.2 the behavior is a bit more articulated, but I can check it and see if there is a bug here (sorry, I'm out of office in these days, but I'll give it a look as soon as I'm back)

Thanks

Luigi

[2017-08-24 06:00] luigidellaquila commented on #7675
Hi @BrunoSupiot

OrientDB accepts java-like multiline comments: `/* comment */`

Thanks

Luigi

[2017-08-24 06:00] #7675 closed

[2017-08-24 07:10] jacques- commented on #7671
That works thanks!

[2017-08-24 07:56] laa opened #7678 "Create method which will asynchronously call call back once tx will become durable"
As all major databases to remove WAL fsync from the critical path we perform an asynchronous flush of WAL content. As result, if the server is crashed several last operations will be lost. As  alternative, we are going to propose to create method `database.tx(Function<ODatabaseSession, T> code, BiConsumer<ODatabaseSession, T> onCommit, BiConsumer<ODatabaseSession, T> onRollback, retries, blocked)`

[2017-08-24 07:56] BrunoSupiot commented on #7675
Thank you Luigi.
It works <ith java style comments.
However, this does not work inside the 'browse' section of the  OrientDb studio, when a multi-command is submitted

[2017-08-24 07:57] laa commented on #7678
Once we will implement this feature would be cool to implement the full set of API to support reactive programming. So it will like "be reactive and you never loose your data" )).

[2017-08-24 08:11] #7671 closed

[2017-08-24 09:26] tglman commented on #7672
Hi,

I terms of performance have two subquery is not an issue , I'm not sure what you mean whit the snippet before, but I guess you are trying to collect the rids out of a query, and this is the way to do it, be aware that the `ODatabaseDocument` and `ODocument` api are not thread safe, so you should not use the `parallelStream()` java api.

Regards

[2017-08-24 10:39] tglman commented on #7641
hi @fixundfertig123,

I've been able to fix the first problem I had and reproduce the schema issue, I'm debugging to find out the cause of that problem and provide a fix.

Regards

[2017-08-24 10:39] tglman commented on #7641
hi @fixundfertig123,

I've been able to fix the first problem I had and reproduce the schema issue, I'm debugging to find out the cause of that problem and provide a fix.

Regards

[2017-08-24 11:14] #7673 closed

[2017-08-24 11:14] lvca commented on #7673
So in v3.0 this is already fixed. Cool.

[2017-08-24 11:40] tglman commented on #7641
Hi @fixundfertig123,

The root problem is the auto-creation of the database in concurrent way, this is not supported out of the box in 2.2.x, so probably the best way is to do a "before" operation that guarantee that the database exists before the tests run, in remote you don't have a problem because the database is required to exists in that case.

Regards

[2017-08-24 12:25] maggiolo00 commented on #7677
Implemented in develop branch

[2017-08-24 12:25] #7677 closed

[2017-08-24 12:40] laa commented on #7674
@santo-it , release notes: "When the server is loaded its cache state restored back into memory from a disk file, but sometimes if replication between nodes is broken for some reasons, a file which contains cache state may be broken. Before this issue, if IO exception happened on all operations on this cache state file except reading of size of the cache, we correctly handled it and continue serve

[2017-08-24 12:52] lvca commented on #7664
I pushed a fix to execute a rebalance of the cluster earlier, so you shouldn't see all these exceptions anymore. It's in 2.2.x. Could you please check it? Thanks.

[2017-08-24 12:58] fixundfertig123 commented on #7641
Hi @tglman,

thank you for your effort!!! To be honest, I am not quite sure whether I get your point. Assuming that you are referencing to the "BeforeAndAfter" traits I tried to work with that. For some reason on the new code I now get some memory exceptions  I assume you fixed:
[code]
So we have some points open:
- When is your memory bug fix available so I can test?
- Is there a plan to allow th

[2017-08-24 14:01] Jotschi commented on #7664
@lvca Thanks. I'll close this issue.

[2017-08-24 14:01] #7664 closed

[2017-08-24 14:29] tglman commented on #7641
hi @fixundfertig123,

The fix is already landed in the 2.2.x branch so it will be released with 2.2.27 in a couple of weeks, if you want to do some early try you can get the `2.2.17-SNAPSHOT` from this repository: https://oss.sonatype.org/content/repositories/snapshots/

I'm not an expert on how to write MT tests in scala+sbt, but is enough to have a:
[code]

before your current code start in MT.

[2017-08-24 14:59] laa opened #7679 "Test testCreateVertexByContent with CP-1251 encoding"
The test does not pass because SQL parser uses system encoding instead of DB encoding.
The same problem exists in several Lucene tests too.
I suppose DB encoding should be used by default.

[2017-08-24 15:00] bermi commented on #3944
Hi @luigidellaquila, @lvca,

Has there been progress on this front recently? Is this still waiting for volunteers? Have you contacted with @aphyr to run the tests for you?

Thanks,

Bermi

[2017-08-24 18:15] santo-it commented on #7300
Hi @luigidellaquila,

Okay for me. This is going to be useful and easy to use.

Thanks,

[2017-08-24 18:58] laa commented on #7604
Hi @Marchrius, any update on this issue?

[2017-08-24 21:50] santo-it opened #7680 "LIMIT clause not working in DELETE EDGE syntax"
### OrientDB Version: 2.2.26 + 3.0.0-SNAPSHOT
### Java Version: 1.8
### OS: win 10 64bit

## Expected behavior
LIMIT x limits the number of deleted records to x

## Actual behavior
all records that match the delete query are removed

## Steps to reproduce
- create vertex class1 and vertex class2
- create vertex a in class1 and vertex b in class2
- create edge class class3
- create x edges (e.g. 4)

[2017-08-25 13:35] laa commented on #7604
Closed because of no reply. But frankly speaking I think issue is fixed

[2017-08-25 13:35] #7604 closed

[2017-08-25 14:05] tglman commented on #7621
Hi @publicocean0,

I fixed the problem with the close query recently, the other error seems just a network issue or similar(server going down), could you try with the lastest 3.0 shanpshot ?

Regards

[2017-08-25 14:07] laa opened #7681 "Create branch with code which will measure WAL amplification"
Create a branch with code which will measure WAL amplification overhead of different components. Print statistics in total and for each component separately.

This issue is needed to be completed to estimate how much IO will be saved if we migrate from components durable because of WAL logging to components which durable by its nature of writing data so we will log only high-level commands not low

[2017-08-25 14:57] DamianZhou opened #7682 "ETL skipDuplicates did not work in debug mode"
### OrientDB Version: 2.2.26
### Java Version: 1.8.0
java version "1.8.0_131"
Java(TM) SE Runtime Environment (build 1.8.0_131-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.131-b11, mixed mode)

### OS: debian
Debian 4.9.30-2+deb9u2~bpo8+1 (2017-06-27) x86_64 GNU/Linux

## Expected behavior
using ETL vertex  Transformers with `skipDuplicates=true` to load vertexes, should skip duplicated keys w

[2017-08-26 08:12] laa opened #7683 "Partition keys for tree based indexes according to hash code"
Now we already have partitioned hash indexes but we are not sure how faster they are. So following work has to be done:

1. Run YCSB tests on a single cluster and nonpartitioned hash index for a different amount of data.
2. Run YCSB tests on the multi cluster and partitioned hash index.

If results would be promising following should be done:
1. Check hash index implementation of complete correctn

[2017-08-26 08:30] laa opened #7684 "Remove logging of ridbag changes from serialization context to transaction"
At this moment all operations on an embedded database are transactional, so there is no need to keep changes of rid bags in separate data structures. So we will remove double change management under TX.

This change will be implemented only for embedded storage. Remote storage will keep current mechanics of notification of changes.

It makes things a bit inconvenient but makes transaction tracking

[2017-08-26 12:58] laa commented on #7665
@zlfsimon did you have a chance to try new build?

[2017-08-26 13:53] laa commented on #5504
duplication

[2017-08-26 13:53] #5504 closed

[2017-08-26 13:53] laa commented on #6059
duplication

[2017-08-26 13:53] #6059 closed

[2017-08-26 19:01] laa opened #7685 "Prefix B-Trees"
Currently, when we keep keys in parent pages of B-Tree we always keep full keys. But in reality, we do not need it.

Let suppose that we filled a page of B-Tree and need to split it. So we will choose key which will serve as a separator between two keys. Instead of passing full key in the parent page, we can use only part of the key which is for sure larger than all keys on the left side from the

[2017-08-26 19:03] laa opened #7686 "Hash only indexes"
Create hash index which will contain only hash codes of the keys.  Hash codes will be generated using one of SHA algorithms. After the fetch of results, data will be additionally filtered by SQL engine. To minimize a risk of collisions one of SHA algorithms will be used.

[2017-08-26 19:22] laa commented on #7685
the disadvantage of this approach is that tree will grow on right side faster than on the left side, so space on the left side may be not fully utilized after the split. Anyway will leave this issue open to get to it back for additional investigation later.

[2017-08-26 20:56] lvca commented on #7686
When can we do this?

[2017-08-27 06:37] laa opened #7687 "Replace in memory cache in OGraphSONReader by hash index"
Once issues https://github.com/orientechnologies/orientdb/issues/7686 and https://github.com/orientechnologies/orientdb/issues/5720 will be implemented we can safely use the hash index as a cache for vertexes and remove cache#invalidate optimization. It will provide some slowdown but will allow to fix performance issue without Vudu magic, remove the risk of throwing of CME and will allow to import

[2017-08-27 06:40] laa commented on #6001
will remove it for now from backlog because we have a suspicion that the rest of issues in backlog will allow fixing this one automatically will back to it once current backlog will be finished.

[2017-08-27 06:41] laa commented on #5149
removed from backlog in favor of https://github.com/orientechnologies/orientdb/issues/7686

[2017-08-27 06:50] laa commented on #7686
Hi, I put it in backlog in instead of #5149. We started to create a backlog. The backlog is not more than 10 important issues which we are going to do next.  It does not mean that all of them will have to be implemented in next release. We are going to develop each feature in separate branch and test in a separate branch, running at the end CI, durability and binary compatibility tests. So you may

[2017-08-27 09:31] santo-it opened #7688 "3.0-snapshot - demodb - array item returned instead of string"
### OrientDB Version: 3.0-snapshot
### Java Version: 1.8
### OS: win 10 64bit

Hi,

I was working on the demodb integration tests and I found out that for this query:

Among Santo's Friends, find the top 3 Customers that placed the highest number of Orders:

[code]

Friend_Name and Surname_Name are returned as array items, instead of strings
I wonder if this is expected and why it doesn't return "

[2017-08-27 12:09] santo-it commented on #7663
Thanks Luigi!

I've added a test as part of the demodb integration tests.

[2017-08-27 20:39] fixundfertig123 commented on #7641
Hi @tglman,
sorry for the late reply. and sorry, your solution did not work out. To be honest I am not an expert on SBT and test suites neither, but I got the code working. Even with version 2.2.26.

To make other save some time, I uploaded the running code at my repo: [https://github.com/fixundfertig123/7547/releases/tag/WorkingTestSuite](https://github.com/fixundfertig123/7547/releases/tag/Worki

[2017-08-28 02:34] SingleDawn commented on #7622
I have also encountered the same problem

[2017-08-28 07:28] tglman commented on #7686
Hi @laa,

Just for info, how do you think to implement this? from my point of view a case like this can be implemented simply wrapping the current index implementations, adding hashing on put and filtering on get/iterate.

Regards

[2017-08-28 07:35] laa commented on #7686
@tglman I think the simplest approach is to replace key by SHA code. But it is too early to say will look in details once we start implementation.

[2017-08-28 08:00] lvca commented on #7622
@kishorel please use OrientDB >=2.2.26 and restart the servers with such version with the database you already created.

[2017-08-28 08:02] tglman commented on #7684
hi,

As today remote and embedded use two different things for ridbag tracking already, in remote we simply serialize the changes inside the ridbag, in embedded we use a thread local where we keep stored the changes, I really would like to remove this thread local, and from the recent evolution of Tx and MicroTx probably is possible do the ridbag operation directly in the commit without the thread

[2017-08-28 08:30] laa commented on #7684
@tglman, yes you are right.

[2017-08-28 09:48] goncoal opened #7689 "Connect to OrientDB from Javascript"
### OrientDB Version: 2.2.25
### Java Version: 1.8

I am having trouble connecting to a database on OrientDB from javascript (Sublime Text 3) using orientdb-api.js.

My code in javascript is:

https://stackoverflow.com/questions/45691767/connect-to-orientdb-from-javascript

The error I have is: "Connect error: undefined" and "HTTP/1.1 401 Unauthorized" for queries.

All files are inside the "www"

[2017-08-28 10:50] robfrank commented on #7595
just generated an image for 2.2.26 based on alpine/ibm. repeated your test, all work fine.
I didn't use the system properties you propose.

![yarc](https://user-images.githubusercontent.com/413587/29770364-000a816a-8bef-11e7-9d4b-1f11b4823870.jpeg)

The jdk version is:

java version "1.8.0"
Java(TM) SE Runtime Environment (build pxa6480sr4fp10-20170727_01(SR4 FP10))
IBM J9 VM (build 2.8, JRE 1.8.0

[2017-08-28 12:13] robfrank commented on #7585
this problem should be fixed in 2.2.26. Can confirm?

[2017-08-28 12:52] tglman commented on #7641
hi @fixundfertig123,

Good to know you solved, can we close this ?

Regards

[2017-08-28 13:21] Marchrius commented on #7604
Hi @laa, sorry for the delay but I was in vacation in these days.
The problem is not resolved (we are using a backup of the database with success).

There is another problem that my colleagues has had with OrientDB and I'm talking about the indexes of some vertexes/edges properties that has corrupted the database with problem in new row inserting in the vertexes / edges. This is a different proble

[2017-08-28 13:32] maggiolo00 commented on #7689
Hi @goncoal

you should not use that library, since is no longer maintained. Use  directly  the REST API

https://orientdb.com/docs/2.2/OrientDB-REST.html

[2017-08-28 13:35] robfrank commented on #7644
problem fixed, specific test added

[2017-08-28 13:35] #7644 closed

[2017-08-28 14:29] laa commented on #7604
Hi, @Marchrius thank you for feedback. We are waiting for your new issue. Once you will do it we will start to investigate it.

[2017-08-28 15:03] Marchrius commented on #7604
A fast feddback:

After command in the console `repair database --fix-graph --fix-links --fix-ridbags` seems that I can insert correctly a record in the broken vertex.

[2017-08-28 16:50] robfrank commented on #7682
I fixed the problem, it will part of the upcoming 2.2.27

[2017-08-28 16:50] #7682 closed

[2017-08-28 17:03] robfrank commented on #7682
Just a note: 3.0.x is not affected by this problem.

[2017-08-28 17:17] robfrank commented on #7614
As the error message states, you can only have ONE list/map on a multi-field index. The API you are complaining about could be right or wrong, it depends on the POV. The index interface/infrastructure is general, not necessarily targeted to Lucene and its document model. For the time being, we are not planning to change this internal.

[2017-08-28 17:18] robfrank commented on #7614
This is more a question than an issue. Please post it on StackOverflow http://stackoverflow.com/questions/tagged/orientdb

[2017-08-28 17:48] publicocean0 commented on #7614
there is th same error also if there is 1 list.

[2017-08-28 18:56] fixundfertig123 commented on #7641
@tglman yes, and thanks

[2017-08-28 22:45] santo-it commented on #6905
Documentation and integration tests: done. Integration tests can be improved in the future with more asserts.

Closing!

[2017-08-28 22:45] #6905 closed

[2017-08-29 04:51] PhantomYdn commented on #7595
@robfrank , point not in orientdb image, but in using OrientDB in a separate image as embedded library. Dockerfile can be found here: https://github.com/OrienteerBAP/Orienteer/blob/master/Dockerfile_ibmjdk
I can assume that set of bash scripts and etc. from OrientDB can setup required environment. But in case of embedded library it behave as I explained previously.

[2017-08-29 04:53] PhantomYdn commented on #7670
@tglman , unfortunatly no:( And even that time: JDK crashed without any heap-dump. Trying to setup taking memory dump in such cases, but not sure how quickly it might repeat.

[2017-08-29 05:02] Dollyn opened #7690 "OTokenSecurityException: The token provided is expired"
### OrientDB Version: 2.2.19
### Java Version: 1.8
### OS: centos7

[code]

## Actual behavior

OServerAdmin idle for some time, then the new admin request will cause the exception. The client side just closed the session.

[code]

After it closed the storage, the following request will cause a new 'invalid session' exception
[code]

and this new error info is somewhat misleading.

## Expected beh

[2017-08-29 06:46] kishorel commented on #7622
@lvca Thanks for the reply. Just to understand, is this a bug? we actually thought of going on production but in the initial setup stage encountered issues.What is the stable release(if any).

[2017-08-29 07:33] robfrank commented on #7595
I'm sorry, but I'm a little bit confused.
If you use OrientDB as an embedded library, within a completely custom image, IMHO is up to you to provide the right parameters to the JVM.
Sorry, but I can't get the point: what should be our action? what should provide?

[2017-08-29 07:42] EricSchreiner commented on #7585
@robfrank  confirmed

[2017-08-29 07:48] #7585 closed

[2017-08-29 07:57] zlfsimon commented on #7672
Hi,

I mean I have a vertex with id 1341341341,  I can insert this vertex like:
`insert into verext (rid, .......) values (65:1341341341, ...............)`
then I can calculate the from and to  vertexs by their ids
`create edge relarionship_xxx from 65:1341341341 to xxxx content {xxxxx}`

It's convenience for very  huge data set building.

[2017-08-29 08:00] #7252 closed

[2017-08-29 08:20] laa opened #7691 "Remove access from storage internal classes and replace it by public methods"
Currently, we can directly access clusters and few less minor classes out of storage. Such access breaks storage life cycle and may lead to data corruption or incorrect handling. It is proposed to remove access to those classes from storage and instead provide methods on storage level as we did with indexes.

Also in such case cluster will become a logical concept of storage but not physical which