[2016-05-24 06:01] lalitlogical commented on #6191
Hi @luigidellaquila

We have created Document Type Database in OrientDB. We are making a project with NodeJs + oriendb + oriento.

Basically, we have two tables as Users and Posts. Users can have many posts with posts table. Post table has a link type column of the owner( user's @rid). The post can be sorted by the distance. So we need posts as group by the user with distance in descending order.

[2016-05-24 06:01] PhantomYdn commented on #6157
I'm sorry, but could not agree with you. Every single mentioned issue is still there... Let me summarize:

1) It seems that shutdown is looking better: at least port is closing. But there are still a lot of messages about closing of resources and number of messages are growing from test to test. So it seems that those resources are not being released. Example: https://gist.github.com/PhantomYdn/8d

[2016-05-24 06:22] voondo opened #6200 "Distributed : many errors"
## Expected behavior and actual behavior

[code]

[code]

[code]

## Steps to reproduce the problem

I don't know exactly. But the application works perfectly with a single node.
It may be related to ORecordByte because a part of application involving it always fails when a second node comes in the setup.

## Important Questions

### Runninng Mode
- [x] Embedded, using PLOCAL access mode
- [ ] Emb

[2016-05-24 07:05] laa commented on #6133
Hi @kerner1000 , could you be more specific:
What does it mean ?

1. When canceled a db import.
2. Clearing the cache right after

How did you perform those actions ?

[2016-05-24 07:06] laa commented on #6133
About log files, they are stored under directory <db folder>/log . Could you send them too ?

[2016-05-24 07:24] christtrc opened #6201 "Delete record produce 'Cannot execute non idempotent command'"
## Expected behavior and actual behavior
[code]
But:
If I run:
[code]
it worked !!

Ecpected behavior:
 return integer

Actual behavior:
[code]
## Steps to reproduce the problem

Use orientdb client to access remote orientdb server.

## Important Questions

### Runninng Mode
- [ ] Embedded, using PLOCAL access mode
- [ ] Embedded, using MEMORY access mode
- [x] Remote

### Misc
- [ ] I have a dist

[2016-05-24 08:03] laa commented on #6084
@nsitanurag could you send us the code which you use for massive insertion, to help us to reproduce the issue ?

[2016-05-24 08:10] robfrank commented on #6175
Your code works fine if you wrap the ? with sigle quotes, as stated on previous comment:
[code]

You're querying the GratefulDeadConcerts,  that is mainly schema less, so the line
[code]
can't get any result because, internally, it relies on db metadata.

[2016-05-24 08:12] luigidellaquila commented on #6201
Hi @christtrc

`OSQLSynchQuery` is intended only to execute idempotent commands (SELECT, TRAVERSE...), if you want to execute non idempotent commands like UPDATE and DELETE, you have to use OCommandSQL:

[code]

Thanks

Luigi

[2016-05-24 08:12] #6201 closed

[2016-05-24 08:15] laa commented on #6090
Hi @jamieb22 any updates ?

[2016-05-24 08:15] laa commented on #6126
Hi @jamieb22 any updates ?

[2016-05-24 08:15] kerner1000 commented on #6133
cancelling a db import has nothing to to with the db itself. It was just a long running, mainly writing import job that i canceled.
After, I called `db.getLocalCache().clear()` as proposed [here](https://github.com/orientechnologies/orientdb/issues/6080).

You guys have the complete DB folder available, as I zipped it and shared it [here](http://silico-sciences.com:8000/d/d5b68a172e/).

[2016-05-24 08:22] laa commented on #6133
@kerner1000 what do you mean "job that i canceled." , how did you do that ?

[2016-05-24 08:23] #4639 closed

[2016-05-24 08:23] luigidellaquila commented on #4639
Hi @jfrogit

I'm closing this issue, error messages were improved a bit in many cases, but in general it is not possible to have better information in these cases

Thanks

Luigi

[2016-05-24 08:23] laa commented on #6133
@kerner1000 I mean not database itself but server or application folder if you use embedded version of database.

[2016-05-24 09:26] kerner1000 commented on #6133
I mean I just cancelled the import job. This was only in the application. It would stop to write documents to the db.

I will try to find this folder.

[2016-05-24 09:42] luigidellaquila commented on #4683
Fixed in both 2.1.x branch (next 2.1.18) and develop (next 2.1.1)

Closing, please reopen if you see any related problems

Thanks

Luigi

[2016-05-24 09:42] #4683 closed

[2016-05-24 10:11] luigidellaquila commented on #4497
Hi @mbhulin

Thank you very much, we finally decided to merge A* and Dijkstra implementations in a single implementation.
I'm closing this issue

Thanks

Luigi

[2016-05-24 10:11] #4497 closed

[2016-05-24 10:13] luigidellaquila commented on #5957
Hi @saeedtabrizi

I'm closing this issue, as the PR was merged long time ago.
For the record, I also rewrote Dijkstra function to delegate to A* (a single implementation, less moving parts, less code to maintain and less bugs in the long term ;-) )

Thank you very much!!

Luigi

[2016-05-24 10:13] #5957 closed

[2016-05-24 10:15] luigidellaquila commented on #4548
This is now possible in v 2.2 using `astar()` function.
I'm closing this issue

Thanks

Luigi

[2016-05-24 10:15] #4548 closed

[2016-05-24 10:17] luigidellaquila commented on #2398
v. 2.2 includes `astar()` implementation, that is more flexible and allows optimizations based on heuristics.
I'm closing this issue

Thanks

Luigi

[2016-05-24 10:17] #2398 closed

[2016-05-24 10:17] taburet commented on #6094
I have created [a special 2.1.16 build](https://drive.google.com/file/d/0B9L-XIp8ztKNWkxKeXVkQXlzSjg/view?usp=sharing) with a more detailed logging about the state of the console and command execution. Please download it and install on the server, run the console from this build, reproduce the "executed twice" behaviour and send me the console output. Thank you.

[2016-05-24 10:20] luigidellaquila commented on #4875
Hi @gg4u

could you please try current develop branch (next 2.2.1)? We just replaced the old Dijkstra implementation with a new one, so the problem should be fixed

Thanks

Luigi

[2016-05-24 10:21] luigidellaquila commented on #4946
Hi @iw2rmb

We just replaced Dijkstra function with a more optimized implementation (develop branch, next v 2.2.1). Could you please let me know if the problem is fixed?

Thanks

Luigi

[2016-05-24 10:27] anywhichway commented on #6196
If this is an enhancement, what is it that query is returning? A key-mapped Object or an Array without the forEach method? If it is an Array, what other methods are either missing or available?

[2016-05-24 10:28] lvca commented on #1636
@NLPScott what's your problem and what are you trying to accomplish?

[2016-05-24 10:57] luigidellaquila commented on #6196
Hi @anywhichway

I hope I got it right, the code is in a JS function, is it correct?
The returned object is a Java array, not a JS one, this is why the forEach() does not work.

Thanks

Luigi

[2016-05-24 11:02] laa commented on #6133
@kerner1000 was it standalone application with embedded database or you used remote connection ? How did you cancel the application by sending kill signal ?

[2016-05-24 11:12] #4064 closed

[2016-05-24 11:12] luigidellaquila commented on #4064
This is fixed in 2.2

I'm closing the ticket, please reopen if you see any related problems

Thanks

Luigi

[2016-05-24 11:16] laa opened #6202 "Index Engine error at startup for OrientDB 2.2.0"
I just upgraded to OrientDB 2.2.0 GA release from OrientDB 2.2.0-beta. Now every time I start my application with embeded OrientDB, I see the error message below

SEVERE: $ANSI{green {db=$graphdb}} Index 'expressible.name' cannot be created and will be removed from configuration

Then immediately follow that I will see a warning

WARNING: $ANSI{green {db=$graphdb}} Index engine with name 'expressi

[2016-05-24 11:18] luigidellaquila commented on #4225
Hi @Bretto

This issue was fixed a few months ago in 2.1 (we rewrote the way filters are evaluated when defined in square brackets).

I did a couple of test to double check and and everything seems to be correct. I'm closing this issue, please reopen if you see any related problems

Thanks

Luigi

[2016-05-24 11:18] #4225 closed

[2016-05-24 11:24] maggiolo00 commented on #6195
hi @anywhichway

[code]
Converts the document into String not into a javascript object.

http://orientdb.com/javadoc/latest/com/orientechnologies/orient/core/record/ORecordAbstract.html#toJSON--

 So if you want to use it in that way you should do

[code]

[2016-05-24 11:24] #6195 closed

[2016-05-24 13:00] lvca commented on #6120
To recap, what's the sql you execute? just 1 statement insert? Can you copy and paste only the relevant snippet here?

[2016-05-24 13:16] #4743 closed

[2016-05-24 13:16] luigidellaquila commented on #4743
Hi @Ivanov-Yuriy

The Index Manager API states it explicitly

[code]

so it cannot be considered a bug. I'm adding line in the docs about this

Thanks

Luigi

[2016-05-24 13:22] lvca commented on #6200
Fixed, thanks.

[2016-05-24 13:23] lvca commented on #6184
What's your JVM and OS?

[2016-05-24 13:23] schernolyas commented on #6120
Hi @lvca !
During transaction, I execute queries:
1) select executeQuery('insert into Card content {"pan":"4444"} return @rid');
   result RID #45:-2
2) select executeQuery('insert into Payment content {"created":"2016-05-11 14:01:42","sum":"1"} return @rid') ; result RID: #61:-3
3) select executeQuery('insert into Payment content {"created":"2016-05-11 14:01:42","sum":"2"} return @rid') ; result

[2016-05-24 13:25] lvca commented on #6120
Why are you creating a new function in Groovy just to execute that SQL?

[2016-05-24 13:26] #4822 closed

[2016-05-24 13:26] luigidellaquila commented on #4822
Hi @pcoutin

This issue was fixed long time ago, I just tested it in 2.2 GA and it works correctly.

I'm closing it, please reopen if I'm missing something.

Thanks

Luigi

[2016-05-24 13:27] schernolyas commented on #6120
@lvca , because OrientDB implenentation of JDBC driver not allow to execute queries like mine

[2016-05-24 13:30] lvca commented on #6120
Why not? Have you tried:

[code]

[2016-05-24 13:32] schernolyas commented on #6120
@lvca   Yes of course!  It is first that I did.  I got exception.

[2016-05-24 13:33] luigidellaquila commented on #4837
Guys, this seems to work fine in both 2.1.16 and 2.2 GA, could you please confirm that it's already fixed?

Thanks

Luigi

[2016-05-24 13:39] luigidellaquila commented on #4910
Hi @mntkris

I'm sorry, I have to close this issue, v 2.0 is no longer supported for community.
I hope you had a chance to migrate to 2.1, in case please let us know if you need help on that

Thanks

Luigi

[2016-05-24 13:39] #4910 closed

[2016-05-24 13:41] #4912 closed

[2016-05-24 13:41] luigidellaquila commented on #4912
Hi @rwnew2012

`not like` operator is not supported by the query parser, the correct syntax is

[code]

I hope it helps

Thanks

Luigi

[2016-05-24 13:46] lvca opened #6203 "ALTER CLASS should allow changing default-cluster-id too"
As the subject

[2016-05-24 13:51] kerner1000 opened #6204 "Caching and referenced records"
Hi,

I experience some difficulties with the caching mechanism.

I have a document db and documents store references to other documents.

If I modify these references without altering the document itself, I can only see these changes after clearing the db's cache.

`db.getLocalCache().clear()`

see [#6080](https://github.com/orientechnologies/orientdb/issues/6080).

How can I trigger a reload of d

[2016-05-24 13:58] kerner1000 commented on #6133
Hi
its a local DB inside an Eclipse RCP application. I 'cancel' the import job by 'break'ing the for-loop, so as I said, its not really related to the db.
I just mention it, because after stopping the import I immediately call
`db.getLocalCache().clear()`.
Im not sure if this is one possible source of error, right now its the only one I can think of.

[2016-05-24 14:07] lvca opened #6205 "JDBC: Support returning of @rid"
JDBC driver should be able to return the RID in query like this:

[code]

[2016-05-24 14:07] lvca commented on #6120
Ok, just created: https://github.com/orientechnologies/orientdb/issues/6205

[2016-05-24 14:16] #5039 closed

[2016-05-24 14:17] luigidellaquila commented on #5039
Hi @martingg88

The parsing problem is already fixed. Just consider that in 2.2 the `EXPAND(UNIONALL($user))` is not allowed in a single query (you have to wrap it in a subquery) because it's an aggregate function.

I'm closing this issue. Please reopen if you see any related problems.

Thanks

Luigi

[2016-05-24 14:19] #6205 closed

[2016-05-24 14:19] lvca commented on #6120
Done: https://github.com/orientechnologies/orientdb/issues/6205

[2016-05-24 14:20] lvca commented on #6120
Could you try it (it's in last develop branch)

[2016-05-24 14:23] laa commented on #6080
Hi guys, please never call `db.getLocalCache()` directly. It may lead to serious data consistency problems. If you have to clear cache it means that you incorrectly use DB API.

[2016-05-24 14:24] #5208 closed

[2016-05-24 14:24] luigidellaquila commented on #5208
Hi @Alan47

This issue was fixed months ago, v 2.2 GA does not have this problem.

I ran your test to double check and it passed correctly.

I'm closing this, please reopen if you still see similar problems.

Thanks

Luigi

[2016-05-24 14:25] laa commented on #6204
What do you mean, could you provide example of code ?

[2016-05-24 14:28] luigidellaquila commented on #5243
Hi @martingg88

This issue is fixed in both 2.1.17 and 2.2.0

I'm closing it, please reopen if you experience any similar problems

Thanks

Luigi

[2016-05-24 14:28] #5243 closed

[2016-05-24 14:33] schernolyas commented on #6120
@lvca  Okey. I will try.  I will attach results .

[2016-05-24 14:47] schernolyas commented on #6205
@lvca I got exception. See part of stack trace

Caused by: com.orientechnologies.orient.core.exception.OCommandExecutionException: Cannot execute non idempotent command
        Storage URL="memory:test"
        at com.orientechnologies.orient.core.storage.impl.local.OAbstractPaginatedStorage.executeCommand(OAbstractPaginatedStorage.java:2489)
        at com.orientechnologies.orient.core.storage.im

[2016-05-24 14:47] schernolyas commented on #6120
@lvca I got exception. See part of stack trace

Caused by: com.orientechnologies.orient.core.exception.OCommandExecutionException: Cannot execute non idempotent command
        Storage URL="memory:test"
        at com.orientechnologies.orient.core.storage.impl.local.OAbstractPaginatedStorage.executeCommand(OAbstractPaginatedStorage.java:2489)
        at com.orientechnologies.orient.core.storage.im

[2016-05-24 14:48] laa commented on #6081
Hi @mrboxie , I looked through the original database which you sent me in the email , and did not see any "*.wal" files, even empty. Do you work with WAL disabled option ? I am asking because I have restored your cluster structure but all looks like data which are written to cache can not be restored because database journal files are absent.

[2016-05-24 14:48] tglman commented on #6178
hi @lucevers,

Do you have some more detail about the error ? any stack trace on the server side ?

It could be an encoding issue or something like that, will be amazing if you could send us the db that has this problem, it will speed up a lo the fix.

Regards

[2016-05-24 14:48] tglman commented on #6178
hi @lucevers,

Do you have some more detail about the error ? any stack trace on the server side ?

It could be an encoding issue or something like that, will be amazing if you could send us the db that has this problem, it will speed up a lo the fix.

Regards

[2016-05-24 14:48] tglman commented on #6178
hi @lucevers,

Do you have some more detail about the error ? any stack trace on the server side ?

It could be an encoding issue or something like that, will be amazing if you could send us the db that has this problem, it will speed up a lo the fix.

Regards

[2016-05-24 15:00] luigidellaquila commented on #5276
Fixed in develop branch (v 2.2.1)

Thanks

Luigi

[2016-05-24 15:00] #5276 closed

[2016-05-24 15:02] kerner1000 commented on #6204
I have DocumentA and DocumentB

A has a one2ManyRelationship to B
B has a many2OneRelationship to A

When I load more data into the db, I update A but not B.

When I display the db in my application, I query for B, which holds a reference to A.

If B contains a reference to any A, I display A, if not, I display B.

References are stored as Document IDs, so I assume the document with this ID is not

[2016-05-24 15:18] luigidellaquila commented on #5325
Hi @mohamnag

I think the problem is in how you are passing the parameters. If you pass them as strings, the query will be resolved as:

[code]
(see the quotes).

Could you please try to rewrite it as follows:

[code]

Thanks

Luigi

[2016-05-24 15:19] #6165 closed

[2016-05-24 15:19] #4857 closed

[2016-05-24 15:23] lvca commented on #6120
I created this test case and passed:
[code]

[2016-05-24 15:27] laa commented on #6204
@kerner1000 I see that you use static methods, do you share documents and database instances across multiple threads ?

[2016-05-24 15:30] tglman commented on #6177
Hi,

Yes this should be fixed already in 2.2.1 SNAPSHOT, closing

[2016-05-24 15:37] tglman commented on #6184
hi @iamlogiq,

I think this is an issue with date type and timezones, from the failure it seems nothing too wrong is going on, probably is not correct the assert that check also the time and not just the date.

bye

[2016-05-24 15:52] schernolyas commented on #6120
@lvca
 I guess that You do it in non-transactional environment.
I using pooled connection and transaction.

The exception show all

[2016-05-24 15:52] luigidellaquila commented on #5326
Fixed in develop branch (next v 2.1.1)

Closing, please reopen if you see similar problems

Thanks

Luigi

[2016-05-24 15:52] #5326 closed

[2016-05-24 15:56] #5372 closed

[2016-05-24 15:56] luigidellaquila commented on #5372
Hi @publicocean0

This issue was fixed in v 2.2 GA with the support of new SQL parser for batch scripts.

Closing

Thanks

Luigi

[2016-05-24 16:00] #5374 closed

[2016-05-24 16:00] luigidellaquila commented on #5374
Hi @johansjob

This issue is already fixed in both 2.1.17 and v.2.2 (latest stable versions)

I'm closing this ticket, please reopen if you still see similar problems

Thanks

Luigi

[2016-05-24 16:10] kerner1000 commented on #6204
No, I already learned to work always with an instance of `OPartitionedDatabasePool`

The general pattern I use looks like this:

`public class LibraryPeakDocuments {

	private final static Logger logger = Logger.getLogger(LibraryPeakDocuments.class);
	/**
	 * The identifier for this database class
	 */
	public final static String CLASS_NAME = "CHROMIDENT_LibraryPeakDocument";
	/**
	 * A list of re

[2016-05-24 17:31] Jotschi commented on #6183
Example via java:
`
v.createIndex("testIndex", OClass.INDEX_TYPE.UNIQUE_HASH_INDEX.toString(), null, new ODocument().fields("ignoreNullValues", true), new String[]{ "someField"});`

[2016-05-24 21:45] mrboxie commented on #6081
Good point, Andrey. Yes, I just found the WAL was indeed off!

Date: Tue, 24 May 2016 07:49:30 -0700
From: notifications@github.com
To: orientdb@noreply.github.com
CC: xie_bo@hotmail.com; mention@noreply.github.com
Subject: Re: [orientechnologies/orientdb] Failed to open database - The record with id '#0:4' not found (#6081)

Hi @mrboxie , I looked through the original database which you sent me i

[2016-05-24 22:32] voondo commented on #6200
Sorry but I still have similar errors :
[code]

[2016-05-24 23:26] anywhichway commented on #6195
;-( ... 8 years programming in JavaScript and you would think I would know this! Sorry to waste your time.

[2016-05-24 23:29] anywhichway commented on #6196
Thanks! Obviously an enhancement then. Of course, it would be ideal if all JavaScript returned JavaScript ... but I am sure there are lots of other things to focus on. Knowing this will help elsewhere.

[2016-05-24 23:29] #6196 closed

[2016-05-24 23:33] anywhichway commented on #6198
I did some more digging. This seems to be related to the version of Java installed, we went from 8 u42 x86 to 8 u94 x64. When we run OrientDB 2.1.17 on the newer version of Java it also fails with the same error, reverting to the older version of Java fixes the problem. Unfortunately 2.2.0 will not run on the older version of Java. I hope you guys can fix at your level though, can't find any JVM f

[2016-05-25 02:34] sajeevpr commented on #5381
Hello robfrank,
  I am also facing the same issue. I gave 64 as cluster value for a 32 core linux machine. I was trying to load 19 million records from database table. The ETL process got stuck after loading 4 million.

Please suggest what can be done here.

[2016-05-25 03:03] sajeevpr commented on #5815
Hello robfrank,
   When can we expect this to be fixed?

Regards,
Sajeev

[2016-05-25 04:17] laa commented on #6081
Hi @mrboxie we can not restore the database with WAL switched off, that is actually was the reason for this situation. Please never trade stability for performance. I am closing the issue.

[2016-05-25 04:17] #6081 closed

[2016-05-25 04:21] laa commented on #5381
Hi @sajeevpr is it possible to send thread dump together with  statistic of GC activity.

[2016-05-25 05:08] laa commented on #6133
@kerner1000 did you share database between multiple threads when this issue happened ? Because that is very typical cause of such problems.

[2016-05-25 05:20] laa commented on #6204
@kerner1000 that is incorrect code. You can not share documents between threads, but you may pass rid. so you code should look like following: https://gist.github.com/laa/f60d4315186fb988694309fe63ed7d7c
Does it work now ?

[2016-05-25 05:57] skonka opened #6206 "com.orientechnologies.common.io.OIOException: Found unknown session"
version 2.1.16 EE, JDK 8, Linux

Hi - I was evaluating 2.1.16 EE (earlier was using 2.1.1 CE). Continuously seeing below error in the logs

Error executing request
com.orientechnologies.common.io.OIOException: Found unknown session 1500
        at com.orientechnologies.orient.server.network.protocol.binary.ONetworkProtocolBinary.onBeforeRequest(ONetworkProtocolBinary.java:240)
        at com.orien

[2016-05-25 06:01] gongdo commented on #4714
It's unbelievable that it's still not supported.
I made a custom function myself like this:
[code]

SQL statement will be:
[code]

And usages are:
[code]

It's inefficient obviously. Can I get another work-around maybe?

[2016-05-25 06:40] PhantomYdn commented on #5223
Guys,

Any updates/thoughts about this?

[2016-05-25 06:41] PhantomYdn commented on #4627
Can be easily implemented if PR #6207 will be merged. That PR contains methods for hierarchical taking custom values.

[2016-05-25 06:44] PhantomYdn commented on #4535
Seems to be fixed in #4552. Closing?

[2016-05-25 07:02] taburet commented on #6127
Fixed on 2.1.x and develop branches. Added a check for low disk space after a WAL flush and on WAL initialization.

[2016-05-25 07:02] #6127 closed

[2016-05-25 07:15] taburet opened #6209 "Wrong data array length calculation in WAL tests"
This leads to random errors:

[code]

[2016-05-25 07:19] kerner1000 commented on #6204
@laa , many thanks for this example! I will refactor the code according to your example and check, if I can load the DB without clearing the cache.

[2016-05-25 07:23] mohamnag commented on #5325
would love to test it but don't have the code anymore as we moved on to Postgres.

[2016-05-25 07:25] kerner1000 commented on #6133
@laa , I used the programming 'pattern' which we where discussing [here](https://github.com/orientechnologies/orientdb/issues/6204). Nevertheless, there is one performance hotspot in our application model where I tried parallel streams on a collection of documents. But I understood some time ago that this is not a good idea, so I stopped to do it.
I cannot say for sure if I was using parallel stre

[2016-05-25 07:59] luigidellaquila commented on #4714
I know guys, it's in my TODO list, the parser is ready to support it, but the executor still doesn't.

[2016-05-25 08:01] taburet commented on #6209
Fixed in 2.1.x and develop.

[2016-05-25 08:01] #6209 closed

[2016-05-25 08:01] luigidellaquila commented on #5325
Ok, thanks @mohamnag
I did some internal tests (together with existing unit tests) and it seems to work fine. I'm closing this issue, please reopen if you still see similar problems

Thanks

Luigi

[2016-05-25 08:01] #5325 closed

[2016-05-25 08:10] laa commented on #6133
@kerner1000 well I see. Let's delay this issue then for some time. If you will have the same problem with correct connection model, let me know.

[2016-05-25 08:23] #5536 closed

[2016-05-25 08:23] luigidellaquila commented on #5536
Hi @Kikimora

This was implemented in 2.2 GA, now all the indexes are created with `METADATA { ignoreNullValues : false }` by default.

Moreover, indexes that ignore null values are ignored on partial index matching in queries

Closing

Thanks

Luigi

[2016-05-25 08:24] laa commented on #6194
Hi @vlasni ,
Could you send me following information:

1. How much RAM do you have ?
2. What is  the size of your database on disk ?
3. Do you run a server inside of a cloud or it is bare metal ?

[2016-05-25 08:30] luigidellaquila commented on #5537
Hi @nagarajasr @maseev

All this was fixed in 2.2 GA. I'm closing this issue, please reopen if you see any related problems

Thanks

Luigi

[2016-05-25 08:30] #5537 closed

[2016-05-25 08:31] laa commented on #6198
Hi @anywhichway , you may fix it by yourself merely put property file.lock=false into server-config.xml and you will have no issues any more.

[2016-05-25 08:39] ajob61 commented on #6177
Just tried it on snapshot build orientdb-community-2.2.1-20160524.123408-24.

Still getting
com.orientechnologies.common.log.OLogManager.log Caught I/O errors, trying to reconnect (error: null) errors.

com.orientechnologies.orient.enterprise.channel.binary.OTokenSecurityException: missing session and token
	Storage URL="plocal:/usr/local/username/orientdb-community-2.2.1-SNAPSHOT/databases/db_nam

[2016-05-25 09:33] #6206 closed

[2016-05-25 09:33] tglman commented on #6206
hi @skonka,

This is not a bug, it happen with normal operation like a session expire or a temporary disconnect, it's handled whit an automatic reconnect by the orient client, no action needed, i actually removed the log from the next hotfix.

Bye

[2016-05-25 09:55] luigidellaquila commented on #5564
Fixed on develop branch, the fix will be released in v 2.2.1

Thanks

Luigi

[2016-05-25 09:55] #5564 closed

[2016-05-25 10:02] luigidellaquila commented on #5572
Hi @tdhung80

This issue is fixed in 2.2 GA, the right syntax is the first one:

[code]

Thanks

Luigi

[2016-05-25 10:02] #5572 closed

[2016-05-25 10:09] ghatwala opened #6210 "Test cases failing with " SIG TRAP " errors""
Getting test case failures with below errors on

[code]

Any pointers to resolve above test case failures.

Regards,
Amit

[2016-05-25 10:23] laa commented on #6202
Hi could you download this link and send me stack trace of exception which you see https://drive.google.com/file/d/0B2oZq2xVp841S2RyaFlCd05PTDg/view?usp=sharing

[2016-05-25 10:26] tglman commented on #6177
The commits that fix that issue is: https://github.com/orientechnologies/orientdb/commit/7838653fdbe138f944e139e7514eedc7f648ac03 and this: https://github.com/orientechnologies/orientdb/commit/b5d13cbee268bf3caf45380597b5ae6381f6e0f6, so any snapshot after the 19th of May should be fine, in any case the fix is on the client, did you update the client as well ?

[2016-05-25 10:34] laa commented on #6144
@lvca do you want completely remove database URL on a client side. I mean do we hide from users which DB caused this exception ?

[2016-05-25 10:55] lvca commented on #6144
No, just the physical path for security reasons. We could just report the database name.

[2016-05-25 11:04] lvca commented on #6200
@voondo you have 2 servers only, so to reach the majority quorum both servers have to agree. In your case I see there are different results. I'm pushing a small fix that will allow you to see what's the difference between the 2 servers.

[2016-05-25 11:06] lvca commented on #6200
Please could you rerun it with last develop branch?

[2016-05-25 11:23] jCalamari commented on #5855
Is there any other workaround than disabling warnings?

[2016-05-25 12:16] zerovian commented on #5855
No
On May 25, 2016 7:24 AM, "jCalamari" <notifications@github.com> wrote:

[2016-05-25 12:19] #6144 closed

[2016-05-25 12:33] ajob61 commented on #6177
Yes updated the client to the snapshot orientdb-community-2.2.1-20160524.123408-24 as well. Again it seems to time out after about 20 mins and stop working.

_May 25, 2016 10:10:35 PM com.orientechnologies.common.log.OLogManager log
WARNING: Caught I/O errors, trying to reconnect (error: null)_

Looking at one of the stack traces on the client example

_com.orientechnologies.common.io.OIOException

[2016-05-25 12:35] laa commented on #5772
The reason for this issue was NPE in tx commit. Fixed in version 2.1.16.

[2016-05-25 12:35] #5772 closed

[2016-05-25 12:36] laa commented on #5363
Fixed in 2.2 version

[2016-05-25 12:36] #5363 closed

[2016-05-25 12:38] laa commented on #6210
@ghatwala I need hs_err_pid1714.log file. What version did you use to run tests ?

[2016-05-25 12:43] ndelaforge commented on #6170
Hi all,

I have the same exception in my server log and I am also experimenting strange behaviors in production environment. I am testing OrientDB with Gremlin and the [gremlin scala](https://github.com/mpollmeier/gremlin-scala) library with doesn't support transactions (OrientGraph noTx), so I worry a lot about information loss.
For now, I keep my connection handler in a variable that is shared a

[2016-05-25 12:43] laa commented on #6133
@kerner1000 because the cause of this bug may be in incorrect usage of DB connection, I close it. Feel free to reopen it if you reproduce the error.

[2016-05-25 12:43] #6133 closed

[2016-05-25 12:44] #5713 closed

[2016-05-25 13:32] laa commented on #4697
Hi, that is output from 2.2 version https://gist.github.com/laa/387557a542846d984af44b6eaf80428f .
According to this output, I tread bug as fixed.

[2016-05-25 13:32] #4697 closed

[2016-05-25 13:35] schernolyas commented on #6120
Hi @lvca

I sended to You some presentation that describe a problem with issue 6120
I hope ...  You will not a have a questions.
But .... main question is ... Can I use @RID as primary key ?

[2016-05-25 14:05] laa opened #6211 "Automatic bug reports"
1. Create a new setting like logExceptionsMax =1000. <=0 means no logging
2. We can use the OSystem database on the server for them
3. The OrientDB server should write the exception that wraps at HTTP and Binary protocol level
4. Since we don't have capped clusters, the insert should check if the size() > logExceptionsMax, then stop to add new log reports.
5. Studio should have a form where you ca

[2016-05-25 14:08] taburet commented on #6188
Fixed on the develop branch. Now we have a more advanced byte memory pool configuration validation and automatic fixes for common memory configuration problems like "cache size > direct memory size" and "memory chunk size > cache size".

[2016-05-25 14:08] #6188 closed

[2016-05-25 14:14] taburet commented on #6211
I think, there also should be a really annoying notification or indication about new exceptions, so it will be easier to send them to us than just ignoring them :D

[2016-05-25 14:19] voondo commented on #6200
I get

[code]
How to interpret the new informations provided ?

[2016-05-25 14:28] lvca commented on #6200
Ok, so it looks like you are executing an UPDATE or DELETE command in TX, right? Are you using sharding?

[2016-05-25 14:28] iamlogiq commented on #6184
@lvca @tglman
Hi, im using a MAC running OSX El Capitan version 10.11 Beta (15A279b) my JVM version is
`
java version "1.8.0_65"
Java(TM) SE Runtime Environment (build 1.8.0_65-b17)
Java HotSpot(TM) 64-Bit Server VM (build 25.65-b01, mixed mode)
`

[2016-05-25 14:34] voondo commented on #6200
Not sure what sharding is but I'm using `ALTER DATABASE minimumclusters 3` (with some classes having a different number : 8, 4)
And this is my default-distributed-db-config.json  (on each node) :
[code]
But I don't manage anything else about clusters in my code.

[2016-05-25 14:45] lvca commented on #6200
Ok, so you don't use sharding, it's full replica. In that transactions, what are the 2 operations you are executing?

[2016-05-25 14:56] voondo commented on #6200
`addEdge`  then `remove` of the previous edge of the same class (eg. `A1 <-> B1` replaced by `A1 <-> B2`)

[2016-05-25 14:57] voondo commented on #6200
BTW the inverse operation (remove then addEdge) cause an other problem.

[2016-05-25 15:02] lvca commented on #6200
It looks like the same TX has different results on 2 servers, that's why it cannot succeed. Could you please check on both servers if the vertices/edges involved in the TX are identical?

[2016-05-25 15:17] laa commented on #2990
Fixed in 2.2

[2016-05-25 15:17] #2990 closed

[2016-05-25 15:53] #4935 closed

[2016-05-25 15:53] SDIPro commented on #4935
Issue appears to have been fixed in 2.2.  Please re-open if this issue can be reproduced in 2.2.x.

[2016-05-25 16:04] #6105 closed

[2016-05-25 16:05] SDIPro commented on #6105
Released in 2.2.1.

[2016-05-25 16:14] tglman commented on #6192
fixed, this in 2.1.x and 2.2.x

Closing

[2016-05-25 16:14] #6192 closed

[2016-05-25 16:23] tglman commented on #5239
hi @AntoineDcode,

I cannot reproduce this, probably has been fixed long time ago, did you try the last 2.1 hotfix?

Regards

[2016-05-25 16:27] tglman commented on #5219
hi @StarpTech,

Do you still have this issue?

I just noticed now that you are using a the result of a select with projection in a create edge, that is not allowed, because the result of a query with projection is not a proper persistent record but just a projection of it.

In any case how can we reproduce this ?

[2016-05-25 16:28] #5037 closed

[2016-05-25 16:28] SDIPro commented on #5037
Documentation has already been considerably revamped recently and will continue to be improved.

[2016-05-25 16:59] mrboxie commented on #6081
Thank you so much, Andrey. Truly appreciate your help! Advice well taken - we let things fall through the cracks.
-Bo

Date: Tue, 24 May 2016 21:17:53 -0700
From: notifications@github.com
To: orientdb@noreply.github.com
CC: xie_bo@hotmail.com; mention@noreply.github.com
Subject: Re: [orientechnologies/orientdb] Failed to open database - The record with id '#0:4' not found (#6081)

Hi @mrboxie we c

[2016-05-25 17:01] tglman commented on #5944
closing this, if there are some more issue please reopen

[2016-05-25 17:01] #5944 closed

[2016-05-25 17:22] tglman commented on #5533
@mmacfadden,

Merged your PR, closing

[2016-05-25 17:22] #5533 closed

[2016-05-25 17:38] maggiolo00 opened #6212 "Enterprise Security UI"

[2016-05-25 18:12] voondo commented on #6200
3 nodes. `node-02` was started first then `node-03` then `node-01` with empty databases for the two last.

First update (no remove called here)
node-02:
[code]

node-03
[code]

node-01
[code]

So here, "everybody" agrees (even if the order of DevaprintProject's properties differs between nodes)

Second update which trigger a remove (and fails) :

node-02:
[code]

node-03:

[code]

node-01:
[code]

[2016-05-25 18:30] saeedtabrizi commented on #5944
Hi @tglman
Sorry for late , I test it with ODB 2.2 and same database that contains blobstorage :
`delete from (select expand(Blob) from FileItem limit 7)`
only returns `java.lang.NullPointerException`
and
`select from (select expand(Blob) from FileItem limit 7)`
returns only 3 record but i have more than 900 record in FileItem class .
![rr](https://cloud.githubusercontent.com/assets/10245423/15551

[2016-05-26 01:47] ray3888 commented on #6170
@ndelaforge , to my knowledge it's better to use connection pool (official recommand),
After several days' observation now I am almost sure that error "Found unknown session xx" is related to connection pool size, if network channels between client and server exceeds client.channel.maxPool existing connections may drop somehow, which may also cause occasional read error.

[2016-05-26 06:24] Ivanov-Yuriy opened #6213 "Error in EMBEDDED of type DATE with wrong MIN MAX value"
if you create a field of type EMBEDDEDLIST and linkedtype date,
you can write wrong value in min max fields.
DB will react to this and return an error but put the wrong value into the field.
After that DB will return error to any query until you correct the error in MIN MAX field.

## Steps to reproduce the problem

orientdb {db=trick}> **create class test extends V**
Class created successfully. T

[2016-05-26 06:48] ghatwala commented on #6210
Hi @laa ,

Here's the data file as requested along with additional info.

[code]
[hs_err_pid1714.txt](https://github.com/orientechnologies/orientdb/files/283573/hs_err_pid1714.txt)
Just FYI , i have the " develop " branch too and it fails too

[2016-05-26 06:54] laa commented on #6210
@ghatwala Do you work on PowerPC architecture ?

[2016-05-26 06:56] laa commented on #6210
The problem is that IBM Unsafe does not match to Oracle Unsafe.
To prevent this try to change following setting in com.orientechnologies.orient.core.config.OGlobalConfiguration#MEMORY_USE_UNSAFE to false.

[2016-05-26 08:01] lucevers commented on #6178
I cannot send the internal database because of sensitive client data. Because we decided to use Orientdb I shall start more tests if a new release is coming up and send you more details.
 Sorry about this.

[2016-05-26 08:10] lucevers commented on #6134
Did some made a sample test with ETL and a document database?

[2016-05-26 08:14] ghatwala commented on #6210
@laa ,  yes i am part of team working officially in porting "orientDB" onto ppc64le architecture.
Will try the let u know  the outcome of the change.

[2016-05-26 08:23] ghatwala commented on #6210
@laa   - could you specify the exact file location to change ? there are many files and i am confused which one to change and with what ?

[2016-05-26 08:31] ghatwala commented on #6210
@laa -  i guess you wanted me to change here at this location
"/orientdb/core/src/main/java/com/orientechnologies/orient/core/config/OGlobalConfiguration.java"
 // MEMORY
      MEMORY_USE_UNSAFE("memory.useUnsafe", "Indicates whether Unsafe will be used, if it is present", Boolean.class, true),
changed to
MEMORY_USE_UNSAFE("memory.useUnsafe", "Indicates whether Unsafe will be used, if it is presen

[2016-05-26 08:33] laa commented on #6210
@ghatwala yes all is ok

[2016-05-26 08:36] ghatwala commented on #6210
@laa  - i have kept for building now , its taking long time at this stage

[code]
It's stuck her for quite some time now , will update you with log soon.

[2016-05-26 09:57] ghatwala commented on #6210
It's stuck at this instance for more than 20 minutes , and text execution hasn't commenced.
[code]
This ram memory seems to be good . let me know if u need any more info .

[2016-05-26 10:13] robfrank commented on #5910
implemented freeze & release of lucene indexes. will be available on 2.2.1

[2016-05-26 10:13] #5910 closed

[2016-05-26 10:15] robfrank commented on #4855
I've fixed this. It will be in 2.2.1

[2016-05-26 10:15] #4855 closed

[2016-05-26 11:12] ghatwala commented on #6210
@laa - finally test executions moved ahead after long , however the results are the same. snippet of the error , looks like the above change didn't have much impact. .. :-(
[code]
Also attaching the error log file
[hs_err_pid3355.txt](https://github.com/orientechnologies/orientdb/files/283998/hs_err_pid3355.txt)

Any inputs on the above and how to resolve it ?

[2016-05-26 11:44] lvca opened #6214 "Studio: Improving graph rendering to split vertices and edges"
Collect only the edges that are relevant to the vertices in the resultset.

Example:
[code]

[2016-05-26 11:44] laa commented on #6210
Hi,
I will provide you other branch to compile.

[2016-05-26 11:48] lvca commented on #6178
Ok, closing this issue because is not reproducible. In case reopen it.

[2016-05-26 11:48] #6178 closed

[2016-05-26 11:50] ghatwala commented on #6210
Hi @laa  yes sure , please let me know which branch to check out and compile and validate the test cases on "ppc64le"

[2016-05-26 11:53] laa commented on #6210
@ghatwala it will take for me day or two to create this branch. I will notify you once I will finis it.

[2016-05-26 11:55] ghatwala commented on #6210
@laa  thanks for update , will await your notification

Thanks and regards
Amit

[2016-05-26 12:00] vlasni commented on #6194
Hi @laa,
1) RAM: 8Gb
Orient config:
- -Dstorage.diskCache.bufferSize=5376
- -Xms768m -Xmx768m

2) 22Gb is the size reported by `ls -s -h` in db's directory

3) Server runs in cloud.

On the other hand, after process described previously ended after 10hours, I restarted Orient and created a new index for an edge that holds 3.2M records and again it began with around 11k items/sec and ended after 11

[2016-05-26 12:38] ndelaforge commented on #6170
Yes, I am using the connection pool. This is the way I manage my connection to orient :
[code]
Graph instance is stored in a variable.
Is orient session bound to graph instances ?
My client app is a server, is it possible that orientdb is closing sessions after some time ?

[2016-05-26 13:00] luigidellaquila commented on #6158
Proposed implementation:

Two new keywords
- `$elements`: returns all the elements in the matches that have an alias (like in `$matches`)
- `$pathElements`: returns all the elements in the matches (like in `$paths`)
[code]
returns a result set where every document is in node1 or node2 in matched patterns, eg.

[code]

[code]
returns a result set where every document is in matched patterns and has

[2016-05-26 13:45] lvca commented on #6158
Is pathElements case insensitive?

[2016-05-26 14:03] luigidellaquila commented on #6158
I think it should be, but I'm open to suggestions

[2016-05-26 14:05] robfrank commented on #6134
I think you are missing a the csv extractor.
ETL  doc: http://orientdb.com/docs/last/ETL-Introduction.html
CSV: http://orientdb.com/docs/last/Extractor.html#csv-extractor
Some examples: http://orientdb.com/docs/last/Import-from-CSV-to-a-Graph.html

[2016-05-26 14:05] #6134 closed

[2016-05-26 14:31] luigidellaquila commented on #6158
Pushed, updating docs now.
(for the record, I made all the $* options case insensitive)

Luigi

[2016-05-26 14:46] abyssQu commented on #5433
having the same issue with 2.1.15. Why is this closed?

[2016-05-26 15:18] luigidellaquila commented on #6158
Docs updated, closing

Thanks

Luigi

[2016-05-26 15:18] #6158 closed

[2016-05-26 15:53] abyssQu commented on #5433
Is there a workaround for this issue? It seems to be related to the size of the overall graph. I have two classes of nodes, say class A and B. There are 500,000 nodes in class A and a few in class B. But I am running into this issue when I query class B. Below is related thread dump.
I am trying to find out if I am doing something wrong or this is a bug or there is the fundamental flaw in the Orie

[2016-05-26 15:59] lvca commented on #5433
@abyssQu Is the client blocked or just slow? How many concurrent threads are you using? How big is the resultset you are fetching?

[2016-05-26 16:01] abyssQu commented on #5433
just slow, I have around 10 concurrent threads. the result set is very small, as I said the class A only has a few nodes.

[2016-05-26 16:04] lvca commented on #6200
I see you are using JS trigger, right? It could be possible these triggers go in conflict with the replication. What kind of action are you executing in the triggers?

[2016-05-26 16:18] lvca commented on #5433
Could you check the opened socket between client and server? Check with `netstat -a`. They should be 10 if you have 10 concurrent clients. To tune that set `-DCLIENT_CHANNEL_MAX_POOL=100` on the client, but in 2.1.x the default should be 100.

[2016-05-26 16:38] abyssQu commented on #5433
More than 10, but should be less than 100
[code]

[2016-05-26 16:42] lvca opened #6216 "SQL: create user doesn't work"
The command:

    create user TestUser identified by password ROLE ['reader','writer']

Is transformed in

    INSERT INTO OUser SET name='TestUser',password='password',status='ACTIVE',roles=(SELECT FROM ORole WHERE name IN [''reader'', ''writer''])

[2016-05-26 17:01] ahlbejes commented on #5062
This seems very useful to me (I've seen this issue before). Any updates? Still planned?

[2016-05-26 17:36] voondo commented on #6200
They are jruby hooks (so java) implementing ORecordHook and
ODatabaseLifecycleListener
If I disable the one that modify record, it works ! But I don't understand why it causes a problem because it returns RESULT::RECORD_CHANGED when a record is changed (only for TYPE::BEFORE_CREATE, which add a "created_at" field and a link to the current user) on and else RECORD_NOT_CHANGED

[2016-05-26 18:30] ahlbejes commented on #5510
+1
It is really the behavior I expected. It is a hassle to have to be sure both source and destination sets are not empty before executing the create edge command, or to have to handle the exception messages.

[2016-05-26 18:43] lvca commented on #6200
I guess this is a problem of priorities. Your hook could be executed AFTER the replication hook. How did you register it?

Or you could try calling your code in the hook wrapped by this:

[code]

[2016-05-26 20:16] voondo commented on #6200
Still an error with OScenarioThreadLocal.executeAsDefault (but a different)
[code]
[code]
[code]

The hook registers itself in the implementation of ODatabaseLifecycleListener.onOpen(db)

[2016-05-26 20:37] lvca commented on #6200
By looking at the stack trace you're not using last develop.

[2016-05-26 20:47] lvca commented on #4859
Fixed in v2.1.15

[2016-05-26 20:47] #4859 closed

[2016-05-26 20:48] lvca commented on #5227
Closing because no answer. In case please reopen/comment it.

[2016-05-26 20:48] #5227 closed

[2016-05-26 20:52] lvca commented on #5839
Closing because no answer. In case please reopen/comment it.

[2016-05-26 20:52] #5839 closed

[2016-05-26 20:52] lvca commented on #5562
Closing because no answer. In case please reopen/comment it.

[2016-05-26 20:52] #5562 closed

[2016-05-26 21:16] lvca commented on #5290
No answer since a while, closing it for now. In case please reopen/comment it.

[2016-05-26 21:16] #5290 closed

[2016-05-26 21:16] lvca commented on #5293
No answer since a while, closing it for now. In case please reopen/comment it.

[2016-05-26 21:16] #5293 closed

[2016-05-26 21:17] voondo commented on #6200
I updated to cf13f69371c8f6be99bfc5c65e3d2018492eb5fe and still the same error (what part of the stack trace should be different ?)

[2016-05-26 21:17] lvca commented on #5332
No answer since a while, closing it for now. In case please reopen/comment it.

[2016-05-26 21:17] #5332 closed

[2016-05-26 21:17] lvca commented on #5502
No answer since a while, closing it for now. In case please reopen/comment it.

[2016-05-26 21:17] #5502 closed

[2016-05-26 21:18] lvca commented on #5554
Workbench has been replaced by the Enhanced Studio in v2.2. Closing it.

[2016-05-26 21:18] #5554 closed

[2016-05-26 21:18] voondo commented on #6200
FYI I tried to register the hook with the "EARLY" position but it doesn't change anything either.

[2016-05-26 21:19] lvca commented on #868
Not valid anymore.

[2016-05-26 21:19] #868 closed

[2016-05-26 21:20] lvca commented on #869
Workaround available, closing it.

[2016-05-26 21:20] #869 closed

[2016-05-26 21:21] lvca commented on #910
Fixed long time ago.

[2016-05-26 21:21] #910 closed

[2016-05-26 21:22] lvca commented on #1022
This has been fixed long time ago.

[2016-05-26 21:22] #1022 closed

[2016-05-26 21:23] lvca commented on #1638
Replaced with `HA STATUS` in v2.2

[2016-05-26 21:23] #1638 closed

[2016-05-26 21:24] lvca commented on #1660
Fixed long time ago.

[2016-05-26 21:24] #1660 closed

[2016-05-26 21:25] lvca commented on #1785
Fixed long time ago.

[2016-05-26 21:25] #1785 closed

[2016-05-26 21:27] lvca commented on #2095
You can do this in v2.1 with multiple inheritance.

[2016-05-26 21:27] #2095 closed

[2016-05-26 21:30] lvca commented on #2718
Already fixed in v2.1.0.

[2016-05-26 21:30] #2718 closed

[2016-05-26 21:32] lvca commented on #2693
Fixed long time ago.

[2016-05-26 21:32] #2693 closed

[2016-05-26 21:33] lvca commented on #2634
You should call `db.getMetadata().getSecurity().reload()`.

[2016-05-26 21:33] #2634 closed

[2016-05-26 21:35] lvca commented on #2448
No answer after long time. In case please reopen/comment this issue.

[2016-05-26 21:35] #2448 closed

[2016-05-26 21:36] lvca commented on #2446
Ok, the culprit was of CYGWIN.

[2016-05-26 21:36] #2446 closed

[2016-05-26 21:37] lvca commented on #2364
Fixed long time ago.

[2016-05-26 21:37] #2364 closed

[2016-05-26 21:39] lvca commented on #2283
Fixed long time ago.

[2016-05-26 21:39] #2283 closed

[2016-05-26 21:40] lvca commented on #2280
In v2.1 we introduced a check on this. To still bypass the check use UNSAFE keyword.

[2016-05-26 21:40] #2280 closed

[2016-05-26 21:50] lvca commented on #2783
Cannot reproduce it.

[2016-05-26 21:50] #2783 closed

[2016-05-26 21:50] lvca commented on #2745
The right syntax is:

    noTxGraph.addVertex(className, propertyName, propertyValue);

[2016-05-26 21:50] #2745 closed

[2016-05-26 21:53] lvca commented on #3905
Fixed in v2.1.1.

[2016-05-26 21:53] #3905 closed

[2016-05-26 21:58] lvca commented on #4355
To check it if it's closed.

[2016-05-26 21:59] lvca commented on #4331
Did you already fix this in v2.2.0?

[2016-05-26 22:00] lvca commented on #4259
@BrunoSupiot How can I reproduce it?

[2016-05-26 22:36] lvca commented on #5433
I'm sorry, what's the OrientDB port?

[2016-05-26 23:04] hitesk commented on #5562
Dprofiler change worked. Thanks for the help!

[2016-05-27 04:56] zhiguan-hanks opened #6217 "LiveQuery do not work after an exceptional shutdown of NodeJS"
OrientDB 2.1.6  OrientJS 2.2

My code is like the following.
-------------------------------------------------------------------------------------------------
var OrientDB = require('orientjs');
var server = OrientDB({host: 'localhost', port: 2424});
var db = server.use({name: 'test', username: 'admin', password: 'admin'});
db.liveQuery("live select from V")
    .on('live-insert', function(data){

[2016-05-27 06:38] laa opened #6218 "Fuzzy checkpoints are not efficient"
Fuzzy checkpoints are not efficient  and as result full checkpoints very often introduce stop the world pauses.
To fix this issue we should sort pages by LSN and start to flush pages with smallest LSN first.

[2016-05-27 07:49] laa commented on #6142
Hi @mingio , any updates on this topic ?

[2016-05-27 07:56] laa commented on #6210
Hi @ghatwala could you try this branch https://github.com/orientechnologies/orientdb/tree/nounsafe ?

[2016-05-27 08:14] ghatwala commented on #6210
Will Check and update ..soon !!

[2016-05-27 08:50] laa commented on #6210
@ghatwala sorry, forget to push changes, could you try again ?

[2016-05-27 08:52] ghatwala commented on #6210
@laa -- Sure will try again and revert back..

[2016-05-27 09:46] ghatwala commented on #6210
Hi @laa ,
Still they are failing with newly created branch as well. Please see details below
Also attaching log for your reference

[code]
Attaching " /home/nounsafe_orientDB/core/hs_err_pid3778.log " for reference.
[hs_err_pid3778.txt](https://github.com/orientechnologies/orientdb/files/286200/hs_err_pid3778.txt)

The results are the same for RHEL distro too. Let me know if you need any more inpu

[2016-05-27 09:49] laa commented on #6210
Hi @ghatwala
Seem like we use private fields through reflections which are absent in this version of OpenJDK.
I will comment out all such places and we will check again )).

[2016-05-27 09:51] ghatwala commented on #6210
hi @laa ,

sure , let me know once you commit your above changes to "nounsafe" branch so that i could cross verify.

[2016-05-27 09:51] laa commented on #6210
@ghatwala once I finish my current task, I will be back to this issue and will let  you know.

[2016-05-27 10:39] srthecodexpress opened #6219 "com.orientechnologies.orient.core.index.OIndexException: Error during insertion of key in index"
## Expected behavior and actual behavior
OrientDB version used: 2.1.10
I am uploading full dbpedia dataset into orientDB. I have created a schema in which i have some properties defined on my custom vertex and edge classes. There are some Hash indices also defined on some of those properties. I am parsing the dbpedia graph from top to bottom in breadth-first fashion from Jena TDB and inserting int

[2016-05-27 11:11] laa commented on #6219
Hi,
We have already fixed a similar issue in the latest version.
Could you try on 2.1.18 version and send us feedback whether issue fixed.

[2016-05-27 11:19] kerner1000 opened #6220 "java.lang.ClassCastException: com.orientechnologies.orient.core.record.impl.ODocument cannot be cast to com.orientechnologies.orient.core.id.ORID"
Hi,

I get an exception.

Test case to reproduce attached.

Best

[code]

[2016-05-27 11:40] srthecodexpress commented on #6219
Ok, Let me try that.
Thanks.

[2016-05-27 12:55] maggiolo00 commented on #6217
@zhiguan-hanks

do you have this behaviour also with OrientDB 2.2?

[2016-05-27 14:03] lvca commented on #5562
Cool, thanks for the feedback.

[2016-05-27 14:08] lvca commented on #6200
If you see at this line:

https://github.com/orientechnologies/orientdb/blob/3fd6d7a76a1df78d9896db53d8e9139e0eb3fc95/distributed/src/main/java/com/orientechnologies/orient/server/distributed/impl/task/OResurrectRecordTask.java#L58-L58

the exception is caught, while in your stack the error prevent to go on. This change has been introduced a couple of days ago.

How did you build your 2.2.1-SNAPSH

[2016-05-27 14:30] ghatwala commented on #6210
@laa  -  thanks for the update !!

[2016-05-27 14:44] srthecodexpress commented on #6219
I am trying the same with version 2.2.0. However, i am not able to see any of the already inserted data while insertion code is running. The graph is showing as empty while previously, when using v2.1.10 i was able to see the already inserted data even while the insertion code (the same code) was running on the db.
This is crucial for us, since this code would be running for days on the dbpedia &

[2016-05-27 15:15] laa commented on #6219
@srthecodexpress could you provide me code which you use ?

[2016-05-27 19:41] #5091 closed

[2016-05-27 19:41] lvca commented on #5091
Cool, so it looks like this is closed, right? Closing.

[2016-05-27 19:55] kerner1000 opened #6221 "How can I tell from an ORID, if the document behind was deleted"
Hi,
I tried the following without success.

<pre>
@Test
public final void testDelete01() {
	ORID o1 = new ODocument("d1").save().getIdentity();
	db.delete(o1);
	assertFalse(o1.isPersistent());
	assertFalse(o1.isValid());
}
</pre>

[2016-05-27 19:59] lvca commented on #6221
You have 2 asserts and you don't tell if you received any exception or simple one assert was the problem. Also please always tell the OrientDB version you're using.

Why just don't using the Issue Template?

[2016-05-27 21:30] kerner1000 commented on #6221
Hi lvca,
Both asserts fail, since both `isPresent()` and `isValid()` return true.
OrientDB version is 2.1.26.
Thanks!

[2016-05-27 21:46] zinuga commented on #5119
are you guys using gRPC now?

[2016-05-28 02:45] zhiguan-hanks commented on #6217
Yes, my team members have tried with OrientDB 2.2(GA and RC) last night, and the problem remains.

[2016-05-28 03:11] smolinari commented on #5119
Nope. If you look through the issue, you can see it is slated for 3.0.

Maybe @lvca could make a statement about gRPC actually being implemented or not. I think, with my limited knowledge, that it would be a very nice change to look forward to in 3.0.

Saying that, I also understand such a decision's wide-reaching implications. Namely, that all the current language drivers would be rendered useles

[2016-05-28 05:55] srthecodexpress commented on #6219
@laa unfortunately, I can't. The code uses our proprietary libraries. But i can tell you that insertion is happening as OrientDB is printing out the info on the console of each inserted node and edge. And, it is also printing out that the particular node/edge already exists when i am backtracking to insert next DBpedia subtree, so definitely it does exist in OrientDB. But i can't see it in OrientD

[2016-05-28 07:02] zhiguan-hanks commented on #6217
We found the a **dead loop** in do ... while in function "OLiveCommandResultListener.onLiveResult()", when an unsubscribed LiveQuery exists. Here is the console output:

    in thread "Thread-10" java.lang.IndexOutOfBoundsException: Index: 0, Size: 0
    at java.util.ArrayList.rangeCheck(ArrayList.java:653)
    at java.util.ArrayList.get(ArrayList.java:429)
    at java.util.Collections$Synchronize

[2016-05-28 07:08] luigidellaquila opened #6222 "Docs for graph batch insert"
- [x] Write documentation for OGraphBatchInsert
- [x] Write documentation for OGraphBatchInsertBasic
- [x] Write a tutorial on how to implement a custom graph batch insert using Document API

[2016-05-28 07:47] luigidellaquila commented on #3812
Hi guys,

IMHO the issue here is that a result is returned when RIDs are quoted.
A RID is different from a string, it's correct that the query doesn't use the index when you pass a string.

I'd like to fix that behavior and just return nothing in that case, WDYT?

Thanks

[2016-05-28 07:59] luigidellaquila commented on #6216
Fixed in develop branch (2.2.1)

Thanks

Luigi

[2016-05-28 07:59] #6216 closed

[2016-05-28 08:06] luigidellaquila commented on #4331
Hi guys

property names are case sensitive, so the fact that the first query does not return any records is correct.
There is a known problem that makes property names case insensitive when the schema is defined, I think that's what has to be fixed.

Please, always take into consideration property name case when writing queries

Thanks

Luigi

[2016-05-28 08:11] laa commented on #6220
This test is invalid , ` document.field("name", OType.LINK)` return OIdentifiable not ORID.

[2016-05-28 08:11] #6220 closed

[2016-05-28 08:12] laa commented on #6219
@maggiolo00 could you check that  ?

[2016-05-28 08:13] laa commented on #6204
@kerner1000 any updates ?

[2016-05-28 08:28] luigidellaquila commented on #6221
Hi @kerner1000

`isPresent()` and `isValid()` make assumptions on the RID values (eg. positive cluster ID and cluster position). When you delete a record, the ORID object you have is not changed, so it remains with the old values (you could also re-instantiate it manually with `new ORecordId(10, 50)` and it would be considered a valid and present record id).

To know if it was deleted, you have to

[2016-05-28 08:28] #6221 closed

[2016-05-28 08:34] luigidellaquila commented on #6219
Hi @srthecodexpress

Do you think you can share the DB (zipped db folder)? Could you also try to access the db from OrientDB Console (CLI) and see if you can query it?

Thanks

Luigi

[2016-05-28 08:46] luigidellaquila commented on #6217
Hi @zhiguan-hanks

I'm fixing the problem in the core, then we will verify if there are also problems in OrientJS about the token

Thanks

Luigi

[2016-05-28 08:57] luigidellaquila commented on #6217
Hi @zhiguan-hanks

I just pushed a fix for this in develop branch (next 2.2.1).
@maggiolo00 let's do some tests together on NodeJS driver to make sure that everything is ok

Thanks

Luigi

[2016-05-28 09:08] luigidellaquila commented on #2218
Hi @underrun

This issue was fixed long time ago. I also tried to create records with that value from SQL and from batch HTTP API, always successfully.

 I'm closing this ticket, please reopen if you still see similar problems.

Thanks

Luigi

[2016-05-28 09:08] #2218 closed

[2016-05-28 09:47] luigidellaquila commented on #5671
Hi @saeedtabrizi

There are two problems in this issue:
- the "1".asLong() that does not work
- the 1 + 1 in projections, that is not supported in current release

I consider this issue related to the first one, for the second one I'm afraid you have to wait for next releases (it's already tracked in the roadmap together with rewriting of the executor).

Thanks

Luigi

[2016-05-28 09:55] luigidellaquila commented on #5671
Hi @saeedtabrizi

I just pushed a fix for the method invocation issue.
Now the following works fine:
[code]

The fix will be available in next 2.2.1

Thanks

Luigi

[2016-05-28 09:55] #5671 closed

[2016-05-28 11:24] luigidellaquila commented on #6222
Done

http://orientdb.com/docs/last/Graph-Batch-Insert.html

[2016-05-28 11:24] #6222 closed

[2016-05-28 11:49] taburet commented on #3003
Fixed on 2.1.x and develop branches. Native TTY cursor now used instead of emulated one, bash/readline-like multiline prompt support added. Fixed hint list with old prompt garbage, if old prompt length is greater that the hint list item length.

[2016-05-28 11:49] #3003 closed

[2016-05-28 11:55] taburet commented on #6094
Console prompt support is reworked now as a result of https://github.com/orientechnologies/orientdb/issues/3003 , this also may fix your problem. Please test on the latest 2.1.x or develop branches. If you wish, I may create a binary distribution.

[2016-05-28 13:14] luigidellaquila commented on #3232
Fixed in develop branch (2.2.1)

Closing, please reopen if you still see any incorrect behaviors here

Thanks

Luigi

[2016-05-28 13:14] #3232 closed

[2016-05-28 13:23] #4186 closed

[2016-05-28 13:23] luigidellaquila commented on #4186
Hi @snig-b

V 2.2 is out with the new MATCH statement

http://orientdb.com/docs/last/SQL-Match.html

It was designed specifically to manage this kind of queries.

I'm closing this issue, please feel free to reopen if you need help on that

Thanks

Luigi

[2016-05-28 13:25] luigidellaquila commented on #4345
Some improvements were done in the new parser, now it shows exactly where the problem "should" be. In general it's not possible to determine exactly the alternatives, because of the nature of SQL grammar

Closing

Luigi

[2016-05-28 13:25] #4345 closed

[2016-05-28 13:25] luigidellaquila commented on #4346
A* algorithm was provided as a PR. It's available in v. 2.2

Closing

Luigi

[2016-05-28 13:25] #4346 closed

[2016-05-28 13:27] luigidellaquila commented on #4398
This is a duplicate of

https://github.com/orientechnologies/orientdb/issues/3992

Please track the other issue

Closing, thanks

Luigi

[2016-05-28 13:27] #4398 closed

[2016-05-28 13:32] #4672 closed

[2016-05-28 13:32] luigidellaquila commented on #4672
V 2.2 includes A* (`astar()`) function, that allows to define a max depth of the path.

Closing

Thanks

Luigi

[2016-05-28 13:37] #4875 closed

[2016-05-28 13:37] luigidellaquila commented on #4875
Ok, closing, please reopen if you see any other problems

Thanks

Luigi

[2016-05-28 13:52] obi1kenobi commented on #3812
Fine by me, so long as that is a consistent behavior maintained in all operations: querying with a string never matches RIDs.

[2016-05-28 15:45] kerner1000 commented on #6221
Hi @luigidellaquila
I test now if it was deleted by checking for `db.load(orid) == null`
many thanks for your explanations!

[2016-05-28 15:48] kerner1000 commented on #6204
Hi @laa
I refactored to code to use ORID instead of ODocument. But I experience some difficulties establishing document relationships/ links as I described [here](https://github.com/orientechnologies/orientdb/issues/6220#issuecomment-222296468)
I will do some more testing to see if it works without touching the cache.
Many thanks for your help!

[2016-05-28 15:50] kerner1000 commented on #6220
Should I not get back the same object I put in?

[2016-05-29 09:52] mingio commented on #6142
Hi, I think the issue has been resolved in 2.2.
The memory used can be limited.
Result has been attached.
[orientdb2.2_test.docx](https://github.com/orientechnologies/orientdb/files/288269/orientdb2.2_test.docx)

[2016-05-29 11:38] fedyfausto opened #6223 "Select on Class (28k of columns and 58k of rows) really slow"
Hello i hase some troubles with my OrientDB. I insert all data into my Class and when i use curl for extract CSV result my select query take really long time (about 15 minute only for 3 columns) this is my curl:
# !/bin/bash

QUERY="select CompositeSequence_Identifier,$1 from Processed;";
curl --user admin:admin --header "Accept: text/csv" -d "$(echo $QUERY)" "http://localhost:2480/command/Esperim

[2016-05-29 23:19] Ostico opened #6224 "[ OrientDB 2.2.0 ] - Network Binary Protocol"
When OrientDB receives binary command REQUEST_DB_CREATE waits for an undocumented string field.

https://github.com/orientechnologies/orientdb-docs/issues/162

[code]

If i provide to OrientDB a random string ( also an empty one ) it raise an exception about an incremental backup:
[code]

Tried to debug the  connection of the console but OrientDB sends a lot of not useful output:
[code]

[2016-05-30 01:07] zhiguan-hanks commented on #6217
My advice on fixing this bug in OrientDB core:
1. Automatically unsubscribe all LiveQuerys of the connection, Once disconnected.
2.Can you provide an interface event "**Disconnection**" to developers?

BTW, when will  2.2.1 be available?

Thanks

[2016-05-30 01:35] warriorkitty opened #6225 "JavaScript function and IN operator"
Hi all. I have a use-case where I have userId and a list of movie rid's which I want to get (along with the Edge Rating). How do I pass the parameter **movies** as an array in JavaScript to OrientDB?

<img width="453" alt="123" src="https://cloud.githubusercontent.com/assets/5781483/15637402/ee18062e-2616-11e6-87bc-874615f0caa0.png">

This works but I'm sure it's not the right way.
I also tried th

[2016-05-30 08:59] luigidellaquila commented on #6223
Hi @fedyfausto

Do you have 28.000 fields for every single record? So you have about 1.5 billion fields on your db in total?

Are you working schemaful (it would help) or schemaless?

 I guess the problem is in the fact that to generate the result-set, OrientDB has to unmarshal the all DB, and it takes a while... maybe reviewing your domain will help a lot

Thanks

Luigi

[2016-05-30 10:17] nsitanurag commented on #4789
I am also observing the same issue. in version 2.1.16 where one server is copying data to 2 other nodes in a 3 node cluster.

[2016-05-30 12:00] voondo commented on #6200
I do : `git pull upstream develop` (where `upstream` is `github.com/orientechnologies/orientdb`) then `mvn clean install`

[2016-05-30 12:52] healiseu commented on #6155
:+1:

[2016-05-30 13:43] jamieb22 opened #6226 "Orient DB 2.1.17 thread frozen on FileDispatcherImpl.pread0"
Yourkit stack trace below:

message threading-2 <--- Frozen for at least 1h 56m 56 sec
sun.nio.ch.FileDispatcherImpl.pread0(FileDescriptor, long, int, long) FileDispatcherImpl.java (native)
sun.nio.ch.FileDispatcherImpl.pread(FileDescriptor, long, int, long) FileDispatcherImpl.java:52
sun.nio.ch.IOUtil.readIntoNativeBuffer(FileDescriptor, ByteBuffer, long, NativeDispatcher) IOUtil.java:220
sun.nio

[2016-05-30 14:39] voondo commented on #6200
I don't know if it is related but even if I remove the hook, I have theses errors:

when I restart each node, I always get :
[code]

and when a node is offline, some servers throw this kind of errors :
[code]

[2016-05-30 14:41] luigidellaquila commented on #6191
Hi @lalitlogical

I think the problem is related to the fact that ordering and grouping on aliases is not supported in current release.
I suggest you to use a subquery for that, eg.

[code]

Thanks

Luigi

[2016-05-30 14:44] luigidellaquila commented on #6225
Hi @warriorkitty

The problem here is that the Studio Graph panel passes the second parameter as a string, so the result of the second query will be something like (see the quotes)

[code]

that is not what you want to do of course.
The second version, used from SQL, should work fine though

Thanks

Luigi

[2016-05-30 14:47] luigidellaquila commented on #6217
@tglman could you please take a look at this? (let's talk about it in private if you want)

Thanks

Luigi

[2016-05-30 14:55] #1345 closed

[2016-05-30 14:55] luigidellaquila commented on #1345
Docs updated.

https://github.com/orientechnologies/orientdb-docs/blob/master/OrientDB-REST.md

you just have to pass the JSON of the export as the call body.

Closing, thanks

Luigi

[2016-05-30 14:56] luigidellaquila commented on #1640
This functionality was removed from Studio, so the issue is no longer valid

Closing, thanks

Luigi

[2016-05-30 14:56] #1640 closed

[2016-05-30 15:03] torfranz opened #6227 "OGlobalConfiguration.autoConfigDiskCacheSize throws NumberFormatException"
## Expected behavior and actual behavior
I use OrientDB v2.2.0 with the IKVM (.NET based) JAVA runtime and get NumberFormatException in function OGlobalConfiguration.autoConfigDiskCacheSize during the call `DISK_CACHE_SIZE.setValue(diskCacheInMB);` in the `if (maxDirectMemory == -1) `code path

diskCacheInMB is a long value and is derived from `jvmMaxMemory = Runtime.getRuntime().maxMemory(); `
Th

[2016-05-30 15:14] #4331 closed

[2016-05-30 15:41] lvca commented on #6200
About the error could you please provide the further logs to understand the reason?

[2016-05-30 15:45] lucafrosini opened #6228 "HTTP API to Create new Schema Class from JSON"
## Expected behavior and actual behavior
I'm going to try to create new VertexType in Java.
As input I have the json representation of Vertex schema.
Unfortunately I didn't find a way to use json definition directly in Java, so I decided to use HTTP API.
With the following code the class MyVertex is created but has no parameters and the superclass is not set.

## Steps to reproduce the problem

[c

[2016-05-30 15:57] taburet commented on #6227
Thank you very much for such a detailed bug report, I will fix it within next few days.

[2016-05-30 16:02] lvca commented on #6228
This is the doc for the POST/Class: http://orientdb.com/docs/last/OrientDB-REST.html#post---class. As you can see this syntax is not supported. Since you are using Java, why don't just using the Java API?

[2016-05-30 16:05] lvca commented on #6224
Updated the documentation: it needs last parameter that is the path of the database to restore, or an empty string in your case.

[2016-05-30 16:05] #6224 closed

[2016-05-30 16:11] lucafrosini commented on #6228
Ok, now I understand.
I'm building a service using OrientDB as backend. In my service, I need to serialize and de-serialize the schema representation. I thought that the JSON schema got form GET method could be used as input in POST.

Do you have any suggestion do do it quickly or I have to create a JSON parser?

Thank in advance

[2016-05-30 16:13] lvca commented on #6213
On v2.2 I've tried executing

alter property TestWrongMax.dates max 2016-05-25

And the MAX has been set with 1986, because it's the result of the expression `2016-05-25`.

Use rather `alter property TestWrongMax.dates max '2016-05-25'`

[2016-05-30 16:13] #6213 closed

[2016-05-30 16:18] lvca commented on #6199
When do you call `OGlobalConfiguration.dumpConfiguration(System.out)`? Remember that the server's settings are applied on server startup, so you should wait the server is started.

[2016-05-30 16:18] #6199 closed

[2016-05-30 16:19] taburet commented on #6226
Seem like there is a bug in certain JVM versions that may cause this issue. What JVM do you use?

[2016-05-30 16:22] lvca commented on #6186
You can use a different path by setting the JVM setting `java.io.tmpdir`. Example:

    java ... -Djava.io.tmpdir=/myfolder/server1

OrientDB will create the temporary database under the folder `/myfolder/server1/orientdb`

[2016-05-30 16:22] #6186 closed

[2016-05-30 16:27] lvca commented on #6147
@PhantomYdn closing this issue because no answer. In case, please reopen/comment it.

[2016-05-30 16:28] lvca commented on #6143
I added the documentation for connect and create database.

[2016-05-30 16:28] #6143 closed

[2016-05-30 16:29] lvca commented on #6128
The query is not correct: you should use EXPAND:

[code]

[2016-05-30 16:29] #6128 closed

[2016-05-30 16:42] voondo commented on #6200
Sorry I forgot to keep a complete trace and I don't see the problem after many restarts.

However, removing the hook which update records doesn't seem to resolve anything. It just work sometimes and sometimes not...

I still have theses errors :
[code]
The strange thing is the last lines because it started with `- node-02: TX[2]{#114:3 v.1,7}` and finally `- node-02: TX[2]{#114:3 v.1,11}`
However,

[2016-05-30 16:47] voondo commented on #6200
Now the problem is that some records exist in some nodes but not in others (which is an happy mess)

[2016-05-30 16:52] voondo commented on #6200
[code]

[2016-05-30 17:02] odbuser2 opened #6229 "Encryption at rest accepts any key"
## Expected behavior and actual behavior
Expected : Create followed by Open of an ODatabaseDocumentTx honors the encryption key.
Actual : Create followed by Open of an ODatabaseDocumentTx does not honor the encryption key during the Open.  The open ignores the encryption key in this case.

## Steps to reproduce the problem
Execute the deleteCreateOpenDeleteDB test which will show that you can crea

[2016-05-30 17:06] PhantomYdn commented on #6147
@lvca , sure - I would be able to reopen, but it seems that the ability to reopen issue by common users is disabled. So only OrientTechnology team can reopen.

[2016-05-30 17:09] vlasni opened #6230 "Token signature failure"
## Unexpected failure reported in orientdb.err
The following is an extract of what is being logged when I issue `delete vertex vertexName` from Studio:

[code]
The vertex I want to delete has 2,994,311 records.

### Runninng Mode
- [ ] Remote

### OrientDB Version
- [ ] v2.2.0

### Operating System
- [ ] Linux

### Java Version
- [ ] 8

[2016-05-30 17:11] odbuser2 opened #6231 "Encryption at rest not supported by OrientGraphFactory"
## Expected behavior and actual behavior
Expected : OrientGraphFactory should contain methods/arguments to support encryption method/key like ODatabaseDocumentTx.

Actual : OrientGraphFactory does not contain methods/arguments to support encryption method/key

## Steps to reproduce the problem
Just look at the OrientGraphFactory creation options.  The closest support is to use:
`public OrientGraph

[2016-05-30 17:28] odbuser2 opened #6232 "Insufficient documentation for creating a document database"
The following page does not have enough information about creating a document database and causes beginners (and experienced users) a lot of frustration:

[http://orientdb.com/docs/last/Document-API-Database.html](http://orientdb.com/docs/last/Document-API-Database.html)

- How do you create a database with a different admin account?
- If you don't specific a different admin account, what is the d

[2016-05-30 18:29] voondo commented on #6200
also sometimes I get
[code]

[2016-05-30 21:26] lvca commented on #6147
I thought if you create an issue you can reopen it. Is there any setting for it? Anyway, in case comment this issue and somebody will reopen it.

[2016-05-30 21:27] lvca commented on #6228
Sure, use the POST command/ with create property + alter property commands.

[2016-05-30 21:27] #6228 closed

[2016-05-30 22:09] PhantomYdn commented on #6147
It seems there is such settings. Regarding reopening. Please help to reopen this one: #6157 - can't move to 2.2.0 without fixing of those issues.

[2016-05-31 04:08] ghatwala commented on #6210
@laa - Could you please let me know if have started to look at this bug ?

[2016-05-31 05:06] laa commented on #6210
@ghatwala I have got sick , but will be back tomorrow . So I think reasonable estimation is after tomorrow.

[2016-05-31 05:11] ghatwala commented on #6210
@laa - thanks for the update , let me know if i can try out anything  to comment out
[code]
What are the exact things to be commented will help me to try out anything .

[2016-05-31 05:18] laa commented on #6142
@mingio cool. I close issue then

[2016-05-31 05:18] #6142 closed

[2016-05-31 05:22] laa commented on #6210
@ghatwala I do not know real reason right now but could you comment out OGlobalConfiguration#autoConig.

[2016-05-31 05:33] srthecodexpress commented on #6219
Hi @laa @luigidellaquila
That problem is fixed. I had to set the setAutoStartTx property to false at the time of graph or factory creation itself whereas i was doing it after the graph creation in tx mode due to which a transaction was left open. This caused the other transaction commits to not show up in the db.

Thanks guys for your time and patience. :+1:

[2016-05-31 06:01] #6219 closed

[2016-05-31 07:21] luigidellaquila commented on #6147
Hi @PhantomYdn

I just reopened both issues.
Do you have any hint on how to reproduce this one?

Thanks

Luigi

[2016-05-31 07:40] luigidellaquila commented on #6232
Hi @odbuser2

Thanks for reporting, I just updated the docs

https://github.com/orientechnologies/orientdb-docs/blob/master/Document-API-Database.md

I'm building the official documentation now

Thanks

Luigi

[2016-05-31 07:40] #6232 closed

[2016-05-31 08:16] #1284 closed

[2016-05-31 08:16] luigidellaquila commented on #1284
Not relevant anymore, these docs pages no longer exist.

Closing

Thanks

Luigi

[2016-05-31 08:53] lucafrosini commented on #6228
thanks again

[2016-05-31 09:00] amyth opened #6233 "OCommandExecutorNotFoundException while using unionall"
## Expected behavior and actual behavior
I am trying to make a simple query with `unionall` function but I get the following error.

[code]

## Steps to reproduce the problem
[code]

## Important Questions

### Runninng Mode
- [x] Embedded, using PLOCAL access mode
- [ ] Embedded, using MEMORY access mode
- [ ] Remote

### Misc
- [ ] I have a distributed setup with multiple servers. How many?
- [

[2016-05-31 09:53] luigidellaquila commented on #6233
Hi @amyth

Try this:

[code]

Thanks

Luigi

[2016-05-31 10:12] #6230 closed

[2016-05-31 10:12] tglman commented on #6230
@vlasni,

This log is not related to any operation in studio, because studio use http protocol and this is an stack trace of the binary protocol, this exception occour when a server is restarted, is just  the client trying to do an operation with an old session that is refused, the binary protocol client will renegotiate the session and no error will be exposed client side.

Closing this

[2016-05-31 10:41] tglman commented on #6220
hi @kerner1000,

The ODocument provide as feature the link lazy loading, so if you put in a link, what you get back is the relative document for that link, also if you specify `OType.LINK`, as today there is no parameter on the call to get a value without triggere the lazy load.
you can disable the lazy load on the document using `document.setLazyLoad(false);` but we usually suggest to not do it

[2016-05-31 10:48] amyth commented on #6233
@luigidellaquila Thanks so much for the response. It works absolutely fine if I use it with select. That was so dumb of me.

[2016-05-31 10:48] #6233 closed

[2016-05-31 11:01] satyasrc opened #6234 "com.orientechnologies.orient.core.exception.OStorageException: Cannot put key value entry in index"
## Expected behavior and actual behavior
As advised by @laa, I had moved to orientdb v2.2.0 from v2.1.10 to counter issue #6219. I am running the same code as in #6219 on v2.2.0. Consequently, that issue is not happening, but I am facing an OStorageException. I suspect it is again an index issue. Given below is the exception stack for this issue:
**Exception in thread "main" com.orientechnologies.

[2016-05-31 13:05] andreaiacono commented on #4789
@mamoit you're right, I've just added it now here: http://orientdb.com/docs/last/Tutorial-Setup-a-distributed-database.html (it works also for 2.1 branch)
Have you followed these steps?

@nsitanurag are you coming from a standalone server as well?

[2016-05-31 13:23] tglman commented on #6170
hi @ndelaforge,

The session is bound to the OrientGraph instance, and you should not use and OrientGraph instance across threads, each thread should have it's own OrientGraph instance got from the factory and released to it.

we usually suggest to keep the factory as global reference on the application, and each single operation acquire and release the graph instance from the factory.

speaking j

[2016-05-31 13:35] mamoit commented on #4789
@andreaiacono Thanks for the doc :+1: it validated my course of action.
I could not unstuck the other nodes of `2.1.16` at all, so I just abandoned it and we are currently evaluating `2.2.0`.

[2016-05-31 13:48] Gerenatian commented on #4672
Thanks for the update luigidellaquila. Thats a great addition.

[2016-05-31 14:57] torfranz opened #6235 "Server side warning when unsubscribing from live query"
## Expected behavior and actual behavior
Unsubscribing from a live query outputs a warning in the server side console, like

Expectation is to not get a warning. Btw, why is **WARNI** ouput instead of **WARNING** (typo?)

## Steps to reproduce the problem
- Connect to GratefulDeadConcerts db from OrientDB studio
- run `live select from V` (note the returned token)
- run `live unsubscribe -20772939

[2016-05-31 15:04] lvca commented on #4789
@mamoit do you have the same problem with 2.2?

[2016-05-31 15:13] schernolyas commented on #6120
Hi @lvca !

Have You any decision about the issue?
Can I help?

[2016-05-31 15:16] mamoit commented on #4789
@lvca No. Never happened with `2.2.0` and none of the snapshots that I've tried for the past monthish.

[2016-05-31 16:09] lvca commented on #4789
Cool, thanks for the feedback. I'm closing this issue.

[2016-05-31 16:09] #4789 closed

[2016-05-31 16:27] balazsmaria opened #6236 "IN filter parameter binding problem"
hey,

I have to queries:

1.
`SELECT EXPAND(out()[age = :value]) FROM #11:0 ORDER BY age asc
`
This works as expected.

2.
`SELECT EXPAND(out()[age IN :values]) FROM #11:0 ORDER BY age asc
`
This throws an exception.

com.orientechnologies.orient.core.exception.OQueryParsingException: Error on parsing command at position #0: Error on parsing query
Query: age IN [31, 34
------^

	at com.orientechno

[2016-05-31 16:45] tglman commented on #6157
Hi @PhantomYdn,

Sorry i missed some of the points, checking also them, about testInstallingHooks where TestHooks is actually installed ? i miss that part in your code.

[2016-05-31 16:54] tglman commented on #6048
hi @Cowby

did this solved your problem can we close this ?

Regards.

[2016-05-31 17:11] maggiolo00 opened #6237 "Enterprise Auditing TTL"
Time To live for Auditing logs

[2016-05-31 18:43] PhantomYdn commented on #6157
@tglman , Yes - there is such point...
Hooks in wicket-orientdb registered in OrientDBSettings class and then activated per new ODatabaseDocument instance. Exact code here: https://github.com/OrienteerBAP/wicket-orientdb/blob/master/wicket-orientdb/src/main/java/ru/ydn/wicket/wicketorientdb/OrientDbWebApplication.java#L111-L118

For testing purposes corresponding hook registered here: https://gith

[2016-05-31 19:09] kerner1000 commented on #6220
Hi @tglman ,

thanks a lot for these explanations! Is this behavior documented somewhere?

Best

[2016-05-31 20:15] bojanserafimov opened #6238 "Incomplete documentation for the distributed mode"
These questions are about version 2.1. However, it would also be nice to know the answer for version 2.2, if anything changed.
1. How does OrientDB fix unaligned nodes? (Slide 20 on the presentation http://orientdb.com/docs/last/Distributed-Architecture.html )
   - How do you detect unaligned nodes?
   - Since there is no universal order of operations, how do you know which node has the correct (l

[2016-05-31 20:50] tglman commented on #6157
Hi @PhantomYdn,

Perfect I'll check the flow, and i'll try to fix it.

1) i should have fixed the leaking resources, i still have to add a proper test case.
2) the info log should be much less now.
3) OServer database i'll let you know

4-5) investigating and for `testCreationInHook` i saw that using:
[code]
the test pass, i'm trying to work on a fix that not need this, but it's taking me a while

[2016-05-31 21:31] PhantomYdn commented on #6157
@tglman, it seems that in 2.2.0 you have to call doc.save() on all related documents which are being created in Hook. But in real life: that's not what expected. For example, someone will want to add some reference to newly created document only if that document will be then stored/saved. Why? Because user might whant that change that value during modification and before save.
Code I'm talking abo

[2016-05-31 22:08] lvca commented on #6217
@tglman  Is this closed?

[2016-06-01 05:44] ghatwala commented on #6210
@laa - I tried the above comment , but i am getting some other errors as before

[code]
Any pointerr/branch you have created.

[2016-06-01 06:04] voondo commented on #6200
What could I do to help ? (it's very frustrating because I spent many months on a project deeply relying on orientdb and theses bugs block the release)

[2016-06-01 06:28] nuixkeith opened #6239 "OrientDB cannot open a local database inside a folder containing commas"
## Expected behavior and actual behavior
If I try to open a local OrientDB database in a path such as the following I should be able to do so, since the graph DB name itself does not contain a comma (only a folder in the path does):

C:/my, path/Stores/Graph Database/graphf28b0f4ca68f41cc88cbb40af2458c5f

If I try to do this OrientDB throws the following exception:

Caused by: com.orientechnologie

[2016-06-01 06:46] luigidellaquila commented on #6236
Hi @balazsmaria

it seems to be a bug, I'll take a look at that ASAP

Thanks

Luigi

[2016-06-01 07:06] PhantomYdn opened #6240 "Strange behavior of ODocument.getOriginalValue()"
## Expected behavior and actual behavior

It seems pretty natural return current value on getOriginalValue() if value of a field was not actually changed. But ODocument returns null in this case.

## Steps to reproduce the problem

Create a hook with onRecordAfterUpdate(). Check getOriginalValue() of field B of just updated document due to some changes in field A.

## Important Questions

Do you s

[2016-06-01 07:55] luigidellaquila commented on #5979
Hi @alexmm11

you can try

[code]

but I'm afraid it won't work in a transaction (temporary RIDs for newly created vertices)

Thanks

Luigi

[2016-06-01 07:56] luigidellaquila commented on #6217
@lvca we still have to finish the tests with Node.
@maggiolo00 when you have one minute...

Thanks

Luigi

[2016-06-01 07:59] luigidellaquila commented on #6240
hi @PhantomYdn

IMHO it makes sense, but of course it changes the current behavior (maybe someone is relying on it...)

Guys, maybe we can consider it in 3.0?

Thanks

Luigi

[2016-06-01 07:59] Cowby commented on #6048
Hi @tglman sorry for my delay. Of course that did the trick, but to be honest i achieved that solution before your answer. The purpose of the question was to get a more SQL specific solution and avoid the creation of a special script. But I think you can close this here.

[2016-06-01 07:59] #6048 closed

[2016-06-01 10:13] lvca commented on #6239
Sorry, this is not supported. However, you could encode any special characters like comma. Can't you just rename your path?

[2016-06-01 10:18] lvca commented on #6200
About the problem `Cannot find best cluster for class 'DevaprintCircle' on server 'node-01'`, what's the last configuration printed in console about the clusters behind the class DevaprintCircle? Can you confirm node-01 has no master cluster?

[2016-06-01 10:31] voondo commented on #6200
Here it is
[code]
Maybe I don't understand something here, but many clusters are missing.
Indeed the class is created with :
[code]
with `clusters = 16`

[2016-06-01 10:59] laa commented on #6210
Hi @ghatwala ,
Could you try now ?

[2016-06-01 11:05] david-sitsky commented on #6239
What are the supported encoding/decoding methods?  The code had mentions of using backslash encodings but the exception raised in the code (line 87 of OStorageAbstract) didn't seem to do any in that area?

Due to the way this component is used in a product, sometimes the path is not under our control.

[2016-06-01 11:38] laa commented on #6218
Fixed.

[2016-06-01 11:38] #6218 closed

[2016-06-01 12:42] lvca commented on #6239
I don't know if there is a std for this, but you could have something like -comma- to encode commas. Example:

    C:/my-comma- path/Stores/Graph Database/graphf28b0f4ca68f41cc88cbb40af2458c5f

[2016-06-01 12:48] lvca commented on #6200
All the clusters you don't see it's because they are following the setting for "*" that I think in this case is node-03. Your error msg said `dCfgVersion=490`. Can you find the table relative to the version 490?

[2016-06-01 12:48] taburet commented on #6227
Fixed on develop branch. Heap memory size is capped to 2GB now for the purpose of disk cache auto configuration, if JVM reports unlimited heap size.

[2016-06-01 12:48] #6227 closed

[2016-06-01 12:58] ghatwala commented on #6210
@laa - could you please let me know , if i need to try out " nounsafe" branch ?

[2016-06-01 13:31] voondo commented on #6200
Sorry but how to retrieve this info ? In distributed-config.json ?

And FYIW in my database directory, related to this class, I only have `devaprintcircle_1.{cpm,pcl}` to `devaprintcircle_7.{cpm,pcl}` but nothing higher. So either I fully doesn't understand how the distributed db works or there is a problem here, it isn't ?

[2016-06-01 14:07] Eric24 commented on #4251
I wonder is this is related? The following UPDATE with a PUT also throws a similar exception, but works if I replace the PUT with a SET on a non-map property:

`UPDATE #14:1 PUT Options = '22', {"Action":"Test22a","Enabled":false, "@type":"d", "@class":"VOptions"} WHERE NOT (Options CONTAINSKEY '22') RETURN AFTER @this.Options['22']
`

[2016-06-01 14:48] voondo commented on #6200
FYI the problem with the nodes in conflict seems to appear only when creating a new record (but not always).
Another example:
[code]

[2016-06-01 15:10] taburet commented on #6234
Hi @srthecodexpress! I will work on this issue. In #6219 you said you "printing out the info on the console of each inserted node and edge", I assume the listing contains values of fields being indexed by the hash index in question. Is it possible to share this listing with me along with the index definition? If listing contains indexed values I will be able to reproduce the problem on my machine.

[2016-06-01 15:44] voondo commented on #6200
And now it works (only 1 conflict sometimes, which is ok because of the write quorum)... So the  problems appear more often when the cluster structure is just changed (here when a node is restarted) then slowly disappear.

[2016-06-01 16:30] tglman commented on #6157
Hi @PhantomYdn,

I just fixed the problem with the hook save, still have to sort out the read hook.
I'm afraid that for the OSystem database we don't have an option to disable it, in long term is going to store the credential for the server users plus other configurations.

Bye.

[2016-06-01 16:35] vlasni commented on #5290
Similar issue here. After moving to 2.2.0 I am now getting:
`2016-06-01 13:20:20:015 WARNI {db=vlasnitest} Error deserializing record with id #-1:-2 send this data for debugging: ACpDdXN0b21lckFjY291bnREZXRhaWwOZGVsZXRlZAAAAHQACGRhdGUAAAB1BgxyZWFzb24AAAB7BxRsaW5rZWRQb2pvAAAAkRQKZGViaXQAAASwAwxjcmVkaXQAAASxAxhpbl9oYXNEZXRhaWwAAASzFgAApIagzKFVKkNSRURJVF9fVkVORE9SX0NSRURJVLoBY29tLm9yaWVudGVjaG5vbG9na

[2016-06-01 16:39] tglman commented on #5290
hi @vlasni, together with that log should be a stack trace, can you provide also that ?

bye

[2016-06-01 16:45] tglman commented on #6220
Hi @kerner1000,

I feel that probably is not well documented we have referneces to lazy loading here: http://orientdb.com/docs/2.1/Fetching-Strategies.html

[2016-06-01 16:45] tglman commented on #6220
Hi @kerner1000,

I feel that probably is not well documented we have referneces to lazy loading here: http://orientdb.com/docs/2.1/Fetching-Strategies.html

[2016-06-01 16:52] vlasni commented on #5290
This is all I see in orientdb.err: (lots of "missing session and token" -removed for clarity- I still don't understand why as it never happened prior to 2.2.0)
[code]

On the other hand, at application log level this is what I get:

[code]

[2016-06-01 17:02] vlasni commented on #5290
After reverting client dependencies to 2.1.12 I am getting the exact same problem. Here is the content of orientdb.err:

[code]

[2016-06-01 17:04] #6015 closed

[2016-06-01 17:04] tglman commented on #6015
hi @rishi3195,

I fixed this in 2.1.17, so please use the last hotfix, 2.1.19 and everything should be fine.

[2016-06-01 17:10] andreyvk commented on #5290
@vlasni yup, once you hit it, it sticks

[2016-06-01 17:13] PhantomYdn commented on #6157
Hi @tglman , thank you!

Regarding OServer: I really hope that OUser and ORole for a specific database will remain within database themself, because they often has been used on app level. Can I assume that?

[2016-06-01 17:17] tglman commented on #5290
hi @vlasni.

you are sending something wrong to the server, probaly you set as value of a field of a document an instance of "com.develance.vlastni.api.model.Vendor", and this is fine as far the class is serializable and is in the class path, and is not the case of the server classpath.

Hope it help.

Bye

[2016-06-01 21:06] laa commented on #6210
@ghatwala yes it should be "nounsafe" branch.

[2016-06-01 22:15] lvca opened #6241 "Match is not supported from the console"
The MATCH is not supported in console.

[2016-06-01 22:55] nuixkeith commented on #6239
Our customers want to put graph DBs into their existing valid file paths alongside other data and telling them to restructure their entire file system is something we would rather not do.

Is it not possible to add in support for escaping commas inside the file path? I understand you have a restriction on database names not having commas, but on line 87 of OStorageAbstract it is checking the entir

[2016-06-01 23:23] taihu commented on #6202
Sorry, I did not see your message until today. Here is the exception

Jun 01, 2016 7:20:29 PM com.orientechnologies.common.log.OLogManager log
INFO: OrientDB auto-config DISKCACHE=7,139MB (heap=7,196MB direct=8,096MB os=16,384MB)
Jun 01, 2016 7:20:30 PM com.orientechnologies.common.log.OLogManager log
SEVERE: $ANSI{green {db=$Users$hutai$Documents$Vero Projects$Test Project$verodb}} Error during l

[2016-06-02 05:19] srthecodexpress commented on #6234
Hi @taburet. Actually the listing doesn't contain the value of fields being indexed (and by fields, i mean the properties of nodes & edges.). For your help, I am attaching some files below.
Here is the method **addNode** where the exception is happening at the tx.commit() line
[addNode.txt](https://github.com/orientechnologies/orientdb/files/294834/addNode.txt)
The log messages in the above code i

[2016-06-02 06:28] ghatwala commented on #6210
@laa i did try the "nounsafe " branch , however still the errors are the same
[code]
Also attached is the error log for reference,  Please let me know what could be possible way to resolve the errors ?

[hs_err_pid25537.txt](https://github.com/orientechnologies/orientdb/files/294916/hs_err_pid25537.txt)

[2016-06-02 06:55] laa commented on #6210
@ghatwala few minutes I will increase tests verbosity so we will get more details.

[2016-06-02 07:00] laa commented on #6239
Hi guys, we will fix it.

[2016-06-02 07:11] laa commented on #6210
@ghatwala Could you try now as send me detailed output as separate gist ?

[2016-06-02 07:26] Ostico commented on #6224
Hi @lvca , i tried an empty string also and i got the same error. I will try again.

[2016-06-02 08:24] Ostico commented on #6224
Tried again, same issues. I think that, but i may be wrong 'cause i not tested nor run the code, this object ```OChannelBinaryServer``` in line 1139 does not return NULL but an empty string:
https://github.com/orientechnologies/orientdb/blob/2.2.0/server/src/main/java/com/orientechnologies/orient/server/network/protocol/binary/ONetworkProtocolBinary.java#L1139

and this IF fails when does the chec

[2016-06-02 08:45] tglman commented on #6157
hi @PhantomYdn,

Yes the base behaviour is going to be the same, only the 'server users' the one that were stored in orientdb-server-config.xml are going to move in th OSystem database.

Bye

[2016-06-02 08:57] robfrank commented on #6202
This problem should be resolved in next 2.2.1. In the meanwhile, could you try with latests snapshot?
You can download from: https://oss.sonatype.org/content/repositories/snapshots/com/orientechnologies/orientdb-community/2.2.1-SNAPSHOT/orientdb-community-2.2.1-20160601.231400-49.tar.gz

[2016-06-02 09:25] ghatwala commented on #6210
@laa -  i tried out the branch with increased verbosity which still fails with same error... snippet of error
[code]

Gist url : https://gist.github.com/ghatwala/bc674474063136bb00e4063aad407357

[2016-06-02 09:56] anywhichway commented on #6198
Thanks!

[2016-06-02 09:56] #6198 closed

[2016-06-02 10:32] laa commented on #6210
@ghatwala could you send me latest crash report , just in case I missed something

[2016-06-02 10:35] lvca commented on #6224
Sorry, you're right: an empty string wouldn't work, you should pass null, that means writing the string with length = -1 and no content.

[2016-06-02 10:40] lvca commented on #6200
In case of restart of a server, is the starting server able to get a `delta sync` from other nodes? Or for any reason you see a full backup?

Could you please monitor the situation for a while and tell me in 24h/48h if the databases are aligned?

Thanks.

[2016-06-02 11:26] voondo commented on #6200
Full backup each time (`Error on installing database delta devaprint-production, requesting full database sync...`)

Here is the relevant logs :
[code]
Also note the hosts are cheap VPS (kvm guest @4788.94 bogomips) so the boot of the java application is veeeeeeery slow (2-3 minutes, cpu bound). Even if I increased all the timeouts I found, I don't know if it could be related.

And ok, I let the s

[2016-06-02 11:42] ghatwala commented on #6210
@laa  -  here it is attached...
[hs_err_pid25537.txt](https://github.com/orientechnologies/orientdb/files/295496/hs_err_pid25537.txt)

[2016-06-02 11:55] lvca opened #6242 "Console: support export in graphml format"
The console should be able to export a graph in graphml format using the Blueprint classes:

[code]

[2016-06-02 12:33] #6242 closed

[2016-06-02 12:35] lvca commented on #6200
How much RAM do you have? Could you please also report the first lines of OrientDB startup where it dumps the DISKCACHE and available RAM?

[2016-06-02 12:38] ghatwala commented on #6210
[hs_err_pid21430.txt](https://github.com/orientechnologies/orientdb/files/295572/hs_err_pid21430.txt)
here is the core dump for ur reference .. @laa

[2016-06-02 13:18] clepelli opened #6243 "False duplicate record exception when using Graph API"
## Expected behavior and actual behavior
I want to create two vertices connected by an edge in one transaction. The vertex class has an index on a field named "label". I should be able to set up the indexed property "label" (with different values) just before the commit of the transaction but an ODuplicateRecordException is triggered in this case.

I have been impacted by this issue when migrating

[2016-06-02 13:41] vlasni opened #6244 "Can't get rid of MaxDirectMemorySize warning"
# This started to happen with community v2.2.0
When deploying web app to tomcat 8, I started to see the warnings below, even when the values are apparently correctly set in configuration:
[code]

## server.sh
`JAVA_OPTS_SCRIPT="-Djna.nosys=true -XX:+HeapDumpOnOutOfMemoryError -XX:MaxDirectMemorySize=512g -Djava.awt.headless=true -Dfile.encoding=UTF8 -Drhino.opt.level=9 -XX:+AggressiveOpts -XX:Comp

[2016-06-02 13:53] tglman commented on #6157
hi @PhantomYdn,

all the point should be done by now, let me know  you have any more issue or we can close this.

bye

[2016-06-02 13:55] voondo commented on #6200
I have 2G (+ 1G of swap).
I was setting DISKCACHE manually to 256 (`-Dstorage.diskCache.bufferSize=256`) but now I removed it I get :
[code]
JVM memory related flags (absolutely not confident about them) : `-J-Xms1G -J-Xmx1536m -J-Xmn128m -J-Xss512k -J-XX:MaxDirectMemorySize=1536m `

[2016-06-02 14:00] voondo commented on #6200
Just FYI, I deleted everything and with just 2 nodes, for a same transaction, I got 2 errors then it was ok the third time (no other node joined meanwhile)

[2016-06-02 14:03] PhantomYdn commented on #6157
@tglman , thank you!
It's strange, but I can't confirm that testInstallingHooks(...) is working. It's failing for me with the same message... Should I change something in test itself? Will try analyze your changes - probably something should be changed in hooks registration...

[2016-06-02 14:03] voondo commented on #6200
maybe an (ugly) workaround could be a config like `distributed.autoRetry = n`  :)

[2016-06-02 14:04] laa opened #6245 "Add guarded check which will prevent to use database instance from other thread"

[2016-06-02 14:30] madama opened #6246 "Refactoring of parameters inside server.[sh|bat] and consolidation with orientdb-server-config.xml"
There  are some improvements that can be done:
- MAXDISKCACHE should be overridable from env
- invoking "sever.sh debug" could enable debug options without cut&paste
- "-Dprofiler.enabled=true" is a duplicate of what is in xml config file, and maybe it should be false by default

[2016-06-02 15:33] laa commented on #6226
Hi @jamieb22 ,
Could you provide us with version of operation system and JVM so I will send you instructions how to setup tool which will gather diagnostic information for us.

[2016-06-02 15:57] jamieb22 commented on #6226
Linux usa-f 3.19.0-58-generic #64~14.04.1-Ubuntu SMP Fri Mar 18 19:05:43 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
java version "1.8.0_66"
Java(TM) SE Runtime Environment (build 1.8.0_66-b17)
Java HotSpot(TM) 64-Bit Server VM (build 25.66-b17, mixed mode)
We are using an embedded version of Orient. I hope the above helps!

[2016-06-02 16:22] taburet commented on #6244
Please attach to the JVM instance using YourKit or VisualVM and inspect the actual JVM arguments. I suspect they some how got lost during JVM startup.

[2016-06-02 16:28] lvca commented on #6200
@voondo we don't have any `distributed.autoRetry`. Did you mean `distributed.concurrentTxMaxAutoRetry`?

[2016-06-02 16:31] taburet commented on #6234
The problem is with the values of `abstract` property. Downloading now `long abstracts` dbpedia dataset to reproduce the problem, hope the order of the insertions doesn't matter. Could you please include the dbpedia name in the listing for each inserted node *before* it being inserted? That will help to eliminate the possible insertion order dependency.

BTW, where did you get the "full dbpedia da

[2016-06-02 16:35] voondo commented on #6200
Nevermind, it was just a joke related to my precedent comment : the transaction was finally succeeded after 3 tries, so a workaround could be an automatic retry of the transaction in case of conflict. Actually I seriously envisage to add this behavior somewhere on my stack (at least temporarily).

[2016-06-02 16:38] voondo commented on #6200
I try with `distributed.concurrentTxMaxAutoRetry = 100`

[2016-06-02 16:57] lvca opened #6247 "Command Cache: enhancements"
From the webinar: Can we enable command cache for selective queries? Also can we explicitly query the DB if command cache is enabled ?

[2016-06-02 17:02] voondo commented on #6200
yet another `Cannot find best cluster` with node-01 being offline
[code]

[2016-06-02 17:23] laa commented on #6245
Fixed

[2016-06-02 17:23] #6245 closed

[2016-06-02 17:53] voondo commented on #6200
New kind of errors : `[ERROR] com.orientechnologies.orient.server.distributed.impl.ODistributedTxContextImpl : [node-03] Error on fixing transaction 2.49 db=devaprint-production task=record_update(#176:3 v.1 realV.-2147483647)`

[2016-06-02 17:58] voondo commented on #6200
Also I seen some errors related to records not found on a node although a transaction creating them was succeeded on an another node

[2016-06-02 19:14] lvca commented on #6200
It looks like there is a bug in the rebalance of record clusters when a server leaves the ring. I'm looking at it.

[2016-06-02 20:33] vlasni commented on #5290
hi @tglman
your comment was useful and found the way to solve it.
Anyway, I think there is a bug: if working in schema-less mode, when I try to insert a record to class A which has an attribute that should be a LINK type, I get the deserialization error reported. But if I work with a schema then the issue is solved.

Thanks

[2016-06-02 20:37] vlasni commented on #5294
Any updates and/or workarounds on this?
All I have been able to do to make it work is the query below, but it's really slow:

[code]

[2016-06-02 21:32] pabloa commented on #3756
+1

[2016-06-02 21:39] vlasni commented on #6244
@taburet
I haven't found a moment to provide what you're asking. In the meantime, please check the output of HTOP command:

![selection_031](https://cloud.githubusercontent.com/assets/19346364/15761829/b87dc94a-28f0-11e6-8191-32f4bb404351.png)

As you can see there, it is reporting to be using -XX:MaxDirectMemorySize=7982m (I changed the value in config in order to see if the issue was misconfigur

[2016-06-02 23:00] nuixkeith commented on #6239
Great, thanks for that

[2016-06-03 04:23] taihu commented on #6202
Thanks so much for the fix. When will 2.2.1 will be released?

Thanks,

Tai

On Thu, Jun 2, 2016 at 4:57 AM, Roberto Franchini <notifications@github.com>
wrote:

[2016-06-03 05:34] taburet opened #6249 "Postpone engine initialisation til it really used"
All runtime internals of OrientDB initialised even if we use only remote connections. To counter this following changes should be done:

1. Postpone engine initialisation til it really used.

2. Move all initialisation logic specific to a certain engine from OGlobalConfiguration to the engine initialisation procedure.

For example, see #6244.

[2016-06-03 06:13] mmacfadden opened #6250 "Passing quoted strings to methods removes quotes."
## Expected behavior and actual behavior
When passing a quoted string to a function the function should use the quoted version of the string.  Instead the quotes seem to be stripped.

## Steps to reproduce the problem
Run the following SQL.

[code]

Output:

Test 1: double quotes
  - Both surrounding quotes are stripped

Test 2: single quotes
  - Both surrounding quotes are stripped

Test 3: "mixe

[2016-06-03 06:17] laa commented on #6210
@ghatwala is it possible to get session on test server so I will be able to debug tests ?

[2016-06-03 06:18] healiseu commented on #5668
@lvca
You may also add the following related bug..... If you use the command

[code]
**Notice that I have not used quotes**

Then you may enter dates
[code]
**Notice the spacing**

But you **cannot** enter dates with a format like
[code]
**No spacing here**
You will get an error
**Error on conversion of date '14/5/2010' using the format: dd / MM / yyyy**

The problem is solved if you ALWAYS use qu

[2016-06-03 06:45] voondo commented on #6200
Thanks a lot

[2016-06-03 08:01] luigidellaquila commented on #6241
fixed in develop branch

Thanks

Luigi

[2016-06-03 08:01] #6241 closed

[2016-06-03 08:28] ghatwala commented on #6210
@laa - It's difficult to provide you access to our test servers , is there a way i can skip this particular test " OrientDB Core " and try out the remaining test cases . If you could add this change to ur nounsafe branch and let me know?

[2016-06-03 08:29] laa commented on #6210
@ghatwala that is main functionality, we can not do that. But I am trying to install the same environment using QEMU. Will let you know about results.

[2016-06-03 09:45] luigidellaquila commented on #6236
Hi @balazsmaria

I fixed it in develop and 2.1.x branches. The fix will be released with 2.1.20 and 2.2.1

Thanks

Luigi

[2016-06-03 09:45] #6236 closed

[2016-06-03 09:45] laa commented on #6194
@vlasni sorry for the delay.
Could you run index rebuild and at the same time run following commands:

1. iotop
2. iostat
3. vmstat

and send me the result of the output of those commands when the index becomes  become slow ?

[2016-06-03 10:10] unrealwill opened #6252 "Importing GraphML skips id field and consume a lot of memory and cpu"
## Expected behavior and actual behavior

I have a graphML file with lines like these :

[code]

After insertion the field

[code]

which I'd like to keep (and which is normally the primary key) is skipped even when I set
storeVertexIds=true

In which case the node id="n575963" is preserved but the data key is still missing.

Viewed from the Studio we observed that the field id is no longer presen

[2016-06-03 11:02] lastnod opened #6253 "add natural langage processing"
## Expected behavior and actual behavior

the possibility to do queries with natural langage
there is a lot of library to do natural langage processing
[https://en.wikipedia.org/wiki/List_of_natural_language_processing_toolkits](https://en.wikipedia.org/wiki/List_of_natural_language_processing_toolkits)

[2016-06-03 11:09] vlasni commented on #6244
@taburet
You are right: the logs I see are from tomcat web app.
Thanks for your assistance, I don't mind you closing this one if these warnings can be safely ignored.

Adrian

[2016-06-03 11:12] #6244 closed

[2016-06-03 11:21] tglman commented on #5239
i've written tests on hooks on 2.2 as well, everything is working closing.

[2016-06-03 11:21] #5239 closed

[2016-06-03 11:30] smolinari commented on #6253
Can you explain how your suggestion would be more beneficial than the current SQL solution? Can you give some examples of how natural language can work better or be more efficient for the developer? What is the problem trying to be solved? Are there any other databases doing this?

Scott

[2016-06-03 11:39] vlasni commented on #6194
@laa

# iostat before reindexing:

![selection_032](https://cloud.githubusercontent.com/assets/19346364/15777394/44eb4672-2965-11e6-803b-664736d01cba.png)

# iostat when performance degradated:

![selection_036](https://cloud.githubusercontent.com/assets/19346364/15777413/7a304aa8-2965-11e6-9191-44f5a8a37d54.png)

-------
# vmstat before reindexing:
![selection_033](https://cloud.githubusercontent

[2016-06-03 12:16] tglman commented on #6177
hi @s19n,

We fixxed some more issue on the network recently, in both server and client, now you should not see any error, except if you restart the server.

Can you confirm if also in your case is fixed?

[2016-06-03 12:16] tglman commented on #6177
hi @s19n,

We fixxed some more issue on the network recently, in both server and client, now you should not see any error, except if you restart the server.

Can you confirm if also in your case is fixed?

[2016-06-03 12:51] tglman commented on #6190
hi @antonzherdev so this will work:

[code]

another solution is to delete completely the record, in any case save information using the java serialization is not suggested for this kind of troubles.
i would say in this case would be better if you serliaze the value independetly and use fields of BINARY type.

Bye

[2016-06-03 13:10] tglman commented on #6157
hi @PhantomYdn

I just run your project and i got:
[code]
can you retry now, i posted here just after the push, maybe the snapshot where not update.

Regards.

[2016-06-03 13:14] adrian-gomez-ar opened #6254 "Help on solving query"
I have a graph as depicted below:

![tarjetas1 1](https://cloud.githubusercontent.com/assets/19346364/15779183/31b2969e-2971-11e6-8898-42113672891a.png)

1) a Consumer can have "isClientOf" edges to 0..N Customer
2) a Consumer can have "isClientOf" edges to 0..1 Vendor.
3) a Consumer can have "installs" edges to 0..N Installation.

Note: if a Consumer does not have "isClientOf" Customer, then it w

[2016-06-03 13:15] tglman commented on #5117
Hi @MarcelPitch,

This is an old issue, is the new hook implementation working properly for you ?

Regards

[2016-06-03 13:17] tglman commented on #5094
Hi @StarpTech

I'm closing this, it should be fixed

[2016-06-03 13:17] #5094 closed

[2016-06-03 13:29] laa commented on #6194
Oh sorry , I mean not *iostat* but, *iostat -dxk .*
Could you rerun test ?

On Fri, Jun 3, 2016 at 2:40 PM vlasni <notifications@github.com> wrote:

--
Best regards,
Andrey Lomakin, R&D lead.
OrientDB Ltd

twitter: @Andrey_Lomakin
linkedin: https://ua.linkedin.com/in/andreylomakin
blogger: http://andreylomakin.blogspot.com/

[2016-06-03 13:35] vlasni commented on #6230
@tglman
ok, I understand it's not related to Studio, my mistake.
What I am concerned about is that I keep seeing lots of entries in orientdb.err as:

[code]
And it seems to me that there must be some defect perhaps on how I am handling connections?
Because I see them even when server has not been restarted (of course, I might be wrong).

[2016-06-03 14:30] tglman commented on #6092
commented on the pull request.

[2016-06-03 14:50] schernolyas commented on #6120
Hi @lvca !

What is status of the bug?

[2016-06-03 14:50] mmacfadden commented on #6250
I have done some debugging.  The issue seems to an issue in the **OSQLMethodRuntime** class.

Looking at the **OSQLFilterItemField.transformValue** class on line 129, there is the following code:

[code]
Specifically on line 138 method.setParameters() gets call.  Then later on line 140 method.execute gets calls.  op.getValue() will return an array with a string in it like this[""quoted""].  Note t

[2016-06-03 15:55] kerner1000 opened #6255 "Error retrieving record"
`Jun 03, 2016 5:49:50 PM com.orientechnologies.common.log.OLogManager log
SEVERE: {db=$home$alex$.openchrom$1.1.x$net.openchrom.chromatogram.xxd.identifier.supplier.chromident$test11} Error on fetching record during browsing. The record has been skipped
com.orientechnologies.orient.core.exception.ODatabaseException: Error on retrieving record #15:77 (cluster: chromident_reference_peak)
	at com.ori

[2016-06-03 16:23] tglman commented on #6230
hi @vlasni,

This warning does not create any harm, it just advise that one session has been considered invalid and the client should do an automatic reconnect, we had some problem on session management in case if the server is a distributed setup that were fixed in the last week, for the next week we are going to release 2.2.1 so please recheck with that.

Bye

[2016-06-04 02:52] vlasni commented on #6254
Update:
Tried a different approach as follows:

[code]
This one performs better than the former one but still it is really slow: it takes 24 secs

[2016-06-04 07:01] smolinari commented on #6254
I am no expert, so I'll ask a question. Is the "isClientOf" the same edge class both for Customers and Vendors? If yes, how can that relationship be the same one and yet resolve to show differences efficiently?

Scott

[2016-06-04 07:29] lvca opened #6256 "Distributed Auto-Sharding (DHT)"
After implemented the Autosharded index (#4326), what is missing to work distributed as DHT is:
- [x] Let to the `SYNC CLUSTER` command to copy also the index files related to the cluster
- [ ] Support a new cfg for class like: `{"classes":{"*":{"copies":2}}}` to declare the number of copies to keep per cluster/partition
- [ ] Improve the auto-rebalance of the clusters to always assure the declare

[2016-06-04 12:47] Ostico commented on #5093
Yes thanks, it works on the newest versions. Anyway, i removed OrientDB release 2.1.3 from the build Matrix.

[2016-06-04 12:47] #5093 closed

[2016-06-05 01:03] antonzherdev commented on #6190
@tglman This solution is not working as well. It produces the same error when I try to save it:
[code]

If I try to delete the item I will have the same error. I can do nothing with this item now. This is the problem.
It was not my intension to store serialised data but OrientDB does it automatically if the data type is not known. It's hard to notice because everything is working until the classes

[2016-06-05 02:15] basdek commented on #2441
+1

[2016-06-05 02:59] PhantomYdn opened #6257 "Please help optimize query"
There is need to have some generic search over all objects. Currently it's done with the following query:

[code]

As you can see: that's search through all documents of class MyClass which contains required text in any field. But even for 30000 it takes around 30 secs to complete.

Do you have any ideas how to optimize search without going on low field-by-field level? I made search like that on A

[2016-06-05 04:05] velo commented on #2441
FWIW github.com/mpollmeier/orientdb-gremlin

We run the same compatibility suite that other gremlin drivers do, so, orientdb support should be in really good shape.

[2016-06-05 05:04] smolinari commented on #6257
When you say search over all objects, what do you consider an object? A record in a class?

If so, couldn't you use a multi-property Lucene index on the class "MyClass"?

http://orientdb.com/docs/2.2/Full-Text-Index.html

`CREATE INDEX MyClass.multi_property ON MyClass(prop1, prop2, prop3, prop4) FULLTEXT ENGINE LUCENE`

Scott

[2016-06-05 05:14] PhantomYdn commented on #6257
Tried to create for all properties: no effect.

[2016-06-05 05:21] smolinari commented on #6257
How did you then do the search? With the query you posted above?

Scott

[2016-06-05 05:31] PhantomYdn commented on #6257
Do you have other suggestions? It seems should work with CONTAINSTEXT.

[2016-06-05 06:00] smolinari commented on #6257
`SELECT FROM MyClass WHERE [prop1, prop2, ...] LUCENE "query"`

Scott

[2016-06-05 06:27] smolinari commented on #6257
BTW, we are torn between using the Lucene search and going with Elasticsearch and will probably end up having to use Elasticsearch (despite the added complexity).

The problem is, our schema is (and so should ODB's) flexible. That is THE killer NoSQL feature, right? However, if you create a full-text search index with Lucene and you add a new property at some point in the lifetime of the applicati

[2016-06-05 20:47] Ostico opened #6258 "[ OrientDB v2.2.0 ] Record Create no more honors Class value"
When a CREATE CLASS command is issued, the command returns an INT ( the cluster ID ):
[code]
After i send a record create:
[code]
From the console i found the wrong class inside OrientDB:

[code]

So, ```create class my_class extends V``` does not return the right ClusterID, it return 11 instead the right number.

Seems that Cluster ID in this new version is sharded and not unique and does not agr

[2016-06-05 23:11] Ostico opened #6259 "[ OrientDB v2.2.0 ] Query with an old TokenAuth cause a NullPointerException"
Query with an old TokenAuth cause a NullPointerException with an error message shifted by one position in the protocol.

I performed a query passing to the protocol an TokenAuth from a preeceding connection:
[code]

I receive a NullPointerException without a debug message:
[code]

[2016-06-05 23:30] PhantomYdn commented on #6157
Hi, @tglman,

Thank you! 2.2.1-SNAPSHOT works for me now:)
Next step is to move [Orienteer](http://orienteer.org) themself - the probably will bring more bugs, but let close this one and track that separatly.

[2016-06-06 04:38] smolinari commented on #6258
This probably has something to do with the new "cluster per core" technology added in 2.2.

http://orientdb.com/docs/2.1/Tutorial-Clusters.html#understanding-clusters

As a possible short term workaround, you can also turn this off with

`ALTER DATABASE MINIMUMCLUSTERS 1`

Scott

[2016-06-06 07:11] luigidellaquila commented on #6250
Hi @mmacfadden

Thank you very much for the detailed info.
I'll work on it asap

Thanks

Luigi

[2016-06-06 08:47] taburet commented on #6249
Fixed in develop branch. Engines initialisation is now postponed. Removed initialization logic from OGlobalConfiguration. Unfortunately, plocal and memory engines initialization logic cannot be separated  because they have dependency on shared instance of OByteBufferPool which cannot be reconfigured once created. Added tests on Orient's engine management.

[2016-06-06 08:47] #6249 closed

[2016-06-06 09:04] G4br13l3 opened #6260 "Teleporter integration in EE distro"
Teleporter integration in OrientDB 2.2.1 EE distro needed.

[2016-06-06 09:18] luigidellaquila commented on #4663
Hi @boriswexler

This is already fixed in v 2.2.
For the limited depth of the path traversal, in v 2.2 we have `astar()` function that allows to do this.

I'm closing it, please reopen if you see any other problems

Thanks

Luigi

[2016-06-06 09:18] #4663 closed

[2016-06-06 09:39] lucafrosini opened #6261 "CREATE VERTEX fails, INSERT INTO works"
## Expected behavior and actual behavior

com.orientechnologies.orient.core.exception.OValidationException: The field 'MyVertex.test' has been declared as EMBEDDED but an incompatible type is used. Value: {name=Luca}
	Storage URL="plocal:/home/lucafrosini/workspace/orientdb-community-2.2.0/databases/test" [ONetworkProtocolHttpDb]

## Steps to reproduce the problem
[code]

These queries fail:
[code

[2016-06-06 09:43] taburet commented on #6239
Fixed on 2.1.x and develop branches. Added tests to verify OStorageAbstract allows commas in paths but not in the names.

[2016-06-06 09:43] #6239 closed

[2016-06-06 09:49] jwgmeligmeyling opened #6262 "Tree traversal unexpectedly slow with HTTP connections"
## Expected behavior and actual behavior

Considering a simple tree structure, with vertices connected with `Child` edges, and each vertex having about 5 children, with a total of 5 levels, resulting in 2.500 vertices. Doing a simple _list all_ query as follows:

[code]

Takes as much as `800 ms`. For a simple traversal as this, I find this unacceptably slow. I would expect it to be in the range o

[2016-06-06 09:50] laa commented on #6204
Hi @kerner1000 , any updates ?

[2016-06-06 10:02] luigidellaquila commented on #3476
Hi @johndavids

Fixed in develop branch, the fix will be released in v 2.2.1

Thanks

Luigi

[2016-06-06 10:02] #3476 closed

[2016-06-06 10:03] basdek commented on #6262
Let me add some more details to this issue, since JWGmeligMeyling is a colleague of mine and we are working together on set query.

The tree is pyramidic in form, with no cycles:

[code]

There is no apparent difference between a gremlin query and an OSQL query.

The most devastatingly frightening detail is that this seems to scale in O(n) wherein n is the amount of records, which is absolutely no

[2016-06-06 10:06] luigidellaquila commented on #6262
Hi @JWGmeligMeyling

Is it with warm or cold cache?

Could you please try to run this an post the result:

[code]

Please do it twice, I'm interested in seeing the difference of the two

Thanks

Luigi

[2016-06-06 10:13] JWGmeligMeyling commented on #6262
Now the cache is hot the query time seems to decrease to +/- `330 ms`. Which is still high, but considerably closer to the query time for just selecting all vertices of that type.

First explain:
[code]

Second explain:
[code]

[2016-06-06 10:14] laa commented on #6210
@ghatwala sorry I have failed to run given configuration. Is it possible to debug till the line where tests are crashed and send me this line ? You may start from com.orientechnologies.orient.core.Orient#startup.

[2016-06-06 10:14] lucafrosini commented on #6261
I tryed to reproduce the problem using Java classes:

[code]

The following exception occurs on
[code]

[code]

[2016-06-06 10:17] kerner1000 commented on #6204
Hi @laa ,
I refactored the code as shown in your example but I am afraid we are still confronted with this issue.
I was thinking a lot about this and I guess the problem is somewhere else.
That is because we re-load the complete database after each modification, using

<pre>
/**
	 * Retrieves all documents for given class name.
	 *
	 * @param className
	 *            for which all documents should

[2016-06-06 10:27] ghatwala commented on #6210
@laa -  sorry , but i am not clear as to what information you need as of now , can you please elaborate little bit more ?

[2016-06-06 10:36] luigidellaquila commented on #6262
Hi @JWGmeligMeyling

From the explain the query execution time is 209ms (first run) and 126ms (second run), all the rest is network communication and record marshalling/unmarshalling.
This is the actual performance you would have if you ran your queries from an embedded OrientDB instance (http://orientdb.com/docs/2.2/Embedded-Server.html)

If your use case allows it (eg. if you have no properties

[2016-06-06 10:37] laa commented on #6234
@srthecodexpress it is hard to understand the reason of this issue without initial data. Could you propose us any approach to reproduce the same state of data in the index ?

[2016-06-06 10:38] laa commented on #6226
@jamieb22 If this situation happens again, could you do not restart the server but reach me through Skype so that we will investigate server state?

[2016-06-06 10:38] luigidellaquila commented on #6261
Hi @lucafrosini

Thank you very much for reporting, I just fixed it in develop branch (next v 2.2.1).

Now INSERT and CREATE VERTEX work in the same way:

the following have the same effect:
[code]

But for the following, you have to explicitly declare the inner field as embedded, using `@type=d` and the class name:
[code]

Thanks

Luigi

[2016-06-06 10:38] #6261 closed

[2016-06-06 10:41] basdek commented on #6262
@JWGmeligMeyling @luigidellaquila Retrieving 2600 vertices plain and simple with a ``` select from ClusterName limit 3000``` should not take so long now should it?

``` select from Scope limit 40000 ```

[code]

Should I open a second issue for that?

[2016-06-06 10:45] tglman commented on #6259
hi @Ostico,

Can you attach here the byte content of the old token, so i can fix the parsing and provide a correct error.
Be aware that the token is not supposed to be compatible cross versions.

Bye

[2016-06-06 10:45] laa commented on #6204
@kerner1000 what do you do with the iterator? You see cache is cleared when we close connection, so there is no need to reload cache.

[2016-06-06 10:49] luigidellaquila commented on #6262
@basdek

Which client are you using? Are you from OrientDB Studio or from a remote server?

That second of execution is 98% network communication, the query actually took 21ms to execute  (see `"elapsed": 21.829865` in the explain result)

Thanks

Luigi

[2016-06-06 10:50] luigidellaquila commented on #6262
(and rendering maybe, if you are in Studio)

[2016-06-06 10:56] basdek commented on #6262
@luigidellaquila Using orient studio, on a LOCAL db (so virtually no network overhead), and on a very very fast machine on an M2 hard drive that is also very fast.

How should I read the timing indicator in Orient Studio? Because it says: 1.5 seconds. And you are telling me that it takes 21ms. Would this not imply that the timing indicator in studio is useless?

[2016-06-06 10:59] JWGmeligMeyling commented on #6262
Very interesting, so it seems that most time is spent in getting the answer to the web interface, and not necessarily in querying... So we should be able to sharp off some seconds by optimizing query output. Wheras using light edges will improve query time (I am not sure how much), it seems  that we will not get under this 200 ms query time, and that this query time will scale linearly with our nu

[2016-06-06 11:03] kerner1000 commented on #6204
Hm, this is strange. I refactored already everything to use a ConnectionPool, so the cache should be cleared automatically.
This is what we do with the loaded documents (as mentioned, I had to re-added the 'clear cache' command):
<pre>
db.acquire().getLocalCache().invalidate();
int lpCnt = 0, pCnt = 0;
Iterator<ODocument> documentIterator = new DatabasesOrientDBChromIdent(db).getAll(LibraryPeakDoc

[2016-06-06 11:04] laa commented on #6210
@ghatwala I need the number of the line which causes JVM crash. I tried to replicate your environment using QEMU but without any success.  So only way which I can see now if you debug tests and provide this number for me. WDYT ?

[2016-06-06 11:18] a-unite opened #6263 "2.2: comma is not allowed in custom value (can't add custom attribute with multiple values for the class or property)"
## Expected behavior and actual behavior

These queries used to work before 2.2.0:

`ALTER CLASS v CUSTOM attirbutes=attribute1,attribute2`
`ALTER PROPERTY x.p CUSTOM attirbutes=attribute1,attribute2`

Not true for 2.2.0 anymore.

`ALTER CLASS v CUSTOM attirbutes=attribute1` works as expected.

## Steps to reproduce the problem
Example of the syntax discussed (with comma, not quoted) could be foun

[2016-06-06 11:20] luigidellaquila commented on #6263
Hi @a-unite

Custom attributes are just strings, you can use the following syntax (quoted value):
[code]

Thanks

Luigi

[2016-06-06 11:21] laa commented on #6204
@kerner1000 code seems ok. But if you still have an invalid cache at the beginning of operation probably it is not closed somewhere. Could you debug and check that open and close calls are matched everywhere ?

[2016-06-06 11:50] laa commented on #6194
@vlasni I have noticed one thing. You have two servers on the same instance and both running. But your memory enough only for one server instance. Why do you have 2 instances ?

[2016-06-06 11:52] laa commented on #6194
@vlasni could you send results of  *iostat -dxk .* but run only one server ?

[2016-06-06 11:54] a-unite commented on #6263
@luigidellaquila, thanks!

I know this, of course, but could you please give us an idea, if it is intended behaviour and will stay there for the future.

Because we will have, then, to rewrite our API to skip escaped quotas in result of the way you proposed:
`{"attirbutes":"\"attribute1,attribute2\""}`
(documentation (see above) might need to be reviewed too, I think)

Actually, my first thoughts

[2016-06-06 11:55] tglman commented on #4947
Hi,

I fixed that issue in 2.2 some time ago: https://github.com/orientechnologies/orientdb/commit/e2d98a6c7fbd747446c2df1bf8b3d5616573ad32, just ported the fix in 2.1 as well, closing this.

will be out with 2.1.20

[2016-06-06 11:55] #4947 closed

[2016-06-06 11:57] basdek commented on #6262
@luigidellaquila

This raises a couple of new questions:

- With regards to the cache? What is the eviction strategy? Is this influenceable? How do we take control over the cache?

- Could I perhaps cache adjacencies of a certain class?

- I assume that if I change one vertex this invalidates the cache. So a cache seems an invalid answer to the problem: I am almost never executing such a query twi

[2016-06-06 11:58] tglman commented on #5786
Hi,

Waiting for a reply since a while, we fixed few issue on that part since this report, so i'm closing this, add more info if is still reproducible, we will reopen in case.

Regards

[2016-06-06 11:58] #5786 closed

[2016-06-06 12:02] vlasni commented on #6194
Hi Andrey
Excuse my ignorance, but how do I figure out there are two instances
running?
There shouldn't be, it's not intended to be that way.
Thanks
El jun. 6, 2016 8:50 AM, "Andrey Lomakin" <notifications@github.com>
escribió:

[2016-06-06 12:06] laa commented on #6194
@vlasni but iotop shows 2 different server instances with different pids.

[2016-06-06 12:06] kerner1000 commented on #6204
Ok, I will try that!
I will pull the sources and set a breakpoint in the `ODatabaseDocument` class.

[2016-06-06 12:13] grexe commented on #4120
Is the Migration support specific to the JS backend? Why isn't this available in the Java API?
https://github.com/orientechnologies/orientjs#migrations
Then I could just use the OrientDB.Migration.Manager and implement the interfaces.

[2016-06-06 12:22] luigidellaquila commented on #6263
Hi @a-unite

The API is there to stay, the value of a custom variable is a string, so it has to be passed as a string (with single or double quotes). In next versions we will also allow full expression definition as the right value, eg (not yet supported) `ALTER CLASS v CUSTOM attirbutes = myFunction() + "foo" + $contextVar`

But I don't get how you are using that, where did you find `{"attirbutes

[2016-06-06 12:46] a-unite commented on #6263
@luigidellaquila,
thank you!
Will rewrite this part then, before migration to v2.2.

Sorry I had to explain that `{"attirbutes":"\"attribute1,attribute2\""}` is result of the query:

`select customFields from (select expand(classes) from metadata:schema) where name='V'`

which is applied to check customsFields added by customs quoted (`ALTER CLASS v CUSTOM attirbutes="attribute1,attribute2"`).

OK

[2016-06-06 12:53] basdek commented on #6262
With regards to the suggestion of using light weight edges? That is sort of a last resort I think. Cause it reduces a lot of why a graph db is such a beautiful thing: relations as first class citizens.

[2016-06-06 13:11] smolinari commented on #6262
@basdek - If you don't need any properties on the edges, then you are much better off using lightweight edges, as then ODB only has to deal with 2 links in two classes to form the edges, instead of 6 links in three classes (as is the case with regular edges). With lightweight edges, the relationships, are still first class citizens, just not as "informational".

As for your concerns about ODB's pe

[2016-06-06 13:13] basdek commented on #6262
@smolinari

[2016-06-06 13:28] mmacfadden commented on #5360
Hello, I just noticed that it looks like the PR that fixed this initial issue was reverted.  Was there a specific reason?  If so I can take a stab at fixing any issues that were there.  Should this issue be reopened?

[2016-06-06 14:41] tglman commented on #5889
hi @martingg88,

I did some try with no luck, probably has been solved a while ago, in case can you give me the list of indexes that you have for the classes involved in the batch?

Regards

[2016-06-06 14:49] laa commented on #6038
Fixed

[2016-06-06 14:49] #6038 closed

[2016-06-06 14:57] luigidellaquila commented on #5360
Hi @mmacfadden

Sure, I'm reopening it now. I think I commented it somewhere, but I don't remember where exactly... the reason of the revert was a problem of coherence in the SQL grammar.

I think adding a comma between the properties will solve the incoherence

Thanks

Luigi

[2016-06-06 15:06] mmacfadden commented on #5360
@luigidellaquila,  Do you mean to say a comma between the various attributes of the property (e.g. MANDATORY, NOTNULL, etc.).  If so I can take a look at that.

[2016-06-06 15:09] tglman commented on #6057
Hi @lukeasrodgers,

Yes this should be already fixed, can you confirm also on your side ?

Bye

[2016-06-06 15:09] luigidellaquila commented on #5360
Yep, exactly. We should also fix the OrientSQL.jjt grammar (in 2.2 also DDL are managed by the new parser), but I can do it easily

Thanks

Luigi

[2016-06-06 15:11] mmacfadden commented on #5360
I am familiar with the grammar and the new parser, so I can take care of that also.  I will look at this asap.  We have a lot of scripts where we are defining schema, this syntax would greatly reduce the length!!

[2016-06-06 16:01] lukeasrodgers commented on #6057
@tglman I won't be able to confirm any time soon because we don't have an upgrade planned, but feel free to close this issue, and thanks for looking into it.

[2016-06-06 16:30] tglman commented on #5991
i noticed that was done a fix for make the init of default value at earlier, back-ported now https://github.com/orientechnologies/orientdb/commit/475c257091914e17a02630be8379c43425b775c7

closing

[2016-06-06 16:30] #5991 closed

[2016-06-06 17:03] zerovian opened #6264 ".cpm files grow uncontrollably during millions of adds and deletes"
## Expected behavior and actual behavior

I have a database in which we create some ~million records and then delete the old ones after a few hours a few days.  After a couple of days, the .pcl file size has stabilized since we end up creating and deleting the same number of records, and all the records are roughly the same size.  But the .cpm file continues to grow.

Can this be fixed or worked a

[2016-06-06 18:48] scg03 opened #6265 "OObjectLazyList.listIterator() should return customized ListIterator"
## Expected behavior and actual behavior

OObjectLazyList list;
// load a non-empty list from the db;
assert list.listIterator().next() !=null;

## Steps to reproduce the problem

## Important Questions

OObjectLazyList.listIterator() should return a customized ListIterator rather than the one defined in ArrayList.

### Runninng Mode
Embedded, using PLOCAL access mode

### Misc

### OrientDB Versi

[2016-06-07 04:23] ghatwala commented on #6210
@laa - I feel for now , to try out orient DB on ppc64le , we can use below approaches as of now

1. Comment out "OrientDB Core " test case and try out other test cases , there may be more failures we haven't encountered yet .Request you to let me know which part to comment out in code or create a seperate branch for me to evaluate other test cases.

2. To continue debugging this issue , please see

[2016-06-07 04:55] srthecodexpress commented on #6234
Sorry @laa for the delay in reply. This thing is quite essential to our technology, so I was trying other vendors.
I tried to debug the code. The error is emanating from the doPut method because somehow the binarySearch method is finding a valid index on the property when that property is null. As for the dbpedia datasets I used.
[Link:]( http://dbpedia.org/Downloads2015-04)
Take .nt files for all

[2016-06-07 05:07] laa commented on #6234
@srthecodexpress I think I may provide you a simple workaround for that case. Please create index but use not graph database but SQL command http://orientdb.com/docs/2.2/SQL-Create-Index.html and pass metadata { ignoreNullValues : true } . Could you provide feedback does it work?

[2016-06-07 05:44] laa commented on #6264
@zerovian It is known disadvantage of the current cluster. I suggest you to either truncate cluster instead of delete records or partition records between clusters and remove whole clusters.

[2016-06-07 06:06] srthecodexpress commented on #6234
@laa Ok. I will try that and let you know.

[2016-06-07 06:58] ghatwala commented on #6210
@laa -   i will install IBM's - JDK and try out the test cases . I do not have AIX - OS , so  will be trying out on ubuntu - ppc64le only . Please let me know if test cases pass at your end on non-oracle JDK ?

[2016-06-07 07:59] ghatwala commented on #6210
@laa - Have an update for you !!!
i tried out the orientDB build on ppc64le/ubuntu with ibm-jdk installed . I have some different build errors then openjdk , please have a look below
[code]
Build env is as below
[code]

Looks like at least the jvm crash issues are not occurring using IBM's-JDK , Can you please point to the way how to resolve above errors  ?

Regards,
Amit

[2016-06-07 08:36] laa commented on #6210
@ghatwala that is really cool. I will provide new code soon.

[2016-06-07 08:38] ghatwala commented on #6210
@laa - will await your new branched out code to test orientDB with IBM's-JDK.

[2016-06-07 09:35] luigidellaquila commented on #5294
Hi @mindnuts

I just fixed it in develop branch, the fix will be available in v 2.2.1.

@vlasni could you please test it on your dataset and see if it fixes your problem as well? In case could you please file a separate issue?

Thanks

Luigi

[2016-06-07 09:35] #5294 closed

[2016-06-07 09:50] luigidellaquila commented on #6265
Hi @scg03

What's the reason for this request? Is there a specific need behind it?

Thanks

Luigi

[2016-06-07 10:14] #6235 closed

[2016-06-07 10:14] luigidellaquila commented on #6235
Hi @torfranz

I just fixed it in develop branch, the fix will be available in 2.2.1.

The "WARNI" was due to the log configuration, you can change it from the /config folder if you want.

Anyway, please consider that Studio does not support live queries.

Thanks

Luigi

[2016-06-07 10:50] #6156 closed

[2016-06-07 10:50] luigidellaquila commented on #6156
Hi @vovagp

The error message contains some line feed to make the message comprehensible (ascii-like) in the logs. These characters are just encoded to unicode when written to json. The message is valid and comprehensible when rendered, try the following:

[code]

or

[code]

Thanks

Luigi

[2016-06-07 10:55] luigidellaquila commented on #6071
Hi @SatishAMP

This this help? Can i close this issue?

Thanks

Luigi

[2016-06-07 10:57] ghatwala commented on #6210
Hi @laa  - i did try latest nounsafe build and got below errors
[code]
Just to confirm the git branch
[code]

Any comments on the above errors

[2016-06-07 11:02] laa commented on #6210
Hi @ghatwala I have installed IMB J9 on Ubuntu too. Will try to reproduce given error.

[2016-06-07 11:47] abhimanyu-bitsgoa commented on #2915
@luigidellaquila  You saved my life . Thanks a lot !!!

[2016-06-07 11:59] lucafrosini commented on #6261
Thank you very much

[2016-06-07 12:31] #6260 closed

[2016-06-07 12:56] temilmg opened #6266 "Import using java api does not preserve rids"
## Steps to reproduce the problem

I have the following code:

OCommandOutputListener listener = new OCommandOutputListener() {
				public void onMessage(String iText) {
					System.out.println(iText);
				}
			};

ODatabaseImport importing = new ODatabaseImport(db, "tdan.gz", listener);
importing.setPreserveRids(true);
importing.setPreserveClusterIDs(true);
importing.importDatabase();
importing.c

[2016-06-07 13:05] temilmg opened #6267 "OSQLNonBlockingQuery not working"
## Steps to reproduce the problem
## Expected behavior and actual behavior

I tried using OSQLNonBlockingQuery but i get different errors when actually using the returned odocument  (see below).

[code]

java.lang.UnsupportedOperationException: Trying to iterate over a non-blocking query result
    at com.orientechnologies.orient.core.sql.query.OSQLNonBlockingQuery$ONonBlockingQueryFuture.iterator

[2016-06-07 14:15] #5987 closed

[2016-06-07 15:04] robfrank commented on #6189
This bug should be resolved and fix will be included in 2.2.1. In the meanwhile, can you test import from 2.1.x with latest snapshot:
https://oss.sonatype.org/content/repositories/snapshots/com/orientechnologies/orientdb-community/2.2.1-SNAPSHOT/

[2016-06-07 16:28] taburet commented on #6234
Fixed on develop branch, it was an issue with binary data manipulation. As far as I know, 2.2.1 is scheduled within next few days, the fix will be there.

[2016-06-07 16:31] recremd opened #6268 "Sorting a result set of expand()"
I've received the following question from our developers about a performance issue with sorting by an index.  Here are the details.

We have a problem by sorting a result set of "expand". It is not using the index of the original class and we don’t know how to solve this problem.

The User vertex has a FriendsWith edge between users. The User vertex also has a "HasPost" edge between the Post verte

[2016-06-07 16:57] joan38 commented on #2441
+1

[2016-06-07 18:04] matt-dyer commented on #6200
Any updates?  We are getting the same error after removing a node from the cluster and upgrading to v2.2.

thanks

[2016-06-08 04:19] laa opened #6269 "java.net.SocketException: Too many open files"
Hello

Log files have thousands of entries like this one:

java.net.SocketException: Too many open files
	at java.net.PlainSocketImpl.socketAccept(Native Method)
	at java.net.AbstractPlainSocketImpl.accept(AbstractPlainSocketImpl.java:409)
	at java.net.ServerSocket.implAccept(ServerSocket.java:545)
	at java.net.ServerSocket.accept(ServerSocket.java:513)
	at com.orientechnologies.orient.server.netw

[2016-06-08 04:56] quantonganh opened #6270 "storage.diskCache.bufferSize does not take effect?"
## Expected behavior and actual behavior

The upstart script:

[code]

Expected behavior: `storage.diskCache.bufferSize` should take effect instead of calling [autoConfigDiskCacheSize](https://github.com/orientechnologies/orientdb/blob/master/core/src/main/java/com/orientechnologies/orient/core/config/OGlobalConfiguration.java#L774).

## Steps to reproduce the problem

Install OrientDB 2.1.5 on a

[2016-06-08 06:34] luigidellaquila commented on #6268
Hi @recremd

I'm afraid it's not possible to use the index to do the sorting in this case. The expand returns a flat result-set that is the result of a traversal, and the traversal cannot rely on an index.

You can try to rewrite the query like follows:

[code]

This will use the index for sorting, but it will be much less efficient in general because it will have to traverse a lot of relationship

[2016-06-08 06:35] ghatwala commented on #6210
@laa - An update for you , "OrientDB Core "test case is passing now , however "OrientDB GraphDB" test is failing.

Please see the log snippet.
[code]
Env details
[code]
Git details
[code]
Thanks for the help in resolving the "Orient DB core  " test case failures .
Any pointers to resolve the " OrientDB GraphDB" test case failures ?

Regards,
Amit

[2016-06-08 08:33] #5938 closed

[2016-06-08 08:33] luigidellaquila commented on #5938
Hi @jlowenz

I just pushed a fix to develop branch, it will be released with 2.1.1.

Thanks

Luigi

[2016-06-08 08:37] luigidellaquila commented on #5932
Hi @jlowenz

We changed this default il v 2.2. Actually we made two changes:

1. all the indexes are now created with ignoreNullValues=false
2. if an index has ignoreNullValues=true, then it's not used for partial match, to avoid the problem you originally reported

Thanks

Luigi

[2016-06-08 08:37] #5932 closed

[2016-06-08 09:09] antonzherdev commented on #6189
@robfrank Yes, it's working well for me. Thanks!

[2016-06-08 10:00] #6189 closed

[2016-06-08 10:09] luigidellaquila commented on #5844
Hi @laa

it is already managed in the executor, see OCommandExecutorSQLSelect, row 550-560

Thanks

Luigi

[2016-06-08 10:38] tglman commented on #6266
hi @temilmg,

The option for preserve rids has been removed in more recent version, because is not possible force rid with plocal structure.

closing because impossible to fix.

[2016-06-08 10:38] #6266 closed

[2016-06-08 11:14] tglman commented on #6057
ok, closing, if you reproduce it again comment it we  will reopen

[2016-06-08 11:14] #6057 closed

[2016-06-08 11:30] taburet opened #6271 "Associated vertices considered new, not updated, by ODirtyManager while adding edge"
For some reason `ODirtyManager` thinks associated vertices are new, not updated, while connecting them with the edge using graph API. As a result vertices got reinserted into indexes/storage, screwing changes commit to unique ones.

I will create a branch with the attached test case in a few minutes.

[2016-06-08 11:32] taburet commented on #6271
Added issue-6271 branch containing the test case.

[2016-06-08 11:44] a-unite commented on #6263
Luigi,

to close this ticket - I would ask you to review and anounce your decision.

If current behaviour will stay - to make it consistent - we will have to rewrite logic, adding quotes to all kinds of current customs values (and adjust existing production and devs databases), then remove quotes (as they escaped and included in values) after schema reading.

But if syntax like `ALTER CLASS v CUST

[2016-06-08 12:00] taburet commented on #6243
There are two bugs affecting the expected behaviour in this issue, the one with null values mishandling while updating indexes, the other one is split in the separate #6271 issue. Will work on the first one under this issue.

[2016-06-08 12:17] tglman commented on #6190
hi @antonzherdev,

I wrote a test case, so i could be 100% sure that my suggestion where right, here it is:https://gist.github.com/tglman/e70de22120d9763cb7ed497dbd4a074d

so this work for sure, there is also a kind of 'emergency api' if you cannot remove the record anymore, but that's is the last option and it don't clean up indexes and staff like that, is  "ODatabaseDocument.hide(doc.getIdentity

[2016-06-08 13:11] ghatwala commented on #6210
@laa - Extra logged information to debug above error..
[code]
Any pointers ?

[2016-06-08 13:19] tglman commented on #6271
fixed and merged in develop, closing

[2016-06-08 13:19] #6271 closed

[2016-06-08 15:05] luigidellaquila commented on #5844
Hi @laa

I just pushed a fix that supports `SELECT ... LOCK SHARED` syntax. The executor part seems to be already there, but for sure it was never used, because the parsing layer has never supported it, so please take a look at OCommandExecutorSQLSelect, row 550-560 to make sure that everything is correct.

Thanks

Luigi

[2016-06-08 15:16] tglman commented on #5517
hi @sparkycrisse,

Any news about this ? did you try to do the same import with a newer version ?

[2016-06-08 15:19] tglman commented on #6177
closing this again, with 2.2.1 we fixed many other issue that could cause this.

[2016-06-08 15:37] luigidellaquila commented on #6263
Hi @a-unite

I can confirm that to set custom attributes you will have to use quotes.
Anyway there seems to be a bug somewhere: the values should be saved without quotes, so the result of the query should be `{"attirbutes":"attribute1,attribute2"}` and not `{"attirbutes":"\"attribute1,attribute2\""}`.

It already works fine for custom attributes of properties, so the bug seems to be only on custom

[2016-06-08 16:03] luigidellaquila commented on #6263
Hi @a-unite

I just pushed a fix, now the quoted custom values are correcty stored as plain strings (without quotes).
Please let me know if it solves your problem (or if it makes your migration easier)

Thanks

Luigi

[2016-06-08 16:17] tglman commented on #4966
Hi i tested it again in 2.2, it's still persist, but cannot be solved if not breaking the behaviour of the current sql result sets, as a workaround is sufficient to use an alias with a name that not match any fields of the record, ex : `SELECT *,pet.name  as petName from Person`

[2016-06-08 17:12] lvca commented on #6200
Hey @all,

I found a couple of cases where the rebalance wasn't called. Fixed in v2.2.1-SNAPSHOT (develop branch). Any chance you can try it before to release 2.2.1 tomorrow?

[2016-06-08 20:14] Eric24 commented on #3328
+1

[2016-06-08 20:19] voondo commented on #6200
It works !!! Thanks a lot :tada:

[2016-06-08 20:19] #6200 closed

[2016-06-08 22:22] Eric24 opened #6272 "Creating new Vertex that links existing Vertex in LINKMAP modifies existing Vertex"
Expected new Vertex to be created without modifying existing Vertex.

State before 'create vertex' (notice data in #23:1 Samples EMBEDDEDMAP property):

[code]

Command executed:
`create vertex VData content {"Children": {"234": {"@type":"d", "@class":"VData", "@rid": "#23:1"}}}`

State after 'create vertex' (notice incremented version and missing data in #23:1 Samples property):

[code]

Version

[2016-06-08 22:31] Eric24 opened #6273 "Syntax enhancement to PUT JSON data to a MAP property (embedded or link)"
Both of the following syntax options work (the first completely replaces the content of the Samples EMBEDDEDMAP property with the supplied JSON data, while the second adds a new item):
`update #23:0 set content {"Samples":{"00":{"@type":"d", "@class":"VSample", "Count": 1, "Scale": 0, "Sum16": 12345}}}
`

`update #23:0 put Samples = "00", {"@type":"d", "@class":"VSample", "Count": 1, "Scale": 0, "

[2016-06-08 23:03] austinsmorris commented on #2315
Any update on this?

[2016-06-08 23:12] Eric24 commented on #6272
PS - I verified that this issue affects any/all properties in the referenced Vertex. If any properties exist, they will be removed upon creating the new Vertex with the reference. But if the referenced Vertex does not contain any properties (i.e. the "empty" state it's left in after the create), then it is apparently untouched, as evidenced by the version number not being updated.

[2016-06-09 03:45] a-unite commented on #6263
Dear @luigidellaquila,
thank you very much!

From this moment forward we will always quote custom values. Refactoring will take some time, but consistency is much more important.

With my best regards,
Ata

[2016-06-09 03:52] #6263 closed

[2016-06-09 04:59] smolinari commented on #2315
:+1:

Scott

[2016-06-09 05:36] a-unite commented on #6263
BTW, I still think new syntax should be documented somewhere (at least altered [here](http://orientdb.com/docs/2.2/SQL-Alter-Class.html) for comma containing custom attribute's value), and, maybe, cases like `ALTER CLASS v CUSTOM c_attirbutes="c_value"` should be marked as deprecated.

[2016-06-09 08:18] krullert commented on #1930
+1

[2016-06-09 08:28] robfrank commented on #6169
I configured a job on our CI-infrastructure that builds and runs the tests suite using IBM-Jdk.
Stay tuned

[2016-06-09 08:33] robfrank commented on #5304
Hi, these problems with Lucene on Windows are fixed on the next 2.2.1 release

[2016-06-09 08:33] #5304 closed

[2016-06-09 08:42] luigidellaquila commented on #6263
Hi @a-unite

Good point, I'm updating the docs

Thanks

Luigi

[2016-06-09 08:56] robfrank commented on #5793
I've fixed errors for Lucene on windows, they will be in upcoming 2.2.1 release

[2016-06-09 08:57] #5793 closed

[2016-06-09 09:33] TomGroves opened #6274 "Error trying to open database"
## Expected behavior and actual behavior
`client.db_open( db_name, username, password )`
should open database, instead gives error:

`Traceback (most recent call last):
  File "FirstTest.py", line 18, in <module>
    client.db_open( db_name, username, password )
  File "/home/tom/MyProgs/TestingPyOrient/env/lib/python3.5/site-packages/pyorient/orient.py", line 379, in db_open
    .prepare((db_name

[2016-06-09 09:42] antonzherdev commented on #6190
Hi @tglman
I tried the solution and it's working for me.
The difference with your previous solution is that you are calling ORecordInternal.setIdentity instead of passing the identity as a constructor parameter. In this case it's working, with constructor parameter it's not.
Thanks!

[2016-06-09 10:05] laa commented on #6210
Hi @ghatwala
Could you try latest develop branch ?

[2016-06-09 10:12] abuising commented on #1930
+1

[2016-06-09 10:28] ghatwala commented on #6210
@laa -  if u were referring "develop" branch , its failing as before as "OrientDB core" test case , let me know if you want me to try out " nounsafe " branch ?

[2016-06-09 10:45] ghatwala commented on #6210
@laa -  the results for "nounsafe" branch
[code]
Build log snippet...
[code]

[2016-06-09 11:10] srthecodexpress commented on #6234
@laa The workaround you suggested doesn't work. I used Orient SQL commands from the console to create the schema and indexes as you suggested with metadata { ignoreNullValues : true } setting and then proceeded to upload the dbpedia graph. Still i am getting the same exception. (Actually ignoreNullValues : true are the default settings of the indexes as per the OrientDb docs, so I had my doubts al

[2016-06-09 11:14] laa commented on #6210
@ghatwala are you sure that develop branch is failing on you environment did you try the latest one? I have tried develop branch few hours ago and build was OK.

[2016-06-09 11:15] ghatwala commented on #6210
@laa - yes i did try , let me check " develop" branch afresh and try out the same, will update u quickly

[2016-06-09 11:38] tglman commented on #6190
Hi @antonzherdev,

Great that we got it done, can i close this now? we will take care to make this kind of errors easyer to recover from.

Bye

[2016-06-09 11:40] ghatwala commented on #6210
hi @laa - tried again the "develop" branch , i guess some commits are missing in this
[code]
Snappy java error was resolved i guess.
my env ..once again
[code]

[2016-06-09 12:01] ghatwala commented on #6210
hi @laa - i have confirme this too , by commenting out snappy java as the way u had done previously... and i get the same " orientDB- graphDB " tests failing

[code]

[2016-06-09 12:05] tglman commented on #5566
hi @kowalot,

Any news about this ?

[2016-06-09 12:17] tglman commented on #4764
hi,
Any news about this ? can i close ?

[2016-06-09 12:17] laa commented on #6210
@ghatwala could you provide full console output from the tests of develop branch ?

[2016-06-09 12:28] laa commented on #6234
@srthecodexpress we have changed default behaviour, seems like docs are  not updated. We will release 2.2.1 version today.

[2016-06-09 12:31] tglman commented on #5560
hi @alboll,

Yes orientdb use the class name as unique identifier so call a class 'System' is tricky because of `java.lang.System` i would say this is a limitation of the object database, so please just not use a class called 'System'

[2016-06-09 12:31] #5560 closed

[2016-06-09 12:32] laa commented on #6210
@ghatwala I can not understand do we build using develop branch , because in other issue you point to absolutely different tests failures.

[2016-06-09 12:37] ghatwala commented on #6210
@laa -  what i meant to say that i was getting same "orientDB-core" test case failures when i tested ur new "develop" branch , which i remember u had resolve by commenting out the snappy java test case  guess , to emphasize on this i had commented out the same in " develop "  branch code .

But shortly il send u the complete log the errors got using " develop " branch with no changes from my end.

[2016-06-09 12:37] laa commented on #6210
no, your changes for develop branch are ok. Could you send log with changes applied.

[2016-06-09 12:40] ghatwala commented on #6210
ok..sure , will send shortly

[2016-06-09 12:49] ghatwala commented on #6210
@laa - please see git status and log file attached of develop branch with changes applied
[code]
[completelog.txt](https://github.com/orientechnologies/orientdb/files/306903/completelog.txt).
PFA the complete log.

[2016-06-09 12:55] laa commented on #6210
@ghatwala could you run com.tinkerpop.blueprints.impls.orient.SimplePropertyLinkTest#testSimplePropertyLink as separate test ?

[2016-06-09 13:02] ghatwala commented on #6210
@laa -  i am sorry , but how do i run that test as a separate one , i have no clue on this , any steps/pointers will be helpful to run separate test.

[2016-06-09 13:04] temilmg opened #6275 "Error message in orientdb studo"
![orientdbstudiobug2](https://cloud.githubusercontent.com/assets/3005511/15930129/7a4b18e2-2e51-11e6-8758-f041f77aa280.png)

## Expected behavior and actual behavior
Error message must not get so big that you cant close the dialog.
To continue you need to refresh the browser and then you loose the queries you were working on.

## Steps to reproduce the problem
I forgot to report this bug a couple

[2016-06-09 13:08] ghatwala commented on #6210
@laa - i guess this is what u requested
[code]
Let me know if u needed any more info or did i test it wrongly ?

[2016-06-09 13:13] laa commented on #6210
@ghatwala few seconds I will send you command

[2016-06-09 13:14] maggiolo00 commented on #6275
hi @temilmg
we did fix this in 2.2.x. Let me check if can back port it.

[2016-06-09 13:14] laa commented on #6210
@ghatwala change current directory to graphdb and then run the command

`mvn test -Dtest=SimplePropertyLinkTest`

[2016-06-09 13:16] tglman commented on #3798
hi @RoarN,

I ran this with 2.2 and seems to go smoothly, probably has been fixed long time ago, closing

[2016-06-09 13:16] #3798 closed

[2016-06-09 13:17] ghatwala commented on #6210
@laa : thanks , please see the log below

[code]

[2016-06-09 13:19] ghatwala commented on #6210
@laa : sorry will retest and send

[2016-06-09 13:20] temilmg commented on #6275
Its really just a minor issue which rarely happens, so its not a big deal for me if you cant back port it.

[2016-06-09 13:21] ghatwala commented on #6210
@laa - here's the updated test results
[code]

[2016-06-09 13:26] laa commented on #6210
@ghatwala hm it succeeds if we run a single test and fails if we run it together with other classes.
Let's do following then. Before line `assertTrue(((OIdentifiable) graph.getVertex(v1.getIdentity()).getProperty("link")).getIdentity().isPersistent());`
please add line:
`System.out.println("SimplePropertyLinkTest link " + graph.getVertex(v1.getIdentity()).getProperty("link"));`
run whole test suit

[2016-06-09 13:27] maggiolo00 commented on #6275
You can use the browser zoom when it happens :D

[2016-06-09 13:28] ghatwala commented on #6210
@laa - ok, hold on please , will update soon

[2016-06-09 13:29] rishi3195 opened #6276 "Performance Issue with 2.2"
## Expected behavior and actual behavior

With 2.2, performance is supposed to improve but has worsened..
I have a huge flat file with lakhs of records. I want to load same in orientDB. with 2.1.8, it used to take 4 hours but with 2.2, it was not even completed in 12 hours.
## Steps to reproduce the problem

[LoadUII.txt](https://github.com/orientechnologies/orientdb/files/306968/LoadUII.txt)
## I

[2016-06-09 13:37] ghatwala commented on #6210
@laa : complete log for reference
[completelog.txt](https://github.com/orientechnologies/orientdb/files/306986/completelog.txt)

[2016-06-09 13:37] maggiolo00 commented on #6276
hi @rishi3195

can you share also the file or part of it?

Thanks

[2016-06-09 13:37] temilmg commented on #6275
Yes good idea, thank you!

[2016-06-09 13:49] laa commented on #6210
@ghatwala could you change now this line to the `System.out.println("SimplePropertyLinkTest link " + graph.getVertex(v1.getIdentity()).getProperty("link").getClass());`  and run the test ?

[2016-06-09 13:55] rishi3195 commented on #6276
file has 9252936  no records.
It is CSV file, with just 2 String columns
SERVICE_INSTANCE_ID,ROOT_SERVICE_INSTANCE_ID
BBEU00017258,IPSV00008878
BBEU00017290,IPSV00014566

[2016-06-09 14:00] maggiolo00 commented on #6276
are your you working in remote right?

[2016-06-09 14:01] rishi3195 commented on #6276
Yes
On 9 Jun 2016 19:30, "Enrico Risa" <notifications@github.com> wrote:

[2016-06-09 14:06] maggiolo00 commented on #6276
With the same code in 2.2. is slower?
I'm trying to run your code. i will  keep you posted

[2016-06-09 14:06] maggiolo00 commented on #6276
Do you have some stats of records/secs?

[2016-06-09 14:23] maggiolo00 commented on #6276
Do you have the same schema?
check the indexes

[2016-06-09 14:28] Eric24 commented on #6272
PPS - I tried one more test: If I create the new Vertex first, without including the Children property, and then later update the new Vertex and update the Children property (using PUT), it adds the reference without affecting the referenced Vertex. So the issue appears to only happen if the reference is included in the initial create operation.

[2016-06-09 14:44] Eric24 commented on #6273
Strange things happening... Yesterday, I was able to execute this statement (in Studio):

`update #23:0 set content {"Samples":{"00":{"@type":"d", "@class":"VSample", "Count": 1, "Scale": 0, "Sum16": 12345}}}`

But today, it fails (the parser complains about not expecting "update in column 1"). I can still execute the "put" version just fine. Is there something wrong with this syntax?

The only di

[2016-06-09 14:50] Eric24 commented on #6272
Also, just to confirm that this wasn't specifically related to 'create vertex', I tried this approach too:

`insert into VData content {"Children": {"234": {"@type":"d", "@class":"VData", "@rid": "#23:1"}}}`

Which has the same effect of "clearing" any existing properties from the referenced rid.

[2016-06-09 14:50] luigidellaquila commented on #5775
Hi @Ivanov-Yuriy

I'm working on it, but I found another little problem:

[code]

@tglman this is for you ;-)

Thanks

Luigi

[2016-06-09 14:54] Eric24 commented on #6264
Question: So this isn't really limited to "millions of records", right? In other words, the .cpm file will grow forever as any records are added and deleted over time (until a truncate)? If so, that's a fairly gross maintenance requirement. Are any improvements to this "known disadvantage" on the road map?

[2016-06-09 15:03] #5736 closed

[2016-06-09 15:03] luigidellaquila commented on #5736
Hi @publicocean0

It seems to work fine here (v.2.2). If there was a bug, it's already fixed.

Maybe the problem was due to the `$`

I defined the function with input param = `a` and with body `return a;`

Thanks

Luigi

[2016-06-09 15:14] #5583 closed

[2016-06-09 15:14] luigidellaquila commented on #5583
Hi @guglielmomoretti

This issue was fixed in v 2.2.1

Closing

Thanks

Luigi

[2016-06-09 15:35] luigidellaquila commented on #5086
HI @finid

This should be already fixed in latest stable, could you please confirm?

Thanks

Luigi

[2016-06-09 15:41] luigidellaquila commented on #4946
Hi @iw2rmb

I'm closing this issue, please reopen if you see any related problems

Thanks

Luigi

[2016-06-09 15:41] #4946 closed

[2016-06-09 15:45] #4846 closed

[2016-06-09 15:45] luigidellaquila commented on #4846
Hi @67726e

This issue was fixed long time ago. I'm closing it, please reopen if you still see any similar problems

Thanks

Luigi

[2016-06-09 15:47] luigidellaquila commented on #4837
Hi guys,

I'm closing this issue, please reopen if you still see any similar problems

Thanks

Luigi

[2016-06-09 15:53] #4724 closed

[2016-06-09 15:53] luigidellaquila commented on #4724
Hi @ryan-stateless

In latest stable version, properties that contain special characters have to be back-tick quotes, eg.

[code]

I'm closing this issue, please reopen if you need further clarifications

Thanks

Luigi

[2016-06-09 16:01] luigidellaquila commented on #4647
Hi @nidaca

This issue was fixed months ago, could you please confirm that the fix is also effective in your use case?

Thanks

Luigi

[2016-06-09 16:20] maggiolo00 commented on #6159
Implemented

[2016-06-09 16:20] #6159 closed

[2016-06-09 16:20] maggiolo00 commented on #6212
Implemented

[2016-06-09 16:20] #6212 closed

[2016-06-09 16:22] Eric24 commented on #6272
One more test that I thought of: If I do the same operation in a custom function (below), it works just fine (and no difference between 'create vertex' and 'insert into').
[code]

[2016-06-09 16:38] #5934 closed

[2016-06-09 16:38] maggiolo00 commented on #5934
Ok thanks @saeedtabrizi

closing this

[2016-06-09 16:42] #5774 closed

[2016-06-09 16:42] maggiolo00 commented on #5774
Ok @sinfex.
BTW tested with orientjs 2.2.0 and OrientDB 2.2.0 GA and works without problem
Thanks

[2016-06-09 17:02] maggiolo00 commented on #5624
@healiseu  @smolinari
i will try to implement this for 2.2.2.

[2016-06-09 17:09] maggiolo00 commented on #5289
@StarpTech

do you still have this issue?

[2016-06-09 17:12] maggiolo00 commented on #5272
@bodiam
i cannot reproduce it. Studio does some manipulation of the result set like for edges but the fields should be in the same position as the raw json.

[2016-06-09 19:31] basdek commented on #6262
@smolinari @luigidellaquila

After some consideration and trial and error, this is my take on the problem:

* Marshalling has immense penalties (which are in it's self a painful problem, that I think orient should adress).

* The query time results of this query are quite decent if you do not marshall - it is very arguable that it is quite an artificial / sketchy measuring technique to conclude th

[2016-06-09 20:38] mmacfadden opened #6277 "Import Database Fails if DEFAULT is set on any property"
In 2.2.0, you can not import a database that had a default value set for one of the properties. There is a problem in the 2.2.0 version of ODatabasImport.

Starting on line 989:

[code]

Notice that when we get default-value we set collate.  This results in a null pointer exception later on in the code.

I noted that in the develop branch, commit 1b0f490c28a9778a74703a4adde48f7066667140 actually f

[2016-06-09 20:41] mmacfadden commented on #6256
+1

[2016-06-10 05:00] rishi3195 commented on #6276
on 2.1.8 : 25 K records/minute
2.2 : ranges from 5 minutes to 10 minutes.. as size grows larger
Schema and index are exaclty same

[2016-06-10 05:22] laa commented on #6090
Close it as duplication

[2016-06-10 05:22] #6090 closed

[2016-06-10 05:23] laa commented on #6126
Close it as duplication

[2016-06-10 05:23] #6126 closed

[2016-06-10 05:23] laa commented on #6084
Close issue because of no reply. If you reproduce given issue and have information which is requested in issue feel free to reopen it.

[2016-06-10 05:23] #6084 closed

[2016-06-10 05:26] antonzherdev commented on #6190
@tglman Yes, sure. Thank!

[2016-06-10 05:26] #6190 closed

[2016-06-10 05:39] smolinari commented on #6090
@laa - Hey Andrey. Duplicate of what? Can you reference the other issue please? :smile:

Thanks....

Scott

[2016-06-10 06:05] laa commented on #6264
Hi,
We probably will add fix for this issue in 3.0 version with new cluster
implementation , but I can not promise right now.

On Thu, Jun 9, 2016 at 5:54 PM Eric Lenington <notifications@github.com>
wrote:

--
Best regards,
Andrey Lomakin, R&D lead.
OrientDB Ltd

twitter: @Andrey_Lomakin
linkedin: https://ua.linkedin.com/in/andreylomakin
blogger: http://andreylomakin.blogspot.com/

[2016-06-10 06:12] laa commented on #6276
@rishi3195 do you use embedded database, do not you ?

[2016-06-10 06:24] mmacfadden opened #6278 "Can not CREATE / ALTER / DROP SEQUENCE in OCommandScript"
## Expected behavior and actual behavior
A statement such as ```CREATE SEQUENCE mySeq TYPE ORDERED``` should be able to be executed but instead throws an exception:

[code]

The issue here is actually with the parser.  The parseScript method defined in the Grammar contains the following:

[code]

The key here is the StatementSemicolon() call in the LOOKAHEAD which is defined as follows:

[code]

T

[2016-06-10 06:46] rishi3195 commented on #6276
No.. for either version

[2016-06-10 07:06] laa commented on #6276
@rishi3195 in such case to identify the problem, could you run your benchmark on embedded database too? Please do not forget to set   --XX:MaxDirectMemory:512g parameter to avoid performance slowdown.

[2016-06-10 07:30] ghatwala commented on #6210
@laa - i did above change ran the test , pfa the updated.log
[completelog.txt](https://github.com/orientechnologies/orientdb/files/308548/completelog.txt)

[2016-06-10 07:32] ghatwala commented on #6210
@laa - please see the error snippet :+1:
# mvn clean install
[code]

[2016-06-10 07:34] smolinari commented on #6264
Does the syncing done while adding a server node in a cluster remove unused disk space caused by deletions by chance? I realize that isn't a possible solution for everyone, but those using multiple nodes/ an ODB cluster might find it useful to reclaim disk space through a node rotation (should such a growing of file data be a problem). This kind of node rotation to compact the files is possible wh

[2016-06-10 07:50] luigidellaquila commented on #6278
Hi @mmacfadden

Thank you for pointing it out, I'm fixing it now

Thanks

Luigi

[2016-06-10 08:14] laa commented on #6210
@ghatwala is `java.lang.ClassCastException:` result of running of `graph.getVertex(v1.getIdentity()).getProperty("link").getClass())` ?

[2016-06-10 08:16] #5271 closed

[2016-06-10 08:30] liuchuan-ncs opened #6279 "OrientDB Backup/Recovery/Data Purging script and documentation"
Hi,

I'd request for documentation/script for OrientDB backup/recovery/purging. This is required in the operational environment as part of customer's requirement. Thanks!

[2016-06-10 09:11] rishi3195 commented on #6276
@laa if on 2.1.8 wihout embedded database its giving me 25k/minute it is supposed to improve on 2.2 and not worsen with same configuration i.e. without embedded database

[2016-06-10 09:13] laa commented on #6276
@rishi3195 I am trying to understand whether problem is located inside of storage or inside of remote storage. Could you kindly help me on that ?

[2016-06-10 09:17] rishi3195 commented on #6276
i have already posted my code, you can create a sample DB class and give it a try at your end please

[2016-06-10 09:47] lvca commented on #6258
@Ostico the `CREATE CLASS` command always returned the total classes in database. Probably before 2.2 it worked because, as @smolinari suggested, the classes/clusters number were always the same by default.

[2016-06-10 09:47] #6258 closed

[2016-06-10 10:09] #3840 closed

[2016-06-10 10:54] #4707 closed

[2016-06-10 10:55] Vannav opened #6280 ".OConcurrentModificationException: Cannot UPDATE the record #0:1 because the version is not the latest."
## Expected behavior and actual behavior

Creating a new class in Orient Studio does fail [Screenshot](http://i.imgur.com/JB7wn1F.png)

### Runninng Mode
- [ ] Embedded, using PLOCAL access mode
- [ ] Embedded, using MEMORY access mode
- [x] Remote

### Misc
- [ ] I have a distributed setup with multiple servers. How many?
- [ ] I'm using the Enterprise Edition

### OrientDB Version
- [ ] v2.0.x -

[2016-06-10 10:58] maggiolo00 commented on #6280
hi @Vannav
with 2.2.0 GA?

Is the db old or freshly created?

[2016-06-10 11:00] Vannav commented on #6280
Hi @maggiolo00
yep, 2.2.0 from maven repository and its a old db

[2016-06-10 11:09] maggiolo00 commented on #6280
hi @Vannav

do you do schema modification in concurrency?

[2016-06-10 11:09] maggiolo00 commented on #6280
Sorry closed by mistake :D

[2016-06-10 11:13] smolinari commented on #6258
@lvca - The issue is, however, the returned cluster number of the "My_Class" cluster is now a "parent cluster" (for a lack of a better name) under "V", which is cluster "11" or "v_2". Whereas the `CREATE CLASS` should return either one or all of the new clusters numbers for "My_Class" (i.e. 17, 18, 19 or 20).

I'd say this is a bug, wouldn't you?

Scott

[2016-06-10 11:14] Vannav commented on #6280
Nothing is running concurrently right now. I just wanted to test if studio works because I'm failing on the same exception with either on `dropProperty` or `createProperty`

               if( documentClass.existsProperty( propertyName ) )
               {
                  documentClass.dropProperty( propertyName );

                 // Adding this to force reload of schema
                  db.r

[2016-06-10 11:16] codelimner opened #6281 "SELECT query WHERE clause"
## Expected behavior and actual behavior

Select query behaves differently when filtering with " WHERE A = B" compared to " WHERE B = A".
## Steps to reproduce the problem

1) Start OrientDB console (2.2.1-Snapshot from develop)
2) Connect to GratefulDeadConcerts
3) Then run the following query:
orientdb {db=GratefulDeadConcerts}> SELECT name FROM V WHERE "song"=type AND OUT("sung_by").name="Beach

[2016-06-10 11:16] maggiolo00 commented on #6280
Do you have a test case to reproduce this issue?

[2016-06-10 11:21] Vannav commented on #6280
I think a testcase wouldn't suffice. I tried it now on a fresh db and works as expected. I think the old db didn't survive the upgrade to 2.2

[2016-06-10 11:25] luigidellaquila commented on #6280
Hi @Vannav

Does that db contain sensitive data? Is there any chance to have it for debugging?

Thanks

Luigi

[2016-06-10 11:30] maggiolo00 commented on #4279
@zifnab87
that is because Studio graph mode render automatically lightweight edges (direct vertices rids).
That is why  you see more nodes that in the Browse mode.

The Graph view will be refactored with the usage of another api to get the results in Graph format

https://github.com/orientechnologies/orientdb/issues/6214

[2016-06-10 11:30] #4279 closed

[2016-06-10 11:30] codelimner opened #6282 "SELECT returns very different results for equivalent queries"
## Expected behavior and actual behavior

SELECT queries expected to return equivalent results instead produce very different results.

## Steps to reproduce the problem

1)  Start orientdb console and connect to GratefulDeadConcerts database. (v2.2.1-SNAPSHOT from develop).

In the next two queries (which I believe to be equivalent),  I am trying to list all singers that have sung a song written

[2016-06-10 11:39] #2014 closed

[2016-06-10 11:39] maggiolo00 commented on #2014
Fixed long time ago with media queries on header menu

[2016-06-10 11:39] maggiolo00 commented on #2336
hi @Silur
i know we will target this in 3.0

[2016-06-10 11:43] #3806 closed

[2016-06-10 11:43] maggiolo00 commented on #3806
Tested in 2.2.x and it has been fixed.

Thanks

[2016-06-10 11:44] maggiolo00 commented on #4139
@StarpTech

do you still need help on this?

[2016-06-10 12:50] lvca commented on #6258
The CREATE CLASS command historically always returned the number of all the classes present in the database. I know, it's worthless as information.

[2016-06-10 12:52] lvca commented on #6279
To purge data, you could always use the OrientDB SCHEDULER. Look at this example: http://orientdb.com/docs/last/Scheduler.html#1-create-a-function

[2016-06-10 12:52] luigidellaquila commented on #6278
Hi @mmacfadden

I just pushed a fix on develop branch, it will be released with 2.2.1

Thanks

Luigi

[2016-06-10 12:52] #6278 closed

[2016-06-10 12:54] maggiolo00 commented on #6112
hi @Manjiri0410
this has been fixed in develop branch of orientdb-studio. It will be available in 2.2.1 that will be released the next week

[2016-06-10 12:54] #6112 closed

[2016-06-10 13:10] smolinari commented on #6258
Hehe...so it was just a coincidence, that the total number was also the number of the last cluster created too. Oh boy. If people used that return data for any kind of logic, I can see them now having real issues.

Scott

[2016-06-10 13:26] luigidellaquila commented on #6282
Hi @codelimner

You should not use `=` operator against expressions that can return multiple values (in case more than one value is returned, the = won't match), you should use CONTAINS instead.

Please try the following and let me know:
[code]

Thanks

Luigi

[2016-06-10 13:28] luigidellaquila commented on #6281
Hi @codelimner

Probably it's a problem in the current query execution layer. I don't know if it can be easily fixed in the short term, we have in our roadmap a complete rewrite of the engine.

Thanks

Luigi

[2016-06-10 13:29] Vannav commented on #6280
Hi @luigidellaquila

unfortunately it has alot sensitive data. I'm going to migrate it to a fresh database and report back.

Thanks for your input guys and keep up the good work!

[2016-06-10 13:37] maggiolo00 commented on #6282
@codelimner

BTW from 2.2 you could use pattern matching like this

[code]
See here for docs
http://orientdb.com/docs/2.2/SQL-Match.html

[2016-06-10 13:48] luigidellaquila commented on #6280
Hi @Vannav

Ok, no problem, thank you anyway.

Luigi

[2016-06-10 13:59] tglman commented on #5775
fixed all the cases, closing

[2016-06-10 13:59] #5775 closed

[2016-06-10 14:01] laa commented on #6210
It seems like serialization issue, assigned to @tglman

[2016-06-10 14:10] tglman commented on #6210
umm strange did you change the test? we don't really have anything in line 26: https://github.com/orientechnologies/orientdb/blob/develop/graphdb/src/test/java/com/tinkerpop/blueprints/impls/orient/SimplePropertyLinkTest.java#L26

[2016-06-10 14:15] lucevers opened #6283 "Dense graphs can be a problem?"
## Expected behavior and actual behavior

## Steps to reproduce the problem

## Important Questions

### Runninng Mode
- [ ] Embedded, using PLOCAL access mode
- [ ] Embedded, using MEMORY access mode
- [+ ] Remote

### Misc
- [+ ] I have a distributed setup with multiple servers. How many?
- [ ] I'm using the Enterprise Edition

### OrientDB Version
- [ ] v2.0.x - Please specify last number:
- [

[2016-06-10 14:19] mmacfadden commented on #6278
@luigidellaquila Great thanks!  I hope my detailed investigations on these types of issues are helpful.  I am also willing to help fix the issues after you guys confirm that I have it right!

[2016-06-10 14:21] mmacfadden commented on #5360
Can you expand on the syntax you would like to see:

```CREATE PROPERTY test.prop1 STRING, NOTNULL, MANDATORY, READONLY```

or

```CREATE PROPERTY test.prop1 STRING NOTNULL, MANDATORY, READONLY```

Or something else?

[2016-06-10 14:32] smolinari commented on #5262
I'll close this, as I don't think the current release terminology will be changed.

Scott

[2016-06-10 14:32] #5262 closed

[2016-06-10 14:34] smolinari commented on #5360
Why even need commas?

Scott

[2016-06-10 14:39] mmacfadden commented on #5360
@smolinari I am not sure.  The original grammar is this:

```CREATE PROPERTY <class>.<property> <type> [<linked-type>|<linked-class>] [UNSAFE]```

My first attempt simply did this:

```CREATE PROPERTY <class>.<property> <type> [<linked-type>|<linked-class>] [UNSAFE | MANDATORY | READONLY | NOTNULL]```

Apparently there was some issue, but I am not sure what the issue was.

[2016-06-10 14:49] smolinari commented on #6283
Hi,

This is the key part.

These vertices with millions of edges are considered supernodes and they do cause problems for the reasons the reply author mentioned. However, this isn't an ODB problem. It is a general issue with all graph databases.

Scott

[2016-06-10 15:02] tglman commented on #6277
hi @mmacfadden,

Thank you for so precise reporting, going to fix it quickly

Regards

[2016-06-10 15:09] AubryLegrand opened #6284 "OrientDB 2.2.0 Embedded Server"
Hi,

We can't start orientdb server in embedded mode with 2.2.0 version.

Config used =>

[code]

Error =>

[code]
It work fine in 2.1.xx version...

Can you help us ?

Thanks

### Runninng Mode
- [x] Embedded, using PLOCAL access mode
- [ ] Embedded, using MEMORY access mode
- [ ] Remote

### Misc
- [ ] I have a distributed setup with multiple servers. How many?
- [ ] I'm using the Enterprise Edi

[2016-06-10 15:11] tglman commented on #6277
Hi @mmacfadden,

Yes i confirm is fixed and is going to be released in 2.2.1, can i close it.

Regards

[2016-06-10 15:13] mmacfadden commented on #6277
@tglman Yes by all means.  I saw that it was fixed.  I mainly reported it so that others would no go through the same debugging process I did for something that was coming soon!

[2016-06-10 15:13] #6277 closed

[2016-06-10 15:41] luigidellaquila commented on #6283
Hi @lucevers

Supernodes can create some problems with flat traversal (without conditions), just because of the number of nodes/edges you visit.

In v.2.2 we solved this problem with pattern matching. Consider this scenario:

- A and B are supernodes with millions of edges
- you want to know if there is an edge that connects A and B

If you have an index on the edge `out` and `in` properties, the

[2016-06-10 15:43] luigidellaquila commented on #6278
@mmacfadden they are indeed :-)

Thanks

Luigi

[2016-06-10 15:44] mmacfadden commented on #5974
@tglman We are also running into issues with importing to a remote database.  We are needing to orchestrate the import from an application server through the Java API.  It is not really feasible to use plocal in this case.  The only work around we have thought of at this point is to publish to the REST API, which will then import locally, but this is also not idea.

[2016-06-10 15:46] luigidellaquila commented on #5360
Hi guys,

the problem is mainly for LINKLIST, EMBEDDEDLIST and so on, that can have a linked class/type, eg.

[code]

In this case, is `MANDATORY` a class name for the linklist or is it the MANDATORY attribute for the property?

A comma will remove the ambiguity:

[code]

Thanks

Luigi

[2016-06-10 15:52] mmacfadden commented on #5360
@luigidellaquila  I see.  Two comments. 1) How was this handled for UNSAFE before? I could do:

```CREATE PROPERTY Foo.bar LINKLIST UNSAFE```

My initial stab at this just followed the same pattern as UNSAFE, where there were no commas

If you would like a comma do we need commas between the attributes themsleves:

e.g. ```CREATE PROPERTY Foo.bar LINKLIST, MANDATORY, READONLY, UNSAFE```

Or is it

[2016-06-10 16:03] smolinari commented on #5360
How about also making MANDATORY, READONLY, NOTNULL, UNSAFE etc. reserved words?

Somehow making a class named MANDATORY reminds me of little Bobby Tables. (although it has nothing really to do with sanitizing database inputs :smile:).

![10-06-_2016_18-00-08](https://cloud.githubusercontent.com/assets/3314957/15970584/921f6ce0-2f35-11e6-8a9c-d43fa9c76872.jpg)

Scott

[2016-06-10 16:10] mmacfadden commented on #5360
@smolinari In my mind this is also a potential option.  Ultimately, I think what we want is the following types of things to work:

[code]

etc. and combinations of them.  So:

```CREATE PROPERTY Foo.bar Integer MANDATORY NONNULL READONLY MIN 5 MAX 4 DEFAULT 0```

I am not so concerned with the placement of commas.  Also, can't you use backticks or quotes if you wanted to make a class named mandat

[2016-06-10 16:23] luigidellaquila commented on #5360
Little Bobby Tables is always in my heart 😆

I think UNSAFE just didn't work ;-)
What I'm trying to do with the new grammar is to make things as strict as possible, to avoid corner cases and have predictable behavior.

Adding new reserved keywords is an option, but it can make migrations very tricky, so I always try to avoid it if I can, in this case I think commas are an acceptable alternative.

[2016-06-10 16:27] mmacfadden commented on #5360
@luigidellaquila Can you comment on this one:

https://github.com/orientechnologies/orientdb/issues/5360#issuecomment-225221102

Given an answer I can get it going.

[2016-06-10 16:32] luigidellaquila commented on #5360
Right:
1) I just checked, there is no need of commas for UNSAFE because it is a reserved keyword (I had to make it reserved because it's already used in too many places...)

2) I'd prefer the following:
[code]
with commas that separate property constraints and with UNSAFE at the end, without the comma, but maybe we can also allow a comma before UNSAFE... Actually in terms of language consistency i

[2016-06-10 16:40] mmacfadden commented on #5360
@luigidellaquila Thanks.  Great thoughts.  It's nice to really understand where you are coming from.  I now know what the main issue is.  There are a couple options.  I do think the commas look somewhat ugly and unbalanced.  Like you said, its just personal preference though.  What if we groupd the properties in parenthesis.  Like so:

```CREATE PROPERTY Foo.bar LINKLIST (MANDATORY, READONLY, NOTN

[2016-06-10 16:59] paulozullu commented on #6274
I have the same problem here

[2016-06-10 18:26] ndelaforge commented on #6170
Thanks @tglman for you reply.
I followed your advice and I change my code according to the acquire/release strategy.
Now I'm facing issues with my client side hook.
Should I register it for each graph instance ?

[2016-06-10 18:49] dperez6392 opened #6285 "Error on execution of Gremlin Script"
## Expected behavior and actual behavior
Trying to execute a gremlin script with chained `getProperty('string')`
(e.g. `it.getProperty('string1').getProperty('string2')`)

**Expected Behavior**
The first `getProperty('string1')` call would usually return another `GroovyObject` in which you could call `getProperty` again.

**Actual Behavior**
The first `getProperty('string1')` call returns an `ODoc

[2016-06-11 05:09] smolinari commented on #5360
I don't like the mix with UNSAFE hanging out in the wind like that. I'm for the pure comma solution, if commas must be there to avoid having more reserved words. Notice though below, I don't have a comma after `LINKLIST`. Not sure that is important, but I find it cleaner.

`CREATE PROPERTY Foo.bar LINKLIST MANDATORY, READONLY, UNSAFE`

That would mean a single attribute would look like this.

 `CR

[2016-06-11 07:48] codelimner commented on #6282
@luigidellaquila Yes, I had to use CONTAINS, and with that change the query produces results as expected.

@maggiolo00 The MATCH statement is very useful. Just a minor comment on the documentation at  http://orientdb.com/docs/2.2/SQL-Match.html The second MATCH query under the section [Use Cases -> Deep Traversal] appears incomplete.

Thanks!

[2016-06-11 08:06] srthecodexpress commented on #6234
Hi @laa . I cannot find the download link to v2.2.1 anywhere on your site. Is it released ?

[2016-06-11 08:47] jiezg opened #6289 "Heavy Lag while manipulating lots of vertexes with Graph Editor"
## Expected behavior and actual behavior
Expect:Smooth operation on Graph Editor.
Actual:Heavy Lag while manipulating vertex  with Graph Editor(Studio 2.2).

## Steps to reproduce the problem
Add vertex 500 more times.

## Important Questions

### Runninng Mode
- [X] Embedded, using PLOCAL access mode
- [ ] Embedded, using MEMORY access mode
- [ ] Remote

### Misc
- [ ] I have a distributed setup

[2016-06-11 08:50] lvca opened #6290 "6035"

[2016-06-11 08:50] #6290 closed

[2016-06-11 08:54] lvca commented on #181
This fixes also https://github.com/orientechnologies/orientdb/issues/2875

[2016-06-11 09:00] lvca commented on #5956
This looks like the same of my issue: https://github.com/orientechnologies/orientdb/issues/5638.

[2016-06-11 09:01] lvca commented on #5956
Could you please explain why "will provide noticeable speed up for data which are frequently used"?

[2016-06-11 14:36] lucevers commented on #6283
Thanks!

[2016-06-11 14:36] #6283 closed

[2016-06-11 16:53] sanjay1k opened #6291 "JAVA ERROR even if using the current version java 8 update 91"
## Expected behavior and actual behavior
Expected - root password should set and orientDB should run after installation
Actual - Getting following JAVA error during installation on MAC Book air running on OS X EI Capitan,

+---------------------------------------------------------------+
|                WARNING: FIRST RUN CONFIGURATION               |
+--------------------------------------------

[2016-06-11 17:00] sanjay1k commented on #6291
I have seen a similar issue and as a workaround it has been recomended to update the JAVA version of the machine. I did that and updated my java version to latest one ( java 8 update 91). But issue is still as it was. Please find the link for your reference - https://github.com/orientechnologies/orientdb/issues/5769.

[2016-06-11 18:43] mmacfadden commented on #5360
@smolinari A couple things.

1. As you see here [https://github.com/orientechnologies/orientdb/issues/5360#issuecomment-225225952](https://github.com/orientechnologies/orientdb/issues/5360#issuecomment-225225952), Default is already part of the proposal.

2. I think we have gotten of track with the commas.  The only reason for having the commas at all is to separate them from the potential class /

[2016-06-12 03:06] scg03 commented on #6265
Hi,

Never mind. I modified my code to use List.iterator() instead of
List.listIterator().
Previously when using List.listIterator(), the Iterator.next() failed to
load data from the database.

Thanks,
Chenguang

On Tue, Jun 7, 2016 at 5:50 AM, luigidellaquila <notifications@github.com>
wrote:

[2016-06-12 11:10] zhiguan-hanks commented on #6217
Hi everyone, How is it going?

I'd like to know, whether you plan to provide an interface event "Disconnection" on which developers can create a function inside the database to listen?
Only depending on your interface, we can realize our requirement. That is,

When one user shutdowns, the record( recording online/offline status of him) will be updated and then other users will be notified through

[2016-06-12 11:46] smolinari commented on #5360
Hmmm..ok. I understand the situation better.

Like I said, I like the reserved word route the best. :smile: That way, there is no uncertainty, no ambiguation and no need for a separator. I do believe the parser would also be easier to build. So...

This won't work.

`CREATE PROPERTY Foo.bar LINKLIST Manditory MANDATORY, READONLY NOTNULL`

This will.

`CREATE PROPERTY Foo.bar LINKLIST MyMandatoryCl

[2016-06-12 13:35] kerner1000 commented on #6204
Hi, Im still debugging, I assume I close all connections. Is there a way to check for open connections in the Java API?

[2016-06-12 18:35] mmacfadden commented on #4806
**Your opinion**
**Version: 2.0 through** 2.2
**Years of experience**: 1.5
**Goods**:
- Orient is the only database out there that we found that meets our technical needs.   The overall technical concept is fairly advance in terms of where they are going with the project.
- The blend of SQL and NoSQL and Embeeded and Linked data is very novel.
- The way the data is modeled and the combination of s

[2016-06-12 18:44] mmacfadden opened #6293 "Old Parser Deprecation for 3.0"
I was was wondering if there are plans to deprecate the "non-strict" mode of Parsing some time in the future (perhaps 3.0).  As I have worked on the grammar and parsers, I have noticed that we are essentially parsing twice now.  Clearly this is inefficient, since we now parse, then generate a string, then parse again.  However, the efficiency is not the concern, it is the maintainability of the co

[2016-06-12 18:57] mmacfadden commented on #2573
This is something I would be willing to help with.

[2016-06-12 19:32] StarpTech commented on #4806
@mmacfadden very good summary I agree in all points. I hope orientdb will learn something from this point of view.

[2016-06-12 19:39] mmacfadden commented on #4806
@StarpTech Thanks.  I have maintained many open source projects.  So I know the challenges that the community faces in brining a commercial grade product to market in the open source model.  It's not easy to do.  I find more positives with this project than negatives.  But at this point I need to be committed to contributing to the community for issues that I care about or pay for support.  My pro

[2016-06-13 00:40] stokito opened #6294 "Using OrientDB in learning of Graph Theory"
I'm learning [Graph theory](https://www.coursera.org/learn/teoriya-grafov/) course on Coursera and needed a tool to work with graphs.
It would be great to use OrientDB visualizer for all task on the course.
But unfortunately it lacks for some needed functionality like oriented graphs.

So my proposition is to create some kind of learning tool. It would be great for marketing, because if students l

[2016-06-13 00:40] stokito commented on #6294
My first comment!

[2016-06-13 04:00] ghatwala commented on #6210
@laa - yes , the above debug prints were as a result of ``` System.out.println("SimplePropertyLinkTest link " + graph.getVertex(v1.getIdentity()).getProperty("link").getClass()); ```
thanks for pointing to the serialization issue.

@tglman -  we ( @laa ) have been trying to debug the test case failures , so we had inserted the above print to debug the test case failures  in ``` graphdb/src/test/ja

[2016-06-13 04:04] ghatwala commented on #6210
@tglman : Just to confirm the changes done in "SimplePropertyLinkTest.java" file , please see below

[code]

[2016-06-13 04:23] ghatwala commented on #6169
@robfrank - any updates about the  above job status on your CI infrastructure , Did the job pass for you ?

[2016-06-13 04:53] laa commented on #6204
@kerner1000 yes, the latest version of OrientDB has embedded check. But it is not released yet. So you should build from sources. It is simple `mvn clean install -DskipTests`

[2016-06-13 04:56] laa commented on #5956
@lvca It is not the same. The big difference is that this issue safe for synchronous writes, but the issue which you link is not safe. Because any mix of reading and writing data from different threads of the same data will crash not only data consistency, but data structure itself.

[2016-06-13 05:05] laa commented on #5956
@lvca for rare data, we have the following workflow:
1. Read from the disk.
2. Process data which we read.
3. Read from the  R cache
4. Write to the W cache.

For frequently used data:

1. Read from the R cache.
2. Process data which we read.
3. Read from the  R cache
4. Write to the W cache.

In both cases, we omit the last operation from operation set. But apparently read from the disk is much l

[2016-06-13 05:16] laa commented on #5956
Also, target of this issue is not performance but changes which avoid for data crash in case of OOM.

[2016-06-13 05:48] mmacfadden commented on #5751
TL;DR This requires a conceptual shift in OrientDB and there may or may not be an easy way to get there.  Thinking of it in terms of existing EMBEDDED functionality will probably not work.

I think this is interesting.  When I first started using OrientDB I was expecting something like this.  I however quickly realized the Orient has a class/inheritance model very similar to an object oriented pro

[2016-06-13 06:54] smolinari commented on #6294
I believe you can create an oriented graph (as I understand the concept) by defining the links implicitly and by creating an additional UNIQUE index constraint. I believe the explanation about a car owner and his relationship to his car only being owned by him depicts the start of an oriented graph? <= it is a question more than a statement. :smile:

http://orientdb.com/docs/2.2/Tutorial-Using-sch

[2016-06-13 07:15] kerner1000 commented on #6204
@laa
And how do I use it? Is there a method that returns all open connections?

[2016-06-13 07:23] luigidellaquila commented on #5360
Hi guys,

Thanks for the comments, @mmacfadden waiting for your experiments :) please let me know if you need help.

@smolinari good point, I'm updating the docs

Thanks

Luigi

[2016-06-13 07:31] luigidellaquila commented on #6282
Hi @codelimner

Thank you for the pointer, it seems to be a problem with GitBook, the original wiki page works fine... https://github.com/orientechnologies/orientdb-docs/blob/master/SQL-Match.md#deep-traversal

I'm trying to fix it now

Thanks

Luigi

[2016-06-13 07:34] #6282 closed

[2016-06-13 07:36] luigidellaquila commented on #6234
Hi @srthecodexpress

Not yet, sorry, we found some little problems during the QA phase, we will retry to release today

Thanks

Luigi

[2016-06-13 07:36] laa commented on #6204
@kerner1000 no , it throws exception if you try to open database which is already opened from other thread.

[2016-06-13 07:37] robfrank commented on #6169
Hi, we don't have this kind of errors, but some works about IBM-JDK's compatibility was done.
Did you retry in the meanwhile?

[2016-06-13 07:47] laa commented on #6094
Close issue because of no reply. If you reproduce given issue and have information which is requested in issue feel free to reopen it.

[2016-06-13 07:47] #6094 closed

[2016-06-13 07:48] laa commented on #6194
@vlasni any updates about this issue ?

[2016-06-13 07:50] #6265 closed

[2016-06-13 07:50] luigidellaquila commented on #6265
OK thanks @scg03

Closing

Luigi

[2016-06-13 08:08] ghatwala commented on #6169
@robfrank : yes i did try using IBM's - JDK on my powerpc platform ( ppc64le ) and have been facing test case failures . Please refer to this ticket - https://github.com/orientechnologies/orientdb/issues/6210

[2016-06-13 08:11] luigidellaquila commented on #6293
Hi @mmacfadden

I'll give you a precise answer: YES! 😄

The old parser is probably the oldest component in OrientDB, its first version was far smaller and less complex than current one, it evolved in an unstructured way and the result is exactly what you described.
The same is for the query executor (in fact there is no strict separation between the parser and the executor).

What we will do in v

[2016-06-13 09:06] maggiolo00 commented on #5074
hi @Wirone

just tested in 2.1.6 with this config in orientdb-server-config.xml

[code]

And it worked.