[2016-04-01 13:32] RAndrews137 commented on #5821
Sure thing.  Thanks  :)

[2016-04-01 14:16] gerdhub commented on #5821
I cannot build 2.1.x branch to test on the db server:

[code]

[2016-04-01 14:24] laa commented on #5821
hm that is latest 2.1.x build which is caused by this fix http://helios.orientdb.com/job/orientdb-2.1.x/164 .How did you build it ?

[2016-04-01 15:06] gerdhub commented on #5821
via

[code]

[2016-04-01 15:08] laa commented on #5821
Well )) could you skip tests for this build we need only check specific
fix.
Any way issue in http client it will not affect us.

On Fri, Apr 1, 2016 at 6:06 PM Gerd Hübscher <notifications@github.com>
wrote:

--
Best regards,
Andrey Lomakin, R&D lead.
OrientDB Ltd

twitter:@Andrey_Lomakin linkedin:https://ua.linkedin.com/in/andreylomakin

[2016-04-01 15:11] gerdhub commented on #5821
Sure ;) I just wanted to make sure to have a valid build. I will give it a try and report later on.

[2016-04-01 15:50] gerdhub commented on #5821
Gentlemen, 2.1.x works with more than 14.000.000 edges and about 200.000 iterations over the above-mentioned code very well. Beforehand, the error occurred after about 20.000 iterations at the latest.

I think it is **fixed**. Thank you for your efforts!!

[2016-04-01 18:40] andreyvk opened #5919 "[Studio] Class schema has no default value indication"
Hi,

Basically, the issue is what title says. It would be great to see a default value setting for an attribute in Studio at some point.

[2016-04-03 00:09] mrboxie opened #5920 "Error on saving record in cluster caused by NPE"
We used orientdb 2.0.9 in embedded mode.
The DB runs into the following exception once a while and subsequent saves trigger the same error. Is this a known issue? Any fix or workaround is greatly appreciated. Thanks for your time!

com.orientechnologies.orient.core.exception.ODatabaseException: Error on saving record in cluster #11        at com.orientechnologies.orient.core.db.document.ODatabaseD

[2016-04-03 09:23] codelimner opened #5921 "LINK type constraints on lightweight edges"
Is it possible to create LINK type constraints on a lightweight edge? I am running OrientDB 2.1.11, and I set my edges to be lightweight using the command
`ALTER DATABASE CUSTOM useLightWeightEdges = TRUE`
The following is an example of what I would like to be able to do.

I first ran the following SQL commands
`CREATE CLASS C1 EXTENDS V`
`CREATE CLASS C2 EXTENDS V`

`CREATE CLASS E1 EXTENDS E`
`C

[2016-04-03 11:17] robfrank commented on #5739
Hi Andrey, I just pushed LocalPaginatedStorageSmallCacheBigRecordsCrashRestoreIT with few modification to be able to debug: single thread AND timeout is 1 minute.
The test fails on the first record compared. I added output to show the two documents stored on base and test DBs, and apart for the id, other fields are completely different. Let me know If I can do more to fix this tests. Thanks

[2016-04-03 13:44] schernolyas opened #5922 "JDBC contract not supported"
The issue linked with https://github.com/orientechnologies/orientdb/issues/5820 .
Orient JDBC driver MUST throw SQLException not OCommandExecutionException.
See javadoc for java.sql.Statement

[2016-04-03 13:50] laa commented on #5739
Hi Roberto,

We will take care of it.

[2016-04-03 20:32] dgilling opened #5923 "Automatic Indices not updated on insert when in distributed mode. 2.1.14"
Hey folks, setting up distributed cluster with 3 nodes using 2.1.14 (I also tried 2.1.13) Versions.

Seems that when I use the following distributed config, I am able to successfully commit transactions but any automatic indices I have set up doesn't update.
Index still doesn't update even if I run distributed mode with only a single node.
On the other hand, If I run the standalone version, I do c

[2016-04-03 21:01] dgilling commented on #5923
Just to be clear, I am find with index being eventually updated. But as long as that eventual is not forever.

If I run Select From ClassA Where fieldB = "someValue", I don't get newly added field until I click rebuild index. Same for viewing index itself Select INDEX:ClassA.fieldB where key = "someValue"

I do get the class back on a full scan via Select From V Where fieldB = "someValue"

This in

[2016-04-04 05:58] smolinari commented on #5921
Interesting. I'd say, you've found a bug, but I am also uncertain about how constraints are supposed to work.

Referencing this issue to my suggestion too, since there are similar concerns.

https://github.com/orientechnologies/orientdb/issues/5260

Scott

[2016-04-04 07:13] laa commented on #5821
I am really appreciate help of everyone who participated in fix of this issue. We will release new version today or tomorrow.

[2016-04-04 07:13] #5821 closed

[2016-04-04 07:21] tglman commented on #5873
Hi @whatyouhide

Just updated the documentation: https://github.com/orientechnologies/orientdb-docs/commit/349c8050dcbe4756d8eff49255fbfe59d1aa0954

[2016-04-04 07:22] tglman commented on #5871
hi,

just added a basic documentation: https://github.com/orientechnologies/orientdb-docs/commit/349c8050dcbe4756d8eff49255fbfe59d1aa0954

let me know if you need more information.

[2016-04-04 07:27] laa commented on #5828
Close issue because of no reply. If you reproduce given issue and have information which is requested in issue feel free to reopen it.

[2016-04-04 07:27] #5828 closed

[2016-04-04 07:29] laa commented on #5707
Close issue because of no reply. If you reproduce given issue and have information which is requested in issue feel free to reopen it.

[2016-04-04 07:29] #5707 closed

[2016-04-04 07:30] laa commented on #5665
Close issue because of no reply. If you reproduce given issue and have information which is requested in issue feel free to reopen it.

[2016-04-04 07:30] #5665 closed

[2016-04-04 07:30] laa commented on #5348
Close issue because of no reply. If you reproduce given issue and have information which is requested in issue feel free to reopen it.

[2016-04-04 07:30] #5348 closed

[2016-04-04 07:30] laa commented on #5273
Close issue because of no reply. If you reproduce given issue and have information which is requested in issue feel free to reopen it.

[2016-04-04 07:30] #5273 closed

[2016-04-04 07:35] #5164 closed

[2016-04-04 07:43] tglman commented on #5920
hi @mrboxie ,

I see that this exception happen with the object database, do you have a test case or example for reproduce it.

[2016-04-04 09:03] maggiolo00 commented on #5910
hi @jfernandezrico

let me check.

[2016-04-04 09:04] laa commented on #5912
Sorry but I think that you either call iterator#remove before next or you remove directly from ridbag and then call next.

Could you provide code which operates on ridbag ?

[2016-04-04 09:15] laa opened #5925 "Big disk fragmentation after data load"
After initial load of database, fragmentation of my disk was increased from 0 to 30% . We need to find reason of such big fragmentation and fix it. Otherwise it will cause noticeable degradation of full scan SQL queries.

[2016-04-04 09:17] jfernandezrico commented on #5910
Ok. I think I create the Lucene indexes well. I don't know if write.lock files have to be removed.

Thank you

[2016-04-04 09:49] luigidellaquila opened #5927 "Create class in distributed immediately after creating db"
How to reproduce:

- Start two instances in distributed mode
- create database from Studio
- ensure that the db was replicated
- create a class from Studio (SQL)

[edit, wrong stacktrace]
[code]

[2016-04-04 09:58] smolinari commented on #5925
See this GG discussion too. https://groups.google.com/forum/#!topic/orient-database/yxzHDOVPtpo

Scott

[2016-04-04 11:08] #5867 closed

[2016-04-04 11:22] laa commented on #5912
Any way fixed, could you try on latest 2.1.x ?

[2016-04-04 11:29] laa commented on #5355
That is not transaction but serialization issue.  @tglman as far as I know you already have similar one , hope this test will allow to fix both of them. Assigned to @tglman

[2016-04-04 11:31] bodiam opened #5928 "Is this documentation correct?"
From here:

http://orientdb.com/docs/2.1/Command-Cache.html

command.timeout=true? To enable command caching?

And then in the documentation below:

I find this documentation, or the parameter name, to be highly confusing. But is it correct?

[2016-04-04 11:47] laa commented on #5907
@zerovian if I provide you patch with special logging is it possible for you to apply it to check root cause of this issue ? This issue supercritical for us so once you send us report we will release hotfix release in couple of days. I will really appreciate your help.

[2016-04-04 12:04] laa commented on #5907
Well I have found reason of your issue, started to fix.

[2016-04-04 12:29] laa commented on #5907
Well sorry, idea was wrong. Still about original question "if I provide you patch with special logging is it possible for you to apply it to check root cause of this issue ?"

[2016-04-04 12:56] zerovian commented on #5907
No problem.  I can replace a .jar as needed.  Some caveats though.  I'm stuck on 2.1.11 due to 5831, so patch would need to be against 2.1.11.

[2016-04-04 12:57] robfrank commented on #5922
Could you please point me where JDBC throw OcommandEE?
Or at least some lines of code where it happens. Thank you very much.

[2016-04-04 13:09] jlowenz commented on #5355
Ok, I'm confused. So OrientDB does serialization for plocal and memory connections (why)? If not, then are you saying the behavior for the remote connection is incorrect? The remote behavior is the one I consider correct and functional...

[2016-04-04 13:13] luigidellaquila commented on #5928
Hi @bodiam

Good point, it's definitely wrong! The right setting is `command.cache.enabled=true`

I'm fixing the docs page right now

Thanks

Luigi

[2016-04-04 13:23] luigidellaquila commented on #5911
Hi @schernolyas

I just pushed a fix on develop branch, now I'm back-porting it to 2.1.x

Thanks

Luigi

[2016-04-04 13:38] luigidellaquila commented on #5911
Done, closing. The fix will be available in v 2.1.16

Please reopen if you experience any related problems

Thanks

Luigi

[2016-04-04 13:38] #5911 closed

[2016-04-04 13:43] laa commented on #5355
We perform serialization of record in binary format to save them on disk. Order of serialization is broken so you have this issue.

[2016-04-04 13:45] laa commented on #5907
I see , sure I will fix your other issue and then will provide patch.

[2016-04-04 13:47] laa commented on #5907
One more suggestion could you run your code with following settings on latest version. Probably it iwll help
[code]

[2016-04-04 14:00] laa commented on #5908
I fixed NPE, but issue is hidden underneath of NPE.
Let's try to fix your issue with registration of classes (you may find suggestion in another issue) and then try this change.

[2016-04-04 14:26] jlowenz commented on #5355
@laa - thanks, that makes more sense!

[2016-04-04 14:49] zerovian commented on #5908
I'll try 2.1.14 with those switches, and grab next nightly and test with
that?

On Mon, Apr 4, 2016 at 10:00 AM, Andrey Lomakin <notifications@github.com>
wrote:

[2016-04-04 14:50] laa commented on #5907
Could you try this distribution https://drive.google.com/file/d/0B2oZq2xVp841WjVfRHBOV0hKenM/view?usp=sharing

[2016-04-04 14:51] laa commented on #5908
Yes, exactly.

On Mon, Apr 4, 2016 at 5:49 PM zerovian <notifications@github.com> wrote:

--
Best regards,
Andrey Lomakin, R&D lead.
OrientDB Ltd

twitter:@Andrey_Lomakin linkedin:https://ua.linkedin.com/in/andreylomakin

[2016-04-04 14:51] laa commented on #5907
It is 2.1.11 with logger to understand cause of NPE

[2016-04-04 14:58] zerovian commented on #5907
I'll try with these and see if it fixes the performance issue (5831).  If that works, then I'll grab next nightly against 2.1.15 and run our tests with that.  It will take a few days to get back to you.

[2016-04-04 14:59] zerovian commented on #5907
ok. i'll try with that build

[2016-04-04 15:00] laa commented on #5907
thank you very much

[2016-04-04 15:01] martingg88 commented on #5476
please... this issue is not yet solved for version 2.1.14 and i still have following error when importing..

- Index 'place.distance_spatial'...Error on database import happened just before line 0, column 43415
com.orientechnologies.orient.core.index.OIndexException: Index with type SPATIAL and algorithm SBTREE does not exi
st.
        at com.orientechnologies.orient.core.index.OIndexes.getFactory

[2016-04-04 15:02] martingg88 commented on #5476
com.orientechnologies.orient.core.index.OIndexException: Index with type SPATIAL and algorithm SBTREE does not exi
st.
        at com.orientechnologies.orient.core.index.OIndexes.getFactory(OIndexes.java:130)
        at com.orientechnologies.orient.core.index.OIndexDefinitionFactory.createMultipleFieldIndexDefinition(OInd
exDefinitionFactory.java:88)
        at com.orientechnologies.orient.core.in

[2016-04-04 15:03] martingg88 commented on #5097
we still have this error for version 2.1.14. Please double check . thanks

[2016-04-04 15:21] schernolyas commented on #5922
Hi @robfrank !
I try version 2.2.-beta2.

Incorrect example
public static Number getSequence(Connection connection, String seqName) {
		Number nextValue = null;
		String query = String.format( "select sequence('%s').next()", seqName );
		try {
			Statement stmt = connection.createStatement();
			ResultSet rs = stmt.executeQuery( query );
			if ( rs.next() ) {
				nextValue = rs.getLong( "sequence"

[2016-04-04 16:03] robfrank commented on #5922
Thx.  Will check and fix ASAP

[2016-04-04 16:25] nagarajasr commented on #5921
lightweight edges cannot have properties set on them, because no record is ever created for the edge itself. lightweight edges work by linking the vertices directly. so in this case, you should add the constraint on the property of C1 and C2 classes.

[2016-04-04 16:45] sukhitha4 opened #5929 "Error while connecting to database from the web interface"
Version: 2.1.15
The web ui has totally messed up. But REST API does work.

![capture](https://cloud.githubusercontent.com/assets/7057974/14255592/5ea8ce9a-fab2-11e5-8ec8-66e87ab03de1.PNG)

Following warning was the only log (With FINER level)

2016-04-04 21:59:34:860 WARNI ->0:0:0:0:0:0:0:1: Command not found: GET.sqlProfiler/GratefulDeadConcerts [ONetworkProtocolHttpDb]

[2016-04-04 16:49] maggiolo00 commented on #5929
hi @suki300me

are you with Chrome?

can you try Incognito session?

Which version of OrientDB where you using before?

[2016-04-04 17:01] suki300me commented on #5929
Yep. I'm on chrome. Tried with incognito and cleared cache. Still no luck

[2016-04-04 17:01] robbiesmith commented on #3501
I have seen this (or something closely related) on Windows, with OrientDB version 2.1.14 and JVM 1.8.0_77 (Oracle).

For details see http://stackoverflow.com/questions/36345804/noclassdeffounderror-when-starting-orientdb

[2016-04-04 17:08] suki300me commented on #5929
Ok I had a root around. It does work on Firefox. So this could be browser compatibility issue. I'm on the latest chrome: Version 49.0.2623.110 m

[2016-04-04 17:30] nadestin opened #5930 "NPE in ODatabaseDocumentTx.open(). Remote pooled connection"
Starting from version 2.1.14 our application started to get following Exceptions:

com.orientechnologies.orient.core.exception.ODatabaseException: Cannot open database url=remote:yn10:14675/DrTaxDB
	at com.orientechnologies.orient.core.db.document.ODatabaseDocumentTx.open(ODatabaseDocumentTx.java:281) ~[na:na]
	at com.orientechnologies.orient.core.db.OPartitionedDatabasePool$DatabaseDocumentTxPoll

[2016-04-04 17:49] smolinari commented on #5921
That is also what I thought at first, but you can create a lightweight edge and create the constraints on the edge (which seem like properties). If you follow what @codelimner explains, you will see no document is created under the E1 class.

Scott

[2016-04-04 17:52] maggiolo00 commented on #5929
You could you try to clear the local storage

for localhost:2480 if you are in localhost

chrome://settings/cookies#cont

[2016-04-04 18:39] suki300me commented on #5929
Yep I have already cleared all the cookies. But still didn't work

[2016-04-04 20:27] obi1kenobi commented on #5916
Part of this exists on 2.1.x as well -- if the time specified in "firstTime" is not in the future for the present day, the backup will not run until the following day even if the "delay" parameter is set to something small like 1h. I'd really appreciate this getting fixed, because it means that *restarting the db process once a day could lead to not having any backups*, despite the backups being s

[2016-04-04 20:31] obi1kenobi opened #5931 "Use an atomic rename for the backup file, instead of just opening and writing"
I'm running OrientDB 2.1.9 configured with the backup plugin. I noticed that when backing up, the database simply opens its intended backup file and keeps writing data to it until finished. This is bad because it would leave the backup file corrupted in the event of a database crash mid-backup, but I wouldn't be able to notice since the file exists in its expected location.

A suggested solution i

[2016-04-04 21:40] jlowenz opened #5932 "Multi-property index yields zero results in SELECT"
I just discovered what looks like a significant bug with multi-property indices. In short, a select completely fails (i.e. finds zero results, **NO EXCEPTION** or message) if one tries to filter by some combination of the properties in the index.

For example, I have the following values in a class `str_prop`:

[code]

with the following index:

[code]

and the following queries return 0 results:

[2016-04-05 03:05] mrboxie commented on #5920
Sorry I don't have a way to reproduce yet. This only happens intermittently. I wonder, just by looking at the stack trace, if you have any hunch on what might be the issue to help us narrow down the scope of investigation.
Thanks,-Bo

Date: Mon, 4 Apr 2016 00:43:48 -0700
From: notifications@github.com
To: orientdb@noreply.github.com
CC: xie_bo@hotmail.com
Subject: Re: [orientechnologies/orientdb]

[2016-04-05 03:23] nagarajasr commented on #5921
@smolinari i just tried these commands on orientdb-2.2.0beta and the database does not seem to respect the "useLightweightEdges=TRUE" setting. an edge record is in fact getting created:

[code]

i tried in OrientDB 2.1.7 and it works differently - no record is created for the edge.

in both versions, "info" command does not display the "useLightweightEdges" setting.

[2016-04-05 04:40] smolinari commented on #5921
That is interesting. And in 2.2 it seems you not only have an edge document, but the edge is created, despite the constraint, which is different behavior than with 2.1.X, which throws an error on standard edges. So, being it is called a constraint, I'd say that is another bug. Basically, setting a LINK constraint is useless.

Scott

[2016-04-05 05:49] laa commented on #5892
@lvca I have tried test which caused deadlock but it fails on my side before deadlock, could you run test and send me heap dump ?

[2016-04-05 06:01] e-Evolution opened #5933 "Teleporter fail to try (4/4) OrientDB importing: 0% [ ]"
OrientDB
 ______________________________________________________________________________
 ___  __/__  ____/__  /___  ____/__  __ \_  __ \__  __\__  __/__  ____/__  _ _ \
 __  /  __  __/  __  / __  __/  __  /_/ /  / / /_  /_/ /_  /  __  __/  __  /_/ /
 _  /   _  /___  _  /___  /___  _  ____// /_/ /_  _, _/_  /   _  /___  _  _, _/
 /_/    /_____/  /_____/_____/  /_/     \____/ /_/ |_| /_/    /_____/

[2016-04-05 06:20] laa commented on #5146
I can not reproduce this one , is it possible to send working test case ?

[2016-04-05 06:53] lvca commented on #5892
Which test did you run?

[2016-04-05 07:04] laa commented on #5892
com.orientechnologies.orient.server.distributed.StopNodeTest

[2016-04-05 08:11] Zeemee7 commented on #5930
We have the same problem, starting with version 2.1.14. For what I've seen in the code, the proposed fix seems valid for me. I think this happens if OStorageRemoteThreadLocal.INSTANCE.get() calls initialValue(), which creates a new OStorageRemoteSession with connectionUserName null.

[2016-04-05 08:16] enRGi commented on #5912
Thank you,- The fix is working.

[2016-04-05 08:24] nagarajasr commented on #5921
actually my comment on "info" command in the previous comment was not completely correct. if i create a database through the console, and then set the "useLightweightEdges=TRUE", the info command does not display the setting. however if i disconnect from the console and relogin, the info command displays the setting correctly.

[2016-04-05 08:30] #5912 closed

[2016-04-05 08:58] Zeemee7 commented on #5912
I think the fix version isn't correct, it has been fixed in 2.1.15 (as shown by git log).

[2016-04-05 09:09] laa commented on #5912
@enRGi I agree

[2016-04-05 09:20] saeedtabrizi opened #5934 "OrientJS: Create Binary record fails for 2MB Size in 2.1.14"
Hi
I have serious problem with binary records in 2.1.14 now .
when i create binary record with 2MB size , the orientdb server crashed and logging this output to shell :

When i test this database with 2.1.13 there is no problem and every file or binary record can be created, but in 2.1.14 i got this error .

Is this a bug ? is there any trick to solve or patch this problem ?

[2016-04-05 09:26] laa commented on #5934
You have oom because big record size did  you try to increase heap size ?

[2016-04-05 09:36] saeedtabrizi commented on #5934
I'd tested again and now got another error in 2.1.14 :

I'm connecting to orientdb via orientjs and following this steps :
1. create a small  binary record (300KB) in database (under 1MB ===> everything works well)
2. create a small  binary record (2MB) in database (above 1MB ===> database hangs and prints following lines in console)

2016-04-05 13:56:08:501 INFO  OrientDB auto-config DISKCACHE=5,

[2016-04-05 09:40] saeedtabrizi commented on #5934
Dear @laa  ,
This scenario worked recently in 2.1.13 . i have no any change in my code and scenario or configuration .

Many thanks for you're reply .

[2016-04-05 09:50] nagarajasr opened #5937 "vertex creation fails silently if field value is not quoted properly"
OrientDB 2.2.0-SNAPSHOT develop@r76eb89664869753ee518b741fd2009d2255877c8

i made a typo while trying to create a vertex using console. the field "id" value quote is not closed. the command silently completes without throwing any error but no record is created:

[code]

[2016-04-05 09:52] laa commented on #5934
Sure , but if memory consumption is increased that is not a bug, it only means that memory consumption is increased. Did you try to increase heap size ? If it will not help could you send us heap dump.

[2016-04-05 09:54] #5900 closed

[2016-04-05 09:54] G4br13l3 commented on #5900
As it's solved I'm closing this issue.
Thanks,
Gabriele

[2016-04-05 10:02] saeedtabrizi commented on #5934
Dear @laa
No , i did not any  change in heap  default configuration , because this configuration works well with every size (under 20MB that i tested) of binary record before the 2.1.14 version .

[code]

Ok , i will try to send heap dump file to you  asap. it's about 592MB .

[2016-04-05 10:15] robfrank commented on #5922
This commit
https://github.com/orientechnologies/orientdb/commit/934043fd762eb74dcecdbac5c11480573daecf50
should resolve the problem.
I'll backport to 2.1.x branch. It will be available on next 2.2.0 (beta or rc version) and next 2.1.16 release.

[2016-04-05 10:15] G4br13l3 commented on #5933
Hi @e-Evolution, it seems the connection fell during the records fetching, but the connection succeeded during the 1st, 2nd and 3rd phase when all the queries on the schema are performed in order to build the schema in orientdb.
Have you tried to restart the migration? If yes, does the execution fail always at the same point?
Is it possible that Postgresql refused the connection for some reason?

[2016-04-05 10:16] nagarajasr commented on #5937
i have the same issue with the insert command too:

[code]

[2016-04-05 11:01] luigidellaquila commented on #5932
Hi @jlowenz

by default OrientDB indexes ignore null values (ie. in your case, records with version=null are not indexed).

To fix the problem, you have to change your index definitions as follow:

[code]

We are discussing if it's the case to set this as a default in next releases

Thanks

Luigi

[2016-04-05 11:12] martingg88 commented on #4793
Do you think the following case that show the poor performance?
The following measure it running with java executor threading mechanism and graph transaction mode.

It take about 1.5 hour to insert 20k vertex.

each vertex will have following edge relationship

one user vertex
one activity vertex
one place vertex
around 10 to 20 photos vertex.

[2016-04-05 12:45] luigidellaquila commented on #5895
Hi @seeden

I just pushed a fix on 2.1.x branch, the fix will be available in v 2.1.16

Now I'm porting the fix to develop (2.2)

Thanks

Luigi

[2016-04-05 13:07] codelimner commented on #5921
Thanks @smolinari and @nagarajasr for the comments and additional information.

I did some investigation on this looking into the source code for version 2.1.14 during the past couple of days. Essentially, all schema constraints (including LINK type) are completely ignored when the lightweightedges option for the db is set to "true". This is what @nagarajasr was implying I suppose, and you can obs

[2016-04-05 13:11] luigidellaquila commented on #5895
Done, pushed fix and a specific test case.

I'm closing this issue, please reopen if you see any related problems

Thanks

Luigi

[2016-04-05 13:11] #5895 closed

[2016-04-05 13:18] smolinari commented on #5921
@codelimner - cool that you are digging into the ODB code.

From what I understand, the lightweight edge is always only found within the vertex data (out, in), plus some meta data about the edge class itself. There is no class with document storage created with lightweight edges. So, the constraints do have to be added to something, which is to me, must be meta data within the edge class. Was ther

[2016-04-05 13:19] seeden commented on #5895
Thank you @luigidellaquila
I will wait for next release.

[2016-04-05 13:41] StarpTech commented on #5091
It still exists in 2.1.X please make a hotfix. This feature is essential to work with orientdb.

[2016-04-05 13:42] StarpTech commented on #5091
@luigidellaquila @lvca

[2016-04-05 13:43] luigidellaquila commented on #5921
Hi guys,

This seems to be a missing control in the validation. As you pointed out, the root cause for this is that schema checks are performed at document level, and in this case the edge is not a document.

I'll check if we can enforce basic schema validations on edge type at least, but I'm afraid more complex constraint checks (eg. unique edge between two vertices) will be harder to manage.

In

[2016-04-05 14:24] maggiolo00 commented on #5091
hi @StarpTech

the problem is that the binary protocol is not able to to handle this result set

[code]

In your case would be

[Object,number,number]

You should wrap the return value in a single Object, something like this
[code]

[2016-04-05 14:26] jlowenz commented on #5932
Ok, @luigidellaquila . I'm still not sure I agree with that behavior for the first two queries, which don't directly involve the null value. I understand that the records implicitly contain a null value, but I think this argues very strongly against the current default of ignoring null values. If I have records with null and not null values, I expect to get back all relevant results, especially wh

[2016-04-05 14:27] StarpTech commented on #5091
@maggiolo00 good to know. Is this safe for the future? Will it be fixed?

[2016-04-05 14:34] nagarajasr commented on #5091
doesn't work in 2.2.0-SNAPSHOT develop@r76eb89664869753ee518b741fd2009d2255877c8; 2016-03-14 03:29:50+0000:

[code]

server log says:
[code]

[2016-04-05 14:35] StarpTech commented on #5091
@nagarajasr thanks for testing.

[2016-04-05 14:51] maggiolo00 commented on #5091
@StarpTech
@nagarajasr

sorry yes you are right my bad.
@tglman any hint on a fix on this?

[2016-04-05 15:04] maggiolo00 commented on #5091
@StarpTech

i've found a solution

You can write your batch in this way

[code]

[2016-04-05 15:08] luigidellaquila commented on #5932
Hi @jlowenz

I agree with you 100% and I'm pretty sure we will change the defaults in short

Thanks

Luigi

[2016-04-05 15:09] StarpTech commented on #5091
@maggiolo00  Found or just checked out? Is this the common way? I build my base on such solutions.

[2016-04-05 15:11] jlowenz opened #5938 "Index on edge link property causes exception in batch SQL"
If I have the following edge definition:

[code]

And try to create an edge like so:

[code]

The console fails with the exception:

[code]

Removing the `create index` command allows the batch SQL to succeed.
Version: OrientDB 2.1.13

[console_bug.txt](https://github.com/orientechnologies/orientdb/files/204768/console_bug.txt)

[2016-04-05 15:18] maggiolo00 commented on #5091
@StarpTech

This will work because it is handle with the SQL of OrientDB so the result set.
The other one with custom return was never supported and will give error until the binary protocol will support this kind of serialization. The binary protocol is able to serialize only a collection of documents as result set. That is why you get because the collection returned from the batchScript is [Obje

[2016-04-05 15:33] StarpTech commented on #5091
Than the docu is completly wrong

[code]

http://orientdb.com/docs/2.1/SQL-batch.html

[2016-04-05 16:07] luigidellaquila commented on #5091
That's bad.
As a first step I'm fixing the docs adding some clarifications.
Then we have to see how to fix these problems on the binary protocol (on http everything works fine, so the problem is in the serialization)

Thanks

Luigi

[2016-04-05 16:14] janjilek opened #5939 "Where condition with nested parenthesis fails"
Hi,
i have following select

SELECT FROM Gift WHERE status = 300 AND ((date >= date("1970-01-01 00:00:00.000", "yyyy-MM-dd HH:mm:ss.SSS", "UTC") AND date < date("2016-04-05 16:09:40.901", "yyyy-MM-dd HH:mm:ss.SSS", "UTC")) OR date IS NULL)

When a try to execute it, I receive this exeption:
com.orientechnologies.orient.core.exception.OQueryParsingException: Error on parsing query at position #195:

[2016-04-05 16:31] smolinari commented on #5921
Thanks Luigi,

I believe we are only looking for the constraint between two vertex classes being upheld properly. In other words (using this section of the docs for an example).

http://orientdb.com/docs/2.1/Tutorial-Using-schema-with-graphs.html#using-in-and-out-constraints-on-edges

The control should not only be the direction of the edge (a car can't own a person), but the fact that an "owns" e

[2016-04-05 17:13] madnoodlesmlin opened #5940 "count intersections always return 1"
Hi,

I was trying to count common vertices between two vertices. Say A and B both follow C,D. count = 2.
I tried query like "select count(*) from (select intersect(out('Follow').user_id) from Users where user_id in [1,2])". and it returns "[{"@type"=>"d", "@version"=>0, "count"=>1, "@fieldTypes"=>"count=l"}, {"@type"=>"d", "@version"=>0, "count"=>1, "@fieldTypes"=>"count=l"}]"
When I tried just "s

[2016-04-05 19:50] faroe228 opened #5941 "Problem: script.pool.maxSize remains at default of 20 when configured with other values"
Problem: script.pool.maxSize remains at default of 20 when configured with other values

Concerning orientdb config property: script.pool.maxSize

I've tried modifying properties section of orientdb-server-config.xml with: `<entry value="40" name="script.pool.maxSize" />`

I have also tried setting setting the JVM property and confirmed the JVM picked up my new value but orientdb still reports the

[2016-04-05 23:13] lvca commented on #5455
Finally, done!

[2016-04-05 23:13] #5455 closed

[2016-04-05 23:15] StarpTech commented on #5091
@maggiolo00 using the `select` statement fix it but now we are working with a different data structure. This example shows that the transaction feature must be refactored!
 e.g

[code]

[2016-04-06 05:48] laa commented on #5826
I will provide small workaround for 2.2 version and complete fix will be in 3.0 to do not break release stability.

[2016-04-06 05:59] laa commented on #5878
sorry moved to 3.0 because we are going to release 2.2 rc next week but there is probability that we will move it to closer version.

[2016-04-06 06:12] laa commented on #5727
Not needed any more

[2016-04-06 06:12] #5727 closed

[2016-04-06 06:12] laa commented on #5277
Move to feature releases otherwise 3.0 will run forever

[2016-04-06 06:13] laa commented on #4874
Optional for 3.0 will put back if we have time

[2016-04-06 06:13] laa commented on #2989
Optional for 3.0

[2016-04-06 06:14] laa commented on #1826
Optional for 3.0

[2016-04-06 06:14] laa commented on #1816
Assigned to @luigidellaquila

[2016-04-06 06:14] smolinari commented on #5878
@joe568277 - If I may ask, what is the use case, which calls for a constant deletion of so many vertexes at one time? Is a user sitting in front of a computer waiting for this to happen? Or is it a background task?

Scott

[2016-04-06 06:15] laa commented on #1678
we do not need this umbrella issue any more

[2016-04-06 06:15] #1678 closed

[2016-04-06 06:19] laa commented on #5536
Well as I can see we all agree to support null values by default.

On Tue, Mar 29, 2016 at 11:59 AM luigidellaquila <notifications@github.com>
wrote:

--
Best regards,
Andrey Lomakin, R&D lead.
OrientDB Ltd

twitter:@Andrey_Lomakin linkedin:https://ua.linkedin.com/in/andreylomakin

[2016-04-06 06:21] laa commented on #3126
Moved to 3.0 because of big effort is need to fix it.

[2016-04-06 06:22] laa commented on #4571
Assigned to @tglman that requires major remote storage refactoring

[2016-04-06 06:23] laa commented on #4489
Duplication of https://github.com/orientechnologies/orientdb/issues/4491

[2016-04-06 06:23] #4489 closed

[2016-04-06 06:23] laa commented on #4248
Optional for 3.0

[2016-04-06 06:24] laa commented on #4212
Will implement in 3.0 if have time

[2016-04-06 06:25] laa commented on #2878
Assigned to @tglman we have already discussed this issue with him

[2016-04-06 06:25] laa commented on #2875
Assigned to @tglman

[2016-04-06 06:26] laa commented on #2362
already fixed

[2016-04-06 06:26] #2362 closed

[2016-04-06 06:26] laa commented on #713
not needed we have another issue for that case

[2016-04-06 06:26] #713 closed

[2016-04-06 06:26] laa commented on #181
Assigned to @tglman

[2016-04-06 06:30] laa commented on #5504
Moved to 3.1 sorry to much work for 3.0 ((

[2016-04-06 06:33] laa commented on #5267
will add in 3.0 once MT TX issue https://github.com/orientechnologies/orientdb/issues/1677 will be fixed.

[2016-04-06 06:34] laa commented on #1604
Will add in 3.0 once https://github.com/orientechnologies/orientdb/issues/5267 will be fixed. 3.1 for now

[2016-04-06 06:34] laa commented on #5749
Good feature but too much work let's finish on going work on YCSB first.

[2016-04-06 06:39] laa commented on #4617
Fixed in 2.2 version

[2016-04-06 06:39] #4617 closed

[2016-04-06 06:40] laa commented on #3463
Duplication of https://github.com/orientechnologies/orientdb/issues/5504

[2016-04-06 06:40] #3463 closed

[2016-04-06 06:41] laa commented on #3139
Assigned to @tglman

[2016-04-06 06:42] laa commented on #1731
Assigned to @tglman

[2016-04-06 06:42] laa commented on #1894
Assigned to @tglman

[2016-04-06 06:43] laa commented on #3007
Seems not needed any more

[2016-04-06 06:43] #3007 closed

[2016-04-06 06:43] laa commented on #3450
Seems not needed any more

[2016-04-06 06:43] #3450 closed

[2016-04-06 06:44] laa commented on #3100
duplication of https://github.com/orientechnologies/orientdb/issues/5267

[2016-04-06 06:44] #3100 closed

[2016-04-06 06:44] laa commented on #3055
problem is gone after refactoring of file class

[2016-04-06 06:44] #3055 closed

[2016-04-06 06:50] laa commented on #1897
Contradicts with current tx bounds, but may be possible to do in cheap way if we implement concept of detached transactions. Delayed till now.

[2016-04-06 06:55] laa commented on #2244
Duplication of https://github.com/orientechnologies/orientdb/issues/5267

[2016-04-06 06:55] #2244 closed

[2016-04-06 07:09] laa commented on #1600
It is part of https://github.com/orientechnologies/orientdb/issues/1677

[2016-04-06 07:09] #1600 closed

[2016-04-06 07:12] smolinari commented on #5749
I'd personally say, at least one working benchmark is necessary. YCSB is also good.

Scott

[2016-04-06 07:44] laa commented on #5475
That is caused by https://github.com/orientechnologies/orientdb/issues/4491 and https://github.com/orientechnologies/orientdb/issues/5267 once they will be fixed this issue will be fixed automatically

[2016-04-06 07:59] StarpTech commented on #5091
@luigidellaquila seriously, we are talking about the result of an update statement. I'm ready to try develop releases but this issue exists since 4 months. Now, you are talking about a structural problem and that orientjs cant serialize simple literals. This is ok you can serve documents like SUM() it does but then in the correct response format (return { a: $b } or [$a]). Its hard for me to take

[2016-04-06 08:02] StarpTech commented on #5091
@luigidellaquila is the http protocol more stable than the binary ?

[2016-04-06 08:25] luigidellaquila commented on #5091
Hi @StarpTech

Probably it's not a matter of stability, just that the binary format does not support some kinds of result sets while the HTTP protocol.

In terms of stability I can say that they are equivalent.

Thanks

Luigi

[2016-04-06 08:54] smolinari commented on #5091
It would be nice to have the difference documented, so users can make an informed choice. That or get feature parity between the two protocols (which is what I would personally want).

And what about performance? I would assume the binary protocol is faster?

Scott

[2016-04-06 09:11] janjilek commented on #5939
Some workaround? I have bug on production and its impossible to solve it without more complicated where statement :-(

Thanks

[2016-04-06 09:26] janjilek opened #5942 "[web] Impossible to download previous version of OriendDB"
When I try to download previous version, the download starts, but after receiving 4-5MB, it stops and its not possible to continue with download.

Do you have some download mirror?

I tried 2.1.7 - 2.1.10
Regads
Jan

[2016-04-06 09:32] luigidellaquila commented on #5942
Hi @janjilek

I just tried to download previous versions from my machine and it seems to work fine.
Do you have problems with a specific version? Or is it a general problem? There are no download mirrors, but you can checkout the tag you need from GitHub and build from sources, it's pretty straight forward:

[code]

Thanks

Luigi

[2016-04-06 09:35] janjilek commented on #5942
Thank you, i will try to build it from sources. I live in Germany and I can download only last 3 versions (2.1.13 - 2.1.15), the rest always stops after 4-5MB. But in general download its really slow (maybe 20 minutes).

Jan

[2016-04-06 09:36] luigidellaquila commented on #5942
That's quite strange... our servers are in Germany...

Luigi

[2016-04-06 09:38] luigidellaquila commented on #5942
Ok, just forgot to mention this:

http://central.maven.org/maven2/com/orientechnologies/orientdb-community/

I think it will be more useful

Thanks

Luigi

[2016-04-06 09:39] luigidellaquila commented on #5939
Hi @janjilek

I'm taking a look at this. Probably the problem can be easily fixed, but I'm also seeing if I can give you a quick work-around

Thanks

Luigi

[2016-04-06 09:40] janjilek commented on #5942
Thank you! The link works perfect! Downloaded in 3 seconds :-) Maybe you should add  the link to the download page.

Thanks
Jan

[2016-04-06 09:46] luigidellaquila commented on #5942
Yes, I think I'll do it ;-)

Thanks

Luigi

[2016-04-06 09:46] #5942 closed

[2016-04-06 10:06] luigidellaquila commented on #5939
Hi @janjilek

You are running your query on an old db, aren't you?

You have two alternatives here:
- enable strictSql (Studio -> db -> configuration -> there is a flag at the bottom of the page)
- add a blank space between the two closed parentheses:

[code]

I hope it helps

Thanks

Luigi

[2016-04-06 10:09] janjilek commented on #5939
Hi,
yes,  I am using old one. I cannot migrate it, because I have a lot of parsing errors on the new one, so it will take some time to migrate it. I will try it with the space and let you know in few minutes.

Thanks
Jan

[2016-04-06 10:16] luigidellaquila commented on #5940
Hi @madnoodlesmlin

It's not a bug, the result set of the inner query is made of a single document (that contains two user_ids), so the result of the outer query is correct (1)

You have two alternatives to do what you want to obtain:

the complex one:
[code]

the easy one

[code]

I hope it helps

Thanks

Luigi

[2016-04-06 10:16] #5940 closed

[2016-04-06 10:21] janjilek commented on #5939
So, when I try to execute it with space on old db, I receive:
com.orientechnologies.orient.core.sql.OCommandSQLParsingException: Error on parsing command at position #219: Invalid keyword 'NOTIFICATIONDATE' Command: SELECT FROM Gift WHERE status = 300 AND ((notificationDate >= date("1970-01-01 00:00:00.000", "yyyy-MM-dd HH:mm:ss.SSS", "UTC") AND notificationDate < date("2016-04-06 10:10:41.971", "

[2016-04-06 10:23] janjilek commented on #5939
Sorry for my previous comment, that i deleted. Both of your solutions works ;-)

Thanks for fast reply!
Jan

[2016-04-06 10:25] luigidellaquila commented on #5939
No problem, I saw that (just a typo ;-) )
Happy to see it worked :)

Closing, thanks!

Luigi

[2016-04-06 10:25] #5939 closed

[2016-04-06 10:28] luigidellaquila commented on #5091
@smolinari I added a note to the docs (not yet published, we will do it in short).

The HTTP protocol is a little bit slower than the binary one, because of the size of the messages, but the different is not significant compared to the whole elaboration

Thanks

Luigi

[2016-04-06 10:39] luigidellaquila commented on #5937
Hi @nagarajasr

I'm on it, the fix will be available in short

Thanks

Luigi

[2016-04-06 11:06] StarpTech commented on #5091
@luigidellaquila ok you prefer to use the http protocol when performance does not matter? Is the http protocol 100% compatible when I switch in orientjs to http ?

[2016-04-06 11:46] saeedtabrizi commented on #5934
Ok , i solve this issue after many hour's . orientjs 2.1.11  overwrites my custom files in orientjs module .
in the fact we must store binary data in binary record but orientjs not implemented create or update binary records yet and store it like the document record .
so when i replaced the custom files everythings works well .
i think the binary protocol must be updated in orientjs project to sup

[2016-04-06 12:09] laa commented on #5882
Fixd

[2016-04-06 12:09] #5882 closed

[2016-04-06 12:10] laa commented on #5882
MBean with name com.orientechnologies.common.directmemory:type=OByteBufferPoolMXBean was added.

[2016-04-06 12:12] laa commented on #5934
Hi @saeedtabrizi , I will assign this issue to responsible person, so fix will be put at next hotfix release.

[2016-04-06 12:12] laa commented on #5934
@saeedtabrizi Thank you very much for your time

[2016-04-06 12:47] luigidellaquila commented on #5937
Hi @nagarajasr

I just pushed a fix on both 2.1.x and develop branches

Thanks

Luigi

[2016-04-06 12:47] #5937 closed

[2016-04-06 13:04] saeedtabrizi commented on #5748
@luigidellaquila
I'd tested it now in 2.1.15
when i was try to delete via `delete from 15:0`  command everything works well :+1:
but when i was trying to delete record from a select that contains a linked field that contains row id of my blobs , delete not working yet :
`delete from (select Blob from FileItem) `
also when i try to write another kind query does not working and returns error
`delete

[2016-04-06 13:10] saeedtabrizi opened #5944 "delete binary records via sql problem in 2.1.15"
Dear @luigidellaquila
based on https://github.com/orientechnologies/orientdb/issues/5748 I'd tested it now in 2.1.15
when i was try to delete via delete from 15:0 command everything works well :+1:

but when i was trying to delete record from a select that contains a linked field that contains row id of my blobs , delete not working yet :
`delete from (select Blob from FileItem)`
also when i try t

[2016-04-06 13:30] lvca commented on #5915
Are you using sharding?

[2016-04-06 13:39] luigidellaquila commented on #5748
Hi @saeedtabrizi

It seems to be another kind of problem.
I'm reopening this issue and assigning it to @tglman for a check, we will give you an answer asap

Thanks

Luigi

[2016-04-06 13:55] #5928 closed

[2016-04-06 13:55] luigidellaquila commented on #5928
Docs sources fixed, the fix will be in the official docs in short

Thanks

Luigi

[2016-04-06 14:02] luigidellaquila commented on #5785
Hi @Daniel-Valliere

Any chance to have the junit test? In the meantime we released v 2.2 beta2, maybe it's worth trying with that

Thanks

Luigi

[2016-04-06 14:23] luigidellaquila commented on #5870
Hi @oliverfleetwood

that is a legacy behavior, when you filter with square brackets and the result is a single value, the collection is unwrapped and the item is returned alone.

Anyway, why are you doing `out('E')[diffValue=0][0].size()`? IMHO it would make more sense to do out('E')[diffValue=0].size()

Thanks

Luigi

[2016-04-06 14:55] Daniel-Valliere commented on #5785
The issues is related to the use of transactional graph.

See code and comment in https://gist.github.com/Daniel-Valliere/23e27344624cdfb003a70ec78ba82cdf

[2016-04-06 15:08] maggiolo00 commented on #5091
hi @StarpTech

orientjs api  should be te same with binary/rest but i cannot guarantee that it is 100% compatible. In a normal scenario you use http or binary. If you switch you will probably encounter some issues. We can with the help of @tglman try to solve this issue of the return of a batch script

[2016-04-06 15:26] StarpTech commented on #5091
The second solution would be the best. I think it can't be difficult to fix this in the binary driver. Please let me know when @tglman work on this issue.

[2016-04-06 17:19] oliverfleetwood commented on #5870
Hi again, so I know my test case is a bit stupid but that's just to show what is going on. We've had some real issues with this when we use it in LET block. I'll come back with a test case in a sec.

How can this be legacy behaviour though since it came into effect when we upgraded from orientdb 2.1.9 to 2.1.13?

[2016-04-06 17:50] gerdhub opened #5945 "OutOfMemoryError: Java Heap Space when selecting vertices with many edges, edge count (size) extremely slow"
I have a database with a class of 788,164 Vertices (@class: token), connected by 41,404,179 Edges (@class: tokenLnk) with other Vertex classes. The Edges have a composite index on in + out.

In Studio, selecting those vertices by

`select * from token limit 10`

takes between 20.419 sec and 53.822 sec, displaying edge counts between 100 and 100000 Edges / Vertex.

A query of

`select * from token`

[2016-04-06 18:23] cvm1ll3 opened #5946 "Orientdb 2.2 Beta: Cannot update new ORole with inheritedRole writer when writer has record level access"
I set record level access to default ORole admin, reader and writer. Only admin rid is in _allow, then I add all other ORole rids in _allowRead.

I created another ORole vertex (say admin2) where inheritedRole is writer (rid #4:2). When I update admin2 vertex it says this error:

<code>com.orientechnologies.orient.core.exception.OSecurityException: Cannot update record #4:2: the resource has restr

[2016-04-06 18:28] cvm1ll3 commented on #5839
hi @tglman,

I just did a build from sources today (04/06) and so far from my testing, this error seems to be fixed.

[2016-04-06 18:29] oliverfleetwood commented on #5870
A more realistic use case, filtering on edges properties:
 * Assume that we have two fields on our edges, sameValue and diffValue. We want to fetch records by filtering based on edge properties. There can be any number of edges with the different values.
 * Run the batch script below and then the query, but with `:vertexId` replaced by the id returned from the batch query. Do not merge the two que

[2016-04-06 20:11] arsalan-khan commented on #5915
No, all the nodes are suppose to have all the data.

Here is the default-distributed-db-config.json we use:

{"autoDeploy":true,"hotAlignment":false,"executionMode":"synchronous","readQuorum":1,"writeQuorum":2,"failureAvailableNodesLessQuorum":false,"readYourWrites":true,"servers":{"\*":"master"},"clusters":{"internal":{},"index":{},"*":{"servers":["<NEW_NODE>"]}}}

[2016-04-07 08:40] gerdhub commented on #5945
@luigidellaquila With reference to the java.lang.OutOfMemoryError: Java heap space in Studio, I have two heap dumps of the problem which I can send, each about 500 MB. I have tried to increase max heap size up to 2G without success.

[2016-04-07 09:47] maggiolo00 opened #5947 "FullCheckPoint Listener"
Provide a way to register a listener on checkpoint.

Useful for external indexing system like Lucene.

[2016-04-07 11:18] #5365 closed

[2016-04-07 11:47] tglman commented on #5930
hi @nadestin, @Zeemee7,

You seems right i'll double check and change that part.

Regargs

[2016-04-07 12:25] tglman commented on #5930
fixed closing.

Thank you @nadestin  for so detailed reporting.

[2016-04-07 12:25] #5930 closed

[2016-04-07 12:43] zerovian commented on #5907
This finally triggered yesterday evening.  Normally we run with disk cache at 384.  It takes longer to trigger in that case, but it eventually always happens.  In this case we reduced it to 128.

storage.diskCache.bufferSize=128

AdminServer>Apr 05, 2016 5:06:56 PM com.orientechnologies.common.log.OLogManager
 log
INFO: Database 'configdb' uses 111MB/128MB of DISKCACHE memory, while Heap is no
t c

[2016-04-07 13:08] zerovian commented on #5907
orientdb memory usage keeps creeping up.  There are 2 embedded databases.  One is rarely touched, the other is in constant use by ~20 different threads, usually creating new records using db.save(<pojo>).  Database connections are pooled using OPartitionedDatabasePool.  In all cases pooled connections are fetched and released before each operation.  We never run out of connections from the pool, s

[2016-04-07 13:14] tglman commented on #5946
hi @cvm1ll3,

Can you post the full stack trace here ?
In some cases is correct that a writer is not allowed to update roles, to avoid role escalation.

Regards

[2016-04-07 13:35] laa commented on #5907
Thank you very much, I will start fix it from Monday.

[2016-04-07 13:53] tglman commented on #5913
hi @PhantomYdn,

Reading the exception seems that `a.getValue().intValue()` has null in `a.getValue()` by the way i din't really get how to reproduce this, a snippet of code of user/role creation may help.

Thank You

[2016-04-07 13:58] laa commented on #5907
@zerovian About memory consumption I suppose that is memory leak related to operations on ByteBuffers and channels, we will try to fix at Tuesday.

[2016-04-07 14:05] laa commented on #5907
@zerovian sorry could you provide more information ? I will add new build there I need to check one more thing. And may be one more after that :-) or not depends on what we get.

[2016-04-07 14:22] Pradnya-Paranjape opened #5950 "Update is not working with 2.1.15"
Hi,

I was using version 2.1.8 and recently updated it to version 2.1.15 but the following query stopped working.

vehicle is a column of type "EMBEDDED" in user table.
update user set user.vehicle[name='bmw'].color = 'red' where user.vehicle contains (name='bmw')

This query does not work with version 2.1.15

vehicle object is in the db in the following format.
[{
name : 'bmw', color:'red'
}, {
n

[2016-04-07 14:24] aruld opened #5951 "Orient 2.1.x clustering issue with replica node"
I have 2 nodes "master" and "slave" running Orient 2.1.15. "slave" node is set as replica. Both "autoDeploy" and "hotAlignment" are set to false. I copy the database on both nodes before starting them. I start "master" first and then the "slave".

When I perform updates in the "master" node, I see this error in "slave" node.
[code]

I have seen this work once, but now it is not working. When the n

[2016-04-07 14:32] luigidellaquila commented on #5870
Ok, I tried it on 2.1.7 and 2.1.15 and I got your point.

I'm trying to figure out what changed. I'll give you a feedback asap

Thanks

Luigi

[2016-04-07 14:40] luigidellaquila commented on #5950
Hi @Pradnya-Paranjape

I'll take a look at this asap

Thanks

Luigi

[2016-04-07 15:24] luigidellaquila commented on #5870
Hi @oliverfleetwood

I just pushed a fix to 2.1.x branch, now I'm porting it to develop

Thanks

Luigi

[2016-04-07 15:29] zerovian commented on #5907
What info do you need?

Given it is a leak of "loaded classes" according to jconsole. I'm running your kit and jconsole and have turned on -verbose:classes in java.  But I don't seem to find what is leaking.

Let me know if you need me to test a new build.

[2016-04-07 15:36] luigidellaquila commented on #5870
(btw, you were right, it was a regression)

[2016-04-07 15:50] luigidellaquila commented on #5870
Ported to develop. Closing

The fix will be available in v 2.1.16 and 2.2 RC1

Thanks

Luigi

[2016-04-07 15:50] #5870 closed

[2016-04-07 16:06] oliverfleetwood commented on #5870
Great thanks!

[2016-04-07 16:12] G4br13l3 commented on #4221
Solved.

[2016-04-07 16:12] #4221 closed

[2016-04-07 17:04] zerovian commented on #5907
Follow up to earlier comments.  Ignore the jconsole graph above.  It seems that the red line actually tracks "total loaded" classes, but not unloaded classes.  It only goes up.  The blue line is correct, so no memory leak in the class definitions.  Java debug information is showing the proxy classes generated by javassist being unloaded by the JVM.

[2016-04-07 20:04] lvca opened #5952 "Studio: display cache hits"
Use the JMX bean `com.orientechnologies.orient.core.storage.cache.local:type=O2QCacheMXBean` and look how much memory it consumes. Also this bean has cache hit rate statistic if you have 100% hit rate then all your db cached in memory.

[2016-04-08 02:07] alexmm11 opened #5953 "Question about insert and create vertex."
Hi guys!

Is there something wrong if i use "insert" instead "create vertex" for a class that extends from V?

[2016-04-08 03:58] martingg88 commented on #5859
sorry i can't do that. the data is quite confidential for our client.

[2016-04-08 03:59] martingg88 commented on #5859
FYI. Try to populate your database with following data.

10 user vertex and each or some of them consist more than 100k edge.

I'm sure you will have this issue.

[2016-04-08 04:05] alexmm11 opened #5954 "Hash index creation"
When i create a unique_hash_index, everything appears be ok

![seleccion_050](https://cloud.githubusercontent.com/assets/521303/14373865/15aebad8-fd14-11e5-9ef0-91c1a5a2120b.png)

But in the schema, looks a sbtree  at engine field.

![seleccion_051](https://cloud.githubusercontent.com/assets/521303/14373909/c279f82c-fd14-11e5-9d49-c6030816617d.png)

Is this normal or a bug?

[2016-04-08 04:12] martingg88 commented on #3820
Yeap. I have experienced the poor performance for this issue if you have a vertex that have 100k edge.

[2016-04-08 04:18] smolinari commented on #5859
Sounds like a supernode problem.

Scott

[2016-04-08 07:34] maggiolo00 commented on #5954
hi @alexmm11

the index is correctly created as unique hash index
but it is a known issue of the metadata api
see here
https://github.com/orientechnologies/orientdb/issues/5297

[2016-04-08 07:34] #5954 closed

[2016-04-08 07:36] luigidellaquila commented on #5953
Hi @alexmm11

No, absolutely nothing wrong, the underlying operations are exactly the same apart from the check of the class hierarchy (when you use CREATE VERTEX OrientDB checks that the class is a subclass of V)

Thanks

Luigi

[2016-04-08 07:36] #5953 closed

[2016-04-08 07:36] martingg88 commented on #5859
it's worth to note the following query for performance issue.
1. The following query take about 20 seconds to get only 10 vertex from index (list.in).
2. I wonder it take so long time to process because it try to scan all the vertex/document belonging to vertex whose RID is #16:5;
3. Have tried to add the fetchplan  (FETCHPLAN [*]in_*:-2 out_*:-2)) to the following query but it doesn't help at all

[2016-04-08 10:14] lvca opened #5955 "OrientDB Startup: check available RAM"
We should introduce a check about the available RAM on OS and report an error if:

    max heap + diskcache < available ram

In this way OrientDB server doesn't even start avoiding to cause problems later like Out Of Memory or the kill of the JVM process by the OS kernel.

[2016-04-08 11:07] laa opened #5956 "Synchronous WAL only writes"
Let's try to make following changes.

This idea was discussed long time ago but after the last discussion with @taburet I wanted to write it down.

Let's change commit of atomic operation in following way:
1. When we make changes in data files we write changes only to WAL and do not apply them to data files.
2. We keep changes in WAL till either WAL cache will not be completely filled or some time

[2016-04-08 11:45] saeedtabrizi opened #5957 "Is there any implementation of A* (A Star) ,D* ( D Star), Theta* ( Theta Star) , SMA* for Path Finding ?"
Hi
I have a question about path finding problem.
Is there any A* , D* , D* Lite , SMA* function implementations in orientdb or plan to develop them ?
Thanks
Saeed Tabrizi

[2016-04-08 12:11] lvca commented on #5957
Rebuild of all lucene indexes after incremental restore.

[2016-04-08 12:12] lvca commented on #5957
Sorry wrong issue.

[2016-04-08 12:13] lvca opened #5958 "Rebuild of all lucene indexes after incremental restore"
This assures the db is consistent after restore.

[2016-04-08 13:10] laa commented on #5383
http://java-performance.info/performance-general-compression/ seems LZ4 even better , compression ration for 64k is 3.

[2016-04-08 13:25] luigidellaquila commented on #5957
Hi @saeedtabrizi

Right now there is only an implementation of Dijkstra algorithm, but we have plans to implement new algorithms in the near future

Thanks

Luigi

[2016-04-08 13:37] w3aponx commented on #5957
You should be able to find and use some graph algorithms in Tinkerpop
Furnace (https://github.com/tinkerpop/furnace/wiki).  In theory, these
should be able to work on top of the Blueprints implementation in OrientDB.

Mario

On Fri, Apr 8, 2016 at 7:45 AM, Saeed Tabrizi <notifications@github.com>
wrote:

--
_____________
Mario Cormier

[2016-04-08 14:14] saeedtabrizi commented on #5957
Dear @luigidellaquila and @w3aponx
Many thanks for reply .
I decided add some path finding functions to orientdb now .
at the first **Astar** function must be implement that similar implementation with the **Dijkstra** .
is  `public class OSQLFunctionAstar extends OSQLFunctionPathFinder` true name for A* function ?
certainly i'm working to read Dijkstra implementation source code and test result t

[2016-04-08 14:33] luigidellaquila commented on #5957
Hi @saeedtabrizi

That would be awesome! You can extend `OSQLFunctionPathFinder` but it's not mandatory.
You can also take a look at `OSQLFunctionShortestPath`, btw you can have a map as last parameter of the function, so that you can pass additional options if needed without changing the signature (see OSQLFunctionShortestPath and bindAdditionalParams() )

Please let me know if you need guidance

[2016-04-08 14:36] laa commented on #5907
Could you use this build https://drive.google.com/file/d/0B2oZq2xVp841WjVfRHBOV0hKenM/view?usp=sharing , I have added more logging to find reason of this NPE.

[2016-04-08 15:51] mdre opened #5959 "OrientDB: utf8 class name problems"
I'am making an OGM to use in our project. It is working pretty well, but I have a problem with the class creation process and UTF8 character in the class name.
We speak spanish, so some class have name using accent mark. The OGM try to create the classes using it's classname.
Here is a part of the store method:

[code]

Well, the createVertexType work fine, but the addVertex("class:"... create ano

[2016-04-08 16:07] saeedtabrizi commented on #5957
Dear @luigidellaquila
Thanks for your reply and guide .
Just review the codes as you say . the map parameters is so ideal for me and good idea for implementing flexible parametric algorithm's , like the _limitation _in **depth **, or giving 2 or more property name in **FD*** or Theta* .
 i correct the **astar** syntax as below :
"astar(<sourceVertex>, <destinationVertex>, <weightEdgeFieldName>,  [

[2016-04-08 16:16] luigidellaquila commented on #5959
Hi @mdre

it seems to be a wrong encoding, I'll check it asap

Thanks

Luigi

[2016-04-08 16:18] luigidellaquila commented on #5957
Hi @saeedtabrizi

+1 for both signatures

Thanks

Luigi

[2016-04-08 18:24] obi1kenobi opened #5960 "Unexpected behavior when SELECTing on a nonexistent field"
[code]
Note that Entity does not have the field titled `nonexistent`. And yet, OrientDB says there is one record returned?!

![screen shot 2016-04-08 at 2 20 28 pm](https://cloud.githubusercontent.com/assets/2348618/14393494/4a8cdf24-fd95-11e5-8023-c274788e6c19.png)

Before you say the above query is equivalent to running `SELECT null FROM Entity`, that query returns 100 results (or 20 due to the

[2016-04-08 18:34] obi1kenobi opened #5961 "Edge path + AS clause + WHERE clause on the edge path causes empty result sets"
[code]

Since the `AS` clause defines `path` to be the same thing as `out('E')`, one would expect that the two queries above return the same result. I'd also accept an error from the second query, if this is not supported. However, OrientDB 2.1.13 silently returns no data. There isn't anything in the server logs either.

[2016-04-08 18:37] obi1kenobi commented on #5960
On OrientDB 2.1.13, `SELECT nonexistent FROM Entity` returns 100 results (or 20 due to the query limit in Studio). However, the result sets are still not the same:

![screen shot 2016-04-08 at 2 37 15 pm](https://cloud.githubusercontent.com/assets/2348618/14393905/6c600c64-fd97-11e5-8311-e9be3ae00805.png)

[2016-04-08 19:32] zerovian commented on #5907
Running now.  I'll let you know how it goes.

[2016-04-08 21:31] alexmm11 commented on #5097
I just tried version 2.1.15 and this still happens

[2016-04-09 05:34] laa commented on #5907
@zerovian thank you very much

[2016-04-09 07:07] robfrank commented on #5097
I reopen the issue, but I need a very detailed report: db schema, sample data and operations sequence used to export and then reimport the db.

[2016-04-09 16:30] tglman commented on #1798
i changed this behavior recently fixing the wrong error send on socket in case of error on close, now the exception is logged server side.

[2016-04-09 16:30] #1798 closed

[2016-04-09 16:55] mrboxie commented on #5920
After using customer database, I was able to see the following exception consistently when inserting one type of record in 2.0.9 embedded mode. The trace seem to have more information. I also tried OrientDB 2.1.5 and attach the stacktrace below as well.

I still cannot reproduce without customer database. If the two stacktraces do not provide enough hints, I wonder if you can provide some instruct

[2016-04-10 02:49] Ostico opened #5962 "[ Regression on versions >= 2.1.12 ] Regression or changed behaviour with stateless session based on the token."
When i tried version 2.1.12 with a token based query i receive a NullPointerException from OrientDB:

[code]

I tried with version 2.1.15 also, same results.
With preeceding versions all was fine.

This is the test that fails:
https://github.com/mogui/pyorient/blob/master/tests/test_token_auth.py#L44

Please can you tell me if something is changed?

Let me know if you need more info.

[2016-04-10 10:19] StarpTech commented on #1462
On Windows:

You have to fix the `java.util.logging.FileHandler.pattern``in the orientdb-server-log-properties
to an absolute path like

`C:\\Users\\...`

[2016-04-10 17:33] StarpTech opened #5963 "Allow updating from multiple cluster"
It's not possible to update from multiple clusters like:

[code]

but we can select/traverse/Find References from multiple clusters https://github.com/orientechnologies/orientdb/issues/1222

[code]

for consistency and full support of orientdb cluster strategy it should be possible to update from multiple clusters. Thanks!

@luigidellaquila @lvca

[2016-04-10 17:36] StarpTech commented on #5963
Totally my fault :) It's of course possible. You must not quote clusters.

[code]

[2016-04-10 17:36] #5963 closed

[2016-04-11 02:19] shaantheadmin opened #5964 "mail.send issue"
Trying to send email from Orientdb using js function. kindly help on this issue..

As per the documentation followed the steps:[mail.send wiki](https://github.com/orientechnologies/orientdb-docs/blob/88909d85dd1b6f35bc58370671dab216931e1918/Mail-Plugin.md)

**Server Version:** 2.0.12
**Configuration:** orientdb-server-config.xml file updated as per the document.

**Plugin loading status:** 2016-04

[2016-04-11 05:18] Pradnya-Paranjape commented on #5950
Thanks Luigi. Awaiting your reply.

[2016-04-11 06:06] coldfuzz opened #5965 "Orientdb is down I need for help for production settings."
Hi;
Orientdb is down and It enters swap after some time. I need for help to check production settings and migrate db to enterprice edition. You can see the properties at following.

- ENVIRONMENT
  + environment.dumpCfgAtStartup = true
  + environment.concurrent = true
  + environment.allowJVMShutdown = true
- SCRIPT
  + script.pool.maxSize = 20
- MEMORY
  + memory.useUnsafe = false
  + memory.dir

[2016-04-11 06:08] coldfuzz opened #5966 "How to I get Enterprice Edition"
Hi;
How can I download enterprice edition.

[2016-04-11 06:28] smolinari commented on #5965
Hi Coldfuzz,

To help you, the ODB team will probably also need the hardware specs of your server and the type of operating system you are using.

Scott

[2016-04-11 06:30] smolinari commented on #5966
You can download the software here: http://orientdb.com/download-orientdb-enterprise/

And you can contact them about purchasing the full Enterprise version with support here: enquiries@orientdb.com

Here is the web site: http://orientdb.com/orientdb-enterprise/

Scott

[2016-04-11 06:30] smolinari commented on #5966
Oh, and I am certain you'll get a response from them in the next couple hours at the latest here too.

Scott

[2016-04-11 06:32] coldfuzz commented on #5966
Hi Scott;
I have support for enterprise edition :)

[2016-04-11 06:44] smolinari commented on #5966
Ah. Great. Hope the team get to you soon then. Does the download link help?

Scott

[2016-04-11 06:47] coldfuzz commented on #5965
Hi you can find hardware specs at following.
Disk
Filesystem            Size  Used Avail Use% Mounted on
astnod14:/vol/ASLPAFPODB01
                      200G   81G  120G  41% /mnt/data

Server : Red Hat Enterprise Linux Server release 6.6 (Santiago)

Memory : MemTotal:       12190636 kB
MemFree:         8760832 kB

CPU

processor       : 0
vendor_id       : GenuineIntel
cpu family      : 6
model

[2016-04-11 06:55] coldfuzz commented on #5966
Hi;
There is a link for download for enterprise edition for development. I can these enterprise edition for also production.

[2016-04-11 07:21] smolinari commented on #5966
I am not sure myself how the Enterprise version is "controlled" or if the developer version is reduced in functionality. I believe you can use it, if you have the Enterprise license in a live system. Then again, ODB should have given you directions on how to use the Enterprise license/ version and how to get the proper software too. I can't imagine they didn't do that.

Scott

[2016-04-11 08:09] StarpTech commented on #5950
Try updating like this works:

[code]

@Pradnya-Paranjape try:

[code]

[2016-04-11 08:13] lvca commented on #5966
Hi,
The Enterprise Edition (EE) link you receive is a full working EE and can be used only in development. If you use it in production, it's a violation of the license. To use OrientDB production, you can use the Community Edition for FREE, or you can buy the Enterprise Edition (write to info -at- orientdb.com for a quote).

[2016-04-11 08:13] #5966 closed

[2016-04-11 08:22] coldfuzz commented on #5966
Hi Luca;
We have a license for enterprise edition. I just tried to understand orientdb enterprise edition for development also okey for production.

[2016-04-11 08:35] luigidellaquila commented on #5966
Hi @coldfuzz

The EE version you download from the website is the official one, so it's definitely OK for production.

For Enterprise support please use PrjHub (your account is already active), you will have priority access and private issue tracker

Thanks

Luigi

[2016-04-11 08:58] G4br13l3 commented on #5933
Hi @e-Evolution, any update about this issue? Did you figure out why the connection to the source database is closed?

[2016-04-11 09:20] luigidellaquila commented on #5961
Hi @obi1kenobi

In current implementation aliases are used only to return data (they are calculated only after record evaluation). The statement does not fail only because they "path" name could refer to another (schemaless) property of the document

We have in the roadmap the full implementation of usage of aliases for filtering, ordering and so on

Thanks

Luigi

[2016-04-11 09:41] Pradnya-Paranjape commented on #5950
Hi @StarpTech ,

This does not seem to work for me.

[code]

i tried using the query like this

`update user set settings.vehicle.color = 'purple' where settings.vehicle.name = 'audi'`

Please let me know if i am doing something wrong here.

Thanks,
Pradnya

[2016-04-11 13:00] lvca opened #5967 "Refactor of exceptions"
This task is a refactor of the exception to achieve the following goals:
1. Each exception must have a code
2. All the codes must be in the same places
3. All the codes must have an associated short description
4. Upon server side exceptions, the exceptions must be serialised to the client with the codes (no java serialisation anymore)

[2016-04-11 13:09] tglman commented on #5918
Hi @Eijsinkdavid,

Thanks for the detailed report, i fixed and thrown a better exception that made the client scale the error up to the application.

[2016-04-11 13:09] #5918 closed

[2016-04-11 13:14] StarpTech commented on #5950
@Pradnya-Paranjape your verhicle is an array you can't access directly by dot notation.

[2016-04-11 13:30] obi1kenobi commented on #5961
Thanks for your reply! It would be nice if the documentation on aliases mentioned that one cannot yet use aliases to filter and order records.

[2016-04-11 13:31] luigidellaquila commented on #5961
+1, I'll update the docs

Thanks

Luigi

[2016-04-11 14:38] tglman commented on #5962
hi @Ostico,

That bug show up only in case you have the remote debug flag enabled, so as workaround disabled the debug flag, the fix will come out  with the next hotfix.

[2016-04-11 14:38] #5962 closed

[2016-04-11 16:49] laa commented on #5965
Hi @coldfuzz
Could you provide what is  your system memory consumption without OrientDB is running ?
What is  your heap size ?

[2016-04-11 17:05] zerovian commented on #5907
Sorry for the delay.  I didn't get any logging out of this last set of .jar files.  Just the NPE.  I'll try again as I may have put the wrong .jar files in place.

[2016-04-11 17:05] tglman commented on #5839
hi @cvm1ll3,

This is a really good news, feel free to close the issue if you cannot reproduce it anymore.

[2016-04-11 17:20] laa commented on #5739
Fixed for now. But I will create set of issues for few specific tests for 3.0 version.

[2016-04-11 17:20] #5739 closed

[2016-04-11 17:37] lvca commented on #2626
Already in 2.1 and improved in 2.2.

[2016-04-11 17:37] #2626 closed

[2016-04-11 18:40] pabloa opened #5968 "Spring cannot create proxies for some OrientDb classes (see details below)."
I am using Spring to create a database connection bean by http request.
In order to do that, Spring creates a proxy on the bean (because I declared it with scope "request") but when the server started I got the below messages:

[code]
Is is possible to declare as NOT final the following methods?:

- public final com.tinkerpop.blueprints.impls.orient.OrientEdgeType com.tinkerpop.blueprints.impls.or

[2016-04-11 18:56] saeedtabrizi commented on #5957
Hi @luigidellaquila ,
The final syntax for A* function is :
`"astar(<sourceVertex>, <destinationVertex>, <weightEdgeFieldName>, [<options>]) \n // options  : {direction:\"OUT\",edgeTypeNames:[] , vertexLocationAxisNames:[] , parallel : false }";`

Notes about parameters :
**`vertexLocationAxisNames `**= the axis of x,y,z or more fields in vertex to eval the Heuristic Costs . ( if pass no param it

[2016-04-11 20:20] Ostico commented on #5962
Tnx!

[2016-04-11 20:22] alexmm11 commented on #5097
Ok, this is the sequence:

1.- Database creation
[SpatialIndexDBTest.osql.txt](https://github.com/orientechnologies/orientdb/files/213717/SpatialIndexDBTest.osql.txt)

 and here is the log:
![seleccion_052](https://cloud.githubusercontent.com/assets/521303/14439979/7ca7cdd8-fff3-11e5-88c0-2dbdd183a3c3.png)

2.- Export the database
![seleccion_053](https://cloud.githubusercontent.com/assets/521303/

[2016-04-11 21:49] obi1kenobi commented on #5767
Thoughts on this issue?

[2016-04-11 22:36] obi1kenobi opened #5969 "Full text index not used to speed up query, causing poor performance"
Using OrientDB 2.1.13:

[code]

This makes `FULLTEXT` indexes actively harmful -- they slow down insert performance without helping speed up query performance.

[2016-04-12 05:13] laa commented on #5907
Hi ,
Sure but could you send this NPE any way ?

To put it in our collection of exceptions for this bug ?
пн, 11 Апр 2016, 20:05 zerovian <notifications@github.com>:

--
Best regards,
Andrey Lomakin, R&D lead.
OrientDB Ltd

twitter:@Andrey_Lomakin linkedin:https://ua.linkedin.com/in/andreylomakin

[2016-04-12 05:27] laa commented on #5907
I think I will provide you new distribution soon. To double check on my side that jar is correct too.

[2016-04-12 05:28] lvca commented on #5957
I like options as a JSON. @luigidellaquila do we already support it in SQL parser?

[2016-04-12 05:29] laa commented on #5892
Hi @lvca is it possible to provide this information ?

[2016-04-12 05:33] eugene-kamenev commented on #5968
@pabloa You should proxy OrientGraphFactory, not directly OrientGraph I think. Take a look here: [https://github.com/eugene-kamenev/orientdb-spring-boot-example/blob/master/src/main/groovy/com/spring/BootApp.groovy](BootApp.groovy)

[2016-04-12 06:37] codelimner commented on #5969
Try using `name CONTAINSTEXT 'xyz'` instead of `name = 'xyz'` in your query when indexing using fulltext. Your example uses the index fine for me in version 2.1.11 using `CONTAINSTEXT`.

[2016-04-12 07:18] lvca commented on #5892
Which info?

[2016-04-12 07:52] lvca commented on #5892
@laa I've already provided all the information. Just execute StopNodeTest with the new lock manager in OIndexAbstract class and you'll see the deadlock.

[2016-04-12 08:24] coldfuzz commented on #5965
Hi @laa
Total memory of server is 12GB and I send you current memory consumption. As I know orientdb uses off-heap and I set it to 1GB. You can find machine details at following.

                  -Dstorage.diskCache.bufferSize=8192"

# ORIENTDB memory options, default to 512 of heap.

if [ -z "$ORIENTDB_OPTS_MEMORY" ] ; then
    ORIENTDB_OPTS_MEMORY="-Xms1024m -Xmx1024m"
fi

 PID USER      PR  N

[2016-04-12 08:24] coldfuzz commented on #5965
Hi @laa
Total memory of server is 12GB and I send you current memory consumption. As I know orientdb uses off-heap and I set it to 1GB. You can find machine details at following.

                  -Dstorage.diskCache.bufferSize=8192"

# ORIENTDB memory options, default to 512 of heap.

if [ -z "$ORIENTDB_OPTS_MEMORY" ] ; then
    ORIENTDB_OPTS_MEMORY="-Xms1024m -Xmx1024m"
fi

 PID USER      PR  N

[2016-04-12 08:38] laa commented on #5892
@lvca as I answered above "I have tried test which caused deadlock but it fails on my side before deadlock, could you run test and send me heap dump ?"
But I will try again today.

[2016-04-12 09:10] luigidellaquila commented on #5767
Hi @obi1kenobi

I already worked on this... I just have to check if it was done on 2.1 or on 2.2, I'll do it in short.
Which version are you using?

Thanks

Luigi

[2016-04-12 09:11] laa commented on #5892
@lvca that is what I got

[code]

Is that sign of deadlock ? because test was finished without freeze ?

[2016-04-12 09:12] luigidellaquila commented on #5957
Hi @saeedtabrizi

It seems perfect!

@lvca yes, map params are already supported and used in shortestPath as well

Thanks

Luigi

[2016-04-12 09:37] laa commented on #5968
Hi guys,
It depends which approach do you use, if you treat OrientGraph as a bean with thread bounded scope, it is also OK.
Let me push change in couple of minutes.

[2016-04-12 11:29] lvca commented on #5892
Look at the logs before of that message: you should have timeouts. If you do a thread dump during that time you can see the threads stuck waiting for locking keys

[2016-04-12 11:32] laa commented on #5892
@lvca Cool, which parameter should I use to make time out very big and have time to inspect threads state ?

[2016-04-12 11:39] lvca commented on #5892
Try setting `OGlobalConfiguration.DISTRIBUTED_CRUD_TASK_SYNCH_TIMEOUT.setValue(100000)`

[2016-04-12 11:46] laa commented on #5965
Hi @coldfuzz ,
Let me know if I got you correctly, you set disk buffer size to be 8192 megabytes or 8 G, also your heap size is 1 G, which gives 9 G plus wal cache size , you have server with 12 G of memory which equals to consumption of 75% of memory.
That is exactly (well console output has bad formatting) what is shown as result of console output.

That is may be reason why OS put part of the f

[2016-04-12 11:48] laa commented on #5968
Fixed. Will be at next hotfix.

[2016-04-12 11:48] #5968 closed

[2016-04-12 11:52] laa commented on #5907
Hi , new distribution https://drive.google.com/file/d/0B2oZq2xVp841WjVfRHBOV0hKenM/view?usp=sharing just in case.

[2016-04-12 12:50] zerovian commented on #5907
This is exception(s) I got last night.

   Exception at Tue Apr 12 04:05:43 EDT 2016: com.progress.isq.ipqos.WorkErrorException
   Message (throw): Unexpected exception occurred during resource polling for perf-setup2-nt3:resource.database.remote.M3_l1_SDB33
   Message (excp):  Error during removal of entry by key
   Stack Trace:
com.progress.isq.ipqos.WorkErrorException: Error during removal of e

[2016-04-12 12:50] zerovian commented on #5907
I'll try with newer build.

[2016-04-12 13:42] obi1kenobi commented on #5969
Thanks for the suggestions, I appreciate that you are trying to help. However, `CONTAINSTEXT` creates a fundamentally different query than the `name = 'xyz'` one. Note how the `CONTAINSTEXT` query's results are always a superset of the other query's results, but not vice versa -- making this still a serious bug.

[2016-04-12 14:10] grossvater commented on #5336
Sorry for my late reply.

@laa I already explained in the description of the problem: if the files are hard linked to some other directory, I would like to preserve to files, when I drop the database.

[2016-04-12 14:22] laa commented on #5892
@lvca well as I expected this problem has nothing to do with hash order.
It can not happen in standalone mode, and as result has no direct relation to new lock manager(and later you will see that it has no relation to lock manager at all).

At first two threads are really locked on lockKeysForUpdateNoTx but they do not wait for each other.
Let's look at them first thread from thread dump https://g

[2016-04-12 14:35] laa commented on #5892
@lvca if you do not agree with my explanation could you reassign this issue back to me and add comment why, but if you agree I think that title of issue should be changed, it seems like current mechanics of replication causes deadlocks on duplicated index keys.

[2016-04-12 14:53] laa commented on #5969
Assigned to @maggiolo00 , seems like he missed this conversation.

[2016-04-12 14:56] laa commented on #5336
@grossvater sorry I do not get it. According to our API design if we drop database we remove files from disk. If you wish to preserve files from database on server merely move database directory to another location  and server will not see it. Why do you need such functionality, could you add additional explanation ?

[2016-04-12 15:36] obi1kenobi commented on #5767
I'm currently on 2.1.9 and 2.1.13, on different systems. I'd also appreciate if the bug is fixed in 2.2 though :)

[2016-04-12 15:44] schernolyas opened #5972 "(Feature) JDBC Driver not supports JTA transactions."
OrientDB JDBC Driver not supports standart JTA transactions.

[2016-04-12 16:08] maggiolo00 commented on #5969
Hi @obi1kenobi

Native fulltext does not support operator = because it will give you wrong results.

From your example

[code]
If the fulltext were used in this case
[code]
it would give you 2 results back which is wrong.
If you want to use the fulltext and + operator you should create two indexes one for exact match, one for fullText Match with ContainsText.

[2016-04-12 16:11] grossvater commented on #5336
My original issue (#5328) described what I need and why I tried to hard link the files: because I need a way to detach the database while the server is running, without deleting the files.

[2016-04-12 17:01] obi1kenobi commented on #5969
Hi @maggiolo00,

That is not the result I am expecting -- I would like only 1 result in that case. However, the fulltext index is sufficient because it's broader, which means it can be used to avoid the full table scan, narrow the possible result set down to those two records, and then only scan them two instead of the tens of thousands of records in the table.

This is very similar to the idea of

[2016-04-12 21:05] coldfuzz commented on #5965
Yes you understand correctly. But I dont understand wal cache size size what is it and how we can configure this and what is your advice for our production settings ?
Best Regards.

[2016-04-12 23:05] pabloa commented on #5968
Awesome! Thank you
Pablo

[2016-04-13 09:57] coldfuzz commented on #5965
Hi @laa  can you reply my message.

[2016-04-13 10:27] janjilek opened #5974 "Unable to import db"
Hello,
I am using OrientDB 2.1.8 and I need to copy db to other server. I export DB from web console and try to import it via console (-preserveClusterIDs=true) to the new database. Everytime I try to import it, it throws exeption:
Error on database import happened just before line 0, column 31226910
com.orientechnologies.orient.core.exception.ODatabaseException: Database 'remote:localhost/staging

[2016-04-13 10:33] smolinari commented on #5947
@taburet - just for my curiosity.....do you work for OrientDB?

Scott

[2016-04-13 10:37] taburet commented on #5947
@smolinari yes, I do, for about a month.

[2016-04-13 10:39] janjilek commented on #5974
I had to run ti 10 times in row to import it. The character on position 31226910 is "3"

[2016-04-13 11:15] smolinari commented on #5947
Cool! Congrats. Glad to see the team growing! That is theoretically a good sign for us "customers". :smile:

Scott

[2016-04-13 14:42] zerovian commented on #5907
Latest stack using build you posted yesterday.

   Message (excp):  Error during removal of entry by key
   Stack Trace:
com.progress.isq.ipqos.WorkErrorException: Error during removal of entry by key
	at com.progress.isq.ipqos.resources.plugins.openedge.work.WorkRunnable.performPolling(WorkRunnable.java:64)
	at com.progress.isq.ipqos.resources.plugins.openedge.work.DatabaseInstWork.doWork(Databas

[2016-04-13 14:56] taburet commented on #5947
OIndexEngine#flush for each engine is now called on OAbstractPaginatedStorage#synch.

[2016-04-13 14:56] #5947 closed

[2016-04-13 15:32] fc7 commented on #4656
This still happens in 2.2-beta2 ... Run console.sh on a file containing the following:

[code]
and it will return this error:
[code]

By removing the condition ``iGraph.isAutoScaleEdgeType() && `` in  orientdb/graphdb/src/main/java/com/tinkerpop/blueprints/impls/orient/OrientVertex.java (line 133)
it works.

[2016-04-13 15:41] fc7 commented on #4656
@lvca BTW there is another problem with ODocument#validateLink when creating edges in strict mode which pops up once the above problem is fixed. I will report it in a separate issue ... but to be able to reproduce it you need to fix this one first ;-)

[2016-04-13 15:43] emhohensee opened #5975 "Graph Returns Different Versions of Vertex to Web Application"
I'm writing a Java web app and I have a page that allows a user to update the properties and add/remove edges from a vertex.

When I make updates to properties, I save them with code that calls:

[code]

**This works perfectly and updates the values in the database**, incrementing the version as expected. The issue however, is that when I refresh the page after properties/edges have been changed,

[2016-04-13 15:58] luigidellaquila commented on #5767
Hi @obi1kenobi

I can confirm that this behavior is still present in 2.1.x, but I cannot change it in a hotfix release for backward compatibility.
Anyway, I'm pushing a fix in develop branch (2.2), so it will definitely change in next releases.

Thanks

Luigi

[2016-04-13 16:01] luigidellaquila commented on #5767
Pushed to develop branch. Closing

Thanks

Luigi

[2016-04-13 16:01] #5767 closed

[2016-04-13 16:11] luigidellaquila commented on #5975
Hi @decafmainline

a couple of questions for you:
- is there a reason why you are not invoking graph.shutdown() at the end of the method? (you should imho)
- are you connecting in plocal or remote?

Thanks

Luigi

[2016-04-13 16:28] decafmainline commented on #5975
Hi @luigidellaquila,

I am invoking shutdown at the end in the finally block. Forgot to include it. Here is the full function:

[code]
This is a remote connection. Thanks!

[2016-04-13 16:35] maggiolo00 commented on #5975
What about this?

[code]

Do you call the shutdown after read ?

[2016-04-13 16:37] decafmainline commented on #5975
I don't. I didn't know that I needed to for a read operation. Should I be calling the read from a try/catch/finally block and shutting down the graph?

[2016-04-13 16:39] maggiolo00 commented on #5975
which operation do you do on the returned OrientVertex?

[2016-04-13 16:40] maggiolo00 commented on #5975
Yes after after you get a Graph from the factory
 you should always shutdown it at the end

[2016-04-13 16:42] decafmainline commented on #5975
I use this function all over. I update, add, and remove properties as well as create edges with the OrientVertex object that's returned. I'm adding the `graph.shutdown()` now and testing. It makes since that this could cause what I'm seeing.

[2016-04-13 16:57] mrboxie commented on #5920
Hi,

  I see this issue is moved for next hotfix. Can I assume this is a new issue?

  I wonder if you have any suggestion on how to fix current customer database?

Thank you!

-Bo

[2016-04-13 17:03] decafmainline commented on #5975
I added the shutdown so now the function looks like this:
[code]

Now I am getting an `java.lang.IllegalArgumentException: Class is null` when I call `vertex.getId()` on the returned vertex. I'm checking that the vertex is not null first, and I can see the RID in my logs within the transaction at the database layer. I don't need to have a transaction open to call `getId()`, do I?

[2016-04-13 17:06] obi1kenobi commented on #5767
Thanks Luigi!

[2016-04-13 17:11] maggiolo00 commented on #5975
hi @decafmainline

That is why i wanted to know what do you do with the returned vertex. The graph should be open when you work with OrientVertex/Edge. When you have finished, you can close it.

[2016-04-13 17:12] maggiolo00 commented on #5975
Btw which framework are you using for the Web App?

[2016-04-13 17:18] decafmainline commented on #5975
I'm using Spark Java. So, I guess I don't understand what "work" means. Whenever I add, remove, or update properties, or do anything to an edge, I work inside a transaction try/catch block like in the `updateVertex` function I posted. Does calling `getId()` or `getProperties()` or `getType()` mean I'm "doing work" to the vertex? Shouldn't I be able to read static information from the vertex withou

[2016-04-13 17:24] decafmainline commented on #5975
Do I need to use detach/attach even if I'm not making changes to the vertex? The example listed [here](http://orientdb.com/new-detach-attach-methods-graph-api/) shows `setProperty()` being called. I only need to read information from the OrientVertex object in this case.

[2016-04-13 17:25] maggiolo00 commented on #5975
In this case you should detach the OrientVertex/Edge#detach.

[2016-04-13 17:27] decafmainline commented on #5975
What happens if I detach a vertex and then don't reattach it? I'm only using it to get information for the web page in this case so there will be no changes and no reason to reattach and save it.

[2016-04-13 17:39] mrboxie opened #5976 "Error saving record - OSBTreeException: We reached max level of depth of SBTree but still found nothing, seems like tree is in corrupted state. You should rebuild index related to given query."
We are running Orientdb 2.0.9 in embedded mode. We are running into the following exception when trying to insert db record. Not sure if  it is related, the setup for this issue is the same as another issue #5920 we reported. Both cases we had issue with inserting FilePerfData records, not of other types. Please see attached file for classes and indexes used.
[info_class_index.txt](https://github.

[2016-04-13 17:43] laa commented on #5976
Hi @mrboxie ,
2.0.9 version had bug in transaction managament system which eventually may lead to corruption of data structures.
Why you did not upgrade to latest 2.0.x or even better 2.1.x version ?

[2016-04-13 18:38] decafmainline commented on #5975
I modified my function to detach the vertices and added a function to reattach whenever I'm done querying the vertex. I'm still seeing the same `java.lang.IllegalArgumentException: Class is null` error as before though. Any advice? Thanks for your help.

[2016-04-13 19:23] mrboxie commented on #5976
Thank you. I need comments like yours to be sure the upgrade will help on the issues we are facing.
Really appreciated.

Still wonder if for the issues we saw here and in #5920. Is there any way we can recover the database?

Thanks,
-Bo

[2016-04-13 19:58] decafmainline commented on #5975
I've fixed all the issues I was having with attach and detach and I can now query the detached vertices for properties and edges. My original problem still exists and is now worse in that sometimes it shows different edges for the same @version in addition to changing versions on refresh.

[2016-04-13 22:14] justinkillen commented on #4436
+1

[2016-04-14 00:35] pabloa opened #5977 "Initial DB replication"
I could reproduce almost the same issue. I think they are related though. In my case the original Db recovered when I turned off the 2nd instance:

- I set a db and activated Hazelcast.
- I set ./config/default-distributed-db-config.json like:
-   "executionMode": "asynchronous",
- I launched a 2nd instance in other machine. With same settings.
- I launched 1st instance. All good.
- I launched 2nd

[2016-04-14 08:28] laa commented on #5920
Hi @mrboxie , as you mentioned in issue which you linked, that is issue in 2.0.9 version and I do recommend to upgrade to to latest 2.1 version.

About approaches to fix db, you should make export and then import from JSON, and db will be fixed.

[2016-04-14 08:33] SimonShapiro opened #5978 "Error on unmarshalling JSON content when creating an edge"
I set up this piece of JSON to use with http API at /batch/db:

`{"transaction":true,
"operations":[
{"type":"c",
"record":{
  "@class":"cef_CONSISTSOF_cef",
  "out":"#12:37847",
  "in":"#12:37641"}}
]}`

In response I get the following:

`{
  "errors": [
    {
      "code": 500,
      "reason": 500,
      "content": "com.orientechnologies.orient.core.exception.OSerializationException: Error on un

[2016-04-14 08:42] alexmm11 opened #5979 "Question about batch mode."
Hi, is it possible to set 2 or more variables after the word "to" at edge creation?

script sql
begin
let user  = create vertex User content { "name": "Alex" }
let vert1 = create vertex Thing content { "name": "Thing1" }
let vert2 = create vertex Thing content { "name": "Thing2" }
let edg  = create edge IsOwner  from $user to $vert1,$vert2,...
commit retry 100
end

[2016-04-14 08:46] StarpTech commented on #5979
@alexmm11

I think this is possible:

[code]

Accroding to the documentation you can give an array of RIDS.
http://orientdb.com/docs/2.1/SQL-Create-Edge.html

[2016-04-14 08:49] eugene-kamenev commented on #5975
@decafmainline
The very simple solution is to use web-filter to open and close graph at different request processing stages. Or simply just add the check -> if graph is opened and you didnt closed it, close it explicitly after request processing.

[2016-04-14 08:50] StarpTech commented on #5978
@SimonShapiro How looks your transaction?

[2016-04-14 08:55] SimonShapiro commented on #5978
It is in the message above

`{"transaction":true, "operations":[ {"type":"c", "record":{ "@class":"cef_CONSISTSOF_cef", "out":"#12:37847", "in":"#12:37641"}} ]}`

[2016-04-14 09:14] maggiolo00 commented on #5964
hi @shaantheadmin

Did you try with the latest version of ODB 2.1.15?
let me check.

[2016-04-14 09:33] maggiolo00 commented on #5969
@obi1kenobi

yes it is wrong that is why the full text index is not used with = operator.

We do not support now that concept.

You can manually do that. It is not the best solution but you can do with only one index.

[code]

[2016-04-14 09:51] tglman commented on #5974
Hi @janjilek,

Are you running the import using remote or plocal connection, we strongly suggest to use plocal.

[2016-04-14 09:57] SimonShapiro commented on #5978
I have managed to use this json in a REST client.  So the problem must be in the way I have set up the http call in node.

[2016-04-14 10:31] janjilek commented on #5974
I am using remote. Why should I use plocal?

[2016-04-14 10:59] tglman commented on #5974
Hi @janjilek,

remote import does not support all the cases of plocal,  for example in 2.1 you cannot import database with disable validation, ecc. so we usually suggest to do the import plocal.

[2016-04-14 11:18] maggiolo00 opened #5980 "Streaming database import"
Support for database import in Streaming.

Instead of executing the import in remote, just send the file in streaming and execute it in plocal.

[2016-04-14 13:38] janjilek commented on #5974
Hi,
I understand. But it's strange, that when I import same json X-times in row without cleaning data, it will import with success.

The import flow: (A < B < C < ... < X)
import database new.json
Error on database import happened just before line 0, column A
import database new.json
Error on database import happened just before line 0, column B
import database new.json
Error on database import ha

[2016-04-14 13:43] janjilek commented on #5974
It looks like, that it always crash on importing edges. And when I run import again I can see, that re-import is dropping Classes with UNSAFE. So maybe this is why it can import database after X tries.

[2016-04-14 14:48] SimonShapiro commented on #5978
There were two problems.  The first was that my content-length setting was corrupt.  The second is that using this json only the edge is created and it does NOT link to the vertexes.  In order to achieve the correct linking I had to use:

` {
									type: "cmd",
									language: "sql",
									command: "CREATE EDGE cef_CONSISTSOF_cef FROM ${e.from} TO ${e.to}"
								}`

[2016-04-14 14:48] #5978 closed

[2016-04-14 14:56] tglman commented on #5905
hi @PhantomYdn,

Doing some internal discussion we decided to not support null keys on maps, also because this will bring issue for some API like HTTP/JSON or third party drivers.

so i just added the proper exception in case of add of a key null in map

closing

[2016-04-14 15:27] robfrank commented on #5097
hi, I managed to replicate the problem. It is related to **remote** protocol.
We don't have a fix for that right now, I hop we will fix in th. The workaround is to import using **plocal**, but you need to switch off the server:
* switch off the server
* import the database using plocal:/path/to/the/database
* switch on the server

[2016-04-14 15:28] #5922 closed

[2016-04-14 15:55] alexmm11 commented on #5979
Nope, it is not, i got error :(

[2016-04-14 16:12] smallik opened #5981 "Live Query not working as expected"
Version: 2.1.9

The Issue:

when I do a live query like this "live select from Test" then I would expect all changes to this class be notified.

But when I say "live select firstname from Test", where first name is a field in class test then I would expect that it notify only when first name changes.

I am not sure if this is a bug or a unavailable feature at this time. Because the documentation d

[2016-04-14 16:25] smallik commented on #5981
Wow! that was rocket speed!!!

[2016-04-14 16:26] PhantomYdn commented on #5905
In this case, imho, value should be checked at the same place where other validations. And some frameworks might serialize even before save() and its strange just fall down with exception on this stage.

[2016-04-14 16:45] smallik opened #5982 "Live Query view or loaded not working"
Version: 2.1.9

Issue:

live query works for Delete, update and create of rows. it is not working for view or when a row is loaded.

I created a live query "live select from Test".
after that, from the webstudio, I tried to update, add and delete rows. live query works fine for all these cases.

but its not notifying when I do a select. with or without predicate.

I think this is a bug because in

[2016-04-14 16:54] lvca commented on #5977
@pabloa please, could you try with 2.2.0-SNAPSHOT in the "develop" branch of git?

[2016-04-14 17:02] smallik commented on #5981
please include #5982 in the fix. as it is similar. and might require changing the same code.

[2016-04-14 18:39] pabloa commented on #5977
Hello. Will do. I will post the results.

[2016-04-15 05:36] lvca opened #5983 "Distributed: Deferred Replicas"
Today the server's role in a distributed configuration are:
- MASTER (default)
- REPLICA (read-only)

What's missing is a new `DEFERRED_REPLICA`:
- it's still read only
- it doesn't receive any message during updates
- every X configured seconds, it executes a `delta sync` to stay updated

The pros of this approach is much less traffic and overload for the cluster for "mostly read" databases.

[2016-04-15 05:39] lvca opened #5984 "SQL: new functions startsWith and endsWith"
These functions are simple to implement and resolve many use case, like:

[code]

[2016-04-15 08:49] lvca opened #5985 "Migration from Document to Graph model"
People who want to migrate from the document to the graph model, do not have an automatic tool.

[2016-04-15 09:03] #5933 closed

[2016-04-15 09:03] G4br13l3 commented on #5933
@e-Evolution I'm closing this issue, please feel free to reopen it if you have issues!

[2016-04-15 11:38] nevers commented on #5838
Had the same problem today. I replaced the dots with underscores, but it's a rather ugly hack.

[2016-04-15 12:44] fc7 opened #5986 "Commit should not be possible after graph.shutdown()"
With 2.2.0-beta2 it appears that by default any OrientGraphFactory is initiated with a pool, which was not the case in 2.1.x. This behavior causes some breaks in our unit tests. When graph.shutdown() is called, OrientDB attempts to close its underlying database, but when the database in an instance of OPartitionedDatabasePool and the acquireCount before the close is larger than 1, the database rem

[2016-04-15 13:31] robfrank opened #5987 "ETL doesn't load documents on given cluster"
If a **cluster** is defined in ETL configuration, loader section, the cluster isn't created by the Loader.

[2016-04-15 13:37] #5982 closed

[2016-04-15 13:37] luigidellaquila commented on #5982
Hi @smallik

Live query is not intended as an auditing feature, it just notifies changes that happen in the database, so the LOADED operation was deliberately ignored.

BTW, I think returning all the read records would have a huge impact on query performance in general.

I'm sorry, I have to close this issue

Thanks

Luigi

[2016-04-15 13:39] luigidellaquila commented on #5981
Hi @smallik

actually LiveQuery was not implemented to manage the distinct in this case, but I think it makes a lot of sense.

I'll take a look at that asap and I think I'll be able to release this fix before 2.2 GA.
In 2.1 LiveQuery is considered experimental, so I think backporting the fix and changing this behavior is not a big problem

Thanks

Luigi

[2016-04-15 15:12] lvca opened #5988 "Distributed: calculate the write quorum only with MASTER servers"
REPLICA only servers can be excluded from the writeQuorum, reducing the cost of latency with many servers where some of them are REPLICAs.

[2016-04-15 16:40] #5988 closed

[2016-04-15 17:09] lvca opened #5989 "Distributed: delta-sync doesn't take in consideration schema/clusters changes"
Right now if any change happen to clusters/schema, they are not realigned to the node that ask for a delta-sync.

[2016-04-15 17:12] lvca commented on #5989
My idea is to:
- after the delta-sync, ask for metadata like 1) database structure, 2) schema records, 3) indexes and 4) sequences
- parse database structure, and foreach new cluster, create it. For each dropped cluster, drop it
- overwrite the schema locally

[2016-04-15 17:40] Mikkk42 opened #5990 "server.bat does not set ORIENTDB_HOME environment variable"
On a Windows 10 Pro 64 Bit machine, server.bat script does not set ORIENTDB_HOME variable. No difference whether the script was started with Administrator rights or not.
Machine has latest Java SDK installed.

[2016-04-15 18:00] Severogor opened #5991 "Absent values in automatic composite SB-Tree index"
I'm working with OrientDB Enterprise Server v2.1.13 and have faced some problems I can't find explanation and solution for yet.

It seems that automatic composite SB-Tree index works improperly and doesn't index new values (or I misunderstand something). A have the following edge classes:

[code]

Suppose we have some vertices - with RIDs #12:0 and #30:0.
Then we do inserts:

`CREATE EDGE LINK FRO

[2016-04-15 18:08] Severogor opened #5992 "SELECT value behaviour"
Hello,
Is this SELECT behaviour correct?

[code]

I don't think so...
PostgreSQL too.

[code]

What's the problem with selecting an empty (though a space isn't an empty, actually) value?

[2016-04-15 18:34] Severogor opened #5993 "Case-sensitive commands in console"
OrientDB Enterprise 2.1.13.

[code]

The same record limit also gives LIMIT -1 etc. As far as I understand, the LIMIT N (writing other than lowercase) gives correct results only in cases when N is in the interval (0, 20).
Seems like the LIMIT statement is case-sensitive in console and binary protocol (with pyorient) because it works correctly only in lowercase.

So and quit/exit...
[code]
May be I

[2016-04-16 03:54] zig158 commented on #3769
I ran into this exact issue in version 2.1.15. I have the following schema.

[code]

My Token and user objects have a circular reference that is enforced by java hooks. My application works perfectly when not running in distributed mode. When I enable distributed mode I got the same exception as @tobiemh. I was also getting zero records returned when I would query my Token.token index, or run the

[2016-04-16 09:54] smolinari commented on #5992
What use would there be for having a space as a field name?

Scott

[2016-04-16 10:10] smolinari commented on #5993
The better suggestion is to explain why a LIMIT 0 might be useful. For instance, it could be a fast method to check the validity of a query.

As for the LIMIT, Limit or limit problem, that needs to be checked.

Scott

[2016-04-16 17:09] luigidellaquila commented on #5992
Hi guys,

I don't like this behavior, I think I can change it and have a default fallback to "value" as field name in cases like this when you cannot infer an alias from the projection

WDYT?

Thanks

Luigi

[2016-04-17 01:07] Severogor commented on #5992
Hello,

I think this behaviour is irrational.
If space is not usable as a field name, why space + non-space is supposed
to be usable?

I wonder that if variable is supposed to have a value in "SELECT variable;"
- why can't it have any value? The thing is that current ODB behaviour
implies that '' (empy value) and ' ' (space) are not values, that obviously
is not true. Or do we select field names i

[2016-04-17 10:27] smolinari commented on #5992
@luigidellaquila - You lost me to be honest. I would most definitely bow to your experience, wisdom and knowledge about databases and in particular ODB, however, I don't understand how defaulting to a possibly totally unknown value could be intuitive for the user.

I am also completely lost on how aliases are involved in all this. Are you considering just piping out a empty value, if the alias is

[2016-04-17 19:47] tomvit opened #5994 "Data purging mechanism"
Hi,
I need to implement a purging mechanism in my app for the data that are out of an active time range. My DB is over 6GB of size. I am thinking about two options:

1) Using clusters to store data on a daily basis. The purging mechanism would simply drop and truncated all clusters that would be out of the active time range.

2) Delete data from documents that would be out of the active time range

[2016-04-18 00:47] sajid2045 commented on #4990
Now that we have the latest orientdb running , I am re-opening this issue as we will dig deeper on this

[2016-04-18 01:10] sajid2045 commented on #4990
Here is the output after running it in Explain:

https://dl.dropboxusercontent.com/u/5968302/Explain.PNG

[2016-04-18 01:33] sajid2045 commented on #4990
Here is the output after running it in Explain:

https://dl.dropboxusercontent.com/u/5968302/Explain.PNG

[2016-04-18 01:40] sajid2045 commented on #4990
Note: The query executed exactly at the same time as the original query (40sec) to lookup 230,000 rows

[2016-04-18 06:36] hughjfchen opened #5995 "Composite key support in merge feildName and lookup of ETL transfromer"
Currently,the feildName and lookup of merge step of ETL transformer only allows one field,I'd like it can support multi fields so that I can import data with composite keys easily.

[2016-04-18 07:22] AlessandroRota commented on #4990
Hi @sajid2045 , could you share your database so we can do some tests ?

[2016-04-18 08:40] fc7 opened #5996 "Storage of LINKMAPs has a different behavior in 2.2.0-beta2"
The following unit test:
https://github.com/CompartAG/orientdb-tryouts/blob/master/src/test/java/com/compart/tec/LinkmapTest.java
exemplifies a change in behavior in version 2.2 in how LINKMAPs are stored.

The test succeeds in 2.1.15, but if you change the version to 2.2.0-beta2 in the pom.xml, it will fail.

It seems that in 2.2 the commit (on line 39) leads to a mutation of the `Map<String, Ori

[2016-04-18 08:41] saeedtabrizi commented on #5957
Hi @luigidellaquila
Is there any way to call orientdb user defined function ?
I want to put an optional parameter in the final syntax  for enable  custom Heuristic function calling .

`"astar(<sourceVertex>, <destinationVertex>, <weightEdgeFieldName>, [<options>]) \n // options : {direction:\"OUT\",edgeTypeNames:[] , vertexAxisNames:[] , parallel : false , tieBreaker:true , maxDepth:99999,dFactor:

[2016-04-18 09:12] laa commented on #5907
Hi @zerovian I have put your stack trace as a gist to do not clutter issue with long stack traces.
Sorry that I did not answer at the same time.
Do you have in log message like "dataPointer is null, nuller stack trace " ?

[2016-04-18 09:14] laa commented on #5336
Ok, but we can not break server API . And I still do not understand.
If we will remove files any way during deletion of  storage how prevention of truncation of them will help to solve issue ?

[2016-04-18 09:16] laa commented on #5976
Hi @mrboxie could you update version and try the approach which I suggested you in issue #5920 ?

[2016-04-18 09:24] laa commented on #5965
HI @coldfuzz , wal cache size is very small it consist of 3 000 pages of 64 kB each , which gives in sum
about 187 Mb of memory.
In general the bigger disk cache you have the better, so I would suggest to do following steps:
1.  Decrease linux swap policy ,   I suppose it is placed under `/etc/sysctl.conf` and probably you may be able to get current level of at `/proc/sys/vm/swappiness` . I think

[2016-04-18 09:27] laa commented on #5994
@tomvit any of this options will lead to big changes in indexes.
Is it ok for you ?

One more question , do you have or plan to have unique indexes in database, I mean indexes which  ensure uniqueness of records.

[2016-04-18 09:36] luigidellaquila commented on #5992
Hi guys,

@Severogor objection makes sense. The only problem here is that white spaces are not supported in property names, also the following will fail

[code]

At this stage there is no practical reason for this at parsing level (there was before, but with the new parser these limits are solved), but in the executor it still has to be supported. I'll work on this in next releases, so you can con

[2016-04-18 09:55] luigidellaquila commented on #5993
Hi @Severogor

It seems be a matter of wrong pre-parsing in the console application, I'll check it soon

Thanks

Luigi

[2016-04-18 10:33] tomvit commented on #5994
I am not using indexes. My data is time series data and I have built a tree structure that allows to store data ordered by year, month, day, minute ... it also stores aggregated values at various levels, it is pretty fast.

I am a bit worried that if I purge data on daily basis and would just delete them, I would need to run defragmentation often. I thought that dropping clusters would avoid holes

[2016-04-18 10:34] sajid2045 commented on #4990
https://dl.dropboxusercontent.com/u/5968302/subscription-service.gz

let me know when done so I can remove it

[2016-04-18 10:41] tglman commented on #5996
Thank you for the report, we are checking it

[2016-04-18 10:41] grossvater commented on #5336
Because I hard link every file to another directory (simple like this, `ln db/file1 backup/file1' for every file in database directory).

@laa Anyway, why do you say you break the server api? You actually change the implementation not the api: delete the file but do not truncate, but the file will still disappear from database directory and this will be an acceptable solution for me.

But the perf

[2016-04-18 10:50] smolinari commented on #5992
Ok. I'll bow out still not understanding the problem. Maybe when the solution is made available, I'll understand the problem.

Scott

[2016-04-18 10:53] luigidellaquila commented on #5992
Hi Scott,

I think the only real problem here is the exception that is being thrown.

Having a field with an alias that is an empty string (or only blank characters) is not a very common use case, but having a field name with blank spaces in the middle (eg "first name") is definitely more common, so I think it's worth supporting it ;-)

Thanks

Luigi

[2016-04-18 11:02] maggiolo00 commented on #4990
hi @sajid2045
do you have a backup instead of export?
Thanks
Enrico.

[2016-04-18 11:05] smolinari commented on #5992
Oh, I can understand wanting spaces in the field name (between words). If that is the problem, I'd agree it would be nice to support. I didn't understand wanting to support a blank or space as a field name alone. Still, spaces in field names sounds to me like something exotic to want to have.

I would assume, if there are to be spaces in the names, then those identifiers would have put inside doub

[2016-04-18 11:07] laa commented on #5994
@tomvit if you remove records by ranges, database will reuse free space for new records,  you do not need to make compaction for that. But if  you remove files you will create big disk fragmentation. So I would suggest you to remove records by ranges.

In such case you will waste a bit of disk space, about 10 bytes per each deleted record.
If that is still not acceptable for you, you may combine 2

[2016-04-18 12:54] laa commented on #5336
@grossvater well I see now what you mean, will be at next 2.2 rc version release.

[2016-04-18 12:57] nagarajasr commented on #5992
:+1: for implementing field names and aliases with an embedded space.
but wouldn't it break other APIs (e.g., JDBC ?) to have only an empty value as field name or alias?

[2016-04-18 13:00] laa commented on #5907
Hi @zerovian , I found reason for that issue, fixing it now.

[2016-04-18 13:03] laa commented on #5907
Did you try settings with last release of 2.1.x which I suggested to you ? Unfortunately I may fix this issue only in 2.1.x branch.

[2016-04-18 13:10] laa commented on #5907
Well actually fix is super simple, I may put it in 2.1.11 distr for you, but in general it will be available only in 2.1.16

[2016-04-18 13:28] luigidellaquila opened #5997 "Random NullPointer on CI tests"
It happened once during general tests
branch 2.1.x, at commit 6d44b06a5cdcac6eae6bac511b7d0ae40aa91851

Exception in thread "OrientDB ETL pipeline-2" java.lang.NullPointerException
    at com.orientechnologies.orient.core.storage.impl.local.paginated.atomicoperations.OAtomicOperationsManager$WaitingListNode.access$200(OAtomicOperationsManager.java:487)
    at com.orientechnologies.orient.core.stor

[2016-04-18 13:33] AlessandroRota commented on #4990
Hi @sajid2045 , what version are you using ?
Thanks.

[2016-04-18 13:39] maggiolo00 commented on #4990
hi @sajid2045

you can remove the link

[2016-04-18 13:40] maggiolo00 commented on #4990
I've removed the link

[2016-04-18 13:42] zerovian commented on #5907
I haven't gotten a chance to test with the suggested switches with a newer release.  I'll assume they work and having a fix in 2.1.16 would be fine.  I'll test with 2.1.16 build as soon as I get a chance. Hopefully soon.  I'll note in 5831 if they address the performance issue or not.

Thanks for making this a priority.

[2016-04-18 13:49] tomvit commented on #5994
Thanks a lot for your suggestions. Disk fragmentation could indeed be an issue, however, when running the app on linux or SSD, it should not. Something to keep in mind though.

Regarding the waste of disk space, as you say 10 bytes per record, I expect to have around 1500 records per day and per a document and around 50 documents in total. In total this would waste around 700KB of data per day (wh

[2016-04-18 13:57] luigidellaquila commented on #5957
Hi @saeedtabrizi

I don't know if I got it right, but I think what you need is this:

[code]

Thanks

Luigi

[2016-04-18 14:01] laa commented on #5907
Fixed, @zerovian the same fix in 2.1.11 distribution. About your second issue. When you confirm that this issue is fixed you should export database to JSON and then import back and second issue will be gone too.

[2016-04-18 14:02] #5994 closed

[2016-04-18 14:06] luigidellaquila commented on #5992
More or less, they should be back-tick quoted (like in MySQL ;-) )

[code]

[2016-04-18 14:07] luigidellaquila commented on #5992
@nagarajasr

I don't think so, I as I said before, also MySQL supports back-tick quoted field names with spaces. For sure we have to add some small things to ODocument to accept field names with special characters, but I'm already working on it for other use cases

Thanks

Luigi

[2016-04-18 14:36] zerovian commented on #5907
great. I'll test the 2.1.11 build and let you know as soon as I can (might be a couple of days).

[2016-04-18 15:50] laa commented on #5991
Cause of big is following - default record value is assigned after index hook is called but not before so index miss this record. Assigned to @tglman .

[2016-04-18 16:08] lethalspam commented on #5137
Hi, we can close this ticket.  Thanks!

[2016-04-18 22:13] maggiolo00 opened #5998 "Exception on checkpoint listener of OLuceneIndexFactory in Distributed Mode"
[code]

[2016-04-18 23:27] Severogor commented on #5992
Hi,

If we a to talk about enhancements - here are some another shortcomings
from my point of development:

1) Inconvenient default in & out aliases

orientdb {db=data}> SELECT out.field1, out.field2, out.fieldN FROM
something;

We get the following inconvenient "nothing-speaking" aliases out, out2,
out3 etc:
----+-------------+----+-------------------+--------
#   |@CLASS|out |out2              |

[2016-04-19 03:35] mrboxie commented on #5976
Yes, That's what we did. Still wait for the customer to do the upgrade. Will update you. Thank you.
-Bo

Date: Mon, 18 Apr 2016 02:17:12 -0700
From: notifications@github.com
To: orientdb@noreply.github.com
CC: xie_bo@hotmail.com
Subject: Re: [orientechnologies/orientdb] Error saving record - OSBTreeException: We reached max level of depth of SBTree but still found nothing, seems like tree is in co

[2016-04-19 07:10] robfrank commented on #5987
If the Overtex transformer is configured, it saves the Vertex Implicitly and does't rake care of the cluster configured, so the cluster selection strategy of the db assign the cluster. Default strategy is round robin selection

[2016-04-19 07:50] lvca commented on #5989
For 2.2 I'd prefer to avoid supporting this because after a deeper analysis, it requires more time to develop and test it properly. So in v2.2 if any cluster or indexes has been added or removed, the delta-synch falls back on full replica. It's already in develop branch. I'm going to leave this open to be developed in v3.0

[2016-04-19 07:52] lvca opened #5999 "Distributed: delta-sync should scan the database if journal is not available"
Reading the journal makes delta-sync a super fast operation. However, if the journal is not available because wiped out, the delta-sync should scan the entire database looking for changed pages. This operation is more expensive, but always less expensive than transfer the entire database over the network.

Taking that scanning the pages to read the header checking for pages with LSN > X costs Y, t

[2016-04-19 08:58] smolinari commented on #5989
I am not confused, just a little disappointed this can't make 2.2. LOL! :smile:

Scott

[2016-04-19 09:02] grexe commented on #5789
using 2.1.15, could you please just log a message and catch the Exception? As it is a known non-tragic issue, I'd really like my log not be polluted by these Exceptions...

[2016-04-19 10:23] lvca commented on #5989
I know, me too :-)

[2016-04-19 10:54] #5998 closed

[2016-04-19 11:03] laa commented on #5997
Fixed

[2016-04-19 11:03] #5997 closed

[2016-04-19 11:05] laa commented on #5146
Close issue because of no reply. If you reproduce given issue and have information which is requested in issue feel free to reopen it.

[2016-04-19 11:05] #5146 closed

[2016-04-19 12:27] Severogor commented on #5992
Hi,

If we are to talk about enhancements - here are some another shortcomings from my point of development:

1) Inconvenient default in & out aliases
[code]

We get the following inconvenient "nothing-speaking" aliases out, out2, out3 etc:
[code]

Why can't they be the after-dot (instead of before-dot) field names - field1, field2, fieldN etc? Like this
[code]

2) MANDATORY Semicolon at the end o

[2016-04-19 13:06] luigidellaquila commented on #5992
Hi @Severogor

+1 for both. For the second one I'm half way to a solution, there is a chance that it will be available as an option in a late 2.2 hotfix (probably not the first GA)

Thanks

Luigi

[2016-04-19 13:36] laa opened #6000 "Http tests are not stable on users environment and on orientdb-develop-coverage build"
Several users including commercial customers reported that HTTP test are not stable.
The same issue may be observed on our CI build http://helios.orientdb.com/job/orientdb-develop-coverage .

Would be cool fix the tests or issue inside production code.

[2016-04-19 13:45] laa opened #6001 "Batch inserter for graph database"
Following approach seems to be the best one for batch insertions:
1. Create logical/inheap presentation of our disk data structures such as clusters and indexes.
2. Add data by batches in heap presentation.
3. Once memory will be full put all gathered data directly to the files avoiding all database layers.

This approach may work only in data structures which are append only at least if we split

[2016-04-19 14:46] Severogor commented on #5993
Hi,
Please check column names also.

[code]

Thanks.
S.

[2016-04-19 16:59] Severogor commented on #5991
Seems that the problem is not in index type. The similar problem exists in Hash Index type too. Values appear only after index recreation.

[2016-04-19 17:55] tglman commented on #5905
hi @PhantomYdn,

It make sense add some check also at validation stage, i'll reopen the issue at lower priority to keep track

[2016-04-19 18:41] saeedtabrizi commented on #5957
Hi @luigidellaquila
I'm ready to push A Star function  in orient repository, but i have not access to your master repository in git.
how can i push my code changes in the master branch of repository ?
is there any special rules for pull requst in orientdb project ?

Thanks
Saeed

[2016-04-19 19:35] saeedtabrizi commented on #5957
Hi @luigidellaquila
That's ready to use in  #6002 .
I planned to add **Lazy Theta Star** algorithm to orientdb now . :+1:
Thanks
Saeed

[2016-04-19 19:39] willywos opened #6003 "Too many files open."
Hey,

I'm running OrientDB 2.1.1. When running I am getting these exceptions and then it basically crashes and becomes unusable.

[code]

I've set the ulimit already to like 4000 and that doesn't seem to help. Is there anything I can do?

Thanks

[2016-04-19 19:56] gerdhub commented on #5902
Is there any news on this issue?

[2016-04-19 19:56] gerdhub commented on #5945
Is there any news on this issue?

[2016-04-19 23:00] lvca commented on #5957
@saeedtabrizi thanks for your PR, it looks like well done. About the **Lazy Theta Star** it would be a nice addition.

[2016-04-20 05:00] laa commented on #6003
Hi @willywos ,
Could you try 2.1.16 version first.
This problem should already be fixed.

[2016-04-20 05:05] laa commented on #4869
All improvements in hit rate are very minor if there are at all. Will move it in far future.

[2016-04-20 05:06] laa commented on #5945
That is duplication of https://github.com/orientechnologies/orientdb/issues/5504 , please track this issue instead.

[2016-04-20 05:06] #5945 closed

[2016-04-20 05:07] ben-manes commented on #4869
@laa Do you have traces? I can run it through a simulator to show how different policies behave. TinyLFU appears to be the best in general, including database workloads.

[2016-04-20 05:10] laa commented on #4869
@ben-manes well it would be interesting. We will try to find time to create one and share with you. Thank you for help.

[2016-04-20 06:39] maggiolo00 commented on #5902
hi @gerdhub

which query did you execute?

[2016-04-20 08:02] #5816 closed

[2016-04-20 08:02] taburet commented on #5816
Added the check on memory and plocal engines startup.

[2016-04-20 08:33] janjilek opened #6004 "How to restart web studio without restarting database"
Hello,
I have problem on my production server. Web studio crashes time to time and sends only ERR_EMPTY_RESPONSE. Is there some way, how to restart studio without restarting db?
I am using OrientDB v 2.1.8

Thank you
Jan

[2016-04-20 09:04] maggiolo00 commented on #6004
hi @janjilek

how can i replicate this?

You cannot restart Web Studio. It is a javascript/html app only.

[2016-04-20 09:11] janjilek commented on #6004
hard to say, it crashes after some months (1-3) and writes nothing in the logs. Only solution is to restart db. But for do that, i have to disconnect all the users (we have only 1 db intance).

[2016-04-20 09:12] janjilek commented on #6004
It's just sending empty response or ERR_CONNECTION_RESET.

[2016-04-20 09:16] maggiolo00 commented on #6004
That's strange.

You can try to move ouy the studio-*.zip from the plugins folder and and move in again.
This will force to reload the plugin

[2016-04-20 09:48] janjilek commented on #6004
I changed it and now i can see error in log.  WARNI Reached maximum number of concurrent connections (max=1000, current=1061), reject incoming connection from /x.x.x.x:52597. It looks like, that is not killing connections. My api has 50 connections, don't know, from where is the rest.

[2016-04-20 09:48] janjilek commented on #6004
So it's maybe a bug in NodeJS driver

[2016-04-20 09:52] maggiolo00 commented on #6004
Can you post your connection code with OrientJS ?

[2016-04-20 09:52] janjilek commented on #6004
So i restarted api and it released all the connections, so now studio works without restart of the db. But i think, that it should show some popup and not reset connection.

[2016-04-20 09:53] maggiolo00 commented on #6004
You can check the opened connection in Studio -> Server Management from the Home Page then Connections

[2016-04-20 10:01] janjilek commented on #6004
I can see a lot of opened connection (maybe 100)  from 120 with this signature:
Session ID	Client	Address	Database	User	Total Requests	Command Info	Command Detail	Last Command On	Last Command Info	Last Command Detail	Last Execution Time	Total Working Time	Connected Since	Protocol	Client ID	Driver
9759	/x.x.x.x:53628	-	-	0	-	-	1970-01-01 00:00:00	-	-	0	0	2016-04-20 09:57:59	binary	-

[2016-04-20 10:04] janjilek commented on #6004
My code is basically only my own pool with 20 opened connections. On the beggining I open 20 connections and then I use round robin to use the connection. When the connection is not used more than x minutes I close it and open new one on request. So maybe I have bug there. But i can see only 20 connections from orientjs driver, the rest is like in the prev post

[2016-04-20 10:59] tglman opened #6005 "Roadmap 3.0"
## Core
- [ ] New Profiler and Session recording
- [ ] Page compression https://github.com/orientechnologies/orientdb/issues/5383
- [x] Refactor Add Database Factory API https://github.com/orientechnologies/orientdb/issues/6011
- [ ] Remove Global Transaction Lock https://github.com/orientechnologies/orientdb/issues/6013
- [ ] 2QCache Implementation Optimization
- [x] Clean up Api and implementati

[2016-04-20 12:04] oliverfleetwood opened #6006 "java.lang.ArithmeticException "/ by zero" when using PARALLEL keyword"
I get these errors sometimes for the query
[code]

But not always. Anyone else experiencing this issue? I'll see if I can provide better data to reproduce this error otherwise.

What I want to do is to speed up the query
[code]

by appending the PARALLEL keyword, thus running slowFunction() for every '@rid' in parallel. Does anyone know if this will actually work?

[2016-04-20 12:05] #5955 closed

[2016-04-20 12:05] taburet commented on #5955
Check emitting the warning added.

[2016-04-20 12:07] taburet commented on #5816
Code reworked, no stop, just warn.

[2016-04-20 14:21] jfernandezrico opened #6007 "How to save a document / image in OrientDB"
Hello,

I'm trying to add a file in a vertex BINARY property but I get next error:

`{
  "errors": [
    {
      "code": 500,
      "reason": 500,
      "content": "com.orientechnologies.orient.core.exception.OSerializationException: Error on unmarshalling JSON content for record: \"@class\":\"Ofertas\",\"@version\":0,\"@rid\":\"#-1:-1\",\"nombre\":\"ddd\",\"imagen\":null,\"fecha_fin\":null,\"desc

[2016-04-20 14:49] maggiolo00 commented on #6007
hi @jfernandezrico

are you uploading file with http api?

[2016-04-20 15:51] martingg88 commented on #5859
any update? when you guys think the performance issue can be fully solved?

[2016-04-20 16:08] maggiolo00 commented on #6004
How do you open a connection with orientjs?

[2016-04-20 16:14] janjilek commented on #6004
let server = OrientDB(config);
let db = server.use({
        name: 'name',
        password: 'password',
        username: 'username'
});
let connection = db.open();

[2016-04-20 18:04] cvm1ll3 commented on #5946
Hi @tglman,

Is this the full stack trace?

<code>
{
    "errors": [
        {
            "code": 400,
            "reason": "Bad request",
            "content": "Error on parsing script at position #2: Error on execution of the script\nScript: SETUP_createAlias\n-------^\r\n\tStorage URL=\"plocal:/Users/altermedia/Desktop/CamilleDocs/OrientDB/orientdb/distribution/target/orientdb-community-2.2.

[2016-04-20 19:28] willywos commented on #6003
Hey @laa I think the upgrade is working. I don't see the issue happening in the log files anymore. I'm going to monitor it for the next couple days and I'll reply back here if it does. If you want to close this it's fine. Thanks.

[2016-04-20 20:26] Koc commented on #2314
@dblaber @tglman is there any news on this issue?

[2016-04-20 20:51] zerovian commented on #5907
Update on this.  So after 2 days of running with the patched version, there are no errors on index insert or record delete.  Looks good so far.

[2016-04-20 20:51] #5907 closed

[2016-04-20 21:16] stuz5000 commented on #4336
Was this resolved? It certainly looks like a bug (not a question) if, close is called and the subsequent error complains that the DB is not closed? I am also seeing this behavior.

@Ivca Is the intention of the API that drop (not close) should be called to put the ODatabaseDocumentTx into a closed state?

[2016-04-20 21:36] jillray7 commented on #5137
@SDIPro The client is waiting for documentation for the workaround. Would you be able to send those detailed instructions here?

[2016-04-21 04:24] smolinari commented on #2314
I'd also welcome it too. :+1:

Scott

[2016-04-21 05:08] sajid2045 commented on #4990
Here is a export from the Console.sh

https://dl.dropboxusercontent.com/u/5968302/subscription-service.export.gz

Give it a few mins to upload first.

[2016-04-21 05:54] jfernandezrico commented on #6007
I'm uploading the file through Orientdb studio

![image](https://cloud.githubusercontent.com/assets/17267831/14699213/3216ac8a-0796-11e6-9bc7-79e2ae7f0e0d.png)

[2016-04-21 05:55] jfernandezrico commented on #5910
Could you see anything about this?

[2016-04-21 06:44] laa commented on #6003
Hi @willywos , let's wait couple of weeks, if issue will not be confirmed. I close it.

[2016-04-21 07:13] taburet commented on #5336
Fixed on develop branch. Will be available in next 2.2 RC.

[2016-04-21 07:13] #5336 closed

[2016-04-21 07:25] laa commented on #6001
LSM trees are used in Cassandra, HBase, BigTable, LevelDB (from Google), InfluxDB and so on.

[2016-04-21 08:29] robfrank commented on #5990
Which version of ODB? Does the server start or you get an error message? thanks

[2016-04-21 08:48] luigidellaquila commented on #6006
Hi @oliverfleetwood

having a simple test case that fails or a database to reproduce the problem (also at random) would help a lot. Do you think you can provide something like that?

Thanks

Luigi

[2016-04-21 08:48] lastnod opened #6009 "Bellman Ford pathfinding"
A star doesn't do negative pathfinding.
It's possible to implement Bellman Ford pathfinding ?

[2016-04-21 09:36] robfrank commented on #5508
closing due to lack of infos

[2016-04-21 09:36] #5508 closed

[2016-04-21 09:43] #5097 closed

[2016-04-21 09:45] tglman commented on #5986
fixed in the last develop

[2016-04-21 09:45] #5986 closed

[2016-04-21 09:58] #4990 closed

[2016-04-21 10:10] lvca commented on #6009
I think this is stuff for @saeedtabrizi :-)

[2016-04-21 10:19] sajid2045 commented on #4990
Why is this issue closed!!
Did you manage to download ?

https://www.dropbox.com/s/6yq3vbjec5by92t/subscription-service.export.gz?dl=0

[2016-04-21 10:20] sol50 commented on #5915
We have serious problems in production because of exactly this (some nodes have started to fail due to unrelated OOM bugs in OrientDB, so it's critical that clustering/failover works!!!)

For my own sake, I really hope the team is working around the clock on this one.

[2016-04-21 10:22] maggiolo00 commented on #4990
hi @sajid2045

i've sent you an email about this issue. I've reopened it as a private issue.
Thanks
Enrico

[2016-04-21 10:30] schernolyas opened #6010 "OdocumentDatabaseTx.getMetadata().getSequenceLibrary().getSequenceNames() returns null"
Database scheme has sequences and method OrientJdbcConnection.getMetadata().getSequenceLibrary().getSequenceCount() returns correct count.
But OrientJdbcConnection.getMetadata().getSequenceLibrary().getSequenceNames() returns null.

I think it is bug!

[2016-04-21 10:37] saeedtabrizi commented on #6009
Hi @lvca and @lastnod
Yes it's my favor @lvca :)
@lastnod  it was another kind of path-finding algorithm absolutely  .
I'm planned on Lazy Theta Star now but i promise to implement **negative weight** path-finding algorithms **asap** .

Thanks
Saeed

[2016-04-21 10:50] tglman opened #6011 "New Database Api for 3.0"
We need a review of the current API for improve:
- Simplicity to acquire and completely release the database instances in a consistent way with both graph and document concept
- New Simpler Query API that allow Streamed/Pagined Results

[2016-04-21 10:52] tglman opened #6012 "Implement support for Not Full In Memory Result Set"
Allow result sets that can be streamed, in all embedded, remote and distributed configuration

[2016-04-21 11:09] tglman opened #6013 "Allow parallel transaction with current locking model"
Allow per component sorted locking during transaction commit, for allow a basic parallel transaction.

[2016-04-21 13:21] facelessTT opened #6014 "Indexes are not applyed when bracketed statement exists in query"
Hello,
My OrientDB version : 2.1.13
Here is a query: "select from classname where (prop1 = 'a' or prop2 = 'a') and prop3 = 'b'"

I have notunique indexes classname.prop1 and classname.prop2, but they are not used for this query.
When I doing "select from classname where (prop1 = 'a' or prop2 = 'a')" both indexes are used.

workaround is use "select from (select from classname where (prop1 = 'a' or

[2016-04-21 13:21] rishi3195 opened #6015 "Unable to export schema only from DB in linux"
[orient@apl10613waapp01 logs]$ cd ../../orientdb-community-2.1.8/bin
[orient@apl10613waapp01 bin]$ ./console.sh

OrientDB console v.2.1.8 (build 2.1.x@r; 2015-12-17 11:51:38+0100) www.orientdb.com
Type 'help' to display all the supported commands.
Installing extensions for GREMLIN language v.2.6.0

orientdb> connect remote:localhost/smart ***** *****

Connecting to database [remote:localhost/smart

[2016-04-21 13:32] luigidellaquila commented on #6014
Hi @facelessTT

Current query execution plan is not smart enough to optimize that query (this is why we are rewriting it). Anyway, the second alternative is definitely OK. You can also try

[code]

This should be correctly optimized and it will be easier to apply skip/limit

Thanks

Luigi

[2016-04-21 13:38] facelessTT commented on #6014
problem is in most cases its not only "and prop3='b'"....

[2016-04-21 14:38] robfrank commented on #6010
I'm sorry, but I can't find such a method called getSequenceLibrary() on DatabaseMetaData https://docs.oracle.com/javase/8/docs/api/java/sql/DatabaseMetaData.html

Do you have a snippet of code to share with me?

[2016-04-21 15:05] tglman commented on #2314
Hi All,

Not yet done, not sure when will be :(

[2016-04-21 16:16] tglman commented on #5996
Hi @fc7,

By tinkerpop specification the only way to link vertex is doing a relationship, adding the verteices with a linked map inside a property is not a graph guaranteed api, and is interpreted by orient as links to documents.

also in 2.1.x this behaviour would happen only in the method that created the record, but not if you reload the record from the db afterwards.

[2016-04-21 17:05] lvca commented on #5915
It looks like that is an Hazelcast problem (the thread is stuck in Hazelcast). We already resolved this problem in v2.2.0-SNAPSHOT (`develop` branch). Applying this in v2.1 it's not easy. What release of Hazelcast do you have in OrientDB libs directory? Could you please replace the jars with the `3.6.1`, the same we have under v2.2?

[2016-04-21 17:32] realms50 commented on #5915
@lvca Thanks you for suggesting this, 3.6.1 jars solves the problem! I can now stop a node without issue.

Of course, the OOM issues remains.

[2016-04-21 17:36] schernolyas commented on #6010
import com.orientechnologies.orient.core.db.document.ODatabaseDocumentTx;
import com.orientechnologies.orient.core.index.OIndex;
import com.orientechnologies.orient.core.metadata.schema.OClass;
import com.orientechnologies.orient.core.metadata.sequence.OSequenceLibrary;
import com.orientechnologies.orient.jdbc.OrientJdbcConnection;

OrientJdbcConnection connection = (OrientJdbcConnection) provider

[2016-04-21 18:00] lvca commented on #5915
Cool, what OOM? Do you have any log?

[2016-04-21 18:04] realms50 commented on #5915
Can post a log next time it happens (should be soon enough) Happens when sorting on non indexed fields mostly, or bulk inserts.

[2016-04-21 19:19] lastnod opened #6017 "problem launch server"
i have this issue when i try to launch the server. As you can see i have the last version of java sdk.
Maybe i do it wrong !

message says : impossible to find or load main classe com.orientechnolo........

![image](https://cloud.githubusercontent.com/assets/8791187/14721301/003082de-0806-11e6-90cd-3265b2ec8e1b.png)

[2016-04-21 19:58] robfrank commented on #6010
Ok, I found the problem, I'm on it, but it is on Orient native api, not on JDBC client. I wonder why are you using JDBC client to connect and then the native API to operate with ODB? It's weird,  but perhaps it is right for you.

[2016-04-21 21:36] saeedtabrizi commented on #5957
Hi @lvca , @luigidellaquila
I have problem to commit and create PR to develop branch yet .
when i want to create PR from develop branch all of commit requested .
I created the my fork and files with the following steps :
1- Create a fork of orientdb repositiry in my git account https://github.com/saeedtabrizi/orientdb/tree/master
2-Clone the my forked  to pc .
3- Open IDE (IntelliJ) and change the

[2016-04-22 00:01] saeedtabrizi commented on #5957
Hi @luigidellaquila and @lvca
After the many hours , i can pull my changes commit to orientdb develop branch :D in #6019 PR

Thanks
Saeed

[2016-04-22 03:32] schernolyas commented on #6010
Hi @robfrank

I tried clear in-memory db in HIbernate OGM uit test and found NPE.

[2016-04-22 05:14] adithyank commented on #3283
Where are we in this issue???
Has it been resolved? are any possibility of resolving in near future?

[2016-04-22 06:44] laa commented on #3283
Hi it is duplication of https://github.com/orientechnologies/orientdb/issues/1677 . As you can see it is already in progress. Also it is partially solved in 2.2 version.

[2016-04-22 07:43] luigidellaquila commented on #5957
Hi @saeedtabrizi

Thank you very much, I really appreciate your efforts.
I'm checking it now

Thanks

Luigi

[2016-04-22 09:27] maggiolo00 commented on #6017
hi @lastnod

seems that you are on Windows. Why don't you use server.bat?

[2016-04-22 09:28] oliverfleetwood commented on #6006
I'll try to come up with a test case when I have more time. I'll post the full stack trace for now:

[code]

[2016-04-22 09:28] schernolyas opened #6020 "Bug with two transactions with same Id in deferent threads"
I create two  JDBC connections to in-memory db. After it, I try to start two transactions in parallel threads. OrientDB create only one transaction. See log records:
aa **[ForkJoinPool.commonPool-worker-2]** 09:22:44,535 DEBUG org.hibernate.datastore.ogm.orientdb.transaction.impl.OrientDBLocalTransactionCoordinator: Id of current transaction for
 database test  is 2. (transaction: OTransactionOpti

[2016-04-22 09:31] oliverfleetwood commented on #6006
I believe this will reproduce the error, though it is not exactly the same query
[code]

[2016-04-22 09:32] schernolyas commented on #6020
Full log file:
[org.hibernate.datastore.ogm.orientdb.OrientDBOptimisticLockTest-output.txt](https://github.com/orientechnologies/orientdb/files/231507/org.hibernate.datastore.ogm.orientdb.OrientDBOptimisticLockTest-output.txt)

Test class:
[OrientDBOptimisticLockTest.txt](https://github.com/orientechnologies/orientdb/files/231511/OrientDBOptimisticLockTest.txt)

[2016-04-22 09:36] lastnod commented on #6017
work with .bat

[2016-04-22 09:36] #6017 closed

[2016-04-22 09:59] lvca opened #6021 "Hash Index: preallocating"
When you're going to insert 1B of vertices and you have an hashindex, a good optimization is to specify the initial size, so OrientDB avoids to create many sub-buckets. In this way the lookup cost pass from `O(log N)` to `O(1)`.

[2016-04-22 10:13] schernolyas commented on #6020
Problem found. Closed

[2016-04-22 10:13] #6020 closed

[2016-04-22 10:15] luigidellaquila opened #6022 "Create docs for A* function"
see subject

[2016-04-22 10:30] janjilek opened #6023 "Problem with strict SQL parser - wrapping in parenthesis break the query"
Hello,
I would like to migrate to strict SQL, but it's not possible, because query builder in OrientJS driver is generating extra parethnesis around order by. When I try to execute SELECT FROM Gift ORDER BY (scheduleDate DESC, @rid DESC) it throws error: com.orientechnologies.orient.core.sql.OCommandSQLParsingException: Error on parsing command at position #0: Error parsing query: SELECT FROM Gift

[2016-04-22 11:21] luigidellaquila commented on #6023
Hi @janjilek

parentheses are OK in the WHERE condition, but in the ORDER BY they do not make sense at all (there is no precedence apart from the order of fields there), this is why this case is not supported.

In the WHERE condition, anyway, with strictSql parentheses are managed much much better than before ;-)

Thanks

Luigi

[2016-04-22 11:30] luigidellaquila commented on #6006
Hi @oliverfleetwood

I just pushed a fix to develop branch.

Thanks

Luigi

[2016-04-22 11:30] #6006 closed

[2016-04-22 11:33] janjilek commented on #6023
Ok, but the issue in OrientJS query builder is still there. We can close this one.

[2016-04-22 11:33] lastnod opened #6024 "Use WebGL for scalability"
SVG has bad rendering scalability.
To display 100 000 vertices you should use WebGL rendering
This project is great you should see it if you don't already have [https://github.com/jacomyal/sigma.js/](https://github.com/jacomyal/sigma.js/)

[2016-04-22 11:36] lastnod opened #6025 "Graph visualization"
Graph visualization doesn't organize vertex, you should add an organizational layer to have a better understanding of data. https://github.com/Linkurious/linkurious.js/tree/develop/plugins it's a fork of sigma.js

[2016-04-22 11:37] lastnod opened #6026 "Possibility to create WebService from query"
Add UI to create WebService from query.

[2016-04-22 11:40] lastnod opened #6027 "updating query results in real time"
Add as an option to update query results in real time. When you do a query you have a result but if someone does a transaction which has an impact on the result you don't see it. with something like a hook or socket IO that could be "cool"

[2016-04-22 11:44] luigidellaquila commented on #6023
Yes, closing.
For reference: https://github.com/orientechnologies/orientjs/issues/170

Thanks

Luigi

[2016-04-22 11:44] #6023 closed

[2016-04-22 11:52] StarpTech commented on #6024
@lastnod What is the use case why do you need to display 100 000 vertices ?

[2016-04-22 11:53] luigidellaquila commented on #6027
Hi @lastnod

are you referring to something similare to LiveQuery?
http://orientdb.com/docs/2.1/Live-Query.html

Thanks

Luigi

[2016-04-22 12:21] Uditmittal opened #6029 "Cannot unlock a never acquired lock While Retrieving Data"
Sent run-time exception to the client /127.0.0.1:36672: com.orientechnologies.orient.core.exception.ODatabaseException: Error on retrieving record #14:261 (cluster: sitedata)
com.orientechnologies.orient.core.exception.ODatabaseException: Error on retrieving record #14:261 (cluster: sitedata)
        at com.orientechnologies.orient.core.db.document.ODatabaseDocumentTx.executeReadRecord(ODatabaseDo

[2016-04-22 13:02] lvca commented on #6029
Version v2.0 is supported only for clients. Please upgrade to last v2.1.x.

[2016-04-22 13:02] #6029 closed

[2016-04-22 13:05] lvca opened #6030 "Storage: support recycling of RIDs"
In distributed this feature is needed to allow the UNDO operation to revert the database to the previous state.

[2016-04-22 13:23] #6027 closed

[2016-04-22 13:30] lastnod commented on #6024
i have a products it count 30 000 Vertices wich are linked to activities 50 000 each product and activity have Price K€ i want to have to have the sum of my price by product lvl and activity lvl :D and it's just for products and activities i do it for risks, ressources too :)

[2016-04-22 16:31] lukeasrodgers opened #6032 "Persistently locked vertex"
We have a few vertices that are in a persistently locked state, by which I mean whenever we try to add or remove and edge to/from them, we get a `com.orientechnologies.orient.server.distributed.task.ODistributedRecordLockedException` error.

Changing fields on the vertex works fine. Edges are not being added/removed to the vertex by any other process, as far as I can tell.

This has happened a few

[2016-04-22 16:35] lvca commented on #6032
@andreaiacono this looks like another issue you're looking at, right?

[2016-04-22 16:37] gerdhub commented on #5902
A simple select query, for example

select from token

where token is a class containing a double property. If in the resultset, there is a document with a value of "infinity" in the double property, the issue happens.

[2016-04-22 17:03] zerovian commented on #5831
I've tried with 2.1.16

None of these have any affect.
-Ddb.makeFullCheckpointOnSchemaChange=false
-Ddb.makeFullCheckpointOnIndexChange=false
-Dstorage.makeFullCheckpointAfterCreate=false
-Dstorage.makeFullCheckpointAfterClusterCreate=false

My CPU is pegged at 23% (4 core machine) while trying to register entities.  Never finishes.

[2016-04-22 17:41] zerovian commented on #5831
Screen grab from Yourkit image.  3 calls to registerEntities() 100,000 calls to OIndexManager.toStrim()

![image](https://cloud.githubusercontent.com/assets/3799244/14749872/ec44118e-088f-11e6-9c25-e788b68c6eda.png)

I can share full yourkit snapshot if that helps.

[2016-04-22 20:35] #5137 closed

[2016-04-22 20:35] SDIPro commented on #5137
Here's some current upgrade documentation:

# Upgrading Databases
Before using the following instructions, be sure to check the latest version [upgrading guide](http://orientdb.com/docs/last/Upgrade.html) to see if your databases can be directly upgraded to a new release of OrientDB.

The easiest way to upgrade a database from one version of OrientDB to the next is to plan ahead for future upgrade

[2016-04-22 21:41] laa commented on #6021
This issue does not fix problem described by Luigi because of problem described in https://github.com/orientechnologies/orientdb/issues/1757 , what is additional value in it's implementattion ?

[2016-04-23 07:05] lvca commented on #6021
Today our hash index is allocated of size X. As soon as a bucket is considered full, it's splitted in sub-bucket, right? So an hash index becomes similar to a b-tree in his shape (but in different ways). With 1B of records, you could have from 1 to Y levels of buckets. In the worse case scenario, you could do Y lookups, where every lookup is a load of a page with high chance this page is on disk,

[2016-04-23 07:22] lvca commented on #5137
I added this doc to: http://orientdb.com/docs/last/Upgrade.html

[2016-04-23 07:29] laa commented on #6021
@lvca there is no index tree in this index. We always have O(1) complexity with hash index. We will decrease index seeks from about 45 ms  to about 40 ms using this issue.  I do think it help to solve users issue described by @luigidellaquila . Did you read explanation of user's problem in https://github.com/orientechnologies/orientdb/issues/1757 issue ? If yes,  and it is still not clear I will p

[2016-04-23 09:53] lvca commented on #5653
This has been already fixed in last 2.1.x.

[2016-04-23 09:53] #5653 closed

[2016-04-23 09:54] lvca commented on #3939
This will be supported in v3.0 with the autosharded index. In v2.2 we already have a local implementation, in v3.0 will be supported in distributed mode to have a regular DHT.

[2016-04-23 09:55] lvca commented on #3203
This will be supported in v3.0

[2016-04-23 10:17] StarpTech opened #6033 "Can't update embedded field when cluster is selected"
Orientdb: 2.1.15
Studio: Yes

Hi,

I have one base Class called `Node` and a cluster called `de_business`. Julia is in the correct cluster I checked it twice by:

[code]

Subscription is an embedded document.

This works:

[code]

This fails:

[code]

I get this exception in orientdb studio:

[code]

[2016-04-23 10:24] StarpTech commented on #6033
@luigidellaquila @lvca looks like orientdb doesn't recognize that is from type JSON.

Update a special property of the embedded document works
[code]

[2016-04-23 15:51] #6030 closed

[2016-04-23 16:12] lvca commented on #6011
I wish also to remove the thread locality, so the same ODatabase* instance can be used by multiple threads.

[2016-04-23 16:14] lvca commented on #5977
Fixed in 2.2.0 branch

[2016-04-23 16:14] #5977 closed

[2016-04-23 16:15] lvca commented on #5927
Fixed in 2.2.0 branch

[2016-04-23 16:15] #5927 closed

[2016-04-23 16:31] lvca commented on #6021
With current implementation, how you reach the sub levels? Is it lookup for the key and in case go down (=seek & load a page), and repeat the lookup?

[2016-04-23 17:16] jCalamari opened #6034 "Gremlin-OrientDB API: Not hitting index."
Hi folks,

I created a property and index on V class which looks as follows:
Property:

`
Name: some_property
Type: STRING
Mandatory: true
`

Index:
`
name: V.some_property
type: UNIQUE
Properties: ["some_property"]
Engine: SBTREE
`

I am quering underlying in-memory graph database with gremlin API as folllows:

`g.V.has(Key[String]("some_property"), "some_value")`

And I got this warning:

`
WARN

[2016-04-23 17:24] laa commented on #6011
Well guys are your sure that removing of thread locality will not break everything ?
For example local caches they have to be thread local.

Also what is bad in thread locality concept ? IMHO thread locality is good , our problems because of _thread local variables_ not because of thread locality.

Thread locality makes our database much faster than MT solutions,alos thread locality is trend in ma

[2016-04-23 19:09] smolinari commented on #6011
What does MT stand for?

Scott

[2016-04-23 19:12] Mikkk42 commented on #5990
ODB Community Edition 2.1.15
The server does not start. Error message is "The ORIENTDB_HOME environment variable is not defined correctly".

I found that this is a resulting error of java not being part of PATH environment variable. After adding the java.exe containing folder to the PATH variable it worked.

[2016-04-23 19:44] kstock commented on #6034
I think if you do

```g.getVertices("V.some_property", "some_value")._()```

you can start a gremlin traversal using your index.

Look at the "Using Indices" section of
http://orientdb.com/docs/2.1/Graph-Database-Tinkerpop.html

[2016-04-23 20:37] jCalamari commented on #6034
@kstock Thanks. However this is not tinkerpop/gremlin API, is it?

Would you know how to do it with Tinkerpop/Gremlin API?

[2016-04-23 21:01] laa opened #6035 "Speed up post processing of records/vertexes"
After some profiling we found out that post processing of records and vertices takes are lot of resources in layer above the storage, to improve such situation following steps are proposed:
- [x] Remove calls of com.orientechnologies.orient.core.db.document.ODatabaseDocumentTx#checkOpeness method because this task is already performed on storage layer.
- [x] Split map of hash hooks on 4 arrays rel

[2016-04-23 21:29] jCalamari commented on #6034
Well, I think I've found the reason.

https://github.com/mpollmeier/orientdb-gremlin

[2016-04-24 01:31] lodrion opened #6036 "Flaky behavior of indices on string embedded sets"
Using Orientdb 2.1.16

[code]

So with the index the query returns the correct result. Without the index it does not,  though IN test does:

[code]

But the problem with the IN query is that it does not use the index

[code]

[2016-04-24 05:53] laa opened #6037 "NUMA-Aware Reader-Writer Locks"
Implement NUMA-Aware Reader-Writer Locks according to http://mcg.cs.tau.ac.il/papers/ppopp2013-rwlocks.pdf.

They outperform at 10 times classical RW lock implementation in case of few writes and do not have disadvantages of spin rw lock which we have now.

Scalability of such RW locks may be seen on this diagram  http://screencloud.net/v/teDA
Also algorithm is simple and it's implementation will

[2016-04-24 05:55] laa commented on #5826
Closed in favor of https://github.com/orientechnologies/orientdb/issues/6037

[2016-04-24 05:55] #5826 closed

[2016-04-24 06:17] laa commented on #6011
@smolinari Mutli threading

[2016-04-24 08:27] laa commented on #5892
@lvca is it possible to fix this issue to revert back to newlockmanager, This issue exist even with lockmanager but in rare cases. That is why I do not change code back to use newlockmanager.

[2016-04-24 08:28] laa commented on #6021
we do have sublevels, hash index has plain buckets.

[2016-04-24 09:54] robfrank opened #6038 "Add "test" suffix to allow maven surefire to execute tests"
Some test classes lack the Test suffix on their name, as **OLocalHashTableWAL**.
Maven surefire, which execute tests in the CI env, discovers tests to be executed using a pattern:

_By default, the Surefire Plugin will automatically include all test classes with the following wildcard patterns:

"**/Test*.java" - includes all of its subdirectories and all Java filenames that start with "Test".
"**

[2016-04-24 14:45] jillray7 commented on #5137
Thanks @SDIPro and @lvca

[2016-04-24 14:50] StarpTech commented on #5091
@maggiolo00 What is the status of this issue? Is orientdb able to handle his own result sets ?
As very similiar issue I get in this example:

[code]

result:

[code]

in studio it works.

[2016-04-24 14:53] lvca commented on #6035
👍  Wow, can't wait for all of these thing to be done!

[2016-04-24 14:54] lvca commented on #6035
Put it in the roadmap for v3.0: https://github.com/orientechnologies/orientdb/issues/6005.

[2016-04-24 15:02] lvca commented on #6021
Right, so in theory if we create a large hashindex, the chance to have sublevels is lower, right? Could this be a temporary workaround before we have something better?

[2016-04-24 15:07] lvca commented on #5892
It looks like your analysis is correct, let me see if the recent fix on distributed part already solved this deadlock problem...

[2016-04-25 09:08] #5990 closed

[2016-04-25 09:41] lvca commented on #5892
I reopen this issue: do we still need to order by hashed values instead of key, do you agree on this?

[2016-04-25 09:50] tglman commented on #6035
hi @laa,

i've a few points:

be aware that ODatabaseDocumentTx#checkOpeness does a different behaviur of the storage check ( the ODatabaseDocumentTx can be closed with the storage open) so the check can be removed only if is in internal API.

for the hooks the today API has only an onTrigger method without a specific operation, so it's hard to determinte what hook implementation implement what(re

[2016-04-25 09:50] tglman commented on #6035
hi @laa,

i've a few points:

be aware that ODatabaseDocumentTx#checkOpeness does a different behaviur of the storage check ( the ODatabaseDocumentTx can be closed with the storage open) so the check can be removed only if is in internal API.

for the hooks the today API has only an onTrigger method without a specific operation, so it's hard to determinte what hook implementation implement what(re

[2016-04-25 09:50] laa commented on #5892
no, because we do not lock by values only by keys. In such case because we lock keys not values we will have deadlocks even on standalone mode.

[2016-04-25 09:51] laa commented on #5892
If you mean that we need to order by hashes it is already implemented and that is reason why in standalone mode we do not have deadlocks. Reason of issue with new lock manager explained above and it is reporducable on lock manager on the same keys in case of high concurrence.

[2016-04-25 09:55] tglman commented on #6011
Hi,

I Agree we still need a concept of per "thread session", that keep localcache, transaction, current open user, and a few other bits, but we should limitate the use of thread local.

[2016-04-25 10:09] StarpTech commented on #6024
@lastnod you can fire an SUM() query but you don't need to visualize all of your vertices :)

[2016-04-25 10:21] lvca commented on #5892
Given the keys [a,b,c] with respectively the hash values [1,2,1], if you have 2 threads that locks the following keys:
- thread 1 - ab = hashed 12
- thread 2 - bc = hashed 21

If you sort by keys, you'll have the following locking (in this case they are already ordered):
- thread 1 - ab = hashed 12
- thread 2 - bc = hashed 21

Deadlock! This is because the hash for key "c" is the same of key "a" t

[2016-04-25 10:22] laa commented on #5892
@lvca exactly this case is fixed long time ago.

[2016-04-25 10:24] laa commented on #5892
@lvca to prevent this we use com.orientechnologies.common.concur.lock.ONewLockManager#acquireExclusiveLocksInBatch(java.util.Collection<T>) or the same method for shared lock. Otherwise we will have deadlock long time ago on standalone mode.

[2016-04-25 10:25] lvca commented on #5892
Exactly: that method sorts the values, not the hashed values.

[2016-04-25 10:26] laa commented on #5892
@lvca this method sort hashes.
Look at com.orientechnologies.common.concur.lock.ONewLockManager#COMPARATOR implementation.

[2016-04-25 10:27] laa commented on #5892
@lvca which actually you refactored 49f8bc3356275ad4706bf420889c8f733d4792a8

[2016-04-25 10:28] laa commented on #5892
@lvca specifically at line `indexOne = index(one.hashCode());`

[2016-04-25 10:35] lvca commented on #5892
Wow, it was my change! Cool, so forget about it ;-)

[2016-04-25 10:37] laa commented on #5892
:-)

[2016-04-25 10:38] laa commented on #5892
@lvca Actually it was my change but your refactoring, but still it working, my point is that it was always working, initial version had the same hash code sorting not value sorting https://github.com/orientechnologies/orientdb/commit/49f8bc3356275ad4706bf420889c8f733d4792a8#diff-e1da4d9ffde0c710c9e065dbbe6f6dc6L265

[2016-04-25 10:44] gongdo opened #6039 "'order by' works as filter when the field has an index with null value."
I'm using OrientDB 2.1.13.
Here's simple sql that reproduces the problem.

[code]

I expected result like:

[code]

But the record with null category was not listed.
It seems that `order by` relies on the index of the field, and the index doesn't contain null value by default.
I was able to get work-around like:

[code]

Now I can see all books in the Book class.
However, it still have a problem.

[2016-04-25 10:52] taburet commented on #6035
For now just I have relaxed the ODatabaseDocumentTx#checkOpeness to check only the status of itself, so if we will not fall into storage operations the storage closeness will be undetected, tests pass. Anyway, this not gives that huge boost to performance compared to commenting out the lock in storage's isClosed. @laa said he is going to implement a new kind of the highly performant lock to fix th

[2016-04-25 10:54] voondo opened #6040 "Feature request : 3d shapes support in the spatial module"
It would be (super) great if we could use this : [org.apache.lucene.geo3d.\* ](https://lucene.apache.org/core/5_3_0/spatial3d/org/apache/lucene/geo3d/package-summary.html)

[2016-04-25 10:57] laa commented on #6039
Hi @gongdo since 2.2 `{ignoreNullValues: false}` will be default setting. Do you agree that this fix issue ?

[2016-04-25 11:03] laa commented on #5892
@lvca I mean initially it also contained https://github.com/orientechnologies/orientdb/commit/49f8bc3356275ad4706bf420889c8f733d4792a8#diff-e1da4d9ffde0c710c9e065dbbe6f6dc6L265 the same `indexOne = index(one.hashCode());` code.

[2016-04-25 11:04] laa opened #6041 "LSM tree based index."
- [ ] Create cuckoo filter to minimize lookup overhead
- [ ]  Create O'Neill SB-Tree implementation
- [ ] Merge together cuckoo filters and SB-Trees to create LSM tree.
- [ ] Implement rolling merge background thread.
- [ ] Create crash tests involving LSM tree index

[2016-04-25 11:06] laa commented on #1677
Moved to 3.1 version, in 3.0 we will implement https://github.com/orientechnologies/orientdb/issues/6013 instead.

[2016-04-25 11:21] laa commented on #6021
@lvca it was a typo, I mean in hash index we do *not* have sublevels. All buckets are equal and accessed at single page load. I will explain. Each insert on each stage consist of following operations:

1. Find pointer to the page/bucket in in memory data structure.
2. Load this bucket in single IO file operation or from cache.
3. Add item to the bucket.
4. If bucket is full , split the bucket, so

[2016-04-25 11:26] gongdo commented on #6039
The key problem is unexpected filtering by 'order by' clause.
If it filters null value with 'ignoreNullValues: true', I can say it doesn't fix the issue.
Maybe I can accept it as a work-around.

Anyway I'll test this in 2.2 and feedback.

[2016-04-25 12:49] tglman commented on #6035
hi @taburet,

It make sense split by scopes, anyway be aware that the hook api is a public api, so we cannot change the behavior straight, we should provide a deprecated complatible api for all the old implementations.

[2016-04-25 13:02] taburet commented on #6035
@laa @tglman do you know the reason behind the existence of `ORecordHook.TYPE#ANY`? It never used in our code base, moreover `ODocumentHookAbstract#onTrigger` throws if `ANY` passed to it. Seem like it should be deprecated at least.

[2016-04-25 13:17] laa commented on #6035
@tglman I do not think that problem in amount of hooks called (empty methods are removed by JIT) I think there are 2 problems:

1. Conversion to set and iteration by linked list.
2. Constant insert/remove/contains of inHook.

@taburet

Well I am sure :-) that we do it at least for reads.

Curious to see numbers.

Nobody knows, it was created by @lvca ages ago.  I propose to discuss that in #dev ch

[2016-04-25 13:23] tglman commented on #6035
well @laa hooks are not empty  :( OUserTrigger,OFunctionTrigger,OSchedulerTrigger, ecc check the class( in the hiearchy, and optimized with immutable schema) of the document at each call ...

[2016-04-25 13:34] laa commented on #6035
@tglman  `OSchedulerTrigger`

[code]

The for after read hook:
[code]

[2016-04-25 13:40] turbogeek commented on #3501
Having similar issue. I am attempting to run via a Groovy script. When I run a client script in its won instance via a run in both Eclipse and Netbeans, no issues. But when I run from a Java application running Groovy (i.e. an application supporting embedded groovy scripts), I get the error.  I am using orientdb-community-2.1.11.

[2016-04-25 13:54] tglman commented on #5831
hi @zerovian,

Thank you for so precisely pin point the problem, I did a fix in the 2.1.x branch that should fix the problem.

It should go out with the next hotfix.

Regards.

[2016-04-25 13:57] lvca commented on #5892
Ok, the problem is only with distributed: we cannot prevent deadlock in this situation with new lock manager, because the hashing of the keys. This is working with the OLockManager, because the locking per at record level is already managed by the distributed storage. I could delegate the lock manager to the underlying storage: if it's distributed = OLockManager, otherwise ONewLockManager by defau

[2016-04-25 14:56] tglman commented on #6035
`OSchedulerTrigger extends ODocumentHookAbstract `

[code]

here it check every call: https://github.com/orientechnologies/orientdb/blob/master/core/src/main/java/com/orientechnologies/orient/core/hook/ODocumentHookAbstract.java#L212 befor call "on*"

[2016-04-25 15:51] lvca commented on #6021
It's still not clear to me why we need 2,002 pages to insert 1,000 items (see your last statement). Also, the point (1) about finding the pointer, how do you find the pointer? Imagine 1B entries, and you are looking for the key 'Andrey' with hash = X.

[2016-04-25 16:05] ODBUser opened #6042 "fetching of embedded records"
Hi,
Using the Java API (2.1.15), I try to load embedded records with their parents.

I get a VERTEXTYPE "Vertex" that contains an EMBEDDEDLIST of "Embedded1"
Every "Embedded1" contains also an EMBEDDEDLIST of "Embedded2"

In the test below, I create the dabase, the schema and one node with its embedded document.
I then queries the database with an OCommandSQL.

And I get the following warning and

[2016-04-25 16:52] lvca commented on #5892
It's missing one test case with composed keys

[2016-04-25 17:06] zerovian commented on #5908
This went away when 5907 was fixed in 2.1.11-3 hotfix.  Can no longer reproduce.

[2016-04-25 17:27] laa commented on #5908
Cool I am closing it.

[2016-04-25 17:27] #5908 closed

[2016-04-25 17:34] laa commented on #5892
@lvca this not working by lock manager it is merely much harder to catch. It is shown in my analysis above.

Composite keys are no different than simple keys, nothing is acquired in cycle or so on. For example composite key is a String. String is composition of chairs in the same way as our keys are composed from several integers for example.

Yes optimistic approach will solve this problem.

[2016-04-26 01:41] gongdo commented on #6039
@laa I tested it on 2.2 beta2, and I found that `{ignoreNullValues: false}` doesn't fix the issue.
The null value always be at the bottom, regardless with `ASC` nor `DESC`.

[2016-04-26 05:26] laa opened #6043 "In buffer WAL compaction"
Now we merely put data in WAL buffer and then flush those raw data to disk.
I propose to add following step to WAL flush task.

During WAL flush we inspect all committed entries and merge them if they related to single page.
It will decrease amount of data on disk because typically page modifications follow temporal locality.

[2016-04-26 07:26] laa opened #6044 "Remove record compression from cluster"

[2016-04-26 07:32] laa opened #6045 "Replace distributed counter by Java 8 Adder"

[2016-04-26 08:31] luigidellaquila commented on #6033
Hi @StarpTech

It seems to be a bug. I'm on it

Thanks

Luigi

[2016-04-26 08:52] tglman commented on #6043
Some compaction already happen, because we use : OWALPageChangesPortion

One thing i would like to add is the skip of records for pages that have no change, as today we add a log as soon as we read a page during the atomic operation.

[2016-04-26 08:55] laa commented on #6043
@tglman

That is not true, we add log record only we change page , but not when we read it.

[2016-04-26 09:05] laa commented on #6043
@tglman you are right, we put empty versions, I will create separate issue for that.

[2016-04-26 09:07] laa opened #6046 "Prevent writing of wal record if page does not have changes"

[2016-04-26 10:07] luigidellaquila commented on #6033
Hi @StarpTech

I just pushed a fix on 2.1.x and develop.

Thanks

Luigi

[2016-04-26 10:07] #6033 closed

[2016-04-26 10:12] StarpTech commented on #6033
@luigidellaquila how can I use it in production without to try the develop branche?

[2016-04-26 10:14] StarpTech commented on #6033
@luigidellaquila your Tests doesnt include the selection of multiple Clusters

[2016-04-26 10:19] luigidellaquila commented on #6033
Hi @StarpTech

The fix will be available for production in next 2.1.17.

What do you mean by selection of multiple clusters?
I'm adding a test case where I explicitly create multiple clusters for the class, anyway, the problem is not related to multiple clusters, but only on the wrong parsing of the statement (conversion of JSON to Map instead of ODocument) when the target was a cluster.

Thanks

[2016-04-26 10:20] StarpTech commented on #6033
Hi @luigidellaquila thanks.
I mean `SELECT FROM CLUSTER:[<cluster1>,<cluster2> ]`

[2016-04-26 10:25] luigidellaquila commented on #6033
Ok, I'm adding a test now

Thanks

Luigi

[2016-04-26 10:28] luigidellaquila commented on #6033
You caught me... little fix coming in minutes

Thanks

Luigi

[2016-04-26 10:31] StarpTech commented on #6033
:trollface:

[2016-04-26 10:57] janjilek opened #6047 "Recommended CPU and RAM for ~1000 requests/s"
Hello,
I will need to handle 500+ concurrent users per second => ~1000request/s. Right now I have 2 cpu and 15 GB of ram (aws r3.large instance) and I am not able to handle more than 30 request/s (via blazemeter.com or jMeter locally) with simple queries like following: (product contains 7 string properties)

SELECT expand(OUT('HasProduct')[0-99]) FROM Category WHERE id = 'recommended' fetchplan d

[2016-04-26 11:02] maggiolo00 commented on #6047
hi @janjilek

How much does this query takes?

[code]

[2016-04-26 11:03] luigidellaquila commented on #6033
Here we go, fix pushed

Thanks!

Luigi

[2016-04-26 11:06] janjilek commented on #6047
Elapsed in explain: 26.697037
Explain execution in the web console:  0.072 sec
Query executed in the web console: 0.282 sec

[2016-04-26 11:08] StarpTech commented on #6033
Thank you @luigidellaquila one question: It is common that this command isnt parsed by JJTree ?

[2016-04-26 11:09] maggiolo00 commented on #6047
Can you post  code you are using for the connection?

[2016-04-26 11:09] janjilek commented on #6047
It's strange, when I try it on really slow machine (1 virtual cpu, 512MB ram) i have following:
Elapsed in explain: 25.986715
Explain execution in the web console: 0.07 sec
Query executed in the web console: 0.233 sec

So it looks like some default configuration issue.

[2016-04-26 11:15] janjilek commented on #6047
Actually I tried a lot of different approaches:
1) 1 db instance
var server = OrientDB({});
export var db = server.use({});
2) Use of ODatabse
var db = new ODatabase({});
3) Use of Connection pool
var pool = new Pool({
      min: 1,
      max: 100
});
pool.acquire().then((db) => {});
4) Create N (>=10) connections polls (max = 50) and round robin between them

The option number 4 is the fastest on

[2016-04-26 11:17] luigidellaquila commented on #6033
Hi @StarpTech

actually it's firstly parsed by JJTree, then it's post-processed (let's say re-parsed) by the old executor. This was the first step to completely remove old stuff, in v.2.2 we will gradually remove pieces of the old structure and in v3 it will completely disappear.

For now the advantage is that the grammar is formally validated and the statements are normalized so that the "old stu

[2016-04-26 11:19] janjilek commented on #6047
When I execute it on my MacbookPro 13 2015 (i5 2.7, 16GB ram) i have same results.

[2016-04-26 11:24] laa commented on #6047
@maggiolo00 probably we should discuss that with @tglman  ?

[2016-04-26 11:28] maggiolo00 commented on #6047
Can you monitor the Cpu of OrientDB while running this test?

[2016-04-26 11:30] StarpTech commented on #6033
Allright thanks @luigidellaquila

[2016-04-26 11:43] maggiolo00 commented on #6047
how many request with number 4?

[2016-04-26 11:50] janjilek commented on #6047
I run jMeter with this setup:
Number of threads (users): 100
Ramp-up period: 1s
Loop count: 5

Results:
Samples: 500
Throughput: 7.7requests/s
Min: 235ms
Max: 13314ms
Average: 11579ms

Top commnad on server instance
VIRT  RES  SHR S %CPU %MEM    TIME+  COMMAND
3736m 936m  16m S 16.0  6.1   2:40.68 java

[2016-04-26 11:53] janjilek commented on #6047
how many request with number 4? // Sorry i don't understand your question.

[2016-04-26 13:09] janjilek commented on #6047
I updated results with different approaches. The approach 1 is normally not so bad, because I have more NodeJS instances. This results are only from 1 backend instance.

[2016-04-26 13:10] StarpTech commented on #6047
@janjilek  Im very interesting in your approach I also have the same configuration but without high traffic. Good luck. I will try to help you when I find something.

[2016-04-26 13:10] maggiolo00 commented on #6047
@janjilek

with approach 4 is more than 15%.

This is because with approach 1 yes you will have only one connection opened and all the request are serialized.

[2016-04-26 13:14] janjilek commented on #6047
Yes, sure, I had error in my code, because I tested it with more backend instances before, so I had 5+ connections to the DB.

[2016-04-26 13:16] janjilek commented on #6047
Is 35.6 requests/s expected performance for 2 CPUs and 12 GB of RAM? Is more important to have more CPU cores? Or how many CPUs and GB of memory would you suggest for that kind of requests/s?
Thank you

[2016-04-26 13:24] maggiolo00 commented on #6047
@janjilek

do you have numbers with 2 instances?

[2016-04-26 13:39] StarpTech commented on #6047
perhaps related cause db switch overhead
https://github.com/orientechnologies/orientjs/issues/169

[2016-04-26 13:45] janjilek commented on #6047
I will setup 2 instances and i will write here results.

[2016-04-26 14:11] janjilek commented on #6047
Results for approach 1 with 2 backend instances
Samples: 500
Throughput: 13.9 requests/s
Min: 254 ms
Max: 7471 ms
Average: 6072 ms

Top commnad on server instance
VIRT RES SHR S %CPU %MEM TIME+ COMMAND
3898m 984m  16m S 32.3  6.4   6:10.84 java

Results for approach 1 with 4 backend instances
Samples: 500
Throughput: 25.6 requests/s
Min: 222 ms
Max: 4317 ms
Average: 3197 ms

Top commnad on server

[2016-04-26 14:21] maggiolo00 commented on #6047
@janjilek

strange with 4 instances and approach 4 you should go better.

Which is the size of your custom pool?

[2016-04-26 14:25] janjilek commented on #6047
I tried 50 pools with max = 5 in 4 instances => 1000 connections. Now i will try 5 pools with max = 50 and maybe 25 pools with max = 25

[2016-04-26 14:38] janjilek commented on #6047
So with 2 instances and 5 pools with max = 50 performance drops to 15 requests/s (don't understend why) and CPU usage is only on 35%.  With 50 pools with max=5 the performance is +- the same like before.

With 4 instances and 5 pools with max = 50 performance drops to 30 requests/s and CPU usage is on 50%.  With 50 pools with max=5 the performance is +- the same like before.

[2016-04-26 14:40] janjilek commented on #6047
I will try to add some CPUs and will write you the result with approach 4.

[2016-04-26 14:48] Cowby opened #6048 "Question: Alter property from String to EmbbedSet incl. data conversion"
Hi everybody,

I'm relatively new to the orientdb cosmos (coming with a strong SQL Background) and facing a problem for which I can't find an elegant solution so any advice would be welcome.
I'm using orientdb 2.1.15 (update to 2.1.16 will take place in the next days) and I want to change the type from a predefined scheme property (initiated by a former colleague) from String to EmbbedSet. I can't

[2016-04-26 15:07] janjilek commented on #6047
Results for approach 4 and db server with 4 CPUs:
1) backend server with 4 instances
Samples: 500
Throughput: 73.1 requests/s
Min: 208 ms
Max: 2350 ms
Average: 1024 ms

Top commnad on server instance
VIRT RES SHR S %CPU %MEM TIME+ COMMAND
4938m 872m  16m S 297.0  2.8   2:09.32 java

1) backend server with 1 instance
Samples: 500
Throughput: 56.5 requests/s
Min: 262 ms
Max: 3109 ms
Average: 1428 ms

[2016-04-26 15:11] janjilek commented on #6047
I have tried now again (5 times) with 4 instances and the average result is about 62 requests/s. So not so big difference.

[2016-04-26 15:28] janjilek commented on #6047
With 8 CPU on DB machine:
Samples: 500
Throughput: 75.8 requests/s
Min: 202 ms
Max: 2278 ms
Average: 912 ms

Top commnad on server instance
VIRT RES SHR S %CPU %MEM TIME+ COMMAND
 6862m 885m  16m S 217.7  5.9   2:05.43 java

[2016-04-26 15:35] janjilek commented on #6047
I will try some more stuff tomorrow. It's not using all the db cores, so maybe it's something wrong with load balancing.

[2016-04-26 16:27] peterperron opened #6049 "Error when concatenating a param and a string in a LIKE filter. v2.1.16"
#### This fails in v2.1.16:
`Select * From ACNodeAuthentication where acNodeID like ? + '%'`

It used to work in Orient DB 2.0.3

#### It works without the param:
`Select * From ACNodeAuthentication where acNodeID like '89837db0' + '%'`

It also works if I pass the % in the param value instead of concatenating in the query and it also works if I use a js function to concat: `where acNodeID like co

[2016-04-27 01:22] Severogor commented on #6039
Hello.
I think ideally there should be at least following index options, including:
* default order [ ASC | DESC ]
* nulls ordering [ NULLS { FIRST | LAST } ]
like in Postgres and it will be ok then.

So the syntax could become smth like:
CREATE INDEX <name> [ON <class> (<property> [ ASC | DESC ]  [ NULLS { FIRST | LAST } ] )] <index-type> [<key-type>] METADATA [{<json>}]
What do you think?

@luig

[2016-04-27 06:38] laa commented on #5878
Will be fixed, as part of https://github.com/orientechnologies/orientdb/issues/6041

[2016-04-27 07:03] sachintaksande opened #6050 "Case sensitivity of property names in query is compromised when the property has an index"
Hi, I faced this issue while executing a query. The case sensitivity of property name is compromised when there is an index for that property.

e.g.

Assume there is a property "rolename" in class Role.

`SELECT FROM ROLE WHERE ROLENAME='USER'`

and

`SELECT FROM ROLE WHERE rolename='USER'`

**works** when there is an **index** for ROLE.rolename.

But

`SELECT FROM ROLE WHERE ROLENAME='USER'`

 **

[2016-04-27 07:45] imainetti opened #6051 "[Auditing Log] Error on resolving property: command"
As specified in the docs [http://orientdb.com/docs/last/Auditing.html#customize-the-message](http://orientdb.com/docs/last/Auditing.html#customize-the-message) the modifier `${command}` doesn't seem to work.

When triggered, in the server log I get the following:

`INFO  {db=GratefulDeadConcerts} [OVariableParser.resolveVariables] Error on resolving property: command [orientechnologies]
`

![scree

[2016-04-27 07:48] luigidellaquila commented on #6049
Hi @peterperron

it seems that params are not correctly accepted as arguments in expressions. I'll check it asap

Thanks

Luigi

[2016-04-27 07:55] luigidellaquila commented on #6050
Hi @sachintaksande

It seems to be a bug, I'll take a look at this asap and I'll let you know

Thanks

Luigi

[2016-04-27 08:16] EricSchreiner commented on #5304
Hi @lvca, any ideas when it will be fiexed?

[2016-04-27 08:26] luigidellaquila opened #6052 "[PROPOSAL] - make all the identifiers case sensitive in v 3.0"
In v 2.x there are some incoherences in how OrientDB manages case sensitivity of identifiers.
Two examples:
- class names are case insensitive, but property names are case sensitive
- class names are case insensitive everywhere, except as out(), in()... arguments

I propose, in v 3.0, to make all the identifiers case sensitive.
Identifiers include:
- class names
- property names
- index names
- cl

[2016-04-27 08:43] valenpo opened #6053 "remove data of specific class"
Hello, everyone.

I have situation where I need remove some data belong to class. Is it possible delete all the data belong to specific class from DB and filesystem and delete such class from DB scheme?
Also how to prevent restoring data belong to such class from wal file's if I delete class from DB?

Regards,
Valentin.

[2016-04-27 08:51] luigidellaquila commented on #6053
Hi @valenpo

A simple DROP CLASS will do the job
http://orientdb.com/docs/last/SQL-Drop-Class.html

Data in WAL are removed periodically, you can force it with a freeze/release, but it works only from console or on a plocal db

Thanks

Luigi

[2016-04-27 08:58] smolinari commented on #6052
:+1: Without consistency, intuitiveness is unreachable. :smile:

Scott

[2016-04-27 09:01] valenpo commented on #6053
Hi @luigidellaquila
Thanks for a quick response! I'll follow you instruction.

Do you have suggestion how to freeze/release wal files of plocal from JAVA API?

Regards,
Valentin.

[2016-04-27 09:02] lvca commented on #6052
I vote for the opposite: let's make fields case insensitive, so everything is coherent and is back compatibile. The only things it wouldn't work if somebody created properties 'name' and 'Name' on the same record, but this is not common.

Also identifiers are case insensitive in many SQL grammars too. The RDBMS user is expecting this.

[2016-04-27 09:07] luigidellaquila commented on #6052
@lvca different RDBMS implementations have different behaviors on this.
Let me add some reasons to have case sensitive implementation:
- no need for toLowerCase() toUpperCase() in the code, that means less CPU cycles, less memory consumption, less GC
- no problems with locales (see https://en.wikipedia.org/wiki/Dotted_and_dotless_I)
- no problems with non-ascii characters
- compatibility with Tink

[2016-04-27 09:13] luigidellaquila commented on #6049
Hi @peterperron

I just pushed a fix on 2.1.x branch, now I'm porting it to develop

Thanks

Luigi

[2016-04-27 09:21] luigidellaquila commented on #6052
btw, case insensitive field names would not be backward compatible

[2016-04-27 09:49] fc7 commented on #5996
@tglman thanks for your analysis. We will modify our implementation so that it works in 2.1 and 2.2

[2016-04-27 09:49] #5996 closed

[2016-04-27 10:44] luigidellaquila commented on #6049
Ok, pushed to develop as well.

I'm closing this issue, please reopen if you see any other problems

Thanks

Luigi

[2016-04-27 10:44] #6049 closed

[2016-04-27 10:48] enRGi opened #6054 "NPE in ORecordInteral Line 71 when deleting records in parallel"
When deleting the same list of records in parallel with two Threads a NullPointerException occurs in ORecordInternal Line 71. The null-reference actually is recognized in OTransactionOptimisticProxy, Line 115, but the exception is not thrown, only kept in memory for throwing it later.
![2016-04-27_12h41_29](https://cloud.githubusercontent.com/assets/8393975/14849909/f8b58efe-0c75-11e6-9761-24aeb7b

[2016-04-27 11:15] stfanbrg opened #6055 "Graph shutdown"
Hello,

I am starting with orientDB and I want to delete all vertices in my data base; I am using  Graph API.
I have a method to addData vertices and edges . I have a method to printData in the text console .
I have a dropData methode to remove vertices and edges.
AddData and printData work find. I can used them when I want but after a call to dropData (data are droped, cheked with studio), I cann

[2016-04-27 11:23] smolinari commented on #6052
In Mysql the table names and aliases are case sensitive, because the Linux file system is case sensitive. On Windows and OSX (with HFS), they aren't. Column/ Field names are case insensitive. http://dev.mysql.com/doc/refman/5.7/en/identifier-case-sensitivity.html

In PostgreSQL, the identifiers are automatically reduced to lower case, unless they are in double quotes. So, a very forced case sensit

[2016-04-27 11:25] laa commented on #5383
Moved in 3.0 because we moved parallel txs to 3.1 version.

[2016-04-27 12:44] laa opened #6056 "Wrap transactional log into soft reference"
Wrap transactional logs into soft references and rollback transaction if GC cleans them.
In such way even if OOM happens data always will be in durable state.

[2016-04-27 12:54] laa commented on #6056
Well in reality it is invalid issues, close it.

[2016-04-27 12:54] #6056 closed

[2016-04-27 13:00] tglman commented on #6052
Hi,

I'm for the case sensitive, also because the other protocol we use appart sql are case sensitive (Json,our binary protocol).

In general case sensitive make the engine simpler and faster, on the other side the IDE (studio) should give suggestion in case is defined a property with differnet case of the one in the sql.

[2016-04-27 13:20] stfanbrg commented on #6055
more informations

Before to call DropDatabase I called myServerAdmin.existsDatabase() ...so if I removed this step, my problem disapears ...any suggestion to understand ?

[2016-04-27 13:26] luigidellaquila commented on #6050
Hi @sachintaksande

the problem does not seem to be on the index, but on the schema.
We are investigating it

Thanks

Luigi

[2016-04-27 13:48] mamoit commented on #4599
:+1: same problem with the root user.

[2016-04-27 13:54] seeden commented on #6052
+1 for case sensitive

[2016-04-27 14:20] a-unite commented on #6052
Just to add even more fuel to the flame:

I'm for Luca's approach here :)
And Postgres way (see @smolinari's comment) feels as most common sens`e`tive.

[2016-04-27 14:41] janjilek commented on #6047
So, I tried today a lot of instance types for backend and database and best these are the best results.

I was able to handle 181 requests/s with c4.2xlarge (8 CPUs, cpu usage 560%) instance on database and 2x m4.xlarge instances (8 CPUs in totall). I tried also more m4.xlarge instance but the result was same like with 2.

When I descreased number of returned products from 100 to 50, I was able to

[2016-04-27 14:47] luigidellaquila commented on #6052
:D It's a hard decision to take, so all the fuel is welcome

Thanks

Luigi

[2016-04-27 15:06] maggiolo00 commented on #6047
hi @janjilek

about orientjs a lot of cpu time is consumed on deserializing the results set. In 2.2 we implemented the native serializer/deserializer to gain more speed.

[2016-04-27 15:19] fabriziofortino commented on #6047
@janjilek

Not sure if this could be relevant but you might lower latency and jitter on ec2 instances with the right drivers, enabling enhanced network capabilities (http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/enhanced-networking.html).

[2016-04-27 16:00] tglman commented on #6054
fixed both in develop and 2.1.x, thank you with so detailed report, it was easy to fix.

[2016-04-27 16:00] #6054 closed

[2016-04-27 16:01] janjilek commented on #6047
Thank you, I will try new version of driver next week and enhanced network capabilities sounds also good. Will write you back results next week.

[2016-04-27 16:31] w3aponx commented on #6052
+1 for case-sensitive, for all the reasons outlined already.

Mario

On Wed, Apr 27, 2016 at 10:47 AM, luigidellaquila <notifications@github.com>
wrote:

--
_____________
Mario Cormier

[2016-04-27 20:16] lukeasrodgers opened #6057 "corrupt edge data"
We are running orientdb version 2.1.5 community, ruby driver over HTTP, and appear to have some corrupt edge data in our database, concerning a "Follow" edge between "CpUser" vertices. `[user_ids]` here is a single-element array with one CpUser user_id value.

See the attached screenshot.

You'll notice a few oddities:

* the first two queries that I believe *should* report essentially the same re

[2016-04-27 20:43] StarpTech commented on #6057
@lukeasrodgers it is possible to update to 2.1.16 I remember on a simliar issue some many versions before.

[2016-04-28 00:43] dgilling opened #6058 "List of servers received and tried in 2.1.16"
Why does the client by default attempt to get a list of servers?
While it seems like a nice feature to have client side, doesn't seem to have it on by default with no switch to turn off.

My cluster is already behind my own server-side load balancer and the network is isolated from rest thus if first one fails, it moves to next address which is an unreachable addresses.

Also, I thought this is a

[2016-04-28 04:26] laa commented on #6057
@tglman Could you check whether that is exception which is already fixed ?

[2016-04-28 04:51] smolinari commented on #6052
@a-unite - How do you see the semi-forced case sensitivity, as PostreSQL does it, as the best way? What are the advantages and disadvantages?

The only thing I can think of is the ability to use spaces in identifiers with double quotes, which is still possible to do with ODB too. So, ODB could also be completely case sensitive without quotes, and only need double quotes for the spaces in identifie

[2016-04-28 05:05] laa opened #6059 "Graph benchmarks"
Graph benchmarks results clearly show that we need to run them periodically so we propose following format of running of benchmarks.

Benchmarks schedule:
-For full in memory tests (100% of data in cache) - run them every night on bare metal server. All other tasks should be switched off.
-For disc backed cache (only 20 % of data in load cache, but in future even less , I think 5% is good number)

[2016-04-28 05:19] smolinari commented on #6059
Yes! The benchmark testing will increase ODB's quality immensely. The other gain from this is you'll be able to quickly see if any supposed performance boosting changes actually work as expected or not. It will also raise everyone's confidence too. Good decision!

Scott

[2016-04-28 05:22] hughjfchen opened #6060 "ClassNotFoundException: com.orientechnologies.orient.core.db.graph.OGraphDatabase"
Where is this class? I can't find this class in all orientdb jars. The only database class is com/orientechnologies/orient/core/db/ODatabase.class in the core jar. Should I use this class in core jar instead?

[2016-04-28 05:28] schernolyas opened #6061 "(Feature)Property with type 'embedded' cannot be a primary key"
Now OrientDB not supports unique indexes for propries with type 'embedded'.
The feature needs for support annotation @EmbeddedId.

See https://en.wikibooks.org/wiki/Java_Persistence/Identity_and_Sequencing#Embedded_Id

[2016-04-28 06:13] laa commented on #6059
@smolinari creating of tests is not enough, measuring everything right is also important. :-)

[2016-04-28 06:20] smolinari commented on #6059
@laa - Absolutely Andrey! The benchmarks must be meaningful, in order to be effective and helpful.

Scott

[2016-04-28 06:26] smolinari commented on #6047
Interesting @fabriziofortino . You would think the best networking would be standard and not an option.

@janjilek - I also know in the past OrientJS had issues with, I believe it was, marshaling and there was discussion on improving the OrientJS driver. It seems it is why ODB did so badly compared against Arango. That was some time ago too. I didn't follow if there were improvements made to the d

[2016-04-28 08:17] robfrank commented on #6038
Andrey, test classes should be renamed with Test suffix, e.g.: SBTreeTestBigValues should be renamed to SBTreeTestBigValuesTest to let maven execute it

[2016-04-28 08:32] laa commented on #6038
@robfrank I remember , but I need to fix them first.

[2016-04-28 08:44] maggiolo00 commented on #6026
@lastnod

can you explain it better?

[2016-04-28 08:46] luigidellaquila commented on #6060
Hi @hughjfchen

That class no longer exists since maybe v 1.6... What version of OrientDB are you using?
Could you please report the list of orientdb jar files you have in the classpath? My feeling is that you have something wrong there

Thanks

Luigi

[2016-04-28 08:46] maggiolo00 commented on #6026
You could use sql functions exposed in REST API if you want.

http://orientdb.com/docs/2.1/Functions.html

[2016-04-28 08:48] luigidellaquila commented on #6061
Hi @schernolyas

I'm not sure it's structurally possible, I marked it as an enhancement, we will see if we can do this in 3.0

Thanks

Luigi

[2016-04-28 08:55] #5235 closed

[2016-04-28 08:55] luigidellaquila commented on #5235
Hi @StarpTech

I suppose this is solved. I'm closing this issue, please reopen if you experience any related problems

Thanks

Luigi

[2016-04-28 09:04] robfrank commented on #6038
yes, but this way you fix them only on your PC and they're still not running on CI.

[2016-04-28 09:31] StarpTech commented on #5235
Hi @luigidellaquila the `if` expression is really helpful thanks but from developer point of view it doesnt solve the issue.
In the documentation there is: `OrientDB is an ACID compliant DBMS.`
That's wrong at least in the case of `Atomic` because I have to check the results sets of all my queries to avoid secondary failures. This should be documented unless full ACID is supported. Orientdb have t

[2016-04-28 09:59] a-unite commented on #6052
@smolinari,
My main reason is:
If ODB is going to be popular - then we have to provide most convenient way for ordinal users, not only for advanced and highly professional ;) geeks as we are.
This is especially important since we don't have and will not have any possibility to signal user (in schema-less mode), that he has empty result set not because there is no data for his query, but because he

[2016-04-28 09:59] laa commented on #6038
I I've not fixed them yet.

чт, 28 апр. 2016, 12:04 Roberto Franchini <notifications@github.com>:

--
Best regards,
Andrey Lomakin, R&D lead.
OrientDB Ltd

twitter:@Andrey_Lomakin linkedin:https://ua.linkedin.com/in/andreylomakin

[2016-04-28 10:03] janjilek commented on #6047
@smolinari I can try to implement test case also with Java driver and compare results :-)

[2016-04-28 10:24] luigidellaquila commented on #6055
Hi @stfanbrg

Can you post some code? My feeling is that you are dropping the db and it's not correctly recreated.

Thanks

Luigi

[2016-04-28 10:44] smolinari commented on #6052
Thanks for the explanation @a-unite.

Scott

[2016-04-28 11:16] schernolyas commented on #6061
Hi @luigidellaquila

Ok. It feature needs for JPA.

[2016-04-28 11:24] G4br13l3 commented on #6052
+1 for case sensitive for all the reasons reported above and because it allows a better management of unstructured data.

[2016-04-28 11:33] apurvagupta opened #6062 "Size method doesn't work with intersect function."
Hi,

I am using 2.1.16 orientdb version. There if I use intersect function  with size() to aggregate  it doesn't work.
Even though intersect returns the data but intersect size always returns 0. It was working fine in orientdb version 2.0.14. Now we are trying to upgrade and facing this problem.

**example:**
SELECT expand(r) FROM ( SELECT @rid as r, intersect($allowed, $direct).size() as intersec

[2016-04-28 11:46] davloperez commented on #3470
We are having a similar problem. In this post, my colleague has specified the problem with the alternatives tested, but none has worked.
https://groups.google.com/forum/#!topic/orient-database/fapNCt2fCKo

[2016-04-28 12:24] saeedtabrizi commented on #6052
Hi,  :+1:  for  case sensitive . this is **orientdb ** in the new age of databases absolutly  :)

[2016-04-28 12:28] luigidellaquila commented on #6062
Hi @apurvagupta

it seems to be a regression, I'll check it asap

Thanks

Luigi

[2016-04-28 12:49] saeedtabrizi opened #6063 "[PROPOSAL] - adding IF EXIST , IF NOT EXIST , TTL keywords to sql syntax"
In some case of database migration , we need to check if there is some property in the class , class , cluster , record , index or function and then execute a sql statement.
If you add some keywords to orientdb like the **IF EXIST** or **IF NOT EXIST** the programmers can write more efficient and simple database migration procedures .
**TTL** keyword would be useful in Time To Live for entire of r

[2016-04-28 13:18] stfanbrg commented on #6055
on click button call =
`    if (isConnected()) {

      try {
        //if (odbConnection.isDataBaseExists()) {

        try {
          if (odb != null) {
            odb.dropData();
            println("data deleted");
          }
        } catch (Exception exception) {
          LOGGER.log(Level.SEVERE, "MyGui error", exception);
        }
        //}
      } catch (Exception exception) {

[2016-04-28 13:30] saeedtabrizi commented on #5944
Hi @tglman
is its working on 2.1.16 ?

Thanks
Saeed

[2016-04-28 14:34] #6010 closed

[2016-04-28 14:39] robfrank opened #6064 "Cached sequences created with an increment value greater than 1 don't use increment value"
[code]

[2016-04-28 14:59] tglman commented on #5944
@saeedtabrizi

yes 2.1.16 contains this fix

could you verify? can we close this ?

[2016-04-28 15:13] hughjfchen commented on #6060
I'd check 2.1.16 and 2.2.0 beta2 and none of them contains such a class. I think you're right. It no longer exists for a while. Problem is how can I use graph API in java without this class? The only way I can think of is via blueprints API,however,it may lack of some orientdb specific features. Can you give me some tips who to proceed?

[2016-04-28 15:16] kwoxer opened #6065 "OrientDB Update runs into JVM memory issue 'Cannot allocate memory'"
From: http://stackoverflow.com/questions/36915278/orientdb-update-runs-into-jvm-memory-issue-cannot-allocate-memory

---

**Issue**: I just updated my OrientDB (2.0.12) to the latest Version (2.1.16). So I just took the complete folder to test it without my custom settings. Then I tried to start the new version and I got 'Cannot allocate memory'.

---

**How to fix**: Autodetect memory size (featu

[2016-04-28 15:38] joelhandwell commented on #4986
Hello @luigidellaquila, was there progress?

[2016-04-28 15:42] sdeleuze commented on #4986
You can have a look to this [Understanding Reactive types](https://spring.io/blog/2016/04/19/understanding-reactive-types) I wrote to have more detail about how Reactive types differs from `CompletableFuture`, `Stream`, etc.

[2016-04-28 15:49] laa commented on #6065
Problem is solved, look at link above , but we may auto detect amount of memory in sh script.

[2016-04-28 15:55] luigidellaquila commented on #6060
Hi @hughjfchen

I think you can start from here

http://orientdb.com/docs/last/Graph-Database-Tinkerpop.html#getting-started-with-blueprints

Please let me know if you need further help

Thanks

Luigi

[2016-04-28 16:03] luigidellaquila commented on #4986
@joelhandwell I'm afraid it won't be in the first 2.2 GA, probably it will be implemented lately.

@sdeleuze thanks a lot for the reference!

Luigi

[2016-04-28 16:21] #6064 closed

[2016-04-28 16:46] tglman commented on #5355
hi @jlowenz,

I reproduced and fixed in 2.1.x, for 2.2 the bug was not there because some refactor on transaction commit, i added the test anyway, closing.

[2016-04-28 16:46] #5355 closed

[2016-04-28 20:57] Severogor commented on #5993
orientdb {db=userdata}> CREATE EDGE LINK FROM #14:0 TO #29:3 SET ACTION =
"Relate";

Error: com.orientechnologies.orient.core.exception.OValidationException:
The field 'ACTION.action' is mandatory, but not found on record:
LINK#41:-2{ACTION:Relate,out:#14:0,in:#29:3,instructions:[0],process:} v0

orientdb {db=userdata}> CREATE EDGE LINK FROM #14:0 TO #29:3 SET action =
"Relate";

Created edge
'[LI

[2016-04-28 22:52] saeedtabrizi commented on #5944
Hi @tglman
Actually not :-1:
i'd tested in some of case :
1) `delete from cluster:BlobStorage where @rid in (select Blob from FileItem limit 7)` throws exception `java.lang.ClassCastException: com.orientechnologies.orient.core.record.impl.ORecordBytes cannot be cast to com.orientechnologies.orient.core.record.impl.ODocument`
2) `delete from cluster:blobstorage  limit 4` , works true :+1:
3) `delet