[2016-10-26 11:07] rdelangh commented on #6848
Another example from another class, which also has a FULLTEXT LUCENE index on its property FILENAME:
[code]

[2016-10-26 11:09] maggiolo00 commented on #6848
@rdelangh

do you have an index defined on EVN property?

[2016-10-26 11:19] maggiolo00 commented on #6848
@rdelangh
If you rebuild the index on cdr_af_20161023.FILENAME ?

[2016-10-26 11:42] rdelangh commented on #6848
@maggiolo00
yes, there is a second index which includes ENV.

This query returns incorrect result 1 instead of 10:
[code]

However this query returns correct result 10:
[code]

-> seems buggy behaviour ...

[2016-10-26 11:44] maggiolo00 commented on #6848
@rdelangh

can you post the explain of

[code]

Thanks

[2016-10-26 12:01] tglman commented on #6836
hi @dominioon,

we fixed also this deadlock-like situatlon, all will be released in 2.2.13.

Bye

[2016-10-26 12:20] rdelangh commented on #6848
@maggiolo00

Here you go:
[code]

[2016-10-26 12:22] rdelangh commented on #6848
The index "idx_cdr_icx_20161023_0" is a UNIQUE (not Lucene) index made of ENV, PRT_DATE (datetime), FILENAME and RECORD_NUMBER

Another index "idx_cdr_icx_20161023_1" is the LUCENE on FILENAME

[2016-10-26 12:38] lucafrosini opened #6849 "Unable to create abstract Vertex Type on OrientDB 2.2.12 on partitioned graph"
## OrientDB Version, operating system, or hardware.
- v2.2.12
## Operating System
- [ x] Linux
## Expected behavior and actual behavior

Trying to create an abstarct Vertex type on OrientDB 2.2.12 I Obtain the following exception. The code worked on OrientDB 2.2.0.

[code]

By debugging I found that the cause is:

[code]
## Steps to reproduce the problem

You can find the a complete project to rep

[2016-10-26 13:51] maggiolo00 commented on #6848
@rdelangh

so in this query the idx_cdr_icx_20161023_0 is used then the lucene operator is use for in memory evaluation.

can you post also the explain of

[code]

[2016-10-26 14:04] dashawn888 commented on #6843
$ java -version
java version "9-ea"
Java(TM) SE Runtime Environment (build 9-ea+140)
Java HotSpot(TM) 64-Bit Server VM (build 9-ea+140, mixed mode)

Thanks for the help.

[2016-10-26 14:27] obi1kenobi opened #6850 "Operator INSTANCEOF doesn't work in MATCH where clause after traverse"
## OrientDB Version, operating system, or hardware.
- v2.0 SNAPSHOT[ ] - .18[ ] .17[ ] .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.1 SNAPSHOT[ ] - .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.2 SNAPSHOT[ ] - .8[x] .rc1[ ] .beta2[ ] .beta1[ ]

## Operating Syste

[2016-10-26 14:28] maggiolo00 commented on #6773
@laa
added extra logging in case of NPE

[2016-10-26 15:41] dashawn888 commented on #6843
$ java -version
java version "9-ea"
Java(TM) SE Runtime Environment (build 9-ea+140)
Java HotSpot(TM) 64-Bit Server VM (build 9-ea+140, mixed mode)

Thanks for the help.

On Wed, Oct 26, 2016 at 1:42 AM, Andrey Lomakin <notifications@github.com>
wrote:

[2016-10-26 15:48] RAndrews137 commented on #6565
We were able to add schema via in-memory but that involved executing commands to create the schema. Longer term, it would nice if there was a way to inject schema via JSON or something.

[2016-10-26 15:48] #6565 closed

[2016-10-26 16:48] RAndrews137 commented on #6834
I tried to read through the code myself for parsing.  Unfortunately, it's pretty complex.  Looks like there is a tree construct used for parsing. I am still trying to research why the "or" condition can short-circuit further evaluation.

[2016-10-27 00:24] smallik opened #6851 "row updated on OConcurrentModificationException"
## OrientDB Version, operating system, or hardware.
- v2.2.7, Windows 10, laptop
## Operating System
- [x ] Windows
## Expected behavior and actual behavior

The below query is throwing OConcurrentModificationException while calling commit. but the record is still updated.

update crud_log set status = 'processed' return after where entity='user' crud_type = 'create' and status = 'unread' limit 20

[2016-10-27 03:25] borov333 commented on #6782
Hi @luigidellaquila, can you please look into this bug. We really stalled in the project here.

Thanks.

[2016-10-27 07:49] laa commented on #6773
@vlasni could you run your queries under the latest version of 2.2.x branch ?

[2016-10-27 07:53] rdelangh commented on #6848
@maggiolo00

Here you go :
[code]

[2016-10-27 08:54] luigidellaquila commented on #6850
Hi @obi1kenobi

I just pushed a fix in 2.2.x. It will be released with 2.2.13

Thanks

Luigi

[2016-10-27 08:54] #6850 closed

[2016-10-27 09:01] maggiolo00 commented on #6848
@rdelangh

can you reproduce this on a small dataset with a script?

[2016-10-27 09:10] benjaminbillet opened #6852 "ORecordNotFoundException with -2 cluster under stress conditions"
## OrientDB Version, operating system, or hardware.

OrientDB 2.2.12, MacOS Sierra, Java API
## Expected behavior and actual behavior

Hi,
I work with a query generator that produces type-clustered Breadth First Search queries, such as :
`SELECT $_root.nextVertices AS _root, $_layerA AS _layerA LET $_root = map('nextVertices', (SELECT FROM RootType)), $_layerA = (SELECT @rid AS parentId, out('root

[2016-10-27 09:14] maggiolo00 commented on #6848
@rdelangh

how did you create the lucene index?

[2016-10-27 09:20] luigidellaquila commented on #6845
Hi @obi1kenobi

I think I already fixed this problem, any chance to try it on 2.2.12?
I'm doing the same in the meantime

Thanks

Luigi

[2016-10-27 09:23] luigidellaquila commented on #6845
Yep, I can confirm, it's already fixed in 2.2.12.
I'm closing it, please reopen if I'm missing something

Thanks

Luigi

[2016-10-27 09:23] #6845 closed

[2016-10-27 09:30] lvca commented on #6842
@rdelangh I've just pushed a fix. I can't be sure if the problem 'com.orientechnologies.orient.core.exception.OSequenceException: Error in transactional processing of seq_files_loaded.next()' has been fixed because I couldn't reproduce it, but I fixed a severe bug on using sequence by multiple threads.

@rdelangh could you please pull 2.2.x branch and retry it?

[2016-10-27 09:30] luigidellaquila commented on #6782
Hi @borov333

@tglman is checking it

Thanks

Luigi

[2016-10-27 09:31] #6694 closed

[2016-10-27 09:31] luigidellaquila commented on #6694
Hi @mindnuts

I'm closing this issue because it's technically fixed, but please feel free to comment if you need guidance on your use case

Thanks

Luigi

[2016-10-27 09:33] maggiolo00 commented on #6848
can you also post

the explain of

[code]

[code]

adn

[code]

[2016-10-27 09:41] laa commented on #6852
Hi @benjaminbillet , is it correct that you run this code in single thread mode on remote storage, and as result you get ORecordNotFoundException ?

[2016-10-27 09:44] laa commented on #6851
Hi @smallik , just to clarify:

1. Does it happen sporadically or that is always reproducible?
2. Is it enough to run your code using data listed in the issue to reproduce the problem ?

[2016-10-27 10:16] laa commented on #6829
Hi @lvca those approaches use Java 7 API, but 2.2.x version is based on 3.0 API should we move this issue to 3.0 version ?

[2016-10-27 10:49] lvca commented on #6829
Wasn't 2.2 based on Java7?

[2016-10-27 11:21] benjaminbillet commented on #6852
Hi,
I run this code on remote storage and the code snippet I provided is executed in a single thread. Just to be sure, here is how I create my OrientGraph object:

[code]

[2016-10-27 11:38] tglman commented on #6782
hi @borov333,

I think your finding are correct, and there is actually a reason behind it. so as you said:
"This one has "@type":"d", "@class":"RawLead" for the outer class and "@type":"d", "@class":"RawLeadMeta" for the inner class added. Only with these magic I can create document from JSON directly."

This is correct you need to specify a class with "@class" if you don't do so, orient should gi

[2016-10-27 11:44] tglman commented on #6852
hi @benjaminbillet,

A similar bag has been solved recently, can you check with the last hotfix, 2.2.12.

Thank you

[2016-10-27 11:44] laa commented on #6829
No , Java 6  from, https://github.com/orientechnologies/orientdb/blob/master/readme.txt "OrientDB needs Oracle Java JDK version 6 or major to run the Server. "

[2016-10-27 11:45] tglman commented on #6829
Nope 2.2 is still java 6, otherwise we could have used a lot of nice features of java7 like `try(closable){}`

[2016-10-27 12:07] tglman commented on #6851
hi,

If you are running in remote the query run outside the transaction, so in that case you need to do the update with the java API and not with the sql.

Hope this help

[2016-10-27 12:08] benjaminbillet commented on #6852
Hi @tglman
I have exactly the same problem with 2.2.12 (I updated my first post).
Thank you.

[2016-10-27 12:29] rdelangh commented on #6847
@tglman , @lvca
I got exactly the same situation again. How can this be investigated ?

[2016-10-27 12:33] rdelangh commented on #6842
@lvca
the latest 2.2.x snapshot I find is
orientdb-community-2.2.13-20161026.231503-8

-> is this the one I should try ?

[2016-10-27 12:33] benjaminbillet commented on #6852
Just to be sure, I tried to convert the query to a script, but it didn't solve the problem.

[code]

[2016-10-27 12:43] tglman commented on #6847
hi @rdelangh,

From the error seems that you are running a query that load a lot of record in memory, can you share with us the `./bin/java_pid16509.hprof` ?

As well will be useful know what kind of query you are running, based on that we can understand if is sufficent toone some memory settings.

Bye

[2016-10-27 12:44] maggiolo00 commented on #6848
@rdelangh

i think i was able to reproduce that. I'm working on a fix.

Thanks

[2016-10-27 12:50] rdelangh commented on #6847
@tglman
The file is a few GB in size (even ZIPped), likely impossible to get it uploaded or transferred to you. Is there any means that I open/analyze this file here locally ?

[2016-10-27 13:20] tglman commented on #6847
Hi @rdelangh,

hprof is a standard dump of the jvm you can open it with many tools, like VisualVM (that you should already have installed),Eclipse, YourKit, ecc

here some more info : http://stackoverflow.com/questions/185893/how-do-i-analyze-a-hprof-file

What you need to look for is for what are the object that have more instances and that retain more memory.

Bye

[2016-10-27 13:32] tglman commented on #6852
hi @benjaminbillet,

I think the problem is related to the fetch plan can you try to write the query in a different way ex:
`SELECT $_root.nextVertices AS _root, {'parentId': $_layerA.@rid, 'nextVertices':$_layerA.out('rootToA')} AS _layerA LET $_root = map('nextVertices', (SELECT FROM RootType)), $_layerA = (SELECT FROM $_root.nextVertices) FETCHPLAN _root:1 _layerA:2`

this should not cause your

[2016-10-27 13:33] lvca commented on #6842
Updated now. Try this: https://oss.sonatype.org/content/repositories/snapshots/com/orientechnologies/orientdb-community/2.2.13-SNAPSHOT/orientdb-community-2.2.13-20161027.133116-9.tar.gz.

[2016-10-27 13:54] rdelangh commented on #6848
@maggiolo00
ok, good news !

[2016-10-27 13:54] rdelangh commented on #6842
@lvca
Got that 'orientdb-community-2.2.13-20161026.231503-8' snapshot, starting it, will see how it behaves.

[2016-10-27 14:01] rdelangh commented on #6847
@tglman
ok, have it open with VisualVM.

1) the objects that have most instances are:
- java.util.LinkedHashMap$Entry : 16% instances (20558455), size=1.233 GB
- com.orientechnologies.orient.core.record.impl.ODocumentEntry : 16% instances (20545452), size=1.376GB
- char[] : 16% instances (20383145), size=0.985GB
- java.lang.String : 16% instances (20380014), size=0.570GB

Rest is less than 5% of t

[2016-10-27 14:07] rdelangh commented on #6842
@lvca  ok, getting 2.2.13-20161027.133116-9 ...
(btw : are there any other fixes in this snapshot, for the other issues that I have opened?)

[2016-10-27 14:39] #6842 closed

[2016-10-27 14:39] lvca commented on #6842
Ok, closing this. I've just created a snapshot from last 2.2.x, so if any issue has ben closed before 1h ago, it's in.

[2016-10-27 14:55] benjaminbillet commented on #6852
I tried the query and it returns `_layerA = {"nextVertices":null,"parentId":null}` in Studio (however, the $_layerA variable contains the proper results).

If you want to try it yourself, my dataset is generated with this simple code:
[code]

Anyway, it is very strange that the problem occurs only when the database is stressed.

Thanks

[2016-10-27 15:13] Ken-Michalak opened #6853 "Failure to open database after recovery: "Can not close file with id 0 because it is still in use""
## OrientDB Version, operating system, or hardware.

v2.2.4
## Operating System
- [x] Linux
- [ ] MacOSX
- [ ] Windows
- [ ] Other Unix
- [ ] Other, name?
## Java

java version "1.7.0_79"
OpenJDK Runtime Environment (IcedTea 2.5.6) (7u79-2.5.6-0ubuntu1.14.04.1)
OpenJDK 64-Bit Server VM (build 24.79-b02, mixed mode)
## Expected behavior and actual behavior

Expected: After recovering a database fro

[2016-10-27 15:50] smallik commented on #6851
1) it happens consistently.
2) the crud log table is being updated anytime a crud operation happens. Ie
when ever a create, insert, view, delete happens. So the data is fine. But
in my case there are many threads involved that could update this table. I
can share some of my code if that helps. Let me know if you are not able to
reproduce.

On Oct 27, 2016 5:44 AM, "Andrey Lomakin" <notifications@g

[2016-10-27 15:55] tglman commented on #6843
hi @dashawn888,

Java 9 hasn't been released in stable yet, we don't support it yet, and since they are changing a lot of things is not easy to keep track, in any case the first release we are testing on java 9 is the 3.0, so we don't guarantee the 2.x on java 9.

Bye

[2016-10-27 16:02] tglman commented on #6847
hi @rdelangh,

It look like you did a query without 'limit' ( or better with `limit -1`) , if you do that all the record will be loaded in memory and this is what seems happening, you should do your query using limit.

[2016-10-27 16:11] maggiolo00 commented on #6848
@rdelangh  fixed.
It will be available on 2.2.13 GA or  you can try the snapshot

Thanks

[2016-10-27 16:11] #6848 closed

[2016-10-27 16:39] smallik commented on #6851
Ok, are you saying that update queries needs to be outside transaction?

In this case it is totally fine as it is a atomic operation.

What will be my option if this was part of other update queries that has to
be part of the same transaction? also Is this specific for update with
returns or any updates?

Thanks
Mallik

On Thu, Oct 27, 2016 at 8:07 AM, tglman <notifications@github.com> wrote:

--

[2016-10-27 16:58] rdelangh commented on #6847
@tglman
I think this is then a bug of ODB : you can not guarantee that the user ever launches a query without LIMIT, this could for example be the case in a subquery . In any case, ODB should manage its data in memory better, so that it avoids itself from overflowing.

[2016-10-27 19:29] obi1kenobi commented on #6845
Thanks, it appears it is fixed in 2.2.12, but I was not able to find it in the [changelog](https://github.com/orientechnologies/orientdb/milestone/105?closed=1).

[2016-10-27 22:42] cmassi commented on #6843
I have started orientdb 2.2.12 with java 9-ea+141, with minor changes, but as @tglman said, it is still not supported, together with java 9 (early access)

[2016-10-28 04:27] borov333 commented on #6782
Hi @luigidellaquila and @tglman,

Wow! I didn't expect that behavior by design. I was able to traverse the JSON tree and insert the @class along with @type properties for every object - took me some time to do the logic so that it's dynamic for different json structures.

I can understand that for the internal mechanics you may need to have these 2 magic fields in for every object and perhaps its

[2016-10-28 06:54] luigidellaquila commented on #6845
mmm... right, probably we did not set the milestone on the related issue.
I'll see if I can find and fix it ;-)

Thanks

Luigi

[2016-10-28 07:28] Ivanov-Yuriy commented on #4485
Hi @maggiolo00
I'm sorry to keep you waiting
I would like to this bug was fixed

[2016-10-28 07:52] laa commented on #6853
HI @Ken-Michalak " Data restore was paused because of exception. The rest of changes will be rolled back and WAL files will be backed up. Please report issue about this exception to bug tracker and provide WAL files which are backed up in 'wal_backup' directory." Could you send this data to me ?

[2016-10-28 07:53] smolinari commented on #6782
This sounds like a weakness in your API and not the database. Not even MongoDB will do what you are asking for, or rather, not in that manner. I might be going out on a limb here, but it sounds like you are confounding the NoSQL concept a bit. I don't mean to be insulting. Please don't take it that way. 😄 I'll try to explain myself, but will probably fail, as I often do. LOL! In the end, I think w

[2016-10-28 08:25] laa commented on #6829
Ok , I move it to 3.0 version.

[2016-10-28 09:06] luigidellaquila commented on #6821
Hi @SamHard

I just pushed a fix in 2.2.x branch. The fix will be released with 2.2.13

Thanks

Luigi

[2016-10-28 09:06] #6821 closed

[2016-10-28 09:08] maggiolo00 commented on #4485
@Ivanov-Yuriy

do you still have this issue with orientjs 2.2.x and OrientDB 2.2.x?

[2016-10-28 09:19] taburet commented on #6805
@tttlh is it still happening? The most probable cause of OOMs are some very large queries, if there are many such queries running in parallel they could easily eat all available heap.

[2016-10-28 09:20] rdelangh opened #6854 "DROP, SELECT or DESC of a class returns Java error"
## OrientDB Version, operating system, or hardware.
- v2.2.13-20161027.133116-9
## Operating System
- [x] Linux

Had a class "files_loaded" before, did a rename of it (ALTER CLASS files_loaded name files_loaded1) a few days ago;
meanwhile upgraded ODB to the listed v2.2.13 snapshot release;
now want to cleanup this old class, but get errors:

[code]

No errors appear in the logfile.
=> what's goin

[2016-10-28 09:20] taburet commented on #6802
Closing because of no reply.

[2016-10-28 09:20] #6802 closed

[2016-10-28 09:20] Ivanov-Yuriy commented on #4485
@maggiolo00
Yes, I use orientjs 2.2.2 and OrientDB 2.2.11 now

[2016-10-28 09:34] luigidellaquila commented on #6854
Hi @rdelangh

Can you (privately) share a copy of the db? This kind of errors is always hard to reproduce and the logs don't say much

Thanks

Luigi

[2016-10-28 10:20] robfrank commented on #6831
Orientdb can be started in many different (bash, docker, systemd) ways and it is written in Java. I will explore the way of integrating with systemd more deeply and keep you posted on this issue.

[2016-10-28 10:21] rdelangh commented on #6115
@lvca , @pabloa
hello Luca, I am also very interested in this feature (rename of a database); is this somewhere in the pipeline of an upcoming release?

[2016-10-28 10:23] tglman commented on #6782
hi @borov333,

Can we consider this solved for you ?

Bye

[2016-10-28 10:24] robfrank commented on #6839
If you know the types of the columns, you can configure the CSV extractor:
http://orientdb.com/docs/last/Extractor.html#csv-extractor

[code]

[2016-10-28 10:31] #6574 closed

[2016-10-28 10:31] robfrank commented on #6574
I'm closing, feel free to comment or report again.

[2016-10-28 10:47] benjaminbillet commented on #6852
@tglman By the way, even a simple request like `SELECT {items: $allVertices} AS items LET $allVertices = (SELECT FROM V)` returns `{"items":null}`. Do you want me to open another issue for this new problem?

[2016-10-28 11:32] maggiolo00 commented on #6808
@rdelangh

i've added extra checks. You should not receive NPE

[2016-10-28 11:45] rdelangh commented on #6854
hi Luigi, sorry that will be at least technically impossible: the db is 680 GB size ...

[2016-10-28 11:54] LStuker commented on #6831
Hi Roberto, thank you very much for your feedback.
My quick research showed that there are some lib for java which implements systemd notification, but my Java knowledge is a bit rusty. For sure the implementation should not impact the portability of oriented.

https://github.com/faljse/SDNotify
https://gist.github.com/hanikesn/568882f96d543758e7b2

[2016-10-28 11:55] austx commented on #6839
Thanks robfrank, you are absolutely right!
However, there is a snag here; the nature of the data makes it impractical to specify each column and add the type. Setting up ETL jobs in such detail is not practical in the use cases here.
In my mind the ETL process should auto-detect float and perhaps revert that property to float.
Thanks anyway!

[2016-10-28 12:02] rdelangh commented on #6808
@maggiolo00
Enrico, sorry to say, but the error shows up again in the server logfile :

[code]

Running now version 2.2.13-20161027.133116-9

[2016-10-28 12:10] rdelangh opened #6855 "performance question for SQL query"
## OrientDB Version, operating system, or hardware.
- v2.2.13-20161027.133116-9
## Operating System
- [x] Linux
- I have a class "cdr_af_20161016" with about 70 STRING properties defined, plus a single DATETIME property named "PRT_DATE"; there is almost 21M documents in this class
- a unique index "idx_cdr_af_20161016_0" is defined on [ENV,FILENAME,RECORD_NUMBER,PRT_DATE]
- a LUCENE index "idx_cdr

[2016-10-28 12:30] tglman commented on #6526
This should be fixed,

I'm closing, reopen if you still have problems.

[2016-10-28 12:30] #6526 closed

[2016-10-28 12:47] tglman commented on #6852
hi @benjaminbillet,

I figured out a way to retain in the client the temporary records (the one with clusterId -2) so a fixed this case, is going to be released with 2.2.13.

bye

[2016-10-28 13:00] maggiolo00 commented on #6808
@rdelangh

just pushed the fix. It will be available in the next snapshot

[2016-10-28 13:22] maggiolo00 commented on #4485
@Ivanov-Yuriy

you can use array notation

[code]

or Object notation

[code]

[2016-10-28 13:24] maggiolo00 commented on #4485
@Ivanov-Yuriy

i've added extra test for this

https://github.com/orientechnologies/orientjs/commit/6546191274c8e4d2456710e4623431d63e261f17

[2016-10-28 13:33] robfrank commented on #6839
I setup a test for this case, configuration is:
[code]

Which represents a csv like that:
[code]
So, the first line is "casted" to integer, the second to float. I guess you have configure ETL to create class properties setting `dbAutoCreateProperties` on the loader to true. So, it will map the first line to integer and will create the property in the DB as integer. Then on the second line the CSV

[2016-10-28 13:34] luigidellaquila commented on #6854
Hi @rdelangh

are you a Java developer? Any chance for you to launch OrientDB in debug inside Eclipse/IntelliJ and add an exception breakpoint?

It's not too hard:
[code]
then import the sources in IntelliJ as a Maven project and create a launcher with the following parameters:

Main class: `com.orientechnologies.orient.server.OServerMain`
VM options: `-server -Xmx2G -Dprofiler.enabled=false -Djav

[2016-10-28 13:38] benjaminbillet commented on #6852
@tglman Very good, thank you. Regarding the failure of `SELECT {items: $allVertices} AS items LET $allVertices = (SELECT FROM V)` (the result is null), should I open another issue?

[2016-10-28 13:41] Ivanov-Yuriy commented on #4485
it'll be fine
I'm waiting changes
thank you

[2016-10-28 13:41] luigidellaquila commented on #6855
Hi @rdelangh

I think your query is using the index only for the first key (`ENV`). The index is returning 20941621 records that are scanned one by one, this is why the query is so slow.

I suggest you to define the index differently, eg.
`[ENV,PRT_DATE,FILENAME,RECORD_NUMBER]`
this way the engine will be able to use it for the complete range query on ENV,PRT_DATE.

As a general rule, partial matc

[2016-10-28 14:00] rdelangh commented on #6854
@luigidellaquila
hi Luigi,
sorry but not a Java developer...
And a second problem is that from these servers, the company firewall policy does not allow direct connectivity to github. Is it possible to download a kind of bundle of files , extract them on our server, and then run what you tell me to do for identifying this issue?

[2016-10-28 14:17] tglman commented on #6852
hi,

Yes i think is a good idea to open another issue about that.

Bye

[2016-10-28 14:19] luigidellaquila commented on #6854
Hi @rdelangh

I created a snapshot that should dump that exception (I hope I got the right point to catch it...)

You can download it from here:

https://drive.google.com/a/orientdb.com/file/d/0B46-XQEZNnG3QWdGeHJubTNfNWc/view?usp=sharing

Please, make sure you use it on a backup (at least not on the production DB), as it's a snapshot and did not go through a proper QA process

Thanks

Luigi

[2016-10-28 14:38] luigidellaquila commented on #6788
Ok guys, I checked it.

I have to review the order of the pattern calculation, so that in some cases optional edges are calculated in advance (now they are calculated at the end) based on conditions on $matched.

It's not a trivial fix, it will require one or two working days to make sure that nothing breaks.

I'll schedule it in next days.

Thanks

Luigi

[2016-10-28 14:42] obi1kenobi commented on #6788
That sounds great, thank you! Will this be part of the 2.2.13 release? It's not assigned to any milestone at the moment.

Also, which of the two approaches I proposed did you decide to go with? Just so I know in which direction to take my GraphQL work :)

[2016-10-28 14:47] luigidellaquila commented on #6788
I'll do the solution 2, I'll partially rewrite the execution flow of the MATCH statement.
It will be much more efficient, so it makes sense to invest one or two day on it.

I think I'll be able to do it in 2.2.13 (unless the team decides to release it at the beginning of next week, but I don't think it's the case, unless we find and fix any serious issue)

Thanks

Luigi

[2016-10-28 14:49] smolinari commented on #6788
@obi1kenobi - in what language are you creating the GraphQL implementation?

Scott

[2016-10-28 15:33] rdelangh commented on #6855
hi @luigidellaquila ,
I recreated that index as you suggested:
[code]

then re-ran my query:
[code]
-> 4502773  records counted, in 137 secs ...

Is this as good as it can be with OrientDB ? Over 2mins to count 4.5M records ...

Explain plan:
[code]

[2016-10-28 15:59] maggiolo00 commented on #4485
@Ivanov-Yuriy

i've released the new 2.2.3 version of OrientJS.
It should over the example above

Thanks

[2016-10-28 15:59] #4485 closed

[2016-10-28 16:03] luigidellaquila commented on #6855
well, actually the count should be performed using the index only, not browsing the records.
Maybe there is a bug in the implementation of the BETWEEN operation?

Could you please try the following?

[code]

Thanks

Luigi

[2016-10-28 16:04] luigidellaquila commented on #6855
Or it's just a matter of type conversion together with indexes, it's worth trying to use the date() function do to explicit conversions:

http://orientdb.com/docs/2.2.x/SQL-Functions.html#date

Thanks

Luigi

[2016-10-28 16:14] maggiolo00 commented on #6841
@tanhv90

any updates?

Thanks

[2016-10-28 16:26] borov333 commented on #6782
Hi @smolinari,

I appreciate you taking your time to explain the details and raising concerns. I believe I may've confused you in few of my earlier statements which led you to believe that we're storing the data based on the JSON format in schema-less way. It is actually the complete opposite. We are not using schema-less design in any parts of our application (at least for now we haven't had a ne

[2016-10-28 16:26] borov333 commented on #6782
Hi @tglman,

Yes, please close this issue. Thanks.

[2016-10-28 16:30] #6782 closed

[2016-10-28 17:28] benjaminbillet opened #6856 "Requests like "SELECT {items: $allVertices} ..." returns objets with null fields"
## OrientDB Version, operating system, or hardware.
v2.2.12, MacOS Sierra

## Expected behavior and actual behavior
Requests involving "maps", such as `SELECT {items: $allVertices} AS items LET $allVertices = (SELECT FROM V)` returns no results.

For example:
[code]

Of course, I have data in my base, and I can see that $allVertices contains the valid results of the subquery.

[2016-10-28 18:05] smolinari commented on #6782
@borov333 - maybe it is my misunderstanding with how the fromJson() method works. If it actually takes the defined schema into account, then my whole premise was wrong (and why I asked for correction). I am not a Java dev. 😄

One thing does still leave an open question for me.

You said

Can you explain that a bit more? Are you expecting ODB to build schema from the JSON?

Scott

[2016-10-28 18:41] obi1kenobi opened #6857 "createDefaultUsers=False breaks creating databases from Studio"
## OrientDB Version, operating system, or hardware.
- v2.0 SNAPSHOT[ ] - .18[ ] .17[ ] .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.1 SNAPSHOT[ ] - .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.2 SNAPSHOT[ ] - .12[x] .rc1[ ] .beta2[ ] .beta1[ ]
## Operating Syste

[2016-10-28 20:35] fixundfertig123 commented on #6401
Hi @tglman,
sorry for not replying earlier. I did not have a chance to test the later hotfixes.

The problem had something to do with detached objects (So my fault, sorry for that!!) in my code. I could get my orignal problem fixed by doing "reloads" after the attachments. However, I am still confused why I got inconsistent state from the graph editor (Vertex #20:3 not showing the edges in/outs).

[2016-10-28 21:04] obi1kenobi commented on #6788
@luigidellaquila thanks, that's great news! Looking forward to it :)

@smolinari I'm currently using `pyorient` and Python, because Python has a very nice GraphQL library. However, if you can find a GraphQL library, you should be able to port my code to any language you like.

[2016-10-28 21:53] vlasni commented on #6773
@laa
If you could create that build it would be easier for me as I am in the middle of too many things.
Thanks

[2016-10-28 22:11] vlasni opened #6858 "Indexing on parent class attribute goes through all parent's records not just child class records"
## OrientDB Version, operating system, or hardware.
- v2.2.12
## Operating System
- Linux
## Expected behavior and actual behavior

If there is a class hierarchy modeled as vertices such as:
`Customer extends AbstractPojo extends V`
and there is an attribute `AbstractPojo.deleted boolean`
and there is an index on this attribute, when querying `select name from Customer where deleted=false` I would

[2016-10-28 22:26] borov333 commented on #6782
Gladly @smolinari,

I think I typed it too fast :) Should be instead "it (the database) can create a class data (vertex) by referencing the internal class schema. Here is a simple example:

Class Person has property contact (embedded class) and vehicles (embedded list). I can ask our users to simply send us a JSON like this:
[code]

If the JSON is in the correct structure as the class person expec

[2016-10-28 22:35] rdelangh commented on #6855
@luigidellaquila
no change:
[code]
returns the correct count after 122 secs (which is bad !)

[code]
returns the correct count after 106secs (which is bad !)

[code]
returns the correct count after 117 secs (which is bad !)

[2016-10-28 22:36] prakashpandey opened #6859 "Orientdb getVertices() returning Vertex for any label present in database after vertex indexed with unique name(String) property"
## OrientDB Version, operating system, or hardware.
##
- v2.2 SNAPSHOT[ ] - .10
## Operating System
- Linux
## Expected behavior and actual behavior

Orientdb getVertices(lable, [] iKey, [] iValue)) returing Vertex for any label present in database after I index my vertex by unique name(String) property
## Steps to reproduce the problem

[code]
## Result with Indexing :
- vertex Person->> v(Person

[2016-10-29 00:30] smolinari commented on #6788
I'm interested. :) I'm looking to do the same thing with PHP. However, not with normal PHP, but rather with appserver. Normal PHP doesn't cut it for GraphQL (and why Facebook came up with HHVM).

Scott

[2016-10-29 00:30] borov333 commented on #6782
That's right. To find out which class does a JSON belongs to we require user to send a special category id in the API call, which is internally mapped to a class name. We use that category id for other validation purposes, such as permissions check, etc. prior to even saving the JSON.

So, when we get to the point of saving the record we already know the class name and simply doing this:
[code]

Y

[2016-10-29 01:02] smolinari commented on #6782
Sure. Your request is a similar to my OEP I linked to above. I'm just coming at it from a different angle. The basic premise is, the schema metadata should be in the background and ODB should be taking care of it automatically. That is what makes a NoSQL database NoSQL. LOL!

If I may ask, why can't the API use class names directly? Why the need for the conversion from cat ids?

Also, how and when

[2016-10-29 02:12] borov333 commented on #6782
We debated for sometime internally if we need the conversion from id to a class name. Ideally we don't need to use the conversion and can reference the class names directly that's true. The reasoning behind was not to expose the internal structure to external users.

Our clients need to indicate what data they submitting. If we tell them to use the class name (inside or outside of JSON), what if w

[2016-10-29 02:20] smolinari commented on #6782
Currently we're talking about storing documents, but nothing about storing relationships between the documents. In the diagram you posted above about the lead, you have a number of relationships. Some could be embedded, like the address, but what about the rest? Or are they all embedded?

Scott

[2016-10-29 02:55] borov333 commented on #6782
O, I see. Yes, all of them are embedded. They simply define the structure of the document for at least for this use case. We did however brainstormed about a possibility to create a real graph from different parts of the incoming documents, but at this time we don't have the need for it yet.

[2016-10-29 07:20] luigidellaquila commented on #6856
Hi @benjaminbillet

That syntax is not supported in v 2.2.
It will be in v 3.0

Thanks

Luigi

[2016-10-29 07:20] #6856 closed

[2016-10-29 07:25] luigidellaquila commented on #6858
Hi @vlasni

the 2.2 query executor does not take into consideration statistics regarding class sizes when choosing the execution plan, it just gives priority to indexes, this is why you are having this performance.

As a work-around, you can rewrite the query as follows

[code]

or just define another index on Customer.deleted, that should have priority in the execution plan

Thanks

Luigi

[2016-10-29 07:43] benjaminbillet commented on #6856
@luigidellaquila Hi, tglman suggested this syntax to solve another problem I had (https://github.com/orientechnologies/orientdb/issues/6852), so I assumed that it was supported. Sorry.

[2016-10-29 07:45] luigidellaquila commented on #6856
Ah, got it :)

It's supported only for the RETURN statement in batch scripts, eg you can do

[code]

Thanks

Luigi

[2016-10-29 10:34] smolinari commented on #6782
Interesting you took OrientDB for your use case. MongoDB sounds like a much better fit from a document storage perspective. But certainly, if you intend to use relationships later, OrientDB is a great choice too. I came from wanting to use MongoDB in my "dream" project to OrientDB and I am still sticking with them. I think Version 3 will be a breakthrough, as they have gained a lot of experience o

[2016-10-29 11:57] StarpTech opened #6860 "Current Benchmark for Orientdb"
## OrientDB Version, operating system, or hardware.

v2.1.x, v2.2.x
## Operating System
- [X ] Linux
- [ ] MacOSX
- [X ] Windows
- [ ] Other Unix
- [ ] Other, name?
## Expected behavior and actual behavior

Hi,
does exist any current benchmark about the performance of orientdb?
Especially about the performance in general and about a distribution setup.
 In the meanwhile I have read a lot issues ab

[2016-10-29 12:04] StarpTech commented on #5483
Hi @lvca the current benchmark suite https://github.com/orientechnologies/orientdb-benchmarks handle a dataset with 53KB this is no expressive dataset. The suite just tests basic operations. There is also no test about a distribution setup.

[2016-10-29 15:27] luigidellaquila commented on #6846
Hi @oger-p

I just pushed a fix for this in 2.2.x branch. The fix will be released with 2.2.13

Thanks

Luigi

[2016-10-29 15:27] #6846 closed

[2016-10-29 15:43] vlasni commented on #6858
Hi @luigidellaquila ,
I went through creating an index on `XXXX.deleted` for every child of `AbstractPojo` and removed the index on `AbstractPojo.deleted`.
It performs as expected now.

Thank ky very much.
Adrian

[2016-10-29 17:46] borov333 commented on #6782
I like the approach OrientDB took by combining graph and document databases in one. I think it's smart and can solve real business problems more efficiently. We used MySQL for years and recently used Redis for speed and caching, but once we started to operate in multi million records space things with MySQL started to degrade. Of course we could invest more in re-architecting certain logic and get

[2016-10-30 05:22] smolinari commented on #6782
Interesting. Was MySQL sharding not a possible solution?

And yes. The ODB team do have their hearts in the right place. If 3.0 turns out like I think it will and more people like us can support them monetarily too, I think OrientDB will become a more prominent player in the DB industry.

Scott

[2016-10-30 16:14] StarpTech opened #6861 "SUM regression"
## OrientDB Version, operating system, or hardware.
- v2.0 SNAPSHOT[ ] - .18[ ] .17[ ] .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.1 SNAPSHOT[ ] - .19[X].16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.2 SNAPSHOT[ ] - .rc1[ ] .beta2[ ] .beta1[ ]
## Operating System

[2016-10-31 07:13] #6858 closed

[2016-10-31 07:13] luigidellaquila commented on #6858
Great, happy to know it worked fine.

I'm closing this issue

Thanks!

Luigi

[2016-10-31 07:41] luigidellaquila commented on #6861
Hi @StarpTech

Technically speaking it's not a regression, the `SUM()` function has always worked like this:

- sum(param) is an aggregate function
- `sum(param1, param2)` is a non-aggregate function.

The second version does not make much sense actually, as it's equivalent to `eval('param1 + param2')`, so in v 3.0 probably it will be deprecated.

The problem here is that `SELECT a + b` is not sup

[2016-10-31 07:41] #6861 closed

[2016-10-31 08:14] TheAdamGalloway commented on #3462
+1, this is mission critical for a lot of use cases.

[2016-10-31 08:15] seeden commented on #3462
run

[2016-10-31 08:16] TheAdamGalloway commented on #4056
This is a big issue imo. Facebook's TAO database has a very good edge count inbuilt.

[2016-10-31 08:28] StarpTech commented on #6861
Hi @luigidellaquila thanks for clarification. When will 3.0 available ?

As a workaround I wrap my sum query in another Sum to aggregate all values from the documents. Is it also acceptable?

[2016-10-31 08:54] luigidellaquila commented on #6861
Hi @StarpTech

Our initial goal was to release 3.0 at the end of this year, but more realistically it will be in Q1 2017.

I suggest you to use this approach, that is safe and consistent:

[code]

Thanks

Luigi

[2016-10-31 08:59] StarpTech commented on #3462
@luigidellaquila any progress?

[2016-10-31 10:16] lucafrosini commented on #6817
I have the same problems (Local node is not the owner for cluster) with orientdb 2.2.12.

I have a vertex type named facet:
This is the what i see on DB structure:
33 	facet 	0
293 	facet_0 	0
34 	facet_1 	0
35 	facet_2 	0
482 	facet_3 	0
483 	facet_4 	1
504 	facet_5 	0
659 	facet_6 	0
693 	facet_7 	0
848 	facet_8	0

Trying to create a facet instance by using studio in one of the nodes (3 nodes) I

[2016-10-31 10:41] lucafrosini opened #6862 "Unexpected Quorum issue with majority configuration"
## OrientDB Version, operating system, or hardware.
- v2.2.12

## Operating System
- [x ] Linux

## Expected behavior and actual behavior
I'm running in distributed mode e nodes. I use provisioning to (ansible) to update nodes.
After an upgrade to all nodes of an hook library and restard I started to experience the following exception.
**com.orientechnologies.orient.server.distributed.ODistributed

[2016-10-31 11:21] austx opened #6863 "OrientDB version not shown anywhere in Studio"
## OrientDB Version, operating system, or hardware.
- v2.0 SNAPSHOT[ ] - .18[ ] .17[ ] .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.1 SNAPSHOT[ ] - .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.2 SNAPSHOT[ 12] - .rc1[ ] .beta2[ ] .beta1[ ]

## Operating System
-

[2016-10-31 11:41] Raycoms opened #6864 "Get edges by multiple properties and class."
Retrieving the vertices of a specific class with specific properties works using g.getVertices("MyClass",new String[] {"key1","key2"}, new Object[] {"value1","value2"});

but for the edges there isn't a similar method.

[2016-10-31 11:50] robfrank commented on #5169
won't fix

[2016-10-31 11:50] #5169 closed

[2016-10-31 11:55] luigidellaquila commented on #6786
Hi @montekidlo

I just pushed a fix in 2.2.x branch. The fix will be released with 2.2.13

Thanks

Luigi

[2016-10-31 11:55] #6786 closed

[2016-10-31 12:09] tglman commented on #6859
hi @prakashpandey.

with the `graph.createKeyIndex` you are creating a index in the whole database, use instead:
[code]

hope this help

[2016-10-31 12:32] tglman commented on #6859
Hi @prakashpandey,

Yes anyway there is a discrepancy on the getVertices behaviour that should be fixed, thanks for reporting.

Bye

[2016-10-31 13:08] austx opened #6865 "Drop database with Lucene index complains"
## OrientDB Version, operating system, or hardware.
- v2.0 SNAPSHOT[ ] - .18[ ] .17[ ] .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.1 SNAPSHOT[ ] - .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.2 SNAPSHOT[12] - .rc1[ ] .beta2[ ] .beta1[ ]

## Operating System
- [

[2016-10-31 13:13] tglman commented on #6847
hi @rdelangh,

We are aware if this limits and we are working to solve them with streaming and similar solutions, some fixes landed already in the 2.2.x and major changes are occourring in develop, the 3.0 will be free of memory related issues.

As today the current solution are:
- design your query to select just the data that you need.
- in case of a query run by mistake disconnect the client th

[2016-10-31 13:21] maggiolo00 commented on #6863
@austx

you can find the ODB version in user menu when logged in a database.

There is a drop down menu (top-right corner) and then click about.

[2016-10-31 13:21] #6863 closed

[2016-10-31 13:34] tglman commented on #6843
hi @cmassi, @dashawn888

We don't officially support it because we are not doing any work to test and fix the problems on jdk9 for version < 3.0, if you have tested and have done fixes we are really happy to accept patch on it, that we don't do it deas not mean the community shouldn't.

So really looking for to review your patches and add some support on jdk9 ;)

Bye

[2016-10-31 14:33] robfrank commented on #5174
verified, LGTM

[2016-10-31 14:33] #5174 closed

[2016-10-31 14:34] robfrank commented on #5202
null by design.  won't fix

[2016-10-31 14:34] #5202 closed

[2016-10-31 14:43] maggiolo00 commented on #6865
@austx

Fixed it will be available in 2.2.13

Thanks

[2016-10-31 14:44] #6865 closed

[2016-10-31 14:44] #6862 closed

[2016-10-31 14:44] lvca commented on #6862
If you want an elastic configuration of servers, please set `distributed.autoRemoveOfflineServers=0` in all the servers. In this way when a server  is down, its name is removed from the configuration.

[2016-10-31 14:48] robfrank commented on #5168
unable to repodroduce

[2016-10-31 14:48] #5168 closed

[2016-10-31 14:50] robfrank commented on #5199
refers old spatial module, on 2.1. unable to reproduce

[2016-10-31 14:50] #5199 closed

[2016-10-31 14:51] robfrank commented on #5339
should be fixed, closing

[2016-10-31 14:51] #5339 closed

[2016-10-31 15:21] luigidellaquila commented on #6788
Hi @obi1kenobi

I have news for you: I just pushed some changes that fix the basic flow.
For the record, the right syntax is the first one you proposed:

[code]

Now this query executes correctly, but I'm still checking if there are some cases when the pattern conditions are evaluated in the wrong order, so I'm now closing this issue yet

Thanks

Luigi

[2016-10-31 15:51] robfrank commented on #5719
verified with tests. see coomits

[2016-10-31 15:51] #5719 closed

[2016-10-31 16:28] obi1kenobi commented on #6788
Just to make sure I didn't misunderstand, `$matched.xyz` now evaluates to `null` if no location marked `as: xyz` was visited?

Thanks!

[2016-10-31 16:38] lucafrosini commented on #6862
I'm going to fi it. Thank you very much.

[2016-10-31 18:23] #1677 closed

[2016-10-31 19:01] smallik commented on #6851
we do need to run it inside a transaction, otherwise the update could happen more than once depending on the threads executing.

[2016-10-31 19:48] tglman commented on #6849
hi,

I reproduced this and fixed it, closing.

bye

[2016-10-31 19:48] #6849 closed

[2016-10-31 21:39] cgreenberg opened #6866 "Can't enter complex sub-query during in(),out(),..."
## OrientDB Version, operating system, or hardware.
- v2.0 SNAPSHOT[ ] - .18[ ] .17[ ] .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.1 SNAPSHOT[ ] - .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[X] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.2 SNAPSHOT[ ] - .rc1[ ] .beta2[ ] .beta1[ ]

## Operating System
- [

[2016-11-01 07:12] laa opened #6867 "OSequence tests periodically fails on CI"
You may check results there for example http://helios.orientdb.com/view/_2.2.x/job/orientdb-2.2.x/348/

[2016-11-01 08:41] dominioon opened #6868 "Cannot download large CSV file via Studio in Chrome"
## OrientDB Version, operating system, or hardware.
-  [x] v2.2.11
-  [x] v2.2.12

## Operating System
- [X] Linux
- [X] Windows

## Expected behavior and actual behavior
Query result with any size can be downloaded in Chrome.

## Steps to reproduce the problem
Set Content type to CSV under Query configuration in Studio. Run a query returning couple of hundred thousand rows. When the query finishe

[2016-11-01 11:59] tglman commented on #6572
hi @Ivanov-Yuriy,

We did some small changes in the recent hotfix to check if there is data associated to the class when is set abstract, so now will fail only if there is data, so create + alter will work.

Can you please double check in your case ?

Bye

[2016-11-01 13:03] dominioon commented on #6817
Im also waiting for a fix of this bug. Created an example app to reproduce the issue. Deploy the attached application to a two-node environment, change the NODE_1 and NODE_2 placeholders in hazelcast.xml file accordingly, and start the app simultaneously in both nodes. When the initialization is done, restart any (or both) nodes. The restarted node should re-insert some records, but will print `Lo

[2016-11-01 17:25] zerovian opened #6869 "request update to concurrentlinkedhashmap 1.4.2"
## OrientDB Version, operating system, or hardware.
- v2.0 SNAPSHOT[ ] - .18[ ] .17[ ] .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.1 SNAPSHOT[ ] - .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.2 SNAPSHOT[12] - .rc1[ ] .beta2[ ] .beta1[ ]

## Operating System
- [

[2016-11-01 21:06] vlasni opened #6870 "com.orientechnologies.orient.core.exception.OClusterPositionMapException: Error during creation of mapping between logical adn physical record position"
## OrientDB Version, operating system, or hardware.
- v2.2.12

## Operating System
- Linux

## The Problem
The following partial log entries had started to show and I'm not sure what could be the cause for it.
The change implemented just before this issues started to show was to introduce Trove libraries in our app, but I don't see how that could be related as we are not persisting Trove collectio

[2016-11-02 08:26] luigidellaquila commented on #6788
Yes, exactly

Thanks

Luigi

[2016-11-02 08:29] luigidellaquila commented on #6866
Hi @cgreenberg

Your query is checking the condition on the `vertex`.
Are you trying to evaluate a condition on the `edge`?
In this case, you have to use `outE()[condition].inV()`, eg. this will return my best friend:

[code]

I hope it helps

Thanks

Luigi

[2016-11-02 09:33] smolinari commented on #6788
@obi1kenobi - did you miss my question? :smile:

Scott

[2016-11-02 09:41] schernolyas opened #6871 "ODocument.toMap() not copy all fields"
## OrientDB Version, operating system, or hardware.
- v2.0 SNAPSHOT[ ] - .18[ ] .17[ ] .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.1 SNAPSHOT[ ] - .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.2 SNAPSHOT[ ] - .rc1[ ] .beta2[ ] .beta1[ ]12

## Operating System
-

[2016-11-02 10:44] austx opened #6872 "ETL giving up after one error"
## OrientDB Version, operating system, or hardware.
- v2.0 SNAPSHOT[ ] - .18[ ] .17[ ] .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.1 SNAPSHOT[ ] - .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.2 SNAPSHOT[ 12] - .rc1[ ] .beta2[ ] .beta1[ ]

## Operating System
-

[2016-11-02 11:05] lucafrosini commented on #6849
Thank you.

[2016-11-02 11:25] tanhv90 commented on #6826
Hello @luigidellaquila,

How about the current status of this issue?

Thanks,
Tan

[2016-11-02 12:24] mxns commented on #6779
Resolved in 2.2.12, nice job @lvca!

[2016-11-02 12:24] #6779 closed

[2016-11-02 12:59] rdelangh commented on #6666
@lvca
hi Luca, any news about this issue, please ?
Do you have the necessary information from my logs to investigate this problem?
Could the failure to synchronise to a 2nd node be related to the size of my classes/database ?

thx for your help!

[2016-11-02 13:01] rdelangh commented on #6762
@maggiolo00
Any update on this issue please ?
I run version 2.2.13-20161027.133116-9 now, but still get the messages in the logs.

[2016-11-02 13:02] rdelangh commented on #6795
@luigidellaquila
hi Luigi, any update on this, please ?

[2016-11-02 13:11] rdelangh commented on #6832
@lvca
hi Luca, any update on this issue please ?
Currently running version 2.2.13-20161027.133116-9

[2016-11-02 13:16] maggiolo00 commented on #6762
@rdelangh

can you post the messages in the logs with this version?

[2016-11-02 13:18] maggiolo00 commented on #6762
@rdelangh

i've pushed a fix on 28th of October, so i guess my fix is not in your snapshot version.

Can you try with the last snapshot here ?

https://oss.sonatype.org/content/repositories/snapshots/com/orientechnologies/orientdb-community/2.2.13-SNAPSHOT/

[2016-11-02 13:31] rdelangh commented on #6762
@maggiolo00
ok, installing that version, will be running in a few minutes; will post you if there is any changed behaviour regarding the Lucene index files.

[2016-11-02 13:35] vlasni commented on #6870
Is there any workaround to this issue? I am stuck with this and DB is not responding.

Thanks

[2016-11-02 13:37] lucafrosini commented on #6666
I'm experiencing the same issue _OCachePointer.finalize: readers != 0 [OCachePointer]_ on some node randomly after a stop and a restart

2016-11-02 13:16:59:120 INFO  [node1478089006265] Saving distributed configuration file for database 'test' to: /home/orientdb/databases/test/distributed-config.json [OHazelcastPlugin]
2016-11-02 13:16:59:158 WARNI [node1478089006265] Updated node status to 'ONLI

[2016-11-02 13:40] obi1kenobi commented on #6788
@luigidellaquila looking forward to it!

@smolinari sorry, I didn't see your edit. It's not public yet, I'm working with my company to get it open-sourced at the moment.

[2016-11-02 13:44] laa commented on #6870
@vlasni do you work on server edition, or that is embedded database ? In which sense DB is not responding is it stuck ? What is DB size ?

[2016-11-02 13:44] maggiolo00 commented on #6762
@rdelangh
thanks

[2016-11-02 13:46] rdelangh commented on #6762
@maggiolo00 , @lvca

Problem with latest 2.2.13 snapshot release :
0) stopped previous version with the command
[code]
1) Just started version 2.2.13-20161101.003253-11
2) started console.sh and tried to connect to our dbase "cdrarch":
[code]
nothing appears in the logs of the server
3) connecting to another dbase works fine:
[code]
4) trying again to dbase "cdrarch" fails the same way:
[code]
Now

[2016-11-02 13:50] rdelangh commented on #6762
If I stop version 2.2.13-20161101.003253-11 again, and startup the previously happily running version 2.2.13-20161027.133116-9, then it gives the same error during attempt to connect to our dbase "cdrarch" from a console session:
[code]

--> ??

[2016-11-02 13:52] vlasni commented on #6870
@laa this is server edition, not embedded.
By not responding I mean:
- It cannot be shutdown with `stop`, the only way is killing the process.
- Either from Studio or from applications -after a restart- it responds to a few queries, then it seems to be frozen, no errors logged, no CPU usage, but it won't respond to anything. At this moment I chose to wait for it to shutdown softly, but it's been a

[2016-11-02 14:05] taburet commented on #6666
Hi @lucafrosini, could you please enable the leak detector as described here http://orientdb.com/docs/2.2.x/Leak-Detector.html ?

[2016-11-02 14:06] vlasni commented on #6870
I have taken a thread dump in case it is useful: https://drive.google.com/file/d/0B1qygo8te6Medy1OckxXM1B2OTg/view?usp=sharing

[2016-11-02 14:24] maggiolo00 commented on #6762
@rdelangh

check if you have multiple OrientDB running.

[2016-11-02 14:25] rdelangh commented on #6762
@maggiolo00
duh ;-) Of course I checked this out already. Only a single one running at any time.

[2016-11-02 14:27] maggiolo00 commented on #6762
@laa

do you have any idea about this last exception?

[2016-11-02 14:31] laa commented on #6870
@vlasni I want to understand more details.

1. You start the server.
2. Issue several queries.
3. The system is stacked.
4. You try to shutdown the server, but nothing happens.

Is it correct ?
Did you see any exceptions when you issue those queries ?

[2016-11-02 14:34] vlasni commented on #6870
@laa  your description is correct.
The exceptions I saw were those I reported in this ticket.
Just to be more accurate, I will kill the process, start server, and log everything and come back to you in a couple of minutes.

[2016-11-02 14:49] vlasni commented on #6870
After restarting server and starting application, the log entries are below:

- orientdb.err
[code]
- application log:
[code]
On the other hand, when trying to access Studio right after the logging above, Studio stays there after login, but doesn't succeed. No errors are displayed, it just keeps waiting for a request to complete.
The request is:  http://api.vlasni.com:2480/database/vlasni4

In ori

[2016-11-02 15:02] vlasni commented on #6870
Just as a comment, the exact same code base is working without issues on another (Development) environment, using the same ODB distribution and version.

[2016-11-02 15:18] Ivanov-Yuriy commented on #6572
hi @tglman
Thank you, so I wait next hotfix.
By the way when is it released?

[2016-11-02 15:58] robfrank commented on #6872
Can you provide me the configuration and sample data?

[2016-11-02 16:02] rdelangh commented on #6762
@maggiolo00 , @laa
Using "lsof $filename", I checked if any file in my database directory would still be open by some process after the OrientDB server process is stopped. None of the files is.

[2016-11-02 16:54] cgreenberg commented on #6866
Hi, yes, you're right, the condition should be on `outE` not `out`. But I'm still having the same problem that I can only write `type="best"` and I can't write `type in ["best","worst"]`

[2016-11-02 17:06] luigidellaquila commented on #6866
Hi @cgreenberg

Ok, got it, probably it's a parsing problem. I'll check it asap

Thanks

Luigi

[2016-11-02 17:08] LorenaSuarez commented on #3159
Please I have a problem with OrientDB and Java I have a program with this query to calculate the shortest path to 300000 but the program is very slow someone can help me how I do the memory configuration I read this post but I don't understand how I do this changes @laa and @maiklos please help me

[2016-11-02 17:33] austx commented on #6872
robfrank,

Linking items from the same class.

You need to edit filename in json and make your own for the inital data to be linked.
The linking will fail once it hits a col2-item that does not exist in the initially loaded data.
You need to edit/create your own json to load the classfile.

[etlsamples.tar.gz](https://github.com/orientechnologies/orientdb/files/567273/etlsamples.tar.gz)

[2016-11-02 17:59] tglman commented on #6871
hi @schernolyas,

This is on purpose, the toMap just extract the values of the document, to get the other information you need to use the ODocument api, `doc.getVersion()` ,`doc.getIdentity()` and `doc.getSchemaClass() | doc.getClassName()`, hope this help

Bye

[2016-11-02 18:02] tglman commented on #6572
Hi @Ivanov-Yuriy,

Acually the fix is not yet released, will be released in 2.2.13 next week.

Bye

[2016-11-03 06:10] gongdo opened #6873 "Poor performance on indexed field and strange behavior"
## OrientDB Version, operating system, or hardware.
- v2.1.25
- v2.2.12

## Operating System
- Linux

## Expected behavior and actual behavior
Performance of simple query like `SELECT FROM Chat ORDER BY createdTime DESC LIMIT 10` with index on createdTime field, is expected as 'fast'. But the response time is quite slow and different whether it has edges, or which type the field is.

## Steps to r

[2016-11-03 08:05] laa commented on #6870
@vlasni I think the best option for you to export import data from to JSON. Is it possible ?

[2016-11-03 08:06] dominioon opened #6874 "Records inserted multiple times under heavy load and IO errors."
## OrientDB Version, operating system, or hardware.
-  [x] v2.2.11
-  [x] v2.2.12

## Operating System
- [X] Linux

## Expected behavior
There are exactly 2 million records in the db and the following query will not return any records: `select * from (select name, count(name) as c from LiveTable group by name) where c != 2`. Also Inmemory records count is 2M.
## Actual behavior
Live updaters soon

[2016-11-03 09:08] robfrank commented on #6872
Sorry, but I don't understand how to use your samples. The config json seems truncated.
Could you please write down the entire procedure and provide a working configuration?

[2016-11-03 09:49] austx commented on #6872
The json is deliberately truncated. I expect you to fill in the remaining stuff yourself, but here it is, passwords removed.

1. run ETL to load the classfile - master data if you like.
{
  "config": {
    "parallel": false,
    "log": "INFO"
  },
  "source": { "file": { "path": "/path-to-/<classfile>" } },
  "extractor": { "csv": {"separator": ","} },
  "transformers": [
    { "vertex": { "class"

[2016-11-03 10:44] zella opened #6875 "Performance degradation on quering by composite index with not unique index from linked record"
## OrientDB Version, operating system, or hardware.

- v2.2.12

## Operating System
- [ x] MacOSX

## Expected behavior and actual behavior
I have follow database structure:
[code]

And indexes:
[code]

I expect, that queries:
[code]
should have ~same performance.
In case when `Social.type`  has no or minimal repeated values it's true. but when values often repeats, performance of 1 query degraded

[2016-11-03 10:48] taburet commented on #6805
Closing because of no reply.

[2016-11-03 10:48] #6805 closed

[2016-11-03 10:55] stas0 opened #6876 "Can' delete record by JavaScript function"
## OrientDB Version, operating system, or hardware.
- 2..1[ ] .0[ ]

## Operating System
- [ 8.1] Windows

Hi.

I test my function where I create fake function and then delete it.
[code]

This function throw error
`Internal server error:
java.lang.IllegalArgumentException: Script pool for database 'myDataBase' is not configured`

It is happend when I create/delete any record

[2016-11-03 11:02] laa commented on #6762
Hi, about last one. We reproduced that issue on develop branch , we will work on that soon.

[2016-11-03 11:16] cmassi commented on #3159
Hi Lorena, <br> check http://orientdb.com/docs/last/Performance-Tuning.html for sample jvm options, and http://orientdb.com/docs/last/Configuration.html for xml properties too. <br> For an appropriate Xmx value, you could monitor gc activity with additional options in your server.sh and java client (e.g for server: -XX:+PrintGCDetails -XX:+PrintGCTimeStamps -XX:+PrintGCDateStamps -XX:+PrintTenurin

[2016-11-03 11:17] taburet commented on #6851
Hi @smallik, sorry for the delay, caught a terrible cold last weekend, working on the issue now.

[2016-11-03 11:32] taburet commented on #6851
Just to clarify the situation, how you noticed that the rows was updated by the thread calling the provided code? Maybe it was updated by the other thread? What kind of a database access you use, embedded/server/distributed server?

[2016-11-03 11:46] zella commented on #6875
Note, that if I add some statement to beginning:
`select from User where gold = 9999 and social.type = '123' LIMIT 1 ` it's ok.
And change order:
 `select from User where social.type = '123' and gold = 9999 LIMIT 1 `  - not ok. So it's a bug of course.

[2016-11-03 11:49] smallik commented on #6851
We are currently using just one thread to check for new rows on this table. It is throwing OCuncurrentModificationException every time but the commit happens. I try to call commit 10 times for retry and it throws exception each time.

we are running in embedded mode with single tomcat server on a windows 10 laptop.

[2016-11-03 13:33] robfrank commented on #6872
just to be sure and don't waste my time:
- first run using classfile.txt as input
- second run using  linkfile.txt ad input BUT I need to modify the file

[2016-11-03 14:13] austx commented on #6872
That's correct. The idea is to make sure the linking fails. Do you
understand the ETL concept?

3. nov. 2016 14.34 skrev "Roberto Franchini" <notifications@github.com>:

[2016-11-03 16:18] vlasni commented on #6870
I can try tomorrow as I am in a trip today.
Just to make sure I understand what you suggest:
# export db to JSON
# create new db
# import JSON into new db

Is that correct?
Thanks

El nov. 3, 2016 5:05 AM, "Andrey Lomakin" <notifications@github.com>
escribió:

[2016-11-03 18:04] obi1kenobi commented on #6668
With 2.2.12, this bug (or maybe a related one) is surfacing as pyorient errors like this one: `PyOrientConnectionException('Server seems to have went down',)` raised from here:
https://github.com/mogui/pyorient/blob/b67bf94636590bdd23fc7e67fdaeb2e155db7e36/pyorient/orient.py#L147

[2016-11-03 20:28] borov333 opened #6877 "Can't rename a property with a period"
## OrientDB Version, operating system, or hardware.
- v2.2.12

## Operating System
- [x] Linux
- [x] MacOSX

## Expected behavior and actual behavior
I'm trying to rename an existing class property, but it fails. See the terminal commands below:
[code]

It complaints that the property does not exist, but it does. The property is the embedded link to another class, but should it be a problem?

[2016-11-03 21:32] borov333 commented on #6877
I just realized what the actual issue is. Please disregard my first statement on failing to rename a property. The issue exist, but it is for a different reason. During the renaming of the "leadCategory" property I accidentally renamed it to "SellCampaign.category". Yes, the full name with a period in the property name. So, even though the terminal was showing the property as existing it was only

[2016-11-03 22:47] austx opened #6878 "astar function"
## OrientDB Version, operating system, or hardware.
- v2.0 SNAPSHOT[ ] - .18[ ] .17[ ] .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.1 SNAPSHOT[ ] - .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.2 SNAPSHOT[ 12] - .rc1[ ] .beta2[ ] .beta1[ ]

## Operating System
-

[2016-11-03 23:36] obi1kenobi commented on #6788
@luigidellaquila thank you so much for prioritizing this -- I really appreciate it! I am currently testing with the 2.2.x branch so we can uncover any problems before 2.2.13 is released, and shorten the development cycle of this feature.

Here are a couple of issues that you may want to look into.

I am not going to use the same schema as above because it isn't suitable to express these edge cases

[2016-11-04 07:10] everycs opened #6879 "traverse in a graph with a restricted cluser throws a security exception rendering traverse unusable"
## OrientDB Version, operating system, or hardware.
- v2.1 SNAPSHOT[ ] - .9[X]
- v2.2 SNAPSHOT[ ] - .12[X]

## Operating System
- [X] Linux
- [ ] MacOSX
- [ ] Windows
- [ ] Other Unix
- [ ] Other, name?

## Expected behavior and actual behavior
i have a vertex class called "product" - read to everyone
product has a derrived class "product_secret" - read to only administrators

and there is another

[2016-11-04 08:25] laa commented on #6870
@vlasni yes, all is correct. I think your problem is related to OOM which you experienced. We already discussed how we may avoid this problem once and forever. We will prioritize our development schedule and provide fix for OOM problem

[2016-11-04 08:37] austx commented on #6872
The ETL processes fails the same way, even with other transformers. I believe ODB should consider
changing ETL to include a "dryrun".
'**Dryrun**' should just do basic checking while logging bad data-rows with line numbers.
Facing a situation with jobs loading numerous CSV files, receiving data glitches is inevitable. Cleaning up after a failed ETL is not an easy task.

{
  "config": {
    "log":

[2016-11-04 08:44] luigidellaquila commented on #6877
Hi @borov333

I was able to reproduce the problem, I'll work on it asap

Thanks

Luigi

[2016-11-04 08:48] luigidellaquila commented on #6878
Mmm... it's quite strange, I think `astar` function is not properly configured in the function factory.
It should be an easy fix, I'll keep you posted

Thanks

Luigi

[2016-11-04 09:13] austx commented on #6839
Sorry for my late response, but I beg to differ. The suggestion is not dangerous. We talk about column by column data. If someone mixes integers, strings and floats in the _very same column_, i.e. **property**, he or she got a problem. That is not what I am talking about. Well, yes ETL is dirty, by working with instruments(Mass Cytometry) in cancer research, which produces millions of data points,

[2016-11-04 09:58] rdelangh commented on #6762
@laa, @maggiolo00
hi gentlemen, is there any update on this issue ? We can not start our database engine anymore, it is still down... :-(

[2016-11-04 10:33] laa commented on #6762
@rdelangh there are several problems described in one issue, what is  your current problem ? You can not open the database, do not you ?

[2016-11-04 10:47] lucafrosini commented on #6666
@taburet sorry for late answer. Sure, I'm going to do it.

[2016-11-04 10:53] taburet commented on #6851
As I understand, there are many inserting threads and a single "processor" thread which updates the record status once it's processed. Are there other threads that may mutate the record after it was inserted?

[2016-11-04 11:11] suyogdilipkale commented on #3185
If I delete vertex, does it take care of deleting all in/out edges? If not then what else is recommend approach?
delete edge from #vertex, delete edge to #vertex , delete vertex #vertex

[2016-11-04 11:13] taburet commented on #6851
Tried various combinations of writing/reading threads, still unable to reproduce. If it possible, could you please provide a stripped down version of your code which reproduces the issue.

[2016-11-04 11:13] taburet commented on #6851
Tried various combinations of writing/reading threads, still unable to reproduce. If it possible, could you please provide a stripped down version of your code which reproduces the issue.

[2016-11-04 11:13] taburet commented on #6851
Tried various combinations of writing/reading threads, still unable to reproduce. If it possible, could you please provide a stripped down version of your code which reproduces the issue.

[2016-11-04 12:48] luigidellaquila commented on #3185
Hi @suyogdilipkale

Yes, if you delete a vertex, OrientDB will also remove all the connected edges

Thanks

Luigi

[2016-11-04 13:10] rdelangh commented on #6762
@laa yes indeed, the database can not be opened anymore.

[2016-11-04 13:40] laa commented on #6762
@rdelangh what exception do you have or may be database is frozen in the middle of open ?

[2016-11-04 14:06] lucafrosini commented on #6666
I have 3 nodes. After some attempt of start and stop on different nodes when I stopped node with IP  146.48.122.23 I got on node with IP 146.48.122.14 the following warning.

`2016-11-04 14:57:23:168 WARNI [146.48.122.14]:2434 [d4science_dev] [3.6.5] Removing connection to endpoint Address[146.48.122.23]:2434 Cause => java.net.SocketException {Connection refused to address /146.48.122.23:2434}, Er

[2016-11-04 14:26] schernolyas commented on #6871
Hi @tglman !

I think that it is not logical .... But if it is feature ...

[2016-11-04 14:26] #6871 closed

[2016-11-04 14:27] schernolyas commented on #5691
migrated to native API

[2016-11-04 14:27] #5691 closed

[2016-11-04 14:51] smallik commented on #6851
I will try to isolate the problem and recreate in locally what I can pass on to you. butt its going to be a while.

Once the record is set to processes then no one will try to update it.

[2016-11-04 15:01] vlasni commented on #6870
ok, working on the import right now. Will keep you updated

[2016-11-04 15:17] suyogdilipkale commented on #3185
OK thank you.

I have one more query, how we can write upsert query for edge that if it
not exist then insert or else just update. Please provide me sample example.
On Nov 4, 2016 6:19 PM, "luigidellaquila" <notifications@github.com> wrote:

[2016-11-04 15:57] dashawn888 opened #6880 "Stacktrace when trying to run a distributed database with SSL"
## OrientDB Version, operating system, or hardware.
- v2.2.12

## Operating System
- Linux
uname -a
Linux ubuntu 4.4.0-42-generic #62-Ubuntu SMP Fri Oct 7 23:11:45 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

## Java
 java -version
java version "1.8.0_111"
Java(TM) SE Runtime Environment (build 1.8.0_111-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.111-b14, mixed mode)

## Expected behavior and ac

[2016-11-04 16:12] robfrank commented on #6872
Hi, I'll take care of this issues next week. Stay tuned

[2016-11-04 16:14] rdelangh commented on #6762
@laa the messages from client ("console.sh") and from server are in the previous comments above

[2016-11-04 16:15] rdelangh commented on #6666
@lvca
hi Luca, any update, please ?

[2016-11-04 18:03] smallik commented on #6851
I created a doc that details the steps to recreate the issue with some code. Let me know if you have questions.

[recreate bug.pdf](https://github.com/orientechnologies/orientdb/files/572303/recreate.bug.pdf)

[2016-11-05 00:53] vlasni commented on #6870
Import did work.
I have seen a couple of exceptions I am investigating, and will come back
to you with my findings -if any-.

Thank you very much.

El nov. 4, 2016 5:25, "Andrey Lomakin" <notifications@github.com> escribió:

@vlasni <https://github.com/vlasni> yes, all is correct. I think your
problem is related to OOM which you experienced. We already discussed how
we may avoid this problem once

[2016-11-05 13:41] smallik commented on #6851
The issue was on my end. the database reference was getting set to null by an underlying code and hence the rollback was not happening. this is not an bug, I am closing it. sorry about the false report.

[2016-11-05 13:41] #6851 closed

[2016-11-05 16:38] lvca commented on #6874
Hi @dominioon, could you please try with the version in 2.2.x branch?

[2016-11-05 16:39] lvca commented on #6817
Hi @dominioon this issue was similar to another one just resolved. Could you please try with last release in 2.2.x branch?

[2016-11-06 03:49] mecp commented on #4978
So what's the status, is anyone working on it?

[2016-11-06 06:21] smolinari commented on #4978
This won't be integrated as of today. The APIs available now are the only ones that will be available in 3.0, just improved. So, nothing new.

Scott

[2016-11-06 07:43] taburet commented on #6851
@smallik great you found it :)

[2016-11-06 09:58] maggiolo00 commented on #4978
Hi guys just to understand, how do you suggest the should be done?

[2016-11-06 10:30] smolinari commented on #4978
ODB would need to develop a standard querying language over/ with GraphQL and it could be offered beside the REST API. That was my thinking, when I made this issue.

GraphQL solves a number of problems REST APIs have. However, as I have learned, GraphQL is meant to be more an API layer between application servers and clients and not really between clients and database servers.

Unless ODB intends

[2016-11-06 11:57] smolinari commented on #4978
This might be of interest and kind of what I would have been looking for from ODB.

https://www.youtube.com/watch?v=b3pwlCDy6vY

Scott

[2016-11-06 13:02] kurtmaile commented on #4978
I think particularily in microservices environments, it would be a great feature.  At the moment this marshelling needs to be done in the MS layer (I am doing this using AWS Lambda and Graphene), invoking on or more backend calls (on orientDB) for what could be done in a single graphQL call - it introduces latency and compelxity in this layer.

Orients APIs are powerful we know this and love this

[2016-11-06 18:29] nayansri opened #6881 "How to reset root password"
## OrientDB Version, operating system, or hardware.
- v2.0 SNAPSHOT[ ] - .18[ ] .17[ ] .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.1 SNAPSHOT[ ] - .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.2 SNAPSHOT[ ] - .rc1[ ] .beta2[ ] .beta1[ ]

## Operating System
- [X

[2016-11-06 18:39] santo-it commented on #6881
Hi,

Please could you check if this helps you:
http://orientdb.com/docs/last/Server-Security.html#restoring-the-servers-user-root

Thanks,

[2016-11-06 20:01] kwoxer commented on #6664
Well this is all what I can read from the log:

[code]

[2016-11-06 20:05] kwoxer commented on #6664
This is really bad. It's hard to test at already lower values.

So lowering all is making it better, we can say!

Now I try to lower specific values, to test which have a real influence on the server runtime.

So instead of:
[code]

I now take:
[code]

So I just changed this line
`ORIENTDB_SETTINGS="-Dstorage.diskCache.bufferSize=12 -Dmemory.chunk.size=335544"`

Let's see how long it works.

[2016-11-07 05:38] nuixkeith opened #6882 "Multiple open graph DBs cause conflicts"
## OrientDB Version, operating system, or hardware.
2.2.8 & v2.2.12
## Operating System
- [ x] Windows

## Expected behavior and actual behavior
When opening up two graph databases at the same time I was expecting the state of vertices/edges to remain separate.  I first noticed a problem when trying to migrate a subset of data from one graph DB to another.

## Steps to reproduce the problem

Open

[2016-11-07 06:23] p-sagar opened #6883 "Batch query with return statement does not work with select"
## OrientDB Version, operating system, or hardware.
- v2.2.3,  Orientjs node.js driver (v2.2.2)

## Operating System
- [] Windows

## Expected behavior and actual behavior
While trying to execute batch query with select statement embedded in return statement, exception "Cannot find a command executor"  get thrown.
Expected result should be expanded records in result

## Steps to reproduce the prob

[2016-11-07 08:50] rdelangh commented on #6762
@laa, @maggiolo00 , @lvca
Gentlemen, can someone please urgently investigate the reasons why the database cannot be opened anymore because it thinks there is still something 'open' ?
[code]

[2016-11-07 08:59] rdelangh opened #6884 "cannot open database anymore after 2.2.13 snapshots"
## OrientDB Version, operating system, or hardware.
- v2.2.13-20161101.003253-11

## Operating System
- [x] Linux

## Expected behavior and actual behavior
After running with 2.2.13, shutting the database server left it in a 'un-openable' state :

launching the server again (any snapshot version 2.2.13-*) and trying to open the dbase from console session, fails with
[code]

Have rebooted the opera

[2016-11-07 09:00] rdelangh commented on #6666
meanwhile, database cannot be opened anymore after running with 2.2.13* snapshots, see #6884

Waiting for that issue to be resolved first ...

[2016-11-07 09:01] rdelangh commented on #6808
meanwhile, database cannot be opened anymore after running with 2.2.13* snapshots, see #6884

Waiting for that issue to be resolved first ...

[2016-11-07 09:01] rdelangh commented on #6832
meanwhile, database cannot be opened anymore after running with 2.2.13* snapshots, see #6884

Waiting for that issue to be resolved first ...

[2016-11-07 09:02] rdelangh commented on #6854
meanwhile, database cannot be opened anymore after running with 2.2.13* snapshots, see #6884

Waiting for that issue to be resolved first ...

[2016-11-07 09:02] laa commented on #6762
@rdelangh it is not clear for me. You open database and it can not be opened because on open you see message "Can not close file with id 0 because it is still in use     DB name="cdrarch"" Is it  correct ?

[2016-11-07 09:02] rdelangh commented on #6855
meanwhile, database cannot be opened anymore after running with 2.2.13* snapshots, see #6884

Waiting for that issue to be resolved first ...

[2016-11-07 09:04] laa commented on #6884
@rdelangh could you provide full log which you see during database open ?

[2016-11-07 09:25] rdelangh commented on #6884
@laa
This issue is very much similar to what's described in #6426 ...

Full server logs do not provide any information :
[code]

These are only the initial startup messages; when I then try to open the database from a "console.sh" session (see above, OP) then no more server messages are logged.

[2016-11-07 09:27] laa commented on #6664
@maggiolo00 could you look output ?

[2016-11-07 09:27] rdelangh commented on #6884
That other issue #6426 discusses in much extent the server parameter settings because there the OP could not startup the server process.
I stress that I do not have any problem starting up the server process : my server parameters are proven ok, the server has been running for several months on previous OrientDB versions .

[2016-11-07 09:28] rdelangh commented on #6884
@laa
server params:
[code]

[2016-11-07 09:31] rdelangh commented on #6884
@laa
Another of my databases ("navi", 32GB size) can be opened without problems, so this smells like a bad status flag or so in our 'big' database "cdrarch" (700GB size) :
[code]

[2016-11-07 09:34] rdelangh commented on #6762
@laa opened new issue #6884 for this specific failure to open the dbase

[2016-11-07 09:38] laa commented on #6884
@rdelangh is it possible for you to debug server and set a breakpoint in OStorageException and then send me full stack trace of exception and may be some parameters which I will ask for you? Also is it possible to send this database to me, so I will try to open it and reproduce the issue ? Is it possible to reproduce this issue on several environments or only on your server?

[2016-11-07 09:54] dominioon commented on #6874
Hi @lvca,
tried, but unfortunately the problem still extist: 2,000,002 records added and both live updaters died, one of them usually having a bit longer stacktrace:
[code]
Another error message seen: `Caught Network I/O errors on 127.0.0.1:2424/testDb, trying an automatic reconnection... (error: Timeout on reading response) [OStorageRemote]`

PS, the machines may have a bit different performance.

[2016-11-07 10:02] rdelangh commented on #6884
@laa

- "is it possible for you to debug server and set a breakpoint in OStorageException and then send me full stack trace of exception and may be some parameters which I will ask for you?"
-> how to debug such a server ? I am not a Java developer, don't have any Java development/debug tools
- "Also is it possible to send this database to me, so I will try to open it and reproduce the issue ?"
->

[2016-11-07 10:14] laa commented on #6884
@rdelangh Well that is not good. Then we need to change the code and log all information which I need. By "several envinronments" I mean whether the same problem happens on server and your PC for example.

[2016-11-07 10:28] rdelangh commented on #6884
@laa I can install some Java programs on my server, but you will have to tell me which ones are needed to do this debugging.
Eg I have "visualvm", but I don't see any way in this utility to set breakpoints in a running Java program.

Environments: no place on my PC to get this 700GB dbase copied...

[2016-11-07 10:34] mmarseille opened #6885 "Incomplete saving of an edge with a remote connection"
General instruction for reproducing the problem (with OrientDb 2.2.12 version):
1) unzip ORIENTDB-SUPPORT-2016-11-02.zip
2) cd ORIENTDB-SUPPORT-2016-11-02
3) start buildAndTest-StorageManager.bash
In this initial configuration, OrientDb is accessed “in memory” mode. The engine is the non-transactional engine.
The project compiles and the OrientStorageManagerTest test runs without any error
4) Edit

[2016-11-07 10:44] rdelangh commented on #6884
similar, hence related issue(s):   #6426 , #6853

[2016-11-07 11:02] #6885 closed

[2016-11-07 11:33] dominioon commented on #6817
Hi @lvca,
yes, this bug seems to be fixed, now the log entry says:
[code]
But the log entry itself is weird, saying that the local node is **not** the owner, but referring the very same node within parenthesis, where the actual owner should be written.

[2016-11-07 11:44] suyogdilipkale commented on #4436
I am able to upsert for edge class with following syntax:

UPDATE LikeComment SET out = #21:21, in = #20:20 UPSERT WHERE out = #21:21 and in = #20:20

But When I select source vertex like SELECT FROM #21:21 it does not show me that out edge in result.

[2016-11-07 11:45] laa commented on #6884
@rdelangh could you open database using distribution https://drive.google.com/file/d/0B2oZq2xVp841UFU5OUtKOUh4bFU/view?usp=sharing and send me content of the server log and server console

[2016-11-07 12:00] lvca opened #6886 "HA: avoid removing servers dynamically when they are registered"
If a server is registered under `servers` tag or `data-centers`, it shouldn't be removed automatically in case it's unreachable.

Then we'd need a new setting to declare the strategy to manage a new node that is joining. It could be a new value `newNodeStrategy` with the following values:
- `static`, the default, it should register the new node under the `servers` tag, so it will be not removed wh

[2016-11-07 12:26] rdelangh commented on #6884
@laa
Did so, but nothing extra appeared in its server logs which was not yet in the server logs of the version I used before (see below).
Also, please be carefull when the platform on which you build this distribution: your text files (such as "bin/server.sh" and "bin/console.sh", and all others) are clearly built on a Windows platform, because their lines end on CRLF instead of (UNIX convention)

[2016-11-07 12:55] tglman commented on #6880
hi @dashawn888,

Just to double check, in case of distributed each node behave as server and client, so you need to configure in the `<properties>` of the orientdb-server-config.xml all the client configurations : http://orientdb.com/docs/2.0/orientdb.wiki/Using-SSL-with-OrientDB.html#configuring-client have you done this step?

Bye

[2016-11-07 13:01] tglman commented on #6401
hi @fixundfertig123,

Glad that you figure out, not sure about the viewing issue, anyway can we close this ?

Bye

[2016-11-07 14:17] lvca commented on #6817
@dominioon thanks for reporting it, it was an error with the message. Just fixed. Closing it.

[2016-11-07 14:19] rdelangh commented on #6884
@laa , @lvca
hi Andrey, any suggestion what can be next to identify the reason of this exception? Is there anything I can do at my end to provide you with more info ?

[2016-11-07 15:26] rdelangh commented on #6884
@laa

when I tried the first time to open this "cdrarch" database, we got no additional server log messages.

When I tried a second time again to open this same database, we got these server log messages:
[code]

[2016-11-07 16:21] obi1kenobi commented on #6788
Regarding the second part of my last post:
[code]

I'm also perfectly happy to accept a solution that only triggers this behavior when a special keyword is applied to the root of the traversal starting at the optional node. For example, something like this:
[code]

@luigidellaquila please let me know what you think!

[2016-11-07 16:36] lvca opened #6887 "Auto-Increment field"
It would be nice supporting the sequence transparently by defining a property as AUTOINCREMENT, like with RDBMS.

Example:

[code]

In this case a new sequence `User.id` is created. Every time a new document/vertex/edge is created, the value of `id` will be `sequence.next()`.

[2016-11-07 16:47] voondo commented on #6825
@tglman Ok I see, thanks. It would be great if the error message could be more informative in this situation.

[2016-11-07 16:49] maggiolo00 commented on #6882
@nuixkeith

The implementation of OrientGraph make use of ThreadLocal. That is why instances are "confused"
If you want to use multiple graph instances in one thread you should activate them when needed by using
the API OrientBaseGraph#makeActive

[2016-11-07 16:53] voondo commented on #6810
I had a db user named "guest" so I think it conflicted with the default system user "guest" (which seems special).

As I'm not sure and because it doesn't happen anymore, I'm closing it.

[2016-11-07 16:53] #6810 closed

[2016-11-07 16:59] vlasni commented on #6870
@laa After import db works ok, but I have just realized it has not kept the rids from original DB. This is an issue for us since we have other parties accessing our service which are identified by rid.

[2016-11-07 18:19] lvca commented on #6882
In v3.0 (still pre-alpha) we already get rid of Thread Local, so everything is easier.

[2016-11-07 18:42] tglman commented on #6541
hi @pmeisen,

We could reproduce this problem with another user that provided the test case, we fixed it and will be released in 2.2.13.

Bye

[2016-11-07 19:13] dashawn888 commented on #6880
Ok. It looks like when I ran this on both services it worked.

Thanks for the help.

./bin/dserver.sh -Dclient.ssl.enabled=true
-Djavax.net.ssl.keyStore=/opt/orientdb-community-2.2.12/config/cert/orientdb.ks
-Djavax.net.ssl.keyStorePassword=changeme
-Djavax.net.ssl.trustStore=/opt/orientdb-community-2.2.12/config/cert/orientdb-console.ts
-Djavax.net.ssl.trustStorePassword=changeme

- Shawn

On Mon

[2016-11-07 20:45] laa commented on #6884
@rdelangh that was my fault. Could you replace distribution by this one https://drive.google.com/file/d/0B2oZq2xVp841UFU5OUtKOUh4bFU/view?usp=sharing and try again. But please restart the OS.

[2016-11-07 21:05] ghost opened #6888 "Rename(d) Property remains in V"
## OrientDB Version, operating system, or hardware.
- v2.0 SNAPSHOT[ ] - .18[ ] .17[ ] .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.1 SNAPSHOT[ ] - .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.2 SNAPSHOT[12 ] - .rc1[ ] .beta2[ ] .beta1[ ]

## Operating System
-

[2016-11-07 21:44] santo-it opened #6889 "Unintuitive messages in the log during index creation or delete commands"
## OrientDB Version, operating system, or hardware.
- v. 2.2.12

## Operating System
- [ ] Windows

---

Hi,

When creating an index, e.g. with the following code:

[code]

some unintuitive messages are written in the log, e.g.

[code]

These messages can confuse new users. They make you think that you have executed a SELECT FROM - but this is not the case. The messages suggest to "create an index

[2016-11-07 21:53] santo-it commented on #6881
Hi @nayansri, just checking if my message was useful. Were you able to reset the root password?

Thanks,

[2016-11-08 00:29] obi1kenobi opened #6890 "NullPointerException on MATCH with no in/out/both() and multiple traversals"
## OrientDB Version, operating system, or hardware.
- v2.0 SNAPSHOT[ ] - .18[ ] .17[ ] .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.1 SNAPSHOT[ ] - .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.2 SNAPSHOT[ ] - .13 SNAPSHOT (2.2.x branch) [x] .rc1[ ] .beta2[ ] .be

[2016-11-08 03:24] youzp opened #6891 "why unique index of vertex does not take effect?"
## OrientDB Version, operating system, or hardware.
version: 2.2.12

## Operating System
- [*] Linux--CentOS 7

## Expected behavior and actual behavior
The vertex with unique index field "name" should not be created duplicate, howerver, two identical vertices appear,
why?

## Steps to reproduce the problem
OrientGraphFactory factory = new OrientGraphFactory(uri).setupPool(1,10);
OrientGraphNoTx g

[2016-11-08 03:50] youzp opened #6892 "How to create an undirected edge and how to avoid creating a duplicate directed edges?"
## OrientDB Version, operating system, or hardware.
- v2.2.12 SNAPSHOT

## Operating System
- [*] Linux---CentOS 7

## Expected behavior and actual behavior
1. Much discussion about the problems of undirected edges, but cannot find any effective example, anyone can provide one example?
2.how to avoid creating a duplicate directed edges with the same edge property?

[2016-11-08 05:51] nuixkeith commented on #6882
I've been able to put these calls into our wrapper classes and it all seems to be working.  Hopefully we can look at upgrading to V3 some time next year.

Thanks,

Keith

[2016-11-08 05:51] #6882 closed

[2016-11-08 06:46] taburet commented on #6891
Hi! Tried the provided test case on plocal and remote storages, the test fails with ORecordDuplicatedException, as expected. Please provide more information on the issue.

[2016-11-08 07:08] youzp commented on #6891
@taburet   so sorry, mistakes in my code, now things are quite normal.

[2016-11-08 07:10] taburet commented on #6891
@youzp not a problem, we all make mistakes ;)

[2016-11-08 07:10] #6891 closed

[2016-11-08 07:24] luigidellaquila commented on #6890
Hi @obi1kenobi

I'm checking it

Thanks

Luigi

[2016-11-08 08:35] luigidellaquila commented on #6888
Hi @austx

I think it's due to some schema caching in the console. PUSH messages to clients when schema changes are not available yet, but we are implementing them.

I'm assigning this issue to @tglman as he should be in charge of this

Thanks

Luigi

[2016-11-08 08:42] luigidellaquila commented on #6892
Hi @youzp

The Property Graph db model does not provide undirected edges support. Even TinkerPop standard requires edges to have a direction.
Anyway, it's not a big problem in general, as you can traverse edges in both directions and just ignore the edge direction, using the `both()` operator

Thanks

Luigi

[2016-11-08 08:42] #6892 closed

[2016-11-08 09:13] luigidellaquila commented on #6890
Hi @obi1kenobi

I just pushed a fix on 2.2.x, it will be released with 2.2.13.

Thank you very much for reporting, MATCH statement is a new addition and this kind of reports are crucial to make it more stable every day

Thanks

Luigi

[2016-11-08 09:13] #6890 closed

[2016-11-08 09:25] laa commented on #6870
Hi @vlasni during the import created index which is called ___exportImportRIDMap which contains new and old values of rids, I suppose you may use this index to make other services work. In general, I do not suggest to use rids outside of OrientDB ecosystem.

[2016-11-08 09:26] laa commented on #6824
Close issue because of no reply. If you reproduce given issue and have information which is requested in issue feel free to reopen it.

[2016-11-08 09:26] #6824 closed

[2016-11-08 09:26] laa commented on #6547
Close issue because of no reply. If you reproduce given issue and have information which is requested in issue feel free to reopen it.

[2016-11-08 09:26] #6547 closed

[2016-11-08 09:51] lvca opened #6893 "SQL: new query optimizer should avoid crossing edges in some cases"
In all the cases where the query has `outE("blablabla").inV()` or in the MATCH where the edge properties are never used (`outE("blablabla").{}.inV()`), it could rewrite the query with simply `out('blablabla')` that is much faster.

Furthermore with the enhanced ridbag with the target vertices RIDs, it would completely avoid loading the edges.

[2016-11-08 11:24] smolinari commented on #6890
Agreed. It is nice to see someone digging in and not throwing in the towel at the first sign of problems.

Scott

[2016-11-08 12:30] heleyboo commented on #6104
hi @tglman , I also encountered a similar problem. Can you please help me to check.
I have two nodes use orientdb-community-2.2.12 with the same setting
File hazelcast.xml : https://gist.github.com/heleyboo/65f626b5643b66d072f5865690cd710b

Log file on the fist server: https://gist.github.com/heleyboo/f402fafb799324de03da22846ef663c9
Log file on the second server: https://gist.github.com/heleyboo/

[2016-11-08 12:31] austx commented on #6888
![image](https://cloud.githubusercontent.com/assets/19469944/20099142/46654376-a5b7-11e6-88d3-97c3e3cc135f.png)

After restarting server.sh the "old" name(Score) still remains. (new EScore).

[2016-11-08 13:03] rdelangh commented on #6884
@laa
1) still DOS-styles text files (such as server.sh) with CRLF at line-ends ...
2) still same problem :
console:
[code]

server logs (message appears only after 2nd attempt to open dbase):
[code]

[2016-11-08 14:30] obi1kenobi commented on #6890
Thanks for looking into it! I'm glad it was a relatively straightforward fix.

I definitely can't throw in the towel now -- I built most of a GraphQL-based querying system on top of OrientDB, as I mentioned in #6788, and that's how I keep uncovering the bugs in MATCH I've been reporting :) I'm looking forward to having the last few bugs ironed out (the traversals from an optional location in #6788

[2016-11-08 15:00] rdelangh commented on #6884
@laa, in #6426 the OP mentions that his identical problem disappeared when he adjusted some memory options in "server.sh" ; can you please confirm that this is relevant to make the problem disappear?

I had already my current settings in the versions up till 2.2.12 where the server was happily running ; after some 2.2.13 versions, this problem started to appear. Can this be a hint to the cause of

[2016-11-08 16:08] thePunIssuer commented on #3654
Hi, we're facing the same issue. We are using OrientDb to store data on a Smart Home Gateway, and we noticed that a rolling set of power consumption values makes the database directory grow indefinitely, and rather quickly.
Unfortunately, we found out that offline compacting via export/import (as Andrey Lomakin suggested in https://groups.google.com/d/msg/orient-database/SBMxmWoKxBE/O6qJisZ-76EJ)

[2016-11-08 16:59] botekchristophe opened #6894 "Update vertices and edge using orientDB studio"
## OrientDB Version, operating system, or hardware.
- v2.1.23

## Operating System
- [X] Linux
- [ ] MacOSX
- [ ] Windows
- [ ] Other Unix
- [ ] Other, name?

## Expected behavior and actual behavior

I expect the command done on OrientDB UI to be propagated to the same cache as command performed by Java API. But instead sometimes, the data between what we see using Java API and and OrientDB studi

[2016-11-08 17:12] lvca commented on #3654
@thePunIssuer We have in our roadmap a `COMPACT DATABASE|CLASS|CLUSTER` that compact the cluster space internally and optimizing the layout of internal records by RID to make scan faster. The first implementation will lock the database/class/cluster during the compact, but then will work in background.

[2016-11-08 18:49] #6886 closed

[2016-11-09 05:15] robfrank commented on #6839
Configuring ETL with data types will speed-up the ingestion process because ETL doesn't need to guess the data type for every line. Changing data types on the go implies a priority schema for types: is float more important than integer? Maybe for your use case. Maybe for another user integer should be preferred.

[2016-11-09 05:15] robfrank commented on #6839
Configuring ETL with data types will speed-up the ingestion process because ETL doesn't need to guess the data type for every line. Changing data types on the go implies a priority schema for types: is float more important than integer? Maybe for your use case. Maybe for another user integer should be preferred.

[2016-11-09 05:25] robfrank commented on #6872
A silly question, did you try with the flag haltOnError set to false?
http://orientdb.com/docs/last/Configuration-File.html#configuration-variables

[2016-11-09 08:17] rdelangh commented on #6884
@laa, @lvca
any feedback please ? Can't be so difficult to find in your Java code where this message is printed, and under which conditions.
-> what's happening ?

[2016-11-09 08:37] laa commented on #6884
@rdelangh I was looking for a message "File is acquired from." I will provide next distribution which will write something like "patched version" during server start so you will be sure that distribution is correct.
Also I will change code a bit to fix possible error.

[2016-11-09 09:14] rdelangh commented on #6884
@laa
by the way, about the way of working in OrientDB:
it is without any doubt a good practice to include some kind of locking mechanism in the programs, to avoid that two instances of the same program are trying to access/manipulate the same database files. So far about that.

What apparently should be enhanced, is the extra check after the lock-check : if a lock is found, it might also be a left

[2016-11-09 09:40] laa commented on #6884
@rdelangh it is already done. I do not think that your issue is related to the fact that there are "leftovers" from the previous process.

[2016-11-09 09:55] manuelmager commented on #3654
@lvca In what month will the first implementation be available approximately? Are we talking 4 weeks or 9 months? Just trying to get a rough feeling.

[2016-11-09 10:04] rdelangh commented on #6884
@laa
ok, good. Thx for your feedback.
Any estimation when we could receive a corrected distribution that fixes this issue ?

[2016-11-09 10:09] youzp opened #6895 "How to set other index using spark-orientdb?"
## OrientDB Version, operating system, or hardware.
- v2.2.12

## Operating System
- [ *] Linux

## Expected behavior and actual behavior
- I find the first field in spark dataframe is set as the default "UNIQUE" index using spark-orientdb, how to set other index when inserting data into orientdb?
- Insert graph-data into orientdb using spark-orientdb is a bit slow, your proposed OIntentMassiveIns

[2016-11-09 10:30] luigidellaquila commented on #3597
Hi guys,

This is one of the most voted issues in our issue tracker, so I'm happy to announce that this feature will be available in v 2.2.13 for

- CREATE CLASS
- DROP CLASS
- CREATE PROPERTY
- DROP PROPERTY

Thanks!

Luigi

[2016-11-09 10:30] #3597 closed

[2016-11-09 10:31] luigidellaquila commented on #3597
See full syntax:

http://orientdb.com/docs/2.2.x/SQL-Create-Class.html
http://orientdb.com/docs/2.2.x/SQL-Drop-Class.html
http://orientdb.com/docs/2.2.x/SQL-Create-Property.html
http://orientdb.com/docs/2.2.x/SQL-Drop-Property.html

[2016-11-09 10:32] austx commented on #6839
Again I disagree. OrientDB is marketed as a NoSQL database, schema less, schema full, hybrid, what have you. That is actually the beauty of it, great flexibility.
You are voicing in an opposite direction. Most scientific data will contain different number of parameters
and types, depending on the nature of the study/project in question.
Hence manually (or auto generating) ETL/JSON file in such det

[2016-11-09 10:40] austx commented on #6872
This is not a silly question. I did not use it and don't know if it works, so I have to test it. The question is
whether it gives enough sensible info in the log to make any sense. Running ETL with debug leaves Gb of
useless repeated data when loading millions of rows.
So, in essence I maintain my request for a 'dry run'.

[2016-11-09 10:50] smolinari commented on #3597
@luigidellaquila - Hey Luigi,

If you think about it, with [a full NoSQL ODB](https://github.com/orientechnologies/orientdb-labs/issues/13), all this would be baked into ODB and the DDL wouldn't be needed. :stuck_out_tongue_winking_eye:

Thanks for the improvement though. For full SQL ODB, it is a nice addition.

Scott

[2016-11-09 10:53] laa commented on #6884
@rdelangh you can download it right now https://drive.google.com/file/d/0B2oZq2xVp841UFU5OUtKOUh4bFU/view?usp=sharing . Please note that during server start you should see message ""Patched version (#1) for rdelangh ..." .

[2016-11-09 11:01] austx commented on #6872
haltOnError set to false is unfortunately not any helpful option.
Neither INFO nor ERROR helped me locating the error in question. That only leaves DEBUG(which makes
to much noise).
By the way, why do you repeat the name of the database twice when things go wrong?

[2016-11-09 11:02] lvca commented on #3654
hey guys, is your problem only with the CMP file (the file that maps the RIDs to physical positions) or in general you noticed the space wasn't reclaimed?

[2016-11-09 11:13] manuelmager commented on #3654
Problems we are facing:
* *.cpm is growing fast and cannot be shrinked without changing the RIDs.
* collections_x.sbc files are getting large. We do not know what it contains exactly, can you help our understanding?
* *.pcl should be okay by configuring file.defrag.holeMaxDistance, but we are only in the process of deleting old values and reclaiming space, so we have not experienced whether that w

[2016-11-09 11:15] laa commented on #3654
@manuelmager " file.defrag.holeMaxDistance" is old parameter and it is not used in current implementation.  .sbc files contain collection of edges in your database.

[2016-11-09 11:16] temilmg opened #6896 ""select from ?" no longer works with OSQLAsynchQuery when upgrading to 2.2.12"
## OrientDB Version, operating system, or hardware.
- v2.2.12

## Operating System
- [x] Linux

## Expected behavior and actual behavior
After upgrading to 2.2.12 from 2.1.17 Async query with positional parameter using java api does not work with a query like:

String query = "select @rid,* from ?";

## Steps to reproduce the problem

String query = "select @rid,* from ?";
graph.command(new OSQLAs

[2016-11-09 11:20] manuelmager commented on #3654
Is there anything that can or should be configured to improve reclaiming of space?

[2016-11-09 11:23] laa commented on #3654
@manuelmager you can set the parameter "sbtreebonsai.freeSpaceReuseTrigger" to 0, so your edge containers will reuse all free space.

[2016-11-09 13:43] laa commented on #6884
@rdelangh any updates ? If you provide update quicker we will finish this issue sooner

[2016-11-09 14:22] mxns opened #6897 "Cannot change cluster selection strategy for class"
## OrientDB Version, operating system, or hardware.
- v2.2.12-SNAPSHOT

## Operating System
- [x ] MacOSX

## Expected behavior and actual behavior

Expected: according to documentation, the _cluster selection strategy_ for a class in distributed mode should be set to `local`.

Actual: _cluster selection strategy_ is set to _round-robin_, and cannot be changed. This leads to error when doing inser

[2016-11-09 14:28] mxns commented on #6897
Additional info: inserts work fine until a node is restarted:
[http://stackoverflow.com/questions/40506577/inserts-javaapi-fail-after-restarting-node-in-distributed-orientdb-cluster](http://stackoverflow.com/questions/40506577/inserts-javaapi-fail-after-restarting-node-in-distributed-orientdb-cluster)

[2016-11-09 14:40] rdelangh commented on #6884
@laa
hey Andrey,
I have been providing many and prompt updates so far ... Anyway thanks for your swift reaction.

I am trying to collect this new distribution, and install it on our servers in the next 30 mins or so; will instantly provide you feedback of the outcome.

[2016-11-09 14:46] rdelangh commented on #6884
@laa

1) the text files are still in DOS style (trailing CRLF characters), not UNIX style (LF only) !

2) got that version and installed it, startup proves this is your latest distribution for my environment:
[code]

3) try again to open our big database "cdrarch"  with "console.sh" :
[code]

-> so, this issue where the database was considered to be open yet by another process is resolved, it seem

[2016-11-09 14:47] acmeguy commented on #3742
Are there other features behind the "Compression of used space on serialization" item on the 3.0 roadmap?

[2016-11-09 15:02] lvca commented on #3742
You can find the roadmap here: http://orientdb.com/docs/last/Roadmap.html.

[2016-11-09 15:05] lvca commented on #6897
@mxns we have the same issue reported elsewhere. I'm working on it.

[2016-11-09 15:09] acmeguy commented on #3742
That line in the roadmap, you linked to, only points to this ticket :)
i'm wondering what other changes will be made in regards to space efficiency.

[2016-11-09 15:29] lvca commented on #3742
Got it. We're also working to the design of a new command `compact database/cluster/index`.

[2016-11-09 16:14] dominioon commented on #6816
@luigidellaquila, when creating a user via Studio or via Java API the node where the command ran will get the password as plain text. To other nodes it is synced in encrypted format. So it is more likely an problem of incorrect inserting.

[2016-11-09 16:46] mxns commented on #6897
Ok, thanks for the update @lvca. And your work :) If you wanna point me to a relevant github issue that I can follow and close this one, that's fine.

[2016-11-09 17:24] lvca commented on #6897
@mxns Thanks for reporting it. It's fixed in 2.2.x branch. Please could you check it? NP, I'm going to take care of the related issues.

[2016-11-09 17:24] #6897 closed

[2016-11-10 02:44] youzp commented on #6895
my data is stored in HDFS and i'm not sure if i can use your proposed otel, so i considered to use spark-orientdb. I was a little worried about his performance after reading source code.

[2016-11-10 05:12] andreyvk opened #6898 "Embedded attribute's numbers reset to 0, while storing record through binary protocol"
## OrientDB Version
### v2.2.12

## Operating System
### Linux

---

Hi guys,

There's been a strange issue, while using **binary protocol** through PhpOrient library (see link below). Basically, after record's been saved it's embedded attribute's internal numeric values (in my case `double`) are reset to 0. @Ostico, the owner of the PhpOrient, is saying that issue happens to him from both the lib

[2016-11-10 08:50] rdelangh commented on #6854
@laa, @lvca , @luigidellaquila
gentlemen,
can someone please help me out with this ? It seems (cfr #6884) that the files for this class "files_loaded1" got corrupted, so that now the database does not startup any more !
This is seriously getting urgent now ...

In the "databases/cdrarch" directory, I see many files for this class:
files_loaded1.cpm , files_loaded1_48.cpm , files_loaded1_48.pcl , .

[2016-11-10 08:51] rdelangh commented on #6854
From #6884 :

server startup error messages:
[code]

[2016-11-10 08:52] laa commented on #6884
Hi @rdelangh but is file with name `files_loaded1.pcl` really presented in storage ?

[2016-11-10 08:55] rdelangh commented on #6884
no it is not, cfr #6854

[2016-11-10 08:58] laa commented on #6884
@rdelangh do you use distributed or single server instalation ?

[2016-11-10 08:59] rdelangh commented on #6884
@laa single server

[2016-11-10 09:01] laa commented on #6884
@rdelangh and of curse you did not remove any files from server directory, did you  ?
How that happens any way, you updated system to 2.2.13 version and saddenly all stops to work, is it correct ?

[2016-11-10 09:04] rdelangh commented on #6884
@laa
- no, didn't remove any of the files
- I updated to 2.2.13, ran a while, then stopped that server to upgrade to a newer snapshot (from lvca), then the problems began

[2016-11-10 09:18] laa commented on #6884
@rdelangh I see, to fix this issue please create empty file of 1024 bytes size and put into database directory. I will think meanwhile how we may detect reason of such strange disaapearence of file on disk.

[2016-11-10 09:35] mxns commented on #6897
Yup, the issue that I described in [this stackoverflow entry](http://stackoverflow.com/questions/40506577/inserts-javaapi-fail-after-restarting-node-in-distributed-orientdb-cluster) is fixed on 2.2.x, nice work @lvca.

The cluster selection strategy is still round-robin though, so it seems I misunderstood the underlying problem? Anyway, thanks!

[2016-11-10 10:19] rdelangh commented on #6884
@laa
1) did create such file "files_loaded1.pcl" of 1024 bytes
2) started the server again
3) tried again to connect from client "console.sh" to the dbase "cdrarch", but got another error now:
[code]

[2016-11-10 10:21] laa commented on #6884
@rdelangh I think better to do following:

1.  Create empty database with whatever name you wish.
2. Create empty cluster files_loaded1
3. Move the file with name files_loaded1.pcl on your server.

@rdelangh do you have any stack trace in server log ?

[2016-11-10 10:32] rdelangh commented on #6884
@laa
1) in dbase "GratefulDeadConcerts" :
[code]
2) stopped the server engine
3) found the files for this cluster:
[code]
4) copied them into "databases/cdrarch" , and started the server engine again
5) from client "console.sh", connected to "cdrarch" , but similar issue:
[code]

[2016-11-10 11:19] laa commented on #6884
@rdelangh what about the log files ? they are in logs directory on sever side

[2016-11-10 11:24] rdelangh commented on #6884
@laa
no log messages from server after its startup messages:
[code]

[2016-11-10 11:34] laa commented on #6884
@tglman could you help us identify why we do not see exceptions send trough remote connection in server log ?

[2016-11-10 11:47] Bonizzi opened #6900 "Bug in Graph visualization"
## OrientDB Version, operating system, or hardware.
- v.2.2.12

## Operating System
- [ ] Linux
- [ ] MacOSX
- [x] Windows
- [ ] Other Unix
- [ ] Other, name?

## Expected behavior and actual behavior
If I create a two edge and both have the same source vertex and the same destionation vertex, I expect to see in the Graph editor two edge instead of one.

![image](https://cloud.githubusercontent.co

[2016-11-10 12:01] rdelangh commented on #6884
@laa, @tglman
For what it is worth: I found where this log message is printed from the Java code:
in "common/collection/closabledictionary/OClosableLinkedContainer.java" , which contains the
[code]
the public method "add( )" is defined, from where the message gets printed:
[code]

[2016-11-10 12:03] laa commented on #6884
@rdelangh we found too but we can not understand why it happens

[2016-11-10 12:18] rdelangh commented on #6884
@laa , @tglman
server logs, and much more verbosity in these logs would help a lot !

[2016-11-10 12:20] lvca commented on #6897
If you dump the name is round-robin, but it's wrapped in the Local strategy wrapper.

[2016-11-10 12:27] Ivanov-Yuriy opened #6901 "problems with creating EMBEDDEDLIST with next types: date, datetime, decimal"
## OrientDB Version, operating system, or hardware.
- v2.2.11

## Operating System
- [ ] Linux
- [ ] MacOSX
- [x] Windows
- [ ] Other Unix
- [ ] Other, name?

Hi.
I have problems when I create EMBEDDEDLISTs with next types: date, datetime, decimal

## Steps to reproduce the problem
orientdb {db=test}> **create class eml**
Class created successfully. Total classes in database now: 12.

orientdb {db

[2016-11-10 12:32] youzp opened #6902 "How to insert vertex and edges in different processes?"
## OrientDB Version, operating system, or hardware.
- v2.2.12
## Operating System
- Linux
## Expected behavior and actual behavior
My work scenario, the vertex in an HDFS file and the edges in other HDFS files.
I write the vertex file with a process and write the edge file with other process,
how to insert the edges in code under this circumstances.

## Steps to reproduce the problem
// How to con

[2016-11-10 12:47] youzp commented on #6902
The edge file content is "id_src, id_dst, edge_property"

[2016-11-10 12:49] rdelangh commented on #6884
Maybe best to switch now further investigations and comments to issue #6854 ?

[2016-11-10 12:57] msjbear commented on #6902
I get stucked on the same problem. I have a vertex file and edges file separately, but I do not know how to import the edges link to the corresponding vertex
the vertex file format is (id,name,job)
samples:
3L, rxin, student
7L, jgonzal, postdoc
5L, franklin, prof
2L, istoica, prof

the edge file format is (src_id,dst_id,relation)
samples:
3L, 7L, collab
5L, 3L, advisor
2L, 5L, colleague
5L, 7L, p

[2016-11-10 12:57] tglman commented on #6898
hi @andreyvk,

It Look like an issue we fixed recently in the query engine, i'm going to check this.

this may explain the fact that with the console in 2.2.5 fail and in 2.2.12 doesn't.

Bye

[2016-11-10 13:19] laa commented on #6884
I think the better continue at the same context.

[2016-11-10 13:23] rdelangh commented on #6884
@laa
That's ok.
-> could you please make a distribution that produces (much) more logging while it is opening a database, especially around that Java method which spawns the error message to the client console?

[2016-11-10 13:35] luigidellaquila commented on #6902
Hi guys,

You have to load the two vertices based on the key and then create the edge, eg.

[code]

I hope it helps

Thanks

Luigi

[2016-11-10 13:44] dominioon commented on #6817
@lvca, tried with todays snapshot again, and there the bug still exists

[2016-11-10 13:58] lvca commented on #6817
If you get some of the logs above it's fine, but they should stop after a few seconds. Did they stop?

[2016-11-10 14:19] #6065 closed

[2016-11-10 14:19] kwoxer commented on #6664
Server still online. So it's already longer than usual. :)

[2016-11-10 15:39] dominioon commented on #6817
@lvca, sorry, my bad, the bug does not exist any more. I suspect one of the nodes was still running 2.2.12, and caused the problem. in 2.2.13 todays snapshot I wasnt able to reproduce any more.

[2016-11-10 15:51] rdelangh commented on #6884
@laa
Andrey, what is the plan to get this sorted out ? Are you trying to reproduce ? Or will you make some special distribution bundle that will spawn server log messages around the offending piece of Java code? Or any other strategy ?

[2016-11-10 16:26] lvca commented on #6817
Cool, closing it ;-)

[2016-11-10 16:26] #6817 closed

[2016-11-10 16:41] laa commented on #6884
@rdelangh I will create a distribution which prints "normal" stack trace. So we will know how it happened. I will provide distribution tomorrow morning.

[2016-11-10 19:56] austx opened #6903 "Running tests in Studio/Graph Editor"
## OrientDB Version, operating system, or hardware.
- v2.0 SNAPSHOT[ ] - .18[ ] .17[ ] .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.1 SNAPSHOT[ ] - .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.2 SNAPSHOT[12 ] - .rc1[ ] .beta2[ ] .beta1[ ]

## Operating System
-

[2016-11-10 21:03] kerner1000 opened #6904 "How to properly delete a db?"
OrientDB v. 2.1.16

Operation System Linux

I use the following code to delete a db:

[code]
[code]

When I try to create a db with the same name right after, it fails since the db exists already.

How to properly delete a db?

[2016-11-11 02:19] youzp commented on #6902
@luigidellaquila
hi, the function getVertexByKey has been deprecated in version 2.2.12, and the Vertex v1/v2 symbol cannot be resolved.Are there any other alternatives that could be used?

[2016-11-11 02:47] youzp commented on #6902
@luigidellaquila
hi, Luigi
I found the function getVertexByKey was deprecated before version 2.2.12, and now i was worried about his performance, is there any other way to improve the performance of insertion?
<pre><code>
graph.declareIntent(new OIntentMassiveInsert)
graph.getRawGraph.set(ODatabase.ATTRIBUTES.MINIMUMCLUSTERS, 10)
graph.getRawGraph.getLocalCache.setEnable(false)
graph.getRawGraph.s

[2016-11-11 08:29] luigidellaquila commented on #6902
Hi @youzp

sorry, my bad,  `getVertexByKey()` was replaced by  `graph.getVertices(string, obj)`.

How big is your graph? If it's not enormous you can use the batch import (http://orientdb.com/docs/2.2/Graph-Batch-Insert.html). It's very very efficient but it has some limitations

Thanks

Luigi

[2016-11-11 12:08] tglman commented on #6876
I found the reason of this and fixed.

Closing

[2016-11-11 12:08] #6876 closed

[2016-11-11 12:18] lvca commented on #6904
Try calling this before to delete the directory `Orient.instance().closeAllStorages();`

[2016-11-11 12:23] laa commented on #6884
@rdelangh could you try this distribution. But in console script could you add property ```-DdebugMode=true```  just after all other properties but before the class name?

[2016-11-11 13:43] #6898 closed

[2016-11-11 13:43] tglman commented on #6898
Hi @andreyvk,

As i said in the other issue this is just fixed in our side and will be released in 2.2.13, closing.

Bye

[2016-11-11 13:54] santo-it opened #6905 "Improve example database GratefulDeadConcerts or create new DemoDB"
## OrientDB Version, operating system, or hardware.
- v2.2.12

## Operating System

- any

--

Hi,

Please let's invest some time to improve the included example database GratefulDeadConcerts or consider to add another one

In particular, in GratefulDeadConcerts there are no Vertex classes defined: it is important that we have defined vertex classes so that new users can get familiarity with this

[2016-11-11 13:57] diegomtassis opened #6906 "Commit automatically open transaction when changing AutoStartTx mode in TransactionalGraph"
## OrientDB Version, operating system, or hardware.
- v2.2.12

## Expected behavior and actual behavior

In `com.tinkerpop.blueprints.impls.orient.OrientTransactionalGraph.setAutoStartTx(boolean)`, when invoked passing false as parameter (that is disabling AutoStart), this warning is printed if a transaction is already open.

I would expect the open transaction to be committed automatically, exact

[2016-11-11 14:04] luigidellaquila commented on #6878
Hi @austx

I just pushed a fix on 2.2.x branch. The fix will be released with 2.2.13

Thanks

Luigi

[2016-11-11 14:24] tglman commented on #6901
hi @Ivanov-Yuriy,

I just tryed the last released hotfix:2.2.12 and this seems already fixed, can you try to upgrate to te last hotfix ?

Regards

[2016-11-11 14:29] luigidellaquila commented on #6866
Hi @cgreenberg

I just tried it with 2.2.12 and it works fine for me. Which version are you using?

Thanks

Luigi

[2016-11-11 14:30] maggiolo00 commented on #6903
@austx

can you give some other details about this issue?

[2016-11-11 14:36] #6401 closed

[2016-11-11 14:38] fixundfertig123 commented on #6401
Hi,
thanks, I just closed the issue. I think there is still something buggy, but it would be quite hard to create a traceable bug report. Thanks for your help!!!!
Cheers,
Fritz

[2016-11-11 14:44] kerner1000 commented on #6904
Hmm, not quite sure.
This should happen already during the call of `db.drop()`:

[code]

[2016-11-11 15:01] luigidellaquila commented on #6877
Hi @borov333

I just pushed a fix for this on branch 2.2.x. It will be released with 2.2.13

Thanks

Luigi

[2016-11-11 15:01] #6877 closed

[2016-11-11 16:36] lvca commented on #6904
You're right, `drop()` is enough. Sometimes happens the files remain locker for a while.

[2016-11-11 16:40] maggiolo00 commented on #6894
@botekchristophe

are you in remote or plocal connection?

[2016-11-11 17:00] rdelangh commented on #6884
@laa which distribution, please ?

[2016-11-11 17:06] tglman commented on #6104
hi @heleyboo,

From your log i noticed that:
[code]

the binary protocol is listening on ip: "10.0.2.*"
and hazelcast configuration is instead on  "192.168.33.*":
[code]

This two ip address should be the same otherwise the server cannot communicate with eachother.

Hope it helps.

Bye

[2016-11-11 17:08] tglman commented on #6880
ok @dashawn888  can we close this ?

[2016-11-11 17:58] cgreenberg commented on #6866
@luigidellaquila I'm using 2.1.11. Was this fixed in recent versions?

[2016-11-11 18:42] dashawn888 commented on #6880
Yes. Go ahead.

On Fri, Nov 11, 2016 at 12:08 PM, tglman <notifications@github.com> wrote:

[2016-11-11 19:37] #6880 closed

[2016-11-11 22:20] borov333 commented on #6877
Thanks!

[2016-11-12 13:32] austx commented on #6903
Enrico,

sorry to be of limited help here. I basically tested some MATCH()
statements and hitting the waste-bin symbol, pasting in a new match
statement,
run, click any vertex to view properties, altering the match statement,
hitting the waste-bin, run, and so on.
All of a sudden, I noted the CPU fan sped up and it apparently went in to a
freeze.

I have observed this error message earlier, even s

[2016-11-12 15:13] austx opened #6907 "Match limit apparently not working. Match() exceeding depth 2 never returns?"
## OrientDB Version, operating system, or hardware.
- v2.0 SNAPSHOT[ ] - .18[ ] .17[ ] .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.1 SNAPSHOT[ ] - .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.2 SNAPSHOT[ 12] - .rc1[ ] .beta2[ ] .beta1[ ]

## Operating System
-

[2016-11-13 07:53] luigidellaquila commented on #6907
Hi @austx

Thank you for reporting, I'll check it asap

Thanks

Luigi

[2016-11-13 12:54] bazo commented on #5248
hi,

i got around to continue with the project i encountered this bug with and it still persists. i could send you the database or some data to debug this if you want

[2016-11-13 17:55] kwoxer commented on #6664
Offline since 12.11.  So from 2 days it's now 5 days. So it seems like buffersize und chunk size is something that increases the time. :) I keep on my tests.

[2016-11-13 19:52] kwoxer commented on #6664
Now:
`ORIENTDB_SETTINGS="-Dstorage.diskCache.bufferSize=1 -Dmemory.chunk.size=335544"`

[2016-11-14 07:15] tanhv90 commented on #6305
Hello @lvca ,

I'm facing the same issue in v2.2.12.
Seem that only place I can setup an IP address is in orientdb-server-config.xml in the listener section. But on my case it must stays : 0.0.0.0

So, when starting, the below error msg occurred
`com.orientechnologies.orient.server.distributed.ODistributedException: Cannot connect to the remote server '10.0.2.15:2424'`

Please refer to [this link

[2016-11-14 08:47] luigidellaquila commented on #6866
Hi @cgreenberg

Yes, we did a lot of fixes on square bracket filtering in v 2.2.x, if you have a chance to upgrade you'll have a lot of advantages

Thanks

Luigi

[2016-11-14 09:09] rdelangh commented on #6884
@laa
1) can you please give me a URL where this 'special verbose' distribution can be downloaded?
2) a little context about this faulty class "files_loaded1" : it is a class which was renamed from original name "files_loaded"; after that rename, I created a new class "files_loaded"; the renamed class "files_loaded1" started giving problems ( #6854) after the server process was stopped and a new ve

[2016-11-14 09:11] wq1101 opened #6908 "Replica holds clusters owners ?"
## OrientDB Version, operating system, or hardware.
- OrientDB console v.2.2.12-SNAPSHOT (build 2.2.x@r2a76ee1efc4487d9dc5f43e1ddc2fba1c5a0167c; 2016-10-20 13:55:08+0000)

## Operating System
- Oracle Linux 6.5

## Expected behavior and actual behavior
# ** 3 nodes with "config/default-distributed-db-config.json" as below:**
{
  "autoDeploy": true,
  "hotAlignment": false,
  "readQuorum": 1,
  "wr

[2016-11-14 09:26] santo-it opened #6909 "Port backup.sh and stresstester.sh to windows"
## OrientDB Version, operating system, or hardware.
- v2.2 SNAPSHOT[ ] - .rc1[ ] .beta2[ ] .beta1[ ]

## Operating System
- [ ] Windows

Port backup.sh and stresstester.sh to windows

[2016-11-14 09:27] santo-it commented on #6909
I can work on this

[2016-11-14 09:58] kerner1000 commented on #6904
Obviously it is not enough, since `db.exists()` returns `true` after the drop. So how can I delete it properly?

[2016-11-14 10:48] voondo commented on #6825
Hi @tglman, after digging into this issue with step-by-step debugger, it appears the exception arises because of
[code]
giving `doc = null` because of
[code]
because `getRecord(rid)` triggers
[code]
But the question is why this record is flagged as deleted whereas we check if we can delete it!
The record in my example is the edge (`#155:5`).

[2016-11-14 12:01] weixliu opened #6910 "An exception in distribte mode【Local node 'node07' is not the owner for cluster 'test_25' (it is 'node08')】"
## OrientDB Version, operating system, or hardware.
- v2.2 12

## Operating System
- [ ] Linux

## Expected behavior and actual behavior
I want to get help that how this exception occur & some development document in java API with distribute mode orientDB.Thanks~
## Steps to reproduce the problem
First, I just setup a distribute orientdb, I think it's right.
Then, I use orientdb create a database(

[2016-11-14 12:32] tglman commented on #6305
hi @tanhv90,

You can set the hazelcast [`public-address`](http://docs.hazelcast.org/docs/3.5/manual/html/networkconfiguration.html) field, orient is going to read it and use it.

Hope it helps.

[2016-11-14 12:35] rdelangh commented on #6884
@laa, @lvca , @tglman
hello, can someone please continue this investigation ? Database engine cannot start anymore since 2 weeks after an upgrade to 2.2.13 snapshot ! This becomes hilarous ...

[2016-11-14 12:37] laa commented on #6884
Hi @rdelangh , sorry for delay. Could you try this distribution ?

[2016-11-14 13:55] rdelangh commented on #6884
@laa ok, got it;
it still contains DOS-styled text files (CRLF, iso LF only) ... Can you please fix that ?

Will run it now ...

[2016-11-14 14:11] rdelangh commented on #6884
@laa
1) previous version has been shut

2) new version started :
[code]

3) console.sh script adjusted and started:
[code]

4) trying to connect to problematic database "cdrarch" :
[code]

Nothing in the server logs file.

[2016-11-14 14:30] Ivanov-Yuriy commented on #6901
Hi @tglman
I checked latest hotfix 2.2.12. It works great. Thank you

[2016-11-14 14:30] #6901 closed

[2016-11-14 14:40] lvca commented on #6904
If the `db.exists()` returns true it's a bug. Reopened it. How can I reproduce it? I see in your code you have:

[code]

So if the db is closed it's never dropped. You should change your code with:

[code]

[2016-11-14 14:40] lvca commented on #6904
Please let me know if the problem was in your code, so I can close the issue.

[2016-11-14 15:11] tglman commented on #6906
hi @diegomtassis,

I made a fix to invalidate transaction in case of no changes were done, and not display the warning, this should solve the problem.

It will be released in 2.2.13

Regards

[2016-11-14 15:33] obi1kenobi commented on #6788
Hey @luigidellaquila, just double-checking if there's anything I can do to help with closing down this very complex issue! The progress so far has been great, and I'm hoping we can resolve this fully before 2.2.13 is out. A lot of people at my company are excitedly awaiting this so they can use GraphQL with OrientDB, and I'm sure open-sourcing my work will get the general OrientDB community quite

[2016-11-14 15:35] luigidellaquila commented on #6788
Hi @obi1kenobi

Thank you very much, unfortunately some internal refactoring is needed to support this and it's definitely not trivial. I hope I'll manage to fix these points in next very few weeks, I'll keep you posted

Thanks

Luigi

[2016-11-14 15:38] obi1kenobi commented on #6788
Thanks for the update, and please let me know if you'd like me to test a new build -- I set up an OrientDB development environment, so I can check out any OrientDB branch and run my GraphQL-to-MATCH compiler there.

[2016-11-14 16:14] everycs commented on #6879
Gents, any workaround here?

[2016-11-14 17:00] luigidellaquila commented on #6907
Hi @austx

I just pushed a fix for this on branch 2.2.x. The fix will be released in v 2.2.13

Thanks

Luigi

[2016-11-14 17:00] #6907 closed

[2016-11-14 17:05] luigidellaquila commented on #6879
Hi @everycs

Unfortunately there is no work-around available (apart from disabling security, but I don't think it's an option), but I think I can fix it in next few days

Thanks

Luigi

[2016-11-14 17:20] #6910 closed

[2016-11-14 17:20] lvca commented on #6910
This problem has been already resolved in 2.2.x (2.2.x branch of github).

[2016-11-14 17:21] lvca commented on #6910
We will publish 2.2.13 in the next 48 hours, but you can build your own 2.2.-13-SNAPSHOT from 2.2.x branch.

[2016-11-14 18:12] lvca commented on #6908
Thanks for reporting it. Fixed in 2.2.x branch.

[2016-11-14 18:12] #6908 closed

[2016-11-14 19:31] #6791 closed

[2016-11-14 19:32] #4048 closed

[2016-11-14 20:30] austx commented on #6878
2.2.13-SNAPSHOT.

astar() never returns.

[2016-11-14 20:34] austx commented on #6840
2.2.13-SNAPSHOT   still not fixed

[2016-11-14 20:36] austx commented on #6822
2.2.13-SNAPSHOT   acknowledged.

[2016-11-14 20:44] austx opened #6911 "select dijkstra() never returns"
## OrientDB Version, operating system, or hardware.
- v2.2.13-SNAPSHOT

## Operating System
- [ x] Linux

## Expected behavior
comparing with another function ...
orientdb {db=HumanPPI2}> SELECT shortestPath(#40:55,#33:0)

+----+---------------------------+
|#   |shortestPath               |
+----+---------------------------+
|0   |[#40:55,#34:133,#33:0]|
+----+----------------------------+

1 ite

[2016-11-15 01:20] weixliu commented on #6910
Thanks for reply, I'll try 2.2.13 later~

[2016-11-15 03:27] tanhv90 commented on #6305
Hello @tglman,

Thanks so much for your support.

Best regards.

[2016-11-15 08:30] youzp opened #6912 "How to query graph data via JDBC?"
## OrientDB Version, operating system, or hardware.
- v2.2.12

## Operating System
- Linux

## Expected behavior and actual behavior
Error prompt is this way, and how to get the graph vertex data?
**Exception in thread "main" java.lang.ClassCastException: com.orientechnologies.orient.jdbc.OrientJdbcResultSet cannot be cast to com.tinkerpop.blueprints.impls.orient.OrientVertex**
## Steps to reprodu

[2016-11-15 08:36] rcdiaz opened #6913 "Is it possible to get records without meta-information? Exclude: @type, @version, etc..."
Can I get records without this parameters?

"@type": "d",
"@rid": "#21:2",
"@version": 1,
"@class": "EHR",
  notification": "Query executed in 0.066 sec. Returned 3 record(s)"

I have tried with:
select expand(@this.exclude('@type','@rid','@version','@class')) from v

But only omits rid and class:

`select * from pueblo
{
    "result": [
        {
            "@type": "d",
            "@rid": "#67

[2016-11-15 08:53] laa commented on #6884
Hi @rdelangh could you try this build https://drive.google.com/file/d/0B2oZq2xVp841b2pqVkRrdDBpWkU/view?usp=sharing  it should allow to open database

[2016-11-15 08:56] laa commented on #6884
@rdelangh if this change fix issue it will be added to 2.2.13 release

[2016-11-15 09:04] luigidellaquila commented on #6911
Hi @austx

Could you please send me a backup of the db (a copy of the db folder)? It's the only way to preserve RIDs and reproduce the exact same scenario

Thanks!

Luigi

[2016-11-15 09:06] luigidellaquila commented on #6878
It's related to #6911
I'll work on this asap, but my feeling is that it's just a long running execution because of supernodes.
I'll keep you posted

Thanks

Luigi

[2016-11-15 09:58] rdelangh commented on #6884
@laa
1) the files in this bundle are still DOS-style (CRLF terminated) -> is it not possible to fix it so that they are UNIX-style (LF-terminated) ?
DOS-styled text files, such as scripts ("server.sh", "console.sh", "shutdown.sh", ...) cannot be executed unless if converted with "tr" to remove the CR chars

2) this new version from you have resolved our problem ! Many thanks for that. The server s

[2016-11-15 09:59] rdelangh commented on #6854
this issue has been resolved via the latest build from Andrey (cfr #6884), build nr 2.2.x@ra3e56d7c76285480f40161c9dd2d1ea29473953f; 2016-
11-15 08:47:42+0000

[2016-11-15 10:01] rdelangh commented on #6855
@luigidellaquila
Database is usable again, issue #6884 is resolved.
-> can you please re-continue your investigations for these performance issues with dates in the WHERE clause?

[2016-11-15 10:03] rdelangh commented on #6832
@lvca
1) the database is operational again, issue #6884 is resolved
2) what is the status of your investigations on this issue with the quorum on a single-node ?

[2016-11-15 10:04] rdelangh commented on #6824
@laa, @taburet
I have opted to split our single, massive class which contains data for a full year, into smaller classes that contain data for a week only per class.
The very lengthy index (re-)builds should go much faster consequently.
Will keep an eye on it tough...

[2016-11-15 10:07] rdelangh commented on #6808
@maggiolo00
1) the database is enabled again, issue #6884 is resolved
2) I haven't seen any issue with the Lucene indexes anymore in the 2.2.1-* snapshots anymore, so I hope to be able to assume that this issue has been resolved.

-> this issue can be closed, many thanks !

[2016-11-15 10:08] rdelangh commented on #6795
@luigidellaquila
hi Luigi, any update on this, please ?

[2016-11-15 10:08] rdelangh commented on #6790
@luigidellaquila
Luigi, can you please confirm already in which release this extra functionality will be included ?

[2016-11-15 10:10] luigidellaquila commented on #6790
Hi @rdelangh

For now it's scheduled for 3.0

Thanks

Luigi

[2016-11-15 10:10] rdelangh commented on #6762
@laa
1) the database is enabled again (issue #6884 is resolved)
2) meanwhile, using the recent 2.2.13 snapshots, I had no more problems closing the databases; so I hope that this particular issue has been resolved

-> can be closed, will re-open if it would occur again

[2016-11-15 10:12] rdelangh commented on #6666
@lvca
1) database is enabled again, issue #6884 is resolved
2) Luca, do you have any update regarding this issue with the distributed config, adding a 2nd node ?

[2016-11-15 10:13] rdelangh commented on #6598
@tglman
can you please share some details about what exactly you might have changed in the code that relates to these "Socket closed" messages ?

[2016-11-15 10:15] rdelangh commented on #6598
@tglman , @lvca
currently running with build 2.2.x@ra3e56d7c76285480f40161c9dd2d1ea29473953f; 2016-
11-15 08:47:42+0000, but we still get these log messages:

[code]

[2016-11-15 10:26] robfrank commented on #6912
The JDBC api can't return native objects because it is plain old JDBC.
Usually, the JDBC driver is used inside legacy applications to avoid use of native objects.
If you need native objects, you should use the native API.

[2016-11-15 10:44] youzp commented on #6912
@robfrank ok,thank you so much! The native API works properly.
[code]

[2016-11-15 10:45] diegomtassis commented on #6906
Please look at my comments in the new code.

[2016-11-15 10:46] #6912 closed

[2016-11-15 10:55] smolinari commented on #6790
@luigidellaquila - would this issue then need the 3.0 milestone flag?

Scott

[2016-11-15 11:06] everycs commented on #6879
Fantastic. Luigi, is there an advantage of using the resource level security vs the record level security? Because I just tried that and it would work.

[2016-11-15 11:13] luigidellaquila commented on #6790
Thanks @smolinari , just flagged ;-)

Luigi

[2016-11-15 11:51] laa commented on #6884
done, line endings are fixed but will be available in next release.

[2016-11-15 11:51] #6884 closed

[2016-11-15 14:39] prakashpandey commented on #6859
Thanks, I will try v2.2.13.

Hopefully will get resolved in that version.

[2016-11-15 14:56] lvca commented on #6666
@rdelangh I see tons of comments and I'm not sure what's the open problem. Could you please update me on this? Thanks in advance.

[2016-11-15 15:26] rdelangh commented on #6666
@lvca
The last relevant comment from me was from 26 days ago (20/Oct/2016); I repeat the text here:

I have redone the test, using v2.2.12 snapshot version "orientdb-community-2.2.12-20161019.051435-38"

Attached are the logs of both servers. The 2nd node has started around 2016-10-20 10:20

orient-serverlog0-orient1.zip
orient-serverlog0-orient2.zip

[2016-11-15 16:33] lvca commented on #6666
So the problem is "node not online yet", right? That should be solved by the last 2.2.13. Please can you try it?

[2016-11-15 17:12] saeedtabrizi commented on #3597
Hi @luigidellaquila
Thanks to hear my voice :)
https://github.com/orientechnologies/orientdb/issues/6063 . so you can close(partially) this issue .
Is there any plan for implementing the  TTL feature on the next release ?

Thanks
Saeed Tabrizi

[2016-11-15 17:17] luigidellaquila commented on #6063
Hi @saeedtabrizi

Happy to help :-)

For the TTL we have no specific plans, but I'll talk to the team about it, maybe we can include it in 3.0

Thanks

Luigi

[2016-11-15 19:18] RAndrews137 commented on #6834
Latest update is that this is already fixed in the upcoming 3.x.  It may or may not get ported back to 2.x version.

[2016-11-15 23:52] obi1kenobi opened #6914 "IF EXISTS / IF NOT EXISTS for database deletion / creation"
## OrientDB Version, operating system, or hardware.
- v2.0 SNAPSHOT[ ] - .18[ ] .17[ ] .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.1 SNAPSHOT[ ] - .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.2 SNAPSHOT[ ] - .13[x] .rc1[ ] .beta2[ ] .beta1[ ]

## Operating Syst

[2016-11-15 23:53] obi1kenobi commented on #6914
Related to #3597.

[2016-11-16 01:19] tomasaftalion opened #6915 "Remove old nodes from distributed-config.json not working with autoRemoveOfflineServers"
Version: 2.2.0
OS: Linux 16.04

Hi, I've been reading isues #6784 and #6862 but can't seem to get it to work either by adding

`<entry value="0" name="distributed.autoRemoveOfflineServers"/>`

to <properties></properties> within orientdb-server-config.xml or by including directly the flag

`-Ddistributed.autoRemoveOfflineServers=0`

to dserver.sh.

I'm working within aws, using hazelcast and I am

[2016-11-16 06:07] mongoose666 opened #6916 "Most basic distributed configuration not working."
## OrientDB Version, operating system, or hardware.
- v3.0.0 SNAPSHOT

## Operating System
- Windows
- Mac OS/X Sierra

## Expected behavior and actual behavior
Have been trying for hours to get the most basic 2 node distributed database cluster working with TCP-IP not MULTICAST.

It continues to timeout waiting for the other node. This is when running (in a test environment) on the same developme

[2016-11-16 08:03] luigidellaquila commented on #6834
I can confirm, next 3.0 is not affected by this problem.
Unfortunately the solution cannot be ported back because of some intrinsic differences in the query engines, but for sure we will address it in 2.2 (soon, I hope, but it's a tricky issue)

Thanks

Luigi

[2016-11-16 08:36] aligin opened #6917 "OStorageException: Error on creation of shared resource NullPointerException: Name is null"
## OrientDB Version, operating system, or hardware.
- v2.0 SNAPSHOT[ ] - .18[ ] .17[ ] .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.1 SNAPSHOT[ ] - .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.2 SNAPSHOT[x] - .rc1[ ] .beta2[ ] .beta1[ ]

## Operating System
- [x

[2016-11-16 08:44] prakashpandey opened #6918 "Orientdb distributed setup not working when one node goes down"
## OrientDB Version, operating system, or hardware.- v2.2.13

## Operating System
- [x] Linux

## I have **two node** in **Orientdb** **distributed** mode named "**server1**" at port "2424" and "**server2**" at port "2425".

**I am running them as "dserver.sh".** both running as shown below :

[code]
**When both are "online" insertion, replication and everything is working. But when I am making "S

[2016-11-16 08:59] kerner1000 commented on #6904
Hi @lvca
many thanks for your help, it seems to work now!

[2016-11-16 09:02] kerner1000 opened #6919 "Difference between ODatabaseDocument.load(ORID orid) and ORID.getRecord()"
OrientDB v. 2.1.16

Operation System Linux

I was wondering what is the difference between
`db.load(someORID)`
and
`someORID.getRecord()`

[2016-11-16 09:42] rdelangh commented on #6884
@robfrank , @laa
Are the corrections for this issue, included in the 2.2.13 snapshot of Nov-15, i.e. snapshot build "orientdb-community-2.2.13-20161115.103734-25" ?
If not, in which snapshot of 2.2.13 will it be included ?

[2016-11-16 10:11] austx opened #6920 "percentile() returns same result for all percentages"
## OrientDB Version, operating system, or hardware.

- v2.2 SNAPSHOT[13 ]

## Operating System
- [x ] Linux

## Expected behavior
sensible data!
## Actual behavior
select percentile(samples,nn) from whatever
## Steps to reproduce the problem
Insert 255, 168, 125, 11102, 59, 120, 500, 2, 98, 25 these values into some class
as floats, and run select percentile(samples,90) from "whatever".

even try

[2016-11-16 11:17] voondo commented on #6825
FYI an (ugly) workaround:

[code]

[2016-11-16 11:20] parle-g opened #6921 "Adding new spatial reference system native support in lucene Engine for OrientDB"
## OrientDB - v2.2, Lucene Engine.

##
I am working on an Open Source GIS project and new to Spatial Reference systems and would like to discuss something on the same.

As we know the new Lucene Plugin for OrientDB (version 2.2) is enhanced with Support of Complex Geometry like line, polygon etc.
I am exploring on adding a new spatial reference system native support for storage and retrieval of sp

[2016-11-16 11:29] maggiolo00 commented on #6903
hi @austx

if you can provide a dataset and a query to reproduce this issue would be cool

My email is
e.risa@orientdb.com

[2016-11-16 11:29] jamieb22 opened #6922 "Very high memory consumption"
## OrientDB Version, operating system, or hardware.

2.2.12 (and later 2.2.14)

## Operating System
- [X ] Linux

## Expected behavior and actual behavior

Embedded Orient DB appears to be consuming between 2GB and 4GB of memory on our server. The net result is that our server gets stuck in major collections, CPU usage sky rockets, the application becomes totally unusable. We are not storing large

[2016-11-16 11:51] prakashpandey commented on #6922
I am using Orientdb JDBC in multi-threaded application , almost not storing anything in program.

I provided 521mb heap(for testing), and I got heap after 2 hrs.

[This is my sudo code](http://stackoverflow.com/questions/40013369/orientdb-java-heap-error/)

I request people at orientdb , please release a tutorial for multithred system, doing (similar ) [this](http://stackoverflow.com/questions/400

[2016-11-16 12:19] voondo commented on #6918
You have to look at `distributed.autoRemoveOfflineServers` (default -1) https://orientdb.com/docs/last/Configuration.html#distributedautoremoveofflineservers

[2016-11-16 12:48] maggiolo00 commented on #6903
Thanks @austx

[2016-11-16 13:24] tglman commented on #6906
hi @diegomtassis

Thanks for the review, i fixed the condition, it's been released already in 2.2.13, i'm closing this.

Bye

[2016-11-16 13:24] #6906 closed

[2016-11-16 13:42] maggiolo00 commented on #6896
hi @temilmg

do you see some exception on OrientDB logs?

[2016-11-16 14:11] tglman commented on #6919
hi @kerner1000,

No much difference, the only thing is the `rid.getRecord()` rely on thread local.

here how is actually implemented the `rid.getRecord()` https://github.com/orientechnologies/orientdb/blob/develop/core/src/main/java/com/orientechnologies/orient/core/id/ORecordId.java#L329

I would suggest to use most of the time db.load so in long term we can remove the thread local from the orien

[2016-11-16 14:32] maggiolo00 commented on #6900
Thanks @Bonizzi

let me check

[2016-11-16 15:04] prakashpandey commented on #6918
**I tried by giving**  `distributed.autoRemoveOfflineServers = 0`.

Below is my database connection code :

`distributed.autoRemoveOfflineServers = 0`

`Properties info = new Properties();
				info.put("user", "root");
				info.put("password", "pcp");
				info.put("distributed.autoRemoveOfflineServers", "0");
				Connection conn = (OrientJdbcConnection) DriverManager.getConnection("jdbc:orient:rem

[2016-11-16 15:26] prakashpandey commented on #6887
Is sequence.next() thread safe?

[2016-11-16 15:34] lvca commented on #6887
Yes.

[2016-11-16 15:37] Ken-Michalak commented on #6853
@laa I sent it to you in an email. Did you get it? Is there another way you would like me to send it to you?
(I noticed that this is still flagged as "waiting reply".)

[2016-11-16 15:46] tglman commented on #6598
hi @rdelangh,

we had done some refactor in the past for support streaming that was creating a few issue, so we almost reverted it, now is enabled only if there is an "TE" header.

The error Socked Closed is throw by java when you try to read or write data to/from a socked that is closed, i guess this can happen if the "Keep-Alive" header is set to true but the connection is closed, anyway i'm goi

[2016-11-16 16:10] lvca commented on #6918
You can't use that setting through JDBC, but you have to put it in `orientdb-server-config.xml` file, in the last section.

Starting from OrientDB 2.2.13 (GA, not SNAPSHOT) you can also set this in your `distributed-config.json` file this setting: `"newNodeStrategy": "dynamic"`. This is the whole file:

[code]

[2016-11-16 16:26] kerner1000 commented on #6919
Many thanks for the fast reply!

That would be good! The thread local db instance was not the best design decision I think. Anyways great work, thanks a lot!

[2016-11-16 16:27] laa commented on #6853
Hi @Ken-Michalak , it should be fixed in 2.2.13 version. Could you try it  ?

[2016-11-16 16:31] lvca commented on #6915
Please upgrade to 2.2.13.

[2016-11-16 16:33] lvca commented on #6916
Hi @mongoose666, first I don't suggest you to use 3.0.0-SNAPSHOT because it's still in development. Please retry with last 2.2.13 GA and let me know how is going. Thanks.

[2016-11-16 16:42] andreafalzetti commented on #4978
👍

[2016-11-16 19:15] tomasaftalion commented on #6915
switched 2.2.13 but the problem persists. Still getting

`Quorum (2) cannot be reached because it is major than available nodes (1)`

checked distributed-config.json and it still contains the terminated node, it wasn't automatically updated.

[2016-11-16 19:27] austx opened #6923 "Studio Graph Editor remember last graph but not query"
## OrientDB Version, operating system, or hardware.
- v2.2.13  (since 2.2.11)

## Operating System
- [ x] Linux

## Expected behavior

## Actual behavior
If keeping graph in buffer the query(select or match) should also be "remembered"

## Steps to reproduce the problem
run a query and go to SCHEMA and back again to GRAPH. The query you used is gone but the
graph comes back. If you log off and log

[2016-11-16 19:30] austx opened #6924 "Studio always suggests root login"
## OrientDB Version, operating system, or hardware.
All versions

## Operating System
- [x ] Linux

## Expected behavior and actual behavior
Suggest either empty(w/drop-down), or admin as default

## Steps to reproduce the problem
fire up studio.

[2016-11-16 21:20] mongoose666 commented on #6916
Hi @lvca,
    Thanks for the prompt reply :)
    The same issue is in 2.2.12 as well -  I went to 3.0.0-SNAPSHOT to see if it had been fixed.

    Also I might add there is a serious issue with getString( "@rid" ) and getObject( "@rid" ) within the JDBC Result Row where a <b>null</> document check is <b>not</b> performed and then choosing the document.getIdentity() from the Result Row to return th

[2016-11-17 02:25] alexmm11 opened #6925 "Datetime UTC format"
## OrientDB Version, operating system, or hardware.
OrientDB 2.2.13 community edition

## Operating System
- [x] Linux - Ubuntu 16.04
- [ ] MacOSX
- [ ] Windows
- [ ] Other Unix
- [ ] Other, name?

## Expected behavior and actual behavior
I'm trying to store ISO 8601 Dates in this format:
2016-11-16T15:30:25.000Z -0800
2016-12-13T12:40:15.000Z -0800

I changed the datetime format for the database:

[2016-11-17 08:02] mongoose666 commented on #6916
@lvca I would also like to mention that I am running to separate JVMs but in "Embedded" mode as this is paramount for our application. As we are already running a server core and wish to be able to start and stop various portions of the application as needed via administrative interfaces of varying types (application, web etc). I am not sure if it's because I am running it in Embedded mode or not

[2016-11-17 09:24] prakashpandey commented on #6918
**By `distributed-config.json`  do you mean  `config/default-distributed-db-config.json` because there is no such file  `distributed-config.json` in my `conf` directory.**

**If yes then  "newNodeStrategy": "dynamic"`` din't worked**.

Here is my default-distributed-db-config.json for both servers (server1 and server2)

server1

[code]

Server2

[code]

Got same error :

[code]

[2016-11-17 09:27] rcdiaz commented on #6913
help

[2016-11-17 09:31] prakashpandey commented on #6918
Here is few more things I tested :

- Set up a distributed node server (**Server1 & Server2**)
- Connect to database as follows (Server1 IP first, then Server2)

[code]

- Keep Server1 offline and run your program

- Got the same error

[code]

default-distributed-db-config.json is same on both server and it's

[code]

This is very simple use case and I think this should at-least work

[2016-11-17 09:46] maggiolo00 commented on #6924
@austx

that is probably the browser that fill the form with root login

[2016-11-17 10:17] prakashpandey commented on #6924
clear your auto save password for orientdb

[2016-11-17 10:36] tglman commented on #6913
hi @rcdiaz,

No is not possible to get out record without metadata, this are needed to reassociate the persistent data in case of update.

Bye

[2016-11-17 10:50] lvca commented on #6915
Set `  "newNodeStrategy": "dynamic",` in your `distributed-config.json` file under all the database's directories. Example:

[code]

[2016-11-17 10:50] lvca commented on #6915
In v2.3 dynamic will be the default, but we cannot change the default behaviour in an hot-fix, sorry.

[2016-11-17 10:50] #6915 closed

[2016-11-17 10:52] lvca commented on #6918
Once the cluster is running the distributed cfg is the one stored in each database's folder. Please set that `  "newNodeStrategy": "dynamic"` in all of them.

[2016-11-17 10:52] lvca commented on #6918
In v2.3 dynamic will be the default, but we cannot change the default behaviour in an hot-fix, sorry.

[2016-11-17 11:10] StarpTech commented on #6913
HI @tglman whats in the case of temporary rids? You dont need them for anyhting.

[2016-11-17 11:27] tglman commented on #6913
hi All,

Temporary rids are used in many places to reassociate references and define an unique identifier for each item of result of a projection query, as today the data structures of a projection query are the same of a persistent result set. This cannot be changed right now.

In any case we may evolve with new api that not require this in formation in case of projections, but nothing possible y

[2016-11-17 11:34] austx commented on #6924
Yes, of course. Thanks!

[2016-11-17 11:34] #6924 closed

[2016-11-17 12:27] prakashpandey commented on #6918
Dear Luca,
thanks for your prompt reply.

I did what you said, `"newNodeStrategy": "dynamic"` on both server **but got same error**

[code]

**distributed-config.json file of my database on both server :**

`{"@type":"d","@version":0,"autoDeploy":true,"readQuorum":1,"writeQuorum":"majority","executionMode":"undefined","readYourWrites":true,"newNodeStrategy":"dynamic","servers":{"@type":"d","@versi

[2016-11-17 12:38] TheAdamGalloway opened #6927 "Errors with Importing and Exporting"
I'm not sure how to label the issues that I'm having, since I'm unsure whether they are bugs or I'm simply doing something wrong. Though it seems that no matter what I try, I am unable to import/restore a database from my local machine to a remote server.

All I am trying to do is import a database that I have locally for use on the server.
The first thing I tried was doing a simple 'export databa

[2016-11-17 13:35] tglman commented on #6927
hi @TheAdamGalloway,

We fixed few bugs on this topics you should setup on the server the last stable verision of orientdb, that currently is 2.2.13.

Hope it helps.

[2016-11-17 13:40] tglman commented on #6598
hi @rdelangh,

I fixed a wrong flag on the streaming and add a debug line, in case is needed we can track the stack trace of eventual errors, due to the fact that you where already trying the snapshot, can you try the last snapshot ?

Bye

[2016-11-17 13:42] prakashpandey commented on #6918
One more thing I want to ask

- I put my first server down (for testing), and run my application
- connected to db as  follows

[code]

What it should ideally do is : connect to `IP+PORT2` as `IP+PORT1` is offline.

**But I is giving same error**

[code]

**Note** : vale of `"newNodeStrategy": "dynamic"` in `distributed-config.json`

[2016-11-17 13:46] tglman commented on #6852
fixed and released, closing

[2016-11-17 13:46] #6852 closed

[2016-11-17 13:47] tglman commented on #6541
fixed and released, closing

[2016-11-17 13:47] #6541 closed

[2016-11-17 13:47] tglman commented on #6836
the fix has been released, closing

[2016-11-17 13:47] #6836 closed

[2016-11-17 13:52] TheAdamGalloway commented on #6927
Hey @tglman,

I was thinking of updating but decided not to because of the issues with migrating the current databases. If I update now, will I have any issues with the current databases?

Thanks

[2016-11-17 13:55] tglman commented on #6927
Hi @TheAdamGalloway,

Between hotfixes we guarantee disc and API compatibiilty, so you should not have any issue.

Regards

[2016-11-17 13:57] TheAdamGalloway commented on #6927
@tglman

Thanks. Will I have to manually import and export, or can I just copy over the config and database directories?

[2016-11-17 14:00] tglman commented on #6653
Hi @rcramu,

Do you have news on this issue? did you try lastest hotfix? do you still have problems ?

[2016-11-17 15:30] rdelangh commented on #6598
@tglman
thx for that;
I am running now with orientdb-community-2.2.14-20161116.124700-1 ; can you please confirm in which snapshot your modifications have been/will be included ?

[2016-11-17 17:11] tglman commented on #6598
the commit was done today, so better a snapshot > 17 over the midday, like 2.2.14-20161117.160515

[2016-11-17 17:38] lvca commented on #6918
Ok, with the old configuration both servers are registered. Please remove both servers from the "servers" configuration:

`"servers": []`

[2016-11-17 20:39] tomasaftalion commented on #6915
No problem! thank you, worked.

[2016-11-18 01:08] vtliem opened #6928 "OStorageException: Invalid value of TX counter (Exception during commit of active transaction)"
## OrientDB Version, operating system, or hardware.
- v2.2.12

## Operating System
-  Linux

## Expected behavior and actual behavior

## Steps to reproduce the problem

I'm not sure if it's a bug because ` java.lang.OutOfMemoryError: GC overhead limit exceeded` raised.
It's a chat server. When I send many messages in short time (600~1000 in about 10minutes). This exception raised. After that, any

[2016-11-18 02:29] jamieb22 commented on #6922
The problem happens also with Orient DB 2.2.13. Our server locks up due to very high memory consumption of Orient DB after about two days of operation.

[2016-11-18 06:54] laa commented on #6922
Hi @jamieb22 how much storages do you open at once on single node, 66 ? Or that is only one storage ?

[2016-11-18 06:58] laa commented on #6928
Hi @vtliem that is definitively caused by out of memory exception. Could you raise amount of memory, but before that could you make import/export procedure to fix possible issues with database ?

[2016-11-18 06:58] prakashpandey commented on #6918
I did "servers": []

distributed-config.json file of server 2 :

`{"@type":"d","@version":0,"autoDeploy":true,"readQuorum":1,"writeQuorum":"majority","executionMode":"undefined","readYourWrites":true,"newNodeStrategy":"dynamic","servers":{"@type":"d","@version":0,"*":"master","server1":"MASTER","server2":"MASTER"},"clusters":{"@type":"d","@version":0,"internal":{"@type":"d","@version":0},"*":{"@ty

[2016-11-18 07:46] jamieb22 commented on #6922
I am not sure exactly what you mean by "stores". We are opening about twenty of these: graphFactory = new OrientGraphFactory(database.location);
On many of these database, there is not much data being stored, on others there is more data.Why would adding more "stores"be a problem?

[2016-11-18 07:46] jamieb22 commented on #6922
I have downgrade Orient DB to v2.2.11 in the interim.

[2016-11-18 07:55] laa commented on #6922
@jamieb22 by storage I mean database. I do not think that downgrade to 2.2.11 will solve the issue.
Each database has a local cache of loaded edges. I suggest you set ```sbtreebonsai.linkBagCache.size``` parameter to 5000 to fix this problem.

[2016-11-18 08:18] jamieb22 commented on #6922
Lets assume that Orient DB consumes 2GB of memory. That means that Orient is consuming 100MB of memory per database. I don't even think many of the databases are that size. Seems excessive for a database.

[2016-11-18 08:26] laa commented on #6922
@jamieb22 according to you thread dump in picture you have 66 instances of edge managers, each database contains single edge manager. Could you look at heap dump and send me how much instances of OLocalPaginatedStorage do you have ? Because if we consume 2GB memory and we have 66 instances it gives about 30 MB of memory per each. Taking in account that only amount of code (I mean Java classes whic

[2016-11-18 08:26] jamieb22 commented on #6922
Andrey.. We have these other parameters set:
		OGlobalConfiguration.STORAGE_LOCK_TIMEOUT.setValue(300000);
		OGlobalConfiguration.RID_BAG_EMBEDDED_TO_SBTREEBONSAI_THRESHOLD.setValue(-1);
		OGlobalConfiguration.FILE_LOCK.setValue(false);
Are they correct? Should we apply any other settings besides:
	OGlobalConfiguration.SBTREEBONSAI_LINKBAG_CACHE_SIZE.setValue(5000);

[2016-11-18 08:28] jamieb22 commented on #6922
Shouldn't the caches be shared across all databases?

[2016-11-18 08:30] jamieb22 commented on #6922
Ok. That's about right, but most of those databases are not used / empty. Considering, I need to scale up to 500 databases on one server. What should the Orient DB settings be?

[2016-11-18 08:31] laa commented on #6922
@jamieb22 yes just add OGlobalConfiguration.SBTREEBONSAI_LINKBAG_CACHE_SIZE.setValue(5000); to the list.

[2016-11-18 08:32] laa commented on #6922
Let me think may be that is possible.

[2016-11-18 08:42] jamieb22 commented on #6922
Another idea: can't Orient Db have some kind of intelligent cache sizing? I.e. monitor performance of queries and scale the size of the cache dynamically taking into account available heap memory / upper bound limit. Clearly, if the major GC's are occuring Orient DB is pushing it too far on cache sizes, then logical step would be to reduce cache sizes dynamically.

[2016-11-18 08:42] jamieb22 commented on #6922
A performance feature (i.e. cache) shouldn't get in the way of the proper functioning of a database.

[2016-11-18 08:51] laa commented on #6917
@luigidellaquila this storage exception is thrown outside of storage and misleading  that is bug with squence not with storage. NPE happens there com.orientechnologies.orient.core.metadata.sequence.OSequence#getSequenceType(com.orientechnologies.orient.core.record.impl.ODocument) .
The first thing which we need is normal logging of exceptions. I mean presence  of full stack trace @maggiolo00 , is

[2016-11-18 08:58] lvca commented on #6915
Cool, thanks.

[2016-11-18 09:26] vtliem commented on #6928
I changed from
`-Xmx1000m -Dstorage.diskCache.bufferSize=500`
to `-Xmx2000m -Dstorage.diskCache.bufferSize=500` and can send 1000 message in 10minutes.

I also did import/export to clean up database.

I read OrientDB document and found

but if limit heap too low, `java.lang.OutOfMemoryError: GC overhead limit exceeded` raises if do a big transaction or many write in a short time (db is not too big

[2016-11-18 09:43] laa commented on #6917
@aligin could you try this build https://drive.google.com/file/d/0B2oZq2xVp841V3lDYmNJSUpRb1U/view?usp=sharing and open database ?

[2016-11-18 09:51] aligin commented on #6917
Hello @laa. Yes, the database now opens.

[2016-11-18 10:15] lvca commented on #6918
When you stop the cluster, are you 100% sure you set `"servers": []` in all `distributed-config.json` files of all the databases directories of all the servers?

What really matter is the first server that starts, you could even change it on the first server only (the file in the database directories) and then start the other servers. The other servers just download the configuration from the firs

[2016-11-18 10:23] laa commented on #6917
@aligin Cool I will reassing to @lvca for final fix

[2016-11-18 10:25] laa commented on #6533
@lvca do you still have those ones ?

[2016-11-18 10:39] laa commented on #6928
@vtliem if your db is about 1-2GB that is OK for disk cache size.

[2016-11-18 10:39] #6928 closed

[2016-11-18 10:42] prakashpandey commented on #6918
Ok ..! I will try it with a fresh installation.

and will shortly report back..!

Do you want me to make
 `"servers":{"@type":"d","@version":0,"*":"master","server1":"MASTER","server2":"MASTER"}`
also blank i.e
"servers":{}

[2016-11-18 11:00] laa commented on #6870
Hi @vlasni will it solve  your issue ?

[2016-11-18 11:10] vlasni commented on #6870
Hi @laa,
I chose to follow your advice on not using rids in dependent applications
so I didn't need to use it.

Thanks
Adrián

El nov. 18, 2016 8:00, "Andrey Lomakin" <notifications@github.com> escribió:

[2016-11-18 11:12] laa commented on #6870
OK @vlasni I close issue then

[2016-11-18 11:12] #6870 closed

[2016-11-18 11:13] laa commented on #6853
@Ken-Michalak could you confirm ?

[2016-11-18 11:16] #6900 closed

[2016-11-18 11:22] maggiolo00 commented on #6808
Thanks

@rdelangh

[2016-11-18 11:22] #6808 closed

[2016-11-18 11:23] maggiolo00 commented on #6762
Thanks

@rdelangh

[2016-11-18 11:23] #6762 closed

[2016-11-18 11:28] maggiolo00 commented on #6857
@obi1kenobi

in case you don't create the default users Studio cannot guess valid credentials.
Do you suggest to use root credentials?

[2016-11-18 11:29] maggiolo00 commented on #6841
@tanhv90

any news ?

Thanks

[2016-11-18 11:30] prakashpandey commented on #6918
Dear Luca,

**It worked** :+1 (when one node goes down it shift to other):

But here are few issues I got during my Testing of Orientdb v2.2.13 :

I have two servers `server1 & server2`

1. When `server1 `went down it shifted to `server2`  **but when `server1` came online I got the following message and exception on console**

[code]
2. Writing **speed** at `server2 ` is **slower** than writing sp

[2016-11-18 11:30] tanhv90 commented on #6841
Hi @maggiolo00 ,

No news.

Thanks

[2016-11-18 11:33] maggiolo00 commented on #6840
@austx
the fix wasn't included in snapshot but it's in the 2.2.13 GA

Thanks

[2016-11-18 11:33] #6840 closed

[2016-11-18 11:37] maggiolo00 commented on #6841
@tanhv90

sorry i miss your comment :D

I'm working on it now

[2016-11-18 11:43] tanhv90 commented on #6918
Hi @prakashpandey

Seem that your configuration is wrong.

It means that OrientDB need N/2 + 1 servers alive in case you want to write something to DB.
with N is number of servers. In your case it is: 2/2 + 1 = 2 servers.

Please refer to [this link](http://orientdb.com/docs/2.2/Distributed-Configuration.html#default-distributed-db-configjson) for more detail information.

Hope this help.
Thanks.

[2016-11-18 12:22] maggiolo00 commented on #6841
@tanhv90

i've reproduced locally. By default the script pool size is 20.
I've increased it to 50 and all seems fine

you can use this

http://orientdb.com/docs/2.2/Configuration.html#scriptpoolmaxsize

[code]

[2016-11-18 12:28] tanhv90 commented on #6841
Hi @maggiolo00

Thank you. It works fine.
Please help close this issue.

Btw, I don't really understand some settings: script.pool.maxSize, db.pool.maxSize, graph.pool.maxSize.
Could you please help explain them?

Thanks.

[2016-11-18 12:38] prakashpandey commented on #6918
Hi Tan Ho,

I tried with 3 Nodes `server1, server2, server3` all running in distributed mode.

When `server1 `went down and came back **got same exception**

My writeQuorum is default (majority)

3/3 + 1 = 2 (**`server2, server3 are alive`**)

- when server1 went offline, other 2 server worked well
- but when server1 came back online , got same exception

[code]

[2016-11-18 13:59] maggiolo00 commented on #6841
@tanhv90

there are 2 pools,

**script.pool.maxSize** :  Number of  Script Engine instances  in the  pool for executing the script
**db.pool.maxSize** : Number of DB instances in the pool for accessing the data

[2016-11-18 14:36] lvca commented on #6918
Hi, VertexService is your class, so the NPE is on your code. Could you please share it with me?

[2016-11-18 14:37] lvca commented on #6533
Not anymore.

[2016-11-18 14:37] #6533 closed

[2016-11-18 14:38] lvca commented on #6917
What's the remaining issue?

[2016-11-18 14:54] obi1kenobi commented on #6857
Yes, of course. Three reasons this makes sense:
- it's currently guessing invalid credentials and hurting the user experience;
- using the provided root credentials is what the OrientDB console does when you create a new database;
- it's consistent with the existing behavior -- the existing behavior was to log the user in as an admin, and the root credentials have admin-level access to the databas

[2016-11-18 15:19] tglman commented on #6572
hi @Ivanov-Yuriy

This has been released any chance to check it ?

Regards

[2016-11-18 15:24] tglman commented on #4259
Hi @BrunoSupiot,

Did you have any change to try the suggested solution ?

Bye

[2016-11-18 17:02] borov333 opened #6929 "Create edge from an existing to a new vertex in the same transaction"
## OrientDB Version, operating system, or hardware.
- v2.2.12

## Operating System
- [X] Linux
- [X] MacOSX

## Expected behavior and actual behavior
This is a feature request based on the google goop discussion https://groups.google.com/forum/#!topic/orient-database/DE8gF1-7MwE.

When I create a new vertex (document) I want to be able to create an edge from an existing document to the newly creat

[2016-11-18 18:18] tglman commented on #4139
this is fixed in 2.2.x branch, will be released in 2.2.14

[2016-11-18 18:18] laa commented on #6929
@borov333 do you use remote storage , do not you ?

[2016-11-18 18:28] laa commented on #6917
This behaviour
"I've created a sequence that is used to generate unique Ids for my entities. At some point orient started to log errors on sequence.next() (null.next() error). " caused presence of broken sequences in database.  Now we just ignore them on database open, but I suppose that sequence data should not be broken.

[2016-11-18 18:44] austx opened #6930 "Verbose SQL CREATE EDGE(console.sh)"
## OrientDB Version, operating system, or hardware.
- v2.2.13

## Operating System
- [ x] Linux

## Expected behavior and
Created edge <whatever> ...

##Actual behavior
console.sh running osql-script which shows like in "debug mode".
Created edge 'com.orientechnologies.orient.core.sql.query.OBasicResultSet@111d' in 0.003000 sec(s).

## Steps to reproduce the problem
run a script by console.sh that

[2016-11-18 18:45] obi1kenobi commented on #6925
As an aside, note that your dates are not in proper ISO 8601 form and are actually ambiguous on which time zone they have -- the Z at the end in ISO 8601 indicates "zulu" time, i.e. +0000, which contradicts the -0800 after it.

[2016-11-18 18:54] StarpTech commented on #4139
Hi @tglman great News can you reference the commit.

[2016-11-18 18:55] obi1kenobi opened #6931 "MATCH bug in location existence check"
## OrientDB Version, operating system, or hardware.
- v2.0 SNAPSHOT[ ] - .18[ ] .17[ ] .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.1 SNAPSHOT[ ] - .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.2 SNAPSHOT[ ] - .13[x] .rc1[ ] .beta2[ ] .beta1[ ]

## Operating Syst

[2016-11-18 20:04] rdelangh commented on #6598
@tglman
I have just installed and started version 2.2.14-SNAPSHOT-20161118.121331-4, but the logs still spawn at each connection-termination these lines:
[code]

So apparently there is still something else not dealing right with the end of HTTP (REST) connections...

[2016-11-18 20:58] borov333 commented on #6929
Yes, I do use remote.

[2016-11-18 21:40] DThink opened #6932 "no edge has been created because no source vertices"
[code]
sometimes i received this error

**{
    "error": "com.orientechnologies.orient.core.exception.OCommandExecutionException: No edge has been created because no source vertices\r\n\tDB name=\"MyApp\""
}**

now i solved the problem. is not in the transaction but in the login session. i can create a edge only if i logged with a VERTEX user. but sometimes when i open a new schede by the studio d

[2016-11-18 22:48] rdelangh commented on #6666
@lvca
hi Luca,
- running now with version 2.2.14-20161118.121331-4 on the 1st node, started with "dserver.sh"
- started same on 2nd node, which seems now to be retrieving a copy of the 1st database "navi "(34GB size): ```
...
2016-11-18 23:43:32:691 INFO  [orient3] - writing chunk #658 offset=5511143934 size=8.00MB [OHazelcastPlugin]
2016-11-18 23:43:37:504 INFO  [orient3] - writing chunk #659 off

[2016-11-19 02:43] tanhv90 commented on #6841
@maggiolo00

Thank you!

`script.pool.maxSize : Number of Script Engine instances in the pool for executing the script`
**Script Engine** is used for running User Define Functions via HTTP API, right?

[2016-11-19 07:06] prakashpandey commented on #6922
@laa I to have same memory problem(**memory heap**) with orientdb v2.2.13.

**In one comment you asked** "how much storages do you open at once on single node, 66 ? Or that is only one storage ?"

**In my use-case (50 threaded application) in every rest-request(my java application handle it), I receive data to store (vertex, edge name) + the database name in which it has to store .**

e.g  `'A' go

[2016-11-20 08:40] nayansri commented on #6881
Thanks @santo-it, was disconnected since last few days. It really helped and sorry for creating an issue for such an easy task.

[2016-11-20 08:40] #6881 closed

[2016-11-20 09:08] rdelangh commented on #6666
@lvca
- The sync of database "navi" (35GB) has completed
- now still busy with big dbase "cdrarch" (850GB) : the method seems to be that a full backup is taken on the 1st node into /tmp/orientdb/backup_cdrarch.zip, a file which is now already approx 355GB size!
- on the 2nd node, a file /tmp/orientdb/install_cdrarch.zip is collected with seemingly same contents because it has same size as the file

[2016-11-20 16:42] santo-it commented on #6881
Thanks to you @nayansri - not a problem: we are glad to help

Regards,

[2016-11-20 20:50] mmacfadden commented on #5146
I just ran into this issue in 2.2.11.  Adding

`ODatabaseRecordThreadLocal.INSTANCE`

To the code fixed the issue.

[2016-11-21 06:38] kwoxer commented on #6664
Now down. So 6-7 days. Puh I no idea. This is like random I believe...

[2016-11-21 08:21] laa commented on #6664
@tglman @maggiolo00 could yo look at last exceptions ? I do not think that they are related to memory consumption in storage it is more like protocol issue

[2016-11-21 08:55] #5069 closed

[2016-11-21 08:59] rdelangh commented on #6666
@lvca
The amount of data that should be replicated from one server node to another should rely on the "distributed-db-config.json" contents:

I know that the default file specifies that each and every server node would get a full copy of the database clusters, but for sure this will not always be the case.
Like in our config, we replicate only specific cluster-name patterns to specific server node

[2016-11-21 10:26] luigidellaquila commented on #6931
Hi @obi1kenobi

I'm working on this right now

Thanks

Luigi

[2016-11-21 10:36] maggiolo00 commented on #6664
@kwoxer

it could be related to Http streaming, try to disable it by adding

[code]

[2016-11-21 11:03] TheAdamGalloway commented on #6927
Update: I have upgraded to Orient 2.2.13, but I am **still** getting 401 unauthorised errors after doing a fresh restore of the database. Everything is imported correctly, and I can log in successfully through the console, but not through the console.

[2016-11-21 11:04] santo-it commented on #6839
Hi @austx,

Many thanks for opening this issue and for your feedback

I have discussed internally with @robfrank and we are considering to support the following additional case:

- schema less (so no properties defined)
- no cast (the values will be imported as they are)

This will handle the case of the following situation: a column (property) where you have different data types, e.g.

0
2.8
"hel

[2016-11-21 11:26] tglman commented on #6929
hi @borov333,

In remote sql operation are run outside the transaction, so you need to use java api for create the vertex.

here the documentation about it : http://orientdb.com/docs/last/Transactions.html#breaking-of-acid-properties-when-using-remote-protocol-and-commands-sql-gremlin-js-etc

Regerds

[2016-11-21 11:34] maggiolo00 commented on #6932
@DThink

yes if you login with root, that does not have a record in your database, that create edge will
fail.
Which bug in the login session?

[2016-11-21 11:45] tglman commented on #6927
hi @TheAdamGalloway,

Do you have problem with studio or the console ?

Bye

[2016-11-21 11:48] tglman commented on #6825
hi @voondo,

Nice investigation, i'll check why we do that reload and try to figure out what's is going wrong, do you have test case that directly replicate the problem ?

Bye

[2016-11-21 11:48] austx commented on #6839
Hi santo-it et al.,

thanks for getting back to me. I use schema less when loading new data from
mass cytometry.
I have included an example(converted to csv). I use a shell script when
preparing data for ETL,
so this is the raw version before my prep. The prep does several
operations, one is substituting
0 by 0.0.
Please have a go at the included file and consider the options.

I could appreciate

[2016-11-21 11:52] voondo commented on #6825
hi @tglman, thanks. Unfortunately I don't have a test case but I'll try to write one.

[2016-11-21 11:57] tglman commented on #6925
hi @alexmm11,

The `DATETIMEFORMAT` set only the way you are going to give the date to the database, and how is going to print them out, in case you give a date with as different timezone is converted to the database timezone and stored with that, there is no way to store a date with a different timezone, anyway you can convert the date to a different timezone in your application.

Bye

[2016-11-21 11:59] TheAdamGalloway commented on #6927
@tglman I was having problems with the Studio, and with remote access using the console. I changed the permissions on the database directory to 777, and it started working, so it must be a permissions error on my part.  I've sorted it now, though no idea why the permissions are like that.

[2016-11-21 12:40] smolinari commented on #5069
@robfrank - does the closing of this issue mean it is now part of 3.0?

Scott

[2016-11-21 12:51] tglman commented on #4139
hi,

I linked it to the github issue, here it is: https://github.com/orientechnologies/orientdb/commit/4fcb97b1a94b4d89891c326a12b1a7ebcb7e307c

bye

[2016-11-21 13:21] lvca commented on #6666
@rdelangh if you have sharding (like I see in your cfg above), OrientDB will synchronize only the needed clusters, but depending on the size and the network, this could take a lot of time.

For the first time only, you could evaluate also to physically copy the database in all the server before to start OrientDB with `"autoDeploy":false` setting. In this way the server will start in zero time and

[2016-11-21 14:39] maggiolo00 commented on #6930
Hi @austx

fixed, it will be available in 2.2.14

[2016-11-21 14:39] #6930 closed

[2016-11-21 14:45] robfrank opened #6934 "Empty stopwords are not allowed"
A conf like that:
[code]
throw exceptions

[2016-11-21 14:51] tglman commented on #6927
hi @TheAdamGalloway,

Anyway the import was it ok? can we close this ?

[2016-11-21 14:54] #6934 closed

[2016-11-21 15:24] maggiolo00 commented on #6841
@tanhv90
yes

[2016-11-21 15:25] #6841 closed

[2016-11-21 15:42] maggiolo00 commented on #6857
@obi1kenobi

yes the thing is that by logging with root you don't get some feature like graph config saving and other stuff associated with the db user.

[2016-11-21 16:11] obi1kenobi commented on #6857
While that may be true, it is still infinitely preferable to what I get now -- a series of errors that break the entire web interface until I refresh and manually log in. Try it for yourself and you'll see how annoying it is.

If the user wants graph config saving and the other bells and whistles, they can create a db user and then log in again with that user. In the case where the user explicitly

[2016-11-21 16:39] maggiolo00 commented on #6677
Hi @hadson19

Fixed, it will be available in 2.2.14

[2016-11-21 16:39] #6677 closed

[2016-11-21 17:33] tglman commented on #6664
hi @laa @kwoxer,

The exception in the stacktrace just point out that socket have been closed, and that's normal in case the server get killed in the middle of operations.

So @kwoxer we are assuming that the server get killed from the OS because is going out of the System memory, can you try to track the history of the process memory with some scheduled task (like a simple cron script) and in cas

[2016-11-21 18:14] kwoxer commented on #6664
@maggiolo00 I don't believe that this will help me. I have a memory issue and streaming does not seem to make any influence on this I think.

@tglman that sound quite good. But I have no idea how I can track the memory together with the crashing server. How can I set something up that does the whole job for me?

Could you please give me a concrete example? Thank you.

[2016-11-21 18:43] smallik commented on #6558
any update on this bug?

[2016-11-21 19:04] temilmg commented on #6267
I have tried to run it again, the same way as the documentation, and in 2.2.13 its still not working. This time it doesn't call into the method
@Override public boolean result(Object iRecord) {}
Could anybody please provide a working code example so I can see how to use nonblocking queries, because I can't get it to work at all?

[2016-11-21 19:15] temilmg commented on #6896
No, all I get is the above stack-trace when running my code

[2016-11-21 21:33] TheAdamGalloway commented on #6927
@tglman Yeah, fine in the end, I'll close it.

[2016-11-21 21:33] #6927 closed

[2016-11-22 05:55] prakashpandey commented on #6918
I solved it.

I think it take some time to switch between servers(when one server goes down)
**Null pointer exception was because it take some time to switch between servers and if you hit server between switching** you get this exception,

[code]

**I solved it by making thread sleep for some time and than everything executed well.**

The only problem I am facing now is :

When it switch from Ser

[2016-11-22 06:13] weixliu opened #6935 "records insert rate become more and more slow."
## OrientDB Version, operating system, or hardware.
- v2.2.13

## Operating System
- [x] Linux

I have some performance problem. Maybe it's my config problem.

The total vertex maybe contain 60,000,000~70,000,000 . I use 40 thread to insert all these vertex , but when I insert these record, I found that the insert rate is more and more slower. At the beginning, about 1000 records per second. But w

[2016-11-22 08:13] taburet commented on #6922
@prakashpandey as a temporary workaround you may lower the value of `sbtreebonsai.linkBagCache.size`/`OGlobalConfiguration.SBTREEBONSAI_LINKBAG_CACHE_SIZE`, that is the size of the per-database edge cache. Working on the global/unified edge cache now to put the total caches size under control.

[2016-11-22 08:36] youzp opened #6936 "Distribution means each master server get full copy of database?"
## OrientDB Version, operating system, or hardware.
- v2.2.12

## Operating System
- [ *] Linux

## Expected behavior and actual behavior
My orientdb distributed system has five machines, all of which are master, which are inserted about 300 thousand vertices, and find that the size of the database for each machine is almost the same，why？It is worth knowing just why this is so, do distribution of

[2016-11-22 09:23] laa commented on #6935
@weixliu how many cores do you have ? Is it 40 ?

[2016-11-22 09:36] laa commented on #6797
@jamieb22 any updates about this issue ? Did change of settings help in resolving the issue ?

[2016-11-22 09:38] laa commented on #6773
@vlasni could you try latest 2.2.13 version , it should contain this change.

[2016-11-22 09:42] rdelangh commented on #6666
@lvca
1) I have shut all instances of the server
2) started copying around all files of our 2 databases
3) do I also need to copy the database "OSystem" from 1st server node to the other servers? Does it contain anything specific for a server node?

[2016-11-22 09:42] prakashpandey commented on #6922
@taburet  these settings are under which file,

or

How to execute these setting using JDBC driver.

Thanks..!

[2016-11-22 09:43] weixliu commented on #6935
Thanks for reply,

I use orientdb with single machine.
1.The physical cores number is 16, the logic cores number is 32.
2.RAM size is 64GB.
3.I set max heap size to 10G so that I can insert 30,000,000 records, then I can't insert any more. If I use the default setting, I only can insert half of it and the rate become very slow. Now I increase 10G to 20G,I can insert more before rate become to slow

[2016-11-22 09:43] laa commented on #6720
Hi @kerner1000 , you may use OPartitionedDatabasePool to acquire/shutdown instances inside of test methods. In general keeping of long living instances is not good idea.

[2016-11-22 09:44] taburet commented on #6922
Pass `-Dsbtreebonsai.linkBagCache.size=5000` to the JVM running JDBC driver.

[2016-11-22 09:53] laa commented on #6935
@weixliu what is your cache size or you use default parameters ?
What do you mean by "I can insert 30,000,000 records, then I can't insert any more" ?
What is your database size on disk when insert rate reaches 100  records per second ?

[2016-11-22 09:55] kerner1000 commented on #6720
Hi  @laa
Again thanks for helping out! I solved the problem (and a few others) by following @tglman suggestion to make the db instance method-local. For testing purposes I implemented a class that executes the db stuff in the same thread, so the whole thing is now also well testable.

[2016-11-22 09:55] #6720 closed

[2016-11-22 09:56] #6904 closed

[2016-11-22 10:41] taburet opened #6937 "Migrate RID bag cache to OClosableLinkedContainer or similar tech"
RID bag cache is now a global instance under the hood, not per-database as before, as a result threads contention is potentially raised. OClosableLinkedContainer offers caching facilities with good multi-thread performance.

[2016-11-22 10:44] taburet commented on #6922
Fixed in 2.2.x and develop branches. The fix will be available in the next 2.2.x series release. Closing.

[2016-11-22 10:56] weixliu commented on #6936
I think you are right, I found that all the machine have same databases,

Document from Official:
Auto-Sharding is not supported in the common meaning of Distributed Hash Table (DHT). Selecting the right shard (cluster) is up to the application. This will be addressed by next releases

http://orientdb.com/docs/2.2.x/Distributed-Sharding.html

[2016-11-22 11:09] weixliu commented on #6935
1.I don't change cache size, I just used default orientdb-server-config.xml.
2.I can't insert any more just the phenomenon from the client. Each time I processd a record I count. Then I see that a long time the count is same and don't change. At the same time database server CPU, Mem just down to 0.
3.database size on disk : 23G

[2016-11-22 11:20] lvca commented on #6666
@rdelangh No, the OSystem database is per server.

[2016-11-22 11:29] weixliu commented on #6935
Maybe below info from studio will give some hint.

| Session ID | Client | Address             | Database      | User  | Total Requests | Command Info  | Command Detail | Last Command On  | Last Command Info      | Last Command Detail                          | Last Execution Time | Total Working Time | Connected Since  | Protocol | Client ID | Driver                             | Commands      |

[2016-11-22 12:28] tglman commented on #6664
hi @kwoxer,

for monitor the memory you can run a simple cron every minute and log the process status.
ex script to log:
```ps aux | grep orient | grep -v grep >>/var/log/orientdb-memory.log```
ex script to get  a stack dump if memory exceed 300MB
```if [ `ps aux | grep orient | grep -v grep | awk '{print $6}'` -gt 307200 ];  then jstack  `ps aux | grep orient | grep -v grep | awk '{print $2}'` >o

[2016-11-22 12:31] laa commented on #6935
@weixliu could you when CPU is down  create thread dump and send it to me ?

[2016-11-22 12:33] laa commented on #6935
@weixliu also would be cool if you send me configuration setting, you may get them by logging into console and call command http://orientdb.com/docs/2.1/Console-Command-Config.html .

[2016-11-22 12:39] youzp commented on #6936
@weixliu thanks!

My application scene is a lot of write operations and a small amount of read operation, in this case, should be configured into a cluster inside a server?
for example?
"clustername_1": { "servers": ["serverA"] },
"clustername_2": { "servers": ["serverB"] },
"clustername_3": { "servers": ["serverC"] },
"clustername_4": { "servers": ["serverD"] }

[2016-11-22 13:17] voondo opened #6938 "Distributed: failure because of wrong user involved on remote nodes"
## OrientDB Version, operating system, or hardware.
- [x] v2.2.14-SNAPSHOT

## Operating System
- [x] Linux

## Expected behavior and actual behavior

It seems that sometimes the remote nodes (which don't initiate the request) use a wrong user to perform the operation.

Here is an example with 3 nodes. The transaction is made on node-01 with user *demo* (`#167:0`).
As you can see it fails because

[2016-11-22 14:12] maggiolo00 commented on #6921
Hi @parle-g

Thanks for your interest.
I was looking for other SRS support in lucene-spatial but i didn't find any documentation or example.

Under the hood lucene spatial uses this two library

https://github.com/locationtech/spatial4j
https://sourceforge.net/projects/jts-topo-suite/

Did you find anything on lucene side ?

[2016-11-22 15:32] weixliu commented on #6935
@laa
Sorry for reply late.

thread dump:
[code]

config info
[code]

[2016-11-22 15:57] weixliu commented on #6935
Another information is that the client thread most are waiting at below position. Stoping at getNoTx of OrientGraphNoTx.
[code]

[2016-11-22 16:07] lvca commented on #6918
@prakashpandey About the speed, what's the difference? Where the client and servers are located in the network?

[2016-11-22 16:07] #6918 closed

[2016-11-22 17:02] laa commented on #6935
@weixliu you have super small buffer size 4GB . That is reason of your slowdown. To fix that you just need to increase buffer size. In your case if you have 64Gb of memory I suggest you to set buffer size to at least 40 GB. Also I do not think that you need heap size 10GB , but if  you insist you may keep it. But I suggest you to have 5Gb heap at  max and 50 Gb disk cache size. To set this size pl

[2016-11-23 01:33] weixliu commented on #6935
thank you, I'll try your suggest.

[2016-11-23 03:40] weixliu commented on #6936
According to the #6497 I think it's OK, but the client should response for writing to the right cluster(shard).

I think they mean reading operation do not need connect to the right cluster, the ODB  is able to find the cluster have the right data.

[2016-11-23 06:00] laa commented on #6584
Close issue because of no reply. If you reproduce given issue and have information which is requested in issue feel free to reopen it.

[2016-11-23 06:00] #6584 closed

[2016-11-23 06:49] weixliu commented on #6935
@Iaa
I think it's work if I follow your suggest. But I also have a question, when I check my client thread dump. I found that parts of thead block in OrientGraphFactory.getNoTx().

Why thread block in OrientGraphFactory.getNoTx(). I don't know how getNoTx implement, the server db.pool.min = 10, db.pool.max=50, the client number of thread is 30, so I think there should not thread block in that.

[2016-11-23 06:49] weixliu commented on #6935
@Iaa
I think it's work if I follow your suggest. But I also have a question, when I check my client thread dump. I found that parts of thead block in OrientGraphFactory.getNoTx().

Why thread block in OrientGraphFactory.getNoTx(). I don't know how getNoTx implement, the server db.pool.min = 10, db.pool.max=50, the client number of thread is 30, so I think there should not thread block in that.

[2016-11-23 06:50] weixliu commented on #6935
@Iaa
I think it's work if I follow your suggest. But I also have a question, when I check my client thread dump. I found that parts of thead block in OrientGraphFactory.getNoTx().

Why thread block in OrientGraphFactory.getNoTx(). I don't know how getNoTx implement, the server db.pool.min = 10, db.pool.max=50, the client number of thread is 30, so I think there should not thread block in that.

[2016-11-23 06:50] weixliu commented on #6935
@Iaa
I think it's work if I follow your suggest. But I also have a question, when I check my client thread dump. I found that parts of thead block in OrientGraphFactory.getNoTx().

Why thread block in OrientGraphFactory.getNoTx(). I don't know how getNoTx implement, the server db.pool.min = 10, db.pool.max=50, the client number of thread is 30, so I think there should not thread block in that.

[2016-11-23 06:50] weixliu commented on #6935
@Iaa
I think it's work if I follow your suggest. But I also have a question, when I check my client thread dump. I found that parts of thead block in OrientGraphFactory.getNoTx().

Why thread block in OrientGraphFactory.getNoTx(). I don't know how getNoTx implement, the server db.pool.min = 10, db.pool.max=50, the client number of thread is 30, so I think there should not thread block in that.

[2016-11-23 06:51] weixliu commented on #6935
@Iaa
I think it's work if I follow your suggest. But I also have a question, when I check my client thread dump. I found that parts of thead block in OrientGraphFactory.getNoTx().

Why thread block in OrientGraphFactory.getNoTx(). I don't know how getNoTx implement, the server db.pool.min = 10, db.pool.max=50, the client number of thread is 30, so I think there should not thread block in that.

[2016-11-23 06:51] weixliu commented on #6935
@Iaa
I think it's work if I follow your suggest. But I also have a question, when I check my client thread dump. I found that parts of thead block in OrientGraphFactory.getNoTx().

Why thread block in OrientGraphFactory.getNoTx(). I don't know how getNoTx implement, the server db.pool.min = 10, db.pool.max=50, the client number of thread is 30, so I think there should not thread block in that.

[2016-11-23 06:51] weixliu commented on #6935
@Iaa
I think it's work if I follow your suggest. But I also have a question, when I check my client thread dump. I found that parts of thead block in OrientGraphFactory.getNoTx().

Why thread block in OrientGraphFactory.getNoTx(). I don't know how getNoTx implement, the server db.pool.min = 10, db.pool.max=50, the client number of thread is 30, so I think there should not thread block in that.

[2016-11-23 06:53] weixliu commented on #6935
@Iaa
I think it's work if I follow your suggest. But I also have a question, when I check my client thread dump. I found that parts of thead block in OrientGraphFactory.getNoTx().

Why thread block in OrientGraphFactory.getNoTx(). I don't know how getNoTx implement, the server db.pool.min = 10, db.pool.max=50, the client number of thread is 30, so I think there should not thread block in that.

[2016-11-23 06:53] weixliu commented on #6935
@Iaa
I think it's work if I follow your suggest. But I also have a question, when I check my client thread dump. I found that parts of thead block in OrientGraphFactory.getNoTx().

Why thread block in OrientGraphFactory.getNoTx(). I don't know how getNoTx implement, the server db.pool.min = 10, db.pool.max=50, the client number of thread is 30, so I think there should not thread block in that.

[2016-11-23 06:54] weixliu commented on #6935
@Iaa
I think it's work if I follow your suggest. But I also have a question, when I check my client thread dump. I found that parts of thead block in OrientGraphFactory.getNoTx().

Why thread block in OrientGraphFactory.getNoTx(). I don't know how getNoTx implement, the server db.pool.min = 10, db.pool.max=50, the client number of thread is 30, so I think there should not thread block in that.

[2016-11-23 06:54] laa commented on #6935
@weixliu I can think that I can understand from first time ))) About your question , you have "strange"  system and Java can not detect its HW parameters correctly. Could you manually set limit of connections in graph factory com.tinkerpop.blueprints.impls.orient.OrientGraphFactory#setupPool

[2016-11-23 06:55] laa commented on #6935
BTW I close the issue

[2016-11-23 06:55] #6935 closed

[2016-11-23 07:00] weixliu commented on #6935
Sorry, I have a bad network. Thanks~

[2016-11-23 08:30] lvca commented on #6937
@taburet Milestone?

[2016-11-23 09:15] taburet commented on #6937
@lvca assigned 2.3

[2016-11-23 10:15] rcdiaz commented on #6913
Hi @tglman

Would not it be possible to create this structure and retrieve
only the value field without meta information?

"@type": "d",
"@rid": "#67:0",
"@version": 1,
"@class": "pueblo",
"value": {
    "name" : "malagon",
    "country": "Spain"
}

I am trying with the json function but I have the same problem:
it's adding metainformation so I'm not worth it, I have to retrieve the information as

[2016-11-23 10:28] taburet commented on #6276
Hi @rishi3195, sorry for such a long delay. Benchmarked a load similar to yours on 2.1.8 and latest 2.2.x, on 2.2.x it is ≈1.7 times faster, could please retest your code on it?

Also, please provide full information about your system/configuration/schema/indexes and the contents of `BBEU_try.csv` file. There may be some conner cases that are hard to reproduce w/o full information, for example the

[2016-11-23 10:36] DThink commented on #6932
when i log with admin or other user different by root, if i open a dashboard link in another browser schede i see that the logged user is the root user

[2016-11-23 11:27] vlasni commented on #6773
@laa, I upgraded to 2.2.13 as soon as it was available and the issue didn't show up again, so i think this can be closed.
Thanks

[2016-11-23 11:36] maggiolo00 commented on #6773
Thanks @vlasni

[2016-11-23 11:36] #6773 closed

[2016-11-23 11:47] maggiolo00 commented on #6932
@DThink

that i think it's probably caused by the Basic Authentication. Studio and ODB Http relies on that, and i think the browser inject the saved credentials.

[2016-11-23 12:03] DThink opened #6939 "JOIN different edge fields in same row"
hi, i use orientDB 2.2.13 version and i not understand how to do a join different edge fields in one same row.
an example. i have a NewFollow edge with this fields

![cutmypic](https://cloud.githubusercontent.com/assets/18085313/20560772/5bf34948-b17b-11e6-9704-8cbed4b4cb88.png)

i try to use this code to make a join

[code]
but the result is this

![cutmypic 1](https://cloud.githubusercontent.com

[2016-11-23 12:24] luigidellaquila commented on #6931
Hi @obi1kenobi

I just pushed a fix for this. It should cover all the cases, for sure it covers your one, but I'm still doing some tests to make sure that everything is ok.
You can find the fix on 2.2.x branch, it will be released with 2.2.14

Thanks

Luigi

[2016-11-23 12:33] luigidellaquila commented on #6939
Hi @DThink

Try this:
[code]
I hope it helps

Thanks

Luigi

[2016-11-23 12:33] #6939 closed

[2016-11-23 12:54] DThink commented on #6939
thanks, so simple :)

[2016-11-23 16:01] zipang commented on #6411
So, i've installed OrientDB v2.2.13 and i'm following the course on Udemy 'Getting started with OrientDB'
And this example doesn't work :

[code]

It is in the documentation of the 2.2.x : http://orientdb.com/docs/2.2.x/SQL-Alter-Property.html

And it doesn't work either with parenthesis.

[2016-11-23 16:03] zipang commented on #6411
Ok.
So in fact the error message is very _very_ misleading because it worked with the following syntax :

[code]

[2016-11-23 16:03] obi1kenobi commented on #6931
@luigidellaquila,

Your fix seems to convert the "WHERE" clauses to a string and then check if they contain `$matched.` I think this is incorrect -- consider a query like the following:
[code]

Your code will incorrectly believe that an alias called "something" is checked in the filtering step, when that is not the case.

I don't think this issue is fixed, I think the bug just moved elsewhere.