[2016-09-07 11:13] rdelangh opened #6666 "adding 2nd node in cluster: dbase copy hang with "node not online yet""
## OrientDB Version, operating system, or hardware.
- v2.2.7
## Operating System
- [x] Linux

I have my database "cdrarch" running on a first server node, which has been started in distributed mode, and is ONLINE:
orientdb {db=cdrarch}> list servers

[code]

I have copied the "hazelcast.xml" file to a second server, and started that server as well.

The logs on both nodes say that they get a socke

[2016-09-07 11:24] tglman commented on #6514
Hi @obi1kenobi,

I'll double check everything again and let you know.

Regards

[2016-09-07 11:26] rdelangh commented on #6657
I want to stop the server now, but that is not working:

- the process is running :
# ps -aef |grep java
root      4276  4274 68 10:27 pts/1    01:59:07 java -server -Xms1024m -Xmx16384m -Djna.nosys=true -XX:+HeapDumpOnOutOfMemoryError -XX:MaxDirectMemorySize=512g -Djava.awt.headless=true -Dfile.encoding=UTF8 -Drhino.opt.level=9 -Dstorage.diskCache.bufferSize=65536 -Djava.util.logging.config.file=

[2016-09-07 11:26] rdelangh commented on #6657
(oops, sorry for this markup effects...)

[2016-09-07 12:24] rdelangh commented on #6657
Can I do a "kill -9" ? I know how abrupt it is, but the program does not stop on its own, despite several 'gracious' "kill -15" signalling

It is using full 2 out of the 3 installed cores of the box! No more open port in the range 2420..2429. No logs.
-> seems to be hanging in some heavy loop.

Is there a way to dump something of its stack or so, for you to be able to analyze ?

[2016-09-07 12:26] krl22785 commented on #6638
Hey @luigidellaquila

I am not sure how to help you reproduce it.  Each time I try to query a batch of elements that are in a range, I get this exception.  When I look at the logs, I see this:

2016-09-06 14:58:21:816 SEVER Internal server error:
java.lang.NegativeArraySizeException [ONetworkProtocolHttpDb]
2016-09-06 15:29:28:051 SEVER Internal server error:
java.lang.NegativeArraySizeException [

[2016-09-07 12:30] luigidellaquila commented on #6638
Hi @krl22785

Do you think it's possible to privately share your db? The query you are reporting is quite common, so the problem should be in the data

Thanks

Luigi

[2016-09-07 12:30] laa commented on #6657
@rdelangh could you send thread dump so we will know what is going on ?

[2016-09-07 12:41] tglman commented on #6653
Hi @rcamu,

Let me explain in details, as soon as the backup script run, it freeze the database, create a lvm snapshot, and release the database, all freeze and release operation are logged in the `orientdb-server.log`. The only thing that can happne that leave database frozen is a failure to create a lvm snaptshot, or a failure to connect to the server after the lvm snapshot is done, both of this

[2016-09-07 13:09] krl22785 commented on #6638
I don't think I can share but this is what I have in my logs.  After a hard reboot, the logs threw this message.  This is data we already had in our database.  Should I reconsider restarting the database again?

It appears each time I query for the records that had an "Error on retrieving..." message, it throws this java.lang.NegativeArraySizeException.

Any guidance?

$ANSI{green {db=DATABASE}} E

[2016-09-07 13:15] laa commented on #6638
@krl22785 what concrete version of 2.2 do you use could you specify ?

[2016-09-07 13:34] krl22785 commented on #6638
@luigidellaquila  we are using orientdb 2.2.4

[2016-09-07 13:39] rdelangh commented on #6657
@laa, can you please give me instructions about how to send this big dump file ?
Uncompressed, it's about 32GB. The compressing is still going on, but expected to be also a few GB's size...

[2016-09-07 14:25] laa commented on #6638
@krl22785 that is what you should not to do in any case, 2.2.4 contains critical issue which may damage data. Please upgrade to latest one.

[2016-09-07 14:29] laa commented on #6657
@rdelangh you should use ```jstack <pid>``` command. Thread dump should be quite small.

[2016-09-07 14:32] rdelangh commented on #6657
ok, found a "jstack" as part of openJDK on my server; its output is not so small, after all (463 lines) :

# ./jstack 4276 |more
4276: Unable to open socket file: target process not responding or HotSpot VM not loaded
The -F option can be used when the target process is not responding
root@orient1:/usr/lib/jvm/jdk1.8.0_92/bin# ./jstack -F 4276 |more
Attaching to process ID 4276, please wait...
Deb

[2016-09-07 14:33] krl22785 commented on #6638
@laa @luigidellaquila is that for both the community and enterprise versions?

[2016-09-07 14:37] laa commented on #6657
@rdelangh as I can see you are in the middle of several batch transactions. Is it possible ?

[2016-09-07 14:51] rdelangh commented on #6657
no, there is no client program running at all ; there is only one 'application' server for the moment from where a client program would be connecting to OrientDB, with one single well-known client program. If we run "ps" on the application host, this well-known client program is not active.
Also, such client program would connect to OrientDB on its port 2480/tcp . If it were doing so, then we must

[2016-09-07 15:00] laa commented on #6657
@rdelangh could you then create 3 thread dumps of the server with several seconds interval but put thread dumps in gist ))) .

[2016-09-07 15:14] rdelangh commented on #6657
@laa
I did a new thread dump now, and all output is exactly the same except one extra thread at the top of the thread list.

[2016-09-07 15:28] laa commented on #6657
@rdelangh the same like all methods on the same places ?

[2016-09-07 15:34] mikeazo commented on #6616
@lvca Any suggestions on how to handle edges in this case? I can call _getBaseEdge_ to get the base edge record, but this has the real id's of the in vertex and the out vertex, instead of the custom id's I've chosen. It would be a pain (but feasible) to then lookup both vertices to get the proper mapping. I'm hoping there is something easier I can do, but maybe not.

For vertices it was fairly eas

[2016-09-07 15:54] rdelangh commented on #6657
@laa yes indeed, exactly the same.

[2016-09-07 15:57] laa commented on #6657
@rdelangh ok let's try one more time, but please be really attentive, if this time thread dump is the same?
Could you also send me heap dump in such case ?

[2016-09-07 18:17] rdelangh commented on #6657
@laa : the output is indeed not 100% the same (according to "diff" on two output files)

I try to take a heap dump using "jmap", but it runs already for more than 2 hours, and the resulting file is already 1.6GB size ...

[2016-09-08 02:12] obi1kenobi opened #6668 "Spurious "Database is closed" errors"
## OrientDB Version, operating system, or hardware.
- v2.0 SNAPSHOT[ ] - .18[ ] .17[ ] .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.1 SNAPSHOT[ ] - .16[x] .15[x] .14[x] .13[x] .12[x] .11[x] .10[x] .9[x] .8[x] .7[x] .6[x] .5[x] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.2 SNAPSHOT[ ] - .8[x] .rc1[ ] .beta2[ ] .beta1[ ]
## Operating System

[2016-09-08 02:14] obi1kenobi commented on #6514
Thanks!

(replying to remove the "waiting reply" label)

[2016-09-08 04:44] lasitha1991 commented on #6328
Hi @laa , With any luck you will be merge this fix to the 2.1 next release also??

[2016-09-08 05:23] laa commented on #6328
It is already should be on latest version.

[2016-09-08 06:02] amandeep-sharma commented on #6641
@laa , I have shared full logs
https://drive.google.com/file/d/0B-cTHPtXiorISG5VeEgyNHphMFU/view?usp=sharing
with FINE log leve

[2016-09-08 06:42] rdelangh commented on #6657
The "jmap" heap dump finally terminated, the resulting file is 3.2GB size...

The server process of ODB has also stopped somewhere past night, no logs whatsoever are generated...

Big mystery...

Starting up the program gives following log messages:

...
2016-09-08 08:30:10:062 WARNI {db=cdrarch} Storage 'cdrarch' was not closed properly. Will try to recover from write ahead log [OLocalPaginatedSt

[2016-09-08 07:32] rdelangh commented on #6666
Did another (more patient) attempt:

- stopped server entirely (on single node)

- started (with "dserver.sh") ODB on first server node, and waited till my 300GB dbase "cdrarch" is accessible via the "console.sh" tool ; in server logs:
2016-09-08 08:34:45:767 INFO  OrientDB Server is active v2.2.7 (build 2.2.x@rdcab5af4dce4b538bdb4b372abba46e3fc9f19b7; 2016-08-11 15:17:33+0000). [OServer]

- start

[2016-09-08 08:38] Ivanov-Yuriy opened #6669 "linkeset does not save correct order of records"
## OrientDB Version, operating system, or hardware.
- v2.2.8

## Operating System
- [ ] Linux
- [ ] MacOSX
- [x] Windows
- [ ] Other Unix
- [ ] Other, name?

## Expected behavior and actual behavior
order of records must be the same as I was writing in the database

## Steps to reproduce the problem
orientdb {db=test}> **create class test extends V**
Class created successfully. Total classes in da

[2016-09-08 08:42] rdelangh commented on #6666
Found why :
- in the "default-distributed-db-config.json" file, I configured explicitly nodenames, which did not correspond with the random nodenames assigned to each server when I launched "dserver.sh"
- so I stopped all servers, trashed the "distributed-db-config.json" files which were modified by the startup, set the environment variable ORIENTDB_NODE_NAME on each server, and then started "dser

[2016-09-08 08:45] StarpTech commented on #6669
I had the same issue. The statement by orientdb is that the order is not garantiert.

[2016-09-08 09:07] Ivanov-Yuriy commented on #6669
it is not good...
the array always has to guarantee right order

[2016-09-08 09:11] StarpTech commented on #6669
@Ivanov-Yuriy  exactly.

[2016-09-08 09:13] smolinari commented on #6669
Why? I am not saying you are wrong, but a bit of good explanation about the reasoning might help the ODB team understand your problem with the different ordering of the links.

Scott

[2016-09-08 09:17] StarpTech commented on #6669
Correct me: A set does not guarantee the order by definition. Its no array data structure.

[2016-09-08 09:19] maggiolo00 commented on #6669
@Ivanov-Yuriy

Link Set does not guarantee order.
You should use Link List

See here
http://orientdb.com/docs/2.2/Concepts.html#1n-and-nn-referenced-relationships

[2016-09-08 09:26] Ivanov-Yuriy opened #6670 "error when I try create record with "CONTENT" style and property type:EMBEDDEDLIST linkedtype:DECIMAL"
## OrientDB Version, operating system, or hardware.
- v2.2.8

## Operating System
- [ ] Linux
- [ ] MacOSX
- [x] Windows
- [ ] Other Unix
- [ ] Other, name?

## Steps to reproduce the problem
orientdb {db=test}> **create class test extends V**
Class created successfully. Total classes in database now: 12.

orientdb {db=test}> **create property test.ed embeddedlist decimal**
Property created succes

[2016-09-08 09:41] Ivanov-Yuriy commented on #6669
Ok.
I understand why you did that,
but as for me if set had my order, it would be very well
because now
I have to create EMBEDDEDLIST with properties order and link instead only LINKESET

[2016-09-08 09:41] #6669 closed

[2016-09-08 10:07] taburet commented on #6306
Guys, I created the first version of OrientDB OSGi distribution. Could you please try it in your setups to verify it's working in the wild.

1. `git checkout osgi-2.2.x` from `orientdb` repository
2. `mvn clean verify` it

The resulting uber bundle jar will be at `osgi/osgi-core-bundle/target`. Please drop it into your OSGi containers.

If you use spatial module:

1. `git checkout osgi-2.2.x` from

[2016-09-08 10:09] rdelangh opened #6671 "distributed setup does not find new nodes from other subnets in non-multicast, "tcp-ip" based method"
## OrientDB Version, operating system, or hardware.
- v2.2.7

## Operating System
- [x] Linux

## Expected behavior and actual behavior
Still struggling with my first attempt to get 6 servers working together, which are installed in 2 different subnets.
The default "hazelcast.xml" comes with "multicast" based discovery of other server nodes, a mechanism which works only in a single subnet.
So I br

[2016-09-08 10:12] taburet commented on #6404
Could you please test against the experimental OrientDB OSGi distribution as described here https://github.com/orientechnologies/orientdb/issues/6306#issuecomment-245552820

[2016-09-08 11:49] maggiolo00 commented on #6662
hi @obi1kenobi

i think the correct way of databases list is like the old one with comma separated values

[code]

[2016-09-08 11:51] varuntahin001 commented on #1312
Hello Guys,

We are using version orientdb-community-2.1.10  and facing the similar issue . Please let us know in which version this bug is fixed  or is still existing.

[2016-09-08 11:53] maggiolo00 commented on #6633
@jpstrikesback

i think you don't see from console settings list because it's showing the default one instead of asking to the server.

Thanks
Enrico

[2016-09-08 11:53] #6633 closed

[2016-09-08 12:05] ComeMaes commented on #5491
Hello, I am trying to use orientdb with Amazon EFS and are running into problems that seem related to this issue.

The EFS volume is mounted in orientdb containers (official 2.2.8 image) to directory `orientdb/databases`

If I mount the EFS volume on an instance and run `df -hT /home/ec2-user/mount_point/` I get the following:

`file system

[2016-09-08 12:46] laa commented on #1312
@varuntahin001 why do you think that that is a bug ?

[2016-09-08 13:00] smallik commented on #6558
Once this is done I can help with testing.

[2016-09-08 13:10] varuntahin001 commented on #1312
While deleting and adding edge we are having similar issue as the graph is taking previous vertex in cache and it is throwing Cannot update the record because the version is not the latest.
So the version of vertex is not upgrading and it is taking vertex from cache.
We tried clearing the local cache before reading the vertex and retry logic to avoid this and OConcurrentModificationException. But

[2016-09-08 13:11] mindnuts commented on #6351
@robfrank Sorry to bug you, but any progress?

[2016-09-08 13:25] Ivanov-Yuriy commented on #6670
the same behaviour with properties date and datetime

orientdb {db=test}> **create property test.edate embeddedlist date**
Property created successfully with id=4.

orientdb {db=test}> **insert into test CONTENT {"edate": ["2016-05-01"]}**
Error: com.orientechnologies.orient.core.exception.ODatabaseException: Error during saving of record with rid #22:-1
        DB name="test"
        DB name="tes

[2016-09-08 13:26] smil2k commented on #6499
@tglman:
Do you have any progress on this topic? Can I help you with the investigation?

The need of restarting orient daily makes our life hard here.

[2016-09-08 13:27] laa commented on #1312
@varuntahin001 sorry for asking but did you try to use latest version , a lot of issues were fixed since 2.1.10 ?

[2016-09-08 13:33] obi1kenobi commented on #6662
From  the documentation: https://orientdb.com/docs/last/Automatic-Backup.html

[code]

The file is JSON, where a list is a supported data structure that isn't the same thing as a comma-separated string. I think the following things are necessary:
- The documentation needs some rewording and probably an example.
- If you are set on using comma-separated strings when lists are available, then I thin

[2016-09-08 13:43] maggiolo00 commented on #6662
@obi1kenobi

i guess is that for backward compatibility since the configuration was String in ODB < 2.2

The JSON rep should support [] notation.

[2016-09-08 14:32] sowee15 opened #6672 "Deleting raw records"
## OrientDB Version, operating system, or hardware.
- v2.0 SNAPSHOT[ ] - .18[ ] .17[ ] .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.1 SNAPSHOT[ ] - .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[x] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.2 SNAPSHOT[ ] - .rc1[ ] .beta2[ ] .beta1[ ]

## Operating System
- [

[2016-09-08 15:44] krl22785 opened #6673 "java.lang.NegativeArraySizeException [ONetworkProtocolHttpDb] After Restarting OrientDB"
Following up on my message from last week.  After restarting our database, I received the following messages during restarting our database:

$ANSI{green {db=DATABASE}} Error on fetching record during browsing. The record has been skipped
com.orientechnologies.orient.core.exception.ODatabaseException: Error on retrieving record #14:14809 (cluster: classA)

$ANSI{green {db=DATABASE}} Error on fetch

[2016-09-08 16:07] maggiolo00 commented on #6004
@janjilek

do you still need help on this?

[2016-09-08 16:32] laa commented on #6673
Hi, @krl22785 which message do you mean ? What version do you use ?

[2016-09-08 17:12] rmanzar opened #6674 "Choosing between Python and Java for orientDB load"
I have to write an ETL process (fairly complex) and I am new to both Java and Python but Python looked simpler and shorter learning curve, I need some pros and cons of choosing between Java and Python for writing ETL for loading data in OrientDB. I would appreciate a quick response on this.
Thanks
Rashid

[2016-09-08 17:44] tglman commented on #6499
hi @smil2k,

Yes i'm on it, other users/clients as well reported and i'm trying to reproduce the problem, i dod some fix on the invalid session and in the pool client side, without completely sort out the problem, if you can try the last 2.2.9 and get a client and a server dump would be amazing.

Thanks

[2016-09-08 17:50] smil2k commented on #6499
I'll upgrade our systems to 2.2.9 and send you the dumps.

Where can I upload them? I would not like to post them here if one option exists.

[2016-09-08 18:46] krl22785 commented on #6673
I am using Orientdb-Enterprise 2.2.4.

[2016-09-08 19:20] krl22785 commented on #6673
@laa you commented that this version has critical issues.  Can you elaborate?

[2016-09-09 03:31] larryaasen commented on #6460
Hi Luigi,

I used this command to drop the class 'Liked UNSAFE' and it worked:
`
jss orient.getGraphNoTx().getRawGraph().getMetadata().getSchema().dropClass("Liked UNSAFE");end;
`
I first had to enable server side Javascript, restart the OrientDB server, reconnect with the console, and then enter that command into the console.

Thanks for your help.

Larry

[2016-09-09 05:11] nadewor commented on #6175
Which method do you refer to with the last comment? ResultSetMetaData.getColumnCount()?

[2016-09-09 05:26] antonzherdev commented on #6505
@tglman I tried this and it was not working. Anyway it's very confusing and not mention in the docs. I have the same user name and password and it's working for me.

[2016-09-09 05:26] #6505 closed

[2016-09-09 05:48] antonzherdev opened #6675 "Every Lucene index starts thread"
## OrientDB Version, operating system, or hardware.
- v2.0 SNAPSHOT[ ] - .18[ ] .17[ ] .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.1 SNAPSHOT[ ] - .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.2 SNAPSHOT[ ] - .8[X] .rc1[ ] .beta2[ ] .beta1[ ]

## Operating Syste

[2016-09-09 06:09] luigidellaquila commented on #6671
Hi @rdelangh

Yes, OrientDB supports tcp-ip for node discovery and the configuration and it seems to be correct. Typically I don't use `<required-member>`, but I don't know if that can be the problem

Thanks

Luigi

[2016-09-09 06:18] luigidellaquila commented on #6674
Hi @rmanzar

IMHO the first thing you have to take into consideration is your/your team language skills. If you are more confident with Python then you can go with it.
Anyway, with Java you will have at least one big advantage: you can use OrientDB in embedded mode, having ~10x performance. For and ETL this can be important, especially if it's a one-shot import.
In general, the Java API is the nat

[2016-09-09 07:11] #6460 closed

[2016-09-09 07:11] luigidellaquila commented on #6460
Great, I'm closing this issue then, as the problem should not occur anymore in v 2.2

Thanks

Luigi

[2016-09-09 07:56] rdelangh commented on #6671
@luigidellaquila  thx for the reply. I found that an example on the web without "<required-member>" and just a list of "<member>" items , so implemented that on the extra node in the remote subnet.
I saw in its logs that it correctly attempted now a connection with one of the running nodes in the local subnet. But on that 'local' node the logs mentioned that it rejected such connection attempts, b

[2016-09-09 08:13] rdelangh commented on #6666
Can the logging level be increased so that hopefully any reason becomes visible why a 2nd and a 3rd node remain in status STARTING ?

The docs do not describe anything about setting logging levels ...

[2016-09-09 08:17] luigidellaquila commented on #6671
Ah, sure, I didn't get that the other nodes had a different configuration, that's the key to make it work.

Thanks for the clarification, I'm closing this issue then

Thanks

Luigi

[2016-09-09 08:17] #6671 closed

[2016-09-09 10:05] hadson19 opened #6676 "But with linkmap after DB migration"
After import database the links on Linkmap property (type also linkmap) become null.

So
before
  {"4gc":"#54:3"}
   Under vertex #54:3 we have correct record.

after:

   {"4gc":null}

Both machine has version 2.2.4.

[2016-09-09 10:15] hadson19 opened #6677 "Bug with incorrect behaviour with linkmap"
After insert new Record with incorrect link map - our class become "locked" on UI part and it seems that we laso cannot make select from orientjs driver.
Example:
We have property mapLinkTest wth type maplink
WE are going to set map link via console
[code]
     #123:123 - there is no any record with this @rid in out database.

WE got response the all ok:
 Created vertex 'RecordContent#81:2{recordC

[2016-09-09 11:12] kwoxer commented on #6664
Mhh well, it seems to be online just for some hours.

The log is very empty...

[code]

I gonna let the server open via putty, maybe there is some more info when it crashes.

Or is there another way to investigate more about this?

[2016-09-09 11:33] laa commented on #6673
Hi @krl22785 , sorry I can not elaborate more because a bug is quite technical. In general, during regular work of database data may be corrupted,  to fix such data corruption I recommend you to export data in JSON and then import them back.

[2016-09-09 12:46] rmanzar commented on #6674
Thanks Luigi, I see your point. Rashid

[2016-09-09 12:46] #6674 closed

[2016-09-09 13:08] maggiolo00 commented on #6677
@hadson19

do you have a script to reproduce it?

[2016-09-09 13:10] maggiolo00 commented on #6676
@hadson19

how did you migrate the db?

From which version?

[2016-09-09 13:20] tglman commented on #6664
Hi @kwoxer,

Ok, let us know if you have further problems.

Regards

[2016-09-09 13:30] tglman commented on #6499
hi @smil2k,

I think i just figured out the sources of the problem, it was more the one issue actually, like i said some are already fixed in 2.2.9 and the fix i just did will be released in 2.2.10 in almost a couple of weeks, in any case feel free to upload the dumps on any cloud storage (dropbox,google file, ecc) if you want to keep them private yuo can send a mail whit the reference to this iss

[2016-09-09 13:36] tglman commented on #6488
hi @mikayeln,

We did a few fix on this topic in the last few days, some are already included in 2.2.9 and other will be released in 2.2.10, i'm quite confident that with 2.2.10 this is going to be sorted out.

the 2.2.10 is going to be at most in ~2 weeks.

Regards

[2016-09-09 14:00] robfrank commented on #6642
done

[2016-09-09 14:00] #6642 closed

[2016-09-09 14:16] maggiolo00 commented on #6675
hi @antonzherdev

that ControlledRealTimeReopenThread thread is needed for a fast near realtime indexing. We will try to replace it with something less expensive since for OrientDB 3.0 we will use Lucene >= 6.1 that should not contain anymore ControlledRealTimeReopenThread

[2016-09-09 14:21] robfrank commented on #6592
Hi, I mark this as an enhancement for 3.1.

[2016-09-09 16:03] rdelangh commented on #6666
Seems the same issue as closed issues #4176 and #4789 ; however these scenarios seem to be a conversion from a standalone server into a distributed setup, where according to the docs the OPs copy their entire database to the new nodes.
In our case, database of 350GB, that is an unrealistic approach, and as such also documented to be an alternative way of working (i.e. not copying first the dbase).

[2016-09-09 18:04] vantonov1 commented on #6592
Hi!

Great! Just one more thing to consider - if index info could be recreated, it would be fine to store index on a different location (for example local SDD). Now Lucene indexes are stored in a subfolder (which could be soft link), could you create subfolder for other indexes as well?..

[2016-09-09 18:30] tglman commented on #6516
hi @kumarkshiva,

Did you have chance to check the last hotfix ? is it solved for you?

[2016-09-09 18:33] tglman commented on #6514
hi @obi1kenobi,

I reproduced it, and the problem is only in remote, i added the tests for embedded and seems to work, i'll try to fix this also in remote.

[2016-09-09 18:38] obi1kenobi commented on #6514
Thanks for the update. Any idea on why remote and embedded treat import/export differently? That sounds very concerning regardless of this bug...

[2016-09-09 19:11] RodrigoLimasss opened #6678 "Not work with Alpine container"
## OrientDB Version, operating system, or hardware.
- v2.2.9, RedHat host, docker Alpine:3.3.

## Operating System
- [X] Linux
- [ ] MacOSX
- [ ] Windows
- [ ] Other Unix
- [ ] Other, name?

## Expected behavior and actual behavior

Hi guys, I got these error only under an Alpine container. I just changed for ubuntu 14.04 and also in windows, it's worked fine!!!

java.lang.NoClassDefFoundError: Co

[2016-09-09 19:42] robfrank commented on #6592
Could you open a new issue with a more detailed description? This tips written on a comment will be lost in time, like tears in rain.

[2016-09-09 20:03] robfrank commented on #6678
sincerely I don't know why, The container should be isolated from the host... should be. I tested   on my host (mac) which uses a VM to run container inside. can you show me the docker command you use, just to be sure you are using the offical image:

https://hub.docker.com/_/orientdb/

[2016-09-09 20:16] RodrigoLimasss commented on #6678
Hi @robfrank I'm not running the Orientdb database on container, I'm running a client application that I did with Scala. This happening with 'orientdb-graphdb' v2.2.9 library.

Follow my Dockerfile attached.
[Dockerfile.txt](https://github.com/orientechnologies/orientdb/files/464749/Dockerfile.txt)

[2016-09-09 21:08] robfrank commented on #6678
I don't know what is going wrong. My suggestion is to rely on an official apline/openjdk image and add your app to it.

[2016-09-10 07:28] antonzherdev commented on #6675
Hi @maggiolo00,

Yes, I understand the reason why it's there but for thread consumes memory for the stack and it's system memory and I cannot limit the consumption and the service can be killed by OS. I can reduce the stack size but not too much. These threads are almost always in sleep, this means that it's a wasted memory.

Additionally creating of these threads taking time during initialisation

[2016-09-10 07:28] #6675 closed

[2016-09-10 14:52] larryaasen commented on #4599
+1 I have the same problem with root user. Is there a recommendation on how to get around this?

[2016-09-10 15:40] lukaszkaleta commented on #2879
On auto growing mounted file systems (like AWS EFS) it is difficult to run orient db with those checks.

[2016-09-10 18:31] lvca commented on #4599
Have you guys (@mamoit and @larryaasen) resolved by following the luigi's comment?

[2016-09-10 18:44] lvca commented on #6673
@laa was this a bug of 2.2.4 and we fixed in further releases, right? Is this what you mean?

[2016-09-10 18:45] lvca commented on #6666
Are the 2nd and 3rd nodes starting at the same time?

[2016-09-11 09:50] laa commented on #6673
@lvca Hi Luca, you are right. You should migrate to latest 2.2.x version, which is 2.2.1

[2016-09-11 14:32] nagarajasr commented on #4599
@lvca we can hardly expect a resolution from @luigidellaquila comment, as he himself seems to be asking a fundamental question how server authentication should work.

@luigidellaquila how about user having to explicitly specify which server-config.xml to use to connect to a DB (used only for opening DB in plocal mode), rather than console client trying to resolve the server-config.xml automaticall

[2016-09-11 16:58] larryaasen commented on #4599
I do not have a recommendation for solving this problem. Instead, I used plocal during the connection and used admin/admin which I did not realize was already setup.

[2016-09-11 16:59] jamieb22 opened #6679 "ouser.cpm was not found on database start"
## OrientDB Version, operating system, or hardware.

- v2.2.8

## Operating System
- [X ] Linux
- [ ] MacOSX
- [ ] Windows
- [ ] Other Unix
- [ ] Other, name?

## Expected behavior and actual behavior

OrientDB wont start on empty database (the /var/opt/database folder does not exist!). Please bear in mind, this is on a machine using multiple orient databases, each referring to different paths.

2

[2016-09-11 17:59] jamieb22 commented on #6651
I tried on the latest version 2.2.9 and it doesn't work.
2016-09-11 19:55:44 h.c.s.a.d.b.BluePrintDatabaseUtil [ERROR] failed to drop old indexes:null
java.lang.NullPointerException: null
	at com.orientechnologies.orient.core.index.OIndexAbstract.getVersion(OIndexAbstract.java:787)
	at com.orientechnologies.orient.core.index.OIndexAbstractDelegate.getVersion(OIndexAbstractDelegate.java:275)
	at co

[2016-09-11 18:04] jamieb22 commented on #6651
This happens on v_statistic.subtype and v_blob.mgn

[2016-09-11 18:42] jamieb22 opened #6680 "Misleading error "user or password not valid for database""
## OrientDB Version, operating system, or hardware.
- v2.2.9

## Operating System
- [ X] Linux
- [ ] MacOSX
- [ ] Windows
- [ ] Other Unix
- [ ] Other, name?

## Expected behavior and actual behavior

I've never changed the password to the database. After, deleting the database and starting up again... it comes up with the below error:
2016-09-11 20:39:37 s.c.s.a.d.DatabaseService [ERROR] failed t

[2016-09-11 19:35] jamieb22 opened #6681 "Cannot index record #62:0: found duplicated key 'null' in index 'v_user.ID' previously assigned to the record #57:0"
## OrientDB Version, operating system, or hardware.
- v2.2.9

## Operating System
- [ X] Linux
- [ ] MacOSX
- [ ] Windows
- [ ] Other Unix
- [ ] Other, name?

## Expected behavior and actual behavior

This error never happened in prior versions of Orient. To my knowledge, we have not inserted duplicate key and I'm not clear on how the key we are trying to insert is 'null'. This error occurs on the

[2016-09-11 19:52] jamieb22 commented on #6681
I see now, Orient is rejecting the creation of the null record. Should we be calling graph.addTemporaryVertex(..) instead?

[2016-09-12 00:34] vtliem commented on #6681
The same issue here!
In document:

So I create a class `GroupChatSession` with `linkid` field for group chat session which has reference.
Old orientdb (2.1.x) had no issue but when I updated to OrientDB 2.2.8 (and now 2.2.9), when I create new group chat session ( without reference), a `ORecordDuplicatedException` is raised.
How to ignore  `null` key as before?

[2016-09-12 05:15] chunkiat82 commented on #6197
I still have this issue with a docker image 2.2.9

[2016-09-12 06:53] rdelangh commented on #6666
@lvca  : It seems to make no difference , I did a few different combinations : start 1st, wait till connectivity with dbase is possible; then start 2nd node, see it synchronizing some clusters until it gets into that loop ("Node is not online yet"), the start 3rd node to see if that helps gettings clusters distributed, but to no avail.

[2016-09-12 07:53] robfrank commented on #6175
No, sorry, is the javadoc from ResutlSet.getMetadata:
[code]
The problem is that at the JDBC level we don't have all the info about the documents retrieved from Orient. And even if you work with plain OrientDB API what you get  as a query result is a list od ODocuments, nothing more. On 3.0 we are working  to overcome this,  providing more metadata about the documents set returned by the database.

[2016-09-12 08:31] laa commented on #6681
@jamieb22 the reason is that by default null values are indexed so for you index you need to set ignoreNullValues to true for this index.

[2016-09-12 08:38] #6681 closed

[2016-09-12 08:39] seeden commented on #4976
I am not more interested

[2016-09-12 08:39] #4976 closed

[2016-09-12 08:45] laa commented on #6651
Hi @jamieb22 by latest I meant 2.2.10 which was in snapshot stage when I wrote it.
If you check OIndexAbstract#getVersion
you will see following code:
-------------------------------------------------------------------------------------------------------------
    final ODocument document = conf.getDocument();
    if (document == null)
      return -1;
    return document.field(OIndexInternal.INDE

[2016-09-12 08:48] laa commented on #6679
@jamieb22 sorry I do not get reason of issue, you have empty directory and during attempt of opening of this database you got this exception ?

[2016-09-12 09:08] jamieb22 commented on #6679
Yes, I get this behaviour after deleting the database from the file system and attempting to create a new database

[2016-09-12 09:10] laa commented on #6657
Hi @rdelangh could you start a separate issue about close? Meanwhile, I will start work on it from Wednesday, but I need a separate issue to track changes and contact with you.

[2016-09-12 09:16] publicocean0 commented on #6663
hi , the entire database is not possible. i will see if i can find additional infos for helping you

[2016-09-12 09:17] a-unite commented on #4976
indexes for embedded lists\sets\maps is a long time waited feature
@maggiolo00 may you please reopen that is there are no other tickets related to the issue?

[2016-09-12 09:43] maggiolo00 commented on #6496
@ashwin1209

were you able to solve it?

[2016-09-12 09:46] maggiolo00 commented on #4976
@a-unite
there was this older issue here. I think we can use that

https://github.com/orientechnologies/orientdb/issues/5201

[2016-09-12 10:18] vantonov1 opened #6682 "Add settings to store temporary info (indexes and WAL) on a different location"
When #6592 is completed, all automatic indexes could be restored if deleted/lost. In that case, it would be  useful to be able to store index files on a different disk (through new settings in orient config, or at least by symbolic link for index subfolder in database folder)

Use case is to store index info on a fast local SSD, and all other DB files on a SAN drive

[2016-09-12 10:19] vantonov1 commented on #6592
#6682

[2016-09-12 10:40] ashwin1209 commented on #6496
No luck with 2.2.4 version, but the same database I can export to 2.1.23 from 2.1.16.

[2016-09-12 10:41] maggiolo00 commented on #6496
@ashwin1209

with the latest 2.2.9?

[2016-09-12 11:47] tglman commented on #6514
Hi,
I actually improved the test, found the problem and fixed, was happening in both plocal and remote.

will be released in 2.2.10

[2016-09-12 12:31] jamieb22 commented on #6681
How does one set this ignoreNullValues  value since we are using auto indexes?

[2016-09-12 12:33] jamieb22 commented on #6681
Why was this default value changed?

[2016-09-12 12:36] valenpo commented on #6681
So, if a class has a predefined indexed fields ID, EMAIL, NAME and all of indexes are uniq, when I try to create the new vertex I need to know all those values (ID, EMAIL, NAME)???

``
Vertex vertex = graph.addVertex("class:user", "EMAIL", "some@email.com");
graph.commit();
``

Because some times you know only one off all values that should be indexes. Is it possible to insert only one value? And

[2016-09-12 12:55] valenpo commented on #6681
Is it possible to update NULL property like this for lower case

``
OrientVertexType .getProperty(fieldName).setCollate(new OCaseInsensitiveCollate());
``

[2016-09-12 13:35] AubryLegrand opened #6683 "Console.bat error creating database"
## OrientDB Version, operating system, or hardware.
- v2.0 SNAPSHOT[ ] - .18[ ] .17[ ] .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.1 SNAPSHOT[ ] - .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.2 SNAPSHOT[x] - .rc1[ ] .beta2[ ] .beta1[ ]

## Operating System
- [

[2016-09-12 14:10] tglman commented on #6668
hi @obi1kenobi,

The reason of this could be that the session is expired or the underline database has been dropped and eventually ricreated.

Regards

[2016-09-12 14:19] obi1kenobi commented on #6668
The database does not get dropped in my workload, so it must be the session as you mention. Is there a way to refresh the session and prevent it from expiring? Alternatively, is there a way to control the session length via some configuration options?

[2016-09-12 14:21] obi1kenobi commented on #6514
Thanks, looking forward to 2.2.10 getting released!

[2016-09-12 14:21] #6514 closed

[2016-09-12 14:30] maggiolo00 commented on #6662
@obi1kenobi  Fixed

[2016-09-12 14:30] #6662 closed

[2016-09-12 14:31] obi1kenobi commented on #6662
Thanks! I assume this'll be released in 2.2.10?

[2016-09-12 14:38] maggiolo00 commented on #6662
@obi1kenobi

yes 2.2.10

[2016-09-12 15:03] a-unite commented on #4976
Great, thanks!

[2016-09-12 15:12] lvca commented on #6666
Do you have logs about the last attempt with nodes that starts progressively? Could you share the log files in some way? GIST is fine too. Thanks.

[2016-09-12 16:27] ismaelpernas opened #6684 "Result of subquery doesn't hit index on master query field"
## OrientDB Version, operating system, or hardware.
-  [x] v2.2.4
## Operating System
- [ ] Linux
- [ ] MacOSX
- [x] Windows
- [ ] Other Unix
- [ ] Other, name?
## Expected behavior and actual behavior

Apologies if this is not the place for this question, not sure if this is a bug or not.

I have a ClassA with an NONUNIQUE - SBTREE index on field Id. When I perform the following query:

[code]

I

[2016-09-12 18:05] syzdykov opened #6685 "Distribution storage calculate average bug"
## OrientDB Version, operating system, or hardware.
- v2.2 SNAPSHOT[x]

## Operating System
- [x] Linux

## Expected behavior and actual behavior
Several days ago we started to use distributed storage and some of our api methods started throw exceptions. It seems distributed storage has a bug with calculation avg when there is no fields.
Here is console output:

[code]

Here is the stacktrace:

[c

[2016-09-12 19:52] bluezio opened #6686 "NullPointerExceptions during stress testing with ORecordCacheSoftRefs"
## OrientDB Version, operating system, or hardware.

2.2.8

## Operating System

Linux (Ubuntu 16.04)

## Expected behavior and actual behavior

During a stress test with 8+ concurrent connections (2-core machine with hyperthreading) a to an embedded local database with 5M+ nodes while using ORecordCacheSoftRefs, Orient will sometimes fail to retrieve records due to NullPointerExceptions originate

[2016-09-12 19:52] kwoxer commented on #6664
So today it some how stopped again. But sadly nothing in the logs =/

This is what I have in the open server.sh window via ssh shell. Accessed via screen:

[code]

As you see at the end I got:
`file_close_detection@rb5e81d839d4e853c25379e53cd1eabe57badc6b3; 2016-08-29 11:10:28+0000). [OServer]Killed`
No idea what this stands for?!

I gonna start the server.sh now again. But as you have seen, it ra

[2016-09-12 20:36] obi1kenobi opened #6687 "Database import reports success when it actually failed, and has non-deterministic errors"
## OrientDB Version, operating system, or hardware.
- v2.0 SNAPSHOT[ ] - .18[ ] .17[ ] .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.1 SNAPSHOT[ ] - .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.2 SNAPSHOT[ ] - .8[x] .rc1[ ] .beta2[ ] .beta1[ ]

## Operating Syste

[2016-09-12 21:23] marcelalburg commented on #6104
Any news about that ?

[2016-09-13 05:11] smolinari commented on #4978
I can't believe this request is already a year old. How time flies. :smile:

Scott

[2016-09-13 05:16] evandor commented on #6306
Thanks for your efforts! I checked out osgi-2.2.x and cleaned / verified (but without the tests, there were failures). Now I need to migrate my code to 2.2 (is: 2.1.3) as I - expectedly - have some issues;  I'll let you know the outcome asap. (I have no use case for spatial though).

[2016-09-13 05:25] taburet commented on #6306
@evandor Could you please provide more details about test failures like logs/exceptions? Was it OSGi tests or regular ones?

[2016-09-13 07:10] laa commented on #6664
@kwoxer I suppose that  your close system application because big usage of system resources like memory so you should decrease memory settings to avoid such problems in future.

[2016-09-13 07:11] laa commented on #6664
Also I do suggest to update to 2.2.10 version of database.

[2016-09-13 08:09] maggiolo00 commented on #6569
@BartTK

was the field passwordStartDate declared in schema?

[2016-09-13 08:13] BartTK commented on #6569
Yes, it was declared as a 'long'.

Met vriendelijke groet,
  Bart Kerkhoff

2016-09-13 10:09 GMT+02:00 Enrico Risa <notifications@github.com>:

[2016-09-13 08:51] BartTK commented on #6569
And now the problem is clear to me. The value in my example doesn't fit within the 'long' type. It originated from from a 64-bit unsigned integer while Orients long is a 64-bit signed integer.

[2016-09-13 09:23] tglman commented on #6686
hi @bluezio,

Nice investigation, and as well the fix you suggest make sense, feel free to do a pull request about it, we will be happy to merge it.

In any case we are going to double check that part.

bye

[2016-09-13 09:26] maggiolo00 commented on #6569
@BartTK

you did use http or OrientJS?

[2016-09-13 09:28] BartTK commented on #6569
I was filling the database from a C++ application using the HTTP API.

[2016-09-13 11:08] kwoxer commented on #6664
Okay. So when again "killed" I try to set lower memory stuff. Is half of current okay? Or trying to give a bit more?

Currently the server is still running. :)

[2016-09-13 11:15] laa commented on #6664
Well not the half, I think about 3/4 of current memory, do not forget to decrease disk cache size and memory chunk size too.

[2016-09-13 11:21] #6661 closed

[2016-09-13 11:21] laa commented on #6661
Fixed

[2016-09-13 11:25] laa commented on #6681
Hi, @valenpo , about your case. You need to know them before committing  of data. If that is not your case, could you show me how you did you create index and I will show you how to add this parameter.

[2016-09-13 11:28] laa commented on #6679
@jamieb22 just to make sure that I got you correctly. You created a database , then you closed database. And when the database is closed you removed files on disk and opened database again. Is it a correct order?

[2016-09-13 11:28] valenpo commented on #6681
Hi, @laa, thanks for response.

I'm already use such method when create the scheme and it solve a problem.

``
for (OIndex<?> oIndex : graph.getVertexType(type.getClassName()).getIndexes()) {
	oIndex.getDefinition().setNullValuesIgnored(true);
}
``

Thanks

[2016-09-13 11:29] laa commented on #2879
@lukaszkaleta do you mean that we do not amount of free space before head ?

[2016-09-13 11:31] laa commented on #6681
@valenpo cool ))

[2016-09-13 11:33] laa commented on #6583
@saeedtabrizi could you update till 2.2.10 version, it should solve the problem which you found, I keep the issue open in order to do not forget to fix minor issue inside of this big one it is related to free space usage statistic, and it should not affect your operations on a database.

[2016-09-13 11:34] laa commented on #6553
Half of the month passed ))  I will close issue please reopen it if it will be reproduced.

[2016-09-13 11:34] #6553 closed

[2016-09-13 11:41] laa commented on #5491
Hi @ComeMaes could you create separate issue, I will provide you fix for that problem.

[2016-09-13 12:12] ComeMaes opened #6688 "Incorrect calculation (returns negative number) of free disk space available on very large volume (AWS EFS)"
Hello, I am trying to use orientdb with Amazon EFS and are running into problems that seem related to the calculation of free disk space available.

## OrientDB Version, operating system, or hardware.
version 2.2.8
 Amazon Elastic File System volume

## Operating System
Linux (Debian on EC2 instances)

## Expected behavior and actual behavior
On a "virtually infinite" storage space such as AWS EFS

[2016-09-13 12:13] ComeMaes commented on #5491
Hello @laa
Sure, here it is:  #6688

[2016-09-13 12:13] laa commented on #6641
Hi @amandeep-sharma , unfortunately, logs which you provided to me does not belong to the latest distribution which I sent to you. For example in your log there is line
[code]

Which corresponds to the  following line in source code:

[code]

but this method never throws such kind of exception.
I created new distribution for you
https://drive.google.com/file/d/0B2oZq2xVp841Yzl2cE5uOGE3d3c/view?usp

[2016-09-13 12:26] saeedtabrizi commented on #6583
@laa Thanks for your attention .
Okay i will test it asap .

[2016-09-13 12:30] maggiolo00 commented on #6639
Hi @BruceMu

how can i replicate this?

[2016-09-13 13:00] lvca opened #6689 "HA: allow overriding OLocalClusterStrategy"
Today, when OrientDB runs in HA mode, the cluster strategy is always overwritten to be `OLocalClusterStrategy`, but it would be nice having a way to inject a custom strategy.

[2016-09-13 13:12] smolinari commented on #6689
If you touch this code, you could theoretically also start to refactor "cluster" for "shard" for 3.0 too, right?

`OLocalShardStrategy`

:stuck_out_tongue_winking_eye:

I know, I know. It is a lot of work......but still. :smile:

Scott

[2016-09-13 14:05] AubryLegrand commented on #6683
I found the problem, i had some jar in "plugins" folder since 2.2 version. I deleted them and it solves the issue.

[2016-09-13 14:07] maggiolo00 commented on #6683
@AubryLegrand

cool!

[2016-09-13 14:07] #6683 closed

[2016-09-13 14:19] maggiolo00 commented on #5413
@healiseu

i'm about to work on this
which columns do you think is needed to sort?

-className

[2016-09-13 14:50] smil2k opened #6691 "Documentation 2.2 still menitones the command cache."
http://orientdb.com/docs/2.2/Caching.html

In the source the option became deprecated:

  // DEPRECATED IN 2.0, LEVEL1 CACHE CANNOT BE DISABLED ANYMORE
  @Deprecated CACHE_LOCAL_ENABLED("cache.local.enabled", "Deprecated, Level1 cache cannot be disabled anymore", Boolean.class,
      true);

[2016-09-13 15:16] amandeep-sharma commented on #6641
Hi @laa ,
I hope, I have used correct distribution this time :) .
Shared the log, if you need more info please let me know.
https://drive.google.com/file/d/0B-cTHPtXiorIOS1KYnBmbmZYUW8/view

[2016-09-13 17:10] robfrank opened #6692 "JDBC: null values"
## OrientDB Version, operating system, or hardware.
All versions

## Operating System
ALL

## Expected behavior and actual behavior

When a query performed through the JDBC driver contains null values, the document contains only values for fields that are populated. The JDBC data mapper can throw NPE, ClassCastException and do other wrong things

[2016-09-13 17:56] lukaszkaleta commented on #2879
@laa I changed the orient check for free space to lowest 1MB (<entry value="1" name="storage.diskCache.diskFreeSpaceLimit"/>) and then it started to working.
But with default settings I was somehow not able to even create database. You can experiment with AWS EFS and see. Since now it is working for me I do not know if something is needed to fix. But please you decide.

[2016-09-13 19:03] zerovian commented on #6553
sorry for delay. customer took a while to get back to us before confirming they are willing to test with updated version.  will reopen if they run into problems with current branch.

[2016-09-13 20:51] lvca commented on #6104
Still assigned to @tglman

[2016-09-13 20:51] lvca commented on #6685
Fixed.

[2016-09-13 20:51] #6685 closed

[2016-09-14 04:34] evandor commented on #6306
I ran "mvn clean verify" and I got

2016-09-14 06:31:46:332 INFO  - shutdown storage: OSystem... [Orient]
2016-09-14 06:31:46:350 INFO  OrientDB Server is shutting down... [OServer]
2016-09-14 06:31:46:350 INFO  Shutting down listeners: [OServer]
2016-09-14 06:31:46:350 INFO  - ONetworkProtocolBinary /0.0.0.0:2425: [OServer]
2016-09-14 06:31:46:351 INFO  - ONetworkProtocolHttpDb /0.0.0.0:2481: [OS

[2016-09-14 04:42] evandor commented on #6306
When I ran the command with skipped tests, I got a 34,7 MB file orientdb-osgi-core-bundle-2.2.10-SNAPSHOT, which first looked ok, but I am having issues with it: The embedded files are jars (not even bundles); when I wanted to import any class in my own bundle, e.g.

import com.orientechnologies.orient.core.metadata.schema.OType;
import com.orientechnologies.orient.core.record.impl.ODocument;

the

[2016-09-14 07:31] mindnuts commented on #6678
@RodrigoLimasss I had similar issues and i switched to this Docker image:
[code]

Let me know if it works for you.

[2016-09-14 07:35] taburet commented on #6306
Please provide details about your development/build/runtime environment. A striped down version of the project that won't compile would be great.

I basically was targeting following environments:

1. Full-fledged OSGi dev/build/runtime environment like Eclipse+Tycho, it supports embedded jars and obeys OSGi rules in general.

2. IDEA+Maven for dev/build time, regular non-OSGi deps are used since

[2016-09-14 07:58] laa commented on #6641
Hi @amandeep-sharma , that is real shame but this time I provided you wrong distribution could you try this one https://drive.google.com/file/d/0B2oZq2xVp841WFgxdkRxcXppRlk/view?usp=sharing

[2016-09-14 09:10] publicocean0 opened #6693 "insert ... from select error"
## OrientDB Version, operating system, or hardware.

- v2.2.8

## Operating System
- [x ] Linux
- [ ] MacOSX
- [ ] Windows
- [ ] Other Unix
- [ ] Other, name?

## Expected behavior and actual behavior
problem for copying chunks (the select bottom is a example)

 insert into cluster:3 from (select from cluster:3 limit 3)

Error: com.orientechnologies.orient.core.exception.OStorageException: Cluster

[2016-09-14 09:13] laa commented on #6693
Hi @publicocean0 , information which is contained inside of issue is not very useful. We have neither full stack trace, nor steps to reproduce an issue, nor data to reproduce the problem. Could you provide some of this information?

[2016-09-14 09:22] #6678 closed

[2016-09-14 09:22] robfrank commented on #6678
AFAIK this problem isn't related with OrientDB itself. At lest with the scarse details provided. I close the issue.

[2016-09-14 09:53] robfrank commented on #6573
I was able to reproduce the bug. We are going to release 2.2.10 in a few days. In the meanwhile, if you don't need a specific csv parsing format, simply get rid of ```
"predefinedFormat": "DEFAULT",
[code]

[2016-09-14 10:03] AlessandroRota opened #6694 "Order BY @RID DESC stops working in 2.2"
See the question on google groups https://groups.google.com/forum/#!topic/orient-database/v7hPzH-6-4I

Hi altogether

I am in the process of adapting ActiveOrient (https://github.com/topofocus/active-orient) to Version 2.2.
And found that  DatabaseClass#Last returns the first instead of the last record.

The following query is transmitted by the test-suite:

 select  from industry  order by @rid d

[2016-09-14 10:09] publicocean0 commented on #6693
error is executing console or orientdb ide. i can t see any stack in output. The error is reproducible executing simply the query above

[2016-09-14 10:22] laa commented on #6657
Hi @rdelangh , I was puzzled by a thread dump which you sent to me. I concluded that this thread dump is invalid. I explain why.
All threads in thread dump are blocked by JVM in so-called "safe point" state. It means that either you are taking heap dump at this moment, or you are experiencing memory issues, and GC asked JVM to lock threads to make memory housekeeping. If you encounter a problem th

[2016-09-14 10:28] laa commented on #6693
@publicocean0 do you work with database using remote connection ?

[2016-09-14 10:57] publicocean0 commented on #6693
yes

[2016-09-14 10:59] laa commented on #6693
@publicocean0 could  you check server log files and find full stack trace of exception which you mention ?

[2016-09-14 11:01] laa commented on #6688
@ComeMaes could you build latest version of 2.2.x branch (just execute command ```mvn clean package```) and create database with default settings.

[2016-09-14 11:04] publicocean0 commented on #6693
no error is produced in log. It is a application error not a exception.

[2016-09-14 11:07] laa commented on #6693
@publicocean0 I have more questions by cluster "3" do you mean a name of the cluster or cluster Id ?

[2016-09-14 11:10] laa commented on #6693
```insert into cluster: ``` command supports only cluster name. @luigidellaquila could you suggest how to resolve given issue ?

[2016-09-14 11:11] publicocean0 commented on #6693
yes :) i m open to your suggestions

[2016-09-14 11:44] amandeep-sharma commented on #6641
@laa we will get back by early next week

[2016-09-14 12:35] tglman commented on #6686
manually merged, closing this

[2016-09-14 12:35] #6686 closed

[2016-09-14 12:37] Ivanov-Yuriy opened #6695 "Classes lose custom fields after import / export operations"
Hi guys
I wrote to you about this bug before [https://github.com/orientechnologies/orientdb/issues/4272](https://github.com/orientechnologies/orientdb/issues/4272)
and it does not work again
## OrientDB Version, operating system, or hardware.
- v2.2.9

## Operating System
- [ ] Linux
- [ ] MacOSX
- [x] Windows
- [ ] Other Unix
- [ ] Other, name?

## Expected behavior and actual behavior
custom fie

[2016-09-14 12:52] publicocean0 commented on #6663
found new infos.

 select @rid from (select data[0].link from #36:628)
[code]

where data is a embedded object

[2016-09-14 14:52] laa commented on #6663
It looks like data serialization issue, @tglman could you look on it ?

[2016-09-14 14:53] #6573 closed

[2016-09-14 14:53] robfrank commented on #6573
I've pushed the fix:

https://github.com/orientechnologies/orientdb/commit/7fe62b30d1ec4ae2d6c99ba9262216092f41bba0

And fixed the docs:
http://orientdb.com/docs/2.2.x/Extractor.html

We will release 2.2.10 asap

[2016-09-14 14:58] #6692 closed

[2016-09-14 15:04] publicocean0 commented on #6663
script is executed in server side

[2016-09-14 15:19] tglman commented on #6663
hi @laa, @publicocean0

this is normal because the inner query produce a projection that has negative rids, you should instead do: `select @rid from (select expand(data[0].link) from #36:628)`

for the original problem the solution is `delete from (select content.@rid from 33:740)`

Regards

[2016-09-14 15:19] tglman commented on #6663
hi @laa, @publicocean0

this is normal because the inner query produce a projection that has negative rids, you should instead do: `select @rid from (select expand(data[0].link) from #36:628)`

for the original problem the solution is `delete from (select content.@rid from 33:740)`

Regards

[2016-09-14 16:05] publicocean0 commented on #6663
i consider it solved. Thanks

[2016-09-14 16:05] #6663 closed

[2016-09-14 16:53] tglman commented on #6695
hi @Ivanov-Yuriy,

I just reviewd and fixed some issue on the import this week, the fix should be released in 2.2.10 tomorrow.

Bye

[2016-09-14 19:48] william76 opened #6697 "Enhancement Request: Save query output to CSV from the console."
## OrientDB Version, operating system, or hardware.
- [X] v2.2.9
## Operating System
- [X] Linux
- [X] MacOSX
- [X] Windows
- [ ] Other Unix
- [ ] Other, name?
## Enhancement Request

Per email thread [https://groups.google.com/forum/#!topic/orient-database/rAfYoQMBs1g](https://groups.google.com/forum/#!topic/orient-database/rAfYoQMBs1g) I am posting this enhancement request.

The ability to save

[2016-09-14 20:03] smil2k opened #6698 "High CPU usage"
## OrientDB Version, operating system, or hardware.
- v2.2.9

## Operating System
- [x] Linux
- [ ] MacOSX
- [ ] Windows
- [ ] Other Unix
- [ ] Other, name?

openjdk version "1.8.0_91"
OpenJDK Runtime Environment (build 1.8.0_91-8u91-b14-1~bpo8+1-b14)
OpenJDK 64-Bit Server VM (build 25.91-b14, mixed mode)

After running some hours days, a thread seems to stuck in the orient server.
Did anyone expe

[2016-09-15 05:25] lvca commented on #6689
Fixed. Now the strategy used remains also in distributed. The only thing that changes when running in distributed is the cluster Ids of the class: they are filtered by local cluster ids only.

[2016-09-15 05:25] #6689 closed

[2016-09-15 06:47] Ivanov-Yuriy commented on #6695
hi @tglman
it is great, thanks

[2016-09-15 09:58] tglman commented on #6627
Hi,

Can we close this ? has been already released.

[2016-09-15 10:44] maggiolo00 commented on #6618
@kindofwhat

So you are creating a class that does exist right?

[2016-09-15 10:46] maggiolo00 commented on #6618
@kindofwhat

i was unable to reproduce it can you help me on that?

Thanks

[2016-09-15 11:25] dej611 commented on #5074
Just dropping here a new note. Since OrientDB 2.2.x the trick explained above doesn't work any more.

We've found another solution explained here: http://stackoverflow.com/questions/27612752/building-web-app-using-orientdb-javascript-api

For who lands here from a search engine, here's the solution - quoting from the linked page:

[2016-09-15 12:18] tglman commented on #6474
hi @mmacfadden,

This is strange, in any case can you try the lastest release 2.2.10 and try to get a memory dump in case you have an OutOfMemory.

Regards.

[2016-09-15 12:48] tglman commented on #6698
hi @smil2k,

this thread is just waiting for a binary request and is blocked on the socket read, in any case of a new request arrive or the socket will be closed this thread will resume normaly, and as the status say 'RUNNABLE' means that is ready to run as soon as an event happen, from the title you said that there is a high CPU, this thread is actually stopped so should not be the cause, do you

[2016-09-15 13:32] tglman commented on #6526
hi @mikayeln,

we fixed a few issue recently on disconnection, some of this disconnections where triggerred by distributed configuration update, that is triggered also in case of backup, so this case should definitly fixed in 2.2.10.

Let me know if i can close this.

[2016-09-15 13:33] tglman commented on #6695
Hi @Ivanov-Yuriy,

2.2.10 has been released, let me know if we can closed this.

Bye

[2016-09-15 13:45] smil2k commented on #6499
Hi,

I just made some dump for you. do you have an ETA for 2.2.10?

Cheers,

Tamas

[2016-09-15 13:50] tglman commented on #6499
hi @smil2k,

the 2.2.10 has just been relased, i'll check as well your dump to be sure it was the same source.

Regards.

[2016-09-15 13:58] mmacfadden commented on #6474
@tglman Sorry I should have come back and commented.  The real issue I am having is this one over here:

https://github.com/orientechnologies/orientdb/issues/6647

I am not sure if the two are related.  One thing I would say is that the fix that is really needed at the moment is for when this error crops up to print out a stack trace.  I will make a PR for that.

[2016-09-15 15:29] tglman commented on #6474
hI @mmacfadden,

Ok let's follow up there.

@smil2k is this fixed for you with the 2.2.10 ?

Regards

[2016-09-15 15:30] tglman commented on #6368
hi @ghatwala,

As far as i know now the ppc64 architecture is supported correctly, can we close this ?

Regards

[2016-09-15 15:36] tglman commented on #6334
this was fixed a while ago and released, i'm going to close this, please reopen if you still have problems.

[2016-09-15 15:36] #6334 closed

[2016-09-15 15:39] tglman commented on #6569
hi @BartTK,

Do you have a schema defined on that class ?

Bye

[2016-09-15 16:04] maggiolo00 commented on #5425
@lvca

yes but i'm not sure yet about the keybinding.Now are Ctrl+Up, Ctrl+Down but @luigidellaquila point it out that on Mac

Ctrl+Up, Ctrl+Down are used in editor as Page Up/Down.

We should chose another keybinding. Any proposition?

[2016-09-15 20:38] smil2k commented on #6474
Yes. I can still reproduce it.

I think I was able to narrow down the problem to my browser:
Chromium Version 51.0.2704.79 Ubuntu 14.04 (64-bit)

If I open the studio using chromium, then this happens. Maybe it cuts the connection early.

[2016-09-15 21:33] smil2k opened #6699 "java.lang.IllegalArgumentException: Type error. The class bucket_ACR_0 does not extend class 'E' and therefore cannot be considered an Edge"
## OrientDB Version, operating system, or hardware.
- v2.2.10
## Expected behavior and actual behavior

Graph editor does not work properly in case lightweight edges are used.
Clicking on "next edge" gives internal error:
java.lang.IllegalArgumentException: Type error. The class bucket_ACR_0 does not extend class 'E' and therefore cannot be considered an Edge
## Steps to reproduce the problem

can

[2016-09-15 21:51] lvca commented on #6575
A similar issue has been fixed in v2.2.10. @mikayeln please can you try with last GA version?

[2016-09-15 22:46] mmacfadden commented on #6474
@smil2k Can you try disabling the network streaming option?

[2016-09-16 00:38] smil2k commented on #6474
Only if you show me how can I do that ;)

Cheers,

Tamas

[2016-09-16 00:50] mmacfadden commented on #6474
@smil2k Take a look at this issue here:

https://github.com/orientechnologies/orientdb/issues/6647

I am wondering if it is related.  If you look at the github repo reference there, you will find a config file that disables streaming by adding the following line:

``` <entry name="network.http.streaming" value="false" />```

For me this 'fixed' the problem.  Although we still don't know exactly wh

[2016-09-16 04:02] kindofwhat commented on #6618
Hi, sorry for my late response.

I just tried it again, and I cannot reproduce the problem anymore.

Sorry for the fuss, maybe best thing would be to close this issue. If I can reproduce it again, I will write it down more specifically

[2016-09-16 04:45] evandor commented on #6306
I am using

Apache Maven 3.2.1 (ea8b2b07643dbb1b84b6d16e1f08391b666bc1e9; 2014-02-14T18:37:52+01:00)
Maven home: /Users/carsten/install/apache-maven-3.2.1
Java version: 1.8.0_74, vendor: Oracle Corporation
Java home: /Library/Java/JavaVirtualMachines/jdk1.8.0_74.jdk/Contents/Home/jre
Default locale: en_US, platform encoding: UTF-8
OS name: "mac os x", version: "10.11.6", arch: "x86_64", family: "m

[2016-09-16 05:43] kwoxer commented on #6664
So the last run worked about 3 days. Now crashed.

I gonna try it with 3/4 memory now. So instead of:

[code]
now:
[code]

[2016-09-16 06:00] Ivanov-Yuriy commented on #6695
everything works great, thanks

[2016-09-16 06:00] #6695 closed

[2016-09-16 07:11] kindofwhat commented on #6617
sorry, completely missread the info

[2016-09-16 07:43] BartTK commented on #6569
Yes, a schema was defined and the field was declared as a 'long'.
But as stated in the comment above; this is not a bug but a user error. The value giving the exception is outside the range of an OrientDB long. My application works with unsigned 64 bit integers, while the longs in OrientDB are signed and thus have a smaller positive range.

[2016-09-16 07:43] #6569 closed

[2016-09-16 08:18] ghatwala commented on #6368
hi @tglman - yes sure , please close this ticket.

[2016-09-16 11:25] ComeMaes commented on #6688
Hi @laa,

I've tried building from 2.2.x branch in an ec2 instance to be able to mount the EFS volume afterwards.
`mvn clean package` failed on OrientDB Core due to failed tests so I had to skip them.

Once build successful, from `distribution/target` directory I ran:
`$ df -hT databases`
`FileSystem                                     Type Size Used Avail. Use%  Mounted on`
`XXXX.YYYYY.efs.ZZZZ.a

[2016-09-16 11:26] laa commented on #6688
Hi @ComeMaes that is nice that your problem is solved. This fix will be in next hot fix release.

[2016-09-16 11:47] Ivanov-Yuriy opened #6700 "different behaviour between EMBEDDEDLIST with linkedtype and EMBEDDEDLIST with linked class"
## OrientDB Version, operating system, or hardware.
- v2.2.10

## Operating System
- [ ] Linux
- [ ] MacOSX
- [x] Windows
- [ ] Other Unix
- [ ] Other, name?

## Expected behavior and actual behavior
I expect that EMBEDDEDLIST with linkedclass will be save with null instead object like in EMBEDDEDLIST with linkedtype

## Steps to reproduce the problem
orientdb {db=test}> **create class test extend

[2016-09-16 12:03] nagarajasr commented on #6647
@mmacfadden hi tried your docker setup https://github.com/mmacfadden/orientdb-reverse-proxy
and it seems to work fine for me. the "not working" link does in fact work, and this is what i see in the logs:

[code]
(note: i'm using docker-machine and docker-compose on windows 7 host)

[2016-09-16 13:19] #6688 closed

[2016-09-16 14:23] #6368 closed

[2016-09-16 14:24] #6618 closed

[2016-09-16 16:55] fredfortier opened #6701 "java.lang.NoClassDefFoundError: com/hazelcast/util/ExceptionUtil"
## OrientDB Version, operating system, or hardware.
- v2.1.20
## Operating System

Windows Server 2012
WAS 8.5
## Expected behavior and actual behavior

I created an error condition assigning two nodes to the same "database" local directory. While I expected an error, what I followed was unexpected. The exception was thrown every few milliseconds in an indefinite loop. Part of the problem seems to

[2016-09-16 18:05] nadestin opened #6702 "Transaction rollback is inconsistent if exception raised during commit"
## OrientDB Version, operating system, or hardware.
- v2.2.9 and earlier
## Operating System
- [* ] Linux
- [ *] MacOSX
- [ *] Windows
- [ *] Other Unix
- [ *] Other, all

## Expected behavior and actual behavior
Assume Transaction that include changes in the separate blob cluster with ORecordBytes records. and changes in another ODocument record that has a field es linkedlist to these blob record

[2016-09-16 19:01] gChurchel commented on #4908
For what it's worth: I was getting the same error and resolved it by updating the server. I had version 2.1.3 installed as the server and 2.2.7 installed on the client. After installing 2.2.7 on the server the problem went away.

[2016-09-16 22:17] antonzherdev opened #6703 "NPE when creating a Lucine index"
## OrientDB Version, operating system, or hardware.
- v2.0 SNAPSHOT[ ] - .18[ ] .17[ ] .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.1 SNAPSHOT[ ] - .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.2 SNAPSHOT[ ] - .9[X] .rc1[ ] .beta2[ ] .beta1[ ]
## Operating System

[2016-09-17 10:51] lukaszkaleta opened #6704 "Client hanging after unsuccessful vertex batch removal + NPE"
## OrientDB Version, operating system, or hardware.
- v2.2.9

## Operating System
- [ ] Linux

## Expected behavior and actual behavior
After NPE (should not occur anyway) orient db binary client should continue working

## Steps to reproduce the problem
Error occurs during removing vertices

`com.orientechnologies.orient.enterprise.channel.binary.OResponseProcessingException: Exception during res

[2016-09-17 11:06] G4br13l3 commented on #6704
Hi @lukaszkaleta, can you be more specific about the steps to reproduce this issue please?
What is your working scenario in which vertices' deleting throws this exception?
Thanks.

[2016-09-17 11:15] lukaszkaleta commented on #6704
Problem is I do not have steps. It happens from time to time. I did not be able to reproduce it by unittest. I assume that some other thread is doing on those verticies I am trying to remove.

[2016-09-17 11:53] G4br13l3 commented on #6704
Ok, I've labeled it as bug. We are taking care of that.
Thanks for your report.

[2016-09-17 14:39] laa commented on #6702
@nadestin I looked at the test which you provided,
and I think you misunderstand the meaning of ACID. ACID properties work if an implementation does not have errors. But what you do, you break implementation by bytecode manipulation and you claim that if the code in database implementation has errors this erroneous code should still support ACID properties does not matter how it changed. @lvca I t

[2016-09-17 14:46] laa commented on #6702
@nadestin you throw NPE in .OByteBufferPool.acquireDirect()  do you have argumentation why this code should throw NPE if not , let suppose that in any RDBMS code which is responsible for rollback of data intentionally changed does it mean that rollback still should work ?

[2016-09-17 15:42] laa commented on #6702
@nadestin I propose you to, for example, throw NPE in cluster or index manipulation code if you want to emulate such behavior but I am sure that infrastructure properties will work if and only if infrastructure code will work correctly.

[2016-09-17 17:30] lvca commented on #6702
@nadestin why a NullPointerException from the com.orientechnologies.common.directmemory.OByteBufferPool.acquireDirect() ? Is it what you had in the OrientDB logs?

[2016-09-17 23:12] rdelangh opened #6705 "shutdown of 400GB dbase hangs"
## OrientDB Version, operating system, or hardware.
- v2.2.7

## Operating System
- [x] Linux

# Expected behavior and actual behavior
A single-node ODB server is not stopping, when using the gracefull "shutdown.sh" script.

This is a separate thread for the issue started in #6657; this new issue is strictly relating to the shutdown problems. Please see that issue #6657 for the previous communicat

[2016-09-17 23:14] rdelangh commented on #6657
@laa , many thanks for your follow-up.
1) regarding your latest comment : I am not very aware of the methods to take a dump of Java processes, so possibly indeed I did something wrong.
The thread dump I took was using the command "jstack -F $pid"

I you recommend any other command, please thrown it to me by all means ;-)

2) I launched this shutdown discussion in a separate thread, i.e. #6705

[2016-09-18 02:08] SDIPro opened #6706 "Would be convenient if 'Live Unsubscribe' supported a parameter"
This is just a convenience request, but it would be useful if `live unsubscribe ?` were supported with a parameter.

This causes the following error:
error unsubscribing token ?: java.lang.NumberFormatException - For input string: "?" [OCommandExecutorSQLLiveUnsubscribe]

[2016-09-18 10:34] natemurthy commented on #6668
I have also experienced this problem using OrientDB 2.2.8 and as early as OrientDB 2.1.4 when using the `orientdb-graphdb` Java client.

[2016-09-18 10:40] natemurthy commented on #6668
Here's another related ticket: https://github.com/orientechnologies/orientdb/issues/6526

[2016-09-18 10:44] publicocean0 opened #6707 "server error log (it is a bug?)"
## OrientDB Version, operating system, or hardware.

2.2.8
## Operating System
- [x ] Linux
## Expected behavior and actual behavior

`2016-09-17 15:52:23:618 WARNI Token signature failure: AAAAAAhzdHJlYW1lcgAABQAAAAAAAAAAAAABVyz5wG8AACQAF09SZWNvcmRTZXJpYWxpemVyQmluYXJ5AA1PcmllbnREQiBKYXZhAAUyLjIuOFHqT7shN22bGQNacTkM4JbYQnyn2aA38Nlr7Bl+Xs5G [OTokenHandlerImpl]$ANSI{green {db=aa}} Cannot serialize

[2016-09-18 11:47] publicocean0 opened #6708 "worrying connection problem in orientdb"
## OrientDB Version, operating system, or hardware.
2.2.8

## Operating System
- [ x] Linux

## Expected behavior and actual behavior
 in my application i have multiple.... log error

`com.orientechnologies.common.log.OLogManager.log Caught I/O errors, trying to reconnect (error: Stream closed)
com.orientechnologies.common.log.OLogManager.log Caught I/O errors, trying to reconnect (error: Connecti

[2016-09-18 12:01] publicocean0 commented on #6708
first observation :
every call to database give this log notification
com.orientechnologies.common.log.OLogManager.log Caught I/O errors, trying to reconnect  ...

[2016-09-18 12:09] publicocean0 commented on #6708
searching similar error in google i saw ... maybe it is not a problem from client but from server.
Maybe server close connection.why?

[2016-09-18 13:21] publicocean0 commented on #6708
just moment i m investigating in my old persistent manager class.... i will tell ...

[2016-09-18 21:38] rdelangh commented on #6666
@lvca, ok, I managed to upload the logfiles of the first and 2nd server to GIST:
[https://gist.github.com/rdelangh/192a9fd0c759121e305d2c5ab35dc9fa]
- the logfile on GIST for the 1st server is named "orient1-orient-server.log.0"
- the logfile on GIST for the 2nd server is named "orient2-orient-server.log.0"

[2016-09-19 06:42] nadestin commented on #6702
I believe that there is a misunderstanding.
I have filled this bug report not out of curiosity.  The example program shows a Real problem and Real data loss. This sample program is a test case that I made to clearly and undoubtedly reproduce a real problem. I am trying to give you a good starting point for debugging Transaction behavior in the OrientDB. I am trying to help you, not attack you.

He

[2016-09-19 07:34] laa commented on #6702
Hi @nadestin sorry for the misunderstanding.
I suppose we may fix your issue without significant effort. Then we may continue to discuss atomicity concept.
I see that you run a server , do you run embedded server or standalone one?

[2016-09-19 07:47] StarpTech commented on #5029
Any updates?

[2016-09-19 07:49] StarpTech commented on #4390
Any updates?

[2016-09-19 07:49] nadestin commented on #6702
Our application can run standalone and in the client/server mode.

In standalone mode OrientDB is embedded in the client.
In the Client/Server mode it is embedded in the server.

[2016-09-19 07:51] StarpTech commented on #3992
Any updates?

[2016-09-19 07:53] laa commented on #6702
@nadestin so just to double check , this error happens in Client/Server mode when your application is embedded inside OrientDB server. Is it correct ? Could you send JVM settings which you use to run server /

[2016-09-19 07:58] nadestin commented on #6702
No, This error happens in both modes. We saw it on standalone client and also in the client server mode.
And the problem is not NPE Exception.  Problem is that after this exception transaction is not properly rolled back what leads to the data loss, as shown in my test case. Rollback behavior should be fixed, NPE is not important here.

[2016-09-19 08:06] laa commented on #6702
@nadestin As I wrote above this method is part of mechanics which is responsible for rollback to make rollback work we need to fix code which is responsible for rollback. Once again atomicity of database does not mean that it will immune to any error because if code responsible for correct error handling is broken it can not work correctly. Could you send me JVM settings which you use to run serve

[2016-09-19 08:09] robfrank commented on #6705
First of all, as reference, the doc about shutdown:

http://orientdb.com/docs/last/Tutorial-Run-the-server.html#stop-the-server

If you run the shutdown script on the server where OrientDB is running, without parameters, it will send a kill signal and the waits for the process to finish:

[code]

You can stop the server passing parameters to the script, as stated in the documentation:

[code]

You

[2016-09-19 08:14] nadestin commented on #6702
In that particular case Server was running on 32bit Java, with

-Xmx512m
-XX:MaxDirectMemorySize=512m

On a 32 Bit Java in Windows that is a Maximum what we can get.

[2016-09-19 08:15] laa commented on #6702
@nadestin I see, what is disk cache size or you use default settings ?

[2016-09-19 08:16] nadestin commented on #6702
Default settings

[2016-09-19 08:21] #6336 closed

[2016-09-19 08:25] robfrank commented on #6506
Sorry for the delay. Could you attach to the issue a sample data file and a configuration file? Are you using the jdbc source or are you loading from csv?

[2016-09-19 08:29] laa commented on #6702
@nadestin I see now. I need time to think how to fix that problem without applying of special settings but for your case, we may resolve an issue quickly.  Could you use following additional settings -Dstorage.diskCache.bufferSize=448 -Dmemory.chunk.size=58720256.
If it works, I provide a detailed explanation of reason of issue.

[2016-09-19 08:36] nadestin commented on #6702
Ok, since it is only System properties, it can be done during program start before OrientDB is loaded.
I will make these changes for all 32bit clients and servers. It will take some time before I get a feedback, but consequence of this error is data loss, and that still worries me.

[2016-09-19 08:38] laa commented on #6705
Hi @rdelangh  @robfrank is right, we recommend you to stop the server by passing parameters to the script.
If that solve the issue, and you have time to investigate the case when kill command hangs the database I will be glad to fix that problem too. If this approach does not work, please keep a database in the frozen state and we will gather additional information to identify an issue.

[2016-09-19 08:40] laa commented on #6702
@nadestin It worries me too that is why we are going to provide a solution which will not require manual configuration. But first of all, I need to now that I identified issue correctly.

[2016-09-19 08:50] #6069 closed

[2016-09-19 09:07] benjaminbillet commented on #6681
Hi,
Is this problem solved in 2.2.10? I still have the issue, even with the trick given by @valenpo

For testing purpose, here is a java snippet. It creates a single vertex type with a single property and tries to create three nodes (two of them, without the property). It crashes with OrientDB 2.2.10:

[code]

`Exception in thread "main" com.orientechnologies.orient.core.storage.ORecordDuplicatedE

[2016-09-19 09:10] maggiolo00 commented on #6701
@fredfortier

ExceptionUtil should be in hazelcast jar. That is strange.
Can you check your classpath and see if you have duplicates jar of Hazelcast?

[2016-09-19 09:25] smolinari commented on #6069
@robfrank - Do I understand correctly that Lucene 6.2.0 is now going to be in 2.2.11? Are there any new features that can be taken advantage of directly? This is a pretty cool update from what I understand of Lucene's newer versions.

Scott

[2016-09-19 09:37] robfrank commented on #6069
no, I'm sorry. We are migrating to 6.2.0 on 3.0.x (develop brach). Even if it could be safe to migrare lucene, such a big version change on a maintenance branch could not be done.

[2016-09-19 09:43] #6597 closed

[2016-09-19 09:43] maggiolo00 commented on #6597
@anatse
please follow this issues for this enhancement
https://github.com/orientechnologies/orientdb/issues/5201

[2016-09-19 10:21] luigidellaquila commented on #6706
Hi @SDIPro

It's not hard to support, I'll work on it asap

Thanks

Luigi

[2016-09-19 10:26] maggiolo00 commented on #6584
@jamieb22

Seems that the API graph.getIndices().iterator()  loads only manual indexes.
Let me check for a fix

Thanks

[2016-09-19 10:35] luigidellaquila commented on #3992
Hi @StarpTech

It's already fixed in develop branch with the new executor (3.0), but this feature will hardly be back-ported to 2.2, as it's a completely new component

Thanks

Luigi

[2016-09-19 10:47] maggiolo00 commented on #6584
@jamieb22

Seems that the OrientIndex that handle indexes works only with manual indexes. So i guess you should use the underlying  API

[code]

[2016-09-19 11:02] smolinari commented on #6069
Ahh! :+1: Ok. That makes perfect sense. :smile:

Thanks for the explanation.

Scott

[2016-09-19 11:11] robfrank commented on #6703
I wasn't able to repoduce the problem with your code (Scala, I guess).
But, as i understand, your suggestion is to check for null on the flush method:
[code]
to
[code]

I will check the lifecycle before add the line;  I don't like defensive programming

[2016-09-19 12:09] benjaminbillet opened #6709 "Use "root" as variable name (LET clause)"
## OrientDB Version, operating system, or hardware.
v2.2.10
## Operating System
Mac OS X

## The problem
SELECT expand($x) LET $x = (SELECT FROM Event)
=> OK

SELECT expand($root) LET $root = (SELECT FROM Event)
=> No result found, but no error message

Is "root" a reserved keyword?

[2016-09-19 12:33] maggiolo00 commented on #6639
hi @BruceMu

did you check my example?

[2016-09-19 12:45] laa commented on #4390
@StarpTech I believe we already have such one https://github.com/orientechnologies/orientdb-labs

[2016-09-19 12:46] ashwin1209 commented on #6635
Updated to 2.1.23, but one observation I found was.
1. Configured Orientdb server as mentioned above.
<entry name="server.database.path" value="${ORIENT_DB_DIR}/databases"/>
<entry value="30" name="db.pool.min"/>
<entry value="300" name="db.pool.max"/>
<entry name="cache.local.enabled" value="true" />
<entry value="true" name="profiler.enabled"/>
<entry value="info" name="log.console.level"/>
<ent

[2016-09-19 12:54] Pro-Vizion opened #6710 "Public Address declaration makes OrientDB Crash"
## OrientDB Version, operating system, or hardware.
- v2.0 SNAPSHOT[ ] - .18[ ] .17[ ] .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.1 SNAPSHOT[ ] - .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.2 SNAPSHOT[ ] - .rc1[ ] .beta2[ ] .beta1[ ] .10[X]
## Operating Syste

[2016-09-19 12:58] smolinari commented on #4390
@laa

Hey Andrey. Can anyone add an OEP?

I'd have three.

1. Exchange "Cluster" for "Shard" throughout all of ODB code and documentation.
2. Lucene Indexing Enhancements
3. True NoSQL support

Or should there be a suggestion made first and then the ODB team creates the OEPs? The OEP process itself isn't completely clear to me. Sorry.

Scott

[2016-09-19 13:01] laa commented on #4390
@smolinari you can not , but if issue which you propose will be found reasonable by one of the committers it will be added there. The OEP process itself is described in https://github.com/orientechnologies/orientdb-labs/blob/master/OEP_1.md

[2016-09-19 13:08] Pro-Vizion commented on #6710
Also note that in Hazelcast documentation, the port number should be given inside the <port> tag and not in the <public-address> tag...

[code]

http://docs.hazelcast.org/docs/3.5/manual/html/networkconfiguration.html

[2016-09-19 13:20] smolinari commented on #4390
Ok. Thanks. I saw the OEP 1, but didn't read in detail, as I thought it was just the proposal and not the final process.

Can users/ the community create issues for OEP suggestions?

Scott

[2016-09-19 13:29] laa commented on #4390
@smolinari such issues are welcome​ !!!

[2016-09-19 13:51] Pro-Vizion opened #6711 "Database deployment using autodeploy=false"
## OrientDB Version, operating system, or hardware.
- v2.0 SNAPSHOT[ ] - .18[ ] .17[ ] .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.1 SNAPSHOT[ ] - .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.2 SNAPSHOT[ ] - .rc1[ ] .beta2[ ] .beta1[ ] .10[X]

## Operating Syst

[2016-09-19 14:08] robfrank commented on #6703
I was unable to replicate the problem with the code snippet provided (is it Scala?) using either 2.2.9 and 2.2.10

[2016-09-19 14:16] ashwin1209 commented on #6635
After updating database to 2.1.23, unable to access the db through java client ver 2.1.23?

[2016-09-19 14:20] #6444 closed

[2016-09-19 14:20] robfrank commented on #6444
no response for long time. Feel free to reopen the issue

[2016-09-19 14:21] #6121 closed

[2016-09-19 14:21] robfrank commented on #6121
no response for a while, feel free to reopen if necessary

[2016-09-19 14:23] #5843 closed

[2016-09-19 14:23] robfrank commented on #5843
no response for a while. Feel free to reopen issue if necessary

[2016-09-19 14:25] #6592 closed

[2016-09-19 14:37] benjaminbillet opened #6712 "RETURN clause throws OCommandExecutorNotFoundException with SQL batch script"
## OrientDB Version, operating system, or hardware.
v2.2.10 MacOSX Java

## Expected behavior and actual behavior
According to http://orientdb.com/docs/master/SQL-batch.html the RETURN clause can be used to return the result of a query. However, it fails with an OCommandExecutorNotFoundException

## Steps to reproduce the problem
Consider the following Java snippet:

[code]

Note that "return (sel

[2016-09-19 14:45] luigidellaquila commented on #6712
Hi @benjaminbillet

It seems to be a bug, I'll take a look at it asap

Thanks

Luigi

[2016-09-19 15:12] smolinari commented on #4390
Ah! Great! Then I'll be putting the text together and will open the three suggestions I mentioned above.

Scott

[2016-09-19 16:21] maggiolo00 commented on #6709
hi @benjaminbillet

seems that $root is a reserved context variable like those one

http://orientdb.com/docs/2.1/SQL-Where.html#variables

I think it's not listed there because it is used internally

[2016-09-19 16:41] saeedtabrizi commented on #6583
Hi @laa
It seems to be Ok . however i try simulate a stress test to simulate related problem again .
Thanks

[2016-09-19 16:45] saeedtabrizi commented on #6530
Hi @luigidellaquila
I test it in 2.2.10 and works fine .
Thanks
Saeed Tabrizi

[2016-09-19 17:03] kwoxer commented on #6664
Well again crashed/KILLED after 3 days. Also with lower settings:

[code]

Now I gonna try

[code]

[2016-09-19 17:04] lvca commented on #6709
@maggiolo00 could you please update the docs?

[2016-09-19 17:18] fredfortier commented on #6701
I see only one hazelcast jar in my classpath: hazelcast-all-3.5.3.jar

I do see a com/hazelcast/util/ExceptionUtil.class in the JAR file.

I am attaching a log excerpt so that you can better understand the context of the error.

[hazelcast-error.txt](https://github.com/orientechnologies/orientdb/files/480673/hazelcast-error.txt)

[2016-09-19 17:33] benjaminbillet commented on #6709
Thanks for your response.
However, in addition of the documentation update, I think that an explicit error should be triggered when a reserved internal variables is used in a query. Currently, it fails silently with a "0 result(s) found" message, which makes it very difficult to understand.

[2016-09-19 17:39] yeoedward commented on #6673
@laa Can you please post links to any issue trackers/pull requests related to this critical issue in 2.2.4? Some more context would be very helpful.

[2016-09-19 17:51] lvca commented on #6709
+1 to raise an error.

[2016-09-19 18:58] lvca commented on #6710
Where did you find in the docs that the HZ port could be in the tag `<public-address>192.168.1.XX:NNNN</public-address>` ? By using the right XML port tag, everything works?

[2016-09-19 19:01] lvca commented on #6666
Ok, this error should be fixed in the last 2.2.10. Could you please retry?

[2016-09-19 19:03] lvca commented on #6702
So the problem seems to reside in the 32-bit JVM, right?

[2016-09-19 19:05] lvca commented on #6701
The problem seems to be in the classpath: please assure you have `hazelcast-all-3.5.3.jar` in your classpath.

[2016-09-19 19:09] fredfortier commented on #6701
Yes, it's in the classpath for sure. This is a WAR file. The hazelcast jar has the exact same characteristics as all other libraries in the application.

[2016-09-19 19:56] Pro-Vizion commented on #6710
I didn't. I'm not sure you red all i wrote.
First i tried without the port number in the public-adress tag. But your code hung on the fact that you're splitting this string on the ":" symbol.

So i tried with the port in the tag to see what happened. The previous code passed, but then of course Hazelcast was not happy with it.

So the problem is : if i don't have a ":" symbol in the public address

[2016-09-20 01:38] anber500 opened #6714 "Running in distributed mode don't sync data across all nodes."
## OrientDB Version, operating system, or hardware.
- v2.2.9
- v2.2.10
- v2.2.11_SNAPSHOT
## Operating System
- [x] Linux
- [ ] MacOSX
- [ ] Windows
- [ ] Other Unix
- [ ] Other, name?

I have 3 nodes running in distributed mode, call them node1, node2 and node3. I mostly use node1 as a master read/write database with the rest as "read" servers. However all nodes can be written too but very little

[2016-09-20 04:07] lvca commented on #6701
If you open the Hazelcast jar, can you find the missing class?

[2016-09-20 04:12] lvca commented on #6714
Why did you change `writeQuorum` to 1 even if you have 3 nodes? In this way, the database could be not consistent between nodes. Please restore the "majority" and you'll see everything will be replicated.

Look at the documentation about `writeQuorum`: http://orientdb.com/docs/2.2/Distributed-Configuration.html.

[2016-09-20 04:15] lvca commented on #6710
@Pro-Vizion could you please copy here your hazelcast.xml file?

[2016-09-20 05:27] lvca commented on #6610
Thanks for your attachments. It was a bug with the database created in non-distributed mode (like yours). Fixed in 2.2.x branch (and develop branch too). It will be released in the release 2.2.10.

[2016-09-20 05:27] #6610 closed

[2016-09-20 05:28] anber500 commented on #6714
OK, maybe I'm not clear about the severity of this issue. I can lose my job over this!

If I set it to "majority", I can't use the database at all. The other two nodes, node2 and node3 keeps arguing with node1. They simply can't reach quorum.

In your documentation, it states that :

I read it a few times and no where does it mention that by NOT using "majority", I run the risk of destroying my da

[2016-09-20 06:01] nadestin commented on #6702
Null pointer Exception during commit was observed only in 32bit JVM (yet), but inconsistent transaction rollback can be reproduced on any JVM.

[2016-09-20 06:23] robfrank commented on #6610
Next version will be 2.2.11.

[2016-09-20 06:29] lvca commented on #6610
You're right, modified the comment.

[2016-09-20 06:33] mtolhuisen opened #6715 "OSQL: Can you please add sort method"
## OrientDB Version, operating system, or hardware.
- 2.1.20
  ## Operating System
- [ ] Windows
## Expected behavior and actual behavior

select out('edgename') from VertexClass
results in a list of vertices which are connected to VertexClass.
Unfortunately this list is not sorted, instead of the expected @rid order

Can you implement a method which sorts the list, using one ore more properties,

[2016-09-20 06:38] luigidellaquila commented on #6715
Hi @mtolhuisen

I'm marking this as an enhancement, it will be implemented in next releases.
I'm also adding a "contributor friendly" label, as it's definitely easy to implement, so new contributors can try to provide a PR

Thanks

Luigi

[2016-09-20 07:01] anber500 commented on #6674
With python you are severely limited. There are not many Python friendly options out there.

The two I have tried are **pyorient**, which doesn't work with distributed databases (and who know what else), and the **Bulbflow** project which is a mess. The switch over from TinkerPop 2 to TinkerPop 3 has make support blueprints limited and in most cases the support is simply not there. If you start lo

[2016-09-20 07:04] lvca commented on #6714
Hey @anber500, if you have 3 servers with writeQuorum=1, in the case of conflict and no winner, your database could be not consistent. It's not OrientDB, but it's ANY database based on quorum. Take a look at https://en.wikipedia.org/wiki/Quorum_(distributed_computing). We have an issue to declare what happen in this case, namely who is the winner: https://github.com/orientechnologies/orientdb/issu

[2016-09-20 07:33] AubryLegrand commented on #6710
[code]

[2016-09-20 07:40] lvca commented on #6710
You declared the port as `18879` (with the option to increment it if busy), but you never specified the port `18879` in the other hosts under the `            <tcp-ip enabled="true">` section.

[2016-09-20 07:45] laa commented on #6583
@saeedtabrizi that is cool, thank you very much for your time.

[2016-09-20 07:48] AubryLegrand commented on #6710
The port is specified like this =>

[code]

I replaced the number per `PPPP `in the ticket.

[2016-09-20 07:52] anber500 commented on #6714
I have writeQuorum as 1 because I want low latency between the write node and the read nodes.
I need the read nodes to be up to date with the write node at all times but I'm not concerned with it the other way around. The write queries on on node2 and node3 are not critical.

Also, I had issues with the nodes not reaching quorum as per the following post:

http://stackoverflow.com/questions/394948

[2016-09-20 07:59] StarpTech commented on #6674
@anber500
As long as orientdb don't overhaul the binary protocol by a industrie standard I can only recommend orientjs but also the most active driver has lots of limitations. I really hope that this will be planned for the next version so implementing new clients will be an easy way.

[2016-09-20 08:01] lvca commented on #6710
The error you received:

`com.orientechnologies.orient.enterprise.channel.binary.ONetworkProtocolException: Cannot read protocol version from remote server /192.168.1.34:18879: java.net.SocketTimeoutException: Read timed out`

means you are confusing the Hazelcast ports with the OrientDB ports. Could you please double check the port in orientdb-server-config.xml are different from hazelcast.xml?

[2016-09-20 08:05] lvca commented on #6714
If you have only 1 node among 3 that execute writes, then writeQuorum=1 should never encounter any conflicts. So even with releases before of 2.2.10 it should work. The fact your database wasn't consistent even with only one node writing, means that you have more than 1 node that writes, or this is a bug. Could you confirm this? If yes, how can we reproduce the issue?

[2016-09-20 08:11] laa commented on #6702
@nadestin as I mentioned above if code responsible for rollback is broken obviously rollback can not happen. So claim that npe from any part of code should be correctly handled is incorrect because of we need to make rollbacks without NPE to make them to work correctly.

[2016-09-20 08:15] Pro-Vizion commented on #6710
Ok, so you know what? my bad. it's my fault, i gave you too much information.
forget the "Error 2".... can you please focus on "Error 1" ?
Like i said, this Error 2 is only the result of putting a port number in the public-address tag. Something that should not be done.

The main problem we're talking here is : that your code **force us** to put the "IP:PPPP" in this tag. **If we don't**, we have

[2016-09-20 08:17] laa commented on #6702
@nadestin @lvca the problem as I can see it is following. The system has several GB of memory.
OrientDB detects that  and uses disk cache with few GB of memory. But it may address only hundred of MB of memory and as result if it try to acquire more for it needs system fails.

One of the approaches to resolving this situation and any other similar once is to allocate all memory required by disk cac

[2016-09-20 08:19] publicocean0 commented on #6708
my old persistent manager is using ODatabaseDocumentPool.global()
i saw it is now deprecated.

1) i replaced ODatabaseDocumentPool. with OPartitionedDatabasePool
2) now error there is a error in unset ODatabaseRecordThreadLocal. I found the reason OPartitionedDatabasePool remove it when i close connection But OrientdbObject use proxied object so you can call the connection also after the dao compl

[2016-09-20 08:25] anber500 commented on #6714
I can guarantee that at this time, I only write to node1.

My code connects via IP on port 2424 to node1. Unless hazelcast is sending writes off to node2 and node3, I'm sure that I'm only writing and reading on node1. The other nodes should only replicate.

This is also not the only issue we are experiencing. We are using PyOrient and also discovered too late that pyorient does not support distrib

[2016-09-20 08:28] benjaminbillet opened #6716 "Suggestion: Compression for the binary protocol"
Hi,

I was monitoring the network traffic between my clients and the standalone database, and I noticed that: (i) most of the traffic is regular text, and (ii) there is a lot of duplicate strings (especially when I combine MATCH requests and fetch plans).

It would be interesting to have an option for compressing the data output. For example, I simply tried to compress my network dump using deflat

[2016-09-20 08:42] StarpTech commented on #6716
+1 a common compression algorithm is snappy.
e.g https://github.com/xerial/snappy-java

[2016-09-20 09:24] Pro-Vizion opened #6717 "Pull or Push a database when autodeploy is false"
## OrientDB Version, operating system, or hardware.
- v2.0 SNAPSHOT[ ] - .18[ ] .17[ ] .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.1 SNAPSHOT[ ] - .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.2 SNAPSHOT[ ] - .rc1[ ] .beta2[ ] .beta1[ ]

## Operating System
- [

[2016-09-20 09:58] nadestin commented on #6702
AFAIK, there are no bullet proof way to figure out if JVM is 32 bit or 64, but following code is covering most real world cases. For some exotic JVMs another way should be found.

  public static int getJavaBitWidth()
  {
    // Figure out whether bit width of running JVM
    // Most of JREs support property "sun.arch.data.model" which is exactly what we need here
    String dataModel = System.get

[2016-09-20 10:06] anber500 commented on #6714
I have finished updating to version 2.2.10 and things are still not working for me.

I upgraded my AWS instances to version 2.2.10.

My default-distributed-db-config.json is as follows:

    {
      "autoDeploy": true,
      "readQuorum": 1,
      "writeQuorum": "majority",
      "executionMode": "synchronous",
      "readYourWrites": true,
      "servers": {
        "*": "master"
      },
      "

[2016-09-20 11:12] anber500 commented on #6714
I can only write that record to the DB if I restart orientDB.

[2016-09-20 11:17] dominioon opened #6718 "WARNI Receiving invalid LiveQuery token: 1857716960 [OStorageRemoteAsynchEventListener]"
## OrientDB Version, operating system, or hardware.
- [X] v2.2.10

## Operating System
- [X] Linux
- [ ] MacOSX
- [ ] Windows
- [ ] Other Unix
- [ ] Other, name?

## Expected behavior and actual behavior
### Expected behaviour
The application prints only lines like this:
`Got live update ORecordOperation [record=#17:0{entry:0} v1, type=CREATE]
`

### Actual behaviour
For every live update also a s

[2016-09-20 11:39] luigidellaquila commented on #6718
Hi @dominioon

The problem seems to be related to the way the client binds user sessions to network connections. We will check it ASAP

Thanks

Luigi

[2016-09-20 12:36] maggiolo00 commented on #4687
hi @isturlic
Implemented

[2016-09-20 12:36] #4687 closed

[2016-09-20 12:37] benjaminbillet opened #6719 "getProperties().get returns an ODocument, while getProperty returns an OrientVertex"
## OrientDB Version, operating system, or hardware.

v2.2.10, MacOS X
## Expected behavior and actual behavior

I was testing the result of a MATCH request and I noticed that the result vertices are returned either as ODocument or OrientVertex depending on the method used:
- OrientVertex#getProperties returns a map where the vertices are of type ODocument
- OrientVertex#getProperty returns vertice

[2016-09-20 12:50] kerner1000 opened #6720 "After changing the DB, records from the old one are fetched"
OrientDB v. 2.1.16

Operation System Linux

I use the following code to manage OrientDB databases within my application. When I switch db nevertheless, I see in my FXTable the properties from the old Database.

As far as I can tell from the code and the logs, all database instances are closed.

https://gist.github.com/kerner1000/fc18d8d51c9b018b576f15d774aab879#file-databaseproviderimpl-java

[2016-09-20 12:52] rmanzar commented on #6674
Thank you so much for the detailed answer and limitation, I have decide to stick with java.

[2016-09-20 12:55] KazuYamaguchi opened #6721 "'HA REMOVE SERVER' doesn't work"
We are running two OrientDB servers.

we are trying 'HA REMOVE SERVER' command but the OrientDB doesn't became OFFLINE.

'HA REMOVE SERVER' doesn't work, as far as I see orientdb.err.

*Before running 'HA REMOVE SERVER'*

HA STATUS -servers -output=text

[code]

*After running 'HA REMOVE SERVER orientdb2'*

The following information is the result of the comand in the orientdb.err log.

[code]

Doe

[2016-09-20 12:58] luigidellaquila commented on #6719
Hi @benjaminbillet

Thank you for reporting, for sure this can be considered an inconsistency.
I'll check if it is possible to change this behavior in v 2.2.x hotfix, as it will change current behavior.
For sure it will change in next major/minor release

Thanks

Luigi

[2016-09-20 13:28] benjaminbillet opened #6722 "MATCH and fetch plan performance issue"
## OrientDB Version, operating system, or hardware.

v2.2.10, MacOSX
## Expected behavior and actual behavior

It looks like my fetch plans have no effect with MATCH requests.

If I understand correctly the documentation (http://orientdb.com/docs/master/Fetching-Strategies.html), the standalone DB should fetch the linked nodes (including their content) and sends them back to the client, such as th

[2016-09-20 13:32] KazuYamaguchi opened #6723 "Is "-Dstorage.useWAL=false" available on on distributed transaction?"
We are runing Multi-master replication on 2 of our servers.
We have use "-Dstorage.useWAL = false" in the VM arguments.

After a while, we got this error message on only one of two servers:

[code]

Is "-Dstorage.useWAL=false" available on distributed transaction commit?

[2016-09-20 13:38] luigidellaquila commented on #6722
Hi @benjaminbillet

Are you running in remote or plocal?
The fact that the query time is non linear is quite strange, we'll investigate it

Thanks

Luigi

[2016-09-20 13:53] benjaminbillet commented on #6722
Hi,
I am running in remote. Feel free to run my test code to be sure my problem is reproducible. I will test with other types of request.
Thanks

[2016-09-20 13:54] benjaminbillet commented on #6722
BTW, I forgot to mention that the results I obtained are the same with and without the fetch plan clause.

[2016-09-20 14:09] e-d commented on #6311
Thank you @tglman! We upgraded to the 2.2.9 version (latest at the time), and we've been running smoothly ever since.

[2016-09-20 14:13] benjaminbillet commented on #6722
After some testing, regular requests does not have the problem, e.g.:

`SELECT FROM TypeA FETCHPLAN *:-1`

`SELECT $a LET $a = (SELECT FROM TypeA), $b = (SELECT FROM TypeB), $c = UNIONALL($a, $b) FETCHPLAN *:-1`

Maybe it's related to MATCH requests?

[2016-09-20 14:15] fredfortier commented on #6701
Yes

I do see a com/hazelcast/util/ExceptionUtil.class in the hazelcast-all-3.5.3.jar file.

[2016-09-20 14:18] maggiolo00 commented on #6701
@fredfortier

so that should means that or you don't have  hazelcast-all-3.5.3.jar in the classpath when running your app or actually you have it twice.

[2016-09-20 14:20] luigidellaquila commented on #6722
Thank you for the detailed information. Yes, it could be someway related to the MATCH statement, I'll investigate it

Thanks

Luigi

[2016-09-20 15:23] fredfortier commented on #6701
I suspected that WebSphere may ship with a version of hazelcast. However, it does not appear to be the case either. Also, my application uses the "parent last" class loading strategy which would use the application libraries when there is a conflict.

I have also searched application jars for references to hazelcast:
`
find . -name '*.jar' -exec grep -Hls hazelcast {} \;
./hazelcast-all-3.5.3.jar

[2016-09-20 15:53] fredfortier commented on #6701
Note that this event also affected my other active node. I had to restart both JVMs to get the database running again.

Caused by:
com.orientechnologies.orient.server.distributed.ODistributedException: Error on executing distributed request (id=-1 from=node1 task=record_delete(#247:72 delayed=false) user=#5:0) against database 'kwcn.[results_node1]' to nodes [node1]
	at com.orientechnologies.orien

[2016-09-20 16:05] lvca commented on #6721
From the logs it looks like you're right: the database is automatically re-installed after the REMOVE. I'm trying to reproduce it.

[2016-09-20 16:59] lvca commented on #6701
You have to restart the OrientDB node after that change. However, if a class that exists cannot be found, it's not related to OrientDB, but to your container and your configuration. To prove it, please run OrientDB in standalone mode to see if works.

[2016-09-20 17:12] lvca commented on #6710
@Pro-Vizion I think you are not having the right attitude here. You're using a product for FREE and FREE is this support. If you need a quicker service you can ask for commercial support.

Anyway, we're still available to resolve your problem that I believe it's 99% in your configuration. First, why in your opinion we should check the port in ORemoteServerChannel line 69 if the port must always be

[2016-09-20 17:20] lvca commented on #6717
This is not available, marked as an enhancement. However you could try to create a database on the server and then execute `HA SYNC DATABASE`, but I'm not sure this works.

[2016-09-20 17:42] william76 opened #6724 "Dead link in documentation"
On the page [Javascript API](http://orientdb.com/docs/last/Javascript-Driver.html) in the documentation, the link to [oriented-api.js](https://github.com/nuvolabase/orientdb/blob/master/server/src/site/js/orientdb-api.js) is a dead link resulting in a trip to the 404 not found page.

[2016-09-20 18:05] #6724 closed

[2016-09-20 18:05] lvca commented on #6724
You're right. That JS API has been deprecated and then removed long time ago. Just updated the docs with:

### This API has been deprecated, please use HTTP calls from the browser by using the [HTTP RESTful protocol](OrientDB-REST.md).
------------

Will be online in max 1h.

[2016-09-20 18:05] SamHard commented on #3467
It looks like this function, "instanceof", still needs to be added to the docs.

[2016-09-20 18:15] Pro-Vizion commented on #6710
Pardon? Did i ask you to go faster in any way? What did i say for you to take this so badly? The only reason i'm posting here is to help other people if they have the same issue i have and to help you have a better product. You know what? forget it.

[2016-09-20 18:18] #6711 closed

[2016-09-20 18:18] #6717 closed

[2016-09-20 19:58] lvca commented on #3467
I can find it here: http://orientdb.com/docs/2.2/SQL-Where.html.

[2016-09-20 21:38] eyurtsev commented on #6687
+1

[2016-09-20 21:45] benjamincohen1 commented on #6687
+1

[2016-09-20 23:52] trejkaz opened #6725 "Switch from concurrentlinkedhashmap-lru to caffeine"
I noticed we have a copy of concurrentlinkedhashmap-lru in our project, pulled in by orient-core:

[code]

[The project site itself](https://github.com/ben-manes/concurrentlinkedhashmap/) says that [Caffeine](https://github.com/ben-manes/caffeine) is the successor library and a ticket I just raised with concurrentlinkedhashmap got a reply saying that switching is recommended.

I would also prefer

[2016-09-20 23:53] trejkaz opened #6726 "Java 9 compatibility"
A jdeps report lists a number of private API usages in orientdb, which will stop working in Java 9:

[code]

[2016-09-21 02:31] KazuYamaguchi commented on #6721
Hi @lvca
If you need more information, let me know.
Thanks
kazunobu

[2016-09-21 03:01] lvca commented on #6714
If the database has been created in non distributed mode, it could be a bug we already fixed in 2.1.11-SNAPSHOT. Please, can you try this release? https:////oss.sonatype.org/content/repositories/snapshots/com/orientechnologies/orientdb-community/2.2.11-SNAPSHOT/orientdb-community-2.2.11-20160920.171157-6.tar.gz

[2016-09-21 03:32] lvca commented on #6721
Reproduced, working toward for a fix.

[2016-09-21 04:29] anber500 commented on #6714
cool, will give it a try.

[2016-09-21 05:46] antonzherdev commented on #6703
@robfrank I found that it's not always reproducible. If I create a fresh database it's working fine but with the database which I have currently it always gives the exception.

I do not think that ` if (delegate != null)` is a good solution but there few similar checks in the class already. I guess it should never happen and the exception means that something can be wrong with the index lifecycle.

[2016-09-21 07:10] ritesh0919 commented on #6506
Hi,

This is from a JDBC source (Oracle). The oracle table has a column which contains apostrophe in the data eg: "Ritesh's request". When we try to migrate this data, the etl process fails complaining about this apostrophe.

Here is a sample JSON file:

[code]
In the above JSON file, GRANT_REASON fails.

Let me know if any further information is needed.

[2016-09-21 07:15] ritesh0919 commented on #6444
Sorry for the delay. This problem was solved setting

[code]

Hope this is the right way to solve this issue. Got the reference from:
http://stackoverflow.com/questions/33695643/what-does-set-standardelementconstraints-false-do

[2016-09-21 07:59] taburet commented on #6306
Hi @evandor! Maybe I missed something, but I don't see any references to `orientdb-osgi-core-bundle` in Gradle dependencies of the project you provided. Seems like you somehow tweaking the `javac` class path manually.

Please try following:

1. `mvn clean install` the ODB from `osgi-2.2.x` branch into local Maven repo.

2. Add dependency to `orientdb-osgi-core-bundle` into Gradle file(s).

3. Remo

[2016-09-21 09:15] anber500 commented on #6714
I have upgraded all 3 nodes to 2.1.11-SNAPSHOT. Within a minute, I start getting errors.

I can't write to the database because the records is always out of date.

From the logs, I can see an awful lot of NullPointerExceptions.

Here is a copy of the log on node1:

https://gist.githubusercontent.com/anber500/41f742852047b753aff447a64ce5cd5e/raw/0ca0c49b006e0cbdacd9d9849069f7396e724c95/orientdb.err

[2016-09-21 09:17] syzdykov opened #6727 "Fetching from index returns wrong result"
## OrientDB Version, operating system, or hardware.
- v2.2 SNAPSHOT

## Operating System
- [x] Linux
- [x] MacOSX

## Expected behavior and actual behavior
I tried to fetch some data from my database and faced with problem.
orientdb {db=mydb}> select count(*) from Movie where releaseDate is null

+----+-----+
|#   |count|
+----+-----+
|0   |128  |
+----+-----+

1 item(s) found. Query executed in 1

[2016-09-21 09:22] luigidellaquila commented on #6727
Hi @syzdykov

it seems to be a bug. From what I see, probably the first time the index was incorrectly configured to ignore null values and it was (again incorrectly) used to optimize the count().
This index behavior was the default in v 2.1, but it was changed in 2.2.

I'm checking it, I'll let you know asap

Thanks

Luigi

[2016-09-21 09:34] luigidellaquila commented on #6727
Hi @syzdykov

I tried to reproduce che problem with a test case, but without success:

[code]

I'm on 2.2.x branch and everything seems to work fine.
Is it possible that you are using a DB that you created with an old version (eg. a 2.1.x)?

Thanks

Luigi

[2016-09-21 09:41] syzdykov commented on #6727
Hi @luigidellaquila
I am not sure about what orientdb version was used for creating this index (it can be 2.1, I am going to ask my colleagues about this).
But using index which ignores null values to this request looks like a bug

[2016-09-21 09:50] syzdykov commented on #6727
Yes, it was 2.1 when we create index first time

[2016-09-21 09:51] luigidellaquila commented on #6727
Ok, thanks for confirming this. So I have only one bug to fix ;-)

Thanks

Luigi

[2016-09-21 10:33] OjasM opened #6728 "Expand on Traverse queries through OrientJS"
## OrientDB Version, operating system, or hardware.
- v2.2.8
## Operating System
- Linux

## Expected behavior and actual behavior
Query  --> Traverse in('Investment') from #24:0
When fired on console or Studio, returns all expected records completely.
When fired through query() function of OrientJS, only first record is returned completely, but only the record ids of all the other records is retu

[2016-09-21 10:38] maggiolo00 commented on #6728
@OjasM

do you have a script to reproduce this issue?

[2016-09-21 10:50] OjasM commented on #6728
@maggiolo00
The one attached reproduces the error.
[test.txt](https://github.com/orientechnologies/orientdb/files/484761/test.txt)

[2016-09-21 11:48] luigidellaquila commented on #6727
Hi @syzdykov

I just pushed a fix on 2.2.x branch, it will be released with 2.2.11.
Closing, please reopen if you see any related problems

Thanks

Luigi

[2016-09-21 11:48] #6727 closed

[2016-09-21 12:01] luigidellaquila commented on #6709
Hi @benjaminbillet

I just added it to the docs:

https://github.com/orientechnologies/orientdb-docs/blob/2.2.x/SQL-Where.md

now I'm adding a check on the LET clause, to make sure that it throws a parsing exception if reserved words are used

Thanks

Luigi

[2016-09-21 12:01] #5624 closed

[2016-09-21 12:02] jterrero opened #6729 "Updating child record via parent. Works on 2.1, fails on ^2.2.0"
## OrientDB Version, operating system, or hardware.
- v2.0 SNAPSHOT[ ] - .18[ ] .17[ ] .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.1 SNAPSHOT[ ] - .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.2 SNAPSHOT[ ] - .rc1[ ] .beta2[ ] .beta1[ ]

Issue replicated on
2.2.

[2016-09-21 12:13] benjaminbillet commented on #6709
That's perfect @luigidellaquila, thanks a lot.

[2016-09-21 12:58] luigidellaquila commented on #6709
Hi @benjaminbillet

I just pushed a fix that does parse-time validation.
I'm closing this, please reopen if you see any related problems

Thanks

Luigi

[2016-09-21 12:58] #6709 closed

[2016-09-21 13:41] mindnuts commented on #6694
@lvca I do not see any milestone attached to this bug. I think this issue is quite serious as sorting records by @rid does not work when there are multiple clusters for a Class.

[2016-09-21 13:48] RAndrews137 opened #6730 "Question: Delete vertex syntax in SQL strings"
## OrientDB Version, operating system, or hardware.
- v2.0 SNAPSHOT[ ] - .18[ ] .17[ ] .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.1 SNAPSHOT[ ] - .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.2 SNAPSHOT[x] - .rc1[ ] .beta2[ ] .beta1[ ]

## Operating System
- [x

[2016-09-21 14:13] luigidellaquila commented on #6694
Hi @mindnuts

My bad, I just set it to next hotfix. I'll work on this in next hours

Thanks

Luigi

[2016-09-21 14:15] maggiolo00 commented on #6728
@OjasM
do you have also some script sql with data so i can test on a fresh db?

[2016-09-21 14:18] luigidellaquila commented on #6730
Hi @RAndrews137

This is mainly for historical reasons. The DELETE VERTEX is implemented in the graph module, that has all the components to manage (and cascade delete) connected edges, while simple DELETE is implemented in the core module, that does not know anything about edges, so it would leave dangling pointers (ie. inconsistent graph).

For sure, DELETE VERTEX could be safely used to delete

[2016-09-21 14:51] OjasM commented on #6728
@maggiolo00

You can try for the "GratefulDeadConcerts" db.

[code]

[2016-09-21 14:52] OjasM commented on #6728
The records are completely returned ( as expected ) on adding the "select from ( <sub-query> )" as suggested.

[2016-09-21 14:53] maggiolo00 commented on #6728
Ok
let me check the problem without select

[2016-09-21 15:06] maggiolo00 commented on #6728
@OjasM

Seems that it's related to OrientDB not to OrientJS

[2016-09-21 15:10] luigidellaquila commented on #6694
Hi @AlessandroRota @mindnuts

I just pushed a fix on 2.2.x. The fix will be released in 2.2.11

Thanks

Luigi

[2016-09-21 15:11] RAndrews137 commented on #6730
Thanks for the quick response @luigidellaquila.   That makes sense.  Looking forward to 3.x  :)

[2016-09-21 15:35] a-unite commented on #6695
Dear @tglman,

could you please backport this fix to 2.1.x version as well (symptoms are very same there)?

Thanks in advance,
Ata

[2016-09-21 15:35] dominioon opened #6731 "Live query stops working after timeout"
## OrientDB Version, operating system, or hardware.
-  [X] v2.2.10

## Operating System
- [X] Linux

## Expected behavior and actual behavior
### Expected behavior
All inserts are captured by the onLiveResult() callback.

### Actual behavior
Only the 1st insert is captured, already the 2nd one will end up in onError() callback, and prints `LIVE QUERY ERROR`. The database tries to recover itself la

[2016-09-21 16:24] #6730 closed

[2016-09-21 18:31] william76 commented on #6724
Just following up...

The link you gave to [HTTP RESTful protocol](https://github.com/orientechnologies/orientdb/issues/OrientDB-REST.md) is still coming back with a 404 notfound...

[2016-09-21 19:19] SDIPro opened #6732 "Studio New Class Description Needs Updating"
OrientDB 2.2.10+

When creating a new class via Studio it states in the description box:
By default, OrientDB will create one cluster per class. All the records of a class are stored in the same cluster which has the same name as the class. For more details, visit the docs.

We should probably update this since it now defaults to creating X number of clusters per class that equals to the number of

[2016-09-21 19:22] eegii-mgl commented on #5222
I still have this error on local 2.2.10 dev EE.

[2016-09-21 20:20] publicocean0 commented on #6708
sorry , this time was a problem in my transaction manager. No bug in orientddb

[2016-09-21 20:20] #6708 closed

[2016-09-21 22:02] lvca commented on #6724
Sorry, this is the link: http://orientdb.com/docs/last/OrientDB-REST.html

[2016-09-21 22:29] antonzherdev opened #6733 "Error during releasing of frozen database with Lucene indexes"
## OrientDB Version, operating system, or hardware.
- v2.0 SNAPSHOT[ ] - .18[ ] .17[ ] .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.1 SNAPSHOT[ ] - .16[ ] .15[ ] .14[ ] .13[ ] .12[ ] .11[ ] .10[ ] .9[ ] .8[ ] .7[ ] .6[ ] .5[ ] .4[ ] .3[ ] .2[ ] .1[ ] .0[ ]
- v2.2 SNAPSHOT[ ] - .9[X] .rc1[ ] .beta2[ ] .beta1[ ]

## Operating Syste

[2016-09-22 05:53] lvca opened #6734 "HA: enable manual control on replication (EE only)"
In case you want to stop and restart the replication against a server, today is missing a command to control it. Create the following new commands in EE:
- `HA START REPLICATION <server> [-mode <FULL|DELTA>]`
- `HA STOP REPLICATION <server> [-dropDatabase]`
- `HA SET [DBSTATUS <server>=<status>]`

[2016-09-22 06:00] #6721 closed

[2016-09-22 06:00] lvca commented on #6721
Fixed in 2.2.x branch. In the EE I've also added 3 new commands to have more control of the replication:
[code]

Look at http://www.prjhub.com/#/issues/7659.

[2016-09-22 06:03] BruceMu commented on #6639
So sorry, there is something wrong in our application cause this problem,  thanks.

[2016-09-22 06:04] #6639 closed

[2016-09-22 06:09] maggiolo00 commented on #6733
hi @antonzherdev

do you manually invoke freeze/release from console?

[2016-09-22 06:14] antonzherdev commented on #6733
Hi @maggiolo00
No, it's a script which starts periodically. I'm freezing the database, making AWS snapshot and releasing it. Sometimes it's working fine, sometimes I'm getting this problem. The script looks like:

[code]

[2016-09-22 06:19] maggiolo00 commented on #6733
@antonzherdev

ok i'm checking it

[2016-09-22 06:33] lvca commented on #5222
@eegii-mgl any way to reproduce the problem? Your database export?

[2016-09-22 06:35] lvca commented on #6708
Cool, thank you for reporting it.

[2016-09-22 06:38] smolinari commented on #5119
Hey @lvca,

I'm going to ask first, but

1. Are you still contemplating rebuilding the binary protocol interface with gRPC?
2. If yes, would you like me to put up an OEP for this too?

I'd be really glad too. 😄

Scott

[2016-09-22 06:39] #6734 closed

[2016-09-22 08:40] jterrero commented on #6729
I've had multiple people confirm this on stack overflow.

Can someone please test it out and confirm it please,

[2016-09-22 09:00] luigidellaquila commented on #6729
Hi @jterrero

I'd say it's at least a dangerous behavior, you are doing two updates, one to `users` and another one to `devices` in a single statement. IMHO it's correct that it fails, even more, an embedded json with a RID should throw an exception.
It's also incorrect because #14:0 could be an invalid or non existing RID, so the behavior could be completely unpredictable.
In short, I consider th

[2016-09-22 09:10] luigidellaquila commented on #6656
Hi @rafikalid

Is it possible to have a running test that shows the problem or a db where to replicate it?

Thanks

Luigi

[2016-09-22 09:18] luigidellaquila commented on #6693
Checking it now

Thanks

Luigi

[2016-09-22 09:27] robfrank commented on #6506
Ok, I was able to replicate the problem. Your text contains a single quote, so when the command is parsed it generates something like this:
[code]
Try this:

[code]

[2016-09-22 10:08] jterrero commented on #6729
Wow. Not following the logic.
I have 2 applications in production that are forcing me to stay on 2.1

If i have a parent object, and I add a linked record via an update add .....

I should be able to update that child object the same way that i added it.

Also, can you please point me to the documentation where it says that this was a "fix" in your release notes.  I have reached out to multiple pe

[2016-09-22 10:22] luigidellaquila commented on #6729
Hi @jterrero

I understand your problem, I'll check with the team if we can find a solution for this.

For sure this change of behavior was the side effect of some other change, but I'll try to see if I find a reference on how it changed.

Anyway, my main point remains: when you write a statement to update record A, the semantics of that statement is to update record A, not to update linked record

[2016-09-22 11:39] benjaminbillet opened #6735 "java.lang.ArrayIndexOutOfBoundsException (negative cluster) for subqueries"
## OrientDB Version, operating system, or hardware.
v2.2.10, Mac OS X

## Expected behavior and actual behavior
An ArrayIndexOutOfBoundsException is thrown when my java client tries to access "intermediary" vertices created by a subquery, e.g., `SELECT $a LET $a = (SELECT @rid AS parentId, out('AtoB') AS vertices FROM TypeA) FETCHPLAN $a:2`

The result in studio looks good, but the java client cra

[2016-09-22 12:01] maggiolo00 commented on #6733
hi @antonzherdev

i've reproduced your stack error only if i call two times release database.
I will continue digging

[2016-09-22 12:02] luigidellaquila commented on #6693
Hi guys,

It was a bug, more or less. The cluster ID was just not supported (the parser supposed to always find a cluster name).
I just fixed it, the fix is in 2.2.x branch and it will be released with 2.2.11

Thanks

Luigi

[2016-09-22 12:02] #6693 closed

[2016-09-22 12:22] lvca commented on #6725
Makes sense for OrientDB 3 that will require Java8, but now we can't substitute it because OrientDB 2.2.x is Java7 compatible.

[2016-09-22 12:23] laa commented on #6725
@trejkaz @lvca why not will do

[2016-09-22 12:52] jterrero commented on #6729
Sir,
Thank you extremely much, I really appreciate it.  Given the fact that it's always been part of orientdb, i got accustomed to the feature.  I find it very useful in many instances.

If the version or rid is wrong, the record would not update, but those are things that have to be part of a, good programming (orientjs/nodejs stack) and b, using other functions of odb to make sure you are proper

[2016-09-22 13:30] luigidellaquila commented on #6712
Hi @benjaminbillet

I just pushed a fix for this in 2.2.x branch. The fix will be released with 2.2.11

I'm closing this, please reopen if you see any related problems

Thanks

Luigi

[2016-09-22 13:30] #6712 closed

[2016-09-22 15:56] ritesh0919 commented on #6506
Sure. I will try this. Basically, only difference is we need to use an escaped double quotes (instread of single quotes0 surrounding the eval for GRANT_REASON. Thanks

There is one other issue, if you see the LAST_UPDATE_DT, which is a date and can be null. Having said that, we can either get null or a valid date. If we put a single quote surrounding eval, null value gets inserted as a string and

[2016-09-22 16:05] maggiolo00 commented on #6728
hi @OjasM

I've fixed it in ODB. It will be available in 2.2.11

[2016-09-22 16:06] #6728 closed

[2016-09-22 16:41] SamHard commented on #3467
Okay, thanks!  That's a logical place to look for it.  For some reason, it doesn't come up using the search function -- maybe content in tables is not indexed.

[2016-09-22 17:55] a-unite commented on #6729
Hi, @jterrero,

just curious, do you need embedded record to be updated too?

I agree to @luigidellaquila, this not intuitive and there is still the question what should happen, if record `#14:0` is absent (which record shouldn't be updated)?

Moreover, inconsistency for `users` class, where embedded device with a name "Note 7" has not any link to a real object, while updated 'johndoethesenior' ha

[2016-09-22 19:00] #6723 closed

[2016-09-22 19:00] lvca commented on #6723
Disabling the WAL is always a bad practice, because in case of crash your database could be not consistent or even worse, corrupted. You can disable it for initial massive insertion, but for the operational day-2-day please re-enable it.

[2016-09-22 19:02] lvca commented on #6707
It looks like something from a JS function was returned and OrientDB didn't know how to do that. Do yo have the function we can run to reproduce the problem?

[2016-09-22 19:04] lvca commented on #6701
Any news on this?

[2016-09-22 19:08] lvca commented on #6676
Could it possible that record `#54:3` didn't exist?

[2016-09-22 19:08] lvca commented on #6677
@hadson19 any news on this?

[2016-09-22 19:09] lvca commented on #6679
@jamieb22 any news on this?

[2016-09-22 19:28] fredfortier commented on #6701
It's not of an issue with the hazelcast jar not being in the classpath for sure. I verified that. Other than this particular exception condition, data replication works just fine. I have also verified that it is not duplicated in the classpath.

I did not try to validate the same condition in "standalone mode". However, I am confident that this is won't be an issue under such perfect conditions.

[2016-09-23 06:52] lvca commented on #6714
Weird: in the log I can find `Caused by: java.lang.NullPointerException` but not where the exception is thrown. Is there any way to provide me a test case that reproduce it?

[2016-09-23 06:56] robfrank commented on #6574
hi, could you try to load months.csv with parallel set to false?

[2016-09-23 07:02] laa commented on #6673
@yeoedward Sure. https://github.com/orientechnologies/orientdb/issues/6234 .

[2016-09-23 07:13] luigidellaquila commented on #6684
Hi @ismaelpernas

It is a known limitation of current SQL executor. We are completely re-writing it, so in v 3.0 it will be supported, but for now I think you have to deal with it.
As a temporary work around, you can use a BATCH script like following:

[code]

In this case the index will be used

Thanks

Luigi

[2016-09-23 07:14] laa commented on #6702
Hi @nadestin . A calculation is simple. The maximum amount of direct memory which you may allocate is 512MB I put 64MB for service needs which are more than enough and also split 448 MBs into 8 chunks. So  I get 56 MB for each chunk or 58720256 bytes.

[2016-09-23 07:14] laa commented on #6702
@nadestin once you confirm that issue is fixed I will provide fix.

[2016-09-23 07:15] kwoxer commented on #6664
Okay, OrientDB still running. Already 4 days. I'm checking now every day.

[2016-09-23 07:38] laa commented on #6681
@benjaminbillet I suppose that depends on how you use an index. The way which works on 100% is a creation of an index with metadata which I provided above.

[2016-09-23 08:22] maggiolo00 commented on #6733
@antonzherdev

do you run in standalone or distributed mode?

[2016-09-23 08:29] antonzherdev commented on #6733
@maggiolo00

In standalone. Snapshot can happen very fast. So there could be some freeze operations which are not finished yet.

I suppose even if release is called twice it should not give this stack. In this case there should be an error that the database is not frozen, or do you mean two releases in parallel?

[2016-09-23 08:51] benjaminbillet commented on #6681
@laa Thanks for your response, but I'm not sure to understand what you mean by "creation of an index with metadata which I provided above". Which message are you referring to?

What is the best solution to create a key index with ignoreNullValues using the Java API, given that the indexed property is defined as optional (see the java code in my previous message)? I tried the solution given by @val

[2016-09-23 09:39] maggiolo00 commented on #6733
@antonzherdev
i've pushed a fix. It will be available in 2.2.11.

[2016-09-23 09:40] antonzherdev commented on #6733
@maggiolo00 Thank you so much!

[2016-09-23 09:41] #6733 closed

[2016-09-23 10:04] nadestin commented on #6702
Hello @laa. I confirm, with adjusted parameters we have no more cases of NPE during Direct Memory allocations on 32bit JVMs. (On 64bit JVMS it is working without parameter adjustments).

Your workaround had fixed the problem.

Thank you for your help.

[2016-09-23 10:08] #6732 closed

[2016-09-23 10:17] maggiolo00 commented on #6699
@smil2k

what is the "next edge"?

How can i reproduce it?

[2016-09-23 10:20] #6382 closed

[2016-09-23 10:20] maggiolo00 commented on #6382
@magician27

we did not remove that feature. Probably you have the LocalStorage full. Since 2.2.11 that will be released soon, You should see a
button that you can use for clearing the LocalStorage in case it's full.
Thanks

[2016-09-23 10:26] maggiolo00 commented on #4485
hi @Ivanov-Yuriy

do you still need help on this?

[2016-09-23 10:30] #6289 closed

[2016-09-23 10:30] maggiolo00 commented on #6289
@jiezg

There is some improvement in Graph Editor starting from 2.2.8.
But again the Graph Editor is not supposed to work with too many vertexes/edges.

[2016-09-23 10:32] OjasM commented on #6728
@maggiolo00
Thanks

[2016-09-23 10:32] maggiolo00 commented on #6146
@Manjiri0410

did you try with the latest version 2.2.10?

[2016-09-23 10:37] #6024 closed

[2016-09-23 10:37] maggiolo00 commented on #6024
@lastnod

i doubt you can reach 100 000 vertices even with Sigma.

https://github.com/Linkurious/linkurious.js/wiki/Performance

Btw, that is not the scope of the Graph Editor in Studio

[2016-09-23 10:42] asiqq23 opened #6736 "Two automatic backups config"
OrientDB v. 2.2.10

Operation System Linux

Hi,

I try to configure two independand automatic backups? Is it even possible to do?

I added two handlers in server config like this:

` <handler class="com.orientechnologies.orient.server.handler.OAutomaticBackup">
            <parameters>
                <parameter value="true" name="enabled"/>
                <parameter value="${ORIENTDB_HOME}/confi

[2016-09-23 10:44] maggiolo00 commented on #6736
Hi @asiqq23
it's not possible. The plugin is one and can be registered one time.

[2016-09-23 11:16] robfrank commented on #6703
yes, you're right. We will investigate on the lifecycle.

[2016-09-23 13:11] scrabb opened #6737 "Incorrect count when using indexes on classes and sub classes"
## OrientDB Version, operating system, or hardware.
2.2.10

Related to #5846

## Operating System
- [ ] Linux
- [ ] MacOSX
- [x ] Windows
- [ ] Other Unix
- [ ] Other, name?

In the following scenario

class of Car
subclass of Ford and Toyota

Car has boolean property isTaxed
build a non unique hash index for Car.isTaxed, Ford.isTaxed and Toyota.isTaxed

I would then expect
select count(*) from Ca

[2016-09-23 13:51] diegomtassis opened #6738 "Using Eclipse Neon, error importing OrientDB eclipse formatting profile"
## OrientDB Version, operating system, or hardware.
- v2.2

## Operating System
- Windows

## Expected behavior and actual behavior
Using Eclipse Neon, error importing eclipse formatting profile:
https://github.com/orientechnologies/orientdb/blob/master/_base/ide/eclipse-formatter.xml

See scan:
![error-importing-formatting-profile](https://cloud.githubusercontent.com/assets/5831026/18787963/59e52

[2016-09-23 14:16] smil2k commented on #6699
0) Set lightweightEdges=true
1) Create two vertices and create edge between them
2) Go to graph
3) sekect * from V1
4) click on V and click on incoming or outgoing edge

Then you get this error.

[2016-09-23 15:29] maggiolo00 commented on #6699
@smil2k
thanks

[2016-09-23 16:27] SDIPro opened #6739 "Buffer Tasks Sent Between Distributed Nodes"
Conceptually, we will buffer the distributed tasks per server connection and only send the batched operations after N milliseconds (configurable) or the size of the buffered packet reaches a configurable maximum.

This should improve throughput by reducing the overhead of sending network packets back and forth for every task sent.

We should provide an option on the client-side that would allow th

[2016-09-23 18:02] laa commented on #6702
Hi @nadestin , OK we will provide complete fix during next week. Thank you very much for your report and your time.

[2016-09-23 18:32] eegii-mgl commented on #5222
I think mine was trying to import backup formatted file (.zip) instead of export formatted file (.gz) Are these files different?

[2016-09-23 18:34] #6736 closed

[2016-09-23 18:37] lvca commented on #6716
This could be a good idea. At connect time, the client has to communicate to the server if compression is supported.

[2016-09-23 18:41] lvca commented on #6660
We already have an issue for this enhancement. Once this limit is extended to 31 bits, the next problem is managing so many opened files. Most OS have limitation with it.

[2016-09-23 18:42] lvca commented on #6638
@krl22785 did you upgrade and resolved this problem?

[2016-09-23 18:43] lvca commented on #6636
Do you have the same problem with last 2.2.10?

[2016-09-23 18:45] lvca commented on #6632
This isn't supported, sorry. I'm labeling this issue as enhancement.

[2016-09-23 18:47] lvca commented on #6605
Have you tried with `<>` instead of `!=`?

[2016-09-23 18:48] lvca commented on #6598
@rdelangh any news about this?

[2016-09-23 18:53] #6567 closed

[2016-09-23 18:53] lvca commented on #6567
This is true the first time OrientDB runs. You can change permissions after the first run if you're worried about it, or you can provide a config file already created to avoid it. Or again, you can avoid using server's users and rely on LDAP.

[2016-09-23 18:55] lvca commented on #6560
@lucevers I don't understand the problem. Could you please elaborate it?

[2016-09-23 19:26] jterrero commented on #6729
Hi Ata,

If 14:0 is absent, then only the parent record should be available to be
updated, since it has been calidated by the where clause. The child record
is not validated.

You did have error checking on the version of the child linked record. Some
sort of additional error checking on your end would be great. However,
since it was never available up till v2.1, extra error checking on our end
is

[2016-09-23 19:44] lvca commented on #6668
@obi1kenobi do you see this bug also in 2.2.10? @tglman could be related to the expiration of the token bug @SDIPro encountered 2 days ago?

[2016-09-23 19:45] lvca commented on #6526
hi @mikayeln, any news on this?

[2016-09-23 19:46] lvca commented on #6664
@kwoxer any news on this?

[2016-09-23 19:48] lvca commented on #6538
In console commands are case insensitive, but not their arguments. Which part of the docs are confusing?

[2016-09-23 19:51] lvca commented on #6524
@maggiolo00 do you think we can mark this as enhancement or documentation?

[2016-09-23 19:52] lvca commented on #6517
The password is hashed in the file using `PBKDF2WithHmacSHA256` algorithm, so you cannot copy & paste. You have to know the password :-)

[2016-09-23 19:53] lvca commented on #6509
Where do you suggest to add it in the docs?

[2016-09-23 19:56] #6680 closed

[2016-09-23 19:56] lvca commented on #6680
We cannot return the database is not existent, to avoid exposing this information to an attacker.

[2016-09-23 19:58] hirodes opened #6740 "ODatabaseDocumentTx swallow Exceptions"
## OrientDB Version, operating system, or hardware.
- v2.2.10

## Operating System
- [ ] Linux

## Expected behavior and actual behavior
Expects to get an exception on commit of the transaction when storing data with duplicate key in index.
In stead the exception is logged and then swallowed within the ODatabaseDocumentTx class (line 1211):

`     try {`
`         commit(true);`
`      } catch (Ex

[2016-09-23 20:01] #6456 closed

[2016-09-23 20:02] lvca commented on #6449
@tenderlygloriousgentleman any news on this?

[2016-09-23 20:02] lvca commented on #6449
Closing. In case comment/reopen it.

[2016-09-23 20:02] #6449 closed

[2016-09-23 20:04] lvca commented on #6381
@tglman any news about that?

[2016-09-23 20:06] lvca commented on #6361
When the server asks for the password, you didn't press any button and you can see the `*`, right? If you insert "root", the password is taken. The first `*` is to protect by showing any digits.

About the auto-generated password, we should print it.

[2016-09-23 20:14] lvca commented on #6349
I like this enhancement, :+1

[2016-09-23 20:49] DevolvingSpud commented on #6538
The part that shows all the options in uppercase, like:

<mode> Defines the mode you want to use in connecting to the database. It can be PLOCAL or REMOTE.
<path> Defines the path to the database.

[2016-09-23 21:36] krichter722 commented on #6517
This is not a question. The text doesn't even contain a question mark... Please read again the title. Your comment doesn't solve this issue.

[2016-09-23 21:51] lvca commented on #6517
Sorry, I don't understand if you are expecting that copying the hashed password from the file into studio login form, you think it's correct you can log in.

[2016-09-23 21:52] a-unite commented on #6729
John, hi!

First of all, no offence from my side too. Just curious what kind of scenario it might be useful for.
I'm not affiliated with ODB, by the way.

What is worrying me is that OrientDB will have to check all records in `Devices` array if they have `@RID`, then check, if those having `@RID` exist, and then update them as well. You are saying that this gains performance in your code, while I

[2016-09-23 21:53] krichter722 commented on #6517
I understand how it works. I want it to be documented for others. Basically, your first comment should go into a comment of the default server configuration file.

[2016-09-23 22:12] lvca commented on #6517
It's not possible to comment after we generated the XML file with the library we use.

[2016-09-24 03:30] maseev commented on #6361
That's right.

What digits? Have you ever seen how the terminal accepts passwords in Linux-based OS or OS X? You don't even see what you're typing. From the security point of view, this approach is even better because nobody will be able to say how many symbols your password consists of by looking at your screen over your shoulder.

[2016-09-24 03:55] jiezg commented on #6289
Thank U ！

在 2016-09-23 18:30:48，"Enrico Risa" <notifications@github.com> 写道：

@jiezg

There is some improvement in Graph Editor starting from 2.2.8.
But again the Graph Editor is not supposed to work with too many vertexes/edges.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-09-24 05:24] amandeep-sharma commented on #6641
Hi @laa ,
With last distribution I didn't hit the problem, but there were warnings regarding the same.
I have noticed that in-memory foot print of db has increased as with 4gb heap size it threw OutOfMemoryError, but 2.1.11 works fine with same heap size.

I have shared logs when application was run with 4 gb and 8 gb heap size at  https://drive.google.com/open?id=0B-cTHPtXiorIWHpLNDF0UzFWZ2c.

[2016-09-24 05:26] amandeep-sharma commented on #6641
Hi @laa ,
With last distribution I didn't hit the problem, but there were warnings regarding the same.
I have noticed that in-memory foot print of db has increased as with 4gb heap size it threw OutOfMemoryError, but 2.1.11 works fine with same heap size.
I have shared logs when application was run 4 gb and 8 gb heap size at  https://drive.google.com/open?id=0B-cTHPtXiorIWHpLNDF0UzFWZ2c.

[2016-09-24 05:35] lvca commented on #6361
Showing the `*` in place of the characters is a good compromise for the user that shows the console is reading the password. Like when you enter your password in any web forms.

[2016-09-24 05:45] maseev commented on #6361
Well, at least, there shouldn't be a starting `*` symbol because it's very misleading. It looks like I already typed a symbol.

[2016-09-24 05:55] bclermont commented on #6567
Insecure by design

[2016-09-24 06:16] lvca commented on #6567
What's your proposal?

[2016-09-24 06:20] lvca commented on #6740
That code is in the `close()`, not the `commit()`, so your snippet works. This means if you're closing the database and there is an exception, it's forced to be closed.

[2016-09-24 06:47] evandor commented on #6306
Hi @taburet,

this time the mvn clean install succeeded without any errors.

But could you please clarify/confirm the following:

- the created jars (like orientdb/core/target/orientdb-core-2.2.10-SNAPSHOT.jar are **not** bundles any more
- the osgi uber-jar contains nested jars

As I said, in that case I have a problem, as my build tool (bndtools) does not support nested jars. This is only releva

[2016-09-24 07:39] smolinari commented on #6517
I think the issue is if you run the server for the first time, but don't enter any password and just press enter, something is added as a password, but it isn't known to the user. This forces the user to go into the config and add a new password (usually unencrypted).

Copying and pasting the password, as suggested in Studio, doesn't work.

![image](https://cloud.githubusercontent.com/assets/33149

[2016-09-24 07:42] rdelangh commented on #6666
@lvca
Hi Luca, I tried with this version, but even the "dserver.sh" startup on a 1st server node fails. The logs are clearly indicating that it's not starting as it should be:
https://gist.github.com/rdelangh/4510549d4a2c03027af58fcace82d235

[2016-09-24 08:27] publicocean0 commented on #6509
Maybe in java api section it could be add other examples with these cases showing as to use embedded map,lists with batch script/js for helping a rapid develpment and to clear better the possibilities offered.
ciao

[2016-09-24 08:55] publicocean0 commented on #6524
hi, for my opinion it would be important to emprove the lucene module because a nosql database as orientdb might be targetted to search unstructured data (ODocument contains unstructured data by definition).
It general i think to emprove lucene engine for searching all data types supported by ODocument could give a more stable and coherent solution for developers. Lucene api permits to do it with

[2016-09-24 09:16] publicocean0 commented on #6707
Ah ok, i thought was a problem to convert exception for passing it to client. this error appear rarely in server log , i will investigate asap , just i i ll see it again.

[2016-09-24 16:08] smil2k commented on #6698
Hi,

This thread stays there. First it take up one CPU, then another connection gets this problem, then it takes up 2 cores.

Can you please check, whether it is possible, that the binaryclient goes into an endless loop in case of an unexpected socket close?

Cheers,

Tamas

[2016-09-24 16:11] smil2k commented on #6499
Hi @tglman,

Did you have the time to validate the dump? I did not see the problem for a week. So if you confirm, that your found bugs caused the open connections, I'm ok with closing this issue.

Cheers,

Tamas

[2016-09-24 16:29] G4br13l3 commented on #6698
Hi @smil2k, we will check as soon as possible!
Thanks for you report.

[2016-09-24 19:11] #2619 closed

[2016-09-24 19:11] lvca commented on #2619
Supported distributed `DROP DATABASE`. Now, the only way to selectively drop a database is to use the Enterprise command `stop replication <server> -dropDatabase`.

[2016-09-24 19:12] lvca commented on #6666
Do you have the logs of the other servers that cannot join?

[2016-09-24 20:36] robfrank commented on #6566
Are you using ETL in plocal or remote? If you use it in plocal, the config file isn't read.

[2016-09-25 02:53] pdilyard commented on #6566
I think it was plocal. Would the config file have been read if I switched to remote?

[2016-09-25 06:47] luigidellaquila commented on #6470
Hi guys,

All date objects (date and datetime) are physically stored as java.util.Date, so the returned type for the single value is the same, regardless of how it was defined in the schema.

If you want to have info from the schema, you have to use the following statement:

[code]

You will get a code for each type, the encoding is defined here

http://orientdb.com/docs/2.2.x/Types.html

Thanks

[2016-09-25 06:47] #6470 closed

[2016-09-25 07:31] luigidellaquila commented on #6665
Hi @alexmm11

I just pushed a fix on 2.2.x and develop

Thanks

Luigi

[2016-09-25 07:31] #6665 closed

[2016-09-25 07:45] luigidellaquila commented on #6672
Hi @sowee15

This issue is already fixed, I just added this test case to 2.2.x branch and it works fine

[code]

So you can just use

[code]
Thanks

Luigi

[2016-09-25 07:45] #6672 closed

[2016-09-25 08:23] luigidellaquila commented on #6634
Hi @facelessTT

In your query, the LIMIT is applied to the result set, not to the list.
The result set will always return a single record, so LIMIT 2 does not make much sense.
To limit the list size, you have to use a subquery:

[code]

I hope it helps

Thanks

Luigi

[2016-09-25 08:23] #6634 closed

[2016-09-25 08:32] luigidellaquila commented on #6629
Hi @publicocean0

I'm doing a little fix to support this, I'll keep you posted. The problem is limited to binary parameters

Thanks

Luigi

[2016-09-25 10:02] publicocean0 commented on #6629
cool , thanks Luigi

[2016-09-25 11:27] luigidellaquila commented on #6629
Hi @publicocean0

I just pushed a fix on 2.2.x branch, now the basic syntax works correctly.
I'm not porting the fix on develop just because there it will work natively with the new executor

Thanks

Luigi

[2016-09-25 11:27] #6629 closed

[2016-09-25 13:08] #6508 closed

[2016-09-25 13:15] luigidellaquila commented on #6435
Hi @Nacnudge

I just pushed a fix on 2.2.x and develop branches. The fix will be released with 2.2.11

Thanks

Luigi

[2016-09-25 13:15] #6435 closed

[2016-09-25 14:21] obi1kenobi commented on #6470
What you propose sounds more like a workaround than a fix. OrientDB has access to the schema, so why not return the correct value in the first place rather than force the client to make extra queries and reinterpret its received value?

@lvca also seems to think this is a bug in OrientDB, rather than expected behavior as you @luigidellaquila seem to suggest.

[2016-09-25 14:25] obi1kenobi commented on #6605
As I mentioned above, `<>` works fine both for rids and other types. However, all other types that I tested (strings, numbers etc.) also accept `!=` to check inequality, so the asymmetry is unexpected and confusing.

[2016-09-25 14:44] luigidellaquila commented on #6470
Hi @obi1kenobi

it's not a bug, `type()` is method that is invoked on the result of `x` and `x` is a normal java.util.Date object. I really don't think that we can change ODocument.field() method to return a specified (non java standard) value for date and datetime, so I'm afraid we will have to deal with it.

Thanks

Luigi

[2016-09-26 03:38] hirodes commented on #6740
Thank you so much. Yes you are right, that happens when I call a shutdown without a commit. I changed my code to always do a commit before the shutdown and now I do see exception!

[2016-09-26 03:38] #6740 closed

[2016-09-26 04:10] maseev commented on #5728
I've just run into the same problem. @zerovian your approach looks very expensive regarding creating a lot of objects under a heavy load. It will certainly trigger GC a lot as a result.
Is there any way I can create an object database connection pool without wrapping a ODocumentDatabaseTx connection?

[2016-09-26 06:41] lvca commented on #6605
@luigidellaquila it seems an error on the old parser.

[2016-09-26 07:06] robfrank commented on #6566
Switching to remote means start OrientDB as a standalone server  and point the ETL to the server via **remote:** protocol. The load time will be higher than in plocal, due to the fact network is used.

[2016-09-26 07:54] laa commented on #6681
Hi @benjaminbillet , even if you work from Java I think the best option still to issue SQL command to create an index and provide ignoreNullValues metadata. As in the last example http://orientdb.com/docs/last/SQL-Create-Index.html

[2016-09-26 07:55] rdelangh commented on #6666
@lvca the first server cannot even start, so I did not attempt to startup any additional server.

[2016-09-26 07:56] rdelangh commented on #6666
I started the first server with version 2.2.7 again, and this one starts fine. So there seems some issue with version 2.2.10

[2016-09-26 08:06] benjaminbillet commented on #6681
Hi @laa,
Ok, it's clear now. I will use this as a solution.

However, in terms of API, I think the best way to do this would be to have a Parameter for "ignoreNullValues", e.g.:
[code]
Blueprints specifically introduced the [Parameter ](http://www.tinkerpop.com/docs/javadocs/blueprints/2.5.0/com/tinkerpop/blueprints/Parameter.html) class for the purpose of setting implementation-specific parameter

[2016-09-26 08:06] luigidellaquila commented on #6605
Hi @obi1kenobi @lvca

I'm checking it

Thanks

Luigi

[2016-09-26 08:09] laa commented on #6681
@benjaminbillet Yes I agree )) Could you create issue for that ?

[2016-09-26 08:15] rdelangh commented on #6598
@lvca
My Perl programs use the CPAN module "REST::Client" for the communications with ODB. I am trying to figure out where in this module the HTTP transport is done in such a way that we get these logs from the ODB server.
It would help me a lot if you can describe from the ODB code, in which kind of conditions it will spawn these "Socket closed" logs.

[2016-09-26 09:16] luigidellaquila commented on #6605
Hi @obi1kenobi

I just fixed it, the fix is in 2.2.x branch and will be released in 2.2.11

Thanks

Luigi

[2016-09-26 09:16] #6605 closed

[2016-09-26 09:43] laa commented on #6641
Hi @amandeep-sharma warnings are normal. I added them for debugging.  About out of memory. The problem with an exception is that you use embedded database but do not use -XX:MaxDirectMemorySize  parameter.  http://andreylomakin.blogspot.com/2016/05/do-not-forget-to-set-xxmaxdirectmemory.html  . Could you set this parameter to 512g and check result ?

[2016-09-26 09:51] tglman commented on #6474
hi @smil2k, @mmacfadden,

We did some changes fixed on http in 2.2.10, so this should be solved even without the flag, can you try the 2.2.10 and let me know if this solve your problem?

Thanks

[2016-09-26 09:53] tglman commented on #6716
hi,

Yes can be done, we will keep this in mind when we do the evolution for 3.0, thank you for the suggestion.

bye

[2016-09-26 10:00] tglman commented on #6726
hi @trejkaz,

We are actually active testing on jdk9, all the reference to `sun.misc` are still working and as far as i understood will work even in jdk9, we where able to run most the test successfully on jdk9 but we had some troubles with JAXB+jigsaw.

In any case we have a plan to get rid of most of the 'sun.misc' references as soon as a valid alternative come out.

One point the testing of jdk

[2016-09-26 10:33] luigidellaquila commented on #6606
Hi @obi1kenobi

I just pushed a fix for this, so now the first case works fine.
Anyway, please consider that the standard behavior of MATCH statement is to return distinct patterns removing duplicates, so the `if(eval("p.name == 'foo'"), p.name, p.name) as b` will still return only one row. To have all the results (not distinct) you have to use an outer SELECT

Thanks

Luigi

[2016-09-26 11:06] smil2k commented on #6474
It seems it is working fine in chrome.

[2016-09-26 11:50] tglman commented on #6499
hi @smil2k,

Yes from the dumps i saw what i expexted, so i confirm that it should be fixed and we can close this.

Regards

[2016-09-26 12:28] kaYcee opened #6741 "Support for arrays in index selections"
## OrientDB Version, operating system, or hardware.
- 2.2.10
## Operating System
- [ X] Linux
- [ ] MacOSX
- [ ] Windows
- [ ] Other Unix
- [ ] Other, name?
## Expected behavior and actual behavior

During our development we were using the nifty feature of filtering an index selection, i.e. using an array as filter criterion for index range selections. After reviewing the code we found out that th

[2016-09-26 12:35] obi1kenobi commented on #6606
Hi @luigidellaquila, thanks for the fix!

I'm not sure I understand why the `if(eval("p.name == 'foo'"), p.name, p.name) as b` would return only one row. Two vertices with different names (`'foo'` and `'bar'`) should be produced by the MATCH statement, and since the output of the `if(eval())` is always `p.name`, shouldn't the result be two rows with `'foo'` and `'bar'`?

In other words, the proble

[2016-09-26 12:38] obi1kenobi commented on #6606
Ah I see the confusion now -- in your commit, the second test case uses a literal constant `'foo'` in both the if-true and the if-false values. However, note that this is not what my test case has -- it has `p.name` in each, which changes per-row since there are two vertices with distinct names that `p` applies to.

Would you be able to verify that your fix also fixes the `null` return problem my

[2016-09-26 12:40] obi1kenobi commented on #6605
Thanks!

[2016-09-26 12:46] luigidellaquila commented on #6606
Hi @obi1kenobi

Sorry for the confusion, my bad, you are absolutely right.
If two records have different names, the result will definitely be two rows, not one.

Thanks

Luigi

[2016-09-26 12:50] tanhv90 opened #6742 "Wrong search result if the property was defined in schema"
## OrientDB Version, operating system, or hardware.
- v2.2.7
- v2.2.10

I tested on this 2 versions only.

## Operating System
- [x] Linux
- [ ] MacOSX
- [x] Windows
- [ ] Other Unix
- [ ] Other, name?

## Expected behavior and actual behavior
I created a class node item with 2 properties id and flag

I use the query below to get all item which has flag is 1

This query returns nothing.
And seem t

[2016-09-26 12:52] obi1kenobi commented on #6606
No problem :) As the cause of the erroneous `null` return when `p.name` is never `null` may be different than the one causing the `if(eval())` problem, would you mind double-checking that my query indeed works with your patch?

My project unfortunately requires both of these issues to be resolved before I can use MATCH, and I'd like to make sure I can switch in 2.2.11 as the performance improvemen

[2016-09-26 12:55] bwRavencl commented on #6636
The problem still exists in 2.2.10.
Also it seems that in 2.2.x the cluster strategy is generally set to "round-robin".
Shouldn't a distributed setup always use "local"?

[2016-09-26 12:57] tglman commented on #6695
hi @a-unite,

we release a 2.1.24 few days ago that have this fix.

Regards

[2016-09-26 13:00] luigidellaquila commented on #6742
Hi @tanhv90

The problem seems to be related to the DECIMAL type and the conversion from INTEGER, I'm checking it now

Thanks

Luigi

[2016-09-26 13:00] luigidellaquila commented on #6606
Hi @obi1kenobi

Ok, reopening for a double check, I'll give you a feedback in short

Thanks

Luigi

[2016-09-26 13:09] obi1kenobi commented on #6606
Thanks, much appreciated!

[2016-09-26 13:11] luigidellaquila commented on #6742
Ok, got the problem. The items in your db have a flag that is a decimal = `1.0`.

The following query works fine

[code]

but of course it's not a solution.
I'm implementing a fix for this, I'll keep you posted

Thanks

Luigi

[2016-09-26 13:37] tglman commented on #6687
hi @obi1kenobi,

Do yu have a test export? it will speed up a lot the fix with it.

bye

[2016-09-26 13:38] luigidellaquila commented on #6742
Hi @tanhv90

I just pushed a fix in 2.2.x branch, the fix will be released with 2.2.11

Thanks

Luigi

[2016-09-26 13:38] #6742 closed

[2016-09-26 13:41] tanhv90 commented on #6742
Hi @luigidellaquila

Thank you so much for your prompt support.

Best regards,
Tan

[2016-09-26 13:46] #6499 closed

[2016-09-26 13:46] luigidellaquila commented on #6606
Hi @obi1kenobi

I just double-checked, null values are correctly handled (like all the other values)

Closing, thanks!

Luigi

[2016-09-26 14:01] obi1kenobi commented on #6606
Hi @luigidellaquila, I'm afraid there might have been another misunderstanding. The problem I reported isn't with the *handling* of null values, it's the fact that null values were being returned *instead of the correct, non-null value* if a MATCH selection alias was used in the return values of the `if()` operator. To be clear, `p.name` *was not null* but the query returned a result *claiming* th

[2016-09-26 14:04] obi1kenobi commented on #6687
I unfortunately cannot do that, because the export contains all of my company's proprietary data. Please let me know if there is any other way in which I can help debug this.

[2016-09-26 14:16] a-unite commented on #6695
Dear @tglman,

thanks! I've missed the announcement, have found new version just yesterday.

Will try, thanks!

[2016-09-26 14:28] taburet commented on #6666
Hi @rdelangh! Regarding `2016-09-24 01:32:56:927 SEVER OCachePointer.finalize: readers != 0 [OCachePointer]` entries in the latest log. Could you please enable leak detector using `-Dmemory.directMemory.trackMode=true -Djava.util.logging.manager=com.orientechnologies.common.log.OLogManager$DebugLogManager` and do a full start-work-stop cycle on the node, log entries marker with `DIRECT-TRACK` shou

[2016-09-26 14:34] #6111 closed

[2016-09-26 14:34] maggiolo00 commented on #6111
@Manjiri0410

can you try with 2.2.10?

From 2.2.8 the graph editor has been improved a lot.
I think it will fix this. Please re-open if you still experience this.

[2016-09-26 14:36] luigidellaquila commented on #6606
Hi @obi1kenobi

Ah, ok, got it. The main fix actually was on that point, the `p` was not correctly evaluated, so it returned null for both the eval expression and the p.name in the `if` expression.

I just fixed the problem passing correctly the context to the functions, so now everything is correctly evaluated.

In short, that is exactly what I fixed, all the rest was a consequence ;-)

Thanks

L

[2016-09-26 14:36] #6606 closed

[2016-09-26 14:36] maseev opened #6743 "Documentation for OClass::getInvolvedIndexes(String...) is wrong"
[Here](https://github.com/orientechnologies/orientdb/blob/master/core/src/main/java/com/orientechnologies/orient/core/metadata/schema/OClass.java#L380), have a look.

[2016-09-26 14:36] maggiolo00 commented on #5248
@bazo

any news on this?

[2016-09-26 14:40] rdelangh commented on #6666
@taburet
These "OCachePointer.finalize: readers != 0" log entries start appearing at extreme high speed (zillions of entries, continuously) in the logfile some 30 seconds after I started the server, and before any client has been launched to use that server.

[2016-09-26 14:45] diegomtassis commented on #6738
If I fix all the instances of that error (some, but not too many) then I get a new one: "Problems reading profiles from XML The element type "meta" must be terminated by the matching end-tag "</meta>".

I tried to fix all of them manually, and I think I did, but the error still shows up.

Is it a known Eclipse Neon bug? I didn't have any problem importing the other formatting profiles that I use.

[2016-09-26 14:49] smil2k commented on #6474
Hi,

I just checked it again, still not working using chromium.

[2016-09-26 14:54] obi1kenobi commented on #6606
Fantastic, thank you for verifying and for the explanation :) Looking forward to 2.2.11!

[2016-09-26 15:02] maggiolo00 commented on #6731
@dominioon

you should increase the token expire timeout. By default it's 60 mins

http://orientdb.com/docs/2.2/Configuration.html#networktokenexpiretimeout

[2016-09-26 15:03] tglman commented on #6687
hi @obi1kenobi,

Ok, from the error seems that there are some trouble rebuilding the index while dropping the existing data, in anycase the index rebuild for the import case should not be needed, so i'll refactor a bit the import to drop all the index before dropping the data itself, this should solve your problem, but anyway with the source import is hard to prove the fix.

Regerds

[2016-09-26 15:08] lvca commented on #6738
That settings are untouched since log time ago and they works for the previous version of Eclipse and also from IntelliJ.

[2016-09-26 15:12] taburet commented on #6666
Tested locally on a primitive 3-node setup  – no leaks. Lets see what leak detector will uncover on your side.

[2016-09-26 15:14] lvca commented on #6636
Starting from 2.2.10, there is no more specific "local" strategy, but OrientDB always installs the local as a wrapper to any strategy. So if you see round-robin, it's a local + round-robin that means the round-robin is done between the local clusters only.

In your code above, instead of printing the name, could you please print the strategy class name? it should be `OLocalClusterWrapperStrategy`.

[2016-09-26 15:24] lvca commented on #6517
I totally forgot we have that old HTML in Studio. This can't be done anymore for security reasons, we should remove it. Sorry for the lack of understanding from my side.

[2016-09-26 15:24] lvca commented on #6517
@maggiolo00 Could you please remove that snippet in Studio?

[2016-09-26 15:27] maggiolo00 commented on #6517
@lvca
sure

[2016-09-26 15:31] diegomtassis commented on #6738
I've tried using an Eclipse Mars fresh installation and I get the same error.

[2016-09-26 15:42] luigidellaquila commented on #6737
Hi @scrabb

I just pushed a fix on 2.2.x branch. The fix will be released with 2.2.11

Thanks

Luigi

[2016-09-26 15:42] #6737 closed

[2016-09-26 15:44] smolinari commented on #6517
How about the other suggestions?

Scott

[2016-09-26 15:50] dominioon commented on #6731
@maggiolo00
I think Live Query should then send heartbeats to keep the connection alive by itself, or the connection timeout should be set to infinity by default. Imagine a situation when a live query is used to get informed about changes made to a table once in a month or a year.

[2016-09-26 16:08] a-unite commented on #6695
Confirm it was fixed in 2.1.24 too.
`Importing database schema` stage of database import seems to be very busy (had to wait for ages), but it works!

Thank you very much!

[2016-09-26 18:43] lvca commented on #6517
You can still change the user from the console. Through the console you can manage server users with the following commands:
- list server users
- drop server user <name>
- set server user <name> <password> <permissions>

[2016-09-26 19:27] william76 opened #6744 "Documentation: error in Document API example code on the web."
The example in http://orientdb.com/docs/master/Document-Database.html#usage has an error:

[code]

[2016-09-26 20:05] obi1kenobi commented on #6687
I'm not sure why existing data is being dropped, as the import is into a clean (freshly-created) database.

I have managed to create an export file that deterministically causes the error. I will attempt to diff it against a good export file and report back what I find -- hopefully that will aid your search for the bug.

[2016-09-26 20:50] smolinari commented on #6517
Ahh... I tried searching for something like that, but didn't find anything.

What are the permissions one can add? The docs don't offer the options.

http://orientdb.com/docs/2.2/Console-Command-Set-Server-User.html

Scott

[2016-09-27 04:00] tanhv90 opened #6745 "NULL value was NOT indexed as documented"
## OrientDB Version, operating system, or hardware.
- v2.2.10

## Operating System
- [x] Linux
- [ ] MacOSX
- [x] Windows
- [ ] Other Unix
- [ ] Other, name?

## Expected behavior and actual behavior
I created a class node item with 2 properties id and flag

I see that NULL value in **flag** was not indexed.

It returns 38589

Count number of item was indexed by **flag**

It returns 34217

And the

[2016-09-27 06:42] benjaminbillet opened #6746 "ignoreNullValues has no effect if defined through getDefinition().setNullValuesIgnored() the Java API"
## OrientDB Version, operating system, or hardware.
v2.2.10, MacOS X

## The problem
This issue is based on the discussion #6681. Andrey Lomakin (@laa) asked me to create a new issue for this.

Here is a java snippet that creates a single vertex type with a single property and tries to create three nodes (two of them without the property). It crashes with a "found duplicated key 'null'" error, eve

[2016-09-27 06:44] benjaminbillet commented on #6681
@laa Done #6746.
Thanks a lot.

[2016-09-27 06:44] benjaminbillet commented on #6716
Perfect, thanks you.

[2016-09-27 07:13] diegomtassis commented on #6738
I closed the ticket unintentionally (and then reopened).

I've tested the profile with fresh installations of the 3 last eclipse versions (Neon, Mars and Luna) and I get the same error.

This is how I proceed:
* Donwload the file (286 kb).
* In eclipse Preferences->Java->Code Style->Formatter, I click on the option "Import" and select the file.
* The error shows up.

[2016-09-27 07:18] diegomtassis commented on #6738
Problem sol

[2016-09-27 07:18] #6738 closed

[2016-09-27 08:35] laa opened #6747 "Add a Parameter for "ignoreNullValues"
Usage of `getDefinition().setNullValuesIgnored()` is not a very practical way to set ignoreNullValues. In terms of API, I think the best way to do this would be to have a Parameter for "ignoreNullValues", e.g.:

[code]

Blueprints specifically introduced the [Parameter ](http://www.tinkerpop.com/docs/javadocs/blueprints/2.5.0/com/tinkerpop/blueprints/Parameter.html) class for the purpose of settin

[2016-09-27 08:39] laa commented on #6746
Hi @benjaminbillet you got me wrong. Changing of OIndexDefenition is an unreliable way to change index parameters. Instead of that, I agreed that it is useful to support Parameter for  "ignoreNullValues". I close this issue as invalid and create new one https://github.com/orientechnologies/orientdb/issues/6747 .

[2016-09-27 08:39] #6746 closed

[2016-09-27 08:47] ruituraj opened #6748 "LIMIT SKIP & ORDER BY - Paging Issue"
## OrientDB Version, operating system, or hardware.
- 2.2.6
## Operating System
- [ ] Linux
- [X] MacOSX
- [ ] Windows
- [ ] Other Unix
- [ ] Other, name?

## Expected behavior and actual behavior
`select mid, path, sz, created FROM (select * from Media ORDER BY created DESC LIMIT 20 SKIP 1)` should skip the first record but it returns all the results.

This query `‘select * from Media ORDER BY cr

[2016-09-27 08:52] laa commented on #6631
Close issue because of no reply. If you reproduce given issue and have information which is requested in issue feel free to reopen it.

[2016-09-27 08:52] #6631 closed

[2016-09-27 08:53] luigidellaquila commented on #6748
Hi @ruituraj

Thank you for reporting, I'll check it asap

Thanks

Luigi

[2016-09-27 09:03] benjaminbillet commented on #6746
Oops, my bad. Sorry for the inconvenience.

[2016-09-27 09:31] laa commented on #6746
))

[2016-09-27 10:03] rdelangh commented on #6666
@taburet
1) awaiting a timeslot that our current (v2.2.7) can be shut, will do then the startup of v2.2.10 with the leak detector settings
2) meanwhile I found that the v2.2.7 "server.sh" script contains options for Java, which are not included in the v2.2.10 bundled "server.sh" script, I don't know if they can be relevant for this issue:
In the v2.2.7 "server.sh" script:
JAVA_OPTS_SCRIPT="-Djna.n

[2016-09-27 10:11] tglman commented on #6687
hi @obi1kenobi,

I did the refactor that i said before on the 2.2.x branch, if you have chance could you try the 2.2.11-SNAPSHOT, it should fix the problem.

It's a bit guessing though ;)

bye

[2016-09-27 10:58] smolinari commented on #5119
@lvca - friendly ping and bump. :smile:

Scott

[2016-09-27 11:00] taburet commented on #6666
That's really strange, inspected a freshly built 2.2.10 distribution and the distribution downloaded from the OrientDB site. They both contain the same `JAVA_OPTS_SCRIPT` in `server.sh` as in 2.2.7. Maybe you just accidentally modified the file?

[2016-09-27 11:06] taburet commented on #6306
@evandor Thank you for the feedback. I will think what we can do about the problems you faced.

[2016-09-27 11:10] amandeep-sharma commented on #6641
Hi @laa , I used -XX:MaxDirectMemorySize=512g parameter with 4gb heap size, it worked. Thanks for your advice, but I do have concerns over setting this parameter to a high value as this parameter value is applicable for all jvm nio operations. I have some questions
- What is minimum optimal value of this parameter for embedded orientDB ?
- In my application I have set storage.diskCache.bufferSize

[2016-09-27 11:31] taburet commented on #6537
Hi @vantonov1! Failed to reproduce the problem with the following test case:

[code]

Also, inspected the source code of `OIndexTxAware*` classes, seems like they properly combine information from the transaction with the information in the underlying index. Maybe I just missed something. Could please modify the test case above to make it fail or describe the steps to reproduce more precisely or m

[2016-09-27 11:37] laa commented on #6641
Hi @amandeep-sharma . ``` -XX:MaxDirectMemorySize``` is the only limit of direct memory allowed to allocate by JVM it does not affect any system parameters and does not change the amount of memory consumed by OrientDB. You should set the size of disk buffer as maximum as it is possible. The real value depends on expected size of the database on disk. I suggest having disk cache size as big as 20%

[2016-09-27 11:37] #6641 closed

[2016-09-27 11:41] laa commented on #6702
@nadestin could you build latest 2.2.x version and run it on the same case without any additional parameters ?

[2016-09-27 11:45] rdelangh commented on #6666
I see that there is actually 2 lines in the v2.2.7 "server.sh" script where JAVA_OPTS_SCRIPT is set : the first one, on line number 75, is not present in the version 2.2.10 script. It really doesn't matter, because -if not set- the variable gets set anyhow on line number 100 in the v2.2.10 script
-> ignore my comment as not relevant

[2016-09-27 11:46] luigidellaquila commented on #6748
Hi @ruituraj

I just pushed a fix on 2.2.x branch. It will be released with 2.2.11

Thanks

Luigi

[2016-09-27 11:46] #6748 closed

[2016-09-27 11:49] ruituraj commented on #6748
Awesome, thanks Luigi!

[2016-09-27 11:52] tglman commented on #6735
hi all,

just pushed some fixes about this, they are going to be released in 2.2.11.

Closing this

[2016-09-27 11:52] #6735 closed

[2016-09-27 12:01] taburet commented on #6666
BTW, just documented the leak detector: http://orientdb.com/docs/2.2.x/Leak-Detector.html , maybe you will find this information useful.

[2016-09-27 12:03] vantonov1 commented on #6537
Hi!

I checked, your test doesnt call for calculateTxIndexEntry() - thats the only place both OIndexTxAwareMultiValue and OIndexTxAwareOneValue call getChangesPerKey(). It seems not every select use iterateEntries()

Really, I couldnt restore details right now, I'll do it a little bit later, sorry

[2016-09-27 12:06] amandeep-sharma commented on #6641
Thanks @laa for clearing my doubt. Will #6640 and #6641 be available in ODB 2.2.11 ?

[2016-09-27 12:11] benjaminbillet commented on #6735
Thanks a lot. I can't wait for this 2.2.11, it will solve a lot of my issues 👍

[2016-09-27 12:21] vantonov1 commented on #6537
Ha, thats simple. It seems that only IN uses iterateEntries(), and at least it doesnt uses collation from index. So, here is the test

`        ODatabaseDocumentTx db = new ODatabaseDocumentTx("memory:TxAwareIndexTest");
        db.create();
        final OClass user = db.getMetadata().getSchema().createClass("user");
        user.createProperty("name", OType.STRING)/*.createIndex(OClass.INDEX_TYP

[2016-09-27 12:22] vantonov1 commented on #6537
BTW, how your insert a code with perfect formatting? I couldnt

[2016-09-27 12:26] taburet commented on #6537
Thanks for the test case. Formatting is simple as:

[code]

[2016-09-27 12:27] kwoxer commented on #6065
As I did not get this issue anymore. I think it's fixed. You can close here :)

[2016-09-27 12:29] kwoxer commented on #6664
Server still running. As you see I updated my last post here. Will repost new config here in the case the server is crashing again.

But anyway it would be nice to know why it now seems to run well. As said I'm now on 50% memory. But maybe there is one settings of the many that was the main reason. I don't know. :)

[2016-09-27 12:30] #2748 closed

[2016-09-27 12:44] bwRavencl commented on #6636
When printing the class name I get similar results:
Initially the strategy is  `com.orientechnologies.orient.server.distributed.impl.OLocalClusterWrapperStrategy` while adding a number of records it switches to `com.orientechnologies.orient.core.metadata.schema.clusterselection.ORoundRobinClusterSelectionStrategy`.
Which seems to provoke the above-mentioned `OSchemaException`.

[2016-09-27 13:40] luigidellaquila commented on #6743
Hi @maseev

Good catch, thank you for reporting!

Just pushed a fix

Thanks!

Luigi

[2016-09-27 13:40] #6743 closed

[2016-09-27 14:08] lodrion opened #6750 "Allow returning @depth from MATCH"
`MATCH` provides much better syntax than `TRAVERSE,` but does not allow capturing `@depth` context variable.

It would be very convenient to have the ability to return `@depth` from `MATCH` as well, so that it would be a proper superset of `TRAVERSE`

Thanks

[2016-09-27 14:11] rdelangh commented on #6666
ok, got it: I had tuned the v2.2.7 "server.sh" script with extra heap and storage cache settings, which were not (of course) present in the standard v2.2.10 "server.sh" script, and apparently required to be able to launch the v2.2.10 engine for our large dbase (470GB) :

ORIENTDB_OPTS_MEMORY="-Xms1024m -Xmx16384m"

I added these tuned settings to the v2.2.10 "server.sh" script, and started it. It

[2016-09-27 14:14] rdelangh commented on #6666
ok, v2.2.10 is running on a single node, now trying to add a 2nd node to this...

[2016-09-27 14:18] tglman commented on #5119
Hi,

for the binary protocol so far i've been the responsible for it, and the last threshold to replace it with a different solution.

Let me make a few points

Pro:
- Have a new implementation on something ~standard will speedup the development of new drivers, and will improve the documentation overall.
- A new implementation may have less design bugs because we alredy know what we need.
- We may

[2016-09-27 14:25] tglman commented on #6647
Hi All,

We did some  changes on the support of streaming, and some fixes on the http protocol as well, this should not be a problem anymore from 2.1.10.

do you confirm ?

[2016-09-27 14:31] tglman commented on #6572
hi @Ivanov-Yuriy,

this is made on porpouse, because change the class to abstract means drop data, we could improve the check and give a more meaningfull error, we will check if possible.

The case abstract to "fisical" does not compromise any data, so can be done without problem.

Regards

[2016-09-27 14:39] luigidellaquila commented on #6750
Hi @lodrion

Unfortunately there is no such option for now, but I think it would be really useful.
I'm flagging it as an enhancement, I'll work on it as soon as I can

Thanks

Luigi

[2016-09-27 14:43] tglman commented on #3395
Hi @mmacfadden,

Do you still have problem with 2.2.10 ?

[2016-09-27 14:44] laa commented on #6641
@amandeep-sharma yes, and #6640 is already in 2.2.10. I think with the latest distribution which I sent to you, you do not encounter this issue.

[2016-09-27 14:51] obi1kenobi commented on #6668
Unfortunately I only see this bug on my company's servers, and seldom locally, so I won't be able to answer that until we've had a chance to upgrade. The next upgrade will probably be around when 2.2.11 is released.

[2016-09-27 15:11] mmacfadden commented on #3395
@tglman Since we have a workaround in place I am not sure.  I will upgrade to 2.1.10 and enable streaming and see if the problem is still there.

[2016-09-27 15:13] smolinari commented on #5119
Thanks for the explanation @tglman.

I am not the expert, but from what I understand of gRPC, maintenance of the client side drivers would be relatively easy. It is basically a matter of a simple console command to generate the client code. Or am I misunderstanding how gRPC works or what is actually necessary?

And out of curiosity, how much worse did protobuf perform? 5%, 10%, 25%?

Scott

[2016-09-27 15:22] laa commented on #6745
Hi @tanhv90 , I  can not open your file could you upload it again ?

[2016-09-27 15:25] laa commented on #6702
Hi @nadestin , I close this issue, please reopen issue if you see it again.

[2016-09-27 15:25] #6702 closed

[2016-09-27 15:25] laa commented on #6679
Close issue because of no reply. If you reproduce given issue and have information which is requested in issue feel free to reopen it.

[2016-09-27 15:25] #6679 closed

[2016-09-27 15:26] laa commented on #6657
@rdelangh I close this issue in favor of #6705 , I wait for your reply on this issue.

[2016-09-27 15:26] #6657 closed

[2016-09-27 15:27] laa commented on #6651
Close issue because of no reply. If you reproduce given issue and have information which is requested in issue feel free to reopen it.

[2016-09-27 15:29] laa commented on #6404
Close issue because of no reply. If you reproduce given issue and have information which is requested in issue feel free to reopen it.

[2016-09-27 15:33] tglman commented on #5119
hi @smolinari,

From my experience there is not just the cost of the writing the code of the messages, that is usually the 30-40% of the bootstrap cost and 10-20% of maintance cost, there is as well a cost to provide a meaningful api for the environment (see nodejs callbacks programming style) and hide implementation details, like each record has a version that you should not change, you need to k

[2016-09-27 15:35] tanhv90 commented on #6745
Hi @laa,
It's [here](https://drive.google.com/open?id=0B-9uJbevAJq9YVJwekVla3VPYTA). Please help recheck.

[2016-09-27 15:35] dennwc commented on #5119
@tglman Thanks for your response, I thought the idea of this proposal was abandoned long ago.

I want to add a few things regarding cons:

* Binary protocol would be maintained in it's current state for 3.x in any case, thus it should not be a problem. Especially if it will be in freezed state.

* As one of driver developers, I really can't wait to see old binary protocol deprecated, so I can mark

[2016-09-27 15:50] laa commented on #4227
Hi @Ziink I have tried several times and can not reproduce the issue on the latest version. Please reopen the issue if you reproduce it.

[2016-09-27 15:50] #4227 closed

[2016-09-27 15:52] laa commented on #6745
@tanhv90 sorry , no luck. Could you use zip algorithm for example ?

[2016-09-27 15:59] tanhv90 commented on #6745
@laa

I use OrientDB Studio to export this database. I don't know why you can't open it.

BTW, I uploaded new file with zip algorithm for you. Please try [this](https://drive.google.com/open?id=0B-9uJbevAJq9emRmai1jWVE0dUE)

[2016-09-27 16:02] laa commented on #6745
@tanhv90 do you send me exported version ? Could you send raw binary version ?

[2016-09-27 16:08] tanhv90 commented on #6745
@laa

Sure. It's [here](https://drive.google.com/open?id=0B-9uJbevAJq9bGFwbVVkc0ROT1E)

[2016-09-27 16:17] bartoszm opened #6751 "Cannot open remote database"
## OrientDB Version, operating system, or hardware.
- v2.2 SNAPSHOT[ ] - .rc1[ ] .beta2[ ] .beta1[ ]

## Operating System
- [ ] Windows

## Expected behavior and actual behavior
When trying to open a remote DB on Tomcat NPE is thrown
It is due to the fact that
`java.lang.Package#getImplementationVersion` might return `null`

and  `com.orientechnologies.orient.core.security.OSecurityManager#isAlgor

[2016-09-27 17:00] bartoszm commented on #6751
Actually the issue is cause by JRebel - still, handling null values in `com.orientechnologies.orient.core.security.OSecurityManager#isAlgorithmSupported ` would be nice

[2016-09-27 18:25] tomasaftalion opened #6753 "Concurrent Batch HTTP Updates Returning 409."
## OrientDB Version, operating system, or hardware.
- v2.2
## Operating System
- Ubuntu 14.04
## Expected behavior and actual behavior

device (from-vertex) ----> phone number (to-vertex)

Using batch http request to generate various transactions with the following pattern:

/batch/db-name

[code]

sql commands:

[code]

Note: from-vertex-id and to-vertex-id are unique.

This is the hack I created

[2016-09-27 20:01] #6705 closed

[2016-09-27 20:03] #6566 closed

[2016-09-27 20:04] #6175 closed

[2016-09-27 20:05] #5888 closed

[2016-09-28 06:09] lvca commented on #6753
What kind of errors are those 409?

[2016-09-28 06:54] #6744 closed

[2016-09-28 06:54] lvca commented on #6744
Fixed, it will be online in <1h. Thanks.

[2016-09-28 07:01] laa commented on #6673
closing issue because it is already fixed

[2016-09-28 07:01] #6673 closed

[2016-09-28 07:09] yon86 opened #6754 "Making 1st query fast"
## Operating System
- [ ] Linux
- [ ] MacOSX
- [x] Windows
- [ ] Other Unix
- [ ] Other, name?

when I use orientdb with the c# binary driver my 1st request is always really slow like 20 sec...is there a way to make sure the connection is always open from oriendb server...even if there are no requests for a  while the next request will take a long time as well. I appreciate all the help. thank you

[2016-09-28 08:52] maggiolo00 commented on #6517
@lvca
Removed

[2016-09-28 09:17] taburet commented on #6537
Fixed in 2.2.x and develop branches. Now indexes respect collations during transaction.

[2016-09-28 09:17] #6537 closed

[2016-09-28 09:46] taburet commented on #6666
Hi! How it's going with the second node?

[2016-09-28 13:05] rdelangh commented on #6666
1) started on the first node, dbases are ONLINE:

2016-09-28 14:38:25:202 WARNI [orient1] Updated node status to 'ONLINE' [OHazelcastPlugin]
2016-09-28 14:38:25:212 INFO  [orient1] Distributed servers status:

+--------+------+------------------------------------+-----+---------+-----------------+-----------------+----------------------+
|Name    |Status|Databases                           |Conns|

[2016-09-28 13:40] rmanzar commented on #6164
I added serverUser and serverPassword and it worked. I have placed posts.csv file in the \bin directory where oetl.bat exists.

The content of the posts.csv is below

id,title
10,NoSQL movement
20,New OrientDB

And my JSON file content is.

{
  "source": { "file": { "path": "posts.csv" } },
  "extractor": { "csv": {"separator": ",", "nullValue": "NULL"} },
  "transformers": [
    { "vertex": { "cl

[2016-09-28 13:48] lvca commented on #6517
@smolinari is right, the resources are missing here.

[2016-09-28 13:50] luigidellaquila commented on #6729
Hi @jterrero

It was a tough one, but we managed to fix it. The fix was pushed on 2.2.x branch and will be released with 2.2.11

Thanks

Luigi

[2016-09-28 13:50] #6729 closed

[2016-09-28 14:06] tglman commented on #6718
hi @dominioon,

This is not critical an the message can be ignored, in any case i just fixed it, Thanks for your precise test it was really helpful.

Bye

[2016-09-28 14:06] #6718 closed

[2016-09-28 14:17] laa commented on #6583
@saeedtabrizi I close this issue because I suppose that it can be confirmed as fixed. If you reproduce the problem on a stress test, feel free to reopen issue.

[2016-09-28 14:17] #6583 closed

[2016-09-28 14:28] lvca commented on #6754
Could you provide us the output of your query with the `EXPLAIN` prefix? Please run it twice and write here both results.

[2016-09-28 14:44] yon86 commented on #6754
its not the query that's the issue...the query might be anything from a simple select to a complex query but if the server is not active then the query that comes 1st will always be slow....I hope this explains the issue. Thank you

[2016-09-28 14:52] jterrero commented on #6729
Wow.. Beyond awesome.. this is great news.

If you may, what was the issue?

On Wed, Sep 28, 2016 at 9:50 AM, luigidellaquila <notifications@github.com>
wrote:

--

[image: Dora's Naturals] <http://www.dorasnaturals.com/>

John Terrero / Information Technology, Director
johnt@dorasnaturals.com / (201) 982-5156

Dora's Naturals
Office: (201) 229-0500, ext: 36 / Fax: (201) 983-4229
21 Empire BlvdSou

[2016-09-28 14:58] luigidellaquila commented on #6729
Hi @jterrero

In v 2.1 a record.save() inspected the record itself and the linked records to find changes. This is an expensive operation and involves a lot of complexity and memory overhead to avoid cycles.

In v 2.2 we replaced this logic with a new component called DirtyManager. The DirtyManager keeps track of all the changes that occur on a record tree, so that when you do a save() operation y

[2016-09-28 15:15] jterrero commented on #6729
Thank you so much, for me, it's an invaluable feature.

I'm not going to say it's the main reason I have started an overhaul of my data environment to move to OrientDB, but it had major influence in the decision making process.

When is 2.2.11 scheduled to be released ?

[2016-09-28 15:22] #6751 closed

[2016-09-28 15:22] SDIPro commented on #6751
Added null checks to Runtime.class.getPackage() and getPackage().getImplementationVersion() in isAlgorithmSupported().

[2016-09-28 15:24] lvca commented on #6754
Can you execute a test query at the beginning, so you have everything set up for the run-time queries? Even this: `select from V limit 1`

[2016-09-28 15:32] tglman commented on #6700
hi @Ivanov-Yuriy,

I added the test cases of for the support of null values in embedded collections and fixed, should be released for the 2.2.11.

closing this.

[2016-09-28 15:32] #6700 closed

[2016-09-28 15:50] saeedtabrizi commented on #6583
@laa  I handle it in similar test case and run a heavy stress test . the good news is there is no any crash or abnormally usage in Cpu occurred .
Thanks
Saeed Tabrizi .

[2016-09-28 19:13] tomasaftalion commented on #6753
Hi, thanks for following up. To simplify, I'm trying to change the approach to follow http://orientdb.com/docs/2.2.x/SQL-batch.html.  Basically, I want to update/create one "from vertex", one "to vertex" and the edge between these two. By solving this I should be able to get rid of any concurrency problems.

My schema is:

[code]

I'm trying to do:

`{ "transaction" : false, "operations" : [<opera

[2016-09-28 19:37] tomasaftalion commented on #6753
Using "UPDATE vertex_a MERGE {"id": x} UPSERT WHERE id = x" to do the update/create vertex. This works. Trying to see if this approach solves the concurrency problem when updating thousand of edges concurrently.

[2016-09-28 20:02] xvik commented on #4837
The issue appears in 2.2.10 (and all 2.2.x versions below).

For example, query:
[code]
Fails with error:
[code]

Error appear when "\n" or "\r" used, but pass correctly for "\t".

[2016-09-28 22:23] lvca commented on #6753
Apart the problem I hope it's resolved with your last attempt, 2 things:

(1) Instead of creating an edge with 2 sub-queries, I suggest you to use this that is more efficient:

[code]

(2) Why don't put all the statements in the same TX?

[2016-09-28 22:37] lvca commented on #4837
@luigidellaquila seems that @xvik was able to reproduce the issue. Reopened.

[2016-09-29 05:47] dominioon commented on #6718
hi @tglman,
You're welcome and thanks for the quick fix! Yes, it was just a warning, but it was spamming logs and caused suspicions.

[2016-09-29 06:06] luigidellaquila commented on #6729
Hi @jterrero

2.2.11 will be out in next 24/48 hours at most

Thanks

Luigi

[2016-09-29 06:27] anber500 commented on #6754
We use Python and have observed the same behavior. This is especially problematic on databases with millions of records. Once the first query runs, everything seem to run smoothly. This phenomenon is usually observed when connecting to read nodes that have not been accessed in a while.

This can also be witnessed when opening the studio. The login takes up to 20 seconds but after that it seems to

[2016-09-29 07:00] taburet opened #6755 "Default heap/cache size on large data"
As #6666 reveals, there is probably some problem on large data (~300GB) with default heap/cache size settings. Seem like there are some exceptions that somehow got silenced. We should try to recreate the problem on one of our test servers.

[2016-09-29 07:04] taburet commented on #6666
Created a separate issue for the cache pointers problem. Could you please share the database schema in it, so we will be able to generate a database of the similar structure and size.

Handling you back to Luca.

[2016-09-29 08:57] RoarN commented on #6404
Stopped actively following this case after more than a month with no activity and I didn't get any notification until the case was closed. But I have now tested the osgi bundle. The bundle it self worked just fine but the error during startup is the same:

2016-09-29 10:53:43,167 [Thread-3] ERROR com.ceesoft.ceeview.core.bootstrap.OSGiLogger - com.ceesoft.ceeview.datastore.impl.blueprints.orientdb

[2016-09-29 09:01] rdelangh commented on #6755
@taburet
Dbase schema is not very complex :
- 3 'document' classes, each one containing some 20-30 STRING attributes and one single DATE attribute
- number of records in the 3 classes is estimated to be some 13M in 1st class "mds_csv_cf12", 313M in 2nd class "mds_csv_cf14", 10M in class "mds_csv_cf15"
- total size of the database on its filesystem is now approx 460GB

Does this help, or do you nee

[2016-09-29 09:20] taburet commented on #6755
@rdelangh, I think that is enough information, thank you.

[2016-09-29 09:36] RoarN commented on #6404
I can't find a way to reopen this case.

[2016-09-29 09:48] taburet commented on #6404
Reopened. It's a similar exception, but the cause is different. Do you manually start Felix or it's a part of some other external framework?

[2016-09-29 10:07] RoarN commented on #6404
We manually starts an embedded Felix instance.

[2016-09-29 10:10] taburet commented on #6404
Did you tweak `org.osgi.framework.bootdelegation` or `felix.bootdelegation.implicit` Felix settings?

[2016-09-29 10:12] RoarN commented on #6404
No, vanilla launch of Felix.

[2016-09-29 10:20] taburet commented on #6404
Please make sure that `felix.bootdelegation.implicit` is `true`. If this won't help, try to set `org.osgi.framework.bootdelegation` to `javax.*`.

[2016-09-29 10:52] RoarN commented on #6404
first one didn't help. the second triggered this exception:

org.apache.felix.log.LogException: java.lang.NoClassDefFoundError: sun/misc/Unsafe
	at com.googlecode.concurrentlinkedhashmap.ConcurrentHashMapV8.getUnsafe(ConcurrentHashMapV8.java:4136)
	at com.googlecode.concurrentlinkedhashmap.ConcurrentHashMapV8.<clinit>(ConcurrentHashMapV8.java:4101)
	at com.googlecode.concurrentlinkedhashmap.Concur

[2016-09-29 10:57] RoarN commented on #6404
Followed the original exception down one level and found this (more details about the class):

Caused by: java.lang.ClassNotFoundException: javax.script.ScriptEngineFactory not found by orientdb-osgi-core-bundle [111]
	at org.apache.felix.framework.BundleWiringImpl.findClassOrResourceByDelegation(BundleWiringImpl.java:1574)
	at org.apache.felix.framework.BundleWiringImpl.access$400(BundleWiringImp

[2016-09-29 10:59] taburet commented on #6404
Well, set it to `javax.*,sun.misc.*,com.sun.*`. That's all because Felix's smart automatic _system_ package resolution procedure (`felix.bootdelegation.implicit=true`) failed to recognise `javax.script.ScriptEngineFactory` as system class which is a de facto standard now. So we have to tune the `org.osgi.framework.bootdelegation` manually.

[2016-09-29 11:15] RoarN commented on #6404
Looks like sun.misc.Unsafe was not found even though sun.misc.* was set.

Exception:
org.apache.felix.log.LogException: java.lang.NoClassDefFoundError: sun/misc/Unsafe
	at com.googlecode.concurrentlinkedhashmap.ConcurrentHashMapV8.getUnsafe(ConcurrentHashMapV8.java:4136)
	at com.googlecode.concurrentlinkedhashmap.ConcurrentHashMapV8.<clinit>(ConcurrentHashMapV8.java:4101)
	at com.googlecode.concur

[2016-09-29 11:19] RoarN commented on #6404
Took a look at our exported packages from system bundle without your changes.

Exported Packages
javax.accessibility,version=0.0.0.1_008_JavaSE
javax.activation,version=0.0.0.1_008_JavaSE
javax.activity,version=0.0.0.1_008_JavaSE
javax.annotation,version=0.0.0.1_008_JavaSE
javax.annotation.processing,version=0.0.0.1_008_JavaSE
javax.crypto,version=0.0.0.1_008_JavaSE
javax.crypto.interfaces,version

[2016-09-29 11:40] RoarN commented on #6404
The only import package by orientdb-osgi-core-bundle is 'org.osgi.framework,version=1.8.0 from org.apache.felix.framework (0)'

You should explicitly import all needed packages according to my Felix guy :)

[2016-09-29 11:47] taburet commented on #6404
He is partially right :) All non-boot delegated packages should be imported. The only non-boot delegated dependency of `orientdb-osgi-core-bundle` is `org.osgi.framework`. The problem is somewhere else.

[2016-09-29 11:53] taburet commented on #6404
Please elaborate more on the exported packages listing you provided. How you obtained them? Are they re-exported from some bundle in your setup?

[2016-09-29 11:56] RoarN commented on #6404
The list was obtained using Apache Felix Web Console and lists packages exported by the 'System Bundle'

[2016-09-29 12:07] taburet commented on #6404
BTW, do you manually tweak the `org.osgi.framework.system.packages` or `org.osgi.framework.system.packages.extra`?

[2016-09-29 12:11] RoarN commented on #6404
config.put("org.osgi.framework.system.packages.extra", "sun.misc,sun.net.util,sun.reflect");

[2016-09-29 12:15] RoarN commented on #6404
Did some changes to the pom.xml to get past the ScriptEngineFactory issue by adding this to orientdb-osgi-core-bundle:
 <Import-Package>
    org.osgi.framework,javax.script,sun.misc
</Import-Package>

This actually fixed the javax.script issue and sun.misc issue and I'm back to ODatabaseRecordThreadLocal exception that started this case :)

java.lang.NoClassDefFoundError: Could not initialize clas

[2016-09-29 12:45] taburet commented on #6404
Oh, I see. A package can't be boot delegated and system bundle exported at the same time. Seems like system bundle exported one has a priority. That's why it's unable to resolve the `Unsafe`.

Regarding the `ODatabaseRecordThreadLocal` problem. According the original exception stack trace, there are iPojo components and some kind of a `ThreadPoolExecutor` involved, they both may do tricks with the

[2016-09-29 13:25] maggiolo00 commented on #5248
hi @bazo

i'will  label this as `Cannot replicate` since i'm not able to reproduce it.
If you are still experimenting this issue with ODB 2.2.x, please reopen it.

Thanks

[2016-09-29 13:26] #5248 closed

[2016-09-29 13:35] #5651 closed

[2016-09-29 13:43] robfrank opened #6756 "ETL - Load Failing using oetl"
@rmanzar commented on [Tue Sep 27 2016](https://github.com/orientechnologies/orientjs/issues/206)

I am getting this error while using oetl on my windows machine
using this versionorientdb-community-2.2.8

oetl posts.json
oetl postscsv.json
oetl commentscsv.json
oetl comment.json

Files are attached as a zip and I have placed them in the bin folder.
[Manyfiles.zip](https://github.com/orientechnolo

[2016-09-29 13:43] #6756 closed

[2016-09-29 14:20] #6627 closed

[2016-09-29 14:20] tglman commented on #6627
No reply since a while, closing this.

[2016-09-29 14:32] RoarN commented on #6404
Here is the complete import block for orientdb-osgi-core-bundle:

<Import-Package>                       org.osgi.framework,javax.script,javax.management,javax.naming,javax.naming.directory,javax.net,javax.net.ssl,javax.crypto,javax.crypto.spec,sun.misc
</Import-Package>

There is still a timing issue, but I will describe that in the a new comment

[2016-09-29 14:57] RoarN commented on #6404
First creation of a connection in a OSGI service will fail e.g.
`OrientGraph` graph = new OrientGraph(url, user, password);

ODatabaseRecordThreadLocal line 32, Orient.instance() is null first time it is called.
Adding a test fixes the problem for the first connection:
[code]

The same line triggers the creation of the global Orient object so all following connections will work.

So with the test

[2016-09-29 15:20] grexe commented on #6306
checked out the osi branch today and got this error compiling with Oracle JDK 8 (Java HotSpot(TM) 64-Bit Server VM (build 25.101-b13, mixed mode) on Linux x64 (Ubuntu 16.04, linux 4.8.0-040800rc8-generic)
[code]

[2016-09-29 15:38] tglman commented on #5946
hi @voondo,

for your case the error is due to a linked record that may not be allowed to update, when you use graph a remove of a vertex means an update of all the linked vertices, it can be possible that one of the lined vertex is not allowed to be modified by the current user.

If you are doing a notTx operation is normal that the removed vertex is actually removed because there is no tx to rol

[2016-09-29 16:09] SamHard commented on #5747
I've been having the same problem.  I can't find any way to run the "let" statement using console.sh.  I just get the same error as @pkoppstein above.  The same thing occurs with the "if" statement.  I thought maybe I needed to start a "script sql" session to allow multi-line batches, but when I type "end", I get an error:
[code]

[2016-09-29 16:11] tglman commented on #6401
hi @fixundfertig123,

did you have chance to try a later hotfix?  this problem may have been already fixed.

Regards

[2016-09-29 16:20] tglman commented on #4259
hi @BrunoSupiot,

Just a simple question, did you chage the memory settings of the server ? by default the size of the server heap is 512MB it can be not enough for your case, are you doing the creation using TX or NoTX ?

[2016-09-29 16:21] tglman commented on #6274
the relative issue on pyorient has

[2016-09-29 16:21] #6274 closed

[2016-09-29 16:28] tglman commented on #6381
hi All,

I work with Ostico a while ago and fixed a few of this issues, I think also this was fixed, going to close.

Pleas @Ostico reopen if you still have problems.

Regards