[2018-11-19 13:57] mpomet opened #8670 "MATCHES function doesn't work with special chars"
### OrientDB Version: v2.2.37
### OS: linux alpine

## Expected behavior
MATCHES works if the field contains special char

## Actual behavior
MATCHES function doesn't work if the field contains special char

## Steps to reproduce
[code]

The SELECT statement above doesn't returns any result.
Do I miss something or is it a bug ?

[2018-11-19 14:14] luigidellaquila commented on #8670
Hi @mpomet

I tested it in v 3.0 and it seems to work fine, so I'd say it could be a problem in the old SQL layer.
I'll check it as soon as I can

Thanks

Luigi

[2018-11-19 14:21] luigidellaquila commented on #8660
Hi @gianluca-valentini

I tried it locally, but I couldn't manage to reproduce the problem.
Please try to check the following:
- see if you are passing the right host/port
- check that both host and port have no additional spaces
- in case it still happens, try to take a thread dump of the client (eg. `jstack <pid>`), it could help us to get some more info

Thanks

Luigi

[2018-11-19 14:29] luigidellaquila commented on #8669
Oh, I think I got it, could you please do a test for me: try to change the "parent" alias with something else (eg. "parent_"), it's probably just a misbehaviour with reserved words

Thanks

Luigi

[2018-11-19 14:44] adepase commented on #8669
Sure, you got it! It works (even when incapsulated in the bigger query I didn't post :) ).
I think it would be a good thing to add "parent" to the reserved word list in http://orientdb.com/docs/3.0.x/sql/SQL-Syntax.html#reserved-words

Thank you
Alessandro

[2018-11-19 14:44] adepase commented on #8669
Obviously you can close this for me

[2018-11-19 14:49] luigidellaquila commented on #8669
Hi @adepase

Actually I think it's a bug ;-)
`$parent` is used to reference the parent query, but `parent` should be allowed as a normal property/projection name. I'm checking it, probably it's an easy fix

Thanks

Luigi

[2018-11-19 14:52] adepase commented on #8669
Anyway, please let us use "ancestor" at least (I don't like underscores and I lack synonyms) :)

[2018-11-19 15:12] #8669 closed

[2018-11-19 15:12] luigidellaquila commented on #8669
Hi @adepase

I pushed a fix, it will be released with v 3.0.11

Thanks

Luigi

[2018-11-20 09:31] freeart commented on #8664
@luigidellaquila Thanks! Cool!

[2018-11-20 10:37] #8666 closed

[2018-11-20 11:15] #8658 closed

[2018-11-20 11:16] luigidellaquila commented on #8658
Hi @freeart

I also pushed a fix for the ugly NullPointer

Thanks

Luigi

[2018-11-20 16:00] grzegorz-aniol opened #8671 "coalesce function should return value for $value.field"
### OrientDB Version: 3.0.9
### Java Version: 1.8
### OS: Windows 10

## Expected behavior
_coalesce_ function should properly identify not null value referenced as $profile.Name

## Actual behavior
The function returns last argument(i.e. 'Unknown') even when first argument is not null

![image](https://user-images.githubusercontent.com/22835413/48785721-9702a900-ece5-11e8-821b-fefd63a9e621.png)

[2018-11-20 16:46] gianluca-valentini commented on #8660
Hi @luigidellaquila
about the indexmanager issue now I have the same error with the v3.0.10 too.
The behavior is casual...sometimes it works and sometimes not, on the same Vertex, with the same java code!!

It is very strange and frustrating

[2018-11-21 20:11] hrstoyanov opened #8672 "WAL errors"
### OrientDB Version: 3.0.12-SNAPSHOT, also earlier versions
### Java Version: 1.8 u192
### OS: Windows 7 64-bit

I am seeing infinite looping in the server console of these errors, when trying to drop the database or fully rebuild the schema objects:

[code]

[2018-11-22 05:56] laa commented on #8672
Hi @hrstoyanov thank you. That is quite easy to fix.
I am working on durability fix, so I expect to fix it on Tuesday I suppose.

[2018-11-22 10:10] NielsHaar commented on #8539
Same problem here. Happened for a database created by nexus (version 3.14.0 docker).
Disk was full and i cleared up some space. Nexus won't start anymore. When trying to open the database i get the following errors:
`Exception during storage data restore
java.lang.NullPointerException
	at com.orientechnologies.orient.core.storage.impl.local.paginated.wal.ODiskWriteAheadLog.cutTill(ODiskWriteAheadL

[2018-11-22 11:43] luigidellaquila commented on #8660
Hi @gianluca-valentini

About the server versions, I still didn't manage to reproduce the problem, if you have a chance to do a thread dump of the blocked client it will help a lot

Thanks

Luigi

[2018-11-22 13:15] gianluca-valentini commented on #8660
Hi @gianluca-valentini
I will try to give you what you need to be able to understand the issue.
Currently I think that we will downgrade the OrientDB version because with the v3 we are founding too many problems.
We are trying to contact OrientDB support too (paying for any advice) without an answer.
Any suggestion is welcome
Gianluca

[2018-11-22 13:19] luigidellaquila commented on #8660
Hi @gianluca-valentini

Thank you very much, I'll see if I can find something in the meantime.

About the support, who are you contacting (eg. which email address)? Consider that today is Thanksgiving, so probably our sales dept in the USA is not very active

Thanks

Luigi

[2018-11-22 13:32] gianluca-valentini commented on #8660
Hi @luigidellaquila
we contacted support and had a call on 06/11/2018. We talked with **Stacey Doshi** <sdoshi@calliduscloud.com> and **Matthew Lyman** <mlyman@calliduscloud.com>. After this call we sent a datailed document with our architecture and situation on 16/112018.
Currently we didn't have any answer about the cost and the time for the support. We are working on Rome and asked an italian l

[2018-11-22 13:39] pedroteixeira commented on #8671
I noticed that it gives expected result if using this syntax:
[code]

[2018-11-22 13:47] #8671 closed

[2018-11-22 13:51] luigidellaquila commented on #8671
Hi @grzegorz-aniol

I just pushed a fix for this problem, it will be released with v 3.0.12

Thanks

Luigi

[2018-11-22 16:20] ablbi commented on #4612
any news on that issue? We are going towards production and still not able to use index on list of linked documents. Using Version 3.0.10

also we ran into the problem with select count(*)
https://github.com/orientechnologies/orientdb/issues/3462

select count(*) from Article where state = 'WORK'
result:
count(*) = 4648934
Query executed in 449.315 sec. Returned 1 record(s).

Index on 'state' is u

[2018-11-23 11:04] andrea-tomassi opened #8673 "WAL issue adding edges to the same Vertex from more than one connection"
### OrientDB Version: 3.0.8, 3.0.10
### Java Version: Oracle JDK 1.8
### OS: Alpine Linux, Windows 7

* Start a standalone server (default configuration, 4GB ram) and **-Dstorage.useWAL=true**.
* From a Java Client insert one Vertex of the class B (with just few simple fields, aka name, description an so on).
* Start two or more instances of the Java Client inserting Vertex of class A (with just f

[2018-11-23 11:05] laa commented on #8673
Hi.
Could you provide of thread dump of the server when it hangs?

[2018-11-23 14:18] escabe opened #8674 "JDBC Driver does not properly implement wasNull"
### OrientDB Version: 3.0.3
### Java Version: 1.8.0_121-b13
### OS: Windows 10

## Expected behavior
When having executed a query and having obtained a ResultSet `rs`, I should normally be able to:

[code]
I _should_ not have to also check for `val==null`.

## Actual behavior
`wasNull()` in OrientDB JDBC driver simply always returns `false`.

[2018-11-23 16:15] #8674 closed

[2018-11-23 16:16] luigidellaquila commented on #8674
Hi @escabe

I just pushed a fix, now it should work fine.
It will be released with v 3.0.12

Thanks

Luigi

[2018-11-24 11:13] vitalii-honchar opened #8675 "Converting string to bytes array"
### OrientDB Version: 2.2.37
### Java Version: OpenJDK 1.8
### OS: Ubuntu 18.04

I try to convert String field to bytes array, but instead just string in bytes representation I received decoded string from Base64, but my string is saved in database as just string not base64.

## Expected behavior
`document.field("name", byte[].class)` returns string in bytes array

## Actual behavior
`document.fie

[2018-11-24 15:52] hrstoyanov commented on #8672
This is a critical issue, please release ODB 3.0.12 once fixed.

/Hristo Stoyanov

On Thu, Nov 22, 2018, 7:56 AM Andrey Lomakin <notifications@github.com
wrote:

[2018-11-24 17:41] wangjunji commented on #7890
I have the same problem.
Not only password, the encryption key is also stored in plain text in .orientdb_history by executing `config set storage.encryptionKey xxxxxxxxx` in `console.sh`
It may cause security issue. Please fix it ASAP

[2018-11-25 04:01] hrstoyanov opened #8676 "Getting a lot of INFO messges in the server console"
### OrientDB Version: 3.0.12-SNAPSHOT
### Java Version: 1.8 u192
### OS: MacOs

If I let the ODB server run for a while on my Mac, hibernate the Mac, then come back, I see a lot of these messages - why do get them and are these errors?

[code]

[2018-11-26 10:28] escabe opened #8677 "JDBC driver getBoolean fails on null value"
### OrientDB Version: latest git version (commit d6fb8ec8be455b1f5e7be7e89f646ee3d6404310)
### Java Version: 1.8.0_121-b13
### OS: Windows 10

## Expected behavior
I have a class myV with a property myBool which is of type Boolean. There are two records of type myV, the first record contains has a value for myBool (false) and the second record has myBool = null.

When I retrieve these records thro

[2018-11-26 11:27] #8677 closed, assigned to luigidellaquila

[2018-11-26 14:03] luigidellaquila commented on #7890
Hi @wangjunji @FreeK

I added a `--disable-history` option to the console, so that you can disable that functionality if needed

Thanks

Luigi

[2018-11-26 14:04] #7890 closed

[2018-11-26 15:02] DiarmaidEverycs opened #8678 "Escaping character doesn't work on delete edge subqueries"
### OrientDB Version: 2.2.35
### Java Version:  java version "1.8.0_60"
### OS: CentOS Linux release 7.0.1406 (Core)

## Expected behavior
I was attempting to delete the edges from a vertex where there was a ' in the name.   So my select statement was
delete edge from (select from test where name = 'Blah\'s Blah')
I expected this to delete all edges from the vertices in test which had name Blah's

[2018-11-26 15:41] luigidellaquila commented on #8678
Hi @DiarmaidEverycs

You have a problem in the quoting of `'Blah's Blah'`

Try to use `"Blah's Blah"` instead or to quote the `'` with backslash

Thanks

Luigi

[2018-11-26 17:34] laa commented on #8676
Hi @hrstoyanov , no those not are errors. It is just status messages in the next release we will hide them.

[2018-11-27 00:12] hrstoyanov opened #8679 "Server crashes with infinite stack trace loop"
### OrientDB Version: 3.0.12-SNAPSHOT
### Java Version: 1.8 u192
### OS: MacOs

I am getting infinite loop of log stack traces in the server console and the server becomes unresponsive. So, I have to kill it:

[code]

[2018-11-27 08:46] #8653 closed

[2018-11-27 08:54] luigidellaquila commented on #8653
Hi @lightjiao

I pushed a fix for this problem, it will be released with v 3.0.12

Thanks

Luigi

[2018-11-27 13:04] sshuliar commented on #8233
I have the same issue as well. Can someone help to identify why it's happening?

[2018-11-27 15:37] #8543 closed

[2018-11-27 15:37] luigidellaquila commented on #8543
Hi @freeart

I'm pushing a fix now, it will be released with v 3.0.12

Thanks

Luigi

[2018-11-28 14:24] giuseppe-martinelli opened #8680 "Log level for Gremlin Server"
### OrientDB Version:  3.0.8-tp3
### Java Version: OpenJDK 64-Bit Server VM (build 25.181-b13, mixed mode)
### OS: Alpine 3.8

## Expected behavior
I want to remove all logs from console except for SEVERE level.

## Actual behavior
Is not possible to suppress all console logging,
org.apache.tinkerpop.gremlin.server.* logs are showed.

## Steps to reproduce
Start server and execute a Gremlin query

[2018-11-28 16:45] wolf4ood commented on #8680
Hi @giuseppe-martinelli

gremlin server is configured via `$ORIENTDB_HOME/config/gremlin-server.yaml`.

You can disable the metrics logger from there

Thanks

[2018-11-28 16:51] giuseppe-martinelli commented on #8680
Is that the section I've to modify?

metrics: {
  consoleReporter: {disabled: true, interval: 180000},
  csvReporter: {disabled: true, interval: 180000, fileName: /tmp/gremlin-server-metrics.csv},
  jmxReporter: {disabled: true},
  slf4jReporter: {disabled: true, interval: 180000}}

[2018-11-28 17:31] wolf4ood commented on #8680
@giuseppe-martinelli

yes it should be `enabled: false` i guess

[2018-11-29 01:51] lightjiao opened #8681 "[3.0.11] Cannot write Line break symbol."
### OrientDB Version: 3.0.11
### Java Version: 1.8.0_102
### OS: centos 6.8

## Expected behavior
write `\n` success, select that record and return `\n`

## Actual behavior
write `\n` changed in to `n`

## Steps to reproduce
execute sql below and check memo property
[code]

[2018-11-29 08:49] giuseppe-martinelli commented on #8680
@wolf4ood Thank you very much, it seems to work!

[2018-11-29 09:19] #8680 closed

[2018-11-29 10:59] jamieb22 opened #8682 "Error in data flush background thread: null ptr exception"
### OrientDB Version: 2.2.36
### Java Version: 1.8.0_181
### OS: Linux xx.com 4.15.0-33-generic #36-Ubuntu SMP Wed Aug 15 16:00:05 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

## Expected behavior

No error.

## Actual behavior

Error in data flush background thread, please restart database and send full stack trace inside of bug report
	DB name="archiva@xxx"
com.orientechnologies.orient.core.exceptio

[2018-11-29 11:04] laa commented on #8682
Could you send log starting from caused by?

[2018-11-29 11:32] #8681 closed

[2018-11-29 11:32] luigidellaquila commented on #8681
Hi @lightjiao

I just pushed a fix for this problem, it will be released with v 3.0.12

Thanks

Luigi

[2018-11-29 11:52] jamieb22 commented on #8682
Andrey... I looked everywhere in the log file but the stack after caused by is not available anywhere.

[2018-11-29 14:38] luigidellaquila commented on #8634
Hi @mmacfadden @foriam

I'm working on it now, I'll let you know asap

Thanks

Luigi

[2018-11-29 14:46] mmacfadden commented on #8634
@luigidellaquila Thanks for the update. I am hopeful that the fix might also take care of #8632.

[2018-11-29 14:46] mmacfadden commented on #8634
Also, if you nee any help testing let me know.

[2018-11-29 15:35] luigidellaquila commented on #8634
Hi @mmacfadden @foriam

I pushed the fix, it will be released with v 3.0.12
I'm checking the other issue, but I doubt that the cause is the same...

Thanks

Luigi

[2018-11-29 15:39] azakkerman opened #8683 "Nested traversal (subquery) bug (2.1.7 -> 3.0 migration)"
### OrientDB Version: 3.0.11
### Java Version: 1.8
### OS: Linux

## Expected behavior
We expected outer traversal based on the subquery to return one additional node (this is indeed the behavior we observed on 2.1.7)

## Actual behavior
Outer traversal does not find the extra node

## Workaround
'Shield' the inner traversal with nested SELECT by id.

## Minimal code to reproduce the bug
[code]

[2018-11-29 16:00] luigidellaquila commented on #8683
Hi @azakkerman

I'm not sure I got the point here (I didn't run the test yet, to be honest), you are executing this query
[code]
and you say that you expect three nodes in the result, but this is not the expected result: the third node has `$depth = 2`, so it will be discarded.

Am I missing something?

Thanks

Luigi

[2018-11-29 16:22] azakkerman commented on #8683
- The inner query is supposed to return 2 nodes (node 1 and node 2), which it does (note, that the inner traversal query has no WHILE clause, the WHILE $depth <=1 clause is on the _outer_ traversal.
- The results of the inner query are given as FROM parameters to the outer query.
- It is the outer traversal query that has the WHILE clause, so it should be able to find node 3, because it is 1 edge

[2018-11-30 06:54] rrpatilcse opened #8684 "Get expanded object if projection contains '*,@rid'"
### OrientDB Version: 3.0.1
### Orientjs Version: 2.2.2
### Node Version: 10.7.0
### OS: ubuntu 16.04

## Expected behavior
Should return rid value

## Actual behavior
Returns complete object

## Steps to reproduce
Use orientjs to access database
1. Create class
2. Add vertex
3. Read data of same class with projection '*, @rid'
4. Observe the result(Contains object with property rid=> rid again co

[2018-11-30 08:17] luigidellaquila commented on #8683
Hi @azakkerman

Ok, I got the point and I think I know where the problem is. Historically, the TRAVERSE statement does not re-traverse already traversed records, so the second time it reaches the node 2 it discards it, so it does not proceed to traverse node 3.

A possible solution is to replace the TRAVERSE with a MATCH with `while` condition (that does not discard duplicates), but you have to do

[2018-11-30 11:33] luigidellaquila commented on #8684
Hi @rrpatilcse

The problem is already fixed with the new SQL executor, but  OrientJS v 2.2.2 uses the old SQL executor, that has such kind of problems.
I strongly suggest you to migrate to OrientJS v 3.0 with the new API (and use latest OrientDB v 3.0.11)

Thanks

Luigi

[2018-11-30 14:41] azakkerman commented on #8683
Hi, @luigidellaquila,

These semantics don’t seem to be stable. It would imply that depending on the order in which the outer traversal runs on the FROM nodes will produce different results. That seems to violate basic principles of SQL. The outer traversal should not be pruning the search if it has WHILE clauses and the first time a node is visited it wasn’t matched.

The workaround also seems to

[2018-11-30 18:27] hoangvu2k2 opened #8685 "Magic number verification failed for page - Distributed mode"
### OrientDB Version:  2.2.31 Enterprise Edition
### Java Version: 1.8.0_131
### OS: Amazon Linux AMI release 2018.03

## Expected behavior
No exception while writing data to OrientDB

## Actual behavior
#### No writing is allowed after 3-4 hours of continuously pushing data to orientdb. Got the following exception:
![image](https://user-images.githubusercontent.com/10359953/49307389-aaa6d000-f49a

[2018-12-01 05:14] rrpatilcse commented on #8684
@luigidellaquila thanks for the reply,
Today I will test the 3.0.11 and let you know what happens.

[2018-12-01 05:14] #8684 closed

[2018-12-02 01:48] mmacfadden commented on #8632
@luigidellaquila I did check this one, and it looks like it was not fixed by closing #8634, as you suspected.

[2018-12-03 08:43] djjduan opened #8686 "mybatis 连接orientDB，mysql多数据源配置"
### OrientDB Version: <version here>
### Java Version: <version here>
### OS: <os here>

## Expected behavior
<add here>

## Actual behavior
<add here>

## Steps to reproduce
<add here>
<An SQL script to reproduce the problem or a JUnit test case will increase **A LOT** the chance to have a quick fix>
想在mapper.xml文件中执行orient DB 和 MySQL 数据库的sql，怎么配置？怎么让mapper文件区分找到他们对应的数据库并执行sql?

[2018-12-03 08:44] luigidellaquila commented on #8632
Thank you very much @mmacfadden , I'll check this asap

Thanks

Luigi

[2018-12-03 09:11] luigidellaquila commented on #8686
Hi @djjduan

I'm afraid none of the OrientDB core developers understands Chinese, I tried with Google Translate but it didn't help much...
Any chance to have a brief description of the problem in English? (just in case, we can try to manage Italian, French, Spanish too)

Thanks

Luigi

[2018-12-03 10:01] amosbird opened #8687 "Is there any docs about internal data structures of orientdb?"
Hi, orientdb seems to be a decent database system. I'd like to know more about its implementation details. Is there any doc around? Thanks!

[2018-12-03 20:31] hoangvu2k2 commented on #8685
**Update on this issue:**
I took the advice from the other tickets: Export data into JSON file and import into a empty database  - but it did not help. The same issue happened again

The question is do we have any work-around in case this issue  happens?

[2018-12-04 02:20] djjduan opened #8688 "Does mybatis mapper.xml sql support graph database (orientDB)?"
### OrientDB Version: <version here>
### Java Version: <version here>
### OS: <os here>

## Expected behavior
<add here>

## Actual behavior
<add here>

## Steps to reproduce
<add here>
<An SQL script to reproduce the problem or a JUnit test case will increase **A LOT** the chance to have a quick fix>

In java, how does orientDB execute sql, mybatis supports orientDB?

[2018-12-04 02:21] #8686 closed

[2018-12-04 07:15] laa commented on #8685
Guys the problem is not in storage but in  the way how distributed send database to other node assigned to @tglman

[2018-12-04 08:02] luigidellaquila commented on #8688
Hi @djjduan

There is no official support for MyBatis. As far as I know you should be able to use it with the JDBC driver, but I also can tell you that in the past some users reported some problems

Thanks

Luigi

[2018-12-04 23:01] benjaminturnbull commented on #8470
Hi @OrientDBColin, I was just wondering if there is update on this?
I'm looking to port a project to OrientDB and this is the only blocker.

[2018-12-05 03:32] liyangzhou commented on #8159
this issue had fixed? which version?

[2018-12-05 06:12] cegprakash commented on #8470
I suggest you guys to try out Orient DB REST. It's the simplest way when
you scale to distributed DB when you have millions of nodes you don't have
to change any line of your backend code

On Wed, Dec 5, 2018, 4:31 AM Ben T <notifications@github.com wrote:

[2018-12-05 08:15] archana1790 opened #8689 "com.orientechnologies.orient.core.exception.OPaginatedClusterException: Error during record update"
### OrientDB Version: 3.0.8
### Java Version: Oracle JDK 8
### OS: Ubuntu 14.04

## Expected behavior
Create edges, Save records

## Actual behavior
com.orientechnologies.orient.core.exception.OPaginatedClusterException: Error during record update
        DB name="VDB"
        Component Name="sdmproject_4"
        at com.orientechnologies.orient.core.storage.impl.local.paginated.OPaginatedCluster.

[2018-12-05 08:16] archana1790 commented on #8689
We recently migrated from 2.1.8 version to 3.0.8 version. Have been seeing this often on Ubuntu system. Is there any way to fix this quickly?

[2018-12-05 08:17] archana1790 commented on #8689
Went through this https://github.com/orientechnologies/orientdb/issues/7745 but seems like its closed

[2018-12-05 08:18] laa commented on #8689
Yes, it can be fixed by the setting of the parameter query.scanPrefetchPages to 1. We will provide the fix in 3.0.12 version. Actually, I suppose I will start to work on it right now.

[2018-12-05 12:04] laa commented on #8685
Yes, that is interesting. None the less could you try on completely not distributed node. I have to be sure.
What is the size of the files for this specific edge class? You see I expect that issue in distributed replication because `index.cpm` file is completely absent according to your screenshot, that can not happen in standalone mode because we never remove files (obviously :-) )

[2018-12-05 14:04] archana1790 commented on #8689
I added that config. Didnt help

Caused by: com.orientechnologies.orient.core.storage.impl.local.paginated.atomicoperations.ONestedRollbackException: Atomic operation was rolled back by internal component, exception which caused this rollback is :
com.orientechnologies.orient.core.exception.OPaginatedClusterException: Error during record deletion
        DB name="VDB"
        Component Name="sdmin

[2018-12-05 14:07] archana1790 commented on #8689
Once it starts coming, no records can be saved.

[2018-12-05 14:50] laa commented on #8689
@archana1790 could you send me the script which you use?

[2018-12-05 14:51] laa commented on #8689
@archana1790 could you also send me files from "sdmindexertasks_5" cluster?

[2018-12-06 03:57] benjaminturnbull commented on #8470
Do you mean writing a REST-based interface, or is there another library I've missed with my Google-fu? My backup plan is to use requests or similar, but figured that someone had wrapped REST into Python already. The code I have to move is Python-based already, so that's non-negotiable.

[2018-12-06 06:04] FriedEggsWithLeek opened #8690 "BUG for dropping database,Unexpect operation for dropping non-current database"
### OrientDB Version: 3.0.11
### Java Version: 1.8
### OS: Centos6.9

## Expected behavior
connected remote to a2
then
drop database a1

## Actual behavior
drop database  a2

## Steps to reproduce

![efe08d7c0d950e253e6f0c5578ee77ae](https://user-images.githubusercontent.com/45650038/49564742-91e95f00-f95f-11e8-9185-8e49b9f07c02.jpg)

[2018-12-06 06:07] archana1790 commented on #8689
Sure is there an email id to which I can send some files?

[2018-12-06 07:00] pettyandydog opened #8691 "delete vertex cause deadlock"
### OrientDB Version: 3.0.6
### Java Version: 1.8
### OS: liunx

## Expected behavior
i use delete command to delete vertex  at three server cluster，but i get deadlock exception，i wonder
 lock on record #-1:-1，what meaning #-1:-1 be lock

## Actual behavior
[code]

[2018-12-06 09:06] benjaminturnbull commented on #8470
Ah, I get what you mean. I was just hoping someone had wrapped the commands I need into an API. I guess I was hoping someone had done the lifting for me.

[2018-12-06 09:29] cegprakash commented on #8470
I had created a custom OGM in my Django project for Orient DB REST L.

I can give you tips to build one.

Create empty python classes named Node and Relationship. Extend your model
classes from there. (You don't have to specify the data type while creating
the models. Just use var)

Now write a separate code to create the vertices and edges using the sub
classes of Node and Relationship. You just

[2018-12-06 13:30] #8690 closed

[2018-12-06 14:05] Dollyn opened #8692 "How to prevent users using unsafe?"
Is there any way to disable 'drop class xxx unsafe' ?

[2018-12-06 14:15] luigidellaquila commented on #8692
Hi @Dollyn

I'm afraid for now you can't.
I think it makes sense in general, so I'm flagging this as an enhancement for a future implementation

Thanks

Luigi

[2018-12-06 23:14] creisle opened #8693 "Index not used with OR/AND condition combination"
### OrientDB Version: 2.2.37
### Java Version:
openjdk version "1.8.0_151"
OpenJDK Runtime Environment (build 1.8.0_151-b12)
OpenJDK 64-Bit Server VM (build 25.151-b12, mixed mode)
### OS: centos7

## Expected behavior
Expected the index to be used

## Actual behavior
The index was not used

## Steps to reproduce

Create the test conditions with randomly named property prop1, prop2, prop3
[code]
C

[2018-12-06 23:32] creisle commented on #8693
I tried this on v3.0.6 as well, but I am not 100% sure how to read the query plans? But if the index is supposed to be listed when used then I can't get it to use a fulltext index in v3 at all?

[code]

[code]

[2018-12-07 08:10] luigidellaquila commented on #8693
Hi @creisle

V 2.2 query engine has significant limitations on query optimization, this is why we re-wrote the engine. I doubt we can fix it.

In v 3.0 it's supposed to work though, the fact that it doesn't is probably a bug (the CONTAINSTEXT is an old operator, most users tend to use LUCENE instead, so probably we just missed a little piece in the implementation). I'll check it ASAP and let you k

[2018-12-07 10:18] archana1790 commented on #8689
Hello @laa ,
When I create a new database and import old data, I see this message
2018-12-07 15:41:21:270 WARNI {db=VDSSDB} You performing truncate operation which is considered unsafe because can not be rolled back, as result data can be incorrectly restored after crash, this operation is not recommended to be used [OAtomicOperation]

Any idea what it means

[2018-12-07 10:48] laa commented on #8689
@archana1790 that is not the reason of given issue, I will provide fix next week.

[2018-12-08 10:59] pettyandydog commented on #8691
@tglman this question is frequently

[2018-12-09 13:30] dcardin commented on #2945
@schernolyas  What he meant was that he thought this bug was finally addressed by the team and he was super happy about it. Then he realized that it's still not fixed so he had a big up and down because of it.
I raised this issue 4 years ago, and it is THE reason why I am not using Orient on my projects.
I really thought it was the best product for document management, but not being to index sub-d

[2018-12-10 06:19] huaiwen opened #8694 "[Documentation] The Tutorial-Clusters page missing some images"
the Tutorial-Clusters page: http://orientdb.com/docs/last/Tutorial-Clusters.html
missing some images
![broken images](http://img.huaiwen.me/20181210142041.png)

![broken images](http://img.huaiwen.me/20181210141746.png)

for example: https://orientdb.org/images/class-clusters.png

[2018-12-10 07:07] huaiwen commented on #8694
The images in Tutorial-Relationships are broken to.

URL: http://orientdb.com/docs/last/Tutorial-Relationships.html

[2018-12-10 08:19] luigidellaquila commented on #2945
Hi @dcardin

Thank you very much for your feedback, this feature is definitely important for us as well and we tried to add it to the roadmap more than once. Unfortunately, as you said, it's not there yet, but given the attention it has (and thanks to your comments and all the feedback on this issue) I'll try to raise it to the attention of the team again and see if we can speed up this developmen

[2018-12-10 08:29] max-kuk opened #8695 "Serialization issue: creating of lightweight edges"
### OrientDB Version: 3.0.10
### Java Version: 1.8
### OS: Linux Ubuntu 18.04

## Expected behavior
By creating only normal edges via [PHPOrient](https://github.com/Ostico/PhpOrient) or creating of leightweight/normal edges in OrientDB Studio it runs without any error.

## Actual behavior
OrientDB seems to be to have some problems with the serialization. In my case, i use [PHPOrient](https://githu

[2018-12-10 14:45] smolinari commented on #2945
If ODB could index sub-document properties, I believe that would be a clear USP for ODB against other graph databases.

Scott

[2018-12-10 15:42] EricSchreiner commented on #8602
Hi @wolf4ood, hi @luigidellaquila , hi @tglman
any news on this. The issue has not even been tagged as bug or solved ???????

[2018-12-10 21:34] CanonTino commented on #8628
I'm using 3.0.10 version and I'm having the same problem. Do you know if there's some work around in order to avoid these  exception?

[2018-12-11 02:59] clouds56 commented on #7267
Any update? I think it's not a big change.

[2018-12-11 10:49] clouds56 opened #8696 "console.sh would expand "*" in arguments"
### OrientDB Version: v.3.0.11
### Java Version: 1.8.0_181
### OS: alpine (docker), kernel 4.19.4

## Expected behavior
`/orientdb/bin/console.sh "set server user admin password *"` would create a user `admin`.

## Actual behavior
it say it is wrong command

## Notes
inside `console.sh`
[code]
it would be better using `"$@"` (quote included) instead of `$*` (without the double quote)

[2018-12-11 15:10] cb0 opened #8697 "Convert of OCompositeKey to JSON fails with type='COMMAND'"
### OrientDB Version: 3.0.12
### Java Version: 1.8.0_181
### OS: Debian GNU/Linux 8 - Linux 3.16.0-6-amd64 - x86_64 GNU/Linux

## Expected behavior
When executing a `SELECT FROM INDEX:...` query which returns a record which has a compound index, using `type=COMMAND` should be the same as using `type=BATCH`. Regardless of using the OrientDB Frontend, RestAPI, ....

## Actual behavior
When querying

[2018-12-12 10:23] clouds56 commented on #7833
also for `CREATE CLUSTER schemaless ID 999;`
shows
[code]

[2018-12-12 11:30] gianluca-valentini opened #8698 "Migration from v2.2 to v3 Collate case-insensitive does not work"
### OrientDB Version: 3.0.8
### Java Version: openjdk 1.8
### OS: alpine 3.4

## Expected behavior
![image](https://user-images.githubusercontent.com/3224592/49866704-c8fcbc00-fe08-11e8-9511-3f8e7bd4b442.png)

Let be **Connector** a Vertex with description property (using collate case insensitive) with value **DescrizionE**

![image](https://user-images.githubusercontent.com/3224592/49866808-1bd67

[2018-12-12 12:10] octal-laurence commented on #5552
this is sad, to many basic features are missing for easy developing

[2018-12-12 12:11] andyflatt opened #8699 "100% CPU usage"
### OrientDB Version:
orientdb-tp3-3.0.9
### Java Version:
openjdk version "10.0.2" 2018-07-17
OpenJDK Runtime Environment (build 10.0.2+13-Ubuntu-1ubuntu0.18.04.4)
OpenJDK 64-Bit Server VM (build 10.0.2+13-Ubuntu-1ubuntu0.18.04.4, mixed mode)
### OS:
Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.1 LTS
Release:	18.04
Codename:	bionic

## Expected behavior
Server to use a consistent amount of CP

[2018-12-13 04:44] Eric24 commented on #8424
The current implementation is definitely useful as a way to easily prevent duplicate edges between the same two vertexes, but I agree that UPSERT should work as described by the OP.

[2018-12-13 09:45] octal-laurence opened #8700 "REST API > POST COMMAND > COMMAND TEXT > FETCHPLAN in SELECT command not working"
### OrientDB Version: <version here>
### Java Version: <version here>
### OS: <os here>

## Expected behavior
the field applicant should expand as I use fetching strategies

## Actual behavior
"result": [
            {
                "applicant": [
                    "#14:171"
                ],
                "address": [
                    "#13:167"
                ],
                "machin

[2018-12-13 10:18] freeart opened #8701 "EMBEDDEDMAP must be initiated by default to use it in UPSERT"
### OrientDB Version: 3.1.0 from develop branch
### Java Version: docker openjdk:8-jdk-alpine
### OS: docker openjdk:8-jdk-alpine

## Steps to reproduce
[code]
Returns
[code]
I can't do like
[code]
Because it rewrites all data in answer.

[2018-12-13 11:34] andyflatt commented on #8699
I have resolved this issue by switching to JDK 8 and bumping orient version to 3.0.11 (without TP3).  Not sure which change fixed it.  I was able to reproduce this issue with JDK 8 and 3.0.9-tp3.

[2018-12-13 18:57] CanonTino commented on #8369
I'm using 3.0.10 version and I'm having the exact same problem. The problem has not been fixed.

[2018-12-14 08:35] lightjiao opened #8702 "[Question] and [BUG] what is the embeded value order by algorithm ?"
## Here is my data scripts
[code]

## I order by them like this:
[code]

## Question 1
well, it looks like you take the first element's value to order by, I just want a right  and precise answer
, and hope you write on the document.

## Question 2 [BUG]
these embeded order by work only on orientdb 2.2.x, doesn't work on orientdb 3.0.11

[2018-12-14 09:05] lvca commented on #8602
Eric, have you tried using LUCENE index for full-text instead of the internal one? It's way more stable and fast than the (old) internal one.

[2018-12-15 00:32] mmacfadden commented on #8629
@petervavro if there is no update, can we assume we can close this issue?

[2018-12-17 05:36] ASXHOLE opened #8703 "Slow down significantly when changing the limit return records from 1000 to 2000"
### OrientDB Version: 3.10
### Java Version: JDK1.8.0_111
### OS: CentOs 7

## Expected behavior

## Actual behavior
Why is the query very slow (more than 33 seconds) when limiting the return result within 2000 records, while very quick (winthin 1 second) when limiting the return result within 1000 records)?

## Steps to reproduce
match
 {Class:Con,as: Con1,where:(CON_NO='3620067544')}
  .out('has

[2018-12-17 06:55] archana1790 commented on #8689
@laa Thanks much, let me know when the fix is ready. This would be of great help as we are nearing a production release.
Also, you mentioned to rebuild the DB, we already data in production env which we would like to migrate to new version. Will export from old, and import into new work fine in this case ? Kindly confirm.

[2018-12-17 08:12] luigidellaquila commented on #8700
Hi @octal-laurence

Which version are you using? If it's v 3.0, I strongly suggest you to use nested projections instead  https://orientdb.com/docs/3.0.x/sql/SQL-Projections.html#nested-projections (fetch plans are deprecated)

Thanks

Luigi

[2018-12-17 08:15] luigidellaquila commented on #8701
Hi @freeart

Good point, probably we can leverage the schema here and make the first statement work. I'll check it ASAP and let you know

Thanks

Luigi

[2018-12-17 08:20] luigidellaquila commented on #8702
Hi @lightjiao

I'd say these ORDER BY conditions make no much sense in general, this is why they don't work on v 3.0.
All the expressions (`socre`, `socre.math`, `socre.english`) return a collection, and ordering by a collection is not actually a well defined operation. I'd suggest you to change the expressions a bit to make them return a single value, eg. `ORDER BY socre.english[0]`

Thanks

Luig

[2018-12-17 08:21] octal-laurence commented on #8700
I'd check on it just now.

Hi, thanks for the assistance, May I ask is this solution can be use also in querying the edges? like in my given example query.

[2018-12-17 08:30] luigidellaquila commented on #8703
Hi @ASXHOLE

Any chance to have a dataset to reproduce the problem?

Thanks

Luigi

[2018-12-17 13:53] #8701 closed

[2018-12-17 13:59] luigidellaquila commented on #8701
Hi @freeart

I just pushed a fix, it will be released with V 3.0.13

Thanks

Luigi

[2018-12-18 02:20] ASXHOLE commented on #8703
Hi, @luigidellaquila
I‘m so sorry , I made a mistake. My OrientDB Version is 3.0.10 .

My dataset is so large that i split it into a 10MB zip file（You need to remove the ".zip" suffix before unzip the files，like "**OrientDB_data.zip.001**"）

[OrientDB_data.zip.001.zip](https://github.com/orientechnologies/orientdb/files/2688571/OrientDB_data.zip.001.zip)
[OrientDB_data.zip.002.zip](https://github.

[2018-12-18 03:51] lightjiao commented on #8702
I don't want to use orientdb anymore，so manny bug and undefined behavior, and document don't tell us. 🙁

[2018-12-19 15:17] grimace opened #8704 "open db very slow ( like a minute ) in spring boot"
### OrientDB Version: 3.0.12
### Java Version: 1.8.0
### OS: OS/X, Linux

## Expected behavior
open should not take over a minute to open a database

## Actual behavior
when run inside SpringBoot application db.open takes 84 seconds

## Steps to reproduce
[code]
same code in a straight up Test class works quickly.

I'd love to point to some issue in my code though I'm not sure how to proceed.  How

[2018-12-19 15:42] ReSearchITEng commented on #8539
Identical issue (nexus, full disk, and exact error you specified).
@NielsHaar  - did you find any workaround?

[2018-12-19 15:51] sanderPostma commented on #8539
I've had several crashes like this on other servers after my inital post and I've never been able to recover those databases. The only thing to avoid this in the future is
- Make sure log files are compressed then deleted over time
- Make sure no temp files are left behind
- Create a program or (powershell) script that checks the disk space regularly and when it gets low, like<2GB low, shut down t

[2018-12-19 16:04] grimace commented on #8704
I bumped the orientdb-client version to 3.0.12 ( to match the server? ) and this problem went away.  Open DB is now about 2.5 seconds.  Still don't know what the issue was and would still like to know how to really debug this problem.   I'm happy to close this if someone can point me to docs on how to trouble shoot slow opens.

[2018-12-19 16:36] luigidellaquila commented on #8704
hi @grimace

Thank you for the details, probably the problem is with some incompatibility with the drivers of different versions. OrientDB client tries to adapt and re-submit requests when they fail, also scaling to old protocol versions, but of course it takes time and can give some slowdown.

In general, profiling this kind of behaviour is not easy, there are no built-in tools, so we rely on gen

[2018-12-19 16:48] wolf4ood commented on #8335
Hi @akizze01  @TariqAHassan

i've just pushed a fix. It will be available in the next OrientDB  release

Thanks

[2018-12-19 16:48] #8335 closed

[2018-12-21 11:43] owennewo commented on #8440
I'm new to OrientDB and experiencing the above issues.  So what I think is going on is that the VehicleHistoryGraph.zip is in binary format 1.x (all the files in zip are from 2014) and orientdb 3.x is refusing to open it.  i.e. orientdb only suppport opening binary files from the previous major version (2.x).

The zip files are (I believe) not an 'export' but the raw binary data files.  I think so

[2018-12-21 13:59] wolf4ood opened #8705 "Bug in SQL method keys/values"
### OrientDB Version: 3.0.x

https://github.com/orientechnologies/orientjs/issues/352

[2018-12-21 14:15] #8705 closed

[2018-12-24 07:40] Y0ba opened #8706 "Decimal issues"
### OrientDB Version: 3.0.12
### Java Version: 11.0.1+13
### OS: Windows

This is duplicate of bug #6742 fix of which seems like missed from versions 3.X.X. Here are steps to reproduce:
https://gist.github.com/Y0ba/0373a773bf2e65cd9df04b8e6a51cd3a

I use stripTrailingZeros() method to workaround this bug. Maybe OrientDB should use it internally too?

[2018-12-25 03:58] ASXHOLE opened #8707 "Properties in orientdb-server-config.xml not work"
### OrientDB Version: 3.0.10
### Java Version: JDK 1.8.0_111
### OS: CentOs 7

## Expected behavior

## Actual behavior
Properties in orientdb-server-config.xml as below:
[code]

Restart OrientDB server, run command '**CONFIG**' in **console.sh**  :
[code]

I tried another way to change the setting :
`orientdb> CONFIG SET db.pool.max 200`

It worked .
`|84  |db.pool.max

[2018-12-25 18:16] persisharma commented on #7622
Any update on this issue? Facing same issue in OrientDB 3.0.12 also

[2018-12-26 01:55] jawainc opened #8708 "How to get @rid in javascript function"
running code in studio functions
[code]
want to create an edge
[code]
its not working

[2018-12-26 03:31] mmacfadden commented on #8632
@luigidellaquila Greetings! I have updated the test case, so that it is easily re-runable. I have also converted the schema and data creation to use the API instead of using scripts, just to rule out errors in the schema or data.  I just tested this with the 3.0.12 and verified the issue remains.  Here is the updated test case:

[code]

[2018-12-26 03:32] mmacfadden commented on #8632
As a side note, I tried pulling the 3.0.12 tag, and importing into eclipse so that I could help debug, but I seem to be unable to get the code to compile in eclipse or in maven. If I can get it working I am happy to help debug. Is there a stable tag, or a trick to getting it building?

[2018-12-27 05:30] FriedEggsWithLeek opened #8709 "rebuilding index fail cause index file missing"
### OrientDB Version: 3.0.11 3.0.12
### Java Version: 8
### OS: centos

## Expected behavior
rebuild index on Studio

## Actual behavior
missing .irs or (.sbt and irs)

## Steps to reproduce
<add here>
<An SQL script to reproduce the problem or a JUnit test case will increase **A LOT** the chance to have a quick fix>

[2018-12-27 05:41] FriedEggsWithLeek opened #8710 "How to repair database with less information displayed"
### OrientDB Version: 3.0.11
### Java Version: 8
### OS: centos6.5

There are a lot of informations like "deleting corrupted edge " displayed,How to get less informations like that,I only wanna a summary,I have tried -v, but it's not changed.

[2018-12-27 10:37] luigidellaquila commented on #8703
Hi @ASXHOLE @Tracy0231

I checked your DB and I came to the conclusion that the main problem here is that the MATCH executor does some early loading of the connected patterns and in your specific case you have this situation:

- node with `CON_NO='3620067544'` is connected to four other nodes: `TAG_ID = 1001058, 1003050, 1003113, 1003118`
- node with `TAG_ID = 1001058` is connected to ~1600 other

[2018-12-27 11:42] laa commented on #8709
@FriedEggsWithLeek could you provide more details on how do you work with the database? How did you get the database?

[2018-12-27 16:16] luigidellaquila commented on #8703
Hi @ASXHOLE @Tracy0231

I just pushed a fix to 3.0.x branch, now the query takes around ten seconds also with LIMIT 2000

The fix will be released with v 3.0.13

Thanks

Luigi

[2018-12-27 16:35] #8703 closed

[2018-12-28 07:53] baojf commented on #7895
hello , how to fix the problems?
![image](https://user-images.githubusercontent.com/37860106/50507435-8ef21200-0ab8-11e9-86f0-aee153ccff1c.png) I also do this, but it doesnot work ..  awaiting for your kind reply

[2018-12-28 08:25] andreyvk opened #8711 "Automatic backup: backup all but indexes"
Hi,

I have a couple of questions:

1. Does automatic backup support backing up only data w/o indexes
2. The documentation on **exportOptions** for [Automatic Backup](http://orientdb.com/docs/2.2.x/Automatic-Backup.html#plugin-configuration) does not contain any useful info. What are those options?

[2018-12-28 08:46] rbaarathinms opened #8712 "Dependency between thread during data writing in orient"
OrientDB Version: 2.2.20
Java Version: 1.8
OS: Linux

We are adding some binary datatype and document datatype in orient database. After nearly 75% completion of orient, the thread for orient persistence are in waiting state.

New strange behavior is observed now. the same build of ours has been working so far.
As analysed there are no deadlocks found.

It is observed that some threads are waiting

[2018-12-28 09:26] andreyvk opened #8713 "Studio 3.0.12: session times out all the time"
### OrientDB Version: 3.0.12

Hi,

The studio frequently logs out and there's no option to keep it alive (like a 'Remember me' option). This is very inconvenient during development and at time causes to lose a query after executing it, when session times out. Please consider implementing a keep-alive option for the Studio session.

Thanks

[2018-12-28 19:21] kevmegforest opened #8714 "SQL map functions not working anymore"
### OrientDB Version: 3.0.11
### Java Version: 1.8
### OS:  Docker

This is the command I use
[code]

## Expected behavior
In orientdb 2.2.37, the diag records where grouped in a new map of the categories

like this

[code]

## Actual behavior
But in orientdb  3.0.11, the results are not grouped

[code]

[2018-12-29 17:41] Y0ba opened #8715 "OStorageException: Cluster Id -1 is invalid in database 'X' and crash with indexes and abstract classes"
### OrientDB Version: 3.0.12
### Java Version: 11.0.1+13
### OS: Windows 10

## Expected behavior
No crash and exception. Or at least make exception non-fatal and less cryptic if such usage of abstract classes is forbidden.

## Actual behavior
OrientDB throws exception and crashes.

## Steps to reproduce
[code]

[2018-12-30 00:40] #5568 closed

[2018-12-30 00:40] #5690 closed

[2018-12-30 00:41] #5432 closed

[2018-12-31 13:48] abhaypratap122 opened #8716 "Embedded Orientdb is not working in cluster"
### OrientDB Version: 3.0.11
### Java Version: 1.8.0_181
### OS: Windows

## Expected behavior
Embedded Orientdb should work in distributed

## Actual behavior
It is not working.

## Steps to reproduce
Try to configure an embedded orientdb in distributed mode. It is unable to connect it.

[2019-01-02 05:12] rbaarathinms commented on #8712
Can u please update or assign someone to look into this issue..??
Its been 5 days since i posted this issue but still no response from orient side..??

Please do the needful. This issue need to be fixed.

[2019-01-02 10:41] luigidellaquila commented on #8712
Hi @rbaarathinms

We will look into this asap.
In the meantime I see you are still on v 2.2.20, that is quite old and had a lot of hot fixes. I'd suggest to update to latest stable version (2.2.37 if you are still on 2.2.x branch, but if you have a chance to upgrade to v 3.0 you will have a lot of advantages), there is a chance that your problem is already fixed

Thanks

Luigi

[2019-01-02 15:03] pegerto opened #8717 "list servers from console is empty"
### OrientDB Version: 3.0.8
### Java Version: 1.8
### OS: macos

When running in distributed mode, and run ```list servers``` the result is empty.

[code]

[2019-01-02 17:50] kevmegforest commented on #8714
I made some changes to my function and used a list instead of map and it worked.
So the only thing not working is in fact the map function.

Just with the demodb  doing the following commands should be pretty clear:
[code]
The list one gives one record (aggregated)
The map one gives one map per record in V instead of only one record consisting of the aggregation

It does not aggregate like the doc

[2019-01-03 09:11] luigidellaquila commented on #8714
Hi @kevmegforest

I'm checking it now, I'll let you know ASAP

Thanks

Luigi

[2019-01-03 10:17] #8714 closed

[2019-01-03 10:18] luigidellaquila commented on #8714
Hi @kevmegforest

I just pushed a fix for this problem, it will be in the snapshot in a few minutes and will be released with v 3.0.14

Thanks

Luigi

[2019-01-03 10:21] luigidellaquila commented on #8716
Hi @abhaypratap122

We have plenty of tests with this scenario and a lot of users and customers using it in production. Could you please be a bit more specific on your problem?

Thanks

Luigi

[2019-01-03 13:20] #8706 closed

[2019-01-03 13:21] luigidellaquila commented on #8706
Hi @Y0ba

Thank you for reporting, I just pushed a fix for this problem, it will be released with next v 3.0.14

Thanks

Luigi

[2019-01-03 16:49] jbylund opened #8718 "OPageIsBrokenException Causing DB to Switch into Read Only Mode"
### OrientDB Version:
2.2.37

### Java Version:
1.8.0_171

### OS:
Linux 4.4.0-1020-aws

## Expected behavior
No OPageIsBrokenException

## Actual behavior
OrientDB is switching into read only mode with a bad/missing page magic number, error message is as follows.
[code]

## Steps to reproduce
Part of the reason why we're having such difficulty reproducing is that we are unsure what queries are ca

[2019-01-04 01:26] Tracy0231 opened #8719 "The field from the first column of CSV is becoming empty when importing a CSV with utf-8 encoding into the graph database"
### OrientDB Version: 3.0.10

## Steps to reproduce

The field from the first column of CSV is becoming empty when importing a CSV with utf-8 encoding into the graph database, while it wouldn’t happen when importing the CSV with ANSI.

[2019-01-04 09:20] abhaypratap122 commented on #8716
We made some change in the configuration. It is working fine now.

[2019-01-04 09:20] #8716 closed

[2019-01-04 16:02] MC-Escherichia commented on #8111
Does this commit https://github.com/orientechnologies/orientdb/commit/85c00aaac188c86622500fefe7dbed2e3d3ace0d fix this problem?

[2019-01-04 16:04] wolf4ood commented on #8111
Hi @MC-Escherichia

yes that commit solves this issue

[2019-01-04 16:04] #8111 closed

[2019-01-05 00:21] hasanein commented on #8012
We are facing the same issue after upgrading from orient 2.1.19 to 2.2.37. Not sure what's the best way forward since the tool mentioned above did not work for anyone. How did you guys end up fixing this issue ?? if ever.

[2019-01-05 00:56] benoror commented on #8012
We ended up migrating to MongoDB 🙈

[2019-01-05 02:20] hasanein commented on #8012
Yup, a long night trying to resolve this with no luck. @benoror I reckon we will end up on a similar path to yours 💯

[2019-01-05 03:11] creisle commented on #8012
I upgraded the specs of the VM we were running it on, gave it another CPU.

Can't say for sure if it's fixed but I haven't had the issue yet since then

[2019-01-05 07:20] acuciureanu commented on #8012
@creisle I tried upgrading the specs too, but it didn't work for us...

[2019-01-05 11:10] laa commented on #8012
Hi guys
This durability issue is fixed in 3.0.13 but to get advantage from this fix
you need to either create database from scratch and use it or export data
to json and then import them back. Please let me know if that fix given
issue unfortunately to fix this issue on 100% we need to rewrite
architecture under neath so I do suggest you to migrate to the 3.0.13
version.

On Sat, Jan 5, 2019, 09:2

[2019-01-05 11:36] hasanein commented on #8012
@laa we also found this get logged repeatedly:

[code]

Does this ring any bells ?

[2019-01-05 18:21] abdusahin commented on #8717
I have same issue, and if you just connect to the host it prints a different message.

[code]

[2019-01-06 22:11] mixit commented on #7928
Looks like this issue has been forgotten (or just ignored)

Cannot activate Teleporter - (one year later..  its January 6, 2019)
Just experienced similar issue on latest OrientDB  3.0.13 (docker version on windows - released 2 days ago)

In one year - not even one status update??
You know this in NOT working (how it can without the binaries?)
 AND not a word in the "documentation"?

drivers list i

[2019-01-07 10:52] Loois95 opened #8720 "Can't Login to Database because of parameter conflict"
### OrientDB Version: 2.1.5
### Java Version: Build 1.8.0_191-b12
### OS: Windows 10 64Bit

## Expected behavior
Log in via studio

## Actual behavior
Tried to log in via studio but got always "wrong password" but I am entering the correct one.
In Server-Console:
--> com.orientechnologies.orient.core.exception.OSchemaException: Cannot add base class 'Testcase', because of parameter conflict: Objec

[2019-01-08 12:55] tglman commented on #8369
Hi @CanonTino,

There was a problem with the session management that was fixed, anyway if there is inactivity for more then the session length (that by default is one hour), you will get this error anyway, the suggest solution in this cases is increase the session length.

bye

[2019-01-09 06:55] gskarewad opened #8721 "Database function not working properly"
### OrientDB Version:3.0.13
### Node Version: 10.15.0
### Ubuntu : 16.04
### OrientJS Version : 3.0.1

I have a function in database which goes like this
var g = orient.getDatabase();
newComponent = g.command("insert into " + component.ObjectClass + " content " + JSON.stringify(dataToClone));
g.commit();
operationResult.push(newComponent);
When i run this funtion in orientdb version 3.0.1 or lower

[2019-01-09 11:37] wolf4ood commented on #8721
Hi @gskarewad

do you have any errors?

how do you execute it with OrientJS?

Do you have a complete example of a  server side function  that replicate this problem?

Thanks

[2019-01-09 16:47] foriam opened #8722 "Linear increase of storage size for create-delete iterations with EMBEDDEDMAP"
### OrientDB Version: 3.0.12
### Java Version: 7
### OS: MacOs
### PLOCAL

## Expected behavior
create-delete iterations of documents with nested EMBEDDEDMAP should not increase physical storage (dump) size (works correctly when using LINKMAP)

## Actual behavior
create-delete iterations of documents with nested EMBEDDEDMAP show linear increase of physical storage (dump) size (see attached graph)

[2019-01-10 19:07] xavier-atero opened #8723 "OObjectDatabaseTx.save does not save a new object when it is called by OJPAEntityManager.persist"
### OrientDB Version: 3.0.12
### Java Version: 8
### OS: Windows 10

## Expected behavior
The new object is saved to the database

## Actual behavior
The new object is not saved to the database

## Steps to reproduce

In a Spring boot application with JPA and the following code:

**persistence.xml**
[code]
**Agent.java**
[code]

**AgentService.java**
[code]
**AgentController.java**
[code]

## Scen

[2019-01-10 21:41] creisle opened #8724 "Fetchplan issue in v3+"
### OrientDB Version: 3.0.6
### Java Version:
openjdk version "1.8.0_151"
OpenJDK Runtime Environment (build 1.8.0_151-b12)
OpenJDK 64-Bit Server VM (build 25.151-b12, mixed mode)
### OS: centos06

## Expected behavior
fetch all linked records

## Actual behavior
no change to the query result when the fetch plan was given

## Steps to reproduce

create a new db and a single record

[code]

returns

[2019-01-11 08:12] luigidellaquila commented on #8724
Hi @creisle

Fetch plans were deprecated in v 3.0 and do not work with the new SQL executor (they still work with the old one though), see http://orientdb.com/docs/3.0.x/release/3.0/Upgrading-to-OrientDB-3.0.html#fetch-plan

I strongly suggest you to take a look at nested projections, that are much more flexible and easy to use http://orientdb.com/docs/3.0.x/sql/SQL-Projections.html#nested-project

[2019-01-11 08:21] benjamingouit opened #8725 "OutOfMemoryException during custom function"
### OrientDB Version: 2.2.33
### Java Version: Java 8
### OS: Centos Linux 7

## Issue
On my project, we have a custom function in OrientDb server which copy a full tree portion (written with Java graph API). It was working fine until now but the tree was growing every day. The tree portion to copy takes now more memory place than the jvm memory limit.
When the function is executed, an OutOfMemory

[2019-01-11 09:51] benjamingouit commented on #8725
I forgot to say that I also declared OIntentMassiveInsert intent at the beginning of custom function (according to https://github.com/orientechnologies/orientdb/issues/7090).

[2019-01-11 12:45] laa commented on #8725
Please remove this intent.
That is an old feature which is not supported, exactly because that is can
cause OOM.

пт, 11 янв. 2019 г. в 11:51, benjamingouit <notifications@github.com>:

--
Best regards,
Andrey Lomakin.

[2019-01-11 22:47] xavier-atero commented on #8723
The OObjectDatabaseTx class works as expected. The issue was that the name of the table in orientdb (V_Agent) did not match the name of the class (Agent).

[2019-01-11 22:47] #8723 closed

[2019-01-12 19:06] xavier-atero commented on #3355
Just for reference, I am copying the configuration and code required to set up Hibernate using @nkoterba workaround

**persistence.xml**
[code]

Not including:
[code]
will throw the following exception:
[code]

**build.gradle**
[code]

**To get the entity manager**
[code]

[2019-01-12 23:28] MironAtHome opened #8726 "ETL plugin UI needs to handle correctly "remote" database URL"
### OrientDB Version: 3.0
### Java Version:  9.0
### OS: Windows 10

## Expected behavior
First of all, thanks for making this database. Rest will be critique ( pretty much in the eye ) but it shouldn't derail the overarching sense of pleasure of working with your product. And if I do sound overbearing, please write it off to my personal shortcomings.

Now, to the first point, of what I was really

[2019-01-13 09:45] fuss86 commented on #8431
We're experiencing the same issue in 3.0.13. OrientDb Server doesn't want to start.

[2019-01-13 09:54] steve-todorov commented on #8431
And the purposed `-Dstorage.wal.allowDirectIO=false` fix does not solve the issue as well.

ping @laa any updates on this issue?

[2019-01-14 03:39] MironAtHome commented on #8726
Following up on steps 1 and 2.
Modified code, run loader, same issue. After checking JSON it turns out that loading JSON with loader database URL defined as "remote:localhost/GEO" the application overwrites JSON as "plocal:<database_path>", which leaders to same issue.
Currently looking how to obviate this behavior.
Slight plan of original plan, initial intent of using boolean flags changed to usi

[2019-01-14 13:37] benjamingouit commented on #8725
I had the OOME before using it. I removed it and nothing changed.

[2019-01-15 12:34] MironAtHome commented on #8726
Turns out this is just an ETL UI ussie.
oetl tool, provided as part of distribution, accepts loader with dbURL as "remote" and properly accesses database, without failing to lock file access.
Will refocus on UI changes to properly handle "remote" loader and update issue title appropriately.
For the record, here is first take how one could iterate over set of values, produced by query executed by e

[2019-01-15 16:40] prasad-yadav commented on #8721
Hi, Thanks for the quick reply and sorry for the delay.

The database doesn't throw any error but it logs following error to the console.
 TypeError: g.getRecord is not a function [ScriptObjectMirror]

Execution of the function is by using orient js database API as follows where db is an instance of OrientDB.Db

            db.let('result', function (db) {
                db.select('expand(result)

[2019-01-15 18:31] misu200 opened #8727 "<Lucene> OR <Lucene> issue in WHERE clause when filtering on LET context variable used"
OrientDB Version: 3.0.13
Java Version: java version "1.8.0_171"
OS: Windows 10 Home

I ve created the following simple database test:

[code]

The following query returns the expected non-empty result:

`select * from A let $t=(select * from (select expand($parent.$parent.$current.out()))) where [name] LUCENE '(name:(+("Mike")))' AND $t.size()>0`

After adding  an OR in the WHERE clause the query

[2019-01-15 19:05] creisle commented on #8724
Hi @luigidellaquila,

I have taken a look at nested projections but perhaps I just missed it in the documentation. Is there a way to project all links? For example when I want everything linked to a given record but I don't know all the attribute names beforehand so I can't specify them.

Currently I can do this with fetchPlans with the *:-1 but I have not seen a way to do something similar with n

[2019-01-16 07:22] luigidellaquila commented on #8724
Hi @creisle

There is no way to do a deep expansion (ie. *:-1) because it's pretty dangerous in terms of memory management (you could load all the DB). You have to explicitly define the depth level, eg. `*:{*:{*}}`

Thanks

Luigi

[2019-01-16 19:56] creisle commented on #8724
@luigidellaquila , sorry that was a bad example to pick, just the first one to come to mind. The glob is what I was after, just couldn't find an example in the docs of this. I don't need to fetch depth to be unlimited, I always specify it anyway.

That said, when I try this in studio on the test example i'd given above. It does not return an expanded linked record. Am I still doing something wrong

[2019-01-17 08:09] luigidellaquila commented on #8724
Hi @creisle

You are right, the following works fine

[code]

but the following doesn't

[code]

I think we can consider it a bug, I'll check it ASAP and let you know

Thanks

Luigi

[2019-01-17 08:44] rdelangh commented on #8672
same with the latest/latest snapshot v3.1.0 20190116.163803-265 , starting this inside a Ubuntu-18.04 LXC-container :

[code]
Server does not startup.

The messages
[code]
and
[code]
are very confusing, given that there is nothing wrong with those permissions:
[code]

[2019-01-17 08:49] rdelangh commented on #8672
Referring to "https://github.com/orientechnologies/orientdb/issues/8431#issuecomment-432660528", I added
[code]
to the startup command-line parameters, this resolves the problem, the server starts correctly now:
[code]

[2019-01-17 09:15] Arglanir commented on #8725
Hello, I'm a colleague of Benjamin. I created a function that does a simple big insertion (a big graph), but it produces a OOME. What are we missing ?
(Note that `BusinessData` and `Owns` are some existing classes in our database, but you can use your own classes)
[code]
This inserts 10GB of data in database in one query.
Note that if you remove `created = newone` at the end of the loop, this crea

[2019-01-17 10:36] luigidellaquila commented on #8724
Hi @creisle

I just pushed a fix, it will be in the snapshot in a few minutes and will be released with v 3.0.14

Thanks

Luigi

[2019-01-17 10:37] #8724 closed

[2019-01-17 14:09] rdelangh opened #8728 "Lucene indexes created under v2.2.* are broken when the dbase is opened under v3.1.0"
### OrientDB Version: 3.1.0 (build 2019/01/16)
### Java Version: 1.8
### OS: Ubuntu 18.04

## Expected behavior
Be able to use LUCENE indexes from a database that was created under version 2.2.* of the OrientDB software

## Actual behavior
Throws exceptions:
[code]

## Steps to reproduce
1) start a 2.2.* server, and open an existing or create a new database
2) in that database, create a dummy clas

[2019-01-17 15:23] jonsalvas opened #8729 "min in traverse causes nullpointer exception"
### OrientDB Version: 3.0.3
### Java Version: Official Docker Image
### OS:  Official Docker Image

TRAVERSE out(" < any edge > ")[status=min( < any field > )] FROM #78:10

## Expected behavior
min does return the minimum of the field passed
## Actual behavior
nullpointerexception

## Steps to reproduce
execute the query above

[2019-01-17 15:38] rdelangh commented on #8728
I found this in my logs of server v3.1.0 :
[code]

That seems to explain why...

So, is it not possible to convert in some kind 'old' Lucene indexes into a newer format, without having to go via a very time-consuming recreate of the index ?

[2019-01-17 17:00] creisle commented on #8724
that is great! thank you :)

[2019-01-17 17:16] creisle commented on #8693
@luigidellaquila did you have any luck looking at this is v3?

[2019-01-18 00:17] mmacfadden commented on #8704
Just one other thought? Are you running the database in the spring app itself or as a separate process. I have noticed that if you are running the database embedded in your app, and you are quitting the JVM abruptly that OrientDB will have to go through a repair cycle when you next start up. This might not be your case, but something else to consider.

[2019-01-18 00:21] grimace commented on #8704
No, the server is running as a standalone instance.

[2019-01-18 15:54] lucafrosini opened #8730 "Cannot setDescription while creating class schema"
### OrientDB Version: 3.0.13
### Java Version: java version "1.8.0_181"
Java(TM) SE Runtime Environment (build 1.8.0_181-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.181-b13, mixed mode)
### OS: Ubuntu 18.04.1 LTS

## Expected behavior
Trying to set  the description I obtain the following exception

[code]

## Steps to reproduce

OClass oClass = orientGraphNoTx.createVertexType("MyClass");
oCl

[2019-01-18 15:54] lucafrosini commented on #7065
This bug seems reappeared in version 3.0.13.

I opened another bug see #8730

[code]

[2019-01-18 23:32] creisle opened #8731 "Question: Is it possible to use the exclude operator at the top level attributes?"
### OrientDB Version: 3.0.6
### Java Version:
openjdk version "1.8.0_151"
OpenJDK Runtime Environment (build 1.8.0_151-b12)
OpenJDK 64-Bit Server VM (build 25.151-b12, mixed mode)
### OS: centos07

I would like to select a record and get all of its attributes except one or two. I saw the exclude operator for nested projections, is it possible to do something similar unnested?

For example if I hav

[2019-01-19 03:12] MironAtHome opened #8732 "ETL: loading of records is somewhat slower than should be"
### OrientDB Version: 3.0.12
### Java Version:
bin>java -version
java version "9.0.4"
Java(TM) SE Runtime Environment (build 9.0.4+11)
Java HotSpot(TM) 64-Bit Server VM (build 9.0.4+11, mixed mode)

### OS: Microsoft Windows 10

## Expected behavior
Loading at least 100 records / second

## Actual behavior
loading approximately ( very rough ) 15 records / second

## Steps to reproduce
Create datab

[2019-01-19 05:57] MironAtHome commented on #8732
After initial spurt looked very encouraging for approximately 1 hour ( 1/2 million records loaded ) things went back to much slower pace. In the past hour only about 200000 records loaded, 2.5 times slower, than "fast" interval. So, it looks like as load advances forward into the CSV file something impacts lookup time.
Perhaps an index on the FK used for lookup field during edge transform creation

[2019-01-19 06:00] MironAtHome commented on #8732
Oh... I am removing CC_FIPS field in the ETL script from City vertex. So, no index can be applied. Looks like after ETL completes, perhaps on Suday, I will need to do some debugging round and report back with some analysis, potentially resolution.

[2019-01-19 08:51] MironAtHome commented on #8732
Interesting. I had a throery, and dropped / created same index on Country.
I can't say with certainty this made the difference, but in the past 3 hours the following changes can be found:
1. a million of records was loaded ( good )
2. 1/2 a Gigabyte memory RAM was taken by java.exe process, that was prior at 2GB.
In other words, each of the spurts of OrientDB record ingestion can be mapped to reso

[2019-01-19 14:58] MironAtHome opened #8733 "ODatabaseException reported by console.bat application, apparently session times out while query is in flight"
### OrientDB Version: 3.0.12
### Java Version: 9
### OS: Microsoft Windows 10 Enterprise Edition

## Expected behavior
I think an well respected protocol is to let query run as long as it takes, at least in dedicated applications, such as console.

## Actual behavior

## Steps to reproduce
orientdb {db=GEO}> SELECT FROM ( SELECT NAME, COUNT(*) AS `ROW_COUNT` FROM City GROUP BY NAME ) WHERE ROW_COU

[2019-01-21 10:17] ganesh-karewad commented on #8721
Hi @wolf4ood ,
function to replicate the issue

       function addVert() {
          var g = orient.getDatabase();
          com.orientechnologies.common.log.OLogManager.instance().info(this, "adding to database");
          var retry = true;
          var retryCounter = 0;
            var operationResult = [];
          while (retry && retryCounter < 1) {
            try {
                retry

[2019-01-21 10:36] rrpatilcse commented on #8721
Hi,
I am also facing the same issue. Is there any solution or workaround available?

[2019-01-21 12:50] luigidellaquila commented on #8733
hi @MironAtHome

Are you in remote? Did you stop and restart OrientDB after connecting on the console?

Thanks

Luigi

[2019-01-21 14:50] luigidellaquila commented on #8731
Hi @creisle

Right now this is not supported, but I'd say it's definitely reasonable, I'll work on it and see if I can add support for it quickly.

In the meantime, you can try

[code]

the result will be a bit different, but it should do the job

Thanks

Luigi

[2019-01-22 11:36] ismaelpernas commented on #8587
@luigidellaquila any update on this ticket? Does this work on 3.0?

[2019-01-22 14:21] denisbakalov opened #8734 "OTokenSecurityException"
### OrientDB Version: orientdb-3.0.12
### Java Version: openjdk version "1.8.0_171"
### OS: Debian GNU/Linux 8 (jessie)

## Expected behavior
Normal query execution

## Actual behavior
"com.orientechnologies.orient.enterprise.channel.binary.OTokenSecurityException: missing session and token" after 15 min of inactivity

## Configs:
[default-distributed-db-config.json.txt](https://github.com/oriente

[2019-01-22 14:33] dr-wolf commented on #8734
We develop a Spring application, the point is that each request represents a pretty complicable object that is converted into a set of select or create/update queries, that are executed one by one in a single session aquired once per request.

[2019-01-23 11:08] swagat123 opened #8735 "Angular js REST API"
Hi
We are trying to connect Orient DB using REST API through Angular JS. I went through this REST API https://orientdb.com/docs/2.2.x/OrientDB-REST.html . If some one can give us with a simple example how to send a GET/POST method using REST API from Angular js , it will be great help.
I am getting 401 error in Angular JS. While it is working in postman.

[code]
We are using Angular js 1 and Orien

[2019-01-23 14:18] andreyvk opened #8736 "Outer query with expand produces no results"
### OrientDB Version: 3.0.13
### Java Version: 8
### OS: Ubuntu 14.04

Hi,

The following query has no effect (no results) when run from the studio or the console:

[code]

The same query runs very well on PhpOrient.

## Steps to reproduce
[code]

Then run the query above.

---
We actually have a more far going problem, but I cannot debug it properly while this problem persists. Meanwhile, I'll op

[2019-01-23 14:29] andreyvk opened #8737 "Skip is ignored in complex query with outer expand"
### OrientDB Version: 3.0.13
### Java Version: 8
### OS: 14.04

Might be related to #8736

Hi,

Suppose there are two classes `Test` and `Test2` which are connected with an outgoing `has` edge to `Test2` class, then changing `skip` in the following has no effect (i.e. as if the skip is always 0):

[code]

Original query from our system is more complex and used to work very well on `2.2` we are als

[2019-01-24 00:08] MironAtHome commented on #8733
Nope, I was all the time in console application and after some interval in issuing queries ( perhaps 15 - 25 minutes ) issued one, that ended with the exception as per above.
Yes, I was signed in by issuing line "connect remote:localhost/GEO root password"
After query failed, as per above, I re - issued same line "connect remote:localhost/GEO root password" and re - executed same query. This time

[2019-01-24 01:12] MironAtHome commented on #8737
This worked for me in console on OrientDB version 3.0.12

SELECT @this.`@rid`, @this.NAME as CityName, @this.CountryName as CountryName FROM (select *, out('CountryCity')[@class='Country'].NAME AS CountryName from City skip 1 limit 5)

Seems to work for skip.

[2019-01-24 07:48] luigidellaquila commented on #8737
Hi @andreyvk

In v 3.0 you should use nested projections instead of `include()` (https://orientdb.com/docs/3.0.x/sql/SQL-Projections.html#nested-projections), the problem is that PhpOrient still has to be updated to support the new executor...

Thanks

Luigi

[2019-01-24 15:23] MironAtHome commented on #8737
Luigi,

Any chance documentation can be updated, this
`SELECT 1 as a, 2 as a
will return [{"@rid": "-2:0", "a":2}]`

actually reads
`+----+----+
|#   |a   |
+----+----+
|0   |2   |
+----+----+`
or
`[{"#": "0", "a":2}]``

[2019-01-24 15:40] luigidellaquila commented on #8737
Oh yes, thank you for pointing it out, I'm updating it now

Thanks

Luigi

[2019-01-25 08:45] gmshake commented on #6437
The commit https://github.com/orientechnologies/orientdb/commit/269f62f8be57bb65be4cd319012e76cec47fa72f#diff-6f28abaebee22cce0012a48cbbe01bac does not keep binary compatible with older version.

I'd suggest add constructor marked deprecated to keep binary compatible :)
[code]

[2019-01-25 09:56] luigidellaquila commented on #6437
Hi @gmshake

That commit is almost three years old and from v 2.1... Since then we did so many changes that IMHO that constructor is just the smallest problem... Is there a real need to add it again?

Thanks

Luigi

[2019-01-25 11:42] hxgxs1 commented on #7622
@persisharma Yes, I am facing this issue in 3.0.13 as well. Can somebody provide a solution for this

[2019-01-25 12:01] rgischk opened #8738 "IOException: Cannot delete file. Retry limit exceeded. (11)"
### OrientDB Version: 2.2.22
### Java Version: 1.8.171
### OS: Windows

## Expected behavior
No exception

## Actual behavior
Exception occurred on production system

## Steps to reproduce
Exact steps to reproduce not known. Following exception occurred on production system. It seems that orientdb was not able to delete a file, but it does not state which file and why. More verbose logging would b

[2019-01-25 12:46] rgischk commented on #8738
I just found out, that we lost some logging files on that system, due to a faulty logging configuration. It could be, that this error is not the root cause of the problem, but that is was instead caused by another unknown problem.
Anyways it would be nice to have some more verbose logging about why the file could not have been deleted. And maybe you have an idea what could cause this issue?

[2019-01-25 14:24] mmacfadden commented on #8632
@luigidellaquila Finally got to do some debugging. I noticed that if you look at the script execution context here: https://github.com/orientechnologies/orientdb/blob/ac16faac50ef66f4ca5ae5f792b2145b9d0b53d4/core/src/main/java/com/orientechnologies/orient/core/command/OSqlScriptExecutor.java#L76

[code]

We can see that the Parent element has actually had its child removed from the LINKMAP. So it

[2019-01-25 15:02] mmacfadden commented on #8632
I also noticed that when the `com.orientechnologies.orient.core.sql.parser.OUpdateStatement.execute` method completes, the parent element's record within the `parentCtx` variable has is't _contextChanged field set to true.  However, somehow by the time we get to the commit, it is set to false.

[2019-01-25 20:35] petervavro opened #8739 "How to use variable more times in batch ?"
### OrientDB Version: 3.0.10
### OS: Mac OS X 10.14.2

## Actual behavior

### This runs without issues:
[code]

### But this , returns error :

[code]
Returns :
com.orientechnologies.orient.core.exception.OValidationException: The field 'Table2.link2' has been declared as LINK but the value is not a record or a record-id DB name="testdb" Error Code="4"

Everytime, I use variable more times in the

[2019-01-26 07:06] MironAtHome commented on #8737
Here is one more.
I have created an vertex childParent with a single property name:string.
Linked parents and children via edge parentLink
And added 3 edges in total:
Miron ( child )
Mark and Yevgeniya ( parents )
and tried to run query using  nested projections.

Here is how it looks in console:
Query
select name, out_parentLink.in:{name} from ParentChild WHERE name = 'Miron'
Result:
+----+-----+

[2019-01-26 21:53] keithpjolley commented on #7055
Docs still broken for brew installations. Was able to set a root password by:

- `brew services stop orientdb`
- deleting the `root` and `isAfterFirstTime` entries in `libexec//config/orientdb-server-config.xml`
- running `libexec/bin/server.sh` which then asked for and updated the root password
- ^C out of `server.sh`
- `brew services start orientdb`
- `orientdb-console`

[2019-01-28 08:17] luigidellaquila commented on #8739
Hi @petervavro

I'd say it's just a bug, probably the result set from the first query is not reset correctly after the first assignment.
I'll check it asap

Thanks

Luigi

[2019-01-28 08:32] ASXHOLE opened #8740 "Query @rid by JDBC ,Return '#-1:-1'"
### OrientDB Version: 3.0.13
### Java Version: JDK 1.8
### OS: CentOs 7

### JDBC Driver Version : 3.0.13
## Expected behavior
I want to query the @rid of the Node  by JDBC Driver

## Actual behavior
My JDBC Driver Version : 3.0.13

Java code as below:
[code]

my console print :
`@rid is:#-1:-1`

When i use studio it can return correctly :
[code]

## Steps to reproduce
<add here>
<An SQL script to

[2019-01-28 09:26] jonsalvas opened #8741 "[Javascript] Query returns "IllegalArgumentException: negative RID""
### OrientDB Version: 3.0.3 and also 3.0.15
### Java Version: offical docker image
### OS: official docker image

## Expected behavior
I'm running several "db.command()" operations in Javascript API, such as creating/update vertices/edge in a single transaction (started with db.begin() db.commit()). When I run a traverse query such as:
TRAVERSE IN ("SUBGROUP_OF" ) FROM #107:2 I receive the followi

[2019-01-28 11:36] hxgxs1 opened #8742 "Timeout on waiting for synchronous responses From other nodes"
### OrientDB Version: 3.0.13
### Java Version: 8
### OS: Debian 9

## Expected behavior
We are using orientDB in distributed mode. If we create/update edges on any of the masters it should get persisted /updated without any exceptions or warnings.
Cluster size: 3 (master, master, replica)

## Actual behavior

when we create/update edges, we get following error:

2019-01-28 16:58:20:877 WARNI [node

[2019-01-28 12:36] abdusahin opened #8743 "Disable "executionPlan" in Rest API json response"
### OrientDB Version: 3.0.13
### Java Version: 1.8-openjdk
### OS: RedHat

## Expected behavior
Do not return "executionPlan" field in the REST API response, or add configuration parameter to enable or disable it.

## Actual behavior
"executionPlan" field is returned in REST API response, which results in a huge json response size.

[code]

## Steps to reproduce
curl -v -u username:password `http:

[2019-01-28 12:50] luigidellaquila commented on #8743
Hi @abdusahin

It makes a lot of sense and we already discussed it internally.
We'll implement it ASAP, probably with a header parameter in the REST API

I'll keep you updated

Thanks

Luigi

[2019-01-28 13:34] #8743 closed, assigned to luigidellaquila

[2019-01-28 13:48] arpitrohatgi2008 opened #8744 "ETL OrientDB 3.0. creating edge only for first row of the csv"
### OrientDB Version: 3.0.12
### Java Version: 8.0.1910.12
### OS: Windows 10

I am trying to create edges between the vertices of two already uploaded vertex classes A and B using OrientDB version 3.0.12. Class A has id1 as property where A1, A2, A3 etc. are stored and Class B has id2 as property where B1, B2, B3 etc. are stored. Below is the description of classes and their properties and stored

[2019-01-28 13:58] abdusahin commented on #8743
Woow, that's the fastest response I've ever got on github.
Thanks @luigidellaquila, I'll give it a try.

[2019-01-28 14:23] luigidellaquila commented on #8739
Hi @petervavro

We fixed this problem a few releases ago, please try latest v 3.0.14, I tested it and it works fine

Thanks

Luigi

[2019-01-29 14:02] EricSchreiner opened #8745 "Problem with SQl Where IN clause and subselect"
### OrientDB Version: 3.0.14
### Java Version: 1.8.x
### OS: Windows

## Expected behavior
See attached Screenshot from Orientdb studio

## Actual behavior
See attached Screenshot from Orientdb studio

## Steps to reproduce
See attached Screenshot from Orientdb studio

![select](https://user-images.githubusercontent.com/4680347/51913423-b9e0c600-23d6-11e9-8868-88f4185a23bb.jpg)

[2019-01-29 14:09] mpomet commented on #8670
@luigidellaquila Did you get any news ?

[2019-01-29 18:38] grimace opened #8746 "OrientDB Studio consumes tuns of CPU and memory"
### OrientDB Version: 3.0.12
### Java Version: 1.8.0_191
### OS: Ubuntu 18.10

###  Client:   Chrome (71.0.3578.98 (Official Build) (64-bit)) on OSX 10.14.2

## Expected behavior
Studio should be quick and responsive

## Actual behavior
pegs the processor and consumes tons of memory and is slow to response ( like I type a character and 20 seconds later it catches up ).
cpu is at 100.9 % and memory

[2019-01-29 18:42] wolf4ood commented on #8746
Hi @grimace

can you try to clean the local storage and see if it helps?

Thanks
![screenshot from 2019-01-29 11-23-12](https://user-images.githubusercontent.com/98812/51931817-0b507b80-23fe-11e9-9723-8dc799867f31.png)

[2019-01-29 19:18] grimace commented on #8746
that definitely worked.  Thx

[2019-01-30 02:52] hxgxs1 commented on #8421
Same issue in 3.0.11. Did anybody found a fix for this ??

[2019-01-30 02:53] hxgxs1 commented on #8421
Facing the same issue in 3.0.11. Did anybody find a fix for this?

[2019-01-30 09:26] rdelangh opened #8748 "database.ocf from v2.2.31 unreadable by higher versions"
### OrientDB Version: 2.2.31 towards higher
### Java Version: 1.8.0_92
### OS: Ubuntu 17.10

## Expected behavior
Re-use a database that was created under version < 2.2.32 by some version > 2.2.32

## Actual behavior
Starting the server with version 2.2.31 is fine, opening the existing databases via "console.sh" is fine, shutting that server throws no issues.

Start the server with version 2.2.35

[2019-01-30 17:39] rdelangh commented on #8748
update: opening the database with version 2.2.32 is working without error:
[code]
I will go gradually a version higher until we find the one that can not process the contents of "database.ocf" correctly...

[2019-01-30 18:06] rdelangh commented on #8748
version 2.2.33 :
[code]

[2019-01-30 18:06] rdelangh commented on #8748
version 2.2.34 : error
[code]

[2019-01-31 08:48] luigidellaquila commented on #8745
Hi @EricSchreiner

The first query doesn't work because you are matching a `key` with a pair `key, rid`.
If you change it as follows it will work fine

[code]

Thanks

Luigi

[2019-02-01 11:30] diegomtassis opened #8749 "ERROR OLocalPaginatedStorage - Exception `02841DB9`"
### OrientDB Version: 2.2.37
### Java Version: 8

Using the object API.
We got the following exception on a production environment.

[code]

After this, our persistence layer started to fail.
The server was restarted and the application bahaved correctly since then.

Is there any easy explanation for this error?

This error has been something exceptional. The server has been working for more than

[2019-02-01 11:43] rdelangh commented on #8748
same with all following 2.2.3* and 3.* versions :
  * orientdb-community-2.2.35-20180426.152041-9.tar.gz
  * orientdb-community-2.2.35-20180509.103031-14.tar.gz
  * orientdb-community-2.2.36-20180612.121415-11.tar.gz
  * orientdb-community-2.2.37-20180613.120656-1.tar.gz
  * orientdb-community-2.2.38-20181205.092933-7.tar.gz
  * orientdb-community-3.1.0-20190129.135629-283.tar.gz

Starting the ser

[2019-02-01 13:50] EricSchreiner commented on #8745
Hi @luigidellaquila
(I would reopen but it seems I'm not allowed to.) I've tried a lot of different solutions but it seems to be a bug. See Screenshot below with your suggestion....
![select-2](https://user-images.githubusercontent.com/4680347/52126822-af216d80-2630-11e9-80fd-bb44f6ab74ee.jpg)

[2019-02-01 14:38] EricSchreiner opened #8750 "Problem with WAL after updateing from 3.0.6 to 3.0.14"
### OrientDB Version: 3.0.14
### Java Version: jre 10
### OS: Win10

## Expected behavior
We usind Orientdb for years now after update from 3.0.6 to 3.0.14 we see the following errors on shutting down. (Database is broken afterwards....)

## Actual behavior
see below

## Steps to reproduce
Feb. 01, 2019 3:32:57 NACHM. com.orientechnologies.common.log.OLogManager log
SCHWERWIEGEND: Error during WAL

[2019-02-01 16:15] luigidellaquila commented on #8745
Hi @EricSchreiner

I tried it with DemoDB on v 3.0.14 and it seems to work fine, maybe it's already fixed. Could you please try your dataset on latest stable?

Thanks

Luigi

[2019-02-01 16:17] diegomtassis commented on #8749
Hi Andrey,

Thanks for the quick answer.

So you think it happened because of some kind of degradation, right?

We are using orientdb in several of our products, many installations and nothing like that had happened before. As I said, we have installations almost identical to the one that failed, should we expect this error again? If so, is restarting the database the only solution? (we use plocal

[2019-02-01 16:34] EricSchreiner commented on #8745
Hi @luigidellaquila my example was already running on 3.0.14

[2019-02-01 16:36] EricSchreiner commented on #8745
Hi @luigidellaquila
for you information: It works fine when i use a static list of keys in the IN clause instead of a select....

[2019-02-01 16:40] luigidellaquila commented on #8745
Hi @EricSchreiner

Can you please give me more details on how to reproduce?
I tried the following on DemoDB and the result is as expected

[code]

What is different in your case?

Thanks

Luigi

[2019-02-01 17:07] EricSchreiner commented on #8745
Hi @luigidellaquila ,
my key is OType.STRING and duplicates are allowed (INDEX_TYPE.NOTUNIQUE)

[2019-02-01 17:31] #8749 closed

[2019-02-02 15:37] mmacfadden commented on #8740
@ASXHOLE this may not work, but I know OriendDB has some "magic" string conversion with some of the protected fields (class, rid, etc.). It may be returning the ORID of the projected document which will be `#-1:-1`

Can you try the following:

[code]

It very well might yield the same result. Just trying to eliminate some possibilities.

[2019-02-02 16:10] mmacfadden opened #8751 "Read Time Out in OIndex.iterateEntries(Collection<?>, boolean)"
### OrientDB Version: 3.0.13
### Java Version: Java 8
### OS: Linux

## Expected behavior
The OIndex.interateEntries seems to break with a Read Time Out exception when passing a composite key.

## Actual behavior
[code]

## Steps to reproduce
The following script will reproduce the issue.

[code]

[2019-02-04 08:37] rdelangh commented on #8748
SOLVED: apparently some file under the "OSystem" directory was corrupted compared to our snapshot of this filesystem. After restoring this entire "OSystem" directory from the snapshot, the database can be opened under all 2.2.3* versions, likely also under v3.* (will test right away).

Very strange though that version 2.2.33 has no problems with this corrupted "OSystem" contents.

[2019-02-04 09:07] luigidellaquila commented on #8745
Hi @EricSchreiner

Thank you very much, I managed to reproduce the problem. I'll try to fix it ASAP

I'll keep you updated

Thanks

Luigi

[2019-02-04 15:12] EricSchreiner commented on #8750
Hello @laa,
I hope you remember me from the memory issues we had some time ago. I'm desperate. After updating from 3.0.6 to 3.0.14 we get the nested error described above when we stop our application (It occurs during OrientDB.close(OrientDB.java:292)) I've already checked our multi-threading structure with no result (see attachment) do you have any idea (anything is welcome) what can cause the pr

[2019-02-04 15:44] #8745 closed

[2019-02-04 15:44] luigidellaquila commented on #8745
Hi @EricSchreiner

I just pushed a fix, it will be in the snapshot in a few minutes and will be released with v 3.0.15

Thanks

Luigi

[2019-02-04 16:20] gianluca-valentini opened #8752 "Live query: throws LINKBAG should never appear in a projection"
### OrientDB Version: 3.0.13
### Java Version: openjdk 1.8
### OS: alpine 3.4

## Expected behavior
During execute live query on Vertex, the Create/Update/Delete (and other events) should be notificated without exception even if the vertex is joined to other vertex with edges.

## Actual behavior
I have a ODatabaseSession graph where I execute a live query using `live() method`.
When I start the l

[2019-02-04 17:52] petervavro opened #8753 "DATE comparison in WHERE does not work as expected"
### OrientDB Version: 3.0.14
### OS: Mac OS X 10.14.2

## Expected behavior
`SELECT dateField FROM TableA WHERE dateField=date("2019-02-01 05:00:00.000", "yyyy-MM-dd HH:mm:ss.SSS", "UTC")`

Some of the records has value in field **dateField = "2019-02-01T05:00:00.000Z",** so these records should be found.

### My config
timezone = _GMT-05:00_
dateTimeFormat = _yyyy-MM-dd'T'HH:mm:ss.SSS'Z'_
dateFor

[2019-02-05 00:01] JoaquinSV opened #8754 "ORecordDuplicatedException: datetime key wrong format"
### OrientDB Version:
Orientdb on Docker  latest
### Java Version:
1.8.0_191
### OS:
Orientdb on Docker

## Expected behavior
The Loader should parse the datetime in this format
`2009-02-16 11:56:33`

## Actual behavior

Mon Feb 16 00:00:00 GMT 2009

## Steps to reproduce
I'm using a DateTime column as key when creating the vertex using the Loader.

` {"class":"PersonalEmpresas", "fields":{"class"

[2019-02-05 07:36] luigidellaquila commented on #8754
Hi @JoaquinSV

Can you please provide a SQL script to reproduce the problem?

Thanks

Luigi

[2019-02-05 11:43] Maciejszuchta opened #8755 "Cannot connect to OrientDb with Nginx as reverse proxy"
### OrientDB Version: 3.0.4
### Java Version: 1.8.0_201
### OS: Ubuntu 16.04

## Expected behavior
I have an Orient DB setup on my remote Server. Successfully configured Nginx to proxy requests for OrientDb studio and I can successfully access it via web browser.
However, when I want to connect to database from c# .Net Core application I cannot connect to database.

After some time I get:
`Orient.

[2019-02-05 12:21] Maciejszuchta commented on #8755
Ok i found a solution
I had to add this section to nginx.conf
[code]

And now I connect to port 8080, from my .NET app like this
[code]
Hope someone finds it usefull in future :)

[2019-02-05 14:22] JoaquinSV commented on #8754
Posted the oetl JSON file. I'm not using any SQL script, I'm importing a CSV using the ETL tool.

[2019-02-05 14:33] diegomtassis commented on #8012
We are experiencing also this exception.

Is this something that happens only after a server crashes or may it happen as well spontaneously?

[2019-02-05 15:32] obi1kenobi commented on #8012
We've definitely had it happen spontaneously, whenever the database was under sustained heavy write load. As a temporary hack, we've rate-limited writes to the database, which has made the problem seemingly go away. My guess is that the bug is due to an overflowing of some write-side buffer, corrupting the database that way.

[2019-02-05 15:48] EricSchreiner commented on #8750
Hi @laa good to hear from you. And yes it seems you've got it BINGO!!! after replacing the dots with an underscore it seems to work as before. I should have asked you earlier - it would have saved me some hours ;-) now my question is it a bug or feature? Anyway I leave the underscore. Thank you very much and best regards from Graz airport. Eric

[2019-02-05 16:39] temilmg commented on #8484
We use the java api. We have one admin client that sometimes changes some indices. In another application (using the same db) we do graph.getRawGraph().getMetadata().getIndexManager().reload();
before any insert, update or delete in order to avoid the above mentioned exception.

[2019-02-05 20:50] laa commented on #8750
That is a bug of parsing of segment number by file name. I will work on this once I have a gap between tasks.

[2019-02-06 08:13] luigidellaquila commented on #8484
Hi @temilmg

If I got it right, you are using v 2.2.x, so I suspect it's a structural problem in the synchronization of the schema with the client. We'll try to check it anyway.

If it's not the case, and you are using v 3.0 then it could be a much more trivial problem, so please let me know

Thanks

Luigi

[2019-02-06 09:15] EricSchreiner commented on #8750
Hi @laa , thanks again. I decided to switch from dots to underscore so there is no need to hurry...

[2019-02-06 10:35] luigidellaquila commented on #8753
Hi @petervavro

I did the following

[code]

and it seems to work fine. I also tried to define an index on `dateField` and it still works fine.

Any clue on how to reproduce?

Thanks

Luigi

[2019-02-06 10:47] luigidellaquila commented on #8752
Hi @gianluca-valentini

I think this problem is already fixed in v 3.0.14 (https://github.com/orientechnologies/orientdb/commit/1ef562ffabbfcefaaa5bfed229be9d671b1f27dd)
I tested it on the snapshot and it seems to be the case. Please let me know if you still can reproduce it

Thanks

Luigi

[2019-02-06 11:58] gianluca-valentini commented on #8752
Hi @luigidellaquila
thanks for your update.
How I can update my docker distribution if is not preset on the docker hub repository?
Looking on [docker hub](https://hub.docker.com/_/orientdb?tab=tags) I cannot find the **3.0.14** tag
thanks
Gianluca

[2019-02-06 12:47] andreyvk opened #8756 "Binary protocol allows replacing edge information in one record with edge data from another record"
### OrientDB Version:  2.x, 3.x

Hi guys,

We have a problem in our data right now that was not supposed to happen. First of all we are using PhpOrient as our main driver. Here's a scenario:

1. Pull 2 records from DB. Suppose records have `in_has_a` edges. In very basic understanding, a driver would return 2 associative arrays and each array will contain an `in_has_a` key.

2. Replace `in_has_a`

[2019-02-06 12:50] andreyvk commented on #8756
Just out of curiosity, is it somehow possible to fix our DB data right now? Any practical description of steps to do that would be much appreciated.

[2019-02-06 13:38] luigidellaquila commented on #8752
Hi @gianluca-valentini

checking now, probably it's still in approval

Thanks

Luigi

[2019-02-06 13:44] luigidellaquila commented on #8752
Hi @gianluca-valentini

You are right, it's not yet on DockerHub (missed a little step, I did it now).
It should be a matter of a few hours for it to be available

Thanks

Luigi

[2019-02-06 13:47] petervavro commented on #8753
But, I'm inserting DATETIME following way :
`insert into TableA set dateField = DATE("2019-02-05T05:00:00.000Z")`

I guess my problem here is the timezone. I am inserting time in default DB timezone "**GMT-05:00**" and then I am trying to compare it against "**GMT-00:00**" ? Might this be my case ?

[2019-02-06 14:00] gianluca-valentini commented on #8752
Hi @luigidellaquila
thanks for your answer. I'm trying to use the windows installation.

I downloaded from [Orientdb 3.0.14](https://orientdb.org/download), copied the previous database (from OrientDB 3.0.13 to the new one) e started the posted code (with the aligned orientdb client).

When I update, using the OrientDB GUI a property on Vertex B (object of the live query) I continue to have the sa

[2019-02-06 14:12] luigidellaquila commented on #8753
Hi @petervavro

yes, I'd say it could be the case

Thanks

Luigi

[2019-02-06 14:14] #8753 closed

[2019-02-06 14:20] gianluca-valentini commented on #8752
@luigidellaquila ,
looking the code about the exception

the _com.orientechnologies.orient.core.serialization.serializer.result.binary.OResultSerializerNetwork_ code at 426 row for  `serializeValue ` method we can see:

@SuppressWarnings("unchecked")

Currently I'm using livequery on a Vertex with edges. Is there some limitations on live execution on this vertices scenario? Does Livequery work onl

[2019-02-06 14:22] luigidellaquila commented on #8752
hi @gianluca-valentini

The point is that the execution should not get there, because the ridbags should be converted to normal lists before they arrive to the serialization layer.

Do you have  a full running test case to reproduce the problem?

Thanks

Luigi

[2019-02-06 14:29] gianluca-valentini commented on #8752
Hi @luigidellaquila
tell me what you need. I can give you the myschema.zip if you want.
Then you need to open a remote connection with the schema and execute the live query. I can give you my Junit test if you need

[2019-02-06 14:39] luigidellaquila commented on #8752
Hi @gianluca-valentini

the schema and a JUnit would be fantastic

thanks

Luigi

[2019-02-06 14:40] gianluca-valentini commented on #8752
@luigidellaquila
is there a place where post my database?

[2019-02-06 15:33] gianluca-valentini commented on #8752
@luigidellaquila
I attached here my java class and database zip.

Let me know if you have some news about this issue as we are working hard on this task currently
[test_scenario.zip](https://github.com/orientechnologies/orientdb/files/2836984/test_scenario.zip)

[2019-02-06 16:36] #8485 closed

[2019-02-06 16:38] #8629 closed

[2019-02-06 16:38] #8739 closed

[2019-02-07 00:07] dargolith commented on #8724
With this patch (3.0.14) my queries stopped working.

[code]

Used to (in 3.0.13) give me:
[code]

Now (3.0.14) gives me:
[code]

I also used to filter away all edges and some other "hidden" properties in the returned vertices by doing:
[code]

This is also broken it seems. I assume those changes are unwanted since the release is only a patch.

[2019-02-07 00:27] dargolith opened #8757 "*:{!property} No longer working"
With the latest patch (3.0.14) my queries stopped working. I assume those changes are unwanted since the release is only a patch.

### OrientDB Version:
3.0.14

### Java Version / OS:
The official docker container from orienttechnologies on dockerhub. 3.0.14 (or latest) tag.

## Expected behavior
`SELECT *:{!@version, !@class, !out_*, !in_*} FROM V` to return:
[code]

## Actual behavior
`SELECT *:

[2019-02-07 09:28] luigidellaquila commented on #8757
Hi @dargolith

thank you for reporting. I don't know if it can be considered a regression or if the old behaviour was incorrect.
Let me analyse it a bit, I'll let you know ASAP

Thanks

Luigi

[2019-02-07 09:55] dargolith commented on #8757
Thanks @luigidellaquila !

I didn't know it was un-intended to use it that way. If so, how can I make a projection that excludes fields (if I know what I don't want but not what is actually in the record)?

Thanks for the quick response!

[2019-02-07 11:37] laa commented on #8748
That is cool. Closing the issue then.

[2019-02-07 11:37] #8748 closed

[2019-02-07 12:39] helgiv opened #8758 "JDBC connect to an existing memory database creates a new database"
### OrientDB Version: <3.0.14>
### Java Version: <8>
### OS: <Linux Ubuntu 16.04>

## Expected behavior
A connection to the existing memory database (test).

## Actual behavior
A new empty memory database is created.

## Steps to reproduce
Scenario

While upgrading from 2.2.37 to 3.0.14, our unit tests that use the memory database engine and JDBC fail. The common scenario is that the database is c

[2019-02-08 09:34] andreyvk commented on #8737
As per previous comment: is include not supported now in orient 3?

https://github.com/orientechnologies/orientdb/issues/8737#issuecomment-457469397

[2019-02-08 13:24] luigidellaquila commented on #8757
Hi @dargolith

I thought a bit on this and I came to the conclusion that the correct behaviour is current one.
the nested projection refers to the projected field, eg.

[code]
the name and surname refer to the linked object (the parent), that is expanded. Star `*` means all the attributes so the following:

[code]

means get all the attributes, the nested projection refers to each of them, not to

[2019-02-08 14:14] luigidellaquila commented on #8752
Hi @gianluca-valentini

I just checked your test and it seems to work fine.
The new 3.0.14 is now available on DockerHub, could you please try with it and see if it's solved?

Thanks

Luigi

[2019-02-08 14:21] gianluca-valentini commented on #8752
Hi @luigidellaquila
did you test it on orientdb-3.0.14 Windows server?

I'm curious to understand why, with the win distribution, my test does not work to me

Thanks
Gianluca.

[2019-02-08 14:38] luigidellaquila commented on #8752
Hi @gianluca-valentini

I do not have a windows machine to test it now, but it should not do much difference...

[2019-02-08 14:46] helgiv opened #8759 "Unable to use Studio after upgrading to 3.0.14"
### OrientDB Version: <3.0.14>
### Java Version: <8>
### OS: <Linux Ubuntu 16.04>
## Expected behavior

OrientDb Studio connects to an existing database

## Actual behavior
OrientDb server response with an internal server error 500 due to the following exception:

com.orientechnologies.orient.core.exception.OStorageException: Database is locked by another process, please shutdown process and try a

[2019-02-08 15:05] gianluca-valentini commented on #8752
Thanks
I tested it on win server downloaded from Orient host, without success.
This is very strange for me

[2019-02-08 15:19] luigidellaquila commented on #8759
Hi @helgiv

did you upgrade to the new version of Studio?

Thanks

Luigi

[2019-02-09 07:54] andreyvk opened #8760 "Nested projections do not return @rid and @class, when excluding fields"
### OrientDB Version: 3.0.x
### Java Version: 1.8.x

Hi,

Consider the following query `select @this:{!a, !b} from Temp`

## Expected behavior
![proj1](https://user-images.githubusercontent.com/1415506/52518197-267a8100-2c71-11e9-882e-41d391d2b824.png)

## Actual behavior
![proj2](https://user-images.githubusercontent.com/1415506/52518175-dd2a3180-2c70-11e9-9e9b-088657d0ef7d.png)

Also I **cannot

[2019-02-09 07:58] andreyvk commented on #8760
Found solution: `select *:{!a, !b} from Temp`

[2019-02-09 07:58] #8760 closed

[2019-02-10 03:24] muneebshere opened #8761 "Index cannot be created for properties with non-simplified identifier names"
### OrientDB Version: 3.0.14
### Java Version: 11
### OS: Windows 10

## Expected behavior
It is possible to create properties with non-simplified identifier names, such as names containing spaces. Such names are surrounded by back-ticks, e.g. \`First Name\`. It should also be possible to create indexes on such properties.

## Actual behavior
When attempting to create an index on a property which

[2019-02-10 07:32] andreyvk commented on #8757
Hi @luigidellaquila,

Couple of quetions:

1. Why have a nested `expand` when we could write `select expand(@this:{ ... })`?
2. Also `@this:{!attr1}` does not return @rid, @class or @version. So when you `expand` in the outer query, record could not be formed.
3. I think `*:{..}` and `@this:{...}` should be used interchangeably. Consider an example:

[code]

So in my mind `*` also refers to the cu

[2019-02-11 06:40] andreyvk opened #8762 "REST embeds edge into record"
### OrientDB Version: 3.0.14
### Java Version: 1.8

Hi,

There's a strange behavior in REST protocol.

The query issued looks like this:

`create edge has_a from #84:169544 to #34:32951 content {"type":"Company","billing":true}`

Problem doesnt happen always, but in many cases it looks like the edge is embedded in to "out_has_a" attribute like so (all irrelevant attributes are removed from documen

[2019-02-11 07:13] octal-laurence commented on #8600
Hi, Re-opening this issue again. it happened again.

1. I was creating schema for my vertexes,
2. and then suddenly it keeps loading after saving my structure from scheme, then I hit refresh on my browser to reload the studio.
3.after that I can't login again is says "Session Expired", even I use the root user, I need help

[2019-02-11 07:58] luigidellaquila commented on #8757
Hi @andreyvk

just because you can use nested projections only as projections, not as general expressions (so not inside another expression)

That's true, if you want `@rid` `@class` `@version` you have to explicitly declare them, eg. `@this:{!attr1, @class}`. That's because a nested projection is just intended to return actual data by default, not internal info

I understand your point, but if it

[2019-02-11 08:23] askorohod opened #8763 "java.lang.NullPointerException in ALTER PROPERTY"
### OrientDB Version: 3.0.12
### Java Version: OpenJDK 64-Bit Server VM 18.9
### OS: CentOS Linux release 7.2.1511

## Expected behavior
Property type is altered

## Actual behavior
java.lang.NullPointerException

## Steps to reproduce
Create a class X with property y of type STRING
Enter ALTER PROPERTY X.Y TYPE LINK in Studio
The response is a java.lang.NullPointerException

[2019-02-11 08:39] andreyvk commented on #8757
Hi @luigidellaquila,

Do you mean `select *:{*}` ? If I looked at a query then from a first glance it actually looks and feels like a plain `select *` to me - i.e. *get all attributes for the current record*. Please correct me if I am wrong here, because I am really trying to grasp this concept.

In any case what's happening now in 3.0.14 is inconsistency between including and excluding attributes

[2019-02-11 09:07] andreyvk commented on #8757
That doesnt work:

[code]

This should return attribute `c` together with `@rid` but it doesnt. Only `@rid` is returned

![proj3](https://user-images.githubusercontent.com/1415506/52553715-b6096680-2e0e-11e9-98a5-61eb64a7d240.png)

[2019-02-11 09:25] andreyvk commented on #8757
That's a bit strange. While `@this.include` and `@this.exclude` used to work well in `expand` and also `in` and `out` projections are working fine, it doesnt make sense that `{}` projection doesnt. In the end, you are allowing expanding of `{}` in a sub-query approach (which complicates things quite a bit really), but not in the same query. Why? Current limitation?

[2019-02-11 10:14] luigidellaquila commented on #8757
Hi @andreyvk

Sorry, here's the right query:

[code]

The point is that `*` IS different from `*:{*}`, the same way as `parent` is different from `parent:{*}`.
If `*` and `*:{*}` were the same, then also `*:{*:{*}}` would be the same, so I just wouldn't be able to expand all the attributes at an arbitrary depth.

About the nested projections in the `expand()`, well, it's just a technical detail, t

[2019-02-11 10:50] andreyvk commented on #8757
Hi @luigidellaquila,

Thanks for the explanation, it's clear now. I guess as long as query dymamics stay the same from now on, I can continue my development using the latest database, because until now I wasnt sure what to expect.

[2019-02-11 13:11] andreyvk opened #8764 "Nested query with a star and additional attributes does not return expected result"
### OrientDB Version:  3.0.14
### Java Version: 1.8

Hi,

Consider the following example:

[code]
I am aware that the query above can be made simpler and does not require a nested approach in this particular case.

## Expected behavior
![grp1](https://user-images.githubusercontent.com/1415506/52565235-75224980-2e30-11e9-958c-3f81130b43dc.png)

## Actual behavior
![grp2](https://user-images.githubu

[2019-02-11 13:50] helgiv commented on #8759
Hi @luigidellaquila,

Yes, we did upgrade to the newest version of the Studio. And, by the way, we're getting the same error when using the console.sh.

Thanks,
Helgi.

[2019-02-11 14:47] luigidellaquila commented on #8764
Hi @andreyvk

For sure there is a problem with the aliases, I'll check it ASAP.

About the query itself, what it the meaning of `*` in a grouped query? The following makes sense

[code]

but what do you expect for the other attributes?

Thanks

Luigi

[2019-02-11 15:33] andreyvk commented on #8764
hi @luigidellaquila,

We have nested queries in which inner queries would have a bunch of attributes which would still contain values that are the same, even if records are grouped by one or another attribute. For instance,

[code]

So imagine that besides `type1` and `type2` there are more like them. Now lets also assume that one or more `Temp` records have an incoming `has_a` egde from Temp2. In

[2019-02-11 16:30] luigidellaquila commented on #8764
Hi @andreyvk

I think PHPOrient is still using the old SQL executor, that we did not touch for months, so it's unlikely that its behaviour changed from v 3.0.12.
I'd also check the queries on PHPOrient directly, because the result will be slightly different from what you see in Studio (that uses the new executor)

Thanks

Luigi

[2019-02-11 17:02] andreyvk commented on #8764
@luigidellaquila ,

Like i mentioned we are moving away completely from PhpOrient but some problems still remain.

In any case, will `select *, sum(a) as a` issue be considered? Or should I find an alternative solution?

[2019-02-11 17:10] luigidellaquila commented on #8764
It doesn't make much sense in general( ie. if an attribute has different values for different records, then the result will be completely non-deterministic), but probably we can make it work as a syntax

Thanks

Luigi

[2019-02-12 06:26] andreyvk commented on #8762
Hi @luigidellaquila,

I've found how to reproduce this. The problem happens after **record update** request, whether full or partial:

First prepare some classes and records:
[code]

Then using REST (not URL encoded for making it readable):
1. `POST http://localhost:24800/command/nsdev/sql/create edge linked_to from #260:0 to #260:1`

2. `PUT http://localhost:24800/document/nsdev/#260:0?updateMode

[2019-02-12 07:17] luigidellaquila commented on #8762
Hi @andreyvk

Thank you very much, it helps a lot. I'll look into it ASAP

Thanks

Luigi

[2019-02-12 10:32] andreyvk commented on #8762
hi @luigidellaquila,

Any news plz? Sorry to rush really, but it's quite important.

[2019-02-13 05:15] archana1790 commented on #8689
Hi @laa, Could you please point out in the change logs, which version has this fix?
https://orientdb.com/download-previous/
We are in the process of migration, not sure which version to take

[2019-02-13 07:19] laa commented on #8689
Hi @archana1790 we have had few fixes in the different versions. The latest one was in 3.0.15. So I suggest you take this one.

[2019-02-13 07:38] ASXHOLE commented on #8740
Hi, @mmacfadden
Thank you very much ! It worked ,using the  'AS'  keyword.
But I still feel a little bit puzzled , isn't it a bug?

[2019-02-13 08:28] gmshake commented on #6437
@luigidellaquila Sorry for late response.
Not really :)
Since the constructor is public, AKA public API, according to https://github.com/orientechnologies/orientdb/blob/develop/upgrade.txt  , it's not a small problem to 3rd party developers.

Are there any plans we introduce plugins such as http://www.mojohaus.org/clirr-maven-plugin/ to prevent further incompatible API change?

[2019-02-13 11:45] andreyvk opened #8765 "[Question] Indexing in/out edges in OrientDB 3.0.x"
### OrientDB Version: 3.0

Hi,

Is it still possible to index in/out attributes in edges?

I have created an `in` `LINK` attribute on a specific edge that we have. However, querying that class of edges did not seem to gain me any speed. Is there anything that I am doing wrong here?

[code]

[2019-02-13 11:47] luigidellaquila commented on #8765
Hi @andreyvk

I'd say it should work fine, it's just a normal property (if it doesn't, it's definitely a bug).
I'm adding it to my backlog, I'll try to look into it soon

Thanks

Luigi

[2019-02-13 11:47] luigidellaquila commented on #8765
in the meantime, could you please run an EXPLAIN of the query?

Thanks

Luigi

[2019-02-13 11:54] andreyvk commented on #8765
hi @luigidellaquila ,

[code]

[2019-02-13 12:02] luigidellaquila commented on #8765
Oh yes, it's not using the index...

[2019-02-13 13:20] ismaelpernas opened #8766 "Not hitting index on a lightweight edge property in 3.0.14?"
### OrientDB Version: 3.0.14
### Java Version: 1.8

## Actual behavior
We have a class called Status with Id and Name properties. There is a NONUNIQUE index on the Id property. Then a CatItemCategory class that has a lightweight edge to the Status class.

In 2.2.17 we could do this query and hit an index:
[code]

When I run an explain of the same query in 3.0.14 I don't see any evidence of the que

[2019-02-13 13:39] ismaelpernas opened #8767 "Not hitting index on multiple conditions with AND operator in 3.0.14?"
### OrientDB Version: 3.0.14
### Java Version: 1.8

## Actual behavior
When running a query with two filters using the AND operator I cannot see the index hitting on the second condition. This leads me to believe that it will not be performance in the case that the first condition hits a large number of items and the second condition needs to be evaluated on the result set.

The query looks like t

[2019-02-13 13:44] luigidellaquila commented on #8767
Hi @ismaelpernas

That's correct, for AND operators OrientDB chooses the most convenient index to use and then filters based on the rest of the conditions (it was the same in previous versions).
With the OR operator and complex conditions though, OrientDB can use multiple indexes and merge the results.
Hopefully, in the near future we will be able to do additional optimizations and do index inters

[2019-02-13 16:58] mmacfadden commented on #8740
It might be a bug. But I can somewhat explain what is going on.  When you use a projection, OrientDB creates a "fake" document with the results of the projection.  For example, assume you had a document with 10 fields. But when you do a SELECT you only select 3 of them through a projection. Then assume you get ahold of one of those selected documents.  If you were then to call `doc.save()` on that

[2019-02-13 21:20] ygyg70 opened #8768 "Concurrent start of nultiple nodes sometimes fail - some nodes get partial data"
### OrientDB Version: 2.2.36
### Java Version: 11
### OS: Windows server 2016

## Expected behavior
All cluster nodes should have the same data

## Actual behavior
Some nodes have partial data

## Steps to reproduce
1. Have a database large enough so copy of data from senior node to new node will require multiple chunks
2. Configure a cluster of 6 nodes
3. Start all nodes at the same time

Here is

[2019-02-14 02:46] FriedEggsWithLeek opened #8769 "What is "CHM based async"?"
Please explain what is the "CHM",Thanks!

### OrientDB Version: <version here>
### Java Version: <version here>
### OS: <os here>

## Expected behavior
<add here>

## Actual behavior
<add here>

## Steps to reproduce
<add here>
<An SQL script to reproduce the problem or a JUnit test case will increase **A LOT** the chance to have a quick fix>

[2019-02-14 08:21] laa commented on #8769
@FriedEggsWithLeek What do you mean? Could you be more precise? CHM means - ConcurrentHashMap

[2019-02-14 09:03] mpomet commented on #8670
I just tested it with version 3.0.14 and it doesn't work neither...
@luigidellaquila Can you provide the sql statements you've tested because nothing work on my side :/

[2019-02-14 09:15] luigidellaquila commented on #8670
Hi @mpomet

From Studio:

[code]

[2019-02-14 09:19] luigidellaquila commented on #8766
Hi @ismaelpernas

Does the Status class have an index on Id?

Thanks

Luigi

[2019-02-14 09:23] mpomet commented on #8670
@luigidellaquila Yes it works with your statements as it doesn't contains any special char.
Could you test-it with the following please :
[code]

[2019-02-14 09:30] ismaelpernas commented on #8766
Hi @luigidellaquila,

There is an index on the Id field in the class Status:

`Status.Id | NOTUNIQUE | ["Id"] | CELL_BTREE`

Interestingly enough, today I restarted the server and ran the same explain query and got a different explain description:
[code]
I assume this one means it is hitting the index. I mentioned the restart because it is the only thing I've done from yesterday to today.

[2019-02-14 09:33] ismaelpernas opened #8770 "Custom function not working after upgrade to 3.0.14"
### OrientDB Version: 3.0.14
### Java Version: 1.8

## Actual behavior
We have a custom function called sort() that allows us to sort the docs taken from an edge. We need this to order the reports associated to an item and get the last one by date. This function looks like this:

[code]

Then it is used like this:
`SELECT last(sort(in('DQReport_DQReportDQMeasure'), 'ReportDate', 'DESC')).DQResult

[2019-02-14 09:46] #8765 closed

[2019-02-14 09:46] luigidellaquila commented on #8765
Hi @andreyvk

I found and fixed the problem, the fix will be released with next v 3.0.16

Thanks

Luigi

[2019-02-14 10:12] luigidellaquila commented on #8766
Hi @ismaelpernas

Yes, it's using the index and that is the expected behaviour.
Hard to say why the behaviour changed after restart, I'll try to investigate

Thanks

Luigi

[2019-02-14 10:19] ismaelpernas commented on #8766
Thanks @luigidellaquila

If I see the query not hitting the index again I'll let you know in case you want more information from our side.

[2019-02-14 10:20] gianluca-valentini commented on #8752
@luigidellaquila
Looking on [docker hub](https://hub.docker.com/_/orientdb?tab=tags) I found the **3.0.15** tag.
I'm trying to work with 3.0.14 version without success. Is there some news about my issue?

I don't understand if now I need to move to LiveQuery on 3.0.15 as current issue is still in open status

[2019-02-14 10:49] luigidellaquila commented on #8763
Hi @askorohod

I just pushed a fix that solves the NPE, but please consider that changing the type of a property in most cases is not allowed (ie. if there is no natural way to convert from the old type to the new one, eg. from INTEGER to LONG)

Thanks

Luigi

[2019-02-14 11:06] #8763 closed

[2019-02-14 11:28] gianluca-valentini commented on #8752
@luigidellaquila
update:
I tested it on win 3.0.15 distro and I continue to have the same issue

![image](https://user-images.githubusercontent.com/3224592/52784022-0cb3b200-3054-11e9-8dbd-008440500659.png)

[2019-02-14 12:13] gianluca-valentini commented on #8752
@luigidellaquila
it works on linux. So it seems that the problem is presento no windows server only

I hope that this news can help you

[2019-02-14 12:15] askorohod commented on #8763
Hi @luigidellaquila,
First of all thank you for the quick fix.
I have to disagree with you though on your comment. The ALTER TABLE name ALTER COLUMN column_name SET DATA TYPE data_type is SQL standard and is supported by every SQL DB if the table is empty (otherwise the only solution would be drop the table and re-create). Additionally a lot of SQL DBs support the extension USING in which you can

[2019-02-14 13:47] EricSchreiner commented on #8745
Hi @luigidellaquila
thanks....

[2019-02-14 14:08] luigidellaquila commented on #8752
Hi @gianluca-valentini

thank you for confirming it, I'll see if someone in the team can test it on Windows (I don't have a win machine unfortulately)

Thanks

Luigi

[2019-02-14 14:10] luigidellaquila commented on #8763
Hi @askorohod

I agree with you, technically speaking it's possible, but right now the implementation is like that, so that's the behaviour you will see for now

Thanks

Luigi

[2019-02-15 04:52] andreyvk commented on #8762
hi @luigidellaquila,

Have you been able to reproduce this problem?

[2019-02-15 05:30] uisuru commented on #3196
https://orientdb.com/docs/2.0/orientdb.wiki/Sequences-and-auto-increment.html

[2019-02-15 06:42] FriedEggsWithLeek commented on #8769
Thank you for your reply.
I saw this word in orientd 3.0.15 change log.

`CHM based async. cache and WTinyLFU policy are introduced.`

Should I assume that it can improve the speed of replication between two instances?

[2019-02-15 07:39] luigidellaquila commented on #8762
Hi @andreyvk

Sorry, not yet...

Luigi

[2019-02-15 10:50] EricSchreiner opened #8771 "Exception `786BB8F1` in storage `plocal: ....: Error on update storage configuration is thrown from time to time"
### OrientDB Version: <3.0.6 up to 3.0.14>
### Java Version: <1.8>
### OS: <Windows>

## Expected behavior
No Exception

## Actual behavior
Exception is thrown from timie to time

## Steps to reproduce
Hello @laa

I hope it is OK if I mention you directly. We see this Exception frequently (once every couple of hours) in our Server log (Server is running fro weeks). The strange thing is: The databa

[2019-02-15 11:36] laa commented on #8771
Hi @EricSchreiner .
Caused by: java.nio.file.AccessDeniedException: C:\Users\Picapport.picapport\db\db_3_0_14\database.ocf. Means that you do not have access to the file. Am I mistaken.

[2019-02-15 12:17] EricSchreiner commented on #8771
Hi @laa,
all directories below .picapport/db have been created by the same server (process) this includes all the files. That's why I think this is a bit strange (cannot be the case)

[2019-02-15 12:32] laa commented on #8771
OK @EricSchreiner , could you try with 3.0.15 version? We have a different approach when storage configuration under the same infrastructure as the data files. It should help.

[2019-02-15 12:35] EricSchreiner commented on #8771
Hi @laa OK I've already upated to 3.0.15 yesterday evening I'll come back to you after the weekend....

[2019-02-15 12:36] laa commented on #8771
OK, see you :-)

[2019-02-15 14:31] ismaelpernas opened #8772 ""missing session and token" after a period of time without interacting with OrientDB"
### OrientDB Version: 3.0.14
### Java Version: 1.8
### OS: Red Hat Enterprise Linux

## Actual behavior
We are getting the following exception consistently when our system is not being used for while and a new request comes in that requires querying OrientDB. Before that all idle time the queries work fine. The exception is:

[code]

Not sure if this is a bug or I am confused about the java Docume

[2019-02-15 20:34] grimace opened #8773 "nodejs pool connections not working - help on error?"
### OrientDB Version: 3.0.13
### Java Version: Java(TM) SE Runtime Environment (build 1.8.0_191-b12)
### OS: Ubuntu 16.04.5 LTS

## Expected behavior
pool should operate appropriately

## Actual behavior
exception:
     err : {"name":"OrientDB.ConnectionError [10]","code":10,"message":"Cannot select the server","data":{}}

## Steps to reproduce
nodejs using pooling,
query from api server
sometimes

[2019-02-15 20:38] grimace commented on #8773
here's the pertinent nodejs code
[code]

[2019-02-15 21:07] wolf4ood commented on #8773
Hi @grimace

are you in a distributed mode?

[2019-02-15 21:15] grimace commented on #8773
yes, portal and db are 2 images on amazon ec2

[2019-02-15 21:16] wolf4ood commented on #8773
@grimace
do you have the connection snippet?

[2019-02-15 21:24] grimace commented on #8773
It happens in a number of cases, here's one:

[code]

[2019-02-15 21:27] wolf4ood commented on #8773
@grimace

this usually happens when the connection to the database goes down.

did you configure orientjs to talk to both OrientDB servers?

[2019-02-15 21:33] grimace commented on #8773
I only have one OrientDB server and one portal.  DB is not down I can log on to the studio and query at the same time

[2019-02-15 21:52] wolf4ood commented on #8773
@grimace

do you shut it down or restart it while the app is running?

Could you activate the debug logger of orientjs?

example

[code]

[2019-02-15 22:55] grimace commented on #8773
I'm wondering if this might be my problem.  I picked up this code from ... well, somewhere, when looking for nodejs pooling examples for ODB.  I've recently had to reproduce my java code in nodejs and am not 100% sure this is correct way...:

[code]

as you can see, there are 2 definitions of 'max:'.   Is there some

[2019-02-17 17:31] AndreiSoroka commented on #8424
my temporary solve:
[code]

[2019-02-18 06:24] Y0ba opened #8774 "Error when using lucene indexes"
### OrientDB Version: 3.0.14
### Java Version: 11.0.2
### OS: Windows 10

## Expected behavior
No Error

## Actual behavior
First error:
[code]
Next error:
[code]
## Steps to reproduce
I don't have steps, since these errors intermittently get thrown when using lucene indexes.

[2019-02-18 06:41] Y0ba commented on #8774
Also, there is error when closing OrientDB:
[code]

[2019-02-18 13:21] wolf4ood commented on #8773
Hi @grimace

those are 2 kinds of pool.
1 for network connections (sockets) and 1 for database sessions.
That's why 2 configuration are needed.

Your code seems fine, seems like this one. I would reduce the first pool configuration, which are the number of opened sockets. 200 seems to high. OrientJS will multiplex requests with session id over the available sockets

https://github.com/orientechnol

[2019-02-18 18:18] AndreiSoroka commented on #8424
I not try, but found it: http://orientdb.com/docs/3.1.x/console/Console-Command-Repair-Database.html
Maybe can help. Not sure.

[2019-02-19 07:59] EricSchreiner commented on #8771
Hi @laa, thanks again, you were right. The strange messages seems to have disappeared with 3.0.15.

[2019-02-19 08:10] laa commented on #8771
@EricSchreiner there is a regression in performance in this release on which I am working on right now. In the case of a lot of duplications, updates can be slow. I suppose to fix it till the end of the week.

[2019-02-19 08:24] EricSchreiner commented on #8771
HI @laa that sounds good because we also finalizing a new release. So I wait until you've made your fixes.
One more question: Are you involved in the fix of issue #8602 . This also causes us a lot of trouble....

[2019-02-19 08:43] laa commented on #8771
@EricSchreiner No, that is a layer up to the storage.

[2019-02-19 10:49] ismaelpernas commented on #8770
Fixed the custom function by updating the iteration to

[code]

This matches the object types returned by the in() function.

[2019-02-19 10:49] #8770 closed

[2019-02-19 15:38] petervavro opened #8775 "Spanish full text search does not get records containing value with special chars."
### OrientDB Version: 3.0.14
### OS: Mac OS X 10.14.2

## Expected behavior
I would like to get results containing special chars in Spanish. Is there a solution for a case like this yet?

## Actual behavior
There are no results when I try to search for **"arb"** and I wish to get results containing also **"árb"**. The issue is caused by special char **"á"** in the field.

`SELECT * FROM Table1 WHE

[2019-02-19 15:46] petervavro commented on #8775
My current solution is Javascript custom function :
[code]

`CREATE FUNCTION CompareInSpanish "!!!function code above!!!" PARAMETERS [columnValue, needle] LANGUAGE Javascript;`

This is used in the most used query of my app so my concern is the speed. Should I be worried?

[2019-02-20 16:16] petervavro opened #8776 "Getting "Internal server error" when record ID does not exist in DB."
### OrientDB Version: 3.0.14
### Java Version: "11" 2018-09-25
### OS: Mac OS X 10.14.3

Running query : `SELECT * FROM #1543243:18;`
`#1543243:18` does not exists in my DB.

## Expected behavior
0 records found.

## Actual behavior
[code]

[2019-02-21 01:23] petervavro opened #8777 "The error is thrown, if @rid does not exist."
### OrientDB Version: 3.0.14
### Java Version: "11" 2018-09-25
### OS: Mac OS X 10.14.3

Running query : `SELECT * FROM Table WHERE @rid=#77534534534:2l;`
`#77534534534:2l` does not exists in my DB.

## Expected behavior
**0 records found.**

## Actual behavior
Returns error : `com.orientechnologies.orient.core.exception.ODatabaseException: RecordId cannot support cluster id major than 32767. Foun

[2019-02-21 04:21] andreyvk commented on #8762
Hi @luigidellaquila,

Is this going to be checked on before the release of 3.0.16?

[2019-02-21 14:02] luigidellaquila commented on #8777
Hi @petervavro

The information is actually present in the docs: https://orientdb.com/docs/3.0.x/internals/Limits.html
The problem here is not that the RID does not exist, but that's an invalid RID.
The error message seems absolutely reasonable.

Thanks

Luigi

[2019-02-21 16:02] #8777 closed

[2019-02-21 16:03] scrabb opened #8778 "Range on in() using nested projection fails"
### OrientDB Version: 3.0.15

### OS: Windows 10

## Steps to reproduce
The Document class has 3 vertices, 2 of which have an edge called IsA and 1 with no edge.  The following 3 queries all return the correct data.
`select Name.Default as Name,in('IsA'):{@class as Label,Name.Default as Name} as All_in from Document limit 3`
`select Name.Default as Name,in('IsA')[0]:{@class as Label,Name.Default a

[2019-02-21 21:49] jmdority opened #8779 "SELECT with WHERE clause containing variables that match multiple indexes returns duplicate records."
### OrientDB Version: 3.0.12
### Java Version: 11.0.1
### OS: macOS Mojave 10.14.3

## Expected behavior
SELECT should return a single vertex when a single vertex matches the WHERE clause.

## Actual behavior
SELECT returns duplicate vertices.

## Steps to reproduce
In a graph DB (demodb works for this):

CREATE CLASS Test IF NOT EXISTS EXTENDS V;

CREATE PROPERTY Test.A IF NOT EXISTS INTEGER;
CRE

[2019-02-22 14:55] mmacfadden opened #8780 "OIndexOneValue.iterateEntries breaks for Lists as keys."
### OrientDB Version: 3.0.14
### Java Version: Java8
### OS: Linux

## Expected behavior
The API call should work.

## Actual behavior
The following exception is thrown:

[code]
The issue here is the following code:
[code]
The issue is that a List<String> (as the key) does not implement Comparable, so the sort fails.

## Steps to reproduce
This only happens when the database is Embedded (e.g. loca

[2019-02-22 14:57] laa commented on #8780
We do not support lists as a key in indexes. How do you add them as a key in index?

[2019-02-22 15:01] mmacfadden commented on #8780
@laa Thanks for the quick response. I am in this situation because of this other issue: https://github.com/orientechnologies/orientdb/issues/8751

In this instance I HAVE to use lists as the key value.  Which works fine when you are using a remote database, since it ultimately gets turned into a Query.  This issue is happening when I am doing unit tests against an in memory database. So at the mom

[2019-02-22 15:05] mmacfadden commented on #8780
I should also add that using Lists seem to work in SQL, either directly in the SQL Text or using them as parameters:

[code]

or

[code]

Both seem to work.

[2019-02-22 15:09] mmacfadden commented on #8780
I'd much rather be using the OCompositeKey. But I can't right now due to the other referenced issue.

[2019-02-22 15:10] laa commented on #8780
I understand but what you reported is not a bug, indexes do not support lists by definition. Exactly because of the reason you wrote.

[2019-02-22 15:14] mmacfadden commented on #8780
Gotcha. This is a bit confusing for a few reasons:

- You CAN use a list in the very same API, when using a remote database.
- You CAN use a list when SELECTing from an index over SQL
- There doesn't seem to be any documentation saying that lists are not supported.

[2019-02-22 15:51] mmacfadden commented on #8780
I have a work around for now. I am just using SQL and passing the Keys as lists.  When #8751 is fixed I can use this API again.

[2019-02-24 00:55] 209 commented on #8560
We have this problem now.
VPS, 1600Gb ssd (only ssd), 60GB RAM, 10 cores.
We use OrientDB in docker container, v3.0.15.

In log: "Magic number verification failed for page `9198`".
Now we only added many records (with duplicates). And often start/stop container.
Now: Vertex: 6 millions, Edges: 30 millions.
We want increase count of Vertex to x20. Edges more.

But such problems very seriously inhib

[2019-02-24 08:32] laa commented on #8560
@209 could you send me stack trace which is printed when you see this exception?

[2019-02-24 08:32] laa commented on #8560
But please do load from the empty database.

[2019-02-24 10:28] laa commented on #8560
@209 I have provided small change, just to be sure that your problem is fixed in 3.0.16, we release it next week. Please try this distribution and provide me feedback with a stack trace if that happens again (hope  not).

[2019-02-24 11:56] 209 opened #8781 "EXPORT problems"
### OrientDB Version: 3.0.15
### Java Version:
openjdk version "1.8.0_191"
OpenJDK Runtime Environment (IcedTea 3.10.0) (Alpine 8.191.12-r0)
OpenJDK 64-Bit Server VM (build 25.191-b12, mixed mode)
### OS: debian 9
### VPS, 10cores, 60gb RAM, 1600ssd.

## Expected behavior
Export finish without errors.

## Actual behavior
I have 70Mb errors:
`
 java.net.SocketException: Broken pipe (Write failed)
a

[2019-02-24 16:56] JeanPaulvB opened #8782 "Queries with multiple selectors do not work in OrientJS"
### Issue: Queries with multiple selectors (e.g. `select *, inE().name`) do not work in OrientJS v3.0.4 (see query example below)

OrientDB version: 3.0.6
OrientJS version: 3.0.4
OS: Windows 10

## Steps to reproduce

**SQL**

    insert into V set name = 'a';
    insert into V set name = 'b';
    create edge from (select from V where name = 'a') to (select from V where name = 'b') set name = 'tes

[2019-02-24 17:24] #8782 closed

[2019-02-24 17:25] JeanPaulvB commented on #8782
I moved this to https://github.com/orientechnologies/orientjs/issues/362

[2019-02-24 22:57] big213 opened #8783 "String Manipulation Methods Not Working As Expected in Nested Projections"
### OrientDB Version: 3.0.13
### Java Version: 1.8.0_141
### OS: Windows 7

## Expected behavior
Returns `ClassA_1`

## Actual behavior
Returns `ClassB_1`

## Steps to reproduce
`CREATE VERTEX ClassA set id= 1` `//#9:1`
`CREATE VERTEX ClassB SET foo = #9:1` `//#9:2`
`SELECT foo: { id.prefix(@class + '_') } FROM #9:2`

Same effect for `append` and I assume any other "String Manipulation" methods. I

[2019-02-25 01:04] creisle opened #8784 "Get @rid and @class attributes for records in projection"
### OrientDB Version: 3.0.14
### Java Version:
java version "1.8.0_102"
Java(TM) SE Runtime Environment (build 1.8.0_102-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.102-b14, mixed mode)

### OS:
MacOS 10.14.2

## Expected behavior
Expect the nested records to contain @rid and @class attributes

## Actual behavior
The records returned included all other attributes but not the @rid, @class , @v

[2019-02-25 01:25] 209 commented on #8781
$ANSI{green {db=SN}} Error on exporting database 'SN' to: streaming.json
app_1  | java.net.SocketException: Broken pipe (Write failed)
app_1  | 	at java.net.SocketOutputStream.socketWrite0(Native Method)
app_1  | 	at java.net.SocketOutputStream.socketWrite(SocketOutputStream.java:111)
app_1  | 	at java.net.SocketOutputStream.write(SocketOutputStream.java:155)
app_1  | 	at java.io.BufferedOutputStr

[2019-02-25 07:42] luigidellaquila commented on #8783
hi @big213

With v 3.0.x please avoid to use `eval()`, `prefix()` and other string manipulation methods, use `+` operator instead, it works much better

Thanks

Luigi

[2019-02-25 08:29] luigidellaquila commented on #8784
Hi @creisle

Yes, you just have to declare them explicitly:

[code]

Thanks

Luigi

[2019-02-25 09:10] ismaelpernas opened #8785 "Slow performance on querying V class in 3.0.14"
### OrientDB Version: 3.0.14
### Java Version: 1.8

## Actual behavior
Querying the V class filtering by an Id property is very slow compared to how it was working on 2.2.14. The query itself looks like this:

`select * from V  where Id = '2' skip 0 limit 1`

This query was performing well enough on previous version but when running it in 3.0.14 takes 142 seconds when there are only 3K vertices in

[2019-02-25 10:39] luigidellaquila commented on #8779
Hi @jmdority

Thank you very much for reporting, I managed to reproduce the bug and I'm working to a fix

Thanks

Luigi

[2019-02-25 10:56] luigidellaquila commented on #8785
Hi Ismael,

Are indexes involved in this query?

Thanks

Luigi

[2019-02-25 11:02] luigidellaquila commented on #8785
Mmm... 142 seconds is not a matter of indexes, there must be something wrong.
Did you export-import the DB from 2.2.x to 3.0.x or did you just copy/paste the directory?
Are you using a remote connection? Do the client and server have the same OrientDB version?

Thanks

Luigi

[2019-02-25 12:25] ismaelpernas commented on #8785
Hi Luigi,

The database is created on 3.0.X. We have an indexing process that creates the db and index the data through oetl.exe commands. All the classes have an Id property and all Id properties have a index.

Our product executes the query through the HTTP API. I also copied the query and executed it from OrientDB studio and got the same performance.

Let me know if you need any additional info

[2019-02-25 14:48] luigidellaquila commented on #8779
Hi @jmdority

I just pushed a fix, it will be released with v 3.0.16

Thanks

Luigi

[2019-02-25 14:48] #8779 closed

[2019-02-25 14:56] big213 commented on #8783
@luigidellaquila Can confirm that using the `+` operator works fine for string manipulation, so that solves my problem then, thanks! Could probably just get rid of `prefix` and `append` methods then, although you might still need to keep methods like `replace` and the others.

[2019-02-25 15:04] luigidellaquila commented on #8783
Hi @big213

Yes, for sure some of them are still needed, I'll check them (but there are a few, so it will probably take some time)

Thanks

Luigi

[2019-02-25 16:47] creisle commented on #8784
Yup! that works, I thought I tried that but I must have missed it. Thanks for the quick reply!

[2019-02-25 16:47] #8784 closed

[2019-02-26 00:03] creisle opened #8786 "Error on batch create: declared as LINK but the value is not a record or a record-id"
### OrientDB Version:
3.0.15
### Java Version:
openjdk version "1.8.0_151"
OpenJDK Runtime Environment (build 1.8.0_151-b12)
OpenJDK 64-Bit Server VM (build 25.151-b12, mixed mode)
### OS:
centos07

## Expected behavior
I was expecting the first record to be linked to the second. This worked previously with the 2.2.X series

## Actual behavior
Got the following error
[code]

## Steps to reproduce

[2019-02-26 06:33] hrishirc opened #8787 "Cannot create index on EMBEDDED property"
### OrientDB Version: 3.0.15
### Java Version: 1.8.45
### OS: Windows 10

## Expected behavior
Should create index on an OType.EMBEDDED vertex property

## Actual behavior
Doesn't create index. Fails with error.
java.lang.NullPointerException                                                                                                                                                  at com.orien

[2019-02-26 07:29] luigidellaquila commented on #8786
Hi @creisle

The $first value is a collection (the result of a query is always a result set, that is translated to a collection), this is why the query is failing.
You can try to use square brackets to pick the first element:

[code]

Thanks

Luigi

[2019-02-26 09:19] laa commented on #8787
Hi @hrishirc we do not index embedded properties, I will provide a meaning full message for that error. But for now this functionality is not supported. NPE here is because we can not find serializer for such types of keys.

[2019-02-26 10:36] CapitaineCookies opened #8788 "Error with spacial functions in projection"
### OrientDB Version: 3.0.15
### Java Version: 1.8
### OS: Windows 8

## Expected behavior
Some result with the distance value

## Actual behavior
java.lang.NullPointerException

## Steps to reproduce
Code similar to #8051
[code]
Works well without using fields in the function

```SELECT  ST_Distance_Sphere(St_GeomFromText("POINT (-0.1277583 51.5073509)")), St_GeomFromText("POINT (-0.1277583 51.50

[2019-02-26 14:45] mosynaq opened #8789 "DISTINCT query too way slow"
### OrientDB Version: 3.0.13
### Java Version: jdk1.8.0_192
### OS: Windows 10 1803

## Expected behavior
return distinct values of a key in a reasonable time

## Actual behavior
returns distinct values of a key after a long time

## Steps to reproduce and the issue in detail
I have a big dataset and imported more than 24,000,000 document into OrientDB. As part of my job I need to have distinct va

[2019-02-26 22:02] creisle commented on #8786
Thanks @luigidellaquila that solved the above problem. I've created https://github.com/orientechnologies/orientjs/issues/363 to avoid other users running into similar issues.

[2019-02-26 22:07] creisle commented on #8786
I am having a related issue now that the above error is gone and still cannot get the full transaction to complete tho.

The problem occurs when I try to include a subquery selecting from a variable.

For example

[code]

I had assumed either of those would work since you can select from a list of RIDs, is that accurate?

## steps to reproduce

In the console

[code]

PS. Would you like me to move

[2019-02-27 01:56] ASXHOLE opened #8790 "OETL import 100million EDGE slow down"
### OrientDB Version: 3.0.13
### Java Version: JDK 1.8
### OS: CentOs 7
### CPU : 8 Cores,  Intel(R) Xeon(R) CPU E5-2680 v2 @ 2.80GHz
### RAM: 32GB

## Expected behavior
I want to import 100million EDGE by OETL within a reasonable time .

## Actual behavior
It ran for more than 24 hours but still not finished (imported 90million).
At the same time the RAM usage increased to 90%.
And it only run on

[2019-02-27 03:19] hahah-ha opened #8791 "create edge with a mid table"
### OrientDB Version: <version here>
### Java Version: <version here>
### OS: <os here>
mac os
## Expected behavior
<add here>

I have three table named company ,person  ,invest
company: id ,name
person:id ,name
invest: companyId , personId , investTime

I import company and person into orientdb with etl first,
but how I can import the middle table invest into orientdb as an edge like ：
in  out  i

[2019-02-27 08:34] luigidellaquila commented on #8786
Hi @creisle

In this case, the variable name is treated as a normal identifier, so it is interpreted as a class name.
You can change the query as follows:

[code]

or, if you need further filtering/projections:

[code]

Thanks

Luigi

[2019-02-27 10:54] laa commented on #8769
No, that is a different case.

[2019-02-27 10:54] #8769 closed

[2019-02-27 11:38] laa commented on #8699
good, closing it then.

[2019-02-27 11:38] #8699 closed

[2019-02-27 14:12] wolf4ood commented on #8775
Hi @petervavro

with your setup and this query

[code]

i get the results

[2019-02-28 10:15] gianluca-valentini commented on #8698
Any news about this issue?

[2019-02-28 10:56] lightning-pro opened #8792 "create the unexpted database when using the storage definition in orientdb-server-config.xml"
### OrientDB Version: <3.0.15>
### Java Version: <1.8.0_191>
### OS: <Windows 10>

## Expected behavior
create the database as my configuration in the orientdb-server-config.xml storage path defined

## Actual behavior
create the databse files in the upper path without database name

## Steps to reproduce
`<storage name="MoquiNoSql" path="plocal:C:/Users/User/IdeaProjects/mfbos/runtime/db/orientdb

[2019-02-28 12:51] 209 commented on #8560
@laa I see, OrientDB was updated, but docker container isn't. I can't try new version.

[2019-02-28 16:03] luigidellaquila commented on #8560
Hi @209

The pull request was submitted to Docker a few hours ago, but it takes some time to be approved. I'd suggest you to check again in next 24/48 hours

Thanks

Luigi

[2019-03-01 09:33] ismaelpernas commented on #8772
@luigidellaquila Any update on this possible issue?

Thanks

[2019-03-01 09:53] yanchaoguo opened #8793 "question：Cannot create the record"
请技术大大指教：
ODistributedOperationException: quorum not reached, responses:        [success,success,exception: 'Cannot create the record #23:23365 because the assigned RID was #23:21383 instead

[2019-03-01 09:57] yanchaoguo commented on #8461
I didn't TRUNCATE like :
TRUNCATE CLASS V UNSAFE
but I have a similar exception

[2019-03-01 21:42] creisle commented on #8786
@luigidellaquila I think I am still missing something. When I try this I get the record but it is returned in the format

[code]

rather than the record itself, is that expected?

[2019-03-01 21:53] creisle commented on #8786
Worth noting that this only seems to happen when the variable being expanded is an edge

[2019-03-01 22:08] creisle commented on #8693
Sorry to bug you again, any luck here?

[2019-03-03 02:38] ygyg70 commented on #8233
We may be having the same issue, version 2.2.36.
Any update?

[2019-03-03 02:53] PhantomYdn commented on #4575
Dear OrientDB team, is this issue finally got fixed in some latest versions?

[2019-03-03 08:25] ColdXzero opened #8794 "Memory is full after ETL process finish"
### OrientDB Version: <3.0.13>
### Java Version: <1.8.0_131>
### OS: <Red Hat 7.4>
Memory:16G
Vcpu: 8

After importing data from Oracle database (8 millions record, 8 millions vertex,24 millions edges), the memory has only 1 GB free noting that the total size is 16GB.

Here the configuration for Server.sh

 ORIENTDB_SETTINGS="-Dstorage.diskCache.writeCachePageTTL=3600 -Dstorage.useWAL=false"
 ORIE

[2019-03-04 00:47] PhantomYdn opened #8795 "ORDER BY doesn't work with pseudo fields"
### OrientDB Version: 2.2.37
### Java Version: 8
### OS: Ubuntu

Need in working the following SQL:
[code]
## Expected behavior
It's expected that this query works

## Actual behavior
[code]

[2019-03-04 02:35] yanchaoguo opened #8796 "OrientDB 3.0 issue with latest snapshot - com.orientechnologies.orient.core.exception.OConcurrentCreateException: Cannot create the record #17:0 because the assigned RID was #17:1 instead DB"
Suddenly this exception occurs after running for a period of time

Can  you help me !!!

[2019-03-04 02:45] PhantomYdn commented on #8795
Seems to be invalid. @class should be used instead.

[2019-03-04 02:45] #8795 closed

[2019-03-04 02:52] PhantomYdn commented on #7646
Dear OrientDB team,
Do you have any news about this issue?

[2019-03-04 07:42] luigidellaquila commented on #8786
Hi @creisle

I'm not sure I got the use case exactly, can you please send me a script to reproduce it exaclty?

Thanks

Luigi

[2019-03-04 10:20] tglman commented on #7646
Hi @PhantomYdn,

This has been probably fixed i while ago, i would suggest to retry the case.

bye

[2019-03-04 19:54] muneebshere commented on #8761
Any update? Could you replicate the issue?

[2019-03-04 20:26] vitalii-honchar opened #8797 "Exception during parse query for filter by class instance"
### OrientDB Version: 2.2.37
### Java Version: OpenJDK 1.8
### OS: Ubuntu 18.04

## Expected behavior
Query:
[code]
returns list of documents which are instances of class `ChildClass`.

## Actual behavior
Throws exception:
[code]

If try to execute query just like this:
[code]
all works as expected

## Steps to reproduce
[code]

Thanks,
Vitaliy Gonchar

[2019-03-04 20:37] WeaxMe commented on #8797
If use `@this` instead `@class` it throws same exception too

[2019-03-04 21:40] mmacfadden commented on #8780
@laa I am going to go ahead and mark this closed base on your comments!  Thanks for your help.

[2019-03-04 21:40] #8780 closed

[2019-03-04 21:41] #6293 closed

[2019-03-05 08:22] luigidellaquila commented on #8785
Hi @ismaelpernas

Any chance to have the DB with this problem?
Did you also try it with v 3.0.16?

Thanks

Luigi

[2019-03-05 08:31] luigidellaquila commented on #8776
Hi @petervavro

I just pushed a fix, now the error is managed more gracefully

Thanks

Luigi

[2019-03-05 08:31] #8776 closed

[2019-03-05 09:54] freeart opened #8798 "Is it possible to restore deleted rows or select from deleted rows"
Just deleted few rows by mistake. Is it possible to restore or just see what I deleted?
.pcl file contains rows, but maybe there is possibility to restore it through some command/tool

[2019-03-05 10:04] luigidellaquila commented on #8798
Hi @freeart

There are no tools to restore deleted records unfortunately. There is a chance that your data are still there, but it's not easy to know where and to restore them...

Thanks

Luigi

[2019-03-05 10:24] WeaxMe commented on #8797
Same exception with build query `select from Parent where @class in ["Child", "Child2"]` from Java API.

[2019-03-05 13:30] tglman commented on #8756
Hi @andreyvk,

If you do not declare a schema that enforce the `in` and  `out`  of you edge is perfectly valid as orient prospective to replace the content of an edge with another edge, the possible solution are declaring the properties in and out readonly, and if your domain allow it, define the specific linked type of in and out with the right vertex type.

As today we cannot do this generic for

[2019-03-05 16:53] freeart commented on #8798
Thanks, I restored manually from this garbage of raw bytes=)

[2019-03-05 16:53] #8798 closed

[2019-03-05 17:05] freeart opened #8799 ""Group by" has issue when use field as a condition."
### OrientDB Version: 3.1.0 from develop branch
### Java Version: docker openjdk:8-jdk-alpine
### OS: docker openjdk:8-jdk-alpine

## Expected behavior
[code]
[code]
[code]
[code]

## Actual behavior
[code]
[code]
[code]
[code]

## Information about db
[code]
[code]
I know this is little bit hacky to use field as a condition in group by. But it is a simple way to get last document by group.
This s

[2019-03-06 07:34] luigidellaquila commented on #8799
Hi @freeart

As long as you do not use all the "non aggregate" projections in the GROUP BY, the behaviour is undefined and unpredictable.
The correct query would be

[code]

Thanks

Luigi

[2019-03-06 07:36] luigidellaquila commented on #8799
(oh, `ORDER BY ts ASC` or `DESC` depending on your needs)

[2019-03-06 10:49] rdelangh opened #8800 "Lucene criterium with leading "?" is failing"
### OrientDB Version: 2.2.37
### Java Version: 1.8.0
### OS: Ubuntu

## Expected behavior
Specifying a Lucene criteria with leading wildcard character "?" should match correctly.
The metadata ```"allowLeadingWildcard": true``` has been added in the Lucene index definitions.

## Actual behavior
Only the wildcard "*" is interpreted correctly when used as first character in the criteria:
``` WHERE [f

[2019-03-06 12:08] gianluca-valentini opened #8801 "V3.0.16 Live query: throws LINKBAG should never appear in a projection come back (3.0.15 was fixed)"
### OrientDB Version: 3.0.16
### Java Version: openjdk 1.8
### OS: alpine 3.4

The Object issue come back in the current release. It was present in 3.0.13 looking [issue 8752](https://github.com/orientechnologies/orientdb/issues/8752) and fixed in 3.0.15.
Now it is present again as in Windows as in Linux environment.

Update:
I have the follow error too, may can help to understand the cause:

[2019-03-06 12:26] rdelangh commented on #8800
hmm, strange but I am re-running my same queries again, and now (without prefixing the leading "?" with an extra "*") I DO get my results...
No clue how I can re-produce the missing results, so I will close this issue.

[2019-03-06 12:26] #8800 closed

[2019-03-06 13:40] luigidellaquila commented on #8772
Hi @ismaelpernas

@wolf4ood is working on it, I'll let you know as soon as it's fixed

Thanks

Luigi

[2019-03-06 17:04] robinZhao opened #8802 "orient jdbc driver transaction doesn't work"
### OrientDB Version: 3.0.16
### Java Version: 1.8.0_172
### OS: windows

## Expected behavior
      Class.forName("com.orientechnologies.orient.jdbc.OrientJdbcDriver");
        String url="jdbc:orient:remote:localhost/demodb";
        String username="root";
        String password="root";
        Connection conn = DriverManager.getConnection(url,username,password);
        conn.setAutoCommit(fal

[2019-03-06 17:14] robinZhao commented on #8802
It seems that has not begin transaction when setAutoCommit(false)
overwrite the OrientJdbcConnection.class as this the transaction work

`    public void setAutoCommit(boolean autoCommit) throws SQLException {
         super.setAutoCommit(autoCommit);
        if(autoCommit){
            getDatabase().begin(OTransaction.TXTYPE.NOTX);
        }else{
            getDatabase().begin(OTransaction.TXTYP

[2019-03-06 19:09] freeart commented on #8799
@luigidellaquila
Actually there is a problem. Real data looks like:
[code]
I need to get last records per each type
[code]
result should be
[code]

[2019-03-07 00:43] #8781 closed

[2019-03-07 01:06] 209 opened #8803 "OGraphBatchInsertBasic create edges with bug."
## OrientDB Version: 3.0.16 (docker)
## Java Version: openjdk version "1.8.0_191"
OpenJDK Runtime Environment (IcedTea 3.10.0) (Alpine 8.191.12-r0)
OpenJDK 64-Bit Server VM (build 25.191-b12, mixed mode)

## OS: debian 9
VPS, 10cores, 60gb RAM, 1600ssd.

## Expected behavior
`OGraphBatchInsertBasic` create vertex and edges.
I can get edges by `SELECT`.

## Actual behavior
I can't get edges by `SEL

[2019-03-07 10:53] luigidellaquila commented on #8799
Hi @freeart

again, you cannot do a SELECT on `document, max(timestamp) as timestamp, type, @rid` and then group by `type` only, as for `document` and `@rid` you have no aggregation rule to deterministically calculate the result.

This is not about OrientDB, it's about SQL in general, see https://stackoverflow.com/questions/20074562/group-by-without-aggregate-function

You can do it with a query l

[2019-03-07 16:30] wolf4ood commented on #8772
Hi @ismaelpernas

i've just proposed a fix in this PR,

https://github.com/orientechnologies/orientdb/pull/8805

Once merged it will solve the issue and it will be available hopefully in 3.0.18

Thanks

[2019-03-07 20:52] usef911 commented on #8762
Hi @luigidellaquila
Has there been any progress on this at all?

[2019-03-07 22:23] grimace opened #8806 "trying to select items with non empty embedded list"
OrientDB Version: 3.0.13
Java Version: JDK 8
OS: Ubuntu 18.x

## Expected behavior
query for items with empty embedded list

## Actual behavior
how do I do this?

## Steps to reproduce
select @rid, subarticles as SA from (traverse content from (traverse pageData from (select expand(both('HasWebsite')) from `V` where uccid=36))) where SA is NON '**EMPTY**'

[2019-03-08 07:57] luigidellaquila commented on #8806
Hi @grimace

Just use `subarticles.size() > 0`

Thanks

Luigi

[2019-03-08 08:48] luigidellaquila commented on #8785
Hi @ismaelpernas

I verified that in your case the query is actually fast, but the execution plan is huge (V has hundreds of subclasses with indexes on `Id`, all the indexes are used) and the serialization of the execution plan on the HTTP request is the real bottleneck.

At application level you can disable the serialization of the execution plan (see https://github.com/orientechnologies/orientdb

[2019-03-08 08:48] #8785 closed

[2019-03-08 08:52] ismaelpernas commented on #8785
Thanks @luigidellaquila

All good from our side.

[2019-03-08 09:09] ismaelpernas commented on #8772
thanks @wolf4ood !

I'll keep an eye on the 3.0.18 release.

[2019-03-08 09:36] #8761 closed

[2019-03-08 09:37] luigidellaquila commented on #8761
Hi @muneebshere

I just pushed a fix, it will be released with v 3.0.18

Thanks

Luigi

[2019-03-08 10:17] #8772 closed

[2019-03-08 15:56] #8778 closed

[2019-03-08 15:57] luigidellaquila commented on #8778
Hi @scrabb

I just pushed a fix, it will be released with v 3.0.18

Thanks

Luigi

[2019-03-08 16:51] freeart commented on #8799
@luigidellaquila list() is a really good idea to do what I want! Thank you! You help me a lot!
I didn't mean that was an issue of orientdb. I just didn't know how to resolve this on orientdb sql.
I improved little bit a query to
SELECT expand(rids[0]) FROM (
    SELECT max(timestamp) as timestamp, list(@rid) as rids FROM (
        SELECT FROM TForm ORDER BY timestamp DESC
    )
    GROUP BY type
)

[2019-03-08 16:53] #8799 closed

[2019-03-09 11:27] carlspring commented on #8431
Hi,

Is there any update on this? We're seeing a lot of these exceptions.

Please, advise!

Martin

[2019-03-10 07:44] dremekie commented on #8385
@jonsalvas I'm seeing the same problem. Have you been able to get anywhere with this?

[2019-03-10 11:51] 209 opened #8808 "OGraphBatchInsertBasic doesn't finish."
### OrientDB Version: 3.0.16 (docker)
### Java Version: openjdk version "1.8.0_191"
OpenJDK Runtime Environment (IcedTea 3.10.0) (Alpine 8.191.12-r0)
OpenJDK 64-Bit Server VM (build 25.191-b12, mixed mode)
### OS: debian 9
VPS, 10cores, 60gb RAM, 1600ssd.

## Expected behavior
I want to import non-unique 463282 pairs:
[code]

## Actual behavior
Processing: 4 hours.
DB SIZE: 6.6Gb.
Error:
[code]

#

[2019-03-10 11:57] robinZhao opened #8809 "create edge with same subquery between from and to use position params, result is wrong"
### OrientDB Version: <3.0.17>
### Java Version: <1.8.0_172>
### OS: <windows 10>

## Expected behavior
[code]

exist data in person class
[code]
result  should be:
[code]
## Actual behavior
[code]
## this is  a wrong result
## I think this is due to command caching
## Steps to reproduce
<add here>
<An SQL script to reproduce the problem or a JUnit test case will increase **A LOT** the chance to h

[2019-03-10 14:01] 209 commented on #8808
Don't reproduced.

[2019-03-10 14:08] #8808 closed

[2019-03-10 17:29] mmacfadden opened #8810 "OIndexManager.getIndex occasionally returns null"
### OrientDB Version: 3.0.16
### Java Version: Java 8
### OS: Linux

## Expected behavior
Indices that are present do not return as null in the Java API.

## Actual behavior
Indices that are present in the database some times return null.

## Steps to reproduce
We have a script which imports a large amount of data into OrientDB. Several of the step use the java API to access indices. We have an OD

[2019-03-11 01:35] nanacoSai commented on #8787
Hi @laa, can we index  embedded properties like below?

clazz.createIndex("INDEX_NAME", OClass.INDEX_TYPE.UNIQUE_HASH_INDEX, "prop1.field1")

[2019-03-11 07:58] muneebshere commented on #8761
Thanks.
By the way, I'm just curious, but I looked at your commit and I couldn't see exactly how the issue was resolved. Could you point out the fix to me?

[2019-03-11 08:20] schernolyas opened #8811 "Incorrect result of function"
### OrientDB Version: 3.0.17
### Java Version: Java 8
### OS: Ubuntu

## Expected behavior
function returns collection of @rid insteed objects

## Actual behavior
function must return result objects

## Steps to reproduce
I have function:
return orient.getDatabase().query("select expand(outE(?).inV()) from " + fromRID)
The function is developed by JS.
orientdb {db=test}> select expand(outE(?).inV(

[2019-03-11 08:35] schernolyas commented on #8811
How I can get result of the query by function ?
I saw to code . Method "query" returns collection of @rid only.

[2019-03-11 08:38] schernolyas commented on #8811
The https://orientdb.com/docs/2.0/orientdb.wiki/Functions.html#usage-via-java-api don't work correctly.

[2019-03-11 08:58] luigidellaquila commented on #8809
Hi @robinZhao

Thank you for reporting, it could be a problem with the query execution plan caching, I'm checking it now.
In the meantime, you can work-around it using named parameters

Thanks

Luigi

[2019-03-11 09:00] luigidellaquila commented on #8761
Hi @muneebshere

The actual fix is only these ten lines of code https://github.com/orientechnologies/orientdb/commit/8de5efa93f5190be2adfd9a97d0f0a6f549b61d9#diff-66768ef3a31ffa04a5036f7d9855fb6aR87

Thanks

Luigi

[2019-03-11 09:11] muneebshere commented on #8761
Yes, but how does that parse `` when it wasn't doing that before? Does it have to do with `FILED_NAME_PATTERN.split(fieldDefinition)`?

[2019-03-11 10:33] laa commented on #8787
@nanacoSai Short answer is no.Long is answer is we are working on this features, but that is not planned to be released in short time.

[2019-03-11 10:33] laa commented on #8787
Closing this issue because it is not a bug.

[2019-03-11 10:33] #8787 closed

[2019-03-11 11:02] luigidellaquila commented on #8761
Hi @muneebshere

The problem is not at query parsing, it's in the index factory. There is a legacy API to create indexes by key or by value (on maps) like `Create index ... on x (theMap by key)`, and the API does a split by blank spaces. Before the fix, it just discarded all the fields with blank spaces, now it works also for them.

Thanks

Luigi

[2019-03-11 11:39] #8809 closed

[2019-03-11 11:41] luigidellaquila commented on #8809
Hi @robinZhao

I managed to reproduce and fix the problem, the fix will be released with v 3.0.18

Thanks

Luigi

[2019-03-11 13:48] luigidellaquila commented on #8811
Hi @schernolyas

I think the function is working fine, the problem is the way you are using it.
The function returns a result set, the `SELECT function()` returns a projection of that result set, that is why you are seeing the difference.

The solution is to expand the result of the function as follows:

[code]

I hope it helps

Thanks

Luigi

[2019-03-11 13:55] schernolyas commented on #8811
Hi @luigidellaquila !

orientdb {db=test}> select findv(#29:0)

+----+------------+
|#   |findv(#29:0)|
+----+------------+
|0   |[#33:0]     |
+----+------------+

1 item(s) found. Query executed in 0.014 sec(s).
orientdb {db=test}> select expand(findv(#29:0))

0 item(s) found. Query executed in 0.003 sec(s).
orientdb {db=test}>

Nothing :-(
It isn't help :-(

[2019-03-11 14:00] schernolyas commented on #8811
@luigidellaquila
But your idea is right:
orientdb {db=test}> select expand(#29:0)

+----+-----+------+------------+----------+
|#   |@RID |@CLASS|name        |out_Author|
+----+-----+------+------------+----------+
|0   |#29:0|Writer|Walter Scott|[#37:0]   |
+----+-----+------+------------+----------+

1 item(s) found. Query executed in 0.008 sec(s).
orientdb {db=test}>

[2019-03-11 15:36] gianluca-valentini opened #8812 "Live query: throws LINKBAG should never appear in a projection"
### OrientDB Version: 3.0.17
### Java Version: openjdk 1.8
### OS: alpine 3.4

## Expected behavior
During execute live query on Vertex, the Create/Update/Delete (and other events) should be notificated without exception even if the vertex is joined to other vertex with edges.

## Actual behavior
I have a ODatabaseSession graph where I execute a live query using `live() method`.
When I start the l

[2019-03-11 16:00] d3pl0y21 opened #8813 "Automatic backups doesn't work"
### OrientDB Version: 3.0.17
### Java Version: Java 8
### OS: CentOS7

## Expected behavior
The automatic backup should work

## Actual behavior
I upgraded from OrientDB version 2.2.11 to version 3.0.14 and tested up to version 3.0.17, and still get the same error message during automatic backups.

I copied the contents of the "database" folder to the new installation path, first I got error messa

[2019-03-13 09:39] andreyvk commented on #8813
Had the same issue recently. Orient stops backing up after some time. Had to restart it in order to get rid of the problem

[2019-03-14 05:42] jymcheong commented on #8385
Try with quotes: ALTER CLASS Invoice CUSTOM onAfterCreate='invoiceCreated'

[2019-03-14 05:51] jymcheong opened #8814 "doc.field('@rid') is negative when onAfterCreate dynamic hook is called"
### OrientDB Version: 3.0.17
### Java Version: 1.8.0_40
### OS: macOS

## Expected behavior
@rid should be usable.

## Actual behavior
Note the left console is output; negative @rid from doc.field('@rid')

![](https://www.dropbox.com/s/l09oja7z1mckf3y/Screenshot%202019-03-14%2013.40.52.png?raw=1)

## Steps to reproduce

As per screenshot above.

[2019-03-14 14:32] c-zv commented on #8708
Try this:
var rid = result_dep.getRecord().field('@rid');

You can also get other properties in this way, just replace the '@rid' with another property name.

[2019-03-14 15:21] mtveerman opened #8815 "All leaf nodes processed during MATCH query, even with LIMIT set"
### OrientDB Version: 3.0.17
### Java Version: 1.8.0_201
### OS: Win10

I'm hooking up to OrientDB with a Binary connection from PHP using PhpOrient. I've posted [an issue](https://github.com/Ostico/PhpOrient/issues/106) at PhpOrient already but I'm also posting here, since this issue might be an OrientDB bug, not a PhpOrient bug.

When I query the database with a MATCH operation, and this MATCH i

[2019-03-14 16:44] andrea-tomassi commented on #8812
@luigidellaquila any news on that issue? I want to underline that the Linux version  3.0.15 is affected as well. Actually, all recent versions are affected, and this is not related to underlying operating system.
I think this is a quite basic feature and now this is not usable at all. The latest working version is 3.0.8 (but that version causes more and more different problems, so we had to upgrad

[2019-03-15 14:43] jamendub commented on #8440
So, I am trying to do the same stuff in 2019 and the problem is still there...!
I have to agree with @willyrj that this doesn't sound really good if you have a problem in a production environment....
Is it just the set of data that is corrupted (which seems to be the case) or the core of OrientDB, though ?

[2019-03-18 08:15] luigidellaquila commented on #8812
Hi @andrea-tomassi @gianluca-valentini

I still cannot manage to reproduce this issue... I tried to write a test case in v 3.0.17 but it seems to work fine.
Can you please share a failing test case?

Thanks

Luigi

[2019-03-18 09:10] luigidellaquila commented on #8762
Hi @andreyvk

I managed to reproduce the problem and I think I have a high level idea of what's going on.
Probably the PUT operation changes the type of the `out_*, in_*` collections, from LINKBAG to EMBEDDEDLIST, so when you do the CREATE EDGE the document is persisted as embedded.
I'm still verifying this hypothesis, I'll keep you updated

Thanks

Luigi

[2019-03-18 09:58] taal25 opened #8816 "Impossible to read a chunk of length:553648128 max allowed chunk length:16777216 see NETWORK_BINARY_MAX_CONTENT_LENGTH settings"
### OrientDB Version: <3.0.17>
### Java Version: <1.8>
### OS: <MacOsX>

I'm developing a platform with node js as backend and orientdb as db.
During a stress test I runned multiple times a single api's and I received this error:
"Impossible to read a chunk of length:553648128 max allowed chunk length:16777216 see NETWORK_BINARY_MAX_CONTENT_LENGTH settings"
I tried to change the setting NETWORK_BI

[2019-03-18 09:59] wolf4ood commented on #8816
Hi @taal25

which driver are you using and which version?

Thanks

[2019-03-18 10:05] taal25 commented on #8816
I'm using orientjs version 3.0.3

[2019-03-18 10:10] wolf4ood commented on #8816
@taal25

do you have a reproducer that i can use for debugging this issue?

do you have also the stacktrace of the exception?

Thanks

[2019-03-18 10:20] taal25 commented on #8816
@wolf4ood
Unfortunately I haven't a reproducer

The error it was generate after several times that my api run this method "db.select().from(id).one()"

'id' it's the id of the vertex, and it generate this error "OrientDB.RequestError: Impossible to read a chunk of length:553648128 max allowed chunk length:16777216 see NETWORK_BINARY_MAX_CONTENT_LENGTH settings"

The first times that I run the api'

[2019-03-18 10:26] wolf4ood commented on #8816
Hi @taal25

are you using the latest APIs with `OrientDBClient`?

https://orientdb.com/docs/3.0.x/orientjs/OrientJS.html#connect-to-orientdb

Is the id a internal OrientDB record id right?

Can you also check the logs on OrientDB side in file
`${ORIENTDB_HOME}/log/orient-server.log.*` you should have the entire exception
on the server

Thanks

[2019-03-18 10:33] gianluca-valentini commented on #8812
Hi @luigidellaquila
thanks for your answer. I can give you the same test case that 'm using and that I post you in the issue [8752](https://github.com/orientechnologies/orientdb/issues/8752#issuecomment-461066559).

To avoid wasting any more time, can you give me your test case instead? I would like to understand if there is something I am doing wrong without being aware of it.
As you know I'm usi

[2019-03-18 12:13] luigidellaquila commented on #8812
Hi @gianluca-valentini

I just added a specific test case to the main repo:

https://github.com/orientechnologies/orientdb/commit/027da7633a6ff27f3f4531d283dc4a70be1eb270

Thanks

Luigi

[2019-03-18 15:00] andreyvk commented on #8762
hi @luigidellaquila,

Eagerly looking forward for the fix, because it's probably the only thing that's keeping us from moving to 3.0.x fully

[2019-03-18 15:16] taal25 commented on #8816
@wolf4ood
Thanks so much, I fixed it.
The error was generated by an uncorrect configuration of the orientjs driver, above all when I initialized the driver I didn't imported OrientDbClient but just orientjs

[2019-03-18 15:16] #8816 closed

[2019-03-18 16:14] luigidellaquila commented on #8812
Hi @gianluca-valentini

Ok, it makes sense. Probably the problem is related to the REST API (see https://github.com/orientechnologies/orientdb/issues/8762). I'll check it and let you know

Thanks

Luigi

[2019-03-18 19:14] jxerome opened #8817 "OrientDB.exists doesn't find databases with '$' sign"
### OrientDB Version: 3.0.13 and 3.0.17
### Java Version: 8
### OS: Tested on Mac OS X  but will be OS independent

## Expected behavior
`OrientDB.exists` return true on existing plocal database.

## Actual behavior
`OrientDB.exists` return false on existing plocal database with `$` in it's name.
Connection to the database with `open` works.

exists return false

## Steps to reproduce
[code]
_May

[2019-03-19 13:28] jxerome commented on #8817
To be clear:
- `OrientDB.create("my$database",...)` creates a database in directory `my/database`.
- `OrientDB.exists("my$database")` tests the existence of directory `my$database`.

[2019-03-19 20:35] grimace opened #8819 "nodejs update whole record ( or Vertex )"
### OrientDB Version: 3.0.x
### Java Version: java 8
### OS: linux ( server ), nodejs ( OSX )

## Expected behavior
how to update whole record, where multiple fields have changed and I don't want to set every vertex field in statement

## Actual behavior
it's not clear

## I can do this,
[code]
but can't do this:
[code]
Is that possible, or is there more documentation on how to do this?

[2019-03-19 21:24] wolf4ood commented on #8819
Hi @grimace

what's inside vertex variable?

[2019-03-19 22:15] grimace commented on #8819
It's an Event Object that extends a Vertex and has multiple fields of different types.  For our purposes, we are building an editor ( similar to the studio ) where the contents can be edited and the whole object saved ( updated ) to the DB.

[2019-03-20 11:43] wolf4ood commented on #8819
@grimace

do you get an error with this?

[code]

[2019-03-20 13:14] grimace commented on #8819
Yes, I get:
[code]

[2019-03-20 14:01] grimace commented on #8819
Turns out if I remove the @rid, @class and @version, then it works fine:
[code]

which is certainly acceptable for me.

[2019-03-20 14:01] #8819 closed

[2019-03-22 09:57] jschleus opened #8820 "README.md with dead image link"
The current `README.md` file includes an image via the line
[code]
but that file isn't available and leads to an "404 PAGE NOT FOUND".

The issue is also visible on the page https://github.com/orientechnologies/orientdb
by the "missing image" symbol above the line "What is OrientDB?".

[2019-03-25 09:25] Solver42 commented on #6595
As the original issue I do `select 3.193359375` and get `3.1933594`.
### OrientDB Version: 3.0.17
### Java Version: 1.8.0_191
### OS: Windows 10 Version 1803

[2019-03-25 12:47] AdvardJohn opened #8821 "Teleporter connection failed"
### OrientDB Version: 3.0.12, 3.0.18
### Java Version: 8 192
### OS: Win 7 (**offline**)

## Expected behavior
completed connection test (studio)

## Actual behavior
"java.lang.IllegalArgumentException: com.orientechnologies.teleporter.exception.OTeleporterRuntimeException: java.net.UnknownHostException: svn.ets.berkeley.edu\u000d\u000a--> com.orientechnologies.teleporter.exception.OTeleporterRunt

[2019-03-25 13:11] #8821 closed

[2019-03-25 13:14] AdvardJohn commented on #8821
Solution: copy jdbc (oracle) files to orientdb\lib

[2019-03-25 18:52] petervavro opened #8822 "How to remove duplicates from UNWIND query result ?"
### OrientDB Version: 3.0.17
### OS: Mac OS X 10.14.2

## Expected behavior
I have a case when UNWIND is used in query, it sometimes returns the same items more times. This behavior is totally correct but, how do I eliminate duplicates in it, please?

Thanks.

[2019-03-26 08:11] luigidellaquila commented on #8822
Hi @petervavro

Which is the exact query? Typically a `SELECT DISTINCT` is enough to solve the problem

Thanks

Luigi

[2019-03-26 08:51] Solver42 opened #8823 "Select float returns different value"
### OrientDB Version: 3.0.17
### Java Version: 1.8.0_191
### OS: Windows 10 Version 1803

## Expected behavior
Returning `53.546754`

## Actual behavior
Returning `53.546753`

## Steps to reproduce
`SELECT 53.546754`

[2019-03-26 11:10] luigidellaquila commented on #8823
Hi @Solver42

This is because of number precision. By default floating point numbers are treated ad Java Float, but you can force OrientDB to use Double instead:

[code]

If it's not enough, you can use absolute precision Decimal:

[code]

I hope it helps

Thanks

Luigi

[2019-03-26 11:36] Solver42 commented on #8823
I see, that helps. Thank you!

[2019-03-26 11:36] #8823 closed

[2019-03-27 20:28] gryffon opened #8825 "OrientDB w/hazelcast is unable to start on a docker container due to the public-address being the address of the host not the container"
### OrientDB Version: 2.2.36
### Java Version:   OpenJDK Runtime Environment (build 1.8.0_191-b12)
### OS:  CentOS Linux release 7.6.1810 (Core)

## Expected behavior
Have someway to support NAT-like behavior in OrientDB w/hazelcast and docker.

## Actual behavior
When supplying a <public-address> via the hazelcast.xml, OrientDB uses this to try and bind it's listener. In this case, the public-add

[2019-03-28 15:40] petervavro opened #8826 "Unable to install/start v3.0.18 for Mac"
### OrientDB Version: v3.0.18
### Java Version: "11" 2018-09-25
### OS: 10.14.3

## Expected behavior
As described in readme.txt > QUICK START.

## Actual behavior
I am not able to install/start OrientDB v3.0.18 on Mac. Getting following error in the terminal :
[code]

## Steps to reproduce
`$ orientdb-3.0.18/bin/server.sh`

[2019-03-28 17:58] petervavro opened #8827 "Comparison of context variables in if() does not work properly if a value in the variable is assigned by custom JS function."
### OrientDB Version: v3.0.17
### Java Version: "11" 2018-09-25
### OS: MacOS 10.14.3

First, lets' create following custom JS function for testing :
_testFunction1_ :
`CREATE FUNCTION testFunction1 "return Math.floor(Math.random() * 12) + 1;" PARAMETERS [param] LANGUAGE Javascript;`

_testFunction2_ :
`CREATE FUNCTION testFunction2 "return param;" PARAMETERS [param] LANGUAGE Javascript;`

## Expe

[2019-03-28 19:37] rjstanton1 opened #8828 "Connection to Sisense (BI Tool)"
### OrientDB Version: 2.2.26
### Java Version: 11.0.2
### OS: Windows Server 2016 Data Center

## Expected behavior
<add here>

## Actual behavior
When attempting to connect receive an error: "Cannot open database <database name>. Occasionally when attempting to connect the error "Cannot establish connection with provided parameters."

Here is an excerpt from the logs while connecting.
2019-03-28

[2019-03-30 14:44] beachtom opened #8829 "Lucene Spatial Indexes"
### OrientDB Version: 3.0.18
### Java Version: 1.8.0_201
### OS: Ubuntu Linux

## Expected behavior
Lucene Spatial Index functions as normal

## Actual behavior
Periodically - lucene index gets into a non-working state. Orientdb server restart required to solve the issue.

## Steps to reproduce
None - occurs randomly.

[2019-03-31 21:47] grimace opened #8830 "how to check is exists before creating edge"
### OrientDB Version: 3.0.17
### Java Version: JDK 8.x
### OS: ubuntu 18.x

## Expected behavior
would like to only create one edge, but need to check if exists first

## Actual behavior
just don't know how to do this

## Steps to reproduce
something like:
CREATE EDGE E FROM #22:33 TO #22:55 IF NOT EXISTS

[2019-04-01 08:22] Solver42 commented on #8788
I get same results with:
OrientDB Version: 3.0.17
Java Version: 1.8
OS: Windows 10

[2019-04-01 09:59] luigidellaquila commented on #8830
Hi @grimace

You can do it in a single statement with CREATE EDGE UPSERT:

[code]
The UPSERT requires a UNIQUE index on EdgeClass[out, in] and only checks if the edge exists between the two vertices (it doesn't check other properties)

docs here:

https://orientdb.com/docs/3.0.x/sql/SQL-Create-Edge.html

Thanks

Luigi

[2019-04-01 13:11] OnlyXYL commented on #8313
I met the issue too.
[code]

OrientDB version: 3.0.18

I need help

[2019-04-01 13:58] eirikur-as opened #8831 "NullPointerException in OrientJdbcStatement.mayCleanForSpark"
### OrientDB Version: 3.0.18
### Java Version: 8
### OS: Ubuntu 18.04

## Expected behavior
No exception

## Actual behavior
[code]

## Steps to reproduce
[code]

[2019-04-01 14:26] grimace commented on #8830
Thank you!

[2019-04-01 16:53] petervavro opened #8832 "Error on get searcher from Lucene index. java.lang.IllegalStateException: The managed reference has already closed - this is likely a bug when the reference count is modified outside of the ReferenceManager"
### OrientDB Version: v3.0.17
### Java Version: "11" 2018-09-25
### OS: MacOS 10.14.3

## Actual behavior
OrientDB server restart required to solve the issue.
[code]

## Steps to reproduce
It occurs randomly. I am not able to share the query with you but interesting thing is that it does not contain "SEARCH CLASS" so I don't understand why is it happening.

[2019-04-01 23:18] misu200 opened #8833 "EMBEDDEDMAP data type not working as expected in WHERE part of a MATCH query"
OrientDB Version: 3.0.18
Java Version: 1.8.0_181
OS: Ubuntu 16.04

It seems the SQL query parse for MATCH cant work with embeddedmap in WHERE clause

Simple test database:

[code]
The following query throws an exception:
`MATCH {class:NNode,as:BaseNode, where:(id=1)}.outE(){as:MyEdge,where:($currentMatch.series["1"]="one")} return $matches;`

while the following working as expected:
`MATCH {class:

[2019-04-02 07:24] luigidellaquila commented on #8833
Hi @misu200

Thank you very much for reporting, I'll check it ASAP

Thanks

Luigi

[2019-04-02 12:25] #8833 closed

[2019-04-02 12:26] luigidellaquila commented on #8833
Hi @misu200

I just pushed a fix, it will be in the snapshot in a few minutes and will be released with v 3.0.19

BTW, in this case you can omit `$currentMatch`, a simple `where:(series["1"]="one")` will work as well

Thanks

Luigi

[2019-04-02 13:45] wolf4ood commented on #8832
Hi @petervavro

is this happening after x time?

are you doing  the filter ` field lucene something` ?

Thanks

[2019-04-02 13:58] petervavro commented on #8832
Hi,

Yesterday I found out the query which causing it :

[code]

Class definition :

[code]

[2019-04-03 09:40] luigidellaquila commented on #8831
Hi @eirikur-as

I'm checking it, I'll let you know ASAP

Thanks

Luigi

[2019-04-03 09:44] #8831 closed

[2019-04-03 09:44] luigidellaquila commented on #8831
Hi @eirikur-as

I just pushed a fix, the snapshot will be available in a few hours.
It will be released with v 3.0.19

Thanks

Luigi

[2019-04-03 09:59] wolf4ood commented on #8832
Hi @petervavro

i was able to reproduce this. I'm working on a fix

Thanks

[2019-04-04 04:40] rbaarathi opened #8834 "Multi threading : how transactions are maintained across multi threading"
### OrientDB Version: orientdb-community-2.2-20
### Java Version: Java -8
### OS: LINUX

## Expected behavior
How to achieve transactions in multi threading on clusters.

## Actual behavior
In Orient database, we have n number of tables created and for each table we are creating unique clusters based on the count to be added in that table and adding those records in that cluster by specifying the

[2019-04-04 05:50] laa commented on #8834
Hi, transactions are not maintained across multithreading and I am not aware of any database which supports transactions across multiple threads.

[2019-04-04 05:52] #8834 closed

[2019-04-04 06:03] adithyank commented on #8834
@laa

Our initial data loading in to orientdb took more than 25 hours.

We then used the stored the records of one class to multiple clusters. Writing in clusters is now done in multiple threads. i.e., one cluster writing is done by only one thread.

This improved our writing performance from 25 hours to 7 hours. Since it is done in multiple threads, we have lost the ATOMIC writing and hence rollb

[2019-04-04 06:08] rbaarathi commented on #8834
@laa  Please change the state from closed to open..

[2019-04-04 07:29] laa commented on #8834
@rbaarathi, unfortunately, we do not have plans to support transactional behaviour across multiple threads in the foreseeable future.

[2019-04-04 10:48] diegomtassis opened #8835 "Question about SQL IN operator with rids"
### OrientDB Version: 2.2.37

I have a question regarding the usage of the IN operator when it applies to rids.
Using my demo data:

This query returns all the cars belonging to Ferrari or Mclaren:
`SELECT  FROM Car WHERE team.name IN ['Ferrari', 'McLaren F1']`

But this one returns no cars at all (the ids are the ones of Ferrari and McLaren):
`SELECT  FROM Car WHERE team.@rid IN ['#44:0', '#41:0'

[2019-04-04 11:59] luigidellaquila commented on #8835
Hi @diegomtassis

Do you have a SQL script to reproduce the problem?
Have you tried the following?

[code]

Thanks

Luigi

[2019-04-04 12:00] luigidellaquila commented on #8835
Oh, I just noticed that you have quotes around the RIDs, did you try to remove them?

[code]

Thanks

Luigi

[2019-04-04 12:10] diegomtassis commented on #8835
Hi Luigi,

It works removing the quotes, thanks.

But why are they needed when using equals instead of IN?

I mean this query works with quotes:
`SELECT  FROM Car WHERE team.@rid = '#41:0'`

[2019-04-04 12:16] rustama opened #8836 "REST API (gzip-ed or compressed request body not working - Lexical error returned)"
### OrientDB Version: 3.x.x
### Java Version: ANY
### OS: ANY
Server: OrientDB Server v.3.0.17 - Veloce (build 84af3dc7a5f8bca700354564d5fcc3b7545441fc, branch 3.0.x)
## Expected behavior
sending JSON documents to DB when body compressed

## Actual behavior

{
  "errors": [
    {
      "reason": 400,
      "code": 400,
      "content": "Lexical error at line 1, column 1.  Encountered: \"\\u001f\"

[2019-04-04 12:25] rustama commented on #8836
strange

[2019-04-04 12:44] luigidellaquila commented on #8835
Hi @diegomtassis

I'd say that in that case there is an automatic conversion that does not happen with the IN operator. In general, the correct expression is without quotes

Thanks

Luigi

[2019-04-04 12:45] diegomtassis commented on #8835
Ok, when using equals they are not needed but they are supported.

`SELECT FROM Car WHERE team.@rid = '#41:0'`
`SELECT FROM Car WHERE team.@rid = #41:0`

These 2 queries are both valid, but when it comes to the IN operator only the unquoted version is supported.

In contrast, if the field is not the rid the values have to be quoted.

`SELECT FROM Car WHERE team.name IN ['Ferrari', 'McLaren F1']`
`

[2019-04-04 12:53] rustama commented on #8836
lack of documentation on the subject.
Accept-Encoding: gzip
do the work

[2019-04-04 12:53] #8836 closed

[2019-04-04 12:57] luigidellaquila commented on #8835
Hi @diegomtassis

The point here is that strings are quoted, while other data types are not.
A RID is not a string and is not quoted, the same way an integer and a floating point number are not quoted, there is no difference.

Thanks

Luigi

[2019-04-04 13:39] #8832 closed

[2019-04-04 13:40] wolf4ood commented on #8829
Hi @beachtom

i've just pushed a fix for this. It will be available in the next release

Thanks

[2019-04-04 13:41] #8829 closed

[2019-04-04 13:41] diegomtassis commented on #8835
Understood.

I think the solution for us will be to have 2 different keys per each entity, use the rid as a surrogate key and add a string business key, though obviously using the business key will perform worse.

Thanks.

[2019-04-04 13:42] wolf4ood commented on #8832
Hi @petervavro

i've just pushed a fix for this. It will be available in the next release

Thanks

[2019-04-05 02:36] grimace opened #8837 "node.js query returns: "TypeError: Cannot set property '@rid' of null" and kicks to curb"
### OrientDB Version: 3.0.17
### Java Version: JDK 11
### OS: OS/X Mojave

## Expected behavior
if query fails, should just report an error and not kill application, tho same query used to work and same query does work for studio

## Actual behavior
node application exits, reporting this stack trace:

[code]

## Steps to reproduce
sorry I don't have a unit test, but the query is:
```traverse both(

[2019-04-05 04:57] adithyank commented on #8834
@laa Andrey,

That is understood.. Pls see my above comment and just comment whether that is the only way...
(i.e., writing all the records of different clusters in one thread within transaction. This will worsen our writing time.. But, is that the way to it...)

If we want to achieve better writing speed, we cannot have Transaction?
If we dont want ATOMIC writing, then we can do multi-threading w

[2019-04-05 06:25] andreyvk commented on #8762
@luigidellaquila hi,

Any luck with this issue?

[2019-04-05 08:33] laa commented on #8834
Hi @adithyank if you do not want atomic writes sure, you can do writes in several clusters without problems. I am working right now to speed up things in a couple of times during data load, but unfortunately, that will be only in 3.1 version.

[2019-04-05 17:22] creisle commented on #8693
@luigidellaquila any luck here? this is blocking me upgrading to v3. I looked into swapping to lucene indices but they are overkill for my use-case and hang so I cannot delete that database with them (related to 8471) so this seems like the only option atm

[2019-04-08 06:38] luigidellaquila commented on #8693
Hi @creisle

Sorry, not yet :(

I hope I'll find some time to fix it this week

Thanks

Luigi

[2019-04-08 21:31] hrstoyanov commented on #8672
This issue prevent us from deploying to BETA even!

[2019-04-09 08:54] nkbali commented on #7439
I managed to build the jar and added it o my plugins directory. Configured the server config file but still nothing appears in my syslog.

Added to handlers section of the server config file.

</handler><handler class="com.orientechnologies.security.syslog.ODefaultSyslog">
    <parameters>
        <parameter name="enabled" value="true"/>
        <parameter name="debug" value="false"/>
        <par

[2019-04-09 13:09] bibou1 commented on #8826
Hi,
I have the same problem, did you find the solution ?

[2019-04-09 22:07] bibou1 commented on #8826
Hi Laa,
Thank you for answering, I can not control the subject, should I paste the code in the orientdb-server-config.xml file? That's what I did and it still does not work, did I have to stick it to a pre-designated place?
Thank you for the time you will take to answer me.

[2019-04-09 23:25] hrstoyanov commented on #8672
Thanks @laa , I got stack trace for 3.0.18 yesterday, but did not preserve it. As soon as I reproduce it , i will send it here

[2019-04-09 23:52] akshattandon commented on #8335
@wolf4ood In which version of OrientDB this fix is available or expected to be available?

[2019-04-10 04:26] grimace commented on #8826
This is also happening to me on ubuntu 18 ( with java 11 ).   Is there a way to work around without rebuilding the server?

[2019-04-10 06:10] laa commented on #8826
Hi guys. I do not need to rebuild server or change XML you need to put jar described by this maven dependency into the server `lib` directory.

[2019-04-10 11:59] luigidellaquila commented on #8693
Hi @creisle

I have good news for you, I just pushed a fix for this problem. The fix will be released with v 3.0.19, the snapshot will be available in a few minutes

Anyway, in general I strongly suggest you to use Lucene indexes instead of the legacy FULLTEXT indexes, that are much more stable

Thanks

Luigi

[2019-04-10 12:00] #8693 closed

[2019-04-10 13:02] usef911 commented on #8762
Hi @luigidellaquila
Any updates on this? This bug essentially makes the REST API unusable.
Thanks

[2019-04-10 16:38] PeterTheDBA commented on #8275
Will there be a tp3 release for later subversion of 3.0?

[2019-04-10 16:40] PeterTheDBA commented on #8275
Disregard, found it with a little bit of URL hacking https://s3.us-east-2.amazonaws.com/orientdb3/releases/3.0.18/orientdb-tp3-3.0.18.tar.gz

[2019-04-10 20:53] creisle commented on #8693
@luigidellaquila thank you so much! I will likely revisit swapping to the lucene indexes later once https://github.com/orientechnologies/orientdb/issues/8471 is resolved

[2019-04-11 00:13] hrstoyanov commented on #8672
@laa this happened today with 3.0.18. What makes this particularly insidious issue is that once it happens, restarting the ODB server does not help. I really have to wipe out the old database and build a new database, losing all the data in the process!

I still have not tried ```-Dstorage.wal.allowDirectIO=false``` on my Windows 7 64-bit machine with Java8- 202

[code]

[2019-04-12 15:29] bplumejeau opened #8838 "Custom key on property subset"
Using OrientDB 2.2.19 and remote storage ,set strictSql=false

I need to define index on part of property of type byte[] (from index 2 to 3 for example)
I tried to use Custom Key [http://orientdb.com/docs/2.2.x/Indexes.html Custom Keys]  and I faced an issue

when I create a custom index on remote database
I get exception : com.orientechnologies.orient.core.exception.OConfigurationException: Runti

[2019-04-14 14:46] laa commented on #8838
Hi, @bplumejeau could you provide full stack trace which you get when registering binary serializer. I need to warn you that when we fix this issue you still will need to wait quite a while for the next 2.2.x release. Could you try 3.0.x version instead?

[2019-04-14 19:23] hrstoyanov opened #8839 "[3.0.18] WAL issues during shutdown"
### OrientDB Version: 3.0.18
### Java Version: 1.8 u202
### OS: McOS

@laa , @tglman

When shutting down ODB 3.0.18 (earlier versions too) server with Ctrl-C the below exceptions occur. Just like #8672, this is incredibly nasty issue - the database can no longer be used and I have to rebuild it completely, potentially losing data.

[code]

[2019-04-16 08:04] laa commented on #8839
Hi @hrstoyanov could you replace dot (`.`) in the name of your database by an underscore `_` and try again?

[2019-04-16 08:37] laa commented on #8672
Hi @hrstoyanov could you remove dot `.` from DB name and replace it by underscore for example `_` and try again?

[2019-04-17 13:06] fpra opened #8842 "Load balancing issie"
### OrientDB Version: 2.2.37
### Java Version: OpenJDK Runtime Environment (build 1.8.0_181-b13)
### OS: CentOS 7

## Expected behavior
Every connection is created with a different URL

## Actual behavior
As for issue #7110 i'm having issues with client load balancing.
I create a graphFactory at BE startup as shown below:
[code]
Url is composed as this: remote:ip1;ip2;ip3/dbName

We noticed that e

[2019-04-18 07:21] nohunt opened #8843 "Using ETL to import data from mysql, an "Exception in thread'OrientDB WAL Flush Task'" exception occurs"
### OrientDB Version: <3.0.15>
### Java Version: <1.8.0_172>
### OS: <centos 6.5 64bit>

[code]

restart "server.sh" The following error occurred

[code]

[2019-04-18 07:43] laa commented on #8843
Hi please set system property "-Dstorage.wal.allowDirectIO= false" it should solve the issue.

[2019-04-18 08:23] nohunt commented on #8843
Thank you, let me try it.

[2019-04-18 08:23] nohunt commented on #8843
Thank you, let me try it.

[2019-04-19 02:43] lancedouglas1 commented on #8826
FYI, for people looking for that dependency jar, it's here: `http://central.maven.org/maven2/javax/activation/javax.activation-api/1.2.0/javax.activation-api-1.2.0.jar`

I just wget'ed the file into the $ORIENT_INSTALLATION_DIR/lib folder and then ran $ORIENT_INSTALLATION_DIR/bin/server.sh and it worked as expected, now.

[2019-04-19 14:59] maxlam79 opened #8844 "Scala: session.save ODocument throws ClassCastException when in a 'for loop'"
### OrientDB Version: 3.0.18
### Java Version: 1.8.0_201, Scala: 2.12.8, SBT 1.2.7
### OS: Docker Image on Mac OSX 10.14.4

I have discovered a very weird behaviour when saving an ODocument within a "for loop" in Scala, which threw an exception and message:
java.lang.ClassCastException: com.orientechnologies.orient.core.record.impl.ODocument cannot be cast to scala.runtime.Nothing$

I have written

[2019-04-20 01:41] PhantomYdn opened #8845 "OrientDB 3.x doesn't support multi pools"
### OrientDB Version: 3.x

OrientDB 3.x doesn't provide the ability to have a multi-pool - when next connection can be retrieved for a specified username and password.
OrientDB 2.x supports that through OPartitionedDatabasePoolFactory, but there is a lack of such capability in 3.x. Apparently, OrientDB has a great security model and it's really strange that it lost this ability of multi-pools in v

[2019-04-21 09:09] xiaoyao1999hn opened #8846 "orientdb jdbc transaction can't rollback"
i use orientdb-jdbc insert a record，and i throw a exception before commit ,but is does't work,the record has saved .
`        Connection connection= DbUtils.getConnection();
        Statement statement=null;

        String sql= " INSERT INTO DIC_TABLE (id,tableName, tableUser) VALUES ('2','t_role_menu', 'chengjie')";
        try{
            connection.setAutoCommit(false);
            statement=

[2019-04-23 18:54] hrstoyanov commented on #8839
@laa I am testing your suggestion to rename the database file on Win7 and MacOs. So far it seems to work, but let's keep this issue open a little longer until I test more...

[2019-04-23 18:58] hrstoyanov commented on #8672
@laa I am testing your suggestion of ```-Dstorage.wal.allowDirectIO=false``` as well as renaming the database file name you suggested for #8839. So far both issues: #8672 and #8839 appear resolvd, but let's keep them open for a while to do more testing. Thanks!

[2019-04-24 03:36] nohunt commented on #8843
According to the above method, the problem is solved. But at the same time, I modified the JVM to make the memory settings. Because MySQL has 1 billion data. I'm afraid the data is too big. I read it in batches. Because I found that oirentdb reads all the data at once.

[2019-04-24 06:30] nohunt opened #8847 "Using pyorient, execute “update #38:0 add date="2018-08-07"” exceptions."com.orientechnologies.orient.core.exception.ODatabaseException: Error during saving of record with rid""
### OrientDB Version: <3.0.15>
### Java Version: <1.8.0_172>
### OS: <ubuntu 14.04 64bit>

I want to use pyorient to update the data of edge attributes. I started with "update 38:0 set date = date | |"2018-08-07". The following error occurred。

After that, change to "update 38:0 add date=" 2018-08-07 ". The following error occurred.

EDGE PROPERTY IS EMBEDDEDLIST TYPE

[2019-04-24 07:02] laa commented on #8839
Cool!

[2019-04-24 10:17] adadouche commented on #8440
Hi @jamendub , @willyrj , @owennewo , @rabinnh and others,

Looking at the logs you should see a message saying the following after the ***VehicleHistoryGraph\database.ocf for storageVehicleHistoryGraph*** message:
[code]
So, I tried to export the VehicleHistoryGraph  from a version 2.2.x instance and import it into my 3.0.18 but it failed because of the existence of a property named ***rules** of

[2019-04-27 10:33] gaithoben opened #8848 "Encountered " "(" "( "" at line 1"
### OrientDB Version: 3.0.18
### Java Version: 1.8.0
### OS: mac

## Expected behavior
Execute sql statement

## Actual behavior

Error: com.orientechnologies.orient.core.sql.OCommandSQLParsingException: Error parsing query:
insert into student(FirstName, LastName, DOB) values(Ben, WildKid 1983)
                   ^
Encountered " "(" "( "" at line 1, column 20.
Was expecting one of:
    <SELECT> .

[2019-04-27 18:42] hrstoyanov commented on #8839
@laa,
I concluded that removing the . in the database  name resolved the issue for me. Please document this and decide if you want to close this issue. Thank you!

[2019-04-28 07:39] luigidellaquila commented on #8848
Hi @gaithoben

You miss a comma between `'WildKid'` and `1983`

Thanks

Luigi

[2019-04-28 07:54] gaithoben commented on #8848
Indeed!! Thank you so much @luigidellaquila

Thank you so much for OrientDB. I am developing a "Better" to use with sailsjs since i find most of the available ones old and no longer supported.

Please let me know what you think about this.

[2019-04-28 18:35] denis-itskovich commented on #7424
2 years later, and unfortunately it's absolutely unclear how to configure the embedded server in order to serve the static files from orientdb-studio maven artifact. Any chance to get a hint or link to example configuration?

[2019-04-28 19:03] thenesk opened #8849 "How to limit number of clusters per class?"
### OrientDB Version: 2.2

How do I limit the number of clusters created per class?  My application, currently using Pyorient 1.5.5 to communicate with OrientDB 2.2, runs significantly slower on my 32 core production servers than it runs on my 4 core test VMs.  I suspect it is because OrientDB is splitting the data across more clusters when there are more cores.  Rather than let OrientDB set the n

[2019-04-28 19:42] luigidellaquila commented on #8849
Hi @thenesk

This is the command:

[code]

(or just choose the number of clusters you prefer)

Thanks

Luigi

[2019-04-28 19:46] thenesk commented on #8849
Thanks for the quick reply!  Would the same format command work for setting a maximum?
`ALTER DATABASE MAXIMUMCLUSTERS 4`

[2019-04-28 19:50] thenesk commented on #8849
I think I have too many clusters on my production server, and would like to reduce the maximum number of clusters created per class

[2019-04-28 20:03] luigidellaquila commented on #8849
Hi @thenesk

just use MINIMUMCLUSTERS, it actually sets a maximum ;-)

Thanks

Luigi

[2019-04-29 10:16] vitalii-honchar opened #8850 "Hook for custom properties"
### OrientDB Version: 2.2.37
### Java Version: 1.8 OpenJDK
### OS: Ubuntu 18.04

In some cases we need hook for update class/property custom properties. We need do some actions before or after update custom properties.

It will be cool if there is something like `ORecordHook` for custom properties.

In general case it will be good to have a hook for update class properties.

Please, consider possi

[2019-04-29 23:42] misu200 opened #8851 "ETL & CSV with column type 'long' conversion error when large number"
OrientDB Version: 3.0.18
Java Version: 1.8 OpenJDK
OS: Ubuntu 18.04

Having perfectly valid Java Long large numbers in a simple CSV file:

[code]
However if I create a simple ETL  with  the following extractor block:

` "extractor": { "csv": {"columns": ["hashu:long"]}}
`

I will get some IllegalFormatConversionException errors like:

If I remove only 1 digit from the above large number everything

[2019-05-01 20:31] grimace commented on #8830
Why do I get this exception while trying to create an edge?
[code]
I don't think I'm trying to set any properties on the Edge.

here's how I'm executing the create/upsert:
[code]
cb is a callback in nodejs...