[2017-06-15 11:00] luigidellaquila commented on #7495
Hi @thanveeraqtharah

The only other alternative for pagination (apart the two you mentioned above) is using another filter by a property (eg. an ID or a sequence number), index it and then do a range query on it.

About the case insensitive search, IMHO the best thing you can do is using a Lucene index: http://orientdb.com/docs/2.2.x/Full-Text-Index.html

Thanks

Luigi

[2017-06-15 11:29] hanksieM opened #7496 "Error on addVertex with mandatory fields"
### OrientDB Version: 2.2.21
### Java Version: 1.8.0_131
### OS: Linux (Fedora 24)

## Expected behavior
call to framedGraph.addVertex returns an empty instance that mandatory fields can then be populated prior to a commit.

## Actual behavior
the call framedGraph.addVertex( class) attempts to save the instance but fails due to missing mandatory fields.

## Steps to reproduce
Upgrading a Play appl

[2017-06-15 12:59] ozgursucu commented on #7477
Hi @laa In standalone mode everything is fine.

[2017-06-15 13:15] likesh1980 commented on #7235
Hi @robfrank I will try with 2.2.21 but if you have some time I can replicate this in front of you with Jmeter code as well. The issue is that it works fine for some time with a Java application and after that all requests fails with the same error message, somehow I have a feeling the validation does not look correct and all requests started failing.

[2017-06-15 14:01] likesh1980 commented on #7235
Hi @robfrank, I added some logging and if you see using spring data it is getting the same database object (db.hashCode() = 121375752) in 2 threads if you see thread number 15 and 18 from pool (qtp85445963-18 and qtp85445963-15), where as the pool should be providing different  db objects, so I think this is an issue with pool code in orientdb if you agree based on log below.

2017-06-15 13:30:53.

[2017-06-15 14:05] robfrank commented on #7235
wich version of OrientDB spring  data?

[2017-06-15 14:48] laa commented on #7312
Hi, @anber500 sorry for long silence too much of other activities. But I wanted to ask you do you still need a tool which will rebuild your index and report all rids of duplicated records into the log so you may use this information to drop all duplicated records from the database ?

Could you also list all issues which you still have with ODB, so we will fix it for you?

[2017-06-15 14:52] likesh1980 commented on #7235
Hi @robfrank , I am using 0.14-SNAPSHOT version of orientdb spring data. If you want I can take the latest version or so.

[2017-06-15 14:52] RAndrews137 commented on #7295
I believe this issue is no longer occurring.  @dalegarv, can you please confirm.  If so, can you please mark this ticket as closed?

[2017-06-15 15:30] laa commented on #7477
Thank you, @ozgursucu  will assign an issue to distributed team so they will check protocol and fix it.

[2017-06-15 15:33] laa commented on #7477
@careerscale I am not sure if you work in the same team with @ozgursucu or not. If you able to reproduce this issue on the standalone server please let us know. Would be cool also if you provide a test so we will be able to reproduce it too.

[2017-06-15 15:44] robfrank commented on #7235
I released 0.14, if you prefer a stable version

[2017-06-15 15:49] laa commented on #7281
Fixed, thank you for a report !

[2017-06-15 15:49] #7281 closed

[2017-06-15 16:40] likesh1980 commented on #7235
Thanks @robfrank . I will try with that and update what I find and if the issue is fixed.

[2017-06-16 00:07] careerscale opened #7497 "OrientDB 3.0 -.OCommandExecutionException: Cannot execute query on non idempotent statement:"
### OrientDB Version:3.0
### Java Version: 1.8
### OS: Win 7

## Expected behavior
should be able to delete vertex through queries.

## Actual behavior
[code]
## Steps to reproduce
https://github.com/careerscale/orientdb-demo/blob/master/orientdb-java-sample/src/test/java/com/orientdb/samples/test/MemoryDbDeleteTest.java

[2017-06-16 05:45] PhantomYdn opened #7498 "NPE in ODocument.containsField(...)"
### OrientDB Version: 2.2.21
### Java Version: 8+
### OS: any

There is the following exception happening in our code:

[code]

According to code: extra check of `_fields` seems needed. Also I noticed, that not all methods contains safe use of _fields.

[2017-06-16 06:31] ozgursucu commented on #7477
@laa We are not in the same team with @careerscale.  Note that I am using ROUND_ROBIN_CONNECT remote connection strategy. Today I also sometimes faced a problem about this exception even if there is single process in the db and i simply delete vertexes.
<img width="1130" alt="screen shot 2017-06-16 at 09 23 48" src="https://user-images.githubusercontent.com/15319587/27214727-8bcdc6c4-5276-11e7-81e

[2017-06-16 06:40] ozgursucu commented on #7477
And I also see that There are replication problems and the system does not replicate the vertexes to the other server.

[2017-06-16 07:10] lvca commented on #7477
@ozgursucu the replication part in 3.0 wasn't updated with last things from 2.2.x. We're doing this right now and it will be part of 3.0-M2 that we will release in 2 weeks.

[2017-06-16 07:14] ozgursucu commented on #7477
@lvca The problems that I reported comes from 2.2.21.

[2017-06-16 07:14] tommasop opened #7499 "Password format to reproduce the hash"
I'd like to know how to check for a correct login matching the hashed password.

What is the actual saving format and what does each colon separated part means?

{used_algorithm}first_part:second_part:third_part

From what I can find online the third_part seems to be the number of iterations? Or the salt?

Can you share some insights please?

[2017-06-16 07:31] luigidellaquila commented on #7497
Hi @careerscale

This is not a bug, the following row is invalid:

[code]

`DELETE VERTEX` is a non-idempotent command, you have to use `command()` instead:

[code]

Thanks

Luigi

[2017-06-16 07:31] #7497 closed

[2017-06-16 08:13] lucafrosini commented on #7354
Sorry @lvca, I lost your message. I'm going to test it. Thanks a lot

[2017-06-16 08:34] laa commented on #7426
Hi @Raycoms , could you kindly provide a testing scenario. Otherwise, it is pretty hard to fix it because we can not reproduce it.

[2017-06-16 08:37] robfrank commented on #7483
Edges are always bi-directional inside OrientDB. A vertex has in and out edges, is up to you how to model the relationships.

[2017-06-16 08:51] robfrank commented on #5515
MoreLikeThis and Similarity are part of 3.0.x development plan

[2017-06-16 08:51] #5515 closed

[2017-06-16 08:55] robfrank commented on #5205
a lot of this properties are configurable at index creation time

[2017-06-16 08:55] #5205 closed

[2017-06-16 09:32] tglman commented on #7451
hi @careerscale,

The retry should be done on the whole transaction not just on the commit, so you can do retrying but this need to be wrapped around the whole tx operations.

[2017-06-16 09:36] laa commented on #7186
I am going to create and run following test https://gist.github.com/laa/9666aee30823ea5cd5fc3dd0426d7ce9 if during this test I will not encounter the bug I will close this issue.

[2017-06-16 10:47] #7457 closed

[2017-06-16 13:00] laa commented on #7434
Close because incorrect usage of composite keys in index.

[2017-06-16 13:00] #7434 closed

[2017-06-16 13:00] Raycoms commented on #7426
Sorry guys, I'm super busy with my thesis at the moment, as soon as I
wrapped up the last things I will try to reproduce it and provide you with
an example.

2017-06-16 5:34 GMT-03:00 Andrey Lomakin <notifications@github.com>:

[2017-06-16 15:04] lucafrosini commented on #7354
The simple tests I provided (upgraded to 2.2.21) at https://github.com/lucafrosini/orientdb-bug-reports now does not fails.
Unfortunately I still have the error in my real environment (upgraded to 2.2.21 both  client and server).

The bug happens every time in a transaction involving the updates of different vertex and edges on the element having an EMBEDDELIST or EMBEDDEDSET.

I'm attaching the e

[2017-06-16 15:12] zambra33 opened #7500 "SEVER Data restore was paused because of exception. during server starup"
### OrientDB Version: <3.0.0m1>
### Java Version: <1.8.0_131>
### OS: <Win 10>

## Expected behavior
Ran the server.bat file and expected for the server to start

## Actual behavior
(1) Ran the server.bat file and server startup failed and displayed the following message:
2017-06-16 10:39:08:089 SEVER Data restore was paused because of exception. The rest of changes
will be rolled back and WAL fil

[2017-06-16 15:41] laa commented on #7426
Hi @Raycoms we will be waiting for your case. Thank you very much for the help !

[2017-06-16 15:44] laa commented on #7500
@zambra33 this already has been fixed in M2. We will release this version in a couple of weeks.

[2017-06-16 15:45] #7500 closed

[2017-06-16 15:45] laa commented on #7500
@zambra33 Thank you very much for your report, we really appreciate your effort and time!

[2017-06-16 15:59] obi1kenobi opened #7501 "Performance inconsistency between equivalent MATCH queries"
### OrientDB Version: 2.2.18
### Java Version: OpenJDK 8
### OS: Linux

## Expected behavior
The following two queries should have equivalent performance, since the `BETWEEN` operator, per the docs, is defined as a `<=` comparison plus a `>=` comparison. When a (non-hashed) index covers the `Foo.name` field, the index should be used for both queries.

[code]

[code]

## Actual behavior
When `Foo`

[2017-06-16 16:25] lvca commented on #7477
@ozgursucu we fixed an issue on delete vertex in current 2.2.x branch. It will be out next week as 2.2.22, but it would be awesome if you could already test this by using latest 2.2.22-SNAPSHOT.

[2017-06-16 16:28] obi1kenobi commented on #7501
It also appears that the fact that the index is on a superclass is important. The problem goes away if the index is defined on `Foo.name` instead of `AbstractBase.name`.

[2017-06-16 19:53] kindofwhat commented on #7489
if it helps: run the following (kotlin) script and kill the process anytime
`

import org.apache.tinkerpop.gremlin.orientdb.OrientGraphFactory

fun main(args: Array<String>) {

    val o = OrientGraphFactory("plocal:C:/windows/temp/testdb").tx

    for (i in 0..1000) {
        o.addVertex("label")
        println("now would be a good time to kill the process")
        Thread.sleep(5000)
    }
}
`

[2017-06-17 20:21] warriorkitty opened #7503 "Lucene full text index tests fail on the fresh clone of develop"
### OrientDB Version: branch develop
### Java Version: 1.8.0_131
### OS: macOS

## Expected behavior
All tests pass.

## Actual behavior
[code]
## Steps to reproduce
`$ mvn clean test --fail-at-end`

[2017-06-18 02:35] careerscale commented on #7497
@luigidellaquila , is this only for DELETE or for create too? even that won't be idempotent right?

basiscally for all DDL (as in SQL)  command shoul dbe used, is this right thing to say?

[2017-06-18 08:04] luigidellaquila commented on #7497
Hi @careerscale

As a general rule, you can use query() for SELECT, MATCH and TRAVERSE. For all the rest you have to use command()

Thanks

Luigi

[2017-06-18 08:04] luigidellaquila commented on #7497
Hi @careerscale

As a general rule, you can use query() for SELECT, MATCH and TRAVERSE. For all the rest you have to use command()

Thanks

Luigi

[2017-06-18 19:56] TropicalPenguin opened #7504 "Batching Multiple SELECTs without unionall()"
### OrientDB Version: 2.2.21
### Java Version: <version here>
### OS: Ubuntu 17.04

## Expected behavior
I would like to retrieve records from multiple selects independently, while avoiding round-trips.

unionall(), as suggested in #5429, gives a single heterogeneous collection of records. Rather than client-side logic to separate these, it would be nice to avoid the union in the first place.

The

[2017-06-18 23:47] careerscale opened #7505 "OrientDB 3.0 - Multiple edges update in single transaction is missing out 1 change from commit"
### OrientDB Version: 3.0
### Java Version: 1.8
### OS:  Windows

## Expected behavior
Within a single transaction, I  should be able to update multiple edges as needed.

## Actual behavior
Looks like at least 1 record is not being updated correctly.

## Steps to reproduce
https://github.com/careerscale/orientdb-demo/blob/master/orientdb-java-sample/src/test/java/com/orientdb/samples/test/Multiple

[2017-06-19 06:36] luigidellaquila commented on #7501
Hi @obi1kenobi

Thank you very much for reporting, I'll check it and let you know asap

Thanks

Luigi

[2017-06-19 06:56] robfrank commented on #7503
our CI is green.
Note that develop branch could be broken, we have Jenkins running 24/7 for that:

https://helios.orientdb.com/view/multibranch/job/orientdb-multibranch/job/develop/

As you can see it is green (blue) since June 12th.

[2017-06-19 06:56] #7503 closed

[2017-06-19 07:05] careerscale commented on #7488
@maggiolo00 is there going to be some fix on code or you meant there is already?

[2017-06-19 07:09] careerscale commented on #7459
Any luck here?

[2017-06-19 07:10] careerscale commented on #7458
@tglman, thanks for the update. are we looking for M2? or RC1?

[2017-06-19 08:21] luigidellaquila commented on #7504
Hi @TropicalPenguin

Unfortunately for now there is no support for multiple expand() in the same query. The resultSet is a single collection of documents, so it's pretty hard to do it in v 2.2.

Thanks

Luigi

[2017-06-19 08:29] #7504 closed

[2017-06-19 08:48] thanveeraqtharah commented on #7495
Ok I will give you the clear picture of db.
 1.There is Document By Name "ds_records".
 2. This Document has 3 fields namely 'appid','sourceid' and 'records'
 and I am saving the data to the above Document as shown below

 private void saveRecords(String documentName,List`<Map`<String, String>`>' records, String appId, String sourceId) {

		for(Map`<String, String>` record : records){
			// create

[2017-06-19 09:01] maggiolo00 commented on #7488
hi @careerscale

i'm not able to reproduce it. It seems that you were able to produce an Edge with the in property null.
It would help to have a test case to reproduce it. But it can be some bug already fixed in tx like delete edge in transaction

[2017-06-19 09:23] maggiolo00 commented on #7505
Hi @careerscale

i do not understand this update

[code]
You are updating an edge by filtering on the `out.id` with the `id` of the edge.
Both Country and PART_OF id are generated by sequence.

How can they match?

[2017-06-19 09:30] luigidellaquila commented on #7501
Hi @obi1kenobi

I just pushed a fix for this. The fix will be released in a few hours with 2.2.22

Thanks

Luigi

[2017-06-19 09:30] #7501 closed

[2017-06-19 09:52] santo-it commented on #7501
Commit https://github.com/orientechnologies/orientdb/commit/e0a4578d014e8c856fe037bdeb9b1adac5fca1b8 - Noted in the Release Notes.

[2017-06-19 10:12] ozgursucu commented on #7477
@lvca  and what about the concurrent modification exception when adding edges?

[2017-06-19 10:14] ggeremy commented on #7496
Hello,

I was upgrading from 2.2.13 to 2.2.21 and I had a problem with addVertex(id).
The class has mandatory properties. And now I can't create an "empty" vertex.

`Caused by: com.orientechnologies.orient.core.exception.OValidationException: The field 'MyClass.myMandatoryField' is mandatory, but not found on record: MyClass
	DB name="MY_DB"
	at com.orientechnologies.orient.core.record.impl.ODocum

[2017-06-19 10:23] hanksieM commented on #7496
I think we have a bug here - I'm just waiting to hear from the developers/orientdb.com

[2017-06-19 10:25] ozgursucu commented on #7392
Hi @tglman I am also experiencing this issues and sometimes when connection is lost the client side waits forever.

[2017-06-19 11:27] dalegarv commented on #7295
hi @RAndrews137, we've only seen this error on databases where we used the import work around where we imported in single mode and then restarted the cluster in distributed mode.  We've stopped using the import all together and haven't seen the issue since.  Do you still think we should close it?

[2017-06-19 11:38] ggeremy commented on #7496
My code works well with OrientDB 2.2.14, 2.2.15 and 2.2.16.
But not working with 2.2.17
It may help for investigation

[2017-06-19 12:05] ggeremy commented on #7496
I think I've found the problem.

In 2.2.16, in ODatabaseDocumentTx, the save method checked if there was a transaction before doc.validate() call.

In 2.2.17, doc.validate() is always called, transaction or not...

Hope I'm right ;-)

[2017-06-19 12:05] laa commented on #7312
Hi @anber500 could you kindly provide what is your current situation with OrientDB?

[2017-06-19 13:06] tglman commented on #7496
hi @ggeremy,

Yes your analysis is right and is done on purpose, because is correct to validate the data at the moment of the save also in case of TX, for your case of mandatory fields you have two solutions:

add the vertex with parameters:
[code]
or use the temporary vertext that is not saved till save
[code]

Hope it helps

[2017-06-19 13:21] careerscale commented on #7505
@maggiolo00  agreed, It was wrong in my unit test.  it  supposed to be ` graph.executeSql("Update PART_OF set status=1 where out.id=" + edge.outVertex().value("id"), params);`

test case passes with it, but  Let me recheck with code and come back to you.,

Thanks for pointing it out.

[2017-06-19 14:27] tglman commented on #7498
hi @PhantomYdn,

This is quite strange, the filed `_fields` that seems missing from `https://github.com/orientechnologies/orientdb/blob/2.2.x/core/src/main/java/com/orientechnologies/orient/core/record/impl/ODocument.java#L1366` is initialized by the call one line before (1365) that call this method:https://github.com/orientechnologies/orientdb/blob/2.2.x/core/src/main/java/com/orientechnologies/o

[2017-06-19 15:58] oger-p opened #7506 "Impossible to select field in Chinese"
## OrientDB Version, operating system, or hardware.
- v2.2.17
## Operating System
- Linux

## Expected behavior

`Select 地點 From Town`

Return the field 地點 from the Vertex Town

## Actual behavior

`Select 地點 From Town`

com.orientechnologies.orient.core.sql.parser.TokenMgrError: Lexical error at line 1, column 8. Encountered: "\u5730" (22320), after : ""

## Steps to reproduce

`Create a Vertex T

[2017-06-19 17:58] obi1kenobi commented on #7501
Sounds great, thank you!

[2017-06-19 18:23] RAndrews137 commented on #7295
@dalegarv, I agree the import issue still likely exists.  @SDIPro, this ticket is not urgent at this moment since we have a workaround. However, being able to perform an import into a clustered environment is still core functionality for most database systems and would still be a good area for OrientDB to improve upon for the future.  Thanks

[2017-06-19 23:44] anber500 commented on #7312
Hi, @laa I still have the issues I mentioned before. Since your memory leak fix, the DB has been very stable but we are still getting the weird issue I outlined before:
[comment](https://github.com/orientechnologies/orientdb/issues/7312#issuecomment-301055896)

It's very weird and the issue only exist on the DB that had it's indexes corrupted. Databases that were created after the regular OrientDB

[2017-06-20 08:50] laa commented on #7312
Hi @anber500 , I see. Thank you for feedback. Could you clarify, do you perform a shutdown of this database during the time when there are active connections to this database?

[2017-06-20 10:25] KishoDai commented on #7477
I also encountered the same issue in distributed mode.

[2017-06-20 11:35] nishantkumar1292 commented on #3594
Is this fixed? I am still getting this error using version 2.2.21

[2017-06-20 11:54] laa commented on #7312
I am asking because such approach can lead to duplicates in 2.2.x version. It is fixed in 3.0 though

[2017-06-20 12:10] maggiolo00 commented on #7505
Ok @careerscale

 Thanks

[2017-06-20 12:34] luigidellaquila commented on #3594
Hi @SpareShade @nishantkumar1292

I'm checking it, it's an old query but I'd say there are two problems here:

1. a query with `like "%something%"` cannot be indexed in general (no index stores "central" parts of words for search), so the performance problem is definitely hard to fix. Anyway, the message about  50000 records is just a warning, you can ignore it

2. the UnknownFormatConversionExcep

[2017-06-20 14:03] ggeremy commented on #7496
hi @tglman,

It helped ;-)
But I have the same problem with Edge with mandatory fields.
I use frames 2.6.0 to add edge to vertex.

Any tips to bypass the save process ?

Thanks

[2017-06-20 17:24] kwoxer commented on #6664
Still not working with the latest release.

But I was able to use a workaround now. I'm doing it with https://stackoverflow.com/questions/696839/how-do-i-write-a-bash-script-to-restart-a-process-if-it-dies

So

until sh server.sh; do
    echo "Server 'orientdb' crashed with exit code $?.  Respawning.." >&2
    sleep 1
done

is working perfectly for me.

So shall this here be closed? I mean it's st

[2017-06-20 23:36] anber500 commented on #7312
Nope, ideally I should never have to shut-down the database but the duplicates are caused while the server is up and running.

[2017-06-21 05:43] nishantkumar1292 commented on #3594
I am getting this..
` [TIP] Query 'SELECT FROM vertex_class WHERE @rid = "#17:250006"' fetched more than 50000 records: to speed up the execution, create an index or change the query to use an existent index [OProfilerStub]`

Ideally the query should return only one record. So why this warning? Is there something wrong in my query.

[2017-06-21 06:34] luigidellaquila commented on #3594
Hi @nishantkumar1292

The query is not being optimized correctly, this is why you are having this warning. My suggestion is to change it as follows:

[code]

Thanks

Luigi

[2017-06-21 07:23] luigidellaquila commented on #7506
Hi @oger-p

This seems to be a problem with the parser, I'll check it asap

Thanks

Luigi

[2017-06-21 07:25] taburet opened #7507 "Function library, transactions and micro-transactions"
Function library is fully force-reloaded from disk on every change related to functions, see `OFunctionTrigger` and `OFunctionLibraryImpl#load(ODatabaseDocumentInternal)`. In a transactional environment this just bypasses all the transactional state and reloads the old version from the disk, as a result all changes are lost.

For now in `micro-tx` branch function changes are done w/o starting micr

[2017-06-21 07:40] zhangshusheng commented on #7467
Hi @G4br13l3 , The time is too long using Teleporter to import relational databases. There are 49 edges configured in the file.

[2017-06-21 08:17] nishantkumar1292 commented on #3594
If I understand correctly the first query I mentioned fetches the records for `vertex_class` first and then filters the rid. Whereas the second query directly fetches the result.
Is this correct?

[2017-06-21 08:19] G4br13l3 commented on #7467
Hi @zhangshusheng, we are working on a visual tool for this reason! ;)
I will notify you when it will be ready, so if you want you can try it out.

Thanks,

Gabriele

[2017-06-21 08:22] luigidellaquila commented on #3594
Yes, it's correct

Thanks

Luigi

[2017-06-21 09:32] careerscale commented on #7489
restarting the terminal and running server.bat again helped us in windows.

[2017-06-21 09:34] careerscale commented on #7488
@maggiolo00  sure will come back with unit test information

[2017-06-21 09:35] careerscale commented on #7481
@tglman @lvca  any update on this one? is it going  take time for this one?

[2017-06-21 10:03] careerscale commented on #7488
@maggiolo00, looks like I am not able to reproduce this scenario, but I do have one question
Referring to this test class, I created,
https://github.com/careerscale/orientdb-demo/blob/master/orientdb-java-sample/src/test/java/com/orientdb/samples/test/EdgeWithNullOutTest.java

Shouldn't a query like this one fail. I gave wrong TO vertex query (where name='South America1')

[code]

[2017-06-21 10:37] TropicalPenguin opened #7508 "Cascading FETCHPLAN from LETs through RETURN [SELECT]"
### OrientDB Version: 2.2.21
### Java Version: openjdk version "1.8.0_131"
### OS: Ubuntu 17.04

## Expected behavior

When one or more LET variables represent SELECT(s) with fetch plan(s), I expect these fetch plans to be respected as these variables are referred to in the batch RETURN statement.

This is over the binary protocol.

_Note: All four cases under 'Steps to reproduce' use a single fet

[2017-06-21 10:59] TropicalPenguin commented on #7508
Interestingly, removing the fetch plan from the second select also results in an empty cache, which suggests there may be problems using different fetch plans per-select:

[code]

[2017-06-21 13:01] laa commented on #7312
@anber500 is it possible for you provide me:

1.  The class definition for the class where you have duplicates.
2.  What operations do you perform when you insert/update a new record in class which suffers from duplication issue.

I will try to create test and reproduce it on our side

[2017-06-21 22:42] lvca opened #7509 "HA: Improve Java client policy"
The auto-reconnect feature of the Java driver is cool, but we need some behavior to be configurable:
- A client could start with one or a list of servers and it could be stick on them
- HA & DC: In case of DC configuration, could be nice a constraint where the client can connect only to another server on the same DC

New settings to specify as OGlobalConfiguration. In v3.0 and major this could be

[2017-06-22 00:46] zhangshusheng commented on #7467
Ok, I will try.

Thanks,

Shusheng

[2017-06-22 03:32] careerscale commented on #7459
Looks like some changes are merged from 2.2.x to 3.0 snapshot, but I see this now
` [ODistributedStorage]
2017-06-21 20:31:31:202 INFO  [node1498102277058] Broadcasting new distributed configuration for database: demodb (version=3)
 [OHazelcastPlugin]
2017-06-21 20:31:32:673 INFO  Previous maximum cache size was 310515 current maximum cache size is 184633. Cache state for storage C:\software\orien

[2017-06-22 07:04] rajendrag commented on #6358
There is a way to workaround this with Ferma, you can use
`fg.addFramedVertex("class:YourLabel", new DefaultClassInitializer<>(Something.class));`.
This will create the vertex with @class `YourLabel` and another property `ferma_type` as well.

[2017-06-22 09:16] nishantkumar1292 commented on #5012
The servers and connections are working fine. However I am still getting the `ODistributedRecordLockedException` error.

`Error: com.orientechnologies.orient.server.distributed.task.ODistributedRecordLockedException: Timeout (5000ms) on acquiring lock on record #12:84870 on server 'node1'. It is locked by request 0.90132.`
`DB name="db_development"`
`DB name="db_development"`

I am running `REPAIR

[2017-06-22 12:00] careerscale opened #7510 "OrientDB 3.0 -0621/0622builds OSerializationException: Cannot read transaction record from the network. Transaction aborted (because of NPE)"
### OrientDB Version: 3.0
### Java Version: 1.8
### OS: Win 7

## Expected behavior
My application should work as it was working before.  we are using remote for db (**remote:localhost/test**)

## Actual behavior

[code]

[2017-06-22 12:05] careerscale commented on #7510
sorry closed by mistake. re-opened again

[2017-06-22 12:47] taburet commented on #7239
Implemented, finally :) @luigidellaquila nested operations, for example from hooks, form a single atomic unit.

[2017-06-22 12:47] #7239 closed

[2017-06-22 12:49] taburet commented on #6979
Micro-transactions merged into develop, backups and all the stuff involving storage freezing are "atomic" now.

[2017-06-22 12:49] #6979 closed

[2017-06-22 12:52] #7449 closed

[2017-06-22 12:53] luigidellaquila commented on #7239
@taburet out of curiosity, how hard would it be implementing graph operations (edge/vertex creation and removal) as micro-tx?

Thanks

Luigi

[2017-06-22 12:54] careerscale commented on #7510
@luigidellaquila  do we know if this is a known issue or something to be fixed?

[2017-06-22 12:55] taburet commented on #7448
With new micro-transactions RIDs are assigned before the index locking takes place, so there is no such problem anymore.

[2017-06-22 12:55] #7448 closed

[2017-06-22 12:57] luigidellaquila commented on #7510
Hi @careerscale

AFAIK it's not a known issue, I'm assigning it to @tglman for a check.

Thanks

Luigi

[2017-06-22 12:59] taburet commented on #7239
@luigidellaquila it should be relatively easy, mostly it's just a question of providing the internal storage functionality to the outside world.

[2017-06-22 13:00] careerscale commented on #7510
@luigidellaquila , thank you

[2017-06-22 13:00] tglman commented on #7510
hi @careerscale,

I fixed similar issue recently but I cannot bet that are exactly the same of this, do you have a simple test case for this case ?

Regards

[2017-06-22 13:10] careerscale commented on #7510
tried my old unit tests, they seem to be OK.

But this error is the first one that comes for me in my application while creating base entity and so cannot do anything else. kind of blocker for the application.

Let me see If i can write new unit test for it.

[2017-06-22 13:15] careerscale commented on #7481
@tglman,

the unit test code now breaks with different error. is this application problem? but the error is not clear so I think it could be bug.

[code]

[2017-06-22 13:22] laa commented on #7239
Which I quite against of.

[2017-06-22 13:24] lvca commented on #5012
@nishantkumar1292 Was that exception given during REPAIR DATABASE?

[2017-06-22 13:55] krichter722 commented on #2336
The studio shipped with 2.2.22 tarball causes a `BINARY` field to be set to null after a file for upload is selected and the new record saved.

Since this is an issue for 3 years now, I suggest to at least provide a helpful error message because the initial `OSerializationException` doesn't reveal that storing binary data through the studio isn't supported and setting the field to `null` and displ

[2017-06-22 13:57] luigidellaquila commented on #7239
well, another solution would be to move graph concepts down to the storage, but I don't know if it can be considered a better option or if it's easy to do...

[2017-06-22 14:01] maggiolo00 commented on #2336
Hi @krichter722

Since uploading binary is not supported i suggest to add a warning and do not allow the operation. WDYT?

[2017-06-22 14:02] taburet commented on #7239
BTW, I doubt there will be any significant performance advantages comparing to regular transactions. Are regular transactions suitable for this task?

[2017-06-22 14:15] krichter722 commented on #2336
Agreed. That's what I meant.

[2017-06-22 14:21] luigidellaquila commented on #7239
Yes, absolutely! This was my initial proposal, but it was evaluated as too expensive...
@lvca WDYT?

Luigi

[2017-06-22 15:00] lvca commented on #7239
We only need addEdge and removeEdge operations. Since we're a multi-model and we want to be rock-solid, it's something we could think about it. WDYT?

[2017-06-22 15:10] luigidellaquila commented on #7239
+1
In v 3.0 all the logic for edge management is in OEdge* classes (SQL layer and all the rest rely on it), so adding a begin()/commit() is quite easy. We can do some tests and see how it performs.

Luigi

[2017-06-22 15:16] lvca commented on #7239
I like this idea. And having this operation in the storage allows us to improve/change things easily in the future too.

[2017-06-22 15:16] lvca commented on #7239
@laa and @taburet WDYT?

[2017-06-22 16:31] laa commented on #7239
@lvca it is normal tx I don not mind, never thought that usage of no tx graph is justified. But in such case we will have big overhead on distributed side, will not we?

[2017-06-22 17:00] lvca commented on #7239
No, on distributed side would be the same. By the way, we still have the problem with embedded ridbags there...

[2017-06-23 06:36] nishantkumar1292 commented on #5012
yes

[2017-06-23 06:43] careerscale commented on #7510
@tglman , our application breaks and never able to make it fixed with latest orientdb libraries and db.
so we are using bit older version (few days older) but I think I will come back again to reproduce it.

[2017-06-23 10:35] tglman commented on #7499
hi @tommasop,

well it depends on the algorithm, in case of `SHA-256` you just get `{algorithm}value`, in case of `PBKDF2WithHmacSHA1` and `PBKDF2WithHmacSHA256`  is `{algorithm}hash:salt:iterations`.

Hope this help.

Bye

is : {userd_algorithm}

[2017-06-23 10:41] tglman commented on #7499
forgetting a bit of more detail:

in case of `{algorithm}hash:salt:iterations`
`hash` is the hexadecimal version of bytes
`salt` is the hexadecimal version of bytes
`iterations` is just the string version of the number of the iterations.

Bye

[2017-06-23 10:44] #7499 closed

[2017-06-23 12:10] tglman commented on #7510
hi @careerscale,

I've been wondering a bit a about this error, and I think "I guessed" the problem, so now I'm writing a test that prove my guessing and in case i've already the fix for the problem.

Regard

[2017-06-23 12:28] careerscale commented on #7505
@maggiolo00 ,

I still need to reproduce this problem with unit test, its been bothering my team since couple of weeks. some weird behavior about why one edge doens't get saved.

trying to get exact replica into demo project with spring boot in place. will come back

[2017-06-23 12:31] careerscale commented on #7477
I think this is reproduceble with stand alone mode too. we see this issue.  with time crunch bit hard to reproduce in stand alone unit tests,

[2017-06-23 12:32] maggiolo00 commented on #7505
Thanks @careerscale

[2017-06-23 13:07] tommasop commented on #7499
Perfect! thanks

[2017-06-24 23:32] robpayn commented on #2945
I agree with dcardin that this is a critical feature if you are serious about the document database interface being useful, particularly to somebody used to MongoDB.  A lack of ability to index the properties of embedded documents makes the ability to embed documents nearly useless.

[2017-06-25 14:04] apapacy commented on #7193
Im use orientdb-community-2.2.22 and create 2 indexes same column: (1)full_text_lucene and (2)dictionary and have same problem.

Im run 2 select:
select * from class where field='value'
select * from class where field lucene 'val~0.5'

Both select use same index and one of its work geopardic slow.

What index is used depends on the order of their creation.

But select from index:class.field key=..

[2017-06-25 18:49] saeedtabrizi opened #7511 "Problem in projection and filtering in EmbeddedMap property."
### OrientDB Version: 2.2.22
### Java Version:  1.8
### OS:  linux

## Expected behavior
 I defined  an **embeded map** in **User** class and i want to project some map values after query on values .

`select LinkedAccounts.values() from `User` where LinkedAccounts.values() contains (Provider = "google") and LinkedAccounts.keys() contains "google::0923887327kjhdsf783kjhf7"`

returns some values an

[2017-06-26 07:34] luigidellaquila commented on #7511
Hi @saeedtabrizi

The syntax seems to be correct, so I'd say it's a bug.
Let me do a couple of tests, I'll be back to you asap

Thanks

Luigi

[2017-06-26 08:37] luigidellaquila commented on #7511
Hi @saeedtabrizi

I just pushed a fix that should solve the problem.
The fix will be released with 2.2.23

Thanks

Luigi

[2017-06-26 08:37] #7511 closed

[2017-06-26 08:55] saeedtabrizi commented on #7511
Hi @luigidellaquila
It's so really super fast reaction as i expected.
Thanks

Saeed Tabrizi

[2017-06-26 13:24] PhantomYdn commented on #7498
I think you are right. It happened on OUser document wrapper. And my perception was there is nothing to do in app code - that instance was stored and reused in parallel within OrientDB. Checking one more time what can be done.

[2017-06-26 13:27] PhantomYdn opened #7512 "NPE during database upgrade"
### OrientDB Version: 2.2.20
### Java Version: 7
### OS: linux

We had db which run on 2.1.19. But now we tried to run it on instance of Orienteer which use 2.2.20. So OrientDB tried to convert DB and failed with the following exception:

[code]

What can be done to prevent this failing?

[2017-06-26 13:30] laa commented on #7312
Hi,
@anber500 is it possible to provide information which we requested?

[2017-06-26 13:42] PhantomYdn commented on #7512
Reason is simple. On 2.1.19 country was not required. Just checked in old version of Orienteer - it's null. So during upgrade it leads to NPE because of this code of Locale:

[code]

[2017-06-26 13:54] laa commented on #7312
@anber500 could you inspect your log, do you have any other exceptions on your problematic node, except duplicated exception? How long you need to wait before this exception happen?

[2017-06-26 15:03] santo-it commented on #6889
This can happen also when executing a DELETE - as an internal select is used to load the records that have to be deleted and that SELECT FROM .. message in the log can confuse users as a DELETE was executed and the SELECT was internal.

[2017-06-26 15:07] santo-it commented on #3547
Hi,

Thanks again for opening this issue. Fixed in 2.2.  Closing

[2017-06-26 15:07] #3547 closed

[2017-06-26 19:11] laa commented on #7351
I have tried following approach, I have created a database with about 100 million of records under the load A of YCSB tests.  Then I have been running Load A during the updates length of the new fields was uniformly distributed. Load A was running during a week continuously, but I was not able to reproduce either exception or even "Page in file certification_3.pcl with index 4650 was placed in a w

[2017-06-26 19:40] laa commented on #7312
@anber500 could you kindly share what is a type of property which you use in the unique index?

[2017-06-27 03:42] jpstrikesback commented on #7361
Any further work here? We were wondering why MATCH was taking super long on empty result sets and implemented the workaround in #2 above with success.

[2017-06-27 08:04] luigidellaquila commented on #7361
Hi @jpstrikesback

For now I have no news about this, sorry, but I'll keep you updated as soon as something changes

Thanks

Luigi

[2017-06-27 09:46] clepelli commented on #7193
I confirm apapacy's workaround works.
By the way, what is the most efficient way to query table content from the index query, wich returns rids ?
Select from Class where rid in (select rid from index:...) ?

[2017-06-27 10:17] luigidellaquila commented on #7193
Hi @clepelli

The most efficient way to get records is:

[code]

Thanks

Luigi

[2017-06-27 10:23] maggiolo00 commented on #7108
Hi @rdelangh

any news about this issue?

Thanks

[2017-06-27 12:03] laa commented on #7312
Hi,  @anber500 could you kindly provide partial or full information requested above?

[2017-06-27 13:58] robfrank commented on #5710
I close this issue even if the "problem" still affect 2.2.x, but it is resolved on 3.0.x by the new SQL engine

[2017-06-27 13:58] #5710 closed

[2017-06-27 14:57] laa commented on #7512
Guys this issue is already in progress and fixed by storage team I am assigning it back to us

[2017-06-27 15:00] laa commented on #7512
Fixed, @PhantomYdn could you try now?

[2017-06-27 16:08] tglman commented on #7481
hi @careerscale,

This IllegalStateException error actually means that the are no more elements in the result set anymore, we replaced with NoSuchElementException recently should be already correct in the last snapshot.

regards

[2017-06-27 23:12] lvca commented on #7505
@tglman do you have an opinion about this?

[2017-06-28 06:29] luigidellaquila commented on #7475
Hi @careerscale

Any additional info on this? Is this issue still relevant?

Thanks

Luigi

[2017-06-28 07:00] careerscale commented on #7475
@luigidellaquila , yes it is a question still valid, not a sql query but java code query.

[2017-06-28 07:10] luigidellaquila commented on #7475
Hi @careerscale

Could you please post the code snippet you use to create and look up the vertices?

Thanks

Luigi

[2017-06-28 08:15] tglman commented on #7505
hi @careerscale,

On this do you have news ? fixing the test cases seems to have fixed the problem isn't ?

Regards

[2017-06-28 09:30] tglman commented on #7475
hi @careerscale,

Just as additional info, the Vertexes instances cannot be moved across thread and if you want to refer to the same vertex from another thread you need to use the Identity ( `OrientVertex.getIdentity()` ) and reload the vertex from the graph in the other thread, as well the identity for new record can be used in a different scope than the transaction only after the transaction is

[2017-06-28 15:30] careerscale commented on #7459
don't see this issue with 06/28 build.

[2017-06-28 15:30] #7459 closed

[2017-06-28 15:45] careerscale commented on #7510
I think I don't see this issue any more. trying to test my pending issues with 06/28 build

[2017-06-28 15:45] #7510 closed

[2017-06-28 16:01] careerscale commented on #7481
Hi @tglman ,

yah, I modified unit test and it looks OK. will verify in  our application too and confirm

[2017-06-28 16:16] careerscale commented on #7481
This works good.

[2017-06-28 16:16] #7481 closed

[2017-06-29 00:57] careerscale commented on #7488
I am not able to reproduce this one, so let me close it for now and re-open/create new issue later if I can reproduce it.

[2017-06-29 00:57] #7488 closed

[2017-06-29 00:59] careerscale commented on #7475
Hi @tglman , I get that,  can you please explain the "across threads" comment?  I assume everything that I am doing is happening in a single thread. We are using spring for injecting our dao classes and we are sharing across the graph object for multiple private methods and managing the graph in single place (to create/commit/rollback/close etc).

[2017-06-29 01:02] careerscale commented on #7458
@luigidellaquila  @tglman  are we good with this ticket?

[2017-06-29 07:02] ozgursucu commented on #7477
Hi @laa  Any progress about this issues?

[2017-06-29 10:24] KishoDai commented on #7477
Any progress about this issue?

[2017-06-29 11:00] apapacy opened #7513 "select expand(rid) from index:collection.field where key lucene limit N - work slow"
### OrientDB Version: 2.2.22
### Java Version: openjdk version "1.8.0_131"
OpenJDK Runtime Environment (build 1.8.0_131-8u131-b11-0ubuntu1.16.04.2-b11)
OpenJDK 64-Bit Server VM (build 25.131-b11, mixed mode)
### OS: ubuntu 16.04 lts

## Expected behavior
select expand(rid) from index:collection.field where key lucene 'Харько~0.2' limit 3
mast work fine

## Actual behavior
Dont work. OrientDB proce

[2017-06-29 13:21] jcgouveia opened #7514 "Performance issue when having large object set to save"
### OrientDB Version: 2.2.20
### Java Version: 1.8
### OS: Windows 8

I´ve found a performance issue when having large sets of objects pending to save.
The problem occurs when setting a value in a POJO with another one that is already connected with DB (OIdentifiable)

Consider the situation when having 10.000 objects pending to save.
In the following code, the operation **newRecords.addAll(newRec

[2017-06-29 13:36] a-zacharenkov opened #7515 "Live select from multi classes"
### OrientDB Version: 2.2.17
### Java Version: 8
### OS: Windows 7

## Expected behavior
I am live subscribing from Java controller to database. I looked up online and it didn't say anything about restrictions of LIVE select, so this may be one? as per docs (https://orientdb.com/docs/2.2/SQL.html), I used the select from multi targets, specifying the classes of vertices I'm interested in just like

[2017-06-29 13:52] laa opened #7516 "Server can not be shutdown under the high load"
### OrientDB Version: 2.2 and I suppose 3.0

## Expected behavior
I discovered this issue during the investigation of  https://github.com/orientechnologies/orientdb/issues/7388 .

If you start the test https://slack-files.com/T04EMG7AY-F57929QRW-2ee6e8b0ef and then wait till all databases and their metadata are created and insertion of data is started and then run shutdown script you  will see as

[2017-06-29 13:59] will-Niu commented on #6438
I  have 2 running  nodes ,  both master .

2017-06-29 21:53:39:908 INFO  [node_1] Distributed servers status (*=current @=lockmgr[node_1]):

+------------+------+------------------------------------+-----+---------+--------------------+--------------------+------------------------+
|Name        |Status|Databases                           |Conns|StartedOn|Binary              |HTTP                |U

[2017-06-29 14:11] tglman commented on #7475
hi @careerscale,

If you are not doing any multithread operation you should be safe, and yes with the usual spring based architecture you don't move instances from a thread to another at all, so it's safe.

Regard

[2017-06-29 14:11] will-Niu commented on #6438
2 nodes, mulitcast deployment in LAN
I encountered the above problems, trouble to solve, thank you!

[2017-06-29 14:32] tglman commented on #7514
hi @jcgouveia,

Yes this is a good point, we rarely have really big transactions, but the case exists, it can be optimized easily moving the collection in case the target collection is empty and do some check on the size and merge the small in the big collection with relative swap if necessary, all this code not need to be multi-thread aware so easy to change.

In any case for a few more version o

[2017-06-29 14:57] laa commented on #7312
HI @anber500 , I noticed in the description above that you use pyorient driver. We may experience a problem with third party drivers when indexes are not updated when documents are updated. I will provide a fix to minimize the problem, but still, it may be present in system. Could you share snippets of code which you use to update indexed records?

[2017-06-29 15:07] tglman commented on #7458
hi @careerscale,

this ticket has two problem inside, one was related to the query with the match statements, and as far as I remember this was discussed in another issue and solved, the second problem was that the console does multiple retry, that in some cases should not be done, this is not yet solved, it will be probably done for the RC1.

Regards

[2017-06-29 15:36] rdelangh opened #7517 "How to delete a document when only RID is known, not class?"
### OrientDB Version: 2.2.22
### Java Version: n/a

## Expected behavior
I use scripts to perform logic on some documents. In such a script, via complex searching, I finally got a RID of some document. That RID is then stored in a variable "$myRID" in the script.
Under some criteria, it happens that I should delete that document. But I do not want to repeat that complex searching for ultimately DE

[2017-06-29 15:37] rdelangh commented on #7485
hello gurus,

any feedback on this issue, please ?

[2017-06-29 16:03] laa opened #7518 "-1 record version prevents index updates"
### OrientDB Version: 2.2

## Steps to reproduce
1. Create class "C" with field "f" and create a unique index for that field.
1.  Create a record of class "C" with a field "f" value equals to "v1" and store it.
2. Load record created at step 1, set record version to -1 and update value of field "f" to "v2" and store it.
3.  Create a record of class "C" with a field "f" value equals to "v2" and sto

[2017-06-30 06:39] uiterlix opened #7519 "Updating vertices on three node cluster gives OConcurrentModificationExceptoin"
### OrientDB Version: 2.2.22 in 3 node cluster
### Java Version: 1.8
### OS: Linux

## Expected behavior
No errors.

## Actual behavior
Getting intermittent
Caused by: com.orientechnologies.orient.core.exception.OConcurrentModificationException: Cannot UPDATE the record #x:xxx because the version is not the latest. Probably you are updating an old record or it has been modified by another user (db

[2017-06-30 06:43] luigidellaquila commented on #7515
Hi @a-zacharenkov

You are right, this is a restriction of live queries.

Right now you can do live queries only on a single target (eg. `SELECT FROM AClass WHERE...`).
Another important limitation is that live queries don't work for aggregate queries and for ORDER BY

Thanks

Luigi

[2017-06-30 06:43] #7515 closed

[2017-06-30 06:54] luigidellaquila commented on #7517
Hi @rdelangh

`DELETE FROM $myRID` will try to search `$myRID` class, so it won't work.

If you have the RID (instead of a variable) the DELETE will work fine, eg. `DELETE FROM #12:0`

The only work-around you have is following:

[code]

I hope it helps

Thanks

Luigi

[2017-06-30 06:57] luigidellaquila commented on #7485
Hi @rdelangh

sorry, I still had no chance to try it out, but I suspect that the problem is in the parsing of the script by the HTTP layer.

I'll try to give it a try today and let you know

Thanks

Luigi

[2017-06-30 08:07] laa commented on #7518
Fixed

[2017-06-30 08:07] #7518 closed

[2017-06-30 08:35] luigidellaquila commented on #7485
Hi @rdelangh

in your regex you are also leaving the `+` signs unencoded. The + is considered as a blank space in an HTTP URL, so you have to encode it as well, eg. change the script as follows:

[code]

I'm pretty sure that OrientDB behavior is correct, as it's just using Java URLDecoder do decode the URL, that is a standard API...

Thanks

Luigi

[2017-06-30 08:35] #7485 closed

[2017-06-30 09:30] roots-ai commented on #5012
+1 @nishantkumar1292
@Ivca! We plan to use  orientdb, in production, where there would be ~10,000 requests/sec. We couldn't find any way to resolve ODistributedRecordLockedException error while even working with only 2 parallel requests on a node, unsure how this is going to scale up.

Is this a bug with Orientdb 2.2.21, or any other way to get this resolved?

[2017-06-30 10:10] RubenVermeulen opened #7521 "@rid in result from query is "#-2.0""
### OrientDB Version: 2.2.22
### Java Version: 1.8.0_131
### OS: Zorin OS 12.1, Ubuntu 16.04 LTS

## Expected behavior
**#1**: SELECT username FROM User WHERE username = "Bob"
[code]
**#2**: SELECT @rid, username FROM User WHERE username = "Bob"
"result": [
        {
            "@type": "d",
            "@rid": "#11:1",
            "@version": 0,
            "rid": "#11:1",
           "username":

[2017-06-30 10:17] luigidellaquila commented on #7521
Hi @RubenVermeulen

This is a legacy behavior that unfortunately cannot be changed in v 2.2.

If you want to include/exclude fields from JSON you can use fetch plans: http://orientdb.com/docs/2.2.x/Fetching-Strategies.html

In v 3.0 it's already fixed.

Thanks

Luigi

[2017-06-30 10:17] #7521 closed

[2017-06-30 10:38] #7165 closed

[2017-06-30 12:15] robfrank commented on #7513
How is the index created? Are you using a Russian analyzer or the standard one?

[2017-06-30 12:16] rdelangh opened #7522 "incomplete documentation about INSERT ... RETURN ... syntax"
The 2.2.x documentation about the INSERT statement, describes incomplete syntax possibilities for the RETURN part:

RETURN Defines an expression to return instead of the number of inserted records. You can use any valid SQL expression. The most common use-cases,
    @rid Returns the Record ID of the new record.
    @this Returns the entire new record.

"The most common use-cases" phrase does not s

[2017-06-30 12:27] luigidellaquila commented on #7522
Hi @rdelangh

The goal of that RETURN is to return any projections based on the inserted record (the equivalent of `x, y` in a `SELECT x, y FROM...`), but that's not very used and afaik there are some issues there, so I discourage you to use any other keywords apart from @rid and @this

Thanks

Luigi

[2017-06-30 12:45] robfrank commented on #7513
I'm unable to reproduce the problem. The commits I added are a little SQL script to create a sample dataset and a test. Tested in remote too.
May you provide more sample data and command used to create the index?

[2017-06-30 12:54] rdelangh commented on #7522
@luigidellaquila
hi Luigi, thx for the reply.
1) can you please make sure the documentation about this RETURN in the INSERT, is made complete? It is very confusing now, suggesting that more (but not mentioning which) options are possible
2) if INSERT cannot return the number of records which have been inserted, that is very inconvenient inside scripts: in our case, I want to INSERT records into on

[2017-06-30 13:00] luigidellaquila commented on #7522
Hi @rdelangh

Sure, I left this issue open just to remember to update the docs.

About the enhancement, an  `INSERT INTO.. FROM SELECT..` will return a single record with a "value" property that indicates how many records were inserted. Is it enough for your use case?

Thanks

Luigi

[2017-06-30 13:03] rdelangh commented on #7522
for my use case, that would be fine indeed, but I can imagine there are other cases, where for example it would be necessary to have the RIDs returned of the newly inserted records.
So maybe it is better to support a few RETURN ... keywords (like COUNT, @RID, etc)

[2017-06-30 13:06] luigidellaquila commented on #7522
Try this ;-)

[code]

Thanks

Luigi

[2017-06-30 13:23] rdelangh commented on #7522
ok:
[code]

-> this can be used in my scripts.

thx!

[2017-06-30 13:46] apapacy commented on #7513
Im use standart OrientDB Version: 2.2.22 community edition.
Im do not specify any additional analyzer.
How can I add Russian analyzer? Are there any instructions in the OrientDB documentation?

[2017-06-30 13:51] robfrank commented on #7513
Documentation about lucene indexes:

http://orientdb.com/docs/last/Full-Text-Index.html

Yoy will find how to configure custom analyzers for fields

Without sample dataset and command used to create the index, I can't do more.

[2017-06-30 14:11] apapacy commented on #7513
I'll do another test with an analyzer.

My simple data is 4 500 000 documents {message: 'Харьков - 1'}, {message: 'Харьков - 2'} ...
My query select expand(rid) from index:test.message key 'Харько~0.3' limit 2.

Maybe the "limit 2" is not working as I thought? And all data in processing?

[2017-06-30 14:22] robfrank commented on #7513
Why don't simply use the select from test where lucene 'Харько~0.3' limit 2?
moreover, it seems that your "message" field are single term, why are you usingn the slop operator '~' ?
The limit is processed AFTER the search on the index, the lucene index only manage the lucene query, not the sql part. So the index could find 10000 docs and then only the firts 2 will be returned.
This is resonable, b

[2017-06-30 14:25] rdelangh commented on #7517
@luigidellaquila
sorry but this syntax does not delete the record which is held in the variable.
-> can you check please?

[code]

but using the content of that variable (RID) to delete such record(s), is not working, altough the syntax is accepted:
[code]
(in which "somecriteria" is each time exactly the same WHERE-clause)
-> so the delete from "class2" is not happening, the record is still there

[2017-06-30 14:57] apapacy commented on #7513
https://github.com/orientechnologies/orientdb/issues/7193

If create 2 indexes on same column (fulltext lucene and some other) select not use right index but first created (Hobson's choice)

[2017-06-30 15:05] robfrank commented on #7513
Thanks for the explanation about the api. How many documents are extracted with the query without the limit clause? I tested only the behavior of the query, but I guess the problem is in the size of the result set in conjunction with expand. May you restrict the query to limit the number of documents retrieved?

[2017-06-30 15:24] apapacy commented on #7513
My create statement
create class russian
create property russian.message string

My insertion

odb.insert().into('russian').set({message: `Харьков - ${k} - ${i}` }).one().catch(function(err){console.log(err);});
k=1...1000
i=1...1000

So. there are 1 000 000 document of class "russian"

select * from russian where message lucene 'Харько~0.1' limit 2 - work fine
select rid from index:russian.messag

[2017-06-30 18:05] lvca commented on #5012
Hi guys,
OrientDB has an optimistic approach avoiding locks as much as possible. Only in this way you can scale up massively. In the case there is a concurrent write operation on the same vertices, the infamous `ODistributedRecordLockedException` is thrown. It's not a bug, this exception extends `ONeedRetryException` that means it has to be managed on the client side.

All the client code should b

[2017-07-02 07:11] nishantkumar1292 opened #7523 "RestClient::Conflict: 409 Conflict when deleting edges from Ruby"
### OrientDB Version: 2.2.21
### Java Version: 1.8.0_131
### OS: Linux Mint

## Expected behavior
While on working on Rails Application, I need to delete some edges. I am using a loop to perform this task iterating over the nodes. The expected behavior must be to perform all the deletions mentioned.

## Actual behavior
After a few delete operations I get an error as mentioned above. The full trace

[2017-07-02 07:35] luigidellaquila commented on #7513
Hi @apapacy

The problem seems to be in the SQL query executor, not in the Lucene index plugin.
I'm fixing it now

Thanks

Luigi

[2017-07-02 07:48] luigidellaquila commented on #7513
Hi @apapacy

I just pushed a fix on branch 2.2.x, the fix will be available in V 2.2.23

Thanks

Luigi

[2017-07-02 07:48] #7513 closed

[2017-07-02 08:38] luigidellaquila commented on #7522
Fixed docs, closing

Thanks!

Luigi

[2017-07-02 08:38] #7522 closed

[2017-07-02 09:37] luigidellaquila commented on #7517
Hi @rdelangh

You are doing the delete on the *newly* created records (`class1`), then you are doing the select on `class2`, this is why you are still seeing the old records.

If you want to delete the *old* records you have to write the script as follows:

[code]

Please consider that in v 2.2.22 the `INSERT` from `SELECT expand()` throws a parsing error. I just fixed this problem and the fix is

[2017-07-02 09:37] #7517 closed

[2017-07-02 11:01] luigidellaquila commented on #7508
Hi @TropicalPenguin

Fetchplan in batch scripts are not fully supported, I suggest you to apply them to the RETURN statement, eg.

[code]

Thanks

Luigi

[2017-07-02 18:17] lvca commented on #7519
Are you inserting on all 3 nodes?

[2017-07-02 18:19] robfrank opened #7524 "Lucene index: highlight"
Enhance the answer from lucene indexes with highlight.

[code]

The result will contain a field with highlight:
[code]

[2017-07-02 18:20] lvca commented on #7477
Hi guys, this case must be managed by using a catch/retry strategy, like described in the docs; https://orientdb.com/docs/2.2/Java-Multi-Threading.html#multi-version-concurrency-control.

[2017-07-02 19:03] TropicalPenguin commented on #7508
Thanks for the response @luigidellaquila, I've adjusted https://github.com/mogui/pyorient/commit/4adc3b004a064923b2002b60c83d20e47b0a7c2a to take account of this.

Could this be taken as a (I guess low priority) feature request, though? Without this, the RETURN fetch plan must always be the most permissive of all individual SELECT's desired fetch plan(s).

[2017-07-02 22:34] apapacy commented on #7513
Thanks.

[2017-07-02 22:38] lvca commented on #6438
@will-Niu what release? Can you please try with last 2.2.22?

[2017-07-03 06:19] luigidellaquila commented on #7508
Hi @TropicalPenguin

Ok, I'm reopening and marking as a feature request, but I cannot give you an ETA for this...

Thanks

Luigi

[2017-07-03 06:46] uiterlix commented on #7519
No, I'm just inserting on one node.

[2017-07-03 07:44] careerscale opened #7525 "(OrientDBEmbedded.java -[node1] Error on starting distributed plugin com.orientechnologies.orient.core.exception.ODatabaseException: Cannot open database 'demodb'"
### OrientDB Version: 3.0 snapshot
### Java Version: 1.8
### OS: Win 7

## Expected behavior
Expecting orientdb work fine with embedded mode and with cluster support (with -Ddistributed=true).

## Actual behavior
[code]

## Steps to reproduce

Create a java web application with embedded orientdb reference and enable distrubuted support.

[2017-07-03 07:45] careerscale commented on #7525
@luigidellaquila, @tglman  is this expected behavior? I thought it should work fine in embedded mode and with clustering.

[2017-07-03 07:47] luigidellaquila commented on #7525
Hi @careerscale

the problem here seems to be with an index. Do you have Lucene jar files in the classpath?

As a quick test, you can drop "demodb" database and try again, as the problem seems to arise when the db tries to open that DB

Thanks

Luigi

[2017-07-03 08:47] nishantkumar1292 commented on #5012
We are getting this error when executing delete command over an edge class `DELETE EDGE edge_class_name` through OrientDB studio.
Error: `com.orientechnologies.orient.server.distributed.task.ODistributedRecordLockedException: Timeout (592ms) on acquiring lock on record #13:3 on server 'node1'. It is locked by request 0.26 DB name=db_development`
Even 10 minutes minutes after this error, we are not

[2017-07-03 08:48] rdelangh commented on #7517
hi @luigidellaquila
sorry but that syntax gives an error:

[code]

[2017-07-03 09:26] luigidellaquila commented on #7517
Hi @rdelangh

Did you get latest snapshot? As I wrote above, there is a fix on 2.2.x branch that is needed to make it work...

Thanks

Luigi

[2017-07-03 09:33] rdelangh commented on #7517
latest 2.2.23 snapshot dates from June-28, which is earlier than when you made a comment about your fix. Which snapshot will contain your fix?

[2017-07-03 09:45] luigidellaquila commented on #7517
Hi @rdelangh

we just generated a new snapshot, you can find it here

https://oss.sonatype.org/content/repositories/snapshots/com/orientechnologies/orientdb-community/2.2.23-SNAPSHOT/

Thanks

Luigi

[2017-07-03 10:18] luigidellaquila commented on #6889
Fixed in 2.2.x branch, the fix will be released with 2.2.23

Thanks

Luigi

[2017-07-03 10:18] #6889 closed

[2017-07-03 11:26] careerscale commented on #7525
@luigidellaquila ,

yes, we tried that.

C:\software\orientdb-community-3.0.0-SNAPSHOT\bin>console.bat c:\git_repo\test-parent\resources\db\schema.sql

OrientDB console v.3.0.0-SNAPSHOT (build b43ef3417ae43bcaa6c9745d263b0cba2628037c) https://www.orientdb.com
Type 'help' to display all the supported commands.

Previous value was: false
ignoreErrors = true

Disconnecting from remote server [remote:

[2017-07-03 11:29] laa commented on #7489
it should be already fixed in 3.0 version after we merged micro-txs and fixed restore procedure.
Could you check the latest snapshot?

[2017-07-03 11:44] careerscale commented on #7525
@luigidellaquila , it seems to be that I was using few days older version of db software where as the application db was latest one (I needed to give orientdb_home as a VM argument.

when I took latest snapshot, no more exceptions, but my db script execution from command prompt, never terminates, it seems to create db but next  statement is

![image](https://user-images.githubusercontent.com/34269

[2017-07-03 11:52] careerscale commented on #7525
one more question:
do we need to run multiple servers? do we have any mandatory quorum when we run with distributed=true VM argument

[2017-07-03 12:08] careerscale commented on #7489
@laa

"restarting the terminal and running server.bat again helped us in windows."  this still holds good for me.

but when I hit the issue crash with indexes, I still see the same problem

[2017-07-03 12:34] careerscale commented on #7525
@santo-it , thank you. Opened the ticket. should we close this one?

[2017-07-03 12:37] careerscale commented on #7477
I haven't seen this recently with 3.0. so may be good for me.  If I run into specific isues will come back

[2017-07-03 12:38] careerscale commented on #7505
@tglman ,  my team member says he still sees this issue. will come back on wednesday.

[2017-07-03 12:41] careerscale commented on #7475
@tglman , thanks for the information. I think I am good here.

[2017-07-03 12:41] #7475 closed

[2017-07-03 12:42] careerscale commented on #7458
@tglman thanks for the update.

[2017-07-03 12:50] santo-it commented on #7525
Yes, I'm closing this. Many thanks.

[2017-07-03 12:50] #7525 closed

[2017-07-03 13:44] rdelangh opened #7527 "dropping property... drops the property not yet"
### OrientDB Version: 2.2.23
### Java Version: n/a
### OS: n/a

## Expected behavior
"DROP PROPERTY class.prop" should drop the property right away. Duh.

## Actual behavior
Our class had a property named "PARTIALS", which we want to remove:
[code]

[2017-07-03 14:07] laa commented on #7489
@careerscale what version do you use?  In the latest snapshot indexes are not rebuilt on startup. Do you use the version built from sources?

[2017-07-03 14:10] luigidellaquila commented on #7527
Hi @rdelangh

`DROP PROPERTY` command only removes the property from the schema, but it does not removes the data. If you want to remove the property values from the records, you have to execute the following:

[code]

Please consider that it will take some time on big datasets, as it will have to scan the whole class.

About the strange behavior where you drop the property twice and you get no er

[2017-07-03 14:10] #7527 closed

[2017-07-03 14:17] laa commented on #7512
Hi @PhantomYdn did you have a chance to look on it?

[2017-07-03 14:30] careerscale commented on #7489
it is the latest snapshot.

[2017-07-03 15:26] vsspt commented on #7489
I've used the 3.0.0m1 version.

[2017-07-03 17:28] maggiolo00 opened #7528 "ONetworkProtocolBinary error handling problem with connection without token"

[2017-07-03 17:32] #7528 closed

[2017-07-03 18:36] santo-it commented on #7295
Hi @RAndrews137,

Absolutely. There's an enhancement open already for this: Issue #7268 . I believe this one can now be closed - and Issue #7268 will remain open.

Thanks,

[2017-07-03 18:43] dalegarv commented on #7295
hi @santo-it, we actually saw this error again recently on a database that was not created using an import.  The two nodes were running on the same VM in a test environment, and when we got the error we saw a socket exception preventing the nodes from replicating.  When we restarted the nodes, the error went away.  Could this be a case of a bad error message?

[2017-07-04 07:57] saeedtabrizi opened #7529 "[FEATURE] IF [NOT] EXISTS for Sequence , Index , Cluster , DB , User , Role , Function in orient db Sql syntax"
Hi
As we already discussed in https://github.com/orientechnologies/orientdb/issues/3597 a pretty feature added to **Class** and **Property** , **Create** and **Drop** commands and many useful in database schema **migration** .
I want to recommend following syntax for the rest of sql commands in ODB next version release :

- [x] CREATE IF NOT EXISTS  SEQUENCE ....
- [x] DROP IF  EXISTS  SEQUENCE ..

[2017-07-04 08:26] saeedtabrizi opened #7530 "[FEATURE] CREATE , DROP , ALTER for SYNONYM sql syntax"
Hi
I think there is a good idea  for using **Synonym** concept in ODB now .
When we are working on **real world** applications , in some case we need to separate tables and functions or any database objects to the different databases but we need to access them after separation.
It's  working like a **pointer/link** for accessing the database in the same ODB  application/server domain .
So it's be

[2017-07-04 09:31] laa commented on #7489
@careerscale could you provide an output of the log which you get after the crash and restore, do you use Lucene indexes? Could you also send us thread dump at the moment when index rebuild is frozen? Could you provide thread dump as separate gist?

[2017-07-04 09:58] laa commented on #7186
The test has been running for six days 20 hours, but I was not able to reproduce given an exception. Taking in an account that during edge insertion a lot of files were affected and that we performed engine start/shutdown 1 700 times I suppose we may close given issue as not reproducible. If you reencounter this problem in the version above 2.2.20, I will appreciate if you reopen the issue. We wil

[2017-07-04 09:58] #7186 closed

[2017-07-04 10:00] laa commented on #7512
@PhantomYdn is it possible to provide some ETA when you will be able to check issue?

[2017-07-04 10:20] #5072 closed

[2017-07-04 10:21] #4174 closed

[2017-07-04 10:24] santo-it commented on #6147
Hi,

I'm closing this now. If you have additional details on how to reproduce this, please let us know.

Many thanks,

[2017-07-04 10:24] #6147 closed

[2017-07-04 11:20] luigidellaquila commented on #7529
Hi @saeedtabrizi

Thank you for opening this ticket, it will help track the progress.
For some statements (eg. CREATE/DROP CLASS/PROPERTY) an "if exists/not exists" options is already available. For all the rest it makes a lot of sense to add this option.

I'm marking this as an enhancement, I'll work on it as soon as I can

Thanks

Luigi

[2017-07-04 12:49] #5191 closed

[2017-07-04 12:49] robfrank commented on #5191
implemented in 3.0.x

[2017-07-04 13:02] tglman commented on #7153
hi @rdelangh,

Did you updated to the last version, is the problem fixed for you ?

Regards

[2017-07-04 13:11] tglman commented on #5866
Hi,

Just as a note before implement a delayed drop I would prefer do benchmark and toning of delete operations, delay the delete could actually break the transaction isolation.

Regards

[2017-07-04 15:00] robfrank commented on #5198
It is possible to pass a map of boosts:

[code]

[2017-07-04 15:00] #5198 closed

[2017-07-04 16:10] laa commented on #5866
@tglman it will not because for us does not matter whether vertexes are physically deleted or soft deleted they will be logically deleted anyway. I mean only logical view matters.

[2017-07-04 16:25] santo-it commented on #7471
Implemented in v.2.2.22 Enterprise.
Closing.

[2017-07-04 16:25] #7471 closed

[2017-07-04 23:39] careerscale commented on #7489
I am not using anything specific with Lucene.

Here is the log. latest with July 4th build

16:36:47.739 [http-nio-8084-exec-1] WARN  com.orientechnologies.orient.core.storage.impl.local.paginated.OLocalPaginatedStorage - Storage 'mlm' was not closed properly. Will try to recover from write ahead log
16:36:47.739 [http-nio-8084-exec-1] INFO  com.orientechnologies.orient.core.storage.impl.local.pag

[2017-07-05 00:33] careerscale commented on #7489
@laa ,  threaddump here, I think it should be straight forward to reproduce, I just stop my application and start again.
https://gist.github.com/careerscale/be46b284519ad1a0da0d51900ff08b48

[2017-07-05 07:38] lvca commented on #5866
Isn't more expensive to update all the vertices and then delete them? Where would you put the soft delete flag? In the cluster map file?

[2017-07-05 13:25] luigidellaquila commented on #4605
Hi

this issue should be fixed, I'm closing it. Please reopen if you still see a wrong behavior

Thanks

Luigi

[2017-07-05 13:25] #4605 closed

[2017-07-05 14:31] careerscale commented on #7489
@laa, do you need anything else here?

[2017-07-05 14:36] jayaramcs commented on #5072
We have since upgraded to 2.2 and do not have this issue anymore. Thanks

[2017-07-05 14:58] tglman commented on #5866
Hi,

The issue I see is not on the vertices but on the edges, that if I do a lazy delete are left in the db linking on a vertex that do not exist for a while until delete. so if a do a `select from E where ...` they will match even after a transaction that should logically have deleted them.

bye

[2017-07-05 16:12] abhi18av commented on #4978
Hey, I see that it's been while since this was raised. I'm curious about the thoughts of the team members on this one.

[2017-07-05 16:18] Jotschi commented on #4978
I created a small example which uses OrientDB in combination with GraphQL.
https://github.com/Jotschi/vertx-graphql-example

It also uses the microservice framework Vert.x - Maybe it is useful to some of you.
The example is not yet completely finished. I need to rewrite some parts but it should be enough to illustrate how to use OrientDB with GraphQL in a pure-java fashion.

[2017-07-05 18:58] lvca commented on #5866
Also, what happens if the process is killed during this phase? At startup, a repair database should be executed.

[2017-07-05 19:40] laa commented on #7489
Hi @careerscale , no. Right now the problem is clear. It is not related to storage restore process itself but is related to new database lifecycle

in this thread
[code]
lock on OrientDBEmbedded instance is taken

and in this thread
[code]
we wait for the same lock. But first thread is waits for second thread. So we have got dealock.
It is not related to storage restore procedure but to the new li

[2017-07-05 19:46] careerscale commented on #7489
Thanks @laa for the analysis. @tglman  when you resolve the issue, please do let me know so that I can validate it.

[2017-07-05 19:57] laa opened #7531 "During process of export/import of DB links to stale records are present in new DB"
### OrientDB Version:  2.2.20

## Steps to reproduce
Server is crashed because of internal error and some clusters contains broken records.  To remove broken records and restore the ability to work with the database we perform procedure of export/import of database from/to JSON.

## Expected behavior
In imported database links to broken records should be removed

## Actual behavior
In imported dat

[2017-07-05 20:48] maggiolo00 opened #7532 "Orientdb limit geospatial index"
https://stackoverflow.com/questions/44453117/orientdb-limit-geospatial-index

[2017-07-05 20:49] #7532 closed

[2017-07-05 20:50] maggiolo00 commented on #7532
https://github.com/orientechnologies/orientdb/commit/36332e54f492052e97af3a9fbe480c5ac75029f6

[2017-07-06 01:43] zhangshusheng opened #7533 "Cost estimate"
### OrientDB Version: 2.2.20
### Java Version: jdk1.8
### OS: CentOS7

## Quetion
Is there a cost estimation model in OrientDB ?
Does it make sense to estimate cost in OrientDB or other NoSQL databases ?

Thanks.

[2017-07-06 04:58] ozgursucu commented on #7477
Hi @lvca As I said before there is anything related to multithreading. I have single thread managing transactions and I encountered this problem in 2.2.21. Is 2.2.22 usable right now? I want to try with 2.2.22.

[2017-07-06 06:36] laa commented on #7512
Hi @PhantomYdn could you provide an update on this issue?

[2017-07-06 08:40] rdelangh commented on #7153
@tglman
I have split our two databases now on one physical server for each database;
- on the server running dbase "mobile", OrientDB software version 2.2.23 is running, and the file "mobile/default.pcl" has still a very large size:
[code]
- on the server running dbase "cdrarch", OrientDB software version 2.2.18 snapshot of 2017-03-04 is running, and the file "cdrarch/default.pcl" has size:
[code]

[2017-07-06 09:32] laa commented on #7153
@rdelangh did you use patched version on a server? Have you seen any messages into the log?

[2017-07-06 10:06] laa commented on #5866
@tglman sure during fetch of edges we need to check the presence of softly deleted vertex. But as already supposed by @lvca it will be a flag in cluster position map, which means taking into account that cluster position map almost always cached in memory that we will have memory access overhead. We can double check that on benchmarks of course, but IMHO you will not see a huge difference. @lvca s

[2017-07-06 10:17] #7531 closed

[2017-07-06 11:23] careerscale commented on #7533
@zhangshusheng  what is this question about? anything specific to orientdb or you are talking about cost estimation model in general? OrientDB is a general purpose graph db, and if you are talking about specific domain stuff, I think you need to implement your own logic.  it depends on what the logic you have. If you are dealing with lots of traversals, go with Graph and In general Orient is reall

[2017-07-06 13:35] zhangshusheng commented on #7533
Hi, @careerscale .
I mean that is there a cost estimation module in OrientDB, which like the cost estimation model in Postgresql for query optimization. Does it need optimization to traversal query on graph data? So, is the cost estimation necessary?

This is just my guess, I just started studying grpah database.
Thanks.

[2017-07-06 16:18] tglman commented on #7489
hi @careerscale,

Just pushed a fix that should solve the problem.

Regards

[2017-07-06 17:56] laa commented on #7312
Hi @anber500, could you provide information which I asked above?

[2017-07-06 17:59] careerscale commented on #7489
@tglman , Please check this one

Could you please confirm if this has your fix?

2017-07-06 10:57:53
Full thread dump Java HotSpot(TM) 64-Bit Server VM (25.121-b13 mixed mode):

"http-nio-8084-exec-2" #58 daemon prio=5 os_prio=0 tid=0x000000001cf9b000 nid=0x2360 waiting for monitor entry [0x000000002edda000]
   java.lang.Thread.State: BLOCKED (on object monitor)
	at com.orientechnologies.orient.co

[2017-07-06 18:02] laa commented on #7489
Guys, please do not put huge thread dumps inside of issue itself, because after that it is quite inconvenient to track history of such issues. We always can embed big amount of texts inside gist service.

[2017-07-06 18:11] careerscale commented on #7489
I think this was older snapshot. It seems good with snapshot no. 708.

[2017-07-07 01:44] crossknight opened #7534 "Cannot create edge with new vertices in the same transaction"
### OrientDB Version: 2.2.5 - 2.2.22
### Java Version: 8 update 131
### OS: macOS, FreeBSD

## Expected behavior
Commit with these commands successfully via binary protocol (version 2.2.4)
BEGIN;
CREATE VERTEX V SET num = 13
CREATE VERTEX V SET num = 14
CREATE EDGE E FROM (SELECT FROM V WHERE num = 13) TO (SELECT FROM V WHERE num = 14)
COMMIT;

## Actual behavior
Commit failed
com.orientechnologie

[2017-07-07 06:59] maggiolo00 commented on #7534
hi @crossknight

do you have a script to reproduce it?

I just tried to run that batch script with orientjs against 2.2.22 and it worked.

Thanks

[2017-07-07 07:49] crossknight commented on #7534
Umm,, Sorry, It's a test case from my unit test so I don't have a script to reproduce it.
I sent a message as binary via socket like this

Message (Show as string for easily read)
4194s1771s3SQLBEGIN;\nCREATE VERTEX V SET num = 13\nCREATE VERTEX V SET num = 14\nCREATE EDGE E FROM (SELECT FROM V WHERE num = 13) TO (SELECT FROM V WHERE num = 14)\nCOMMIT;

Message description
41 - ORD_REQUEST_COMMAND

[2017-07-07 07:52] maggiolo00 commented on #7534
hi @crossknight

are you using any drivers? or just writing over the binary protocol?

which version of OrientDB exactly?

[2017-07-07 07:56] crossknight commented on #7534
I just writing over the binary protocol. version of OrientDB is 2.2.22

[2017-07-07 08:00] maggiolo00 commented on #7534
hi @crossknight

are you sending parameters in the batch script or only the plain text batch?

[2017-07-07 08:10] crossknight commented on #7534
I'm not sure.
What is the batch script or only the plain text batch?
I followed instruction from this link
http://orientdb.com/docs/2.2.x/Network-Binary-Protocol.html
to generate binary command.

[2017-07-07 08:19] maggiolo00 commented on #7534
From here

http://orientdb.com/docs/2.2.x/Network-Binary-Protocol-Commands.html#script

are you sending only the text or also the parameters?

[2017-07-07 08:24] crossknight commented on #7534
I sending only the text.

[2017-07-07 08:28] zeeshan2709 commented on #1312
@laa : i came across the same issue and found i this thread.
Do you think ODB is good to be used in a system where data contention is frequent and the order the data is also important?

[2017-07-07 08:34] maggiolo00 commented on #7534
@crossknight

that is strange i was not able to reproduce it via studio with batch and with
orientjs driver. Did you try with Studio in Batch Mode?

[2017-07-07 08:35] crossknight commented on #7534
Can you try this?
[
![screen shot 2017-07-07 at 3 30 01 pm](https://user-images.githubusercontent.com/736201/27949952-caf65c6c-6329-11e7-9710-4fa57ed4b8e0.png)
](url)

[2017-07-07 08:43] maggiolo00 commented on #7534
hi @crossknight

<img width="1275" alt="screen shot 2017-07-07 at 10 40 01" src="https://user-images.githubusercontent.com/98812/27950272-f669f2b0-6300-11e7-9455-63bb0977f906.png">

Is that a fresh db?

if not can you provide this db, so i can try to reproduce it?

[2017-07-07 08:48] laa commented on #1312
@zeeshan2709 what do you mean? Sorry, I do not understand a question, could you provide an example or make it more clear?

[2017-07-07 08:49] crossknight commented on #7534
I changed to fresh new db and it works fine.
Do you need the problem db for checking?

[2017-07-07 08:50] maggiolo00 commented on #7534
Sure

you can send it to me here if it's small e.risa@orientdb.com

[2017-07-07 08:57] crossknight commented on #7534
I sent you an email with the problem db.
Thank you for your help.

[2017-07-07 09:27] crossknight commented on #7534
I found the command that cause this problem.
I used this command on new db.
CREATE VERTEX V SET num = 10;

then these following commands will be failed
BEGIN;
CREATE VERTEX V SET num = 13;
CREATE VERTEX V SET num = 14;
CREATE EDGE E FROM (SELECT FROM V WHERE num = 13) TO (SELECT FROM V WHERE num = 14);
COMMIT;

[2017-07-07 10:17] maggiolo00 commented on #7534
ok Thanks

[2017-07-07 12:20] diegomtassis opened #7535 "OObjectLazyList can not be looped using a Stream"
### OrientDB Version: 2.2.22
### Java Version: 8

OObjectLazyList instances returned by the object API can not be streamed (initially).

The following IT reproduces the bug.
https://github.com/CompartAG/orientdb-tryouts/blob/master/2.2.x/src/test/java/com/compart/tec/orientdb/object/OObjectLazyListRegressionIT.java

[2017-07-07 13:40] laa opened #7536 "Crash tests are frozen on shutdown"
### OrientDB Version: 3.0

During running of crash tests, they become frozen on shutdown, after the following exception is thrown
[code]

You can find full log there https://gist.github.com/laa/c17f32fa95a108ebf41c3e5bc5dbc725

[2017-07-07 13:49] laa opened #7537 "Implement driver for LDBC benchmarks and run them"
### OrientDB Version: 3.0

The Linked Data Benchmark Council (LDBC) is a joint effort from academia and industry to establish benchmarking practices for evaluating RDF and graph data management systems, similar to the Transaction Processing Performance Council (TPC).

The LDBC Social Network Benchmark (SNB) models a social graph, and three different workloads based on top of it. Of these, the SNB

[2017-07-07 14:18] #7489 closed

[2017-07-07 14:20] careerscale commented on #7477
@lvca  @ozgursucu  I think I see this issue with 3.0 snapshots too.  It was more obvious with distributed mode but  saw in stand alone mode too.  FYI.

I think I have a private ticket to track it anyway.

[2017-07-07 14:24] laa commented on #7477
@careerscale private ticket will make tracking only worse if you do not have some sensitive information of course. If you completely sure that you have got CME in standalone mode I will add some logging to discover the problem. But CME was implemented in version 0.1 I suppose and never changed since there so I have big doubts that problem in the standalone version. Anyway, let see.

[2017-07-08 00:38] #6895 closed

[2017-07-09 11:13] PhantomYdn opened #7538 "Unclear exception and wrong exceptions order"
### OrientDB Version: 2.2.22
### Java Version: 8+

I have the following SQL:

[code]
Execution failed, but instead of meaningful exception I see the following:

[code]

By digging into the code I found a place where real exception is being lost:

[code]

As you can see error during `doc.undo()` overriding real exception.
In my case validation error was about wrong type of a link for field `account

[2017-07-10 04:31] roots-ai commented on #5012
@lvca Can you please reply?

[2017-07-10 05:12] lvca commented on #5012
@roots-ai can you execute a `kill -5 <pid>` to get from the system output the internal status of the server?

[2017-07-10 08:44] luigidellaquila commented on #7534
Hi @crossknight

I pushed a fix for this a couple of days ago, the fix will be released with 2.2.23 in a few hours

Thanks

Luigi

[2017-07-10 08:44] #7534 closed

[2017-07-10 09:32] tglman opened #7539 "Error on restore of cluster from file during replace cluster"
### OrientDB Version: develop

## Steps to reproduce
Run distributed test TestShardingManualSync

[2017-07-10 09:47] tglman commented on #7535
hi @diegomtassis,

thank you to report this, we will check it soon.

Regards

[2017-07-10 10:01] laa opened #7540 "Block execution of database if data corruption on disk is detected"
We implemented a feature which allows detecting whether data are broken on disk by checking them using CRC32 code. But it this moment we by default put the warning message in a log, and that is it. It will take a while till user notices this message. Data structures may be damaged even more till warning will be noticed. There is no point to run the database with corrupted data structures. We shoul

[2017-07-10 13:43] nishantkumar1292 commented on #5012
The command `kill -5 <pid>` gave [this](http://m.uploadedit.com/ba3s/1499693616822.log) output.
The output is hosted as it was too long to be pasted in the comment.
@lvca Can you please look at the log and tell us where are we going wrong.

We added the following code as you suggested:
[code]

But the retry continues for indefinite time and the record is not unlocked. So this does not solve our is

[2017-07-10 14:24] tglman commented on #7535
hi @diegomtassis,

I cannot really fix this in 2.2.x, the issue is that OObjectLazyList extends ArrayList, that in java 8 has a specialized implementation of splitIterator, to fix this I should override the splitIterator implementation, but in 2.2.x we are compatible to jdk 1.6+ so I cannot refer to `java.util.Spliterator` that exists only from java 8.

I Can fix this in 3.x anyway.

[2017-07-10 15:17] RAndrews137 commented on #6834
Just checked using the 2.2.22 version and this issue still occurs.

[2017-07-10 15:22] tglman commented on #7535
hi,

Pushed the fix with the relative test case in develop branch.

Bye

[2017-07-10 15:44] RAndrews137 commented on #7509
Looks good @lvca.  Yes, this enhancement would greatly help in Production environments.

[2017-07-11 09:01] diegomtassis commented on #7535
thanks

[2017-07-11 09:05] nishantkumar1292 commented on #4439
`Exception during index 'product.id' creation com.orientechnologies.orient.core.exception.OStorageException: File with given name already exists but has different id 65 vs. proposed 5678089963816616111`
      `DB name="db_development"`

Getting the above exception when creating an index over an integer field. The index was earlier there. I removed the field and recreated it.
Is there a way to over

[2017-07-11 10:17] laa commented on #4439
@nishantkumar1292 what version do you use? I suppose that is a binary compatibility problem.  The simplest is just to give the index a different name, do you have any reasons to keep exactly the same name? I am looking forward though to fix this issue, is it possible for you to share a version of database and database itself?

[2017-07-11 10:35] a-zacharenkov opened #7541 "Live Query, and graph schema re-creation"
### OrientDB Version: 2.2.17
### Java Version: 8
### OS: Windows 7

## Expected behavior
in Java API, OrientGraph object should not have vertex and edge types after dropping and re-creating database and instantiating a new this.noTxGraph = new OrientGraphNoTx(databaseUrl, username, password);

## Actual behavior
After dropping the database and then re-creating it, when trying to populate the verte

[2017-07-11 11:09] roots-ai commented on #5012
Hi @lvca ! We've shared the output above, please help.

[2017-07-11 11:17] tglman commented on #7535
hi @diegomtassis,

Do you need a fix for 2.2.x or can we close this issue ?

Regards

[2017-07-11 11:58] nishantkumar1292 commented on #4439
@laa **Version**: 2.2.21
I am just using the command `CREATE INDEX product.id NOTUNIQUE`. I haven't given it any name. Assuming it must be using some default name. No reason to keep the same name.
We are using internal company data, so I am sorry the database cannot be shared.

[2017-07-11 12:16] laa commented on #4439
@nishantkumar1292 you can use command ```CREATE INDEX product_id ON product (id) NOTUNIQUE``` it should solve your problem. But I will really appreciate if you send me your database for investigation so I will fix an issue and you will not have similar problems in future.

[2017-07-11 15:02] santo-it opened #7543 "openbeer db - problem with a query"
MATCH {class: Beer, where: (name = 'Petrus Dubbel Bruin Ale')}--{as: n} RETURN $pathelements

seems the problem has been introduced in 2.2.14.

compare the returned image in 2.2.23 with the one in the doc (http://orientdb.com/docs/3.0.x/gettingstarted/tutorials/Import-the-Database-of-Beers.html#some-queries-and-visualizations)

[2017-07-11 18:49] rdelangh commented on #7108
hi @maggiolo00
That issue seems not to occur anymore with the versions which I run now (2.2.18, and recently 2.2.23)

-> can be closed.

[2017-07-12 06:27] nishantkumar1292 commented on #5012
We also have another major issue here!!
The contents of our database get erased without our knowledge and this is happening frequently. This generally happens when there is the database is not shut down properly or heavy query is run on the database. Also sometimes, the query gets interrupted due to some reason and when we restart the server, the database folder is empty.
@lvca ..What is happening

[2017-07-12 07:03] lvca commented on #7540
I like this. And if you could provide a listener for such event, running in HA could automatically re-deploy the corrupted database to the server.

[2017-07-12 07:04] lvca commented on #7108
Cool, closing it.

[2017-07-12 07:04] #7108 closed

[2017-07-12 07:05] lvca commented on #7512
Closing the issue because of no response. In case, please reopen it.

[2017-07-12 07:05] #7512 closed

[2017-07-12 07:15] lvca commented on #5012
About this issue, I see there is a problem here:
[code]

The locks are kept for way too much time causing this problem. It looks like the background thread that checks the timeout is not working. I'm investigating it.

[2017-07-12 07:18] lvca commented on #5012
Question: is it possible you're running some commands non in transaction?

[2017-07-12 08:18] laa commented on #7540
@lvca this tool is used to indicate that HW is broken we detect not damage of records because of bugs in database but damage of records because of damage of HW.  I can not have a link by hand but Redis guys added similar functionality to their database and found that quite a lot of servers have problems with HW.  So our main intention is to sort out bug reports which were caused by issues in HW. A

[2017-07-12 09:53] nishantkumar1292 commented on #5012
@lvca **Answer to your question**: Earlier we were running the queries with `transaction=true` but later to solve `ODistributedRecordLockedException` we made `transaction=false`. So currently we are running commands not in transaction.

**About emptying of database**: The database folder gets erased - all the contents of the folder. The folder is there but the contents are erased.
[code]

[2017-07-12 11:37] nishantkumar1292 commented on #1815
Hi @lvca ..
I am getting the same exception when trying to execute the query `SELECT out('category_listing_or').listing_id FROM #13:2`. I am running this query through OrientDB studio.
**Server Log**:
[code]

[2017-07-12 11:50] laa commented on #1815
Hi @nishantkumar1292 what version do you use?
Under what version database was created? Did you experience server crash or something like that?

[2017-07-12 21:04] fixundfertig123 commented on #6969
@lvca Any news on this issues? Same happens to me on Windows and OrientDB 2.2.22.
Unfortunately this prevents me of upgrading to 2.2.22 since the unqiue autoincrement is essential for my application.

[2017-07-13 05:57] nishantkumar1292 commented on #1815
Hi @laa
**Version: 2.2.21**
Database created under 2.2.17. Sometimes the server was force closed.

[2017-07-13 06:55] nishantkumar1292 commented on #5068
I am getting this error when running `REPAIR DATABASE --fix-graph` from console.

SERVER LOG:
[code]
@lvca ..Any idea why this error?

[2017-07-13 07:20] lvca commented on #7540
Fine for me.

[2017-07-13 08:02] lvca commented on #5012
About the original error, I found a bug with non-tx locks. Fixed in 2.2.x branch. About the other error, during the installation of the database, something went wrong, but it should be in the logs. Do you still have them?

[2017-07-13 08:41] maggiolo00 opened #7544 "Studio should show Custom Conflict Strategy"

[2017-07-13 09:45] #7544 closed

[2017-07-13 09:46] nishantkumar1292 commented on #5012
This was the latest log I had which was related to the issue from the logs folder. Are database installation logs stored separately? If no, then I might not have it. Any way fix this issue.. @lvca . We are using Ruby and [active-orient](https://github.com/topofocus/active-orient) to enter data into OrientDB.
Moreover for the original locks error, do I have to update my OrientDB or will it be relea

[2017-07-13 10:15] robfrank commented on #7155
Documentation updated, closing

[2017-07-13 10:15] #7155 closed

[2017-07-13 10:16] robfrank commented on #7524
Documentation updated, closing

[2017-07-13 10:16] #7524 closed

[2017-07-13 10:16] #7408 closed

[2017-07-13 10:23] smolinari commented on #7155
I still think the `= true` is unnecessary. 😄

Scott

[2017-07-13 10:51] laa commented on #1815
@nishantkumar1292 I suppose page corruption was caused by force close. Do you use WAL when you work with a server? About solution for your problem, you should make export/import database from to JSON. What was the reason of force close? Could you explain?

[2017-07-13 10:57] #6367 closed

[2017-07-13 11:05] laa commented on #5068
Hi, @nishantkumar1292 I answered you in another issue.

[2017-07-13 11:12] nishantkumar1292 commented on #1815
Will export/import rectify the `Error: java.nio.BufferUnderflowException`
No I don't use WAL. By the way, what is WAL. Not familiar with it.
Sometimes the queries used to hang or the distributed nodes had a problem syncing. Closing and reopening the database would sometimes fix this.

Also tried to run `REPAIR DATABASE --fix-graph` from console.
Server log:
[code]

[2017-07-13 11:19] laa commented on #1815
export/import will restore your physical database struсture, so issues will be gone.

[2017-07-13 11:27] nishantkumar1292 commented on #1815
Should I remove the database after export and then import? Or directly perform the export/import one after another?
@laa

[2017-07-13 11:30] laa commented on #1815
You export from old database and import to completely new database

[2017-07-13 11:38] nishantkumar1292 commented on #1815
@laa ..One more thing.
I have distributed server with 2 nodes.
Do I need to do this on both the nodes separately or just need to export/import on the master node?

[2017-07-13 11:51] laa commented on #1815
@nishantkumar1292 I suppose, I am not expert in distributed, you have to do this on a single node and then wait till it will be replicated on the second node.

[2017-07-13 11:52] robfrank commented on #5069
@smolinari we implemented this feature on EE edition: http://orientdb.com/docs/3.0.x/indexing/Full-Text-Index.html#cross-class-search-enterprise-edition

[2017-07-13 12:13] robfrank commented on #7155
It's not my duty, but the SQL parser needs it. MAaybe @luigidellaquila  can answer in more detailed way.

[2017-07-13 12:23] rdelangh opened #7545 "Server completely irresponsive after heavy query, no logs that give status, not possible to interact"
### OrientDB Version: 2.2.18
### Java Version: 1.8.0_92
### OS: Ubuntu 16.04

## Expected behavior
A server process which is capable to arrange its resources in such a way that it never gets stuck and irresponsive.

## Actual behavior
The server was running since early May without noticable problems, after much tweaking of its memory resources:
The process is running now with following arguments:

[2017-07-13 12:34] smolinari commented on #5069
Thanks for the note Roberto.

I'm waiting for the much more important indexing on data that doesn't have schema definitions i.e. schema-less indexing. Until that happens, ODB can't say it is a NoSQL competitor in my book.

Is that feature planned at all?

Scott

[2017-07-13 12:42] nishantkumar1292 commented on #1815
Hi @laa  Just tried importing the database but got an error.
Please help!

**LOGS**
[code]

[2017-07-13 12:44] robfrank commented on #5069
AFAIK, no, it is not planned.

[2017-07-13 12:45] laa commented on #1815
@nishantkumar1292 Could you send me your JSON file?

[2017-07-13 13:35] luigidellaquila commented on #7155
@smolinari the `= true` is there just because the parser for now only accepts binary conditions (eg, `<expression> <comparisonOperator> <expression>`) but I plan to remove this limitation soon

Thanks

Luigi

[2017-07-13 14:21] careerscale commented on #7545
@rdelangh, can you please take thread dump and attach that one?  I see Orient team at their best when they have the required data points. It could be some deadlock or so in very specific scenario.

btw I am using Orient 3.0 just want to make sure this issue doesn't exist for 3.0 and if it exists I don't want to discover this on my own sometime in the future. :-).

[2017-07-13 14:25] laa commented on #7388
Fixed

[2017-07-13 14:25] #7388 closed

[2017-07-13 14:29] careerscale commented on #7388
@laa  anything applicable for 3.0? sorry being greedy for 3.0 stuff. :)

[2017-07-13 14:31] careerscale commented on #7388
sorry, I see 3.0 commit too

[2017-07-13 14:31] careerscale commented on #7388
sorry, I see 3.0 commit too

[2017-07-13 14:40] luigidellaquila commented on #7545
Hi @rdelangh

Thank you for opening this issue, and thank you @careerscale for your comment, a thread dump would help a lot indeed.

My feeling is that the problem here is the size of the result set (or the intermediate result sets) that overloads the memory and the GC, but it's hard to say without a working example or a thread dump.

About v 3.0, the query model is completely changed, queries are

[2017-07-13 14:58] rdelangh commented on #7545
hi @luigidellaquila
As I wrote : the server is fully unresponsive, trying to take a thread dump was also impossible.

For the record: because this server was running version 2.2.18 (built early March 2017), I decided to take a try with version 2.2.23 which is happily running on my other machine for another database.
I copied the same start-script with the environment variable settings for heap etc

[2017-07-13 15:02] rdelangh commented on #7545
[code]
So the process died... typically because of the launching of "jstack"

[2017-07-13 15:03] rdelangh commented on #7545
is version 3.0 already safe to start using for a production database ?

[2017-07-13 15:22] PhantomYdn opened #7546 "NPE during creation of a property for a specific class"
### OrientDB Version: 2.2.22
### Java Version: 7+
### OS: linux

It seems that OrientDB doesn't like class with name "Report". After creation of such class there are lots of interesting stuff is happening. And the only one solution: rollback to previous backup.

Creation of a new property for class "Report" or attempt to retrieve newly created class lead to the NPE in the same place.

Creation of

[2017-07-13 15:30] smolinari commented on #5069
That's too bad. You are sort of false advertising without it.

Scott

[2017-07-13 15:31] laa commented on #7546
@PhantomYdn just to clarify is it 2.2.2 version?

[2017-07-13 15:36] rdelangh commented on #7545
Meanwhile, how come that I can not even start the dbase with version 2.2.23 ? It runs into OutOfMemory when I try to open the dbase with a "console.sh" session... (see above)

[2017-07-13 16:04] luigidellaquila commented on #7545
Hi @rdelangh

3.0 is still under development, it's not yet safe for production.
The OOM on database open is quite strange. Do you think you can share it (on a private channel)? Probably we can do some debugging on it and see what's the problem

Thanks

Luigi

[2017-07-13 16:20] rdelangh commented on #7545
hi @luigidellaquila
What exactly would you want me to share? If you mean the dbase, then it won't be possible due to its size (2.8TB)
I think it is an out-of-memory on UNIX (Ubuntu) level:
I stopped the server and restarted it, and launched again an attempt from "console.sh" to open it;
in parallel, in other UNIX sessions, I had a "vmstat" running, as well as a "while" loop to show the RSS and VSZ

[2017-07-13 16:36] laa commented on #7484
Fixed

[2017-07-13 16:36] #7484 closed

[2017-07-13 16:37] rdelangh commented on #7545
I don't know if the number of open files would be an issue, like I had before (that's why the limit is raised from default 1024 to now 10000) : in case that would be the reason, the FYI the number of all files in the "cdrarch" dbase directory is:
[code]
(if the server would have an issue opening ALL these files, then this would have been an issue also with running the previous version 2.2.18 till

[2017-07-13 17:09] tglman commented on #7545
hi @rdelangh,

From the error `java.lang.OutOfMemoryError: unable to create new native thread`  seems that you run out of memory on your host machine(notice that is not an heap error), so I would suggest to double check the heap+diskcache if they fit in the machine memory, I see your heap is pretty big (24GB) I guess reduce it size and the diskcache size may help.

Regards

[2017-07-13 18:56] nishantkumar1292 commented on #1815
Yes... @laa
The file was too big to be attached here.
I have shared the file to this [link](https://drive.google.com/open?id=0Bwho2AS1WxFwYUFhWU5fRmF0ajQ).

[2017-07-13 19:51] fixundfertig123 opened #7547 "Sequence used multiple times in single transaction block is not incremented"
### OrientDB Version: 2.2.22
### Java Version: 1.8.0_92
### OS: Windows 7

## Expected behavior
A sequence used as a default value in multiple vertex classes (as uniqueID) in same transaction block should increment by one within each created vertex.

## Actual behavior
If run in transaction block, sequence is not updated, and all vertices get the same "uniqueID" and due to an index an exception is

[2017-07-13 19:56] rdelangh commented on #7545
hi all,

as presented in the "vmstat" outputs, there is
- still plenty of "free" RAM on the physical host
- no swap capacity used

To make sure nothing in Ubuntu's kernel would be unreleased (maybe an Ubuntu bug), I rebooted the physical server and retried, but to no avail: the first of the Java server's exception trace shows Lucene... Could it be that there are problems with the Lucene's getting

[2017-07-13 21:14] tglman commented on #7545
hi @rdelangh,

From the error really seems that too many threads are created, I feel something is getting stack while boot, could you try to get some thread dump while booting orient, so we can quickly see if there are too many threads starting and what they are.

Kind Regards

[2017-07-13 21:50] careerscale commented on #7547
Interesting, saw this behavior in 3.0 in the beginning (couple of months ago) and it is fixed in 3.0 snapshots already. we are able to use in our product that used orientDB.

[2017-07-13 22:08] rdelangh commented on #7545
please find in attach the thread dump, after the server ran out of memory with the client trying the open the dbase.
[jstack.out.gz](https://github.com/orientechnologies/orientdb/files/1146792/jstack.out.gz)

[2017-07-13 22:32] rdelangh commented on #7545
From the command "ps -eaFm ", I seem to have 490 threads running in the kernel (all processes together).
I had to stop some of the shell sessions to clear threads from the kernel, otherwise the "shutdown.sh" script could not contact the OrientDB server for shutting down. But now it can, and the server is down. The number of threads running now is reduced to 40.

I startup the server again, without

[2017-07-14 04:40] PhantomYdn commented on #7546
I'm sorry - you are right. I meant 2.2.22

[2017-07-14 05:35] laa commented on #7546
@PhantomYdn do you have broken database, which you are talking about? Do you have logs from this database? Preferably since the creation of a class Report? That is very important.

[2017-07-14 05:52] laa commented on #7335
@lvca I have tried to run test, but as result I always get:

[code]

Will try to fix using thread dump

[2017-07-14 06:03] PhantomYdn commented on #7546
Backup was provided through Skype.

[2017-07-14 07:52] dominik-kopczynski opened #7548 "Problem with nested collections"
### OrientDB Version: 2.2.18
### Java Version: 1.8
### OS: ubuntu 16.04

Hi folks,

Thank you for providing this very lovely database. Currently, I am restructuring our program, that it utilizes orientDB but I stuck in a problem I cannot solve. Within my class (say MyClass1) I have a nested collection, for instance: HashMap<String, ArrayList<MyClass2>>
When storing in the database, I get the follo

[2017-07-14 08:24] robfrank commented on #4880
The problem of having 2 indexes on a single property is addressed on 2.2.23:
https://github.com/orientechnologies/orientdb/issues/7513

[2017-07-14 08:24] #4880 closed

[2017-07-14 09:28] laa commented on #7312
@arkolesnik could you implement test case like this one https://gist.github.com/laa/20717d77e9d9ae91b1375aae22642a58

[2017-07-14 10:33] Shubham-gupta26 commented on #4599
Solved the issue.
enter username and password as "admin" and "admin"

[2017-07-14 10:57] PhantomYdn opened #7549 "Incompatible changes in 2.2.23 related to security"
### OrientDB Version: 2.2.23
### Java Version: 8
### OS: ubuntu

There are big changes in 2.2.23 related to security. Yes - it's pretty inconvenient to have such big changes in minor version, but it might be OK if you can support previous logic for the following case:

REST call for `/query/db/sql/select from $user`. Previously it worked perfectly under reader/reader and reader/reader.
Also let me

[2017-07-14 10:58] #3441 closed

[2017-07-14 11:11] laa opened #7550 "Continue import if import of separate records fails"
### OrientDB Version: 2.2.22

Previous versions of OrientDB allows less strict rules for data as more recent versions. For example. In previous versions of OrientDB negative links can be kept in documents.  But if import of single record is failed does not mean that the import of the rest of the records should be stopped. Users can add missed records latter when whole import will be finished.

[2017-07-14 12:20] laa commented on #7550
Fixed

[2017-07-14 12:20] #7550 closed

[2017-07-14 12:23] laa commented on #1815
@nishantkumar1292 here is fixed db https://drive.google.com/file/d/0B2oZq2xVp841azQtSlRoZEVjdU0/view?usp=sharing the only issue left is that index category_listing_or_idx indicates that there are some duplicated records. there are few of them but they have to be removed manually.

[2017-07-14 12:38] rdelangh commented on #7545
gentlemen, any more feedback on this issue please ?
Our database can not startup anymore: not with the newer version 2.2.23, not with the version 2.2.18 that it was running on since 2 months...
Since the software (2.2.18) has not changed meanwhile, it must be a change inside my database.
I see in these thread dumps a lot of "Lucene" strings mentioned, can it be related to the Lucene indexes?

many

[2017-07-14 12:51] nishantkumar1292 commented on #1815
@laa ... I have the corrected file now. Please remove that file from your comment as it contains internal company data. We can share it privately if needed.
I'll look at the fixed DB.

[2017-07-14 13:22] robfrank commented on #7545
You have too much lucene indexes. They exhaust the resources.
For now, I  don't have a solution to provide to you.
As a work-around, try to start the server without lucene support, just remove orientdb-lucene, and drop as many indexes as you can.  I don't know if the server will start without the jar.
Then put orientdb-lucene.
I didn't try this solution, I don't know it  can work..

[2017-07-14 14:08] fredfortier opened #7551 "WebSphere: Transaction Timeout During Node Synchronization"
### OrientDB Version: 2.1.20
### Java Version: 1.6
### OS: Windows

## Expected behavior
Two applications with an embedded OrientDB server restart every night, ten minutes apart. The first node should startup successfully. The second node should then synchronize.

## Actual behavior
A transaction timeout occurs during synchronization.
javax.transaction.TransactionRolledbackException: Transaction i

[2017-07-14 15:15] aemitos opened #7552 "Bug dealing with real number"
### OrientDB Version: 2.4.22
### Java Version: 1.8.0_131
### OS: Linux Ubuntu 16.04.2 LTS

## Expected behavior
Using numbers from real domain (Float, Double, etc), we are having errors because the first key to enter in a schema-less object will define the type. When a big number enters in the database it will be *java.math.BigDecimal*, but other numbers commonly enter in the database as *java.lan

[2017-07-15 05:43] rdelangh commented on #7545
hi @robfrank ,
many thanks for your feedback.
1) I renamed the file "./lib/orientdb-lucene-2.2.23-SNAPSHOT.jar" to "./lib/orientdb-lucene-2.2.23-SNAPSHOT.jar.orig", then started the 2.2.23 server
2) then I started "console.sh" and attempted to open the dbase, but it failed immediately:
[code]

So I guess this is a catch-22 situation:
- the database has too many Lucene indexes to be able to start
-

[2017-07-15 10:02] adepase opened #7553 "Cannot open local storage 'C:/orientdb-teleporter-community-2.2.23/databases/OSystem' with mode=rw at first run"
### OrientDB Version: orientdb-teleporter-community-2.2.23
OrientDB Server v2.2.23 (build 1318ca25b3927d22d6a7d5316000e20cb3d9329c)
Databases directory: C:\orientdb-teleporter-community-2.2.23\databases [OServer]
OrientDB auto-config DISKCACHE=1.024MB (heap=910MB direct=1.024MB os=8.122MB)

### Java Version:
The first time it gave this information:
INFO  32 bit JVM is detected. Lowering disk cache

[2017-07-15 12:07] adepase commented on #7553
I tried a last thing: I uninstalled everything and re-installed it. I changed the .bat in the same way as said before, but I forced the 64bit version of Java before the first run. Everything went ok.
I suggest to add this point to the documentation (and a check in the startup script with a warning big as an house, maybe asking for a confirmation before continuing).

[2017-07-15 12:40] laa commented on #7553
@adepase how did you get a server ?

[2017-07-15 12:47] adepase commented on #7553
Sorry, I cannot understand your question. Explain, please. And, please,
note that I found the solution (written in a comment). I cannot change the
status, but, it's ok
Thank you
    Alessandro

2017-07-15 14:40 GMT+02:00 Andrey Lomakin <notifications@github.com>:

[2017-07-15 13:08] laa commented on #7553
Hi @adepase, I suppose database fixed itself and your biggest problem was that distribution which you downloaded was broken. Could you provide a source from which you downloaded distribution? You are right though that we require 64 bit JVM for a server to run.

[2017-07-15 13:24] adepase commented on #7553
No, Andrey, I uninstalled and reinstalled the _same_ distribution (I kept
the .zip and unzipped it again, when I had that idea of forcing the JDK),
so it didn't fixed itself, (I tried several times before uninstall it, no
way): I completely uninstalled it and forced a different (64bit instead
32bit, but _same_ version) installation of the JDK.
Just that.
It means that the very first run with a 32b

[2017-07-16 11:40] laa commented on #7553
@adepase I see thank you for feedback and provided information.  @robfrank could we add -d64 switch on server start. I do not think that today there are pure 32 bit systems.

[2017-07-17 07:36] maggiolo00 opened #7554 "Issue using lucene indexes and the OR operator with list fields"

[2017-07-17 09:00] nishantkumar1292 commented on #5012
Hi @lvca ...any updates how do we resolve the `ODistributedRecordLockedException` bug on our end?

[2017-07-17 10:32] tglman commented on #7538
hi @PhantomYdn,

Do you have an example query that produce this issue ? I understood the problem and I'm aware of how to fix it, but I haven't reproduced it yet, I would prefer to have the test case with for the fix.

Regards.

[2017-07-17 11:06] robfrank opened #7555 "Laziness on Lucene indexes"
implement laziness on lucene index engines, full-text and spatial

[2017-07-17 11:51] santo-it commented on #7545
Hi @rdelangh,

Thanks for using OrientDB and for opening this issue.

I see quite some risk in implementing such a big solution (with a 2.8Tb database) without considering a Support Contract with us. We offer different Support and Consultancy options. I believe you may benefit from having direct access to our Support Team (that is backed by the OrientDB Engineering Team) - or discuss a data model

[2017-07-17 11:56] tglman commented on #7548
hi @dominik-kopczynski,

Do you have a example test case for reproduce the issue ? Looking to the trace I think I found the reason of the problem, but I would like to have a test to prove the fix.

Regards.

[2017-07-17 12:18] ozgursucu commented on #7477
Any updates?

[2017-07-17 12:48] dominik-kopczynski commented on #7548
Hi,

Thank you for the massage. I attached two classes. Please register both
classes, create an instance of CoolContainer and try to store it. Thank
you very much.

Cheers,
Dominik

On 17.07.2017 13:56, tglman wrote:

[2017-07-17 12:51] adepase opened #7556 "In Studio, graph page freezes on a query returning 20 records, while browse returns the result without any issue"
### OrientDB Version: orientdb-teleporter-community-2.2.23
OrientDB Server v2.2.23 (build 1318ca2)
Databases directory: C:\orientdb-teleporter-community-2.2.23\databases [OServer]
OrientDB auto-config DISKCACHE=1.024MB (heap=910MB direct=1.024MB os=8.122MB)

### Java Version: \jdk1.8.0_92 64bit
### OS: Windows 10 Home, 64bit, with 8G RAM

## Expected behavior
I expected the same result from browse

[2017-07-17 12:56] adepase commented on #7556
Further information:  selecting the "Explain" button instead of the "Run" button in the browse page results in the same log message (and freeze) as in the graph page.

[2017-07-17 13:00] tglman commented on #7548
Hi @dominik-kopczynski,

I think github removed the attachment in your email, could you put them on a gist ?

Thank you

[2017-07-17 13:04] dominik-kopczynski commented on #7548
Here it is:
https://gist.github.com/dominik-kopczynski/daf5b3acd5474db69c67485faff7fe00

Cheers

On 17.07.2017 15:01, tglman wrote:

[2017-07-17 13:05] maggiolo00 commented on #7556
Hi @adepase

Freeze do you mean that you see the loading spinner ?

Which is the count of the shortest path?

[2017-07-17 13:09] adepase commented on #7556
Exactly, I see the loading spinner (several minutes vs 0.37 seconds)
The count is 20, as I said in the issue.
Alessandro

2017-07-17 15:05 GMT+02:00 Enrico Risa <notifications@github.com>:

[2017-07-17 13:14] maggiolo00 commented on #7556
Hi @adepase

you should rewrite your query.

[code]
you were using `From synset`. By doing so the engine will call shortestPath function for each records in `sysnet` class.

[2017-07-17 13:20] adepase commented on #7556
Ok, thank you.
The graph is no more freezing and I suppose the browse page returned 20
rows because it uses a predefined limit.
Understood.
But is there a way to see vertex (and maybe edges) in the graph page? This
way it returns nothing.
Thank you in advance.
Alessandro

2017-07-17 15:14 GMT+02:00 Enrico Risa <notifications@github.com>:

[2017-07-17 13:23] maggiolo00 commented on #7556
hi @adepase

can you try ?

[code]

Thanks

[2017-07-17 13:23] adepase commented on #7556
Interesting enough, the graph page has also a predefined limit of 20,
however: this resolve my specific issues, but doesn't explain the
 different behaviour (I don't mind, at least not in this case, just telling
for you to improve your system).
Alessandro

2017-07-17 15:20 GMT+02:00 Alessandro Depase <alessandro.depase@gmail.com>:

[2017-07-17 13:24] adepase commented on #7556
It works. Thank you so much.
Alessandro

2017-07-17 15:23 GMT+02:00 Enrico Risa <notifications@github.com>:

[2017-07-17 13:25] maggiolo00 commented on #7556
hi @adepase

about the different behaviour is that the graph page uses a different endpoint with a custom graph
format as result set.

[2017-07-17 13:25] WeaxMe opened #7557 "Strange working SQL GET query for fields with OType.DATE in prepared statement"
### OrientDB Version: 2.2.23
### Java Version: 7 OpenJDK
### OS: Ubuntu 16.04
Case:  strange working SQL GET query for fields with type OType.DATE when using prepared statement.
## Expected behavior
When use prepared statements with java type Date and OrientDB DATE, DATETIME all works fine, but prepared statements for OrientDB DATE don't work correctly.
## Actual behavior
### OType.DATE
`Map<Strin

[2017-07-17 13:27] adepase commented on #7556
Thank you again. Very fast and efficient :)
Kind Regards
Alessandro

2017-07-17 15:25 GMT+02:00 Enrico Risa <notifications@github.com>:

[2017-07-17 13:28] #7556 closed

[2017-07-17 13:53] luigidellaquila commented on #7557
Hi @WeaxMe

Just a couple of questions to better understand the problem?

- do you have a schemaful class? How do you create the schema?
- how do you populate the db?

Haing a db that has the problem or a script to create it would help a lot

Thanks

Luigi

[2017-07-17 14:01] laa opened #7558 "com.orientechnologies.orient.core.exception.OStorageException: Cannot restore state of cache for storage"
### OrientDB Version: 3.0

If the file which presents backed up the state of the disk cache is broken server can not be started.
In such case, we just need to show a warning, instead of halting the server. Broken backup of the disk cache state does not affect the functionality of database, only initial performance.

[2017-07-17 14:02] tglman commented on #7548
hi @dominik-kopczynski,

Thanks for the case, I could reproduce the issue and verify the fix, pushed everything right now, I'll close this issue, the fix will be released with 2.2.24 and with 3.0.0.

Regards

[2017-07-17 14:02] #7548 closed

[2017-07-17 14:24] #7554 closed

[2017-07-17 14:44] laa commented on #7558
Fixed

[2017-07-17 14:44] #7558 closed

[2017-07-17 14:49] tglman commented on #7538
hi @PhantomYdn,

I wrote the test, reproduced and fixed, it will be released with 2.2.24 and 3.0.0, closing this.

Regards

[2017-07-17 14:49] #7538 closed

[2017-07-17 15:24] PhantomYdn opened #7559 "SELECT statement doesn't allow to use rid as static field"
### OrientDB Version: 2.2.23
### Java Version: 8
### OS: linux

The following queries are valid from OrientDB point of view:

[code]

but at the same time the following query is not valid

[code]

It looks pretty inconsistent with OrientDB capabilities. Any chance to fix?

[2017-07-17 15:46] luigidellaquila commented on #7559
Hi @PhantomYdn

I just tried it on latest 2.2.x and it seems to work fine. Am I missing something? Maybe you have a particular schema defined or something like that?

Thanks

Luigi

[2017-07-17 16:08] PhantomYdn commented on #7559
Have you tried that through OrientDB console, Java API or serverside javascript?
In my case I used Java API.

[2017-07-17 16:10] luigidellaquila commented on #7559
No, I tried from Studio only. I'll try it from Java

Thanks!

Luigi

[2017-07-17 16:15] PhantomYdn commented on #7559
It seems that a problem is on my side. I have used copy-paste from Word document and character # in word is not the same as simple #. After reentering - everything is fine. Thank you for validation! I stuck previously without your comment that it should work:)

[2017-07-17 16:15] #7559 closed

[2017-07-17 16:18] luigidellaquila commented on #7559
Hi @PhantomYdn

I tried this

[code]

but with no success, it seems to pass... any idea?

Thanks

Luigi

[2017-07-17 16:24] laa commented on #7426
Hi @Raycoms, hope you are doing well.  A small friendly reminder that we are looking forward to receiving detailed information how to reproduce an issue.

[2017-07-17 17:08] PhantomYdn opened #7560 "FR: support of negative numbers in left(), right()"
Currently the following queries work perfectly:

[code]

But what if I need everything except last X characters? Expected that the following queries will work, but that didn't

[code]

Moreover (and that's a bug, I think)  the following query doesn't work as expected

[code]

Previous queries with minus just fail with exception, but this one works, but instead of string without last 3 characters i

[2017-07-17 17:12] TropicalPenguin opened #7561 "Checking Date Range on Edges During Traverse"
### OrientDB Version: 2.2.23
### Java Version: 1.8.0_131
### OS: Ubuntu 17.04

## Expected behavior
Expecting traverse WHILE clause with dates to work similarly to select's WHERE clause with dates.

## Actual behavior
The only comparisons with dates I could make work are 'is null'/'is not null' and equality/'=' (so long as the date string is an argument to date()

Using BETWEEN does not work. Trie

[2017-07-17 17:15] TropicalPenguin commented on #7561
Aaah, shoot. Sorry, forgot to subscript the result of inE! e.g. inE('on_top_of')[0] works!

[2017-07-17 17:15] #7561 closed

[2017-07-17 17:58] prpfialho opened #7562 "Magic number verification failed for page ..."
### OrientDB Version: 2.2.23
### Java Version: 1.8.0_131
### OS: Ubuntu 16.04

## Expected behavior
Keep all previously stored data after forced reboot (power failure).

## Actual behavior
Only records stored 2 days ago (everyday > 10000 records are stored) were kept.
Server window reports multiple messages of:

 Magic number verification failed for page `1234` of `outputs_3.pcl`. [OWOWCache]

for

[2017-07-17 20:36] WeaxMe commented on #7557
Hi @luigidellaquila
I was create test for this case.
[https://github.com/WeaxMe/orienteer-test/blob/master/orientdb-test-data-query/src/test/java/com/weaxme/test/query/TestPreparedStatement.java](url)
Answer for you questions:
- I use schema less class

Thanks for feedback,
Vitaliy

[2017-07-18 06:31] luigidellaquila commented on #7560
Hi @PhantomYdn

The enhancement should not be too complex, I'll try to do it as soon as I can.

About the other bugs reported, what I can say is that:

- math operations like `2+2` are not supported as simple projections in v 2.2, but they already work fine in v3.0M1
- eval() function accepts strings, so `eval(2+2)` is not valid (but I agree with you that it should not throw NPE)
- eval function i

[2017-07-18 06:35] luigidellaquila commented on #7557
Great, thank you very much @WeaxMe, I'll check it today

Thanks

Luigi

[2017-07-18 07:31] laa commented on #7562
@prpfialho do you use WAL, did you see data restore procedure in the log after you started the server? Typically magic number verification failure can also mean problem with hardware, did you run disk verification routine after a power failure?

[2017-07-18 10:06] luigidellaquila commented on #7557
Hi @WeaxMe

I just pushed a fix for this on branch 2.2.x. The fix will be available in v 2.2.24

Thanks

Luigi

[2017-07-18 10:06] #7557 closed

[2017-07-18 10:34] sridharnampalli opened #7564 "OrientDB graph editor settings saved with admin user not reflected for other user"
### OrientDB Version: <2.2.22>
### Java Version: <version here>
### OS: <linux>

## Expected behavior
graph editor settings changes saved with admin user , to display name of the node properties value instead of @rid  , graph diplay the changes with admin user after refresh and re-login  , but with other user it does not have the same feature

## Actual behavior
it display @rid value for node name

[2017-07-18 11:41] prpfialho commented on #7562
Hi,

Thank you for your reply.
Sorry for the lack of info. The log is:

2017-07-17 18:49:02:797 WARNI {db=OSystem} Storage 'OSystem' was not closed properly. Will try to recover from write ahead log [OLocalPaginatedStorage]
2017-07-17 18:49:02:798 INFO  {db=OSystem} Looking for last checkpoint... [OLocalPaginatedStorage]
2017-07-17 18:49:02:801 INFO  {db=OSystem} Found FUZZY checkpoint. [OLocalPag

[2017-07-18 11:44] laa commented on #7562
@prpfialho you may find following information in the log during restore "Data restore was paused because of exception. The rest of changes will be rolled back and WAL files will be backed up. Please report issue about this exception to bug tracker and provide WAL files which are backed up in 'wal_backup' directory." Could you send me this directory?

[2017-07-18 12:17] tglman commented on #7496
hi @ggeremy,

I'm not an expert of Frames, I checked but I couldn't find anything that could help on frames, you may evolve it adding temporary vertex support to frames.

Regards

[2017-07-18 12:25] tglman commented on #7371
hi @jackzhp,

Where you able to connect? do you have more hint for reproduce your issue ?

Regards

[2017-07-18 12:34] #7248 closed

[2017-07-18 12:34] tglman commented on #7248
hi @sungeunchoi-kr,

We fixed the validation flow and now when you save a document should be valid since the first save, the sql of "create vertex " already save the record in the transaction, so it have to be valid to be saved.

The today behaviour is the correct one.

Regards

[2017-07-18 12:45] fixundfertig123 commented on #7547
@lvca @tglman

Hi, I finally isolated the bug and it seems to be related to remote connections. I created a repository for it located under https://github.com/fixundfertig123/7547/commits/master

When running in memory or plocal it is working (Checkout https://github.com/fixundfertig123/7547/tree/93abef43ee20d565375bcd6862336be7b299e36f)

When changing to remote connection (checkout https://github

[2017-07-18 13:08] fixundfertig123 commented on #7547
I commit a change adding ODatabaseRecordThreadLocal.INSTANCE in the beginning to run it from the shell, not just Eclipse

[2017-07-18 13:24] #7060 closed

[2017-07-18 13:44] taburet commented on #7344
Seems like all the exceptions related to shutdown hooks are fixed now. But there are several tests with incorrect database/storage life-time management, like `OrientGraphFactoryEncryptionTest` and `OETLEdgeTransformerTest`, database/storage directories are deleted before the actual storage shutdown from the shutdown hooks. For now we can live with them, that is not critical.

@tglman AFAIU, `Orien

[2017-07-18 13:53] laa commented on #7344
@taburet @tglman for that reason (absence of an order of shutdown hooks) internal implementation of shutdown hooks was created. It is single shutdown hook which calls other hooks according to their priority. Is this implementation still alive?

[2017-07-18 14:06] luigidellaquila commented on #7549
Hi @PhantomYdn

This change is related to a security issue, we fixed a vulnerability that was strictly related to bypassing permissions with some SQL queries.

For sure that fix cannot be reverted, but we can see if this specific case (that does not seem to affect security) can be explicitly supported

Thanks

Luigi

[2017-07-18 14:24] Alexettels commented on #6134
Hi, How was this resolved? I'm getting an error message saying :
`unable to manage remote db without server admin credentials`

[2017-07-18 14:32] tglman commented on #7344
Hi,

I fixed the fact that if an "OrientDBInternal" instance is already closed it not get closed twice, and the logic is behind a synchronize, so only the first one will actually close the storages relative to that instance. for the OrientShutdownHook instances and OOrientShutdownListeners I would prefer review them with the target of refactor them to make the OrientDB context contain all peaces i

[2017-07-18 14:35] PhantomYdn commented on #7560
@luigidellaquila , thank you for considering enhancement!

I understand regarding spaces. But is that expected behavior or some enhancements are expected?

[2017-07-18 14:51] PhantomYdn opened #7565 "Complexities with serverside JS and SQL"
### OrientDB Version: 2.2.23
### Java Version:  8+
### OS: Ubuntu

Lets imagine that the following code is needed:

[code]

What's expected behavior? Will it return 3 users? No - it will return just one, because due to js boxing only 'writer' will be considered as first argument.

Lets modify slightly script to ensure that first argument is an array.

[code]

Result is Exception:

[code]

OK. Lets

[2017-07-18 14:54] PhantomYdn commented on #7549
Yes - please check. Otherwise, I'm sure that everybody who used OUser in their coding have to use provide READ access to SYSTEM_CLUSTERS to everyone who should be able to read just his OUser document.

[2017-07-18 15:19] robfrank commented on #6134
You need to provide the server's  user name and password:

http://orientdb.com/docs/last/Loader.html#orientdb-loader

[2017-07-18 16:09] lvca commented on #5012
@nishantkumar1292 this bug has been fixed. You can try with last 2.2.x snapshot.

[2017-07-18 17:51] prpfialho commented on #7562
@laa, I sent it to your email.

Where can I find that exception/trace?

[2017-07-18 20:33] PhantomYdn opened #7566 "FR: Implement function DECODE in OrientDB"
Function DECODE is pretty useful in Oracle. Is there any chance to reimplement it for OrientDB?

Oracle's documentation: https://docs.oracle.com/cd/B19306_01/server.102/b14200/functions040.htm

A few examples:

[code]
[code]
[code]

[2017-07-18 23:00] antonzherdev opened #7567 "Prefetch size is not working on cursors when transaction is active and index modified"
### OrientDB Version: 2.2.23
### Java Version: 8
### OS: OS X

## Expected behavior
I want to get only an item which is more or less a key in the cursor. So I need to fetch just one item in this case. It should fetch just one item.

## Actual behavior
It's fetching the index.cursor.prefetchSize number of items  ignoring setPrefetchSize.
It happens because iterateEntriesMajor and other similar func

[2017-07-19 07:12] luigidellaquila commented on #7566
Hi @PhantomYdn

We will take it into consideration (marking as an enhancement), it should not be hard to do.
For sure the name will be different, as we already have a `decode()` function for Base64 decoding

Thanks

Luigi

[2017-07-19 07:39] PhantomYdn commented on #7566
Thank you! Decode in oracle is literally base function for such things like if(), ifnull(), case() and etc.

[2017-07-19 10:10] santo-it commented on #7545
Changes introduced in 3.0.0-snaphot (Issue https://github.com/orientechnologies/orientdb/issues/7555) has now been backported to version 2.2.24-snapshot. We are still making some tests and working to finalize release 2.2.24.

Thanks,

[2017-07-19 10:43] maggiolo00 commented on #7564
hi @sridharnampalli

that is how it works. Each user has it's own configuration.

[2017-07-19 10:43] #7564 closed

[2017-07-19 10:53] sridharnampalli commented on #7564
Hi @maggiolo00  , but other then admin user the configuration changes are not retained /saved  once we refresh the browser / re-login again with different user other then admin

so how to save the  configurations for non admin users

[2017-07-19 10:58] maggiolo00 commented on #7564
with which users did you test it?

[2017-07-19 12:35] laa opened #7571 "Not able to drop database in embedded distributed, works fine with just embedded db"
It is impossible to drop and recreate database in distributed storage. The process of creation of re-created storage hangs in the middle of a process.
To reproduce it just create storage, drop it and create again.

[2017-07-19 12:46] tglman commented on #7547
hi @fixundfertig123,

I could reproduce it and fix it, I added also a test case in our java suite, it will be released with 2.2.23 and 3.0.0-m2.

Regards.

[2017-07-19 12:59] fixundfertig123 commented on #7547
Hi @tglman,

great. Thanks! I assume you mean 2.2.24 ;-) Do you roughly know, when it will be available. I will test it as soon as available.

Regards

[2017-07-19 13:03] tglman commented on #7547
hi @fixundfertig123,

Yep sure changed, is going to be this week or at most next.

Regards

[2017-07-19 13:06] laa commented on #7571
Fixed

[2017-07-19 13:06] #7571 closed

[2017-07-19 13:11] laa commented on #7546
Fixed. @santo-it description for release notes "In early versions of OrientDB deleted files did not preserve their ids correctly, as result after upgrade to latest version and creation of the cluster with the same name  all cluster files are assigned the same id, so one file overwrites another file in file system and created cluster contains incomplete information about its state. "

[2017-07-19 13:11] #7546 closed

[2017-07-19 13:14] laa commented on #7562
@pellyadolfo thank you, you may find exception inside of wal_metadat text document. If you want to make db healthy ASAP, the best thing for you is to make export/import db from to JSON. Please preserve original db just in case. It will take 2-3 days for me to fix this issue I suppose.

[2017-07-19 13:43] PhantomYdn commented on #7546
@laa , thank you a lot!

[2017-07-19 14:33] diegomtassis commented on #7535
What we are doing is to remember not to use the stream interface with Lists returned from the object API.

If this can be fixed in 2.2.x it is easier for us, but in any case it is not blocking.

[2017-07-19 17:22] Raycoms opened #7572 "OrientDB token error when reading"
Exception in thread "Delivery Thread" com.orientechnologies.orient.core.sql.parser.TokenMgrError: Lexical error at line 1, column 146.  Encountered: "\r" (13), after : "\'/U\ufffd\ufffd\ufffdn(\ufffd39\ufffd\ufffd\ufffd\ufffd\ufffd\ufffd5\u0005 no\ufffd\ufffd]\ufffd\ufffd\ufffd]}!^o\u001c"
	at com.orientechnologies.orient.core.sql.parser.OrientSqlTokenManager.getNextToken(OrientSqlTokenManager.jav

[2017-07-20 07:22] luigidellaquila commented on #7572
Hi @Raycoms

could you please post a full example on how to reproduce the problem? Do you pass the result of `sb.toString()` to the query as a paramater?

Thanks

Luigi

[2017-07-20 07:40] lvca commented on #4978
Hi guys, it looks like we have GraphQL on top of OrientDB: https://blog.kensho.com/compiled-graphql-as-a-database-query-language-72e106844282

[2017-07-20 07:40] #4978 closed

[2017-07-20 08:23] Raycoms commented on #7572
/**
     * Returns a list of vertices from the database matching the nodeStorage.
     *
     * @param nodeStorage the nodeStorage.
     * @param graph       the graph database.
     * @return a list of vertices.
     */
    private Iterable<Vertex> getVertexList(final NodeStorage nodeStorage, final OrientGraph graph)
    {
        final String[] propertyKeys = nodeStorage.getProperties().keySet()

[2017-07-20 09:21] mehdizarepour opened #7573 "Performance problem with MATCH command when there is no matching record exists"
### OrientDB Version: 2.2.23
### Java Version: 1.8
### OS: Linux, MacOS

## Steps to reproduce

I have these vertex classes in my database: `Company`, `Product`, `Consumer`

For example I have one company (`A`) that has 30 products and every products used by 500 consumers, also there is another company (`B`) that has 30 products and every products used by 500 consumers.

I want to select common co

[2017-07-20 09:22] Raycoms commented on #7572
Just noticed it is that part:

final byte[] signature = TOMUtil.signMessage(keyLoader.loadPrivateKey(), tempStorage.getBytes());
tempStorage.addProperty("signature" + idClient, new String(signature, "UTF-8"));

It works well with all other graph databases though (Neo4j, Sparksee and Titan).

[2017-07-20 09:45] luigidellaquila commented on #7565
Hi @PhantomYdn

I'd say it's a problem of conversion between js and java objects in the sql executor.
I'll take it a look and let you know

Thanks

Luigi

[2017-07-20 09:53] luigidellaquila commented on #7573
Hi @mehdizarepour

The problem here is that there is no way to optimize the search, you only have filtering information at the extremes (the companies) and you have to scan the whole DB to check if records exist.

You can expect some optimizations on the execution in next releases, but only in terms of traversal speed and, because there is no algorithm optimization that can be done in this scenari

[2017-07-20 09:54] luigidellaquila commented on #7572
Hi @Raycoms

I'm working to a fix, I hope I'll be able to push it today

Thanks

Luigi

[2017-07-20 09:57] Raycoms commented on #7572
Great to hear =)

2017-07-20 10:54 GMT+01:00 luigidellaquila <notifications@github.com>:

[2017-07-20 12:49] mehdizarepour commented on #7573
Hi @luigidellaquila
​

​
In my scenario, I can only filter the company name and limit the output to get common consumers between two companies.
​
Also, I can use `SELECT` command and `intersect()` to avoid this issue (traversing all records) but it's not very efficient in the large datasets.
​
What do you suggest for this scenario? (just give me a hint)
​

​
I have also checked a similar old issue

[2017-07-20 13:17] WeaxMe opened #7574 "Exception in select from collection of DATETIME, using prepared statement"
### OrientDB Version: 2.2.23
### Java Version: 7 OpenJDK
### OS: Ubuntu 16.04

## Expected behavior
Using prepared statement for collection of DATETIME works good.

## Actual behavior
When I use prepared statement for DATETIME in equals query
`SELECT FROM Class WHERE date = :date` all works fine, but when I use prepared statement for collection of DATETIME or DATE
`SELECT FROM Class WHERE date IN

[2017-07-20 13:39] maggiolo00 commented on #7469
hi @sephib

do you have news on this issue?

[2017-07-20 13:46] luigidellaquila commented on #7574
Hi @WeaxMe

I'm checking it now, thank you very much for the test case, it helps a lot

Thanks

Luigi

[2017-07-20 14:19] smolinari commented on #4978
That's nice, but I've come to the conclusion that GraphQL access directly to any database is only useful for  a rudimentary crud administration system of the database. In other words, there must be a layer of business logic between the GraphQL gateway and the database for any decent application to work.

Scott

[2017-07-20 15:13] rdelangh commented on #7545
With latest changes in the Lucene-jar, and a few rebuilds of broken unique (non-Lucene) and non-unique (Lucene) indexes, the v2.2.23 server is operational again and can accept new data-loading and query requests.
The server remains well in tow now, not consuming awful lots of RAM anymore, and implements 'lazy' indexes now.
Thx a lot to @robfrank , he is a true guru !!

[2017-07-20 15:39] prpfialho commented on #7562
I tried:
- export to JSON (from Studio)
- create new database (Boxer2)
- connect to it on console; failed, although I'm able to connect to this DB in Studio:

(a repeated attempt will no longer show 'plocal' in the list of registered engines)

Next step would be to import, and see if the Magic Number error is gone, to continue my inserts.

Where can I find the cause of this error (why was it unabl

[2017-07-20 16:13] rdelangh commented on #7363
hi, is there any feedback possible please? We see that the REST requests with the scripts are being processed fairly slowly, is there a better (more efficient) way to send many batches of such requests?

[2017-07-20 16:14] rdelangh commented on #7286
Can we see somewhere such Javascript-based examples, or a tutorial of some kind in the documentation?

[2017-07-20 16:17] rdelangh commented on #7254
hi, any new feedback on this, please? Is it planned to make the ALTER command on indexes supported, e.g. to change the name of an index?

[2017-07-20 16:24] santo-it commented on #7545
That's great @rdelangh,

I am closing this issue now. We are releasing official 2.2.24 version.

Again, please do consider an enterprise support subscription, to have direct access to our support and engineering Teams, reduce the risk involved with your project, and support our open source Project, and the Company behind it.

Thanks,

Santo Leto,
Director, Global Customer Support, OrientDB

[2017-07-20 16:27] santo-it commented on #7547
Hi,

We are releasing 2.2.24. I am closing this issue now.
If you have any further problems related to this, please feel free to comment here and we will reopen the issue.

Many thanks,

[2017-07-20 17:22] lvca commented on #7545
Cool this has been fixed. Thanks @rdelangh for your contribution.

[2017-07-20 17:22] lvca commented on #7286
The doc team is already working on it. The new docs should be ready in about one week.

[2017-07-20 19:43] lvca commented on #7268
Hi guys, you could:
1. create the database while in HA
2. all the nodes will take the database as empty
3. stop replication on all the nodes through SQL command. Example: `HA STOP REPLICATION server2 -dropDatabase`
4. repeat 3 for all the servers but one, so only one server will have the database ONLINE
5. import the database on the online server only
6. set ONLINE the other servers with `HA START

[2017-07-20 21:28] kevmegforest commented on #7496
There's no way to bypass anything since that implementation is unworkable with any tinkerpop2 implementation (which is abstracting OrientDB). It would be preferable to keep the validation only at commit in the 2.2.x version range. I have the same problem using an other library (Ferma from syncleus)

Here are the related issues or commits that made the changes.

https://github.com/orientechnologies

[2017-07-21 02:01] santo-it commented on #7295
Hi @dalegarv,

It could be. Frankly we haven't been able to  reproduce this yet.

Thanks,

[2017-07-21 03:52] sridharnampalli commented on #7564
Hi @maggiolo00  , i have tested with user1 with write permissions and user2  with read permissions  , but for both i not able to restore the configuration changes

please let me know other than admin user , can we restore the configuration changes on graph editor
if so please share the steps /screenshots

[2017-07-21 04:31] jackzhp commented on #7371
To @tglman , sorry for long time, I did not respond. Originally, I was busy with other stuff, so I was not able to spend more time on this issue. Later, I decided to abandon OrientDB since it consumes too much memory. I am sorry I forgot to leave a note here.

Today saw your message again, and I read your test case. If indeed "it ran for a while without problem", then it means the pool has no size

[2017-07-21 06:59] laa commented on #7254
Hi @rdelangh , but what is the point to rename index? If you plan to use manual indexes so we plan to deprecate them soon, but the name of the automatic index is not so important.

[2017-07-21 08:23] arkolesnik opened #7575 "NullPointerException while trying to perform action with record previously deleted by another thread"
### OrientDB Version: 2.2.21
### Java Version: 1.8.0_131
### OS: Windows 10

## Expected behavior
If record not found (i.e. was previously deleted by another thread), ORecordNotFoundException should be thrown.

## Actual behavior
In most cases I get NullPointerException in attempt to delete or modify instance returned by database.load(new ORecordId(clusterID, randomPosition)).

## Steps to reprodu

[2017-07-21 08:27] #7553 closed

[2017-07-21 09:57] lvca commented on #7295
If there was a network error, it's absolutely possible that was the cause. WDYT if we close this issue and if you guys see this again you reopen it?

[2017-07-21 10:09] luigidellaquila commented on #6834
Hi @RAndrews137

I just pushed a fix for this on 2.2.x, the fix will be released with 2.2.25

Thanks

Luigi

[2017-07-21 10:09] #6834 closed

[2017-07-21 12:00] dalegarv commented on #7295
Hi  Luca,

  It’s true we haven’t seen this problem much lately, especially since we stopped doing imports to create our databases.  Would it be possible to get a better error message when this happens which indicates the replication is not working?  The problem doesn’t seem to have anything to do with security and the error message was referencing the writer user even when there was no writer use

[2017-07-21 13:17] #7467 closed

[2017-07-21 13:17] G4br13l3 commented on #7467
Hi Shusheng, you can find the visual tool in orientdb 2.2.24, both in CE and EE (but in CE you can't synch your database). Now you can define your relationships in a very easy way! ;)
I'm closing this thread, please reopen it if you need something more.

Thanks.

Gabriele

[2017-07-21 13:31] #6314 closed

[2017-07-21 13:31] G4br13l3 commented on #6314
Hi @Koc, we released a new user interface for Teleporter in orientdb studio 2.2.24 (in the server management area), thus now you can map in a visual way the source schema of the RDBMS with the graph model in OrientDB. The Teleporter plugin is now integrated into OrientDB Community Edition (previously it was available only in the Enterprise Edition). Beware: in CE you can't synch your database.

I'

[2017-07-21 14:14] laa commented on #7562
@prpfialho could you clarify do you use any nondefault properties for the server ? I have read your WAL and did not find any issues. All logged changes were successfully read and restored.

[2017-07-21 14:18] laa commented on #7562
@prpfialho second question did you open and restore the database on the same machine or database was crashed on a single machine and opened on another?

[2017-07-21 14:33] laa commented on #7562
@prpfialho reproduced exception, no additional information is needed. Fixing.

[2017-07-21 14:40] luigidellaquila commented on #7572
Hi @Raycoms

I pushed a fix on 2.2.x branch that should fix this problem. Could you please try latest snapshot and let me know if it's the case?

Thanks

Luigi

[2017-07-21 14:45] luigidellaquila commented on #7572
Hi @Raycoms

The snapshot is in Sonatype repositories (https://oss.sonatype.org/content/repositories/snapshots/com/orientechnologies/orientdb-community/2.2.25-SNAPSHOT/) but not yet in Maven Central of course

Thanks

Luigi

[2017-07-21 18:26] pinakdeshpande opened #7576 "ODB2.2.20 NullPointerException during graph.shutdown"
### OrientDB Version: 2.2.20
### Java Version: 1.8.131
### OS: Linux

## Expected behavior
Should be able to commit and shutdown the OrientGraph after creating two vertex and an edge between it.

## Actual behavior
Getting null pointer exception during shutdown
[code]
Just to report this nullPointerException ODB took 30+ mins and soon after that started getting below error
[code]

## Steps to repr

[2017-07-21 18:38] pinakdeshpande opened #7577 "ODB2.2.20 OOM errors"
### OrientDB Version: 2.2.20
### Java Version: 1.8.131
### OS: Linux

## Expected behavior
OrientDB should work perfectly and should never run into memory leak issue

## Actual behavior
Orient DB 2.2.20 fails with either `GC Overhead limit exceeded error` or `java.lang.OutOfMemoryError: Java heap space` needing to restart the DB on our PROD env 2-3 times a day after the upgrade done from ODB V2.1.

[2017-07-21 19:51] mehdizarepour opened #7578 "IN operator not working on `Short` type fields"
### OrientDB Version: 2.2.24
### Java Version: 1.8
### OS: Linux, MacOS

I want to use `IN` operator to filter records.

## Steps to reproduce
[code]
queries:

[code]

## Expected/Actual behavior
These queries should return two records, but instead, it returns nothing.
It should be noted that when I use `Integer` instead of `Short`, the queries are work as expected.

Thanks

[2017-07-21 23:39] saeedtabrizi opened #7579 "[PROPOSAL,FEATURE] Synonym for document properties in next ODB."
Hi ,
As i requested in https://github.com/orientechnologies/orientdb/issues/7530 the **synonym's** capability is a real need  for modern and **operational database** .
So after i see the new syntax of nested properties for projection in ODB 3.0.0 , i just to say a new feature recommend that i named to **Synonym to Values** .

So i describe it by an example :
**Scenario :**

We have a  `Person` cla

[2017-07-22 05:22] smolinari commented on #7579
It looks to me like you are trying to build edges within the synonyms. Why can't you just have a "Father-Son" edge? An edge would be much simpler logically and is traversable to any depth. What if you need a users GreatGreatGreatGrandfather? The synonym idea doesn't scale well in terms of depth in your example.

[Looking at the description of a Synonym](https://en.wikipedia.org/wiki/Synonym_(datab

[2017-07-22 08:34] saeedtabrizi commented on #7579
@smolinari  thanks for your good comment .
My proposal is very simple and basically  that must be revision to be finalize .
But about the your comment , i would to say , my proposed synonym syntax did not related to graph features and very simple for fast traversing between the properties .
for GreatGreatGreatGrandfather we can use the following syntax :

[code]
For the solving the traversing prob

[2017-07-22 09:29] smolinari commented on #7579
I still see no practical reason for Synonyms through your example. In fact, it is sort of putting database logic in the data, which is a no-no. Having such links in the data would also require ODB to scan over and compile any data retrieved to then translate the  "links" to the proper data and that would obviously be bad for performance.

I can see Synonyms used for the purpose of aliasing. But, t

[2017-07-22 13:39] #7479 closed

[2017-07-23 04:00] sephib commented on #7469
Currently no, thx for your response.
S

On 20 Jul 2017 16:39, "Enrico Risa" <notifications@github.com> wrote:

[2017-07-24 06:42] luigidellaquila commented on #7578
Hi @mehdizarepour

Thank you for reporting, I'll check it asap

Thanks

Luigi

[2017-07-24 07:36] taburet commented on #7539
This specific issue if fixed. But in general cluster replication is broken, the only file being replicated is *.pcl; *.cpm and related index files are ignored. See OSyncClusterTask#execute for details.

[2017-07-24 08:41] robfrank commented on #7577
Can you try with latest 2.2.24 to confirm the problem? Thanks.

[2017-07-24 08:44] robfrank commented on #7576
Can you upgrade to 2.2.24 and re-test?
Moreover, to reproduce the problem we need the code. Not your production code, but some code that mimics the production code.
The best way is to provide a self-contained main or, better, a  test case.
Thanks in advance.

[2017-07-24 09:04] #7494 closed

[2017-07-24 10:21] luigidellaquila commented on #7549
Hi @PhantomYdn

I just pushed a fix on 2.2.x, could you please check if it covers your case?

Thanks

Luigi

[2017-07-24 10:56] a-zacharenkov commented on #6298
Would be nice to have some info on the progress of this issue, I am working with querying for a big amount of elements and tried using this way of pagination and it seems to be causing the same issue. I guess I'll try SKIP-LIMIT instead, but this would be nicer if it has a better performance.

[2017-07-24 12:03] santo-it commented on #7543
This has now been fixed, and a new version of the open database beer for OrientDB is available for download from Studio (from the 'Import Public Database' window).

Keeping this issue open as a documentation bug, to have a chance to document the new import steps.

Thanks,

[2017-07-24 12:08] robfrank opened #7581 "ETL: unable to create Lucene indexes: index definition lack algotirthm parameter"
Extends configuration of loader to handle "algorithm" :
[code]

[2017-07-24 12:58] maggiolo00 commented on #7505
hi @careerscale

do you have news on this issue?

Thanks

[2017-07-24 13:54] #7581 closed

[2017-07-24 16:23] mehdizarepour commented on #7578
Hi @luigidellaquila

The `CONTAINS` operator has the same problem.

[2017-07-24 17:55] tglman commented on #7539
hi,

this is all fixed now. closing.

[2017-07-24 17:55] #7539 closed

[2017-07-24 21:13] arkolesnik opened #7582 "User is allowed to create a map with keys of any type, while only String keys are supported"
### OrientDB Version: 2.2.21
### Java Version: 1.8.0_131
### OS: Windows 10

## Expected behavior
User of the library should not be allowed to use non-string keys in maps.

## Actual behavior
User can create Map with <Integer, Integer> types and successfully save the document with this property. Then in attempt to use this document, it turns out keys are cast to String type without any notificatio

[2017-07-25 06:08] pinakdeshpande commented on #7576
I will upgrade and let you know

[2017-07-25 06:08] pinakdeshpande commented on #7577
I will upgrade and let you know

[2017-07-25 07:23] robfrank commented on #7555
feature backported to 2.2.24, massive import/read/delete tests done.

[2017-07-25 07:23] #7555 closed

[2017-07-25 09:02] luigidellaquila commented on #7578
Hi @mehdizarepour

I just pushed a fix on 2.2.x, the fix will be released with 2.2.25

Thanks

Luigi

[2017-07-25 09:02] #7578 closed

[2017-07-25 09:06] laa opened #7583 "Store information about version of database under which it was created"
### OrientDB Version: 2.2.x

Would be useful to keep in a configuration version of the product under which database was created and retrieve it using SQL command "SELECT FROM metadata:dbinfo" it will allow identifying whether reported bug is already fixed in next versions or not.

[2017-07-25 09:22] luigidellaquila commented on #7477
Hi @careerscale @ozgursucu

is this issue related to the fixes we delivered in last few days?
Do you still see this problem?

Thanks

Luigi

[2017-07-25 10:07] luigidellaquila commented on #7565
Hi @PhantomYdn

A possible work-around is following:

[code]

Unfortunately an automatic conversion cannot be implemented in the engine, as OrientDB v 2.2 is intended to work on both Java 7 and 8, with both Rhino and Nashorn, so I cannot hard code type conversions using Java 8 classes

I hope it helps

Thanks

Luigi

[2017-07-25 10:36] ddrozdov commented on #3652
Any progress here?

[2017-07-25 10:45] mexeniz opened #7584 "Failed to create a vertex and caught OSBTreeBonsaiLocalException"
### OrientDB Version: v.2.2.10
### Java Version: 1.8.0_112
### OS: FreeBSD 11.0-RELEASE-p1

Hi, I ran OrientDB server on FreeBSD 11.
I have found a problem about running sql to create vertices via binary protocol.
My query is to create a new vertex and update values of its predecessors.
When a server is under heavy load, it randomly fails to process some queries.

### My query
`let file = create v

[2017-07-25 11:25] rdelangh commented on #7545
I still encounter problems with file-locks on the Lucene indexes:
[code]

The method to resolve this temporarily, is by
- shutdown the server
- restart the server

Typically the problem happens again when data has been loading for a while (by 3 parallel loading programs), then some minutes without loading, then the loading is started again but the problem with the file-lock aborts it immediately.

[2017-07-25 11:26] laa commented on #7584
@mexeniz there are a lot of reasons why it can happen. Do you have a full stack trace or could you send us database and test case to reproduce the issue?

[2017-07-25 12:07] laa commented on #6937
Moved to 3.1 because it will require a lot of resources to implement but the outcome is questionable.

[2017-07-25 12:37] #7565 closed

[2017-07-25 13:36] luigidellaquila commented on #7418
Hi @karolmie1

I finally managed to fix this problem, the fix is in branch 2.2.x and will be released with 2.2.25

Thanks

Luigi

[2017-07-25 13:36] #7418 closed

[2017-07-25 13:39] santo-it commented on #7474
Internal Ref #8779

[2017-07-25 13:54] EricSchreiner opened #7585 "Lucene Spatial Index is closed without any reason"
### OrientDB Version: 2.2.24  (Embedded API)
### Java Version: 1.8
### OS: Windows 10

## Expected behavior
Lucene Spatial Index is closed without any reason. ( org.apache.lucene.store.AlreadyClosedException: this IndexWriter is closed) This does not happen in 2.2.22 or 2.2.23

## Actual behavior
ERROR@ 15:18:08.644 Exception Error PhotoCrawler.DirectoryConsumer.handlePhotoUpdate:D:\Arbeit\Photos\

[2017-07-25 14:17] laa commented on #7584
@mexeniz as another possible tool for detection of the issue I can provide you new build which you can use, to identify the root cause of the issue.

[2017-07-25 14:47] robfrank commented on #7585
I'm fixing. BTW, the legacy spatial index is deprecated and will be removed in the future.
My suggestion is to migrate to Spatial Module: http://orientdb.com/docs/last/Spatial-Index.html

[2017-07-25 15:24] EricSchreiner commented on #7585
??? We are using the Spatial Module (http://central.maven.org/maven2/com/orientechnologies/orientdb-spatial/2.2.23/orientdb-spatial-2.2.23-dist.jar)

[2017-07-25 15:44] robfrank commented on #7585
ok, but you are using the legacy part: http://orientdb.com/docs/last/Spatial-Index.html#legacy

not the one with functions

[2017-07-25 15:53] robfrank commented on #7585
just pushed the fix: https://github.com/orientechnologies/orientdb-spatial/commit/0fec0b9d7c4cfd1fa805cc2a3227137013280ed4
Can you test with the latest snapshot?
https://oss.sonatype.org/content/repositories/snapshots/com/orientechnologies/orientdb-spatial/2.2.25-SNAPSHOT/orientdb-spatial-2.2.25-20170725.155011-12-dist.jar

just put this jar instead of the 2.2.24

[2017-07-25 16:15] EricSchreiner commented on #7585
..this is what we do:**_DbSchema.createSchema: Photo.longitude (type=DOUBLE) may be null (CREATE INDEX idxlocation ON Photo(latitude,longitude) SPATIAL ENGINE LUCENE METADATA {ignoreNullValues: true})_**
Will this be removed? What should we do instead?

[2017-07-25 16:44] lvca commented on #7585
@EricSchreiner did you try last fix from @robfrank ?

[2017-07-25 17:28] robfrank commented on #7585
Starting from 2.2, the new spatial module allow indexing of points and other spatial structures, such as lines and polygons:

http://orientdb.com/docs/last/Spatial-Index.html#geometry-data

It needs that spatial data are stored in specilized classes:

http://orientdb.com/docs/last/Spatial-Index.html#geometry-data-example

and offers a lot of functions (ST_: Spatial type from The Open Geospatial Co

[2017-07-25 17:41] tglman commented on #7516
Hi,

This is fixed now the server goes down, closing this.

[2017-07-25 17:41] #7516 closed

[2017-07-25 19:07] #7505 closed

[2017-07-25 19:07] careerscale commented on #7505
@maggiolo00, not really. I think I will close this ticket and open when if I see this issue.

[2017-07-25 19:08] #7477 closed

[2017-07-25 19:08] careerscale commented on #7477
@luigidellaquila , with 3.0 looks like I don't have issue. let me close this ticket

[2017-07-26 03:11] mexeniz commented on #7584
@laa Sorry, My database is confidential so I can't send it and this problem is completely random. Anyway, could you tell how me how to get a full stack trace? Also, I would like to try your new build. Thank you.

[2017-07-26 05:47] laa commented on #7584
Hi, @mexeniz. I see I think the best way to understand the root cause of your exception is to upgrade to latest 2.2.24 version. It contains much more detailed logging of exceptions which are thrown by storage.  Also, it provides some data verification tools which may be handy to identify the reason of your problem. WDYT ?

[2017-07-26 07:00] mexeniz commented on #7584
@laa Alright, I will upgrade it to 2.2.24. Should I edit any orientdb config to get more detailed log?

[2017-07-26 07:43] mexeniz commented on #7584
I have upgraded orientdb to 2.2.24 and set log level to ALL.
Still found errors. Error log is in an attached file.
[error_log.txt](https://github.com/orientechnologies/orientdb/files/1175791/error_log.txt)

[2017-07-26 08:27] EricSchreiner commented on #7585
Hi @robfrank your Fix seems to work :-) when can we expect an official 2.2.25?

[2017-07-26 08:53] lvca commented on #7585
Cool, closing it.

[2017-07-26 08:57] EricSchreiner commented on #7585
@lvca any idea when the next hotfix will come?

[2017-07-26 09:08] EricSchreiner opened #7586 "Memory Issues with 32 Bit java"
### OrientDB Version: 2.2.23
### Java Version: 1.8.0_131 32Bit
### OS: Windows 10

Hi @lvca ,

When I use your recomended settings with a 32 Bit (1.8.0_131) Runtime I get the out of memory immmediately (with -XX:MaxDirectMemorySize=128m it just comes later)

**_Here are the relevant settings:_**
VER  @ 10:42:50.358 java.runtime.version: 1.8.0_131-b11
VER  @ 10:42:50.358 java.version: 1.8.0_131
VER

[2017-07-26 09:50] robfrank commented on #7585
we have just released 2.2.24, I think at least 2 weeks.

[2017-07-26 10:00] EricSchreiner commented on #7585
... 2 weeks for a serious Bug seems to be a long time.....

[2017-07-26 10:31] nishantkumar1292 commented on #3517
Hi @lvca .... I am getting this error when inserting records in multiple threads. I am using version 2.2.21.
[code]

Is the issue fixed? Any ideas how can I get this resolved.

[2017-07-26 11:53] laa commented on #3517
@nishantkumar1292 OOM is to general issue and may be caused by many factors do you have heap dump generated by OOM in server directory?

[2017-07-26 12:23] rdelangh opened #7587 "slow Lucene lookups"
### OrientDB Version: 2.2.23

Queries straight from Lucene indexes, should complete in a few seconds, not 10's of minutes:
The following SQL query is very typical in our context, where we need to search in a class of a full week of records, for certain substrings in one particular property of type STRING.
So I have created Lucene indexes on such properties, one Lucene index per property.
The SQL q

[2017-07-26 12:25] HuangKBAaron opened #7588 "is it possible to compose "CREATE EDGE AEdge FROM (#65:0) TO (#23:1,#26:1,#29:0,#36:0,#53:0,#41:0)""
### OrientDB Version: 2.2.20
### Java Version: 1.8
### OS: Windows 10

## Expected behavior
expect to compose something like this:
CREATE EDGE AEdge FROM (#65:0) TO (#23:1,#26:1,#29:0,#36:0,#53:0,#41:0)

## Actual behavior
report error.

## Steps to reproduce
n/a

[2017-07-26 12:38] laa commented on #7586
Hi @EricSchreiner  what is your disk cache size?

[2017-07-26 12:39] luigidellaquila commented on #7587
Hi @rdelangh

Lucene is not designed to perform queries with wildcards both on the left and the right of a string (eg. `' *32336667* '`), this is why you have a very poor performance.

Currently there is no index that can manage this kind of query

Thanks

Luigi

[2017-07-26 12:42] luigidellaquila commented on #7588
Hi @HuangKBAaron

You have to use square brackets to define collections:

[code]

Thanks

Luigi

[2017-07-26 12:42] #7588 closed

[2017-07-26 12:43] robfrank commented on #7587
moreover, you are hitting the same index threee times. Why don't try to collapse the three lucene queries on a single one using AND and OR?

https://lucene.apache.org/core/6_6_0/queryparser/org/apache/lucene/queryparser/classic/package-summary.html#Boolean_operators

[2017-07-26 12:56] EricSchreiner commented on #7586
Hi @laa
these are the parameters we use. Everything else is default
[code]

[2017-07-26 13:04] rdelangh commented on #7587
@lvca : is there a development going on to allow wildcard searches via a non-Lucene index, such as is possible in traditional, relational databases with the 'LIKE' operator?

@robfrank : indeed, I am reworking my program so that it builds more compact SQL queries, but the problem seems to lay in what Luca mentioned: no index in OrientDB currently allows efficiently to search on substring wild wild

[2017-07-26 13:06] rdelangh commented on #7587
@lvca : more specifically, I am hoping that one day the 'LIKE' operator will allow to use leading and trailing wildcard operator such as
[code]

[2017-07-26 13:10] luigidellaquila commented on #7587
Hi @rdelangh

There are no plans for that currently. Please consider that also relational databases have huge problems on this, eg. the only solution that Oracle provides is text indexes (http://www.dba-oracle.com/t_context_index.htm) that are not updated automatically (they require manual/scheduled sync) and are only suitable for tables that are read only or where you can tolerate inaccurate resu

[2017-07-26 13:14] rdelangh commented on #7587
@luigidellaquila
sorry to counterdict you, but we intensively use Oracle for our programs, and we have ordinary indexes on the VARCHAR columns which allow us to run very efficiently queries with leading wildcard operator.
Maybe you are confusing with the concept of Lucene indexing a large piece of text like a true 'document'. We have simple, one-word strings, in which we need to search for substri

[2017-07-26 13:16] laa commented on #7586
@EricSchreiner I suppose it means that you have 4GB disk cache. Which is above of capabilities of 32 JVM. Also, I strongly do not recommend to disable first level cache

About your settings:

[code]

it may cause a lot of strange exceptions in your application.

[code]

mvrbtree is removed long time ago from distribution and this parameter is not needed.

[code]

is the legacy of 1.x version of th

[2017-07-26 13:17] luigidellaquila commented on #7587
@rdelangh ok, got your point, the problem here is that we don't have a limitation on the keys (like VARCHAR max size) so we have to find a general solution that scales with large text and for now there is no such option.

If we find a suitable algorithm we will be happy to consider it, but for now we are not actively experimenting on this

Thanks

Luigi

[2017-07-26 13:20] laa commented on #7584
@mexeniz I suppose we will need to add more logging to identify the root cause of the issue. Right now I can not do it because I am busy with another fix, but tomorrow I will be able to provide you new distribution with more logging which will help us to solve your issue.

[2017-07-26 13:21] robfrank commented on #7587
can you test with a single lucene query using OR instead of 3 queries?

[2017-07-26 13:22] HuangKBAaron commented on #7588
copied from the doc:
CREATE EDGE <class> [CLUSTER <cluster>] FROM <rid>|(<query>)|[<rid>]* TO <rid>|(<query>)|[<rid>]*
                    [SET <field> = <expression>[,]*]|CONTENT {<JSON>}
                    [RETRY <retry> [WAIT <pauseBetweenRetriesInMs]] [BATCH <batch-size>]

the "[<rid>]*" is confusing, it might be better as "[<rid>,*]" ?

[2017-07-26 13:24] luigidellaquila commented on #7588
Yes, definitely, I'm updating the docs

Thanks

Luigi

[2017-07-26 13:28] rdelangh commented on #7587
@robfrank , yes did that: same results almost, since in my example the first 2 queries return just a few records after 8-10 seconds runtime per query; it is the 3rd query which on its own is running for some 30 mins.
[code]
takes 1832 seconds, returns a single property 'x' consisting of 161K RIDs.

What I did experiment also, was doing a simple "count(*)" on the result-set.
This way, that 3rd quer

[2017-07-26 15:50] EricSchreiner commented on #7586
Hi @laa
thanks for your reply. Does your answer mean that I should remove all settings with the exception of `defaultsMap.put("index.auto.rebuildAfterNotSoftClose", true);`?

You wrote I should reduce DISK_CACHE_SIZE to 800m. Is this related to XX:MaxDirectMemorySize? If yes how? Can I set DISK_CACHE_SIZE and XX:MaxDirectMemorySize to 128mb?

For your understanding: We have thousands of users runn

[2017-07-26 16:45] nishantkumar1292 commented on #3517
@laa I have no idea about the heap dump. Where can I find the heap dump?

[2017-07-26 17:07] tglman commented on #3652
Hi,

No, no progress here, probably will come something later in 3.1 /3.2

Regards

[2017-07-26 17:09] tglman commented on #7575
hi @arkolesnik,

Can you add the test case or an example? and would be cool also the full stack trace.

Bye

[2017-07-26 18:31] kinssun opened #7589 "Edge unique index lead to deadlock when insert vertex and edge"
### OrientDB Version: 2.2.24
### Java Version: 1.8.091-b14
### OS: CentOS 6.5

## Expected behavior
I am trying to build a social relation network with orientdb graph(remotely connect plocal graph database). I defined the vertex and edge class with their unique index on their property 'memberId' and 'name' respectively (Note: the value of the parameter 'name' for edge class is combined with the va

[2017-07-26 18:51] laa commented on #7589
HI @kinssun could you send us full thread dump as a gist?

[2017-07-26 18:57] lvca commented on #7585
Is this issue fixed in 2.2.x? Confirmed?

[2017-07-26 19:03] laa commented on #7589
@kinssun is it also possible for you to share the code of benchmak which you used?

[2017-07-26 20:41] arkolesnik commented on #7575
Hi @tglman!
I didn't provide a stack trace because it can be different each time and it is not quite informative. I can show you one of them:
	at java.util.concurrent.FutureTask.report(FutureTask.java:122)
	at java.util.concurrent.FutureTask.get(FutureTask.java:192)
	at IndexesLoadTest.shouldRecreateIndexes(IndexesLoadTest.java:71)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	a

[2017-07-26 21:32] rdelangh commented on #7545
again same error occured:
[code]

-> need to shutdown this server, then restart it

[2017-07-27 02:23] kinssun commented on #7589
@laa thanks for your quick response. My code fragment is listed below(I executed performance test towards the method 'addFollowRelation()', the parameter fromMemberId and toMemberId have initial
input value with random integer from 0 to 10000 )  :
/**
     * Add the follow relation between fromMemberId and toMemberId
     * @param fromMemberId
     * @param toMemberId
     */
    public void addFo

[2017-07-27 05:02] kinssun commented on #7589
@laa thread dump:  https://gist.github.com/kinssun/5be7bcf0561ad9d7095341fd8d4773a0

[2017-07-27 05:06] kinssun commented on #7589
BTW, I disabled the WAL via JVM parameter '-Dstorage.useWAL=false -Dstorage.wal.syncOnPageFlush=false'

[2017-07-27 05:14] taburet commented on #6829
Unfortunately, Java 7+ zip file system compresses files into memory and writes compressed buffers from memory to disk on the file system shutdown. That may lead to OOM for large file sets and/or files. There is an undocumented option to use temporary files instead of memory, but still, that is not satisfactory, the temporary files consume disk space and disk IO overhead is doubled. Also, there is

[2017-07-27 05:14] #6829 closed

[2017-07-27 05:45] laa commented on #7589
Hi, @kinssun thank you very much for the detailed information, I suppose the problem of the issue is following, we made big refactoring so even if WAL is disabled you still run inside of transaction but without durability feature. We do not recommend to disable WAL because of risks of data loss in case of a server crash and users typically never switch it off, that I suppose is the reason why this

[2017-07-27 06:46] robfrank commented on #7545
@rdelangh which kind of file system are you using to store the index? Are you using NFS or a SAN? Because I tested the load scenario you depicted and I wasn't able to reproduce this kind of error.

[2017-07-27 07:03] kinssun commented on #7589
@laa ok, I will enable WAL to test again.

[2017-07-27 08:28] rdelangh commented on #7545
@robfrank the fastest filesystem you can get: ZFS, with about 40GB cached in RAM, so lightspeed fast.

No, the type of filesystem will not be the reason, why otherwise can you explain that the "SELECT count(*) ..." from the index returns the results in 24 seconds, whereas a "SELECT set(rid) AS x ..." from the same index returns the results only after 1830 seconds?

[2017-07-27 08:56] kinssun commented on #7589
@laa If enable WAL , deadlock won't appear. However, I will do a futher test to ensure this issue can be worked around.

[2017-07-27 09:34] laa commented on #7589
@kinssun sure, thank you very much. I will set the priority of this issue as a low because it will never affect real production case. But I will very appreciate if you provide me additional information during bug fixing.

[2017-07-27 09:35] laa commented on #3517
@nishantkumar1292 how many cores do you have? Yes, that is possible that all memory was consumed by the handling of temporary data generated during query processing? Do you use command cache? Could you switch it off? About heap dump, it should be in server or bin directory and have .hprof extension.

[2017-07-27 11:05] kinssun commented on #7589
@laa Thanks for your help. During the performance test, I found another problem, the orientdb server will hang several seconds , and has no any response. I found this phenomena is led by WAL file flush. Could you help to tell me how to avoid ?  The following is snapshot from my test client. It is obvious that the orientdb hung periodically.
![qq 20170727185626](https://user-images.githubuserconten

[2017-07-27 11:52] rdelangh commented on #7545
just installed version 2.2.25, and rebuilt the index "idx_cdr_af_20170709_5" which was mentioned in the errors, but still get the same errors in the server output, while programs try to load records into this dbase:
[code]

[2017-07-27 12:20] nishantkumar1292 commented on #3517
I have 8 cores and they are all being used at around 98-99%.
Yes...found the heap dump file.
No not using command cache. Below is the `command.cache.json` file.
[code]

[2017-07-27 12:43] luigidellaquila commented on #7585
@lvca yes, it's fixed, maybe we can release sooner...?

Luigi

[2017-07-27 12:52] laa commented on #3517
@nishantkumar1292 1500 threads too much for 8 cores you will have a lot of context switches and as result bigger memory consumption and worse performance, in reality, big CPU usage does not mean better performance. Amount of threads is up to you of course, could you send me this file I will check it but I am on 99% sure that is caused by big memory consumption of queries

[2017-07-27 13:05] tglman commented on #7575
hi @arkolesnik,

As today the `db.load(rid)` return a null record if you do a load of a record that do not exist, in other kind of operations is expected to throw a `ORecordNotFoundException`,I cannot point right now what exactly do what, but yes this case should be uniformed or at least made clear on the API that can throw the exception and the API that just return null.

Regards

[2017-07-27 13:14] nishantkumar1292 commented on #3517
Yes you are right..... decreasing the number of threads improved the performance and also eliminated `Request Timeout`.
What is the maximum number of threads I can work with. Each thread does some CREATE, READ and UPDATE operations.

[2017-07-27 13:24] laa commented on #3517
@nishantkumar1292 it is hard to say, but my preference is not more than 10 for a single core. ok, let say 20. so in our case, it should be 160 but not 1500 it is an enormous number. You can limit the number of threads by handling user requests in the thread pool.

[2017-07-27 13:27] nishantkumar1292 commented on #3517
What do you mean by **handling user requests in thread pool**?

[2017-07-27 13:40] laa commented on #3517
I do not know how your architecture I just proposed that you accept HTTP request, for example, parse them and execute a command. So commands may be executed in a separate thread pool.

[2017-07-27 14:00] tglman commented on #7509
hi,

Finished the implementation for same-dc and auto in 2.2.x the property is called `network.retry.strategy`.

Regards

[2017-07-27 14:02] tglman commented on #7509
Hi,

The implementation is not yet ported to 3.x because it will be completely different.

Regards

[2017-07-27 14:18] laa commented on #7586
@EricSchreiner I see I suppose I can help you to run a database without -xx:maxdirectmemory set.  But now we are busy. I will be back to this issue on next Tuesday.

[2017-07-27 14:46] rdelangh commented on #7545
It is getting worse:
- I stop the server
- replace it with version 2.2.25
- startup the new server
- open the database with a separate connection from the client "console.sh" (takes 7 mins)
- launch a sequential program that loads files into the dbase: this runs fine for some 130 files, but then fails again with the familiar error:
[code]

[2017-07-27 14:48] tglman commented on #7371
hi @jackzhp,

Thank you for your reporting, we are redesigning the the pool in 3.0, so this issue will disappear.

Reagards

[2017-07-27 15:28] EricSchreiner commented on #7586
OK

[2017-07-27 16:22] laa commented on #7584
@mexeniz sorry for the delay, we had an urgent issue. I will create a build for you with additional logging at first half of the day tomorrow. I very appreciate your help, but we had to concentrate on urgent task today so all tasks are delayed a bit.

[2017-07-27 17:10] RAndrews137 commented on #7509
Thanks.  So what are the possible values for network.retry.strategy?

[2017-07-27 17:59] tglman commented on #7509
hi @RAndrews137,

two possible strategies today:
- "auto" -> select a server from the same DC (if any), then from any other DCs
- "same-dc" -> will try to reconnect to another server in the same DC if none will fail.

[2017-07-27 18:10] RAndrews137 commented on #7509
Perfect @tglman :)

[2017-07-27 18:27] nishantkumar1292 commented on #3517
Was running scripts on 100 parallel threads.
[code]
How can I resolve this?

[2017-07-27 18:32] lvca commented on #7509
In the docs (https://github.com/orientechnologies/orientdb-docs/blob/2.2.x/Data-Centers.md#client-reconnection), soon online.

[2017-07-28 02:56] kinssun commented on #7589
@Iaa If feel free, pls have a look at the question above. thanks. I think it is the same one as mentioned in #4144

[2017-07-28 02:56] kinssun commented on #7589
@Iaa If feel free, pls have a look at the question above. thanks. I think it is the same one as mentioned in #4144. Thanks

[2017-07-28 06:13] rdelangh commented on #7545
I ran some more tests:
after having restarted (again) the 2.2.25 server, I launched a loop with each second the command "lsof -p $serverPID | grep luceneIndexes" in order to capture the evolution of which files from the "luceneIndexes" subdir are opened, and the lock status

This is what I see happening:
- right after startup: 1129 open filedescriptors, none from "luceneIndexes"
- after loading a

[2017-07-28 06:14] arkolesnik opened #7591 "There is no clear documentation about using only String keys in Maps"
### OrientDB Version: 2.2.21
### Java Version: 1.8.0_131
### OS: Windows 10

Restriction of using non-string key in Maps should be documented. Related to #7582

[2017-07-28 08:12] rdelangh commented on #7254
hi @laa
we have automated the creation of new classes and their indexes, and therefor their names should adhere a convention which is reflected in the automation program.
What do you mean by "manual indexes will be deprecated soon" ??
What is the future strategy for OrientDB indexes?

[2017-07-28 08:48] taburet commented on #5931
Implemented, closing.

[2017-07-28 09:26] laa commented on #7584
Hi, @mexeniz , could you run this distribution and send me the output of the log? Probably that is not latest build with logs which I send to you, but it will make our target of fixing issue closer https://drive.google.com/file/d/0B2oZq2xVp841SDU2N0JkNWNTSVk/view?usp=sharing .

[2017-07-28 10:15] laa commented on #7589
Hi @kinssun . The issue which you see should be fixed in 3.0. About 2.2.x, it is caused by the following.

WAL reaches its boundary and it should be truncated, but it can not be truncated because write cache contains data which are not yet flushed to the disk but operations on which are stored at the begging of WAL. So we stop operations to flush data from write cache and truncate WAL. How to avoi

[2017-07-28 10:24] rdelangh commented on #7545
gentlemen, any update or feedback on this, please? The database is not usable in this state.
-> is there other information that I can provide to you so that you can better debug/diagnose?

[2017-07-28 11:16] santo-it opened #7592 "teleporter - 2.2.25-snapshot - build failure on windows 10 64bit"
![gabri](https://user-images.githubusercontent.com/14923389/28715093-be76cf76-7396-11e7-841a-202a9da3ccbb.PNG)

[2017-07-28 11:47] mexeniz commented on #7584
@laa Thank you for this distribution. I will have time to test with the new distribution again on next Monday and send you logs ASAP.

[2017-07-28 12:14] nishantkumar1292 commented on #5827
Hi @laa ... I was just performing a stress test on OrientDB server and ran the following command.
`./stresstester.sh -m remote -c 10000 -w crud:C1000000R1000000U1000000D1000000 --remote-ip localhost `

The database was droppped and the task did not execute till completion. Error log:
[code]

Any ideas... how I could resolve this?

[2017-07-28 12:56] kinssun commented on #7589
Hi, @laa I set the storage.wal.maxSize from default 4000MB to 8000MB, server pause time got a little of limited enhancement but I think it is only a work around. If we use orientdb to build heavy traffic social network, this issue shouldn't be accepted. I wish Version 3.0 could be GA soon and get better test results .

[2017-07-28 19:04] obi1kenobi commented on #5931
The code in the linked diff doesn't actually perform an atomic rename operation -- the `ATOMIC_MOVE` option isn't set in the `Files.move()` method: https://docs.oracle.com/javase/7/docs/api/java/nio/file/Files.html#move(java.nio.file.Path,%20java.nio.file.Path,%20java.nio.file.CopyOption...)

[2017-07-29 00:37] pinakdeshpande commented on #7576
Here is the sample code, which inserts around 100K service statistics every 5 mins and creates an Edge towards unique Service vertex to which that stats belong to.

[code]

[2017-07-29 00:44] pinakdeshpande commented on #7576
Our PROD (which we migrated to 2.2.20 last week) ODB crashed which had around 350GB of real time stats data, There were no logs why it crashed, we could start the server but were not able to connect to the DB. So we had to lose entire data and had to migrate to the latest version 2.2.24. I will watch the system for few weeks and see if we are getting same problems reported in #7576 and #7577.

[2017-07-29 09:57] publicocean0 opened #7594 "question about 3.0 release"
i d like to know about new features in 3.0 version. In particular way i m interested in :
1)  it is possible to index using lucene a class containing  many properties (included long ,integer,float)? it is possible also to index embedded map properties when you save unstructured data on the fly?
2)  it is possible to handle a transaction also when you put inside sql insert/update commands?
3) it is

[2017-07-29 13:49] robfrank commented on #7545
Hi, just finished a session of tests on 2.2.15-SNAPSHOT and 3.0.0-SNAPSHOT with this scenario:
- two loaders that concurrently store tweets with 2 lucene indexes
- loaders are started and stopped to allow the server to flush and close idle indexes
- server is stopped and restarted as well sometimes

I think the scenario is similar to yours. Can you confirm?
I can't reproduce your problems.
About t

[2017-07-29 14:00] robfrank commented on #7594
1.: yes, it is possible, and suggested as best practice, to create a single multi-field index over a class

take a look at the doc of 3.0.x serie: http://orientdb.com/docs/3.0.x/indexing/Full-Text-Index.html#lucene-fulltext-index

It is even possible to index embedded list or maps, but the field(s) must be declared in the schema.

[2017-07-29 14:20] tglman commented on #7594
hi @publicocean0

2) Yes in 3.0 sql is supported inside the transaction in remote.
3) The new query engine is designed in a streaming way, so for sure you have streaming read, for write the transaction is still whole in memory.
4) Is not fully defined yet.

You can already try the new feature mentioned before in 3.0.0-m2 that was released few days ago, any feedback on the new API and functionality

[2017-07-29 15:35] smolinari commented on #7594
What about this one?

Scott

[2017-07-29 17:04] pinakdeshpande commented on #7576
We just started getting issue again this time LowDiskSpaceException though almost 100GB is available on the server.
The databases files are just 13GB.
How much disk space ODB needs to reserve, is 100GB not sufficient??

Here is the stack trace and free disk space log

[code]

Here are the ODB config params

`/bin/java -d64 -server -Xms2G -Xmx2G -Djna.nosys=true -XX:+HeapDumpOnOutOfMemoryError -XX:

[2017-07-29 18:10] rdelangh commented on #7545
hi @robfrank , many thanks for following-up on this!
Your scenario is not exactly the same, and I think that the differing part which might be relevant is the fact that I have 6 Lucene indexes, each on a different property. Some of these properties do not exist in the majority of the records, like the property on which this index "idx_cdr_af_20170709_5" is defined.
So, altough there is a continuou

[2017-07-29 18:17] rdelangh commented on #7545
is the ilde-time after which a Lucene index file gets closed, configurable?
If so, then I might raise that period substantially to avoid that the file gets closed too soon. If there are new records to be inserted in the dbase, the index files can remain open for several hours. When many hours have passed without new records for old indexes, then these index files can indeed be closed.

So, instead

[2017-07-29 23:03] pinakdeshpande commented on #7576
Attaching jstack output when this error came
[jstack.txt](https://github.com/orientechnologies/orientdb/files/1185333/jstack.txt)

[2017-07-30 08:53] laa commented on #7576
From the stack trace, it is possible to conclude that it is not low disk space, according to stack trace java.lang.OutOfMemoryErro was thrown. Please send generated heap dump for analysis.

[2017-07-30 09:05] taburet commented on #5931
@obi1kenobi thank you for the observation, reopening. Usually, if the file system supports atomic renames, regular renames are also atomic. Anyway, for the sake of strictness I will pass `ATOMIC_MOVE` and then fallback to regular move if the move can't be done atomically. WDYT?

[2017-07-30 11:54] publicocean0 commented on #7594
Very interesting.... it seams a lot of interesting changes in orientdb :)

[2017-07-30 16:18] pinakdeshpande commented on #7576
Attaching the jvm heap dumps before we restarted the DB
[jstack_19924.txt](https://github.com/orientechnologies/orientdb/files/1185808/jstack_19924.txt)
[jmap_heap_19924.txt](https://github.com/orientechnologies/orientdb/files/1185807/jmap_heap_19924.txt)
[jmap_histo_19924.txt](https://github.com/orientechnologies/orientdb/files/1185809/jmap_histo_19924.txt)

[2017-07-31 06:52] taburet commented on #5931
`ATOMIC_MOVE` is now used to move files, closing.

[2017-07-31 07:42] nishantkumar1292 commented on #3517
Hi @laa ...any updates or resolution for the above issue?

[2017-07-31 09:40] mexeniz commented on #7584
@laa  Just finished testing with the new distribution. I still found the problem and error log is in attached file below.
[error_log2.txt](https://github.com/orientechnologies/orientdb/files/1187076/error_log2.txt)

The same logging configs were used, but log format were likely to be changed a lot. Here are logging configs that I changed from default.

**1. orientdb-server-log.properties**
[code]

[2017-07-31 10:09] rdelangh commented on #7545
hello @robfrank , is the idle-time after which a Lucene index file gets closed, configurable? If so, can you please tell me in which file, or via which command-line arguments, it can be adjusted?

[2017-07-31 11:26] taburet commented on #7586
Hi @EricSchreiner,

There are basically only three options that affect/limit the memory usage of OrientDB:

1. `-Xmx` limits the heap size, as we all know. Usually, if not provided, it's auto-configured by JVM to some reasonable default. May be configured only from the JVM args, OrientDB can't control it.

2. `-XX:MaxDirectMemorySize` limits the amount of the off-heap "direct" memory JVM may alloc

[2017-07-31 12:46] luigidellaquila commented on #7549
Hi @PhantomYdn

I'm closing this issue, please reopen if you see any related problems

Thanks

Luigi

[2017-07-31 12:46] #7549 closed

[2017-07-31 12:56] #631 closed

[2017-07-31 12:56] luigidellaquila commented on #631
This is not relevant anymore, as in V 3.0 we have nested projections: http://orientdb.com/docs/3.0.x/sql/SQL-Projections.html#nested-projections

Closing

Luigi

[2017-07-31 13:04] #1938 closed

[2017-07-31 13:04] luigidellaquila commented on #1938
V 3.0 solves this use case with nested projections:

http://orientdb.com/docs/3.0.x/sql/SQL-Projections.html#nested-projections

Closing

Thanks

Luigi

[2017-07-31 13:12] #2376 closed

[2017-07-31 13:12] luigidellaquila commented on #2376
AFAIK it was fixed long time ago. I just tried it in v 2.2.24 and it seems to work fine

I'm closing this issue

Thanks

Luigi

[2017-07-31 13:12] luigidellaquila commented on #2376
AFAIK it was fixed long time ago. I just tried it in v 2.2.24 and it seems to work fine

I'm closing this issue

Thanks

Luigi

[2017-07-31 13:14] obi1kenobi commented on #5931
Looks great, thank you! It might also be good to log an error to inform the user that atomic moves are not supported by their system -- I definitely would like to know if that were the case for my database.

[2017-07-31 13:15] taburet commented on #5931
@obi1kenobi ok, I will add a warning to the log.

[2017-07-31 13:16] luigidellaquila commented on #3145
Already implemented in v 3.0.0 M2

Closing

Thanks

Luigi

[2017-07-31 13:16] #3145 closed, assigned to luigidellaquila

[2017-07-31 13:21] #3623 closed

[2017-07-31 13:21] luigidellaquila commented on #3623
This kind of issues was addressed with the new execution planner in V 3.0.0.
This already works fine in OrientDB v 3.0.0 M2 and will be released with the GA

Thanks

Luigi

[2017-07-31 13:33] #4714 closed

[2017-07-31 13:33] luigidellaquila commented on #4714
It's already implemented in v 3.0.0 M2 and will be released with the GA

Docs here http://orientdb.com/docs/3.0.x/sql/SQL-Syntax.html

Thanks

Luigi

[2017-07-31 13:44] laa commented on #7584
@mexeniz I suppose I found the reason of your issue, prior 2.2.15 version it was an issue, which appears exactly during high load. The problem was that data files could be flushed only partially. Unfortunately damaged data structure can be fixed only by using export/import from to JSON.
So I suggest you do following:

1. Export database to JSON.
2. Create a database using 2.2.24 version.
3. Import

[2017-07-31 15:33] robfrank commented on #7545
Yes, it is documented:
http://orientdb.com/docs/last/Full-Text-Index.html#index-lifecycle

BTW, I worked on a test, trying to reproduce your use case, but indexes are open and closed without problems. I defined 2 indexes on a class, and I put records with both properties and records with only one.

[2017-07-31 15:41] rdelangh commented on #7545
thanks again @robfrank
I read in this doc that the intervals are defined at the time of the creation of the index;
is it possible to adjust those metadata of an index, after the index has already been created ?
This way I can simply modify the metadata (small effort) and stop/restart the database, instead of having to drop then recreate each and every Lucene index (huge effort) with modified creat

[2017-07-31 15:46] robfrank commented on #7545
No, I'm afraid. At the moment these values are set at creation time. Our internals doesn't allow these settings to be dynamic at the moment.

[2017-07-31 15:50] rdelangh commented on #7545
ok then, bad news.
This is something that you might put on your likely long list of enhancements, i.e. to add a lot of dynamic reconfiguration options of the database engine:
with the (big) size of databases in mind that you guys are writing this software for, operations like a drop and recreate of indexes only to reconfigure such timing parameters, is a very sad waste of (much!) time.

[2017-07-31 15:53] robfrank commented on #7545
Yes, you're right. I will check with the rest of the team how and if we can enable this scenario.

[2017-07-31 19:50] PhantomYdn opened #7595 "Support of native languages in SQL under IBM Java"
### OrientDB Version: 2.2.23
### Java Version: IBM Java 8
### OS: ubuntu/alpine(docker)

We have the following SQL:

[code]

As you can see, this query contains text on native language (russian).
On the same database dump this SQL works perfectly on Oracle JDK and Open JDK, but it returns empty collection under IBM JDK. If change field "name" from russian to some english word (for example "test")

[2017-07-31 22:22] tozka commented on #6994
I am also seeing the same issue wiht the latest version 2.2.24
I am uncertain what value to interpret

[2017-07-31 23:19] careerscale commented on #7594
@robfrank, @luigidellaquila , is there an example of how to achieve  indexing of embedded map attributes?  including defining the schema etc? In my case, we are using 3.0 maps. It is map because I don't know the attributes upfront but I know the type of data, it will be a great help if it is possible to index this attributes and use them in queries without worrying about whether it is a map for co

[2017-08-01 06:09] luigidellaquila commented on #7594
Hi @careerscale

Support for embedded attribute indexing is not available yet on 3.0, we will add it in next few weeks and for sure before the GA.

About the schema, embedded maps by definition have no schema, but if you want to have constraints on embedded documents you can use plain classes, eg.

[code]

I hope it helps

Thanks

Luigi

[2017-08-01 06:46] taburet commented on #5931
Warning added: https://github.com/orientechnologies/orientdb/commit/2c5c1e3504dce38721741792dff8fc39d61a2ae1

[2017-08-01 06:46] #5931 closed

[2017-08-01 07:24] Kanji-Galaxy opened #7596 "CREATE VERTEX with double nested Json content fails"
### OrientDB Version: 3.0.0m2
### Java Version: 1.8.0_152-ea
### OS: MacOS Sierra (10.12.6)

## Expected behavior
Insert double nested Json content via CREATE VERTEX command.

## Actual behavior
Insert works for non-nested and single nested Json content but it fails when providing double nested Json content. For the insert, I am using the Studio GUI.

This problem does not occur in OrientDB versio

[2017-08-01 07:45] zhangshusheng commented on #7467
@G4br13l3 , thank you .

[2017-08-01 07:52] luigidellaquila commented on #7596
Hi @Kanji-Galaxy

I'm checking it, I'll let you know asap

Thanks

Luigi

[2017-08-01 08:02] luigidellaquila commented on #7596
Hi @Kanji-Galaxy

I tried this simple script, but I couldn't manage to reproduce the problem on latest 3.0.0 snapshot

[code]

any hint on how to reproduce?

Thanks

Luigi

[2017-08-01 08:11] Kanji-Galaxy commented on #7596
Hi Luigi,

I tried the same now on a completely new database and it suddenly works. I slowly think it might be something else in my old database.

Sorry for the false alarm...

Cheers,
Joern

[2017-08-01 08:11] #7596 closed

[2017-08-01 08:11] smolinari commented on #7594
@luigidellaquila

Will ODB ever have indexing on non-schema data?

Scott

[2017-08-01 08:38] luigidellaquila commented on #7595
Hi @PhantomYdn

I did as follows:

- created a docker image with 3.0.0M2 (Dockerfile):

[code]

- launched this from Studio:

[code]

Everything seems to work fine, do you have any other hints on how to reproduce?

Thanks

Luigi

[2017-08-01 08:39] luigidellaquila commented on #7595
ops... sorry, wrong release... testing with 2.2.x

Thanks

Luigi

[2017-08-01 08:43] luigidellaquila commented on #7595
Uhm, same with 2.2.24, here is the dockerfile:

[code]

Any thoughts?

Thanks

Luigi

[2017-08-01 09:15] publicocean0 commented on #7594
If i can give a suggestion, lucene dont ask a schema for searching .... schema is a over structure present in dbms.

[2017-08-01 09:45] mexeniz commented on #7584
@laa Yes, I could. Thank you for the instructions. I will report you again if an issue is reproduced.

[2017-08-01 10:02] PhantomYdn commented on #7595
Few comments:

In my case simplified schema is the following:
Class: ReportFact
     Property: reportItem LINK to ReportItem
Class: ReportItem
    Property: name STRING

I used Java API. And just checked the following: in both JDK String which is going into OrientDB code is the same.

Also my db was created under OpenJDK - not sure that it has sense.

[2017-08-01 10:07] luigidellaquila commented on #7595
Hi @PhantomYdn

Any chance to have a simple test case to reproduce?

Thanks

Luigi

[2017-08-01 10:13] PhantomYdn commented on #7595
Sure - will provide as soon as created and validated

[2017-08-01 10:36] PhantomYdn commented on #7595
It's becoming even more interesting:

Script:
[code]

If execute it under IBM Java it will return 1 record, but with question marks (through REST API):

[code]

Now lets try to execute the same code but under Open JDK:

[code]

Trying to repeat testcase purely through OrientDB REST.

[2017-08-01 10:54] PhantomYdn commented on #7595
Testing through purely REST interface (2480 port).
Client: http://yet-another-rest-client.com/

JDK: Open JDK
URL: http://localhost:2480/document/Orienteer
Method: POST
Payload: { "@class" : "TestName", "name" : "Это тест" }
Result:
[code]

Now lets switch to IBM JDK

JDK: IBM JDK
URL: http://localhost:2480/document/Orienteer
Method: POST
Payload: { "@class" : "TestName", "name" : "Это тест2" }
Re

[2017-08-01 10:58] PhantomYdn commented on #7595
![orientdb_ibmjdk](https://user-images.githubusercontent.com/1199285/28822318-7dd3e728-76c1-11e7-86aa-7092feb279c5.png)

[2017-08-01 12:49] SolidSnakeBA opened #7598 "Delete command with RETURN COUNT statement throws Error parsing query"
### OrientDB Version:  v2.2.24 (using Docker image orientdb)
### Java Version: openjdk version "1.8.0_131"
### OS: Alpine Linux v3.6.2

## Expected behavior
`delete from Contact return COUNT where name = 'Bob'` should return number of deleted records (command without `return COUNT` works)

## Actual behavior
Returns error `Error parsing query: delete from Contact return COUNT where name = 'Bob' ^

[2017-08-01 14:22] rdelangh opened #7599 "howto: SELECT FROM class1 WHERE (multiple-columns) IN (SELECT multiple-columns FROM class2) ?"
### OrientDB Version: 2.2.25

I need the following:
- from "class1", select some properties based on criteria
- from "class2", select the documents that have the same properties equal to the values of the properties from the first query

In classic databases:
[code]

How can this be done with OrientDB?

A multi-property index exists in "class2" on these 3 properties "a", "b" and "c" ; so I would b

[2017-08-01 15:31] luigidellaquila commented on #3494
In standard SQL you cannot use aliases for aggregate operations in the WHERE condition. To work around this limitations, relational databases provide HAVING keyword.

OrientDB does not support HAVING, so you have to use a subquery for this.

V 2.2 does not support aliases even in ORDER BY, but this limitation was fixed in v 3.0

Closing as invalid

Thanks

Luigi

[2017-08-01 15:31] #3494 closed

[2017-08-01 15:53] fixundfertig123 commented on #7547
Hi @santo-it, @tglman, @lvca,

I just run into a strange issue with the in memory database and testsuites. It looks like a similar issue than the one above, but also strange. I wrote a TestClass and added it via a project: https://github.com/fixundfertig123/7547/releases/tag/InMemoryError (via sbt: clean / compile / test)

As you will see, although the graphs get are fetched from the repo for ever

[2017-08-01 15:56] obi1kenobi commented on #5931
Looks great, thank you!

[2017-08-01 19:36] k-sok commented on #4837
For me it works when using `pyorient.ogm.property.PropertyEncoder`. Example:

`from pyorient.ogm.property import PropertyEncoder`
`sql = 'UPDATE {} SET prop={}'.format('#65:2', PropertyEncoder.encode_value('line1\nline2'))`
`graph.client.command(sql)`

[2017-08-01 21:39] DEVOPSIO21 opened #7600 "Feature Request: Preceding and Following"
### OrientDB Version: Future versions

## Expected behavior
Function to call preceding and following row of select results.

The use case is for analytical functions.

The syntax would be something like the following.

[code]

The results would give the preceding or following row results of a particular property, based on the current row.

## Expected Results

---
#### **No `Order by`**
| name | C

[2017-08-02 08:01] taburet opened #7601 "Cache state file may contain outdated information"
The cache state file (`cache.stt`) is updated on storage shutdown. If the file content is used without/before proper storage shutdown, it may contain outdated information, for example information about files which are already deleted. This may result in a failure to open a database containing such outdated file.

1. `cache.stt` should be ignored while backing up and restoring a database.

2. Cache