[2020-04-30 14:35] WhoNeedszZz commented on #9237
I completely agree about polite conversation. And accusing someone who's knowledge and skill set you know nothing about as having doing something wrong right off of the bat is impolite and going to provoke the type of response you received. I'd be happy to provide further information if you need it, but being defensive immediately is not the way to go about it. I'd even be willing to fix it myself

[2020-04-30 14:40] loganmzz commented on #2038
This is not an acceptable workaround as you can't determine if there was a deletion problem or just because database doesn't exist.

[2020-04-30 14:45] laa commented on #9237
I am not a root user and I am running the server on Linux machine without problems.
https://i.imgur.com/jBstFw3.png , https://i.imgur.com/esrLVSO.png , https://i.imgur.com/33qVOiw.png .  Also, all our tests are running on Linux distribution and all of them do not use root privileges during their run. Once we will have time we will look deeper on your issue. Almost all our customers run the server

[2020-04-30 15:22] WhoNeedszZz commented on #9237
Which directory is your test installation located?

[2020-04-30 15:32] luigidellaquila commented on #9234
Hi @asdfghjkai

I just pushed a fix for this issue, it will be released with next v 3.0.31

Just please consider that the correct syntax is

[code]

Thanks

Luigi

[2020-04-30 16:28] WhoNeedszZz commented on #9237
I have found the issue. I had the directory within my home directory and my home directory is actually private - set to 700. Due to the directory not having access for other the JNA functionality fails. I don't understand why this is an issue given the server is being ran by my user. I've never seen this behavior with any other application and I've always set my home directory private.

[2020-04-30 17:34] WhoNeedszZz commented on #9237
Upon further testing it's not the directory permissions. Setting home directory to 755 resulted in the same behavior. Moving to /opt and keeping the user ownership works, even setting /opt/orientdb-3.0.30 to 700 works. It only gives the error when located at /home/user/orientdb-3.0.30.

[2020-04-30 17:50] WhoNeedszZz commented on #9237
Finally figured out the culprit. I created a new user just to rule out some user-specific oddity. It worked fine with the new user. I figured then the likely culprit was ECryptfs and sure enough it was. As soon as I encrypted the new user's home directory the same error came up. I'm not sure why this is the case since the files are decrypted when accessing it, but this is the issue. Again, I've ne

[2020-05-01 04:33] laa commented on #9226
No those are different things.  If you don't mind please open a new issue.

[2020-05-01 05:52] WhoNeedszZz commented on #9237
So I see the thumbs up, but I'm not understanding why you would just close this issue. While I found the culprit, it's still an issue. I can't say whether it is something you have control over in your JNA code or if it's something intrinsic of how JNA is implemented, but at the very least I would think you would document this behavior in your installation documentation as a warning to people who u

[2020-05-01 05:56] laa commented on #9237
Yes, a good suggestion we would do that.

[2020-05-01 13:35] condast opened #9238 "com.orientechnologies.orient.object.jpa.OJPAPersistenceProvider causes problems in OSGI bundles"
### OrientDB Version: 2.2.37
### Java Version: JAVA 7
### OS: WINDOWS

## Expected behavior
I create a bundle an add a persistence.xml file as described in the [OrientDB Manual](https://orientdb.com/docs/2.2.x/JPA-Configuration.html) When I start the bundle (add Meta-Persistence: to the the MANIFESt.MF file, as described [here](https://www.ibm.com/support/knowledgecenter/SSAW57_8.5.5/com.ibm.websp

[2020-05-02 15:36] PhantomYdn commented on #9226
@laa , sure. Separate one has been open: #9235 Apparantly it's even not a Scheduler, but OrientDB ThreadPool

[2020-05-02 18:12] myflowpl commented on #8855
@rdelangh did you solve this problem ?

Had the same issue, I'm migrating from 2.2 to 3.0.19 for me it was:
1 - now indexes don't support by default null, so if I want to add document withoud field with index, I got this error
2 - I had to rebuild all idexes

now it is working again

[2020-05-03 23:58] jbreiding commented on #9223
I am getting a similar error during the UPDATE command attempting to insert a vertex with a composite key for an index.

I actually have the index in my inheritance structure, the class I am writing/updating inherits from the class that has the index.

Only my vertex classes have this structure, my edge indexes are on the actual class I am inserting/updating.

[2020-05-04 09:23] akshay-mahakalkar commented on #9228
Hi @wolf4ood ,
as per your article it worked, but I have to forcefully provide the address of 1st orientdb pod.
I have provided the address of other pods in server section. Now my database initialization conf looks as below,
[code]
This is as per given on orientjs npm page.
But does this configuration will improve the performance as compared to single pod of orientdb?

Any other suggestion from yo

[2020-05-04 15:38] evy126 opened #9239 "Different query result depending on index created on column"
### OrientDB Version: 3.0.30
### Java Version: 1.8.0_171
### OS: Windows 10

## Expected behavior
Query that gives the same result with or without index

## Actual behavior
`select ... where ID1 in ( select ID2 from ... )`  gives wrong result when column `ID1` is indexed

## Steps to reproduce
[code]

**NB : I know using the the following query is not the best way for retrieve these items, but it'

[2020-05-05 10:17] #9234 closed

[2020-05-05 12:55] evy126 opened #9240 "Difference in LET variables initialization between 2.2.24 and 3.0.30"
### OrientDB Version: 3.0.30 community edition
### Java Version: 1.8.0_171
### OS: Windows 10

We are migrating one of our applications from OrientDB 2.2.24 to 3.0.30.

The following query returns different results depending on the OrientDB version :

## Expected behavior
OrientDB 2.2.24:
[code]
## Actual behavior
OrientDB 3.0.30:
[code]

## Steps to reproduce
See previous queries

[2020-05-06 22:04] matanshukry opened #9241 "Sub-select in where clause with reference to "parent" variable is cached"
### OrientDB Version: 3.1.0-M3
### Java Version: 1.8.0_211
### OS: Windows 10

## Expected behavior
When referencing a parent variable in a sub-select, it should be evaluated per item

## Actual behavior
When referencing a parent variable in a sub-select, ti seems to be cached for the first item.

## Steps to reproduce

I have this query:
[code]

The idea is:
- I have a table (called chat) with on

[2020-05-07 03:43] matanshukry opened #9242 "[Bug] using $parent in sub-select in where clause result in NPE"
### OrientDB Version: 3.1.0-M3
### Java Version: 1.8.0_211
### OS: Windows 10

## Expected behavior
Not an NPE

## Actual behavior
NPE

## Steps to reproduce
Make a query with an inner sub select and use $parent in it.

For example:
[code]

The NPE comes from this:
https://github.com/orientechnologies/orientdb/blob/3.1.0-M3/core/src/main/java/com/orientechnologies/orient/core/sql/executor/OSelectE

[2020-05-08 09:56] pyromaniac78 opened #9244 "wrong schemaLocation in hazelcast.xml"
### OrientDB Version: 3.0.30
### Java Version: openjdk 14 2020-03-17
### OS: CentOS Linux release 7.8.2003 (Core)

## Expected behavior
No warnings in the logfile at hazelcast startup

## Actual behavior
Log-Line:
WARNI Name of the hazelcast schema location is incorrect, using default [AbstractXmlConfigHelper]

## Steps to reproduce
Startup a distributed orientdb 3.0.30 using the embedded hazelcas

[2020-05-08 15:53] jonsalvas commented on #9220
18 days passed and no answer at all... Did I write something stupid? Don't get me wrong but this is CORE functionality IMO, a database must be able to support high load and at least fail over (if not loadbalancing). It would be good to have at least a feedback that you were able to reproduce or even an acknowledgement that you have no time to fix it. I would be satisfied to have at least a workaro

[2020-05-11 02:02] njasm opened #9245 "LUCENE FULLTEXT Index return 0 items from EMBEDDEBMAP property when search."
### OrientDB Version:
3.0.30 community
### Java Version:
root@3bfce6364476:/orientdb# java -version
openjdk version "1.8.0_252"
OpenJDK Runtime Environment (build 1.8.0_252-b09)
OpenJDK 64-Bit Server VM (build 25.252-b09, mixed mode)
### OS:
Docker official image build

## Expected behavior
results returned

## Actual behavior
Zero results are returned

## Steps to reproduce

Create class "test"
-

[2020-05-11 17:40] njasm commented on #8972
Having same issue today with version 3.0.30-tp3 running on docker

I've managed to get the server up after a smalll "rest" and a bump to 8GB for the container .. :)
but any query/insert to a database we were feeding with some documents at a avg rate of about 2 docs/second is unusable at the moment.. (demodb is working apparently but had no load from us at the time of crash)

as soon as we try do a

[2020-05-12 11:55] stoica-florian commented on #9216
@wolf4ood
This does not seem to work for the following:
`ODatabaseDocument database = dbConnection.getFactory().getDatabase(false, false);
            OLiveQueryMonitor monitor = database.live("select FROM CLUSTER:default", listener);
            database.command("TRUNCATE RECORD [" + String.join(", ", result) + "]", new HashMap<>());
            monitor.unSubscribe();`

[2020-05-12 16:43] MBharu commented on #5395
Hello, Has this issue been resolved? Could someone kindly help with syntax/sample for writing a user-defined function in OrientDB using SQL language? Many thanks in advance.

[2020-05-12 17:08] MBharu commented on #5395
Also, kindly provide the syntax to drop/delete a user-defined function from console.

[2020-05-12 21:51] madmac2501 opened #9247 "Set password query doesn't end in distributed OrientDB"
### OrientDB Version: 3.0.30
### Java Version: 1.8
### OS: Ubuntu 18.04

## Expected behavior
Set password query doesn'

## Actual behavior
On a 3 node master-master distributed OrientDB I run this query on the web ui to set the admin user password. Running it more than once provokes that the query doesn't end and doesn't give back control to the web ui

UPDATE OUser SET password = 'xxx' WHERE nam

[2020-05-13 09:06] arcilli commented on #7529
So if you want to check if a database exists from a script, what should be the approach on that?
Thanks

[2020-05-14 02:51] quanghaisoft commented on #8282
This error still appears on version 3.0.28, 3.0.31 when calling the wrong function parameter

[2020-05-14 03:14] quanghaisoft opened #9249 "[Client lib bug, cluster die, important] Result sets not closing in 3.0.28 , 3.0.31"
OrientDB Version: 3.0.28
Java Version: 1.8.0_131
OS: Ubuntu
Expected behavior
Error  appears on version 3.0.28, 3.0.31 when calling the wrong function parameter
Function name:  gameapp_GetGalleryByProductIDTest(p1,p2,p3)
but when ran: select gameapp_GetGalleryByProductIDTest(p1,p2) as rs
function body sample:
 `select
	expand(x)
from
(
select
  	 abc

from
	product
let
	$x = out('e_a')[isactived =

[2020-05-14 03:15] quanghaisoft commented on #9249
<dependency>
			<groupId>com.orientechnologies</groupId>
			<artifactId>orientdb-graphdb</artifactId>
			<version>3.0.28</version>
		</dependency>
		<dependency>
			<groupId>com.orientechnologies</groupId>
			<artifactId>orientdb-gremlin</artifactId>
			<version>3.0.28</version>
		</dependency>

[2020-05-14 08:54] quanghaisoft commented on #9249
`
OrientGraphFactory factory=.......
public  void testA( )   {

		OResultSet rs = null;
		OrientGraph orG = null;
		try {
			orG = factory.getNoTx();

			Map<String, Object> paramsmap = new HashMap<String, Object>();
			rs = orG.querySql("select gameapp_GetGalleryByProductIDTest(219915,1) as rs", paramsmap).getRawResultSet();

		} catch (Throwable e) {
		  Exeption appear here and  rs =null , so n

[2020-05-14 15:12] #9244 closed

[2020-05-15 07:26] wolf4ood commented on #9193
Hi @matanshukry

i'm closing this. Let me know if there is more questions please re-open it

Thanks :)

[2020-05-15 07:26] #9193 closed

[2020-05-15 07:29] wolf4ood commented on #9187
Hi @matanshukry

which kind of field do you have?

Do you have simple sql snippet to reproduce this issue?

Thanks

[2020-05-15 07:34] wolf4ood commented on #9057
Hi @gianluca-valentini

how do you insert data? Do you have a simple SQL snippet to reproduce this issue?

Thanks

[2020-05-15 09:05] gianluca-valentini commented on #9057
Hi @wolf4ood
I created a database with the scenario that currently generate this issue
[support_database.zip](https://github.com/orientechnologies/orientdb/files/4633329/support_database.zip)

I have Book vertex with some fields. The Description one with LUCENE-LUCENE index.

if you execute `select from Book where description containstext 'scing'` the result is empty.

While there is a vertex with

[2020-05-15 11:48] matanshukry commented on #9187
Currently indexes can be in a corrupted state, which I believe was the issue.
I'll try to reproduce it, but the my entire dataset was removed already.

I'm closing it, although I think the fact an index can be in a corrupted state and still "function" is a bug.

[2020-05-15 11:48] #9187 closed

[2020-05-15 17:45] sigzero opened #9252 "Feature Request: add a setenv.bat or setenv.sh"
### OrientDB Version: ALL
### Java Version: ALL
### OS: ALL

## Expected behavior
If there were a setenv script (Apache Tomcat does this), then the JDK and options could be set in there and picked up.

I have about 5 different versions of the JDK for testing purposes and using this type of setup allows me not to have to set the JAVA_HOME and I don't have to hack the included scripts in the orientd

[2020-05-16 02:24] quanghaisoft commented on #9220
I have spent nearly 1 year successfully applying orientdb to commercial web projects of a large corporation in Vietnam.
The cluster of 6 nodes has encountered many errors from the client to the server, most of which are due to poorly configured configuration, servers that fail to sync, and data disputes, In order to successfully apply graph orientdb, you must have a data synchronization model, tab

[2020-05-16 02:29] quanghaisoft commented on #9220
I had to build 2 cluster clusters with 6 servers each to backup each other so that one cluster would die and then rebuild the cluster and the other still ran because I didn't fully trust this new system.
The fastest way to rebuild the cluster is to turn it off and get to a master server and copy it to other servers

[2020-05-16 08:19] matanshukry commented on #9249
@quanghaisoft I'm on 3.0.31 and I don't see any functions named `querySql` nor `getRawResultSet`.

Can you tell what's the class they're actually defined on?

[2020-05-16 12:01] quanghaisoft commented on #9249
I using multi process and multithread for upsert data so i using
class OrientGraphFactory in package:
package org.apache.tinkerpop.gremlin.orientdb

same issue if i using:
 ORODatabasePool dbPool=new ORODatabasePool(  "IP", "db", "admin",
	 		"pass", 2424);
 var rs=dbPool.Query("select gameapp_GetGalleryByProductIDTest(p1,p2) as rs");

[2020-05-16 12:03] quanghaisoft commented on #9249
thi has find a way to by pass this error by using:
orG = factory.getNoTx();
ORS = orG.execute("sql", query, params);

instead of querySql

[2020-05-18 09:39] madmac2501 commented on #8936
Any news on this?

[2020-05-19 01:10] quanghaisoft commented on #9220
Remember that you only stop, but dont start node when you doing write to db

[2020-05-19 01:38] #9245 closed

[2020-05-19 13:58] madmac2501 opened #9254 "requestDatabaseFullSync NullPointerException after distributed stop/start"
### OrientDB Version: 3.0.30
### Java Version: 1.8
### OS: Ubuntu

## Expected behavior
Distributed database is recovered after nodes are stopped/started. I have 3 instances in master-master mode

## Actual behavior
This exception is thrown and no progress is made

2020-05-19 13:43:02:730 INFO  [node1588849787806]->[[node1588849787692, node1588849787787]] Requesting deploy of database 'xxx' on loc

[2020-05-19 15:50] DiarmaidEverycs opened #9255 "Create edge edges are created as corrupted"
### OrientDB Version: 3.0.31
### Java Version:
openjdk version "1.8.0_252"
OpenJDK Runtime Environment (build 1.8.0_252-b09)
OpenJDK 64-Bit Server VM (build 25.252-b09, mixed mode)

### OS: Windows running orientdb through docker

## To reproduce
Create a new database instance by running
 docker run -d --name orientdb -p 2424:2424 -p 2480:2480 -e ORIENTDB_ROOT_PASSWORD=root orientdb:latest

Naviga

[2020-05-20 14:20] milan-cvejic commented on #9255
I have manged to reproduce this issue using console, and executing all of those statements. Weird thing is that if I close the session (exit console), reconnect and execute `repair database --fix-graph ` there are no errors reported, but if I delete edges, recreate them, and run `repair database --fix-graph` edges are removed as they are reported as broken.

[2020-05-20 16:06] laa commented on #9255
Hi @milan-cvejic looks like tracking of intermediate changes in the transaction is broken. I will try to check it ASAP.

[2020-05-20 16:18] milan-cvejic commented on #9255
@laa Thanks.

Same issue is reproducible on 2.2.37

[2020-05-21 07:19] guici123 opened #9256 "Importing the Open Beer Database into OrientDB, Import Beers ERROR"
### OrientDB Version: <2.2.37>
### Java Version: <1.8>
### OS: <win7>

## Expected behavior
 All beers shoud be imported

## Actual behavior
only import 128  beers and Has been running

G:\orientdb-community-importers-2.2.37\bin>oetl.bat G:/ori_op/beers.json
OrientDB etl v.2.2.37 (build a7541e7ceeabf592dd9a7b2928b6c023cbc73193, branch 2
2.x) https://www.orientdb.com
[file] INFO Load from file G:/o

[2020-05-21 07:20] #9256 closed

[2020-05-21 07:25] guici123 opened #9257 "Importing the Open Beer Database into OrientDB,but Import Beers Error"
### OrientDB Version: <2.2.37>
### Java Version: <1.8>
### OS: <win7>

## Expected behavior
All beers shoud be imported

## Actual behavior
only import 128 beers and has been running
[code]
## Steps to reproduce
Run oetl.bat G:/ori_op/beers.json
[code]

[2020-05-21 13:05] mebibou commented on #4436
@luigidellaquila could it be documented anywhere how to create a unique index on `EdgeClass[out,in]` for the UPSERT to work? I've been at this for days and still can't find a way to do this

[2020-05-21 21:01] bioinfornatics commented on #7267
A simple
[code]

fix it

[2020-05-22 13:34] bioinfornatics opened #9259 "[BUG/HOW-TO] Encrypt password from command line"
### OrientDB Version: 3.0.31
### Java Version: 11
### OS: cento 7

## Expected behavior
I would like  to add user programmatically without interactive console

## Actual behavior
I try to add `user` section into `config/orientdb-server-config.xml` in order to insert from the command line an user and its corresponding password

As example, below a  try with raw text as password (not hashed)

[code]

[2020-05-22 17:47] madmac2501 commented on #7622
I'm also affected in OrientDB 3.0.30

[2020-05-22 20:48] madmac2501 opened #9260 "deadlock on distributed OrientDB after 'requesting delta database sync'"
### OrientDB Version: 3.0.30
### Java Version: 1.8
### OS: Linux

## Expected behavior
OrientDB in distributed mode doesn't deadlock on delta database sync

## Actual behavior
This log appeared in one of the database, after the sync finished the database was deadlocked. It was possible to read but not to update or delete

2020-05-20 00:27:37:973 WARNI Reached limit of retry for commit tx:2.139207

[2020-05-22 21:03] madmac2501 opened #9261 "deadlock on distributed OrientDB on start"
### OrientDB Version: 3.0.30
### Java Version: 1.8
### OS: Linux

## Expected behavior
Distributed OrientDB doesn't deadlock on start and finish distributed negotiation to have all nodes online.

## Actual behavior
After restarting all OrientDB nodes in a distributed master master setup one node didn't finish the initialization.

I noticed that one TCP connection between nodes was blocked and it d

[2020-05-23 10:28] madmac2501 opened #9262 "cannot delete some records in distributed OrientDB"
### OrientDB Version: 3.0.30
### Java Version: 1.8
### OS: Linux

## Expected behavior
All vertex can be deleted in a distributed master-master OrientDB setup

## Actual behavior
Some vertex in a graph database cannot be deleted. I get this message in the web ui. This doesn't happen with all vertex

I get this error message, I always get the same message with same numbers

`com.orientechnologies.o

[2020-05-25 21:14] temilmg opened #9263 "Nested projection using wildcard problem"
### OrientDB Version: 3.0.31
### Java Version: 1.8
### OS: linux

## Expected behavior
If there is a name attribute then I would expect na* in a nested projection to include something like "name":"some name"

## Actual behavior
In my case it returns "na":null

## Steps to reproduce
[code]

[2020-05-26 09:04] jonsalvas commented on #9220
I am not 100 % if I understand what you are recommending but

This is not an option, nodes in cluster usually die and restart, this is normal behavior in a cloud environment. The other nodes should still be able to write as they are all masters and have all the same copy of data (we are not using shards right now) if I understood the docs. Why is a start of a node while writing to another a so big

[2020-05-26 10:44] HackerTheMonkey opened #9264 "Direct memory violation exception on RIDs"
### OrientDB Version: 2.1.19
### Java Version: 1.8
### OS: Linux, Cent OS

## Expected behaviour
Expecting data to be returned when I perform the following query:

[code]

## Actual behaviour
The following exceptions are thrown:

[code]

What does the above exactly mean to you?

Which led me to think that I have some sort of corrupted data, attempting to hide that particular rid with the `hide` co

[2020-05-26 14:37] matanshukry opened #9265 "[Question] create vertex and throw if inner select not found?"
I'm using the following query to create a vertex:

[code]

However, if id is invalid the vertex is still created. Is there anyway to not create the vertex?

[2020-05-26 19:19] #7045 closed

[2020-05-26 19:20] #7393 closed

[2020-05-26 19:56] temilmg commented on #8484
Sorry for the very late reply. We were using 2.2.x.
I will close this issue since It hasn't been a big problem (reload of indexmanger worked)

[2020-05-26 19:56] #8484 closed

[2020-05-27 12:46] pyromaniac78 commented on #9210
As I understand "writeQuorum": "majority" means that the majority of the cluster nodes need to confirm the written data. In a cluster of two nodes this can only be true if both are up.
You should always use odd numbers in clusters and have a minimum of three cluster nodes.

[2020-05-27 12:54] PepperYan commented on #8938
+1

[2020-05-27 19:14] matanshukry opened #9266 "Sequence doesn't rollback inside transaction (intentional? why?)"
### OrientDB Version: 3.0.31
### Java Version: 1.8.0_211
### OS: Windows 10

## Expected behavior
When calling .next() on a sequence inside a transaction and the transaction is rolled back, the value in the sequence should stay as it was before the transaction

## Actual behavior
When calling .next() on a sequence inside a transaction and the transaction is rolled back, the value in the sequence i

[2020-05-27 20:37] matanshukry opened #9267 "[Contribute Help] how to change syntax (add operator)"
I want to introduce a new operator - the null coalescing operator (??).

I tried to simply implement a class like `OQueryOperatorMultiply` and add it in `ODefaultQueryOperatorFactory`, but it seems I also need to change the parser.

I tried to add the new operator in the .jjt file (in the core/src/main/grammer) and then use the mvn goal to generate it `mvn javacc:jjtree`, but the changes to the ex

[2020-05-27 22:12] matanshukry opened #9268 "[Question] Create vertex with sub-query in set clause"
How can I create a vertex with sub-query in the set clause? I tried this:

[code]
But after querying the table, the result seems like a nested document:

[code]

select from `#3:4` return a column `idx` with the correct value, but I'm not sure how that document got created or what cluster is even `#3`.

[2020-05-28 03:40] quanghaisoft opened #9270 "Exception in thread 'OrientDB WAL Flush Task'"
### OrientDB Version: 3.0.31
### Java Version: java version "1.8.0_211"
### OS: ubuntu

## Expected behavior
Upsert success, not raise any error

## Actual behavior
[code]
Can not  update/insert data any more

## Steps to reproduce
My OrientDB system has over 100 classes with over 50GB data, setup in cluster mode with 6 node, on 6 different IP.
When I upsert big data into 1 master node orientdb in

[2020-05-28 07:37] luigidellaquila commented on #9266
Hi @matanshukry

Yes, that's correct and intentional.
The problem is with record version control, that for how sequences are implemented, would make them unusable if updated in transaction.
To give you a bit more context, the sequence value is stored in a document, whose version is updated every time you get a new value. If you updated it in tx, concurrent transactions (especially long transaction

[2020-05-28 08:06] luigidellaquila commented on #9267
Hi @matanshukry

When you change the grammar, a lot of files are impacted. JavaCC generates new classes (that have to be filled with the new logic) and changes the parser classes (that should never be touched manually). See `OMathExpression` for an example, but please consider that it's not trivial.

`OQueryOperatorMultiply` is for the legacy SQL executor, so you can ignore it

Thanks

Luigi

[2020-05-28 08:58] matanshukry commented on #9266
@luigidellaquila cool thanks for the explanation!

Quick questions regarding that though:
1 - There's a retry mechanism that at least should somewhat help; from what I can tell it's default value is set to 100. Doesn't that help?
2 - What do you think about having an extra flag on the sequence to decide which method to use? I can implement it my self as well

[2020-05-28 09:05] matanshukry commented on #9267
@luigidellaquila

Yeah I actually did look at `OMathExpression` and tried to create the new operator based on it. I think there are still more changes that what I made to the grammer file, but I'll send the PR and let you decide, you'll probably know more by looking at the actual changes as well.

And thanks for the `OQueryOperator` tip, I'll ignore that.

[2020-05-28 09:05] #9267 closed

[2020-05-30 09:53] MoayadP commented on #6063
@lvca
Hey, please i still can't find any documentation about TTL in orientdb 3.0- , can u tell me about it please
thanks,
Moayad

[2020-05-31 02:43] Charles74 commented on #8899
I found this thread because I was occasionally seeing the same exception.
It turns out, as suggested above, it is related to, abandoning or leaving a transaction open. I changed my code to always check if a transaction is in progress and commit it. I was reading from the database using 3 gremlin queries, but still `graph.tx().isOpen()` returns true.

[2020-05-31 14:51] cuongrep opened #9272 "What is the impact of failing to create a checkpoint?"
### OrientDB Version: v1.6.4
### Java Version: Java 8
### OS: Docker container on Linux OS

## Expected behavior
I was running embedded OrientDB v.16.4 in Docker container when I got the following logs:
`Storage OrientDB was not closed properly. Will try to restore from write-ahead log.`
`Try to find last checkpoint`
`Checkpoints are absent will restore from beginning`
`Date restore procedure is s

[2020-06-01 07:44] jamieb22 opened #9273 "minor request: set thread name on pool"
### OrientDB Version: 3.0.31
### Java Version: n/.a
### OS: n/a

## Expected behavior

Expect thread name to be set on all pools

## Actual behavior

No thread name. For example, "Thread-816" should be something like "orientdb"

"Thread-816" #1991 daemon prio=5 os_prio=0 tid=0x00007fb056d74800 nid=0x3d4e waiting on condition [0x00007fa4af4ca000]
   java.lang.Thread.State: WAITING (parking)
	at sun

[2020-06-01 08:17] jamieb22 opened #9274 "size of orient db client thread pool too large?"
### OrientDB Version: 3.0.31

When running Orient DB 3.0.31 in a multi-tenant scenario with several databases opened at the same time, there are a huge number of Orient DB daemon threads waiting, and most  (>100) do not appear to be doing useful work. Needless to say, if a thread pool is too large, then it negatively affects the performance of the server due to unnecessary context switching, and a

[2020-06-01 09:41] tglman commented on #9274
Hi,

Yes as today we do have one instance of OStorageRemotePushThread per database on the client, this can be improved in future, having one single pool for each instance of `OrientDBRemote`.

Regards

[2020-06-01 09:52] tglman commented on #9264
Hi,

the 2.2.x version is out of support, no new hotfix releases have been produced for this version since a while, please update to a newer release.

Regards

[2020-06-01 09:58] tglman commented on #9257
Hi,

The 2.2.x version is out of support since a while, please update to a more recent version.

Regards

[2020-06-01 10:06] tglman commented on #9242
Hi @matanshukry,

The 3.1.0 CE was released last week, could you try to reproduce the case with that release ?

Regards

[2020-06-01 10:10] tglman commented on #9238
Hi @condast,

The 2.2.x has been out of support for a while now, please update to a more recent version.
Regards

[2020-06-01 10:18] tglman commented on #9227
Hi,

This issue come from the fact that in the past orient used to remap the folder where the database was stored using "path$dbname" this is not used anymore, but some checks are still there, will see if this can be fixed in the current releases.

Regards

[2020-06-01 10:20] tglman commented on #9226
Hi,

The 3.1.x has been released that should include fixes for this specific cases, could you double check this?

Regards

[2020-06-01 10:21] tglman commented on #9225
Hi,

The new service is up and running, sorry for the hiccups, closing this.

[2020-06-01 10:21] #9225 closed

[2020-06-01 10:30] #9222 closed

[2020-06-01 10:31] tglman commented on #9221
Hi,

the 2.2.x is out of support since a while, please update to a more recent version.

Regards

[2020-06-01 10:35] tglman commented on #9218
Hi @anandsingh1019,

I do not see a reference to OrientDB in this report, I will close this, please re-open another issue if you have problems with OrientDB.
Regards

[2020-06-01 10:35] #9218 closed

[2020-06-01 10:42] tglman commented on #9217
Hi,
The 2.2.x version has been out of support since a while, has you mentions this problem is not in the 3.0.x, I will close this issue.

Regards

[2020-06-01 10:42] #9217 closed

[2020-06-01 10:44] tglman commented on #9215
Hi,

Thanks for reporting this, reporting an error instead of waiting to be ready is a breaking change, so this will be solved in a major version.

Regards

[2020-06-01 10:46] tglman commented on #9213
Hi,

The release 3.1.0 is out with this fix, will leave this open just to see if we will backport the fix or not.

Regards

[2020-06-01 10:51] tglman commented on #9204
H @celteeka,

Could  you test the case can we close this ?

Regards

[2020-06-01 10:52] matanshukry commented on #9242
@tglman yeah it's solved:
https://github.com/orientechnologies/orientdb/commit/90ece2331fc342137e88294ba0d1c548f5748872

Look like the commit that fixed it was a while ago btw; weird it isn't 3.1.0-M3.

[2020-06-01 10:52] #9242 closed

[2020-06-01 11:02] tglman commented on #9180
Hi,
The direct lookup of records do not support nested projections, and it won't support them in the short future, use the rest query API instead: https://orientdb.org/docs/3.0.x/misc/OrientDB-REST.html#query

Regards

[2020-06-01 11:02] #9180 closed

[2020-06-01 11:06] tglman commented on #9179
Hi @matanshukry,

The 3.1.0 has been just released could you try with that version ?

Regards

[2020-06-01 11:17] tglman commented on #9171
hi @la6803,

This error seems to come from miss-configuration, first error seems to have a wrong json in default-distributed-db-config.json, the second errors seems that some network ports where wrongly set in the configurations files.

Double check your configurations files and let us know.

Regards

[2020-06-01 11:19] tglman commented on #9170
Hi,

From your example it looks all fine, do you have a reproducer for test the problem?

Regards

[2020-06-01 11:24] tglman commented on #9167
Hi,

This seems like an instance of the database was bound to the thread local while it was closed, or that the `OrientDB` context was closed before the session instance spawn from it was closed.

let me know if this info helps.
Regards

[2020-06-01 11:30] #9153 closed

[2020-06-01 11:36] tglman commented on #9146
Hi @ygyg70,

We do not have plan to remove Hazelcast in short term, to add a bit of prospective we do transmit on Hazelcast only metadata, no data is actually transmitted, is still important to have encryption everywhere, but for OrientDB is less critical the encryption of hazelcast channels.

[2020-06-01 11:36] #9146 closed

[2020-06-01 11:42] tglman commented on #9143
Hi,
I think is OK and possible to run SQL scripts as a scheduled function, as Java code we would not allow the creations of Java functions from the API, but probably we could allow functions inject from plugins deployed in the server.

Regards

[2020-06-01 11:44] tglman commented on #9140
Hi @rbaarathi,

The 3.0.30 has been released a while ago, I'm closing this.
Regards

[2020-06-01 11:44] #9140 closed

[2020-06-01 11:45] matanshukry commented on #9167
@tglman I don't know, but I've been using the database on a daily basis and I haven't seen this exception since. It was probably fixed, either on your side or mine.

If it happens again I'll reopen this issue

[2020-06-01 11:45] #9167 closed

[2020-06-01 12:12] matanshukry opened #9275 "[Question] how to create an index in Java with multiple properties?"
It seems since 3.0 using the `OIndexManager` is deprecated and indices should be created on properties, such as:

`schema.getClass("Employee").getProperty("address").createIndex(OClass.INDEX_TYPE.NOTUNIQUE, new ODocument().field("ignoreNullValues",true));`

however - how do you create an index on multiple properties?

I noticed there's a `createIndedx` method on `OClass`:
1. Is that how it should

[2020-06-01 12:15] matanshukry commented on #9266
@tglman I noticed you marked this on the 3.0.x milestone; I updated the version to indicate it applies to 3.1.0 as well. Unless there's another reason it's not marked for 3.1.x ?

[2020-06-01 12:38] tglman commented on #9109
Hi,

This seems an issue with the metadata management, could you share with us your classes and indexes ? or an example of them that reproduce the issue ?

Regards

[2020-06-01 12:39] tglman commented on #9106
Hi,

The 3.1.x should already support jdk 11

Regards

[2020-06-01 12:41] tglman commented on #9104
Hi,

This will be supported in OrientDB 3.2.0

Regards

[2020-06-01 12:44] tglman commented on #9099
Hi @mmacfadden,

Could  you test the last release, can we close this ?

Regards

[2020-06-01 12:46] #9098 closed

[2020-06-01 12:49] #9090 closed

[2020-06-01 12:51] tglman commented on #9088
Hi,

The example should solve  the problem, closing this.

[2020-06-01 12:51] #9088 closed

[2020-06-01 12:54] tglman commented on #9083
Hi,
What's the status of this? can we close this issue?

Regards

[2020-06-01 12:59] tglman commented on #9080
Hi,

This seems just that the user that is used to run the OrientDB process does not have permission to access `/opt/orientdb/databases/`  folder or any inside it.

Just grant that permission.
Regards

[2020-06-01 12:59] #9080 closed

[2020-06-01 13:01] tglman commented on #9079
Hi,

The strategies for merging request are deprecated, please handle the Councurrent Modification in you application, is most of the time data concurrent access that should be handled anyway, there is no way to avoid this.

Regads

[2020-06-01 13:01] #9079 closed

[2020-06-01 13:03] ErikShiken commented on #9083
There's definitely something wrong with either the union or intersect
function. We're using a hack to work around the broken code

On Mon, Jun 1, 2020, 8:55 AM tglman <notifications@github.com> wrote:

[2020-06-01 13:07] #9120 closed

[2020-06-01 13:14] #9064 closed

[2020-06-01 13:26] matanshukry opened #9276 "[Bug] [3.1.0] [Client?] NPE when creating an edge"
### OrientDB Version: tags/3.1.0
### Java Version: 1.8.0_211
### Client version: 3.1.0 (maven central)
### OS: Windows 10

## Expected behavior
Create an edge (or throw a non-NPE exception if needed)

## Actual behavior
An exception (NPE) is thrown

## Steps to reproduce

I'm executing the following query:
[code]

- `id` is type `string`
- `options` is type `int`
- `createdAt` is type `long`

## L

[2020-06-01 13:30] tglman commented on #9056
Hi,

This is on a really old version of OrientDB not supported anymore, closing it.

[2020-06-01 13:30] #9056 closed

[2020-06-01 13:40] luigidellaquila commented on #9049
Fixed, thanks

Luigi

[2020-06-01 13:40] #9049 closed

[2020-06-01 13:43] tglman commented on #9040
Hi @Sandhya131,

This errors seems more related to nexus than to OrientDB, could you report the issue there ?

Regards

[2020-06-01 13:43] #9040 closed

[2020-06-01 13:45] tglman commented on #9036
Hi,

Similar issue where fixed in some more recent version of OrientDB, could check this problem in a updated version?

Regards

[2020-06-01 13:46] tglman commented on #9030
hi @laa.

Could we consider this closed ?

Regards

[2020-06-01 13:47] tglman commented on #9029
Hi @laa,

Could we consider this closed ?

Regards

[2020-06-01 13:58] tglman commented on #9002
Hi,
Can you replicate this or can we close this ?
Regards

[2020-06-01 14:58] mmacfadden commented on #9099
@tglman I will take a look in the next day or so and report back.

[2020-06-01 15:27] tglman commented on #8994
Hi,

Many of this problem have been fixed in a more recent version,if you can update it, this is quite likely is fixed.
Regards

[2020-06-01 15:37] tglman commented on #8986
Hi,

OrientDB 2.2.x is out of support since a while, closing this.

Regards

[2020-06-01 15:37] #8986 closed

[2020-06-01 15:38] laa commented on #8983
Fixed

[2020-06-01 15:38] #8983 closed

[2020-06-01 15:41] tglman commented on #8981
Hi,

Replied a while ago, closing
Regards

[2020-06-01 15:41] #8981 closed

[2020-06-01 15:49] kevin-holbrook-epicor commented on #8743
From the documentation this looks like it was only added to the POST command, but what about the "GET - Query" variant?

[2020-06-01 19:39] Cellebyte commented on #9104
@jonsalvas could be interesting for your production installation.

[2020-06-02 07:52] efenzha commented on #9215
Hi @tglman ,
Thanks for the reply!
It can also add a 'timeout' parameter.
What does 'major version' mean? 3.0.x or 3.1.x ?

[2020-06-02 14:06] condast commented on #9238
Hi,

I can't upgrade to 3.0 because it requires JAVA8, and my server container
does not support that yet

Cheers

Kees

Op ma 1 jun. 2020 om 12:12 schreef tglman <notifications@github.com>:

--
Met vriendelijke groet,

Kees Pieters
Condast
www.condast.com

[2020-06-02 16:48] #9221 closed

[2020-06-03 07:28] luigidellaquila commented on #8743
Hi @kevin-holbrook-epicor

As of now it is not supported, but we can consider to add it as a query string param, eg.

[code]

or as an http header

Thanks

Luigi

[2020-06-03 07:42] luigidellaquila commented on #9275
Hi @matanshukry

Yes, you should use the OClass method. The index name does not matter much, you can use whatever you want, but by convention we use `ClassName.prop1_prop2_propN`

Thanks

Luigi

[2020-06-03 09:26] matanshukry commented on #9275
@luigidellaquila great, thanks!

It should probably be added the documentation btw. I'm closing this issue, but reopen it if you want it as a task reminder to add it to the doc.

[2020-06-03 09:26] #9275 closed

[2020-06-03 10:58] laa commented on #9270
Hi, @quanghaisoft what is the WAL page size in your environment? You can find size of the WAL page in the log. Do you set any non-default settings? Thank you for the bug report.

[2020-06-03 10:59] tglman commented on #8971
Hi,

Version 2.2.x is out of support since a while, closing this.

Regards

[2020-06-03 10:59] #8971 closed

[2020-06-03 11:00] tglman commented on #8970
Hi,

This seems solved, closing it.

[2020-06-03 11:00] #8970 closed

[2020-06-03 11:05] laa commented on #9255
Hi @milan-cvejic what do you mean by "In a separate tab, navigate to the bin folder of oriented and connect to the database
Run the repair database --fix-graph command" do you establish a connection to the embedded database while the server is running?

[2020-06-03 11:09] milan-cvejic commented on #9255
Hi @laa, by "In a separate tab" was meant as a new terminal instance. Issue is reproducible if you execute all statements one after another in orientDB console.

[2020-06-03 11:16] laa commented on #9226
Hi @PhantomYdn looking forward to your response.

[2020-06-03 12:05] DiarmaidEverycs commented on #9255
Hi @laa The database was running when I ran the `repair database --fix-graph` command, yes.

[2020-06-03 16:06] tglman commented on #8957
Hi,

This is pretty normal behaviour,  the operation will continue in background till it finish, if you want the application client wait longer and not timeout before it finish you can set the https://orientdb.com/docs/3.0.x/admin/Configuration.html#networkrequesttimeout to a different value.

Regards

[2020-06-03 16:06] #8957 closed

[2020-06-03 16:08] tglman commented on #8954
Fixed already in 3.0.0, closing

[2020-06-03 16:08] #8954 closed

[2020-06-03 16:11] tglman commented on #8952
Hi @matanshukry,

Could you open a different issue for the console bug?

I'm closing this.
Regards

[2020-06-03 16:11] #8952 closed

[2020-06-03 16:12] tglman commented on #8946
Hi,
This issue should be already solved in 3.0.31, Closing.

[2020-06-03 16:12] #8946 closed

[2020-06-03 16:23] mmariuzzo opened #9278 "v3.1.0 and v3.0.30: Unable to use zfs for databases"
### OrientDB Version: 3.1.0 (also with 3.0.30 and 3.0.31)
### Java Version: Oracle JDK 1.8.0_212
### OS: CentOS 7

## Expected behavior
place orientdb databases on a zfs filesystem to take advantages of native compression

## Actual behavior
OrientDB crashes on startup

## Steps to reproduce
I'm using OrientDB to store datas with a good compression trend. I've tested the internal compression and I

[2020-06-03 16:43] tglman commented on #8901
Hi,

The difference in performance are depending on API use, so the right use of the API should bring similar performances.

Closing this

[2020-06-03 16:43] #8901 closed

[2020-06-03 16:46] tglman commented on #8893
Hi,

This should already be fixed in a more recent version of 3.0.x.

Closing

[2020-06-03 16:46] #8893 closed

[2020-06-03 16:47] tglman commented on #8891
Hi,
The iterator problem is fixed, and the network blocked as well has been fixed in recent versions.
Closing

[2020-06-03 16:47] #8891 closed

[2020-06-03 16:53] tglman commented on #8886
Hi,
As said we support java 11, closing

[2020-06-03 16:53] #8886 closed

[2020-06-03 16:55] tglman commented on #8880
Hi,

This should be already fixed in more recent version of 3.0.x.

Regards

[2020-06-03 16:55] #8880 closed

[2020-06-03 16:56] tglman commented on #8878
Hi,

Cannot reproduce and not more infos, closing

[2020-06-03 16:56] #8878 closed

[2020-06-03 16:59] tglman commented on #8872
Hi,

This error seems that the client cannot reach the server, a simple network problem.

Closing this

[2020-06-03 16:59] #8872 closed

[2020-06-03 17:10] tglman commented on #8865
Duplicate, closing

[2020-06-03 17:10] #8865 closed

[2020-06-03 17:11] tglman commented on #8861
Fixed, closing

[2020-06-03 17:12] tglman commented on #8860
Hi,

No replies since a while, closing

[2020-06-03 17:12] #8860 closed

[2020-06-03 17:17] tglman commented on #8854
Hi,

No reply since a while, closing

[2020-06-03 17:17] #8854 closed

[2020-06-04 01:20] PhantomYdn commented on #9226
@laa , @tglman , just checked on 3.1.0 - stuck on exactly the same point during restoration.
![image](https://user-images.githubusercontent.com/1199285/83703983-c9bd7b00-a5c5-11ea-8d1e-40e4da6ca22f.png)

As I wrote previously: result of the broken db is issue #9235 - I also checked it on 3.1.0 - exactly the same behavior.

[2020-06-04 01:22] PhantomYdn commented on #9235
Retested on 3.1.0 after its releasing - the same behavior:

![image](https://user-images.githubusercontent.com/1199285/83704521-266d6580-a5c7-11ea-8a3a-93ad8864f1a1.png)

[2020-06-04 10:39] laa commented on #8882
Hi, that is already fixed in the latest versions.

[2020-06-04 10:39] #8882 closed

[2020-06-04 14:05] quanghaisoft commented on #9270
thanks you for your answer , this is logs, recent day, this error not appear
config in server.sh
 -Dstorage.wal.maxSegmentSize=128 -Dstorage.wal.maxSize=16384

2020-06-03 17:01:01:421 INFO  Allocation of 972800 pages. [OEngineLocalPaginated]
2020-06-03 17:01:03:978 INFO  WAL maximum segment size is set to 6,144 MB [OrientDBDistributed]
2020-06-03 17:01:03:978 INFO  Databases directory: /data/orien

[2020-06-04 14:09] quanghaisoft commented on #9270
we have writed a very larger number of concurrent data

[2020-06-04 14:42] laa commented on #9270
Hi @quanghaisoft . I am not sure that I understood you. Do you mean that now you can not reproduce this error on your tests?

[2020-06-04 21:12] jpv opened #9280 "3.1.0 => sh server.sh can't start OServerMain not found"
### OrientDB Version: <3.1.0 2>
### Java Version: <open jdk 11.0.2>
### OS: <mac os catalina 10.15.4>

## Expected behavior
starting the server sh server.sh

## Actual behavior
removing old pid file /Users/jpv/Documents/orientdb-3.1.0 2/bin/orient.pid
Error: Could not find or load main class com.orientechnologies.orient.server.OServerMain
Caused by: java.lang.ClassNotFoundException: com.orientechn

[2020-06-05 11:08] arch7tect opened #9281 "Can't find nearly inserted record by unique field within transaction"
### OrientDB Version: 3.1.0
### Java Version: 1.8
### OS: Windows 10

## Expected behavior
in transaction:
--insert record in the class with unique index
--select this record by indexed field
expected: nearly inserted record is found

## Actual behavior
no records found

## Steps to reproduce
[code]
This code returns 0.
If we comment out 'create index' statement, we got 1.

[2020-06-05 11:49] qidaijie2018 opened #9282 "Why my cluster copy data every time it is started?"
I have a cluster of two servers.And there's data on each platform,Why  copy data from the first startup every time?

[2020-06-05 11:51] qidaijie2018 commented on #9282
This is config.

`{
  "replication": true,
  "hotAlignment": true,
  "autoDeploy": true,
  "readQuorum": 1,
  "writeQuorum": 1,
  "executionMode": "asynchronous",
  "readYourWrites": true,
  "newNodeStrategy": "static",
  "servers": {
    "*": "master"
  },
  "clusters": {
    "internal": {
    },
    "*": {
      "servers": ["<NEW_NODE>"]
    }
  }
}
`

[2020-06-05 14:49] laa commented on #9281
That is a known issue I am already working on it.

[2020-06-05 14:56] #9185 closed

[2020-06-05 14:57] laa commented on #9198
Fixed in https://github.com/orientechnologies/orientdb/issues/9185

[2020-06-05 14:57] #9198 closed

[2020-06-05 16:05] laa commented on #9281
Fixed.

[2020-06-05 16:05] #9281 closed

[2020-06-05 21:25] jpv commented on #9280
openJK is the issue...
Fixed

[2020-06-05 21:25] #9280 closed

[2020-06-06 10:56] quanghaisoft commented on #9270
this error not display again. we are runing in production, so i can not test it.if it appears i ll open this issue

[2020-06-06 11:03] quanghaisoft commented on #9270
this bug in my production so we copy data and rebuild cluster immediately.if it appears again,we will send it to you

[2020-06-07 17:08] madmac2501 opened #9283 "database doesn't start on restore when database is not closed properly"
### OrientDB Version: 3.1.0
### Java Version: 1.8
### OS: linux

## Expected behavior
OrientDB in distributed mode starts

## Actual behavior
After a restart of a node in an OrientDB in distributed mode the node doesn't start

All CPU cores from the machine use 100% cpu and orientdb doesn't start

2020-06-07 16:41:41:650 WARNI Storage 'xxx' was not closed properly. Will try to recover from write a

[2020-06-07 17:49] madmac2501 opened #9284 "deadlock in database sync in distributed mode"
### OrientDB Version: 3.1.0
### Java Version: 1.8
### OS: linux

## Expected behavior
database sync in distributed mode doesn't deadlock

## Actual behavior
in a distributed deployment of 3 nodes in master/master sometimes the database syncing deadlock

these logs appear but they syncing don't progress

2020-06-07 17:29:22:690 INFO  [orientdb-1]->[orientdb-3] - transferring chunk #1 offset=0 size=

[2020-06-07 18:37] madmac2501 opened #9285 "java.lang.IllegalMonitorStateException in distributed orientdb deployment"
### OrientDB Version: 3.1.0
### Java Version: 1.8.0
### OS: linux

## Expected behavior
Database syncs correctly without blocking.

## Actual behavior
Trying to recover a database in distributed mode throws these errors. And database recovery gets hang and doesn't try to resync/recover database

2020-06-07 18:16:07:546 INFO  [orientdb-3] Trying to recover current server for database 'xxx'... [OClu

[2020-06-08 05:49] la6803 opened #9286 "[Question]I need to check the status in conjunction with Orient DB in JavaScript"
### OrientDB Version: <version here>  2.2.29
### Java Version: <version here>  1.8.0_252
### OS: <os here>  centos

## Expected behavior
<add here>  cluster status

## Actual behavior
<add here>

## Steps to reproduce
<add here>
<An SQL script to reproduce the problem or a JUnit test case will increase **A LOT** the chance to have a quick fix>

**I need to check the status of OrientDB using JavaSc

[2020-06-08 10:19] dritter-sap commented on #9245
Although you might have already found your mistake, https://github.com/orientechnologies/orientdb/pull/9277 adds some more explanation, testing and an exception to EMBEDDED for you or others interested in the solution.

[2020-06-08 11:56] madmac2501 commented on #9226
I also reproduced this issue in 3.1.0

[2020-06-08 14:13] madmac2501 commented on #9262
I've also noticed that deleting records at the same time than inserting can lead to deadlocks.

[2020-06-08 14:34] JeffJochems opened #9287 "Import database from 3.0.30 to 3.1.0 fails"
### OrientDB Version: 3.1.0
### Java Version: 1.8.0_251
### OS: Windows 10

## Expected behavior
I want to import my database exported from a previous version of OrientDB (3.0.30) into OrientDB 3.1 .

## Actual behavior

When importing a database exported from orientDB 3.0.30, an error occurs with the following exception: ` Impossible to remove the last cluster of class 'ORole' drop the class inst

[2020-06-09 13:04] laa commented on #9270
I see thank, I will try to reproduce with settings which you sent to me.

[2020-06-09 13:05] laa commented on #9226
Hi @PhantomYdn, unfortunately, I can not reproduce it. Actually I have been running tests for a week to reproduce it.  Could you send me a thread dump?

[2020-06-09 13:22] laa commented on #9255
Hi @DiarmaidEverycs . You can not do that. You should use the same server to access the database. We use file locks to protect from this kind of access but maybe it does not work in case of embedded containers.

[2020-06-09 13:27] milan-cvejic commented on #9255
@laa To clarify, it is the same server. Issue is reproducible from within same session of orientDB console.

Executing:
`create class A extends V
create class B extends V
create class C extends E

insert into A content {"name": "First", "num": 1}
insert into A content {"name": "Second", "num": 10}
insert into B content {"name": "First", "num": 10}
insert into B content {"name": "Second", "num": 1}

[2020-06-09 13:29] madmac2501 commented on #9226
Hi @laa I have a thread dump in the ticket that I opened about this issue https://github.com/orientechnologies/orientdb/issues/9283

Please if you have time take a look at my other tickets, we cannot use 3.1.0 because of these defects.

Thanks!

[2020-06-09 13:32] laa commented on #9255
@milan-cvejic problem is that I tried to reproduce it but without any success. Just to double-check. Do you connect to the database using `remote` connection?

[2020-06-09 13:36] milan-cvejic commented on #9255
Yes, it is remote connection. I was able to reproduce it when copy/pasting mentioned statements in same console session.

Tested on docker provided version 3.0.31 and version  2.2.37 that is installed on remote server.

[2020-06-09 14:08] laa commented on #9226
Hi @madmac2501 , that is really helpful, but could you create not single but 2, 3 thread dumps so I will check what is going on. Could also send me a list of files inside of a database. Maybe you have two different issues actually.

[2020-06-09 14:39] DiarmaidEverycs commented on #9255
@laa If you connect using plocal, then the issue does not occur, it is only whey you are connecting to the server through the remote connection.

[code]
which gives (correctly)
[code]
Now run:
[code]
And the output is:
[code]

[2020-06-09 15:13] madmac2501 commented on #9226
Hi,

I rolled back to 3.0.31. I'll try to setup again the environment and try to reproduce it. Please give me some time.

Please send me your email to share this new information.

Thanks!

[2020-06-09 15:17] laa commented on #9226
Thank you. You can use a.lomakin@sap.com.

[2020-06-10 17:46] evy126 opened #9288 "Aggregation functions return incorrect values when using LIMIT keyword"
### OrientDB Version: 3.0.30
### Java Version: 1.8.0_171
### OS: Windows 10

## Expected behavior
`LIMIT` keyword may limit number of returned rows but not modify aggregation calculations

## Actual behavior
When an aggregation (`count, sum`, ..) is used on a property, it's applied only on `LIMIT` rows.
Works correctly when using `count(*)`.
Works correctly in OrientDB 2.2.24.

## Steps to reprodu

[2020-06-10 21:17] matanshukry opened #9289 "st_distance_sphere - throw or silently ignore on null vertices? should I create a PR?"
### OrientDB Version: 3.1.0
### Java Version: 1.8.0_211-b12
### OS: Windows 10

## Actual Behavior
When calling `st_distance_sphere` function with a vertex (source or destination) that is null, an exception is thrown back. As can be seen in the code:

https://github.com/orientechnologies/orientdb/blob/3.1.0/core/src/main/java/com/orientechnologies/orient/core/sql/functions/graph/OSQLFunctionShorte

[2020-06-11 06:50] luigidellaquila commented on #9288
Hi @evy126

Thank you for reporting, I'm fixing it now

Thanks

Luigi

[2020-06-11 07:51] #9288 closed

[2020-06-11 07:51] luigidellaquila commented on #9288
Hi @evy126

I just pushed a fix, it will be released with v 3.0.32

Thanks

Luigi

[2020-06-11 09:18] evy126 commented on #9288
Wow .. that was really a quick fix.
Thank you Luigi

[2020-06-11 12:30] everette00 opened #9290 "Migrating from 3.0.30 to 3.1.0 - Impossible to remove last cluster of ORole"
### OrientDB Version: 3.1.0
### Java Version: openjdk version 1.8.0_252
### OS: CentOS7 Server

## Expected behavior
Migrating from version X -> Y should accept a valid database layout. I have upgraded from prior versions for OrientDB before without issue.

## Actual behavior
On evaluating version 3.1.0, an export from 3.0.30 is apparently not compatible with 3.1.0.
I receive this error:
`com.orie

[2020-06-11 12:38] luigidellaquila commented on #9290
Hi @everette00

We are already investigating this problem (it's high priority).
You can monitor the advancement here https://github.com/orientechnologies/orientdb/issues/9287

Closing as duplicate

Thanks

Luigi

[2020-06-11 12:38] #9290 closed

[2020-06-11 12:41] everette00 commented on #9233
I concur. And memory usage also continues to climb with little to no activity. Was looking at resource consumption and noticed that it was using 30+ GB of memory after some number of days while the heap setting is -Xms2G -Xmx2G.

The only thing that has currently seemed to quell this issue, and I may be prematurely speaking here, is setting the diskCacheBufferSize to 7200. I've also bumped the set

[2020-06-11 23:10] dullahan8 commented on #9287
I can replicate this error trying to export from 3.0.25 and import into 3.1.0.
Orientdb: 3.1.0
OS: CentOS Linux release 7.6.1810 (Core)
Java: openjdk version "1.8.0_191"
[code]

[2020-06-12 06:31] #9286 closed

[2020-06-12 06:38] la6803 opened #9291 "[Question]Is it possible to check the cluster status of orientdb’s distributed server using url?"
### OrientDB Version: <version here>  2.2.29
### Java Version: <version here>
### OS: <os here>  centos

## Expected behavior
<add here>
http://localhost:2480/server

{"connections":[{"connectionId":"16","remoteAddress":"/203.255.92.194:35528","db":"-","user":"-","totalRequests":"814","commandInfo":"Listening","commandDetail":"-","lastCommandOn":"2020-06-12 02:33:47","lastCommandInfo":"Distributed

[2020-06-12 06:40] luigidellaquila commented on #9287
Hi all

The problem is in the 3.1 importer and it applies to all previous versions. We have a fix and we are testing it, it will likely be available in the snapshot in a few hours

Thanks

Luigi

[2020-06-12 09:30] laa commented on #9161
It is fixed in the latest 3.0.x. We will release it ASAP.

[2020-06-12 09:30] #9161 closed

[2020-06-12 09:43] laa commented on #9255
Hi @DiarmaidEverycs . You can not work like that. You can not connect to the plocal and to the remote the same time. If you perform all the actions only using remote connection do you have those problems?

[2020-06-12 09:47] laa commented on #9229
Fixed, thank you !

[2020-06-12 09:47] #9229 closed

[2020-06-12 09:53] laa commented on #9212
Hi guys, please let me know if this issue still actual I will work on it.

[2020-06-12 10:15] laa commented on #9196
Hi @madmac2501 . I suppose that is not a deadlock but very slow deletion of relations because we do not support in 3.0.x usage of data structures which makes such operations much faster. Could you use 3.1 version? It should fix this issue.

[2020-06-12 10:15] #9196 closed

[2020-06-12 10:16] laa commented on #9226
@PhantomYdn can not answer this question unfortunately not my module.

[2020-06-12 10:19] luigidellaquila commented on #9235
Hi @PhantomYdn

I just pushed a change that should address this problem

Thanks

Luigi

[2020-06-12 11:27] laa commented on #9113
Please do export/import of data and please reopen the issue if you have the same problems in 3.x version.

[2020-06-12 11:27] #9113 closed

[2020-06-12 11:28] laa commented on #8965
Hi, if someone is interested to work on this issue please let us know, otherwise, it will be closed in one week

[2020-06-12 11:30] laa commented on #8988
Hi @Tracy0231 dictionaries are broken by design and we deprecated them. Please use unique indexes instead.

[2020-06-12 11:30] #8988 closed

[2020-06-12 11:35] laa commented on #3041
Hi, if this issue still actual please let us know otherwise we will close it.

[2020-06-12 11:37] laa commented on #3308
Fixed in  3.1 we group all adjacent pages together. Also, we use async io to trigger up to 1K write requests simultaneously.

[2020-06-12 11:37] #3308 closed

[2020-06-12 11:38] laa commented on #4500
Out of date because of changes in design.

[2020-06-12 11:38] #4500 closed

[2020-06-12 11:39] laa commented on #5251
we consider using JFR events + JMX in next versions.

[2020-06-12 11:39] laa commented on #5408
Hi, if this issue still actual please let us know otherwise we will close it.

[2020-06-12 11:40] #5645 closed

[2020-06-12 11:41] laa commented on #7755
As for now, we do not plan to support version overflow,

[2020-06-12 11:41] #7755 closed

[2020-06-12 11:41] #7942 closed

[2020-06-12 11:41] madmac2501 opened #9292 "NullPointer on distributed database synchronization, synchronization loop"
### OrientDB Version: 3.1.0
### Java Version: 1.8
### OS: linux

## Expected behavior
Distributed database is synchronized correctly.

## Actual behavior
On synchronization there is a null pointer, this forces a new synchronization that throws another null pointer, entering an infinite loop.

## Steps to reproduce
Deploy 3 OrientDB nodes in master-master node
Two scripts upserting periodically, wr

[2020-06-12 11:42] #7834 closed

[2020-06-12 11:42] laa commented on #7806
Sorry not a priority right now

[2020-06-12 11:42] #7806 closed

[2020-06-12 11:43] laa commented on #8573
Fixed

[2020-06-12 11:43] #8573 closed

[2020-06-12 11:43] laa commented on #8442
Hi, if this issue still actual please let us know otherwise we will close it.

[2020-06-12 11:45] laa commented on #9021
That caused by the fact that tracking of the length of the cluster was not transactional in early versions. It should be fixed already.

[2020-06-12 11:45] #9021 closed

[2020-06-12 11:48] laa commented on #8715
It is already fixed on the latest 3.0.x version because we started to use durable version of storage configuration.

[2020-06-12 11:48] #8715 closed

[2020-06-12 11:49] laa commented on #8613
Planning to fix in 4.0 by the introduction of snapshot isolation.

[2020-06-12 11:50] laa commented on #9060
Please check latest 3.0.x, it should be already fixed.

[2020-06-12 11:51] laa commented on #8301
Hi, if that is still actual we can work on it. Otherwise the issue will be closed.

[2020-06-12 11:51] laa commented on #7878
Sorry not a priority right now

[2020-06-12 11:51] #7878 closed

[2020-06-12 11:52] laa commented on #8066
Support of OSGi is not a priority right now.

[2020-06-12 11:52] laa commented on #8103
Should be fixed in latest 3.0.x as we use the durable version of storage configuration.

[2020-06-12 11:52] #8103 closed

[2020-06-12 11:53] laa commented on #8126
Hi, if that is still actual we will work on that. Otherwise, we will close the issue.

[2020-06-12 11:54] laa commented on #8440
Hi, if this still an issue we can work on this, otherwise, it will be closed.

[2020-06-12 11:55] laa commented on #9106
We are running ODB on JDK 11. No issues as for now.

[2020-06-12 11:56] laa commented on #9005
Closed because of no answer.

[2020-06-12 11:56] #9005 closed

[2020-06-12 11:57] laa commented on #8759
Hi if that is still an issue we can work on the solution. Otherwise, it will be closed.

[2020-06-12 12:02] edmiralagic commented on #9212
@laa Since switching over to a new vm I have not experienced this problem anymore (and probably would not be able to reproduce it). If @luppu is not experiencing the problem anymore either, then you guys can probably just ignore it. Thank you.

[2020-06-12 13:34] laa commented on #9169
Fixed

[2020-06-12 13:34] #9169 closed

[2020-06-12 13:35] laa commented on #9061
Hi guys, please let me know if this issue still actual I will work on it.

[2020-06-12 13:36] laa commented on #8295
Hi guys, please let me know if this issue still actual I will work on it.

[2020-06-12 13:37] laa commented on #8900
Hi guys, please let me know if this issue still actual I will work on it.

[2020-06-12 13:37] kmhughes commented on #8066
Understood on OSGi not being a priority. But are there any answers to the questions that I had, which would provide me a workaround?

Is there a way to block in the thread where I initiate the Orient.instance().shutdown() call until the full shutdown is complete. Is there a way to shutdown the storage where everything can flush and I won't get the thread interrupted exception?

[2020-06-12 13:38] laa commented on #8875
Hi guys, please let me know if this issue still actual I will work on it.

[2020-06-12 13:41] laa commented on #8066
@kmhughes we separated all storage-related threads in another thread group. So they should not be interrupted on shutdown. Let me check this.

[2020-06-12 13:53] kmhughes commented on #8066
@laa, thanks! I did move one use of the database into your standard docker image, so OSGi is gone in that one case. But I still do have one plocal.

Now I need to take the docker-based DB and get it to become distributed in kubernetes, preferably with Istio.

[2020-06-12 13:57] PhantomYdn commented on #9169
Nice fix;) Thank you!

[2020-06-12 13:59] laa commented on #8935
Closed, because of no answer.

[2020-06-12 13:59] #8935 closed

[2020-06-12 14:24] laa opened #9293 "Replace file locking by the booking of free socket port number"
At the moment we use OS file locking possibility to prevent simulations access to the database files.
The problem is that there are quite a few cases when file lock is kept on file system even after the process properly closed. As a result, users can not access files even if no other processes are running.

It is proposed to use blocking of free socket port instead, with the ability to provide suc

[2020-06-12 14:26] laa opened #9294 "Improve durability of storage startup metadata"
Right now we perform sync every time we write data to the storage startup metadata file. But that is not enough, we should use shadow copy approach to avoid data corruption.

[2020-06-12 15:28] laa opened #9295 "Minimize restore time after the crash"
Database restore time after the crash should not exceed 15 min on average.

[2020-06-12 15:37] everette00 commented on #9287
Awesome! Thanks @luigidellaquila !

[2020-06-12 15:46] luigidellaquila commented on #9287
Hi all

We pushed a fix to develop branch, the 3.1.1-SNAPSHOT version is already available on Sonatype

https://oss.sonatype.org/content/repositories/snapshots/com/orientechnologies/orientdb-community/3.1.1-SNAPSHOT/

Thanks

Luigi

[2020-06-12 18:25] laa commented on #8855
Hi, if that is still actual we will work on that. Otherwise, we will close the issue.

[2020-06-12 18:25] laa commented on #8858
Hi, if that is still actual we will work on that. Otherwise, we will close the issue.

[2020-06-12 18:28] laa commented on #9144
That is hard to understand from a single exception. Maybe you have logs from the server to check them ?

[2020-06-12 18:34] laa commented on #8972
Hi guys,
Is it always reproducible? Could you provide steps for us on how to create the same problem on our side?

[2020-06-12 18:37] laa opened #9296 "Close the channel every time storage startup metadata are updated"
Keeping channel open will not provide any performance benefit but amount of open file handles will increase with the number of open databases.

[2020-06-12 22:29] PhantomYdn commented on #9235
Hello, @luigidellaquila !

Visually on 3.1.1-SNAPSHOT I observe the same behavior, but according to thread dump - infinite locking is happening in other place.

[code]

[2020-06-13 16:30] JeffJochems commented on #9287
Great!
Thanks @luigidellaquila and everyone!

[2020-06-13 21:33] madmac2501 commented on #9144
I'm sorry but I don't keep these logs, this was when we run OrientDB in a single node. The good thing is that I no longer saw this again as we moved to newer versions in 3 distributed nodes. If there is not enough information to move forward please close the ticket. I'll open a new one it if I see it again.

[2020-06-14 23:52] robinZhao commented on #8972
It only happened once. I can't reproduce it after reinitialize

[2020-06-15 05:10] aniketgambhire commented on #8470
Build pyorient from source they had made some configuration file changes. Due to this you will able to connect python and orientdb successfully.

[2020-06-15 08:29] #9235 closed

[2020-06-15 08:29] luigidellaquila commented on #9235
Hi @PhantomYdn

Ok, I got the problem.
I pushed a new fix, now it should be fine.
The snapshot will be available in a few hours.

Thanks

Luigi

[2020-06-15 09:21] efenzha commented on #8875
Hi @laa ,
No, it doesn't show in the version .31

[2020-06-15 09:36] laa commented on #8875
Cool!

[2020-06-15 09:36] #8875 closed

[2020-06-15 10:42] tarunwadhwa13 commented on #8122
Reviving this thread because this seems to be a big concern now.
Most of the API Drivers(mainly ones in Python and Golang) are now not maintained.
Even connecting to OrientDB 3.x is now not possible.

This becomes a blocker while using Orient in most stacks as most of the features aren't available in bare HTTP API.

Is any plan for implementing official API driver for few more languages?

[2020-06-15 13:16] mmacfadden commented on #9059
I'd like to vote for this issue also.  We currently have user interfaces that have paginated tables, where you need a total result count for them to render the pagination control correctly. In all of these cases we are running two queries. One to get the results and one to get the count.

[2020-06-15 13:37] mmacfadden opened #9298 "Skip / Count Java Datatype Inconsistency"
### OrientDB Version: 3.0.31
### Java Version: N/A
### OS: MacOS

I am not sure if this is a bug, a question, or an enhancement request!  I have noticed that there is an inconsistency in how OrientDB hands `count` vs how it deals with `SKIP` / `LIMIT`.

If we look at the OSkip class we can see that it essentially wraps an `int`.  Meaning that the max value you can `SKIP` is the max value of an `in

[2020-06-15 15:45] bulanan opened #9299 "db in distributed mode gets stuck when running a simple test in a loop (around 20 times)"
### OrientDB Version: 3.0.30
### Java Version: 1.8
### OS: ubunto (using docker)
I set up a 3 nodes cluster, with master-master configuration (all run on the same VM) .
I run a basic test using the java API  that does the following:

-  create a plocal database,

-  creates a class with a property and inserts one record. (ODocument)

-  live query on this class until I get this update.

- unsubscr

[2020-06-15 16:03] DiarmaidEverycs commented on #9255
Hi @laa

Im a little confused? So whenever I am opening the console to repair the database I have to do it from the database server itself?

We are running OrientDB on a remote server.   We start up that server, and connect via the studio, and run the above commands. I then connect from my local machine, and run the repair database command.

Sometimes it deletes the edges, and sometimes it repairs

[2020-06-15 19:11] dullahan8 opened #9300 "Restore Database Hangs on "Uncompressing file dirty.fl...""
### OrientDB Version: Orientdb 3.1.0; Orientdb 3.1.1-SNAPSHOT
### Java Version: openjdk version "1.8.0_191"
### OS: CentOS Linux release 7.6.1810 (Core)

## Expected behavior
Restore completes in roughly 15 seconds.

## Actual behavior
Restore hangs on this line until I kill the process.
[code]
The whole restore takes about 15 seconds when restoring into Orientdb-3.0.25. As far as I can tell from

[2020-06-16 02:08] PhantomYdn commented on #9235
Thank you, Luigi! I can confirm that issue was fixed:)

[2020-06-16 06:21] luigidellaquila commented on #9298
Hi @mmacfadden

The constructor of Skip class takes an ID that is only needed by the SQL parser, the actual skip value is in the

[code]

that can also contain a Long value.
The following will work just fine:

[code]

Thanks

Luigi

[2020-06-16 11:21] myflowpl commented on #8855
I solved this issue and posted my workaround, so for me you can close it.

[2020-06-16 11:57] everette00 opened #9301 "Question about Storage"
### OrientDB Version: OrientDB 3.0.30
### Java Version: openjdk ver. 1.8.0_252
### OS: CentOS 7

Reading on OrientDB limitations, there is a blurb about concurrency. It is stated that OrientDB retrieves an exclusive lock on storage and serializes transactions to achieve concrrency. Do you mean that OrientDB blocks the internal system for storing data? Or do you mean the whole disk drive for the ti

[2020-06-16 13:16] mmacfadden commented on #9298
@luigidellaquila Perfect that clarifies things!

[2020-06-16 13:16] #9298 closed

[2020-06-16 14:19] matanshukry commented on #9276
Any news/insights on this?

[2020-06-16 14:21] matanshukry commented on #9179
Just realized this is an older one and I've created a duplicate issue #9276
It definitely still exist though.

Let me know which one to close

[2020-06-16 14:59] matanshukry commented on #9179
Update (worse): the bug doesn't actually happen on the `CREATE EDGE` query, but rather on an update query after there is an edge. ANY update query on the user.

[2020-06-16 15:00] matanshukry commented on #9276
Closing due to duplicate #9179

[2020-06-16 15:00] #9276 closed

[2020-06-16 19:50] mmariuzzo commented on #9278
Great. `storage.diskCache.useAsyncIO=false` is the solution :+1:

[2020-06-17 10:18] laa commented on #9300
Hi @dullahan8 could you provide full thread dump?

[2020-06-17 10:19] laa commented on #9301
Hi, that is not true for a long time. Currently, we block on the level of the components. Since 4.0 we plan to introduce SI level of isolation so will block only on record/key level. But the last one only in plans not confirmed completely yet.

[2020-06-17 10:19] #9301 closed

[2020-06-17 10:21] laa commented on #8122
Hi @tarunwadhwa13, could you be more specific, what is absent in HTTP API as for now? Your feedback would be helpful in improving it.

[2020-06-17 11:34] tarunwadhwa13 commented on #8122
Hi @laa , please don't take me wrong. The HTTP API provides much more options and flexibility more than what one can expect. But features like TRAVERSE, LIVE QUERY, single query transaction control or multi-threading becomes more like devolepers' ownership (which isn't bad but can lead to errors when multiple dev are working on a system)
Having a library not only provides stronger cohesion with co

[2020-06-17 11:42] everette00 commented on #9301
Thanks @laa!

[2020-06-17 15:13] GaetanGiraud commented on #8019
Any news on this one?

While using the deprecated methods seem to be working, I would rather not rely on deprecated methods, as they are surely deprecated for a reason ....

[2020-06-17 16:04] marcefanitoli commented on #6595
Same here with orientdb 3.0.30

[2020-06-17 18:10] dullahan8 commented on #9300
Here it is.[](url)
[orientdb-3.1-thread-dump.txt](https://github.com/orientechnologies/orientdb/files/4794369/orientdb-3.1-thread-dump.txt)

[2020-06-17 19:19] marcefanitoli commented on #6595
@Solver42 It seems your results could be caused by converting to float and then rounding to 8 significant figures. https://www.h-schmidt.net/FloatConverter/IEEE754.html

But mine would have to be 9 sigfigs, so I am lost.

[2020-06-18 09:42] laa commented on #9300
@luigidellaquila that is a deadlock on record security mechanics. Assing it to you.

[2020-06-18 10:05] laa commented on #9255
Hi guys,
This is a screenshot of what I am doing https://i.imgur.com/q16tEs3.png https://i.imgur.com/9fg4KQu.png . As you can see there are no broken edges. Could you explain how that differs from what you are doing?

[2020-06-18 10:50] milan-cvejic commented on #9255
@laa You can reproduce it by using only console.

 https://imgur.com/ds00fdb
https://imgur.com/N0lKuWD

Cheers

[2020-06-18 11:32] laa commented on #8066
@kmhughes Inside of the thread which writes WAL data to the disk I have put following code:
[code]

Then I wrote a simple test:
[code]

and I see the following output:
[code]

And test passes successfully.
So we can safely say that storage threads are not interrupted.

[2020-06-18 11:32] #8066 closed

[2020-06-18 11:37] laa commented on #9255
Thank you, reproduced it. Will fix ASAP.

[2020-06-18 13:53] everette00 opened #9304 "Import Database Does Not Work as Intended"
### OrientDB Version: 3.0.30
### Java Version: 1.8.0_252
### OS: CentOS 7

## Expected behavior
IMPORT DATABASE _database_name_ -merge=true
Returns an OKAY response

## Actual behavior
`Cannot index record #4:3: found duplicated key 'admin' in index 'ORole.name' previously assigned to the record #4:0`

## Steps to reproduce
Simple export and import

I'm not quite understanding what the point of ha

[2020-06-18 17:59] laa commented on #9270
Hi @quanghaisoft what amount of RAM do you have on the server ?

[2020-06-18 18:04] laa commented on #9226
Guys, there is a small delay in release, we are fixing the issue which we want to be in next hotfix.

[2020-06-18 19:08] everette00 commented on #9304
I'm closing this thread since I've not heard a peep from anyone from OrientDB's team and had to take matters into my own hands by way of designing a backup restoration script of my own. This is dangerous, and God forbid if any organization loses large amounts of mission critical data because the offered set of tools don't work the way they should.

Given this, how am I supposed to entertain the id

[2020-06-18 19:08] #9304 closed

[2020-06-19 03:29] quanghaisoft commented on #9270
we using more than 150G ram , CPU 24 core on  node , with 6 node in cluster

[2020-06-19 03:33] quanghaisoft commented on #9270
when we using multi write upsert to one vertex in 3 master node, it slow down , can you help me a  recommend Config  to active fast upsert with bigdata
this is current config:

    JAVA_OPTS_SCRIPT="-XX:+PerfDisableSharedMem -XX:+AlwaysPreTouch -XX:+UseG1GC -XX:+ScavengeBeforeFullGC -XX:+DisableExplicitGC -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/app/orientdb/gcjava/heapdump_oom.log -XX:+P

[2020-06-19 03:39] quanghaisoft commented on #9270
when write upsert commend on 3 node master (multiwrite) it display too many errror ,please see attactment
[orient-server.log.txt](https://github.com/orientechnologies/orientdb/files/4802332/orient-server.log.txt)

[2020-06-19 11:31] laa commented on #9270
@quanghaisoft issue which you had with WAL was caused by integer overflow. It is already fixed. I can not help you with the issue with distributed storage because I am working on another set of components. Could you please create a separate issue for your problem?

[2020-06-19 11:49] quanghaisoft commented on #9270
I have just see this error again, i you give me a snapshot of 3.0.31 version

Jun 19 18:45:00 ograph06-76 server.sh[29054]: Exception in thread 'OrientDB WAL Flush Task'
Jun 19 18:45:00 ograph06-76 server.sh[29054]: java.nio.BufferOverflowException
Jun 19 18:45:00 ograph06-76 server.sh[29054]:         at java.nio.Buffer.nextPutIndex(Buffer.java:527)
Jun 19 18:45:00 ograph06-76 server.sh[29054]:

[2020-06-19 11:57] quanghaisoft commented on #9270
in others node have this error: Error during WAL writing
java.nio.file.NoSuchFileException: /data/orientdb/databases/OSystem
	at sun.nio.fs.UnixException.translateToIOException(UnixException.java:86)
	at sun.nio.fs.UnixException.rethrowAsIOException(UnixException.java:102)
	at sun.nio.fs.UnixException.rethrowAsIOException(UnixException.java:107)
	at sun.nio.fs.UnixFileStore.readAttributes(UnixFile

[2020-06-19 12:00] laa commented on #9270
I see, interesting. I will fix another issue and then will be back to yours.

[2020-06-19 12:17] laa commented on #9270
@quanghaisoft about directory `: /data/orientdb/databases/OSystem` does it really exist ?

[2020-06-19 12:36] quanghaisoft commented on #9270
i'm sorry, my server is running in production, so i copy dir databases in a master node to all node and restart   the distributed  cluster, all i have is logs dir

[2020-06-19 12:40] quanghaisoft commented on #9270
one server full of log file with text:
Exception in thread 'OrientDB WAL Flush Task'  java.nio.BufferOverflowException  at java.nio.Buffer.nextPutIndex(Buffer.java:527)....

[2020-06-19 12:40] laa commented on #9270
I did not get it. Did you copy file system data under live server and put it under the replicas or did you shutdown replicas? The correct way to do that is to remove broken databases from nodes and start "empty" replicas, the system will copy all the data correctly.

[2020-06-19 12:51] quanghaisoft commented on #9270
I has 5 server 71,72,73,74,75,76, i writing data to a master node 71
,but it suddenly error , and all client writing error and stopped, so i login ssh and view log,
server 71,72,73,74,75 ok
server 76 has full of error: java.nio.BufferOverflowException

[2020-06-19 12:52] quanghaisoft commented on #9270
I''m sorry this error is old,it is last 6 day before

[2020-06-19 12:54] quanghaisoft commented on #9270
@laa Please help me with this error , can you give me a .jar at 3.0.31

Jun 19 18:45:00 ograph06-76 server.sh[29054]: Exception in thread 'OrientDB WAL Flush Task'
Jun 19 18:45:00 ograph06-76 server.sh[29054]: java.nio.BufferOverflowException
Jun 19 18:45:00 ograph06-76 server.sh[29054]: at java.nio.Buffer.nextPutIndex(Buffer.java:527)
Jun 19 18:45:00 ograph06-76 server.sh[29054]: at

[2020-06-19 13:42] laa commented on #9270
@quanghaisoft you can download https://orientdb.org/download 3.0.32 changes are minor only small fixes in few components.

[2020-06-19 14:05] laa commented on #9270
@quanghaisoft could you send me log directory from the 76 node of the cluster ?

[2020-06-19 14:57] quanghaisoft commented on #9270
[log.zip](https://github.com/orientechnologies/orientdb/files/4805228/log.zip)
this is logs directory after i  recopy data and restart server.

[2020-06-19 14:57] quanghaisoft commented on #9270
OK thank you

[2020-06-19 17:49] mmacfadden opened #9305 "ConcurrentModificationException with Transactions"
### OrientDB Version: 3.0.31
### Java Version: JDK 11
### OS: macos

## Issue
We are getting a `ConcurrentModificationException` when we wrap a particular function in a transaction. If we do not use a transaction the code works fine. If we do use a transaction we get the exception. The intention is to use a transaction. We had the code working without a transaction and realized that one was needed

[2020-06-20 08:43] jamieb22 commented on #9060
Thanks for fix, however, latest is still OrientDB 3.0.32. Must we build it ourselves?

[2020-06-21 10:04] laa commented on #9255
Fixed. Will be released at the next hotfix.

[2020-06-22 01:29] quanghaisoft commented on #9270
I have upgraded to version 3.0.32 and am watching, if I run a problem again I will notify you, thanks a lot

[2020-06-22 08:31] #9287 closed

[2020-06-22 19:53] Fab96 opened #9306 "AccessException: Wrong user/password to [connect] to the remote OrientDB Server instance"
### OrientDB Version: 3.1.0
### Java Version: 1.8
### OS: Ubuntu 18.04

## Expected behavior
I am new to OrientDB, I created a new DB via UI called "new" with credentials:
user:root
password:root

I am trying to do an import from json as described here: https://orientdb.com/docs/last/Import-from-JSON.html
Using the same file of the documentation.

I just changed this:
`"loader" : {
    "orientdb":

[2020-06-22 20:49] #9306 closed

[2020-06-22 21:07] Fab96 opened #9307 "SEVER Error in Pipeline execution: [OETLPipeline]"
### OrientDB Version: 3.1.0
### Java Version: 1.8
### OS: Ubuntu 18

I am trying to follow the example of the documentation:
https://orientdb.com/docs/last/Import-from-JSON.html

The import.json looks like:
[code]

But when I execute ./oetl.sh /home/import.json I get:
[code]

How can I solve?

[2020-06-23 02:12] typingtanuki opened #9308 "StringIndexOutOfBoundsException after migrating from 3.0.22 to 3.1.0"
### OrientDB Version: 3.1.0
### Java Version: 11.0.7+10
### OS: Linux - Ubuntu 20.04

## Expected behavior
Can migrate to 3.1.0 and use database.

## Actual behavior
Migration goes fine, upon restart DB fails with StringIndexOutOfBoundsException

## Steps to reproduce

* Create new database on 3.0.22
* Add some documents
* Stop database
* Switch to 3.1.0
* Start database
* Add/edit some documents

[2020-06-23 08:25] #9307 closed

[2020-06-23 12:09] laa opened #9309 "Each configuration property should have separate binary version"
In a new version of storage configuration, each property is stored as separate binary record in a cluster.
So each of those properties should have a separate indicator of binary format.

[2020-06-23 15:21] Fab96 opened #9310 "What does merge do in ETL?"
### OrientDB Version: 3.1.0
### Java Version: 1.8
### OS: Ubuntu 18.04

## Expected behavior
I am new to OrientDB and I don't understand what merge does in ETL, I took the example in the documentation:
https://orientdb.com/docs/last/Import-from-JSON.html

So my input file is:
[code]

I used the same import.json of the documentation with merge and I get:
![query1](https://user-images.githubusercont

[2020-06-23 16:21] laa commented on #9283
It is already fixed in 3.1.1 we are doing final preparations for release.

[2020-06-24 08:45] laa commented on #9308
Fixed

[2020-06-24 08:45] #9308 closed

[2020-06-24 08:45] laa commented on #9309
Fixed

[2020-06-24 08:45] #9309 closed

[2020-06-24 09:29] typingtanuki commented on #9308
Thanks for the quick fix.
Do you know when it will be part of a release ?

[2020-06-24 09:32] laa commented on #9308
@typingtanuki we should release the next version during the two weeks.

[2020-06-24 09:33] typingtanuki commented on #9308
Awesome, thanks

[2020-06-24 12:06] laa commented on #9270
@quanghaisoft what version of JDK do you use?

[2020-06-24 13:35] laa commented on #9270
Hi, @quanghaisoft I have introduced a small fix, which should resolve your issue. Is it possible for you to apply new build which I will send to you?

[2020-06-24 13:49] bulanan opened #9311 "No proper High availability on a distributed setup"
### OrientDB Version: 3.0.30
### Java Version: 1.8
### OS: official dockers containers running on Linux Centos

## Expected behavior
 running a setup of 3 nodes master-master
newNodeStrategy  dynamic
and running our application with this database, when I stop one of the containers, the one with most connections
and bring it back up, I expect that the application will continue to work as normal, an

[2020-06-24 13:58] laa commented on #9311
Hi @bulanan, thank you for the report. Can you by chance to provide Java application which you used to test the system?

[2020-06-24 16:26] CanonTino opened #9313 "OrientDB 3.1.0 and java library orientdb-graphdb 3.1.0 EDGE creation issue"
### OrientDB Version: 3.1.0
### Java Version: 1.8.0_201
### Dependency Versión: orientdb-graphdb 3.1.0
### OS: macOS mojave 10.14.6

## Behavior

1. When I run my test case in order to create a new vertex and create an edge which has **APP3** vertex as target (which **does not** have any other **in** nor **out** edges) transaction is committed successfully (WHICH IS OKAY)
2. When I run my test cas

[2020-06-24 17:22] CanonTino opened #9314 "OrientDB 3.1.0 suddenly stops working indicating Error in data flush background thread, please restart database and send full stack trace inside of bug report"
### OrientDB Version: 3.1
### Java Version: 1.8.0_201
### OS: macOS Mojave 10.14.6

## Actual behavior
`
2020-06-24 10:54:03:256 WARNI Received signal: SIGINT [OSignalHandler]
2020-06-24 10:54:03:257 INFO  OrientDB Server is shutting down... [OServer]
2020-06-24 10:54:03:257 INFO  Shutting down listeners: [OServer]
2020-06-24 10:54:03:257 INFO  - ONetworkProtocolBinary /0.0.0.0:2424: [OServer]
202

[2020-06-24 20:23] johny65 commented on #9036
Hi @tglman, I tested with 3.0.32 version, I can't tell if this specific problem was solved because now I get another... I have a Lucene index and in some point in the check process it throws this:

[code]

I dropped and recreated the index but the same error happens. However I can use it in queries without problem, giving me correct results.
The index is created in the following way on the "lucene

[2020-06-24 20:52] kmhughes commented on #8066
OK, many thanks! I will update to the latest version and see if the problem
goes away for me.

On Thu, Jun 18, 2020 at 5:32 AM Andrey Lomakin <notifications@github.com>
wrote:

[2020-06-25 06:02] laa commented on #9314
Hi @CanonTino . Did you switch off `storage.diskCache.useAsyncIO` parameter? This parameter was used to smooth migration to the async io in development and should not be changed in production. OFileClassic class, which you use right now is not supported any more and will be removed in next versions. So I do not suggest to use it.

[2020-06-25 07:02] bulanan commented on #9311
Hi @laa,
The application code is very large and complicated so I can't provide it here, but basically what it does -
It's a web application.
1. Inserts/updates/deletes records every second
2. Opens live query sessions with queries over the objects in the system (can be several live queries at a time, around 20 ) and observe those for as long as a user is visiting a screen.
3.if a user leaves the s

[2020-06-25 10:38] laa commented on #9278
Well, that is not a solution. This flag is introduced only to smooth database development. I will fix it in next version.

[2020-06-25 10:43] laa commented on #9278
Sorry guys for the silence we were pretty busy on working on 3.1 release.

[2020-06-25 10:56] laa commented on #9314
Oh, I suppose I got it how that happens. We will release a version with a fix during a week.

[2020-06-25 12:14] quanghaisoft commented on #9270
Please send me new build you have fixed, thanks you very much

we using java  :

java version "1.8.0_211"
Java(TM) SE Runtime Environment (build 1.8.0_211-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.211-b12, mixed mode)

[2020-06-25 12:19] CanonTino commented on #9314
Hi @laa sorry I didn’t reply before but it is sun rising  here in Mexico.

Thank you so much for your answers. I’ll check the release you mentioned.

[2020-06-25 17:27] Fab96 commented on #8990
@Tracy0231
How did you define the UNIQUE index for the in and out fields of the edge class?

Thanks,

[2020-06-25 17:42] dullahan8 commented on #9300
Any updates on this one?

[2020-06-26 08:41] laa commented on #9278
Fixed. Parameter "storage.disk.useNativeOsAPI" please set it to false, to avoid problems with ZFS.

[2020-06-26 08:41] #9278 closed

[2020-06-26 08:42] laa commented on #9278
We are going to release hotfix next week.

[2020-06-26 08:43] laa commented on #9314
Fixed. We are going to release hotfix next week.

[2020-06-26 08:43] #9314 closed

[2020-06-26 08:45] laa commented on #9270
@quanghaisoft I am going to add more precautions, it will take couple of days, then I will provide you with new distribution.

[2020-06-26 09:09] laa opened #9315 "Improve database durability by writing data in WAL every TX commit"
Right now we write data to the file system in a proportional time interval, it is proposed to write data every commit but perform fsync as usual after some time interval is passed.

[2020-06-26 09:31] Fab96 opened #9316 "Skip duplicated edge in ETL"
### OrientDB Version: 3.1.0
### Java Version: 1.8
### OS: Ubuntu 18.04

## Expected behavior
Is there any solution for this  problem #8990?
I set the "skipDuplicates" property on true, but I don't understand how to define a unique index on in/out properties of the edge during ETL.

Thanks,

[2020-06-26 20:59] Konubinix opened #9317 "alter database prints "command failed" even when everything is ok"
### OrientDB Version: 3.1.0 and develop (b15f84f1400c26a7895999bf4194555c7fbcd039)
### Java Version: 8
### OS: debian testing
## Expected behavior
$ ./bin/console.sh
orientdb> create database plocal:databases/test
orientdb {db=test}> alter database TIMEZONE "Europe/Paris"

Everything is OK

## Actual behavior
It actually works, but it shows
"Command failed."

## Investigation
Being new to orientdb

[2020-06-26 21:17] grimace opened #9318 "I'm looking for a way to copy a subgraph from one database to another."
### OrientDB Version: 3.0.30
### Java Version: 14.0.1
### OS: OS/X Catalina

## Expected behavior
copy a subgraph to an external ( different ) database

## Actual behavior
just looking for information

[2020-06-27 20:51] Konubinix commented on #9233
I am also interested in this matter. I understood that orientdb could run on raspberry pi, that don't have much memory.

I am running 3.1.0 with openjdk8, on debian testing.

I wish to allocate a maximum of 300MB of RAM for my orientdb instance, and get several OOM Killed, even when setting `-Xms64m -Xmx64m  -Dstorage.diskCache.bufferSize=128 -Dmemory.chunk.size=1000`

[2020-06-28 08:38] bulanan commented on #9311
Hi @laa

The below test reproduces the problem.
a short description of the test:
it runs for around 15 min.
every second it creates a new element in myclass table.
at the same time there's a live query on this table and there's an observable (we use reactive java - rxjava2) that emits each time the live query emits a value.
I surrounded by try-catch the part of creating a record.
during the runnin

[2020-06-29 13:55] mmacfadden commented on #9305
As another update the same issue arrises if se get the target document as an OElement and then get the set (as an OTrackedSet) manipulate it, and then call save() on the document (or database).

[2020-06-29 15:46] NicolasJuanF commented on #9074
Is there any update on this issue ?

[2020-06-29 19:52] madmac2501 opened #9319 "Distributed nodes blocked in STARTING state"
### OrientDB Version: 3.0.32
### Java Version: 1.8
### OS: Linux

## Expected behavior
OrientDB doesn't block in STARTING state

## Actual behavior
Sometimes OrientDB configured in distributed master/master mode . Two of the three nodes are blocked in STARTING state outputting this into the log

2020-06-29 19:28:24:595 INFO  [oriendb-cluster-2-demo-cloud-se-aws-us-east-1] Node is not online yet (

[2020-06-30 05:45] andreyvk commented on #9233
@Konubinix as far as orient goes your setting is too small anyway I'd suggest at least 1G if possible

[2020-06-30 08:09] Konubinix commented on #9233
@andreyvk Thank you for the answer. Unfortunately, the RPI3B+ possesses only 1G.

[2020-06-30 08:41] Konubinix commented on #9233
@andreyvk Do you mean that it won't work, or it will work slowly ?

In my case, I just want a graph database that is easy to install on raspberry pi, and I decided to try OrientDB because it claims to run on rasperrypi in its documentation.

My project only involves 1M documents for 1 or 2 users, with very few inserts (1 insert per day) and few reads (1 request per second at most).

I guessed that

[2020-06-30 10:53] andreyvk commented on #9233
@Konubinix with this current issue remaining unanswered it is likely that orient will tend to grab as much memory as possible caching results and records in memory. I have never actually seen a setting for orient with less than 1G. On top of orient you will have jvm take some space as well. I dont have concrete numbers, but im thinking that you will use up that 1G in no time.

[2020-06-30 12:08] Konubinix commented on #9233
@andreyvk Thank you for the information :-)

[2020-06-30 12:20] devent opened #9320 "Error while binary response serialization NullPointerException in OResultSerializerNetwork.writeOptimizedLink"
### OrientDB Version: 3.1.0
### Java Version: Server: openjdk version "1.8.0_252", Local: openjdk version "11.0.7" 2020-04-14
### OS: Linux d9f639ea8207 5.2.1-050201-generic x86_64 GNU/Linux

## Expected behavior
Executing the following query:
`select outE("weight") from Tile where Z=5 and Y=2 and X=35`
Expected to see the vertex from the out-edge.

I'm not sure if `outE` here is correct. But in m

[2020-07-01 13:37] dritter-sap commented on #9313
@CanonTino `orientdb-graphdb` is TinkerPop version 2.6 and is actually deprecated. It will be removed eventually. I suggest to use `orientdb-gremlin` instead in the future (cf. https://github.com/orientechnologies/orientdb-gremlin).

Regarding your issue: I could not reproduce it in 3.1.x (cf. https://github.com/orientechnologies/orientdb/commit/31814476a7449cba20af06817563764263e225d7), probably

[2020-07-01 13:49] CanonTino commented on #9313
I’ ll provide more information but right now I can share this:
My setup is single.
About clients/servers: this the weird part
I’m always using 3.1.0 server version
when I try to use the same version at clien (3.1.0) the test fails,
the test will only pass when I use 3.0.x client version.

[2020-07-01 21:13] CanonTino commented on #9313
Make sure to use 3.1.0 server version and use a **single setup**

Steps to reproduce:
1. Create  BD MAPP
2. Create APP vertex class with attributes:
    1. ID (string)
    2. LID(string)
3. Create KEYDOK vertex class with attributes:
    1. ID (string)
    2. LID (string)
    3. current (boolean)
    4. insertedOn (datetime)
    5. version (integer)
4. CREATE UNDER  edge class with attributes:

[2020-07-02 06:27] vikashk77 opened #9321 "File is allowed to be opened only once."
### OrientDB Version: 3-0-30 (community version)
### Java Version: <version here>
JAVA_HOME
C:\Program Files (x86)\Java\jre1.8.0_251
C:\Program Files\Java\jdk-11.0.6
C:\Program Files\Java\jdk-13.0.2

JRE_HOME
C:\Program Files (x86)\Java\jre1.8.0_251

### OS: <os here>
Windows 10

## Expected behavior
Using OrientDB UI ETL module in Server management to load CSV files to Orientdb (4 csv files).

I

[2020-07-02 14:30] dritter-sap commented on #9313
Thanks, I extended your test to create everything automatically and I could reproduce it. It could be that the issue relates to this: https://github.com/orientechnologies/orientdb/issues/9179, which might already been fixed (but not yet merged). Let me check.

[2020-07-02 16:44] vikashk77 commented on #9313
Hey buddy,

Thanks for your quick response. Let me know if it’s merged.

Also I tried 3.1.0 snapshot but couldn’t find the link for “Importers” in Server Management Page.

As you are aware, Inside “Importers” we have Teleporter, ETL and Neo4j Importer etc.

Kind regards,
Vikash Kumar

Advanced Leave Notification:

From: dritter-sap <notifications@github.com>
Sent: 02 July 2020 20:01
To: orientechn

[2020-07-03 07:29] madmac2501 opened #9322 "Node cannot rejoin distributed setup"
### OrientDB Version: 3.0.32
### Java Version: 1.8
### OS: Linux

## Expected behavior
Nodes can rejoin a distributed master-master setup with 3 nodes

## Actual behavior
One node cannot join back the distributed environments.

Logs from node 3
2020-07-03 07:08:42:705 INFO  [172.26.71.220]:2434 [orientdb] [3.10.6] Established socket connection between /172.26.71.220:39247 and /172.26.76.23:2434 [T

[2020-07-03 17:10] #3041 closed

[2020-07-03 17:11] #5408 closed

[2020-07-03 17:11] #8126 closed

[2020-07-03 17:11] #8295 closed

[2020-07-03 17:11] #8301 closed

[2020-07-03 17:11] #8440 closed

[2020-07-03 17:12] #8442 closed

[2020-07-03 17:12] #8759 closed

[2020-07-03 17:12] #8855 closed

[2020-07-03 17:12] #8858 closed

[2020-07-03 17:12] #8900 closed

[2020-07-03 17:13] #8965 closed

[2020-07-03 17:13] #9061 closed

[2020-07-03 17:13] #9212 closed

[2020-07-03 17:14] #9264 closed

[2020-07-04 04:46] cuongrep commented on #9272
@tglman Please help me answer the question.

[2020-07-06 09:46] bulanan commented on #9311
Hi @laa,
any update on this?

[2020-07-06 13:09] loganmzz opened #9325 "[3.0.30] NullPointerException on ODistributedAbstractPlugin.dumpServersStatus"
### OrientDB Version: 3.0.30 (Docker)
### Java Version: ?
### OS: ?

## Expected behavior
No NPE

## Actual behavior
From logs :

[code]

## Steps to reproduce
3 Masters + 1 Replica. Happens after replica shutdown.

[2020-07-06 15:48] StevenHeven commented on #8969
Hi @wolf4ood , I up this topic because my project touch to the end, ... if you found the bugfix , it will be great !

[2020-07-06 17:22] tglman commented on #9255
Hi,
I had to revert one fix was causing other issues in other use cases, I'm re-opening this, anyway the fix i did revert can be worked around with a simple `begin()` `commit()` around the sql statement.

[2020-07-06 18:07] ygyg70 opened #9327 "OutOfMemoryError caused by Nessus scan"
### OrientDB Version: 3.0.23
### Java Version: 11
### OS: Windows

## Expected behavior
Nessus scan request ignored  gracefully

## Actual behavior
Orient tries to read 1.2 GB of data and throws OOM error

## Steps to reproduce
Run Nessus scan on a server embedding OriebtDB:
https://www.tenable.com/products/nessus

java.lang.OutOfMemoryError: Java heap space
	at com.orientechnologies.orient.enterp

[2020-07-07 10:38] tarunwadhwa13 commented on #6063
Same here !! Checked the orientdb documentation for 3.0 but couldn't find any info regarding TTL option !!

[2020-07-07 15:11] bulanan commented on #9168
I also have this problem, any estimation when it will be fixed or any workaround?

[2020-07-07 23:45] KiyoshiCMF commented on #9164
HI,
I hope this issue is in the queue to get fixed.
This one prevent us tp upgrade to v3.0.x.

Thanks,
Kiyoshi

[2020-07-08 09:58] temilmg commented on #9263
I don't think this bug report should be labeled as a question, at least I meant to provide a bug report

[2020-07-08 10:40] madmac2501 opened #9328 "Exception thrown when importing backup from 3.0 to 3.1"
### OrientDB Version: 3.1.1
### Java Version: 1.8
### OS: Linux

## Expected behavior
Database import process finish

## Actual behavior
An exception is thrown in the import process from 3.0 to 3.1 and the import stops

## Steps to reproduce
Run these commands in the console

CONNECT plocal:../databases/xxx admin admin
EXPORT DATABASE /tmp/xxx

CREATE DATABASE plocal:../databases/xxx
IMPORT DATABA

[2020-07-08 10:46] luigidellaquila commented on #9263
I agree with you. I'm flagging it as a bug, I'll try to check it ASAP

Thanks
Luigi

[2020-07-08 11:03] madmac2501 commented on #9285
I still reproduce this in 3.1.1

`[172.26.76.23]:2434 [orientdb] [3.10.6] Current thread is not owner of the lock! -> Owner: 38ae651c-e2f5-466d-96d0-32e5ffb2a10b, thread ID: 10
java.lang.IllegalMonitorStateException: Current thread is not owner of the lock! -> Owner: 38ae651c-e2f5-466d-96d0-32e5ffb2a10b, thread ID: 10
	at com.hazelcast.concurrent.lock.operations.UnlockOperation.unlock(UnlockOperat

[2020-07-08 11:05] madmac2501 commented on #9283
Thanks a lot for the fix!

[2020-07-08 11:05] #9283 closed

[2020-07-08 11:55] madmac2501 opened #9329 "Nullpointer on reading cluster configuration"
### OrientDB Version: 3.1.1
### Java Version: 1.8
### OS: Linux

## Expected behavior
No exceptions are thrown

## Actual behavior
In a distributed OrientDB setup with 3 master-master nodes after restarting because of a long lasting operation there are Nullpointer exceptions in the log related to cluster configuration

## Steps to reproduce
Launch a query that takes some time to process and restar

[2020-07-08 13:44] Paritosh-Anand opened #9330 "Exception in POJO save that class is Final"
### OrientDB Version: 3.1.1
### Java Version: 1.8.0_202
### OS: MacOS Catalina 10.15.5 (19F101)

## Expected behavior
New object must be saved without error

## Actual behavior
Jul 08, 2020 4:51:16 PM com.orientechnologies.common.log.OLogManager log
SEVERE: Error on creating object of class AutoScalingGroup
java.lang.RuntimeException: software.amazon.awssdk.services.autoscaling.model.AutoScalingGr

[2020-07-09 08:34] madmac2501 opened #9331 "Distributed nodes competing to be a master"
### OrientDB Version: 3.1.1
### Java Version: 1.8
### OS: Linux

## Expected behavior
After a database synchronization the nodes are stable and don't request more database syncs.

## Actual behavior
Nodes are in an infinite loop.
The nodes that participated in the database sync are showing this log in a loop

2020-07-09 08:24:03:194 INFO  [oriendb-cluster-1-demo-cloud-se-aws-us-east-1] Publishing

[2020-07-09 14:25] madmac2501 opened #9333 "Distributed database sync doesn't complete"
### OrientDB Version: 3.1.1
### Java Version: 1.8
### OS: Linux

## Expected behavior
Distributed sync completes

## Actual behavior
Node 2 tries to sync but the sync never completes successfully
There are some files in /opt/orientdb/database/xxx but much less than the original node has.

## Steps to reproduce
Setup 3 distributed nodes in master-master
Upsert logs concurrently to all 3 nodes

Logs

[2020-07-10 21:00] devent opened #9336 "NullPointerException in OrientdbBaseGraph#getVertices if using remote connection"
### OrientDB Version: 3.1.0
### OrientDB Version: 3.1.1
### Java Version: openjdk version "11.0.7" 2020-04-14
### OS: 5.3.18-050318-generic x86_64 GNU/Linux

## Expected behavior
Orientdb returns the vertexes.

## Actual behavior
NullPointerException in OrientdbBaseGraph#getVertices at line 921.
[code]

## Steps to reproduce

[code]

This is related to the commit "Manual indexes and dictionary ind

[2020-07-10 21:05] devent commented on #9336
Update. Using `plocal` the same code runs fine.

[code]

[2020-07-14 15:14] dreamfalcon opened #9339 "Error in Pipeline execution: [OETLPipeline]"
### OrientDB Version: 3.0 and 3.1.1 using docker

Hi,
I'm trying to load a CSV file and is always returning an error but no info on the actual error.

In the JSON file I have the config set to debug and all config files with log levels to FINE.
How to get some info from the database about the error?

[code]

orientdb-server-config.xml:
[code]

orientdb-etl-log.properties:
[code]

orientdb-client-l

[2020-07-15 07:32] zhfneu opened #9340 "How to Connect multiple data sources in SpringBoot ?"
### OrientDB Version: <3.0.28>
### Java Version: <1.8>
### OS: <os here>

I know how to deal with connecting to one database, but i don`t know how to connect to multiple ones.
https://orientdb.com/docs/3.0.x/java/Document-API-Database.html
Using Database Pools
It is not always the best practice to create database instances every time you need them. In cases where your application needs to scale to

[2020-07-15 09:25] #9340 closed

[2020-07-15 09:26] zhfneu commented on #9340
close

[2020-07-15 15:13] laa commented on #9226
@PhantomYdn , @madmac2501 we released new version, could you check it?

[2020-07-15 15:15] laa commented on #9060
Hi, @jamieb22 let me check couple of things before that, I will let you know when you should try new version a bit later.

[2020-07-15 15:28] madmac2501 commented on #9226
I tested 3.1.1 and this defect got fixed for me, but while testing I detected another possible defects. I opened issues in github for them.

Thanks a lot for the great work!

[2020-07-15 15:56] laa commented on #9226
Thank you @madmac2501 , @PhantomYdn could you confirm that too?

[2020-07-15 18:12] PhantomYdn commented on #9226
I also tested on 3.1.1 - the original issue is not reproducible for me. Seems fixed. Thank you, Andrey!

[2020-07-16 13:26] laa commented on #9328
Hi @madmac2501 , I suppose I would need the initial JSON to reproduce the issue, could you send it to me?

[2020-07-16 13:59] madmac2501 commented on #9328
I'm sorry but I cannot provide access to this specific backup. Let me know if this is enough, if not I can also try to create a fake dataset.

After this error and the new database started in OrientDB 3.1.1 what I found was that the problem was that there were duplicated records as the message exception show, these duplicated records broke an index constraint. I manually deleted the duplicated rec

[2020-07-16 14:36] laa commented on #9328
Hi @madmac2501 , the problem with duplicated records, did exist, but it should be absent in latest 3.0.x and 3.1.x versions.
I do not think that is the problem of import/export. It was bug in tx handling which caused given behaviour.

[2020-07-16 14:42] madmac2501 commented on #9328
Great thanks!

could it be possible to handle this exception in the backup import? this way the backup import will not stop and the restore of other indexes will continue even if one index fails.

[2020-07-16 14:54] laa commented on #9328
But how then will you know which data to keep and which to delete, in such case that will be a quite random procedure? Do not think that it could be a solution for everyone.

[2020-07-16 15:02] madmac2501 commented on #9328
Sorry I didn't explain well.

The current import behavior is that after the exception is thrown the import process stops and the rest of indexes are not imported even if they are valid. I think that the import behavior can be improved a little if the import process ignores the indexes that don't follow the constrains (like key uniqueness) by handling the exception and then the import continues wit

[2020-07-16 15:45] laa commented on #9328
Ah I see, let me think about it.

[2020-07-17 02:49] petervavro commented on #5604
I am running OrientDB version : 3.0.32 but this does not seems to be solved yet. I run "ALTER PROPERTY MyEdgeClass.in LINKEDCLASS NULL;" in "Browser" studio but it does nothing. But I can manually remove linked class by editing schema using Studio UI, that is possible. Is there a way to remove linked class via SQL, please ?

[2020-07-17 08:39] laa commented on #9270
@quanghaisoft could you try this build https://drive.google.com/file/d/1wtQpyzbfeD3w07NpurG1wmGIxScggGXI/view?usp=sharing

[2020-07-17 08:41] #9226 closed

[2020-07-17 11:31] madmac2501 opened #9341 "distributed sync of big databases is requested multiple times"
### OrientDB Version: 3.1.2-SNAPSHOT including commit 7ab7ca20ff5f930a18a2cb35d40b112483a196b6
### Java Version: 1.8
### OS: Linux

## Expected behavior
database synchronization finishes

## Actual behavior
database synchronization is requested multiple times in parallel and doesn't finish

## Steps to reproduce
setup 3 distributed nodes in master master
insert data until the database is 8.5GB in

[2020-07-17 11:33] quanghaisoft commented on #9270
Thanks you very much, please give me access to file with email bumha... or xuanhuong...

[2020-07-17 16:34] quanghaisoft commented on #9270
I have installed and when start service it throw an exception below

2020-07-17 22:22:43:223 INFO  Limit of open files for disk cache will be set to 64000. [OEngineLocalPaginated]
2020-07-17 22:22:43:242 INFO  Loading configuration from: /app/orientdb/config/orientdb-server-config.xml... [OServerConfigurationLoaderXml]
2020-07-17 22:22:43:436 INFO  OrientDB Server v3.0.33-SNAPSHOT - Veloce (build

[2020-07-17 16:36] laa commented on #9270
I see it was built under higher JDK, the same API but now returns the current instance of the buffer. I will rebuild it next week.

[2020-07-17 16:39] quanghaisoft commented on #9270
OK thanks you very much .

[2020-07-17 19:56] sanketprabhu34 opened #9342 "New index getting created with Engine as CELL_BTREE instead of SBTREE"
### OrientDB Version: 3.0.31
### Java Version: 1.8
### OS: Linux

## Expected behavior
After creating an index, the type defined as UNIQUE so engine allocated must be SBTREE which is the default engine for OrientDB.

## Actual behavior
An index is getting created having the engine as CELL_BTREE instead of SBTREE

## Steps to reproduce
CREATE INDEX `V.uuid` ON `V`(`uuid`) UNIQUE;

[2020-07-17 19:57] sanketprabhu34 commented on #9342
first

[2020-07-20 14:00] CanonTino commented on #9313
Hi @dritter-sap any news on this?

[2020-07-20 14:17] CanonTino commented on #9313
Thank you so much @dritter-sap

[2020-07-20 15:56] laa commented on #9270
Guys, could you try https://oss.sonatype.org/content/repositories/snapshots/com/orientechnologies/orientdb-community/3.0.33-SNAPSHOT/orientdb-community-3.0.33-20200717.164059-15.zip this build?

[2020-07-21 01:19] quanghaisoft commented on #9270
OK i will try it , thanks a lot

[2020-07-21 02:24] quanghaisoft commented on #9270
I have upgraded to this build and it works fine, thanks you very much .

[2020-07-21 13:58] laa commented on #9270
Hi @quanghaisoft it could be one more reason why you experience this issue. It is inside the code of the distributed database. We are planning to port it soon to all the versions. I will let you know.

[2020-07-21 16:09] quanghaisoft commented on #9270
Yes, thanks a lot, we'll waiting for it.

[2020-07-22 11:38] shinnayoung opened #9343 "ODistributedException: No enough nodes online to execute the operation, available nodes : xx"
### OrientDB Version: 3.0.30 and 3.1.1
### Java Version: OpenJDK 64-Bit Server VM (build 11.0.4+11-post-Ubuntu-1ubuntu218.04.3, mixed mode, sharing)
### OS: Ubuntu 18.04.3 LTS

## Expected behavior
CRUD success

## Actual behavior
Create / Delete data was failed with this error message
Error: com.orientechnologies.orient.server.distributed.ODistributedException: No enough nodes online to execute t

[2020-07-22 12:35] laa opened #9344 "Request processing should be forcefully stopped by indication to the storage"
As for now, to stop the processing of the data in the long-running request we interrupt thread which leads to a side effect of the closing of the file channels if such ones are used at this moment. Instead of that, it is proposed to add flag into the storage which will allow throwing an exception during the call of the storage API from the particular thread.

[2020-07-22 19:12] Robson96 opened #9345 "Command runs successfully, but returns an error message"
### OrientDB Version: 3.1.1

### Java Version: openjdk 14.0.1 2020-04-14
OpenJDK Runtime Environment AdoptOpenJDK (build 14.0.1+7)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.20.0, JRE 14 Linux amd64-64-Bit Compressed References 20200416_44 (JIT enabled, AOT enabled)
OpenJ9   - 05fa2d361
OMR      - d4365f371
JCL      - 5757187cae based on jdk-14.0.1+7)

### OS: Ubuntu 20.04 Linux 5.4.0-42-gener

[2020-07-23 10:26] Maklyura opened #9346 "Indexes are not deleted when deleting edges"
### OrientDB Version: 3.1.1
### Java Version: 1.8.0
### OS: Linux

## Expected behavior
Indexes must be deleted when deleting edges

## Actual behavior
When deleting edges their indexes still exist and it causes "com.orientechnologies.orient.core.storage.ORecordDuplicatedException: Cannot index record #49:4: found duplicated key 'OCompositeKey{keys=[#47:47, #46:48]}' in index 'EMEdge.out_in' previ

[2020-07-25 08:22] devent opened #9347 "Request Backporting Commit fixed timer creation in remote context to 3.0 branch"
### OrientDB Version: 3.0.32, 3.1.0 and 3.1.1
### Java Version: OpenJDK 64-Bit Server VM (build 11.0.7+10-post-Ubuntu-2ubuntu218.04, mixed mode, sharing)
### OS: Linux devent-X705UD 5.2.1-050201-generic #201907231201 SMP Tue Jul 23 16:04:41 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

## Expected behavior
Timer-1 should be daemon thread.

## Actual behavior
Timer-1 is not daemon and is not closed.

##

[2020-07-25 08:26] devent commented on #9347
Update.
The fix https://github.com/orientechnologies/orientdb/commit/1df075b8940e41dfc24ef78066bcc9af1b8d39f1 is not in the 3.0.32, not in the 3.1.0 and not in the 3.1.1 release.
The fix is in the 3.0.x branch and the develop branch.
Will you release a version with this fix?

[2020-07-26 16:31] jamy23 opened #9348 "GRANT not working on last release (3.1.1)"
### OrientDB Version: 3.1.1
### Java Version: 1.8 OpenJDK
### OS: SunOS 5.11 omnios-r151034 i86pc i386 i86pc

## Expected behavior
Granted permission to `readYourRecords` on V to reader

## Actual behavior

`
Error: com.orientechnologies.orient.core.sql.OCommandSQLParsingException: Error parsing query:
grant "readYourRecords" ON V to "reader"
    ^
Encountered " <GRANT> "grant "" at line 1, column

[2020-07-27 11:08] steinybot opened #9351 "ClassCastException in OCompositeKeySerializer#preprocess"
### OrientDB Version: 2.2.37
### Java Version: 1.8
### OS: Amazon Linux 2

## Expected behavior

No ClassCastException

## Actual behavior

[code]

## Steps to reproduce

I don't know the exact steps but here is some information that I got out of the debugger:

The type hints are:
[code]

But the `value.getKeys()` returns a `[String, null]`.

When it goes get the type for key 0 it gets the type `L

[2020-07-27 11:10] laa commented on #9351
We do not support 2.x versions. Please use 3.x instead.

[2020-07-27 11:10] #9351 closed

[2020-07-27 12:11] laa commented on #9351
Hi @steinybot , about a bug which you reported. I suggest you drop the index and then recreate it. Let me know if the works. Since of 3.0.x we use new thread-safe OrientDB class instead  and Orient class is kept only for compatibility.

[2020-07-27 21:56] steinybot opened #9352 "Unable to connect to database with corrupted index"
### OrientDB Version: 3.1.1
### Java Version: 1.8
### OS: Amazon Linux 2

## Expected behavior

Can connect to the database.

## Actual behavior

When connecting the to the database in embedded mode or via the console using plocal:
[code]

## Steps to reproduce

[code]

Looks similar to #5976.

How can I rebuild the index if I can't even connect to the database?

Why is it reading from the index w

[2020-07-28 00:44] steinybot opened #9353 "Unable to connect to database remotely"
### OrientDB Version: 3.1.1
### Java Version: 1.8
### OS: Amazon Linux 2

## Expected behavior

I can connect to a remote database.

## Actual behavior

When I try and connect to a remote database I get:
[code]

(and then the client process hangs somewhere)

This used to work fine on 2.2.37. All I have done is upgrade to 3.1.1.

## Steps to reproduce

[code]

[2020-07-28 01:22] steinybot opened #9354 "Error during fuzzy checkpoint - Can not delete segment of double write log"
### OrientDB Version: 3.1.1
### Java Version: 1.8
### OS: Amazon Linux 2

## Expected behavior

No error

## Actual behavior

[code]

## Steps to reproduce

No idea.

[2020-07-28 02:01] steinybot opened #9355 "ClassCastException during execution of component operation inside of storage"
### OrientDB Version: 3.1.1
### Java Version: 1.8
### OS: Amazon Linux 2

## Expected behavior

Transaction can be commited without errors.

## Actual behavior

[code]

Looks like it is the same as #8983 which is "fixed" but this is not fixed.

## Steps to reproduce

Unknown.

[2020-07-28 02:10] steinybot opened #9356 "Hang connecting to database via plocal in console"
### OrientDB Version: 3.1.1
### Java Version: 1.8
### OS: Amazon Linux

## Expected behavior

I should be able to connect the console to a local database.

## Actual behavior

[code]

(Hangs here forever)

Somehow this still works when running in embedded mode but when I do that then I hit this bug #9353. I need the console so that I can rebuild my indices which are causing yet more issues. Really

[2020-07-28 07:34] steinybot opened #9357 "Error on database import - NumberFormatException: For input string: """
### OrientDB Version: 3.1.1
### Java Version: 1.8
### OS: Amazon Linux

## Expected behavior

Export from 2.2.37 should import into 3.1.1 without errors.

## Actual behavior

[code]

## Steps to reproduce

1. Export from 2.2.37
1. Import into 3.1.1

[2020-07-28 07:58] steinybot opened #9359 "Error on database import - IllegalArgumentException: Cluster 18 is null"
### OrientDB Version: 3.1.1
### Java Version: 1.8
### OS: Amazon Linux

## Expected behavior

Export from 2.2.37 should import into 3.1.1 without errors.

## Actual behavior

[code]

## Steps to reproduce

1. Export from 2.2.37
1. Import into 3.1.1
    * Ignore the error from #9357
1. Import again

[2020-07-28 11:38] #9359 closed

[2020-07-29 13:19] laa commented on #9357
@steinybot it is fixed in the latest 3.0.x. Once we release 3.0.33 it will be fixed the same about 3.1.3

[2020-07-29 13:19] #9357 closed

[2020-07-29 13:19] laa commented on #9357
You can use snapshot if you wish to import.

[2020-07-29 13:20] laa commented on #9356
Hi @steinybot if you still have an issue could you send me thread dump?

[2020-07-29 13:22] laa commented on #9353
Hi @steinybot this exception "Database is locked by another process, please shutdown process and try again" means that your database is also processed by another process. Maybe it is opened inside a server or console.

[2020-07-29 13:24] laa commented on #9352
Hi @steinybot the index data are obviously already broken. Could you drop them and rebuilt.

[2020-07-29 18:15] dullahan8 commented on #9069
I was hoping to get this working for myself as well. First hit on Google was a stack overflow post from OrientDB-2.2.x saying that this feature is not bundled into the community version, only in the enterprise version. If you want to use it you will have to compile from source yourself.
https://github.com/orientechnologies/orientdb-security

[2020-07-30 09:04] madmac2501 opened #9361 "Cannot route TX operation against distributed node"
### OrientDB Version: 3.1.2-SNAPSHOT from https://oss.sonatype.org/content/repositories/snapshots/com/orientechnologies/orientdb-community/3.1.2-SNAPSHOT/orientdb-community-3.1.2-20200729.194604-8.zip

### Java Version: 8
### OS: Linux
## Expected behavior
Distributed mode is stable.

Aside from this please let me know when is ok to test the distributed mode in 3.1.2-SNAPSHOT version. Thanks!

##

[2020-07-30 10:17] laa commented on #9342
That is correct, in 3.0.x we introduced a new engine.

[2020-07-30 10:17] #9342 closed

[2020-07-30 10:26] laa commented on #9353
Hi @steinybot , once you migrate to the 3.0.32 version, please use the same OrientDB class instances for client and server. You can get OrientDB instance from server using method com.orientechnologies.orient.server.OServer#getContext. That should solve this issue. Let me know if it helps.

[2020-07-30 18:16] vishalugor opened #9362 "com.orientechnologies.orient.server.distributed.task.ODistributedRecordLockedException: Timeout (100ms) on acquiring lock"
### OrientDB Version: 3.1.1
### Java Version: java version "1.8.0_251"
### OS: Red Hat Linux 7.8

## Expected behavior
Data get inserted

## Actual behavior
Getting below exception
com.orientechnologies.orient.server.distributed.task.ODistributedRecordLockedException: Timeout (100ms) on acquiring lock on record #202:-1 on server 'vishal01'. ^M
        DB name="vishald"^M
        DB name="vishald"

[2020-07-31 07:39] v-r-sankar commented on #7451
I am using Tinkerpop API
Here is my code
OrientGraphFactory factory = new OrientGraphFactory(configuration)
List<Vertex> vertexList = new ArrayList(); // Added 100 vertices
threadpool.submit( () -> {
        Graph graph = factory.getTx();
	GraphTraversalSource gt = graph.traversal();
	for (int x = 0; x < 5; x++) {
		addRandomEdge(vertexList, gt);
	}
	for (int k = 0; k < 3; k++) {
		try {
			graph.

[2020-08-05 12:17] laa commented on #9270
Fixed. Should be delivered in next hotfix. Please reopen if the issue will still persist on your side.

[2020-08-05 12:29] #9270 closed

[2020-08-05 13:16] madmac2501 opened #9364 "OrientDB in master/replica using 100% cpu of all cores"
### OrientDB Version: orientdb-community-3.0.33-20200729.120423-18.tar.gz
### Java Version: 1.8
### OS: Linux

## Expected behavior
OrientDB stays responsive

## Actual behavior
OrientDB master  consuming using 100% cpu of all cores and replicas using 0% cpu.
OrientDB master not responsive

## Steps to reproduce
I configured 1 master with 2 replica nodes
After inserting upserts for a few hours I f

[2020-08-05 15:55] laa commented on #9346
Hi @Maklyura . This warning is about the fact that you access index directly, such access methods will be deprecated in next release. About the rest, that is definitely a bug. I am working to fix it.

[2020-08-05 16:00] melbarra88 commented on #9313
Hi, any news on this ?
I have a similar issue. When I try to save a new edge, an exception is thrown when it tries to update the vertices. Although I tried to upgrade to 3.1.1 for both java dependencies and the db server, the error keeps being thrown. Note that, this error occurs only when I use a remote database, but when I use an embedded in memory database, it works.

The stacktrace :
`
Cx olle

[2020-08-05 17:59] sanketprabhu34 commented on #9342
is there any difference between both?

[2020-08-05 18:23] dritter-sap commented on #9313
@melbarra88 this looks very similar and I also noticed that it worked in the embedded case. We plan to solve this in the next patch, i.e. 3.1.2, which will hopefully come soon.

[2020-08-06 11:56] laa commented on #9346
The problem happens because in and out links of edges are marked as dirty, but their original values equal to null which is incorrect. Assigned to @tglman .

[2020-08-06 13:56] Maklyura commented on #9346
Thanks a lot for warning me about directly access indexes. I do not need it, It was just way to be sure that indexes are the cause, and I used it in example as easy way to show that indexes are still exist.

[2020-08-06 14:54] laa commented on #9344
Fixed.

[2020-08-06 14:54] #9344 closed

[2020-08-06 14:55] laa commented on #9353
Hi, @steinybot do you still have problems after the upgrade ?

[2020-08-07 05:57] laa commented on #9336
Fixed

[2020-08-07 05:57] #9336 closed

[2020-08-07 06:49] laa commented on #8941
The first test is incorrect, you already opened storage during createIfDoesNotExist method, AES key is used only once during storage opening/creation and can not be replaced till the next storage close. Checking the second test.

[2020-08-07 11:12] laa commented on #8941
The second test passed both with invalid and valid way.

[2020-08-07 11:13] laa commented on #8941
Closing the issue as invalid.

[2020-08-07 11:28] laa commented on #8941
Sorry checked under the 3.1 version. Let me check on 3.0

[2020-08-07 11:34] laa commented on #8941
Has got the same result on 3.0.33 version. Closing as invalid.

[2020-08-07 11:34] #8941 closed

[2020-08-07 15:35] earshinov opened #9367 "Getting NullPointerException on database startup (at com.orientechnologies.orient.core.storage.cache.chm.AsyncReadCache.releaseFromRead)"
### OrientDB Version: 3.0.31
### Java Version:

[code]

### OS:

[code]

## Expected behavior

No exceptions on startup.

## Actual behavior

[code]

## Steps to reproduce

None, but maybe you have come clues?

[2020-08-07 15:35] earshinov commented on #9367
Is it something that could possibly be fixed by upgrading to 3.0.32?

[2020-08-08 15:06] earshinov commented on #9367
There is another one after I remove the database (let me know if it is worthy of a separate bug report):

[code]

[2020-08-09 22:21] #9144 closed

[2020-08-11 06:49] luigidellaquila commented on #9357
Hi @steinybot

v 3.0.33 will be released in next few hours, so probably it's easier to just wait for the stable version

Thanks

Luigi

[2020-08-11 08:25] mehmetaliersoy commented on #8742
Hei All;

I'm using Orientdb 3.0.28 with 2 cluster and facing similar issue. It prevents writing and our apps throwing Out of Memory error and stops finally.

My default-distributed-db-config.json:

{
  "replication": true,
  "autoDeploy": true,
  "hotAlignment": false,
  "executionMode": "undefined",
  "readQuorum": 1,
  "writeQuorum": "majority",
  "readYourWrites": true,
  "failureAvailableNode

[2020-08-11 12:30] madmac2501 opened #9368 "OrientDB Java client only configured with master node IP trying to write to replicas"
### OrientDB Version: 3.0.32
### Java Version: 1.8
### OS: <os here>

## Expected behavior
OrientDB Java client only connects to nodes that it has configured

## Actual behavior
OrientDB Java client stablishes connections to all nodes of a cluster, even if they are a replica and the query cannot write.

## Steps to reproduce
Configure a cluster with 1 master and 2 replicas
In the Java client conne

[2020-08-11 16:11] madmac2501 opened #9369 "hazelcast connections are not stable"
### OrientDB Version: 3.0.32
### Java Version: 1.8
### OS: Linux

## Expected behavior
hazelcast connections are not stable

## Actual behavior
after some time the hazelcast connections begin to degrade and are closed and/or doesn't reply

## Steps to reproduce
I have 1 master and 2 replica nodes.

MASTER CONNECTIONS
tcp6       0      0 :::2434                 :::*                    LISTEN      2

[2020-08-11 16:35] madmac2501 commented on #9369
[replica1.log](https://github.com/orientechnologies/orientdb/files/5058176/replica1.log)

Here is a thread dump from replica 1. It's also showing errors about hazelcast.

[2020-08-12 17:34] adubey8 commented on #6881
that link is broken, please update.

[2020-08-12 19:40] tomazk8 opened #9370 "Running in azure"
### OrientDB Version: 3.x.x

I am trying to run version 3 in Azure as a container instance (only because in Azure marketplace, only 2.2 is available). I am completely stuck with a problem where I have absolutely no idea how to specify persistent volumes. In docker run "-v <databases_path>:/orientdb/databases...." is used but in Azure there is nowhere to enter this parameters. I searched through we

[2020-08-13 08:22] madmac2501 opened #9371 "deadlock when writing in parallel from several java clients"
### OrientDB Version: 3.0.33
### Java Version: 1.8
### OS: linux

## Expected behavior
OrientDB is more resilient to errors.
Advice on a simple java client to write to OrientDB

## Actual behavior
OrientDB master deadlocks

## Steps to reproduce
I have a deployment with 1 master and 2 replicas
The main thing that I think that affects is that I'm writing in parallel from several java clients

I've

[2020-08-13 11:29] laa commented on #9367
Hi @earshinov . OSystem database is not critical, you can delete it. But in general, the problem is caused by the fact that you use V1 version of cluster. You should use V2 version of cluster, which is durable. If your database is not big, you can export to JSNO and then import it and you will perform the migration. In future, we are planning to implement automatic migration between versions.

[2020-08-14 17:37] tglman commented on #9371
Hi,

As you point also on the stack trace there is a thread writing on the socket that, block the others, the lock that we use has the granularity of record, so if there are multiple transactions trying to do write on a specific record they will go ahead 1 by 1.

Regards

[2020-08-14 18:41] madmac2501 commented on #9371
Hi,

in this case these the thread have been locked for hours in that point without progressing.

Thanks for taking a look at it!

[2020-08-15 01:21] pa-emmanuel opened #9373 "Cannot Test if Linkedlist Column Contains Null Date Value"
### OrientDB Version: 3.0.31
### Java Version: 11
### OS: MacOS Catalina

## Expected behavior
dateCustomerCompliantClosed | containNullElement
-- | --
["2020-06-10 00:00:00"] | no
["2020-06-18 00:00:00"] | no
["2020-06-10 00:00:00"] | no
["2020-06-08 00:00:00"] | no
["2020-08-12 00:00:00","2020-08-05 00:00:00",null] | yes
[null] | yes

## Actual behavior

dateCustomerCompliantClosed | containNull

[2020-08-15 05:10] evertongava opened #9374 "Create FDW integration for PostgreSQL"
### OrientDB Version: 3.0
### Java Version: Java 11
### OS: Debian

## Expected behavior
FDW Integration for PostgreSQL 11.
https://wiki.postgresql.org/wiki/Foreign_data_wrappers

We are interested in buying the interprise, but without FDW the team will have to switch to Neo4J

[2020-08-16 08:41] madmac2501 commented on #9371
Hi,

it just happened to me again. I was deleting from OrientDB using this query with the Orientdb web ui. No insertion was being done at the same time.

BEGIN;
DELETE VERTEX myVertex where age < (SYSDATE().asLong() - 86400000) LIMIT 5000;
COMMIT;

[thread_dump_delete.txt](https://github.com/orientechnologies/orientdb/files/5080289/thread_dump_delete.txt)

The deadlocked thread was "OrientDB HTTP

[2020-08-17 06:59] dritter-sap commented on #9313
@CanonTino and @melbarra88 : Fixes in `3.1.x` and `develop` were merged. Kindly retest, in `SNAPSHOT` or when `3.1.2` is released. Thanks

[2020-08-17 14:13] MartinBrugnara opened #9376 "Load a dataset with more than 32767 labels"
### OrientDB Version: 3.0.x
### Java Version: any
### OS: linux

[code]

## Task
Load a dataset with _more than_ 32767 different labels (_e.g._ [DBpedia](https://wiki.dbpedia.org/))

## Issue
Have a way to load it.

## Possibly related
- From issue https://github.com/orientechnologies/orientdb/issues/6577  , set `MINIMUMCLUSTERS`:
```ALTER DATABASE MINIMUMCLUSTERS 1```
- In `OrientGraphFactory.jav

[2020-08-17 15:07] seanmworkman commented on #8896
I am having the same problem in a batch. Are there any updates on this?

@luigidellaquila?

[2020-08-18 12:33] johny65 opened #9377 "Import database comsumes all RAM"
### OrientDB Version: 3.0.33
### Java Version: openjdk version "11.0.8" 2020-07-14
### OS: Ubuntu 20.04

## Expected behavior
To successfully import a database from a json backup.

## Actual behavior
I have a big backup, exported from a database with 36+ millions of nodes (it is not gziped). When I try to import it to another base, the process consumes all of my 32 GB of RAM progressively before i

[2020-08-18 12:36] andrii0lomakin commented on #9377
Hi, @johny65 . To understand the reason of this issue we need to have a heap dump. Could you generate it for us?

[2020-08-18 13:04] johny65 commented on #9377
@laa The heap is always inside of its limits during the process, 1 GB in my case. It even never reaches 750 MB. Does it help a heap dump?

[2020-08-19 09:15] MartinBrugnara commented on #9376
Update:
Using `ALTER DATABASE MINIMUMCLUSTERS 1` does indeed allow to load datasets with more than 32767 labels.

This conflicts with the statement from @smolinari in #6577  on Aug 19, 2016,

Though, there we were discussing about v2.x .

The only references to `MINIMUMCLUSTERS` in the v3.x docs says nothing about scalability in terms of labels/classes, they only talk about speeding up insert in a

[2020-08-19 17:10] smolinari commented on #9376
I believe, if I recall correctly, that they wanted to increase that limit in 3.0. Not sure though. It's been a while since I've had interest in ODB. 😄

Scott

[2020-08-20 07:22] somnath157 opened #9379 "Running Simple Query through Java API But not getting Result"
OrientDB Version: 3.0.30
Java Version: 1.8
OS: windows 10

[code]

Trying to Run this simple Query but result set is empty, same query is working fine from OrientDB Studio.
if i change the query to  "select * from Song" than its working fine.

[2020-08-20 07:25] luigidellaquila commented on #9379
Hi @somnath157

I'd say `out_SungBy` is a collection, so you have to use CONTAINS instead of =

[code]

In general, I strongly discourage you from using the low level mechanics of edge representations, and use the normal graph API instead:

[code]

Thanks

Luigi

[2020-08-20 07:55] guici123 opened #9380 "Use ETL import CSV file ,but don't print information"
### OrientDB Version: <V3.0.10>
### Java Version: <1.8>
### OS: <windows10>

## Expected behavior
<$ ./oetl.sh /temp/openbeer/beers.json

OrientDB etl v.2.0.9 (build @BUILD@) www.orientechnologies.com
BEGIN ETL PROCESSOR
...
+ extracted 5.862 rows (1.041 rows/sec) - 5.862 rows -> loaded 4.332 vertices (929 vertices/sec) Total time: 10801ms [0 warnings, 27 errors]
END ETL PROCESSOR>

## Actual beha

[2020-08-20 08:47] somnath157 commented on #9379
Hi @luigidellaquila

Thanks worked with using Contains.
But Facing one more issue here

out('SungBy').in is returning null while out_SungBy.in return values correctly.
is there some difference?

![image](https://user-images.githubusercontent.com/19746163/90748399-c649ae00-e2ef-11ea-9070-c239b0058557.png)

[2020-08-20 09:02] luigidellaquila commented on #9379
you don't need the `.in` after `out("SungBy")`

in fact, `out("SungBy")` is equivalent to `out_SungBy.in`

[2020-08-20 09:14] somnath157 commented on #9379
Okay and what if i have to access a parameter of the edge than this won't work so i will have to use out_SungBy.fieldName
or is there any better way?

[2020-08-20 10:48] luigidellaquila commented on #9379
Hi @somnath157

you can access the edge with `outE("EdgeClassName")` (see out**E**() instead of out())
Then you can access to the following vertex with `inV()`

So the following are equivalent

[code]

To filter based on edge properties, you can use square bracket filtering:

[code]

I hope it helps

Thanks

Luigi

[2020-08-20 16:40] somnath157 commented on #9379
Thanks

Somnath

[2020-08-20 16:40] #9379 closed, assigned to luigidellaquila

[2020-08-21 13:04] misu200 commented on #9377
I have the same problem on a massive insert ETL process  in the database in  OrientDB 3.0.33 . The memory used keeps growing slowly...and eventually the import process gets killed by OS. The same import worked fine on my OrientDB 3.0.18 database.

Fixed the issue by changing OpenJDK to Oracle JDK

[2020-08-24 16:33] madmac2501 commented on #9121
3.0.33 is still affected by this issue.

any update on this?

[2020-08-25 04:46] steinybot opened #9382 "Query returns duplicate results when ordered"
### OrientDB Version: 2.2.37
### Java Version: 1.8 (server), 11 (client)
### OS: Amazon Linux (server), macOS (client)

## Expected behavior

Ordering should not affect the number of results returned, only the order.

## Actual behavior

Specifying an order by clause inexplicably causes duplicate results to be returned.

## Steps to reproduce

[code]

I know I'm on an old version but I tried upgra

[2020-08-25 07:10] luigidellaquila commented on #9382
Hi @steinybot

As you know, v 2.2 did not have any hotfix updates for more than one year, the SQL executor is a legacy component (completely rewritten from scratch in v 3.0)  and is pretty fragile, so this kind of behaviours unfortunately is someway expected.

The new SQL is much more stable and does not suffer from these problems.

The migration needs some attention, but we did it with many custo

[2020-08-25 09:12] luigidellaquila commented on #9382
Hi @steinybot

Unfortunately, preserving RIDs is not an option for now.
If that's a constraint for you, I'd suggest to try copy/pasting the databases and see if it works in your case (there is a significant chance it does)

Thanks

Luigi

[2020-08-25 12:21] luigidellaquila commented on #9300
Hi all

This issue should be fixed in v 3.1.2

Could you please confirm?

Thanks
Luigi

[2020-08-25 13:07] andrii0lomakin commented on #9377
@johny65 could you send me your log files and heap dump I will check how much "direct memory" RAM do you use.

[2020-08-25 14:24] andrii0lomakin commented on #9377
@misu200 sorry I did not notice your comment. Let me do some changes in code and @johny65 will check that.

[2020-08-25 17:21] dullahan8 commented on #9300
Thank you. I will take a look.

[2020-08-26 00:45] dullahan8 commented on #9300
Confirming that the issue is fixed.

Thank you for your help.

[2020-08-26 00:45] #9300 closed

[2020-08-26 10:10] andrii0lomakin commented on #9367
Hi @earshinov , did removal of system database resolve your issue?

[2020-08-26 12:17] earshinov commented on #8972
This happened to us, too.

[code]

[2020-08-26 14:08] paarth1995 opened #9384 "Config settings to maintain only weekly logs?"
### OrientDB Version: <2.1.5>
### Java Version: <1.8.0_172>
### OS: <Ubuntu 16.04>

## Expected behavior
I have the log files and the config files setup for orientdb. I want to maintain only weekly logs to keep the size of the log files low. However, i have really old logs showing up as well. These are my log files :-

[code]
 And this is my orientdb-server-log.properties config file
[code]

## Ac

[2020-08-26 15:31] earshinov commented on #9367
@laa , Yes, `rm -rf databases/OSystem/` helped, thanks! I will try migrating to cluster V2 a bit later.

[2020-08-27 07:22] earshinov commented on #9367
@laa , Can you please point me to the documentation on cluster versions (v1 vs v2)? I must be missing something: as far as I understand, in the test setup I am tinkering with at the moment I shouldn't be using OrientDB in distributed mode at all because I only have a single server.

[2020-08-27 10:05] andrii0lomakin commented on #9367
@earshinov by cluster I mean storage cluster, disk-based cluster, like a table, not distributed cluster.

[2020-08-28 00:20] earshinov commented on #9367
@laa , Could you give me a hint about how to switch between cluster v1 and v2?

[2020-08-28 08:51] andrii0lomakin commented on #9377
Hi, @johny65 could you try this build?

[2020-08-31 11:31] johny65 commented on #9377
Excuse me @laa, which build do you refer yo?

[2020-08-31 12:13] andrii0lomakin commented on #9377
@johny65 Oh sorry :-) you can use 3.0.34 release. We just released it.

[2020-08-31 13:44] madmac2501 commented on #9121
I tested in 3.0.34 and it worked for me, thanks!

[2020-08-31 13:44] #9121 closed

[2020-08-31 14:55] ActivusBoris opened #9385 "NullPointerException on expand"
### OrientDB Version: 3.0.29
### Java Version: Java 8
### OS: Windows 10 pro (also reproduced on linux)

## Expected behavior
When doing an expand(out()) on a vertex, known vertices should be retrieved, unknown ones (where i don't have Read permission) should be ignored.

## Actual behavior
When doing an expand(out()) on a vertex, if there is vertices i don't know, OrientDb throws a NullPointerExc

[2020-09-01 20:01] earshinov commented on #9367
One of the reasons why I'm asking is that I recreated the database recently. Given that OrientDB used cluster v1 when recreating the database (apparently), why would it switch to cluster v2 when I export and import the database?

I'm still trying to glean some information on cluster v1 and v2. Is cluster v2 something that appeared between 3.0.30 and 3.0.33? I didn't use older versions of OrientDB.

[2020-09-02 11:58] johny65 commented on #9377
@laa I tried the import with the 3.0.34 release and I have the same problem... I'll send you a head dump.

[2020-09-02 12:00] andrii0lomakin commented on #9377
HI @johny65 , thank you I will check it.

[2020-09-03 07:07] luigidellaquila commented on #9373
Hi @pa-emmanuel

I managed to reproduce the problem.

Unfortunately, the `eval()` function uses some legacy components that I cannot break in a hotfix release, so the only thing I can suggest is to define a custom javascript function (see https://orientdb.com/docs/3.0.x/admin/Functions-Creation.html ) and use it in your queries.

Thanks

Luigi

[2020-09-03 08:21] luigidellaquila commented on #9239
Hi @evy126

I reproduced the problem and I'm working to a fix, I'll keep you updated

Thanks

Luigi

[2020-09-03 09:33] luigidellaquila commented on #9239
Hi @evy126

I just pushed a fix to 3.0.x branch, now I'm porting it to 3.1 and develop
The fix will be released with v 3.0.35 and 3.1.3

Thanks

Luigi

[2020-09-03 17:39] CanonTino commented on #9313
@dritter-sap I've already tested 3.1.2 release and the problem is solved. Test is passing now and edges are being correctly created.
Thank you so much.

[2020-09-03 17:39] #9313 closed

[2020-09-07 11:56] andrii0lomakin opened #9387 "Stop accepting new requests if limit of memory consumption is reached."
Allow user requests to be processed only if consumption of all memory pools on a server node is less then given threshold. That will minimize cases when a server is not responsive because of the massive amount of work which it has complete and partially solves the issue with quorum not reached on a distributed cluster. To control the threshold value new parameter - "server.heapUsageLimit" will be

[2020-09-07 19:39] tomazk8 opened #9388 "ShortestPath with multiple edges is returning empty list"
### OrientDB Version: 3.1.2
### Java Version: 1.8.0_211
### OS: Windows 10 Pro

## Expected behavior
ShortestPath should support a list of edges like shows in the documentation: SELECT shortestPath(#8:32, #8:10, 'IN', ['Friend', 'Colleague'])

## Actual behavior
Empty list is returned when array of edges is used, but works if only one edge without array is given.

## Steps to reproduce
I added one

[2020-09-08 03:15] leoChaoGlut commented on #9361
+1

[2020-09-08 06:24] leoChaoGlut commented on #9361
3.0.34 without this problem

[2020-09-08 09:25] andrii0lomakin commented on #9387
Fixed.

[2020-09-08 09:27] andrii0lomakin opened #9390 "Create much more compact version of presentation of ridbags."
The current version of the presentation of rid bags consumes a lot of unused space which causes problems with space consumption. It is proposed to introduce a tree with more compact structure to avoid those problems.

[2020-09-12 04:33] lilyhuli commented on #8938
+1

[2020-09-14 18:46] sunilrebel opened #9391 "File with name config.cd does not exist in <dbname>"
### OrientDB Version: 3.0.27
### Java Version: 11
### OS: Ubuntu

## Expected behavior
Database should be accessible after orientdb starts without exceptions or at least should be exported in case of disaster recovery

## Actual behavior
OrientDB is starting correctly, but database is not opening because of which all of our data is lost (in corrupted db files) and not able to run exports and I'm n

[2020-09-15 10:16] naseem91 opened #9392 "Couldn't insert N number of edges in orientDB"
### OrientDB Version: 3.1.2
### Java Version: 8
### OS: windows

## Expected behavior
add N of edges

## Actual behavior
[code]

## Steps to reproduce
<add here>
<An SQL script to reproduce the problem or a JUnit test case will increase **A LOT** the chance to have a quick fix>

[2020-09-15 10:24] andrii0lomakin commented on #9392
Hi @naseem91 . I will provide a fix in a couple of weeks.

[2020-09-15 10:40] naseem91 commented on #9392
thanks

[2020-09-17 06:40] HuaC-Z opened #9393 "I need help, how to decode orientBinaryObject??"
When I use pyorientdb.commend() to query the edge of the class, the returned result encapsulates the edge into orientBinaryObject. How can I get the edge rid?

[2020-09-18 11:54] knuthelgesen opened #9394 "Error on reconnecting to distributed database"
### OrientDB Version: 3.1.2, running in Docker based on official Docker image
### Java Version: 1.8.0_265
### OS: Docker host is SLES-12

## Expected behavior
The clients can reconnect to a distributed database with a connection string specifying all the hostsnames.

## Actual behavior
We have three Docker hosts, and on each one there is a container running OrientDB. These are all part of the same

[2020-09-21 09:38] lucafrosini commented on #7065
Any news about this?
I'm still experiencing. I'm using OrientDB 3.1.2

[2020-09-21 09:40] lucafrosini commented on #7065
Sorry, I commented on the old bug. I'm going to comment on the new one. See #8730

[2020-09-21 09:40] #7065 closed

[2020-09-21 09:40] lucafrosini commented on #8730
Any news about this?
I'm still experiencing it. I'm using OrientDB 3.1.2

[2020-09-21 19:07] slederman opened #9395 "server.sh: Could not initialize class com.kenai.jffi.MemoryIO$SingletonHolder at com.kenai.jffi.MemoryIO.getInstance(MemoryIO.java:64)"
### OrientDB Version: 3.1.2
### Java Version: openjdk version "1.8.0_262"
### OS: CentOS Linux release 7.8.2003 (Core)

## Expected behavior
Orientdb server should start when I run ./server.sh from the bin directory.

## Actual behavior
removing old pid file /ai/orientdb-3.1.2/bin/orient.pid

2020-09-21 14:56:42:830 INFO  Can not detect value of limit of open files. [ONative]
2020-09-21 14:56:42:8

[2020-09-23 12:27] madmac2501 opened #9396 "OrientDB live lock thread in collection.size"
### OrientDB Version: 3.0.34
### Java Version: 1.8
### OS: Linux

## Expected behavior
Threads don't live lock and consume all cpu

## Actual behavior
This thread is live locked consuming 100% CPU with this stack. I've also attached the full thread dump
[orient-server-boot.txt](https://github.com/orientechnologies/orientdb/files/5268055/orient-server-boot.txt)

"OrientDB (/172.25.1.18:2424) <- Bin

[2020-09-28 11:00] chauhans85 commented on #5888
has this  been resolved  or you able to connect?

[2020-09-28 11:34] madmac2501 opened #9398 "List connections command doesn't show database and user information"
### OrientDB Version: 3.0.34
### Java Version: 1.8
### OS: Linux

## Expected behavior
"list connections" commands shows database and user for binary connections

## Actual behavior
in the output of list connections commands the database and user columns appears as "-" for binary connections

## Steps to reproduce
execute console.sh script
connect with "CONNECT remote:localhost user password"
exec

[2020-09-28 11:45] luigidellaquila commented on #9388
Hi @tomazk8

I just pushed a fix for this problem. The fix will be released with v 3.1.3

Thanks

Luigi

[2020-09-28 12:00] #9388 closed, assigned to luigidellaquila

[2020-09-28 13:11] madmac2501 commented on #9396
Hi,

now I'm seeing this behavior with this thread, in this case I'm not sure if it's caused by a query or by a defect. How can I identify the query that is running this?

Thanks

"OrientDB (/172.25.1.18:2424) <- BinaryClient (/172.25.5.106:48914)" #2025 daemon prio=5 os_prio=0 tid=0x00007fd0d4292800 nid=0x73fe runnable [0x00007fcd6be70000]
   java.lang.Thread.State: RUNNABLE
        at com.orient

[2020-09-29 08:34] HuaC-Z opened #9399 "[OVariableParser.resolveVariables] Error on resolving property"
"command": "create egde '${className}' from  (select from course where name='${input.course}') to (select from label where name='${input.label}') set name='${input.name}'"

show me :
"create '' from  (select from course where name=objiet) to (select from label where name='JAVA') set name=contain"
Error on resolving property: classNameException

[2020-09-29 09:17] luigidellaquila commented on #9399
Hi @HuaC-Z

OVariableParser is an old API, almost unused nowadays.
Anyway, probably the problem here is just a missing `input.`, ie. `create '${input.className}` instead of `create '${className}`

This said, probably you should use query parameters instead of variables:

[code]

And the `CREATE` syntax is wrong, you probably mean `CREATE EDGE

I hope it helps

Thanks

Luigi

[2020-09-29 09:46] HuaC-Z commented on #9399
Thank you for helping me solve the problem.
I want to get variables from the configuration file instead of from the CSV. Do you have any suggestions on this point.

[2020-10-01 16:37] madmac2501 opened #9400 "OrientDB deadlocked"
### OrientDB Version: 3.0.34
### Java Version: 1.8
### OS: Linux

## Expected behavior
OrientDB doesn't deadlock
[orient-server-boot.log](https://github.com/orientechnologies/orientdb/files/5313550/orient-server-boot.log)

## Actual behavior
All OrientDB  requests are blocked, event the database cannot be listed

## Steps to reproduce
I'm mostly upserting in parallel from multiple threads. I don't

[2020-10-02 07:12] madmac2501 commented on #9400
I've reviewed the logs and I thing this log may be related

com.orientechnologies.orient.core.exception.OStorageException: Exception during execution of atomic operation inside of storage xxx
at com.orientechnologies.orient.core.storage.impl.local.paginated.atomicoperations.OAtomicOperationsManager.executeInsideAtomicOperation(OAtomicOperationsManager.java:157)
at com.orientechnologies.orient.core

[2020-10-02 07:15] andrii0lomakin commented on #9400
Hi, thank you. That is very useful.

[2020-10-02 12:58] Jotschi opened #9402 "Index Handling Regression in 3.1.x / Commercial Support Discontinued?"
### OrientDB Version: 3.1.3
### Java Version: 1.8
### OS: Linux

## Expected behavior
The index should at all times be in sync with the graph and a index lookup should never return null when `hasNext` indicated that element are available.

## Actual behavior
Index lookups via `tx.getEdges` return null values via `Iterator#next()` although `it.hasNext()` was previously true.

## Steps to reproduce

[2020-10-06 09:22] Jotschi commented on #9402
The problem can also reproduced without composite key and with Tinkerpop 3 API we get a NoSuchElementException (although hasNext indicates true).

[2020-10-06 10:24] luigidellaquila commented on #9402
Hi @Jotschi

Thank you very much for reporting.
I'm switching to private channels about the professional support (anyway, I'd say just technical problems...)

Thanks

Luigi

[2020-10-06 10:24] luigidellaquila commented on #9402
Hi @Jotschi

Thank you very much for reporting.
I'm switching to private channels about the professional support (anyway, I'd say just technical problems...)

Thanks

Luigi

[2020-10-06 11:55] fsieduc opened #9403 "Can't upgrade from 3.0.27 to 3.1.3 : export 3.0.27 / import 3.1.3 / export 3.1.3 / import 3.1.3 broken"
### OrientDB Version: 3.0.27 + 3.1.3
### Java Version: openjdk version "1.8.0_252" OpenJDK Runtime Environment (build 1.8.0_252-b09) 64-Bit Server VM (build 25.252-b09, mixed mode)
### OS: Centos 7 Linux 3.10.0-1127.10.1.el7.x86_64 #1 SMP

## Expected behavior
an EXPORT DATABASE demodb from 3.0.27
can be IMPORTed to server 3.1.3
then can be EXPORTed from server 3.1.3
and this second EXPORT can be

[2020-10-06 18:57] Vinay97 opened #9404 "Performance issue of OrientDB 3.1.2? Vertex insertion is taking too much time"
### OrientDB Version: 3.1.2
### Java Version: 1.8
### OS: Windows 10

I am new to OrientDB. For my Java project I am using OrientDB-3.1.2 for graph storage(as my project is based on Model driven architecture). So the issue I am facing is, while inserting a record with few vertices and edges orientdb is taking almost 15 minutes to complete the process. And in the case where vertices count is more,

[2020-10-07 07:11] luigidellaquila commented on #9404
Hi @Vinay97

First of all, I'd suggest to use the native Multi-Model API instead of TinkerPop 2.6, that is deprecated.
If you really need TinkerPop support, you can consider orientdb-gremlin module, that implements TinkerPop3

About the specific problem, we need a few more details, eg. how many vertices and edges are you creating? How do you do it? Can you share a code snippet?

Thanks

Luigi

[2020-10-09 09:48] luigidellaquila commented on #9402
Hi @Jotschi

As already reported on the private channels, we have a fix for this issue.
I already pushed it to 3.1.x branch and it will be released with v 3.1.4

Thanks

Luigi

[2020-10-09 11:25] Jotschi commented on #9402
@luigidellaquila Thanks for the fix. I can confirm that it fixes the reported issue. We have however still failing tests which seem to be index related. It seems the reproducer was not able to catch all issues. I'm currently working on a reproducer which also reproduces another NPE which we are having with 3.1.3+Patch.

[2020-10-09 13:33] Jotschi commented on #9402
@luigidellaquila Here is the reproducer for the second issue:
https://github.com/gentics/orientdb-reproducers/blob/master/src/test/java/com/gentics/odb/IndexRegression2Test.java

Graph is created in one tx1
Vertices are deleted in tx2 and this would need to affect the edge index as well since deleting the vertices also removes the edges - Index lookup in same tx2 fails.

[2020-10-09 15:57] PhantomYdn opened #9405 "NPE during execution of simple SQL"
### OrientDB Version: 3.1.3, 3.1.4
### Java Version: 1.8
### OS: any

Execute the following SQL:

[code]

## Expected behavior

SQL should be successfully executed as it was in OrientDB v2.

## Actual behavior
NPE is happening:

[code]

[2020-10-09 18:51] 5325833510 commented on #8302
Ty

[2020-10-09 19:22] 5325833510 opened #9406 "Tr"
Görüntülü sohbet için beni Duo'da ekleyin. Şu bağlantıyı kullanın: https://duo.app.goo.gl/RQGTurh

[2020-10-09 20:27] elViRafa opened #9407 "ETL tool not exiting with 3.1.3"
### OrientDB Version: 3.1.3
### Java Version: 8
### OS: Linux docker default of orientdb-3.1.3-tp3

## Expected behavior
Exit after complete ETL  with ETL tool.

## Actual behavior
ETL tool not exiting after complete

## Steps to reproduce
[code]

[2020-10-11 02:36] johny65 opened #9408 "Can't login into forum"
I can't log in into the [OrientDB Community](https://discourse.orientdb.org/) anymore since some days ago. I can't log in with a password because I don't have one, I always logged in using my GitHub account but now the result is an error page with the following message:

[code]

Trying the "with email" option, it says that my account was found and "should receive an email with a login link shortly

[2020-10-12 09:07] luigidellaquila commented on #9402
Hi @Jotschi

I just pushed a new fix for the second test case, now hopefully all the cases should be covered.
Please feel free to reopen in case you see further corner cases to fix

Thanks!

Luigi

[2020-10-12 11:38] Jotschi commented on #9402
@luigidellaquila I applied the fix. It lets the reproducer pass but it seems the fix created a new regression.

Reproducer:
https://github.com/gentics/orientdb-reproducers/blob/master/src/test/java/com/gentics/odb/IndexRegression3Test.java

The `IndexRegression3Test` passed with unpatched OrientDB 3.1.3 but fails with the included patches (patches are in the project).

The test is basically the sa

[2020-10-13 11:57] luigidellaquila commented on #9402
@Jotschi

We did a more structural change that solves this case and should also cover all the similar situations.
The fix is already on branch 3.1.x, now I'm porting it to develop

Thanks

Luigi

[2020-10-13 16:42] Jotschi commented on #9402
@luigidellaquila Thanks. The change fixed the issue. Unfortunately there are still 62 tests in our testsuite failing after upgrade to OrientDB 3.1.3 + patches. I'll investigate and create a reproducer if possible. You may close the issue for now.

[2020-10-14 06:33] luigidellaquila commented on #9402
Hi @Jotschi

OK, I'm closing this issue then.

Thanks

Luigi

[2020-10-14 10:40] Jotschi commented on #9402
@luigidellaquila I was able to create a reproducer for the next index issue:

https://github.com/gentics/orientdb-reproducers/blob/master/src/test/java/com/gentics/odb/IndexRegression5Test.java

The test creates a small tree shaped graph.
The tree is traversed via lookup of indexed vertices (`NodeImpl_parent`). Each vertex contains the the parent uuid. We store this within a `EMBEDDEDSET, STRING`

[2020-10-14 12:17] SameerChorge94 commented on #8385
Hi,
Similar issue faced with OrientDB standalone server
`OrientDB version : 3.1.3`

Tried @jymcheong shared answer
`ALTER CLASS Invoice CUSTOM onAfterCreate='invoiceCreated'`
it didn't worked for me

it's returning below error while creating new records
`orientechnologies.orient.core.db.record.OIdentifiable; cannot be cast to class java.lang.String ([Lcom.orientechnologies.orient.core.db.record.OI

[2020-10-14 21:33] steinybot opened #9410 "Question: What are the recommended settings"
I have inherited a project that uses OrientDB and it has some settings which I am trying to reason about.

We currently have:
[code]

Is there anything particularly good/bad about these settings? I understand it likely depends a lot on our exact usage and presumably they were set to these values for a reason.

One thing in particular that I'm not sure about is:

Why is it recommended to use a sepa

[2020-10-15 07:12] aberdev opened #9411 "OTrackedList cannot be cast to java.lang.Comparable"
### OrientDB Version: 3.0.27
### Java Version: 1.8
### OS:centos

## Expected behavior
Commit successuflly after insert or update
## Actual behavior
An exception is raised when  trying to commit a transaction but is not thrown to the client :
`java.lang.ClassCastException: com.orientechnologies.orient.core.db.record.OTrackedList cannot be cast to java.lang.Comparable
at java.util.TreeMap.compare(T

[2020-10-15 07:31] luigidellaquila commented on #9402
Hi @Jotschi

I just pushed a fix for this problem, please let me know if there are other things to check

Thanks

Luigi

[2020-10-15 09:19] Jotschi commented on #9402
@luigidellaquila Thanks. The fix was able to reduce the test failure count to 2. I'm now checking the remaining test failures.

[2020-10-15 10:06] Jotschi commented on #9402
I found the other issue. Should be an easy fix. The problem is not related to indices thus closing this issue.

[2020-10-15 10:06] #9402 closed, assigned to luigidellaquila

[2020-10-15 10:14] Jotschi opened #9412 "AssertionError when opening DB which was created in 3.0.25 using 3.1.3"
I'm getting the following exception when opening a DB which was created in 3.0.25 using OrientDB 3.1.3

[code]

The assertion in `OClusterBasedStorageConfiguration#getUuid()` causes the problem.

Due to this assertion no null value will be returned and thus the null handling of `OAbstractPaginatedStorage#open` (Line 451) is not being used.

Removing the assertion lets our test pass and fixes the i

[2020-10-15 15:36] philippguertler opened #9414 "Exception in OServer#activate prevents JVM shutdown"
### OrientDB Version: 3.1.3
### Java Version: 8
### OS: Linux

## Expected behavior
I have the following exception when calling `OServer.activate()`:

[code]

After that exception I call `OServer#shutdown()` and expect all threads started by OrientDB to stop. However, these two threads never stop:

* OrientDB ONetworkProtocolBinary
* OrientDB ONetworkProtocolHttpDb

I've found out why:
`deinit()`

[2020-10-16 06:48] luigidellaquila commented on #9412
Hi @Jotschi

This assert is not needed indeed, and it is not meaningful in terms of backward compatibility, so we just removed it

Thanks

Luigi

[2020-10-16 07:20] Jotschi commented on #9412
@luigidellaquila Thanks. I'm closing the issue.

[2020-10-16 07:20] #9412 closed, assigned to luigidellaquila

[2020-10-16 09:29] kai-baumann opened #9415 "Creation of a new database with OrientDB 3.1.3 fails"
### OrientDB Version: 3.1.3
### Java Version:
openjdk version "1.8.0_265"
OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8.0_265-b01)
OpenJDK 64-Bit Server VM (AdoptOpenJDK)(build 25.265-b01, mixed mode)
### OS: Windows 10 Version 2004 (OS Build 19041.572)
### Docker Version: v19.03.13 with default Settings

## Expected behavior
Creation of a new datbase withOrientDB Studio.

## Actual behavio

[2020-10-16 09:31] kai-baumann commented on #9415
If the volumes are removed then the error does not occur.

[2020-10-16 11:56] johny65 opened #9416 "OCommandExecutorNotFoundException when executing a scheduled function"
### OrientDB Version: 3.0.34 / 3.1.3
### Java Version: OpenJDK version "11.0.8" 2020-07-14
### OS: Ubuntu 20.04

## Expected behavior

Create a function using SQL and schedule it to fire with the event scheduler, and the function is correctly executed when it's time.

## Actual behavior

If the function contains syntax of batch SQL, the execution fails with exception `com.orientechnologies.orient.

[2020-10-16 13:41] lucafrosini commented on #9362
I'm experiencing the same issue with version 3.0.34 as well as 3.0.29 with no other concurrent access.
I tried to use just one instance still running in distributed mode.

To experience the issue it is enogh to run the following command in in Studio:
DELETE VERTEX <MyVertexClass>

Removing the distributed configuration I have no issues.

Let me know if you need more details such as full configurat

[2020-10-19 07:28] luppu opened #9417 "Nodes from different datacenter can not restore database"
### OrientDB Version: 3.1.3 Enterprise
### Java Version: openjdk version "1.8.0_262"
### OS: CentOS Linux release 7.8.2003

## Expected behavior
I'm trying to configure multi datacenter orientdb cluster. site-a dc has 3 node, site-b dc also has 3 node. All 6 server are expected to join cluster and restore database.

## Actual behavior
Nodes from same datacenter can restore database and join cluste

[2020-10-19 09:16] andrii0lomakin commented on #9415
Hi @kai-baumann , could you set `storage.disk.useNativeOsAPI` system property or server property in server-config.xml to false and try again ?

[2020-10-19 10:33] andrii0lomakin commented on #9395
Hi, likely database does not have access to the `/tmp` folder which doesn't allow to deploy temporary lib to access native functions.

[2020-10-19 13:23] slederman commented on #9395
Yes, that was the problem. Redirecting the JVM  to a different temp folder fixed the problem. Thanks.

[2020-10-19 13:23] #9395 closed, assigned to nobody

[2020-10-19 13:24] kai-baumann commented on #9415
Hello @laa, I added `<entry value="true" name="storage.disk.useNativeOsAPI"/>` at the end of the file `orientdb-server-config.xml ` but I still get the same error. Is this file correct or could I set an environment variable for the docker container?

[2020-10-19 14:34] andrii0lomakin commented on #9415
Hi @kai-baumann you should use not `true` value but `false`.

[2020-10-19 14:34] andrii0lomakin commented on #9400
Fixed in all branches.

[2020-10-19 14:36] andrii0lomakin commented on #9410
Hi @steinybot .
It depends on which version do you use.

[2020-10-19 14:37] #9406 closed, assigned to nobody

[2020-10-19 14:53] andrii0lomakin commented on #9396
Hi @luigidellaquila could you help with identification of the query. I am afraid without proper test case it will be hard to resolve given issue.

[2020-10-19 14:54] andrii0lomakin commented on #9390
Postponed for the next releases.

[2020-10-19 14:55] andrii0lomakin commented on #9377
Hi @johny65 , I am sorry for the silence, if you still interested in the fix. Could you reproduce problem and send heap dump again ?

[2020-10-19 14:58] andrii0lomakin commented on #9392
Hi @naseem91 to verify that we provided the fix I need test case from your side, because your description is quite general and I had to guess what problem did you encounter. Could you provide such test case.

[2020-10-19 15:00] luigidellaquila commented on #9396
@laa I agree with you, without a proper reproducer it's really hard to understand what's happening.

The only clear thing here is that the client is executing a batch script, in particular it's running a COMMIT statement in this moment, but we at least need to know what is the content of the transaction

Thanks

Luigi

[2020-10-19 15:00] andrii0lomakin commented on #9367
Hi @earshinov if I remember correctly I have already answered your question. Have not  I?

[2020-10-19 15:01] andrii0lomakin commented on #9356
Hi @steinybot if you still have an issue could you send me thread dump?

[2020-10-19 15:14] andrii0lomakin commented on #9354
Fixed in latest version.

[2020-10-19 15:16] andrii0lomakin commented on #8972
Hi guys. We tried to reproduce this issue on 3.1.x and we could not, but it is reproducible on 3.0.x unfortunately fix can not be migrated, could you try in 3.1.x version instead?

[2020-10-19 15:17] #9354 closed

[2020-10-19 16:25] madmac2501 commented on #9396
Hi,

This slowness doesn't happen with other database instances that I have, so I don't think it's related with an specific index or query but with the data that it's in the graph. I have done some analysis of a heap dump. My feeling is that one node with 80.000 incoming relationships and 80.000 outgoing relationships is being constantly updated and that update is very slow.

In my batch script I'

[2020-10-19 16:51] madmac2501 commented on #9396
@laa @luigidellaquila I shared some more info privately.

Thanks again!

[2020-10-19 18:25] 5325833510 commented on #9406
Slm

[2020-10-19 18:29] 5325833510 commented on #9406
Kimsin lan

[2020-10-20 06:58] kai-baumann commented on #9415
Hello @laa, after setting the variable to `false` the container does start on a windows machine with mounted volumes.

[2020-10-20 07:50] andrii0lomakin commented on #9415
Good, thank you for the report.

[2020-10-20 07:50] #9415 closed, assigned to andrii0lomakin

[2020-10-20 08:02] andrii0lomakin commented on #9355
Hi, do you migrate the database? Which version do you use as the initial version? I mean, was it 2.2.x version or which one? Did you perform any additional steps to migrate the index? Would be cool if you provide the database for inspection. So I would check storage metadata.

[2020-10-20 08:37] dptr opened #9419 "not support gremlin multi-properties"
### OrientDB Version: 3.0.34
### Java Version: 1.8.0_181
### OS: win10 2004

## Expected behavior
standard gremlin url: https://tinkerpop.apache.org/docs/current/reference/#vertex-properties

input this gremlin:
g.addV().property('name','hello').property('name','world')
g.V('#13:2').properties('name').count()

the property count is 1,but the gremlin standard is 2, name is overwritten by 'world'

a

[2020-10-20 08:56] dptr commented on #9419
i found this method just ignored the first argument cardinality, so the gremlin cardinality feature will not work.
  org.apache.tinkerpop.gremlin.orientdb.OrientVertex#property(org.apache.tinkerpop.gremlin.structure.VertexProperty.Cardinality, java.lang.String, V, java.lang.Object...)

[2020-10-20 10:41] andrii0lomakin commented on #9060
Hi @valenpo , do you open all those databases in separate JVMs or inside of the single one?

[2020-10-20 10:53] valenpo commented on #9060
It is single one JVM

Вт, 20 окт. 2020 г. в 13:41, Andrey Lomakin <notifications@github.com>:

--
C Уважением
Валентин Попов.

[2020-10-20 13:07] earshinov commented on #8972
@laa , As for us, we have just migrated to OrientDB 3.1.3, but we also tweaked our deployment and monitoring to prevent out-of-memory errors, so we can't say if the problem is really fixed.

[2020-10-20 13:13] earshinov commented on #9367
@laa, We didn't experience this issue any more, and also after migrating to OrientDB 3.1.3 we have `storage.cluster.version = 2` in global configuration (studio/index.html#/dashboard/general). I guess, everything should be fine and this ticket can be closed, at least for now.

[2020-10-20 13:56] andrii0lomakin commented on #9060
You can see the limit of open files printed during the start of the database (does not matter server or embedded). Could you send me this number and also could you send me the value of the limit of open files on your system?

[2020-10-20 13:57] valenpo commented on #9060
System has limit to 64k opened files, but we set it to unlim for test before reach limit of nodes.

Regards,
Valentin Popov

[2020-10-20 14:03] andrii0lomakin commented on #9060
Limit of open database files is changed according to the OS settings. So the more limit you set the more open files you will have. Could you check the log and check the limit of open files in the console. Also, of course, check whether this problem is reproducible.

[2020-10-20 16:48] johny65 commented on #9408
It seems that now the login is working again.

[2020-10-20 16:48] #9408 closed, assigned to nobody

[2020-10-20 19:42] luigidellaquila commented on #9408
Hi @johny65

Sorry for this inconvenience and yes, we just fixed it

Thanks

Luigi

[2020-10-21 16:52] 5325833510 commented on #9406
Seni anlatıyor

[2020-10-22 20:41] njasm commented on #8972
sorry for the late reply @laa, yep we moved to 3.1.x

[2020-10-23 10:23] BOFA1ex commented on #9305
the same issue arrises when run the code as follow.
[code]

[2020-10-26 02:02] PhantomYdn commented on #9405
3.1.4 contains the same problem. Dear OrientDB team, @laa, @luigidellaquila, @tglman, please help to fix this issue in OrientDB query parser.

[2020-10-26 02:20] PhantomYdn opened #9421 "ORecordLazyList.get(index) started to return ORecordId instead of ODocument"
### OrientDB Version: 3.1.4
### Java Version: 8
### OS: Windows, Linux

Some of our tests started to fail after switching from 3.1.3 to 3.1.4 due to ClassCastException.
After review we have figured out that problem is in ORecordLazyList: first item is ODocument, but all subsequent are just ORecordId (but a corresponding  ODocument does exist)

## Expected behavior
ORecordLazyList should return ODo

[2020-10-26 03:06] PhantomYdn commented on #9421
@tglman `git bisect` between 3.1.3 and 3.1.4 show that the issue was introduced by the following commit: https://github.com/orientechnologies/orientdb/commit/6265642427def0a8c474c66e1619fe7b658c8815

[2020-10-26 05:29] PhantomYdn commented on #9405
As it was said above, there is NPE in latest versions in attempt to execute mentioned query. But in 3.0.4 it was:
[code]

This switch from OCommandExecutionException `Function not found` to NPE happened in the following commit: https://github.com/orientechnologies/orientdb/commit/aac5894ef98e7106071d0f03c40e421d5909bb93
(Yes - it's become funny after reading comment for this commit: fix NPE on fun

[2020-10-26 08:24] luigidellaquila commented on #9405
Hi @PhantomYdn

Thank you very much for reporting, I'll check it ASAP.

Thanks

Luigi

[2020-10-26 10:19] luigidellaquila commented on #9405
Hi @PhantomYdn

I just pushed a fix for this.
The fix will be released with next v 3.1.5

Thanks

Luigi

[2020-10-26 14:04] PhantomYdn commented on #9405
@luigidellaquila , thank you! But just my curiosity: is `all()` also supported?

[2020-10-26 14:16] luigidellaquila commented on #9405
Hi @PhantomYdn

I didn't check it, but it's so unusual (I hardly find a meaningful use case for that) that I wouldn't be surprised if it doesn't work and nobody noticed

Thanks

Luigi

[2020-10-26 14:27] PhantomYdn commented on #9405
@luigidellaquila, we use `all()` in other place to verify that there is "at least something" in an object: as it's explained in documentation: https://orientdb.com/docs/last/sql/SQL-Where.html Btw, might be you can spot another part of this documentation page which shouldn't work in 3.x...

[2020-10-26 15:01] luigidellaquila commented on #9405
Hi @PhantomYdn

Let me reopen this issue, I'll do a complete check

Thanks

Luigi

[2020-10-26 15:37] earshinov opened #9422 "OrientDB Studio 3.1.3: JavaScript error when trying to delete a permission"
### OrientDB Version

3.1.3 from the official Docker image `orientdb:3.1.3`

### Java Version

[code]

### OS

[code]

## Expected behavior

It should be possible to remove a permission via OrientDB Studio

## Actual behavior

The OK button in the dialog doesn't react to clicks. There is an error message in Chrome DevTools console.

![removing permission](https://user-images.githubusercontent.com/

[2020-10-27 19:46] PhantomYdn commented on #9421
@tglman, @laa, @luigidellaquila, OrientDB team, do you have ideas how to fix that? 3.1.4 is unusable due to this issue...

[2020-10-28 09:00] nerfur opened #9424 "java.lang.NullPointerException on trying to connect to database"
### OrientDB Version: 3.1.4
### Java Version: inside official docker
### OS: official docker container

## Expected behavior
connecting to database

## Actual behavior
not connecting to database

## Steps to reproduce
Just trying to connect from Studio or console.sh and I suddenly get this, appears while simple testing orientdb fresh docker, create some databases, learning udemy course, bam only t

[2020-10-28 14:07] PhantomYdn commented on #9405
@luigidellaquila , @dritter-sap , closed by mistake, I guess?

[2020-10-28 14:23] luigidellaquila commented on #9405
Hi @PhantomYdn

yes, closed with a commit (not intended I think).
Anyway, I already did a few checks and fixed some cases of usage of any() and all().
I still have to complete the checks though

Thanks

Luigi

[2020-10-28 23:54] typingtanuki opened #9425 "NullPointerException after migrating from 3.0.22 to 3.1.2"
### OrientDB Version: 3.1.2
### Java Version: JDK 11.0.9
### OS: Windows 10 / Ubuntu 20.10

## Expected behavior

Can migrate to 3.1.0 and use database.

## Actual behavior

Migration goes fine, upon restart DB seems to work, but some inserts will fail with a NullPointerException

## Steps to reproduce

* Create new database on 3.0.22
* Add some documents
* Stop database
* Switch to 3.1.2
* Start

[2020-10-29 14:34] misu200 opened #9428 "cant register on orientdb discourse"
Hello,

I dont know where to send a message about it ... but it is not possible to open new account on dicourse forum from https://discourse.orientdb.org/

Rgds,

[2020-10-29 14:45] luigidellaquila commented on #9428
Hi @misu200

Yes, you should be able to connect with GitHub or Twitter SSO, or to register with email/pw.
What kind of problems are you experiencing?

BTW, we also just enabled GitHub Discussions, probably you also want to post your questions there https://github.com/orientechnologies/orientdb/discussions

Thanks

Luigi

[2020-10-29 14:46] misu200 commented on #9428
I ve tried with github to create account on discourse ...but not working
Also I ve tried by email but i dont receive the validation email

[2020-11-02 12:48] Jotschi commented on #9424
@luigidellaquila FYI: I think this the same error that we reported via `757591 / 2020`.

[2020-11-02 12:59] luigidellaquila commented on #9424
Thank you for reporting @nerfur

@Jotschi yes, I think it's the same, thank you for pointing it out.

We are already checking it, we'll give you an update ASAP

Thanks

Luigi

[2020-11-02 13:53] luigidellaquila commented on #9424
Hi @nerfur @Jotschi

The fix is already on 3.1.x branch, the snapshot will be available in a few hours

Thanks

Luigi

[2020-11-02 13:53] #9424 closed, assigned to nobody

[2020-11-02 15:15] stoica-florian opened #9431 "Default cluster size does shrink after records truncate"
### OrientDB Version: 3.0.22
### Java Version: 11
### OS: Ubuntu 20.04

## Expected behavior
After executing TRUCNCATE RECORD [<list of records>]; I expect that the default_*.pcl file to be smaller

## Actual behavior
The file keeps the exact same size even If I truncate the records

## Steps to reproduce
Had a lot of records 400k to be more exact, the default cluster had 18.2 GB.
executed TRUNCAT

[2020-11-02 16:50] PhantomYdn opened #9432 "OFunction scripting stopped working"
### OrientDB Version: 3.1.4
### Java Version: 8
### OS: Ubuntu

Create OFunction with the following code:

[code]

## Expected behavior
Execution of this function should be successful with corresponding message in logs or console.

## Actual behavior
Exception happened:
[code]

## Notes
It worked perfectly in OrientDb 2.x

[2020-11-02 22:48] PhantomYdn commented on #9432
"Issue was introduced' by the following commit: https://github.com/orientechnologies/orientdb/commit/40544dc82105884de0c78a893a84439871029e23

Is there any documentation on how to use these security scripts?

[2020-11-03 02:50] PhantomYdn commented on #9432
Btw, there are few comments to this implementation:
1) Assumed that user can define list of allowed packages in OScriptManager, but according to code: it's not packages, but classNames - which makes configuration much more granular and inconvinient. Will be good to have either on package level or use wildcards.
2) There is no way to disable this behavior. It would be nice to allow users to decide:

[2020-11-03 16:55] PhantomYdn commented on #9432
Btw, seems that disregard how deeply ClassFilter was configured: it's not possible to work with java object. Error message:

[code]

So, the main question for us: how to disable this feature?:)

[2020-11-04 07:51] stoica-florian commented on #9431
I did dig up a bit more and found out that as per documentation this is expected, but please tell me that there is another way to trigger reindexing of the default cluster and not just export/import. Having a function call that does that will help, doing a periodic export/import of a DB that has let's say around 20GB for sure is not a viable solution there must be another way.

[2020-11-04 10:58] andrii0lomakin commented on #9431
Hi, as for now there is no solution for that. But I have in mind some design changes which will help you in future.

[2020-11-04 12:42] stoica-florian commented on #9431
Hi, is it by any chance something that will be in the near future?

[2020-11-05 11:46] sirmax123 opened #9434 "Database is locked on Master while Replica downloads data (async mode)"
### OrientDB Version: 3.0.34
### Java Version:
[code]
### OS: Docker container, orientdb:3.0.34

My setup:
odb1 - Standalone Master node, 2 databases ~3Gb each
odbB - just added Replica node (need it because automatic-backup plugin locks database)

I'm trying to add the REPLICA node to the existing Master Node (only one master), and when the replica is added, databases are in read-only mode while

[2020-11-06 14:07] johny65 opened #9435 "Inconsistency in target class in match"
### OrientDB Version: 3.0.24
### Java Version: Openjdk version "11.0.9" 2020-10-20
### OS: Ubuntu 20.10

## Expected behavior
Specifying target class in MATCH to work correctly.

## Actual behavior
I have a case where the MATCH with `{class: TargetClass}` does not work (it returns no results when it should), but works fine in the following ways:

* `{where: (@class = 'TargetClass')}`
* `{where: ($

[2020-11-06 14:32] luigidellaquila commented on #9435
Hi @johny65

That's really strange, the semantics of `@class = X` is a bit different from `class:X`, in particular in terms of hierarchies, but `$currentMatch instanceof TargetClass` should work fine.

If you could provide a reproducer, it would help a lot to identify the problem

Thanks

Luigi

[2020-11-06 14:55] johny65 commented on #9435
Hi @luigidellaquila, can I send you the reproducer privately?

[2020-11-06 15:22] luigidellaquila commented on #9435
Hi @johny65

sure, please send it to orientdb_enquiries@sap.com

Thanks

Luigi

[2020-11-06 15:58] johny65 commented on #9435
@luigidellaquila I sent an email. Thanks.

[2020-11-09 08:16] luigidellaquila commented on #9435
Hi @johny65

Thank you very much, I got the db. Can you please post a query that I can test?

Thanks

Luigi

[2020-11-09 12:51] grimace commented on #9425
I'm seeing this as well.  Any thoughts?

[2020-11-09 13:02] andrii0lomakin commented on #9425
Hi, that is already fixed in the latest version.

[2020-11-09 13:05] grimace commented on #9425
yeah, I just downloaded and installed 3.14 and it is definitely fixed.

[2020-11-09 13:05] #9425 closed, assigned to nobody

[2020-11-11 13:37] johny65 commented on #9435
@luigidellaquila In the email I've sent I wrote some queries to test. Here I post them again:

[code]

[2020-11-11 21:27] PhantomYdn commented on #9421
Apparently, the reason is in fact that mentioned above commit doesn't affect logic of `iterator()`. Defect is pretty visible in the following testcase:

[code]
This test-case will fail, but if you comment out line marked as `IMPORTANT LINE` - test-case will be OK

[2020-11-11 22:33] PhantomYdn commented on #9421
Investigation shown that `HelperClasses.readLinkCollection()` should be able to adjust `ORecordLazyList.contentType`. Otherwise: during iterating method `OLazyRecordIterator.next()` invokes `update()` which switch `ORecordLazyList.contentType` from EMPTY to ALL_RECORDS

[2020-11-12 04:06] PhantomYdn commented on #9421
Issue was fixed by PR #9437
Please merge

[2020-11-15 00:30] PhantomYdn commented on #9424
Got the same problem... Database, unfortunately, becomes unusable.  Is there any chance to reanimate db? For example by taking 3.1.5?

[2020-11-15 19:30] darangel1273 commented on #8928
Hello, I had the same problem! Just like in this topic in the item 4!!
Can somebody gave me a heads up?
Thank's in advance!!

(I'm new at this)

**nov. 15, 2020 7:14:02 DA TARDE com.orientechnologies.common.log.OLogManager log
INFO: Detected limit of amount of simultaneously open files is 1048576,  limit of open files for disk cache will be set to 523776**

Exception in thread "main" com.orientech

[2020-11-16 07:57] luigidellaquila commented on #9424
Hi @PhantomYdn

I'd suggest to try opening it with v 3.1.5-SNAPSHOT, it should be fine

https://oss.sonatype.org/content/repositories/snapshots/com/orientechnologies/orientdb-community/3.1.5-SNAPSHOT/

Thanks

Luigi

[2020-11-16 18:43] darangel1273 commented on #8871
Hello,
(I am new at this)
I have this error, on Eclipse, with openjdk:

[code]

With a simple class to learn OrinetDB:

`package root.rui;

import com.orientechnologies.orient.core.db.ODatabaseSession;
import com.orientechnologies.orient.core.db.OrientDB;
import com.orientechnologies.orient.core.db.OrientDBConfig;

public class LigaOrientDB {

	public static void main(String[] args) {
		// TODO Au

[2020-11-16 18:53] darangel1273 opened #9441 "nov. 16, 2020 6:43:54 DA TARDE com.orientechnologies.common.log.OLogManager log INFO: Detected limit of amount of simultaneously open files is 1048576, limit of open files for disk cache will be set to 523776 Exception in thread "main" com.orientechnologies.orient.core.exception.ODatabaseException: Cannot open database 'demodb'"
### OrientDB Version: <3.1.4>
### Java Version: <Java 14 openjdk-amd64>
### OS: <ubuntu 20.04>

## Expected behavior
<add here>

## Actual behavior
Hello,
(I am new at this)
I have this error, on Eclipse, with openjdk:

[code]

With a simple class to learn OrinetDB:

`package root.rui;

import com.orientechnologies.orient.core.db.ODatabaseSession;
import com.orientechnologies.orient.core.db.Orient

[2020-11-16 18:55] lvca commented on #9432
You should provide the allowed packages via `scriptManager.addAllowedPackages("java.lang.System")` first.

[2020-11-16 18:55] #9432 closed, assigned to lvca

[2020-11-16 19:23] PhantomYdn commented on #9432
@lvca , point was different.
1. Currently only classes can by entered, but not packages - but name of the function assume using if packages.
2. Using secured narshorn even with configured classes doesn't allow reflection. So it will be good to have option to disable it.

[2020-11-17 05:40] lvca commented on #9432
Can you use GraalVM then? It's more flexible, fast and it's the future.

[2020-11-17 07:26] PhantomYdn commented on #9432
Potentially - yes. But there are separate disadvantages from GraalVM... Graal is not so graal:)
Need to check that in GraalVM in case of secured filter reflection will be still available...

In any case, we have already use workaround: https://github.com/OrienteerBAP/Orienteer/commit/c38288baf9d96cd519e619b6badd97ee18303145#diff-79f894404bbbfa6934881a98d90e833ea3e4c30bdf741380c327037a9d0b7948

[2020-11-17 11:01] madmac2501 opened #9442 "NullPointerException on query using parameters that are not passed"
### OrientDB Version: 3.0.34
### Java Version: 1.8
### OS: Linux

## Expected behavior
A descriptive error is thrown

## Actual behavior
java.lang.NullPointerException
	at com.orientechnologies.orient.core.sql.executor.ForEachStep.syncPull(ForEachStep.java:41)
	at com.orientechnologies.orient.core.sql.executor.OSelectExecutionPlan.fetchNext(OSelectExecutionPlan.java:37)
	at com.orientechnologies.o

[2020-11-17 11:10] luigidellaquila commented on #9442
Hi @madmac2501

Thank you very much for reporting, I'll check it ASAP

Luigi

[2020-11-17 11:33] #9442 closed, assigned to luigidellaquila

[2020-11-17 11:58] jonsalvas commented on #9220
6 months over and still no update ?

[2020-11-17 22:51] madmac2501 opened #9444 "Disk usage is increasing over time without limit, deleting vertex don't reduce disk usage."
### OrientDB Version: 3.0.34
### Java Version: 1.8
### OS: Ubuntu

## Expected behavior
Disk usage is stable.

## Actual behavior
Disk usage is growing over time without limit.

.cpm files are growing on each iteration with these steps to reproduce, I think other files related to indexes may be affected too.

## Steps to reproduce
Run these commands in OrientDB web ui

CREATE CLASS MyClass IF NOT

[2020-11-18 01:14] cyberjac0630 opened #9445 "The OrientDB always shutdown automatically after a few hours"
### OrientDB Version: <3.0.34>
### Java Version: <1.8>
### OS: <CentOS7>

## Expected behavior
<When I was start the OrientDB server in my server, I hope the OrientDB server can keep running in the background of the server.>

## Actual behavior
<The OrientDB always shutdown automatically after a few hours. When I start the server.sh, I can connect to the OrientDB, but a few hours later, I can't co

[2020-11-18 03:33] steinybot opened #9446 "OPartitionedDatabasePool does not work well in a multi-threaded context"
### OrientDB Version: 3.0.34
### Java Version: 1.8
### OS: Amazon Linux 2

## Expected behavior

Calling `com.orientechnologies.orient.core.db.OPartitionedDatabasePool#acquire` twice should not return the same instance.

There was a similar question (but the reverse) asked in https://github.com/orientechnologies/orientdb/issues/8581. I am completely in favour of this change but it seems that the p

[2020-11-18 04:42] #9446 closed, assigned to nobody

[2020-11-18 06:38] andrii0lomakin commented on #9445
Hi, very likely you will have issues with OOM killer. The process consumes more memory than there is the amount of limit set.

[2020-11-18 07:07] #9445 closed, assigned to nobody

[2020-11-18 07:29] andrii0lomakin commented on #9444
Hi,
I am working on the fix right now.
But unfortunately, it will be placed only in 3.1 version because it requires changes in the binary structure of the cluster.

[2020-11-18 09:29] madmac2501 commented on #9444
Thanks a lot for the good news even if it's only in 3.1.

Please let me know when it's on a git branch to test it.

Thanks!

[2020-11-18 09:46] andrii0lomakin commented on #9444
It is on https://github.com/orientechnologies/orientdb/tree/laa_free_space_map but not fully fixed yet. There is not too much to test. I will let you know when you can test. Likely it will take two weeks.

[2020-11-18 10:36] Jotschi commented on #9444
@laa This seems to be related to our OrientDB 3.1.x support ticket `734751 / 2020 Database fragmentation / tombstoning not working as expected` can you confirm this?

[2020-11-18 10:41] andrii0lomakin commented on #9444
@Jotschi yes that is same.

[2020-11-18 12:31] jackiemoo opened #9447 "local and remote ids assigned are different"
### OrientDB Version: 3.0.19
### Java Version: 1.8
### OS: centos 7.5
## Expected behavior
Cluster have 3 nodes.
Create Vertex class 'test'.
## Actual behavior
com.orientechnologies.orient.server.distributed.ODistributedException: Error on creating cluster 'test' on distributed nodes: local and remote ids assigned are different

## Steps to reproduce
1. Orient studio.
2. Create Vertex class 'test'

[2020-11-19 02:12] #9447 closed, assigned to nobody

[2020-11-19 23:08] sanvir10 opened #9450 "I can't create a edge with with the same old edge name that i deleted"
### OrientDB Version: 3.1.0
### Java Version: 1.8
### OS: GKE(Ubuntu)

## Expected behavior
I expect that afetr i delete a edge i can create a edge with the same name.

## Actual behavior
When i try create a edge with same name old edge that i deleted i get error.

![image](https://user-images.githubusercontent.com/12051806/99735139-b164ee00-2a89-11eb-8d0a-24aedb609fd4.png)

## Steps to reproduce

[2020-11-20 03:09] steinybot opened #9451 "Can't use OServer if a ODatabasePool exists."
### OrientDB Version: 3.0.34
### Java Version: 1.8
### OS: Amazon Linux 2

## Expected behavior

It should be possible to have a `ODatabasePool` for internal use while still accepting remote connections via `OServer`.

## Actual behavior

If the `ODatabasePool` has an active connection then a remote request to connect to the `OServer` will fail with:
[code]

## Steps to reproduce

1. `pool = new O

[2020-11-22 10:20] andrii0lomakin opened #9453 "Put database in read only mode in case of error inside storage"
Put the database in the read only mode in case of error inside storage to avoid data corruption.

[2020-11-22 10:21] andrii0lomakin opened #9454 "Prevent closing of database if it is not open"
Prevent closing of the database if it is not open to avoid mysterious exceptions during the database close.

[2020-11-22 10:23] andrii0lomakin opened #9455 "Use varhandles in the JDK11"
Use varhandles in the JDK11 for the WAL, page and data serialization to avoid the overhead of polymorphic calls of ByteBuffer.

[2020-11-22 19:12] PhantomYdn opened #9456 "OrientDB REST API works with encoding incorrectly"
### OrientDB Version: 3.1.4
### Java Version: 8
### OS: Any

There are 2 HTTP headers which related to encoding: `Accept-Encoding: ` and `Content-Encoding: `.  There is use case: Client is OK to receive GZIPped answer from the server, but request is plain. In this case   `Content-Encoding: ` will be absent, but `Accept-Encoding: ` will have `gzip`.  But OrientDB, for some reason instead of `Conten

[2020-11-23 00:21] PhantomYdn commented on #9421
Issue can be closed, because corresponding PR was merged. Thank you, @tglman !

[2020-11-23 00:21] #9421 closed, assigned to nobody

[2020-11-23 01:55] quanghaisoft commented on #9220
We used orientdb for nearly 1 year with huge data, 6 node cluster, initially had this problem, later , all the reason is because we do not know how to program with it, do not know the configuration. , now almost a year, we have not encountered this error again, the system is running very well

[2020-11-23 11:20] tolgaulas opened #9458 "Enterpise web sites are not working, how to buy licence"
https://orientdb.com/orientdb-enterprise/ and many other sub page  or orientdb.org is ending with a landing page inviting to SAP Enterprise OrientDB, for sometime?

How one can purchase a license?

[2020-11-24 10:05] andrii0lomakin commented on #9444
Fixed. Please try and provide feedack.

[2020-11-24 10:05] #9444 closed, assigned to andrii0lomakin

[2020-11-24 21:39] PhantomYdn commented on #9456
Please consider to merge PR #9457

[2020-11-24 22:24] adriancoca opened #9459 "File with name config.nd does not exist in storage"
### OrientDB Version: 3.1.5
### Java Version: 1.8
### OS: Windows Server 2019

## Expected behavior
When trying to login in Orient studio in console i have the next message.
It seems that after a server restart something happend only to a database.

2020-11-25 00:01:19:840 INFO  Free space map is absent inside of config cluster of storage dev . Information about free space present inside of each p

[2020-11-25 06:23] andrii0lomakin commented on #9459
Hi @adriancoca , could you provide the full stack trace?

[2020-11-25 06:43] andrii0lomakin commented on #9459
@adriancoca I have run several tests and can not reproduce your issue if you could share your database with me to reproduce it. That would be good.

[2020-11-25 06:50] adriancoca commented on #9459
@laa Can you give me an email to send you an archive with the broken database?

This is the full message from console.

com.orientechnologies.orient.core.exception.OStorageException: Exception during execution of atomic operation inside of storage dev
	at com.orientechnologies.orient.core.storage.impl.local.paginated.atomicoperations.OAtomicOperationsManager.executeInsideAtomicOperation(OAtomicOpe

[2020-11-25 06:51] andrii0lomakin commented on #9459
@adriancoca I would need an original version of the broken database. Do you have one? So I will reproduce the whole cycle myself. ?  a.lomakin@sap.com

[2020-11-25 10:29] johny65 commented on #9377
Hi @laa, I will try again in a few days.

[2020-11-25 11:34] johny65 opened #9460 ""Vertex id can not be null""
### OrientDB Version: 3.0.35
### Java Version: OpenJDK version "11.0.9.1" 2020-11-04
### OS: Ubuntu 20.10

## Expected behavior

Call to `OrientVertex::getEdges` without exception.

## Actual behavior

Sometimes calling to `getEdges` on a vertex throws an `java.lang.IllegalArgumentException: Vertex id can not be null`. If I retry the operation, the call is successful. I don't know in which conditi

[2020-11-25 16:10] scrabb opened #9461 "OIndexManager is marked as deprecated, what should be used to interact with existing indexes instead"
### OrientDB Version: 3.1.5
### Java Version: 8
### OS: Windows 10

OIndexManager is now marked as deprecated, as is getIndexManager() from OMetadata.

What are correct methods for performing tasks on indexes now that these are not to be used?

[2020-11-25 17:50] madmac2501 opened #9462 "Database slowness and using all cpu after inserting and deleting vertex multiple times"
### OrientDB Version: 3.1.5
### Java Version: 1.8
### OS: Ubuntu

## Expected behavior
CPU usage doesn't increment over time

## Actual behavior
Node insertion is very slow and cpu usage is 100% for all cpu. I can share a database where I reproduce it.

This is a thread dump

Full thread dump OpenJDK 64-Bit Server VM (11.0.9.1+1-Ubuntu-0ubuntu1.18.04 mixed mode, sharing):

Threads class SMR info:

[2020-11-25 17:51] madmac2501 commented on #9462
@laa please could you take a look at this?

thanks a lot

[2020-11-26 05:59] Solido opened #9463 "Support Redhat Quarkus extension"
Hello !

Quarkus is the Redhat framework for microservice
It use the concept of extension to bind to the Java world solutions like any DB, GraphQL, S3, etc
Dozen of extensions are available
https://lordofthejars.github.io/quarkus-cheat-sheet/#_version_1_9_0_final

I can integrate OrientDB using common code but it would help a lot to have an official implementation.
https://quarkus.io/guides/#writi

[2020-11-26 08:07] andrii0lomakin commented on #9462
@madmac2501 I will, but I am bussy now. Once I have time I will check it.

[2020-11-27 08:50] AstionMartionChan opened #9464 "How to get Vertex and Edge Data with SQL"
### OrientDB Version: 3.0.0
### Java Version: 1.8

## Expected behavior
   When I execute SQL through Studio Graph interface, it return Vertex and Edge data, but when I executes the same SQL through Java API(ODatabaseSession) it return only Vertex data.
   I found that the SQL query through Graph interface, the request header has the "mode=graph" set, so i want to ask how
can i set mode=graph and

[2020-11-27 09:26] florian-stoica-tlabs opened #9465 "factory.close() keeps the java process hanging indefinitely"
### OrientDB Version: 3.0.22
### Java Version: 11
### OS: Ubuntu 20/Windows 10/MacOS

## Expected behavior
factory.close() keeps the java process hanging indefinitely

## Actual behavior
factory.close() to eventually end

## Steps to reproduce
![image](https://user-images.githubusercontent.com/71690732/100433059-2e542100-30a3-11eb-9870-ca88b2864337.png)

I just browse around my app therefore data

[2020-11-27 10:51] andrii0lomakin commented on #9465
Hi @florian-stoica-tlabs ,
I am sorry, but we perform tasks which you describe many times a day without any problems.
Could you send us the test to reproduce?

[2020-11-29 06:57] Solido commented on #9348
Working Update
`GRANT POLICY readYourRecords ON database.class.MyClass TO developer`

Just need to update the documentation

[2020-11-30 12:06] tglman commented on #9465
Hi @florian-stoica-tlabs,

We had in the past similar issues, but not related to the stack you are posting, can you try the latest hotfix of 3.0.x series (current 3.0.35)
Bye

[2020-11-30 12:15] tglman commented on #9411
Hi @aberdev,

From this error seems that you are doing a transaction that include an indexed record, and there is an issue with the value of the field you are indexing, can you share more info on what kind of schema you have and what kind of record participate in the transaction ?

Bye

[2020-11-30 13:58] madmac2501 opened #9467 "Index size in disk is increasing over time without limit, deleting vertex don't reduce disk usage by indexes"
### OrientDB Version: 3.1.5
### Java Version: 1.8
### OS: Linux

## Expected behavior
Index file size don't grow indefinitely.

## Actual behavior
Index files with extension .cbt grows over time without limit.

## Steps to reproduce
Run these commands in OrientDB web ui. Insert vertex and then delete them, after each insertion/deletion of vertex index files are growing in disk

CREATE CLASS MyClas

[2020-11-30 14:34] andrii0lomakin commented on #9467
Hi,
We aware about this issue.
It will be addressed soon.

[2020-11-30 16:17] madmac2501 commented on #9462
I re reviewed this issue and I found that the problem was that I didn't configure the diskCache size, this caused that a big diskCache value was used and slowed down everything as memory was overused.

Sorry for the noise.

[2020-11-30 16:17] #9462 closed, assigned to nobody

[2020-11-30 18:53] pkendall64 opened #9468 "Exception using IN/OUT in remote query"
### OrientDB Version: 3.1.5
### Java Version: 8.0.222.hs-adpt
### OS: OS 11 (Big Sur)

## Expected behavior
Executing a query that includes LET with traversals to IN and OUT and combinations returns the results for following the edges in the methods.

## Actual behavior
Exception on server side
either `java.lang.ClassCastException: com.orientechnologies.common.collection.OMultiCollectionIterator c

[2020-12-01 06:15] PhantomYdn opened #9469 "Defect in Prepared Statements parser and IN condition"
### OrientDB Version: 3.1.5
### Java Version: 8

Imagine OClass with at least 2 properties: link (OType.LINK) and linklist (OType.LINKLIST).
Previously (in OrientDB v2) the following 2 prepared statements will be considered correct and will work as expected:

[code]

But for some reason in OrientDB v3 second option stopped working. To make it working you should have it "corrected" in the following

[2020-12-01 07:56] luigidellaquila commented on #9468
Hi @pkendall64

Thank you very much for reporting, I'll check it ASAP and let you know

Thanks

Luigi