[2014-12-12 08:31] #3090 closed, assigned to lvca

[2014-12-12 09:22] #2938 closed, assigned to lvca

[2014-12-12 10:42] lvca opened #3178 "Avoid index rebuild if TX mode is always used"
Working always with transactions, the index rebuilding is unnecessary. In this case you could set this in server.sh file in last line:

[code]

In 2.0 we're going to automatically recognize this case and avoid index rebuild at all if you never executed out of transaction commands.

[2014-12-12 11:06] AaronSchulz opened #3179 "create edge failing with class alias"
create edge HPwSV from (select from Item where id='1') to (select from Property where id='1036') content {"val":"113","oid":"1","iid":"1036","rank":0,"best":1,"sid":"Q1$f5d5115d-489a-7654-9a0a-5eea5be80d07"}

---

This gives "Class HPWSV was not found". This worked in 1.7.10 but is giving me trouble in 2.0M3.

[2014-12-12 12:04] vitorenesduarte opened #3180 "Cast OSQLCommand result to class that extends Document"
Hi, I have something like this:

[code]

But it doesn't let me downcast ODocument to MyClass.
Is there another way I can achieve this?

Thanks,

[2014-12-12 16:45] magstellon opened #3181 "Out of memory after 644593 records loaded"
Hi,

I use OrientDB ETL tool in order to import 1 700 000 records from an RDBMS. A record contains 44 fields which are varchar2, number and timestamp.

After about 644 000 records loaded into OrientDB, i get an error message :
<code>Error on creating record in cluster: com.orientechnologies.orient.core.storage.impl.local.paginated.OPaginatedCluster@1f3e27b
com.orientechnologies.orient.core.excepti

[2014-12-12 17:28] adithyank opened #3182 "'OStorageException: File with id 155 does not exist' during Index rebuilding"
Creating this issue as per the comment by @laa in https://groups.google.com/forum/#!topic/orient-database/NqijZy-IUz0

OrientDB version : 2.0-M3

Our application was killed (kill -9) due to OutOfMemory. When we start next time, index rebuilding started. After some time, this Exception has come....
Will it impact in 'not creating the index'???
i.e., the application will be able to retrieve the data

[2014-12-12 17:31] adithyank opened #3183 "OTimeoutException: Timeout on acquiring exclusive lock against resource of class"
I am creating this issue based on the comment by @laa at https://groups.google.com/forum/#!topic/orient-database/MXE-4DHZoJ8

---
OrientDB Version : 2.0-M3

our software reads from doc db in multi threads while there is another only one thread creating records.......!

1. What is the reason for this Exception???
2. Does this mean that the writing thread's transaction has not been committed/rolledb

[2014-12-12 21:36] uttamatsimility opened #3184 "Client login hangs due to wait without timeout"
Issue:
If orientdb server fails to load plugin, then one can use studio to access OrientDB, but accessing it via console.sh or OObjectDatabaseTx results into forever lock on client side. This is kind of edge case, but can be handled better by storing state on OServer.

Server Code Structure:
- OServer.java is using "CountDownLatch startupLatch" to hold other threads from using server prior to setu

[2014-12-12 23:45] AaronSchulz opened #3185 "Support deleted all incoming or outgoing edges from a vertex"
It would be nice if `delete edge from #RID` or `delete edge to #RID` were supported.

I'm not sure what the fastest way to delete outgoing edges at the moment.

[2014-12-13 01:54] AaronSchulz opened #3186 "TIMEOUT often does not work"
Queries sometimes due not respect TIMEOUT at, especially if there are subqueries. E.g.

SELECT id FROM (SELECT FROM Item WHERE (id=1339 OR id=350 OR id=34 OR id=64 OR id=747 OR id=24242 OR id=636 OR id=3) AND ((sitelinks CONTAINSKEY 'enwiki'))) TIMEOUT 5000

Ignoring TIMEOUT on large queries often leads to slow death by jvm GC.

[2014-12-13 08:40] uttamatsimility opened #3187 "R: java.lang.IllegalArgumentException <Signal already used by VM: INT>"
I am trying to use R with OrientDB JDBC driver. The JDBC connection open fails with java.lang.IllegalArgumentException <Signal already used by VM: INT> error. The OSignalHandler#installDefaultSignals seems to be the culprit. For some reason this method has placed listenTo("TRAP", iListener) call under try-catch, but not others. Placing all 3 listenTo calls under try-catch helped me resolve the iss

[2014-12-13 11:17] sanjaypavangp opened #3188 "Getting error result with @rid"
I'm trying to get the result of a query, but its giving me error.
" SEVERE Internal server error:
com.orientechnologies.orient.core.exception.OQueryParsingException: Error on par
sing query
Query:  rid = ' "

I'm using C# and and WebResponse to get the desired output. Below is the lines of code.

string query = "/query/Tutorial/sql/select @rid, firstName, lastName from profiles where @rid like '#1

[2014-12-13 16:32] lvca opened #3189 "Disable lightweight edges even on create database from console and API"
Lightweight edges can cause troubles on non expert users, so it's much better to put this feature as optimization than the default one.

See also: https://github.com/orientechnologies/orientdb/issues/3065.

[2014-12-13 16:33] #3189 closed, assigned to lvca

[2014-12-13 17:57] adithyank opened #3190 "Last position of provided data interval [2988528] is more than size of allocated area [65552]"
OrientDB version : 2.0-M3
JDK : Oracle JDK 1.7.0_55
OS : CentOS 6.5

The below Exception came during commit......

[code]

When I tried to further narrow-down the cause of the issue,

I observed the below things

1. When I try to write the below ODocument this Exception comes
  * DocumentType name : POR_SEQUENCE
  * It has two indices
     * one UNIQUE_HASH_INDEX on key
     * another NOTUNIQUE_HA

[2014-12-13 19:36] #3188 closed, assigned to lvca

[2014-12-13 20:04] #3180 closed, assigned to lvca

[2014-12-13 21:55] AaronSchulz opened #3191 "Mass insertion of edges slows down over time"
Running a script that inserts millions of edges starts of fast and then slows down to crawl (1 edge/second) after hours. Disk I/O is goes down though CPU use is normal. If I restart the server, it exits fairly quickly as normal. I can immediately restart the server and resume the import script, and edges are added very quickly again. I'm not seeing leaks in the import script (it would just OOM if

[2014-12-13 22:34] #3187 closed, assigned to lvca

[2014-12-13 22:48] #3185 closed, assigned to lvca

[2014-12-14 00:51] garrett-gottlieb opened #3192 "(Client=55) ArrayIndexOutOfBoundsException after importing ~10M records"
After running my ETL overnight, I woke up to a frozen computer, so I had to reboot it. It seems my database is now in an invalid state. I can connect to it, but I can't do anything.

[code]

Running a query like
[code]
yields
[code]

[2014-12-14 00:58] garrett-gottlieb opened #3193 "(Client=55) Can't drop class that extends ORestricted"
I'm wondering how to drop a class that extends ORestricted.
[code]

[2014-12-14 03:39] thecyman opened #3194 "During Large Export: Canceling Causes Issues"
How to reproduce:
- begin exporting a large (10GB+) DB with command in the console: `export database /db-export/ouser-dec-13.export -includeClass OUser`
- Cancel it in the middle.
- Try connecting to OrientDB via console.
- Cannot connect. It says "timer already canceled":

[code]

Full export text

[code]

[2014-12-14 11:14] #3194 closed, assigned to lvca

[2014-12-14 15:38] uttamatsimility opened #3195 "Once connection pool is exhausted, cannot shutdown orientdb cleanly"
There could be 2 issues at play.

1. I had a bug in my code that was not closing OrientDB connection after use. The problem is, those connections are left open even if I kill the client java process. What is the default timeout for connection?

2. Once we run into such situation, shutdown doesn't work because shutdown thread cannot find the connection to send the kill signal. There is a need for a

[2014-12-15 06:24] sanjaypavangp opened #3196 "Auto incrementing primary key"
I'm trying to auto increment the id, which is the primary key, of my class when I insert a record to it.
But I see no option to do so.

[2014-12-15 08:23] #3178 closed, assigned to andrii0lomakin

[2014-12-15 08:25] andrii0lomakin opened #3197 "Reduce database creation time"
After https://github.com/orientechnologies/orientdb/issues/3178 database creation become slow. We should improve it.

[2014-12-15 09:04] sanjaypavangp opened #3198 "Adding clusters"
How do I add cluster name with a space?
It truncates the space and creates it which is not right.
Eg. alter class states addcluster 'My States'

[2014-12-15 09:10] sanjaypavangp opened #3199 "Queries"
How do I run more than 1 query at a time in the "Browse" window?
Eg.
Select \* from A; select \* from B;

[2014-12-15 12:18] #3198 closed, assigned to lvca

[2014-12-15 12:19] #3199 closed, assigned to lvca

[2014-12-15 13:27] andreyvk opened #3200 "Problems re-deploying on Tomcat 8 with OrientDB 2.0-M3 (similar to #2734)"
Hi guys.

I guess this issue is similar to #2734, however since the setup is different and that issue is closed i opened a new one.

Basically i have an IntelliJ 13 + Tomcat 8 + Spring 4.1.2 + OrientDB 2.0-M3. when I redeploy war file to the running instance of a Tomcat a bunch of errors regarding dangling threads is thrown in the log. After a few re-deployments Tomcat runs out of memory and becom

[2014-12-15 13:46] sinfex opened #3201 "DROP CLASS does not take existing edges into account?"
Dropping a class does not take care of any edges connecting records of that class.

[code]

Not only does that leave both lightweight and non-lightweight edges, but it also results in a situation where issuing a ***repair database*** using the console does not help removing the invalid relations.

[2014-12-15 14:11] #3175 closed, assigned to tglman

[2014-12-15 14:48] mindplay-dk opened #3202 "Denormalization in the REST API"
How come e.g. LINKs are denormalized when using the REST API?

I would expect embedded documents to appear as embedded in their parent document, because they're value objects, not entities. But links? These are references to other entities. Only the reference itself (the key) is actually part of the parent aggregate - the entity itself is not. Why should it appear inside the entity as though it we

[2014-12-15 16:12] luigidellaquila opened #3203 "fail to create a network of memory-only databases"
Scenario:
- start a distributed server
- create an in-memory database
- start another distributed node

the fist node tries to execute a backup to share the db and fails (cannot execute a backup on an in-memory instance)

[2014-12-16 03:25] AaronSchulz opened #3204 "Hash indexes aren't used for IN with composite indexes"
In spite of an (iid,val) hash index, the following query is very slow:

orientdb {db=WikiData}> explain SELECT id FROM (SELECT expand(out) FROM HPwSV WHERE iid=311 AND (val IN ['cat','says','meow'])) TIMEOUT 5000

Also, slow is:

orientdb {db=WikiData}> explain SELECT id FROM (SELECT expand(out) FROM HPwSV WHERE iid=311 AND (val IN ['cat'])) TIMEOUT 5000

However, the next query is very fast:

ori

[2014-12-16 05:13] adithyank opened #3205 "OStorageException: File with id 184690147382 does not exist"
OrientDB Version : 2.0-M3
JDK : Oracle 1.7.0_40

During our Database building exercise, this Exception is coming during commit call

[code]

The following two different values are coming during this Exception

[code]

Should I give any more information. Pls advice

[2014-12-16 05:30] adithyank opened #3206 "RecordId cannot support negative cluster id. You've used: -4710"
Orient Version : 2.0 M3
JDK : Oracle 1.7.0_55

During our Database building exercise, this Exception is coming during commit call

[code]

The following different values are coming during this Exception

[code]

Should I give any more information. Pls advice

[2014-12-16 12:05] vitorenesduarte opened #3207 "ODatabaseRecordThreadLocal.INSTANCE.set(...)"
Hi,

[code]

I obtain self variable with a database connection open.
But after closing it, I'm no longer able to do something like:

[code]

because there's no ODatabaseRecordThreadLocal.INSTANCE.

Is there a workaround besides ODatabaseRecordThreadLocal.INSTANCE.set(...)?

Thanks,

[2014-12-16 13:39] ghost opened #3208 "A context variable seems to be broken in a sub-sub-query"
Hi!
My database model has vertices of several types: Service, ServiceActionRelation and Action. The vertices can be connected with edges of the Rel class. Let's assume the following graph: a Service vertex with four outcoming edges to the ServiceActionRelation vertices, which are connected to the corresponding Action vertices.
The ServiceActionVertex has a service_coeff field. So, I have something

[2014-12-16 14:17] #3197 closed, assigned to andrii0lomakin

[2014-12-16 16:29] #3207 closed, assigned to luigidellaquila

[2014-12-16 17:08] lvca opened #3209 "Concurrent open cause Exception"
By debugging the db.open() it checks that storage.isClosed(), but during the opening, the status is OPENING, while it should rather wait for the storage to be open.

[2014-12-16 21:15] AaronSchulz opened #3210 "Error on unmarshalling JSON content for record"
In SNAPSHOT 2.0, I'm no longer able to insert a certain vertex. In the logs I see:

Caused by: com.orientechnologies.orient.core.exception.OSerializationException: Found invalid ] character at position 453 of text {"hash":"4253b5743cfd97037e15092839f2f82b5526b6c7","snaks":{"P854":[{"snaktype":"value", ...

A simplified failing command is shown below:

insert into v content {"P421":{"Q7525$5c0422b4

[2014-12-16 22:35] AaronSchulz opened #3211 "Queries strangely become slow when using a subquery"
This query is very fast:

explain SELECT expand(out) FROM HPwIV WHERE ((iid=5 AND pid=31)) LIMIT 5) TIMEOUT 5000

The next query is very slow (ignoring the timeout and OOMing the server):

orientdb {db=WikiData}> explain SELECT id FROM (SELECT expand(out) FROM HPwIV WHERE ((iid=5 AND pid=31)) LIMIT 5) TIMEOUT 5000

Since all the extra SELECT has to do is look at 5 rows, it's odd that this happens.

[2014-12-16 23:59] #3186 closed, assigned to lvca

[2014-12-17 01:43] phpnode opened #3212 "REST and Binary Protocols return different results"
Please see https://github.com/codemix/oriento/issues/163 for the full details, but TLDR;

The binary protocol and REST protocols return different results for this query:

[code]

**Binary Protocol Returns**

[code]

**REST API Returns**

[code]

There is a [test case  in oriento which replicates the issue](https://github.com/codemix/oriento/blob/163-unexpected-query-result-set/test/bugs/163-unexpe

[2014-12-17 08:18] andreyvk opened #3213 "Cross data center replication?"
Hi,

I went through the Distributed Architecture guideline. It looks like the replication is supported on within a cluster which is on the same network (or sub-net). My question is: does OrientDB support replication across multiple data centers (e.g. like CouchDB) which are all on different networks?

[2014-12-17 08:39] ben-manes opened #3214 "Upgrade ConcurrentLinkedHashMap to resolve OSGi step"
Please upgrade to v1.4.1, which was released to resolve the oversight as described in your [installation guide](https://github.com/orientechnologies/orientdb/wiki/Tutorial-Installation#use-inside-of-osgi-container). Sorry about the trouble.

[2014-12-17 09:03] mindplay-dk opened #3215 "Binary serialization: simplified variable-length integers"
I would like to propose an option to enable an alternative, simplified encoding scheme for variable-length integers.

A bit of context: I'm working on a binary client for PHP, and it took me well over a week of after-hours tinkering to get a working implementation of functions to read/write variable-size integers. The implementation is rather slow, with no way to optimize, since PHP only has one,

[2014-12-17 10:05] AaronSchulz opened #3216 "delete vertex fails and OOMs server"
This command fails:
delete vertex Item where id=17153945

That vertex only has two ongoing links (1 for out_HP and 1 for out_HPwIV, as [size=x] shows). There are no incoming links.

Trying to delete via #RID fails similarly:

delete vertex Item #11:7996381

[2014-12-17 10:58] lvca opened #3217 "SQL SCRIPT: begin/commit should throw exception if running in NoTx db"
As the subject

[2014-12-17 11:58] #3217 closed, assigned to lvca

[2014-12-17 12:39] n0lf opened #3218 "fetching error with ORecordIDs in map in orientdb 1.7.9"
I have record with a map linking to orecordbytes. When I try to fetch this record and some linksets with a fetchplan:
select from 'someRecord' FETCHPLAN *:1

I get a nullpointer exception in java (using the obejct API). Using studio I don't get an error but I can see in the server log somethign like: "Fetching error on record 'someRecord'
ORecordBytes cannot be cast to ODocument ->OFetchHelper.fet

[2014-12-17 13:16] rtm81 opened #3219 "cleanup com.orientechnologies.common.concur.lock.OReadersWriterSpinLock"
When i stop my application with embedded OrientDB server in Tomcat 7,
i get Memory-leak warnings from Tomcat.

Most of the warnings are related to com.orientechnologies.common.concur.lock.OReadersWriterSpinLock. It seems that the entries in ThreadLocal are not cleared during shutdown of the server.

Dez 17, 2014 1:27:24 PM org.apache.catalina.loader.WebappClassLoader checkThreadLocalMapForLeaks
SC

[2014-12-17 13:23] #3179 closed, assigned to tglman

[2014-12-17 13:32] #3161 closed, assigned to andrii0lomakin

[2014-12-17 16:03] MarcelPitch opened #3220 "LET block + $parent.$current"
Hi,

I'm working with a **graph** database on **orientdb 2.0-M3**.

When I execute this really simple request (on a small base, it's better) :

[code]

I get the right `@rid` for `Rid1`, but always the _last vertex one_ for `Rid2`.

I don't think it's the logical behavior of $parent.$current.

WDYT ?

Have a nice day !

[2014-12-17 17:09] #3210 closed, assigned to luigidellaquila

[2014-12-17 17:23] #3184 closed, assigned to tglman

[2014-12-17 17:31] garrett-gottlieb opened #3221 "(Client=55) OUsers getting created without mandatory fields and causing errors during other queries"
When querying for posts made by a set of users, i get a NullPointerException:

[code]

There is also a fetching error like this:
[code]

or an `ODirectMemoryViolationException`:
[code]

[2014-12-17 18:20] uttamatsimility opened #3222 "OSchemaException: ORole.rules that is not compatible with the type LINKMAP"
Upgraded the OrientDB from 2.0-M3 to 2.0-SNAPSHOT. I tried to load the db created with earlier (M3) version of OrientDB. Now I am getting following error

Caused by: com.orientechnologies.orient.core.exception.OSchemaException: The database contains some schemaless data in the property ORole.rules that is not compatible with the type LINKMAP
	at com.orientechnologies.orient.core.metadata.schema.OC

[2014-12-17 21:16] garrett-gottlieb opened #3223 "(Client=55) Can't open plocal database because Timer cancelled"
What time is cancelling the opening of the database?
[code]

[2014-12-17 21:18] mindplay-dk opened #3224 "Invalid serialized document on Windows (?)"
Running the [latest snapshot](https://oss.sonatype.org/content/repositories/snapshots/com/orientechnologies/orientdb-community/2.0-SNAPSHOT/orientdb-community-2.0-20141217.112353-489-distribution.zip) under Windows, when doing a basic `REQUEST_RECORD_LOAD`, the returned serialized appears to have an incorrect number of bytes on the class-name:

[code]

The class name is "Person" (80, 101, 114, 115

[2014-12-18 05:36] AaronSchulz opened #3225 "Console: selecting incoming vertexes ignores timeout and OOMs"
This query fails:
select in() from Property where id=279 TIMEOUT 5000

The following query works fine:
select expand(in()) from Property where id=279 TIMEOUT 5000

[2014-12-18 06:38] darkredz opened #3226 "Support disabling of validation to import a database remotely"
I just downloaded the latest 2.0-rc1 from the official website. I tried to reimport data that is exported from 2.0-M3 with schema and data through the console: import database backup.gz.
It seems that it failed to import the data after creating the schema, and indexes aren't created as well.

I tried with 2 database, and it had the same error where there's field of LINKLIST type.
Error: has been d

[2014-12-18 07:06] AaronSchulz opened #3227 "UPDATE causes edges to be invisible"
There is no UPDATE EDGE command and using regular UPDATE causes the edges not to show in SELECT (the out_\* and in_\* columns will be one). It took me a few moments to figure out what was causing this (I was doing an update all vertexes).

[2014-12-18 07:24] #3227 closed, assigned to nobody

[2014-12-18 08:29] luigidellaquila opened #3228 "Distributed + TinkerPop Frames leads to inconsistent edges"
Here is a simple test case

[code]

It only happens with distributed mode (even a single node started with dserver)

[2014-12-18 09:30] #3220 closed, assigned to lvca

[2014-12-18 09:33] #3181 closed, assigned to lvca

[2014-12-18 09:48] lvca opened #3229 "SQL: new operator/function to create Cartesian Product like in RDBMS"
select EID as DeviceId, EXPAND(userlinkset.EID) as UserId from DEVICE_ID

This doesn't work i.e. does not project deviceId and userid fields.

what i want is

[code]

[2014-12-18 09:49] #3213 closed, assigned to lvca

[2014-12-18 11:23] #3224 closed, assigned to tglman

[2014-12-18 13:22] #2919 closed, assigned to tglman

[2014-12-18 14:07] uttamatsimility opened #3230 ""New DB" doesn't make use of server.database.path property"
I have set server.database.path property in <orientdb-install-path/conf/orientdb-server-config.xml so that I can keep db outside of OrientDB install path. OrientDB reads any database from the external folder and uses it. But when I use studio to create new db, the database gets created under <orientdb-install-path>/database folder. The /listdatabase service doesn't load dbs from both locations, he

[2014-12-18 14:39] #3230 closed, assigned to lvca

[2014-12-18 17:48] AaronSchulz opened #3231 "SQL NOT operator"
According to https://github.com/orientechnologies/orientdb/wiki/SQL-Where , NOT is not supported.

Some queries seem to work with correct results anyway:

select id from Property where id NOT IN [279,16]
select id from Property where NOT (id IN [22,32,35,19])

Is this just outdated documentation or are there edge cases that don't work?

[2014-12-18 19:04] Ivanov-Yuriy opened #3232 "impossibility to delete a property"
after peforming the incorrect request to the data base through the studio, a property named "**= sec**" has developed

Now it's impossible to delete is,due to the constant indication of mistake

com.orientechnologies.orient.core.sql.OCommandSQLParsingException: Error on parsing command at position #20: Expected <class>.<property>. Use DROP PROPERTY <class>.<property> Command: DROP PROPERTY xDirs.=

[2014-12-18 22:35] garrett-gottlieb opened #3233 "(Client=55) Deadlock caused by user without password"
There are two issues here:
1. A user was created without a password, and
2. This caused a deadlock when an ETL tried to work with this record

Here is the output:
[code]

The real issue seems to be how these users are getting created without mandatory fields. I'm using the ETL to create users, and it seems to work for 99% of users but for some reason some are inserted without mandatory fields. It

[2014-12-19 00:04] #3086 closed, assigned to lvca

[2014-12-19 01:50] #3001 closed, assigned to lvca

[2014-12-19 01:50] #3228 closed, assigned to lvca

[2014-12-19 01:57] #2692 closed, assigned to lvca

[2014-12-19 02:07] garrettg123 opened #3234 "(Client=55) Deleted records in _allow LINKSET should be removed"
When an OUser is deleted, it should be removed from any _allowUpdate LINKSETS. However, I think that LINKSET doesn't provide this functionality. In that case, it should just not throw a SEVERE error. Queries should still grab the record, but 'fix' the record and exclude it from the LINKSET.

[code]

[2014-12-19 02:54] garrett-gottlieb opened #3235 "(Client=55) OQueryParsingException should print out the whole query, not just the erroneous field"
As I'm running the ETL, errors that just tell me I have a misformatted date are useless as by the time I see the error, the error record has been lost or skipped. It would be much more useful if I could see the entire query so I could dig deeper into the record.

[code]

[2014-12-19 03:20] garrettg123 opened #3236 "(Client=55) URGENT Records over allocated area [65552] are empty and cause errors whenever used"
Our most popular users have 100k followers and it looks like we've broken the limit for OrientDB. This is extremely urgent, as all of our user data for the most important users on our app seems to be corrupt.

Here is an example of output where the ETL saves a record after updating it, but the record is too large:

[code]

Here is the corresponding ETL code:

[code]

[2014-12-19 04:47] mdymczyk opened #3237 "[Distributed] Weird 100% cpu utilization on acquiring new connection"
Version: 2.0-RC
Number of nodes: 3

I was trying out the latest release, I'm not sure if it's the correct way but I was getting the connection like this:

[code]

When two users tried to do the same operation (list all entries in my DB) one thread would get blocked and the second one, holding the lock, would just do... nothing?

[code]

As you can see one is blocked and the other one is just there

[2014-12-19 07:39] garrettg123 opened #3238 "MissingFormatArgumentException when disconnected from database"
When I run a command like `list classes` in the console but I've been disconnected from the db, I get this:

[code]

[2014-12-19 08:34] garrett-gottlieb opened #3239 "(Client=55) Index with ignoreNullValues:false not being used"
With the following index:
[code]

And running the following query:
[code]

I get this result, where the reads are the size of my table (but most posts don't have photos):
[code]

It shows that the index is not being used. Why?

[2014-12-19 09:26] phpnode opened #3240 "Embrace protobufs for the binary protocol."
This is something I've been badgering people about for several months but I never opened a specific issue for it before.

There is a protocol definition here - http://codemix.github.io/orientdb-protobufs/

There is a rationale here - https://github.com/codemix/orientdb-protobufs#orientdb-protobufs-experiment

I believe that on Orient's side there's comparatively little work involved in supporting

[2014-12-19 13:04] #3238 closed, assigned to lvca

[2014-12-19 15:11] lvca opened #3241 "Paginated Query at storage level"
Query uses an iterator to fetch from the storage. This means that ask one-by-one all the records. For each call to the storage this means a READ LOCK at storage level + READ LOCK at record level.

On concurrent environment a query could disrupt performance of other read/writes for the huge contention on storage+record lock mgr.

My proposal is to allow to fetch X records per call, so we could crea

[2014-12-19 15:52] mathieubodin opened #3242 "How to perform Java unit test against in memory OrientDB ?"
Hi, I'm wondering what is the preferred way of testing Java code against an OrientDB server.
My case is quite simple: I'm using OrientDB as the database backing the application. I tried instantiating it from code, but quickly I'm facing strange behaviors, certainly due to misuses from my code...

So, do you have any suggestion, best practice ? I'm really looking for advices :D

[2014-12-19 17:09] vitorenesduarte opened #3243 "Prepared Query Not Working"
Hi,

[code]

Why does this not work?
I'm using 2.0-rc1.
Thanks,

[2014-12-19 17:54] #3153 closed, assigned to tglman

[2014-12-19 18:22] #3144 closed, assigned to lvca

[2014-12-19 22:49] AaronSchulz opened #3244 "LIMIT sometimes ignored in subqueries"
SELECT \* FROM HIaPV WHERE ((iid=2590631 AND pid=31)) LIMIT 5

...gives 5 rows as expected...

SELECT out.id AS id,out.labels['en'] AS label,out.sitelinks['enwiki'] AS link FROM (SELECT \* FROM HIaPV WHERE ((iid=2590631 AND pid=31)) LIMIT 5) TIMEOUT 5000

...gives 48 rows...

The later query is just grabbing some fields from the former, so it should also have 5 rows.

[2014-12-20 02:40] garrett-gottlieb opened #3245 "(Client=55) ignoreNullValues on index causes "Null keys are not supported" if excluded from save"
After creating an index that can handle `photo is not null` in queries:
[code]
and creating a vertex without the `photo` property:
[code]
I receive the error:
[code]
ODB should count undefined as null, so if I queried for `photo is null` the record that was attempted to be inserted would show up.

[2014-12-20 04:06] sajalgupta1976 opened #3246 "Unable to turn on Lightweight edges by executing alter database custom useLightweightEdge=true"
OrientDB 2.0RC1
Refer to post: https://groups.google.com/forum/#!topic/orient-database/zE5ThJHSln0

After executing alter database custom useLightweightEdge=true from the console,
graph.isUseLightweightEdges() still returns false and no lightweight edges are created.
You need to explicitly invoke setUseLightweightEdges(true) on the graph or on the factory to enable lightweight edges as workaround.

[2014-12-20 23:05] garrett-gottlieb opened #3247 "(Client=55) FETCHPLAN with out_*:0 wildcard causes StackOverflowError"
When I use wildcard with `:0` for `FETCHPLAN`, I always get StackOverflowError:
[code]

Here's the console error (at least as much as I can grab). It is a recursive error and causes the DB to crash.

[code]

[2014-12-20 23:17] garrett-gottlieb opened #3248 "(Client=55) FETCHPLAN out_*:-2 always sets specific out_X:N to out_X:0"
When using wildcard, it should be overwritten by non-wildcard fetchplans. Currently, it always overwrites with `depth-level=0`. Below is an example.

This query
[code]
returns
[code]

And this query
[code]
returns
[code]

But this query
[code]
returns
[code]

[2014-12-21 02:39] AaronSchulz opened #3249 "The field 'Item.sitelinks' is mandatory, but not found on record"
For a certain Item insertion (after quite a few others that are OK), I get:

Fatal error: Uncaught exception 'Exception' with message 'Command failed (500). Got:
com.orientechnologies.orient.core.exception.OValidationException: The field 'Item.sitelinks' is mandatory, but not found on record: Item{id:3618,labels:{de=Remuh-Synagoge, pl=Synagoga Remuh w Krakowie, fr=synagogue Rem"ou","en":"RemuhSyna

[2014-12-21 03:51] Bretto opened #3250 "Issues with Dynamic-Hooks RC-1"
following the docs on Class level hooks: http://www.orientechnologies.com/docs/2.0/orientdb.wiki/Dynamic-Hooks.html
[code]
error
[code]

[2014-12-21 06:32] ivanocortesini opened #3251 "Alter class command locks Studio"
When I execute an alter class command in Orient Studio browse section the command is executed correctly but the "executing" message popup stay even if I click on interrupt button.
I have to reload the page.

OrientDB 2.0-rc1

[2014-12-21 11:01] AaronSchulz opened #3252 "Unusual ORecordDuplicatedException errors"
I see lots of ORecordDuplicatedException errors on vertex import. This is odd, since there can be no conflicted vertexes, and they seem to getting created in fact (as they should).

The logs also mention "Error during context close for db null".

2014-12-21 03:03:02:654 SEVERE Internal server error:
com.orientechnologies.orient.core.storage.ORecordDuplicatedException: Cannot index record #11:73580

[2014-12-21 12:25] garrett-gottlieb opened #3253 "(Client=55) How to optimize query with large FETCHPLAN"
Without the fetchplan, the query takes `0.185 sec`.
With the fetchplan, the query takes `3.367 sec`.
How can this be optimized?

Here is the query:

[code]

Here is the explain:

[code]

[2014-12-21 16:10] stebbi opened #3254 "Backwards incompatible API changes to setIdentity, setVersion"
Hi,

I'm using OrientDB as a new data store for an existing application. I frequently (1) query for one or more ODocument objects, (2) convert the objects to an alternate representation expected by a legacy API, (3) pass the converted objects to the legacy API and get new objects with changes, and (4) synthesize new ODocument objects to write back to the store.

When I synthesize the ODocument obj

[2014-12-22 12:52] vitorenesduarte opened #3255 "SKIP and LIMIT not working"
Hi,

[code]
The previous query returns three records.

[code]
This returns none.

But
[code]
returns two records.

And
[code]
returns none again. In order to skip one record and get only the next I have to:
[code]

Besides that:
[code]
works fine. But
[code]
these two queries return the same record.

[2014-12-22 19:23] AaronSchulz opened #3256 ""repair database" not doing anything"
Running "repair database" via the console shows:

- Fixing dirty links...

I see only ~10% CPU usage and zero disk I/O. I'm not sure what it's actually doing.

Logs show:
[code]

[2014-12-22 19:32] AaronSchulz opened #3257 "Error during transasction commit"
After getting killed by Windows due to low system RAM (the fault of some other program wasting memory), I can't seem to issue writes to Orient anymore. "repair" just hangs, so can't use that. On any attempt to write anything I always get:
[code]

[2014-12-22 19:53] #484 closed, assigned to tglman

[2014-12-22 19:54] lvca opened #3258 "Binary protocol support for tx isolation level"
See also: #484

[2014-12-23 02:23] AaronSchulz opened #3259 "Can not restore 0 WAL master record"
Creating a brand new DB, importing vertexes (~16mil via https://github.com/AaronSchulz/WikiDataQueryOrient), using shutdown.sh and starting it again consistency results in:

2014-12-22 18:19:41:116 SEVERE Can not restore 0 WAL master record for storage WikiData crc check is failed [ODiskWriteAheadLog]

I never notice anything broken, so it might mostly be noise, but the notice is worrisome. There

[2014-12-23 02:57] AaronSchulz opened #3260 ""Database X is closed" floods server log on console termination"
In console.bat, I ran:

explain select id from Item

Unlike "select id from Item", the console does not apply LIMIT 20, so it was really slow. That's fair enough, but SIGINT killing the console leaves the server in a state where it keeps trying the query but rapidly spams error log entries saying that the database WikiData is closed. It looks like the server does some cleanup on disconnect (e.g. c

[2014-12-23 10:10] vitorenesduarte opened #3261 "What's the best way to know if an edge exists?"
Hi,

I'm using Java Document API and lightweight edges.
Is there a better way to know if an edge exists than:

[code]

and iterate through the result?

Maybe something like:

[code]

Thanks,

[2014-12-23 10:55] luigidellaquila opened #3262 "SQL - wrong behavoiur of [] operator when chained"
Here is a simple use case to reproduce the problem:

Setup database:

create class A
create class B
create class C

insert into A ("x") values ('zero') -> #12:0

insert into B ("foo") values ('a') -> #13:0
insert into B ("foo") values ('b') -> #13:1

insert into C ("bar") values (0) -> #14:0
insert into C ("bar") values (1) -> #14:1
insert into C ("bar") values (2) -> #14:2
insert into C ("bar") v

[2014-12-23 16:17] #3234 closed, assigned to tglman

[2014-12-23 21:41] phpnode opened #3263 "Inconsistent behaviour of Binary/REST protocols using fetchplan of -2"
Specifying `FETCHPLAN *:1 in_SomeEdge:-2` via the binary protocol will still return a RIDBag for `in_SomeEdge`. The same query via the REST API will not include `in_SomeEdge` at all, it behaves similar to `exclude(in_SomeEdge)`. Combined with an error in the docs this leads to broken user expectations, see [this comment](https://github.com/codemix/oriento/issues/175#issuecomment-68000365) for full

[2014-12-23 21:54] phpnode opened #3264 "PUSH_DATA in distributed mode does not respect specified serialization format"
Specifying `ORecordDocument2csv` as the serialization format does not affect `PUSH_DATA` in latest `2.0-SNAPSHOT`, this means that clients that don't support the new serialization format can no longer parse `PUSH_DATA` responses.

See https://github.com/codemix/oriento/issues/174

[2014-12-23 22:34] AaronSchulz opened #3265 "Function to collapse collections into a JSON string"
Maybe this already exists, but I can't find it in any docs.

A query like:
[code]
It would be nice to be able to wrap the "out_HPwIV[pid=106][best=1]['val']" part in some function that turns it into a JSON string. That way each result would have "id" and "vals" for each row. I don't want to use expand() as that creates (id,vals) pairs for each collection value and only works if there is 1 expand c

[2014-12-23 22:44] AaronSchulz opened #3266 "Projections with expand() and other fields should give an error"
If, for example, (id,expand(tags)), is used as the projection of SELECT, the expand() will take over the results and "id" (any any other fields) will just be ignored. It makes sense to just give some error instead of just ignoring other fields.

This is a gotcha for anyone new to Orient (e.g. when I first started testing with it).

[2014-12-24 00:10] phpnode opened #3267 "Documents vs Vertices"
Why does there need to be a separation between documents and vertices? It's confusing for users and means that "strange" things like `ALTER CLASS OUser SUPERCLASS V` are necessary. Is `ODocument` a vestigial remnant from a time before the graph API? If so, could it be removed / merged in a future version?

[2014-12-24 00:52] DanielRuthardt opened #3268 "JS API library doesn't support empty passwords"
The server configuration allows empty passwords, the JS API library however doesn't support empty passwords.

[2014-12-24 01:32] AaronSchulz opened #3270 "Link following functions don't work after dot (on alias) in LET statement"
For the following queries, not that the second one must be giving wrong results. There are clearly edges leaving vertex with ID=23. All but one of the queries see them. Note that the first query is similar to the second, but uses one of the links fields instead of the function to get all outgoing links.
[code]
1 item(s) found. Query executed in 0.006 sec(s).

[2014-12-24 04:40] bkkoo opened #3271 "Can't create light weight edge in 2.0 RC1"
1. Create new database
2. alter database custom useLightweightEdges=true
3. create edge from A to B

No light weight edge is created but the new edge document is created in stead

[2014-12-24 06:17] morphace opened #3272 "2.0-rc1/1.7.10 different instance issue"
Hi,

I have another issue with the ObjectDatabase (tested with 2.0-rc1, 1.7.10).

If you associate a specific object several times with other objects, once loaded, the api will return different instances for the same doc. Let's say you have two classes A and B. A has to attributes b1 and b2 that point to one and the same instance of B (doesn't make sense, but it's just to explain the problem).

On

[2014-12-24 07:42] AaronSchulz opened #3273 "Invalid keyword error in UPDATE SET clause with JSON"
update Item set claims={"1465":[{"snaktype":"value","rank":0,"best":1,"valuetype":"wikibase-entityid","datavalue":9218484}],"1036":[{"snaktype":"value","rank":-1,"best":1,"valuetype":"string","datavalue":"2--434145"}],"17":[{"snaktype":"value","rank":0,"best":1,"valuetype":"wikibase-entityid","datavalue":183}],"373":[{"snaktype":"value","rank":0,"best":1,"valuetype":"string","datavalue":"Gie\u00df

[2014-12-24 14:33] #3212 closed, assigned to tglman

[2014-12-24 15:48] #3264 closed, assigned to tglman

[2014-12-24 20:16] #3262 closed, assigned to luigidellaquila

[2014-12-24 21:39] #3061 closed, assigned to lvca

[2014-12-24 22:00] #2092 closed, assigned to lvca

[2014-12-24 22:02] #3137 closed, assigned to lvca

[2014-12-24 22:27] #3211 closed, assigned to lvca

[2014-12-24 22:31] AaronSchulz opened #3274 "Support for document field part pipelines in projections"
According to https://github.com/orientechnologies/orientdb/wiki/Document-Field-Part , the second query
should have no results. It would be nice if this pipeline filtering worked in this scenario.
[code]

[2014-12-25 03:25] AaronSchulz opened #3275 "CONTAINS not working in WHERE"
orientdb {db=WikiData}> select claims['40'] AS P40 from Item where id=23 and claims containskey '40' TIMEOUT 1000

----+------+----------------------------------------------------------------------------------
# |@CLASS|P40

----+------+----------------------------------------------------------------------------------
0   |null  |[{valuetype=wikibase-entityid, datavalue=1701323, rank=0, snaktype=v

[2014-12-25 06:27] #3236 closed, assigned to andrii0lomakin

[2014-12-25 08:44] #3208 closed, assigned to lvca

[2014-12-25 20:18] DeividasJackus opened #3276 "Creating clusters for vertex classes"
I had a pretty hard time figuring out how to create additional clusters for vertex classes up to the point I stumbled upon your [answer on SO](http://stackoverflow.com/a/22613843). I believe the [Wiki section on CREATE CLUSTER](https://github.com/orientechnologies/orientdb/wiki/SQL-Create-Cluster) and _especially_ the [documentation tutorial on clusters](http://www.orientechnologies.com/docs/last/

[2014-12-25 20:41] deividasjackus opened #3277 "DROP CLUSTER allows to drop default class clusters"
Normally, CREATE CLASS also creates a cluster used by the class, DROP CLASS also drops the cluster used by the class:

However, there are no warnings when you drop a cluster that is used by a class:

[code]

The cluster "Test" was dropped, but the class "Test" still remains, even though it can no longer be used:

[code]

You can no longer drop the class either, really:

[code]

I understand this i

[2014-12-25 21:35] AaronSchulz opened #3278 "Selecting RID from indexes is very slow"
select key from index:ProperyIdIdx limit 1000

Takes .006 seconds

select key,rid from index:ProperyIdIdx limit 1000

Takes 7.331 seconds

 select rid from index:ProperyIdIdx limit 1000

Takes  7.249 seconds

select from index:ProperyIdIdx limit 1000

Takes 7.191 seconds

The index has about ~1300 records.

[2014-12-25 23:21] #3276 closed, assigned to lvca

[2014-12-25 23:40] Bretto opened #3279 "Bug with Export / Import and Record level security"
senario:

[code]

ok now try to import the exportDB

[code]

Error

[code]

the issue lies with the delete of a user record, if you don't delete a user and its data the export import works...

[2014-12-26 01:51] #3252 closed, assigned to lvca

[2014-12-26 04:34] matgames opened #3280 "[feature request] [SQL] Query ORecordBytes size"
I am using ORecordBytes to insert binary data, and I would love if I could easily query
the size of it (only, without fetching the entire record).

e.g.
CREATE CLASS Image EXTENDS V
CREATE PROPERTY Image.id LONG
CREATE PROPERTY Image.data LINK
...
...
add rows with data being a link to the binary data;
in the following document: http://www.orientechnologies.com/docs/2.0/orientdb.wiki/Binary-Data.h

[2014-12-26 04:34] AaronSchulz opened #3281 "Can't delete edge missing a value before it was made MANDATORY"
[code]

[2014-12-26 05:03] #3278 closed, assigned to lvca

[2014-12-26 05:54] #3275 closed, assigned to nobody

[2014-12-26 08:15] adithyank opened #3282 "NPE at OLocalHashTable.get(OLocalHashTable.java:392)"
When index rebuilding was running in our Application that uses OrientDB in plocal mode, the application was shutdown. The below Exception came during this time

[code]

After that, when we restarted our application, index rebuilding was happening.....
Also this time, the application got shutdown. Time time, all the below Exceptions came..

[code]

THe below Exception came multiple times
[code]

Af

[2014-12-26 11:01] adithyank opened #3283 "All read calls [ORecordId.getRecord()] takes long time when commit() is happening in another Thread"
OrientDB Version : 2.0-M3

In our application, we do all writing in one Thread and read in multiple threads.

Pls find below the thread dump of the writing thread....
[code]

These are around 50 reading threads and all threads' thread dump is like below...

[code]

Both writing time and reading time increases if both read and write is happening in multiple threads...?? If only the writing is happe

[2014-12-26 19:47] AaronSchulz opened #3284 "Support chaining document field part in projections of embedded fields"
This is the actual feature request from #3274 but without the unrelated confusion.

If a create a JSON field for a row, I can have projections that filter it by key/value, but I can't filter the filtered result. So if the field is claims={valuetype=string, datavalue=101061288, rank=0, snaktype=value, best=1}, I can do:

[code]

But not:
[code]

The later always gives empty results.

According to h

[2014-12-27 02:13] #3279 closed, assigned to tglman

[2014-12-28 00:48] PavelNiedoba opened #3285 "NPE in create index"
I have class like this:
orientdb {db=bbb}> info class person

Class................: Person
Super class..........: ObservablePojoWithId
Default cluster......: person (id=20)
Supported cluster ids: [20]
Cluster selection....: round-robinBase classes.........: Partner, User, Employee, Customer

PROPERTIES
-------------------------------+-------------+-------------------------------+-----------+-----

[2014-12-28 12:21] RapidTransit opened #3286 "Retrieving record from Index of Abstract class kind of retrieves the record"
When querying from an index of an abstract class, it isn't retrieving the actual record, to work around I can call document.field("rid") which returns the actual record

This is 2.0.0-rc3

[2014-12-28 15:14] stawny opened #3287 "Exception while creating OObjectDatabaseTx"
I have dependecies:
[code]
my class contains only one line

[code]

and the console output is
[code]

[2014-12-28 21:14] matanshukry opened #3288 "methods not working properly"
Although string manipulation on @rid are working, casting it to integer seems to fail.

#### .substring() + .toInteger() + @rid ####

[code]

Returns 0-6
(i'm avoiding in writing the entire output, just trust me on this one..)

But when adding a cast:
[code]

The result (error) is:

2014-12-28 20:32:14:597 SEVERE Error on reading rid with value '0' [OSQLMethodField]
2014-12-28 20:32:14:598 SEVERE

[2014-12-29 02:42] #3266 closed, assigned to luigidellaquila

[2014-12-29 04:41] a-unite opened #3289 "Field 'in_XX' cannot be added during CREATE EDGE when class schema is defined as STRICT"
*I'm not sure this is a bug, but it looks like one for me, because it makes STRICTMODE concept almost unpractical:*

when you try to CREATE EDGE for any vertex or edge, which has STRICTMODE enabled - OValidationException occurs, something like this:

```Caused by: com.orientechnologies.orient.core.exception.OValidationException: Found additional field 'in_'. It cannot be added because the schema c

[2014-12-29 06:27] pkoppstein opened #3290 "broken links at http://www.orientechnologies.com/docs/last/orientdb-etl.wiki/Home.html"
The first five links under "Available Components" are currently all broken.  For example:

http://www.orientechnologies.com/docs/last/orientdb-etl.wiki/Transformer

[2014-12-29 10:27] #3129 closed, assigned to luigidellaquila

[2014-12-29 10:36] #3251 closed, assigned to wolf4ood

[2014-12-29 11:20] #3131 closed, assigned to luigidellaquila

[2014-12-29 12:16] #3132 closed, assigned to luigidellaquila

[2014-12-29 12:37] #3246 closed, assigned to luigidellaquila

[2014-12-29 13:52] azzazeli opened #3291 "Error on releasing a non acquired lock by the requester"
Hi,
I'm using orientdb version 1.7.10
After setting logger to 'Debug' level I've found following error in log file

[code]

Seems that error occurs for every operation.

Is there a way to fix it?

Thanks,
Alex.

[2014-12-29 17:18] velo opened #3292 "Error using SQL alias"
Hi,

I'm trying to execute the following query:

[code]

And got the following error:

[code]

For me is broken on 2.0.rc1

[2014-12-29 17:47] jamieb22 opened #3293 "restore from WAL prevents JVM shutdown"
1) The application is started
2) DB is opened
3) DB found corrupted.
4) DB begins restoring from WAL.
5) This process can take hours
6) User gets frustrated and attempts to shutdown the server
7) Restore from WAL thread prevents server shutdown. Other resources in our software are not closed

Orient ought to have some way of recognizing that the JVM wants to exit and shutting the restore from WAL

[2014-12-29 19:57] agallus opened #3294 "Cannot find the jar containing OGraphDatabasePool"
Hi,

in which jar is the class OGraphDatabasePool and ODatabaseRecord located in the newest 2.0-rc1 release?
I am not able to find OGraphDatabasePool in the 1.7.10 release either.

Help appreciated.

Regards
R4DIUM

[2014-12-29 20:12] #3280 closed, assigned to lvca

[2014-12-29 20:41] AaronSchulz opened #3295 ""Error on fetching record" during index rebuild after OOM"
After a JVM OOM caused by a slow query, I had to kill the orient server and restart it. Upon restart, it did WAL recovery and started rebuilding the indexes. I see a few dozen errors like the following:

2014-12-29 12:34:24:187 INFO  --> 33.16% progress, 5,529,133 indexed so far (13,756 items/sec) [OIndexRebuildOutputListener]Error on fetching record d
uring browsing. The record has been skipped
c

[2014-12-29 20:49] garrett-gottlieb opened #3296 "(Client=55) Log for OCommandExecutionException shouldn't shorten bad query"
The query should not be shortened in logs. What's the point of a log that replaces the error in a query with `...`?

For example, in this query there is a `NumberFormatException`. Where? This log is useless for debugging:

[code]

[2014-12-30 03:39] #3292 closed, assigned to lvca

[2014-12-30 10:32] peteryongzhong opened #3297 "expand and where @rid doesn't seems to be working together"
Hi guys, I was trying to execute a SQL query which involves expand and where @rid statement as shown.

[code]

I was trying to get the common friend for both user. friend is an edge class, and users(12:xxx) is a vertex class.
![untitled](https://cloud.githubusercontent.com/assets/8244605/5577675/cae5d19c-906a-11e4-96f2-9caf49a4fd4b.png)
The result is empty as shown, however if I execute this SQL q

[2014-12-30 14:51] #3151 closed, assigned to luigidellaquila

[2014-12-30 15:33] #3156 closed, assigned to luigidellaquila

[2014-12-30 15:35] #3164 closed, assigned to luigidellaquila

[2014-12-30 16:09] #3294 closed, assigned to tglman

[2014-12-30 16:11] #3254 closed, assigned to tglman

[2014-12-30 17:42] vitorenesduarte opened #3298 "create edge with ODocument"
Hi,

Is it possible to create a lightweight edge with ODocument?
Something like:

[code]

This might be a silly question.
Thanks,

[2014-12-30 18:05] #3297 closed, assigned to nobody

[2014-12-30 18:08] #3298 closed, assigned to lvca

[2014-12-30 18:13] PhantomYdn opened #3299 "ODocument.fromJSON strange behaviour"
Guys,

I found quite strange behaviours of fromJSON() method. Might be that are not bugs and that are working as expected, but at leasts more documentantation (Java Docs as min) will be really appreciated.

1) fromJSON might return other object than "this". (ODocument doc2 = doc.fromJSON(json); doc2!=doc).
2) if needReload specified it doesn't preserve "loaded" version from DB and finally it leads

[2014-12-30 19:48] #2656 closed, assigned to tglman

[2014-12-30 21:17] #3244 closed, assigned to lvca

[2014-12-30 21:49] #3249 closed, assigned to luigidellaquila

[2014-12-30 23:07] garrett-gottlieb opened #3300 "(Client=55) Error deserializing record, ArrayIndexOutOfBounds"
When I ran this query:
[code]

I got this database output:
[code]

I did a database repair and got similar output:
[code]

[2014-12-30 23:24] dmarcelino opened #3301 "[1.7.10] After dropping db, it's not possible to create a new one with same name and different storage type"
Hi, it seems that once a db is created with a given name and storage type 'memory', it's not possible to drop that db and create a new one with same name and different storage type. OrientDB will always use the 'memory' storage type.

 I guess an example illustrates this better:

[code]

Output:

[code]

Even the log confirms that OrientDB ignored the new storage type. After the second `create dat

[2014-12-30 23:32] #3301 closed, assigned to lvca

[2014-12-31 00:44] adithyank opened #3302 "OTimeoutException: Timeout on acquiring exclusive lock against resource of class: class OIndexNotUnique with timeout=5000"
OrientDB Version : 2.0-M3

our software reads from doc db in multi threads while there is another only one thread creating records.......!

What is the reason for this Exception???
Does this mean that the writing thread's transaction has not been committed/rolledback in 30 seconds. If yes, I want to give you another input that all our transactions are committed and closed within 5 seconds from the

[2014-12-31 00:50] adithyank opened #3303 "OutOfMemoryError: Requested array size exceeds VM limit"
OrientDB version : 2.0-M3
JDK : Oracle JDK 1.7.0_71
OS : CentOS 6.5

The below Exception came only once while starting our server application after crash. So, OrientDB was not shutdown properly.

[code]

But, many times when OrientDB was not shutdown properly it used to rebuild the indices while restarting our application. This Exception has not come those times.

It occurred only once. So, I don'

[2014-12-31 01:33] thecyman opened #3304 "(Client=55) Missing class file for AWS discovery: TcpIpJoinerOverAWS"
Hi guys-

I'm using 2.0 M3. I'm testing on a cluster.

The class `TcpIpJoinerOverAWS` is not included in the default `hazelcast` JAR. I think you need to use the HazelCast JAR that includes everything: `hazelcast-all-3.3.3.jar` from the HazelCast ZIP download.

I solved this by:
1. Downloading HazelCast 3.3.3, and unzip
2. Replace the file `ORIENTDB_HOME/libs/hazelcast-3.3.jar` with this file from

[2014-12-31 02:57] Ostico opened #3305 "2.0-rc1 - Binary Protocol - Token issue"
The token related to a REQUEST_DB_OPEN command stores information about the opened database.

So, a simple test can be made to get the bad behaviour:

- Connect a client to Orient with root credentials and create a database
- Connect another client to the just created new database, request the token and save the session token somewhere.
- Connect again with root credentials and drop the new databa

[2014-12-31 05:22] #3291 closed, assigned to andrii0lomakin

[2014-12-31 08:17] garrett-gottlieb opened #3306 "(Client=55) Unindexed query on large class causes lock timeout and crashes db"
After running an unindexed query on a class with 7 million records, I got a lock timeout and the database was not responsive. After it became unresponsive, I killed it with `kill -3 <pid>` and now it's going through a reindex. At the end, you'll also notice that it says checkpoints are absent so it starts from the beginning. It takes many hours now for it to finish.

[code]

[2014-12-31 09:15] darkredz opened #3307 "ODocument save() doesn't set Identity on new object"
Hi,

I am testing some stuffs on 2.0 RC1, I found out that the behaviour that used to work in 1.7 doesn't work any more in 2.0.

// CREATE A NEW DOCUMENT AND SAVE IT
ODocument doc = new ODocument("Person");
doc.field( "name", "Luke" );
doc.field( "surname", "Skywalker" );
doc.field( "city", new ODocument("City").field("name","Rome").field("country", "Italy") );

// SAVE THE DOCUMENT
doc.save();
lo

[2014-12-31 09:20] garrett-gottlieb opened #3308 "(Client=55) Flush memory during reindex so it happens faster"
This is coming specifically from a scaled database rebuild with 100M+ records. The reindex on an incredibly powerful server (120GB RAM 800GB SSD) is only going at 3-10000 items/sec. Initially, it was going faster (35000 items/sec) but it quickly slowed down once the memory filled up. This is because all previous indexes are still in memory, so the newest reindex has very little to play with. If me

[2014-12-31 13:56] #2424 closed, assigned to luigidellaquila

[2014-12-31 15:18] adithyank opened #3309 "Some Indices Corruption after proper OrientDB shutdown"
When we restarted our application that hosts OrientDB in plocal mode, we saw the below lines in nohup.out...

[code]

No other information about other indices...

When the application starts functioning, lot of following Exceptions came.....

[code]

When I saw the indexes through console, I got the below output. Lot of indices are with 0 size (where value must be there)

[code]

I took one index

[2014-12-31 16:55] 8forty opened #3310 "2.0-rc1: server.sh MAXDISKCACHE parameter causes startup error"
It's near the end of the file, if you put in the value "8192" as suggested in the comment you get an error "Error: Could not find or load main class 8192"

[2014-12-31 21:41] thecyman opened #3311 "(Client=55) Clustering: Cannot find best cluster for class 'OUser'"
In a 2-node cluster, there is an issue. I'm having trouble finding the exact source, but here's what I have so far:
### Part 1
- I startup up node 1.
- I then started node 2.

### Part 2
Node 2's status isn't yet online:
[code]

### Part 3
I then ran, on node #1:
[code]

This resulted in pages and pages of output on node 2, similar to:
[code]

It also resulting in pages and page of output in node

[2014-12-31 22:45] garrett-gottlieb opened #3312 "(Client=55) Selecting from index is slow"
We have 7M Posts with the index:
[code]

The simple query
[code]
takes 2.7 seconds to finish.

Running `EXPLAIN` on it doesn't seem to be finishing.

[2015-01-01 09:41] phpnode opened #3313 "`@fieldTypes` in REST response does not indicate RIDs"
The `@fieldTypes` field in responses to REST requests does not indicate the type of fields containing record IDs, this makes it impossible to reliably parse responses. The [docs](https://github.com/orientechnologies/orientdb/wiki/OrientDB-REST#json-data-type-handling-and-schema-less-mode) indicate that it should send an `"x"` to indicate `LINK`, but I never receive such a response.

This is relate

[2015-01-01 10:50] laa commented on #3308
Hi,
I do not think that reindex itself should be used in production at all.
Because it leads to errors in query results.

I think we should resolve root of this problem instead of reindex problem.
So my question is why do you have reindex, is it because of server crash ?

[2015-01-01 11:30] phpnode commented on #3313
The same is also true for e.g. `EMBEDDEDMAP`,  `LINKMAP`, `LINKLIST` etc, it's essentially impossible to determine the type of these containers without guessing by peeking inside, or hoping that the field is described in the schema which is not guaranteed.

[2015-01-01 12:05] R4DIUM opened #3314 "Strange error message after migration from 1.7 -> 1.7.10"
Hi,

I changed from Orientdb 1.7 to 1.7.10 and now I get an
"java.lang.AssertionError:  a record lock should not be tacken inside a storage lock"
when executing a graph.commit().

Can you explain what this message means and what probably causes this issue?

[2015-01-01 18:47] phpnode commented on #3300
@garrett-gottlieb "CSV" here stands for "Orient's-Nearly-But-Not-Quite-JSON-Format", not "Comma Separated Values" :)

[2015-01-01 19:35] garrett-gottlieb commented on #3308
Yes, I've logged separate issues whenever the server crashes. The lase one was due to an unindexed query that caused a lock timeout.

This is not just a reindex. Building a new index can is also slow. Speeding this up speeds up development immensely, and recovering from crashes which is an unfortunate inevitability.

[2015-01-01 19:38] garrett-gottlieb commented on #3300
Ah, thanks for the translation.

[2015-01-01 19:50] #3223 closed

[2015-01-01 20:31] zanerock opened #3315 "Incorrect warning on startup (2.0 RC-1); leads to bad behavior"
I looks like the physical memory check is not dealing with the ',' ? Gives misleading warning and more seriously changes DISKCACHE.

2015-01-01 20:28:10:247 WARNING No enough physical memory available: 2,007MB (heap=61MB). Set lower Heap and restart OrientDB. Now running with DISKCACHE=256MB [orientechnologies]

[2015-01-01 21:42] AaronSchulz commented on #2376
GROUP BY (at least in some cases) is applying LIMIT before the grouping. I file separate issue for that.

[2015-01-01 21:43] AaronSchulz opened #3316 "GROUP BY applied after LIMIT"
GROUP BY (at least in some cases) is applying LIMIT before the grouping.

[code]
Note: there is a related index "create index HPwIVIidIdx on HPwIV (iid, oid) notunique";

[2015-01-02 00:26] garrett-gottlieb commented on #3263
@lvca, any updates?

[2015-01-02 00:39] garrett-gottlieb opened #3317 "(Client=55) OUser's data disappeared"
They have no data now. This is clearly a popular user, they have over 100k updates, likely caused by a lot of other users following them:
[code]

Here's the error:
[code]

This is very serious. For this to be happening right now is extremely scary.

[2015-01-02 00:43] garrett-gottlieb opened #3318 "(Client=55) Caused by: java.lang.OutOfMemoryError: GC overhead limit exceeded"
Here's the full error:
[code]

Our server has 240GB and 56GB free:
[code]

[2015-01-02 00:50] garrett-gottlieb commented on #3318
This was likely caused by accidentally using too little memory for the heap:
[code]

We have since increased it:
[code]

But I'm logging this as it may be linked to the issue of critical importance: https://github.com/orientechnologies/orientdb/issues/3317

[2015-01-02 03:44] bkkoo commented on #3271
Test Case:

1. Create new database via studio web app with following setting:
  Name: Test1
  Server User: root
  Server Password: *****
  Advanced Options: checked
  Storage Type: plocal
  Database type: graph
  Lightweight edges: checked (true)

2. Make sure that useLightweightEdges is enable by issue the follwing command at the console

   alter database custom useLightweightEdges=true

3. Chec

[2015-01-02 04:23] darkredz commented on #3307
It's without transaction

[2015-01-02 05:10] lvca commented on #3318
Ok, I'm closing this.

[2015-01-02 05:10] #3318 closed

[2015-01-02 05:11] lvca commented on #3317
Was this error thrown with half GB of heap?

[2015-01-02 05:14] garrett-gottlieb opened #3319 "(Client=55) Crash causes lingering lock on "internal.pcl", can't use staging database"
After the database crashed due to OOM, I tried closing with `./shutdown` after which it got stuck at:
[code]

So I did a `kill -3 <pid>`:
[code]

Then starting it up again, it tries to restore from a checkpoint and throws an integer error once:
[code]

Then repetitively throws the lock error whenever I try to access the database via the ETL:
[code]

[2015-01-02 05:24] garrett-gottlieb opened #3320 "(Client=55) Can't find object with problematic date without full query"
I get a lot of these very weird errors when running the ETL, but can never debug them because I don't have the full query that's causing the problem:
[code]
I have no idea why this is happening, but neither ODB or the ETL is giving me enough information to debug.

This is related to https://github.com/orientechnologies/orientdb/issues/3296 and https://github.com/orientechnologies/orientdb/issues/3

[2015-01-02 05:36] lvca commented on #3320
How the date "Fri Jan 02 01:14:01 UTC 2015" arrives?

[2015-01-02 05:38] garrett-gottlieb commented on #3317
No, this is still being thrown. Here's the startup log for the current run of the database:
[code]

[2015-01-02 05:45] garrett-gottlieb commented on #3320
I have no idea. In our JSON data it always arrives as `yyyy-MM-dd'T'HH:mm:ss.SSS'Z'`. That is Parse.com's format, and any date retrieved by them should be in that format. We query them, dump resulting JSON into a file, and run ETL on that file. If I knew the RID or the full query (with the Parse.com `objectId`) I might be able to determine where the Date got translated to this, but I'm not sure. I

[2015-01-02 05:50] lvca commented on #3284
Now embeddedmap (json) have the same behavior of document with condition in [].

[2015-01-02 06:36] lvca commented on #3231
@AaronSchulz maybe the doc is old. I'm not sure if NOT works in all the cases.

[2015-01-02 06:37] laa commented on #3319
Hi,
That is not application lock it is OS lock. After OOM you had background process which is was not stopped and still inside of OS you should kill this process using kill -s 9 and only after that you will be able to start new server.

It is general behavior for linux system so I am closing issue now if you will still repeat it after kill -s 9 please reopen it.

[2015-01-02 06:37] #3319 closed

[2015-01-02 06:42] laa commented on #3191
Cool. Actually it was fixed yesterday by https://github.com/orientechnologies/orientdb/commit/d899c284366b9d6892e63b67ed5858874c5e5770  . Unneeded timer thread hold implicit link to connection level cache. That is why we had those objects in heap. Could you try now. Sorry for such long fix.

[2015-01-02 06:47] laa commented on #3309
Hi,
Almost all problems which you created are the same in nutshell hash index is broken after shutdown or addition. I propose to fix initial problem and then retest the rest of them. Could you provide me data log and program which you used to restore index content ?

[2015-01-02 06:47] lvca commented on #3307
Tried and works. Could you provide a test case that reproduce the problem?

[2015-01-02 06:48] danrub commented on #3300
the fix broke remote binary protocol behavior.

running remote server,
when I run the following query: select expand(classes) from #0:1 (command operation)

I get the following exception:

2015-01-02 08:41:52:843 WARNING Cannot serialize record: {type:UNIQUE,name:ORole.name,indexDefinition:{className:ORole,field:name,keyType:STRING,collate:ci,nullValuesIgnored:true},indexDefinitionClass:com.orient

[2015-01-02 06:49] laa commented on #3308
We need to understand why do you have index rebuild if you use graph database. Do you use non tx modification operations during filling of database content ?

[2015-01-02 06:50] lvca commented on #3312
with this query you're browsing all the values, so 7M of documents. It can't be faster.

[2015-01-02 06:50] #3312 closed

[2015-01-02 06:52] laa commented on #3308
To flush or not to flush cache is highly specific thing, for example if you do index rebuild and do a lot of other operations in parallel other db users will not be happy that the rest of operations are suddenly became noticeably slower. So I will create ```purgedcache``` command which you may call if you need it. But lets find out and fix root problem.

[2015-01-02 06:52] lvca commented on #3183
We removed this timeout in 2.0. In your case it's possible the flush time is slower than timeout.

[2015-01-02 06:53] #3183 closed

[2015-01-02 07:04] garrett-gottlieb commented on #3319
@laa I did find a lingering `java -server` process, but I killed it before posting this and it still didn't work.

Currently, only the single server is running:
[code]

After shutting down the database, I can't seem to find another process that may be locking it:
[code]

And now I'm getting the same error after starting the database again. Here's my process list after starting it:
[code]

[2015-01-02 07:19] laa commented on #3319
Hi,
But I see at least 2 of them.

ubuntu    32504  0.0  0.0   4452   720 pts/1    S+   07:02   0:00
/bin/sh ./server.sh -Xmx32G -Dstorage.wa
ubuntu    32509 22.5  0.6 43779160 868548 pts/1 Sl+  07:02   0:07 java
-server -Xmx1400m -Djna.nosys=true

Do you agree ?

--
Best regards,
Andrey Lomakin.

[2015-01-02 07:23] garrett-gottlieb commented on #3308
We do use non-tx operations for simple updates and inserts. Is it necessary to switch all of those to tx?

Generally speaking, we will take down a node in the cluster, build the index, and then put it back in.

For this purpose, could you call the `purgeCache` command after an index is rebuilt during a database rebuild? I hope that would speed it up.

[2015-01-02 07:25] garrett-gottlieb commented on #3319
Yes, the first one is our shell script which calls the ODB shell script (ours is also called `server.sh`).

[2015-01-02 07:31] garrett-gottlieb commented on #3319
Maybe you can take a look at the server? Details are in Gitter.

I just restarted the database calling ODB `server.sh` directly inside of `/bin`. This all looks fine to me:
[code]

[2015-01-02 07:35] garrett-gottlieb commented on #3312
This seems to be the root problem, but after optimizing the query with @luigidellaquila it is acting very slow still.

This query takes 5-10 seconds and will be used at least 10 million times each month by at least 1 million people:
[code]

The root of the problem seemed to be selecting from the index. After https://github.com/orientechnologies/orientdb/issues/3319 is fixed I can test again, but t

[2015-01-02 07:36] laa commented on #3319
@garrett-gottlieb I am absolutely sure that if you have lock issue you have hidden process . : -)
Could you run ```lsof /odbdisk/pumpup/server/libs/orientdb-current/databases/pumpup/internal.pcl```
if you still have this exception.

[2015-01-02 07:37] garrett-gottlieb commented on #3319
Yes that makes sense.

Here is the result:
[code]

[2015-01-02 07:38] laa commented on #3319
is that under root or under ubuntu user ?
Could you run it under the root, close all process listed in result , make sure that 0 process use this file and start server ?

[2015-01-02 07:41] garrett-gottlieb commented on #3319
Yes, I've shut down the database and now they're all gone.
[code]
Same result if I run with `sudo`, but database is run as `ubuntu` with
[code]

[2015-01-02 07:43] garrett-gottlieb commented on #3319
The file is only attempted to be open once I start running the ETL, which does so very quickly many times because it fails instantly and retries in a loop. After closing and starting the database, the lsof is empty until I run the ETL.

[2015-01-02 07:47] laa commented on #3319
And you still have this locking issue ? Right ?

[2015-01-02 07:48] garrett-gottlieb commented on #3319
Yes

[2015-01-02 08:32] darkredz commented on #3307
ok i cannot reproduce it, it seems that it might be a miss used of the older Jars with the database

[2015-01-02 08:32] #3307 closed

[2015-01-02 09:16] AaronSchulz commented on #3284
I noticed that this sometimes doesn't work now. E.g.:

orientdb {db=WikiData}> select id,claims[40][rank=0] from Item where id=23 and claims[40] contains (snaktype = "value")

----+------+----+--------------------------------------------------------------------------------
#   |@CLASS|id  |claims
----+------+----+--------------------------------------------------------------------------------
0

[2015-01-02 09:28] adithyank commented on #3309
But, while building this database, that ODirectMemoryViolation exception did not come.
Does your statement hold good still?

[2015-01-02 09:31] adithyank commented on #3183
So, what should be done to avoid this Exception ?

[2015-01-02 11:25] tglman commented on #3317
@garrett-gottlieb i feel that this issue is related to the fix of: https://github.com/orientechnologies/orientdb/issues/3263 I'll add more comment there.

[2015-01-02 12:02] visheshdev4 opened #3323 "Support JavaScript Methods"
This would be useful in writing powerful pipeline filters. See https://groups.google.com/d/msg/orient-database/p_Z37_GRmM4/qON_2EY8P3cJ for some more info.

[2015-01-02 12:13] tglman commented on #3263
Hi @garrett-gottlieb, for this issue i feel that my patch created some problems, I'm going to revert back the changes to a stable version and re-design and re-elaborate the fix, this will take some time, not less than one week, the reason is that the binary protocol wasn't designed to support negative fetch plan, so i have to check if the things are designed and tested properly.

I understand the

[2015-01-02 13:10] laa commented on #3183
You should do nothing, we already did this into the code.

[2015-01-02 13:13] laa commented on #3291
I if you do not try we will never be sure about your concrete case (obviously), so you either should try RC or wait till final release.

[2015-01-02 15:54] stawny commented on #3287
Hi @tglman, I am using orientdb-community-1.7.10.

[2015-01-02 16:14] maboalim commented on #3287
I am getting the same exception while opening the DB. I am using orientdb-community-1.7.10 , centos 6.5 and java version 1.7.0_72
 my code is
OObjectDatabaseTx db = new OObjectDatabaseTx ("remote:" + dbIP + "/" + dbSchema);
		db.open(dbUserName, dbPassword);

and I got the same exception

     INFO: Auto-config DISKCACHE=968MB (heap=864MB osMemory=3,880MB)
     Jan 02, 2015 8:06:17 PM com.orientec

[2015-01-02 17:32] tglman commented on #3287
hi @stawny

if you are learning I'll suggest to you to start with the rc-1 http://www.orientechnologies.com/download/ also in the server side, the final will be released in few days.

for the current issue is due to the fact that you are doing a connection from a 2.0 client to a 1.7 server, a quick workaround to make this work is set:
`OGlobalConfiguration.DB_DOCUMENT_SERIALIZER.setValue(ORecordSe

[2015-01-02 17:54] maboalim commented on #3287
Hi @tglman,

It works with me now after adding this line. I hope it will works also with @tglman  who report this issue.

Thanks

[2015-01-02 18:05] tglman commented on #3287
added also the code fix, closing this.

[2015-01-02 18:05] #3287 closed

[2015-01-02 18:10] #3274 closed

[2015-01-02 18:16] lvca commented on #3284
I think field chaining is working now, but as you said, the json was entered bad. Please could you provide me a SQL to reproduce the problem?

[2015-01-02 18:37] lvca commented on #3308
@garrett-gottlieb If you always use transactions you're protected by such problems.

[2015-01-02 18:46] lvca commented on #3288
There is a typo here. Use:

    select @RID.substring(4,5).asInteger() from User

[2015-01-02 18:46] #3288 closed

[2015-01-02 19:00] lvca commented on #3279
@tglman issue attributed are missing, I'm adding them...

[2015-01-02 19:38] Ostico opened #3324 "OrientDB v1.7.10 - Wrong parse xml handler for Hazelcast - Bootstrap"
Running ```server.sh```, the server starts in distributed mode ( and does not accept connections from clients ) with the default ```orientdb-server-config.xml```, even when the config row is changed from
[code]
to
[code]
[code]

To start the server in standalone mode all the hazelcast handler in ```orientdb-server-config.xml``` must be removed/commented.

Should be documented/written or fixed.

[2015-01-02 19:41] lvca commented on #3324
I can't reproduce it, OrientDB standalone server starts with no problems.

[2015-01-02 20:20] Ostico commented on #3324
In my case it starts, but does not accept remote connections.

I tried with this [https://github.com/orientechnologies/orientdb/releases/tag/1.7.10](https://github.com/orientechnologies/orientdb/releases/tag/1.7.10) in my local server and on travis-ci.org

This is my log:
[code]

[2015-01-02 20:39] saeedtabrizi commented on #2652
Good Idea and many useful for me :) :+1:
nowadays , online apps needs to be connected and some instant  messaging functions .
please change milestone to closest release .

[2015-01-02 21:01] AaronSchulz commented on #3284
I suppose you do:

create class Test extends V;
create property Test.claims EMBEDDEDMAP embedded;

create vertex Test set id=23

update Test set claims={"509":[{"snaktype":"value","valuetype":"wikibase-entityid","datavalue":356405,"rank":0,"best":1}],"947":[{"snaktype":"value","valuetype":"string","datavalue":"000025437","rank":0,"best":1}],"19":[{"snaktype":"value","valuetype":"wikibase-entityid"

[2015-01-02 21:04] 8forty opened #3325 "2.0: making non-lightweight edges the default breaks a LOT of documentation"
I've seen lightweight edges documented as the default for all new databases in several places in the wiki, here's one I ran across today: https://github.com/orientechnologies/orientdb/wiki/Choosing-between-Graph-or-Document-API

These should be found and fixed quickly or there might be more user confusion due to the change than there was using the lightweight edges.

[2015-01-02 21:08] 8forty commented on #3271
@bkkoo Note that your step 3. currently doesn't work, since studio shows the useLightweightEdges set to true no matter what it's real value is (see studio issue https://github.com/orientechnologies/orientdb-studio/issues/220)

[2015-01-02 21:12] 8forty commented on #3310
One followup question: there's also a setting for this in orientdb-server-config.xml, so if it is set in both places which one is used?  Shouldn't it be documented and used in just one place rather than 2, that seems confusing.  I guess I don't understand why it was added to server.sh when it was already working fine in the ...config.xml?

[2015-01-02 22:01] mindplay-dk commented on #3215
Ehm, no - JS may be suitable for this sort of thing, but PHP is not. This approach will never be fast in PHP.

If msgpack is not the way to go, please consider my previous proposal - using a greatly simplified integer encoding. I'm pretty sure the bandwidth overhead is hugely outweighed by the CPU benefit, and it's a fairly small change, which will simplify client implementations on all platforms.

[2015-01-02 22:57] AaronSchulz opened #3326 "Abort queries pre-emptively if heap usage is high to avoid OOM"
Using Runtime.getRuntime() or the like, it might be nice if every X (say 1000) records scanned in query, Orient checked if the heap was down to Y% space left (some configurable amount, maybe 10% by default). If so, then the query might abort itself with probability from 1-100%. Once the heap is down to Z% left (e.g 5%), the probability will always be 100%. The probability could factor in Y-Z (clos

[2015-01-02 22:58] garrett-gottlieb commented on #3319
This seems to have fixed itself oddly enough :/ Weird

[2015-01-02 23:02] garrett-gottlieb commented on #3263
Hi @tglman,

Stability comes first, of course. Let me know any way I can help you speed this up, as we are going down daily on our old database and this is the biggest issue standing in the way of us launching OrientDB in production.

[2015-01-02 23:02] garrett-gottlieb opened #3327 "(Client=55) Indexed query takes 2.2s"
Our main feed query takes 2.7s to complete. We get this query 10M+ times per month, and it is the first thing a user sees. Our entire goal with OrientDB was to make this query faster due to the heavy amount of joins it requires, so let's see how fast we can make it!

This query grabs a batch of 10 Posts:
[code]

Here is the index:
[code]

Simply selecting from the index is slow, as described at ht

[2015-01-03 06:46] jiujiu1123 opened #3328 "Can not update a single value in an embedded list"
Hi I have a record which have a embedded list of string, I try to update a single value with this sql command.

[code]

no error was thrown but the property was not updated.
I used this command to check.

[code]

is there another way of updating a single value in an embedded list, or updating the entire list is required?

[2015-01-03 07:08] bkkoo commented on #3271
@8forty Please take a look that I not only set it via studio but I set it in the terminal console too (on step 2)

[2015-01-03 09:02] kadishmal commented on #2981
I am encountering the same problem in 2.0-rc1 after enabling the distributed mode with three nodes. The mentioned `MyClass` is an EDGE class. The error occurs on creating an edge. The interesting things is the first several thousand edges are created with no problem, then this errors starts occurring more and more frequently.

All three nodes reports the following error at the same time.

The erro

[2015-01-03 09:06] kadishmal commented on #3311
Can this be related to #2981?

[2015-01-03 15:25] a-unite commented on #3289
Luca, should we avoid strict mode for any Graph databases then?

It is OK for us, if this issue will be fixed in next minor release, but I need to make all architecture related decisions as soon as possible.

Thank you and Happy new year!

[2015-01-03 15:29] R4DIUM commented on #3314
Used latest snapshot (2.0) and message disappeared. Thx.

[2015-01-03 15:29] #3314 closed

[2015-01-03 20:56] phpnode commented on #3215
@mindplay-dk is using CSV presenting an actual performance problem for you or just a perceived one? [This implementation](https://github.com/codemix/php-orientdb/blob/master/src/OrientDB/Records/Deserializer.php) does 1Mb/sec on my machine, which may not be stellar but that's still a *lot* of records. It's also a direct port from the JS, with no PHP specific optimisations, I'm sure it could go a l

[2015-01-04 02:39] zanerock opened #3329 "Unable to override default password for 'admin' (2.0-RC1)"
To recreate, using 2.0-RC1

- setup new database in the 'storage'; define userName='admin' and userPassword="anything-but-admin" (I assume not a factor, but I'm random UUIDs); example:

<storage name="conveyor" path="plocal:/home/user/.conveyor/data/dogfoodsoftware.com/conveyor-core/databases/conveyor"
	       userName="admin" userPassword="d190386a-9341-40b7-9b66-0b29c3b665e7"
	       loaded-at-s

[2015-01-04 06:37] zanerock opened #3330 "'V' class does not exist initially (2.0-RC1)"
After creating a new database via the 'storage' element in the 'orientdb-server-config.xml', if I connect as the admin user and issue:

orientdb {db=conveyor}> CREATE CLASS Person EXTENDS V

Error: com.orientechnologies.orient.core.sql.OCommandSQLParsingException: Error on parsing command at position #27: Super-class V not exists
Command: create CLASS Person EXTENDS V
-----------------------------

[2015-01-04 07:42] laa commented on #3319
I think it is OS issue we encountered few of them later )).

[2015-01-04 15:46] lvca commented on #3329
admin is a database user, not server user. Look at:

http://www.orientechnologies.com/docs/last/orientdb.wiki/Security.html#work-with-users

[2015-01-04 15:46] #3329 closed

[2015-01-04 15:47] lvca commented on #3330
How did you create the database? You should use "graph" as type. Starting from 2.0 this is by default. However you can create classes V and E in your database and everything works.

[2015-01-04 15:47] #3330 closed

[2015-01-04 15:53] lvca commented on #3311
It could be the same one.

[2015-01-04 15:54] lvca commented on #2981
Please can you try with 2.0-SNAPSHOT?

[2015-01-04 15:55] lvca commented on #3311
Please can you try with last 2.0-SNAPSHOT?

[2015-01-04 15:57] lvca commented on #3328
Unfortunately this isn't supported by SQL API, but we absolutely need it.

[2015-01-04 16:00] #2408 closed

[2015-01-04 16:04] lvca commented on #3326
Actually we fixed all known memory leak so far. The only operations that could consume heap in query are:
- order by: it's executed in RAM, @luigidellaquila has a good idea to store on such situation
- group by: it's executed in RAM, but it's quite cheap in comparison of order by
- synchronous query with big results: the result is collected in RAM

Which case of these do you have?

[2015-01-04 16:04] kadishmal commented on #2981
Ok, I will try now. But where do I get it? Do you mean the master branch?

[2015-01-04 16:06] lvca commented on #3310
You could set this in orientdb-server-config.xml, but there isn't in default cfg. We prefer to keep `storage.diskCache.bufferSize` and JVM -Xmx in the same place to make this tuning easier.

[2015-01-04 16:07] lvca commented on #2981
If you use maven, just use `2.0-SNAPSHOT`, otherwise download latest from:

https://oss.sonatype.org/content/repositories/snapshots/com/orientechnologies/orientdb-community/2.0-SNAPSHOT/

[2015-01-04 16:27] mindplay-dk commented on #3215
@phpnode granted, the problem is "perceived", but I know from past experience that state machine type parsers are something you should strictly avoid in PHP, with a few possible exceptions (like template engines) where the result can be cached.

Also, it's not only a matter of CPU overhead on the client, but also of bandwidth overhead between the client and server, and of encoding overhead on the

[2015-01-04 16:50] kadishmal commented on #2981
Have no luck even running it. Gives the following error on server start:

	2015-01-04 16:45:09:640 INFO  OrientDB Server v2.0-SNAPSHOT is active. [OServer]
	2015-01-04 16:47:27:116 INFO  OrientDB auto-config DISKCACHE=1,378MB (heap=455MB os=3,881MB disk=9,311MB) [orientechnologies]
	2015-01-04 16:47:27:121 INFO  Loading configuration from: /opt/orientdb/config/orientdb-server-config.xml... [OServe

[2015-01-04 16:53] lvca commented on #3325
Created new page: https://github.com/orientechnologies/orientdb/wiki/Lightweight-Edges and updated documentation.

[2015-01-04 16:54] lvca commented on #2981
Seems it cannot find the orientdb-server-config.xml with network listeners.

[2015-01-04 16:58] kadishmal commented on #2981
Can start up the server in a non-distributed mode. The file is available and writable on the host.

[2015-01-04 17:03] #3325 closed

[2015-01-04 17:11] zanerock commented on #3330
It was created by inserting a 'storage' (plocal) element into 'orientdb-server-config.xml' file and then starting the database.

Is the 'graph' type documented yet? I'm referring to:

http://www.orientechnologies.com/docs/2.0/

[2015-01-04 17:16] zanerock commented on #3329
I agree; the response doesn't seem to answer the issue or I misunderstand your meaning. I'm trying to setup the database user 'admin' with a non-default password and it's not working.

[2015-01-04 17:20] lvca commented on #3330
It's when you create the database. Look at:

http://www.orientechnologies.com/docs/last/orientdb.wiki/Console-Command-Create-Database.html

[2015-01-04 17:21] lvca commented on #3329
What command have you used?

[2015-01-04 17:30] zanerock commented on #3330
Ahh, I see, the 'db-type'. It seems like there's still a problem though. If I create via the console, V and E show up fine. If I create via 'storage' element, they do not. It's acting as if the 'graph' default db-type not getting set for that route. And / or is there a way to specify that in the XML? (I looked but didn't find a 'dbType' attribute in the docs; I'll glance at the code.)

<storages>

[2015-01-04 17:33] zanerock commented on #3329
Via the 'storages' element in 'orientdb-server-config.xml'. Updated original description (had my formatting wrong).

[2015-01-04 20:09] 8forty commented on #3271
@bkkoo yes I saw that, just letting you know that studio is currently broken and won't show you the actual value of useLightweightEdges.

[2015-01-04 21:00] AaronSchulz commented on #3326
Don't queries acquire locks for READ_COMMITTED? That will still be O(N) memory usage. ORDER BY and GROUP BY are common (I'm using both atm). Also, in distributed mode, the coordinating server will have to do some map/reduce work in RAM right? That could be a of significant RAM usage too. Also, what about subqueries, are the implemented as chains of lazy iterators or do they ever get all the result

[2015-01-05 01:43] kadishmal commented on #2981
It was my fault that the server couldn't start up because it couldn't find the `config` directory. For some reason my servers had different `home` vs `home1` directories. Now 2.0-SNAPSHOT starts up fine, however nodes cannot join the cluster. Each node runs separately because each reports that the connection is refused to others after which they blacklist each other.

	2015-01-05 01:34:05:001 INFO

[2015-01-05 04:53] lvca commented on #2981
What's your hazelcast cfg? Are you using multicast? Are your machine in a network where Multicast is enabled?

[2015-01-05 06:37] SpareShade opened #3331 "[bug] sql SELECT via HTTP GET returns always only 20 results"
Hi,
thank you for this great DB !!!
sql SELECT via HTTP GET (query) always returns 20 results (even if LIMIT is set ie. 200)
SELECT via HTTP POST (command) and Binary sql select both work fine.
I've tried this on 2.0-M3 and  2.0-rc1

[2015-01-05 06:46] kadishmal commented on #2981
Multicast is disabled. Specified fixed IP address of Docker hosts as follows:

        <hazelcast
                xsi:schemaLocation="http://www.hazelcast.com/schema/config hazelcast-config-3.0.xsd"
                xmlns="http://www.hazelcast.com/schema/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                <group>
                        <name>orientdb</name>

[2015-01-05 06:57] lvca commented on #2981
By reading your log this address is taken: 172.17.0.2

[2015-01-05 07:00] kadishmal commented on #2981
What do you mean by "taken"?

[2015-01-05 07:04] lvca commented on #2981
Look at your log:

    2015-01-05 01:34:07:246 INFO  [LOCAL] [orientdb] [3.3] Picked Address[172.17.0.2]:2434, using socket ServerSocket[addr=/0.0.0.0,localport=2434], bind any local is true [DefaultAddressPicker]

[2015-01-05 07:05] kadishmal commented on #2981
Just in case, `172.17.0.2` is accessible only on the same host. However, my ODB nodes are running on separate physical machines each of which has its own `172.17.0.2` free or occupied. On each host Docker creates the same networking bridge.

What I don't understand is that when ODB on host B receives a connection from host A on port 2434, why does it reject the connection request just because the

[2015-01-05 07:09] kadishmal commented on #2981
Attaching ODB container directly to the host network still generate the same error:

	2015-01-05 07:06:03:912 INFO  [172.17.42.1]:2434 [orientdb] [3.3] Accepting socket connection from /123.123.123.124:44369 [SocketAcceptor]
	2015-01-05 07:06:03:913 INFO  [172.17.42.1]:2434 [orientdb] [3.3] Established socket connection between /123.123.123.123:2434 and /123.123.123.124:44369 [TcpIpConnectionManag

[2015-01-05 07:20] lvca commented on #2981
I see "Socket explicitly closed" as reason, so this is a cfg problem. Is 172.17.42.1 the address of your physical machine?

[2015-01-05 07:32] kadishmal commented on #2981
No, `172.17.42.1` is the address of the Docker bridge inside the first host. It's not accessible outside the host. The host IP is 123.123.123.123 for host A, and host B is 123.123.123.124. If my understanding is correct, ODB can't be run inside Docker which I really doubt. I still believe there is something doable.

[2015-01-05 07:38] lvca commented on #2981
Look at: http://docs.hazelcast.org/docs/3.1/manual/html/ch14s02.html#ConfigTcpIp under "Specifying Network Interfaces". You could force it to use the eth0 inteface.

[2015-01-05 08:19] luigidellaquila commented on #3327
Hi @garrett-gottlieb

I remember I changed that index removing "actionId", this way:

CREATE INDEX Post.newFeed ON Post (new, createdAt) NOTUNIQUE

and it reduced execution time to ~1 sec

Is it possible that you re-created it? (maybe I'm wrong and I don't remember correctly...)

[2015-01-05 08:26] kadishmal commented on #2981
Interfaces will not work inside the docker container because inside there is only one interface `eth0` which is bound to `docker0` bridge on host. A container doesn't see the host interfaces.

[2015-01-05 11:37] phpnode opened #3332 "Support `console.log()` or `print()` via JS"
The docs refer to a `print(row)` function in JS, but calling this function does not appear to do anything. This makes debugging JS super awkward because there's no way to inspect the state of the system. It would be nice if `print()` pretty printed its argument to STDOUT, or ideally, if `console.log()` and `console.error()` were implemented to do the same thing (`console.error()` should write to S

[2015-01-05 11:43] Stephanevincenza opened #3333 "shortestPath or dijkstra BUGs in console"
In a console, simply typing:
select shortestPath(#12:0:#12:7)
returns
Error: com.orientechnologies.orient.core.exception.OSerializationException: Found invalid ) character at position 70 of text shortestPath: [com.tinkerpop.blueprints.impls.orient.OrientVertex|#12:0),com.tinkerpop.blueprints.impls.orient.OrientVertex|#12:1),com.tinkerpop.blueprints.impls.orient.OrientVertex|#12:6),com.tinkerpop.bl

[2015-01-05 11:44] lvca commented on #3332
@phpnode JS print() send output to the console. Look at OrientDB server output. However I like your proposal on providing support for console.

[2015-01-05 11:44] lvca commented on #3333
You should specify comma (,) between RID. Try this:

    select shortestPath(#12:0, #12:7)

[2015-01-05 11:48] Stephanevincenza opened #3334 "shortestPath or dijkstra BUGs in console"
Thanks to lvca, But my copy paste from the window of my console didn't work.
I've typed
select shortestPath(#12:0, #12:7)
and got this error
Error: com.orientechnologies.orient.core.exception.OSerializationException: Found invalid ) character at position  70 of text shortestPAth:[com.tinkerpop.blueprints.impls.orient.OrientVertex|#12:0),com.tinkerpop.blueprints.impls.orient.OrientVertex|#12:1),com

[2015-01-05 11:51] phpnode commented on #3332
@lvca ah thanks ok, I see it now, I was missing the output. The result is still not really helpful though, e.g. for this:
[code]
I get something like:
[code]

Ideally, I'd see something more like:

[code]

[2015-01-05 11:55] phpnode opened #3335 "Support `load()` and/or `loadWithNewGlobal()` in JS"
See [here](https://wiki.openjdk.java.net/display/Nashorn/Nashorn+extensions#Nashornextensions-Extensionproperties,functionsinglobalobject) for docs, I'm guessing this has been disabled on purpose because it looks like a standard nashorn feature? Enabling it would allow us to write a node compatible `require()` function which would be super useful.

[2015-01-05 12:05] Stephanevincenza commented on #3333
Thanks you so much, but my copy paste from the window of my console didn't
work.
I've typed
select shortestPath(#12
<https://github.com/orientechnologies/orientdb/issues/12>:0, #12
<https://github.com/orientechnologies/orientdb/issues/12>:7)
and got the
I give you a screen capture to have a look. It seems to be a bug.
More than this, the ID's of the vertex given in the error are the good
ones. The

[2015-01-05 12:05] lvca commented on #3332
That result is because the result set is a JS array of ODocument object. We could provide console.log() and error() that properly manage it

[2015-01-05 12:07] lvca commented on #3334
Why did you create another identical issue?

[2015-01-05 12:07] #3334 closed

[2015-01-05 12:07] lvca commented on #3333
I don't understand the problem. Is it the same as before or another one?

[2015-01-05 12:11] lvca commented on #2981
Does the output of the command "/sbin/ifconfig" have been executed on virtual host or physical?

[2015-01-05 12:12] Stephanevincenza commented on #3333
Yes, this is the same problem but I MADE A ERROR when I sent you the first
issue. I mean when writing the message..... Sorry...
From the beginning, I typed
select shortestPath(#12:0,#12:7) in the console....  you can have a look on
the screen capture.

2015-01-05 13:07 GMT+01:00 Luca Garulli <notifications@github.com>:

[2015-01-05 12:24] lvca commented on #3333
I don't see any scree capture. Please could you use GitHub to comment the issue rather than the email? GitHub allows you to drag & drop images.

[2015-01-05 12:59] Stephanevincenza commented on #3333
![capture](https://cloud.githubusercontent.com/assets/10373149/5612946/f3e83c08-94dc-11e4-9837-33700287c4d0.jpg)

[2015-01-05 13:01] lvca commented on #3333
what OrientDB release are you using?

[2015-01-05 13:02] Stephanevincenza commented on #3333
1.7.10

[2015-01-05 13:08] Stephanevincenza commented on #3333
The strange thing is that the Id's of the nodes given in the error string (#12:0, #12:1, #12:6, #12:7) is the right shortest path from #12:0 to #12:7 in the set of records i'm using to developp my application. So it seems to be an error after the calculation of the shortest path.

[2015-01-05 14:23] lvca commented on #3333
Try to specify also directions:

    select shortestPath(#12:0, #12:7, 'BOTH')

[2015-01-05 14:33] Stephanevincenza commented on #3333
I've got the same error specifiying the direction. But I've found that
select shortestPath(#12:0,#12:7)
works fine in orientDB studio on the same server.......
And more
select expand(shortestPath) from (select shortestPath(#12:0,#12:7,'OUT')) works fine in the console.............
Finaly, that's what I wanted to obtain : the list of vertices traversed by the shortets path. So I've got my solution.

[2015-01-05 14:48] lvca commented on #3333
Maybe it's only a problem of spaces. Please could you try:

    select shortestPath( #12:0, #12:7, 'BOTH' )

(I've added more spaces before/after parenthesis).

[2015-01-05 14:51] Stephanevincenza commented on #3333
Doesn't work .... even with a space after the last )

[2015-01-05 14:52] Stephanevincenza commented on #3333
![capture2](https://cloud.githubusercontent.com/assets/10373149/5614591/e1dd4254-94f2-11e4-9953-51d60720edc5.jpg)

[2015-01-05 14:56] Stephanevincenza commented on #3333
![sans titre](https://cloud.githubusercontent.com/assets/10373149/5614652/657a8946-94f3-11e4-90a1-245a14dd6c4e.jpg)

[2015-01-05 14:57] Stephanevincenza commented on #3333
It looks like a bug ......
Don't hesitate to ask to me for other tests.
Best regards

[2015-01-05 15:03] lvca commented on #3333
Ok, I'll leave this issue open.

[2015-01-05 16:09] maddyrenstrom opened #3336 "Problems with commas in strings using an 'in [...]' query"
Hi, I have the following problem:

create a document with a field with a comma in it, e.g.:
      create Vertex DumClass set someProp = 'Hi, there'

The query:
    select from DumClass where someProp = 'Hi, there'
works but not the query:
    select from DumClass where someProp in ['Hi, there']

due to the comma in the string. Doing the exact same thing without the comma works just as intended. Th

[2015-01-05 16:15] lvca commented on #3336
OrientDB version?

[2015-01-05 16:18] #3209 closed

[2015-01-05 16:28] mathieubodin commented on #1074
Error is still occurring in 2.0-rc1

[2015-01-05 16:29] lvca commented on #1074
Could you provide the new stack trace with the error?

[2015-01-05 16:36] rtm81 commented on #3219
https://gist.github.com/rtm81/1aa8255a58437f481a1d

I am calling Orient.instance().shutdown(),
see this line in the log.

2015-01-05 17:24:18:894 INFO  OrientDB Engine shutdown complete [Orient]

I send the heapdump via Email.

[2015-01-05 16:47] mathieubodin commented on #1074
Here is the stack :

[code]

I look into OCommandExecutorSQLSelect.class on line #1829 in debug mode

[code]

It appears that the getRight() method return an instance com.orientechnologies.orient.core.sql.filter.OSQLFilterItemParameter.

For the record, the use case is mainly the same. I finally avoid querying the index and it work, but I fear for the queries performances.

[2015-01-05 16:56] n0lf commented on #3336
tried it on OrientDB 2.0-rc1 and OrientDB 1.7.9. works on neither

[2015-01-05 17:59] kadishmal commented on #2981
Physical host. I have a Docker server running on it. Has there been any multi-host Docker deployment before among your customers? So far from my experiments the best approach is to use domain names for peer ODB nodes, however my current problem is that each peer recognizes only its own domain name. Other two host names don't resolve naturally via the central DNS. The last option is to hardcore the

[2015-01-05 18:18] mirobimbo opened #3337 "Can't run OrientDB in mule"
Hello, I haven't been able to run OrientDB under mule environment. I tired to:
1) install java 1.7
2) run orientdb-community-1.7.10 on local machine
3) download and run Anypoint Studio 4.1.0, create new Mule Project -> 3.5.0 CE, Use maven
4) Add dependencies to pom of new project:

[code]

5)  create new Class:

[code]

---

6) run `TestOrient` as JUnit test. You will get an Error:

[code]

---

I

[2015-01-05 21:00] bfausett opened #3338 "Traversing the graph only returns 1 level instead of all levels"
I have created 1000s of Vertices with multiple edges between them all.  I want to be able to traverse the graph of Vertices based upon the Edge 'Type', specify the direction (incoming or outgoing), and the depth (how many levels down the graph do I want to traverse), based upon a specific identified Vertex.  So far I have not found a method to accomplish this task yet...perhaps I am doing somethin

[2015-01-05 22:14] devourment77 opened #3339 "Duplicate properties created from inheritence in 2.0-rc1"
Hello,

We were doing some testing with OrientDB 2.0-RC1 today and we noticed that child classes were getting duplicate fields from parent classes.  I also tested in 1.7.10 and it was not doing it.  Here's how to replicate:

orientdb {db=wayblazer}> create database remote:localhost/test USER PASSWORD plocal graph
orientdb {db=test}> create property V.createdAt datetime
orientdb {db=test}> create p

[2015-01-06 01:34] #3339 closed

[2015-01-06 03:54] AaronSchulz commented on #3331
Note that using LIMIT in the SQL part of the URL does nothing, you have to use the /<LIMIT> in the end of URL. Where did you specify LIMIT?

This is slightly confusing though. Probably Orient should apply both (if any), the SQL one and then the URL one, like a subquery.

[2015-01-06 05:52] #1603 closed

[2015-01-06 06:02] laa commented on #3302
Hi,
I removed this timeout it is old legacy and it is not needed any way.

[2015-01-06 06:02] #3302 closed

[2015-01-06 06:03] laa commented on #3315
Hi,
Could you be more specific ?

[2015-01-06 06:05] laa commented on #3295
Hi,
Could you provide example of operations which were lead to index rebuild ?

[2015-01-06 06:10] laa commented on #3293
After fuzzy checkpoints were implemented restore process does not take hours.
But idea is nice, I will try to implement it in 2.0 if we will have time.
Meanwhile could you try latest version and verify that restore process now will not take much of time.
Create database, fill the date, wait 15-20 min and kill server.
Let see time which we need to restore data.

[2015-01-06 06:15] laa commented on #3282
Yes,
But if we stop server in the middle of index rebuild.
We need either to wait till rebuild will be finished or remove index from system.
I will implement the first one.

[2015-01-06 06:21] laa commented on #3260
It is binary protocol issue assigned to @tglman

[2015-01-06 06:22] laa commented on #3259
Is it still reproducible on latest sources, I have added fix for this issue during fuzzy checkpoints implementation.

[2015-01-06 06:24] laa commented on #3257
Hi,
Could you try the same case with wal fuzzy checkpoints implemented.

[2015-01-06 06:24] laa commented on #3239
It is sql issue assigned to  @luigidellaquila

[2015-01-06 06:25] laa commented on #3190
Hi,
Could you provide data log and program to reproduce given issue ?

[2015-01-06 06:26] laa commented on #3159
Seem like it fixed :-) I close it.

[2015-01-06 06:26] #3159 closed

[2015-01-06 06:27] laa commented on #3191
Hi,
Are there any updates on this ?

[2015-01-06 06:36] adithyank commented on #3302
Making it 0 means it will wait indefinitely?

[2015-01-06 06:39] #3282 closed

[2015-01-06 07:00] adithyank commented on #3282
What will happen now when the application is killed (kill -9) during index rebuilding?
Will index rebuilding start again when the application gets restarted?

[2015-01-06 07:03] adithyank commented on #3190
I am working on it now.

[2015-01-06 07:08] laa commented on #3282
Index rebuild is non tx operation.
So yes if you kill app during index rebuild all indexes will be rebuild.

On Tue, Jan 6, 2015 at 9:00 AM, K Adithyan <notifications@github.com> wrote:

--
Best regards,
Andrey Lomakin.

[2015-01-06 07:10] laa commented on #3302
It was done to prevent deadlock in very early versions of product, now it
is not needed it will wait for some time but not indefinitely, lock uses
queue inside, so lock eventually will be acquired.

On Tue, Jan 6, 2015 at 8:36 AM, K Adithyan <notifications@github.com> wrote:

--
Best regards,
Andrey Lomakin.

[2015-01-06 07:34] SpareShade commented on #3331
well, i have tried many variations
ie:
http://mylocal.local:2480/query/mydb/sql/select from MyClass/limit 200
response:
java.lang.NumberFormatException: For input string: "limit"

how is the query supposed to be formatted?

[2015-01-06 07:49] adithyank commented on #3190
When I did this, I am not getting this ODirectMemoryViolation Exception. All the records are inserted fully.

I did this exercise in the below ways

1. one time with Xmx4g and 1000 records in one transaction
2. another time with Xmx17g and 1000 records in one transaction
3. another time with Xmx17g and 100 records in one transaction

What else can I do to reproduce this?

[2015-01-06 07:52] adithyank commented on #3190
I observed another thing when I did the above exercise.

In the offline data I took from the POR_SEQUENCE class of the orinetdb database, there were lot of duplicate records in the field in which UNIQUE_HASH_INDEX is available.

You may say that it may be due to this ODirectMemoryViolation. But, we are calling rollback() methods properly. In that case, how can these duplicate records stay in the d

[2015-01-06 10:38] nooruls143 commented on #3279
I am having the same issue when I am upgrading the version 1.7.x to 2.0.x and I just downloaded the latest version 2.0-rc1 from your website. Is that version fixed this issue?  My error log as below:

Error: com.orientechnologies.orient.core.db.tool.ODatabaseExportException: Error on importing database 'pricewiz' from file: /root/Downloads/pricewiz.export.gz

Error: com.orientechnologies.orient.en

[2015-01-06 11:05] PaulWoodIII commented on #1946
I agree, I was surprised when I didn't find this feature

[2015-01-06 11:29] laa commented on #3219
Hi,
I have fixed obvious leaks.
Could you try now ?

[2015-01-06 11:35] laa commented on #3190
Hi,
We need to reproduce this issue because you are only user which has such problem.
Could you send me log with data which you use to reproduce this issue and program which you used for this exercise ?

[2015-01-06 11:57] giastfader opened #3340 "[1.7.10] data inconsistency when a class name contains @"
Hi,
A user of mine found a problem that occurs when a class contains the @ character.

[code]
As you can see the inserted record is completely wrong. The "k" field became "b@k" .

[2015-01-06 12:18] #3214 closed

[2015-01-06 13:34] mathieubodin commented on #2096
Issue is still occurring on 2.0-rc1.

[2015-01-06 15:12] #3176 closed

[2015-01-06 15:35] tglman commented on #3260
yes, when you shutdown a client the server don't kill all running operation of the specific client, we kill just the idle worker, the reason is that the current implementation doesn't recognize if the running operation is safe to be killed (like a select) or not (like insert/update/delete), so we wait till the operation finish, we already have planned the fix for this behavior but won't be include

[2015-01-06 15:53] phpnode commented on #3340
class names are not validated and this can cause some *particularly* unpleasant issues. IMHO they should be restricted to match `/^[A-Z_][A-Z0-9_]*$/i`

[2015-01-06 16:16] zanerock commented on #3315
Sure, the WARNING message seems to be inconsistent with itself. It's claiming that there is not enough physical memory and then quotes a number which clearly shows there is plenty of physical memory. (I've checked actual available memory too, and there's plenty; nothing else is running.) I.e., 2007 > 61.

The bad behavior is then to increase the disk cache unnecessarily. In this case, should be '0

[2015-01-06 16:17] tglman commented on #3300
hi @danrub,

I tried to run `select expand(classes) from #0:1` in remote and i don't get any error, do you still have this error in the last SNAPSHOT ?

[2015-01-06 16:19] zanerock commented on #3329
And then started server with the 'server.sh' script.

[2015-01-06 16:45] lvca commented on #3260
@tglman all the command implementations has the method isIdempotent(), so we could simply check it: if it's idempotent (like select and traverse) we could do that. WDYT? Is that easy?

[2015-01-06 16:56] lvca commented on #3315
We fixed this problem in 2.0-SNAPSHOT. Please could you try it?

[2015-01-06 16:57] lvca commented on #3315
Sorry, I was wrong. The message you refer is the one is given at run-time. Looking at it right now.

[2015-01-06 17:16] lvca commented on #3315
Gotcha. How much physical memory do you have on your server in total?

[2015-01-06 17:29] tglman commented on #3263
hi,

I written the tests and tried to solve the problem, but I've found some issues in the protocol design, I've this test https://github.com/orientechnologies/orientdb/blob/develop/tests/src/test/java/com/orientechnologies/orient/test/database/auto/FetchPlanTest.java#L233 that is failing with the fix, the reason that the fetch plan should not remove the data from the record but not load it and le

[2015-01-06 17:40] lvca commented on #3340
@phpnode is right, but OrientDB doesn't check for @. I've added @ as forbidden char.

[2015-01-06 17:44] mindplay-dk commented on #3202
Any thoughts on this?

I'd like to use the REST API as a first step towards adopting OrientDB, but I don't want to write a client that expects this format, if it turns out this denormalization issue is indeed a blunder.

[2015-01-06 17:47] lvca commented on #3263
The only problem I can see here is when users use -2 in fetchPlan to remove properties and then save those records: OrientDB would save them without the removed properties.

So we should decide between:
- support -2 and give to the user the responsibility to don't save the record back
- improve exclude() method to support nested properties

[2015-01-06 17:48] lvca commented on #3329
In storages you enlisted your database, but how did you create it?

[2015-01-06 17:55] lvca commented on #2096
This is a documentation problem I've just fixed (https://github.com/orientechnologies/orientdb/wiki/Console-Command-Export): flags need = not space. Try with:

    export database /tmp/test5.out -excludeAll -includeClass User

[2015-01-06 17:56] tglman opened #3341 "add an UNSAFE keyword for CREATE PROPERTY."
add to the CREATE PROPERTY an UNSAFE keyword to skip the persistent data check, this will speedup a lot the property creation, but should be documented properly because can lead to runtime errors.

[2015-01-06 18:22] lvca commented on #1946
Very easy to implement, unfortunately we're in RC stage, so we can't add new features now. This will go for 2.1

[2015-01-06 18:49] lvca commented on #3191
Yes, the TimerTask let the cache to be strongly reachable. In @AaronSchulz screenshots I didn't see many DB instances neither OLocalRecordCache instances. So I think this is fixed. @AaronSchulz any chance to reproduce it again?

[2015-01-06 18:51] lvca commented on #3316
@AaronSchulz your query seems to provide correct results. The second one has GROUP BY, so it's correct it has 2 records less than the first one, because 2 values are duplicated in 1st query result.

[2015-01-06 19:12] #3316 closed

[2015-01-06 19:21] AaronSchulz commented on #3191
I'll rebuild the DB again to see.

[2015-01-06 20:24] zanerock commented on #3315
2GB; it's virtual so I can move that around if useful for testing. I'm going off a note I saw that OrientDB can run with a relatively low footprint so starting it out at -Xmx64M

[2015-01-06 21:12] dcardin commented on #3331
Syntax: http://<server>:[<port>]/query/<database>/<language>/<query-text>[/<limit>][/<fetchPlan>]
http://mylocal.local:2480/query/mydb/sql/select from MyClass/200

for more info, see:
http://www.orientechnologies.com/docs/last/orientdb.wiki/OrientDB-REST.html#query

[2015-01-07 07:26] AaronSchulz commented on #3191
Seems to be fixed after running for many hours.

[2015-01-07 07:26] #3191 closed

[2015-01-07 07:34] AaronSchulz opened #3342 "Ran out of disk space due to WAL files"
I've rebuilt my DB many times before but never ran into this (using develop compiled yesterday). I have thousands of .wal files taking up most of the 1TB drive I have for OrientDB. This caused:

2015-01-06 23:14:42:849 SEVERE Internal server error:
com.orientechnologies.orient.core.exception.OLowDiskSpaceException: Error occurred while executing a write operation to database 'WikiData' due to lim

[2015-01-07 07:58] kadishmal commented on #2981
I will comment back when I get a reliable solution.

[2015-01-07 10:02] AaronSchulz opened #3343 "GROUP BY B ORDER BY B is slow with (A,B) index and constant A conditions"
Queries of the form A=x GROUP BY B ORDER BY B are slow even with an (A,B) tree index. Using ORDER BY (A,B) also made no difference. This should be fast, as it is in MySQL.

examples:
create index HPwQVIidIdx on HPwQV (iid, oid) notunique;

SELECT oid FROM HPwTV WHERE iid=569  AND rank >= 0 AND out.deleted IS NULL GROUP BY oid ORDER BY oid ASC LIMIT 10 TIMEOUT 10000

SELECT oid FROM HPwTV WHERE iid

[2015-01-07 11:05] pdolega opened #3344 "ORecordNotFoundException thrown on vertex.remove()"
Following code throws ORecordNotFoundException (on `remove()` line):

[code]

Obviously vertex is in database as it's correctly read couple of lines above (and even when I stop on breakpoint in the line of `remove` I can still correctly read it from db. Actually it seems that this `remove` actually does remove the vertex as after exception is being thrown when I stop in breakpoint in `catch` claus

[2015-01-07 11:33] pdolega commented on #3344
Seems that reverting back to version 2.0-M3 solves the problem. Regression bug ?

[2015-01-07 12:05] n0lf commented on #3336
should mention that it works if you use a Prepared query with name parameters.

[2015-01-07 12:15] n0lf commented on #1069
When this is solved, will it be possible to use named and/or positional parameters or  when you assign a context variable to the result of a sub-query?

[2015-01-07 14:04] rtm81 commented on #3219
I just tested with the latest 2.0-Snapshot based on Commit 0f6b773da08750cd85af15d2f0ab549834ff2047.

Here the Tomcat logs: https://gist.github.com/rtm81/ad515fc8caf30a61af2d

The tomcat log still indicates leaks in com.orientechnologies.common.concur.lock.OReadersWriterSpinLock

2015-01-07 14:50:27:084 SEVERE The web application [/odb-web] created a ThreadLocal with key of type [com.orientechnolo

[2015-01-07 14:35] lvca commented on #3340
Fixing field names

[2015-01-07 16:04] #3340 closed

[2015-01-07 16:26] tglman commented on #3260
this is fixed now, closing

[2015-01-07 16:26] #3260 closed

[2015-01-07 17:13] devourment77 opened #3345 "UTF8 character breaking query"
Hello,

When running this query with 2.0-rc1, we get an odd error that says "AND" is an invalid keyword.  Taking out the "ß" character fixes the query.  We have not run into this with other utf8 chars yet.

QUERY
select * from Attraction where name = 'Schloßberg Hotel' and archive = false

ERROR FROM ORIENTDB
-----------------------------------------------------------------^
com.orientechnologies.

[2015-01-07 17:25] lvca commented on #3345
This issue should be already fixed in 2.0-SNAPSHOT. Please could you try it?

[2015-01-07 17:41] devourment77 commented on #3345
I will try it, also forgot to mention that we were using OrientGraphNoTx (java).

[2015-01-07 17:55] tglman commented on #3317
@garrett-gottlieb do you still have this problem after i reverted the the fix ?

[2015-01-07 18:10] devourment77 commented on #3345
We tried with the "develop" branch and still see the issue.  I didn't not see a 2-0-SNAPSHOT branch to try out (apologies if I overlooked it).

Thanks
Brandon

[2015-01-07 18:11] danrub commented on #3300
Yes, I just run it inside our test environment, with the latest pull.

please notice, I'm running the command through the binary protocol, with .NET driver, written by me (protocol version 17, CSV serialization).
when I run the same command inside a console it doesn't fail.

The failure happens at ORecordSerializerCSVAbstract.java at line 132.
while the binary protocol starting to serialize the re

[2015-01-07 18:18] tglman commented on #3306
Hi @garrett-gottlieb in last few days we did a few fix, now we have the checkpoint implementation, and also we terminate heavy query that not have a client associated.
So this issue can be considerate fixed.

[2015-01-07 18:18] #3306 closed

[2015-01-07 18:20] AaronSchulz opened #3346 "Deadlock while creating a new class"
When adding two new classes, the second command got stuck:

[code]
At the time, some edges where being created as well.

I tried shutdown.sh to no avail. VisualVM detected a deadlock. Here is the thread dump.
[code]

[2015-01-07 18:26] tglman commented on #3346
Hi, can you use (gist)[https://gist.github.com/] for the traces, will be much more readable ;)

[2015-01-07 18:51] lvca commented on #3306
@tglman in what sense "we terminate heavy query that not have a client associated"?

[2015-01-07 19:02] khendricks opened #3347 "The word 'FROM' in square bracket clause's causes error"
If you have the word "FROM" surrounded by spaces in a square bracket clause the query will return an error.

Ex:
[code]

The errors are random:
Missing closed string character: '''
Class 'xxxxx' was not found in the current database

I tried other keywords but it seems FROM is the only one that messes things up.

This happens on 1.7.10, 2.0-rc1, and the 20150108 2.0 SNAPSHOT.

[2015-01-07 20:18] buzzkillington opened #3348 "Allow preservation of null fields when using projections"
Using OrientDB-community 1.7.9, fieldB gets dropped in the second query below.  It would be useful to have an optional keyword that instructs Orient to include/retain null fields when using projections (or any applicable operation).  This capability should also be exposed via the Java API.

See also [this Group topic](https://groups.google.com/forum/#!topic/orient-database/j_0mnQt4ZnM).

[code]

[2015-01-07 21:24] AaronSchulz commented on #3343
This was exposed by the fix for #3316.

It's good that that was fixed, but without some optimization here, GROUP BY is hard to use on any large dataset due to all rows being needlessly scanned. Pretty much every query from https://github.com/AaronSchulz/WikiDataQueryOrient times out now :)

[2015-01-07 21:29] tglman commented on #3306
in the fix for https://github.com/orientechnologies/orientdb/issues/3260 i introduced in the cleaning thread the interrupt of the select query that don't have a client, before that fix if a query was running to much and the client was going in timeout, it would be remained running on the server, now not anymore

[2015-01-07 21:31] lvca commented on #3306
Gotcha, thanks!

[2015-01-07 23:51] AaronSchulz commented on #3343
More generally, a query on "A=x,B=y GROUP BY C ORDER BY C" should also be fast with an (A,B,C) index. As long as there required prefix of field=constant conditions, it should require no sorting.

[2015-01-08 03:21] PhantomYdn opened #3349 "OFunction and OScheduler as ODocumentWrapper"
Guys,

Classes OFunction and OScheduler operate as wrappers over corresponding ODocument, but, in fact, they are not extending ODocumentWrapper.

Do you mind if I rewrite this 2 classes? Extention of ODocumentWrapper gives following:
1) More solid architecture.
2) OOB ability in Orienteer to invoke operations on that classes if they extends ODocumentWrapper.

If you don't see any problems with thi

[2015-01-08 06:42] mindplay-dk commented on #3202
@lvca sorry to bump this, but if this requires a BC break, you'd probably want to get it into the 2.0 release? The REST API is not really usable to me as it is, I'm afraid - I'm pretty sure it needs to send the records from the root of the query separately from related records for pre-caching on the client? Same approach as in the binary client. But this is a breaking change to clients, perhaps so

[2015-01-08 09:09] darkredz commented on #3226
Also it seems that in RC1 a field with LUCENE fulltext index will become SBTREE fulltext index after using the import command from the database when using the db.validation = false workaround

[2015-01-08 09:37] lvca commented on #3202
@mindplay-dk This is by design: doesn't matter if you have document as embedded or linked, the resulting JSON is pretty the same. However I understand your needs, and we could slightly improve the API to avoid expanding linked documents. Is it enough?

[2015-01-08 09:37] lvca commented on #3202
@mindplay-dk This is by design: doesn't matter if you have document as embedded or linked, the resulting JSON is pretty the same. However I understand your needs, and we could slightly improve the API to avoid expanding linked documents. Is it enough?

[2015-01-08 09:38] lvca commented on #3202
@mindplay-dk This is by design: doesn't matter if you have document as embedded or linked, the resulting JSON is pretty the same. However I understand your needs, and we could slightly improve the API to avoid expanding linked documents. Is it enough?

[2015-01-08 09:45] phpnode commented on #3202
@lvca to do that whilst still supporting fetchplans will be a big BC break, better to switch to something which can accurately describe linked graphs in JSON, e.g. [JSON-LD](https://github.com/orientechnologies/orientdb/issues/2273) :)

[2015-01-08 10:06] red-0ne commented on #3202
I second @mindplay-dk on that. We also have problems with getting *entities* nested into a root one. As we frequently have to manipulate them as standalone objects that could be saved, and refreshed separately from the rest. We actually have to normalize them on query basis which is a very short-life solution.

Selects with fetchplan have this behaviour. @mindplay-dk, do you have other query types

[2015-01-08 10:15] martinpengellyphillips opened #3350 "Convenience command for renaming a field through SQL API"
It would be helpful to have a convenience command in SQL API for renaming a field for all documents (even when no property exists).

Something like:

[code]

At present, you have copy all the values to the new field and then drop the old field which is non-obvious for newbies like me ;-)

[2015-01-08 10:21] mindplay-dk commented on #3202
Doesn't really address the problem, as this would mean multiple subsequent round-trips to get related documents - we could already do something similar by just specifying a fetch-plan, so it doesn't help much, and as @phpnode pointed out, it's a major BC break.

The binary API has the right approach - applying that to the REST API, where the response is currently `{"result":[...]}` it needs to be

[2015-01-08 10:30] phpnode commented on #3202
Not really, it would be very straightforward.

There are a *lot* of problems with the way RIDs currently work in the REST API, they're a potentially horrible security issue.

https://github.com/orientechnologies/orientdb/issues/3313
https://github.com/orientechnologies/orientdb/issues/2243
https://github.com/codemix/oriento/issues/184#issuecomment-68880072
https://github.com/nitrog7/node-orientdb/

[2015-01-08 10:34] phpnode commented on #3202
To make sure you get the point, here's the effect of equating strings with RIDs:
[code]

[2015-01-08 10:35] Bretto opened #3351 "What's the issue with javascript dynamic hooks ?"
Issues with Dynamic-Hooks RC-1 #3250
Could someone explain why it's not working as intended ?

[2015-01-08 10:42] laa commented on #3309
I think that index was broken before memory violation ,this exception is only side effect.

[2015-01-08 10:42] laa commented on #3309
I think that index was broken before memory violation ,this exception is only side effect.

[2015-01-08 10:42] laa commented on #3309
I think that index was broken before memory violation ,this exception is only side effect.

[2015-01-08 10:58] phpnode commented on #3350
renaming a property in the class should have this effect, a new command should not be required.

[2015-01-08 11:05] martinpengellyphillips commented on #3350
True, but wouldn't that workflow be:

1. Create property
2. Alter property
3. Drop property
4. Drop old field

which isn't obvious and also seems a bit overkill.

[2015-01-08 11:08] carloprad commented on #2836
Hi @lvca ,
I'm sorry for the missed reply, but I was sick for a while...
I've just tried with the latest snapshot, and the test passed as expected.
Thanks!

[2015-01-08 11:24] mindplay-dk commented on #3202
Yep, I see the problem there.

In my own work with JSON/REST, when dealing with de/serialization, I usually solve this problem by encoding object values as hashes with a reserved key, using a prefix such as `#` which can't collide with property-names in native objects; for example, I might encode a RID as `{"#RID":"10:2"}`.

Obviously, this would be another breaking change - I wonder if we're gett

[2015-01-08 11:55] a-unite commented on #3350
@martinpengellyphillips , I think @phpnode meant this syntax:

ALTER PROPERTY <class>.<property> NAME NewNameValue

Look here, please: https://github.com/orientechnologies/orientdb/wiki/SQL-Alter-Property

But be aware, that altering property and class names could detach dependent custom indexes, which is another issue I still think I have to analyze and submit.

[2015-01-08 12:06] phpnode commented on #3202
@mindplay-dk this is why I proposed JSON-LD, because it can express RIDs and the rest of the various data structures in a way that doesn't require that kind of edge case:

[code]

or similar

[2015-01-08 12:09] martinpengellyphillips commented on #3350
Yeah, I understood that. However, I am talking about when in schemaless mode and not using a property. Attempting to use ALTER PROPERTY before creating the property failed for me (or is that a bug?).

Chatting to Luca over on the forum, I see the solution currently is:
[code]

I still think there is a case for a more obvious RENAME command though. I searched for quite a bit on the forum and docs o

[2015-01-08 12:25] lvca commented on #2836
Great ;-)

[2015-01-08 12:26] lvca commented on #2836
I mean, no great for your sickness :-) Great about the closed issue ;-)

[2015-01-08 12:44] red-0ne commented on #3202
@phpnode, I think something like that is a must have and could be involved in a proper fix for this problem but it is not the at core of this issue.

According to @lvca, nesting entities is the the way to go which IMO is not. Of course getting this kind of (nested) structure is useful for short-lived result sets that generally exist to fulfil a one-time task (generally processing and/or display).

[2015-01-08 12:44] #3346 closed

[2015-01-08 12:51] carloprad commented on #2836
;-)

[2015-01-08 12:51] luigidellaquila commented on #3204
Hi @AaronSchulz

I fixed your use case enhancing a little bit the query optimizer.
This fix does not cover all cases (eg. multiple IN clauses involving the same hash index). I'll open another issue about that and it will be fixed in next release, with the help of the new SQL parser.

[2015-01-08 12:51] #3204 closed

[2015-01-08 12:55] luigidellaquila opened #3352 "Hash indexes aren't used for multiple IN with composite indexes"
eg.
class: Test
properties:
Test.foo STRING
Test.bar STRING

index: Test.foo_bar HashIndex

the following query does not use the index

SELECT FROM TEST WHERE foo in ['a', 'b'] and bar in ['a', b']

[2015-01-08 13:27] tglman commented on #3300
hi @danrub

We got all our remote test suite running in this modality, and i don't get this error, i write also a few lines of code for try to reproduce it:
[code]

and it run with no problem, so is probable that the issue is with the backward support with version 17 (now we are 27)

is it your driver code public ? are you using https://github.com/yojimbo87/OrientDB-NET.binary ?
will be useful hav

[2015-01-08 13:30] laa commented on #3222
I close it because it was not answered during 2 weeks feel free to reopen it.

[2015-01-08 13:30] #3222 closed

[2015-01-08 13:43] phpnode commented on #3202
@red-0ne it's very much related to this issue, otherwise Orient needs to invent some other way of indicating a list of "prefetched" records that are separate from the main result set, (some new special envelope in the JSON) and then you run into issues where a record could appear in the main result set *and* the list of prefetched records - it can get ugly very quickly.

If the solution requires a

[2015-01-08 13:49] #3342 closed

[2015-01-08 14:33] tglman commented on #3345
we had a very similar issue due to the encoding, that is solved, but i think the issue you describe exist in the current parser code, that parser will be deprecate soon, we are already working on a new one without this issues.

The workaround is use the query parameters in this way the parser don't have problem to read the query.

[2015-01-08 14:38] laa commented on #3344
Hm ... I will take it.

[2015-01-08 14:56] luigidellaquila commented on #3239
Hi @garrett-gottlieb
This issue cannot be fixed by design: HashIndex implementations apply filters based on hashes (obviously) but a "not null" condition does not correspond to a single value, so it doesn't have a hash value...
Implementing this using a hash index would mean iterating on index keys and discarding only one (null), that in the average case would be comparable to iterating on the who

[2015-01-08 14:56] #3239 closed

[2015-01-08 14:57] vitorenesduarte opened #3353 "LUCENE * not working properly"
I have this:
[code]

And this:
[code]
returns only the second record.

In [this recommended link](http://lucene.apache.org/core/2_9_4/queryparsersyntax.html#Wildcard%20Searches) says that the wildcard __*__  looks for 0 or more characters.

What is happening?

[2015-01-08 14:59] carloprad commented on #3271
I have the same problem:
here an SQL test case script:
[code]

Here the exception:
[code]

My ODB server is started in distributed mode, though without a peer.

Note the hazelcast exception at DB creation time:
[code]

[2015-01-08 15:03] vitorenesduarte commented on #3353
__+__ operator does also seem to have some problem.

`select from Test where name LUCENE '+a'`does not returns the first record;

`select from Test where name LUCENE '+aa'`returns the second record.

[2015-01-08 15:04] lvca commented on #3271
@carloprad what release?

[2015-01-08 15:05] carloprad commented on #3271
latest snapshot

[2015-01-08 15:06] lvca commented on #3313
Supported LINK and LINKLIST. It's missing LINKMAP and EMBEDDEDMAP but they are not in the protocol as different type.

[2015-01-08 15:15] maggiolo00 commented on #3353
i guess that 'a'
is skipped as it is an English stop Word as the default analyzer is StandardAnalyzer

[2015-01-08 15:26] red-0ne commented on #3202
@phpnode, I agree, it is very related to this issue, but OrientDB team sould consider normalized result sets as the prime behaviour first (this is not what @lvca seems to think :/ ).

[2015-01-08 15:54] vitorenesduarte commented on #3353
Thanks @maggiolo00
Can I define a new analyzer?

[2015-01-08 15:57] maggiolo00 commented on #3353
Yes @vitorenesduarte
see here
http://www.orientechnologies.com/docs/last/orientdb-lucene.wiki/Full-Text-Index.html

[2015-01-08 16:09] #3353 closed

[2015-01-08 16:11] vitorenesduarte commented on #3353
:+1:

[2015-01-08 16:31] vitorenesduarte opened #3354 "Lucene Index not triggered"
Hi,

[code]
After the above, this:
[code]
shows that TestSBTREE index was triggered instead of TestLucene.
Is this the expected behaviour?

[2015-01-08 16:34] lvca commented on #3202
Guys, I like the idea from @mindplay-dk about supporting a result set as:

[code]

Where in result objects are shallow and cache contains objects from fetch plan, like with binary protocol. Also the JSON-LD format is not bad, but it could be harder to implement unless we rewrite the serializer from scratch.

[2015-01-08 16:41] danrub commented on #3300
I'm using a propriety driver, which was written by our company. it is not public yet.
We have a plan to make it public, and publish it to git hub. but I don't know the timeline for that cause it is not yet fully upgraded to the newest version, and also doesn't support binary serialization.

we are using it internally for our use thought, cause it was stable, till now.

I will check what I can do t

[2015-01-08 17:11] tglman commented on #3300
Yep some insights will be very useful, and a unit test will be amazing :)

[2015-01-08 17:37] #3313 closed

[2015-01-08 17:38] lvca commented on #2243
Fixed in #3313

[2015-01-08 17:38] #2243 closed

[2015-01-08 17:40] phpnode commented on #3202
@lvca let's pretend that `OUser` has a `LINK` field called `referrer`, it's a link to the person who referred that user to the application. Let's say that the admin user invited the reader user, so reader (`#5:1`) has a link to admin (`#5:0`). I then execute this query:
[code]
This will retrieve all the users and their roles, but it will also materialize the link between admin and reader. Where sh

[2015-01-08 17:48] lvca commented on #3152
I think this has been already resolved in 2.0

[2015-01-08 17:51] lvca commented on #3351
Please don't open a new issue to ask when another issue will be fixed.

[2015-01-08 17:51] #3351 closed

[2015-01-08 18:02] lvca commented on #3012
Please could you retry with 2.0-SNAPSHOT?

[2015-01-08 18:08] lvca commented on #3021
We fixed it in 2.0-SNAPSHOT. Please could you retry it?

[2015-01-08 18:09] lvca commented on #3024
Put `@type: 'd'`inside each embedded object

[2015-01-08 18:09] #3024 closed

[2015-01-08 18:11] lvca commented on #3060
I agree, the name should be getDerivedClasses().

[2015-01-08 18:12] lvca commented on #3064
Is this still valid with 2.0-SNAPSHOT?

[2015-01-08 18:13] lvca commented on #3066
Please could you write here the output of the command:

orientdb> info class myedge

[2015-01-08 18:15] #3099 closed

[2015-01-08 18:15] AaronSchulz commented on #3231
There some cases where it doesn't, so this is waiting on the new parser.

[2015-01-08 18:16] #3067 closed

[2015-01-08 18:17] #3108 closed

[2015-01-08 18:20] #3324 closed

[2015-01-08 18:20] lvca commented on #3324
Since it's fixed in 2.0, I consider it as closed

[2015-01-08 18:20] lvca commented on #3324
Since it's fixed in 2.0, I consider it as closed

[2015-01-08 18:37] zanerock commented on #3329
That's what I mean; I listed the database in storage and then started server with the 'server.sh' script. The startup process creates any non-existent databases.

[2015-01-08 18:39] danrub commented on #3300
Ok :)

while i'm waiting for approval about disclosing our code,
I have debugged the issue with the java test you gave me.
You are right it is a comparability issue with protocol.
I couldn't reproduce it ether, and the test was passing, but mine in C# was failing,

I have tracked the problem to deserializion of single field called "mapRid", with newer version the rid deserialized as expected let s

[2015-01-08 21:32] mindplay-dk commented on #3202
@phpnode I don't see a problem - the example you quoted would have everything in `result` and nothing in `cache`, since both records are part of the root of the result of your query.

Records at the root of any query goes in `result`, and other prefetched records go in `cache`, unless of course they are already in `result` - we never want duplicates, and we want all the records from the root of th

[2015-01-08 22:50] tmcsys opened #3355 "OJPAPersistenceProvider does not play well with other JPA providers on the classpath"
Does OJPAPersistenceProvider consult the `<provider>` tag in persistence.xml?

I'm trying to deploy an OrientDB application with orientdb-object/1.7.10/orientdb-object-1.7.10.jar on the classpath.  Hibernate JPA is provided by the EE6 Application server.

The Hibernate provider is clearly identified in the persistence.xml file

[code]

On deployment, the server displays this message:

INFO `[com.o

[2015-01-09 05:18] laa commented on #3308
Hi @garrett-gottlieb . Your case is not general case. I may provide command so you will call it before index rebuild. But I do not think that it should be always called.

[2015-01-09 05:20] laa commented on #3025
This conversation was inactive for many days, so I close it.

[2015-01-09 05:20] #3025 closed

[2015-01-09 05:22] laa commented on #3190
We have several similar issues , but can not reproduce them. Could we concrete on reproducing this specific issue, and probably find reason for rest of them. Could you send me code and data log which you use to reproduce given issue and I will start to work on it ASAP. Will really appreciate your help.

[2015-01-09 08:10] AaronSchulz opened #3357 "Optimize GROUP BY when used with MAX/MIN"
Assume there is an index on (a,b). Queries like the following should be fast on large tables (e.g. when the aggregator works well with the ordering):
a) SELECT a,MIN(b),MAX(b) FROM table GROUP BY a LIMIT 10
b) SELECT a,MIN(b),MAX(b) FROM table GROUP BY a ORDER BY a LIMIT 10

This should hold if there is an equality condition on a prefix of indexes columns to. If there is an index on (a,b,c)), thes

[2015-01-09 08:14] jamieb22 commented on #3293
Andrey

I am using RC1 and the following properties are set:

index.auto.rebuildAfterNotSoftClose = false
index.txMode=FULL

Yet, a corrupted database is taking half an hour to restore. In our
multitenant product, each instance has a database, and there may be 30
or more of them.

I really don't understand the logic behind this.

In our case:

- Orient db shutdown seems to be executed, yet the DB

[2015-01-09 08:40] AaronSchulz commented on #3357
The smartest way to do this would be to scan the to get the groups (already in order) and for each one do an index scan for MIN() if present and also for MAX() if present. This would handle the case where some groups have tens of thousands of rows that you don't want to scan.

[2015-01-09 09:00] #3259 closed, assigned to andrii0lomakin

[2015-01-09 10:14] mirobimbo opened #3358 "Cosole might print obsolete database properties"
Just small issue in console, but made me crazy for a while.
1) update database properties, eg

    ALTER DATABASE DATEFORMAT yyyy-MM
2) and then run 'info' or 'list properties', printed property value is not updated, eg there is still

    Date format                | yyyy-MM-dd

3) disconnect and reconnect is needed to get fresh values.

This is same also with other properties.
tried on 2.0-rc1

[2015-01-09 10:35] lvca commented on #3293
We already fixed this problem in 2.0-SNAPSHOT, please could you switch to this release?

[2015-01-09 10:43] AaronSchulz opened #3359 "Support a construct to deduplicate rows based on a field list"
Sometimes you want to query things like "get the last 10 different world champion winners". If you just wanted the people's IDs and the latest award dates, you could do:

SELECT personid,MAX(date) FROM WCWinners GROUP BY personid ORDER BY date DESC LIMIT 10

With a (date,personid) index and a _very_ smart query planner, this could be fast on massive tables. It would scan down the index in reverse

[2015-01-09 10:50] adithyank commented on #3190
The following are my issues in getting you the required data

1. The Exception is not coming every time
2. What we store in OrientDB is not readily available data. It is a processed data from some other source data.

So, I am writing code to serialize and dump in flat files all the data. I am running that process repeatedly to expect the Exception. Then, I will be able to give it.

Pls give me som

[2015-01-09 11:32] phpnode opened #3360 "Fetchplan sometimes returns duplicates via binary protocol"
Certain queries cause the same record to be prefetched more than once.

@tglman warned that this bug is *impossible*, but it seems to be occurring, [this test](https://github.com/codemix/oriento/commit/332a2fd1f070156c08d832442dd15cad8e612d9e) replicates the issue, thanks to @dmarcelino for reporting.

See https://github.com/codemix/oriento/issues/186 for more details.

[2015-01-09 12:03] luigidellaquila opened #3361 "use index defined on subclasses when querying the superclass"
suppose you have two classes:
A
B extends A
define an index on B.field1

then you query A based on field1, eg.
SELECT FROM A WHERE field1 = 'foo'

Now the query executor performs a full scan on B cluster, while it could use the index.

[2015-01-09 12:19] luigidellaquila commented on #3361
same should be done when there are multiple subclasses and each one has its own index

[2015-01-09 12:49] vitorenesduarte opened #3362 "Index not triggered"
Hi,

[code]
After the above, this:
[code]
shows that TestLucene index was triggered.

Now
[code]
`select expand(in('Try')) from 13:3` returns mike as expected.
But:
[code]

shows that TestLucene index was not triggered.
Is this the expected behaviour?

After this I dropped the lucene index and created another:
[code]
and the last shows that this new index was triggered.

But:
[code]
does not trigg

[2015-01-09 12:54] mathieubodin commented on #2096
Just teasing, but, well, it's embarrassing, isn't it !

I think you missed something : As ```-excludeAll``` flag isn't recognized, all other flags are pointless in my use case : correct me if I'm wrong, whenever I want to export only what's related to the OUser class I might use the following command :

[code]

Here is the output for this kind of command :
[code]
Note the warning. Fortunately, onl

[2015-01-09 15:30] sajalgupta1976 commented on #3283
Hi, I am currently evaluating OrientDB for a use case involving concurrent read/write. It looks like locks are acquired at storage level(unless I am wrong) which can introduce bottleneck in a highly concurrent system involving writes. Any update on this issue would really help.
 BTW really like OrientDB for its great features. Thanks

[2015-01-09 18:25] lvca commented on #3283
Hey guys, we have a storage level locking on transaction commit. This means that transactions don't go in parallel, while single atomic operation yes. This is something we're working for and we should be able to release parallel TXs soon, maybe in 2.1 planned for February 2015.

[2015-01-09 18:27] lvca commented on #3315
OrientDB can run with low RAM, but depends by your operations, database size, concurrency, etc. By the way we reduced occupied memory in 2.0-SNAPSHOT.

[2015-01-09 18:27] #3315 closed

[2015-01-09 18:45] laa commented on #3219
Hi,
Could you try now ?

[2015-01-09 19:40] khendricks commented on #3347
Looks like this also happens with the 'LET' keyword.

[2015-01-09 20:54] AaronSchulz commented on #3216
I'll send a dump if I can reproduce. I don't have this corrupt dataset anymore (I trashed it).

[2015-01-10 07:32] sajalgupta1976 commented on #3283
@lvca Thanks, In the thread dumps above, all the reads are also getting blocked during commit due to read lock which is acquired during read,Is this also something which is going to get fixed in 2.1 ?
In the meantime is there any workaround/option to avoid such blocks during commits?
Also I see the lock is opened with nofair option, wouldn't it be better to create the lock with fair option?

[2015-01-10 09:45] AaronSchulz opened #3365 "Property value can not be null [ONetworkProtocolHttpDb]"
A small portion of the time, queries like the following give errors:
[code]
I sometimes get:
java.lang.IllegalArgumentException: Property value can not be null [ONetworkProtocolHttpDb]

The odeleted property is not set as being NOT NULL, it's just:
create property HPwIV.odeleted boolean;

Normally it should just unset that field (SET works like that already).

[2015-01-10 10:00] AaronSchulz commented on #3295
Lots was going on at the time so it's hard to recall, I think it was the query from https://github.com/orientechnologies/orientdb/issues/3260.

I haven't ran into any corruption since the last batch of WAL changes. I'll keep an eye out if anything happens.

[2015-01-10 10:12] AaronSchulz commented on #3257
So if someone manually configures the WAL size manually can there be corruption on crashes or does it sanity check the config to prevent this?

[2015-01-10 11:00] stebbi opened #3366 "Can't replace an ODocument field value with a dirty version of the same value"
Hi,

I think there is a bug in ODocument.field(String, Object, OType...) at line ODocument.java:1059:

          if (iPropertyValue.equals(oldValue)) {

In the case I ran into, oldValue and iPropertyValue are ODocuments with the same RID and version, but oldValue is clean (dirty = false) and iPropertyValue is dirty (dirty = true). The equals method does not notice this and simply declares oldValue

[2015-01-10 11:03] stebbi commented on #3366
package com.orientechnologies.orient.core.record.impl;

    import static org.junit.Assert.*;

    import com.orientechnologies.orient.core.db.document.ODatabaseDocumentTx;
    import com.orientechnologies.orient.core.sql.query.OSQLSynchQuery;
    import org.junit.After;
    import org.junit.Before;
    import org.junit.Test;

    import java.util.List;

    public class ODocumentTest {

        p

[2015-01-10 12:27] stebbi commented on #3366
I have to work around this issue somehow to keep going with my code, figure I'll type up what I come across in case it helps.

Here is ORecordAbstract.equals:

    @Override
    public boolean equals(final Object obj) {
      if (this == obj)
        return true;
      if (obj == null)
        return false;

      if (obj instanceof OIdentifiable)
        return _recordId.equals(((OIdentifiable) o

[2015-01-11 01:41] lvca commented on #3283
@laa Why locks around are not fair?

[2015-01-11 01:47] zanerock commented on #3315
That's my understanding. The DB is microscopic.

[2015-01-11 01:51] lvca commented on #3284
This seems correct, because claims[1415][rank=0] work on the map and current value becomes the map itself (in chain). You should rather do:

    select claims[1415][rank=0] From Test where claims[1415] contains (best=1 AND rank=0)

[2015-01-11 01:51] #3284 closed

[2015-01-11 01:53] lvca commented on #3311
Ok, I'm closing it. In case, please comment it again.

[2015-01-11 01:53] #3311 closed

[2015-01-11 01:54] lvca commented on #3248
@tglman is this similar to another one you had?

[2015-01-11 01:54] #3119 closed

[2015-01-11 01:55] lvca commented on #3119
Characters "=", ";" and "@" are not allowed anymore.

[2015-01-11 22:29] tobiemh opened #3368 "Problems with null values in […] queries on a class"
There seems to be a problem with searching for null values in […] queries.

When I perform the following query, searching for a specific RID, the query works successfully, and all tags which do not have a ‘deleted_at’ property are successfully retrieved, along with the #21:0 record.

[code]

When I perform the same query, but on the whole class, a java.lang.NullPointerException is returned, and ne

[2015-01-11 22:57] axXYgiGG8bB6kAntAxJ0Dymfk5eRHl opened #3369 "order by@rid desc in 1.7.10"
According:https://github.com/orientechnologies/orientdb/wiki/SQL-Query

Order by record creation. Starting from 1.7.7, using the expression "order by @rid desc", allows OrientDB to open an Inverse cursor against clusters. This is extremely fast and doesn't require classic ordering resources (RAM and CPU):

I'm almost sure it has worked in 1.7.9 but in 1.7.10
orientdb {db=abcde}> select * from Cust

[2015-01-12 00:01] axXYgiGG8bB6kAntAxJ0Dymfk5eRHl commented on #3369
I tested it with 1.7.9 and I confirm it works!

[2015-01-12 03:25] darkredz opened #3370 "Autosharding Insert Cannot find best cluster for class"
I have 2 servers nodes with orientdb 2.0-rc1 distributed mode running. Both database are synced. I have tried to enable autosharding following the manual at http://www.orientechnologies.com/docs/last/orientdb.wiki/Distributed-Sharding.html and create my claases.

alter database minimumclusters 4

The DB clusterSelection was roundrobin. However when i insert records it's always using the default cl

[2015-01-12 08:55] RCNTEC opened #3371 "Recursive JavaScript function with a query doesn't work"
I have a graph consisting of two types of vertices A and B. The A class has a 'spends' property and the B class has a 'coeff' property. The A vertices might have outgoing edges (of the Rel class) to the B vertices and the B vertices will have outgoing edges (of the Rel class) to the next level's A vertices and so on. Let's consider the following graph:
```A{ @rid: #38:0, spends: 80 } -> B{ @rid: #

[2015-01-12 10:11] laa commented on #3190
Thank you very much. I do appreciate your help.

[2015-01-12 10:26] mitom commented on #2728
Are there any news on this one, or an ETA maybe?

[2015-01-12 10:49] laa commented on #3219
Fixed, but if problem still persists please reopen the issue.

[2015-01-12 10:49] #3219 closed

[2015-01-12 13:26] laa commented on #3257
Hi,
In latest version of source code storage controls wal size itself without
users interference, it is impossible to configure it manually any more.

On Sat, Jan 10, 2015 at 12:12 PM, Aaron <notifications@github.com> wrote:

--
Best regards,
Andrey Lomakin.

[2015-01-12 13:51] MarcelPitch opened #3372 "Sub-query + $parent.$current"
Hi all,

I'm working with **OrientDB 2.0-RC1** and **Oriento 1.0.0**.

Here's a part of my db schema :

![capture](https://cloud.githubusercontent.com/assets/7402969/5701803/e015e8c8-9a50-11e4-8d2c-23c9beaeeee9.PNG)

I execute this request in order to get all the comments for a post, ordered by creation date descending :

[code]
With **OrientDB Studio**, I have this result :
[code]

--------------

[2015-01-12 15:18] laa commented on #3344
I will fix issue but never use notx graph db it may be used only for initial load of data.

[2015-01-12 15:27] laa commented on #3344
sorry it is not vertex but edge is absent, once again please do not use non-tx db. in case of errors you may end up in inconsistent state like this when vertex is present but edge is not. could you either  provide test case to reproduce issue or repeat the same on tx database and to check that issue is still reproducible on tx mode.

[2015-01-12 15:51] mathieubodin commented on #1935
In 2.0-rc1 version, there are still two uses of ```System.err``` on line 1306 and 1309.

[2015-01-12 15:56] mathieubodin opened #3373 "ODatabaseImport writes to System.out instead of using logging"
See #1935 but within the same philosophy, in 2.0-rc1 version on line 1177 ```System.out``` is used when OLogManager could have been used. Note it's not a huge problem.

[2015-01-12 16:11] sowee15 opened #3375 "Error: Type LINKBAG not supported to convert value"
Hi,

Using the binary protocol v21 on release 1.7.8 from 2014-08-13, I am getting the error "Type LINKBAG not supported to convert value [size=117]" in the orientdb console when running this query:

select in_E_LinkedTo.out.out_E_Created

By.in.in_E_CreatedBy from #33:3

#33:3 has many "things" linked to it through E_LinkedTo, each one has one edge E_CreatedBy pointing out to a user. The goal of t

[2015-01-12 16:12] rtm81 commented on #3219
i created a pullrequest, please check.
https://github.com/orientechnologies/orientdb/pull/3374

[2015-01-12 16:16] rtm81 commented on #3219
Threadlocal usage and thread in a threadpool (like in tomcat) is always problematic.
See this answer:
http://stackoverflow.com/a/13870612/2003273

For me it is OK like it is today. but please consider my pullrequest,
otherwise the onShutdown() will never be called.

[2015-01-12 16:26] laa commented on #3219
Yes, I know about threadpoll issue but I was sure and now I am sure that it
was fixed by my previous fix, before this isssue was created by shutdown
listeners merely was not called. Do not you mind if I revert rwlock clean
up and will move resetListeners bellow cycle where listeners are called. My
point is that rwlock instances are not static and problem was in container
object not in rwlock itsel

[2015-01-12 16:36] #1935 closed

[2015-01-12 16:38] #3373 closed

[2015-01-12 17:46] 8forty opened #3376 "Lightweight edges documentation is incorrect"
See the forum comments and code examples here: https://groups.google.com/forum/?fromgroups#!topic/orient-database/2U96d2b1oS0

[2015-01-12 17:58] danrub commented on #2741
The issue still remains, when using a manual composite indexes.

USE CASE:

CREATE INDEX test unique string,string
INSERT INTO INDEX:test (key,rid) values (['test','success'],#1:0)

failing at OSBTree line 188.
java.lang.ClassCastException: java.util.ArrayList cannot be cast to com.orientechnologies.orient.core.index.OCompositeKey

[2015-01-12 18:40] laa commented on #3219
Hi, could you kindly try now ?

[2015-01-12 21:13] PhantomYdn opened #3377 "doc.removeField() works not as expected"
Guys,

Following testcase is failing (please read comments):

[code]

[2015-01-12 23:45] lvca commented on #3369
Have you tried with 2.0-SNAPSHOT?

[2015-01-13 00:47] lvca commented on #2741
@danrub Have you tried with 2.0-SNAPSHOT or 2.0-rc2?

[2015-01-13 01:16] #3295 closed

[2015-01-13 01:16] lvca commented on #3216
Closed, unless @AaronSchulz can provide a dump for this.

[2015-01-13 01:16] #3216 closed

[2015-01-13 01:20] lvca commented on #2096
This seems a bug. Can you try this?

    export database /tmp/export_test_fix_#2096 -excludeAll -includeCluster=ouser -includeClass=OUser

[2015-01-13 01:38] PhantomYdn commented on #3377
Btw, this failing as well:

[code]

In a meanwhile, let me propose small enhancement: please allow to undo just 1 field.

[2015-01-13 02:42] AaronSchulz commented on #3295
I tried doing edge updates while killing orient this morning. It looks like the index rebuild and recovery from the fuzzy checkpoint and wal worked fine. I'm not seeing any error or corruption. Less abrupt SIGINT kills worked fine too (e.g. not using shutdown.sh). I was planning on closing this today :)

[2015-01-13 02:44] AaronSchulz commented on #3257
I can't reproduce this now; assuming the cause is fixed unless something new somehow comes up.

The issues with repair already have a bug.

[2015-01-13 02:44] #3257 closed

[2015-01-13 02:45] AaronSchulz commented on #3256
In general, a first step would be to make the output of repair more robust, to see what it's doing a bit better.

[2015-01-13 04:51] GrumpyPants commented on #1519
I am also having this issue. Memory is just slowly climbing as I do bulk inserts. I would really like to see successful example of massive insert in orientdb.

[2015-01-13 07:21] danrub commented on #2741
Yes, the case is from the last pull of the develop branch, one day ago 12 January 2015

[2015-01-13 08:20] rtm81 commented on #3219
it is OK for me.

[2015-01-13 08:40] dharmax opened #3378 "How to create an index over an property which is a list of objects in OrientDB?"
0 down vote favorite

i'd like a class that stores a structure such as this:
{
   name: "blabla",
   metaData: [ {a: "mya"}, { a:"mya2"} ]
}

Now, i would like to have an index over the metaData[?].a fields.

    1. What is the best way to represent this metaData in a schema? As an embeddedList?
    2. Is it possible to have that index i want?
    3. If so, who should the query for retrieving an e

[2015-01-13 08:49] lvca commented on #1519
This issue is pretty old and closed. Please open a new one with all the information about your use case: orientdb version, os, hw cfg, API used and also a snippet of code responsible of the massive insertion.

[2015-01-13 08:51] mathieubodin commented on #2096
Here is what I got :
[code]
Hope it might help.

[2015-01-13 08:51] luigidellaquila commented on #3378
Hi @dharmax

in current release indexing on embedded properties is not supported. There is an issue for this, https://github.com/orientechnologies/orientdb/issues/2945 so this is a duplicate, I'm going to close it.
Please, watch the other issue to stay in touch with its evolution, it will be addressed in next release.

[2015-01-13 08:51] #3378 closed

[2015-01-13 09:57] bquenin opened #3379 "oetl scripts missing in orientdb 2.0-rc2"
Both .bat and .sh

[2015-01-13 11:38] lvca commented on #3379
Fixed, thanks!

[2015-01-13 13:04] lvca commented on #2372
Now it supports more flexible usage like:

[code]

[2015-01-13 13:06] #3379 closed

[2015-01-13 13:09] vitorenesduarte opened #3380 "Question"
Hi,
To get all the posts of the users that __11:0__ is following I tried:
[code]
This only gave the RIDs. Why?

To accomplish the desired I had to:
[code]

Is there a better way?
Thanks,

[2015-01-13 13:12] lvca commented on #3380
Try this:

    SELECT expand(out('Follows').out('Posts')) FROM 11:0

[2015-01-13 13:12] lvca commented on #3380
Uses always out/in/both and outE/inE/bothE functions instead of fields.

[2015-01-13 13:12] #3380 closed

[2015-01-13 13:19] MarcelPitch commented on #3372
Hi,

same result with **2.0-rc2**.

[2015-01-13 13:32] vitorenesduarte commented on #3380
Thanks :+1:

[2015-01-13 14:15] luigidellaquila commented on #3327
Hi @garrett-gottlieb

could you try my suggestion? Do you have a feedback about this?

[2015-01-13 14:31] mattaylor commented on #2871
Thx

[2015-01-13 14:33] lvca commented on #2096
Reproduces, thanks. Fixing...

[2015-01-13 14:33] #2096 closed

[2015-01-13 14:58] #3296 closed

[2015-01-13 15:05] GrumpyPants opened #3381 "Memory Leak during Massive insert"
Hey all,
    I've been getting Out of Memory errors when trying to import a largish graph (12 million vertex, 90 million edges) into orientdb using the Java API. With this latest version (I tweaked some settings) of project linked below memory is constantly climbing and  i'm still expecting it to get OOM but processing has not finished yet. I will post results once I get back from work and it fini

[2015-01-13 15:18] GrumpyPants commented on #1519
lvca, no problem. I've created the issue here https://github.com/orientechnologies/orientdb/issues/3381. I realize that this is most likely something I am doing wrong rather than a bug with orientdb so let me know if it would be better for me to ask on google group rather than create a new issue and I will close it. Thanks.

[2015-01-13 15:41] 8forty commented on #3381
In our experience building long chains of vertex-edge-vertex-edge... in java with a variable in memory that holds the beginning vertex will cause (client-side) memory-use to grow unbounded.  We had to modify our code to build the chains in smaller pieces (a few hundred vertex/edges at a time seemed to be the max with 4G available for client), then commit and free the original vertex variable(s) an

[2015-01-13 15:46] GrumpyPants commented on #3381
Hmm do you think I would be having the same issue even though I am not
using transactions? Also could you clarify on how I would "free up" vertex
variables in my case? They are done one at a time in a method not in a for
loop so I'm unsure how I would do that... Thanks for the quick reply by the
way!
On Jan 13, 2015 8:41 AM, "Keith Freeman" <notifications@github.com> wrote:

[2015-01-13 16:07] tglman commented on #3365
Hi @AaronSchulz,

I Found the reason of this exception, it come from:
https://github.com/orientechnologies/orientdb/blob/develop/graphdb/src/main/java/com/tinkerpop/blueprints/impls/orient/OrientElement.java#L536

It's seems made on purpose, you can work around it not sending the property at all, is it this a good workaround for you ?

[2015-01-13 16:08] mathieubodin commented on #2096
Cool thx

[2015-01-13 16:10] tglman commented on #3381
Hi @GrumpyPants,

did you tried to run with the  orientdb-community-2.0-rc2, since the M3 we fix a few leaks and reduced the overall memory usage, so i think this is already fixed.

[2015-01-13 16:25] GrumpyPants commented on #3381
Hello tglman,

No I have not tried rc2 yet. I will try that once I get home today and post
results. Thank you.
On Jan 13, 2015 9:10 AM, "tglman" <notifications@github.com> wrote:

[2015-01-13 17:11] AaronSchulz commented on #3365
I'm basically doing that work around already.

This is really odd since I *can* do:
[code]

Maybe it's just edges?

[2015-01-13 18:19] loolooyyyy opened #3382 "Can I have an offline version of "http://www.orientechnologies.com/docs/last/"?"
Dummy question: Instead of PDF, can the [HTML documentation](http://www.orientechnologies.com/docs/last/) bundle be downloaded? it's much more helpful :)

[2015-01-13 18:21] lvca commented on #3382
Sure, download the web site under http://www.orientechnologies.com/docs/last/ by using any site clone tool

[2015-01-13 18:21] #3382 closed

[2015-01-13 18:42] tglman commented on #3377
Hi @PhantomYdn,

The scope of removeField is not revert to the previous value, as today there's no api for do that, the correct way to do it is with undo, as is shown in your second test case.
I fixed it, now the second test case work as expected.

Anyway thank you very much, you issue are everytime filled of perfect details and test cases.

closing

[2015-01-13 18:42] #3377 closed

[2015-01-13 19:09] PhantomYdn commented on #3377
Thank you, @tglman,

Can you please add "undo()" just for 1 field?

Let me clarify a use case.

There is a possibility to have "calculable" properties in [Orienteer](https://github.com/PhantomYdn/Orienteer).  The value is calculated either onRead or onWrite(this type is in a road map). Functionality is implemented by [special hook](https://github.com/PhantomYdn/Orienteer/blob/master/orienteer-core

[2015-01-13 19:09] 8forty commented on #3381
Sure, so we had some base vertexes (in a variable in memory) that were the front end of chains connected edge-vertex-edge-vertex... thousands long.  We were creating a committing transactions in chunks, but because we kept the base vertexes in memory the entire chains were also being kept in memory.  So once we "freed" them (i.e. by using a local variable in separate function for each chain rather

[2015-01-13 20:00] ronin1 opened #3383 "Pivoting link in documentation returns 404"
In performance tuning page for example: http://www.orientechnologies.com/docs/last/orientdb.wiki/Performance-Tuning.html

Your "pivoting" link returns 404 under the "Right use of Graph" section:
http://www.orientechnologies.com/docs/last/orientdb.wiki/Pivoting-With-Query.html

[2015-01-13 21:26] devourment77 opened #3384 "Expand(out("edgeName")) VS Expand(out("edgeName").@RID) Performance Difference"
Hello,

We have run into an odd performance issue with 2.0-SNAPSHOT with expand().  It seems that if you expand on an edge and include dot RID, it is much faster than if you do not.  Oddly, both return the same data (whereas expand(out("edgeName").realProperty) only returns the realProperty field).

I am unsure if this is normal behavior or not, but we are seeing approx. 300ms performance differen

[2015-01-14 00:06] GrumpyPants commented on #3381
Just got back from work. The import process is still running from this morning. About 9 hours now. No OOM yet but it is creating edges much slower. Process is consuming 10 gb of ram so far. Looks to be slowly climbing as well? Hard to tell to be honest. I wonder if I were to let it run for the rest of the day if it would finish or if I would get OOM. I'm going to cancel and try with rc-2. Will pos

[2015-01-14 00:06] GrumpyPants commented on #3381
8forty,
    I believe I understand your scenario now. Am I incorrect in saying that it does not apply to my situation based on how my code is layed out? I'm not keeping any vertices in memory (as far as I know). I'm just directly adding vertices/edges to the graph. I am not using transactions either so while I really do appreciate your help I don't think it will help me in this case.

[2015-01-14 00:23] lvca commented on #3384
Seems your record have many edges, so unmarshalling the entire record could be very expensive. How many edges have the records? Let's say record #22:234, #22:266 and #22:235?

[2015-01-14 00:25] lvca commented on #3383
That doc is old. Removed. Thanks.

[2015-01-14 00:25] #3383 closed

[2015-01-14 00:26] 8forty opened #3385 "2.0-rc1: error in exception handling"
I got this error on my orient client-side, apparently somewhere in the error-handling chain a string-format is not handled correctly:
[code]

[2015-01-14 00:29] lvca commented on #3385
Please use 2.0-rc2 where we already fix a bug very close to it.

[2015-01-14 00:29] #3385 closed

[2015-01-14 00:39] GrumpyPants commented on #3381
Process has been running for about 30 minutes now and the memory is steadily rising still. I suspect it would get OOM if I let it run overnight. I am trying to get heap dump for you all but i'm not too familiar on how to do that so I am looking it up now.

[2015-01-14 00:44] lvca commented on #3381
@GrumpyPants a thread dump would be useful, and also a dump of memory since this is your problem. You could use the FREE trial of YourKit or any other Java Profiler. With such tools it's quite easy to find who is responsible of keeping object in heap.

[2015-01-14 00:44] devourment77 commented on #3384
You are correct, we have lots of edges and this will be growing.

#22:234 has 532 edges
#22:266 has 219 edges
#22:235 has 348 edges

[2015-01-14 00:46] lvca commented on #3384
So I'm closing this issue. You discovered a best practice to keep memory lower ;-)

[2015-01-14 00:47] GrumpyPants commented on #3381
Here is a "leak report" from MAT (http://i.imgur.com/1jxQJ7R.png). Is this useful at all? Maybe I didn't generate it correctly. Sorry, I am a little out of my depth if you can't tell haha. I will try and get a thread/ memory dump for you.

[2015-01-14 00:53] GrumpyPants commented on #3381
Thread dump http://pastebin.com/aHeXx2uZ

[2015-01-14 00:57] lvca opened #3386 "WARNING messages in case of common mistakes"
We already have done something with DiskCache and RAM setting. Now we need to report common mistakes to users by writing WARNING message to the console. Below the cases:
- [x] Query scan where scanned records are major than X (X=50k)
- [ ] Query result set is bigger than X (X=10k)

[2015-01-14 00:59] lvca commented on #3370
Please could you try OrienDB 2.0-rc2?

[2015-01-14 01:17] GrumpyPants commented on #3381
Objects with most retained heap http://i.imgur.com/TDz6874.png. Memory is still climbing but at a much slower rate. It has imported 10 out of ~90 million edges. Maybe it will finish this time? Going to let it run over night unless anyone has any other ideas.

[2015-01-14 02:45] PhantomYdn opened #3387 "NullPointerException on DB startup"
Guys,

Sometimes(!!!) during memory based db startup I have following in RC2 (In RC1 everything was good):

[code]

It seems to me that reason is following commit: https://github.com/orientechnologies/orientdb/commit/2275b84862d4db3f3ef66956ab02abe9a66a3002

Issue really happens occasianlly and primary on linux boxes.
For datailes take a look to this:
https://travis-ci.org/PhantomYdn/wicket-orient

[2015-01-14 02:55] PhantomYdn commented on #3387
Just found might be related issue: as you can see, sometimes OrientDB is trying to get next available port instead of using previous one. So, it seems to me, that something might be wrong with shutdown synchronization. I don't remember such issues on RC1.

[2015-01-14 08:59] vitorenesduarte commented on #3384
This consumes less memory in all cases?
Can't it be like this by default?

[2015-01-14 11:08] thejeed commented on #3333
I'm not sure if I should comment on that because you propably saw this, but Stéphane wrote

He provided two Screenshots for this. The errors on the first screenshot appear because he wrote 'shorttestPath' instead of 'shortestPath', so this wouldn't work, of course.

Best wishes,

David

[2015-01-14 11:38] lvca commented on #3333
@thejeed You're right I didn't get it before. Closing this issue...

[2015-01-14 11:38] #3333 closed

[2015-01-14 12:19] laa commented on #3387
Hi,
How did you start OrientDB ? In servlet application ? Then you should call com.orientechnologies.orient.core.Orient#startup in http://docs.oracle.com/javaee/6/api/javax/servlet/ServletContextListener.html#contextInitialized%28javax.servlet.ServletContextEvent%29 .
I mark this issue as not a bug now, but if it persists after you add this call, feel free to reopen it.

[2015-01-14 13:05] tglman commented on #2924
added checks on the '-' sign, fixed, closing

[2015-01-14 13:05] #2924 closed

[2015-01-14 14:26] vitorenesduarte commented on #3386
:+1:

[2015-01-14 15:35] lvca commented on #3384
@devourment77 Could you share your db so I can do some tests to understand if @vitorenesduarte is right about changing default behavior?

[2015-01-14 16:07] AaronSchulz commented on #2585
Does ```select max(ts),id from TestEntity group by id``` give a correct result?

[2015-01-14 16:17] AaronSchulz commented on #1772
This works on SNAPSHOT now after various escaping fixes.

[2015-01-14 16:20] AaronSchulz commented on #1359
```insert into a set title="poil;pipo";``` works fine in SNAPSHOT-2.0.

[2015-01-14 16:21] lvca commented on #1772
Thanks @AaronSchulz to inspect old issues ;-)

[2015-01-14 16:21] #1772 closed

[2015-01-14 16:21] #1359 closed

[2015-01-14 16:36] lvca commented on #3381
How is going after 15 hours? I see 25M of cache objects. Is 25M the number of object or RAM?

[2015-01-14 16:38] vitorenesduarte opened #3388 "Constraints"
Hi,

Is it possible to create a constraint that works like secondary key?
I want to create a record with property X, value V, only if exists in another class a record with a property Y, value V.

Thanks,

[2015-01-14 16:39] lvca commented on #3388
No, this isn't supported.

[2015-01-14 16:39] #3388 closed

[2015-01-14 16:40] PhantomYdn commented on #3387
Guys,

It's not a servlet context directly: lifecycle supported within application.
But that were tests and they were OK on RC1 and doesn't work in 100% on RC2.
Can you, please, point me to some issue wihin RC2 where lifecycle was inforces? Might be some other invokations of startups missing.

[2015-01-14 16:43] PhantomYdn commented on #3387
I explicitly invoke startup at the very begining of the app lifecycle and the same:

https://travis-ci.org/PhantomYdn/wicket-orientdb/builds/47005552

[2015-01-14 17:09] AaronSchulz commented on #2690
I tried reproducing this and didn't get double escaping...but I can't get the full value to be added. Adding ```{"M":"\""}``` results in ```\"``` being added, rather than the full key/value tuple.

[2015-01-14 17:25] Nialit commented on #2690
I tried it with the latest release now "2.0-rc2" and the bug is remaining. I add a new value into embedded list property of the class, may be you make something different?

[2015-01-14 18:01] AaronSchulz commented on #2690
Yeah, it should be ```"```, not ```\"```, so that bug is indeed still there. I got so used to typing the backslash that I didn't even think about it.

The other problem I had was that if msg starts off as [] and I add ```{"":{"M":"\""}}```, then msg[0] is just the inner value instead of {M:value}. I'd expect msg[0]["M"] to have that value instead.

[2015-01-14 20:25] jdillon opened #3389 "Problem with threadlocal listener mgmt when embedding"
In rc2 seeing lots of NPE due to threadlocals helpers having null state, where rc1 worked fine.

I'm guessing these (and related) changes are culprit:

https://github.com/orientechnologies/orientdb/issues/3219

This looks related:

https://github.com/orientechnologies/orientdb/issues/3387

And seems to stem from this:

https://github.com/orientechnologies/orientdb/blob/develop/core/src/main/java/c

[2015-01-14 20:32] pdolega commented on #3344
@laa
I'll double check it on tx database but not sure if that would be that easy though.

To give you some information on this:
We use in-memory, no-tx version in unit tests. In normal mode of operation (application running) we naturally use transactional graph but in tests we want to take a look at data put to db here and there (even though normally transaction wouldn't be committed yet - that's

[2015-01-14 20:36] jdillon commented on #3389
[code]

I also have run into the same NPE reported in https://github.com/orientechnologies/orientdb/issues/3387 and likely any other part of the codebase that uses listeners to manage threadlocal state also have the same problem after the very recent changes to this internal implementation.

[2015-01-14 20:43] lvca commented on #3389
Ok, seems a simple NPE. Fixing it now...

[2015-01-14 20:50] jdillon commented on #3389
Unsure its a simple NPE, but you guys know best.  Looks like its a problem of clearing the listeners on shutdown() that are only created/registered when the class is loaded.  So subsequent usage to startup another embedded instance will fail and have no means to re-register those listeners that establish the expected state for the threadlocal helpers.

[2015-01-14 20:57] PhantomYdn commented on #3389
Thank you @jdillon from bringing this up.

According to my observations: problem is somewhere in shutdown-startup synchronization.

So my opinion is following: of course, that might be fixed by introducting getInstance() (see some comment regarding that below), but it will just hide mode deeper problem with lifecycle synchronization...

Comment regarding INSTANCE: I don't know why you decided to u

[2015-01-14 20:59] PhantomYdn commented on #3389
@lvca , your fix doesn't fix all listeners related issues. Please take a look to my issue: #3387

[2015-01-14 21:10] jdillon commented on #3389
Right, all of the listeners are going to have this problem due to having them all removed on shutdown() and never put back, since that only happens when the class loads once.

[2015-01-14 22:01] PhantomYdn commented on #3389
Ooo, I see... You are absolutly right!:) Just checked on my case. But, you know, strange thing is following: it's not 100% reproducable... In my case it's 100% reproducable just on travis-ci, but on my own env: just from time to time. And I can't figure out why... So might be just something wrong with synchronization...

[2015-01-14 22:19] jdillon commented on #3389
Yes its odd, I couldn't make a simple repro either, and it behaved differently on java7 and java8... its a race of some sort, could be related to the introduction of weak-refs to track these as well, but can't say 100%

[2015-01-14 22:19] jdillon commented on #3389
personally would like to see those changes reverted, but thats just my preference... hopefully @laa can sort out a solution that fixes the reported leak and also don't mess up the embedding.

[2015-01-14 22:49] #3369 closed

[2015-01-14 22:57] sinfex commented on #3201
This now seems to be undesired behavior when re-importing a database:

[code]

[2015-01-14 23:10] #3201 closed

[2015-01-14 23:24] AhtashamImtiyaz opened #3390 "Function execution isn't working correctly (binary protocol)"
I have created a simple stored function that insert data into a class. It is working in studio and Postman but it is not working correctly via binary protocol. I doesn't insert data. I have tried both orientdb 1.7 and 2.0 and i am using oriento binary protocol https://github.com/codemix/oriento.

addCat(Name)
[code]

reponse in console:
[code]
but it is not inserting data.

[2015-01-15 02:46] PhantomYdn opened #3391 "NullPointerException on DB shutdown"
Guys,

Something really wrong with RC2.
On shutdown I see sometimes following

[code]

Might be related to #3387.
Unfortunatly, considering switching back to RC1:(

[2015-01-15 05:53] PhantomYdn commented on #3391
Guys,

Final problem is there: OClientConnectionManager.

If OClientConnectionManager was not used before shutdown it can't be even initialized as class because of "static XXX instance" construction require running Orient instance which is actually is shutting down.

[2015-01-15 07:03] SpareShade opened #3392 "WARNING segment file 'database.ocf' was not closed correctly last time"
Hello guys,
I'm getting the above warning quite often, and as consequence I cannot access the DB.
Orientdb is running on Ubuntu ( in Virtualbox ), using the
[code]

[code]
I cannot see much activity with orientdb instance as in attempting to "Data restore procedure from full checkpoint is started", and on subsequent attempts to access the DB, the server outputs:

[code]

Could these be due to putt

[2015-01-15 07:53] SpareShade commented on #3392
In addition, the database was started with orientdb's rc1 version, and if when I try to open it with rc1 instead of rc2 I some extra info "File with id 134 does not exist". not sure if that helps :)
(db naming is different but it is the same db all the way through)
[code]

[2015-01-15 08:02] PhantomYdn commented on #3387
There is following test case:

[code]

If you will run this from scratch: it will be OK.

But if you then:
1) comment out "magic line"
2) run test one more time (it will be OK)
3) and one more time(!!!!)

P.3 will not be sucessfull.

Exception:
[code]

P.S. some dramatic change in RC2:(( It's much further from final than RC1...

[2015-01-15 08:12] luigidellaquila commented on #3327
@garrett-gottlieb I had no feedback about this, I'm closing.
Please re-open (or let's talk about it in chat) if needed

[2015-01-15 08:12] #3327 closed

[2015-01-15 08:15] luigidellaquila commented on #3021
Hi @mrft

AFAIK it's fixed on both 1.7.* and 2.0.
We did not receive any other feedback in last seven days, so I'm closing.
Please re-open if needed

[2015-01-15 08:15] #3021 closed

[2015-01-15 08:30] laa commented on #3387
Illa,
Thank you very much that is what I needed !

On Thu, Jan 15, 2015 at 10:02 AM, Ilia Naryzhny <notifications@github.com>
wrote:

--
Best regards,
Andrey Lomakin.

[2015-01-15 08:51] lvca commented on #3386
Created OProfiler.reportTip() to make this easier and avoid multiple messages of the same tip.

[2015-01-15 09:21] lvca commented on #3386
Now HTTP "command" and "query" commands returns a new array "warnings" in case tips are found in query. Studio will report them in nice way.

[2015-01-15 09:21] #3386 closed

[2015-01-15 09:29] lvca opened #3393 "Exception - Cannot unlock a never acquired lock"
# OrientDB 2.0-rc2

Please find attached a sample program to re-produce the issue. The error will not happen always if you run the program 3-4 times the exception will occur.

[code]

[2015-01-15 09:31] lvca opened #3394 "After upgrading to 2.0 rc2 - OTransactionException"
Please find attached a sample program with the issue. We have Java API and a SQL based update and if one of them fails before commit the OTransactionException occurs.

[code]

[2015-01-15 09:36] SpareShade opened #3395 "broken pipe [ONetworkProtocolHttpDb]"
Not sure if this should be here, but just in case:

Artwork has some 50,000 + records

querying it via http breaks down (and it takes a while):

[code]

 php error

[code]

while binary query (PhpOrient) is super fast and no breakage ...

[2015-01-15 09:48] lvca opened #3396 "CONFLICTSTRATEGY - automerge"
The database is created and set the CONFLICTSTRATEGY to auto merge. The database server prints the concurrent modification exception. I am currently using 2.0 rc2.

Alter command:  ALTER database CONFLICTSTRATEGY automerge

[code]

Also Is there a Java API way to configure CONFLICTSTRATEGY when a class is created.

Attached a sample program to re-produce the issue.

[code]

[2015-01-15 09:49] lvca commented on #3396
Fixed!

PS: I wish all users provide test case like you :-)

[2015-01-15 09:49] #3396 closed

[2015-01-15 09:50] lvca commented on #3395
I guess it goes out of memory by formatting the returning JSON.

[2015-01-15 09:51] lvca commented on #3395
We should provide creation of resulting json in streaming mode.

[2015-01-15 10:47] plessmann opened #3397 "ETL CSV Transformer"
Is it possible to transform one row of one csv file (orderitems.csv) to different vertexes in ODB?
In my source document database there are no relations and there is only one single collection, so the values of the fields are stored in a redundant way.
So, some fields (e.g. "brand" or "model") should be stored as an separate Vertex in my ODB schema and should not be stored as a simple Vertex prope

[2015-01-15 10:49] plessmann commented on #3397
I moved this issue to the orientdb-etl repo.

[2015-01-15 10:49] #3397 closed

[2015-01-15 11:00] phpnode opened #3398 "`@type` and `@class` should be optional when inserting embedded documents via SQL"
Assuming I have a database structure like this:
[code]

When I execute the following query, I'd expect it to create a Person with a single Address:
[code]
unfortunately this doesn't work, it seems that both `@type` and `@class` are required:
[code]
This is quite unintuitive and seems unnecessary, especially so because I don't think it's possible to insert anything which has an `@type` other than "

[2015-01-15 11:40] lvca commented on #3398
:+1:

[2015-01-15 12:15] tglman commented on #3317
no feedback so far, closing it, reopen it if the issue still exist.

[2015-01-15 12:15] #3317 closed

[2015-01-15 14:39] #3391 closed

[2015-01-15 15:14] lvca opened #3399 "Add Property Slowness"
I have a table with ~800K records. I am using Java API OClass#createProperty to add a new property. The API is taking long time (> 30 mins) to execute. It feels like OrientDB is trying to add property to each document of table (or validating each record). Is there any easy way to optimize this operation?

[2015-01-15 15:17] lvca commented on #3399
Added +4 new test cases.

[2015-01-15 16:20] lvca commented on #3398
Added also 4 new test cases.

[2015-01-15 16:22] phpnode commented on #3398
awesome, thanks @lvca

[2015-01-15 16:30] PhantomYdn commented on #3387
@laa

Thank you for fix, but original Exception is still there...
Mentioned testcase at the and sometimes returns me following even on my desktop.
I have idea, that repeating of the issue depends upon hardware what you have. So sometimes I can catch this:

[code]

@laa , @lvca ,

If you don't mind: can we have provided test case somewhere in OrientDB?
I understand, that it's a little bit tricky an

[2015-01-15 16:35] lvca commented on #3398
That was super easy ;-)

[2015-01-15 16:39] #3399 closed

[2015-01-15 17:37] #2741 closed

[2015-01-15 17:37] tglman commented on #2741
fixed, closing

[2015-01-15 17:40] tglman commented on #3341
implemented and linkded in this issue https://github.com/orientechnologies/orientdb/issues/3399 closing

[2015-01-15 17:40] #3341 closed

[2015-01-15 17:49] na2014 commented on #3134
I'm having the same problem, and am using the sample default GratefulDeadConcerts db.  I'm also trying to change the collation to be case insensitive.  I try the following:

ALTER PROPERTY V.name COLLATE ci

I get the error:

com.orientechnologies.orient.core.exception.OCommandExecutionException: Property 'V.name' not exists

The output of info and info class V are below.

Has anyone figured this

[2015-01-15 17:52] na2014 opened #3400 "Property Not Exist when using ALTER PROPERTY"
Item 3134 was closed, though I'm not sure why.  It is still a problem that I can reproduce after installing 2.0-rc2 using the default database.

Using the sample default GratefulDeadConcerts db, I'm trying to change the collation to be case insensitive. I try the following:

ALTER PROPERTY V.name COLLATE ci

I get the error:
com.orientechnologies.orient.core.exception.OCommandExecutionException: P

[2015-01-15 17:52] na2014 commented on #3134
Since this item was closed, and I don't know how to reopen, I created ticket 3400
https://github.com/orientechnologies/orientdb/issues/3400

[2015-01-15 18:04] bfausett commented on #3400
It has been quite frustrating.  I've opened three issues for this and each time they close the issue without it being resolved.

I'm having other issues as well with Traversal that haven't been resolved.  I've worked with other graph db's and have never had this difficult of a time.  Not sure OrientDB is the correct solution for what I'm trying to accomplish because of the lack of basic graph func

[2015-01-15 18:08] bfausett commented on #3134
It has been quite frustrating.  I've opened three issues for this and each time they close the issue without it being resolved.

I'm having other issues as well with Traversal that haven't been resolved.  I've worked with other graph db's and have never had this difficult of a time.  Not sure OrientDB is the correct solution for what I'm trying to accomplish because of the lack of basic graph func

[2015-01-15 18:15] maggiolo00 commented on #3400
@na2014

can you execute
`info class V`
and paste here the result?

[2015-01-15 18:19] AhtashamImtiyaz commented on #3390
@lvca it is not working in console as well.
[code]
And it shouldn't work either. 'Select' cannot insert data into the database. Any solution of this issue?

[2015-01-15 18:20] tglman commented on #2741
i was forgetting to mention to work correctly the if the index already exist should be dropped and recreate.

[2015-01-15 18:53] na2014 commented on #3400
It's already there - "select * from V"  shows a section titled "Properties" with a field called "name".  I'm using the sample database included with the release candidate, so I think this should be easy to reproduce.

[2015-01-15 18:58] maggiolo00 commented on #3400
Yes it is there
but not in the schema.
see here

http://www.orientechnologies.com/docs/last/orientdb.wiki/Schema.html

[2015-01-15 19:12] vitorenesduarte commented on #3398
Nice! :+1:

[2015-01-15 19:25] na2014 commented on #3400
Ok - that was it.  When I made "name" part of the schema, the command worked.  Here are 3 problems that came up when doing this:

- tutorials I saw seemed to use the release candidate, not the stable release, so I'm working with that.  That was a little confusing at first, and I really would prefer to use stable.

- After creating the property "name" in the Studio, changing the collation to CI in

[2015-01-15 19:27] na2014 commented on #3400
Also, info class V doesn't seem to change, even after I added "name" to the schema.  The output of the command before adding name to the schema is in my very first posting at the end, here's the output after adding to the schema:

orientdb {db=GratefulDeadConcerts}> info class V

Class................: V
Default cluster......: v (id=9)
Supported cluster ids: [9]
Cluster selection....: balanced
ori

[2015-01-15 19:28] na2014 commented on #3134
My issue was resolved in the other post, though the process was rather confusing.  Take a look and see if it helps at all.

[2015-01-15 19:42] lvca commented on #3341
@tglman you forgot the release....changing it

[2015-01-15 20:24] ghominejad opened #3401 "using parent "out" data in query"
In my scenario users can follow them and each user can publish posts. I can select posts of followed users  by this  query.
[code]
but i need an efficient query that includes some information about the user itself same as sql inner join in addition to post class fields.
[code]
Is there any performance issues in this query?

[2015-01-15 21:04] maggiolo00 commented on #3400
@na2014
thank you for your feedback
some quick response for your issues.

- 2.0 stable should arrive the next week

- this is a bug, i will look into it

- info is not available because studio rely on http api and uses orientdb sql
  info is a console only command

- to view schema on console run info/ info class
  in studio go to the schema UI

- this has been changed. Before it was sticky and to

[2015-01-15 22:39] na2014 commented on #3400
Hi,

Thank you for the feedback.  Seems like the HTTP API is a limiting factor in the UI development.

Would it be a good idea to see if you could reuse another 3rd party DB UI, such as PHPMyAdmin, and then add in the orientdb specific features?  This would let you reuse their interfaces, which have been proven over time, and focus on db features.  You might also want to use an alternate API if th

[2015-01-15 22:49] na2014 commented on #3400
To clarify, having a fully functional UI that uses any API is more important than a UI that uses specifically the HTTP API.  The HTTP API is perfectly good as a separate means to access the db.  But I don't think the UI should be hampered by HTTP API's missing features.

[2015-01-15 22:50] jdillon commented on #3389
FTR I'm still seeing problems with various threadlocal wrappers after this change:

https://github.com/orientechnologies/orientdb/commit/f0cca38b714fd2531812ca03ba0479a55d6b6fd8

[2015-01-15 22:51] jdillon opened #3402 "OClassLoaderHelper uses javax.imageio.spi.ServiceRegistry"
Seems odd that its depending on javax.imageio libraries here.

Suggest you guys change to use java.util.ServiceLocator instead, which IIUC is essentially the same thing you need here.

[2015-01-15 23:00] DeividasJackus opened #3403 "Studio visual editor: DATETIME using second precision"
When editing records with DATETIME properties using the Studio plugin, you are allowed to change the date, hour and minute, but not the seconds?

[2015-01-15 23:06] sinfex opened #3404 "Studio: deleting edges"
Performing a "SELECT FROM E" and clicking on one of the listed RIDs allows to edit an edge's properties and, just like when editing a vertex, the editor's "Actions" menu contains the items "New" and "Delete", both of which are not working.

Clicking on "New", when editing an edge, could result in a popup dialog requesting input of incoming and outgoing vertices, instead it seems to just create a t

[2015-01-15 23:08] maggiolo00 commented on #3403
@sinfex
we uses this component that  does not allow that
http://mgcrea.github.io/angular-strap/#/timepickers#timepickers

[2015-01-15 23:10] maggiolo00 commented on #3403
I can try to hack the component and extend it to support seconds

[2015-01-16 00:16] luigidellaquila commented on #3345
fixed in develop branch

[2015-01-16 00:16] #3345 closed

[2015-01-16 00:51] PhantomYdn commented on #3387
And finally, it seems to me that problem is in shutdown process: problem with startup occur on second loop. If add Thread.sleep(XXX) it might help, but it my case it leads to even more unpredictable errors.
Plus one more NullPointerException to the collection:)

[code]

More complete stacktrace: https://travis-ci.org/PhantomYdn/wicket-orientdb/builds/47191827

[2015-01-16 01:21] lvca commented on #3134
Please don't spam with the same issue multiple time, this drives us crazy. If an issue has been closed and you think it's not correct, please comment it to reopen. So we don't loose history.

[2015-01-16 01:24] bfausett commented on #3134
No problem.  However, I had mentioned to reopen the issue and it's still not re-opened nor resolved.

[2015-01-16 03:39] tdhung80 commented on #3348
Just want to confirm that it happens on any earlier version as well. It is very annoying, but It seems to be a default behavior.

[2015-01-16 09:29] vitorenesduarte commented on #3401
In the first query, (let's says textuser's RecordID is #12:0) it would be way faster (especially when you have lots of users) to do this:
[code]

But I'm guessing you want info about the second.

[2015-01-16 09:32] vitorenesduarte commented on #3401
@lvca is it weird that
[code]
these two give me different results?

[2015-01-16 09:43] vitorenesduarte commented on #3398
If the property is declared as EMBEDDEDMAP the problem is the same.
Was this done too?

[2015-01-16 11:39] ghominejad commented on #3401
I have lots of users (10 millions) and i also need the `username` in the result.
Assume that i have an array of users that i can't use their `username` statically in query. i am looking a query that selects the username from `Follows` relation.

Thanks for response.

[2015-01-16 11:58] laa commented on #3387
Illa on latest version I tried like 10 times without success in reproduction of given bug. We should investigate it on your side. Please feel free to access me through Skype as you will be online and have time to investigate given problem.

[2015-01-16 12:04] laa commented on #3394
it is the the same issue as https://github.com/orientechnologies/orientdb/issues/3393 but hidden inside tx

[2015-01-16 13:50] lvca commented on #3398
@vitorenesduarte EMBEDDEDMAP was missing, reopening it.

[2015-01-16 13:58] lvca commented on #3134
@bfausett The problem is super clear:

'Books.title' cannot be created on class : 'Books' because field: 'title' is absent in class definition.

You have no "title" field in Books class. Seems you names the fields with the class as prefix. I see this by looking at your output:

[code]

So create a property "title" in Books:

[code]

[2015-01-16 14:00] lvca commented on #3348
This is definitely a bug. I'm working on it.

[2015-01-16 14:02] phpnode commented on #3398
@lvca also the plain `EMBEDDED` type? (maybe you've already done that, I've not tried it yet)

[2015-01-16 14:08] lvca commented on #3398
@phpnode You're right, it wasn't supported. Adding also EMBEDDED...

[2015-01-16 14:23] phpnode commented on #3398
and of course `EMBEDDEDLIST` for completeness :)

[2015-01-16 14:36] lvca commented on #3398
Fixed. EMBEDDEDLIST was already there.

[2015-01-16 14:36] #3398 closed

[2015-01-16 14:50] mamobyz opened #3406 "Different behaviors when inserting into class/cluster"
When working with a class bound with multiple clusters, I can observe different behaviors regarding schema conformity:

1. For integer properties, it is possible to use quoted string to set the property values when inserting the records directly to the class, whereas quoted string for integer properties is refused when inserting into a cluster.
-> This suggests, that the database validates the inp

[2015-01-16 15:08] AhtashamImtiyaz commented on #3390
Ok i found the solution, It can be done like this
[code]
I've added gdb.commit();
Now in console it can be executed simply by useing
[code]

[2015-01-16 15:08] #3390 closed

[2015-01-16 15:17] vitorenesduarte commented on #3401
If you're worried about performance I really think you should use the recordId instead of the username.

I didn't understand the array part, but:

username of the followed:
[code]

username of the followed who have posts:
[code]

[2015-01-16 15:42] ginojohn opened #3407 "Support CONFLICTSTRATEGY on class level so new cluster of the class automatically inherits that value"
It will good if we can define CONFLICTSTRATEGY at the class level so new cluster of the class automatically inherits that value.
In the current system if new cluster is added we need to set the CONFLICTSTRATEGY again. In most cases you want all the cluster of the same class have same behavior.

[2015-01-16 15:56] vitorenesduarte opened #3408 "JPA with ODocument"
It's possible to achieve this?
Can anyone give me any guidelines?

[2015-01-16 16:08] #3394 closed

[2015-01-16 16:15] laa commented on #3393
Fixed in issue #3394

[2015-01-16 16:15] #3393 closed

[2015-01-16 16:16] laa commented on #3392
Hi,
That is because you have huge restore buffer such huge is not needed any more so I will make it small.

[2015-01-16 16:23] laa commented on #3392
Also you error means that you do not close server correctly. How do you close server btw ?

[2015-01-16 16:27] 8forty opened #3409 "2.0-rc2: console "select" doesn't display @CLASS correctly"
Console (e.g. "select * from V") shows "null" when the class is set to something other than "V".  Studio shows the correct class.

For example, run this on an empty database then check console vs. studio:
[code]

[2015-01-16 17:10] tglman commented on #3402
yes, i also wondered a few times why was imageio there, i'll change this with (java.util.ServiceLoader)[https://docs.oracle.com/javase/6/docs/api/java/util/ServiceLoader.html] after we released 2.0 final.

the reason for not do it now is that we don't want to mess up 2 days before release, and this may impact some osgi environment.

[2015-01-16 17:45] 8forty opened #3410 "OrientVertex record constructor public, but OrientEdge is protected? (java)"
We have some use-cases where we need to create vertex/edge from raw objects (e.g. ODocument).   OrientVertex(graph, OIdentifiable) lets us do this (public), but OrientEdge(graph, OIdentifiable) doesn't (protected).

I think the OrientEdge constructor should be public.

[2015-01-16 17:48] lvca commented on #3410
You can use:

    g.getEdge( ODocument );

[2015-01-16 17:48] #3410 closed

[2015-01-16 18:04] jdillon commented on #3402
FYI, using imageio impl may actually prevent proper usage in osgi:

http://stackoverflow.com/questions/12664287/does-javax-imageio-spi-serviceregistry-work-in-an-osgi-container

[2015-01-16 18:14] lvca commented on #3402
@tglman WDYT?

[2015-01-16 18:15] jdillon commented on #3402
FTR I can't say if changing to the java.util.ServiceLoader will actually resolve this yet.  I may run some local tests, as it may still be problematic due to how the classloader is selected by consumers of OClassLoaderHelper.  Will let you guys know what we find.

[2015-01-16 18:18] lvca commented on #3408
No, JPA needs POJO.

[2015-01-16 18:18] #3408 closed

[2015-01-16 18:25] #3348 closed

[2015-01-16 18:45] ginojohn opened #3411 "Name of the database when exception is logged"
We have multiple database hosted on the server and when there is an exception, the log message don’t have name of the database that generated the exception. Can we add the database name as part of the exception logging

[2015-01-16 18:51] lvca commented on #3411
:+1:

[2015-01-16 19:04] cwilper commented on #3402
Update: I just tested switching to java.util.ServiceLoader and by itself, it doesn't change the behavior for the issue we're seeing (karaf still can't find OGraphFunctionFactory, so graph functions show up as missing when you try to use them in select statements).

[2015-01-16 19:45] fabriziofortino commented on #3411
I think is related to #2468

[2015-01-16 20:02] jdillon commented on #2468
FTR I still *strongly* recommend using Slf4j and Logback over JUL, lots of things become much simpler, in config, in code, in features.  Really worth considering IMO.

[2015-01-16 20:07] jdillon commented on #3402
thanks @cwilper, we'll have to dig a bit more to see if there is an issue with how we have the CL setup or if its a more fundamental issue of how orient is loading these based on the loading with specific CL `orientClassLoader  = OSQLEngine.class.getClassLoader();`

[2015-01-16 20:43] jdillon commented on #3389
Tested this change https://github.com/orientechnologies/orientdb/commit/6e84112fb388b27ac54a80d61ca5fe1dcdb8110b and seems *much* better now.

[2015-01-16 21:12] bfausett commented on #3134
I followed the documentation when creating vertices with multiple properties using the examples in your documentation.  Perhaps I have missed something along the way though.  Here is how I created the vertices:

                               OrientGraph bGraph = new OrientGraph(dbUrl, "admin", "admin");

				// create Map for all node/vertex properties
				Map<String, Object> nodeProps = new Hash

[2015-01-16 21:22] bfausett commented on #3134
Also, note that I am able to return a vertex based upon a search for a value in a specific property.  So it appears the property does exist.  See the code below:

public Book findByTitle(String title) {
		Book returnBook = null;

		try {
			for (Vertex bVertex : bGraph.getVertices("Books.title", title)) {

				if (bVertex != null) {
					returnBook = new Book(bVertex.getId().toString(), Long.parse

[2015-01-16 23:14] lvca commented on #3389
Can we fix it?

[2015-01-16 23:14] lvca commented on #3402
Thanks guys, we really appreciate your work on this.

[2015-01-16 23:17] jdillon commented on #3389
@lvca so far it looks as if its fixed post this change yes.  I think @laa also felt he understood why it broke now so unless I find anything else I think its sorted.

[2015-01-16 23:23] lvca commented on #2468
@jdillon what implications we'd have adding Slf4 in terms of dependencies (jars, sizes, etc) ?

[2015-01-16 23:24] lvca commented on #3411
@fabriziofortino yes, I remember this old issue. It's pretty the same.

[2015-01-16 23:52] jdillon commented on #2468
@lvca minimum, 2 jars:

main api: http://repo1.maven.org/maven2/org/slf4j/slf4j-api/1.7.10/slf4j-api-1.7.10.jar 32119 bytes
jul-backend: http://repo1.maven.org/maven2/org/slf4j/slf4j-jdk14/1.7.10/slf4j-jdk14-1.7.10.jar 7895 bytes

However the JUL backend still is very limiting, so if you wanted a more robust and modern backend, I'd recommend logback, which is a bit more:

http://repo1.maven.org/ma