[2021-08-29 08:39] andrii0lomakin commented on #9661
You do suggest  you do not use default users because of security reasons

[2021-08-30 15:41] andrii0lomakin commented on #9651
Hi @pa-chris I am working right now on the new JSON module.  If incorrect parsing of  JSON file is a root cause of this problem it should solve it. Also tomorrow I am going to push a fix of the issue https://github.com/orientechnologies/orientdb/issues/9562 .

[2021-08-31 13:47] johny65 opened #9663 "ORecordNotFoundException commiting a new then deleted record"
### OrientDB Version: 3.2.0
### Java Version: openjdk version "11.0.11"
### OS: Ubuntu 21.04

## Expected behavior

When using transaction, If I delete a previously new saved record before commit, at commit time the record must be treated as if it never existed, and no exception must be thrown.

## Actual behavior

When using transaction, If I delete a previously new saved record before commit, it

[2021-09-01 08:45] condast opened #9664 "Cannot start embedded server in OSGI environment"
### OrientDB Version: 3.0.23
### Java Version: 8
### OS: Windows

## Expected behavior
I am trying to start an embedded server in an OSGI Bundle:

			String orientdbHome = new File("").getAbsolutePath();
			System.setProperty("ORIENTDB_HOME", orientdbHome);

			OServer server = OServerMain.create();
			InputStream inp = getClass().getResourceAsStream(S_DEFAULT_CONFIG_FILE);
			server.startup( inp)

[2021-09-01 11:21] khalidmrabti commented on #9657
hello?

[2021-09-01 11:37] luigidellaquila commented on #9657
Hi @khalidmrabti

The result of `out('Ofparent').@rid` is a collection, so the right way to query it is one of the following
[code]
or
[code]

The fact that the query works the other ways is just for backward compatibility with the old SQL executor, but it's not really correct

Thanks

Luigi

[2021-09-02 07:35] pergrand opened #9666 "I want to use Python's jpype library to call Java jar package. Is that ok? Has anyone done this for reference?"
I want to use Python's jpype library to call Java jar package. Is that ok? Has anyone done this for reference?

[2021-09-02 09:55] andrii0lomakin commented on #9658
Fixed

[2021-09-02 09:55] #9658 closed, assigned to andrii0lomakin

[2021-09-02 09:56] andrii0lomakin commented on #9562
Fixed in develop branch. Will fix it later in 3.1 branch.

[2021-09-03 06:04] #9666 closed, assigned to nobody

[2021-09-03 06:05] andrii0lomakin commented on #9664
@condast I am sorry , but we don't have plans as for now to support OSGi environment.

[2021-09-03 06:05] #9664 closed, assigned to nobody

[2021-09-03 10:46] khalidmrabti commented on #9657
thank you

[2021-09-07 05:36] andrii0lomakin opened #9674 "Performance Issue with OrientDB 3.0.29"
### Discussed in https://github.com/orientechnologies/orientdb/discussions/9672

<div type='discussions-op-text'>

<sup>Originally posted by **tok21** September  6, 2021</sup>
We came across a major performance issue with version 3.0.29 when compared to 2.2.16 when using a transaction while existing data was updated or deleted or new data added. We noted that if there is a larger set of data to be

[2021-09-07 05:38] andrii0lomakin commented on #9674
Hi, @tok21 . To start an investigation of this issue I  need a benchmark that proves the given slowdown. Could you provide one?

[2021-09-07 12:19] holocentric-bmsnext opened #9675 "OrientDB v3.2.0 server side javascript function throws exception"
### OrientDB Version: 3.2.0
### Java Version:  1.8, also tested with java 13
### OS: windows

tested with <entry value="false" name="OGlobalConfiguration.SCRIPT_POLYGLOT_USE_GRAAL"/>

## Expected behavior
the size of the OMultiCollectionIterator instance should be returned and no exceptions should be thrown.
Same script used to work prior to 3.2.0 (e.g. works fine in 3.1.7)

## Actual behavior
jav

[2021-09-07 12:31] holocentric-bmsnext commented on #9575
I don't have the entire stack trace anymore, but I have managed to avoid the lock and improve the performance by moving a lot of the databases outside the default storage, to some custom storage.

I discovered that listDatabases and scanDatabaseDirectory was called on every command executed remotely, and when you have a lot of folders in the directory, somehow when multiple execute threads were ca

[2021-09-07 14:33] tok21 commented on #9674
Hi Andrey,

Thanks for looking into this. We can provide you with a database and some code running the test. However, since this is proprietary data, I cannot post it here. If possible please contact me via mail at thomas.knoell@superna.net and we will be happy to provide you the above listed information.

Thanks

  Thomas

[2021-09-07 16:16] michele-pinto-kensu opened #9676 "High vulnerability on orientdb-client@3.1.5 introduced through jnr-posix@3.0.50"
### OrientDB Version: orientdb-client@3.1.5

## Actual behavior
There is an High vulnerability on the library `com.orientechnologies:orientdb-client@3.1.5`:

The vulnerability: Affected versions of this package are vulnerable to Use After Free due to [CVE-2014-4043](https://nvd.nist.gov/vuln/detail/CVE-2014-4043).

Introduced through: com.orientechnologies:orientdb-client@3.1.5 › com.orientechnolo

[2021-09-07 19:19] jamieb22 opened #9677 "OSBTreeCollectionManagerRemote.loadTree: java.lang.UnsupportedOperationException"
Andrey, any ideas what the cause of this error is.

### OrientDB Version: 3.1.7
### Java Version: V8
### OS: Linux

## Expected behavior

No expecting an error

## Actual behavior

2021-09-07 19:15:07 s.c.s.a.p.SearchBean [DEBUG] cant get folder with id: {a53c322ea08f3c5b}
java.lang.UnsupportedOperationException: null
        at com.orientechnologies.orient.client.remote.OSBTreeCollectionManagerRe

[2021-09-07 19:32] jamieb22 commented on #9677
I just read this comment: https://githubmemory.com/repo/orientechnologies/orientdb/issues/9661. Apparently, OrientDB will upgrade the DB to use a new tree based representation of edges. This automatic upgrade process doesn't seem to be happening with this database. Unfortunately, this db cannot be upgraded to Orient DB to V3.2 due to the presence of show stopper issue https://github.com/orientechn

[2021-09-07 19:43] jamieb22 commented on #9677
Will Orient DB 3.1.7 eventually upgrade the DB to support fetching vertices by relation or do I need to somehow implement a workaround?

[2021-09-07 20:27] jamieb22 commented on #9568
Andrey. I see you added support for large files >2GB in WAL. Thank you for looking into this. I obviously do not know ODB internals, however, the attached database has the duplicate WAL issue observed when attempting to open it using v3.2.0 and there is no 2 GB WAL file present. Furthermore, if I delete the WAL files, the issue appears again. In fact,  no matter what I try, I cannot the db using 3

[2021-09-07 21:26] jamieb22 commented on #9568
Incidentally, I tried the latest SNAPSHOT on master branch to see if it would work. The duplicate WAL Id issue appears to be gone. I see a bunch of these messages:

2021-09-07 21:21:23:836 INFO  35 RidBags out of 226 are migrated ... PLEASE WAIT FOR COMPLETION ! [OSBTreeCollectionManagerShared]
2021-09-07 21:21:23:836 INFO  Migration of RidBag for cluster #77 is started ... PLEASE WAIT FOR COMPLET

[2021-09-07 21:33] jamieb22 commented on #9568
Then, I see the following outputted continually:

Caused by: com.orientechnologies.orient.core.exception.OStorageException: File global_collection_120.grb has already been added to the storage
        at com.orientechnologies.orient.core.storage.cache.local.OWOWCache.bookFileId(OWOWCache.java:624)
        at com.orientechnologies.orient.core.storage.impl.local.paginated.atomicoperations.OAtomicOpe

[2021-09-08 04:30] andrii0lomakin commented on #9568
Hi, @jamieb22 could you provide your database so I will check those issues? Is it the database link on which you sent to me?

[2021-09-08 06:47] andrii0lomakin commented on #9568
@jamieb22 about the absence of the big WAL files, they are typically very short living and you likely will not notice them just by inspection of the directory. I am working on the fix for the 3.1 version too. Would be cool if you try it on your databases before I merge it.

[2021-09-08 09:24] jamieb22 commented on #9568
I will certainly try it out on our databases. I will  also see if I can supply you one. I am getting lots of other errors with the latest SNAPSHOT master branch version. I am also seeing the below exception. I never got this before the upgrade and our code has not changed.

Caused by: com.orientechnologies.orient.core.exception.ODatabaseException: The database instance is not set in the current th

[2021-09-08 20:49] suhassumukh commented on #9644
I encountered the same problem with the 3.2.0 release. The issue disappeared after switching to 3.2.1.

[2021-09-09 03:26] andrii0lomakin commented on #9644
Good to know. Thank you :-)

[2021-09-09 03:33] #9644 closed, assigned to andrii0lomakin

[2021-09-09 03:34] andrii0lomakin commented on #9677
Hi, @jamieb22 that will be fixed for sure.

[2021-09-09 14:23] MikeB2019x opened #9679 "Landing Page Repair"
## Expected behavior
Provided links bring the user to the desired information.

## Actual behavior
All the links seem to point to orientdb.com/ which in turn has a message referring the user back to orientdb.org ... even the 'Contact Us' link!

## Additional context
I brought some folks to the website because I had remembered orientdb as a potential graph database candidate.  Needless to say it di

[2021-09-09 18:31] ghost opened #9680 "Unable to Sign into Studio using Safari"
### OrientDB Version: 3.2.1
### Java Version: GraalVM JDK 11
### OS: MacOS and Linux (Ubuntu)

## Expected behavior
Type in username and password on Studio login page and authenicated.

## Actual behavior
After clicking on the connect, get Session expired.

[2021-09-10 06:33] andrii0lomakin commented on #9679
Hi @MikeB2019x we are working on that. It will take some time to resolve some obstacles but we are completely aware of the problem.

[2021-09-10 13:00] MikeB2019x commented on #9679
That would be great!  Thank you for the quick response.

On Fri, Sep 10, 2021 at 2:33 AM Andrey Lomakin ***@***.***>
wrote:

--

<http://mindbridge.ai/>

Michael Bourassa

Data Scientist | *MindBridge*

+1 613-894-9189 <+1-613-894-9189>

Bourassa

mindbridge.ai

[image: twitter] <https://twitter.com/mindbridge_ai>

[image: linkedin] <https://www.linkedin.com/company/mindbridge-ai/>

[image: banner

[2021-09-12 13:56] Jens-G opened #9681 "NET support broken"
### OrientDB Version: 3
### Java Version: Don't know what you mean. Using C# net5.0
### OS: Windows

## Expected behavior
* Appropriate C# support for Orient DB 3
* Proper (ie.e. working and complete) documentation
* Honest responses to people asking about NET support [here](https://github.com/orientechnologies/OrientDB.Net.Core/issues/17) and [here](https://github.com/orientechnologies/OrientDB.N

[2021-09-14 15:27] tglman commented on #9661
we got a duplicate here: https://github.com/orientechnologies/orientdb/issues/9677

I think we need to actually fix the original problem, reading of the tree  are still needed in remote, and there is already an implementation for read them, is probably just not used in all the cases is needed

[2021-09-14 16:18] tglman commented on #9677
Hi,

The support for edges iteration should be already there, the problem I see here is that is trying to use `OSBTreeRidBag` to iterate the relationships instead of using `ORemoteTreeRidBag`, would be useful if you could track down where the instance  of `OSBTreeRidBag` is created in your flow.

Regards

[2021-09-14 17:21] jamieb22 commented on #9677
We are using Blueprints 2.6.0 to iterate the edges. if what you say is true, does it then follow that Orient DB integration with Blueprints hasn't yet been updated to using ORemoteTreeRidBag?

[code]

[2021-09-14 18:05] jamieb22 commented on #9677
I don't think we are doing anything too customized here. We are creating a graph factory and using the api as follows. The code worked fine in 3.0.x both when connecting to a local database and a remote database. In V3.1.x it throws an UnsupportedException when using a remote database, but local database works fine.

[code]

[2021-09-15 08:21] luigidellaquila commented on #9680
Hi @pa-chris

We have a fix for this, it will be released with v 3.2.2

Thanks

Luigi

[2021-09-15 08:21] #9680 closed, assigned to luigidellaquila

[2021-09-16 03:39] pergrand commented on #9520
Hello, have you solved this problem? I also encountered this problem。

[2021-09-16 12:32] luigidellaquila commented on #9681
Hi @Jens-G

The big problem is (and has always been) that OrientDB core team is made of Java developers, none of us has a strong background on .NET.
There was some effort from the Community to support the .NET driver, but now the maintainers are no longer active, so the driver is lagging behind and lacking support for latest features implemented in OrientDB. Some of these features (eg. the token a

[2021-09-16 13:18] #9657 closed, assigned to nobody

[2021-09-16 22:36] Jens-G commented on #9681
Thank you for shedding some light on that matters, much appreciated.

[2021-09-23 15:15] SaadE92 opened #9684 "SPARK: current database instance is not active"
### OrientDB Version: 3.0.34
### Java Version: 1.8
### spark : local[*]
### OS:  Red Hat Enterprise Linux Server 7.1 (Maipo)

## Context

- I am running a spark(2.3.4) application to populate an orientdb (3.0.34) database.
- OrientDB And ODatabasePool are initialized on the Driver program

Code to create a connection to db is executed inside a rdd.foreach method as described here:

The job is laun

[2021-09-23 20:14] jamieb22 opened #9685 "Orient DB 3.2.2 not resilient on SIGKILL"
### OrientDB Version: 3.2.2
### Java Version: 8
### OS Windows 10

## Expected behavior

When database is killed, it *always* results in a corrupted state. It is not resilient.

## Actual behavior

[code]

## Steps to reproduce

Start Orient DB update, kill the database using kill -9 command. Start server up and the database will no longer [open.]

([database.zip](https://github.com/orientechnolog

[2021-09-25 17:01] jamieb22 commented on #9685
More errors in below db.

  c[archiva.zip](https://github.com/orientechnologies/orientdb/files/7230078/archiva.zip)

[2021-09-25 17:03] jamieb22 commented on #9685
[code]

[archiva.zip](https://github.com/orientechnologies/orientdb/files/7230086/archiva.zip)

[2021-09-25 17:49] jamieb22 commented on #9685
[code]

[archiva.zip](https://github.com/orientechnologies/orientdb/files/7230146/archiva.zip)

[2021-09-26 07:55] jig4physics commented on #9606
This issue arise with JAVA 17
C:\Users\drjslab>javac -version
javac 17

C:\Users\drjslab>java -version
java version "17" 2021-09-14 LTS
Java(TM) SE Runtime Environment (build 17+35-LTS-2724)
Java HotSpot(TM) 64-Bit Server VM (build 17+35-LTS-2724, mixed mode, sharing)

[2021-09-28 08:22] luigidellaquila commented on #9685
Hi @jamieb22

Looking at the stack traces, I see something strange: the line numbers do not match with the source of v 3.2.2.
Can you please check that you do not have old JAR files in the distribution? Do you have an $ORIENTDB_HOME system variable set?

Thanks

Luigi

[2021-09-28 10:10] jamieb22 commented on #9685
Thanks for identifying the cause. My apologies. The issue is resolved when I reinstalled OrientDB.

[2021-09-28 10:10] #9685 closed, assigned to luigidellaquila

[2021-09-28 11:53] ikysil opened #9689 "Cannot use variable as query target: $current DB name="test""
### OrientDB Version: 3.2.2, same behavior with latest 3.0 and 3.1
### Java Version: Java 8
### OS: Linux (docker image)

## Expected behavior
The query below successfully executes and returns empty result set on the empty DB - as was exhibited by OrientDB 2.2.x series.

Current [SQL documentation](https://orientdb.org/docs/3.1.x/sql/SQL-Query.html) puts no restrictions on the usage of the variabl

[2021-09-28 12:47] jamieb22 commented on #9542
I can confirm that this bug still exists when attempting to open a database created by 3.0.39 using Orient DB 3.2.2. Stack trace outputted below & sample database. I've verified that I am indeed running Orient DB v3.2.2 libs.

![image](https://user-images.githubusercontent.com/6212848/135089790-f7668a9b-27fd-4de5-a71e-f087d8f651f4.png)

[code]

[archiva.zip](https://github.com/orientechnologies/or

[2021-09-29 14:47] jamieb22 commented on #9568
FYI: This duplicate WAL Id iissue is still present in 3.2.2. To reproduce the issue, sample database can be downloaded from #9542.

[2021-09-29 14:48] jamieb22 commented on #9547
FYI: This duplicate WAL Id issue is still present in 3.2.2. To reproduce the issue, sample database can be downloaded from #9542.

[2021-09-30 12:25] Funky89 opened #9690 "Server-side functions not working anymore in v3.2.2"
### OrientDB Version: 3.2.2
### Java Version: JDK8
### OS: Debian 10

Hello everyone
Having updated from version 2.2.31 to 3.2.2
I have currently done several functions but this one no longer works on 3.2.2

For example:

[code]
I tried by replacing orient.getGraphNoTx() by orient.getDatabase()

`Error on parsing script at position #0: Error on execution of the script\nScript: InsertNewLogin\n----

[2021-09-30 20:05] KiyoshiCMF opened #9691 "Reopening #9164"
Reopening closed Issue requested by SAP represent.
See detail in https://github.com/orientechnologies/orientdb/issues/9164

[2021-09-30 20:14] ikysil commented on #9691
We observe the same issue as described in #9164 in all releases of OrientDB 3 - 3.0.x, 3.1.x, and 3.2.x included.

This issue and #9689 are blockers for migration from OrientDB 2 (2.2.37) to OrientDB 3.

[2021-09-30 20:15] ikysil commented on #9689
This issue is a blocker for migration from OrientDB 2 (2.2.37) to OrientDB 3.

[2021-10-01 02:48] johny65 commented on #9689
In v3.x we are using variables in queries in the following way:

[code]

I don't know if that way is equivalent to v2.x behavior and if it suites you, but we have several queries working right, for example:

[code]

[2021-10-01 09:32] ikysil commented on #9689
Thank you, that could be a workaround.

But as noted in the issue description -

If `select from $variable` is not a valid syntax in OrientDB 3 series:
- Either documentation should be updated
- Or the code should be fixed

[2021-10-01 13:29] andrii0lomakin commented on #9568
Hi, @jamieb22 that is because the fix was reverted. I am working on the final touches and will send you an update once it is done.

[2021-10-01 13:39] andrii0lomakin commented on #9606
Guys, we are working now on migration to Java 17. We need to perform final touches on a separate branch then we will merge the code.

[2021-10-01 13:53] andrii0lomakin commented on #9542
Hi @jamieb22 , this bug is not fixed yet (lat fix was reverted), I am working on its fix right now will publish an update once it is done.

[2021-10-03 08:55] andrii0lomakin commented on #9691
Closed as a duplicate of #9164 . We have already reopened it.

[2021-10-04 12:36] tglman commented on #9677
Hi,
This should have been fixed in 3.1.13

Regards,

[2021-10-04 12:37] tglman commented on #9661
Hi,
This should have been fixed in 3.1.13

bye

[2021-10-05 17:12] NicolasJuanF opened #9692 "Filtering using min() or max() does not work correctly"
### OrientDB Version: 3.2.2
### Java Version: "11.0.11"
### OS: Ubuntu 19.04

## Expected behavior
Filtering using functions as min() or max() should work correctly.

## Actual behavior
When trying to filter using functions as min or max no results are found, as if the condition were always false.

## Steps to reproduce

[code]

The last select query returns no results even tho $v satisfies the co

[2021-10-06 09:07] #9691 closed, assigned to luigidellaquila

[2021-10-06 13:29] johny65 opened #9693 "Opening a database in 3.2.2 then cannot be opened in 3.2.0"
### OrientDB Version: 3.2.2
### Java Version: openjdk version "11.0.11"
### OS: Ubuntu 21.04

## Expected behavior

I don't know if this is the expected behavior or if it was changed, but if I open a 3.2.0 database in a 3.2.2 server, I would expect to be able to open it again in 3.2.0.

I.e. a database should be able to be opened in different 3.2.x servers without problems.

## Actual behavior

If

[2021-10-06 13:40] johny65 opened #9694 "IllegalArgumentException: newPosition > limit"
### OrientDB Version: 3.2.2
### Java Version: openjdk version "11.0.11"
### OS: Ubuntu 21.04

## Expected behavior

To execute scripts in the database without problems.

## Actual behavior

I had a database in 3.2.0 running fine with a ETL process importing data to it daily without problems. When I switched to 3.2.2, the ETL failed in some scripts that were previously running fine with the followi

[2021-10-06 13:59] andrii0lomakin commented on #9694
Hi,
Could you provide a full stack trace of exception?

[2021-10-06 14:02] andrii0lomakin commented on #9693
Once you open the database in a higher version there are migration scripts that change the underlying format. Those scripts are running in the background and newer format can not be read by the database with a lower version.

[2021-10-06 14:04] andrii0lomakin commented on #9694
Also if you provide the script and data to reproduce the problem it would really help to fix the exception. Or probably you would be able to create a reproducer with a minimum amount of code to reproduce this issue.

[2021-10-06 14:09] johny65 commented on #9694
Hi @laa, no full stacktrace is logged, only that message in the client (console.sh running the script), the server side logs nothing. I don't know if it depends on data or script, I will try my best to create a minimum reproducer if it's possible.

[2021-10-06 18:32] andrii0lomakin commented on #9694
Thank you very much for your efforts.

[2021-10-07 04:35] jamieb22 commented on #9693
Andrey, I just like to make you aware that the Orient DB approach to upgrades is problematic.

1) If a user performs a minor version upgrade i.e. 3.2.0 -> 3.2.2, there is the user expectation that this is a minor bug fix to code algorithms and won't necessitate changes to the structure of the database. One would assume that changes to data structure should be reserved for major version updates onl

[2021-10-07 05:05] andrii0lomakin commented on #9693
Hi @jamieb22 , can not admit that there is a sense in the observations which you made. I will think about a smoother approach of the introduction of features. For example, they will be optional until the next major release.

[2021-10-07 05:19] andrii0lomakin commented on #9694
@johny65 I am quite worried by your report, are you sure that there are no stack traces in server logs files once this exception is thrown?

[2021-10-07 12:30] johny65 commented on #9694
Yes, nothing is logged. But investigating further, I have found that the exception occurs in lines with an indexed `select` like this:

[code]

The `prop` attribute is indexed with a unique index (`create index AClass_prop on AClass(prop) unique`). This index in particular starts failing with numbers >= 1889767 (`where prop = 1889767` fails, `where prop = 1889766` works fine). The same occurs for

[2021-10-07 15:19] andrii0lomakin commented on #9694
Got it. I will try to provide a possible fix for this issue soon, but you will need to rebuild the index. I will let you know once fix is submitted.

[2021-10-08 15:39] ikysil opened #9695 "LET expression evaluates $current differently from SELECT $current when subquery is fetching from the class target"
### OrientDB Version: 3.2.2
### Java Version: orientdb:3.2.2 Docker container
### OS: Linux (orientdb:3.2.2 Docker container)

## Expected behavior
The projection of the `$b` in the outer `SELECT` should match the projection of the `$current`.

## Actual behavior
Following response is received:
[code]

Here, `$b.*` is returning RID of `ORole`, thus stripping additional fields from the projection i

[2021-10-08 23:21] ikysil commented on #9164
@qualitesys

It is possible to change the example from the StackOverflow so that it gives the same result with both OrientDB 2.x and OrientDB 3.x series:
[code]

[2021-10-08 23:44] ikysil commented on #9689
@luigidellaquila

I've found example which better represents the use case I'm facing:

This query
[code]
returns following with both OrientDB 2.2.37 and OrientDB 3.2.2:
[code]

While this query
[code]
returns same result as above in with OrientDB 2.2.37 and fails with OrientDB 3.2.2:
`Cannot use variable as query target: $b DB name="test"`

I've created a test in `OSelectStatementExecutionTest` to

[2021-10-10 23:00] AMOfficialGithub opened #9697 "OrientDB shows terminal but will not run"
### OrientDB Version: <3.2.2>
### Java Version: <Java 17>
### OS: <Windows 10>

## Expected behavior
Once clicking the .batch file the server is supposed to boot up and show logs

## Actual behavior
While the window launches nothing else happens, it just stays stuck in the terminal.

## Steps to reproduce
1. Boot up OrientDB in Windows 10 using the .batch file found in bin folder after unzipping.

[2021-10-11 05:19] andrii0lomakin commented on #9697
Hello.
We have implemented Java 17 support, but this version is not released yet. You use the version which does not have support for Java 17.

[2021-10-11 06:48] jamieb22 opened #9698 "Recommended way to shutdown OrientDB embedded when using Blueprints?"
### OrientDB Version: 3.1.7
### Java Version: 8

## Expected behavior

Orient DB in embedded mode prevents program termination on server shutdown through presence of a non-daemon thread pool that never gets shutdown.

## Actual behavior

Thread pool created OrientDBEmbedded in line 155 (Orient DB 3.1.7) is never shutdown, except by deprecated class ODatabaseDocumentTx closeAll(). The closeAll() fu

[2021-10-11 07:08] andrii0lomakin commented on #9698
Hi @jamieb22, thank you very much that you did work for us to investigate the reason for the problem.
Does not matter do you use Blueprints API or pure OrientDB API.
The database should be created and shut down using OrientDB class.
If OrientDB class does not shut down the thread pool, which seems to be the case according to your description, we will fix this problem.

[2021-10-11 07:09] andrii0lomakin commented on #9693
I am closing this issue, it was actually done by design but for future changes, we will consider approaches that allow downgrading DB version in case that is the minor release version.

[2021-10-11 07:09] #9693 closed, assigned to nobody

[2021-10-11 09:11] andrii0lomakin commented on #9697
Update. Tinkerpop as of now only supports Java 11 so we need to wait for the upgrade till the gremlin console will be able to run on Java 17 version.

[2021-10-11 09:11] andrii0lomakin commented on #9677
Closing the issue because of the fix provided.

[2021-10-11 09:11] #9677 closed, assigned to nobody

[2021-10-11 09:30] jamieb22 commented on #9598
Andrey - any update to this issue. Can we have a 8.1.14 that fixes this issue?

[2021-10-11 10:45] andrii0lomakin commented on #9598
Hi @jamieb22 , I will provide a fix in two days, but because I can not reproduce it on my side, I will be grateful if you do that.

[2021-10-11 15:23] jamieb22 commented on #9598
Andrey. When testing, please open the databases in the attached file [orientdb_sample_dbs.zip](https://github.com/orientechnologies/orientdb/files/7323591/orientdb_sample_dbs.zip).

One of the issues outputs a NullPointerException  from a database created in 3.1.7 and the other a Duplicate WAL Id from a database created in 3.0.39.

You might have better luck catching these upgrade issues if the ma

[2021-10-11 15:27] jamieb22 commented on #9598
Both errors occur on OrientDBEmbedded.open()

[2021-10-11 15:58] aberdev opened #9700 "Infinite loop when trying to import a database containing a vertex having an attribut's class type equals to Opoint"
### OrientDB Version: <3.2.0 ,3.2.2>
### Java Version: <1.8>
### OS: <centos 7 ,ubuntu 20.4 >
## Expected behavior
Import any exported database will succeed

## Actual behavior
Database import never finish until the timeout is triggered.

## Steps to reproduce

- Export an existing database (v 3.0.27 ) with vertices that at least one have an attribut with class type equals to Opoint
- Try to impor

[2021-10-12 05:29] andrii0lomakin commented on #9598
@jamieb22 did you send me databases that were already tried to be restored and got WAL duplication error? I can not reproduce this error but because databases were not restored properly they are already in a broken state.  Do you have a snapshot of those databases before they were opened for the first time and generated this exception?

[2021-10-12 06:52] andrii0lomakin commented on #9606
Fixed in ODB 3.2

[2021-10-12 06:52] #9606 closed, assigned to nobody

[2021-10-12 07:04] andrii0lomakin commented on #9698
`OrientDBEmbedded.java - Isn't creating thread pool in a constructor considered bad practice? ` probably you mean that creation of threads is a bad practice because of leakage of not-initialized fields.
`OrientDBEmbedded.java - Thread Pool on line 167 need a name. It took a while to track the issue down due to the generic name of the thread.` - sure I will give it a name. Thank you for this observ

[2021-10-12 09:05] aberdev commented on #9700
Hello ,
Finally , I fixed the issue like shown by the attached screenshot.
Is it Ok for you ?
![fix_orientdb_issue-9700](https://user-images.githubusercontent.com/72909882/136926517-c5e7560a-176f-422a-b798-0fa563c2edf6.png)
It goes in infinite loop because the value of firstRecord does never change inside the while loop.
Thanks

[2021-10-12 09:11] andrii0lomakin commented on #9700
@tglman could you take a look?

[2021-10-12 10:46] andrii0lomakin commented on #9700
@aberdev any chances that you will provide a pull request?

[2021-10-12 10:54] andrii0lomakin commented on #9698
Hi @jamieb22 ,
I have checked the code, this thread pool is actually closed https://github.com/orientechnologies/orientdb/blob/3.1.7/core/src/main/java/com/orientechnologies/orient/core/db/OrientDBEmbedded.java#L893 in OrientDBEmbedded#close method. This method is called from OreintDB#close(). All OrientDB lifecycle should be wrapped inside of this method. Do you call this method inside of your ap

[2021-10-12 12:01] aberdev commented on #9700
@laa Yes , it's done(#9702)

[2021-10-12 15:01] andrii0lomakin commented on #9694
Hi @johny65 , I can not reproduce your issue. Are there any chances that you provide me load script to reproduce the problem?

[2021-10-12 16:10] jamieb22 commented on #9698
Thanks for your thoughts We don't construct an OrientDB object directly since we are using Blueprints. This is how we create an Orient Graph Factory...

[code]

This is how we shut it down

` graphFactory.close();`

The documentation of this method states:

**_Closes all pooled databases and clear the pool._**

In this scenario, are we still required to explicitly call OrientDB.close()? If so, how

[2021-10-12 17:24] jamieb22 commented on #9598
The Duplicate WAL Id error is super easy to reproduce. I just start the DB in 3.1.7. Kill it with SIGKILL (with no database operations in occurring). Start the DB in 3.1.13.  Immediately database wont start. Says Duplicate WAL Id. This database hasn't been started yet in 3.1.13 although it does observe the error (I backed it up before starting). [archiva.zip](https://github.com/orientechnologies/o

[2021-10-13 14:44] andrii0lomakin commented on #9694
Hi @johny65 , your issue is very important for us because it affects the stability of the system, would be good if you provide us means to reproduce the problem.

[2021-10-13 15:23] andrii0lomakin commented on #9698
@jamieb22 do you use TP 2 or TP 3 API ?

[2021-10-13 17:41] jamieb22 commented on #9698
We use the defined maven dependencies for Orient Db 3.1.7.
[code]

[2021-10-14 11:37] jamieb22 commented on #9698
Andrey. I see in your commits you added Thread name's. Thank you for this. Please don't forget to add names for Timer's too (i.e. https://docs.oracle.com/javase/7/docs/api/java/util/Timer.html). I see you are using non-daemon Timers. Hopefully, these get shutdown cleanly in all shutdown execution paths.

[2021-10-14 17:01] grv87 commented on #9574
@lvca, then please remove AWS and MS Azure from documentation.

[2021-10-16 16:15] pontusvision commented on #8282
Hi, I'm still seeing this issue in 3.1.12!   @Laa, Please re-open this!

[2021-10-18 07:17] andrii0lomakin commented on #9698
@jamieb22 you use TP 2, it is kept only for API compatibility and is not evolved. If that is possible for you to use TP 3  you will find methods there to work with OrientDB instance. Otherwise, Orient.instance().shutdown() will help.

[2021-10-18 07:18] andrii0lomakin commented on #9698
Thank you for your suggestions.

[2021-10-18 07:18] andrii0lomakin commented on #9694
Hi @johny65 , could you help us to resolve the given issue?

[2021-10-18 15:57] johny65 commented on #9694
Hello @laa, sorry for the late. I've tried but can't reproduce the issue in a fresh and clean database, I don't know how to reproduce it. One approach could be to pass you the problematic database deleting first all non-necesary records (it has millions and several GB of size), but deleting millions of records takes so much time and every time I try my PC hangs...

[2021-10-18 17:20] jamieb22 commented on #9698
Andrey. Thanks for the tip. Although, I tried Orient.instance().shutdown(), it doesn't help. There is still the non-daemon thread pool on line 167 that is preventing shutdown. The only thing that works is the deprecated method ODatabaseDocumentTx.closeAll();

[2021-10-19 15:03] andrii0lomakin commented on #9598
Hi @jamieb22 , I tried myself and used the database which you provided and can not reproduce the issue with the latest source code.  I have fixed it 8 days ago in PR which you can see above. I am closing the issue, please reopen it if the issue is still reproducible.

[2021-10-19 15:03] #9598 closed, assigned to nobody

[2021-10-19 15:07] andrii0lomakin commented on #9568
Fixed both in 3.1 and 3.2

[2021-10-19 15:07] #9568 closed, assigned to nobody

[2021-10-19 15:07] andrii0lomakin commented on #9542
Fixed both in 3.1 and 3.2

[2021-10-19 15:07] #9542 closed, assigned to nobody

[2021-10-21 07:05] andrii0lomakin commented on #9562
Fixed by PR above.

[2021-10-21 07:05] #9562 closed, assigned to andrii0lomakin

[2021-10-21 07:05] andrii0lomakin commented on #9391
Fixed by PR above.

[2021-10-21 07:05] #9391 closed, assigned to andrii0lomakin

[2021-10-21 08:00] andrii0lomakin commented on #9700
@aberdev thank you very much for the help we will release new versions soon.

[2021-10-21 08:00] #9700 closed, assigned to nobody

[2021-10-26 17:52] BzLtYr commented on #9606
Did not work for me on MacOS:

Java version 17.0.1 2021-10-19 LTS
JRE build 17.0.1+12-LTS-39
orientdb-3.2.2

[2021-10-27 04:21] andrii0lomakin commented on #9606
We did not release this version yet.

[2021-10-27 12:30] BzLtYr commented on #9606
Thanks for the reply, I'll wait for the release.  This is what I where I downloaded ODB 3.2.2: https://orientdb.org/download

OrientDB 3.2.2 GA Community Edition (September 21th, 2021)
OrientDB for Mac OSX - https://s3.us-east-2.amazonaws.com/orientdb3/releases/3.2.2/orientdb-3.2.2.tar.gz

[2021-10-28 06:51] stozk opened #9711 "db.objectQuery() - results are not of type List<MyClass> but List<OResultInternal>"
### OrientDB Version: 3.2.2 (Docker)
### Java Version: 11
### OS: Windows 11 / Ubuntu 20.04.3

## Expected behavior
1. Send HTTP/REST Get-Request to Spring Boot Application (2.5.4)
2. orientdb-core / orientdb-object (3.2.2) query returns all objects of "MyClass" and nested objects via the JAVA Object API using `db.objectQuery(query)` and pass them to the REST interface as a `List<MyClass>`.

## Ac

[2021-10-29 11:20] andrii0lomakin commented on #9711
Hi @stozk, ObjectDb is not supported anymore, it is going to be removed in the next releases. If you wish to work with ORM you can use https://github.com/OrienteerBAP/Transponder for example.

[2021-10-29 11:20] #9711 closed, assigned to nobody

[2021-10-29 11:51] andrii0lomakin commented on #9698
Hi @jamieb22 , we have discussed this inside the team. Unfortunately, the only way in TP2 to close threads is the one that you found. You need to migrate to the TP3 to use the new OrientDB API. TP2 is not supported by the vendor for a long time, so I suggest you do that. I will keep the issue open till I will not add names to the timers. I am sorry for the inconvenience but we do not see too many

[2021-10-29 12:05] jamieb22 commented on #9698
Thank you for the response. We will follow your suggestion and migrate to TP3 in due course. If I may ask, why is TP2 still a maven dependency of Orient DB v3.x? How are Orient DB users to know to integrate with TP3 and not TP2? I suppose it is in the documentation somewhere. Thanks in advance.

[2021-10-29 12:08] andrii0lomakin commented on #9698
That is kept to simplify migration to the TP 3. We can not obviously put both dependencies but all server distributions of OrientDB use TP 3 versions inside. We have a separate implementation of it, https://github.com/orientechnologies/orientdb-gremlin .

[2021-10-29 12:10] jamieb22 commented on #9698
Andrey, are you sure this is a blue prints issue? Surely calling Orient.instance().shutdown() is going direct to Orient DB, not via Blueprints, and yet when we call this method directly the same behaviour is observed (i.e. Orient DB is not shutdown entirely).

[2021-10-29 12:13] andrii0lomakin commented on #9698
Yes, that is because Orient is not used in 3.0 versions. There were done attempts to keep it synchronized with the new implementation but now you should use OrientDB class to manage instances of OrientDB. If you check TP 3 there is a constructor in GraphFactory which accepts OrientDB instance as a parameter and then the factory manages it internally.

[2021-10-29 12:15] andrii0lomakin commented on #9698
It is not an issue of Blue Prints itself, of course. It is only a consequence of the fact that TP 2 was created and supported for the ODB 2 versions. And now all support and development are done in TP 3 version.
As for documentation, we are working one new version of the site and documentation which we plan to make much more user friendly. If the fact that users should now use TP 3 is absent in do

[2021-10-29 12:20] jamieb22 commented on #9698
Thanks for the clarification, although I still feel like I am missing something. The class Orient is part of the package  com.orientechnologies.orient.core. This is the Orient core and has no outward dependency on Blueprints. When calling Orient.instance().shutdown(), Orient DB doesn't shutdown. Therefore, surely, this issue is impacting the Orient DB Core itself?

[2021-10-29 12:22] jamieb22 commented on #9698
Ahh.. so we mustn't call Orient.instance().shutdown(). We must use the OrientDB class? Is this correct? Ok. Let me put it to you this way. What is the recommended way to shut OrientDB down completely?

[2021-10-29 12:38] andrii0lomakin commented on #9698
@jamieb22 for 2.x versions you used: TP2 + Oreint.shutdown() for 3.x versions you should use TP3 + OrientDB.open()/shutdown. You use TP2 API created for ODB 2 in ODB 3. Most of the times it is transparent for users. But sometimes abstractions leak, as in your case.
Migration to TP 3 should not be painful for you because it should support the same queries.

[2021-10-29 12:45] jamieb22 commented on #9698
To clarify, TP2 + Orient.instance().shutdown() doesn't work. It doesn't shutdown all threads. The only thing that works is ODatabaseDocumentTx closeAll().

[2021-10-29 14:13] andrii0lomakin commented on #9698
@jamieb22 "r 2.x versions you used: TP2 + Oreint.shutdown() for 3.x versions you should use TP3 + OrientDB.open()/shutdown." you work with ODB 3.x version :-) .

[2021-10-30 07:01] jamieb22 commented on #9698
Andrey. You are still not getting what I am saying. TP2 + Orient.instance().shutdown() doesn't shutdown the server. It is doesn't work!

[2021-10-30 07:03] andrii0lomakin commented on #9698
@jamieb22 because you used it in 3.x version.
"for 2.x versions you used: TP2 + Oreint.shutdown() for 3.x versions you should use TP3 + OrientDB.open()/shutdown. " It is approach for 2.x version to use TP2 with orient.shutdown() . For 3.x versions you should use approach which I wrote above. What is not clear in my message ?

[2021-10-30 08:58] jamieb22 commented on #9698
Ok. Thanks for clarification. If we are stuck using Orient DB 3.0 and TP2 for now, what should we use?

[2021-11-01 22:19] kgsw-de opened #9712 "Warning 'illegal reflective access operation' starting server 3.2.2 with Java11 on Linux (Ubuntu)"
### OrientDB Version: 3.2.2
via https://orientdb.org/download -- for Linux and any other *NIX

### Java Version: openjdk version "11.0.11" 2021-04-20
OpenJDK Runtime Environment (build 11.0.11+9-Ubuntu-0ubuntu2.20.04)
OpenJDK 64-Bit Server VM (build 11.0.11+9-Ubuntu-0ubuntu2.20.04, mixed mode, sharing)

### OS: Linux Mint 20.2 (Uma)
  = Ubuntu 20.04, kernel 5.4.0-89-generic, x86_64

## Expected be

[2021-11-02 08:37] andrii0lomakin commented on #9712
Hello, that should be already fixed in nightly build.

[2021-11-02 09:42] adriancoca opened #9713 "Large mdmp file in bin folder"
### OrientDB Version: 3.0.29
### OS: Windows server 2019

## Problem

I found that i have a big file of 48GB with extension mdmp. I think it is a dump file.

It is safe to delete this 4 files ?

![image](https://user-images.githubusercontent.com/7643185/139822704-7f8593f6-866f-49bb-8806-850f775eea6b.png)

[2021-11-02 09:43] andrii0lomakin commented on #9713
Yes, absolutely we do not use such files. Please use the forum to ask questions, next time.

[2021-11-02 09:43] #9713 closed, assigned to nobody

[2021-11-02 09:44] andrii0lomakin commented on #9712
We have plans to improve documentation but it will take some time.

[2021-11-02 09:45] andrii0lomakin commented on #9698
@jamieb22 I suppose you already answered this question. You can use the deprecated method and then migrate to the TP3 version.

[2021-11-02 09:47] jamieb22 commented on #9698
Thank you!

[2021-11-02 09:47] #9698 closed, assigned to andrii0lomakin

[2021-11-02 10:24] gianluca-valentini commented on #9461
Hi,
I follow this question as I'm in the same situation. I need to migrate from 3.0 to 3.1 and I found some deprecated methods.
OIndexManager is now marked as deprecated, as is getIndexManager() from OMetadata but I use **ODatabasePool** to acquire an **ODatabaseSession**.

in my situation I have
[code]

that are deprecated and I don't find anything (documentation too) that can help me to understa

[2021-11-02 10:30] andrii0lomakin commented on #9461
Hi @gianluca-valentini , you need to use a mix of documents and simple select queries.
[code]

[2021-11-02 10:30] #9461 closed, assigned to andrii0lomakin

[2021-11-02 17:14] Phantasie71 opened #9718 "DELETE EDGE don't work"
### OrientDB Version: 3.1.14
### Java Version: 8
### OS: Debian 10

## Expected behavior
In SQL, deleting edges should work.

## Actual behavior
No problem when useLightweightEdges is disabled.
But with useLightweightEdges=true, although the query returns a success message, the edges are still present in the database.

## Steps to reproduce
DELETE EDGE FROM #456:78 TO #123:45

[2021-11-03 10:04] andrii0lomakin commented on #9718
Hi @Phantasie71.
Lightweight edges are deprecated and not supported anymore. They are left only for binary/API compatibility. We do suggest using non-lightweight edges as we are going to remove them at the next release.

[2021-11-03 10:17] kgsw-de commented on #9712
Oops, okay, thanks for the really fast answer, but it confuses me more, than it helps?

   I was looking for a stable database for my own programming, which bridges "simple" (key/value) or relational structures and new features like graphs - so I was looking for leaning and getting to known the new base and for using that as a solid(!) base for data.
   When there is an errata or a bug or even a f

[2021-11-03 10:21] andrii0lomakin commented on #9712
@kgsw-de OrientDB is used in production by many clients. The warning which you can see when you run in Java 11 does not affect the functions of this product. That warning was introduced by the JVM team to inform developers about upcoming changes. That is a very minor issue and do we do not plan such changes in the bug tracker as it does not affect the functionality of the product.

[2021-11-03 10:52] Phantasie71 commented on #9718
Hi,
Thank you for your answer. I did not know. It is not specified in the documentation.
Does this mean that I have to convert all my data to migrate from v2.2.31 to v3.1.14?
If so, is there a function to do this easily?

[2021-11-03 10:57] kgsw-de commented on #9712
### Update: new JDK17 will break 3.2.2?
openjdk version "17.0.1" 2021-10-19 LTS
OpenJDK Runtime Environment Corretto-17.0.1.12.1 (build 17.0.1+12-LTS)
OpenJDK 64-Bit Server VM Corretto-17.0.1.12.1 (build 17.0.1+12-LTS, mixed mode, sharing)

[code]
Please, which JDK versions (elder ones) are supported by 3.2.2?
- JDK11 is current standard in Ubuntu based LTS
- JDK17 is new amazon LTS

[2021-11-03 10:59] andrii0lomakin commented on #9712
JDK 11 is already supported by the released version, JDK 17 will be supported in 3.2.3

[2021-11-03 11:11] andrii0lomakin commented on #9718
@Phantasie71 , the only way to do that right now automatically is to use export/import from/to JSON.

[2021-11-03 15:14] andrii0lomakin commented on #9712
@kgsw-de Do you have any additional questions?

[2021-11-03 17:22] kgsw-de commented on #9712
Thank you very much for your friendly support.
Hopefully, this gaps in documentation will be filled soon, especially focusing on newbies to OrientDB to ease their first encounter, and will not degrade the successful way of OrientDB, which looks very promising to me.
So I will continue my study and learning of OrientDB.

[2021-11-04 08:35] andrii0lomakin commented on #9718
@Phantasie71 do you have any other questions?

[2021-11-04 08:36] andrii0lomakin commented on #9712
@kgsw-de thank you :-) do not hesitate to ask if you have additional questions :-)

[2021-11-04 08:36] #9712 closed, assigned to andrii0lomakin

[2021-11-04 08:57] Phantasie71 commented on #9718
No, it's OK. I am going to convert my data with an OrientDB Function because I don't know how to do this using the export/import to JSON.
Thank you so much

[2021-11-04 08:57] #9718 closed, assigned to nobody

[2021-11-04 14:33] gianluca-valentini commented on #9676
Hi, any news?

[2021-11-11 10:20] ragnarkurmwunder commented on #8884
I'd say the issue is semi-solved.
Because the database just dies,
instead of properly reporting the problem,
and leaving the database intact.

[2021-11-11 12:07] andrii0lomakin commented on #8884
Hi @ragnarkurmwunder , let me add a few comments:
1. If you disable the WAL database can not guarantee the durability of the database. WAL is used to restore the database after the crash.
2. According to the last message database instance was killed by the OS OOM monitoring process. DB does not know anything about this process and can not provide any logs. But I suppose you have messages in the sy

[2021-11-22 12:42] aberdev opened #9721 "Cannot rebuild a lucene index in 3.2.0"
### OrientDB Version: 3.2.0
### Java Version: 1.8
### OS: centos/ubuntu/windows

## Expected behavior
Lucene Indexes can be rebuilt normally

## Actual behavior
Error triggers when trying to redbuild an index

## Steps to reproduce
1-Create a new Class
2-Add some properties
3-Create a lucene index on one of the properties
4-Try de rebuild the created index
The attached capture shows the error's in

[2021-11-22 13:08] frbayart opened #9722 "Create index failed with java.lang.NullPointerException on distributed `Edge`"
### OrientDB Version: 3.2.3
### Java Version: 11.0.13
### OS: Docker based on ubi8
### Hosts: 1 x master and 2 x replicas

## Expected behavior
Create an index between properties type LINK in Edge class, it works on single instance setup but failed on distributed system setup.

## Actual behavior

I have a Edge Class named "Edge" (legacy...), I have 4 properties:
- my_name STRING
- in LINK
- out L

[2021-11-23 14:47] aberdev commented on #9721
@laa can you confirm that is a regression comparing to 3.0.x version ?
Thanks

[2021-11-24 08:11] andrii0lomakin commented on #9721
@aberdev yes , sure that is regression which we will fix.

[2021-11-24 10:13] dijef opened #9723 "Upgrade dependencies: groovy2, commons-lang, commons-configuration to newer versions"
### OrientDB Version: 3.2.3
### Java Version: 11.0.13+8

## Actual behavior
Our whitesource reports multiple libraries only used by OrientDB requiring updating. Please resolve if possible:
groovy-2.5.11
commons-lang-2.6
commons-configuration-1.10

## Expected behavior
New dependencies used:
groovy3
commons-lang2
commons-configuration2

[2021-11-25 05:05] arpitdd123 commented on #9496
Is there any work around for this issue?
Still open in gremlin set up "orientdb3/releases/3.2.3/orientdb-tp3-3.2.3.zip", on windows.

[2021-11-27 17:50] ghost opened #9725 "Import database from Console Fails, Import database with remote connection works with JSON objects in a FieldType of String"
### OrientDB Version: 3.2.3
### Java Version: JDK 11
### OS: Ubuntu 20.04 LTS

## Expected behavior
Import database through console use local connection should import the database but fails.  The fields it tends to fail mostly on is a field with a JSON object in a field that is of Type String

When I do the Import through a remote connection on the console, there is no issues and the import is suc

[2021-11-29 12:49] johny65 commented on #9721
This is related to #9498 (see comment https://github.com/orientechnologies/orientdb/issues/9498#issuecomment-898586327). The problem is that the database gets unusable until the server is restarted, no new connections are possible. Every exception thrown by Lucene turns the database into that broken state.

[2021-11-29 15:22] aberdev commented on #9721
Yes ,the issue is caused by the same behavior.
Is that mean we can't rebuilt lucene indexes  ? But, we can only drop&create them ?

[2021-11-30 11:40] tglman commented on #9565
seems solved, closing

[2021-11-30 11:40] #9565 closed, assigned to nobody

[2021-12-02 09:19] sanderPostma opened #9726 "Commit releases (Non-TX) pessimistic unlocks too soon"
### OrientDB Version: 3.1.12
### Java Version:  11.0.11
### OS: Windows 11

## Expected behavior
When two or more threads are waiting in session.lock() for the same ORID for another thread which is in a (larger) transaction, when that transaction is committed it should complete the commit before releasing the ORID lock for the waiting threads.

## Actual behavior
When two or more threads are waiti

[2021-12-02 10:46] mmariuzzo opened #9727 "Unable to repair corrupted class"
### OrientDB Version: 3.0.37
### Java Version: Oracle JDK 1.8.0_251
### OS: Linux CentOS 7

I'm using OrientDB to store IoT metrics. Because I've a high ingestion ratio, I've configure it to switch in read-only mode when storage free space is below 4GB via "storage.diskCache.diskFreeSpaceLimit" property.
Despite this when the DB operate the switch a table (a class) becomes corrupted.
After adding

[2021-12-02 13:24] ghost commented on #9659
I got the same issue on a clean OrientDB 3.2.2, using the [official docker image](https://hub.docker.com/layers/orientdb/library/orientdb/3.2.2/images/sha256-b65e1b583cc8da31e1c7d1bd1bf93e121b3f95a461c3fa829a4f1b025380aeb3?context=explore) and following [the OrientDB tutorial for ETL+csv](https://orientdb.org/docs/3.2.x/etl/Import-from-CSV-to-a-Graph.html).

[code]

Do you have any workaround to a

[2021-12-06 11:40] astar10239 opened #9730 "OrientDB 3.1.14 Master-Master-Slave getting Atomic Timeout"
### OrientDB Version: <version here>
### Java Version: <version here>
### OS: <os here>

## Expected behavior
<add here>

## Actual behavior
<add here>

## Steps to reproduce
<add here>
<An SQL script to reproduce the problem or a JUnit test case will increase **A LOT** the chance to have a quick fix>

[2021-12-08 16:59] ablieux opened #9732 "Unable to restore a database backed up from OrientDB v3.0.15 to OrientDB v3.2.3"
### OrientDB Version: 3.2.3
### Java Version: openjdk 11.0.13
### OS: Linux Debian 11.1

## Expected behavior
`Database restored in 2.77 seconds`

## Actual behavior
`Error: com.orientechnologies.orient.core.exception.OStorageException: Storage <DBNAME> is in wrong state MIGRATION and can not be opened.`

## Comments
Hi, I'm trying to restore a database backed up from OrientDB v3.0.15 to OrientDB

[2021-12-09 08:22] leszekgruchala commented on #9694
@laa We are facing a similar issue after upgrading from 3.1.12 to 3.2.3. So far, we face the problem only in one environment so it must be related to the amount of data and indices required to be built. On a fresh 3.2.3 DB so far no problem.

The stacktrace

[code]

[2021-12-09 08:27] andrii0lomakin commented on #9694
Hi, we know about the reason for this problem and working on the fix.

[2021-12-09 08:36] michele-pinto-kensu commented on #9694
Hi, in the meanwhile, do you recommend using a previous version? If yes, to which version exactly?

We wanted to try to repair the indexes, but at this point, I don't know if it can help.

Thanks.

[2021-12-09 08:38] andrii0lomakin commented on #9694
@michele-pinto-kensu 3.2.1 version should work. I am sorry for this inconvenience, we have pretty big coverage of tests on indexes but collapsing of BTrees after items deletion causes corner cases which is really hard to reproduce.

[2021-12-09 08:43] leszekgruchala commented on #9694
@laa Will reindexing on 3.2.3 fix the problem?

[2021-12-09 08:50] andrii0lomakin commented on #9694
@leszekgruchala unfortunately you will see it later again. But as far as you do not perform updates you should be OK.

[2021-12-09 09:35] michele-pinto-kensu commented on #9694
@laa do you know if 3.1.15 could be affected by the same issue? I'm asking this because we see several commits dedicated to fix the index space consumption: https://github.com/orientechnologies/orientdb/compare/3.1.12...3.1.15

Thanks!

[2021-12-09 15:55] andrii0lomakin commented on #9694
@michele-pinto-kensu yes those changes are in both versions.

[2021-12-11 10:58] calebeaires commented on #9690
Same here.

[2021-12-12 21:53] calebeaires commented on #9690
@Funky89 have you find a way?

[2021-12-13 11:30] calebeaires commented on #9675
Same here. This is a key feature at the lib, but the last version does not works.

[2021-12-13 16:18] n0mer opened #9734 "SAP dropped support for OrientDB on Sept 1 2021"
Quote from https://en.wikipedia.org/wiki/OrientDB
 

 

 

https://blog.arcadedb.com/welcome-to-arcadedb  new project home

[2021-12-13 17:11] andrii0lomakin commented on #9734
ArcadeDB is a separate project which shares the same model. It is not a fork of OrientDB. Would be strange to call MySQL to be a fork of PostreSQL only because they share the same model.

[2021-12-13 17:12] andrii0lomakin commented on #9734
Also as you can see ODB team is still here and still working on the project. And it is quite past of Sept 1 2021.

[2021-12-13 19:51] lvca commented on #9734
The page on Wikipedia reported "SAP decided to stop providing commercial support for OrientDB." - And this is 100% factually true. SAP doesn't provide commercial support for OrientDB anymore. Try contact yourself SAP and ask for it :-) Or @laa please provide the link where I can buy support.

There is no shame in telling the truth.

Perhaps everybody can see only 3 people (and 1 bot) are contribut

[2021-12-13 20:11] lvca commented on #9679
After 3 months, is this fixed?

[2021-12-13 20:37] andrii0lomakin commented on #9734
@lvca truth is that ArcadeDB is not a fork of OrientDB. And truth is that SAP still pays for the team to provide support of open source project and if we check ArcadeDB GitHub page we see that it has only a single contributor and bot itself. My main message that ArcadeDB is not fork of OrientDB it is a completely separate project with single major contributor.

[2021-12-13 20:50] andrii0lomakin commented on #9732
Hi, we do not support the compatibility of backups between versions. You should be able to restore the backup using the same version and then update the version using the already restored database. But I would suggest doing export/import of data from old to new version.

[2021-12-13 23:46] lvca commented on #9734
@laa ArcadeDB was born as a fork of OrientDB: same idea, similar features but only took the code that was worth saving. There is no definition about how much of the original codebase must be used to be considered a "fork". ArcadeDB codebase today is only about 10% the same as OrientDB, mainly only the SQL engine is the same with some small adaptations. This means all the applications developed by

[2021-12-14 01:47] n0mer commented on #9734
@laa i sent e-mail to orientdb_enquiries@sap.com on "Wed 01-Dec-21" - no reply for 2 weeks. Will re-post question here, maybe this place is more visible:
 

I read here https://groups.google.com/g/orient-database/c/fmo0WKnfXUc message from orientdb contributor "Luigi Dell'Aquila" that v2 is EOL’ed.

1. Is that true?

2. If so - what are the steps to migrate from 2.x to 3.x?

3. What amount of supp

[2021-12-14 07:03] andrii0lomakin commented on #9734
@lvca  If one database uses only SQL code of another database that is not a fork :-) that is a completely new database with its own principles and only one library borrowed.  Only you alone push the code into the repository, which is clearly seen from the commit list. No one from current and former developers agreed to participate in the development of ArcadeDB.

@n0mer as for your questions:
1. Y

[2021-12-14 07:12] andrii0lomakin commented on #9734
@n0mer do you have any other questions?

[2021-12-14 07:18] smolinari commented on #9734
I'm confused and sad to get wind of all this.

I'm confused, because it sounds like SAP is letting OrientDB "sunset", despite the valiant efforts of the couple three devs here (who I have great respect for). What can be said, to counter this impression? Is it incorrect?

I'm sad, because it seems a slight animosity between you Luca, and the team that stayed by your side for so long. Maybe that imp

[2021-12-14 08:49] amgiorgi commented on #9659
I can confirm that this bug still persists also with version 3.2.3.

On Thu, Dec 2, 2021 at 2:24 PM Benjamin Boutier ***@***.***>
wrote:

[2021-12-14 09:26] #9734 closed, assigned to nobody

[2021-12-15 09:31] Funky89 commented on #9690
@calebeaires

To deactivate GRAAL you have to use :

`<entry name="script.polyglot.useGraal" value="false" />`

All functions have changed. So we have to replace the old ones with the new ones that are here
https://orientdb.org/docs/3.2.x/java/ref/

For info my old code:
[code]
BECOMES :
[code]

[2021-12-17 16:30] Phantasie71 opened #9738 ""LET" variables don't work in "eval""
### OrientDB Version: 3.2.3
### Java Version: openjdk version "1.8.0_302"
### OS: Debian GNU/Linux 10 (buster)

## Expected behavior
orientdb v2.2.31
[code]

## Actual behavior
orientdb v3.2.3
[code]

I am in the process of migrating my database.
This same query produces a different result between v2.2 and v3.2
Is this a bug?
Thank you

[2021-12-19 07:49] michele-pinto-kensu commented on #9694
Hi @laa, any news on this issue?

Thanks

[2021-12-20 05:34] astar10239 opened #9739 "OrientDB 3.1.15 PyOrient Not Working"
### OrientDB Version: 3.1.15
### OS: Centos 7

Conenctions are not closed even after i do conn.close()

I am using PyOrient from https://github.com/OpenConjecture/pyorient as official pyorient is not production ready as per git

[2021-12-20 07:06] andrii0lomakin commented on #9694
Hi, going to provide a fix this week.

[2021-12-21 10:01] andrii0lomakin commented on #9738
@Phantasie71 which API do you use, an old one or a new one?

[2021-12-21 10:33] Phantasie71 commented on #9738
Hi @laa,
I use OrientJS, but it's the console.sh which returns this result.

In orientdb-server-config.xml, I desactivated Graal :
\<entry name="script.polyglot.useGraal" value="false"/\>

[2021-12-22 07:26] florian-stoica commented on #9531
Any news here? It happened to me too on OrientDB V 3.1.15 with JDK 16

[2021-12-23 06:53] andrii0lomakin commented on #9694
Hi, fixed both in 3.1 and 3.2 versions. Please try and let me know if it works on your side.

[2021-12-23 12:45] florian-stoica opened #9741 "Invalid JSON generated on export"
### OrientDB Version: 3.2.3
### Java Version: 16
### OS: Win/unix/osX

## Expected behavior
Export should export a valid JSON opbject

## Actual behavior
File contains double commas in record section thus breaking the json structure and import does not work.

`,,{"@type":"d","@rid":"#4:1","@version":1,"@class":"OSecurityPolicy","read":"true","beforeUpdate":"false","name":"default_2","create":"fals

[2021-12-23 14:21] florian-stoica opened #9742 "String record parsed as double on import"
### OrientDB Version: 3.2.3
### Java Version:  16
### OS: Win/UNIX/osx

## Expected behavior
Simple import/export should work

## Actual behavior
java.lang.NumberFormatException: For input string: "1.0[ICCProfile]GreenTRC-0.0"
	at jdk.internal.math.FloatingDecimal.readJavaFormatString(FloatingDecimal.java:2054) ~[?:?]
	at jdk.internal.math.FloatingDecimal.parseDouble(FloatingDecimal.java:110) ~[?:

[2021-12-24 08:51] florian-stoica commented on #9741
This is happening when on export  include schema is set to false

[2021-12-24 08:54] florian-stoica commented on #9742
The root cause seems to be in ODatabaseImport L2235 that parsing fails. As a workaround, I've overridden ODatabaseExport and set EXPORTER_VERSION to 12 so it goes the other way, and like this the import is successful

[2021-12-24 09:38] florian-stoica opened #9743 "Unable to open DB created by same version of Orient"
### OrientDB Version: 3.2.3
### Java Version: 16
### OS: Win/Linux/osX

## Expected behavior
Open database created on the same version of orient

## Actual behavior
Crashes with:
com.orientechnologies.orient.core.exception.OStorageException: Database has been opened at version 3.2.3 (build dc98198215aa57baf29b32adb657dc3733acdb55, branch UNKNOWN) but is attempted to be restored at version 3.2.3 (b

[2021-12-24 09:40] andrii0lomakin commented on #9743
Hi @florian-stoica , the version in OrientDB includes also the branch from which it was created. You use two different builds. Once was build form UNKNOWN branch and other one from develop branch.

[2021-12-24 09:41] andrii0lomakin commented on #9743
But I suppose you are right, it should include hash alone.

[2021-12-24 09:41] andrii0lomakin commented on #9741
Hi @florian-stoica I am working on the new version of JSON parser which should fix all errors which you reported but it will take a bit of time to release it.

[2021-12-28 15:59] gianluca-valentini opened #9744 "OIndex#get is marked as deprecated, what should be used to load ORecordId instead"
### OrientDB Version: 3.1.14
### Java Version: jdk 1.8._211
### OS: Win10

OIndex.get is now marked as deprecated Java doc suggest to use {@link OIndexInternal#getRids(Object)} instead but only as internal (not public) API.
I don't find anything documented about it, just method deprecated (looking OIndexRemoteOneValue)
![image](https://user-images.githubusercontent.com/3224592/147584690-e16b4231-3

[2021-12-29 10:02] diegomtassis opened #9745 "SQL TRUNCATE not supported by ODatabase#command(String)"
### OrientDB Version: 3.0.41

We have a product where we originally used OrientDB 2.2.x and then migrated to 3.0.x.
We do the following:
`database.command(new OCommandSQL("TRUNCATE CLASS Whatever POLYMORPHIC UNSAFE")).execute();`
The result is the expected.

With OrientDB 3.0x, the OCommandSQL class is deprecated. The suggestion is to pass directly the SQL string to the command method.

`database.

[2021-12-30 10:38] diegomtassis opened #9746 "OStorageException when truncating a class"
### OrientDB Version: 3.0.41

I have a utility class with a method which truncates all the user data from a database.

This is the method. I have tried 2 different approaches and both fail.

[code]

[code]
And this is the error I get:
[code]

[2022-01-01 18:04] grimace opened #9747 "getting account suspended from orientdb.org and orientdb.com"
### OrientDB Version: 3.2.5
### Java Version: N/A
### OS: N/A

## Expected behavior
hit the web pages to download new version

## Actual behavior
no longer able to get to orientdb web pages
getting:
[code]

## Steps to reproduce
navigate a web browser to : http://orientdb.com

[2022-01-02 18:26] cr4igo commented on #9747
orientdb.org is working again (for now)

[2022-01-03 12:52] luigidellaquila commented on #9745
Hi @diegomtassis

The problem here is the `?` as target, that is not supported.
The same command, with the class name hardcoded, should work fine

Thanks

Luigi

[2022-01-03 23:50] tglman commented on #9747
Hi,

yep this should be fixed now, usual holiday hickups.

Closing

[2022-01-03 23:50] #9747 closed, assigned to nobody

[2022-01-05 08:19] guojiankang0113 opened #9751 "Orientdb does not support "create edge xxx upsert from () to () set xxx = xxx" syntax？"
OrientDB Version: <3.0.32>

I used REST API run  "create edge xxx upsert from () to () set xxx = xxx" to establish the relationship , However, unfortunately, the execution statement is abnormal.

[2022-01-05 09:02] guojiankang0113 commented on #9751
The solution is execute the following two steps before executing create upsert:
1、Create in and out attributes on the edge，
     eg: CREATE PROPERTY xxx.in LINK xxx,CREATE PROPERTY xxx.out LINK xxx
2、Create a unique index on the edge，Pay attention to the order of out and in
     eg: CREATE INDEX xxx ON xxx (out,in) UNIQUE_HASH_INDEX

[2022-01-05 09:27] guojiankang0113 commented on #9751
When using create upsert to create edges asynchronously in batches, mvcc problems will be encountered, Detailed link，(http://orientdb.com/docs/3.1.x/misc/Troubleshooting-Java.html)，I reduced the probability of this problem by changing the configuration file：
1、bin/server.sh add  -DridBag.embeddedToSbtreeBonsaiThreshold=-1 -Dcache.level1.enabled=false -Ddb.mvcc=false
2、config/orientdb-server-config

[2022-01-05 12:14] tglman commented on #9746
Hi,

This looks like there is a class in the schema that has a wrong definition, in the meaning that it contains in the list of clusters the cluster with the `-1` id  that means that is an undefined cluster.

So the problem does not seems to be related to the truncate itself, but to something ahead that allowed to create a wrong definition.

Could you share the schema of the specific class, or des

[2022-01-05 12:23] tglman commented on #9744
Hi,
You can use a query directly, as the implementation of the deprecated method is doing, the  query would be:

```select expand( rid ) from index:`index.name` where key = ?```

[2022-01-05 12:30] gianluca-valentini commented on #9744
Thanks,
but there how use the suggested replaced method instead?
When the method will be removed I think that I should use another method, isn't it?

[2022-01-14 12:38] fefux commented on #9496
Here a workaround working with OrientDB 3.2.4 (tested with openjdk 8 on remote OrientDB server only):
- Download [Gremlin console 3.4.7](https://repo1.maven.org/maven2/org/apache/tinkerpop/gremlin-console/3.4.7/gremlin-console-3.4.7-distribution.zip) and extract it
- Download [OrientDB gremlin driver 3.2.4](https://github.com/orientechnologies/orientdb-gremlin/releases/tag/3.2.4) and extract it
-

[2022-01-17 06:22] JamieSlome opened #9752 "Add a security policy"
Hey there!

I belong to an open source security research community, and a member (@ready-research) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best p

[2022-01-17 14:15] Phantasie71 opened #9753 "OSerializationException after a modification on Web interface"
### OrientDB Version: 3.2.4
### Java Version: openjdk version "1.8.0_302"
### OS: Debian GNU/Linux 10 (buster)

## Expected behavior
[code]

## Actual behavior
After manually modifying a data in this row via the web interface, it is corrupted, and this same query returns :
[code]
## Steps to reproduce
1. Open the demo DB with the Web interface.
2. Run the query for control.
3. Manually change the

[2022-01-19 11:37] diegomtassis commented on #9745
Indeed, the bind parameter didn't work either with the old OCommand class.

Thanks!

[2022-01-19 11:37] #9745 closed, assigned to nobody

[2022-01-21 03:08] choeoe opened #9754 "bug of gremlin step "has()""
### OrientDB Version: orientdb-tp3-3.2.4 tinkerpop 3.4.10
### Java Version: 1.8
### OS: windows wsl

Error occurred when querying "has()" on properties if the data has INFINITY field.
## Expected behavior
return vertices

## Actual behavior
java.util.concurrent.ExecutionException: org.apache.tinkerpop.gremlin.driver.exception.ResponseException: Character I is neither a decimal digit number, decima

[2022-01-27 06:35] veeralok1 opened #9757 "while Migration of db , inserting the Vertex gettign error Cannot get by real bag size sb-tree bonsai"
### OrientDB Version: 3.1.15
### Java Version: 1.8
### OS: Mac Catalina

## Expected behavior
In should create the vertex to the target db

## Actual behavior
Getting error : Caused by: com.orientechnologies.orient.core.exception.OStorageException: Cannot get by real bag size sb-tree bonsai
[code]
## Steps to reproduce
<add here>
<An SQL script to reproduce the problem or a JUnit test case will in

[2022-01-28 12:01] diegomtassis opened #9758 "ObjectDatabase#query and ObjectDatabase#objetcQuery wrong result"
### OrientDB Version: 3.0.41

We have a test schema/database we have been using for a long time for tests.

When it comes to querying the database, we have been using so far the old API (we started using OrientDB 2.x), which was deprecated in 3.x, and now are migrating to the 3.x API.

In general we get the same behavior with the 3.x API, but we have one query which offers different results.

This

[2022-01-31 13:56] MarttiR commented on #9569
Hi @luigidellaquila and thanks for the reply!

The above code would work in principle, but it has the side-effect of mutating the input data, which we are trying to avoid.

[2022-02-04 14:30] lfen21 opened #9759 "OrientDB 3.2 from 3.0.27"
### OrientDB Version: 3.0.27
### Java Version: <version here>
### OS: <os here>

## Expected behavior
Hi,

I'm using Orientdb , and i want to upgrade in 3.2.4. Should i use export / import or binary compatibility ?

Why export / import is recommanded ?

I prefer the second option.

"When upgrading OrientDB to a newer major/minor version, we recommend to perform an export and import of the database

[2022-02-08 06:50] tshewangnorbu opened #9760 "sublime build 4126 registration code"
### OrientDB Version: <version here>
### Java Version: <version here>
### OS: <os here>

## Expected behavior
<add here>

## Actual behavior
<add here>

## Steps to reproduce
<add here>
<An SQL script to reproduce the problem or a JUnit test case will increase **A LOT** the chance to have a quick fix>

[2022-02-09 12:39] lfen21 commented on #9759
@tglman ?

[2022-02-09 12:42] tglman commented on #9760
Hi, this feel like at the wrong place, and with no content, closing

[2022-02-09 12:42] #9760 closed, assigned to nobody

[2022-02-09 12:49] tglman commented on #9758
Hi,

Do you have a test case, It will be really helpful, with it we can check the case against the data itself.

Regards

[2022-02-09 14:00] andrii0lomakin commented on #9759
Answered in https://github.com/orientechnologies/orientdb/discussions/9481 . Please use discussions for the questions .

[2022-02-09 14:00] #9759 closed, assigned to nobody

[2022-02-11 23:13] adepase opened #9761 "update with select subquery doesn't work with $parent.$current"
### OrientDB Version: 3.1.9
### Java Version: openjdk-8
### OS: DockerFile FROM orientdb:3.1.9 (Debian GNU/Linux 10)

## Expected behavior
I expect that:
[code]
and
[code]
produce the same result (since the where in the update fixes the stem to the same value).
At least, unless I misunderstood $parent.$current or something changed between versions and I missed it.

## Actual behavior
[code]
update

[2022-02-15 07:17] MarttiR commented on #9012
For me, this error happened on **OrientDB 3.2.4** after a 7-hour migration shifted from transforming data to loading it into another system.

Seems that the JS client database session needs a session refresh mechanism; otherwise the connection is closed by the server after the defined time.

[2022-02-16 14:41] pontusvision opened #9763 "Lucene Quoted properties and classes with dots in the name don't work, and can break the database"
### OrientDB Version: 3.2.4
### Java Version: 1.8 (openJDK)
### OS: Ubuntu

## Expected behavior

When running the slightly altered LUCENE example below, with a quoted table and field names, the last two queries should produce results matching the word 'sister'; however, there seems to be a bug / lack of doc issue that prevents the queries from working, and one of the queries simply crashes the in

[2022-02-18 07:45] gsbomrel commented on #5578
@tglman san, Can you please let me know what are other some more high level APIs that can be used instead of iterateEntriesMajor ?

[2022-02-18 09:14] andrii0lomakin commented on #5578
Hi  @msbomrel2020 , you should use SQL queries instead. They are implicitly using indexes under the hood.

[2022-02-21 10:47] diegomtassis commented on #9758
I have test cases but are part of our products. I'll try to isolate one.

[2022-02-21 10:56] tglman commented on #9489
Fixed a while ago, current CI build run on JDK 8, 11, 17

[2022-02-21 10:56] #9489 closed, assigned to lvca

[2022-02-22 12:22] pontusvision commented on #1756
Sorry, please explain what happened with this issue; have the changes been implemented, or are they no longer relevant?  The documentation points to this page, but I cannot understand whether it has been implemented, or it has been cancelled.

[2022-02-22 18:09] jankotek commented on #1756
@pontusvision my understanding COLA trees (buffer trees) are obsolete by append only  store such as  RocksDB. I am not sure how OrientDB, but I never implemented it in MapDB.

[2022-02-23 13:21] tglman commented on #9676
Hi,

We just bumped the version of the jnr, the fix will be part of 3.1.16 release.

Regards

[2022-02-23 13:45] tglman commented on #9519
Refer to a really outdated version, in case the version was mistaken reopen please

[2022-02-23 13:45] #9519 closed, assigned to nobody

[2022-02-23 13:50] tglman commented on #9458
Hi,

OrientDB Enterprise is now open source here: https://github.com/sap/orientdb-enterprise-agent.

Regards

[2022-02-23 13:50] #9458 closed, assigned to lvca

[2022-02-24 20:11] ozgursucu commented on #9527
Hi @madmac2501 what is the current situation of this problem?

[2022-02-24 20:17] ozgursucu commented on #9371
Hi @madmac2501 what is the current situation of this problem? Actually we have updated from 3.0.24 to 3.1.15 but we are facing deadlock issues much higher than 3.0.24 so we will try the latest 3.0.x version.

[2022-02-24 21:45] madmac2501 commented on #9527
Hi, I moved to another solution and no longer use OrientDB.

Thanks for asking.

[2022-02-24 21:45] #9527 closed, assigned to andrii0lomakin

[2022-02-24 21:46] madmac2501 commented on #9371
Hi, I moved to another solution and no longer use OrientDB.

Thanks for asking.

[2022-02-24 21:46] #9371 closed

[2022-02-25 07:49] ozgursucu commented on #9371
Which solution have you applied?

[2022-02-25 07:57] madmac2501 commented on #9371
I used a different product.

[2022-02-26 13:36] ozgursucu commented on #8974
@tglman what is the current situation of this problem? We are also facing this problem frequently in our production environment.

[2022-03-01 12:19] adriancoca opened #9767 "Found null entry in ridbag with rid=#29:-1"
### OrientDB Version: 3.2.5
### Java Version: 8
### OS: Windows server 2019

When i try to link two nodes from OrientDB studio the next error appear that crash Orient.

Internal error happened in storage production please restart the server or re-open the storage to undergo the restore process and fix the error.
DB name="production"

2022-03-01 14:03:22:765 SEVER {db=production} Found null entry i

[2022-03-01 15:08] adriancoca opened #9768 "Error on connect plocal:../databases/... - Can not calculate size of file"
Connecting to database [plocal:../databases/production] with user 'root'...Exception `139982DE` in storage `plocal:C:\orientdb-community-3.2.5\bin\..\databases/production`: 3.2.5 (build c4298657c01683192ba0b7bfffdf82226c164506, branch UNKNOWN)
com.orientechnologies.orient.core.exception.OStorageException: Can not calculate size of file C:\orientdb-community-3.2.5\bin\..\databases\production\produc

[2022-03-01 15:36] andrii0lomakin commented on #9768
Hi, you have no right to access the database by the system user which you use.
That is why you have got this exception.

[2022-03-01 22:44] #9768 closed, assigned to nobody

[2022-03-01 22:52] adriancoca opened #9769 ".size() function gives wrong value"
### OrientDB Version: 3.2.5
### Java Version: 8
### OS: Windows server 2019

Decided to upgrade orient from 3.0.29 to 3.2.5.
It seems that in new version the size() function give a wrong answer.

I don't know if it is a fail import with some corupted data, ai tried repair database but no problem found, also maybe libked with -> https://github.com/orientechnologies/orientdb/issues/9767

## Expected

[2022-03-02 08:37] adriancoca commented on #9767
![image](https://user-images.githubusercontent.com/7643185/156325365-9d94f741-090e-4975-a0f3-d31377623b28.png)

[2022-03-02 11:23] adriancoca commented on #9767
@laa any ideea regarding this problem, now i have a broken database

[2022-03-04 14:11] johny65 commented on #9694
Using 3.2.5 it seems that this is effectively fixed.

[2022-03-07 15:29] tglman commented on #9694
Thanks to let as know, closing this

[2022-03-07 15:29] #9694 closed, assigned to nobody

[2022-03-07 16:11] tglman commented on #9371
hi @ozgursucu

Could you try 3.2.x ?

Regards

[2022-03-08 11:47] tglman commented on #9769
Hi,

This is probably due to a broken graph link, that means on the source record may be there a id of a record that do not exists any more, so when you traverse the relationship this get excluded, this is why you see the record id in the first query, but it result on 0 size when you traverse it.

Bye

[2022-03-14 22:15] timw opened #9770 "Full database sync fails in Container during database backup"
### OrientDB Version: 3.1.13
### Java Version: 1.8.0_322
### OS: Linux

When an OrientDb node running in a container attempts to perform a full sync, it fails during the database backup stage.

## Expected behavior

During a full sync, the existing database is backed up and removed, allowing the full database sync to be performed in a new folder.

## Actual behavior

While attempting to backup the

[2022-03-19 14:38] ironluca opened #9774 "shortestPath() throwing ArrayIndexOutOfBoundsException"
### OrientDB Version: 3.2.3 and commuity-3.2.5
### Java Version: JDK 17 (Adoptium OpenJDK17+35 - Windows)
### OS: Windows 10

## Expected behavior
The shortestPath() function with 3 parameters [SELECT shortestPath(source,destination,'OUT')] should return shortest path between the source and destination nodes following the out edge from source.

## Actual behavior
Throws the following: java.lang.Ar

[2022-03-22 11:54] simonebri commented on #9767
Exactly same problem, with OpenJDK Runtime Environment (build 1.8.0_312-8u312-b07-0ubuntu1~20.04-b07) and Ubuntu 20.04.4 LTS (Focal Fossa) server

[2022-03-28 11:58] tglman commented on #9774
Hi,
Do you have any stacktrace of this? do you see anything on the server logs ?

Regards

[2022-03-28 12:48] tglman commented on #9770
Hi @timw,

Thanks for the detailed analysis, do you have already a possible replacement solution for the problem ? if you do feel free  to open a PR, otherwise we will check it on our side.

Regards

[2022-03-29 05:22] andreiusmanov opened #9777 "error in import of OFunction class record ("parameters"=null)"
### OrientDB Version: 3.2.5
### Java Version: 17
### OS: mx linux 21

## Expected behavior
import of all functions from OFunction class as they were created in exported database.
Please fix it so that 'parameters' property is set to [] (empty array) by default if its value = null .
workaround - click Parameters button - that will create a parameter entry/ delete the parameter entry.
<add here>

##

[2022-03-29 08:00] gsbomrel commented on #8233
@sshuliar, cc @laa  did you solve this issue ? It was perfectly working in 2.2.0. Now, after upgrading to 2.2.37, we got the same error while creating.

[2022-03-29 08:39] ironluca commented on #9774
@tglman , there is no specific stacktrace for the above in the server log. I checked the '<orient install dir>\log' (where '<orient install dir>' is the dir in which the server is installed. It has bin, log dirs ...) directory and the orient-server.log.x files. If you let me know any specific commands or log levels that I have to enable, I could do that and check.

There is perhaps a similar issue

[2022-04-01 11:44] andrii0lomakin opened #9780 "Test OStorageRemoteAsyncOperationTest.testAsyncRead/testSyncCall are failing"
### OrientDB Version: 3.2.x

OStorageRemoteAsyncOperationTest.testAsyncRead/testSyncCall tests are failing with the exception:
[code]

[2022-04-05 11:16] tglman commented on #8233
Hi,

Versions 2.2.x are out of any support since ~3 years, hard to get any fix or updates on that versions, is suggested to migrate to a 3.x version better if 3.2.x

Regards

[2022-04-05 14:47] tglman commented on #9770
Hi,

This should be fixed in all the 3.0.x, 3.1.x and 3.2.x and will be released in the next hotfix of each series, will leave it open till released

[2022-04-06 17:01] NicolasJuanF opened #9781 "Exception saving the result of 'unionAll()' breaks the storage and requires to restart. (java.lang.ClassCastException)"
### OrientDB Version: 3.2.5
### Java Version:  openjdk 11.0.14.1
### OS: Ubuntu 21.10

## Expected behavior
To get a validation exception and keep using the database normally

## Actual behavior
update throws an exception and requires to restart.
[code]

## Steps to reproduce

[code]

[2022-04-07 09:59] ironluca opened #9782 "MANDATORY DEFAULT READONLY Property Not working for Edge Classes, Working for Vertex Classes"
### OrientDB Version: 3.2.5
### Java Version: 17
### OS: Windows 10

## Expected behavior
A property on an edge class that is MANDATORY TRUE, DEFAULT "sysdate().asLong()" , READONLy TRUE should put the default value if no value is supplied

## Actual behavior
Generating OValidationException:
![image](https://user-images.githubusercontent.com/40290578/162173189-b6908270-de5c-4b61-b114-972f3d52cde4.

[2022-04-08 04:45] sawantnitesh76ns opened #9783 "Unable to access orientd database"
### OrientDB Version: 3.1.15
### Java Version: 11
### OS: ubuntu 20.04.1 lts

## Expected behavior
The application should be able to access the orientdb database but something is happend and because of that it is not able to access the database

## Actual behavior
My orientdb database is down and because of that im unable to login on my website. I have also tried to login in database but it is sho

[2022-04-08 13:12] andrii0lomakin commented on #9783
Hi, could you share the full stack trace?

[2022-04-08 16:49] andrii0lomakin commented on #9783
Also, do you have logs from the database which we can check?

[2022-04-11 06:35] timw commented on #9498
This is fixed in 3.1.x as of 3.1.13, more specifically it looks like it was resolved as a side-effect of 72e7d639a5f96be237dc49c43c815ef7c9255400.

It's still a bug in 3.2.x/develop, including 3.2.5.

[2022-04-11 07:14] timw commented on #9721
It looks like the fixes applied in 72e7d639a5f96be237dc49c43c815ef7c9255400 to stop the DB going into an internal error status on read errors would fix this in 3.2.x/develop as well.

The root cause is actually that a rebuild index on a Lucene index has always (at least in 3.1/3.2) thrown an UnsupportedOperationException when it is rebuilt.
The delete/doDelete method in OIndexAbstract isn't design

[2022-04-11 09:07] sawantnitesh76ns commented on #9783
Okay i will provide you the full stack trace and logs of that database

[2022-04-11 10:11] sawantnitesh76ns commented on #9783
Logs
2022-04-11 09:53:48:620 INFO  OrientDB Server is active v3.0.27 - Veloce (build bc8f77600494cab71fb347d4c29f71c793442464, branch 3.0.x). [OServer]
2022-04-11 09:55:02:634 INFO  Direct IO for WAL located in /var/lib/orientdb-3.0.27/databases/databizurm is allowed with block size 4096 bytes. [OCASDiskWriteAheadLog]
2022-04-11 09:55:02:634 INFO  Page size for WAL located in /var/lib/orientdb-3.0

[2022-04-11 11:09] andrii0lomakin commented on #9783
From what I see you opened a database created by a newer version using an older implementation. Such an approach is not supported.

[2022-04-11 21:27] timw commented on #9498
@laa - would it make sense to pull 72e7d639a5f96be237dc49c43c815ef7c9255400 up to 3.2?

[2022-04-12 02:42] lee2015new opened #9784 "How can I get breadth traversal by match in OrientDB？"
OirentDB has Traverse to set strategy with breadth-first or depth-first. But using Match how can I set the strategy, seemingly it was depth-first strategy by default.

[2022-04-12 09:54] gianluca-valentini commented on #9744
Looking issue  https://github.com/orientechnologies/orientdb/issues/9461
I have a concern about to find a solution.

If the deprecation code say that I have to use OIndexInternal I suppose that I have to use
`OIndex.getInternal`

Now when I load the index using it's name:

`ODatabaseSession#getClass("myClass").getClassIndex("indexName");`

**I have an OIndexRemote**.

Now looking the code of **OIn

[2022-04-20 07:07] alxxyz opened #9785 "Enterprise price"
I've found that Enterprise now is open source, does it mean that it is also free?

https://orientdb.org/enterprise-agent-open-source

[2022-04-20 16:58] tglman commented on #9774
Hi,
ported the fix will be released in the next hotfix (3.2.6).

Regards

[2022-04-21 11:45] tglman commented on #9785
Hi,
Yes!
Regards

[2022-04-21 11:45] #9785 closed, assigned to nobody

[2022-04-22 09:01] EscortSC opened #9787 "Move class TreeEntry into package com.orientechnologies.orient.client.remote.message, OLuceneIndex into package com.orientechnologies.lucene.index"
Hi, @tglman @laa

**Issue Description**

Package **_com.orientechnologies.orient.client.remote_**, **_com.orientechnologies.lucene_** are a promiscuous package, and groups together miscellaneous functionalities that might be useful to different subsystems. The package structure violates the “high cohesion and low coupling” design rules. I found that Class **_TreeEntry_** and **_OLuceneIndex_** is

[2022-04-27 21:27] micky008 opened #9793 "Multiple @fieldTypes in JSON API"
### OrientDB Version: Server v3.2.5 (build c4298657c01683192ba0b7bfffdf82226c164506)
### Java Version: open-jdk 16
### OS: windows 10.0.19044.1645

## Expected behavior
have an array of @fieldTypes
[code]

the w type is for string (w for example)

## Actual behavior
I have 1 @fieldTypes per Edge
(result in postman)
[code]
result in Angular
[code]
when a read the response, I've the only last @field

[2022-05-02 13:07] MC-JY opened #9796 "Improve build performance of modules"
Hi, I'm now using **orientdb**. I found that the build time of the project is not very fast when I used `mvn -T 1C install -DskipTests` command to build the project during Github Actions. So I try to speed up the build performance of the project. The goal here is to clean up dependencies between maven modules in the project in order to improve the build performance.

Thread usage before cleaning u

[2022-05-03 14:32] tglman commented on #9774
released

[2022-05-03 14:32] #9774 closed, assigned to nobody

[2022-05-03 14:33] tglman commented on #9770
released for both 3.1.x and 3.2.x series, closing

[2022-05-03 14:33] #9770 closed, assigned to tglman

[2022-05-03 22:11] #9623 closed, assigned to nobody

[2022-05-04 15:17] tglman commented on #9796
Hi,

for the JDBC module, it takes a lot of time because we build the jdbc-all jar, that include all the dependencies, and yes also the server, witch I'm not completely sure why it is required, I need to double check that.

I think an approach could be make the build of the  jdbc-all jar optional so is done only when run on snapshot publish and release, not at every test build, this should save so

[2022-05-05 09:37] diegomtassis opened #9797 "Query behavior changed in 3.1.x from 3.0.x"
This is similar to [this other ticket](https://github.com/orientechnologies/orientdb/issues/9195), but not the same.

SELECT expand(distinct(cars.team)) FROM Driver WHERE name = 'Fernando Alonso'

This query returns the expected results with 2.2.x and 3.0.x, **both using the old and the new API**, but it returns 0 results when we upgrade to 3.1.17.

Here some unit tests showcasing the different be

[2022-05-09 09:30] adriancoca commented on #9767
Wrong edge remain as info when selecting from user -> How can this info be removed ?  ![image](https://user-images.githubusercontent.com/7643185/167381982-2c19c537-fa5d-462f-90c9-9dc5a7bc43d5.png)

[2022-05-10 16:26] boddissattva opened #9803 "NPE on non unique index storage when deleting rows"
Hello,

We had the following error on one of our server instance and be very pleased to be given a hint about the problem.

To be noted :
* This happens once and cannot be reproduced.
* The database is very small.
* The deletion is not in an explicit transaction.
* After a restart, everthing seems fine.

### OrientDB Version: 3.2.5
### Java Version: 11 (OpenJDK)
### OS: RedHat 7

## Actual behavio

[2022-05-10 17:00] andrii0lomakin commented on #9803
Hi,
Did you use the database from the previous version?

[2022-05-11 08:03] boddissattva commented on #9803
After check, yes we use on this instance the previous version 3.2.4 for some time.

[2022-05-12 11:43] johny65 opened #9805 "Incorrect edges count after committing with sbtree-based ridbag"
### OrientDB Version: 3.2.6
### Java Version: openjdk version "11.0.15"
### OS: Ubuntu 22.04

## Expected behavior

A committed vertex should return the correct edges after adding a new edge.

## Actual behavior

When sbtree-based rigbad is activated (server configured with `ORIENTDB_SETTINGS="-DridBag.embeddedToSbtreeBonsaiThreshold=-1"`), adding an edge to a vertex and then committing, the verte

[2022-05-12 13:41] adriancoca opened #9806 "Database repair Error during processing of edge with id"
### OrientDB Version: 3.0.29
### Java Version: 8

.1250000 edges were processed out of 1356891
.Error during processing of edge with id #201:4347
java.lang.NullPointerException
        at com.orientechnologies.orient.core.db.tool.OBonsaiTreeRepair.repairDatabaseRidbags(OBonsaiTreeRepair.java:54)
        at com.orientechnologies.orient.console.OConsoleDatabaseApp.repairDatabase(OConsoleDatabaseApp.

[2022-05-17 14:47] amlbor opened #9808 "java.lang.OutOfMemoryError while executing SQL query"
### OrientDB Version: 3.0.29
### Java Version: 1.8.0_242
### OS: OpenJDK 64-Bit Server VM (build 25.242-b08, mixed mode)

## Expected behavior
SQL query should execute successfully and return results. The query contains multiple AND-OR conditions.

`SELECT FROM TestClass WHERE (((Property1 is null) or (Property1 = #107:150)) and ((Property2 is null) or (Property2 = #107:150)) and ((Property3 is nu

[2022-05-17 17:14] tglman commented on #9805
Hi,

Tried to write a test out of the specified case, but seems to work fine, could you help me to reproduce?
here is the commit: https://github.com/orientechnologies/orientdb/commit/effc3138befc2c60bf4f46d6fcd04b4c9737da2c

Regards

[2022-05-18 10:23] SirStoke opened #9809 "NPE in the Authenticator when executing a query"
### OrientDB Version: 3.2.5
### OS: Linux (container)

We encountered a NPE in the Authenticator class while executing a simple query from a java remote client. The query was a very simple `SELECT/WHERE`, but it was executed under slight concurrency

## Expected behavior

Query is executed correctly

## Actual behavior
The client failed with `orientechnologies.orient.core.exception.OSecurityAccess

[2022-05-19 06:22] kmchugh commented on #9598
If this helps track it down.

3.2.2, running in docker using orientdb:latest image
Docker crashed, and now unable to open the db.

Log below.

[code]

[2022-05-19 06:49] andrii0lomakin commented on #9598
It is already fixed please use latest version.

[2022-05-19 11:51] veeralok1 opened #9811 "Channel is closed"
### OrientDB Version: 3.1.2
### Java Version: 1.8
### OS: cloud aws kubernetes

## Expected behavior
I am running the orientDB cluster of 3 nodes with all master and writeQuram is All and ReadQuram is 1 .  It should save without any issue.

## Actual behavior

AS part of our migration work we are creating the Vertex in orient db with 10 threads and batch  of 20 . In my local we not facing any issu

[2022-05-22 00:20] NicolasRuiz99 commented on #9659
Same issue with ver. 3.2.4 :/

[2022-05-23 09:14] chaudharisuresh997 commented on #6714
Still this issue comes up lets say we have two instances of orientdb pointed to service.One instance of db always updates to latest version and other one is not able to catch up with latest changes and falls behind.is there any config.

[2022-05-23 14:39] tglman commented on #9659
Hi,

Is there anyone that can provide a thread dump of the etl process, that would help to fix this.

Regards

[2022-05-24 13:19] johny65 commented on #9805
Hi @tglman. The server must be configured with `ORIENTDB_SETTINGS="-DridBag.embeddedToSbtreeBonsaiThreshold=-1"` (I edit the server.sh file for convenience). Changing the option in the client side does not take effect.
Can you try with this configuration?

[2022-05-24 13:23] johny65 commented on #9809
We have the same issue but it occurs randomly in certain queries, retrying the query is executed fine so we are for now ignoring it. We are using version 3.2.0.

[2022-05-24 13:33] johny65 opened #9813 "Incorrect behavior of "like""
### OrientDB Version: 3.2.6
### Java Version: openjdk version "11.0.15"
### OS: Ubuntu 22.04

## Expected behavior

Searching with a `like` condition to return correct results.

## Actual behavior

If the property filtered by the condition contains a line break, then `like` doesn't consider it.

## Steps to reproduce

[code]

[2022-05-25 02:32] timw opened #9815 "Distributed database messaging hangs when storage in INTERNAL_ERROR state"
### OrientDB Version: 3.1.17

When the storage in a distributed database is placed into an internal error state, any subsequent mutation request will cause the message processing in `ODistributedDatabaseImpl` to hang (i.e. be indefinitely suspended) for processing messages from the sending node.

We have run into at least 2 scenarios that trigger this behaviour:
 - When a Lucene full text index is

[2022-05-25 06:13] chaudharisuresh997 opened #9816 "Understanding HazelCast sync across diffrent orientdb instances in cluster"
### OrientDB Version: 3.2.6
### Java Version: 14
### OS: centos

## Expected behavior
the hazelcast inmemory information should be shared with other orientdb instances

## Actual behavior
all orientdb instances hold information of hazelcast metadata for itself there is no shared cache where all the orientdb instances share latest live nodes information .Can someone please explain here I can see on

[2022-05-28 11:02] vishalkumarmahato commented on #9808
is this issue is Still open @tglman

[2022-05-31 12:34] tglman commented on #9808
Hi,

yes it is, we found the root cause of the problem, for better search of usable indexes we do flatten conditions for example if you have:
`a=1 and (b=2 or c=3)` we flatten it to `a=1 and b=2 or a=1 and c=3` as you see in a use case with a lot of conditions this become somewhat exponential.
We do not have a solution yet on this because opting out of the flatten would reduce the cases when we ca

[2022-06-01 10:35] tglman commented on #9815
Hi,

A storage going in `INTERNAL_ERROR` when running on a distributed setup, should trigger a full sync, that is more or less what's happening, and yes the error should be ignored/ skipped during the install phase, the storage should be closed, removed, and replaced by another one coming from another node.

Regards

[2022-06-01 23:07] #9676 closed, assigned to andrii0lomakin

[2022-06-02 04:02] deusaquilus opened #9819 "Insert of null-value via SQL API causes exclusion via ODocument API"
### OrientDB Version: 3.2.6
### Java Version: 8
### OS: Ubuntu

## Expected behavior
Inserting a null-value column like this:
[code]
The querying the data like this:
[code]
Should return an ODocument where:
[code]

## Actual behavior
The returned document is missing the `lastName` value:
[code]

## Steps to reproduce
The above script:
[code]
... and then the query `SELECT firstName, lastName, age,

[2022-06-02 08:36] sergii-iakovenko opened #9820 "Query count(*) gives wrong result"
### OrientDB Version: 3.0.34, 3.0.42
### OS: Ubuntu 20.04, 22.04
### Docker official image: orientdb:3.0.34, orientdb:3.0.42

## Expected behavior
```SELECT count(*)``` returns the actual number of elements corresponding to the where conditions.

## Actual behavior
The query ```SELECT count(*) FROM test WHERE a = b``` returns 0.

## Steps to reproduce
Given a simple class with 2 indexed properties

[2022-06-06 11:54] tglman commented on #5886
This is already implemented in all latest 3.x version if the enterprise agent is present the incremental backup will be used to full sync data across the cluster.

[2022-06-06 11:54] #5886 closed

[2022-06-07 12:01] jacquipre opened #9821 "Performance issue with Orient 3.x when removing non lightweight edges"
### OrientDB Version: 3.2.6
### Java Version: 1.8.0_322-b06 Temurin
### OS: Windows 10 Enterprise

## Expected behavior
Removing non lightweight edges is not slower than in OrientDB 2.x

## Actual behavior
Hi!
We are updating OrientDB from version 2.2.37 to 3.2.6 and detected some performance issues with removing edges.
We have some not lightweighted edges which should be removed. This takes now 4

[2022-06-07 18:04] ipeacocks opened #9822 "Migration from single node to distributed cluster"
I am trying to migrate from single orientdb node to distributed cluster. So i've dumped db from single instance

[code]
After I am trying import it in distributed orientdb cluster:
[code]
What I am doing wrong? What does mean `Cannot route TX operation against distributed node`?

Single instance is on `3.0.34` version and distributed - on `3.2.5`.

[2022-06-08 07:00] ComeMaes opened #9824 "ETL syntax for creating index on embeddedlist type"
### OrientDB Version: 2.2.12
### OS: docker image

I am trying to write an ETL loader block that will create an index on a field that is an embedded list with nested type = string. I cannot find documentation for the right syntax for creating an index on a field that is an embeddedlist of strings. See the index definition for `myEdgeClass` below. I have tried a few syntax options (e.g. `myListFiel

[2022-06-09 11:16] tglman commented on #9721
Hi,

Rolling 3.2.7 with the relative fix, closing this.

[2022-06-09 11:16] #9721 closed, assigned to andrii0lomakin

[2022-06-09 14:48] tglman commented on #9809
Hi,
I did a small refactor that should improve the current status, it landed in 3.2.7 just released, could you double check it?

Regards

[2022-06-09 17:18] tglman commented on #9806
Hi,

A fix for this has been release in 3.2.7.

Regards

[2022-06-10 15:15] adriancoca commented on #9806
Hello, I tried again with that database backup restored in orient 3.2.7. That error doesn't appear anymore, but I still have another problem I am not sure if it is related with this https://github.com/orientechnologies/orientdb/issues/9767 . In that case it seems that the vertex may be broken the solution was to "clone" that node and remake all links with the new vertex. I am closing this issue be

[2022-06-10 15:15] #9806 closed, assigned to tglman

[2022-06-14 10:03] tglman commented on #9767
Hi,

for this problem I see that you are sending a query trough the http APIs, could you share the query with the relative parameters?

Regards

[2022-06-14 10:09] tglman commented on #9622
Hi,

Could you try to reproduce this with the last release 3.2.7 ?

Bye

[2022-06-14 10:12] tglman commented on #9575
Hi,

Fixes for this case have been done and released, closing this, please re-open if you still experience problems.

Regards

[2022-06-14 10:12] #9575 closed, assigned to nobody

[2022-06-14 10:17] tglman commented on #9520
Hi,

I would suggest to try this case with the latest 3.2.x series, our tests works all pretty OK since a while so I guess this was a temporary failure on the develop branch.

Regars

[2022-06-14 10:20] tglman commented on #9524
Hi,

This is implemented properly in 3.2.x and 3.1.x, closing, please re-open if you still experience some problems.

Bey

[2022-06-14 10:20] #9524 closed, assigned to tglman

[2022-06-14 10:27] tglman commented on #9451
Hi,

The correct way to do this is:

[code]
Regards

[2022-06-14 10:27] #9451 closed, assigned to tglman

[2022-06-14 10:34] tglman commented on #9407
Hi,

This should be already fixed in recent release of 3.1.x like 3.1.18, closing this, please re-open if you still experience the problem.

Regards

[2022-06-14 10:34] #9407 closed, assigned to lvca

[2022-06-14 10:34] tglman commented on #9428
Not relevant anymore, use github discussions.

[2022-06-14 10:34] #9428 closed, assigned to lvca

[2022-06-14 10:35] tglman commented on #9453
Hi,

This is now done

[2022-06-14 10:35] #9453 closed, assigned to andrii0lomakin

[2022-06-14 10:37] tglman commented on #9498
Hi,

This should be already fixed in from 3.1.18 and 3.2.7, could you verify it?

Regards

[2022-06-14 10:43] tglman commented on #9803
Hi,

Could you try the latest 3.2.7, we fixed quite a few errors around the storage operations.

Regards

[2022-06-14 10:47] johny65 commented on #9498
Hi, I'm testing it in 3.2.7 but it still happens. I can still reproduce it in a new fresh database:

[code]
Now when I want to restart the server, it crashes on shutdown:

[code]

[2022-06-14 10:47] #9509 closed, assigned to nobody

[2022-06-15 14:29] tglman commented on #9551
Hi,

A while ago we had some build problems, should all be fixed right now, closing this, feel free to re-open it if you experience still the problems.

Regards

[2022-06-15 14:29] #9551 closed, assigned to nobody

[2022-06-16 16:57] NicolasJuanF opened #9827 "No function with name 'search_cross'"
### OrientDB Version: 3.2.5 Enterprise Edition
### Java Version: openjdk 11.0.14.1
### OS: Ubuntu 21.10

## Expected behavior
To search across every lucene index using function "search_cross" mentioned in the documentation [http://orientdb.org/docs/3.2.x/indexing/Full-Text-Index.html#cross-class-search-enterprise-edition](url)

## Actual behavior
There is no function with name 'search_cross';

##

[2022-06-17 09:29] lanzhoujiaoya opened #9828 "OrientDB Version: 2.2.38，list cluster command shows data problems"
### OrientDB Version: 2.2.38
### Java Version:
### OS: <os here>

## Expected behavior
shows the following
![image](https://user-images.githubusercontent.com/31941244/174269450-243a5665-a666-4553-9355-72f6bb51baa3.png)
![image](https://user-images.githubusercontent.com/31941244/174270679-14b51fc9-5b5d-41ac-b36f-25dfc5be95fb.png)

orion_v #11 The actual data has reached 70405437, but now it shows 1

[2022-06-17 14:48] tglman commented on #9828
Hi,

the max value of a record id position, your 70405437 may not be the same of the count of the records, because record may be deleted, so this is pretty normal, and is not a bug.

Regards

[2022-06-21 14:37] tglman commented on #9809
Closing this, please re-open if you can still reproduce it

[2022-06-21 14:37] #9809 closed, assigned to tglman

[2022-06-22 07:42] adriancoca opened #9830 "Error when deleting a vertex property"
### OrientDB Version: 3.1.10
### Java Version: 1.8
### OS: windows server 2019

## Expected behavior
deleting a vertex property from orientdb studio

## Actual behavior

PAYLOAD

DROP PROPERTY `WIDGET`.`tututrrriiry`

java.lang.NumberFormatException: For input string: \"999999999999\"

![image](https://user-images.githubusercontent.com/7643185/174972115-7c9cd646-2a9a-4d75-81a6-c03fefbc4c85.png)

L

[2022-06-22 14:53] tglman commented on #9781
Hi,

Added a fix for the case, will be released with 3.2.8.

Regards

[2022-06-22 14:55] tglman commented on #9763
Hi,
This is partially fixed, the query won't break the database anymore, still I think the original problem with quoted properties is still there.

Regards

[2022-06-22 15:09] ufwtfcu opened #9831 "match is different from Tinkerpop and incorrect"
### OrientDB Version: TP3-3.2.7
### Java Version: 1.8
### OS: Windows 10

Try example from Kelvin Lawrence's "Practical Gremlin" use air-route-latest.graphml
// Find any cases of where you can fly from JFK non stop
// to a place you cannot get back from non stop. This query
// should return LCY, as the return flight stops in Dublin
// to refuel.
`g.V().has('code','JFK').
  match(__.as('s').out().a

[2022-06-23 08:49] Simoran95 commented on #7971
Hi, has there been a solution to this problem please? We are experiencing it also on 3.37.1

[2022-06-23 10:53] adriancoca commented on #9767
It's just a simple sql.

![image](https://user-images.githubusercontent.com/7643185/175282650-85687edf-dd92-423c-9371-530957d9e6a6.png)

[2022-06-24 01:46] SpareShade opened #9833 "[help] utf-8 unicode ascii encoding issue"
Thank you for this marvelous DB!

I am having issues inserting or properly encoding the unicode characters into database when using the REST API. For example, I get:
```Munuŋgurr —> Munuu014bgurr ```
or
``` Ḏurrk -> u1e0eurrk```

It works fine if I enter these directly into DB.

Any help would be much appreciated!

[2022-06-24 03:07] SpareShade commented on #9833
huh! in my case it was adding ```JSON_UNESCAPED_UNICODE``` to ```json_encode``` ... for ```PHP```

[2022-06-24 03:07] #9833 closed, assigned to nobody

[2022-06-24 09:17] #9784 closed, assigned to nobody

[2022-06-24 18:08] ufwtfcu opened #9834 "ETL not import csv file if lock is on"
### OrientDB Version: TP-3.2.7
### Java Version: 1.8
### OS: Windows 10

## Expected behavior
ETL should import csv correctly if lock is turned on (and the file is not locked by other processes)

## Actual behavior
ETL tool stops with 0 rows imported

## Steps to reproduce
Turn on lock in configuration file
for example,
`"source": { "file": { "path": "product.csv", "lock": true } },`
and run ETL t

[2022-06-29 20:33] wallyatkins commented on #8229
@LianaNapalkova do you recall what the resolution to this issue was?

[2022-06-30 03:35] woody0907 opened #9836 "NullPointerException when login into a database"
### OrientDB Version: 3.2.3
### Java Version: jdk11
### OS: centos
## Expected behavior
login to bmc20220630 dababase

## Actual behavior
Session expired

## Steps to reproduce
<add here>
<An SQL script to reproduce the problem or a JUnit test case will increase **A LOT** the chance to have a quick fix>

2022-06-30 11:17:25:540 INFO  Detected limit of amount of simultaneously open files is 262144,

[2022-06-30 08:06] adriancoca commented on #9830
database seems to be broken
Error: com.orientechnologies.orient.core.exception.ODatabaseException: Cannot open database 'ztr_globaldes....'

Error: com.orientechnologies.orient.core.exception.ODatabaseException: Cannot open database url=plocal:C:\orientdb-3.1.10\bin\..\databases/ztr_globalde...

Error: java.lang.NumberFormatException: For input string: "999999999999"

[2022-06-30 08:22] qianSir01 commented on #9658
hi,Can you tell me how you solved this problem?

[2022-06-30 08:58] tglman commented on #9836
Hi,

did you try to update to 3.2.8, this may be already fixed.

Bye

[2022-06-30 08:59] tglman commented on #9830
Hi,

Can you manage to get some stack trace, for this error ?

Bye

[2022-06-30 09:20] woody0907 commented on #9836
I have update to 3.2.8, but the problem is still there, the error messages code line changed:
java.lang.NullPointerException
	at com.orientechnologies.orient.core.storage.index.sbtreebonsai.global.btree.BTree.firstItem(BTree.java:301)
	at com.orientechnologies.orient.core.storage.index.sbtreebonsai.global.btree.BTree.firstKey(BTree.java:222)
	at com.orientechnologies.orient.core.storage.ridbag.sbt

[2022-06-30 09:27] adriancoca commented on #9830
Unfortunately the message above is the only thing that is shown when I try connect plocal:../databases/ztr ...   root password. If I try to connect from studio it fails and after that no databases is shown in list after refresh. Maybe a  remote to my pc or an archive with the database can help you? Thx.

[2022-06-30 12:31] amlbor commented on #9808
@tglman - is there any workaround till the issue is resolved?

[2022-07-03 01:38] alvintanjianjia opened #9838 "Potential Refactoring Estimate"
**Summary**
I have identified a few classes with refactoring potential along with its estimated time to refactor, specifically OSecurityRemote.java. The estimated time is based on historical commits containing refactoring and the complexity of the involved classes. The class was refactored once on Aug 5, 2020 along with other classes in commit 36f52c52a5d6eb8d142671a516de9dcd66dedef3. Given the du

[2022-07-03 12:47] tglman commented on #9781
Hi,

A fix for this case has been rle

[2022-07-03 12:47] #9781 closed, assigned to tglman

[2022-07-04 10:50] tglman commented on #9830
Hi,
Yes if you can share a archive of the database that I can use to reproduce the problem it would be very helpful.

Regards

[2022-07-04 11:24] adriancoca commented on #9830
Can you provide me an email address where I can send you the archive ?

[2022-07-05 13:40] yaolinhu opened #9839 "Index corruption, CellBTreeSingleValueV3 class endless loop"
### OrientDB Version: 3.1.15
### Java Version: 1.8
### OS: linux

## Expected behavior
Returns the desired result when using a unique index

## Actual behavior
When a query SQL goes through the unique index, no result is returned. Check the class /core/storage/index/sbtree/singlevalue/v3/CellBTreeSingleValueV3.java, method readkeysfrombuckets , orientdb server has entered an endless loop.

## Step

[2022-07-05 16:21] johny65 commented on #9498
I can confirm this is fixed is 3.2.8. Thanks!

[2022-07-06 10:23] #9498 closed, assigned to andrii0lomakin, luigidellaquila

[2022-07-06 14:23] fabriziofortino opened #9840 "disable WAL for plocal database"
### OrientDB Version: 3.2.7
### Java Version: 11
### OS: Mac OSx

I have a plocal database as part of a Kotlin application. I would like to disable the WAL journal but I still see the WAL file growing in the db folder.

Here is my code:

[code]

I tried the following:

- start the app using `-Dstorage.useWAL=false`
- add a call to `OGlobalConfiguration.USE_WAL.setValue(false)` before db init code

[2022-07-06 18:05] lvca commented on #9840
Hey, @fabriziofortino still using OrientDB? Nice to see you around. Have you looked at ArcadeDB? :-)

[2022-07-06 20:18] fabriziofortino commented on #9840
hey @lvca long time! I had a look at ArcadeDB a few months ago and it looks interesting.
I am building a small prototype and I need a graph db to validate some assumptions. I picked Orient because I am more familiar with it.

[2022-07-07 10:28] tglman commented on #9840
Hi,

As today in 3.2.x is not possible to disable the WAL, just because it would break a few more features of OrientDB, like incremental backup, distributed partial sync, even if you are ok to loose the durability, It may be possible to do a mock implementation of the WAL that would allow to run this functionality and disable the logging of changes but is not yet implemented.

Also as today disabl

[2022-07-07 10:33] tglman commented on #9839
Hi,

There have been fixes around indexes (so CellBTreeSingleValueV3.java) some released some not yet released, that may solve as well this problem, it would be useful have an example database or an example software that would help to reproduce this case.

Regards

[2022-07-07 11:07] tglman commented on #9830
Hi, you can try to send it to me `data@tglman.org` regards

[2022-07-07 16:29] tglman commented on #9808
Hi,

A work around you could try is to split the query in a query and a subquery, so this will reduce the amount of conditions for each query and reduce the chances to send it in out of memory ex:

[code]

we are actively working to fix this problem anyway.

Regards

[2022-07-08 08:23] yaolinhu commented on #9839
See attachment for test database.

I don't know when the index corruption was caused, Please confirm whether this problem has been fixed?

[2022-07-08 13:17] tglman commented on #9838
Hi,

Estimate refactors is hard, for the specific case I see that there is some heavy logic in OSecurityShared that may need a bit of double check and cleanup that would take probably half a day, the other two class require less work, the only thing that is needed there for now is to throw away old deprecated logic when is possible to be not compatible to the past, that would take an hour more or

[2022-07-09 07:45] vivekjustthink opened #9841 "NullPointerException is thrown while calling org.apache.tinkerpop.gremlin.process.traversal.util.DefaultTraversal.hasNext"
### OrientDB Version: 3.0.30
### Java Version: 1.8.0_202
### OS: MacOS Monterey (V 12.4)

Code : GraphTraversal<Vertex, Vertex> ft = getGTS().V(myObject.getVertex()).out(tag);
			return ft!=null && ft.hasNext();

## Expected behavior
  ft.hasNext() to be returned true or false

## Actual behavior
throwing NullPointer exception
 <img width="1127" alt="Screenshot 2022-07-09 at 1 05 37 PM" src="https

[2022-07-14 06:54] adriancoca commented on #9830
@tglman you managed to check the database I sent to you ?

[2022-07-14 10:59] tglman commented on #9839
Hi,

I tried the database I reproduced the problem, but the issue seems related to index persistence, some persistent data structures go in a reference loop, and I cannot reproduce the way you can reach this state, if you have a script or test case that can bring a valid database to this state it would be really helpful!

Anyway is possible to work around this problem "regenerating" the index, you

[2022-07-14 11:48] tglman commented on #9830
Hi,
Yes I saw the reason of this problem, in a integer property there is a max value that is "999999999" when OrientDB open the database and try to initialize metadata structures try to get a `int` value out of the string and fail.

So for now make sure that you have valid max and min values in the properties, we will try to add check to avoid that invalid values come into the database matadata.

[2022-07-18 09:31] chaudharisuresh997 commented on #9743
this issue is recreated at version 3.2.9 we promoted from 3.2.8 to 3.2.9

[2022-07-18 10:33] alvintanjianjia commented on #9838
Hi @tglman,

Thank you very much for your input! Your insights are very valuable in helping me improve. I understand that my estimations are not accurate in this context, but it is really helpful in understanding why my estimations are incorrect.

Regards,
Alvin

[2022-07-18 11:19] tglman commented on #9830
Hi,

the 3.1.19 just released should work fine in this case, allowing the database to open if if has invalid validation rules(backward comparability), and giving error when setting a rule that is not valid.

Closing this, re-open if you still experience the problem.

[2022-07-18 11:19] #9830 closed, assigned to tglman

[2022-07-18 15:57] vivekjustthink opened #9842 "Gremlin shortest path query loops infinitely in RepeatStep"
### OrientDB Version: 3.2.8
### Java Version: 1.8.0_202
### OS: MacOS Monterey (V 12.4)

### Code:
		String dbURL = "remote:docker.local/test";
		String username = "root";
		String password = "test";

		OrientGraphFactory factory = new OrientGraphFactory(dbURL, username, password);
		factory.setupPool(10, 20);

		OrientGraph g = factory.getTx();
		GraphTraversalSource gts = g.traversal();

		Verte

[2022-07-21 01:14] yaolinhu commented on #9839
Sorry, I really don't know how to reproduce this problem, but it has appeared several times. Is this related to disk? For example, insufficient disk space or poor disk performance?

Regards

[2022-07-21 18:45] dumblob commented on #3944
Also very much interested in this. The DB world nowadays kind of considers Jepsen tests as the very bare minimum to even consider a DB for any (even small) production use.

[2022-07-26 22:03] pontusvision commented on #9839
I'm also running into issues around the CellBTreeSingleValueBucketV3 where the code is looking for a serializer with an ID of 0, and getting a null pointer in deserializeFromByteBufferObject()... to troubleshoot it, I modified the code in  deserializeFromByteBufferObject() to do the following:
[code]
I can reproduce this relatively easily at a client site, but they have PII data in their database,

[2022-08-01 18:39] NicolasRuiz99 commented on #9659
[threaddump.txt](https://github.com/orientechnologies/orientdb/files/9236470/threaddump.txt)

[2022-08-02 12:17] ali-avci opened #9843 "Enhancement: Import database --preserveClusterIDs"
Instead of preserving Cluster ID's preserve the Cluster with all its attributes as well.

I aim to get the clusters size on disk as small as possible by setting the Compression Gzip attribute.

But while importing the database the cluster is dropped and a brand new cluster is created with defaults.

Suggestion for the option name might be preserveCluster, where only a truncate cluster before the a

[2022-08-11 10:53] tglman commented on #9803
Hi,
This should be for sure fixed in 3.2.9.

Regard

[2022-08-11 10:53] #9803 closed, assigned to nobody

[2022-08-11 10:58] tglman commented on #9675
Hi,

Do you have an example function for this case ?

Regards

[2022-08-11 10:58] #9520 closed, assigned to nobody

[2022-08-12 16:11] tglman commented on #9659
Hi,

This may be fixed in 3.2.9, can you double check it?

Regards

[2022-08-12 16:52] gianluca-valentini opened #9853 "java.lang.ArrayIndexOutOfBoundsException: 64. Bulk delete vertex error"
### OrientDB Version: 3.1.17
### Java Version: 8
### OS: Linux

Using OrientDB gui I need to delete a lot of vertex using delete query but I have a strange error

![image](https://user-images.githubusercontent.com/3224592/184406208-d14df6bb-07a5-4b54-84c8-33e04f943627.png)

This is my orientdb server log trace (Analytics is my database name)

`Exception `33BEB057` in storage `plocal:/orientdb/data

[2022-08-12 18:15] NicolasRuiz99 commented on #9659
Yes, now it works without any problem. Thanks!

[2022-08-14 11:13] gianluca-valentini commented on #9853
UPDATE

it seems related to a class unique index

If I try to remove o rebuild it I have the same error

The index is present on my class **Account** as described below
`Account.subjectFactory_userId  UNIQUE  ["subjectFactory","userId"]  CELL_BTREE`

[2022-08-14 11:31] gianluca-valentini commented on #9853
Is there something that I can do to fix this issue?

[2022-08-15 09:15] tglman commented on #9659
Perfect, closing

[2022-08-15 09:15] #9659 closed, assigned to nobody

[2022-08-19 09:42] civanescu commented on #8407
The v 3.0 syntax for DISTINCT isn't working in pyorient. :|

[2022-08-23 09:17] tglman commented on #9743
Hi,

yes this check is still active in all the version of OrientDB, if you try to open a database that need to run a recover from WAL procedure, it will fail to open if opened with a version that is not  exactly the same of when it was opened last time, to recover from this situation you just need to open the database with the original version and wait the recover from WAL to finish, shutdown safe

[2022-08-23 09:26] tglman commented on #9853
Hi,

fix  for similar problem are in the 3.2.9 release and 3.1.x branch not yet released, will be released with 3.1.20, to fix this problem you may try to rebuild the index after upgrade, if even the index rebuild fail, the suggested solution is to export and import the data on a version with the fix.

Regards

[2022-08-23 09:28] tglman commented on #9839
Hi,

This issue seems to be a bug in the index implementation fixes have been done in it recently, the most recent is included in 3.2.9 release, from that release on should not be there issues with indexes itself.

Regards

[2022-08-23 09:37] tglman commented on #9815
Hi,

This should be fixed and released in both 3.1.x series and 3.2.x series.

Regards

[2022-08-23 09:37] #9815 closed, assigned to tglman

[2022-08-23 09:47] tglman commented on #9811
Hi,

Could you try this with the latest release ? also i see from the error that the version you are using ins 3.0.x, make sure that both client and server are the same version to avoid this kind of errors.

Regards

[2022-08-23 12:06] amlbor commented on #9808
Hi @tglman - Any updates on this issue?

[2022-08-23 12:59] gianluca-valentini commented on #9853
Thanks @tglman
do you know when the 3.1.20 fixed version will be released?

[2022-08-23 14:07] odysseaspenta opened #9857 "The Gremlin server doesn't start properly under 3.2.9"
### OrientDB Version: 3.2.9
### Java Version: Open JDK 11
### OS: Debian 11

## Expected behavior
bin/gremlin.sh
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.codehaus.groovy.reflection.CachedClass (file:/servers/orientdb-tp3-3.0.21/lib/groovy-2.4.11-indy.jar) to method java.lang.Object.finalize()
WARNING: Please consider reporting this to t

[2022-08-30 15:47] gianluca-valentini commented on #9853
Hi @tglman
I updated to 3.2.9 version as you suggested me.
So after that I run `REBUILD INDEX *`

but I have the follow error
[code]

The Class Recommendations has an index on the versioning property
![image](https://user-images.githubusercontent.com/3224592/187481300-fdaf5b9b-15ac-4785-8647-acb6041a5fad.png)

but there no data are present in that property and if I run **select count(*) from Recom

[2022-08-31 10:45] tglman commented on #9853
Hi,

The best way to work around a broken index is export and import the database.

fixes for avoid that the index get broken have been releases, we are working on making the remove of a broken index easier, at the end can be rebuilt from scratch.

Regards

[2022-08-31 10:51] gianluca-valentini commented on #9853
Hi @tglman
thanks a lot. I will try to export and import the database

[2022-08-31 19:06] ufwtfcu opened #9868 "Incorrect warning message or performance issue"
### OrientDB Version: 3.2.7
### Java Version: 8
### OS: Windows 10
While importing data and creating edges between two types of vertices, match one vertex by using key value (index created).

Vertex Product has unique CELL_BTREE index created by the property request_no. Product contains records > 20K rows

Here is the configuration part
`	"transformers": [
		{ "merge":
			  { "joinFieldName": "sam

[2022-09-01 09:56] kxc1573 commented on #5226
Hi @tglman and @lvca , I came across this problem again recently when I use OrientDB 3.1.15 on RHEL 8 -- zlinux.
Here the last part log of OrientDB

com.orientechnologies.orient.core.exception.OSerializationException: Error on unmarshalling record #53:285 (java.lang.NegativeArraySizeException: -2057971028)
	DB name="Demo"
	at com.orientechnologies.orient.client.remote.message.OMessageHelper.writeR

[2022-09-01 15:04] gianluca-valentini commented on #9853
Hi @tglman
I tried to export and import the database but I have always the follow error:

[code]
Looking the database the record #21:2 is a valid vertex
![image](https://user-images.githubusercontent.com/3224592/187945085-62bbbee4-6209-4965-88f8-e6bedab62d5a.png)

Argument '9a5335db-7a7f-4806-9eb8-18b051b3921a' is a value present in the embedded class field
![image](https://user-images.githubuserc

[2022-09-01 15:49] tglman commented on #9857
Hi,
just fixed this with this commit: https://github.com/orientechnologies/orientdb-gremlin/commit/4d58ce7497a9c3fe64e4355c37b4a963f88d6af2

will be release with 3.2.10
Regards

[2022-09-01 20:23] ufwtfcu opened #9869 "ETL hung when unique index is turned on and data contains duplicate key"
### OrientDB Version: 3.2.7
### Java Version: 1.8
### OS: Windows 10
Run oetl job to load data. (unique) Index is turned on and data contains duplicate key.

## Expected behavior
Report error just like executing SQL command to create unique index in web UI.

## Actual behavior
ETL is hung forever and there is no message from server console.

## Steps to reproduce
1. Add unique index in .json confi

[2022-09-02 09:18] tglman commented on #9868
Hi,

you are doing two queries, one inside one outside, the outside is the one that is filtering the data and has the limit, the one inside is producing the warning, consider to move the condition inside, like:
` match {class: Product, as: u, where:(request_no=?)} return u`

[2022-09-02 09:20] tglman commented on #9869
Hi,

have you try the 3.2.9 version ? it may already fix this problem.

Regards

[2022-09-02 12:57] leszekgruchala opened #9870 "Size of remote database is zero"
### OrientDB Version: 3.2.5
### Java Version: 11
### OS: Official Docker image

## Expected behavior
The size of DB should be returned.

## Actual behavior
The size is always zero.

## Steps to reproduce
I try to obtain the size of a database.

The metadata returns zero.
![image](https://user-images.githubusercontent.com/89165/188150474-b8c6981f-df72-4801-9580-784e92dbf877.png)

The session object

[2022-09-05 15:46] gianluca-valentini commented on #9853
Hi @tglman
any news about my issue?

[2022-09-07 09:47] tglman commented on #9853
Hi,

It seems that the 3.2.x series has issues with json api and import, we are addressing them, this issue are not present in 3.1.x series and the 3.1.20 has been released last week, so if is possible for you I would suggest to do the import using that version.

Regards

[2022-09-07 15:10] gianluca-valentini commented on #9853
Hi @tglman
I'm a little confused. You know that is not feasable to move always database version up and down.
I hope that coming back to 3.1.20 will fix this issue definitely

[2022-09-10 22:45] adriancoca opened #9871 "Impossible to add a null identifiable in a ridbag"
### OrientDB Version: 3.1.20

## Expected behavior
Exported database from version 3.0.29 and trying import in 3.1.20 return error ->  java.lang.IllegalArgumentException: Impossible to add a null identifiable in a ridbag

- Imported 55,170 records into clusters: 4293861. Total JSON records imported so for 8 .Total records imported so far: 2,146,929 (11,034.00/sec)
[code]

[2022-09-12 11:20] jacquipre commented on #9605
Hi, is there any chance that this will be fixed soon (since there are two more issues with a similar reason #9647 and #9563 )? Or can you provide a workaround?

Regards, jacquipre

[2022-09-12 15:46] gianluca-valentini commented on #9853
Hi @tglman
I don't find the 3.1.20 docker in
https://github.com/orientechnologies/orientdb-docker/tree/d95d46e21052dbaa36c7c8cd63abde0e6826749d/release/3.1.x
Where I can find it?

[2022-09-13 00:23] holocentric-bmsnext commented on #9675
just create a javascript function in the studio named 'countSize'. then from the Browse enter this query

create two vertex classes (VertexClassName and VertexClassNamexx), then create an edge class between the two vertices. name it 'EdgeClassName'
`select countSize(outE("EdgeClassName")) from VertexClassName`

in the countSize javascript function, it should have one input argument, which should b

[2022-09-13 03:09] holocentric-bmsnext commented on #9675
with orient v 3.2.9 adding below line in the config solves the problem.
`	<entry name="script.polyglot.useGraal" value="false" />`

[2022-09-13 03:09] #9675 closed, assigned to lvca

[2022-09-15 10:19] tglman commented on #9870
Hi,

A fix for this case was released in 3.2.10, anyway what was missing was the tracking of the information during the CUD (create,update,delete) operations, so existing database would display still a wrong number.

Regards

[2022-09-15 10:20] shanmathik commented on #9675
Hi @holocentric-bmsnext & @tglman  ,
Can you specify what exactly needs to be added to the config, it would really help. Thanks!

[2022-09-15 10:29] tglman commented on #9793
Hi,

This should be fixed in 3.2.10.

Regards

[2022-09-15 11:14] gianluca-valentini commented on #9853
Hi @tglman
I see the 3.2.20 release. Does it fix the export/import bug?

[2022-09-15 12:57] tglman commented on #9853
Hi,

well is actually 3.2.10 the last release of 3.2.x series, and yes I reverted the changes that caused the problem, so it should be solved, but I could not reproduce the bug myself so I cannot confirm the fix directly.

Regards

[2022-09-16 10:44] tglman commented on #9675
Hi,

looking at the issue I guess has been enough to add the package in the list of allowed packages in the `orientdb-server-config.xml` something like this:
[code]

but I do not know if @holocentric-bmsnext actually did that.

Regards

[2022-09-17 15:57] jonbullock opened #9873 "Creating OrientDB instance using Java API with database URL plocal:/tmp/documents1663429065341 throws exception"
### OrientDB Version: 3.1.20
### Java Version: OpenJDK 11.0.16
### OS: Ubuntu 20.04

## Expected behavior
Create database on disk (type = PLOCAL) using path with slashes in it:
[code]

## Actual behavior
Exception is thrown:
[code]
This worked in v3.0.41 and contradicts docs: http://orientdb.org/docs/3.1.x/datamodeling/Concepts.html#database-url

[2022-09-18 14:31] micky008 commented on #9793
it's ok.
it's an array now.

the result:
[code]

[2022-09-18 14:31] #9793 closed, assigned to nobody

[2022-09-19 08:51] theghostrecords opened #9874 "Saving a vertex using studio or REST-API and then adding new edges with the Java API breaks outward facing linkbags and/or crashes DB"
### OrientDB Version: 3.2.6 (Tried 3.2.9 as well)
### Java Version: 11
### OS: alpine:3.16

## Expected behavior
Editing a vertex through OrientDB studio (with the edit view) and then pressing save should update the document but not convert the types of "outward" facing Linkbags. Additionally LinkLists should be mapped to OType.LinkList when retrieved through the Java API.

## Actual behavior
Link

[2022-09-19 08:59] theghostrecords commented on #9874
When only writing a new edge within the transaction the db crashes with:
[code]

[2022-09-21 04:50] dhayalramk commented on #9836
Getting same error, Any suggestions?

[2022-09-21 10:18] gianluca-valentini commented on #9853
Hi @tglman
afer 2 migration and export import, finally with 3.2.10 index and export/import problems are fixed
Thanks
Gianluca

[2022-09-21 14:20] tglman commented on #9853
Hi,

Thanks, closing

[2022-09-21 14:20] #9853 closed, assigned to nobody

[2022-09-21 16:49] tglman commented on #9873
Hi,

the API of OrientDB is supposed to work like this:
[code]

this is because it allow to have a API that make sense either with embedded connection, or remote connection,
ex remote:
[code]

as you see here only the creation of the OrientDB Instance change not the way you interact for manage databases.

In some version we had some backward compatible behavior, that was allowing too much, towards

[2022-09-27 14:24] tglman commented on #9836
Hi,

This is a bit strange, is the database you are using coming from the 3.2.x series ore created with a older version of OrientDB ?

Bye

[2022-09-27 14:25] tglman commented on #9836
Hi,

Also if you have the chance to share a database with this problem, it would be very helpful to reproduce the problem.

Bye

[2022-09-27 14:52] tglman commented on #9874
Hi,

This should be already fixed in 3.2.10, I tried to reproduced it without any success in that release, also from the description of the error, that the type of the out collection resulted changed after the save that seems like an error in the json deserialization, some changes on type management in json has been reverted in 3.2.10, so it does make sense that this error was also fixed.

Regards

[2022-09-27 14:57] #9857 closed, assigned to tglman

[2022-09-27 15:23] theghostrecords commented on #9874
Hey, thanks for having a look.
Great! I'll try the newer version tomorrow and update you on how it goes.

Thanks again.
Regards

[2022-09-28 10:27] tglman commented on #9834
Hi,

this should be fixed as well from version TP-3.2.9.

Regards

[2022-09-28 10:27] #9834 closed, assigned to nobody

[2022-10-06 13:23] theghostrecords commented on #9874
Hi, sorry for the long wait.
Took a while before I could test this in a proper environment.

As you already stated this problem seems to be fixed in 3.2.10.
A deserialization bug sounds plausible.

I'll close the issue. Should it be labeled with something specific?

Thanks for your quick assistance.
Kind regards

[2022-10-06 13:23] #9874 closed, assigned to nobody

[2022-10-09 09:53] congratulation opened #9875 "How do I update global configuration parameters？"
i want to update the value of parameter,but the command 'config set ' looks like the scope is not global ,how can i update?

[2022-10-14 06:33] zhengyingying opened #9881 "Fail to connect to OrientDB-TP3 with Gremlin driver"
### Discussed in https://github.com/orientechnologies/orientdb/discussions/9880

<div type='discussions-op-text'>

<sup>Originally posted by **zhengyingying** October 14, 2022</sup>
I install OrientDB-TP3-3.2.10, and want to access it remotely with Java codes.

The orient.yaml in my java project is:
[code]

I want to use the following code to access gremlin server.
[code]

But it throws an excepti

[2022-10-14 10:38] makandre opened #9882 "Connections remain after db.close() on 3.2.10"
### Discussed in https://github.com/orientechnologies/orientdb/discussions/9879

<div type='discussions-op-text'>

<sup>Originally posted by **makandre** October 13, 2022</sup>
I'm seeing a connections leak and I can't figure out what I'm doing wrong.

My setup is this:  I'm running the orientdb:3.2.10 image from dockerhub.  My application is a spring boot application connecting to the container,

[2022-10-15 11:35] makandre commented on #9882
Closing, answered in https://github.com/orientechnologies/orientdb/discussions/9879

[2022-10-15 11:35] #9882 closed, assigned to nobody

[2022-10-17 02:25] zhengyingying opened #9885 "Exceptions are not triggered correctly when querying property after sorting vertices with a specific property using Gremlin API"
### OrientDB Version: 3.2.10
### Java Version: 11
### OS: linux

## Expected behavior
When we execute the query `g.V().order().by("vp0").has("vp1")`, where the property `vp1` of vertex `v2` is NULL , we expect OrientDB throws an exception, just like `The property does not exist as the key has no associated value for the provided element: v[#276:3]:vp0`.

## Actual behavior
OrientDB does not throw

[2022-10-17 11:07] tglman commented on #9885
Hi,

This is an expected behaviour, OrientDB is schemaless/schamamixed, so not having a property is not a failure, accessing a not existing property just return null.

Regards

[2022-10-17 11:10] #9868 closed, assigned to nobody

[2022-10-18 08:32] zhengyingying commented on #9885
Thanks! I got it.

[2022-10-18 08:34] zhengyingying commented on #9881
I find the cause is that the version of gremlin-client is too high. I have addressed this problem. Now close it.

[2022-10-18 08:34] #9881 closed, assigned to nobody

[2022-10-18 11:37] #9885 closed, assigned to nobody

[2022-10-21 08:29] choeoe opened #9886 ""is()" after "id()""
### OrientDB Version: 3.2.10
### Java Version: 11
### OS: windows wsl

## Expected behavior
When I execute query
[code]
It returns the vertex I need.
However, when I execute:
[code]
It won't return anything.
I noticed that the same operation is supported in Tinkergraph

## Steps to reproduce
I used org.apache.tinkerpop.gremlin.driver.Cluster.open() to connect and execute queries.
<add here>

[2022-10-25 12:18] diegomtassis opened #9887 "Database truncate fails in 3.1.x"
When using 3.1.x, database truncate throws **java.lang.IllegalArgumentException: The clusterId is invalid** per each class to truncate.
https://github.com/CompartAG/orientdb-tryouts/blob/issues/9887/3.1.x/src/test/java/com/compart/tec/orientdb/document/truncate/TruncateRegressionTest.java

Same code using 3.0.x works as expected.
https://github.com/CompartAG/orientdb-tryouts/blob/issues/9887/3.0.x

[2022-10-27 12:25] johny65 opened #9888 "Custom functions stop working"
### OrientDB Version: 3.2.11
### Java Version: openjdk 11.0.16 2022-07-19
### OS: Ubuntu 22.04.1

## Expected behavior

Calling custom functions from SQL without problems.

## Actual behavior

Some custom functions (not all, I don't know what it depends) don't work anymore, now it throws an exception "OCommandExecutorNotFoundException". Pre existing functions working fine stop working now. This is

[2022-10-27 12:49] tglman commented on #9888
Hi,

Thanks, to report this, work has been done in 3.2.11 for completely support javascript functions with the graal executor, this may have introduced a regression.

We will have a look if you have a simple copy and past unit test will be very helpful.

Regards

[2022-10-27 15:13] johny65 opened #9889 "Create database not working in console"
### OrientDB Version: 3.2.8
### Java Version: openjdk 11.0.16 2022-07-19
### OS: Ubuntu 22.04.1

## Expected behavior

Use command `create database` from console without problems.

## Actual behavior

Using the console (`console.sh` script), it is not possible to create a new database because it fails with error `java.util.NoSuchElementException: No value present`.

## Steps to reproduce

Run `con

[2022-11-01 11:21] tglman commented on #9889
Hi,

Thanks for reporting this, I could reproduced it, it is some problem of compatibility we introduced recently, anyway you can work around using the new way to connect to a server and create/open databases:

[code]

Will try to fix this anyway for backward compatibility.

[2022-11-02 13:07] tglman commented on #9887
Hi,

This should be fixed in the last development version of 3.1.x and 3.2.x

[2022-11-02 15:12] sa-MatteoHausner opened #9890 "Distributed mode: OClass.setCustom() has no effect"
### OrientDB Version: 3.2.10
### Java Version: 11
### OS: macOS 12.5.1

## Expected behavior
The following code should add three custom values to the schema class.
[code]

## Actual behavior
However when running the above example in **distributed mode** only "key2" and "key3" are added.

## Workaround
Enclosing the value in single quotes fixes the issue, .e.g: `"world" -> "'world'"`

## Fix
After

[2022-11-02 18:53] tglman commented on #9890
Hi,

Thanks for the report, it looks good! if you can do a PR will merge directly that, otherwise i will copy from this.

Regards

[2022-11-03 08:31] sa-MatteoHausner commented on #9890
Hi @tglman,

just opened the PR. -> #9891

Cheers!

[2022-11-03 13:48] gianluca-valentini opened #9892 "high CPU usage on Orient DB 3.2.9 from 3.1.17"
Hi,
I update OrientDB version from 3.1.17 to 3.2.9
While in the 3.1.17 the cpu usage **was equals to 2**, after the version update it **starts to be 12**!!!
At the startup I can see the different cpu increased value.

Is there some configuration  or workaround to fix this cpu increaded value?
Gianluca

[2022-11-04 10:38] #9890 closed, assigned to nobody

[2022-11-04 10:47] tglman commented on #9892
Hi,

This should not be a change of load between 3.1.17 and 3.2.9, it may be there some data migration that will run at the first start with 3.2.x but when is done everything should be back to normal load, you can check the log to see if there is some migration happening.

In case you see more load for longer, it may be useful if you can capture some thread dumps and share them with us.

Bye

[2022-11-04 11:14] gianluca-valentini commented on #9892
Hi @tglman
thanks for your response.
Currently the migrated environment is up for a few days. I restart it more that one time but the core number does not change.

Please tell me how I can execute the thread dump (I don't know it) so that I can share it with you

Thanks
Gianluca

[2022-11-04 12:57] tglman commented on #9892
hi,

this may help: https://examples.javacodegeeks.com/java-thread-dump/

[2022-11-04 12:58] tglman commented on #9892
In any case, are you seeing constant high CPU in your system monitor, or you just see a high thread count?

Regards

[2022-11-07 03:00] holocentric-bmsnext commented on #9675
Hi,
adding this line fixed the problem
`<entry name="script.polyglot.useGraal" value="false" />`

Regards

[2022-11-07 18:14] gianluca-valentini commented on #9892
Hi @tglman
I see constant high cpu in my system monitor.
After  execute the java thread dump as descibed in your suggested, I attached the zip with the file
[orientdb-jstack.zip](https://github.com/orientechnologies/orientdb/files/9954373/orientdb-jstack.zip)

Let me know if you see something strange
Thanks
Gianluca

[2022-11-08 12:53] amlbor commented on #9808
Hi, Any updates on this issue?

[2022-11-08 13:06] tglman commented on #9808
Hi,

Recently there has been some work to reduce the memory usage of the query components, which should improve the situation, but the root problem of exponential creation of conditions is still there, the reason why this still exists, is that to find the best index, we need to flat down the conditions, and that do the exponential work, to remove that is needed another way to find the index, that'

[2022-11-08 16:21] cunrein opened #9894 "NullPointerException when executing a complex query using ODatabaseDocument.query()"
### OrientDB Version: 3.2.10
### Java Version: 17.0.1+12-39
### OS: RHEL 8.6

## Expected behavior
The query described below should execute and return results the same as the Orientdb Console

## Actual behavior
[code]
Call to `ODatabaseDocument.query(query)` throws an exception:
[code]
## Steps to reproduce
Connect to a database and create a query similar to the one above. Then using a connected

[2022-11-10 12:27] tglman commented on #9889
Hi

the 3.2.12 is out with the fix for this case, closing, feel free to reopen if you still experience the problem.

Bye

[2022-11-10 12:27] #9889 closed, assigned to tglman

[2022-11-10 12:28] tglman commented on #9888
Hi,

The release 3.2.12 contains the fix for this case, closing this, feel free to reopen if you still experience the problem.

Regards

[2022-11-10 12:28] #9888 closed, assigned to tglman

[2022-11-10 12:30] tglman commented on #9894
Hi,

The 3.2.12 has been just released and should already include a fix for this case, please double check it.

[2022-11-10 12:32] tglman commented on #9892
Hi,

I went through the stack, I did not see anything too exceptional, only some query running, we are aware of some slow down that where introduced with some new security module in 3.2.x, that we tried to remove with the release 3.2.12 so feel free to double check that release to see if you see any reduction of CPU use.

Regards

[2022-11-10 12:33] #9873 closed, assigned to nobody

[2022-11-11 13:27] gianluca-valentini commented on #9892
Hi @tglman
I update the OrientDB version to the 3.2.12  and it seems that the situation is coming to be normal.
Now I'll monitor it in order to understand if it is fixed
Thanks

[2022-11-14 09:04] aa-hh-7200 opened #9895 "Hi,"
Hi,

Recently there has been some work to reduce the memory usage of the query components, which should improve the situation, but the root problem of exponential creation of conditions is still there, the reason why this still exists, is that to find the best index, we need to flat down the conditions, and that do the exponential work, to remove that is needed another way to find the index, that'

[2022-11-14 11:11] leszekgruchala commented on #9853
Hey @tglman, we've got the same root exception but after a failure to remove a compound index.
Can you look at the stacktrace and let me know if the fixes you've made also cover my case? Thanks!
![201645018-edb0839f-1e40-4ca8-9ec2-3903f9c1ecaf](https://user-images.githubusercontent.com/89165/201645681-1f66097c-d61e-46de-8a89-21888069d22f.png)
![201645053-fc26b6f7-d975-40e1-9014-fd4a4a75461e](https

[2022-11-14 12:30] tglman commented on #9853
Hi,

Yes this should have been already fixed in a recent version of the 3.2, I think in 3.2.9

Regards

[2022-11-14 15:32] cunrein commented on #9894
The enterprise agent is failing to build due to an NPE in the tests after the 3.2.12 release:
Results :

[code]

Stack Trace:
[code]

[2022-11-14 18:34] cunrein opened #9897 "Queries with embedded queries in where clause fail to use indexes."
### OrientDB Version: 3.2.10<version here>
### Java Version:  17.0.1+12-39<version here>
### OS: RHEL 8.6<os here>

## Expected behavior
Queries with embedded queries in where clause should use appropriate indexes when executing.

## Actual behavior
`select from UOM_RELATIONSHIP_TYPE where inCOI = (select @rid from COI where COI_NAME = 'my coi')` or
`select from UOM_RELATIONSHIP_TYPE where inCOI.C

[2022-11-14 22:08] tglman commented on #9894
Hi,

yes this was fixed after the release, just build without running test for that plugin, or get the public jar

[2022-11-15 15:04] gbaudic opened #9898 "ArrayOutOfBoundsException when creating an edge"
### OrientDB Version: 3.0.37
### Java Version: OpenJDK 1.8.0_322
### OS: CentOS 7 (Linux)

## Expected behavior
Creating a new edge in the database succeeds.

## Actual behavior
We obtain the following stack trace in our logs:
[code]
This error can be reproduced on our side in a deterministic way. When debugging, we notice that we want to access index 69 in an array of 64 elements, hence the error

[2022-11-15 17:11] cunrein commented on #9894
The original problem identified in this ticket appears to be resolved.

[2022-11-15 19:53] tglman commented on #9894
Hi,

Thanks, closing

[2022-11-15 19:53] #9894 closed, assigned to nobody

[2022-11-16 09:46] gianluca-valentini commented on #9892
Hi @tglman
we can consider it fixed after 3.2.12

[2022-11-16 09:46] #9892 closed, assigned to nobody

[2022-11-16 16:00] michele-pinto-kensu opened #9899 "NullPointerException when rebuilding an index"
### OrientDB Version: 3.2.5 and 3.2.12
### Java Version: OpenJDK version "11.0.14.1" 2022-02-08 LTS
### OS: redhat.com/ubi8/ubi-minimal:8.6-902

## Expected behavior
The index should be rebuilt with success

## Actual behavior
Rebuilding the index, ODB crashes with the following error:

2022-11-16 15:32:57:732 SEVER {db=damgraph} Error during index 'ObservationContextView.lds_id_usage__timestamp'

[2022-11-17 08:14] leszekgruchala commented on #9899
@tglman additional details.
1. Rebuilding this index throws the above exception and causes an `internal storage error`, we have to restart the database
2. Deleting this index throws the above exception and does NOT crash the database
3. The index is a compound index of 3 fields: STRING + STRING + LONG, NOTUNIQUE, CELL_BTREE

It's a production blocker for us. Can you please share any ETA or a possi

[2022-11-18 12:35] tglman commented on #9898
Hi,

I did see similar errors, in OrientDB up to 3.2.6 and has been fixed, but not in the 3.0.x series, I would suggest you to update to at least hotfix of 3.0.x(that should be 3.0.44), or preferably the latest 3.2.x (latest 3.2.12) the 3.0.x is not receiving anymore hot fixes.

Regards

[2022-11-18 13:19] tglman commented on #9899
Hi,

This bug was fixed in the recent version but yes rebuilding the index cause reading data that make it fails, so there is no really a way out of it, the only way is to run an export of data without including indexes  using `-includeIndexDefinitions=false` as described [here](https://orientechnologies.github.io/docs/3.2.x/console/Console-Command-Export.html?highlight=export#console---export) an

[2022-11-21 11:58] SirStoke opened #9900 "NullPointerException on OResultInternal when deleting vertices"
### OrientDB Version: 3.2.12
### Java Version: openjdk version "11.0.17" 2022-10-18 LTS
### OS: RedHat in a docker container

## Expected behavior

Statement runs fine

## Actual behavior

An NPE is thrown upon running a `DELETE` statement:

[code]

## Steps to reproduce

The issue presents intermittently upon running ```delete vertex `GenericV` where uuid IN :UUIDs```

[2022-11-21 13:19] tglman commented on #9900
a commit was just pushed to cover this case, will be release next hotfix (3.2.13).

Regards

[2022-11-21 14:40] michele-pinto-kensu commented on #9900
Hi @tglman do you know already when this HF release will be released? Thanks

[2022-11-23 14:31] gbaudic commented on #9898
FYI, we keep investigating on this issue. The actual cause seems more and more likely to be an improper shutdown of the database.
After using the `REPAIR DATABASE --fix-ridbags --fix-bonsai` command on the database, we are no longer able to reproduce the issue.

[2022-11-23 15:10] gbaudic opened #9901 "Different results between CHECK DATABASE and REPAIR DATABASE"
### OrientDB Version: 3.0.37, 3.1.20, 3.2.12
### Java Version: OpenJDK 1.8.0_322
### OS: CentOS 7 (Linux)

## Expected behavior
CHECK DATABASE and REPAIR DATABASE give consistent results: if the check does not report any error, the repair operation should not find anything to repair...

## Actual behavior
On the same database as #9898,
`CHECK DATABASE` reports no error:

    orientdb {db=database}

[2022-11-28 03:20] qianSir01 commented on #9233
Hi, Have you solved this problem？do you have any solutions or suggestions for limiting real memory？

[2022-11-29 19:16] ActivusMM opened #9902 "Security Predicates performances"
### OrientDB Version: 3.2.7
### Java Version: 11.0.17.8
### OS: Windows

When assigning OSecurityPolicy to vertices the performances are greatly reduced, even if an index is used.
For example, if you set a policy to check read access on an vertex class 'MyVertex' with the property 'security' (String) by setting "security = 'toto'" the count can take more than 1 second for 30000 records.

The query