[2017-04-26 09:16] maggiolo00 commented on #7338
hi @lorlik

did you try with `admin` ?

[2017-04-26 09:20] rdelangh commented on #7363
1) Overall, there is no documentation about performance matters when using a server-side scripting such as the OrientDB script language, or Javascript. Such documentation is essential when we are talking truely multi-TB big database usage, it is almost irrelevant for databases that fit (almost) in memory.
2) Talking about Javascript, I do not find documentation about which functions exist to acces

[2017-04-26 09:35] maggiolo00 commented on #7365
hi @Solido

do you edit the edge from the Graph Editor in the Edit Edge popup?

[2017-04-26 09:37] robfrank commented on #7277
YOu can see the datetime format on db-->configuration. On localhost: http://localhost:2480/studio/index.html#/database/GratefulDeadConcerts/db/configuration

[2017-04-26 10:19] maggiolo00 commented on #7327
Hi @StarCmd
it has be fixed by this
https://github.com/orientechnologies/orientdb/issues/7358

Thanks

[2017-04-26 10:19] #7327 closed

[2017-04-26 10:49] T55134 opened #7373 "cannot query on an emmbedded-list (long) with the operator 'between x and y'"
### OrientDB Version: 2.2.17
### Java Version: java 8 update 131
### OS: Windows 10

I cannot query on an emmbedded-list (long) with the operator 'between x and y' and not with '>=x and <=y' (>= alone - works, <= alone - works) - the index is notUnique.

## Expected behavior
if a record contains the value [2,3,4] in an 'emmbedded-list (long)' field called 'prop', I should get this record when perf

[2017-04-26 11:08] santo-it commented on #7325
Hi,

To solve this, what do you think to let Studio allow to write the database name in case it cannot list the current databases?

This would mean that instead of a dropdown menu (to select the database) in this case a "text" field is shown, so that users may write the name of the database. Ideally we can have an editable dropdown menu (e.g. you can pick one db, but also are allowed to write your

[2017-04-26 12:09] rdelangh commented on #7277
hi @robfrank , thank you, because now I see that the correct name of this parameter is not "datetime", but rather "datetimeformat"
-> I have changed this setting via "console.sh" :
[code]

-> is there any reason that the web interface shows this parameter, and only a very few others, whereas the CLI method via "console.sh" with the command "config" shows an entire bunch of different parameters whi

[2017-04-26 12:24] anber500 commented on #7312
Removing the files would be faster I suppose.

We currently have 3 servers on AWS running in distributed mode.
We are connecting to OrientDB via pyorient on port 2424.
Our data is captured on another AWS instance and the data goes into a message queue. The message queue is handled by rabbitmq and celery.

Each message is send to the database synchronously. We process the messages "synchronously" b

[2017-04-26 12:55] maggiolo00 commented on #7365
Hi @Solido

i was not able to reproduce it with 2.2.18.
How can i reproduce it?

[2017-04-26 12:58] luigidellaquila commented on #7361
Hi @NicholasQu

Thank you very much for the detailed explanation.

1 and 2 make a lot of sense, probably the problem is only on the index estimation. I'll start from that to find a fix. Your work-around should cover 100% of the cases, so I'd say it's safe to use it.

3 is not a deterministic option, because the order the pattern is evaluated may changed based on JVM implementation (random order of

[2017-04-26 13:04] Solido commented on #7365
Got it every time.
Try to create and edge with an empty embedded map while editing the input is
{

}

Add any entry and save, exception is throw

[2017-04-26 13:07] luigidellaquila commented on #7357
Hi @Solido

I downloaded a fresh 3.0 M1 from the website, created a script as follows (createprop.osql):

[code]
And launched it as follow:

[code]

Am I missing something?

Thanks

Luigi

[2017-04-26 13:17] luigidellaquila commented on #7348
Thank you for the pointer @smolinari

Let me assign it to @SDIPro for a check

Thanks!

Luigi

[2017-04-26 13:18] maggiolo00 commented on #7365
hi @Solido

which version of OrientDB 2.2.18?

Do you have in create or in update this error?

In Graph Editor ?

[2017-04-26 15:15] luigidellaquila commented on #7373
Hi @T55134

I'm working to a fix for this, it will be in the branch in a few hours.

Anyway, IMHO this behavior is intrinsically incorrect. The comparison of a list with a long should always evaluate to `false`, we should define a specific syntax to query elements inside a list.

Thanks

Luigi

[2017-04-26 15:32] laa commented on #7369
@wellpeng I am trying to reproduce the issue. From stack trace that is obvious that you call getEdges method. Could you describe how do you insert edges? Because I see you do not use an index to find vertexes for edges. Also, the target of calling of getEdges is not clear for me.

[2017-04-26 17:10] lvca commented on #6666
Ho @rdelangh I've pushed some fix in 2.2.19 that we just released. Could you please tell me if the problem has been fixed? Thanks.

[2017-04-26 17:12] #7367 closed

[2017-04-26 17:12] lvca commented on #7367
Cool, thanks for sharing it.

[2017-04-27 01:57] danciui opened #7374 "question about EdgeProp using oetl.sh and json"
OrientDB Version:
orientdb-community-2.2.18

Java Version: Java 8 Update 91
OS: Mac Os Sierra 10.12.3

Expected behavior
Being able to add properties on edges via json etl.

Actual behavior
I'm using oetl.sh with JSON to load data on an OrientDB remote server. I currently have to add the properties on all the edges. In this example I would like edge @rid = #25:0 to have two properties "name"= "Bui

[2017-04-27 02:25] wellpeng commented on #7369
Hi @laa thank you very much, The following is the insert edges code in mutil thread:
<pre>
public class EdgeOnlyToOrientdbTest2 implements Runnable {
	private final static OdbGraphFactoryTest2 odbGraphFactory = OdbGraphFactoryTest2.getInstance(false, true);
	private List<String> list;
	public EdgeOnlyToOrientdbTest2() {}
	public EdgeOnlyToOrientdbTest2(List<String> list) {
		this.list = list;
	}

[2017-04-27 05:05] T55134 commented on #7373
Luigi,

May I ask why do you thing it is wrong to perform a comparison on a list??
Let's say I have a vertex for a person with an embedded list for his addresses - if I search for address 'xxx' it looks like this: "WHERE address = 'xxx' " I get this person and it is ok that only one item within the list is a match. (It works fine now, no need change it)

Another example is regarding ranges ('betwe

[2017-04-27 06:32] wellpeng commented on #7369
[code]

[2017-04-27 09:10] robfrank commented on #7220
Hi @rdelangh, I'm on it, stay tuned. Thanks for sample datasa

[2017-04-27 09:12] rdelangh commented on #6666
ok, thx for that.
I downloaded this version, will launch a replication attempt now and inform you of the outcome.

[2017-04-27 09:13] karolmie1 commented on #6864
Looks more like stackoverflow question.
As far as I know there is no such native method, you have to create query string manually.

`SELECT EDGE WHERE x=:x, y=:y, x=:z`

And then:

`graph.command(query).execute<Any>(queryParams)`

[2017-04-27 09:35] karolmie1 opened #7375 "Trouble with order of params in graph.getVertices when using index"
### OrientDB Version: 2.2.18
### Java Version: 8
### OS: linux

## Expected behavior

I perform a query for Tasks. Task is created as:

[code]

I performed a query in "wrong" (not index) order (yeah, I don't intend for it to stay this way)

`graph.getVertices(Task.CLASS, arrayOf(Task.SEQ, Task.PROJECT_ID), arrayOf(taskId.seq, taskId.projectId))`

OrientDb decides to use index here anyway. That wou

[2017-04-27 09:56] karolmie1 commented on #7372
This might be the same problem (same error): https://github.com/orientechnologies/orientdb/issues/7297

[2017-04-27 10:01] #7337 closed

[2017-04-27 10:11] Solido commented on #7365
Well as is the description of the bug. 2.2.18 editing an edge that contains Embedded Map, edit the input text field. It can be empty or with previous data. Adding a key or modify, save -> red. Happen every time even after I rebuild the DB.

[2017-04-27 11:03] karolmie1 commented on #3595
Yes, lack of return this is painful, especially since lack of native method graph.getEdges(from: V, to: V)

[2017-04-27 12:56] luigidellaquila commented on #7373
Hi @T55134

The use case makes a lot of sense, what puzzles me more is the SQL syntax. I'll try to explain what I mean:
[code]
if `foo` is a number, then the query is straight forward

If `foo` is a list, like `[10, 20, 30]` then it becomes more complex: maybe you want to obtain the records where at least one element matches the condition, maybe you want only the record where ALL the elements in t

[2017-04-27 13:02] laa commented on #7369
@wellpeng I have created an application and have been running it for 4 hours without exceptions https://gist.github.com/laa/c56dc3d36f2eee6dc2b1c10e7b375b70 . Could you check code and modify it, so I will be able to reproduce exception.

[2017-04-27 13:11] robfrank commented on #7220
About range queries, I understand the problem, that is "obviously" related to time-zones. I'm working on it to fix. As a very temporary workaround, just for testing, you should transform your date in UTC adding or subtracting the number of hours to "reach" utc:
[code]

[2017-04-27 13:35] laa commented on #7369
@wellpeng I will be absent till 2-d of May, but I will appreciate your help and looking forward to fixing it once I will be back.

[2017-04-27 13:54] lucafrosini commented on #7354
I upgraded to version 2.2.19 and seem that this version is not affected by this behaviour, or at least the test I provided does not reveal it.

[2017-04-27 14:00] lvca commented on #7354
Cool, closing the issue then.

[2017-04-27 14:07] lucafrosini commented on #7354
Unfortunately I'm still obtaining such an issue in my real scenario. I'll made more test and I'll inform you about this.

[2017-04-27 14:17] lucafrosini commented on #7354
When I run the test I provided the first time the servers where just started and there where no load on them. Non I have ran the tests with the server under load (working in another database) and the behaviour appears again.

[2017-04-27 14:33] #6479 closed

[2017-04-27 15:32] lucafrosini commented on #7354
Looking with studio the vertex I created with a property as embeddedlist I get the type of the property as Embedded.
Then trying to change the proprty type as embeddelist, If I reload the page I get embeddedset as type.

I don't know if this is related and can helps.
![screenshot from 2017-04-27 17-29-07](https://cloud.githubusercontent.com/assets/541541/25491143/5a999804-2b6f-11e7-844b-490223fc96

[2017-04-27 16:55] william76 commented on #6697
Just bumping this... this is becoming an increasingly important thing.

In other databases like SQLite, it's pretty trivial to create a script that can dump the results of a query to a CSV file from the console for sharing and/or to pull into excel or a stats tool like JMP.  It'd be nice to have this feature added to OrientDB.

Currently, the only option I have is to run a query and get the ASCII

[2017-04-27 17:11] william76 opened #7376 "Can't save CSV from studio"
### OrientDB Version: 2.2.19
### Java Version: 1.8.0_121
### OS: OSX 10.11.6

## Expected behavior
I'd like to save output from a query into a CSV file.  I changed the "Content Type" in the pulldown to "CSV" in Studio to run a query hopeful that it will save the output to a CSV file...

## Actual behavior
I get an error message on the bottom of the screen that indicates "The command has not been e

[2017-04-27 18:27] manmohanp commented on #6697
As of now I had to write query and dump data using CSV utility using Java API, not idle but no other way to extract query output which I feel is must have for Studio/Console.sh.

[2017-04-27 19:52] lvca commented on #6666
Cool, thanks.

[2017-04-27 20:04] lvca commented on #3595
@karolmie1 you can use this:

[code]

The methos is `Iterable<Edge> OrientVertex.getEdges(final OrientVertex iDestination, final Direction iDirection, final String... iLabels)`

[2017-04-28 00:07] Solido opened #7377 "Property default boolean value"
### OrientDB Version: <2.2.18>

## Expected behavior
Can create a default boolean property with default value to TRUE

## Actual behavior
Engine accept all default value, boolean, with quote, force mandatory but none of them set a default value

<img width="674" alt="screen shot 2017-04-28 at 02 10 45" src="https://cloud.githubusercontent.com/assets/1295961/25509304/3299ae5e-2bb8-11e7-8a66-31ca6ed

[2017-04-28 03:11] NicholasQu opened #7378 "[Question] About #Clusters# modelling"
I‘m always cautious of how to setup clusters in the better way, while I saw the statement in the official document in chapter "[Clusters](http://orientdb.com/docs/last/Clusters.html)" , more confusions come to me。

This scenario basically faces to hot-spot data, I surely can fill today's hot data into `Today ` cluster, but tomorrow how should I remove the out-of-date records out of `Today` cluster

[2017-04-28 06:03] karolmie1 commented on #3595
Oh, yes, thanks. I missed it because methods like `graph.getVertices()` have return type Vertex, and this interface is more constrained.

[2017-04-28 08:12] karolmie1 opened #7379 "Prepared statement - keyword as parameter name - parse failure"
### OrientDB Version: 2.2.18

While performing this query i receive parsing exception:
`val query = "SELECT FROM X WHERE date > :from AND date < :to"`

On the other hand this one is perfectly fine
`val query = "SELECT FROM X WHERE date > :frm AND date < :to"`

That means I cannot use keywords as parameter names in prepared statements, though ":" in front of parameter name should remove ambiguity f

[2017-04-28 09:30] lvca commented on #7378
@NicholasQu you could have a cluster per day, like "2017-04-29" and fill it with your data. Dropping a cluster is a super fast operation when you don't have indexes on it.

[2017-04-28 09:45] rdelangh opened #7380 "how to convert hex string to decimal representation?"
### OrientDB Version: 2.2.18

Say that we have a string like '10', which is a hex representation of the decimal value 16

What function/method exists to get such a conversion from a hex string to a decimal value, such as

SELECT '10'.Hex_to_Int()

-> expected to return 16

[2017-04-28 10:00] luigidellaquila commented on #7380
Hi @rdelangh

I'm afraid there is no such function right now, but it's not hard to do.
Let me flag it as an enhancement, I'll try to add it asas.

In the meantime, you can define a custom js function for this

Thanks

Luigi

[2017-04-28 10:20] luigidellaquila commented on #7379
Hi @karolmie1

It's a known limitation, but I think I can patch it.
I'll give you a feedback soon

Thanks

Luigi

[2017-04-28 10:20] maggiolo00 commented on #7377
Hi @Solido

did you insert record with Studio or SQL?

[2017-04-28 10:34] karolmie1 commented on #7379
No need to make it top priority :) If it is known then it's good for me.

Sorry if I've created a duplicate, I try my best to find existing issue first.

[2017-04-28 12:44] luigidellaquila commented on #7379
Hi @karolmie1

I pushed a little fix to support specifically `:from`. To support other keywords they have to be mapped one by one. I'll do it in next releases, in the meantime I'm closing this

Thanks for reporting!

Luigi

[2017-04-28 12:44] #7379 closed

[2017-04-28 15:33] rdelangh opened #7381 "transaction with batch of JSON/SQL commands, returns not array of values, only single value"
### OrientDB Version: 2.2.18

## Expected behavior
I send batches of JSON instructions to UPDATE documents into my class.
For **each** such document, after its UPDATE, I want to retrieve the new value of their SESSION_STOP property:
[code]
The example is simplified to send 2 operations in a single transaction.

I expect this transaction to return an array with the 2 returned SESSION_STOP values, b

[2017-04-28 15:43] luigidellaquila commented on #7381
Hi @rdelangh

the script returns the result of last operation, this is why you are having this result.
The solution to your problem is to manually aggregate the results, eg.

LET $a = UPDATE...  RETURN AFTER;
LET $b = UPDATE...  RETURN AFTER;
RETURN [$a, $b];

Just an example, for sure you will have to change something in the syntax, but I hope you got what I mean

Thanks

Luigi

[2017-04-28 15:55] rdelangh commented on #7381
hi Luigi,

my different operations in the batch are each individual scripts, one per record, from "begin" till "end";
so I don't think that each such one can return a value, which is then collected with a "LET" , am I correct?

[2017-04-28 22:44] lvca commented on #6538
Updated the documentation. Thanks.

[2017-04-28 22:44] #6538 closed

[2017-04-29 17:07] S-Azimi commented on #7338
For me, the physics On/Off is not working. I'm changing it Off but it not work and physics is still enable!!

[2017-04-30 07:55] T55134 commented on #7373
OK, let me see if I got you:
`SELECT FROM V where foo IN [1,2,3] `
**is working now** whether 'foo' is a single number or an embedded-list-long (on a list - it return true wether even ONE of the values if 'foo' exists inside the [1,2,3] parmeter list).
According to what you wrote I should change it when 'foo' is an embedded-list' to:
`SELECT FROM V where foo CONTAINS 1 OR SELECT FROM V where foo C

[2017-04-30 10:41] robfrank opened #7382 "Lucene's range queries on dates: timezone mismatch"
### OrientDB Version: 2.2.19
### Java Version: all
### OS: alll

## Expected behavior
Lucene's range query on date should take care of timezone.

## Actual behavior
The date passed in the query is parsed with timezone of the local JVM rather than the timezone of the database

## Steps to reproduce

#7220  show the problem.

[2017-04-30 10:42] robfrank commented on #7220
I created a dedicated issue related to timezone mismatch: https://github.com/orientechnologies/orientdb/issues/7382

[2017-05-01 20:33] cvm1ll3 opened #7383 "Error querying linklist RIDs after commit"
### OrientDB Version: 2.2.19
### Java Version: Java 8
### OS: OS X El Capitan

## Expected behavior
[code]
## Actual behavior
[code]

## Steps to reproduce
Created a vertex in Contacts Class with property phones type linklist
After querying vertex, all linklist property rids are null

[2017-05-01 20:46] amirmhzadeh opened #7384 "How to Create Partial Indexes"
### OrientDB Version: orientdb-community-2.2.17
### Java Version: 1.7.0_91
### OS: centOS06

Hi,

I am wondering how I can create a partial index based on the values of optional properties. Specifically, I am wondering how I can enforce uniqueness based on a property that may or may not exist. Or _enforce uniqueness based on a property that holds a certain or null value_. Basically, I am looking f

[2017-05-02 00:00] Solido commented on #7377
For the screenshot it was using Studio but data are inserted using Graph Api. Point is that I can get default date not Boolean. Can you confirm this behavior ?

[2017-05-02 08:16] luigidellaquila commented on #7383
Hi @cvm1ll3

Could you please post a specific code snippet and some additional details?
Are you in a single tx? Are you creating all the vertices/documents in the same tx?

Thanks

Luigi

[2017-05-02 08:51] smolinari commented on #7384
Did you see this? https://orientdb.com/docs/2.1/Indexes.html#indexes-and-null-values

Scott

[2017-05-02 10:42] maggiolo00 commented on #7377
Hi @Solido

In Studio the problem is in the UI that set the field to `null`.

In Graph API i did this test and works well

[code]

Do you have a test to reproduce it with Graph API?

Thanks

[2017-05-02 10:55] luigidellaquila commented on #7375
Hi @karolmie1

Thank you very much for reporting, I just pushed a fix for this on branch 2.2.x

Thanks

Luigi

[2017-05-02 10:55] #7375 closed

[2017-05-02 11:08] maggiolo00 commented on #7376
Hi @william76

thanks for reporting this issue. Let me check

[2017-05-02 11:52] maggiolo00 commented on #7376
Hi @william76

i've provided a fix. It will be available in 2.2.20

Thanks

[2017-05-02 11:52] #7376 closed

[2017-05-02 12:56] luigidellaquila commented on #7356
Hi @petervavro

This is a duplicate of https://github.com/orientechnologies/orientdb/issues/4827

I'm closing this one, please monitor the existing issue for updates

Thanks

Luigi

[2017-05-02 12:56] #7356 closed

[2017-05-02 12:58] Solido commented on #7377
Thx @maggiolo00 .I do not create the schema using the graph API, I insert data using it.
Schema is created using an .osql script the same that I quoted on the first post. I'll trying again without using the UI.

[2017-05-02 13:00] maggiolo00 commented on #7377
@Solido
let me know

[2017-05-02 13:08] robfrank commented on #7374
can you share the ETL configuration file and a sample of your dataset?
Did you check the doc section about transformers? http://orientdb.com/docs/last/Transformer.html

[2017-05-02 13:20] luigidellaquila commented on #7292
Hi @Raycoms

Did you have a chance to review this? Does this issue still make sense?

Thanks

Luigi

[2017-05-02 13:24] Raycoms commented on #7292
Still happening, we have build the work around I wrote.
Will have to publish a paper soon so I unfortunately don't have the time to
further investigate this.

2017-05-02 10:20 GMT-03:00 luigidellaquila <notifications@github.com>:

[2017-05-02 13:34] danciui commented on #7374
I shared both the configuration and the dataset in Archive 5 above. There is minimal documentation about how to use the edgefields

[2017-05-02 13:41] #7382 closed

[2017-05-02 14:05] #7198 closed

[2017-05-02 14:22] lvca commented on #7340
@austx :-)
@lorlik you're right, the windows version of the script is missing. @santo-it can you work in it?

[2017-05-02 15:01] lucafrosini commented on #7354
Did you made any tests?

[2017-05-02 15:05] luigidellaquila commented on #7194
Hi @rdelangh

I just pushed a fix on branch 2.2.x, the fix will be released with 2.2.20

Thanks

Luigi

[2017-05-02 15:05] #7194 closed

[2017-05-02 15:11] SafwanHak opened #7385 "in Hooks getOriginalValue for an embeddedlist returns null"
### OrientDB Version: 2.2.19
### Java Version: 8
### OS: CENTOS

## Expected behavior
In Java hooks, getOriginalValue should return the embedded list before change.

## Actual behavior
returns null

## Steps to reproduce
getOriginalValue is returning null for embeddedList.  we need to use getOriginalValue to see what was added to remove duplicates. We have records created as follows.

INSERT INTO

[2017-05-02 15:13] #7147 closed

[2017-05-02 15:13] luigidellaquila commented on #7147
Hi guys,

I think I can close this issue, as this feature is already implemented in OrientDB 3.0M1, see:

http://orientdb.com/docs/3.0.x/sql/SQL-Explain.html

http://orientdb.com/docs/3.0.x/sql/SQL-Profile.html

Thanks!

Luigi

[2017-05-02 15:18] luigidellaquila commented on #7385
Hi @SafwanHak

Thank you very much, we'll check it asap and let you know

Thanks

Luigi

[2017-05-02 16:28] cvm1ll3 commented on #7383
H

[2017-05-02 16:43] cvm1ll3 commented on #7383
Hi @luigidellaquila

Yes all vertices were created in a single tx:

CREATE CONTACT FUNCTION:
<code>
/* create contact vertex */
passJSON = {};
passJSON.class   = "Contacts";
passJSON.cluster = "CLUSTER Contacts_DIVISION" +newContactJSON.division;
passJSON.content = contactJSON;
newContact       = MISC_createVertex(passJSON);

/* create phone vertex */
passJSON = {};
passJSON.class   = "Phones";
pa

[2017-05-02 17:24] amirmhzadeh commented on #7384
Hey Scott,

Thank you for your response. Yes! I read that section. However I would like to create a partial index. That section only describes selecting from an index.

Imagine we have a class A with 2 attributes B and C. We want to enforce a unique constraint on B only when C is null. Postgres (see https://www.postgresql.org/docs/8.0/static/indexes-partial.html) allows you to do this. We would li

[2017-05-02 17:44] smolinari commented on #7384
Yeah, sounds like a feature request.

Scott

[2017-05-02 18:16] lvca commented on #7227
Closing because no response. In case please comment this issue. Thanks.

[2017-05-02 18:16] #7227 closed

[2017-05-03 07:47] laa commented on #7369
@wellpeng could you check the code and write what is wrong with it?

[2017-05-03 08:09] luigidellaquila commented on #7383
Hi @cvm1ll3

What is MISC_createVertex? Is it another custom function? Could you post that code as well?

Thanks

Luigi

[2017-05-03 08:49] SafwanHak opened #7386 "SQL query with IN behaves in the same way as CONTAINS but does not use index."
### OrientDB Version: 2.2.19
### Java Version: 8
### OS: Centos

## Expected behavior
an EMBEDDEDLIST field can be queried with
tagged_users in "3333", should use the index whereas tagged_users contains "3333" works.

## Actual behavior
does not use the index.  either fix disallow the syntax "in" on embedded list or have it use the index.

## Steps to reproduce
Create embeddedList field. add a non

[2017-05-03 09:00] luigidellaquila commented on #7021
Hi @areumchoi

I just pushed a fix for this on develop branch. This will be officially released with v 3.0 M2

Thanks

Luigi

[2017-05-03 09:00] #7021 closed

[2017-05-03 09:33] santo-it commented on #6775
order by : added in 3.0.0-m2, commit https://github.com/orientechnologies/orientdb/commit/49f10bf67a38c24751bb777c4703bda128b8c14b - duplicate of issue https://github.com/orientechnologies/orientdb/issues/7021

[2017-05-03 09:44] luigidellaquila commented on #6775
Thank you for pointing it out @santo-it !
In next few days I'll also support GROUP BY and aggregate functions

Thanks

Luigi

[2017-05-03 10:07] SafwanHak opened #7387 "MATCH Query not using index."
### OrientDB Version: 2.2.19
### Java Version: 8
### OS: Centos

## Expected behavior
should show that it used the unique index for _id.

## Actual behavior
no index used to fetch the starting vertex.

## Steps to reproduce
create a unique index on field _id on a schema (ex. channel). run the following query.

EXPLAIN MATCH {class: Channel, where: (_id="5904764211d82a05b0b5c7a8")}.outE("e_PERMISSI

[2017-05-03 10:11] luigidellaquila commented on #7387
Hi @SafwanHak

I guess the problem here is only in the EXPLAIN, probably it's just not reporting that the index is being used.
The use case is quite simple, so I guess the index is correctly used

I'll check it for a fix

Thanks

Luigi

[2017-05-03 10:28] laa opened #7388 "Log is filled with memory leak warnings"
### OrientDB Version: 2.2
### Java Version: 1.8

After execution of test, https://slack-files.com/T04EMG7AY-F57929QRW-2ee6e8b0ef log is filled with warnings ```2017-05-03 04:16:38:598 SEVER OCachePointer.finalize: readers != 0 [OCachePointer]```

[2017-05-03 10:47] KishoDai opened #7389 "select issue"
### OrientDB Version: orientdb-enterprise-2.2.17
### Java Version: 1.8.0_121
### OS: CentOS Linux release 7.2.1511 (Core)

## Expected behavior
Get the query result quickly!

## Actual behavior
Get the query result so slowly.

## Steps to reproduce
1. The below SQL is OK.
    select from V let $a = (select from V limit 10) where  $a.size() <= 10 limit 10
    select from V let $a = (select from V l

[2017-05-03 11:00] tglman commented on #7385
hi @SafwanHak,

The original value is used only when the whole field is replaced in case of elements inside a collection the tracking is done using `ODocument#getCollectionTimeLine` that give a list of events of added an removed elements from the collection.

Hope this help.

Regards

[2017-05-03 11:11] SafwanHak commented on #7385
Thanks, that makes sense, I'll give it a try, do you have examples of how
to use it?  Should I send an email for documentation to add this in the
example, or will you take care of that?  It's not obvious of course.

On Wed, May 3, 2017 at 12:01 PM, tglman <notifications@github.com> wrote:

[2017-05-03 11:36] rdelangh commented on #6666
Finally... that replication was succesfull. This was a long saga, thanks Luca for your persistence ;-)

I will do more tests now and let you know. Ultimately, I want to have up to 6 servers running together.

[2017-05-03 11:56] luigidellaquila commented on #7389
Hi @KishoDai

Two problems here:

1.  $a.size() is always = 10, so in the first two queries the WHERE condition it always true. Both queries will return the first 10 elements of V. In the third and fourth query, the WHERE condition is always false, so the executor will try to scan V until the end and calculate the WHERE condition for each record. This full scan will take a lot of time if you have

[2017-05-03 12:03] ozgursucu commented on #7262
Hi @luigidellaquila
Would you please answer the last question above?

[2017-05-03 12:15] luigidellaquila commented on #7262
Hi @ozgursucu

I'm afraid there is not a final answer for this, it depends a lot on internal behaviors, so you don't have much control on that...

Luigi

[2017-05-03 12:25] tglman commented on #7371
hi @jackzhp,

i wrote a test case following your code:
[code]
and it ran for a while without problem, so i wasn't able to reproduce the problem

In case you reach the limit of the pool, the pool should block you and not throw an exception.

how did you setup the full test? I guess you used some multithreading it may be interesting to see that.

Regards

[2017-05-03 12:32] #6666 closed

[2017-05-03 12:32] lvca commented on #6666
Awesome. @rdelangh thank you for YOUR patience! I'm closing the issue, but in case you experience the same problem, don't hesitate to reopen/comment this. Now we have dynamic timeouts that are balanced with the workload (thanks to a new table of latencies we keep in RAM). Thanks.

[2017-05-03 13:11] laa opened #7390 "Native memory leak because of usage direct byte buffer during WAL flush"
### OrientDB Version:  2.2.19

## Expected behavior
If a disk cache is full and we perform data modification operations, direct memory consumption should not grow anymore.

## Actual behavior
Direct memory consumption is increasing without any limits.

## Steps to reproduce
Create a database which can not be fully cached on disk, start to modify records are placed inside of a database, or you also

[2017-05-03 13:32] KishoDai commented on #7389
Hi  Luigi,
     Thank you for your detailed explaination.
     Your guess is correct ,I'm just test it.

Thank you
Kisho

[2017-05-03 13:32] #7389 closed

[2017-05-03 13:45] tglman commented on #7320
Hi @prabodhshrivastava,

I removed the reference to the storage from the profiler, so now will be garbage collected, some counter are kept inside the storage for internal purpose and after exposed by the profiler, so that's why it seems that if you torn off the profiler the count continue to go on.

If you don't mind I close this.

Regards

[2017-05-03 14:44] tglman commented on #5849
hi @all,

The reason for that is as soon as you do a projection the document that contains the projection should not have "a valid id" otherwise you can use it to do an update, and that would lead to save the record with just the projected fields removing all the other fields, to overcome that we move the id in the "rid" field and set an invalid identifier to de document ( usually "#-2:x").

Since

[2017-05-03 14:52] luigidellaquila commented on #7387
Hi @SafwanHak

I just pushed a fix for this issue on branch 2.2.x, the fix will be released with 2.2.20

Thanks

Luigi

[2017-05-03 14:52] #7387 closed

[2017-05-03 14:56] SafwanHak commented on #7387
Thanks. do you have a date for 2.2.20 release?

Safwan

On Wed, May 3, 2017 at 3:52 PM, luigidellaquila <notifications@github.com>
wrote:

[2017-05-03 15:31] ray3888 opened #7391 "Timeout on acquiring lock when insert duplicated record in distributed mode"
### OrientDB Version: 2.2.18
### Java Version: 1.8.0_73
### OS: el6

## issue:
when inserting duplicated record (with unique index) in distributed mode, have following exception:
ODistributedRecordLockedException: Timeout (3938ms) on acquiring lock on record #13:1 on server 'node2'. It is locked by request 0.14
For version 2.1.x, OrientDB will throw ORecordDuplicatedException, which I think make s

[2017-05-03 15:37] #7320 closed

[2017-05-03 16:32] luigidellaquila commented on #7387
Hi @SafwanHak

I don't have a specific date, but I'd say it will be out in very few days. In the meantime you can find the SNAPSHOT here

https://oss.sonatype.org/content/repositories/snapshots/com/orientechnologies/orientdb-community/3.0.0-SNAPSHOT/

Thanks

Luigi

[2017-05-03 16:44] SafwanHak commented on #7387
you mean.
https://oss.sonatype.org/content/repositories/snapshots/com/orientechnologies/orientdb-community/2.2.20-SNAPSHOT/,
not 3.0, right?

Safwan

On Wed, May 3, 2017 at 5:32 PM, luigidellaquila <notifications@github.com>
wrote:

[2017-05-03 18:59] pythianarceri commented on #5251
The metrics instrumentation documentation could use some help, following the instructions to enable the JMX component doesn't seem to be enough to start collecting stats.

[2017-05-03 19:01] pythianarceri commented on #7101
@uguessmyid i was wondering how did you resolve the issue

[2017-05-03 22:33] lvca commented on #7391
In your pseudo code to reproduce the problem I don't see any edge. It's weird that you have a `ODistributedRecordLockedException` with just adding vertices. If this is the case, can you please provide a test case?

[2017-05-04 02:55] ray3888 commented on #7391
yes, no need edge. I just tested it on win 10, same exception.
	@Test
	public void testDserver() throws Exception {
		OrientGraphFactory factory = new OrientGraphFactory("remote:localhost:2424/orion" , "admin", "admin").setupPool(1,50);
		OrientBaseGraph graph=factory.getTx();
		String pk1="11";
		graph.addVertex("class:orion_v","pk",pk1);
		graph.addVertex("class:orion_v","pk",pk1);
		graph.commi

[2017-05-04 03:49] NicholasQu commented on #7378
@lvca As you said, dropping a cluster really is fast, but if I need to move those data in this cluster to backup in another historical cluster, how should I do to be fast?

[2017-05-04 03:51] NicholasQu commented on #7372
I can't check the similarity with @karolmie1 mentioned, if they are same, someone can help to close it.

[2017-05-04 03:58] mikayeln opened #7392 "Caught Network I/O errors on 127.0.0.1:2424, trying an automatic reconnection..."
### OrientDB Version: 2.2.19
### Java Version: 1.8
### OS: Linux

We are running large java ee application and using orientdb 2.2.19.

On client side we are receiving a lot of warnings like below

09:35:04,245 INFO  [com.orientechnologies.orient.client.remote.OStorageRemote] (TaskInvokerRegular-3[__MAIN_WS__]) Caught Network I/O errors on 127.0.0.1:2424/vis_demo, trying an automatic reconnection..

[2017-05-04 05:40] lvca commented on #7392
Can you see in the server logs why there is this disconnection? Could it also possible that your commands are so long that cause a timeout. In this case, you can adjust the connection timeout.

What kind of operation are you executing?

[2017-05-04 05:41] lvca commented on #7378
Why do you need to move data between clusters? Can you have multiple clusters per class>

[2017-05-04 05:42] lvca commented on #7391
What record is #13:1 ? Can you print here the result of `select from #13:1`?

[2017-05-04 05:56] ray3888 commented on #7391
the result is empty, seem orientdb server catch the ORecordDuplicatedException and commit fail.
output of above test case is :

com.orientechnologies.orient.server.distributed.task.ODistributedRecordLockedException: Timeout (3963ms) on acquiring lock on record #22:0 on server 'node1'. It is locked by request 0.7
	DB name="db1"
	DB name="db1"
	at sun.reflect.NativeConstructorAccessorImpl.newInstanc

[2017-05-04 06:04] ray3888 commented on #7391
additionally, there is following log in orient-server.log.0 after changing log level to FINE,  seems orientdb server catch the ORecordDuplicatedException but not unlock the record.

2017-05-03 19:11:23:900 FINE  }109 Committing transaction 69 on database 'orion' (items=1)... [OLocalPaginatedStorage]Error during transaction commit, transaction will be rolled back (tx-id=69)
com.orientechnologies.or

[2017-05-04 06:13] NicholasQu commented on #7378
I just deleted last comments, just got your point, your answer is replacing "Today" with a specific date like '2017-04-29', then need not to move data. It's clear for now , thanks.

[2017-05-04 06:13] #7378 closed

[2017-05-04 06:47] mikayeln commented on #7392
unfortunately there are no any messages (Error, info or warn) on server side.
My commands are just regular fast queries like select or update.

[2017-05-04 06:51] mikayeln commented on #7392
Here is server configs

`
<properties>
        <entry value="100" name="db.pool.min"/>
        <entry value="5000" name="db.pool.max"/>
	<entry value="100" name="script.pool.maxSize"/>
        <entry value="false" name="storage.keepOpen"/>
        <entry value="false" name="profiler.enabled"/>
        <entry value="200000" name="network.maxConcurrentSessions"/>
        <entry value="60" name="netw

[2017-05-04 07:05] laa commented on #7186
Hi @PhantomYdn are there any updates on this issue ?

[2017-05-04 07:06] laa commented on #7369
@wellpeng if that is time-consuming for you to check test which I provided. Could you send me your project so I will be able to reproduce the issue on my side?

[2017-05-04 07:09] laa commented on #7312
@anber500 I see we are working literally day and night so you will be able to run on distributed storage without issues too. What is your experience with ODB on you new architecture? Do you have any issues so far? Did you manage to remove broken index files?

[2017-05-04 07:42] luigidellaquila commented on #7387
Oh yes, sorry, I pushed the fix on both branches...

Luigi

[2017-05-04 08:14] SafwanHak commented on #7387
Grazie Mille.

On Thu, May 4, 2017 at 8:42 AM, luigidellaquila <notifications@github.com>
wrote:

[2017-05-04 08:25] anber500 commented on #7312
We have been trying to get distributed mode working for us for over a year now. That ship has sailed and we are no longer interested in entertaining the hope that distributed mode will work for us.

We make use of Django so we are fairly familiar with ORM. If that is related to ODB?

We are having some issues. We are getting 10X much better performance now than before. However, our servers have be

[2017-05-04 08:33] luigidellaquila commented on #7383
Thank you, I'm trying it, I'll let you know soon

Luigi

[2017-05-04 08:42] luigidellaquila commented on #7383
Just last question: how are you invoking the original function? From SQL or from a REST service?

Thanks

Luigi

[2017-05-04 08:48] #7390 closed

[2017-05-04 08:52] luigidellaquila commented on #4827
Hi @petervavro

This is not fixed yet unfortunately.
As a work-around, you can use `.toLowerCase()` eg.
[code]
Thanks

Luigi

[2017-05-04 08:52] lvca commented on #7378
Cool, happy coding with OrientDB.

[2017-05-04 08:55] laa commented on #7312
@anber500 we found a fix for your issue yesturday https://github.com/orientechnologies/orientdb/issues/7390 it will be in 2.2.20. I will provide you the date of release soon. Once you update it. I am looking forward to you new feedback because our target is to make your experience absolutely smooth. Again we will appreciate all feedback which you will provide to us.

[2017-05-04 08:59] luigidellaquila commented on #7326
Hi @HuangKBAaron

Currently REQUEST_RECORD_UPDATE does not support UPSERT. I'm leaving this open and flagged as an enhancement, we will consider it in next releases

Thanks

Luigi

[2017-05-04 09:08] lvca commented on #7391
This is interesting. So the problem is on duplicated key in the same distributed transaction?

[2017-05-04 09:13] #1318 closed

[2017-05-04 09:13] luigidellaquila commented on #1318
I'm closing this issue as it's old and not relevant anymore.
Class keys cannot be RIDs, they can only be strings

Thanks

Luigi

[2017-05-04 09:14] ray3888 commented on #7391
yes

[2017-05-04 09:14] lvca commented on #7391
In branch 2.2.x we improved the management of timeouts with distributed. Could you please try with 2.2.20-SNAPSHOT if the error persists?

[2017-05-04 09:16] luigidellaquila commented on #1396
In v 3.0 we added new operators to manipulate collection fields, see http://orientdb.com/docs/3.0.x/sql/SQL-Syntax.html

[2017-05-04 09:16] #1396 closed

[2017-05-04 09:21] #1816 closed

[2017-05-04 09:21] luigidellaquila commented on #1816
In v 3.0 the execution planner understands when inner queries depend on the context of the parent query and when they don't. The execution plan adapts accordingly, executing the inner query only once when possible

Closing, thanks!

Luigi

[2017-05-04 09:24] #1911 closed

[2017-05-04 09:24] luigidellaquila commented on #1911
The execution planner in v 3.0 solves this problem, implicitly calculating order projections (without returning them in the result) when they are not explicitly declared

Closing, thanks!

Luigi

[2017-05-04 09:40] luigidellaquila commented on #2118
Some more news here. In V 3.0 this syntax is also supported in SELECT statement

Thanks

Luigi

[2017-05-04 09:43] #2260 closed

[2017-05-04 09:43] luigidellaquila commented on #2260
This issue is definitely invalid, the CONTAINSVALUE syntax is intended exactly for this, there is no need for an additional syntax

Thanks

Luigi

[2017-05-04 09:45] #2423 closed

[2017-05-04 09:45] luigidellaquila commented on #2423
V 2.2 has full support for this

Closing

Thanks

Luigi

[2017-05-04 09:47] Solido commented on #7357
Hi @luigidellaquila

Sorry for the delay, needed some times to goes back to 3.0.

I got some more news, I found the mistake and it's completely my fault.
Launching V3 script from the 2.2 script path so the error.

Good news is that I can move forward to the migration test.

Problem is my script is several hundred lines and when it fails I've no idea of the line.
It was the case with 'CI' and now I

[2017-05-04 10:07] mikayeln commented on #7392
I've set the FINEST log level for server. On the time of message in client log on server side there was following log

[code]

[2017-05-04 14:58] luigidellaquila commented on #7357
Hi @Solido

Absolutely no problem, I just pushed a fix to add some additional info to that error message, at least it will help you to indentify the wrong queries

I'm closing this issue, please feel free to reopen if needed

Thanks

Luigi

[2017-05-04 14:58] #7357 closed

[2017-05-04 15:06] temilmg opened #7393 "Fetching error"
### OrientDB Version: 2.2.18
### Java Version: 8
### OS: linux

## Expected behavior
Fetch record without throwing errors

## Actual behavior

WARNING: Error deserializing record to get field-names, send this data for debugging: ABhEYXRhX1Byb2ZpbGVtAAABJxRfY3JlYXRlZEJ5AAABNwc9AAABTjsAAAFpWwAAAXF3AAABdmEAAAGRVwAAAZlxAAABzHUAAAkWXwAACSJPAAAJYlEAAAljTQAACX8KaW1hZ2UAAAmOCmMAAAmQSwAACkAIX21pZAAACk8HUwA

[2017-05-04 15:37] lvca commented on #7392
Could you please try the same test but by removing all your custom settings?

[2017-05-04 16:30] ray3888 commented on #7391
I tried 2.2.20-SNAPSHOT from git, the code stuck at line "graph.commit()", still failed.

[code]

[2017-05-04 17:06] cvm1ll3 commented on #7383
Right now I'm just testing directly on the original function in studio, the older version I'm using before I invoke it from studio and REST.

Thanks so much @luigidellaquila

[2017-05-04 18:27] ijwmiranda opened #7394 "Different query values on 2.2.* comparing with 2.1.*"
### OrientDB Version: 2.2.19
### Java Version: 1.8.0_60
### OS: Windows Server 2008

## Expected behavior
## Actual behavior
After upgrading to 2.2.19 from 2.1.*

The '<>' operator don't work as we expected on the new version.

## Steps to reproduce

The following queries returns differents results:

[code]

Apparentely on the new version, the '<>' or '!=' don't evaluate the equality between two e

[2017-05-05 01:41] wellpeng commented on #7369
@laa Sorry, I have to deal with other matters first. Recently discovered that the OrientDB consumes too much disk IO.

[2017-05-05 02:15] anber500 commented on #7312
Goody, looking forward to the fix.

[2017-05-05 05:24] laa commented on #7369
@wellpeng what do you mean by too much disk IO could you elaborate more?

[2017-05-05 07:12] anber500 commented on #7312
Our DB is falling over daily. It's really annoying. If there is a fix for the memory leak, is there a snapshot available? I have to restart the DB daily and our indexes keep screwing up. The problem now is that we have dozens of DBs and we have to test each of them before we can find a DB with some bad indexes.

[2017-05-05 07:15] laa commented on #7312
@anber500 I will send you new build in few hours. It should fix your issue.

[2017-05-05 07:33] laa opened #7395 "CI tests periodically fail with report that JVM was crashed"
### OrientDB Version: 2.2.x

## Expected behavior
All maven tests should pass smoothly

## Actual behavior
Periodically we see a message: "The forked VM terminated without properly saying goodbye. VM crash or System.exit called?"

## Steps to reproduce
Run maven tests on CI envinroment several times.

[2017-05-05 08:27] #7395 closed

[2017-05-05 08:51] laa commented on #7312
@anber500 there is new build https://drive.google.com/file/d/0B2oZq2xVp841T2diVGtTcmZ5OTQ/view?usp=sharing

[2017-05-05 09:34] luigidellaquila commented on #7394
Hi @ijwmiranda

I tried to reproduce the problem, but with no luck.
My script is:

[code]

and it returns correct results

Do you have a dataset to reproduce it?

Thanks

Luigi

[2017-05-05 10:44] ijwmiranda commented on #7394
Hi Luigi,

Thanks for the quick answer, we just test with the provided database: GratefulDeadConcerts.

I'm not sure if the database changed but i think not, we use the following versions:

2.1.24
2.2.19

The problem is self explained on the following queries:

Query1: `select count(*) from (TRAVERSE out from E)`
2.1.24 Entries Number: 8633
2.2.19 Entries Number: 8633
Note: Total number of entries

[2017-05-05 11:48] luigidellaquila commented on #7394
Great, thank you for the info, I'm checking it

Luigi

[2017-05-05 12:12] tglman commented on #7326
hi,

There is no plan to support this in short term in the binary protocol, in the same way that we don't provide a Java API to do upsert, I'll forward this issue to a late version just to keep track in case of feature development on upsert.

Regards

[2017-05-05 12:57] tglman commented on #7393
hi @temilmg,

From what I see in the exception while you try to serialize the record to JSON the database try to load some metainformation from the server to be able to read correctly the informations in the record, but is not able to, the reason why is not able to could be some connection problem or something related like an expired session, do you have any additional error in the log ? is it in

[2017-05-05 12:59] luigidellaquila commented on #7394
Ok, I could reproduce the problem.
The bug seems to be in the binary representation of a record and how it's managed by the binary comparator: when it tries to do a `ORecordSerializerBinaryV0.readOptimizedLink()` it throws an `ArrayIndexOutOfBoundsException`

@tglman it's for you. Easy steps to reproduce and find the problem:
- 2.2.x snapshot, GratefulDeadConcerts db
- add a breakpoint on ArrayInd

[2017-05-05 13:05] luigidellaquila commented on #7394
Ok, never mind, the problem was actually in the binary comparator, I'm fixing it

Thanks

Luigi

[2017-05-05 13:16] tglman commented on #7321
hi @HuangKBAaron,

This is a possible due to the fact that the java client usually do some pre-validation but this is not true with other clients that may send invalid data that is not handled correctly.
going to check it and let you know.

Regards

[2017-05-05 13:24] luigidellaquila commented on #7394
Hi @ijwmiranda

I pushed a fix for this on branch 2.2.x and develop, the fix will be released with next 2.2.20

Thanks

Luigi

[2017-05-05 13:24] #7394 closed

[2017-05-05 13:40] tglman commented on #7392
hi @mikayeln,

Seeing your second log seems the token is expired so need to be renegotiated, this may be due to the fact that the live time of the token is just five minutes: `<entry value="5" name="network.token.expireTimeout"/>` is it there any reason for this timeout? can you increase it? The default one is one hour.

Regards

[2017-05-05 13:42] dalegarv opened #7396 "OPartitionedDatabasePool is destroying connections in the pool"
### OrientDB Version: Version: 2.2.18 Enterprise
### Java Version: 1.8
### OS: SLES

## Expected behavior
The OPartitionedDatabasePool connections should not be destroyed until the pool itself is closed.  I thought the main purpose OPartitionedDatabasePool was to keep a pool of open connections.

## Actual behavior
If I call the close() method on a DatabaseDocumentTxPooled returned the from the OP

[2017-05-05 13:55] dalegarv opened #7397 "Object API proxy object nulls all the items in an embedded list"
### OrientDB Version: 2.2.18 Enterprise
### Java Version: 1.8
### OS: SLES

## Expected behavior
I should be able to call the getter method() from within the proxy object to get the reference to the embedded list.

## Actual behavior
Calling the getter method() sets all the items in the list to null.  If I use the member variable instead of the getter, this doesn't happen.

## Steps to reproduce
C

[2017-05-05 14:50] dalegarv opened #7398 "Saving an embedded list as null prevents the list from being updated later using the Object API."
### OrientDB Version: 2.2.18 Enterprise
### Java Version: 1.8
### OS: SLES

## Expected behavior
I should be able to save an embedded list property as null and update it later with a non-empty list using the object API.

## Actual behavior
When I try to update the object with a non-empty list it's staying as null.  This doesn't happen if I initially set it to an empty list instead.

## Steps to re

[2017-05-05 15:08] mrprescott commented on #7390
@lvca Any reason to believe this was introduced in 2.2.19, or if it might have been older?

[2017-05-05 16:26] anber500 commented on #7312
Thanks, I deployed it and will monitor it over the weekend. I had some weird line-ending  errors on the bash scripts that I had to fix before I could deploy it on Ubuntu.

I had to remove the **^M** control chars before I could deploy. We haven't had this issue before so it must have been introduced recently.

[2017-05-05 23:18] TropicalPenguin opened #7399 "Sequence Property Default Value Not Lazily Evaluated"
### OrientDB Version: 2.2.18
### Java Version: openjdk version "1.8.0_121"
### OS: Ubuntu 17.04

## Expected behavior

Trying to specify a class property's default value as the next item in a created sequence.
Expect each new instance to get a different value.

## Actual behavior

Two problems. The ALTER PROPERTY under **Steps to reproduce** gives a NullPointerException.

If I change the string de

[2017-05-06 02:18] KishoDai opened #7400 "ODistributedOperationException issue in cluster mode"
### OrientDB Version: orientdb-enterprise-2.2.17
### Java Version: 1.8.0_121
### OS: CentOS Linux release 7.2.1511 (Core)

## Expected behavior
Can update or create edge successfully in cluster mode

## Actual behavior
Can't update or create edge successfully in cluster mode.

## Steps to reproduce
I have three masters named orientdb-server1,orientdb-server2,orientdb-server3.
I have tried to avoid

[2017-05-06 12:08] temilmg commented on #7393
There are no errors in the orientdb server log. I only get these fetch errors (SEVERE: Fetching error on record) in the client.
I have a different program that connects to the orient server where I did get an exception when creating a property but I am thinking that shouldn't affect the other client!?

com.orientechnologies.orient.core.exception.OSchemaException: The database contains some schema-

[2017-05-06 13:11] laa commented on #7390
I suppose it was since 1.9 version or so.

[2017-05-06 13:14] laa commented on #7312
@anber500 I suppose that is because it is Windows build. The official build should not have given problems.

[2017-05-06 15:37] AppChecker opened #7401 "Suspicious conditions"
Hi!

Please, look the following code snippets:
1) [core/src/main/java/com/orientechnologies/orient/core/metadata/schema/OType.java](https://github.com/orientechnologies/orientdb/blob/master/core/src/main/java/com/orientechnologies/orient/core/metadata/schema/OType.java#L585-L599)
[code]
(context instanceof Integer) is checked twice. May be it should by
  if (context instanceof Short)

2) [core/src

[2017-05-07 09:32] santo-it commented on #7400
Hi,

Thanks for opening this. We fixed an issue related to concurrent edge update (from all master nodes) in version 2.2.19; wondering if you can give it a try and see if you can reproduce the problem?

[2017-05-07 09:51] KishoDai commented on #7400
Hi,
    Today I will have a try to see the result.
    Thank you very much.

[2017-05-07 10:31] laa commented on #7369
Hi @wellpeng could you elaborate what do you mean? Hopefully, we may help you.

[2017-05-07 12:19] anber500 commented on #7312
The servers have been running stable for the last few days. We have 3 server running. It's the first time in months that all three our servers have been running stable without at least one of them failing or running out of memory. The memory consumption has been stable for a few days and our server seems happy. I know it's unrelated but if our servers don't die, our indexes won't be affected so in

[2017-05-07 12:29] anber500 commented on #7390
This fix might have solved all our issues we've had over the last year with OrientDB. OrientDB has been exceptionally unstable for us. We have had regular instabilities and have not been able to run OrientDB for any time longer than a week without having to restart the nodes.

I have been running a new snapshot of OrientDB and it's been running really well. For the first time in months I've not ha

[2017-05-08 00:24] KishoDai commented on #7400
Hi @prjhub,
     I have upgraded to 2.2.19. But the same issue is still happening at create edge frequently for the same vertex in cluster mode in sequence.

Thank you
Kisho

[2017-05-08 01:51] KishoDai commented on #7400
Hi @santo-it,
      Added more.
      This issue is not always happening, Sometimes it's working.

Thank you,
Kisho

[2017-05-08 05:45] #7092 closed

[2017-05-08 07:05] laa commented on #7312
Hi @anber500 thank you very much for your patience and persistence. Looking forward to your feedback.

[2017-05-08 07:57] luigidellaquila commented on #7399
Hi @TropicalPenguin

The SQL executor evaluates the DEFAULT expression when it executes the ALTER PROPERTY statement, then it caches the result and uses it for each insert.

To avoid this, you can write the expression as a string:

[code]
The string will be evaluated at each INSERT, so you will have what you need

Thanks

Luigi

ps. this is an old behavior, in next versions we will refactor it. Th

[2017-05-08 07:57] #7399 closed

[2017-05-08 08:00] weixliu opened #7402 "the uncorrected shotdown cause orientdb cache exception"
### OrientDB Version: <2.2.15>
### Java Version: <1.7>
### OS: <centos>

## Actual behavior
[code]

## Steps to reproduce
The server is shut down because power off, and I don't shut orientdb before that. After power on, I just use `orinetdb.sh start` to restart the orientdb, 1 days later I got this exception. Is that because some place think the cache exist some information, and actually when I re

[2017-05-08 08:08] laa commented on #7402
@weixliu have you seen data restore process when you started a server ?

[2017-05-08 08:20] weixliu commented on #7402
Yes, when I started a server, the log show that it try to restore process. All the log it below.
[code]

[2017-05-08 08:44] luigidellaquila commented on #7166
Hi @wojtala6

I just pushed a fix for this on 2.2.x branch, the fix will be released with 2.2.20

Thanks

Luigi

[2017-05-08 08:44] #7166 closed

[2017-05-08 09:29] laa commented on #7388
@lvca could you provide more details how did you reproduce the issue ?

[2017-05-08 13:34] tglman commented on #7398
hi @dalegarv,

I did a small test case for reproduce it and it works correctly, here it is:
test:
[code]
entity:
[code]

do you have any more detailed info on how to reproduce the case or a test case ?

Regards

[2017-05-08 15:33] dalegarv commented on #7398
My apologies. I had some of the details confused with another problem, so I updated the title and description to be more accurate.  We've since switched from the Object API to the Document API, but I wanted to report the problem in case it affects other.

[2017-05-09 00:30] WeaxMe opened #7403 "Strange working SQL GET query for fields with type OType.DATE"
### OrientDB Version: 2.2.19  in version 2.1.19 everything was fine
### Java Version: 7 OpenJDK
### OS: Ubuntu 16.04
Case: strange working SQL GET query for fields with type OType.DATE.

## Expected behavior
When we executing SQL query for getting documents from OrientDB like "SELECT FROM ${MyClass} WHERE ${MyField}='${MyDate}'" in OrientDB version 2.1.19 all works fine.

## Actual behavior
When w

[2017-05-09 06:36] robfrank commented on #7252
did you manage to load your datasets? May  I close this issue?

[2017-05-09 07:32] gnumarco opened #7404 "Non expected behaviour when sending result of a query to the graph vizualisation"
### OrientDB Version: 2.2.19
### Java Version: 1.8.0_131-b11
### OS: Ubuntu 17.04

## Expected behaviour
That the SQL passed to the graph visualization behaves exactly like in the Browser tab, e.g. that when a filter is put on an attribute of an edge, it is actually taken into account in the graph visualisation, which is not the case up to now.

## Actual behavior
When executing the following quer

[2017-05-09 07:35] luigidellaquila commented on #7403
Hi @WeaxMe

It seems to be a bug, checking it

Thanks

Luigi

[2017-05-09 08:27] Dollyn opened #7405 "IDE breakpoint freezes orientdb connection"
### OrientDB Version: 2.2.19,2.2.18,2.2.17
### Java Version: build 1.8.0_51-b16
### windows 10
### IntelliJ IDEA 2017.1.1

## Expected behavior
<add here>

## Actual behavior
<add here>

## Steps to reproduce
[code]
Use the above simple code snippet, add a breakpoint one the line 'graph.command', start the program. When the IDE hit the breakpoint,  use Step In(F7), and then Step Over(F8) for some

[2017-05-09 10:20] luigidellaquila commented on #7404
Hi @gnumarco

I just pushed a fix on both 2.2.x and develop branches, the fix will be available in next 2.2.20

Thanks

Luigi

[2017-05-09 10:20] #7404 closed

[2017-05-09 10:22] WeaxMe commented on #7403
Hi @luigidellaquila, thanks for feedback.

Vitaliy

[2017-05-09 11:27] luigidellaquila commented on #7403
Hi @WeaxMe

I just pushed a fix for this to branch 2.2.x, the fix will be released with 2.2.20

Thanks

Luigi

[2017-05-09 11:27] #7403 closed

[2017-05-09 13:22] lucafrosini commented on #7354
I also made some tests with two nodes only and I obtain the same behaviour

[2017-05-09 13:25] lucafrosini commented on #7398
In general updating embeddedlist has some issues.  See
https://github.com/orientechnologies/orientdb/issues/7354

[2017-05-09 14:47] luigidellaquila commented on #7383
Hi @cvm1ll3

In the end I managed to reproduce the problem and provide a fix.
I just pushed it on branch 2.2.x, it will be released with next 2.2.20

Thanks for your help!

Luigi

[2017-05-09 17:28] cvm1ll3 commented on #7383
@luigidellaquila Thank you so much!

[2017-05-09 18:41] horuzhiy commented on #6794
Looks like increasing 'network.token.expireTimeout' helps for avoid disconnection of live queries from the server.
I using java with connection pooling and randomly there where disconnections - 'onError' where called in OLiveResultListener. And on service side with ('FINE' logs) 'com.orientechnologies.orient.enterprise.channel.binary.OTokenSecurityException: The token provided is expired' appear.

[2017-05-10 03:05] mikayeln commented on #7392
This setting was set to 5 to solve (temp solution) another issue with non closing network connections. I will give a try to 60 minutes.

[2017-05-10 08:12] MatMur commented on #7252
Hi, I have been on holidays for several weeks, so I can't try loading in plocal mode. The soonest I can check it is 15th of May, so please, wait at least one week from now. Thank you.

[2017-05-10 11:54] karolmie1 opened #7407 "Cannot delete edge by date, but can select it by date."
### OrientDB Version: 2.2.18
### Java Version: 1.8
### OS: linux

I can select:
`select * from workedOn where dt = "2017-05-02"`

Receiving:
[code]

but I cannot delete:
`delete edge workedOn where dt = "2017-05-02"`

General delete method works:
`delete workedOn where dt = "2017-05-02" unsafe`

Range delete works, for example:
`delete edge ed where date > "2015-02-01"`

There is no problem if we

[2017-05-10 13:00] tglman commented on #7405
Hi @Dollyn,

this case is quite strange, could you get a thread dump when this happen, it will help understand what is going on.

Thank you in advance

Bye

[2017-05-10 15:09] luigidellaquila commented on #7407
Hi @karolmie1

I fixed a similar issue just a couple of days ago. Any chance to try it on latest snapshot?

https://oss.sonatype.org/content/repositories/snapshots/com/orientechnologies/orientdb-community/2.2.20-SNAPSHOT/

I did it and it seems to work fine. In case, the new release will be officially out in a few hours hopefully

Thanks

Luigi

[2017-05-10 16:24] ozgursucu commented on #7400
Are there any updates for this issue? I am facing it as well.

[2017-05-10 20:26] lvca commented on #7364
This doesn't make any sense, because the locks are acquired in order, so a deadlock is not possible

[2017-05-10 20:26] #7364 closed

[2017-05-11 05:33] laa commented on #7312
Hi, @anber500 do you have any feedback about your issues.

Which issues do you still have?  What is the stability of a system by now?

[2017-05-11 06:41] karolmie1 commented on #7407
I did try out latest snapshot. Studio works ok. With Java code I can delete edge, if parameter is a string.

I still encounter problems when passing util.Date or sql.Date or epoch as a parameter.

After creating entry using sql.Date (which works)
[code]

I cannot find or delete the created entry using equality sign if I don't cast to string.
This does not work:

[code]

But this does:
[code]

Actu

[2017-05-11 09:20] robfrank opened #7408 "Lucene full text: more like this function"
New lucene function (https://github.com/orientechnologies/orientdb/issues/7155) that perform a more like this query:

[code]

Or with a subquery:

[code]

MoreLikeThis configuration parameters should be passed as json:

[code]

All the configuration parameters of MLT should be exposed.

The function will use the MoreLikeThis capability from Lucene itself: https://lucene.apache.org/core/6_5_1/queri

[2017-05-11 09:43] luigidellaquila commented on #7407
Thank you for the feedback @karolmie1
I'll check the specific cases and let you know

Thanks

Luigi

[2017-05-11 10:26] tglman commented on #7393
hi @temilmg,

From the exception you posted I see you tried to create a property "image" at class "Data_Profile" of type EMBEDDEDMAP but in the database there are record that have a field image that contain a value that is not an EMBEDDEDMAP.

To figure out what are this records you can ran ` select from Data_Profile where image.type() <> 'EMBEDDEDMAP' `

Anyway I think this is not directly relate

[2017-05-11 11:05] Dollyn commented on #7405
`Thread dump at 0:12.906.313

* Thread group "OrientDB":

  Thread "OrientDB <- Asynch Client (kg1/192.168.73.231:2424)":
    at java.net.SocketInputStream.socketRead0(java.io.FileDescriptor, byte[ ], int, int, int)
    at java.net.SocketInputStream.socketRead(java.io.FileDescriptor, byte[ ], int, int, int)
    at java.net.SocketInputStream.read(byte[ ], int, int, int) (line: 170)
    at java.net.

[2017-05-11 11:33] Dollyn commented on #7405
Sorry, misoperation for closing the issue. Reopen it.

Actually, you can reproduce it your self, just paste the code into a main method, debug it. It will happen every time you debug it .

[2017-05-11 13:40] weixliu commented on #7402
any information about this?

[2017-05-11 14:14] laa commented on #7402
@weixliu I do not think that it is related to the incorrect shutdown. You had NPE in direct memory allocator I do not think that any data page corruption may be related to direct memory allocator more likely you have got a bug in byte buffer which was fixed by commit https://github.com/orientechnologies/orientdb/commit/e7562eaab24ebfbebf10c2a819f660c3b584ac98 . I suppose that is just coincidence t

[2017-05-11 14:34] tglman commented on #7405
hi @Dollyn,

I got an idea on what should be the problem, I'm going to try to fix it.

Regards

[2017-05-11 16:10] #7400 closed

[2017-05-11 16:10] lvca commented on #7400
Hi guys, this is not a bug. That exception extends `ONeedRetryException`, so the code should always be ready to collect it and retry the operation. This is the way OrientDB works: optimistic vs pessimistic. Take a look at: https://orientdb.com/docs/2.2/Concurrency.html

[2017-05-11 17:17] william76 commented on #7376
Thank you very much!

[2017-05-11 22:27] anber500 commented on #7312
Our system seems much more stable. None of our DBs have crashed in the last few days. The memory-leak fix have solved most of our issues that we've had over the last year.

We are still experiencing some odd issues with the indexes. Especially with DBs that previously crashed.

The big problem is that indexes totally fuck up when the server crashes. If you have a DB with millions of records, it do

[2017-05-12 05:51] andreyvk opened #7410 "Randomly losing indexes on 2.2"
### OrientDB Version: 2.2.15, 2.2.19 (possibly all 2.2.x)
### Java Version: 1.8
### OS: Ubuntu 14.04

Hi guys,

I've written abt this before and there's also an old closed issue that wasnt resolved. We've closed the issue that time. But now im back! ))

We are still unable to move to 2.2 from 2.1, because we indexes are randomly lost. That causes all sorts of hell during system operations. I've do

[2017-05-12 06:08] laa commented on #7410
Hi @andreyvk .

I think we should resolve it. I  (according to your name)  suppose that you speak Russian, is it correct?  In such case, I can not schedule a call with you today (it can be done on Monday though), but I can chat with you today. Is it ok for you? Or you prefer Skype meeting? I think the most important thing now is to reproduce the issue using your code. I can download your code and

[2017-05-12 06:22] laa commented on #7312
@anber500 how do you perform modification operations, do you use transactions or you work in nontransactional mode?

[2017-05-12 06:39] laa commented on #7312
@anber500 I will create a tool for you which will allow rebuilding unique indexes and will provide you a collection of RIDs of duplicated records which are not included in the index but exist in the database . Will it make your work of removing of duplications much easier for you?

[2017-05-12 06:49] andreyvk commented on #7410
Hi @laa,

Yes, i do speak Russian and Monday is perfect! Can i have your Skype id so I can add you for now? What time you are available on Mon? I'm available through the day or night, because this is too important now.

Unfortunately, setting up our system is not a once step process and also there's no project that you can download, because it's a private one. I'll see if i can prepare a test serv

[2017-05-12 07:34] laa commented on #7410
Hi @andreyvk , I think 12:00 AM at Monday will be OK for me. My skype account is lomakin_andrey . Is it possible for you to send me disk image of your VM? I can then reproduce it on my side too.

[2017-05-12 07:40] andreyvk commented on #7410
@laa 12:00AM? you mean Mon midnight? Or do you mean Mon noon? Which timezone?

Our DB is under NDA, of course. I need to discuss this possibility (sending VM) with my partner first. Image is quite large too. Let me see what we can do to make it easier for you. Meanwhile I'll add you to my skype contacts list. Thanks!

[2017-05-12 07:42] laa commented on #7410
Oh Sorry PM )) , GMT + 2. You can give us ssh connection to your VM as an alternative solution. Anyway I would need some means to check what is going underneath of server.

[2017-05-12 07:51] andreyvk commented on #7410
@laa, got it. 12 noon GMT+2

Like i said we should be able to set you up for our test server. I'll let you know as soon as possible

[2017-05-12 11:25] anber500 commented on #7312
We don't make use of transactions.

[2017-05-12 11:31] laa commented on #7312
@anber500 if you use transactions you will not have problems with duplicates because in such case both index and document update will be single atomic operation. What about a tool which I described above. Do you need one?

[2017-05-12 11:46] anber500 commented on #7312
Thank you. Such a tool would be useful. I have my own tool that detects and remove duplicate records but I'm having issues with the indexes. Consider the following structure:
[code]
If the indexes gets messed up and OrientDB doesn't let me know, we get duplicate records as I explained. Assume we have 2 records inserted into Posts with comment_id="123". If I try to rebuild the index, it will obviou

[2017-05-12 11:55] anber500 commented on #7312
We never used transactions because we were running in distributed mode and were having massive issues with latency. We have to do a lot of read/write commands and can't do many batch operations that could validate the use of transactions. We have considered it a while ago but using transactions is not going to be a simple task because of the nature of our data.

[2017-05-12 13:58] andreyvk commented on #7410
Hi @laa,

I'll provide you access to our server test server. We'll set up the environment and get it ready to replicate, when we are online together. I'll be sending an email to your gmail account (found on GitHub) with details.

Again, thank you very much for this. This is very important to us :)

[2017-05-12 15:02] grindhold opened #7413 "Frontend forgets unfinished statements when switching tabs. LocalStorage to the rescue."
### OrientDB Version: 2.2.18
### Java Version: openjdk version "1.8.0_131"
### OS: Debian Stretch
## Expected behavior
The frontend should store statements that have not been executed but begun in the localStorage and retrieve them when one re-enters the according tab.

## Actual behavior
I often switch between the "Graph" and  "Browse" tabs when developing queries. Whenever I switch, orientdb for

[2017-05-12 15:27] maggiolo00 commented on #7413
Hi @grindhold
thanks for this issue. I will mark this as enhancement. It make sense to store also the current editing query in the local storage

Thanks

[2017-05-12 16:20] lvca commented on #7312
@anber500 using a transaction to batch operations is actually a way to improve performance running distributed, because a server propagates 1 task with 10 operations inside, instead of, let's say 10 tasks.

[2017-05-12 22:57] anber500 commented on #7312
@laa has been amazing in helping us and don't want this index-related bug report to change into a debate whether or not we should use transaction or not. We have been down this path and transactions is not going to work for us. Please can we remain focused on the issue at hand.

[2017-05-13 12:26] SafwanHak opened #7416 "SQL Select returns wrong result if field ordered by is not in the selected fields."
### OrientDB Version: 2.2.19
### Java Version: 8
### OS: Centos

## Expected behavior
data returns in the order by

## Actual behavior
returns ordered by @rid

## Steps to reproduce
Hi guys,

I've been tracking a bug for a couple of hours and it seems that the SQL returns the wrong result if the field ordered by is not in the selected fields, had my head scratching for sometime. see the 2 queries

[2017-05-13 23:20] HuangKBAaron commented on #7321
@tglman yes, I may report it to pyorient than here?

[2017-05-15 07:43] ozgursucu commented on #7400
Hi @lvca
Then how can we manage the retry operation in a @Transactional method like provided in spring data orientdb?

[2017-05-15 07:50] KishoDai commented on #7400
Hi @Ivca,
      when batch to create edge under the multi-master, it will be happening.

[2017-05-15 10:20] karolmie1 opened #7418 "Prepared params, IN clause, array of enums: stackoverflow exception"
### OrientDB Version: 2.2.20

`SELECT * FROM Project WHERE status in :status`

if status is enum array (tested with 2 elements), it will fall into infinite recursion during parsing named parameters, and end in stackoverflow.

This one works, if :status is Enum:
`SELECT * FROM Project WHERE status = :status`

[code]

Not particulary painfull, as I can map Enum to String on my own, but confusing, si

[2017-05-15 15:06] SafwanHak opened #7419 "Please make it clear in Studio that Type of query is BATCH or COMMAND"
### OrientDB Version: 2.2.19
### Java Version: 8
### OS: Centos

Suggestion: please change the green RUN button in Studio to display when it's in batch mode, so it's clear we need to switch to command.

FYI, few weeks ago, I didn't know why the batch syntax that I wrote wasn't working, it wasn't clear that I had to configure the settings, only when Luigi pointed it out it became clear.  I suggest

[2017-05-15 15:41] maggiolo00 commented on #7419
Hi @SafwanHak

thanks for the suggestions.

I would prefer using some label on the button

`Run Query`
`Run Script`

along with your last option of quick switch between them

[2017-05-15 15:43] tglman commented on #7321
hi @HuangKBAaron,

Well not yet, is correct that java throw an exception but it should not close the socket in this case, probably I need to investigate a bit on this, and see why the socket is closed.

Anyway I'm not an expert of python so a simple example project that I get and run it would speedup a bit the fix ;).

Bye

[2017-05-15 15:59] SafwanHak commented on #7419
That works.

Thanks Enrico,
Safwan

On Mon, May 15, 2017 at 4:41 PM, Enrico Risa <notifications@github.com>
wrote:

[2017-05-15 17:18] lvca commented on #7419
👍

[2017-05-15 20:31] amirmhzadeh opened #7420 "Allow property values to be null when creating an edge"
### OrientDB Version: orientdb-community-2.2.17
### Java Version: 1.7.0_91
### OS: centOS 06

Seems like orientDB intentionally does not allow for properly values to be null when creating an edge.

[code]

This issue was pointed out before in [issue #3365](https://github.com/orientechnologies/orientdb/issues/3365). Some workarounds have been suggested in this original ticket.  Not sending the prop

[2017-05-16 05:49] laa commented on #7402
Hi, @weixliu do you have any update on this issue?

[2017-05-16 06:09] laa opened #7421 "3.0 + TP2 - issue with sequences when multiple vertices are created with graph API"
### OrientDB Version: 3.0

The bug is described there http://stackoverflow.com/questions/43993477/orientdb-3-0-issue-with-sequences-when-multiple-vertices-are-created-with-graph .

One issue is fixed could you also update related SO entry?

[2017-05-16 06:16] weixliu commented on #7402
OK, Sorry don't get your early reply. I using 2.2.15 snapshot, I'll try the new release 2.2.18 to check whether it crashed.
Below it's my server script, I just change jvm memory & MaxDirectMemorySize, other I use default.
https://gist.github.com/weixliu/6fe10f3263091d93e406e1ecc8f63661

[2017-05-16 06:18] weixliu commented on #7402
@laa I think maybe you mean 2.2.18, not 2.2.20.

[2017-05-16 06:24] laa commented on #7402
Hi @weixliu , no I mean 2.2.20 it was released a couple of days ago and contains additional fixes of memory consumption. Very useful ones.

[2017-05-16 06:30] weixliu commented on #7402
OK, I found that in tag. Thank you, I'll try the new release.

[2017-05-16 06:30] #7402 closed

[2017-05-16 06:48] careerscale commented on #7421
I haven't used embeeded db (answer the question in stackoverflow). But learn and do it.

[2017-05-16 07:25] ghost opened #7422 "Can't save CSV from studio - may be reopen #7376"
### OrientDB Version: 2.2.20
### Java Version: 1.8.0_131
### OS: Linux

## Expected behavior
SELECT FROM WHATEVER LIMIT -1

## Actual behavior
SELECT ... LIMIT 8000
renders "download Failed - Network error"

## Steps to reproduce
Limit 8000+

[2017-05-16 09:05] robfrank commented on #7421
I forked your project to do some tests.

[2017-05-16 10:01] lvca commented on #7349
@mcaramma is the issue present in last 2.2.20 too?

[2017-05-16 10:45] laa commented on #7410
@andreyvk As we agreed I sent you a screenshot of the method in Java debugger which process update request http://i.imgur.com/qnskh9e.png it is clearly seen there that version is -1 and debug log of all data are read from binary request during processing of this ... request (sorry for tautology) https://gist.github.com/laa/8f7d372554f07a8e75743d7da6987307 . I am closing issue from our side.

[2017-05-16 10:45] #7410 closed

[2017-05-16 11:13] careerscale commented on #7421
Ok, pls let me know  if anything else needed from me.

[2017-05-16 12:10] mcaramma commented on #7349
Yes, it is still present in v2.2.20 ... even worse, now the incorrect behaviour is present in both distributed and non-distributed setup.

[code]

[2017-05-16 12:24] robfrank commented on #7421
I tested against the latest snapshot, using your tests, and all works fine. As a double check, can you move on 3.0.0-SNAPSHOT on maven pom AND server?
You can donwload the latest community tar.gz from https://oss.sonatype.org/content/repositories/snapshots/com/orientechnologies/orientdb-community/3.0.0-SNAPSHOT/

Moreover, I moved the code to orientdb-gremlin (thinkerPop 3.0) and it works fine.

[2017-05-16 12:26] robfrank commented on #7421
I tested against the latest snapshot, using your tests, and all works fine. As a double check, can you move on 3.0.0-SNAPSHOT on maven pom AND server?
You can donwload the latest community tar.gz from https://oss.sonatype.org/content/repositories/snapshots/com/orientechnologies/orientdb-community/3.0.0-SNAPSHOT/

Moreover, I moved the code to orientdb-gremlin (thinkerPop 3.0) and it works fine.

T

[2017-05-16 13:24] careerscale commented on #7392
We see this with small application

[2017-05-16 14:03] andreyvk commented on #7410
@laa I've already created a GitHub issue on PhpOrient project. Thank you very much for your time! Do hope that PhpOrient project creator will be able to attend to this the soonest.

[2017-05-16 16:04] careerscale commented on #7421
I think I am using the latest server (building locally for "develop" branch

but from application perspective, yes, I will use this and see if it works fine for me too.

Thanks

[2017-05-16 16:41] careerscale commented on #7421
Not really, I did see issues still. the uniqueness is not maintained. built latest server code.

Added assertion for uniqueness, could you please check again?

[2017-05-17 07:49] robfrank commented on #7421
I just made a PR to your project. I migrated the test to tinker pop 3 API, and it works fine. clean the database before running the test with:

[code]

I also suggest to create a unique index on User's id: it will speed up lookup on the id property.
[code]

Take a look to
- http://orientdb.com/docs/3.0.x/sql/SQL-Create-Index.html
- http://orientdb.com/docs/3.0.x/indexing/Indexes.html

[2017-05-17 08:16] careerscale commented on #7421
I ran again, and the tests fail nicely. There are dupicate id values generated, there are exceptions thrown resulting in failures too.

Are you doing any change to the code or pom.xml? I have updated the dependencies as you suggested (3.0 snapshot) yesterday but I have no luck

[2017-05-17 08:17] careerscale commented on #7421
![graph api id generation issue](https://cloud.githubusercontent.com/assets/342691/26144655/877d8784-3a9e-11e7-8807-adf8da35d429.PNG)

[2017-05-17 08:21] robfrank commented on #7277
About different names for info on console  and on studio, the console itself uses custom labels for parameters. I will talk with other  members of the team if it is better to use same names

[2017-05-17 08:21] #7277 closed

[2017-05-17 08:22] careerscale commented on #7421
Sorry, yah, your test class works fine. what was the different thing you made?

[2017-05-17 08:23] careerscale commented on #7421
Should we use gremlin API? is that TP3?  is the graph api is buggy?

[2017-05-17 08:48] lvca commented on #7421
@careerscale If you're using OrientDB 3.0 with an app developed from scratch, I won't use TP2.6 but just the MultiModel API. Do you have this issue with plain Multi-Model API?

[2017-05-17 08:57] careerscale commented on #7421
yes, this bug is about the issue with multi model api (we are using graphdb api) dependency is given below.

			<dependency>
				<groupId>com.orientechnologies</groupId>
				<artifactId>orientdb-graphdb</artifactId>
				<version>${orientdb-version}</version>
			</dependency>
with 3.0 snapshots

[2017-05-17 09:05] robfrank commented on #7421
To be more clear, on 3.0 we provide 3 sets of different api
- multi-model api : http://orientdb.com/docs/3.0.x/java/Java-MultiModel-API.html, you need only orientdb-core
- tinkerPop/gremlin 3.0 api: http://orientdb.com/docs/3.0.x/tinkerpop3/OrientDB-TinkerPop3.html
[code]
- tikerPop/gremlin 2.6 (for backward compatibility):  http://orientdb.com/docs/3.0.x/java/Graph-Database-Tinkerpop.html:
[code]

[2017-05-17 09:20] fabriziofortino opened #7424 "Improve documentation on how configure studio in embedded server"
In **[Embed the Server](http://orientdb.com/docs/3.0.x/internals/Embedded-Server.html)** documentation is not that clear how to properly configure OrientDB Studio.

**[Use an embedded configuration](http://orientdb.com/docs/3.0.x/internals/Embedded-Server.html#use-an-embedded-configuration)** section the `orientdb.www.path` entry name points to an absolute path from an old release.

[code]

* Woul

[2017-05-17 09:48] careerscale commented on #7421
Ok, there is a realization now, I was thinking the order of APIs was multi model bering the core and graph api being the 3.0 special feature while gremlin one being the 2.6 TP, but  I was wrong.

Quick question:

With graph API, I got this API,
OrientGraph.getVertices(Plan.PLAN, keys, values);

what is the equalant one with gremlin? I think we are more confident using the pure graph model than the

[2017-05-17 10:13] careerscale commented on #7421
Ok, I think I got it,, thanks. your sample unit tests was good enough for me.
OResultSet vertices = graph.executeSql("Select from User", params);
        List<Long> ids = Lists.newArrayList();
        vertices.vertexStream().forEach(v -> {
        }
        );

[2017-05-17 12:28] careerscale commented on #7421
Should we mark this ticket  as resolved?  we are moving to gremlin 3.0 snapshot.

[2017-05-17 12:34] #7421 closed

[2017-05-17 12:34] robfrank commented on #7421
ok, closing. thank you very much, the sandbox project is a very good idea!

[2017-05-17 14:05] careerscale opened #7425 "Invalid value of TX counter"
### OrientDB Version:3.0
### Java Version: 1.8
### OS: Windows

## Expected behavior
Transaction to work

## Actual behavior
6:59:57.968 [http-nio-8084-exec-2] WARN - Unable to close graph {}
com.orientechnologies.orient.core.exception.OStorageException: Invalid value of TX counter
	DB name="mlm"
	at com.orientechnologies.orient.core.tx.OTransactionOptimistic.rollback(OTransactionOptimistic.java:1

[2017-05-17 14:06] careerscale commented on #7425
using orientdb-graphdb 3.0 snapshot, moving to gremlin in a day or so.

[2017-05-17 16:20] tglman commented on #7425
hi @careerscale,

Just reporting here what we said in the chat, the commit operation if it goes in error handle by itself the rollback, so is not needed to run the rollback in that case, hope it help to fix the problem.

Regards

[2017-05-17 18:16] Raycoms opened #7426 "ArrayIndex out of bound error"
### OrientDB Version: <version here>
Newest
### Java Version: <version here>
8
### OS: <os here>
Linux

com.orientechnologies.orient.core.exception.ODatabaseException: Error on retrieving record #18:23497 (cluster: node_1)
	DB name="OrientDB3"
	at com.orientechnologies.orient.core.db.document.ODatabaseDocumentTx.executeReadRecord(ODatabaseDocumentTx.java:1926)
	at com.orientechnologies.orient.core

[2017-05-18 05:12] PhantomYdn opened #7427 "Possible NPE when switching from 2.2.19 to 2.2.20"
### OrientDB Version: 2.2.20
### Java Version: OpenJDK 8
### OS: linux

## Expected behavior
There is the following SQL:
[code]
"myField" is LINKSET/LINKLIST.
If this field is empty for all documents of ClassA this SQL should return 0

## Actual behavior
Starting 2.2.20 this SQL began return "null" which might lead to NPE in consuming code.

Please let me know if starting 2.2.20 it's expected beha

[2017-05-18 06:12] Shanery commented on #7365
I'm getting the same error but on editing a vertex.

It happens on the default editor (not graph). When you click on a rid (eg. #21:0) and start editing, saving an embedded creates this error.

[2017-05-18 11:05] nishantkumar1292 commented on #5707
I am also facing the same issue.
`Caused by: com.orientechnologies.orient.core.exception.OStorageException: Can not open storage it is acquired by other process
	DB name="test"`
Is this issue still there or is it solved?

[2017-05-18 19:29] careerscale opened #7429 "Transaction management issues with gremlin api in orient 3.0, roll back doesn't work"
### OrientDB Version: 3.0 snapshot
### Java Version:  1.8
### OS: windows

## Expected behavior
test case should pass. data should not get saved.

## Actual behavior
data doesnt get saved at all.

## Steps to reproduce
https://github.com/careerscale/orientdb-demo/blob/master/orientdb-java-sample/src/test/resources/testSchema.sql

https://github.com/careerscale/orientdb-demo/blob/master/orientdb-ja

[2017-05-18 19:33] careerscale opened #7430 "Multiple vertices of same class do not get saved in single transaction - with sequence"
### OrientDB Version: 3.0 snapshot
### Java Version: 1.8
### OS: windows

## Expected behavior
Multiple vertices are not being saved, test case  creates multiple Vertices (of User and Bonus types)  in a single transaction but what gets saved is only one per type.  We had same problem with orientdb-graphdb api earlier and as per the suggestion moved to gremlin, but here too I seem to have problem.

[2017-05-18 20:12] maggiolo00 commented on #7429
Hi @careerscale

for inline properties you should use this syntax

[code]

see here

http://tinkerpop.apache.org/docs/current/reference/#_the_graph_structure

[2017-05-18 20:16] maggiolo00 commented on #7429
I tried to run your test and the data got saved in `V` instead of `User`.
The Object[].. params should be multiple of two and contains the couple

`T.label , "Class"` so the vertex is saved with in the right class

[2017-05-18 20:19] maggiolo00 commented on #7430
It should be the same as
https://github.com/orientechnologies/orientdb/issues/7429
If you check on `V` you will find the data. Use `T.label , "class"`  in order to save in the right
class

Thanks

[2017-05-18 21:13] careerscale commented on #7429
Thank you @maggiolo00
Yes, it worked that way, but I see my original problem of transaction not able to save multiple vertices of same type.

[2017-05-18 21:20] careerscale commented on #7430
@maggiolo00, I made a mistake in giving correct unit test code, updated the class information. it is  OrientDbTest.java

[2017-05-18 21:28] careerscale commented on #7429
test method, testWithTransactionRollback() was supposed to rollback the data right?  as you may see in  the console, exception about mandatory field is printed, and I was expecting a transaction rollback to get triggerred and revert other data (User and Bonus vertices) be rolled back.

[2017-05-18 21:38] maggiolo00 commented on #7429
hi @careerscale

if i execute `performTransactionWithRollBack` instead of `performTransaction` no vertices/edges are written in the database

[2017-05-18 21:46] maggiolo00 commented on #7429
maybe you are referring to the OrientDbTest.java test

[2017-05-18 21:48] careerscale commented on #7429
Updated this test code (OrientDbTransactionTest.java) with 2 different scenarios (one for each bug). can you please check and let me know if you are able to reproduce it?

[2017-05-18 21:53] careerscale commented on #7430
I am depending on sequence to generate the id and there seems to be an issue around how sequence is generated in OrientDB.

If we look at the script, as per @luigidellaquila  suggestion earlier, I am using the auto increment feature  (see the bolded text below)
# select expand(classes) from metadata:schema
ALTER DATABASE DATETIMEFORMAT "yyyy-MM-dd'T'HH:mm:ss.SSS'Z'"

# Master data
CREATE CLASS BV

[2017-05-18 21:55] careerscale commented on #7430
@maggiolo00 , is this something we can discuss through phone or chat?

[2017-05-18 22:15] maggiolo00 commented on #7429
Hi @careerscale

yes i was able to reproduce it.
I've checked and seems that there now the TP3 implementation does not implement auto start of the transaction. If manually begin the tx like this

[code]

`createUserTransactionWithRollbackTest` passes

but still `createUserTransactionTest` does not pass because if the duplicate id and the tx fails

[2017-05-19 04:00] careerscale commented on #7429
@maggiolo00 , the core part of this bug was about transaction rollback so this issue (7429) is good to be closed. thanks for the clarificatons

[2017-05-19 05:56] #7429 closed

[2017-05-19 05:56] lvca commented on #7429
Cool, thanks.

[2017-05-19 05:56] lvca commented on #7429
@maggiolo00 do you want to open a new bug for the TP3 auto-tx?

[2017-05-19 05:57] careerscale commented on #7429
cant we use 7430? for that purpose?

[2017-05-19 06:13] careerscale commented on #7425
I will update you today/tomorrow, we are modifying all our code to use gremlin, earlier we use document api and graph api (TP 2.6).  if we can not hit this issue again for a week or so, may be we can close this issue. So I will keep you posted.

Having too many APIs is confusing, I think you should deprecate some of the APIs and let only 1 or 2 ways exist for the customers like me. More choices me

[2017-05-19 06:13] lvca commented on #7391
We pushed a fix a few hours ago that seems the very same bug. Could you please build an OrientDB distribution from 2.2.x and check if this is working now? Thanks in advance.

[2017-05-19 07:24] karolmie1 opened #7432 "Selective Property key is reserved: id error"
### OrientDB Version: 2.2.20

I've created class Project with property id:

[code]

However, when trying to do that from java api:

[code]

I receive error: `java.lang.IllegalArgumentException: Property key is reserved for all elements: id`

This is ok, I found related issue, and I understand why this exception has to be thrown, and how to disable it: https://github.com/orientechnologies/orientdb/

[2017-05-19 07:37] DienNM opened #7433 "Help on query using indexing of Edge"
### OrientDB Version: 2.2.16
### Java Version: 1.7
### OS: Ubuntu

I do the query to get top of edges from given rid.
Product is vertex, Relation is Edge. "times" is a property of Relation that tracks the weight of relationship of 2 products.

I want to get top 10 of links with highest time. I do index on "times":
CREATE PROPERTY Relation.times LONG
CREATE INDEX Relation.times NOTUNIQUE_HASH_INDEX

[2017-05-19 08:02] lvca commented on #7425
TP2.6 is for compatibility only, WDYT @tglman @santo-it to make this more clear in the download page and in the documentation?

[2017-05-19 08:11] ray3888 commented on #7391
I tried to start orientdb with -Ddistributed=true in IDEA, but have following exception, did I miss something.
BTW I can start with -Ddistributed=false, and pass the test case.

[2017-05-19 08:39] lvca commented on #7391
Which release are you using? The error is `File with name internal.pcl does not exist in storage db1`. It looks like some file is missing?

[2017-05-19 09:01] maggiolo00 commented on #7429
Hi @careerscale

it's better to track it to another issue. I think that 7430 is related to sequence and not
tx management.

[2017-05-19 09:26] ray3888 commented on #7391
I can start it using branch 2.2.18, but after checkout to 2.2.x , it fail to start .  with same config.

[2017-05-19 11:02] maggiolo00 commented on #7430
Hi @careerscale

i was able to reproduce it. I'm working on a fix

Thanks

[2017-05-19 11:13] tglman commented on #7432
hi @karolmie1,

Yes this is a inconsistency due to the fact that the TinkerPop has some constraint that orientdb itself don't have, so the "id" field is an reserved field in TinkerPop(that is third party standard), and we have no reason to have the "id" field reserved in OrientDB core itself, anyway since 3.0 we are deprecating TinkerPop 2.x supporting TinkerPop 3.0 and providing a orient specific

[2017-05-19 11:38] tglman commented on #7425
hi @lvca,

Yes we are going to update that, in the documentation we refer to TinkerPop 2 as backward compatible [here](http://orientdb.com/docs/3.0.x/release/3.0/What-is-new-in-OrientDB-3.0.html#integration-with-apache-tinkerpop-2x), but we can make more clear that is deprecated

[2017-05-19 11:57] #7432 closed

[2017-05-19 12:58] laa opened #7434 "Iterating over SB-Tree is lacking one element"
### OrientDB Version: 2.2

I have the following graph:

[code]

The HAS_ITEM edge is indexed using an SB-Tree index.

I iterate over the SB-Tree index by specifying the id of root.

```OIndexCursor cursor = index.iterateEntriesMajor(new OCompositeKey(key), true, true);```

My tests fail because one item was not returned. This behavior does not occur if I change the order:

```OIndexCursor cursor =

[2017-05-19 12:59] metapp commented on #7172
I'm experiencing the same problem as @sbespalov did, even on version 2.2.20. I am using the vertx framework along with orientdb. I get this error only when saving a second entity (different cluster/class but same database) the first save goes through fine. I'm not sure if the first save locks the db. I have included my stacktrace below. I would appreciate any help on this. I have been struggling f

[2017-05-19 13:16] laa commented on #7172
@metapp could you send us complete stack trace as separate gist?

[2017-05-19 13:22] careerscale commented on #7429
yes, makes sense.

[2017-05-19 13:38] ray3888 commented on #7391
the test case passed just now, thanks.
will run other test cases later.

[2017-05-19 13:38] careerscale commented on #7430
Thank you @careerscale

[2017-05-19 14:55] lvca commented on #7391
Cool, I'm closing this exception, in case the problem persists, please comment this issue, so I can reopen it. Thanks.

[2017-05-19 14:55] #7391 closed

[2017-05-19 16:40] lvca commented on #7400
@robfrank does Spring Data have a retry mechanism with annotations?

[2017-05-19 17:47] maggiolo00 commented on #7430
Hi @careerscale

I've provided a fix to Sequence.

[2017-05-19 17:47] #7430 closed

[2017-05-19 18:07] careerscale commented on #7430
Excellent, thank you. Will check with next snapshot once it is built

[2017-05-19 22:46] TropicalPenguin opened #7435 "Inline LinkList of Batch Variables in Vertex Creation"
### OrientDB Version: 2.2.18
### Java Version: openjdk version "1.8.0_131"
### OS: Ubuntu 17.04

## Expected behavior

Expect to be able to specify a LINKLIST inline in the SET clause of CREATE VERTEX, when this LINKLIST is composed by evaluating batch variables.

## Actual behavior

I get the following OValidationException when I try to define the LinkList inline, rather than defining a batch var

[2017-05-22 00:28] MarcinMichalik commented on #2523
I have the same problem.

I add to myClass for some records _allReader for reader user.

[code]

[2017-05-22 01:15] dineiar commented on #4181
This is still happening. I'm experiencing the same issue with OrientDB Community v2.2.20 and `storage.useWAL=false`
I'm not sure if my configurations are being ignored or if it's just the console showing the wrong values on read.

[2017-05-22 01:36] dalegarv opened #7436 "Documentation for setting network connection pool size is incorrect"
### OrientDB Version: 2.2.20 Enterprise
### Java Version: 1.8
### OS: SLES

## Expected behavior
The manual should say to use OGlobalConfiguration.CLIENT_CHANNEL_MAX_POOL.setValue() in order to override the default value.

## Actual behavior
The manual says to use database.setProperty("maxPool", n);

## Steps to reproduce
The OGlobalConfiguration value is used no matter what the maxPool property i

[2017-05-22 01:45] dalegarv opened #7437 "Updating a LINKLIST property using the document API sometimes doesn't work in distributed mode."
### OrientDB Version: 2.2.18 Enterprise
### Java Version: 1.8
### OS: SLES

## Expected behavior
Updating a LINKLIST should always work.

## Actual behavior
Sometimes the update works, but sometimes it doesn't.

## Steps to reproduce
Retrieve an ODocument that has a LINKLIST value and try to update it with another LINKLIST in a distributed environment.  Repeatedly run the exact same test case and

[2017-05-22 06:05] andreyvk commented on #7410
@laa The issue seems to be fixed now with latest PhpOrient 1.2.6. Thank you very much again for your help!

[2017-05-22 09:02] nishantkumar1292 commented on #1988
Even though this error is closed, I keep getting this.
Error: java.lang.IllegalStateException: Cannot create a new index inside a transaction
What is meant by inside a transaction?

[2017-05-22 10:18] tglman commented on #1988
hi @nishantkumar1292,

the DDL operation (like create class/create property/create index) are not allowed when a transaction is running, so you cannot do
[code]

with a snippet like this you will bet `Error: java.lang.IllegalStateException: Cannot create a new index inside a transaction `

Hope this help

[2017-05-22 10:23] #2523 closed

[2017-05-22 10:23] tglman commented on #2523
hi @MarcinMichalik,

For get a session with different user you should do a new open, you cannot set the user in this way skipping the authentication.

I'm going to close this issue as invalid because the setUser API is going to be removed in future versions, and actually it shouldn't have been public in the first place. The only way to switch user is do an open with the specified user.

Regards

[2017-05-22 10:42] luigidellaquila commented on #7416
Hi @SafwanHak

This is one of the known limitations in v 2.2 that is already fixed in 3.0.
Unfortunately there is no way to fix it in current stable, the only work-around is to declare the sorting properties in the projection

Thanks

Luigi

[2017-05-22 10:42] #7416 closed

[2017-05-22 10:56] luigidellaquila commented on #7420
Hi @amirmhzadeh

Unfortunately that constraint is part of Apache TinkerPop standard, so as long as you use TP the only way to disable it is to set `standardElementConstraints` to false.

In V 3.0 we will have a core multi-model API with graph capabilities that does not have this limitation, but in 2.2 there is no alternative unfortunately.

Thanks

Luigi

[2017-05-22 10:56] #7420 closed

[2017-05-22 11:34] nishantkumar1292 commented on #1988
I am doing this in a rails application and created a standalone function for this. But it is still giving me this error. I ran this function immediately after creating the database.
Did I miss something?

[2017-05-22 12:24] #7224 closed

[2017-05-22 12:26] SafwanHak commented on #1988
Are you using oCommandScript?

Sent from my iPhone

[2017-05-22 12:29] laa commented on #7426
Do you have any additional description? Is this exception thrown inside the tests or this exception is thrown on a production server? What from the point of view is the newest version? Are you able to reproduce this exception one more time? Do you have OOM or server crash before this exception happened? Is database was created under the same version which is used when you got this exception?

[2017-05-22 12:33] Zakjholt commented on #7308
Also experiencing the same error using any gremlin traversal query with the .groupBy and .cap pipes.
OrientDB version 2.2.20

[2017-05-22 12:48] #6647 closed

[2017-05-22 12:48] robfrank commented on #6647
tested with 2.2.20: all work fine

[2017-05-22 12:51] #7349 closed

[2017-05-22 12:51] luigidellaquila commented on #7349
Hi @mcaramma

This issue was caused by a fix we made in v 2.2.20. In previous versions, records containing only null values were (wrongly) discarded, now they are correctly returned.

There was also a bug with sum() function, that returned `null` instead of zero in case no values were summed.
We just pushed a fix for this bug as well, it will be released in 2.2.21.

To recap: the correct behavior

[2017-05-22 12:52] luigidellaquila commented on #7427
Hi @PhantomYdn

I just pushed a fix on 2.2.x. The fix will be released with 2.2.21

Thanks

Luigi

[2017-05-22 12:52] #7427 closed

[2017-05-22 12:54] luigidellaquila commented on #7433
Hi @DienNM

How many edges does that vertex have?
Could you please try the following and see if it performs better?

[code]

Thanks

Luigi

[2017-05-22 12:58] laa commented on #5707
@nishantkumar1292 two processes by design can not open the same database. But why you have it in ETL that is a good question. Could you open separate issue in ETL project?

[2017-05-22 13:46] careerscale opened #7438 "OrientDB 3.0 delete doesnt work in a transaction"
### OrientDB Version:  3.0
### Java Version: 1.8
### OS:  Windows 7 /10

## Expected behavior
Delete should work within a transaction scope (when  graph.begin() is used).

## Actual behavior

Test case fails, delete doesn't work with graph.begin(), works without it.

## Steps to reproduce

run the schema
https://github.com/careerscale/orientdb-demo/blob/master/orientdb-java-sample/src/test/resourc

[2017-05-22 15:11] maggiolo00 commented on #7438
Hi @careerscale

thanks for the test, let me check it

[2017-05-22 15:51] nivedita-p opened #7439 "Not able to log to SysLog"
### OrientDB Version: <2.2.19>
### Java Version: <1.7.031>
### OS: <Ubuntu 14.04 LTS>

## Expected behavior
Log events to Syslog

## Actual behavior
java.lang.ClassNotFoundException: com.orientechnologies.security.syslog.ODefaultSyslog
        at java.net.URLClassLoader$1.run(URLClassLoader.java:359)
        at java.net.URLClassLoader$1.run(URLClassLoader.java:348)
        at java.security.AccessC

[2017-05-22 16:09] careerscale commented on #7438
Thanks @maggiolo00

[2017-05-22 18:42] tglman commented on #7308
hi @jmau2002, @Zakjholt

The reason why you get this error is because we do not support result sets of collection types in the binary protocol, I just pushed a fix in the integration between orient and gremlin that convert this kind of results in result set of documents, that are correctly handled by the binary protocol fixing the problem.

the fix will be release in 2.2.21

Regards

[2017-05-22 19:52] careerscale opened #7440 "DepthFirstTraverseStep.java minor typo in explain plan"
### OrientDB Version: 3.0
### Java Version: 1.8
### OS:  Windows 7/10

## Expected behavior
There shouldnt be any typo.

## Actual behavior
First is misspelt as FRIST in DepthFirstTraverseStep.java

    result.append("+ DEPTH-FRIST TRAVERSE \n");

## Steps to reproduce

DepthFirstTraverseStep.java

[2017-05-23 06:58] DienNM commented on #7433
Thank you Luigi.

It works!

[2017-05-23 06:58] #7433 closed

[2017-05-23 07:41] luigidellaquila commented on #7440
Thank you very much @careerscale, I just fixed the typo

Luigi

[2017-05-23 07:41] #7440 closed

[2017-05-23 09:12] nishantkumar1292 commented on #1988
Not using oCommandScript.
Using [active-orient](https://github.com/topofocus/active-orient) gem.
ORD.execute to run the query in case of complex once.

[2017-05-23 10:00] tglman commented on #7438
hi @careerscale,

we checked reproduced and we are working on a fix, the fix is going to land in 1/2 days.

Regards

[2017-05-23 10:05] nishantkumar1292 commented on #5707
I have a Rails application which communicates with OrientDB and renders many views and logics.
However I would like to do ETL on this database and for this I need to create json files and run data insertion. But I am getting the above error.

[2017-05-23 14:23] likesh1980 commented on #7235
Hello @laa and/or @robfrank, please advise if any updates on this issues as this is a driving factor for us to decide whether to use orientdb or not.

[2017-05-23 14:24] likesh1980 commented on #7235
I closed by mistake. Hence reopening and hoping some response from @laa and/or @robfrank, please advise if any updates on this issues as this is a driving factor for us to decide whether to use orientdb or not.

[2017-05-23 14:48] charbp commented on #4532
Update? Two years later, Enterprise 2.2.19 bug still there, restarting the server can cause an application to fail if you are unaware of the bug.  Is this problem at least well documented in the Orient site, especially under starting the server or using functions?  One more important point, if you call a function before a manual query, the workaround of manually calling query (from browse window i

[2017-05-23 15:01] zhangshusheng opened #7441 "Relational data import into graph database"
### OrientDB Version: 2.2.18
### Java Version: jdk1.8.0_60
### OS: CentOS7

## Expected behavior
Import relational data into graph database.
The data is generated by BigBench. It has 23 tables and only 1 GB.

## Actual behavior
The speed of import is too slow. Sometimes, importing a table needs several days.
Why is this happening?

## Steps to reproduce
 The content of one import configuration .js

[2017-05-23 16:12] maggiolo00 commented on #4532
@charbp
Btw this is not the ticket for your issue. This is for support of gremlin language as a possible target for functions

[2017-05-23 16:14] maggiolo00 commented on #4532
I will check your problem of manually call a function

[2017-05-23 16:16] maggiolo00 commented on #4532
@charbp

how can i reproduce it?

[2017-05-23 16:54] charbp commented on #4532
This was for #3906, but said this tix would fix as side effect I guess.  This for example, using studio, but also for an application. If you have a database with a function saved and you restart the database and call the function first (with a REST call, or pressing 'Execute' in studio, it will not work. You need to make a query in browse first, like g.v('#rid').  Then the function will work. If h

[2017-05-23 19:49] lvca commented on #7441
Have you tried using Teleporter in the OrientDB Enterprise Edition trial?

[2017-05-23 20:11] careerscale opened #7442 "OrientDB 3.0 Impossible to read a chunk of length:309751660 max allowed chunk length:16777216"
### OrientDB Version: 3.0 snapshot
### Java Version: 1.8
### OS:  Win 7

## Expected behavior
Application should work normally

## Actual behavior
Exception in thread "Thread-15" com.orientechnologies.common.io.OIOException: Impossible to read a chunk of length:309751660 max allowed chunk length:16777216 see NETWORK_BINARY_MAX_CONTENT_LENGTH settings
	at com.orientechnologies.orient.enterprise.cha

[2017-05-23 21:11] careerscale commented on #7442
When I started getting this exception, I was not able to make it work (even when I worked with schema that worked before). Even tried to delete  the orientdb folder and extracted the snapshot copy of (may 22nd), but with no luck.

I could make it(my previous schema and  work with May 23rd snapshot zip file ([downloading fresh](https://oss.sonatype.org/content/repositories/snapshots/com/orientechno

[2017-05-23 21:13] careerscale commented on #7442
Looks like it is nothing to do with schema changes I have done, but something broke with the snapshot libraries.

[2017-05-24 01:07] zhangshusheng commented on #7441
Hi Ivca,
I use the OrientDB Community Edition. Is there any solution?
And is Enterprise Edition free?

[2017-05-24 03:20] careerscale commented on #7442
@tglman

Should we increase NETWORK_BINARY_MAX_CONTENT_LENGTH value?

[2017-05-24 04:25] careerscale commented on #7430
It worked earlier but looks like not working again, is there any change? @maggiolo00

[2017-05-24 07:30] careerscale commented on #7438
Thanks,

the current snapshot is not stable, so once it is, will be able to validate it.

[2017-05-24 08:58] tglman commented on #7442
hi @careerscale,

we did some changes on the binary protocol in the last couple of days so the client and the server snapshots should be both updated, the error you are getting means that the client and the server are not aligned increase the NETWORK_BINARY_MAX_CONTENT_LENGTH it wont fix it. we had some issues last couple of builds and we are working on stabilize them right now.

Regards

[2017-05-24 09:15] rdelangh opened #7443 "unionall() fails with single element"
### OrientDB Version: 2.2.18 build UNKNOWN@rf31f2e10de758cbdef4cee27451b4065b94d9ce2; 2017-03-04 00:50:53+0000

## Expected behavior
We have a SQL-query builder, which -in one of the subqueries- uses "unionAll()" in a generic way to combine the results of one or more subqueries:
[code]
In cases where there is more than 1 subquery, and hence more than 1 variable inside the "unionAll()", the results

[2017-05-24 09:57] luigidellaquila commented on #7443
Hi @rdelangh

`unionAll()` function, when used with a single input value, is evaluated as an aggregate function, ie. it aggregates results coming from query target (and your query has no target...)

Try this to get what I mean:

[code]
You will obtain
[code]

Thanks

Luigi

[2017-05-24 09:57] #7443 closed

[2017-05-24 10:21] laa commented on #7426
Hi, @Raycoms could you answer our questions?

[2017-05-24 10:37] rdelangh commented on #7443
hi Luigi,
can you please define "target" in "(and your query has no target)" ?
thx
Rob

[2017-05-24 10:49] luigidellaquila commented on #7443
Hi @rdelangh

For target I mean the FROM of the query, eg. a class or a subquery

Thanks

Luigi

[2017-05-24 11:12] maggiolo00 commented on #7430
hi @careerscale

i've provided also a test case for regression, seems strange.
Which error do you get?

is the test case always the same?

[2017-05-24 11:17] careerscale commented on #7430
I think it is to do with other changes and the stability of the build itself,  we are using graph.getRawDatabase().newVertex(..) to create new vertex in many places (we are moving to pure TP 3.0 one as soon as possible), this was working fine and started breaking from yesterday's snapshot.

[2017-05-24 11:27] careerscale commented on #7430
no i think I dont have  a unit test for this approach yet, I want to move to using TP 3.0 though.

[2017-05-24 11:34] careerscale commented on #7442
Hi @tglman

Thanks for the clarification, btw is the current build supposed to work if the client and core libraries are same as that of  orientdb server in my  project dependencies? I thought that is the case for me.

[2017-05-24 12:20] Raycoms commented on #7426
The exception is thrown in my thesis tests, it seems to be related to
concurrent access on the database within the server. I was able to
reproduce this easily.
I don't have OOM or similar and the database has been created under the
same version.
Version 2.2.1.7

2017-05-24 7:21 GMT-03:00 Andrey Lomakin <notifications@github.com>:

[2017-05-24 12:25] tglman commented on #7442
hi @careerscale,

Yes if the client and server are from the same snapshot have to work otherwise there is a bug, anyway yesterday we had some issue on our build so I'm not sure if the snapshot pushed online was perfect, anyway today want back to normal so you shuldn't have any problem with last snapshot.

Regards

[2017-05-24 12:49] careerscale commented on #7442
Ok, how do I use a specific snaphsot version? I want stick to a working version all the time to avoid loss of productivity by my team

I get this error:
[ERROR] Failed to execute goal on project mlm-data: Could not resolve dependencies for project com.calliduscloud.mlm:mlm-data:jar:1.0-SNAPSHOT: Could not find artifact com.orientechnologies:orientdb-gremlin:jar:3.0.0-20170524.114316-570 in sonatyp

[2017-05-24 13:21] careerscale commented on #7442
build looks fine today, now I want to lock to this version for my team.

[2017-05-24 13:34] careerscale commented on #7430
looks good with latest snapshot. yesterday's snapshot was bad one

[2017-05-24 14:41] luigidellaquila commented on #7435
Hi @TropicalPenguin

I just pushed a fix for this in 2.2.x, the fix will be released with 2.2.21

Thanks

Luigi

[2017-05-24 14:41] #7435 closed

[2017-05-24 14:44] laa commented on #7426
Hi, @Raycoms thank you very much for the answer. Could you send us test which you used to reproduce this exception? I will be very grateful for that.

[2017-05-24 16:29] lvca commented on #7441
You can use Teleporter by downloading the Enterprise Edition trial for FREE and use it for 45 days to complete the importing, then once the database has been imported you can use the Community Edition that is Apache 2 (FREE).

[2017-05-24 18:11] Raycoms commented on #7426
I think running two of those:
https://github.com/Raycoms/thesis/blob/working/src/main/java/main/java/com/bag/server/database/OrientDBDatabaseAccess.java
Should cause this problem after a certain amount of requests.
My test cases are quite complex and require up to 8 servers to correctly
reproduce, and, I unfortunately don't have the time to create a isolated
test to reproduce it since I have to fi

[2017-05-24 18:29] careerscale opened #7444 "Transaction rollback without giving right reason, every reason boils down to just "No Transaction Active""
### OrientDB Version:  3.0 snapshot latest
### Java Version: 1.8
### OS:   Win 7

## Expected behavior
Transaction should happen or fail and appropriate error should be thrown, not some abstract "No Transaction Active",

When I debugged my code and orient db code,, found that there is a constraint that failed, but no where it is clear about the issue, the exception stack should provide actual reas

[2017-05-24 19:13] Kent767 opened #7445 "SQL LIKE Operator not performing correctly."
### OrientDB Version: 2.2.20

### Java Version: 8
### OS: Ubuntu 17

## Expected behavior
LIKE Operator should return all vertices which match the search pattern.

## Actual behavior
It seems the LIKE operator only supports up to 2 % characters, which is inconsistent with normal SQL Like behavior.

## Steps to reproduce
Create a Vertex with property Code = "Test"

select from V where Code like '%T

[2017-05-24 19:39] Kent767 commented on #7445
Confirmed that this is also an issue in Version 3.0

[2017-05-24 20:34] careerscale commented on #7442
Looks good, so closing this issue

[2017-05-24 20:34] #7442 closed

[2017-05-24 20:36] careerscale commented on #7425
Let us close this one. I dont think there is any open item here. But  https://github.com/orientechnologies/orientdb/issues/7444 is a open issue though.
These 2 look related to me.

[2017-05-24 21:22] careerscale commented on #7444
This code simply consumes the actual exception and never throws back the reason for the error.

From : ODatabaseDocumentAbstract.java

`    try {
      currentTx.commit(force);
    } catch (RuntimeException e) {
      OLogManager.instance().debug(this, "Error on transaction commit", e);

      // WAKE UP ROLLBACK LISTENERS
      for (ODatabaseListener listener : browseListeners())
        try {

[2017-05-25 06:22] luigidellaquila commented on #7445
Hi @Kent767

LIKE operator is implemented to only consider wildcards at the beginning or at the end.
You can use MATCHES instead, passing a regular expression (Java syntax - https://docs.oracle.com/javase/7/docs/api/java/util/regex/Pattern.html), eg.

[code]

In the meantime I'm marking this as an enhancement, probably we will extend the behavior of LIKE operator in the future

I hope it helps

Th

[2017-05-25 07:26] lvca commented on #7441
Do you mean with the ETL?

[2017-05-25 08:44] jez1 opened #7446 "Unable to create new users in distributed setup"
### OrientDB Version: 2.2.15
### Java Version: 1.8
### OS: CentOS 6.8

Identical to issue #6307 - doesn't appear to have been fixed in version 2.2.15

[2017-05-25 11:39] ozgursucu commented on #4605
Hi @luigidellaquila,
This problem arises orientdb 3.0 again.

[2017-05-25 12:48] zhangshusheng commented on #7441
Yes, importing database with the ETL is too slow, as the above problem I mentioned.
What is the cause? Is the relationship between tables is too complex that creating one class(vertices) needs other linked class(edges) ?

[2017-05-25 13:28] taburet opened #7448 "Index key locking is broken on mutable keys"
Some index keys, like ORIDs and OCompositeKeys containing ORIDs, may be mutated during the record insertion. As a result, key locking for such keys is not reliable. We already have the fix for that – micro transactions in `micro-tx` branch, but the locking order should be changed. First, we must lock the clusters, then update the record identities and then lock the indexes.

Micro transactions mus

[2017-05-25 13:34] taburet opened #7449 "lockAllExclusive/unlockAllExclusive is broken in OOneEntryPerKeyLockManager and OIndexOneEntryPerKeyLockManager"
Proper `lockAllExclusive/unlockAllExclusive` implementation must be provided for `OOneEntryPerKeyLockManager` and `OIndexOneEntryPerKeyLockManager` since current implementation doesn't really lock all keys and it's prone to deadlocks.

[2017-05-25 14:37] lvca commented on #7448
Can't you just copy the ORID?

[2017-05-25 15:12] tglman commented on #7448
hi All,

I've been playing with rid generation and remote tx in the last couple of days, we have some issue there with the changing rid and as well the cluster selection and hooks management.

The only embedded tx follow a different flow so my plan is remove this different flow and fix all rid mutation related issues.

Regards

[2017-05-25 15:30] tglman commented on #7442
hi @careerscale,

good to know that now it works, if you need you to lock SNAPSHOTS you can follow this: http://www.mojohaus.org/versions-maven-plugin/examples/lock-snapshots.html.

Regards

[2017-05-25 17:04] taburet commented on #7448
The problem is that we lock wrong keys, copying wont help here. If we insert a record, which contains a "temporary" rid as a value, we lock this temporary rid-key and the corresponding index, after that we convert the rid into a persistent one. That's ok in most cases since the index is wholly locked as a component, but for auto-sharded indexes we may lock the wrong shard corresponding to the old

[2017-05-25 23:30] careerscale opened #7450 "NPE while trying to create vertex with no properties set"
### OrientDB Version: 3.0 snapshot
### Java Version: 1.8
### OS: Win 7

## Expected behavior
we should be able to create vertex without properties, as per logic, our application will feed properties later, but getting null pointer.

Same result from console and browser too.

## Actual behavior
Throws up nullpointer

## Steps to reproduce
CREATE CLASS Person EXTENDS V;
CREATE PROPERTY Person.name S

[2017-05-26 05:14] careerscale commented on #7450
Please check the edge too.

[2017-05-26 06:02] careerscale opened #7451 "Orient 3.0 - No automatic rollbacks when exception happens"
### OrientDB Version: 3.0
### Java Version: 1.8
### OS: Win 7

## Expected behavior
We are using gremlin api (TP 3.0) and everything working fine with 3.0 with latest snapshots.

one issue we see is that we need to add rollback as a manual step, but as per my understanding,
graph.rollback() is not required (also we removed the graph.begin() as it seemed implicit)

## Actual behavior
partial data i

[2017-05-26 07:02] TropicalPenguin opened #7452 "Can't use Batch Variable as TRAVERSE Target"
### OrientDB Version: 2.2.18
### Java Version: openjdk version "1.8.0_131"
### OS: Ubuntu 17.04

## Expected behavior
Just as we can pass a record ID as the target for TRAVERSE, an equivalent batch variable should (as under **Steps to reproduce**, below) also work.

Hopefully this is related to #7435

## Actual behavior
The following batch executes, but it returns an empty result. Which is differe

[2017-05-26 07:16] careerscale opened #7453 "Orient 3.0 - Unique index on edge is not working as expected"
### OrientDB Version: 3.0
### Java Version: 1.8
### OS:  Win 7

## Expected behavior
The constraint like this one below
create property LIVES_IN.out LINK User;
create property LIVES_IN.in LINK Address;
create index UNIQUE_LIVES_IN on LIVES_IN(out,in) unique;

should ensure something like this

Luca LIVES_IN London
Luca LIVES_IN Rome
Luigi LIVES_IN Rome

work fine, and when we get same relation twi

[2017-05-26 07:17] careerscale commented on #7438
I think we are good with it. can be closed.

[2017-05-26 07:17] #7438 closed

[2017-05-26 07:18] careerscale commented on #7444
@lvca @luigidellaquila  someone looks at this one?  it will be of great help if we can throw actual error apart from rolling back to user, instead of consuming the exception and trying to rollback and throwing exception that is happening at rollback (ideally it shouldnt happen).

[2017-05-26 07:19] #7425 closed

[2017-05-26 09:16] luigidellaquila commented on #7450
Hi @careerscale

Thank you for the report, checking now

Thanks

Luigi

[2017-05-26 09:16] robfrank commented on #7235
Hi, I used the Jmeter configuration and your Junit test.
Jmeter works fine, no exceptions are raised inside the spring-boot application.
About the Juni test, it doesn't fail, and looking at the code if the same db is assigned to different threads at the same time it should fail, isn't it?

[2017-05-26 09:30] luigidellaquila commented on #7444
Hi @careerscale

The team is already working on it, unfortunately it's not trivial.
You'll have an update soon

Thanks

Luigi

[2017-05-26 10:03] tglman commented on #7438
Hi @careerscale,

Thank you to let us know.

Regards

[2017-05-26 13:16] luigidellaquila commented on #7450
Hi @careerscale

I just pushed a fix for this on develop branch

Thanks

Luigi

[2017-05-26 13:16] #7450 closed

[2017-05-26 23:18] TropicalPenguin commented on #7452
After a little more tinkering, it's clear that it's not so much the batch variable but the traversal itself that is failing, somehow.

If I create another class:
`CREATE CLASS lifo EXTENDS E`

and replace the three lines above COMMIT in the batch with:
[code]

... then the batch return value is not empty.

[2017-05-27 00:08] RyanTopps opened #7454 "Limit Password Attempts on User Login"
### OrientDB Version: 2.1.3
### Java Version: 8
### OS: Ubuntu 16.04

## Expected behavior
I want to see if there is way for the database to limit login attempts per ip to prevent brute force attacks.

## Actual behavior
I can see no way to implement this without having a separate host or process to handle the blocking of repetitive login queries.

## Steps to reproduce
Just use any api and you ca

[2017-05-27 00:29] careerscale opened #7455 "Vertex.value java.lang.IllegalStateException: The property does not exist as the key has no associated value for the provided element"
### OrientDB Version: 3.0
### Java Version: 1.8
### OS:  Win 7

## Expected behavior
either empty or null should be returned

## Actual behavior
java.lang.IllegalStateException: The property does not exist as the key has no associated value for the provided element: v[#25:0]:test
	at org.apache.tinkerpop.gremlin.structure.Property$Exceptions.propertyDoesNotExist(Property.java:155)
	at org.apache.t

[2017-05-27 08:41] G4br13l3 commented on #7455
Hi careerscale,
thanks for your test case, your contribute is really important to us in order to improve the next 3.0. We are going to reproduce the issue and investigate.
Meanwhile can you give us some more info about your system environment please?
We will let you know as soon as possible.
Your contribute is really important to us in order to improve the next 3.0.

Thanks.

Gabriele

[2017-05-27 13:15] careerscale commented on #7455
run the schema first https://github.com/careerscale/orientdb-demo/blob/master/orientdb-java-sample/src/test/resources/test.sql

then running the test will fail the test with exception.   Please let me know if you need any specific informaton

[2017-05-27 14:54] careerscale commented on #7455
@G4br13l3
When I wrote in memory test, it worked fine, but with remote it failed,  I think this bug goes into gremlin and not in orientdb. I am not sure. please suggest.

https://github.com/careerscale/orientdb-demo/blob/master/orientdb-java-sample/src/test/java/com/orientdb/samples/test/TransactionalTestsOrientGraph3InMemory.java

[2017-05-27 15:10] G4br13l3 commented on #7455
Thanks for all the details @careerscale, we'll investigate your user case.

[2017-05-27 17:56] petervavro opened #7456 "How to do spanish characters insensitive search ?"
### OrientDB Version: v2.2.18
### Java Version: Java 8 Update 101
### OS: macOS Sierra 10.12.14

## Expected behavior
I am having class with columns containing names of cities in Colombia, one of them is "Cáqueza".
![screen shot 2017-05-27 at 12 48 53](https://cloud.githubusercontent.com/assets/4742672/26523359/b2aa348a-42db-11e7-87b9-016fb781aab1.png)

I would like to get this record when I searc

[2017-05-29 06:18] luigidellaquila commented on #7452
Hi @TropicalPenguin

Could you please try latest snapshot? A couple of days ago I pushed a fix that should solve this problem

Thanks

Luigi

[2017-05-29 09:52] rdelangh commented on #7286
hi Luigi,

can you please define "manual index" ? I do nowhere in the docs find any description of that term. The DICTIONARY index is listed in the docs about HASH indexes, http://orientdb.com/docs/master/Hash-Index.html
In that page, with very little description about the different types of HASH indexes, nowhere any restriction is documented where DICTIONARY (or other hash indexes) can be used an

[2017-05-29 13:07] luigidellaquila commented on #7454
Hi @RyanTopps

In ehe Community Edition there is no such feature. In the EE you can rely on Kerberos authentication, so Kerberos can manage it for you, but it's not a built-in feature of OrientDB security system.

I'm flagging it as an enhancement, maybe we will develop it in the future

Thanks

Luigi

[2017-05-29 13:15] taburet opened #7457 "Per-page checksums are broken if there were page allocations past the EOF"
Allocations past the EOF enlarge the file size, the newly allocated pages are filled with zeros, but we expect there must be a valid magic number and a checksum.

[2017-05-29 13:17] maggiolo00 commented on #7455
Hi @careerscale

the default implementation of `value(String key)` of TP3 throws `NoSuchElementException`

You should use `property(String key)` API and  use the returned  `Property` in order to check if it's
present or not.

[2017-05-29 13:25] laa commented on #7426
Hi @Raycoms, unfortunately, I do not see how to run this class. Could you provide a detailed description of steps which you used to reproduce the issue ? We will be glad to repeat them even if your test cases are complex.

[2017-05-29 13:32] robfrank commented on #7456
I think that the only way could be to define a Lucene full text index on the property, maybe using a SpanishAnalyzer, and the query it:

[code]

and then query with:

[code]

It should be tested, because I don't know if the Spanish analyzer does that. Maybe not.

reference documentations about full text support on OrientDB:
http://orientdb.com/docs/last/Full-Text-Index.html

About spanish analyzer

[2017-05-29 15:06] careerscale commented on #7455
Thanks @maggiolo00 , I didn't realize about TP3 definitions. btw for the in memory  orientdb i didnt see this exception, any reason for it.

[2017-05-29 15:07] maggiolo00 commented on #7455
@careerscale
with this test does not fail `TransactionalTestsOrientGraph3InMemory.java` ?

[2017-05-29 15:34] careerscale commented on #7455
yes, I thought the following test should fail from `TransactionalTestsOrientGraph3InMemory.java `.

I am using "value" for random name as property and it still works.

`    @Test
    public void testBugForUnknownProperty() {

        OrientGraph graph = factory.getTx();;
        graph.addVertex(CLASS_PREFIX + USER, createProperties());

        graph.commit();
        graph.close();

        graph

[2017-05-29 17:08] maggiolo00 commented on #7455
Hi @careerscale

it does not fail because it's not entering the forEach because there are no records in class `User`. You use this code to create vertex

[code]

but the syntax with "class:" was for TP2 that didn't support label.

In TP3 you should use it in this way

[code]

[2017-05-29 18:50] careerscale commented on #7455
that is my bad, thanks for pointing it out.

[2017-05-29 19:02] careerscale commented on #7455
Ok, modified  this a bit, now I run into this exception, what does this mean? I think making the db active etc are required for document model but not for TP3 graph right (being done internally).

com.orientechnologies.orient.core.exception.ODatabaseException: The database instance is not set in the current thread. Be sure to set it with: ODatabaseRecordThreadLocal.INSTANCE.set(db);
	at com.orient

[2017-05-29 19:23] lvca commented on #7446
Reproduced, working for a fix.

[2017-05-29 19:27] lvca commented on #7446
Fixed, thanks.

[2017-05-29 19:27] #7446 closed

[2017-05-29 20:11] careerscale opened #7458 "Orient 3.0 - Issue in executing sql script on console (even from java shows similar behavior)"
### OrientDB Version: 3.0 snapshot
### Java Version: 1.8
### OS:  Win 7

## Expected behavior
Should be able to execute the script with MATCH without any problem.

## Actual behavior
Steps and error is given below

## Steps to reproduce

I tried to run simple script but somehow it doesn't work. Not sure if this is with latest snapshots or something.

Here is the script.

[code]
Here is the output,

[2017-05-29 20:12] careerscale commented on #7458
Also
I don't understand why this gets multiple vertices created with single create stmt, `script SQL CREATE VERTEX Person set name="Luca"; LET $a = (MATCH {class:Person, as:s} RETURN s); select expand($a.s); end`

[2017-05-29 20:52] careerscale commented on #7451
@tglman , @lvca  could you please suggest what should be the strategy for my team? should we add graph.rollback() on exception?  we can wait as needed if this gets resolved.

[2017-05-29 21:55] careerscale opened #7459 "Orient 3.0 - NPE with dserver.bat"
### OrientDB Version: 3.0 snapshot
### Java Version: 1.8
### OS: win 7

## Expected behavior
dserver.bat should have successful start even as a single node.

## Actual behavior
Errors out and fails

## Steps to reproduce

When tried to start using dserver.bat (I was using with server.bat all the time, wanted to try dserver.bat).

hmallepa@HMALLEPA-T450 C:\software\orientdb-community-3.0.0-SNAPSHOT

[2017-05-30 03:02] PhantomYdn opened #7460 "Class superclasses does not preserve order"
### OrientDB Version: 2.2.20
### Java Version: 7+
### OS: ubuntu

There are 3 classes:

1. ClassA
2. ClassB
3. ClassC

Lets create one more class with the following order of super classes:
ClassA, ClassC, ClassB

## Expected behavior
Expected that order will be preserved

## Actual behavior
Order break and become: ClassA, ClassB, ClassC

I do understand that order doesn't influence db schema featu

[2017-05-30 07:19] parimal-padture commented on #6664
:+1:

[2017-05-30 07:32] zeeshan2709 commented on #4436
hey,
I am using
 ```update has SET out=#20:16, in=#14:18 UPSERT WHERE out = #14:18 and in = #20:16```
It does not create the edge if not present. Is this feature not yet implemented. If not, can you suggest any workaround for this.
usecase is to create edge only if it does not exist.

[2017-05-30 09:15] lvca commented on #7459
HA component in v3.0 is not updated and less stable than v2.2.x, we're updating the 3.0 branch with them, but it will take about one week.

[2017-05-30 09:51] jez1 commented on #7446
Fantastic - many thanks

[2017-05-30 11:13] karolmie1 commented on #4436
I guess in meantime the good ol' if statement have to suffice

[2017-05-30 14:38] luigidellaquila commented on #7286
Hi @rdelangh

A manual index is an index that is not automatically maintained by OrientDB, ie. OrientDB does not update it when you insert/update/delete records in classes.

When you declare an automatic index, you define it on a class and some fields. When you add a new record to that class, OrientDB automatically indexes that record.

When you define a manual index, you do not specify any classe

[2017-05-30 14:51] rdelangh commented on #7286
grr, this is one more potential way that I hoped to use, which appears unusable for my requirement:
see #6790, where I describe how I want to have a functionality in the style of traditional databases' MERGE statement:

[code]

I hoped that the DICTIONARY hash index would have allowed me to simply INSERT again records, which -if they would appear to exist already according to the index value- woul

[2017-05-30 14:54] rdelangh commented on #7286
I can assume that you will answer that I should use a 'script'ed way to SELECT-then-UPDATE-or-INSERT the records, but mind you that such scripted way is then executed for single records only.

What we need is the possibility to bulk-MERGE or (if DICTIONARY hash index would be automatic) bulk-INSERT the outcome of a subquery, like in:
[code]

[2017-05-30 14:55] luigidellaquila commented on #7286
Hi @rdelangh

Maybe an UPDATE UPSERT will do the trick? Eg.

[code]

This will first search for a record with id = "foo" and in case it will create it. In both cases it will set name = "bar".
Also make sure to define a unique index on the `id`

Thanks

Luigi

[2017-05-30 14:56] luigidellaquila commented on #7286
Sorry, wrong syntax, the right one is:

[code]

Thanks

Luigi

[2017-05-30 15:01] rdelangh commented on #7286
hi @luigidellaquila
as described above, what you suggest is to use methods that work only for single records, of which the property-values are known to the invoking program so that it (= the invoking program) can specify these property-values in a WHERE-clause.

Our use case is that we need to UPDATE-or-INSERT a bunch of records that come from a SELECT subquery which returns some 100's or 1000's o

[2017-05-30 15:02] maggiolo00 commented on #7455
HI @careerscale
i think the problem is that you are getting another graph in the forEach
If you use the same instance it should be fine. I think we will need to change
the executeSQL in order to return a result set of  OrientVertex/OrientEdge instead of the underlying
implementation of OrientDB so you will not need to do that.

[2017-05-30 15:07] luigidellaquila commented on #7286
Uhm... ok, got it.
I think there is no SQL based solution for this, maybe you can consider using a JS function or a piece of embedded Java...

Thanks

Luigi

[2017-05-30 15:14] rdelangh commented on #7286
Javascript is an option, but where can we find substantial documentation about how to work against ODB from a JS function, for such bulk-actions ?

[2017-05-30 15:43] maggiolo00 commented on #7451
Hi @careerscale

do you have a test case for this?

[2017-05-30 18:57] TropicalPenguin commented on #7452
Yep, solved in 2.2.21-SNAPSHOT. Thanks!

[2017-05-30 18:57] #7452 closed

[2017-05-30 19:28] TropicalPenguin commented on #7081
It would be nice to also expose an ISO 8601 calendar.

[2017-05-30 19:46] imainetti commented on #7456
It seems to work

[code]

[2017-05-30 20:16] careerscale commented on #7451
https://github.com/careerscale/orientdb-demo/blob/master/orientdb-java-sample/src/test/java/com/orientdb/samples/test/TransactionTest.java

looks like only OValidationException is resulting in proper rollbacks. other scenarios are not working.

there are 2 test cases, one for positiive (working) and other for negative.

[2017-05-30 20:48] petervavro opened #7461 "WHERE ANY() TRAVERSE(... Error parsing query"
### OrientDB Version: v2.2.18
### Java Version: Java 8 Update 101
### OS: macOS Sierra 10.12.14

## Expected behavior
Running :
SELECT * FROM `Service` WHERE ANY() TRAVERSE(0, 3) ( ANY().toUpperCase().indexOf('danger') > -1 )

Where Service table exists and has 2 * vertex.

## Actual behavior
Getting :
<img width="1180" alt="screen shot 2017-05-30 at 15 43 34" src="https://cloud.githubusercontent.

[2017-05-30 23:45] careerscale opened #7462 "Orient 3.0 - Using functions"
### OrientDB Version: 3.0 snapshot
### Java Version: 1.8
### OS: Win 7

## Expected behavior
function should work fine, not sure If I am doing anything wrong.  I wanted to place my logic into a function and use it.

Do the "save" supposed to validate the code for function and throw error or is that something that should happen only on executing it?

## Actual behavior
Error observed.
![function er

[2017-05-31 05:44] careerscale opened #7463 "Orient 3.0 - Question on traversal query or gremlin api traversal"
### OrientDB Version:  3.0
### Java Version: 1.8
### OS: Win 7 /RHEL

## Question

We have lot of traversal and updating along with traversal and with some business logic around it.   We are trying to write queries with MATCH and TRAVERSE and updating the data, but we  are running into issues either with our limited knowledge (of few weeks of orientdb)  or that there could be snapshot issues.

Oth

[2017-05-31 06:56] austx commented on #7422
This is obviously a bug - can someone please have a look?

[2017-05-31 07:18] tglman commented on #7458
hi @careerscale,

Thank you for reporting this bug, the multiple logging is due to some retry we do client side, I'll try to reproduce it and i'll let you know.

Regards

[2017-05-31 07:57] zeeshan2709 commented on #3727
@tglman: are you adding this feature in the upcoming release?

[2017-05-31 08:18] nihavend opened #7464 "Locale dependent uppercase of schema prevents db from uploading data with turkish locale"
### OrientDB Version: 2.2.20
### Java Version: 1.8.0_112
### OS: Macos 10.12.5

## Expected behavior
File should be uploaded without an error

## Actual behavior
Error occurs
`
ETL process has problem: java.lang.IllegalArgumentException: No enum constant com.orientechnologies.orient.core.metadata.schema.OType.İNTEGER
`
## Steps to reproduce

According to the tutorial at https://orientdb.com/docs/2

[2017-05-31 08:20] maggiolo00 commented on #7422
hi @austx

let me check it

Thanks

[2017-05-31 08:28] vovagp commented on #6887
+1 for AUTOINCREMENT or DEFAULT sequence().next()

[2017-05-31 08:56] maggiolo00 commented on #7422
Hi @austx

i was not able to reproduce it with `Limit 8000+`

Do you have any exception on the server?

[2017-05-31 08:57] luigidellaquila commented on #7462
Hi @careerscale

Let me check it. I'm not sure that SQL functions support batch scripts, but probably the problem is only in the parentheses around the MATCH statement, probably the following will work fine:

[code]

[2017-05-31 09:03] sblommers commented on #7391
Just to confirm.

I had this same problem with Object API in distributed mode, using 2.2.20 it did not throw me this exception and halts everything, in my case it deadlocks without a timeout. After building 2.2.21 snapshot all is fine

[2017-05-31 10:17] parimal-padture commented on #4968
:+1:

[2017-05-31 10:20] clepelli commented on #7193
I also see the same behaviour, I think the most simple scenario to reproduce is having a class with both a unique index (default SBTREE) and a lucene fulltext index on the same parameter (a string of course).
There is an exception thrown at each query :
`java.lang.ClassCastException: com.orientechnologies.lucene.collections.OFullTextCompositeKey cannot be cast to java.lang.String
	at com.orientech

[2017-05-31 11:07] careerscale commented on #7463
@luigidellaquila , @lvca  could you please suggest on this?

[2017-05-31 11:22] careerscale commented on #7462
Hi @luigidellaquila ,

thanks. that made it better. still errors out.

setting up person

[code]
Function looks  like

[code]

now it says `{
    "errors": [
        {
            "reason": 500,
            "code": 500,
            "content": "java.lang.IllegalArgumentException: Field name is empty"
        }
    ]
}`

[2017-05-31 11:39] careerscale commented on #7459
@lvca thanks for the update. will check next week again

[2017-05-31 11:53] careerscale commented on #7458
@tglman

thanks for looking into this

[2017-05-31 17:27] careerscale commented on #7453
any update on this one?

[2017-06-01 01:53] hangyu0926 opened #7465 "Multi threading environment, running batch process accounted for CPU"
OrientDB Version: 2.2.17

Java Version: 1.8.0_65

OS: Ubuntu 16.04

Please help to resolve it.

I was in multi-threaded, through the oDocument way down the data, but in the running batch process appears CPU is too high, almost full of the situation, Then the batch program stopped，help to analyze the reasons, stack content in the annex.

thanks.
![cpu](https://cloud.githubusercontent.com/assets/233

[2017-06-01 01:56] hangyu0926 commented on #7465
Attaching to process ID 24375, please wait...
Debugger attached successfully.
Server compiler detected.
JVM version is 25.121-b13
Deadlock Detection:

No deadlocks found.

Thread 24441: (state = IN_NATIVE)
 - java.net.SocketInputStream.socketRead0(java.io.FileDescriptor, byte[], int, int, int) @bci=0 (Compiled frame; information may be imprecise)
 - java.net.SocketInputStream.socketRead(java.io.Fi

[2017-06-01 15:34] #7456 closed

[2017-06-01 15:50] petervavro commented on #7456
Works perfectly, great job ! Thank you so much !

[2017-06-01 16:24] grindhold commented on #4436
+1

[2017-06-01 21:53] petervavro opened #7466 "Link Transformer, only linking in case the record in other table exists."
### OrientDB Version: v2.2.18
### Java Version: Java 8 Update 101
### OS: macOS Sierra 10.12.14

I am trying to import data to DB via ETL. Having two tables : "TestData" and "URL".

TestData.urlx contains string value, which I like to be compared with URL.link and the link to be placed to TestData.url.

## Expected behavior
Is there a way that if record in URL does not exists it creates a new reco

[2017-06-02 00:43] petervavro commented on #7456
I am sorry but I have encountered some issue with this solution. I am having Colombian departments in the table. When I am searching for "Valle del Cauca" I am also getting other department with name "Cauca" in order "Cauca","Valle del Cauca". How can I get more precise results ?

[2017-06-02 00:57] hangyu0926 commented on #7465
Today, I found that every time I ran 1000 data with in function, now it's changed to 100. It has obvious optimization. Now, at least it won't be stuck. Doesn't orientDb support too many messages at one time?

[2017-06-02 00:58] hangyu0926 commented on #7465
select @rid as phoneRid0,phone as phone, unionall(in_CallTo,out_CallTo) as callTos,in('HasPhone') as members0 from Phone where phone in  （）

[2017-06-02 06:47] zhangshusheng opened #7467 "Importing relational databases with Teleporter"
### OrientDB Version: 2.2.20
### Java Version: 1.8.0_60
### OS: CentOS7

## Expected behavior
Import relational database into OrientDB with the Teleporter .

## Actual behavior
Here is part of the import configuration file.
{
    "edges": [{
        "live": {
            "mapping": {
                "fromTable": "customer",
                "fromColumns": ["c_current_addr_sk"],
                "toT

[2017-06-02 09:13] robfrank commented on #7456
the Lucene index works this way. It indexes terms, so it tokenizes your phrase and index each term.
You can use the full Lucene's query syntax on such an index. At the links you can found more infos:

https://lucene.apache.org/core/5_3_2/queryparser/org/apache/lucene/queryparser/classic/QueryParser.html

http://www.lucenetutorial.com/lucene-query-syntax.html

[2017-06-02 10:22] G4br13l3 commented on #7467
Hi @zhangshusheng, can you kindly provide me the full configuration and a log?
Are you using Teleporter through the script or via studio? In both cases, can you choose debug level logging and send me the output please?

Thanks,

Gabriele

[2017-06-02 22:31] kived opened #7468 "JSON-standard exponential notation not accepted by OrientDB"
### OrientDB Version: 2.1.5
### Java Version: Java(TM) SE Runtime Environment (build 1.8.0_121-b13)
### OS: CentOS 7

## Expected behavior
OrientDB accepts values in exponential notation.

## Actual behavior
Values in exponential notation are either ignored or cause an error, further details in next section.

## Steps to reproduce
All tests performed in Studio or with pyorient using query strings.

[2017-06-03 14:45] zhangshusheng commented on #7467
Thanks, G4br1313.
I used Teleporter through the script, as follows:
`./oteleporter.sh -jdriver mysql -jurl jdbc:mysql://192.168.101.95:3306/bigbench
-juser root -jpasswd mysql -ourl plocal:/opt/orientdb/databases/bigbenchgraph
-s naive -nr original -v 2 -conf /opt/data/migration-config.json`
Using debug level, it shows only 'live' edge was built. And all vertex type classes are normal.

[2017-06-04 08:09] sephib opened #7469 "Command not found studio/main.js.map"
Hi,
I'm a newbe and when trying to access the OrientDB community version via web studio I get the following error:
[code]
I've updated the `orientdb-server-config.xml` with the following params
[code]
* I reinstalled NodeJS.
* The installation is on an Intranet environment
* I'm able to run the console and create and connect to databases

But still I'm not able to access the orient web studio - An

[2017-06-05 01:03] KishoDai commented on #7467
Hi @zhangshusheng,
    I also tried to use teleporter, but finally I choose to write my teleporter because my business is more complex.

[2017-06-05 06:02] careerscale commented on #7455
@maggiolo00 , is there going to be a fix or should we close this ticket?

[2017-06-05 06:58] G4br13l3 commented on #7467
@zhangshusheng can you send me the full log please, maybe something goes wrong during the input config applying.

Thanks.

[2017-06-05 07:42] tglman commented on #7469
hi @sephib,

From your first error seems you have something missing in studio, did you get OrientDB from the official distribution ?

You don't need to enable javascript and run nodeJS to use Studio, nodeJS is needed only in the development flow not at runtime.

Bye

[2017-06-05 08:02] luigidellaquila commented on #7468
Hi @kived

Exponential notation is not supported in v 2.1 (btw, please migrate to 2.2, it's much more stable).
The support for this will be available in v 3.0 and it's already in the 3.0M1.
Just consider that floating point numbers are represented as java Float numbers, so 1e-100 will be rounded to zero. If you want double precision numbers you have to add a D at the end, eg.

create vertex dummy

[2017-06-05 08:02] #7468 closed

[2017-06-05 08:07] luigidellaquila commented on #7461
Hi @petervavro

Please, DON'T DO THAT!!! The `traverse()` operator is deprecated in v 2.2 and the new parser does not support it (See http://orientdb.com/docs/2.2.x/SQL-Traverse.html#deprecated-traverse-operator). You can still use it setting `stringSql=false` in the db configuration, but it's highly discouraged.

Thanks

Luigi

[2017-06-05 08:07] #7461 closed

[2017-06-05 08:24] luigidellaquila commented on #6887
Hi all

This is already supported in v 2.2, the syntax is as follows:

[code]

Thanks

Luigi

[2017-06-05 08:24] #6887 closed

[2017-06-05 08:29] tglman commented on #6664
hi @kwoxer, @parimal-padture,

Some issue on the http layer have been fixed in 2.2.20, I think also this issue has been solved, you can download last hotfix 2.2.21 regards

[2017-06-05 08:34] luigidellaquila commented on #7463
Hi @careerscale

If you are running embedded, the APIs will give you the advantage of being much more flexible.
You can also work with a mix of SQL and APIs, eg fetch the root vertices with SQL and then do the traversal using the APIs.

On the other hand, if you are working with a remote connection, the SQL will be much more efficient as the APIs will have to do multiple remote calls to do simple

[2017-06-05 08:50] maggiolo00 commented on #7455
Hi @careerscale

i'm going to implement a new ResultSet that works on OrientVertex/OrientEdge

I've opened an issue here to track the implementation

https://github.com/orientechnologies/orientdb-gremlin/issues/130

[2017-06-05 08:51] #7455 closed

[2017-06-05 08:51] tglman commented on #3727
Hi,

This is not done in 3.0-M1 and won't be done for 3.0-M2, it may be included in the 3.0-Final but is not yet sure.

Regards

[2017-06-05 08:53] tglman commented on #7444
hi All,

we found already a solution to fix this but is not yet landed on develop, it should land this week.

Regards

[2017-06-05 08:53] maggiolo00 commented on #7469
Hi @sephib

which browser do you use?

[2017-06-05 09:16] maggiolo00 commented on #7439
Hi @nivedita-p

The security plugin is not bundle with OrientDB community edition.

You should compile it from [here](https://github.com/orientechnologies/orientdb-security) by choosing the right tag

and place it under `$ORIENTDB_HOME/plugins`

[2017-06-05 09:39] maggiolo00 commented on #7437
Hi @dalegarv

do you get some exception?

[2017-06-05 09:59] maggiolo00 commented on #7108
Hi @rdelangh

do you still need help on this or it has been resolved?

Thanks

[2017-06-05 12:45] dalegarv commented on #7437
Hi @maggiolo00, no exception was thrown when the update didn't happen.

[2017-06-05 12:55] petervavro commented on #7461
Thank you. What does replace this operator, please ?

[2017-06-05 13:15] luigidellaquila commented on #7461
You have many alternatives, eg. you can use a `MATCH` statement with a `while` condition, see

http://orientdb.com/docs/2.2.x/SQL-Match.html

Thanks

Luigi

[2017-06-05 15:19] tglman commented on #7308
Hi,

The 2.2.21 has been released last week, closing this.

Re-open if the problem happen again.

Regards

[2017-06-05 15:19] #7308 closed

[2017-06-05 15:21] petervavro commented on #7461
Thank you !

[2017-06-05 15:32] #7453 closed

[2017-06-05 15:32] tglman commented on #7453
hi @careerscale,

I just pushed this commit: https://github.com/orientechnologies/orientdb/commit/5af5f029261084e36fb1ad0be1093be4306c49a7 that fix this issue, the today snapshot should have this problem fixed.

Closing this.

Regards

[2017-06-05 15:37] tglman commented on #6012
Hi,

So far this is implemented in embedded and remote, support all the cases where the query engine support streaming.

Regards

[2017-06-05 15:40] tglman commented on #7077
hi @rmoog,

Did we answer to your issue? can we close this ?

Bye

[2017-06-05 15:45] maggiolo00 commented on #7451
Hi @careerscale

the graph.close() currently commit the current tx if any.

In your second test case `testDbTransactionOperations_Not_Working`

the first addVertex is ok so when the graph is close that vertex is committed.

The missing part is this way of configuring the TX using TP3 api.

See here

http://tinkerpop.apache.org/docs/current/reference/#transactions

[2017-06-05 15:49] #6783 closed

[2017-06-05 15:49] tglman commented on #6783
Hi,

This should have been fixed a while ago, I'm going to close this.

Re-open if still happen.

Regards

[2017-06-05 15:51] #7398 closed

[2017-06-05 15:51] tglman commented on #7398
Hi all,

I'm going to close this, because it cannot be reproduced, anyway the other bugs are tracked in other issues.

Regards

[2017-06-05 15:58] careerscale commented on #7463
Thanks @luigidellaquila,  yes, we are going with this approach.

[2017-06-05 15:58] #7463 closed

[2017-06-05 16:06] careerscale commented on #7451
@maggiolo00 ,  I am not sure if I got it. I modified the code a bit to use factory.getTx()  but that didnt make any difference.

Essentially when  IllegalStateException happens, I do not see  rollback happening.

 `WARNING: MaxDirectMemorySize JVM option is not set or has invalid value, that may cause out of memory errors. Please set the -XX:MaxDirectMemorySize=16080m option when you start the JVM

[2017-06-05 16:08] maggiolo00 commented on #7451
hi @careerscale  rollback aren't automatic.
When you close a graph instance if there is something in the TX, the close call the commit.

[2017-06-05 16:31] careerscale commented on #7451
@maggiolo00, I think as per my previous  conversations, I was told we dont need to add rollback explicitly.  Actually we made the change in our project code but that results me at times, "No Transaction Active" exception randomly.

[2017-06-05 16:32] careerscale commented on #7451
and when we hit this "No Transaction Active"  exception, we will not be able to get out of it, we needed to restart DB.
Empirical observation on what works. :-)

[2017-06-05 16:41] maggiolo00 commented on #7451
Hi @careerscale

with manual rollback you got `No Transaction Active`. If there is an error in the tx  if no manual rollback is called and in finally you close the tx, it gets committed on close.

Once the TP3 lifecycle is implemented correctly you can configure that on close the tx is rollbacked

[2017-06-05 16:48] careerscale commented on #7451
@maggiolo00
`Once the TP3 lifecycle is implemented correctly`  .. did you mean in OrientDB or in the project code I am working on?

This is what we are doing.

1. factory.getTx()
2. Do all db operations
3. commit at the end.
3. if exception, in the catch block we are calling manual rollback (commit is never called).
4. close graph in finally

Am I missing any step?

[2017-06-05 16:51] maggiolo00 commented on #7451
hi @careerscale

i mean in the implementation of Tinkerpop3 of OrientDB.

The default way would be like you describe

1. factory.getTx()
2. Do all db operations
3. commit at the end.
3. if exception, in the catch block we are calling manual rollback (commit is never called).
4. close graph in finally

[2017-06-05 16:56] maggiolo00 commented on #7451
Btw i've implemented the new ResultSet for working directly with

OrientVertex/OrientEdge please tell me if you encounter issues

https://github.com/orientechnologies/orientdb-gremlin/issues/130

Thanks

[2017-06-05 17:21] careerscale commented on #7451
@maggiolo00 , yes that broke our code, so modifying it with OGremlinResultSet now. this will be the one that will remain right?

[2017-06-05 17:40] careerscale commented on #7451
@maggiolo00,
is there a issue, I can track for
`implementation of Tinkerpop3 of OrientDB.` ?

[2017-06-05 17:54] maggiolo00 commented on #7451
hi @careerscale

for transaction configuration i've raised an issue here

https://github.com/orientechnologies/orientdb-gremlin/issues/131

for `OGremlinResultSet` yes it will be the new api for handling the result set. I'm sorry for the inconvenience but we have to change it now, before the 3.0 reaches the API freeze in RC1

Since `OGremlinResultSet` it's just a wrapper for OResultSet, i've just

[2017-06-05 23:20] careerscale commented on #7451
`16:17:00.432 [http-nio-8084-exec-2] INFO  com.orientechnologies.orient.client.remote.OStorageRemote - Caught Network I/O errors on 127.0.0.1:2424/app, trying an automatic reconnection... (error: Read timed out)
16:17:15.865 [http-nio-8084-exec-2] INFO  com.orientechnologies.orient.client.remote.OStorageRemote - Caught Network I/O errors on 127.0.0.1:2424/app, trying an automatic reconnection... (

[2017-06-05 23:21] careerscale commented on #7451
@maggiolo00 , Looks like DB is really unstable

[2017-06-06 02:35] careerscale opened #7470 "OrientDB 3.0 issue with latest snapshot - com.orientechnologies.orient.core.exception.OConcurrentCreateException: Cannot create the record #17:0 because the assigned RID was #17:1 instead DB name="testdb" DB name="testdb""
### OrientDB Version: 3.0 snapshot
### Java Version: 1.8
### OS: Win 7

## Expected behavior
Should be able to retrieve and build edges with existing data.

## Actual behavior
throws this error and fails. Resulting in application failing.
com.orientechnologies.orient.core.exception.OConcurrentCreateException: Cannot create the record #17:0 because the assigned RID was #17:1 instead
 DB name="testd

[2017-06-06 02:35] careerscale commented on #7470
@maggiolo00  @lvca  can you please prioritize this one and I am available for any additional informaiton.

[2017-06-06 03:06] lvca opened #7471 "New SQL HA UPDATE SERVER to change server role at run-time"
This command is needed in case the cluster topology need to be changed by modifying the server role from MASTER to REPLICA and vice-versa. This command could also change other setting of the server, so the proposed syntax is:

`HA SET ROLE <server> = <MASTER|REPLICA>`

[2017-06-06 03:16] lvca commented on #7314
Any news on this?

[2017-06-06 03:17] lvca commented on #7311
`replicate` is not a setting and `hotAlignment` was deprecated in 2.2.

[2017-06-06 03:17] #7311 closed

[2017-06-06 03:19] lvca commented on #7310
We fixed all these problems in recent 2.2.x, please use 2.2.21 or major.

[2017-06-06 03:19] #7310 closed

[2017-06-06 03:26] #6986 closed

[2017-06-06 03:26] lvca commented on #6986
We fixed this problem in 2.2.21. Please use this.

[2017-06-06 03:29] lvca commented on #1752
Dynamic timeouts was implemented in 2.2.x, the rest is not relevant anymore.

[2017-06-06 03:29] #1752 closed

[2017-06-06 03:31] lvca commented on #6351
@mindnuts Is this issue still valid with 2.2.21?

[2017-06-06 03:34] lvca commented on #6701
Since replication worked fine, I'm closing this issue.

[2017-06-06 03:34] #6701 closed

[2017-06-06 03:34] #6714 closed

[2017-06-06 03:34] lvca commented on #6714
Closing this because of no answer after a long time.

[2017-06-06 03:37] lvca commented on #6772
@syzdykov is this issue still present with a recent 2.2.x?

[2017-06-06 03:38] lvca commented on #6816
Closing this issue because of no response after a long time.

[2017-06-06 03:38] #6916 closed

[2017-06-06 03:38] lvca commented on #6916
Closing this issue because of no response after a long time.

[2017-06-06 03:49] mindnuts commented on #6351
@lvca I have not tried it with the latest release. Is there any cloudformation stack i could spin on ec2 to check it out quickly?

[2017-06-06 05:39] careerscale commented on #7444
ok

[2017-06-06 05:40] careerscale commented on #7451
@maggiolo00  https://github.com/orientechnologies/orientdb/issues/7470 can you pleaes check this one?

[2017-06-06 07:44] luigidellaquila commented on #7465
Hi @hangyu0926

how are you interacting with the DB? Are you doing operations on a remote connection?
OrientDB will manage each operation with a different thread, so it's quite normal to have high CPU usage if you have many concurrent operations running

Thanks

Luigi

[2017-06-06 08:08] maggiolo00 commented on #7470
Hi @careerscale

let me check it

Thanks

[2017-06-06 08:24] luigidellaquila commented on #7462
Hi @careerscale

Here is the correct syntax for the function body:

[code]

Please note the `:participantId` for the input parameter and the fact that I removed the parentheses around `expand()`

Thanks

Luigi

[2017-06-06 08:49] sephib commented on #7469
Hi

1.  Got it from the official OrientDB site
2.  Chrome

[2017-06-06 08:56] maggiolo00 commented on #7469
Hi @sephib

what do you see when go with the browser to the Studio Page?

Is it blank?

[2017-06-06 08:57] maggiolo00 commented on #7451
@careerscale

i'm checking it

[2017-06-06 09:09] careerscale commented on #7451
@maggiolo00  Thank you.

Please let me know if you need any inputs

[2017-06-06 09:17] maggiolo00 commented on #7470
Hi @careerscale

i've tested it and i got no exception.

Which exception did you get?

[2017-06-06 09:19] careerscale commented on #7470
`com.orientechnologies.orient.core.exception.OConcurrentCreateException: Cannot create the record #17:0 because the assigned RID was #17:1 instead DB name="testdb" DB name="testdb"`

and nothing much, but result is it doesn't work. it doesnt create data.

[2017-06-06 09:21] maggiolo00 commented on #7470
ok i got it on the second round

[2017-06-06 09:22] careerscale commented on #7470
correct. you got it

[2017-06-06 09:34] careerscale commented on #7470
@maggiolo00  is this going to be trivial fix or will it take longer time?

[2017-06-06 10:50] careerscale commented on #7453
@tglman
is this issue
https://github.com/orientechnologies/orientdb/issues/7470 because of the 7453?

[2017-06-06 10:55] maggiolo00 commented on #7453
Hi @careerscale

nope it's not related. I'm working on a fix.

[2017-06-06 11:12] maggiolo00 commented on #7470
hi @careerscale

i'm running tests now for the fix. I will keep you updated

[2017-06-06 11:43] tommasop opened #7472 "java.lang.ClassCastException: com.orientechnologies.orient.core.db.record.ORecordLazyList cannot be cast to com.orientechnologies.orient.core.db.record.ridbag.ORidBag"
### OrientDB Version: 2.2.17
### Java Version: openjdk version "1.8.0_121"
### Java Version: OpenJDK Runtime Environment (IcedTea 3.3.0) (Alpine 8.121.13-r0)
### Java Version: OpenJDK 64-Bit Server VM (build 25.121-b13, mixed mode)
### OS: Alpine 3.5.2

## Expected behavior

These query must work:

UPDATE EDGE LayerEntities SET out = #29:243 WHERE in = #35:65 AND out <> #29:243

## Actual behavior

[2017-06-06 11:44] luigidellaquila commented on #7472
Hi @tommasop

Do you have a full stack trace for this problem?

Thanks

Luigi

[2017-06-06 12:05] careerscale commented on #7470
Thank you @maggiolo00

[2017-06-06 12:16] zhangshusheng commented on #7467
@G4br13l3  I use debug level, the import information shows on console but no log file can be found.
How to get the import log file ?
Thanks.

[2017-06-06 12:46] luigidellaquila commented on #4605
Hi @ozgursucu @nidaca

I just pushed a fix on 2.2.x and develop, could you please check if it fixes the problem?

Thanks

Luigi

[2017-06-06 12:52] maggiolo00 commented on #7470
Hi @careerscale

i've provided a fix with a test case in develop.
Your test case now passes
Thanks

[2017-06-06 12:52] #7470 closed

[2017-06-06 13:23] tommasop commented on #7472
Here it is, I narrowed it down to the following query:

UPDATE EDGE LayerEntities SET out = #29:243 WHERE in = #35:65 AND out <> #29:243

[code]

[2017-06-06 13:34] tglman commented on #7444
hi @careerscale,

The last snapshot should have fixed this problem.

Regards

[2017-06-06 13:51] luigidellaquila commented on #7472
Hi @tommasop

Thank you very much, the fix should not be too hard to do. I'll give you a feedback soon

Thanks

Luigi

[2017-06-06 14:07] maggiolo00 opened #7473 "Server failed to start when automatic backup is disabled"

[2017-06-06 14:19] luigidellaquila commented on #7472
Hi @tommasop

I just pushed a fix on 2.2.x branch, could you please try it and let me know if the problem is solved?

Thanks

Luigi

[2017-06-06 14:47] tommasop commented on #7472
Will try asap and get back to you thanks a lot!

[2017-06-06 15:25] #7473 closed

[2017-06-06 15:40] lucafrosini commented on #7354
To avoid mistake can you please remove "Cannot Replicate" tag. I provided the tests and the conditions to reproduce it.

[2017-06-06 16:01] careerscale commented on #7444
@tglman , I do not see https://oss.sonatype.org/content/repositories/snapshots/com/orientechnologies/orientdb-community/3.0.0-SNAPSHOT/ having latest snapshot.

is it getting ready?

[2017-06-06 16:36] santo-it opened #7474 "replication consistency check tool"
- class level
- to handle situations where a node can be out of sync with another, and understand what is different

[2017-06-06 16:49] lvca commented on #7354
@lucafrosini we fixed many issues on HA in 2.2.21. Could you please retry with the latest one and in case the issue is still there the team will be assigned to that tomorrow? Thanks.

[2017-06-06 17:24] robfrank commented on #7464
I've patched the code on 2.2.x and develop branches.
If you want to check with a snapshot you can find them at this location:

https://oss.sonatype.org/content/repositories/snapshots/com/orientechnologies/orientdb-community/

[2017-06-06 17:25] robfrank commented on #7235
could you check with latest 2.2.21?

[2017-06-06 17:26] robfrank commented on #7252
hi, did you check? may I close? in the meanwhile we released 2.2.21

[2017-06-06 18:15] MatMur commented on #7252
Hi, thank you for your patience. Unfortunately, switching off the server and importing in plocal mode cannot be performed in my use case, I have to have it alive all the time. I think we have to close that issue and wait for 3.0 to be released. Has 2.2.21 improved parallel execution because it's not mentioned in release notes (or maybe I'm blind)?

[2017-06-06 20:00] tommasop commented on #7472
I confirm the patch solves the issue, thanks a lot for the quick fix!

[2017-06-06 20:00] #7472 closed

[2017-06-07 01:04] careerscale commented on #7470
This worked fine but there is no snapshot yet

[2017-06-07 05:00] careerscale opened #7475 "Orient 3.0 - Question on id generation"
### OrientDB Version:  3.0
### Java Version: 1.8
### OS:  Win 7

## Question

Looks like latest change in Orient 3.0 clean up some of the client side stuff.

Earlier this used to work.

(all vertices and edges in our model have id as auto generated from sequences).
Create vertex `a`,

create vertex `b`

look up vertex `a` by its id
and add edge `b` to `a`
commit.
But today it stopped working, it l

[2017-06-07 07:46] adithyank commented on #5581
Still getting this in `2.2.20` !!!

[code]

[2017-06-07 08:02] luigidellaquila commented on #7470
Hi @careerscale

The snapshot is not being generated because we have a couple of failing tests.
We are working to fix them, so the snapshot will likely be available in a few hours

Thanks

Luigi

[2017-06-07 08:04] luigidellaquila commented on #7475
Hi @careerscale

Could you please post the code snippet or the SQL script you are using for this?

Thanks

Luigi

[2017-06-07 09:37] tglman commented on #7444
hi @careerscale,

The snapshot just got published.

Regards

[2017-06-07 13:51] careerscale opened #7476 "Orient 3.0 not able to add additional properties through vertex.property(key, value)"
### OrientDB Version: 3.0
### Java Version:  1.8
### OS: Win 7

## Expected behavior
I should be able to add additional properties through Vertex.property method.  It only works  through graph.addVertex(..) method. Basically I need to add all properties upfront which is a cumbersome thing.

There is this Vertex.property(<key>, <value) method which I thought should be able to support additional pro

[2017-06-07 13:52] careerscale commented on #7476
@maggiolo00 , @luigidellaquila  can you please let me now if you have a suggestion for me?

[2017-06-07 15:44] G4br13l3 commented on #7467
My wrong @zhangshusheng, the old version 2.2.x of Teleporter is not updated. We are investing in the configuration for the importing in the next version 3.0.x. We will provide also a basic GUI in order to make the configuration very quick and very user-friendly (no more JSON editing). We should release in the next 2-3 weeks the M2 for orientdb 3.0.x, and the new Teleporter and the new GUI will be

[2017-06-07 16:36] sephib commented on #7469
Hi,
It is blank page that looks like this

[Interrupt](http://javascript:void(0))
*

[2017-06-07 16:45] maggiolo00 commented on #7469
hi @sephib

which version of Chrome ? Are you on Windows?
could you try with Firefox?

Thanks

[2017-06-07 22:43] careerscale commented on #7459
@lvca any update on this one?

[2017-06-08 02:05] careerscale commented on #7476
Ok,  it is working fine. not an issue any more. may be it was the specific build thing.

[2017-06-08 02:05] #7476 closed

[2017-06-08 02:40] careerscale opened #7477 "ONeedRetryException : Cannot UPDATE the record #7:3 because the version is not the latest."
### OrientDB Version: 3.0 snaphsot 06/07
### Java Version: 1.8
### OS: Win 7

## Expected behavior
Application should work fine all the time.

## Actual behavior
randomly we run into this issue, not sure what is causing it.  work around we are using now is to restart the db and application. Otherwise we are struck actually.

com.mycompany.myapp.service.internal.AbstractBaseService - ONeedRetryExce

[2017-06-08 02:59] careerscale commented on #7462
Thanks @luigidellaquila

[2017-06-08 02:59] #7462 closed

[2017-06-08 03:49] kunkun2858 commented on #7210
Hi, I have meet the same problem with orientdb-2.2.15. I use the debug and find that the propreties I set in orientdb-server-config.xml has been add to the 'value' field.
![Uploading 70608114708.png…]()
Is it effect?

[2017-06-08 07:18] luigidellaquila commented on #7477
Hi @careerscale

Thank you for reporting, I'm forwarding it to the storage team for a check

Thanks

Luigi

[2017-06-08 07:54] lvca commented on #7459
I will merge HA from 2.2.x to develop tomorrow. For Monday it should be stable.

[2017-06-08 15:10] taburet commented on #7477
Hi @careerscale, regarding the first issue, it's pretty normal to receive such kind of exceptions in a concurrent environment since OrientDB uses MVCC. The common pattern of handling of such situations is to catch ONeedRetryException, reload the record/document from the database, reapply the changes to it and try to save it again.  If you sure you are not updating the same record from two differen

[2017-06-09 07:41] santo-it commented on #5879
Hi,

I think we can close this now? 2.1 is EOL. Please reopen if needed

Thanks,

[2017-06-09 07:41] #5879 closed

[2017-06-09 08:04] robfrank opened #7479 "NullPointerException creating Vertex with spatial index"
@corneil commented on [Thu Jun 08 2017](https://github.com/orientechnologies/orientdb-studio/issues/474)

I have encountered a problem with spatial indexes.
To reproduce:
Use 2.2.21 community and download orientdb-spatial and add to lib folder.
Create a new graph database.
Create a schema for Location with properties longitude and latitude both DOUBLE values.
Then `CREATE INDEX Location.lat_lon ON

[2017-06-09 08:04] robfrank commented on #7479
please, read carefully how to define a spatial index:

http://orientdb.com/docs/last/Spatial-Index.html

As you can see, you need to store the coordinates in an embedded document of class OPoint, then you can define the index on that property.

[2017-06-09 08:20] zhangshusheng commented on #7467
Hi @G4br13l3 , the import log shows as follows (critical part).
First, in the 'Source DB Schema building' step, log content shows
------------------------------ DB SCHEMA DESCRIPTION ------------------------------

Product name: MySQL	Product version: 5.7.17
Major version: 5	Minor Version: 7
Driver major version: 5	Driver minor version: 1

Number of Entities: 23.
Number of Relationship: 0.
...
It

[2017-06-09 09:17] tglman commented on #7451
hi @careerscale,

This should be already fixed in the last 3.0.0-SNAPSHOT, can we close this ?

Regards

[2017-06-09 09:18] tglman commented on #7444
hi @careerscale,

Can we close this?

Regards

[2017-06-09 09:19] santo-it commented on #2081
Hi,

Thanks for opening this issue. The command:

[code]

in more recent versions than 1.7rc now returns the following error message:

[code]

For this reason I'd change this from bug to enhancement, as the command is not executed and the graph is not broken.

While edge class rename is not directly supported, there's a possible workaround you can use, provided that you know what you are doing and

[2017-06-09 09:40] G4br13l3 commented on #7467
Hi @zhangshusheng, as you said there's a problem with the configuration applying. According to the log I guess you don't have any foreign key defined in your source database, so in the starting models mapping we have 0 relationships and 0 edge types.
Then after the config is applied, we just have a relationship with the correspondent edge type (the first one defined as far as I can see).
Of course

[2017-06-09 09:41] G4br13l3 commented on #7467
Hi @zhangshusheng, as you said there's a problem with the configuration applying. According to the log I guess you don't have any foreign key defined in your source database, so in the starting models mapping we have 0 relationships and 0 edge types.
Then after the config is applied, we just have a relationship with the correspondent edge type (the first one defined as far as I can see).
Of course

[2017-06-09 10:01] lvca opened #7480 "Hot upgrade between hotfix versions when running in HA"
Today is not always safe to upgrade between hotfix versions when you're running in HA. This is because distributed protocol is not versioned. We never did it, because Hazelcast didn't support this feature, so investing in a versioned distributed protocol was worthless.

Now that Hazelcast has it, we should version our distributed protocol, so our users can upgrade a cluster of servers, one by one.

[2017-06-09 10:02] lvca commented on #6560
Closing because duplicate of https://github.com/orientechnologies/orientdb/issues/7480.

[2017-06-09 10:02] #6560 closed

[2017-06-09 10:09] santo-it commented on #3992
Hi,

Per latest message from @luigidellaquila , since this has been fixed in develop branch (3.0) and the backport to 2.2 is hard, I'm closing this issue now.

2.0 and 2.1 are EOL

Please feel free to comment in case and we will reopen the issue

Many thanks,

[2017-06-09 10:09] #3992 closed

[2017-06-09 10:49] nishantkumar1292 commented on #5012
I got this error too. And as @lvca pointed out that this error is _**raised when a concurrent operation is executed on that record**_. I have Vertex A connected to Vertex B1 and Vertex B2 with the same edge class.
My objective is to delete edge between both and I am doing this in loop. First this is executed.
`DELETE EDGE FROM #13:438 TO #12:65377`
Works fine. Then when executing this
`DELETE EDGE

[2017-06-09 12:11] corneil commented on #7479
What about this scenario lower on the page?

`CREATE INDEX Place.l_lon ON Place(latitude,longitude) SPATIAL ENGINE LUCENE`

[code]

[2017-06-09 12:14] maggiolo00 commented on #7479
Hi @corneil
you can use that, but it's the legacy Spatial Index. If you are starting with 2.2 you should use
the new Spatial Module features.

[2017-06-09 12:36] corneil commented on #7479
So I should change data model to version 2.2.x?

Model breaking changes aren't expected in minor version upgrades.

I did:
[code]
With 2.1.x this works fine with 2.2.x a NullPointerException.

[2017-06-09 12:36] lvca commented on #5012
@nishantkumar1292 what release?

[2017-06-09 12:40] maggiolo00 commented on #7479
ah ok so you are migrating from 2.1.x?

you can still use the old spatial index in 2.2.x.

I think in this case the problem is that in 2.2.x the default handling of null values has changed.

And the legacy spatial index is not handling it

See [here](https://orientdb.com/docs/2.2/Indexes.html#indexes-and-null-values)

This should solve it

[code]

let me know if it helps

Thanks

[2017-06-09 12:51] nihavend commented on #7464
Hi Roberto,

I checked case against version orientdb-community-2.2.22-SNAPSHOT and it is OK.

Result :

../bin/oetl.sh categories.json
OrientDB etl v.2.2.22-SNAPSHOT (build f9ac8ea1c90235d6f454484206d2523e07abc300) https://www.orientdb.com
[file] INFO Load from file categories.csv
BEGIN ETL PROCESSOR
[file] INFO Reading from file categories.csv with encoding UTF-8
Started execution with 1 worker t

[2017-06-09 13:12] robfrank commented on #7464
I fixed 3.0 before, should be ok.
But, for sure, if you want/need/have time, check 3.0.0 too.

[2017-06-09 13:12] #7464 closed

[2017-06-09 13:32] corneil commented on #7479
The ignoreNulls did help thanks. I assumed it was default when looking at the issue initially.

[2017-06-09 13:55] careerscale opened #7481 "3.0 - Found null entry in ridbag with rid=#26:-2"
### OrientDB Version: 3.0
### Java Version: 1.8
### OS: Win 7

## Expected behavior
code should work.

## Actual behavior
`com.orientechnologies.orient.core.exception.OSerializationException: Found null entry in ridbag with rid=#26:-2
	DB name="test1"
	at com.orientechnologies.orient.core.db.record.ridbag.embedded.OEmbeddedRidBag.serialize(OEmbeddedRidBag.java:424)
	at com.orientechnologies.orient

[2017-06-09 14:02] careerscale commented on #7481
@lvca @luigidellaquila

basic analysis shows that when there are multiple look ups for the same vertex in the same transaction there seems to be problem.

If I do not use FOR loop and read all vertices upfront and add edges, then it all works well.

so must be easy to fix or there do you think this is wrong way of doing thing, but there is nothing stopping me to do multiple look ups and operate on

[2017-06-09 14:07] careerscale commented on #7477
There was no concurrency and for regular use (developer was running a flow in order and ran into this), this might be unexpected right? I am running the DB and the application in same computer with no concurrency..

will try to reproduce the issues with unit test and come back. I found unit tests helped for easier resolution.

[2017-06-09 14:09] careerscale commented on #7444
Ok, let us close this. may be if I see any issue, will come back

[2017-06-09 14:09] #7444 closed

[2017-06-09 14:11] careerscale commented on #7451
@tglman ,  do we need rollback stmt manually or is it automatic (if no commit no data gets committed?).

[2017-06-09 14:11] robfrank commented on #7479
may we close the issue?

[2017-06-09 14:11] careerscale commented on #7451
we are using rollback everytime now, based on your confirmation, will remove rollback stmt

[2017-06-09 15:13] luigidellaquila commented on #2118
The nested projection syntax is implemented in develop branch (3.0 SNAPSHOT). It will be released with 3.0 M2.

For more details https://github.com/orientechnologies/orientdb-docs/blob/3.0.x/sql/SQL-Projections.md

[2017-06-09 15:13] #2118 closed

[2017-06-09 15:15] corneil commented on #7479
I think a better error on insert or create vertex will help future cases.

On Fri, 09 Jun 2017, 16:11 Roberto Franchini <notifications@github.com>
wrote:

[2017-06-09 15:23] #7480 closed

[2017-06-09 15:24] lvca commented on #7480
Implemented through the new `ORemoteTaskFactoryManager` interface.

[2017-06-09 16:44] nishantkumar1292 commented on #5012
I am running two server nodes in distributed mode in OrientDB 2.2.17 .

[2017-06-10 02:35] careerscale commented on #7458
@tglman ,  is this something resolved already?  right now we are not blocked with this and can take its own time as needed. We went with alternate approach.
So we are good but if it can be fixed, that will be nice. Thank you

[2017-06-10 08:40] zhangshusheng commented on #7467
Thanks, @G4br13l3 .
The source DB I used is generated from BigBench test dataset, which consist of 23 tables. The dataset doesn't define foreign key constraints, but there are foreign key references between tables.
The configuration file is too long, and just show some of it. As follows,
`"edges": [{
        "live": {
            "mapping": {
                "fromTable": "customer",

[2017-06-10 10:13] lvca commented on #5012
Please use v2.2.21.

[2017-06-11 03:45] j782070772 opened #7482 "why lost node but none of log error or exception"
### OrientDB Version: orientdb-community-2.2.20
### Java Version: oracle jdk 1.8.0_101
### OS: centos 7

## Expected behavior
<add here>
I have 3 nodes on 3 mechines,  and i run 3 etl processes on 3 mechines.
it should load data successfully

## Actual behavior
but，after 4 hours, it lost node1 process first and node2 process losted after 13 hours,
finally, node3 also lost.
i look up logs, there is

[2017-06-11 21:01] MessCo opened #7483 "OrientDB Bidirectional Edges"
Is there a way to create bidirectional relationship in orientdb using ETL?
For example:
(ProteinA)<-[PPI]->(ProteinB)
If not how can I create two unidirectional edges in both directions in my Json file?
For example:
(ProteinA)-[PPI]->(ProteinB)
(ProteinA)<-[PPI]-(ProteinB)

[2017-06-12 06:06] karolmie1 commented on #513
Documentation should be updated I guess:
https://orientdb.com/docs/last/Document-Field-Part.html

[2017-06-12 06:29] ozgursucu commented on #7477
Hi @taburet
I am also facing this issues in orientdb 2.2.21 whereas in 2.2.19 everything was fine.

[2017-06-12 07:50] laa commented on #7477
Hi @ozgursucu . Are you able to reproduce this issue on your side?

[2017-06-12 08:22] luigidellaquila commented on #513
Hi @karolmie1

Updated, thanks! The docs will be re-generated in short.

Luigi

[2017-06-12 09:09] tglman commented on #7458
hi @careerscale,

Is not yet solved, we already put in place some code that is needed to fix this, but is not yet fully done, it will be done for the final.

Regards

[2017-06-12 10:15] tglman commented on #7481
hi @careerscale,

Friday I pushed a couple of fixes on the tx and temporary rid generation and similar, I run your code with the last snapshot and seems to go smooth, so this should be fixed with the last snapshot.

Regards

[2017-06-12 11:53] karolmie1 opened #7484 "OIndexException when trying to use index partially"
### OrientDB Version: 2.2.21
### Java Version: 1.8
### OS: linux

## Scenario:

[code]
Result:

[2017-06-12 12:25] easy2coderep commented on #1312
Got the same error in 2.2.19.

[2017-06-12 12:49] laa commented on #1312
@easy2coderep why do you think this is an error ?

[2017-06-12 12:49] laa commented on #1312
I mean that is typical behaviour if the same record is updated from two different clients

[2017-06-12 12:59] ozgursucu commented on #7477
Hi @laa
I tried to upgrade orientdb from 2.2.19 to 2.2.21 and there was not any changes expect the client version.Although I set ridBagEmbedded system property to Integer.MAX_VALUE and there is nothing related to concurrency I got exceptions regarding the edge creation in my transaction.

[2017-06-12 13:11] lvca commented on #7482
Can we have the logs of 3 servers? What do you mean with "lost node"? It was crashed, network problems?

[2017-06-12 13:22] tglman commented on #7451
hi @careerscale,

Yes using TP3 API is correct to add a ```try{ ... }catch(...){ graph.rollback();}```.

Regards

[2017-06-12 13:26] careerscale commented on #7451
oh ok, so there is automatic commit but rollback is mandatory. got it.

does it hurt if we have commit stmt too?

Also if there are no  data manipulations but only reads, does this rolllback hurt?

[2017-06-12 13:31] tglman commented on #7451
hi @careerscale,

If the transaction is already committed the close does nothing, so a commit in the code doesn't hurt.
If the are no changes in the transaction the commit does nothing, so a commit with no changes doesn't hurt.
If the rollback is called in case there are no changes or no active transactions, it does nothing, so it should not hurt.

Hope it helps.

Regards

[2017-06-12 13:37] careerscale commented on #7451
yes, that is good for me. thank you.

[2017-06-12 13:37] #7451 closed

[2017-06-12 14:27] G4br13l3 commented on #7467
Hi @zhangshusheng, Teleporter should work also without foreign key if a configuration is provided like in your case, so this is a bug. If you want have a "quick" workaround yes, you can define the foreign keys in the source database till I will reproduce the bug.

Thanks for the patience,

Gabriele

[2017-06-12 14:48] laa commented on #7477
@ozgursucu that is because you started to use embedded ridbag anywhere instead of the separate data structure so now every time you when creating edge you also update underlying documents of related vertexes. if you start to use a separate data structure for ridbag support this exception will be gone.

[2017-06-12 16:01] rdelangh opened #7485 "different (incorrect) behaviour of "eval" when sent via REST versus plain CLI"
### OrientDB Version: 2.2.18

## Expected behavior
The sql
```SELECT 10 AS p1, eval("10 + 1") AS p2```
should return p1=10 and p2=11

## Actual behavior
1) when sent via web-GUI, the results are correct:
[code]
2) when sent via the console.sh, the results are correct:
[code]
3) when sent via the REST-API (from Perl) the results are WRONG:
[code]
The encoded SQL string is correct, because when I re

[2017-06-12 17:29] careerscale commented on #7451
@tglman ,

Based on earlier conversations, we wrote a comit method that loops through in case of failures and retries it (if applicable). we wrote this in a base class and using it across.

Do you suggest to retain this or remove it now? assuming this is done as part of the commit process (so the client api takes care of it automatically and application doesnt need to do it?).

`    protected void

[2017-06-13 02:04] j782070772 commented on #7482
“lost node” means "OServerMain" process exit  when i loading csv data use oetl.sh . but there is no error or exception.  my english is bad, sorry.

 here are logs:
thank you

[node1-orient-server.txt](https://github.com/orientechnologies/orientdb/files/1070088/node1-orient-server.txt)
[node2-orient-server.txt](https://github.com/orientechnologies/orientdb/files/1070089/node2-orient-server.txt)
[no

[2017-06-13 06:21] easy2coderep commented on #1312
@laa I am quite sure that there is single instance is performing the update operations sequentially. So if there is any such instance where the record which is accessed by first client, is been modified by another client then better to print the stacktrace of first client with warning message.

It would be more meaningful and users may need not be scaring of this exception.

[2017-06-13 07:56] laa commented on #1312
@easy2coderep sorry I do not understand you. You are quite sure that you make only sequential requests? According to your question update from the first client is already happened so we can not print a stack trace from the first client.

[2017-06-13 08:02] laa commented on #7426
Hi @Raycoms , could you kindly provide a testing scenario. Otherwise, it is pretty hard to fix it because we can not reproduce it.

[2017-06-13 08:40] nishantkumar1292 commented on #5012
Started using v2.2.21 but now I am not able to start the server nodes. Every node starts as master and the members list does not show the other server. The distributed mode was running fine in 2.2.17. I have the same hazelcast.xml file.
Am I missing something?
Error:
`2017-06-13 08:21:49:839 INFO  OrientDB Server is active v2.2.21 (build 491997a502b8b90210b269824755c56981765034). [OServer]`
`2017-

[2017-06-13 09:14] zhangshusheng commented on #7467
Thanks, @G4br13l3 .
I defined foreign key constrains in source DB, which is  an effective method .
The edge type can be built as configured.
Thank you very much.

shusheng

[2017-06-13 09:15] karolmie1 commented on #7484
By the way, I have other index: ` CREATE INDEX User.login UNIQUE_HASH_INDEX`

I try to circumvent the problem above, by using this index directly: `graph.getIndex("User.login", Vertex::class.java)`, but this return null.

After debugging I've found, that index is found, but it has metadata = null, and that causes the function to return null.

[2017-06-13 09:37] G4br13l3 commented on #7467
I am really glad to know this, btw I would be grateful if you can share with me your database (or just the schema), in this way I can quickly reproduce the issue. Let me know.

Many thanks,

Gabriele

[2017-06-13 09:38] taburet commented on #7351
@dataweng do you still experiencing the problems? can we close the issue?

[2017-06-13 09:57] taburet commented on #7368
The issue is resolved on latest develop, thanks @tglman.

[2017-06-13 09:57] #7368 closed

[2017-06-13 11:47] zhuj opened #7487 "Classes extended from both Vertex (V) and Edge (E) should work properly."
### OrientDB Version: 3.0.0m1
### Java Version: 1.8.0_131-b11
### Scala Version: 2.11.8
### OS: Ubuntu GNU/Linux x86_64

## Expected behavior

Documents of classes which extend both Vertex (V) and Edge (E) should work properly.
Or (at least) there should be an explicit check in API to prevent doing that.

## Actual behavior

NullPointerException is thrown in the «GRAPH» page in the *OrientDB Studi

[2017-06-13 12:54] ozgursucu commented on #7477
@laa I have already been using the ridBag property (<entry name=“ridBag.embeddedToSbtreeBonsaiThreshold” value=“2147483647" />) and it is suggested in this document (https://orientdb.com/docs/2.2/RidBag.html) for distributed environments. What is the difference between 2.2.19 and 2.2.21?

[2017-06-13 13:41] careerscale opened #7488 "OrientDB 3.0 - NPE thrown when edge is not present"
### OrientDB Version: 3.0 (06/06 build)
### Java Version: 1.8
### OS: Win 7

## Expected behavior

Shouln't cause NPE

## Actual behavior
should we have NPE from OrientDB? while trying to do something like this.

code snippet that broke:

   Iterator<Edge> edges = v.edges(Direction.OUT, RELATION_NAME);

[code]

## Steps to reproduce
should be a code issue, not writing any unit test for it. Let me

[2017-06-13 13:46] careerscale opened #7489 "Orientdb 3.0 - Problem with restarts when db is closed abruptly"
### OrientDB Version: 3.0
### Java Version: 1.8
### OS: Win 7

## Expected behavior
Database should stabilize and recover from any failures that might have caused because of abrupt close of db

## Actual behavior
I think I have no idea why some times if db is closed (command window is closed) without control C, it doesn't work.

This never comes out of it. If it i doing some processing like fixing

[2017-06-13 13:46] careerscale commented on #7489
@luigidellaquila  FYI

[2017-06-13 13:46] careerscale commented on #7488
@luigidellaquila FYI

[2017-06-13 13:49] careerscale commented on #7481
@tglman @luigidellaquila , please let me know if a specific build is found to be stable and I will validate and if good we will move to use that DB instance only.

I was waiting for HA feature merge into develop branch from 2.2.x, looks like it is not yet done.

[2017-06-13 13:49] luigidellaquila commented on #7488
Thank you very much @careerscale

I'm assigning it to @maggiolo00  for a check

Luigi

[2017-06-13 14:00] laa commented on #7489
It should be fixed once we merge micro transactions which should happen during this week

[2017-06-13 14:03] laa commented on #7477
@ozgursucu I am trying to clarify an issue. So both in 2.2.19 and 2.2.21 you set a value of property ridBag.embeddedToSbtreeBonsaiThreshold  to 2147483647. Is it correct? Also in both cases, you are sure that all operations were performed in a single thread? Is my understanding correct?

[2017-06-13 14:08] careerscale commented on #7489
@laa
Thanks for the update. eagerly waiting for the merge into 3.0

[2017-06-13 14:11] tglman commented on #7487
hi @zhuj,

Yes we have a problem on the validation of class creation, you should not be allowed to create a class that is an edge and a vertex.

Regards

[2017-06-13 14:26] ozgursucu commented on #7477
@laa yes it is totally correct

[2017-06-13 14:46] laa commented on #7477
I see.  Thank you. More questions )). Is this exception thrown in distributed mode or in standalone mode?

[2017-06-13 14:47] ozgursucu commented on #7477
Distributed mode.

[2017-06-13 15:00] laa commented on #7477
@ozgursucu could you try the same in standalone mode? I am asking because we need to separate modules which cause this problem.

[2017-06-13 15:21] ozgursucu commented on #7477
Ok. I will try and let you know.

[2017-06-13 15:34] santo-it commented on #5848
Customer still interested on this. Leaving this open. Would be nice for our Engineering Team if they can cost this so we can provide an estimate. Thanks

[2017-06-13 15:49] vsspt commented on #7489
I verified the same problem, was actually going to open an issue for this.

[2017-06-13 16:40] lvca commented on #5012
Please check the network configuration in `config/hazelcast.xml` and `config/orientdb-server-config.xml`

[2017-06-13 21:15] lvca commented on #7481
It's taking more than expected, I'm working on a separate local branch until is ok.

[2017-06-14 07:27] kunkun2858 opened #7490 "Single server of orientdb issue"
### OrientDB Version: <2.2.15>
### Java Version: <1.8>
### OS: <CentOS Linux release 7.2.1511>

**I start a server with ./server.sh in Linux, Four days later I found that the orientdb server take CPU 497% all the time. I use the command jstack to analyze it. below is data.**

[root@~ ]# ps -ef|grep orientdb
root      8528     1 99 Jun09 ?        27-22:58:36 /opt/jdk/bin/java -server -Xms512m -Xmx2

[2017-06-14 08:31] TropicalPenguin opened #7491 "Nodes Created When Querying Edges from Graph Editor"
### OrientDB Version: 2.2.21
### Java Version: openjdk version "1.8.0_131"
### OS: Ubuntu 17.04

## Expected behavior
SELECT should not mutate graph

## Actual behavior
After creating two nodes (A, B), and two edges (A->B, B->B), and performing two SELECT commands inside the studio graph editor, on the second (and subsequent) SELECTs three new vertices are created, duplicating B.

## Steps to repr

[2017-06-14 09:05] TropicalPenguin opened #7492 "Failed Edge Traversal in Dependent LET Assignment"
### OrientDB Version: 2.2.21
### Java Version: openjdk version "1.8.0_131"
### OS: Ubuntu 17.04

## Expected behavior
Given the same setup as #7491 I expect the first of the following SELECTs to give the same result as the second SELECT (inside the batch, but if the RID of `$foo` is known, the same result of each SELECT can be repeated outside a batch too):

`LET result = SELECT $first AS tail,$la

[2017-06-14 09:24] zhangshusheng commented on #7467
The datasets generated by the BigBench - a benchmark for big data analytics. Then imports the datasets into a MySQL database. This is the database I used.

Thanks.

Shusheng

[2017-06-14 09:25] maggiolo00 commented on #7488
Hi @careerscale

i'm not able to reproduce it with a simple test case. Seems that

in property of the Edge is null. This is the check that fails

[2017-06-14 09:48] easy2coderep opened #7493 "ETL extractor is not parsing csv file properly"
### OrientDB Version:2.2.19
### Java Version: 1.8
### OS: Mac OS

## Expected behavior
The csv data should be parsed as it is available while importing from csv.

## Actual behavior
The data available in the CSV is not parsed as it is, and it been modified. The below data I am facing issue with
1. When the data is number is started with 0 , eg. 02323, 008898, 0887373 . initial 0 is been truncated

[2017-06-14 10:30] luigidellaquila commented on #7491
Hi @TropicalPenguin

I'm working to a fix, I'll let you know soon

Thanks

Luigi

[2017-06-14 10:35] laa opened #7494 "Remove TxListener class because it is deprecated"
### OrientDB Version: 3.0

TxListener class was deprecated since 2.2. it is time to remove it in 3.0 version

[2017-06-14 10:59] thanveeraqtharah opened #7495 "Orient DB Pagination along with Filtering specific key issue."
### OrientDB Version: 2.1.19
### Java Version: 1.8
### OS: Windows 10

## Expected behavior
I want to query records based on a specific  searchvalue within the document field and also want to implement pagination in the same query. Below is the query

[code]

The above query return no result set. Is it  because that skip and limit does not work on temporary  variable?

Feedback will be appreciated

[2017-06-14 11:03] luigidellaquila commented on #7495
Hi @thanveeraqtharah

Could you please post a valid query and a script to create a sample schema/db?
It's really hard to help you knowing nothing about the domain and the query you are trying to do...

Thanks

Luigi

[2017-06-14 11:10] thanveeraqtharah commented on #7495
Sorry  I had posted the valid query , guess because I had used angle bracket within the query, it skipped the value. and below is the query.

select from DOCUMENTNAME let $tmp = (select from (select expand(FIELDNAME) from DOCUMENTNAME  ) where any() like '%SEARCHVALUE%' ) where FIELDNAME in $tmp.value SKIP 495 LIMIT 5

[2017-06-14 11:14] luigidellaquila commented on #7495
Ah, got it ;-)

Little hint, you can use Markdown syntax here, it helps a lot for code snippets: https://guides.github.com/features/mastering-markdown/

First of all: why v 2.1.19? It's not supported anymore and last 2.2.21 is much more performant and stable.
The query you posted seems to be correct, the problem could be in the `any()` expression (maybe an old bug?) or somewhere else. Did you try

[2017-06-14 11:22] luigidellaquila commented on #7491
Hi @TropicalPenguin

I just pushed a fix for this problem, you can find it in branch 2.2.x.
The fix will be released with 2.2.22

Please consider that edges created with the script you posted are broken, so you have to drop and re-create them to have a consistent db

Thanks

Luigi

[2017-06-14 11:22] #7491 closed

[2017-06-14 11:39] thanveeraqtharah commented on #7495
Thank you for the  suggesting Markdown syntax  as well for the newer stable version info. Definitely I ll take that into consideration.
When I tried to use 2.2.21 , i.e
artifactId :  orientdb-server
version : 2.2.21
the below exception was thrown
Exception in thread "main" java.lang.NoClassDefFoundError: com/orientechnologies/orient/core/security/OSecuritySystem

Now coming back to query part, if

[2017-06-14 12:06] robfrank commented on #7493
The CSV extractor tries to guess the type of the column, so a number like 00010 is mapped to an INTEGER. to overcome this problem, define the type of the columns:

[code]

The example is taken directly from the documentation
http://orientdb.com/docs/last/Extractor.html#csv-extractor

[2017-06-14 12:12] luigidellaquila commented on #7495
It's a good question, it's really hard to tell without a db to reproduce the problem.
You can try to narrow the scope of the problem adding a simple LIMIT 1, then a simple SKIP 1 and see if it still returns no records.

Any chance to have a screenshot or a dump of the query result without the skip/limit?

Thanks

Luigi

[2017-06-14 13:10] easy2coderep commented on #7493
Thank you robfrank.
Also could you please let me know if there is any option to ignore duplicate entries and continue with CSV import ?

[2017-06-14 13:19] robfrank commented on #7493
If you are mapping to Vertexes, the vertex transformer could be configured to skip duplicates: http://orientdb.com/docs/last/Transformer.html#vertex-transformer

Read carefullly the documentation.

[2017-06-14 14:07] careerscale commented on #7488
@maggiolo00  I think you may be right. but is that an expected behavior?  what I saw was only for selected few transactions I was running into this issue.

This seems to be symptom of another issue. I should never have the null for out property of edges, I create the edges the same way all the time and for some, it seems be null.

I wil check if  we can write a unit test for it.

[2017-06-14 14:10] maggiolo00 commented on #7488
hi @careerscale

if you use tx it's not an expected behaviour.
A test case would be awesome but It could be some fixed bug in tx.

[2017-06-14 23:34] bato3 commented on #4239
For verticles: standard INSERT

`INSERT INTO V (id, name, data) VALUES (uuid(),'Foo','bar'), (uuid(),'Foo','bar')`

For edges SQL Bath: https://orientdb.com/docs/2.2/SQL-batch.html

[code]

[2017-06-15 04:47] easy2coderep commented on #7493
I did went thro the documentation, but couldn't get any input when searched with duplicate word.
Thank you for the help.

[2017-06-15 04:47] #7493 closed

[2017-06-15 09:38] laa commented on #5581
Sorry my bad, now you will see not more than 10 messages.

[2017-06-15 09:38] #5581 closed

[2017-06-15 10:46] thanveeraqtharah commented on #7495
1.First of all, I wana thank you for your support and immediate responses, impressive. :-)
I got to know what was happening . As it was huge data and as SKIP and LIMIT way is slower, because OrientDB repeats the query and just skips the first X records from the result. and it was returning zero records because there was no records containing the searchvalue in the given skip and limit.

There is o